{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "MailBoxV"
    },
    "description": "The MailboxValidator Free Email Checker checks if a single email address is from a free email provider and returns the results in either JSON or XML format. Refer to https://www.mailboxvalidator.com/api-email-freem for further information.",
    "title": "MailboxValidator Free Email Checker",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "email"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_MailBoxV_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "openapi",
        "url": "https://api.swaggerhub.com/apis/mailboxvalidator/MailboxValidator-Free-Email-Checker/1.0.0",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "mailboxvalidator.com",
    "x-serviceName": "checker",
    "x-datafire": {
      "name": "mailboxvalidator_checker",
      "type": "openapi"
    }
  },
  "host": "api.mailboxvalidator.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/email/free": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "Return the result in json (default) or xml format.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The email address to check if is from a free email provider.",
            "in": "query",
            "name": "email",
            "required": true,
            "type": "string"
          },
          {
            "description": "API key.",
            "in": "query",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "free email checker response",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "The Free Email Checker API does validation on a single email address and returns if it is from a free email provider in either JSON or XML format."
      }
    }
  }
}