{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>AWS IoT</fullname> <p>AWS IoT provides secure, bi-directional communication between Internet-connected devices (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. You can discover your custom IoT-Data endpoint to communicate with, configure rules for data processing and integration with other services, organize resources associated with each device (Registry), configure logging, and create and manage policies and credentials to authenticate devices.</p> <p>The service endpoints that expose this API are listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/iot-core.html\">AWS IoT Core Endpoints and Quotas</a>. You must use the endpoint for the region that has the resources you want to access.</p> <p>The service name used by <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">AWS Signature Version 4</a> to sign the request is: <i>execute-api</i>.</p> <p>For more information about how AWS IoT works, see the <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html\">Developer Guide</a>.</p> <p>For information about how to use the credentials provider for AWS IoT, see <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html\">Authorizing Direct Calls to AWS Services</a>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS IoT",
    "version": "2015-05-28",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot-2015-05-28.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "iot",
    "x-datafire": {
      "name": "amazonaws_iot",
      "type": "openapi"
    }
  },
  "host": "iot.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/accept-certificate-transfer/{certificateId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "patch": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the certificate. (The last part of the certificate ARN contains the certificate ID.)",
            "in": "path",
            "maxLength": 64,
            "minLength": 64,
            "name": "certificateId",
            "pattern": "(0x)?[a-fA-F0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specifies whether the certificate is active.",
            "in": "query",
            "name": "setAsActive",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "TransferAlreadyCompletedException",
            "schema": {
              "$ref": "#/definitions/TransferAlreadyCompletedException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "486": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "<p>Accepts a pending certificate transfer. The default state of the certificate is INACTIVE.</p> <p>To check for pending certificate transfers, call <a>ListCertificates</a> to enumerate your certificates.</p>",
        "operationId": "AcceptCertificateTransfer"
      }
    },
    "/active-violations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the thing whose active violations are listed.",
            "in": "query",
            "maxLength": 128,
            "minLength": 1,
            "name": "thingName",
            "required": false,
            "type": "string"
          },
          {
            "description": "The name of the Device Defender security profile for which violations are listed.",
            "in": "query",
            "maxLength": 128,
            "minLength": 1,
            "name": "securityProfileName",
            "pattern": "[a-zA-Z0-9:_-]+",
            "required": false,
            "type": "string"
          },
          {
            "description": " The criteria for a behavior. ",
            "enum": [
              "STATIC",
              "STATISTICAL",
              "MACHINE_LEARNING"
            ],
            "in": "query",
            "name": "behaviorCriteriaType",
            "required": false,
            "type": "string"
          },
          {
            "description": " A list of all suppressed alerts. ",
            "in": "query",
            "name": "listSuppressedAlerts",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return at one time.",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListActiveViolationsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Lists the active violations for a given Device Defender security profile.",
        "operationId": "ListActiveViolations"
      }
    },
    "/attached-policies/{target}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The group or principal for which the policies will be listed. Valid principals are CertificateArn (arn:aws:iot:<i>region</i>:<i>accountId</i>:cert/<i>certificateId</i>), thingGroupArn (arn:aws:iot:<i>region</i>:<i>accountId</i>:thinggroup/<i>groupName</i>) and CognitoId (<i>region</i>:<i>id</i>).",
            "in": "path",
            "name": "target",
            "required": true,
            "type": "string"
          },
          {
            "description": "When true, recursively list attached policies.",
            "in": "query",
            "name": "recursive",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The token to retrieve the next set of results.",
            "in": "query",
            "maxLength": 1024,
            "name": "marker",
            "pattern": "[A-Za-z0-9+/]+={0,2}",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to be returned per request.",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "pageSize",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAttachedPoliciesResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "486": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "Lists the policies attached to the specified thing group.",
        "operationId": "ListAttachedPolicies"
      }
    },
    "/audit/configuration": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "If true, all scheduled audits are deleted.",
            "in": "query",
            "name": "deleteScheduledAudits",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteAccountAuditConfigurationResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Restores the default settings for Device Defender audits for this account. Any configuration data you entered is deleted and all audit checks are reset to disabled. ",
        "operationId": "DeleteAccountAuditConfiguration"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAccountAuditConfigurationResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Gets information about the Device Defender audit settings for this account. Settings include how audit notifications are sent and which audit checks are enabled or disabled.",
        "operationId": "DescribeAccountAuditConfiguration"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "auditCheckConfigurations": {
                  "additionalProperties": {
                    "$ref": "#/definitions/AuditCheckConfiguration"
                  },
                  "description": "<p>Specifies which audit checks are enabled and disabled for this account. Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are currently enabled.</p> <p>Some data collection might start immediately when certain checks are enabled. When a check is disabled, any data collected so far in relation to the check is deleted.</p> <p>You cannot disable a check if it's used by any scheduled audit. You must first delete the check from the scheduled audit or delete the scheduled audit itself.</p> <p>On the first call to <code>UpdateAccountAuditConfiguration</code>, this parameter is required and must specify at least one enabled check.</p>",
                  "type": "object"
                },
                "auditNotificationTargetConfigurations": {
                  "additionalProperties": {
                    "$ref": "#/definitions/AuditNotificationTarget"
                  },
                  "description": "Information about the targets to which audit notifications are sent.",
                  "type": "object"
                },
                "roleArn": {
                  "description": "The Amazon Resource Name (ARN) of the role that grants permission to AWS IoT to access information about your devices, policies, certificates, and other items as required when performing an audit.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAccountAuditConfigurationResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Configures or reconfigures the Device Defender audit settings for this account. Settings include how audit notifications are sent and which audit checks are enabled or disabled.",
        "operationId": "UpdateAccountAuditConfiguration"
      }
    },
    "/audit/findings": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "checkName": {
                  "description": "An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                  "type": "string"
                },
                "endTime": {
                  "description": "A filter to limit results to those found before the specified time. You must specify either the startTime and endTime or the taskId, but not both.",
                  "format": "date-time",
                  "type": "string"
                },
                "listSuppressedFindings": {
                  "description": " Boolean flag indicating whether only the suppressed findings or the unsuppressed findings should be listed. If this parameter isn't provided, the response will list both suppressed and unsuppressed findings. ",
                  "type": "boolean"
                },
                "maxResults": {
                  "description": "The maximum number of results to return at one time. The default is 25.",
                  "maximum": 250,
                  "minimum": 1,
                  "type": "integer"
                },
                "nextToken": {
                  "description": "The token for the next set of results.",
                  "type": "string"
                },
                "resourceIdentifier": {
                  "description": "Information that identifies the noncompliant resource.",
                  "properties": {
                    "account": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AwsAccountId"
                        },
                        {
                          "description": "The account with which the resource is associated."
                        }
                      ]
                    },
                    "caCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the CA certificate used to authorize the certificate."
                        }
                      ]
                    },
                    "clientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ClientId"
                        },
                        {
                          "description": "The client ID."
                        }
                      ]
                    },
                    "cognitoIdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CognitoIdentityPoolId"
                        },
                        {
                          "description": "The ID of the Amazon Cognito identity pool."
                        }
                      ]
                    },
                    "deviceCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the certificate attached to the resource."
                        }
                      ]
                    },
                    "iamRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "The ARN of the IAM role that has overly permissive actions."
                        }
                      ]
                    },
                    "policyVersionIdentifier": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PolicyVersionIdentifier"
                        },
                        {
                          "description": "The version of the policy associated with the resource."
                        }
                      ]
                    },
                    "roleAliasArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleAliasArn"
                        },
                        {
                          "description": "The ARN of the role alias that has overly permissive actions."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "startTime": {
                  "description": "A filter to limit results to those found after the specified time. You must specify either the startTime and endTime or the taskId, but not both.",
                  "format": "date-time",
                  "type": "string"
                },
                "taskId": {
                  "description": "A filter to limit results to the audit with the specified ID. You must specify either the taskId or the startTime and endTime, but not both.",
                  "maxLength": 40,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9\\-]+",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAuditFindingsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Lists the findings (results) of a Device Defender audit or of the audits performed during a specified time period. (Findings are retained for 90 days.)",
        "operationId": "ListAuditFindings"
      }
    },
    "/audit/findings/{findingId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A unique identifier for a single audit finding. You can use this identifier to apply mitigation actions to the finding.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "findingId",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAuditFindingResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Gets information about a single audit finding. Properties include the reason for noncompliance, the severity of the issue, and the start time when the audit that returned the finding.",
        "operationId": "DescribeAuditFinding"
      }
    },
    "/audit/mitigationactions/executions#taskId&findingId": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Specify this filter to limit results to actions for a specific audit mitigation actions task.",
            "in": "query",
            "maxLength": 128,
            "minLength": 1,
            "name": "taskId",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specify this filter to limit results to those with a specific status.",
            "enum": [
              "IN_PROGRESS",
              "COMPLETED",
              "FAILED",
              "CANCELED",
              "SKIPPED",
              "PENDING"
            ],
            "in": "query",
            "name": "actionStatus",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specify this filter to limit results to those that were applied to a specific audit finding.",
            "in": "query",
            "maxLength": 128,
            "minLength": 1,
            "name": "findingId",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return at one time. The default is 25.",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAuditMitigationActionsExecutionsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Gets the status of audit mitigation action tasks that were executed.",
        "operationId": "ListAuditMitigationActionsExecutions"
      }
    },
    "/audit/mitigationactions/tasks#startTime&endTime": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Specify this filter to limit results to tasks that were applied to results for a specific audit.",
            "in": "query",
            "maxLength": 40,
            "minLength": 1,
            "name": "auditTaskId",
            "pattern": "[a-zA-Z0-9\\-]+",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specify this filter to limit results to tasks that were applied to a specific audit finding.",
            "in": "query",
            "maxLength": 128,
            "minLength": 1,
            "name": "findingId",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specify this filter to limit results to tasks that are in a specific state.",
            "enum": [
              "IN_PROGRESS",
              "COMPLETED",
              "FAILED",
              "CANCELED"
            ],
            "in": "query",
            "name": "taskStatus",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return at one time. The default is 25.",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specify this filter to limit results to tasks that began on or after a specific date and time.",
            "format": "date-time",
            "in": "query",
            "name": "startTime",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specify this filter to limit results to tasks that were completed or canceled on or before a specific date and time.",
            "format": "date-time",
            "in": "query",
            "name": "endTime",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAuditMitigationActionsTasksResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Gets a list of audit mitigation action tasks that match the specified filters.",
        "operationId": "ListAuditMitigationActionsTasks"
      }
    },
    "/audit/mitigationactions/tasks/{taskId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the audit mitigation task.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "taskId",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAuditMitigationActionsTaskResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Gets information about an audit mitigation task that is used to apply mitigation actions to a set of audit findings. Properties include the actions being applied, the audit checks to which they're being applied, the task status, and aggregated task statistics.",
        "operationId": "DescribeAuditMitigationActionsTask"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A unique identifier for the task. You can use this identifier to check the status of the task or to cancel it.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "taskId",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "auditCheckToActionsMapping": {
                  "additionalProperties": {
                    "$ref": "#/definitions/MitigationActionNameList"
                  },
                  "description": "For an audit check, specifies which mitigation actions to apply. Those actions must be defined in your AWS account.",
                  "type": "object"
                },
                "clientRequestToken": {
                  "description": "Each audit mitigation task must have a unique client request token. If you try to start a new task with the same token as a task that already exists, an exception occurs. If you omit this value, a unique client request token is generated automatically.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9-_]+$",
                  "type": "string"
                },
                "target": {
                  "description": "Used in MitigationActionParams, this information identifies the target findings to which the mitigation actions are applied. Only one entry appears.",
                  "properties": {
                    "auditCheckToReasonCodeFilter": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AuditCheckToReasonCodeFilter"
                        },
                        {
                          "description": "Specifies a filter in the form of an audit check and set of reason codes that identify the findings from the audit to which the audit mitigation actions task apply."
                        }
                      ]
                    },
                    "auditTaskId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AuditTaskId"
                        },
                        {
                          "description": "If the task will apply a mitigation action to findings from a specific audit, this value uniquely identifies the audit."
                        }
                      ]
                    },
                    "findingIds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/FindingIds"
                        },
                        {
                          "description": "If the task will apply a mitigation action to one or more listed findings, this value uniquely identifies those findings."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "target",
                "auditCheckToActionsMapping",
                "clientRequestToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartAuditMitigationActionsTaskResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TaskAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/TaskAlreadyExistsException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Starts a task that applies a set of mitigation actions to the specified target.",
        "operationId": "StartAuditMitigationActionsTask"
      }
    },
    "/audit/mitigationactions/tasks/{taskId}/cancel": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the task that you want to cancel. ",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "taskId",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelAuditMitigationActionsTaskResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Cancels a mitigation action task that is in progress. If the task is not in progress, an InvalidRequestException occurs.",
        "operationId": "CancelAuditMitigationActionsTask"
      }
    },
    "/audit/scheduledaudits": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return at one time. The default is 25.",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListScheduledAuditsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Lists all of your scheduled audits.",
        "operationId": "ListScheduledAudits"
      }
    },
    "/audit/scheduledaudits/{scheduledAuditName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the scheduled audit you want to delete.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "scheduledAuditName",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteScheduledAuditResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Deletes a scheduled audit.",
        "operationId": "DeleteScheduledAudit"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the scheduled audit whose information you want to get.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "scheduledAuditName",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeScheduledAuditResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Gets information about a scheduled audit.",
        "operationId": "DescribeScheduledAudit"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the scheduled audit. (Max. 128 chars)",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "scheduledAuditName",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "dayOfMonth": {
                  "description": "The day of the month on which the scheduled audit takes place. This can be <code>1</code> through <code>31</code> or <code>LAST</code>. This field is required if the <code>frequency</code> parameter is set to <code>MONTHLY</code>. If days 29-31 are specified, and the month does not have that many days, the audit takes place on the \"LAST\" day of the month.",
                  "pattern": "^([1-9]|[12][0-9]|3[01])$|^LAST$",
                  "type": "string"
                },
                "dayOfWeek": {
                  "description": "The day of the week on which the scheduled audit takes place. This can be one of <code>SUN</code>, <code>MON</code>, <code>TUE</code>, <code>WED</code>, <code>THU</code>, <code>FRI</code>, or <code>SAT</code>. This field is required if the \"frequency\" parameter is set to <code>WEEKLY</code> or <code>BIWEEKLY</code>.",
                  "enum": [
                    "SUN",
                    "MON",
                    "TUE",
                    "WED",
                    "THU",
                    "FRI",
                    "SAT"
                  ],
                  "type": "string"
                },
                "frequency": {
                  "description": "How often the scheduled audit takes place, either <code>DAILY</code>, <code>WEEKLY</code>, <code>BIWEEKLY</code>, or <code>MONTHLY</code>. The start time of each audit is determined by the system.",
                  "enum": [
                    "DAILY",
                    "WEEKLY",
                    "BIWEEKLY",
                    "MONTHLY"
                  ],
                  "type": "string"
                },
                "targetCheckNames": {
                  "description": "Which checks are performed during the scheduled audit. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                  "items": {
                    "$ref": "#/definitions/AuditCheckName"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateScheduledAuditResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Updates a scheduled audit, including which checks are performed and how often the audit takes place.",
        "operationId": "UpdateScheduledAudit"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name you want to give to the scheduled audit. (Max. 128 chars)",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "scheduledAuditName",
            "pattern": "[a-zA-Z0-9_-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "description": "Metadata that can be used to manage the scheduled audit.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "type": "array"
                },
                "dayOfMonth": {
                  "description": "The day of the month on which the scheduled audit takes place. This can be \"1\" through \"31\" or \"LAST\". This field is required if the \"frequency\" parameter is set to <code>MONTHLY</code>. If days 29 to 31 are specified, and the month doesn't have that many days, the audit takes place on the <code>LAST</code> day of the month.",
                  "pattern": "^([1-9]|[12][0-9]|3[01])$|^LAST$",
                  "type": "string"
                },
                "dayOfWeek": {
                  "description": "The day of the week on which the scheduled audit takes place, either <code>SUN</code>, <code>MON</code>, <code>TUE</code>, <code>WED</code>, <code>THU</code>, <code>FRI</code>, or <code>SAT</code>. This field is required if the <code>frequency</code> parameter is set to <code>WEEKLY</code> or <code>BIWEEKLY</code>.",
                  "enum": [
                    "SUN",
                    "MON",
                    "TUE",
                    "WED",
                    "THU",
                    "FRI",
                    "SAT"
                  ],
                  "type": "string"
                },
                "frequency": {
                  "description": "How often the scheduled audit takes place, either <code>DAILY</code>, <code>WEEKLY</code>, <code>BIWEEKLY</code> or <code>MONTHLY</code>. The start time of each audit is determined by the system.",
                  "enum": [
                    "DAILY",
                    "WEEKLY",
                    "BIWEEKLY",
                    "MONTHLY"
                  ],
                  "type": "string"
                },
                "targetCheckNames": {
                  "description": "Which checks are performed during the scheduled audit. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                  "items": {
                    "$ref": "#/definitions/AuditCheckName"
                  },
                  "type": "array"
                }
              },
              "required": [
                "frequency",
                "targetCheckNames"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateScheduledAuditResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "Creates a scheduled audit that is run at a specified time interval.",
        "operationId": "CreateScheduledAudit"
      }
    },
    "/audit/suppressions/create": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "checkName": {
                  "description": "An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                  "type": "string"
                },
                "clientRequestToken": {
                  "description": " The epoch timestamp in seconds at which this suppression expires. ",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9-_]+$",
                  "type": "string"
                },
                "description": {
                  "description": " The description of the audit suppression. ",
                  "maxLength": 1000,
                  "pattern": "[\\p{Graph}\\x20]*",
                  "type": "string"
                },
                "expirationDate": {
                  "description": " The epoch timestamp in seconds at which this suppression expires. ",
                  "format": "date-time",
                  "type": "string"
                },
                "resourceIdentifier": {
                  "description": "Information that identifies the noncompliant resource.",
                  "properties": {
                    "account": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AwsAccountId"
                        },
                        {
                          "description": "The account with which the resource is associated."
                        }
                      ]
                    },
                    "caCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the CA certificate used to authorize the certificate."
                        }
                      ]
                    },
                    "clientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ClientId"
                        },
                        {
                          "description": "The client ID."
                        }
                      ]
                    },
                    "cognitoIdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CognitoIdentityPoolId"
                        },
                        {
                          "description": "The ID of the Amazon Cognito identity pool."
                        }
                      ]
                    },
                    "deviceCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the certificate attached to the resource."
                        }
                      ]
                    },
                    "iamRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "The ARN of the IAM role that has overly permissive actions."
                        }
                      ]
                    },
                    "policyVersionIdentifier": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PolicyVersionIdentifier"
                        },
                        {
                          "description": "The version of the policy associated with the resource."
                        }
                      ]
                    },
                    "roleAliasArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleAliasArn"
                        },
                        {
                          "description": "The ARN of the role alias that has overly permissive actions."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "suppressIndefinitely": {
                  "description": " Indicates whether a suppression should exist indefinitely or not. ",
                  "type": "boolean"
                }
              },
              "required": [
                "checkName",
                "resourceIdentifier",
                "clientRequestToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAuditSuppressionResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Creates a Device Defender audit suppression. ",
        "operationId": "CreateAuditSuppression"
      }
    },
    "/audit/suppressions/delete": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "checkName": {
                  "description": "An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                  "type": "string"
                },
                "resourceIdentifier": {
                  "description": "Information that identifies the noncompliant resource.",
                  "properties": {
                    "account": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AwsAccountId"
                        },
                        {
                          "description": "The account with which the resource is associated."
                        }
                      ]
                    },
                    "caCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the CA certificate used to authorize the certificate."
                        }
                      ]
                    },
                    "clientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ClientId"
                        },
                        {
                          "description": "The client ID."
                        }
                      ]
                    },
                    "cognitoIdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CognitoIdentityPoolId"
                        },
                        {
                          "description": "The ID of the Amazon Cognito identity pool."
                        }
                      ]
                    },
                    "deviceCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the certificate attached to the resource."
                        }
                      ]
                    },
                    "iamRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "The ARN of the IAM role that has overly permissive actions."
                        }
                      ]
                    },
                    "policyVersionIdentifier": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PolicyVersionIdentifier"
                        },
                        {
                          "description": "The version of the policy associated with the resource."
                        }
                      ]
                    },
                    "roleAliasArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleAliasArn"
                        },
                        {
                          "description": "The ARN of the role alias that has overly permissive actions."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "checkName",
                "resourceIdentifier"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteAuditSuppressionResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Deletes a Device Defender audit suppression. ",
        "operationId": "DeleteAuditSuppression"
      }
    },
    "/audit/suppressions/describe": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "checkName": {
                  "description": "An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                  "type": "string"
                },
                "resourceIdentifier": {
                  "description": "Information that identifies the noncompliant resource.",
                  "properties": {
                    "account": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AwsAccountId"
                        },
                        {
                          "description": "The account with which the resource is associated."
                        }
                      ]
                    },
                    "caCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the CA certificate used to authorize the certificate."
                        }
                      ]
                    },
                    "clientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ClientId"
                        },
                        {
                          "description": "The client ID."
                        }
                      ]
                    },
                    "cognitoIdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CognitoIdentityPoolId"
                        },
                        {
                          "description": "The ID of the Amazon Cognito identity pool."
                        }
                      ]
                    },
                    "deviceCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the certificate attached to the resource."
                        }
                      ]
                    },
                    "iamRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "The ARN of the IAM role that has overly permissive actions."
                        }
                      ]
                    },
                    "policyVersionIdentifier": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PolicyVersionIdentifier"
                        },
                        {
                          "description": "The version of the policy associated with the resource."
                        }
                      ]
                    },
                    "roleAliasArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleAliasArn"
                        },
                        {
                          "description": "The ARN of the role alias that has overly permissive actions."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "checkName",
                "resourceIdentifier"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAuditSuppressionResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Gets information about a Device Defender audit suppression. ",
        "operationId": "DescribeAuditSuppression"
      }
    },
    "/audit/suppressions/list": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ascendingOrder": {
                  "description": " Determines whether suppressions are listed in ascending order by expiration date or not. If parameter isn't provided, <code>ascendingOrder=true</code>. ",
                  "type": "boolean"
                },
                "checkName": {
                  "description": "An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                  "type": "string"
                },
                "maxResults": {
                  "description": " The maximum number of results to return at one time. The default is 25. ",
                  "maximum": 250,
                  "minimum": 1,
                  "type": "integer"
                },
                "nextToken": {
                  "description": " The token for the next set of results. ",
                  "type": "string"
                },
                "resourceIdentifier": {
                  "description": "Information that identifies the noncompliant resource.",
                  "properties": {
                    "account": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AwsAccountId"
                        },
                        {
                          "description": "The account with which the resource is associated."
                        }
                      ]
                    },
                    "caCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the CA certificate used to authorize the certificate."
                        }
                      ]
                    },
                    "clientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ClientId"
                        },
                        {
                          "description": "The client ID."
                        }
                      ]
                    },
                    "cognitoIdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CognitoIdentityPoolId"
                        },
                        {
                          "description": "The ID of the Amazon Cognito identity pool."
                        }
                      ]
                    },
                    "deviceCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the certificate attached to the resource."
                        }
                      ]
                    },
                    "iamRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "The ARN of the IAM role that has overly permissive actions."
                        }
                      ]
                    },
                    "policyVersionIdentifier": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PolicyVersionIdentifier"
                        },
                        {
                          "description": "The version of the policy associated with the resource."
                        }
                      ]
                    },
                    "roleAliasArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleAliasArn"
                        },
                        {
                          "description": "The ARN of the role alias that has overly permissive actions."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAuditSuppressionsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Lists your Device Defender audit listings. ",
        "operationId": "ListAuditSuppressions"
      }
    },
    "/audit/suppressions/update": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "checkName": {
                  "description": "An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                  "type": "string"
                },
                "description": {
                  "description": " The description of the audit suppression. ",
                  "maxLength": 1000,
                  "pattern": "[\\p{Graph}\\x20]*",
                  "type": "string"
                },
                "expirationDate": {
                  "description": " The expiration date (epoch timestamp in seconds) that you want the suppression to adhere to. ",
                  "format": "date-time",
                  "type": "string"
                },
                "resourceIdentifier": {
                  "description": "Information that identifies the noncompliant resource.",
                  "properties": {
                    "account": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AwsAccountId"
                        },
                        {
                          "description": "The account with which the resource is associated."
                        }
                      ]
                    },
                    "caCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the CA certificate used to authorize the certificate."
                        }
                      ]
                    },
                    "clientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ClientId"
                        },
                        {
                          "description": "The client ID."
                        }
                      ]
                    },
                    "cognitoIdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CognitoIdentityPoolId"
                        },
                        {
                          "description": "The ID of the Amazon Cognito identity pool."
                        }
                      ]
                    },
                    "deviceCertificateId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CertificateId"
                        },
                        {
                          "description": "The ID of the certificate attached to the resource."
                        }
                      ]
                    },
                    "iamRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "The ARN of the IAM role that has overly permissive actions."
                        }
                      ]
                    },
                    "policyVersionIdentifier": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PolicyVersionIdentifier"
                        },
                        {
                          "description": "The version of the policy associated with the resource."
                        }
                      ]
                    },
                    "roleAliasArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleAliasArn"
                        },
                        {
                          "description": "The ARN of the role alias that has overly permissive actions."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "suppressIndefinitely": {
                  "description": " Indicates whether a suppression should exist indefinitely or not. ",
                  "type": "boolean"
                }
              },
              "required": [
                "checkName",
                "resourceIdentifier"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAuditSuppressionResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
[...]
