{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "monitoring.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the applications you run on AWS in real time. You can use CloudWatch to collect and track metrics, which are the variables you want to measure for your resources and applications.</p> <p>CloudWatch alarms send notifications or automatically change the resources you are monitoring based on rules that you define. For example, you can monitor the CPU usage and disk reads and writes of your Amazon EC2 instances. Then, use this data to determine whether you should launch additional instances to handle increased load. You can also use this data to stop under-used instances to save money.</p> <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor your own custom metrics. With CloudWatch, you gain system-wide visibility into resource utilization, application performance, and operational health.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon CloudWatch",
    "version": "2010-08-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/monitoring-2010-08-01.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "monitoring",
    "x-datafire": {
      "name": "amazonaws_monitoring",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/monitoring/"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the specified alarms. In the event of an error, no alarms are deleted.",
        "operationId": "DeleteAlarms",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAlarmsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ResourceNotFound",
            "schema": {
              "$ref": "#/definitions/ResourceNotFound"
            }
          }
        }
      }
    },
    "/#DeleteDashboards": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.",
        "operationId": "DeleteDashboards",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDashboardsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDashboardsOutput"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "DashboardNotFoundError",
            "schema": {
              "$ref": "#/definitions/DashboardNotFoundError"
            }
          },
          "482": {
            "description": "InternalServiceFault",
            "schema": {
              "$ref": "#/definitions/InternalServiceFault"
            }
          }
        }
      }
    },
    "/#DescribeAlarmHistory": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for all alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>",
        "operationId": "DescribeAlarmHistory",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeAlarmHistoryInput"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxRecords",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAlarmHistoryOutput"
            }
          },
          "480": {
            "description": "InvalidNextToken",
            "schema": {
              "$ref": "#/definitions/InvalidNextToken"
            }
          }
        }
      }
    },
    "/#DescribeAlarms": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieves the specified alarms. If no alarms are specified, all alarms are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.",
        "operationId": "DescribeAlarms",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeAlarmsInput"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxRecords",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAlarmsOutput"
            }
          },
          "480": {
            "description": "InvalidNextToken",
            "schema": {
              "$ref": "#/definitions/InvalidNextToken"
            }
          }
        },
        "x-waiters": [
          {
            "acceptors": [
              {
                "argument": "length(MetricAlarms[]) > `0`",
                "expected": true,
                "matcher": "path",
                "state": "success"
              }
            ],
            "delay": 5,
            "maxAttempts": 40,
            "operation": "DescribeAlarms"
          }
        ]
      }
    },
    "/#DescribeAlarmsForMetric": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.",
        "operationId": "DescribeAlarmsForMetric",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeAlarmsForMetricInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAlarmsForMetricOutput"
            }
          }
        }
      }
    },
    "/#DisableAlarmActions": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Disables the actions for the specified alarms. When an alarm's actions are disabled, the alarm actions do not execute when the alarm state changes.",
        "operationId": "DisableAlarmActions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisableAlarmActionsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/#EnableAlarmActions": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Enables the actions for the specified alarms.",
        "operationId": "EnableAlarmActions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnableAlarmActionsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/#GetDashboard": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Displays the details of the dashboard that you specify.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>",
        "operationId": "GetDashboard",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDashboardInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDashboardOutput"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "DashboardNotFoundError",
            "schema": {
              "$ref": "#/definitions/DashboardNotFoundError"
            }
          },
          "482": {
            "description": "InternalServiceFault",
            "schema": {
              "$ref": "#/definitions/InternalServiceFault"
            }
          }
        }
      }
    },
    "/#GetMetricStatistics": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Gets statistics for the specified metric.</p> <p>The maximum number of data points returned from a single call is 1,440. If you request more than 1,440 data points, CloudWatch returns an error. To reduce the number of data points, you can narrow the specified time range and make multiple requests across adjacent time ranges, or you can increase the specified period. Data points are not returned in chronological order.</p> <p>CloudWatch aggregates data points based on the length of the period that you specify. For example, if you request statistics with a one-hour period, CloudWatch aggregates all data points with time stamps that fall within each one-hour period. Therefore, the number of values aggregated by CloudWatch is larger than the number of data points returned.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1.</p> </li> <li> <p>The Min and the Max values of the statistic set are equal.</p> </li> </ul> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p> <p>For information about metrics and dimensions supported by AWS services, see the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html\">Amazon CloudWatch Metrics and Dimensions Reference</a> in the <i>Amazon CloudWatch User Guide</i>.</p>",
        "operationId": "GetMetricStatistics",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMetricStatisticsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMetricStatisticsOutput"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "MissingRequiredParameterException",
            "schema": {
              "$ref": "#/definitions/MissingRequiredParameterException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "483": {
            "description": "InternalServiceFault",
            "schema": {
              "$ref": "#/definitions/InternalServiceFault"
            }
          }
        }
      }
    },
    "/#ListDashboards": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns a list of the dashboards for your account. If you include <code>DashboardNamePrefix</code>, only those dashboards with names starting with the prefix are listed. Otherwise, all dashboards in your account are listed. ",
        "operationId": "ListDashboards",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDashboardsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDashboardsOutput"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "InternalServiceFault",
            "schema": {
              "$ref": "#/definitions/InternalServiceFault"
            }
          }
        }
      }
    },
    "/#ListMetrics": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>List the specified metrics. You can use the returned metrics with <a>GetMetricStatistics</a> to obtain statistical data.</p> <p>Up to 500 results are returned for any one call. To retrieve additional results, use the returned token with subsequent calls.</p> <p>After you create a metric, allow up to fifteen minutes before the metric appears. Statistics about the metric, however, are available sooner using <a>GetMetricStatistics</a>.</p>",
        "operationId": "ListMetrics",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMetricsInput"
            }
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListMetricsOutput"
            }
          },
          "480": {
            "description": "InternalServiceFault",
            "schema": {
              "$ref": "#/definitions/InternalServiceFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        }
      }
    },
    "/#PutDashboard": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Creates a dashboard if it does not already exist, or updates an existing dashboard. If you update a dashboard, the entire contents are replaced with what you specify here.</p> <p>You can have up to 500 dashboards per account. All dashboards in your account are global, not region-specific.</p> <p>A simple way to create a dashboard using <code>PutDashboard</code> is to copy an existing dashboard. To copy an existing dashboard using the console, you can load the dashboard and then use the View/edit source command in the Actions menu to display the JSON block for that dashboard. Another way to copy a dashboard is to use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code>.</p> <p>When you create a dashboard with <code>PutDashboard</code>, a good practice is to add a text widget at the top of the dashboard with a message that the dashboard was created by script and should not be changed in the console. This message could also point console users to the location of the <code>DashboardBody</code> script or the CloudFormation template used to create the dashboard.</p>",
        "operationId": "PutDashboard",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutDashboardInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutDashboardOutput"
            }
          },
          "480": {
            "description": "DashboardInvalidInputError",
            "schema": {
              "$ref": "#/definitions/DashboardInvalidInputError"
            }
          },
          "481": {
            "description": "InternalServiceFault",
            "schema": {
              "$ref": "#/definitions/InternalServiceFault"
            }
          }
        }
      }
    },
    "/#PutMetricAlarm": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Creates or updates an alarm and associates it with the specified metric. Optionally, this operation can associate one or more Amazon SNS resources with the alarm.</p> <p>When this operation creates an alarm, the alarm state is immediately set to <code>INSUFFICIENT_DATA</code>. The alarm is evaluated and its state is set appropriately. Any actions associated with the state are then executed.</p> <p>When you update an existing alarm, its state is left unchanged, but the update completely overwrites the previous configuration of the alarm.</p> <p>If you are an IAM user, you must have Amazon EC2 permissions for some operations:</p> <ul> <li> <p> <code>iam:CreateServiceLinkedRole</code> for all alarms with EC2 actions</p> </li> <li> <p> <code>ec2:DescribeInstanceStatus</code> and <code>ec2:DescribeInstances</code> for all alarms on EC2 instance status metrics</p> </li> <li> <p> <code>ec2:StopInstances</code> for alarms with stop actions</p> </li> <li> <p> <code>ec2:TerminateInstances</code> for alarms with terminate actions</p> </li> <li> <p> <code>ec2:DescribeInstanceRecoveryAttribute</code> and <code>ec2:RecoverInstances</code> for alarms with recover actions</p> </li> </ul> <p>If you have read/write permissions for Amazon CloudWatch but not for Amazon EC2, you can still create an alarm, but the stop or terminate actions are not performed. However, if you are later granted the required permissions, the alarm actions that you created earlier are performed.</p> <p>If you are using an IAM role (for example, an EC2 instance profile), you cannot stop or terminate the instance using alarm actions. However, you can still see the alarm state and perform any other actions such as Amazon SNS notifications or Auto Scaling policies.</p> <p>If you are using temporary security credentials granted using AWS STS, you cannot stop or terminate an EC2 instance using alarm actions.</p> <p>You must create at least one stop, terminate, or reboot alarm using either the Amazon EC2 or CloudWatch consoles to create the <b>EC2ActionsAccess</b> IAM role. After this IAM role is created, you can create stop, terminate, or reboot alarms using a command-line interface or API.</p>",
        "operationId": "PutMetricAlarm",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutMetricAlarmInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "LimitExceededFault",
            "schema": {
              "$ref": "#/definitions/LimitExceededFault"
            }
          }
        }
      }
    },
    "/#PutMetricData": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Publishes metric data points to Amazon CloudWatch. CloudWatch associates the data points with the specified metric. If the specified metric does not exist, CloudWatch creates the metric. When CloudWatch creates a metric, it can take up to fifteen minutes for the metric to appear in calls to <a>ListMetrics</a>.</p> <p>Each <code>PutMetricData</code> request is limited to 40 KB in size for HTTP POST requests.</p> <p>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, CloudWatch rejects values that are either too small or too large. Values must be in the range of 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2). In addition, special values (for example, NaN, +Infinity, -Infinity) are not supported.</p> <p>You can use up to 10 dimensions per metric to further clarify what data the metric collects. For more information about specifying dimensions, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Data points with time stamps from 24 hours ago or longer can take at least 48 hours to become available for <a>GetMetricStatistics</a> from the time they are submitted.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1</p> </li> <li> <p>The Min and the Max values of the statistic set are equal</p> </li> </ul>",
        "operationId": "PutMetricData",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutMetricDataInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "MissingRequiredParameterException",
            "schema": {
              "$ref": "#/definitions/MissingRequiredParameterException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "483": {
            "description": "InternalServiceFault",
            "schema": {
              "$ref": "#/definitions/InternalServiceFault"
            }
          }
        }
      }
    },
    "/#SetAlarmState": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Temporarily sets the state of an alarm for testing purposes. When the updated state differs from the previous value, the action configured for the appropriate state is invoked. For example, if your alarm is configured to send an Amazon SNS message when an alarm is triggered, temporarily changing the alarm state to <code>ALARM</code> sends an SNS message. The alarm returns to its actual state (often within seconds). Because the alarm state change happens quickly, it is typically only visible in the alarm's <b>History</b> tab in the Amazon CloudWatch console or through <a>DescribeAlarmHistory</a>.",
        "operationId": "SetAlarmState",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetAlarmStateInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ResourceNotFound",
            "schema": {
              "$ref": "#/definitions/ResourceNotFound"
            }
          },
          "481": {
            "description": "InvalidFormatFault",
            "schema": {
              "$ref": "#/definitions/InvalidFormatFault"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ActionPrefix": {
      "maxLength": 1024,
      "minLength": 1,
      "type": "string"
    },
    "ActionsEnabled": {
      "type": "boolean"
    },
    "AlarmArn": {
      "maxLength": 1600,
      "minLength": 1,
      "type": "string"
    },
    "AlarmDescription": {
      "maxLength": 1024,
      "minLength": 0,
      "type": "string"
    },
    "AlarmHistoryItem": {
      "description": "Represents the history of a specific alarm.",
      "properties": {
        "AlarmName": {
          "$ref": "#/definitions/AlarmName",
          "description": "The descriptive name for the alarm."
        },
        "HistoryData": {
          "$ref": "#/definitions/HistoryData",
          "description": "Data about the alarm, in JSON format."
        },
        "HistoryItemType": {
          "$ref": "#/definitions/HistoryItemType",
          "description": "The type of alarm history item."
        },
        "HistorySummary": {
          "$ref": "#/definitions/HistorySummary",
          "description": "A summary of the alarm history, in text format."
        },
        "Timestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time stamp for the alarm history item."
        }
      },
      "type": "object"
    },
    "AlarmHistoryItems": {
      "items": {
        "$ref": "#/definitions/AlarmHistoryItem"
      },
      "type": "array"
    },
    "AlarmName": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "AlarmNamePrefix": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "AlarmNames": {
      "items": {
        "$ref": "#/definitions/AlarmName"
      },
      "maxItems": 100,
      "type": "array"
    },
    "AwsQueryErrorMessage": {
      "type": "string"
    },
    "ComparisonOperator": {
      "enum": [
        "GreaterThanOrEqualToThreshold",
        "GreaterThanThreshold",
        "LessThanThreshold",
        "LessThanOrEqualToThreshold"
      ],
      "type": "string"
    },
    "DashboardArn": {
      "type": "string"
    },
    "DashboardBody": {
      "type": "string"
    },
    "DashboardEntries": {
      "items": {
        "$ref": "#/definitions/DashboardEntry"
      },
      "type": "array"
    },
    "DashboardEntry": {
      "description": "Represents a specific dashboard.",
      "properties": {
        "DashboardArn": {
          "$ref": "#/definitions/DashboardArn",
          "description": "The Amazon Resource Name (ARN) of the dashboard."
        },
        "DashboardName": {
          "$ref": "#/definitions/DashboardName",
          "description": "The name of the dashboard."
        },
        "LastModified": {
          "$ref": "#/definitions/LastModified",
          "description": "The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC."
        },
        "Size": {
          "$ref": "#/definitions/Size",
          "description": "The size of the dashboard, in bytes."
        }
      },
      "type": "object"
    },
    "DashboardErrorMessage": {
      "type": "string"
    },
    "DashboardInvalidInputError": {
      "description": "Some part of the dashboard data is invalid.",
      "properties": {
        "dashboardValidationMessages": {
          "$ref": "#/definitions/DashboardValidationMessages"
        },
        "message": {
          "$ref": "#/definitions/DashboardErrorMessage"
        }
      },
      "type": "object"
    },
    "DashboardName": {
      "type": "string"
    },
    "DashboardNamePrefix": {
      "type": "string"
    },
    "DashboardNames": {
      "items": {
        "$ref": "#/definitions/DashboardName"
      },
      "type": "array"
    },
    "DashboardNotFoundError": {
      "description": "The specified dashboard does not exist.",
      "properties": {
        "message": {
          "$ref": "#/definitions/DashboardErrorMessage"
        }
      },
      "type": "object"
    },
    "DashboardValidationMessage": {
      "description": "An error or warning for the operation.",
      "properties": {
        "DataPath": {
          "$ref": "#/definitions/DataPath",
          "description": "The data path related to the message."
        },
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "A message describing the error or warning."
        }
      },
      "type": "object"
    },
    "DashboardValidationMessages": {
      "items": {
        "$ref": "#/definitions/DashboardValidationMessage"
      },
      "type": "array"
    },
    "DataPath": {
      "type": "string"
    },
    "Datapoint": {
      "description": "Encapsulates the statistical data that CloudWatch computes from metric data.",
      "properties": {
        "Average": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The average of the metric values that correspond to the data point."
        },
        "ExtendedStatistics": {
          "$ref": "#/definitions/DatapointValueMap",
          "description": "The percentile statistic for the data point."
        },
        "Maximum": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The maximum metric value for the data point."
        },
        "Minimum": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The minimum metric value for the data point."
        },
        "SampleCount": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The number of metric values that contributed to the aggregate value of this data point."
        },
        "Sum": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The sum of the metric values for the data point."
        },
        "Timestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time stamp used for the data point."
        },
        "Unit": {
          "$ref": "#/definitions/StandardUnit",
          "description": "The standard unit for the data point."
        }
      },
      "type": "object"
    },
    "DatapointValue": {
      "format": "double",
      "type": "number"
    },
    "DatapointValueMap": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/ExtendedStatistic"
          },
          "value": {
            "$ref": "#/definitions/DatapointValue"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "Datapoints": {
      "items": {
        "$ref": "#/definitions/Datapoint"
      },
      "type": "array"
    },
    "DatapointsToAlarm": {
      "minimum": 1,
      "type": "integer"
    },
    "DeleteAlarmsInput": {
      "properties": {
        "AlarmNames": {
          "$ref": "#/definitions/AlarmNames",
          "description": "The alarms to be deleted."
        }
      },
      "required": [
        "AlarmNames"
      ],
      "type": "object"
    },
    "DeleteDashboardsInput": {
      "properties": {
        "DashboardNames": {
          "$ref": "#/definitions/DashboardNames",
          "description": "The dashboards to be deleted. This parameter is required."
        }
      },
      "required": [
        "DashboardNames"
      ],
      "type": "object"
    },
    "DeleteDashboardsOutput": {
      "properties": {},
      "type": "object"
    },
    "DescribeAlarmHistoryInput": {
      "properties": {
        "AlarmName": {
          "$ref": "#/definitions/AlarmName",
          "description": "The name of the alarm."
        },
        "EndDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The ending date to retrieve alarm history."
        },
        "HistoryItemType": {
          "$ref": "#/definitions/HistoryItemType",
          "description": "The type of alarm histories to retrieve."
        },
        "MaxRecords": {
          "$ref": "#/definitions/MaxRecords",
          "description": "The maximum number of alarm history records to retrieve."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token returned by a previous call to indicate that there is more data available."
        },
        "StartDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The starting date to retrieve alarm history."
        }
      },
      "type": "object"
    },
    "DescribeAlarmHistoryOutput": {
      "properties": {
        "AlarmHistoryItems": {
          "$ref": "#/definitions/AlarmHistoryItems",
          "description": "The alarm histories, in JSON format."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token that marks the start of the next batch of returned results."
        }
      },
      "type": "object"
    },
    "DescribeAlarmsForMetricInput": {
      "properties": {
        "Dimensions": {
          "$ref": "#/definitions/Dimensions",
          "description": "The dimensions associated with the metric. If the metric has any associated dimensions, you must specify them in order for the call to succeed."
        },
        "ExtendedStatistic": {
          "$ref": "#/definitions/ExtendedStatistic",
          "description": "The percentile statistic for the metric. Specify a value between p0.0 and p100."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "The name of the metric."
        },
        "Namespace": {
          "$ref": "#/definitions/Namespace",
          "description": "The namespace of the metric."
        },
        "Period": {
          "$ref": "#/definitions/Period",
          "description": "The period, in seconds, over which the statistic is applied."
        },
        "Statistic": {
          "$ref": "#/definitions/Statistic",
          "description": "The statistic for the metric, other than percentiles. For percentile statistics, use <code>ExtendedStatistics</code>."
        },
        "Unit": {
          "$ref": "#/definitions/StandardUnit",
          "description": "The unit for the metric."
        }
      },
      "required": [
        "MetricName",
        "Namespace"
      ],
      "type": "object"
    },
    "DescribeAlarmsForMetricOutput": {
      "properties": {
        "MetricAlarms": {
          "$ref": "#/definitions/MetricAlarms",
          "description": "The information for each alarm with the specified metric."
        }
      },
      "type": "object"
    },
    "DescribeAlarmsInput": {
      "properties": {
        "ActionPrefix": {
          "$ref": "#/definitions/ActionPrefix",
          "description": "The action name prefix."
        },
        "AlarmNamePrefix": {
          "$ref": "#/definitions/AlarmNamePrefix",
          "description": "The alarm name prefix. If this parameter is specified, you cannot specify <code>AlarmNames</code>."
        },
        "AlarmNames": {
          "$ref": "#/definitions/AlarmNames",
          "description": "The names of the alarms."
        },
        "MaxRecords": {
          "$ref": "#/definitions/MaxRecords",
          "description": "The maximum number of alarm descriptions to retrieve."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token returned by a previous call to indicate that there is more data available."
        },
        "StateValue": {
          "$ref": "#/definitions/StateValue",
          "description": "The state value to be used in matching alarms."
        }
      },
      "type": "object"
    },
    "DescribeAlarmsOutput": {
      "properties": {
        "MetricAlarms": {
          "$ref": "#/definitions/MetricAlarms",
          "description": "The information for the specified alarms."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token that marks the start of the next batch of returned results."
        }
      },
      "type": "object"
    },
    "Dimension": {
      "description": "Expands the identity of a metric.",
      "properties": {
        "Name": {
          "$ref": "#/definitions/DimensionName",
          "description": "The name of the dimension."
        },
        "Value": {
          "$ref": "#/definitions/DimensionValue",
          "description": "The value representing the dimension measurement."
        }
      },
      "required": [
        "Name",
        "Value"
      ],
      "type": "object"
    },
    "DimensionFilter": {
      "description": "Represents filters for a dimension.",
      "properties": {
        "Name": {
          "$ref": "#/definitions/DimensionName",
          "description": "The dimension name to be matched."
        },
        "Value": {
          "$ref": "#/definitions/DimensionValue",
          "description": "The value of the dimension to be matched."
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "DimensionFilters": {
      "items": {
        "$ref": "#/definitions/DimensionFilter"
      },
      "maxItems": 10,
      "type": "array"
    },
    "DimensionName": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "DimensionValue": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "Dimensions": {
      "items": {
        "$ref": "#/definitions/Dimension"
      },
      "maxItems": 10,
      "type": "array"
    },
    "DisableAlarmActionsInput": {
      "properties": {
        "AlarmNames": {
          "$ref": "#/definitions/AlarmNames",
          "description": "The names of the alarms."
        }
      },
      "required": [
        "AlarmNames"
      ],
      "type": "object"
    },
    "EnableAlarmActionsInput": {
      "properties": {
        "AlarmNames": {
          "$ref": "#/definitions/AlarmNames",
          "description": "The names of the alarms."
        }
      },
      "required": [
        "AlarmNames"
      ],
      "type": "object"
    },
    "ErrorMessage": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "EvaluateLowSampleCountPercentile": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "EvaluationPeriods": {
      "minimum": 1,
      "type": "integer"
    },
    "ExtendedStatistic": {
      "pattern": "p(\\d{1,2}(\\.\\d{0,2})?|100)",
      "type": "string"
    },
    "ExtendedStatistics": {
      "items": {
        "$ref": "#/definitions/ExtendedStatistic"
      },
      "maxItems": 10,
      "minItems": 1,
      "type": "array"
    },
    "FaultDescription": {
      "type": "string"
    },
    "GetDashboardInput": {
      "properties": {
        "DashboardName": {
          "$ref": "#/definitions/DashboardName",
          "description": "The name of the dashboard to be described."
        }
      },
      "required": [
        "DashboardName"
      ],
      "type": "object"
    },
    "GetDashboardOutput": {
      "properties": {
        "DashboardArn": {
          "$ref": "#/definitions/DashboardArn",
          "description": "The Amazon Resource Name (ARN) of the dashboard."
        },
        "DashboardBody": {
          "$ref": "#/definitions/DashboardBody",
          "description": "The detailed information about the dashboard, including what widgets are included and their location on the dashboard. For more information about the <code>DashboardBody</code> syntax, see <a>CloudWatch-Dashboard-Body-Structure</a>. "
        },
        "DashboardName": {
          "$ref": "#/definitions/DashboardName",
          "description": "The name of the dashboard."
        }
      },
      "type": "object"
    },
    "GetMetricStatisticsInput": {
      "properties": {
        "Dimensions": {
          "$ref": "#/definitions/Dimensions",
          "description": "The dimensions. If the metric contains multiple dimensions, you must include a value for each dimension. CloudWatch treats each unique combination of dimensions as a separate metric. If a specific combination of dimensions was not published, you can't retrieve statistics for it. You must specify the same dimensions that were used when the metrics were created. For an example, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#dimension-combinations\">Dimension Combinations</a> in the <i>Amazon CloudWatch User Guide</i>. For more information about specifying dimensions, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>."
        },
        "EndTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "<p>The time stamp that determines the last data point to return.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp. The time stamp must be in ISO 8601 UTC format (for example, 2016-10-10T23:00:00Z).</p>"
        },
        "ExtendedStatistics": {
          "$ref": "#/definitions/ExtendedStatistics",
          "description": "The percentile statistics. Specify values between p0.0 and p100. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "The name of the metric, with or without spaces."
        },
        "Namespace": {
          "$ref": "#/definitions/Namespace",
          "description": "The namespace of the metric, with or without spaces."
        },
        "Period": {
          "$ref": "#/definitions/Period",
          "description": "<p>The granularity, in seconds, of the returned data points. For metrics with regular resolution, a period can be as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected at intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics are those metrics stored by a <code>PutMetricData</code> call that includes a <code>StorageResolution</code> of 1 second.</p> <p>If the <code>StartTime</code> parameter specifies a time stamp that is greater than 3 hours ago, you must specify the period as follows or no data points in that time range is returned:</p> <ul> <li> <p>Start time between 3 hours and 15 days ago - Use a multiple of 60 seconds (1 minute).</p> </li> <li> <p>Start time between 15 and 63 days ago - Use a multiple of 300 seconds (5 minutes).</p> </li> <li> <p>Start time greater than 63 days ago - Use a multiple of 3600 seconds (1 hour).</p> </li> </ul>"
        },
        "StartTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "<p>The time stamp that determines the first data point to return. Start times are evaluated relative to the time that CloudWatch receives the request.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. The time stamp must be in ISO 8601 UTC format (for example, 2016-10-03T23:00:00Z).</p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is rounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous 10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a period of 5 seconds, you receive data timestamped between 15:02:15 and 15:07:15. </p>"
        },
        "Statistics": {
          "$ref": "#/definitions/Statistics",
          "description": "The metric statistics, other than percentile. For percentile statistics, use <code>ExtendedStatistics</code>. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both."
        },
        "Unit": {
          "$ref": "#/definitions/StandardUnit",
          "description": "The unit for a given metric. Metrics may be reported in multiple units. Not supplying a unit results in all units being returned. If the metric only ever reports one unit, specifying a unit has no effect."
        }
      },
      "required": [
        "Namespace",
        "MetricName",
        "StartTime",
        "EndTime",
        "Period"
      ],
      "type": "object"
    },
    "GetMetricStatisticsOutput": {
      "properties": {
        "Datapoints": {
          "$ref": "#/definitions/Datapoints",
          "description": "The data points for the specified metric."
        },
        "Label": {
          "$ref": "#/definitions/MetricLabel",
          "description": "A label for the specified metric."
        }
      },
      "type": "object"
    },
    "HistoryData": {
      "maxLength": 4095,
      "minLength": 1,
      "type": "string"
    },
    "HistoryItemType": {
      "enum": [
        "ConfigurationUpdate",
        "StateUpdate",
        "Action"
      ],
      "type": "string"
    },
    "HistorySummary": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "InternalServiceFault": {
      "description": "Request processing has failed due to some unknown error, exception, or failure.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/FaultDescription",
          "description": "<p/>"
        }
      },
      "type": "object"
    },
    "InvalidFormatFault": {
      "description": "Data was not syntactically valid JSON.",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "<p/>"
        }
      },
      "type": "object"
    },
    "InvalidNextToken": {
      "description": "The next token specified is invalid.",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "<p/>"
        }
      },
      "type": "object"
    },
    "InvalidParameterCombinationException": {
      "description": "Parameters were used together that cannot be used together.",
      "properties": {
        "message": {
          "$ref": "#/definitions/AwsQueryErrorMessage",
          "description": "<p/>"
        }
      },
      "type": "object"
    },
    "InvalidParameterValueException": {
      "description": "The value of an input parameter is bad or out-of-range.",
      "properties": {
        "message": {
          "$ref": "#/definitions/AwsQueryErrorMessage",
          "description": "<p/>"
        }
      },
      "type": "object"
    },
    "LastModified": {
      "format": "date-time",
      "type": "string"
    },
    "LimitExceededFault": {
      "description": "The quota for alarms for this customer has already been reached.",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "<p/>"
        }
      },
      "type": "object"
    },
    "ListDashboardsInput": {
      "properties": {
        "DashboardNamePrefix": {
          "$ref": "#/definitions/DashboardNamePrefix",
          "description": "If you specify this parameter, only the dashboards with names starting with the specified string are listed. The maximum length is 255, and valid characters are A-Z, a-z, 0-9, \".\", \"-\", and \"_\". "
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token returned by a previous call to indicate that there is more data available."
        }
      },
      "type": "object"
    },
    "ListDashboardsOutput": {
      "properties": {
        "DashboardEntries": {
          "$ref": "#/definitions/DashboardEntries",
          "description": "The list of matching dashboards."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token that marks the start of the next batch of returned results."
        }
      },
      "type": "object"
    },
    "ListMetricsInput": {
      "properties": {
        "Dimensions": {
          "$ref": "#/definitions/DimensionFilters",
          "description": "The dimensions to filter against."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "The name of the metric to filter against."
        },
        "Namespace": {
          "$ref": "#/definitions/Namespace",
          "description": "The namespace to filter against."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token returned by a previous call to indicate that there is more data available."
        }
      },
      "type": "object"
    },
    "ListMetricsOutput": {
      "properties": {
        "Metrics": {
          "$ref": "#/definitions/Metrics",
          "description": "The metrics."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token that marks the start of the next batch of returned results."
        }
      },
      "type": "object"
    },
    "MaxRecords": {
      "maximum": 100,
      "minimum": 1,
      "type": "integer"
    },
    "Message": {
      "type": "string"
    },
    "Metric": {
      "description": "Represents a specific metric.",
      "properties": {
        "Dimensions": {
          "$ref": "#/definitions/Dimensions",
          "description": "The dimensions for the metric."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "The name of the metric."
        },
        "Namespace": {
          "$ref": "#/definitions/Namespace",
          "description": "The namespace of the metric."
        }
      },
      "type": "object"
    },
    "MetricAlarm": {
      "description": "Represents an alarm.",
      "properties": {
        "ActionsEnabled": {
          "$ref": "#/definitions/ActionsEnabled",
          "description": "Indicates whether actions should be executed during any changes to the alarm state."
        },
        "AlarmActions": {
          "$ref": "#/definitions/ResourceList",
          "description": "The actions to execute when this alarm transitions to the <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN)."
        },
        "AlarmArn": {
          "$ref": "#/definitions/AlarmArn",
          "description": "The Amazon Resource Name (ARN) of the alarm."
        },
        "AlarmConfigurationUpdatedTimestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time stamp of the last update to the alarm configuration."
        },
        "AlarmDescription": {
          "$ref": "#/definitions/AlarmDescription",
          "description": "The description of the alarm."
        },
        "AlarmName": {
          "$ref": "#/definitions/AlarmName",
          "description": "The name of the alarm."
        },
        "ComparisonOperator": {
          "$ref": "#/definitions/ComparisonOperator",
          "description": "The arithmetic operation to use when comparing the specified statistic and threshold. The specified statistic value is used as the first operand."
        },
        "DatapointsToAlarm": {
          "$ref": "#/definitions/DatapointsToAlarm",
          "description": "The number of datapoints that must be breaching to trigger the alarm."
        },
        "Dimensions": {
          "$ref": "#/definitions/Dimensions",
          "description": "The dimensions for the metric associated with the alarm."
        },
        "EvaluateLowSampleCountPercentile": {
          "$ref": "#/definitions/EvaluateLowSampleCountPercentile",
          "description": "Used only for alarms based on percentiles. If <code>ignore</code>, the alarm state does not change during periods with too few data points to be statistically significant. If <code>evaluate</code> or this parameter is not used, the alarm is always evaluated and possibly changes state no matter how many data points are available."
        },
        "EvaluationPeriods": {
          "$ref": "#/definitions/EvaluationPeriods",
          "description": "The number of periods over which data is compared to the specified threshold."
        },
        "ExtendedStatistic": {
          "$ref": "#/definitions/ExtendedStatistic",
          "description": "The percentile statistic for the metric associated with the alarm. Specify a value between p0.0 and p100."
        },
        "InsufficientDataActions": {
          "$ref": "#/definitions/ResourceList",
          "description": "The actions to execute when this alarm transitions to the <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN)."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "The name of the metric associated with the alarm."
        },
        "Namespace": {
          "$ref": "#/definitions/Namespace",
          "description": "The namespace of the metric associated with the alarm."
        },
        "OKActions": {
          "$ref": "#/definitions/ResourceList",
          "description": "The actions to execute when this alarm transitions to the <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN)."
        },
        "Period": {
          "$ref": "#/definitions/Period",
          "description": "The period, in seconds, over which the statistic is applied."
        },
        "StateReason": {
          "$ref": "#/definitions/StateReason",
          "description": "An explanation for the alarm state, in text format."
        },
        "StateReasonData": {
          "$ref": "#/definitions/StateReasonData",
          "description": "An explanation for the alarm state, in JSON format."
        },
        "StateUpdatedTimestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time stamp of the last update to the alarm state."
        },
        "StateValue": {
          "$ref": "#/definitions/StateValue",
          "description": "The state value for the alarm."
        },
        "Statistic": {
          "$ref": "#/definitions/Statistic",
          "description": "The statistic for the metric associated with the alarm, other than percentile. For percentile statistics, use <code>ExtendedStatistic</code>."
        },
        "Threshold": {
          "$ref": "#/definitions/Threshold",
          "description": "The value to compare with the specified statistic."
        },
        "TreatMissingData": {
          "$ref": "#/definitions/TreatMissingData",
          "description": "Sets how this alarm is to handle missing data points. If this parameter is omitted, the default behavior of <code>missing</code> is used."
        },
        "Unit": {
          "$ref": "#/definitions/StandardUnit",
          "description": "The unit of the metric associated with the alarm."
        }
      },
      "type": "object"
    },
    "MetricAlarms": {
      "items": {
        "$ref": "#/definitions/MetricAlarm"
      },
      "type": "array"
    },
    "MetricData": {
      "items": {
        "$ref": "#/definitions/MetricDatum"
      },
      "type": "array"
    },
    "MetricDatum": {
      "description": "Encapsulates the information sent to either create a metric or add new values to be aggregated into an existing metric.",
      "properties": {
        "Dimensions": {
          "$ref": "#/definitions/Dimensions",
          "description": "The dimensions associated with the metric."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "The name of the metric."
        },
        "StatisticValues": {
          "$ref": "#/definitions/StatisticSet",
          "description": "The statistical values for the metric."
        },
        "StorageResolution": {
          "$ref": "#/definitions/StorageResolution",
          "description": "<p>Valid values are 1 and 60. Setting this to 1 specifies this metric as a high-resolution metric, so that CloudWatch stores the metric with sub-minute resolution down to one second. Setting this to 60 specifies this metric as a regular-resolution metric, which CloudWatch stores at 1-minute resolution. Currently, high resolution is available only for custom metrics. For more information about high-resolution metrics, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html#high-resolution-metrics\">High-Resolution Metrics</a> in the <i>Amazon CloudWatch User Guide</i>. </p> <p>This field is optional, if you do not specify it the default of 60 is used.</p>"
        },
        "Timestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time the metric data was received, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC."
        },
        "Unit": {
          "$ref": "#/definitions/StandardUnit",
          "description": "The unit of the metric."
        },
        "Value": {
          "$ref": "#/definitions/DatapointValue",
          "description": "<p>The value for the metric.</p> <p>Although the parameter accepts numbers of type Double, CloudWatch rejects values that are either too small or too large. Values must be in the range of 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2). In addition, special values (for example, NaN, +Infinity, -Infinity) are not supported.</p>"
        }
      },
      "required": [
        "MetricName"
      ],
      "type": "object"
    },
    "MetricLabel": {
      "type": "string"
    },
    "MetricName": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "Metrics": {
      "items": {
        "$ref": "#/definitions/Metric"
      },
      "type": "array"
    },
    "MissingRequiredParameterException": {
      "description": "An input parameter that is required is missing.",
      "properties": {
        "message": {
          "$ref": "#/definitions/AwsQueryErrorMessage",
          "description": "<p/>"
        }
      },
      "type": "object"
    },
    "Namespace": {
      "maxLength": 255,
      "minLength": 1,
      "pattern": "[^:].*",
      "type": "string"
    },
    "NextToken": {
      "maxLength": 1024,
      "minLength": 0,
      "type": "string"
    },
    "Period": {
      "minimum": 1,
      "type": "integer"
    },
    "PutDashboardInput": {
      "properties": {
        "DashboardBody": {
          "$ref": "#/definitions/DashboardBody",
          "description": "<p>The detailed information about the dashboard in JSON format, including the widgets to include and their location on the dashboard. This parameter is required.</p> <p>For more information about the syntax, see <a>CloudWatch-Dashboard-Body-Structure</a>.</p>"
        },
        "DashboardName": {
          "$ref": "#/definitions/DashboardName",
          "description": "The name of the dashboard. If a dashboard with this name already exists, this call modifies that dashboard, replacing its current contents. Otherwise, a new dashboard is created. The maximum length is 255, and valid characters are A-Z, a-z, 0-9, \"-\", and \"_\". This parameter is required."
        }
      },
      "required": [
        "DashboardName",
        "DashboardBody"
      ],
      "type": "object"
    },
    "PutDashboardOutput": {
      "properties": {
        "DashboardValidationMessages": {
          "$ref": "#/definitions/DashboardValidationMessages",
          "description": "<p>If the input for <code>PutDashboard</code> was correct and the dashboard was successfully created or modified, this result is empty.</p> <p>If this result includes only warning messages, then the input was valid enough for the dashboard to be created or modified, but some elements of the dashboard may not render.</p> <p>If this result includes error messages, the input was not valid and the operation failed.</p>"
        }
      },
      "type": "object"
    },
    "PutMetricAlarmInput": {
      "properties": {
        "ActionsEnabled": {
          "$ref": "#/definitions/ActionsEnabled",
          "description": "Indicates whether actions should be executed during any changes to the alarm state."
        },
        "AlarmActions": {
          "$ref": "#/definitions/ResourceList",
          "description": "<p>The actions to execute when this alarm transitions to the <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p> <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate | arn:aws:automate:<i>region</i>:ec2:recover | arn:aws:sns:<i>region</i>:<i>account-id</i>:<i>sns-topic-name</i> | arn:aws:autoscaling:<i>region</i>:<i>account-id</i>:scalingPolicy:<i>policy-id</i> autoScalingGroupName/<i>group-friendly-name</i>:policyName/<i>policy-friendly-name</i> </p> <p>Valid Values (for use with IAM roles): arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>"
        },
        "AlarmDescription": {
          "$ref": "#/definitions/AlarmDescription",
          "description": "The description for the alarm."
        },
        "AlarmName": {
          "$ref": "#/definitions/AlarmName",
          "description": "The name for the alarm. This name must be unique within the AWS account."
        },
        "ComparisonOperator": {
          "$ref": "#/definitions/ComparisonOperator",
          "description": " The arithmetic operation to use when comparing the specified statistic and threshold. The specified statistic value is used as the first operand."
        },
        "DatapointsToAlarm": {
          "$ref": "#/definitions/DatapointsToAlarm",
          "description": "The number of datapoints that must be breaching to trigger the alarm."
        },
        "Dimensions": {
          "$ref": "#/definitions/Dimensions",
          "description": "The dimensions for the metric associated with the alarm."
        },
        "EvaluateLowSampleCountPercentile": {
          "$ref": "#/definitions/EvaluateLowSampleCountPercentile",
          "description": "<p> Used only for alarms based on percentiles. If you specify <code>ignore</code>, the alarm state does not change during periods with too few data points to be statistically significant. If you specify <code>evaluate</code> or omit this parameter, the alarm is always evaluated and possibly changes state no matter how many data points are available. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html#percentiles-with-low-samples\">Percentile-Based CloudWatch Alarms and Low Data Samples</a>.</p> <p>Valid Values: <code>evaluate | ignore</code> </p>"
        },
        "EvaluationPeriods": {
          "$ref": "#/definitions/EvaluationPeriods",
          "description": "The number of periods over which data is compared to the specified threshold. An alarm's total current evaluation period can be no longer than one day, so this number multiplied by <code>Period</code> cannot be more than 86,400 seconds."
        },
        "ExtendedStatistic": {
          "$ref": "#/definitions/ExtendedStatistic",
          "description": "The percentile statistic for the metric associated with the alarm. Specify a value between p0.0 and p100. When you call <code>PutMetricAlarm</code>, you must specify either <code>Statistic</code> or <code>ExtendedStatistic,</code> but not both."
        },
        "InsufficientDataActions": {
          "$ref": "#/definitions/ResourceList",
          "description": "<p>The actions to execute when this alarm transitions to the <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p> <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate | arn:aws:automate:<i>region</i>:ec2:recover | arn:aws:sns:<i>region</i>:<i>account-id</i>:<i>sns-topic-name</i> | arn:aws:autoscaling:<i>region</i>:<i>account-id</i>:scalingPolicy:<i>policy-id</i> autoScalingGroupName/<i>group-friendly-name</i>:policyName/<i>policy-friendly-name</i> </p> <p>Valid Values (for use with IAM roles): arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>"
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "The name for the metric associated with the alarm."
        },
        "Namespace": {
          "$ref": "#/definitions/Namespace",
          "description": "The namespace for the metric associated with the alarm."
        },
        "OKActions": {
          "$ref": "#/definitions/ResourceList",
          "description": "<p>The actions to execute when this alarm transitions to an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p> <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate | arn:aws:automate:<i>region</i>:ec2:recover | arn:aws:sns:<i>region</i>:<i>account-id</i>:<i>sns-topic-name</i> | arn:aws:autoscaling:<i>region</i>:<i>account-id</i>:scalingPolicy:<i>policy-id</i> autoScalingGroupName/<i>group-friendly-name</i>:policyName/<i>policy-friendly-name</i> </p> <p>Valid Values (for use with IAM roles): arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>"
        },
        "Period": {
          "$ref": "#/definitions/Period",
          "description": "<p>The period, in seconds, over which the specified statistic is applied. Valid values are 10, 30, and any multiple of 60.</p> <p>Be sure to specify 10 or 30 only for metrics that are stored by a <code>PutMetricData</code> call with a <code>StorageResolution</code> of 1. If you specify a Period of 10 or 30 for a metric that does not have sub-minute resolution, the alarm still attempts to gather data at the period rate that you specify. In this case, it does not receive data for the attempts that do not correspond to a one-minute data resolution, and the alarm may often lapse into INSUFFICENT_DATA status. Specifying 10 or 30 also sets this alarm as a high-resolution alarm, which has a higher charge than other alarms. For more information about pricing, see <a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> <p>An alarm's total current evaluation period can be no longer than one day, so <code>Period</code> multiplied by <code>EvaluationPeriods</code> cannot be more than 86,400 seconds.</p>"
        },
        "Statistic": {
          "$ref": "#/definitions/Statistic",
          "description": "The statistic for the metric associated with the alarm, other than percentile. For percentile statistics, use <code>ExtendedStatistic</code>. When you call <code>PutMetricAlarm</code>, you must specify either <code>Statistic</code> or <code>ExtendedStatistic,</code> but not both."
        },
        "Threshold": {
          "$ref": "#/definitions/Threshold",
          "description": "The value against which the specified statistic is compared."
        },
        "TreatMissingData": {
          "$ref": "#/definitions/TreatMissingData",
          "description": "<p> Sets how this alarm is to handle missing data points. If <code>TreatMissingData</code> is omitted, the default behavior of <code>missing</code> is used. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html#alarms-and-missing-data\">Configuring How CloudWatch Alarms Treats Missing Data</a>.</p> <p>Valid Values: <code>breaching | notBreaching | ignore | missing</code> </p>"
        },
        "Unit": {
          "$ref": "#/definitions/StandardUnit",
          "description": "<p>The unit of measure for the statistic. For example, the units for the Amazon EC2 NetworkIn metric are Bytes because NetworkIn tracks the number of bytes that an instance receives on all network interfaces. You can also specify a unit when you create a custom metric. Units help provide conceptual meaning to your data. Metric data points that specify a unit of measure, such as Percent, are aggregated separately.</p> <p>If you specify a unit, you must use a unit that is appropriate for the metric. Otherwise, the CloudWatch alarm can get stuck in the <code>INSUFFICIENT DATA</code> state. </p>"
        }
      },
      "required": [
        "AlarmName",
        "MetricName",
        "Namespace",
        "Period",
        "EvaluationPeriods",
        "Threshold",
        "ComparisonOperator"
      ],
      "type": "object"
    },
    "PutMetricDataInput": {
      "properties": {
        "MetricData": {
          "$ref": "#/definitions/MetricData",
          "description": "The data for the metric."
        },
        "Namespace": {
          "$ref": "#/definitions/Namespace",
          "description": "<p>The namespace for the metric data.</p> <p>You cannot specify a namespace that begins with \"AWS/\". Namespaces that begin with \"AWS/\" are reserved for use by Amazon Web Services products.</p>"
        }
      },
      "required": [
        "Namespace",
        "MetricData"
      ],
      "type": "object"
    },
    "ResourceList": {
      "items": {
        "$ref": "#/definitions/ResourceName"
      },
      "maxItems": 5,
      "type": "array"
    },
    "ResourceName": {
      "maxLength": 1024,
      "minLength": 1,
      "type": "string"
    },
    "ResourceNotFound": {
      "description": "The named resource does not exist.",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "<p/>"
        }
      },
      "type": "object"
    },
    "SetAlarmStateInput": {
      "properties": {
        "AlarmName": {
          "$ref": "#/definitions/AlarmName",
          "description": "The name for the alarm. This name must be unique within the AWS account. The maximum length is 255 characters."
        },
        "StateReason": {
          "$ref": "#/definitions/StateReason",
          "description": "The reason that this alarm is set to this specific state, in text format."
        },
        "StateReasonData": {
          "$ref": "#/definitions/StateReasonData",
          "description": "The reason that this alarm is set to this specific state, in JSON format."
        },
        "StateValue": {
          "$ref": "#/definitions/StateValue",
          "description": "The value of the state."
        }
      },
      "required": [
        "AlarmName",
        "StateValue",
        "StateReason"
      ],
      "type": "object"
    },
    "Size": {
      "type": "integer"
    },
    "StandardUnit": {
      "enum": [
        "Seconds",
        "Microseconds",
        "Milliseconds",
        "Bytes",
        "Kilobytes",
        "Megabytes",
        "Gigabytes",
        "Terabytes",
        "Bits",
        "Kilobits",
        "Megabits",
        "Gigabits",
        "Terabits",
        "Percent",
        "Count",
        "Bytes/Second",
        "Kilobytes/Second",
        "Megabytes/Second",
        "Gigabytes/Second",
        "Terabytes/Second",
        "Bits/Second",
        "Kilobits/Second",
        "Megabits/Second",
        "Gigabits/Second",
        "Terabits/Second",
        "Count/Second",
        "None"
      ],
      "type": "string"
    },
    "StateReason": {
      "maxLength": 1023,
      "minLength": 0,
      "type": "string"
    },
    "StateReasonData": {
      "maxLength": 4000,
      "minLength": 0,
      "type": "string"
    },
    "StateValue": {
      "enum": [
        "OK",
        "ALARM",
        "INSUFFICIENT_DATA"
      ],
      "type": "string"
    },
    "Statistic": {
      "enum": [
        "SampleCount",
        "Average",
        "Sum",
        "Minimum",
        "Maximum"
      ],
      "type": "string"
    },
    "StatisticSet": {
      "description": "Represents a set of statistics that describes a specific metric. ",
      "properties": {
        "Maximum": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The maximum value of the sample set."
        },
        "Minimum": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The minimum value of the sample set."
        },
        "SampleCount": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The number of samples used for the statistic set."
        },
        "Sum": {
          "$ref": "#/definitions/DatapointValue",
          "description": "The sum of values for the sample set."
        }
      },
      "required": [
        "SampleCount",
        "Sum",
        "Minimum",
        "Maximum"
      ],
      "type": "object"
    },
    "Statistics": {
      "items": {
        "$ref": "#/definitions/Statistic"
      },
      "maxItems": 5,
      "minItems": 1,
      "type": "array"
    },
    "StorageResolution": {
      "minimum": 1,
      "type": "integer"
    },
    "Threshold": {
      "format": "double",
      "type": "number"
    },
    "Timestamp": {
      "format": "date-time",
      "type": "string"
    },
    "TreatMissingData": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    }
  }
}