{
  "swagger": "2.0",
  "info": {
    "description": "An Orchestration Layer that takes ISL services and packages them in a more targeted way for front-end applications.\nThis in turn makes client integration easier and reduces the complexity and size of front-end applications.\n\nRocket is also customisable - allowing UI engineers to ‘remix’ the existing back-end services into something that\nbest suits the application they are developing.\n",
    "title": "Rocket Services",
    "version": "3.730.205-ref-1-39-0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://isl.britbox.co.uk/api/spec",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "britbox.co.uk",
    "x-datafire": {
      "name": "britbox",
      "type": "openapi"
    }
  },
  "host": "isl.britbox.co.uk",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/account": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get the details of an account along with the profiles and entitlements under it.",
        "operationId": "getAccount"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          },
          {
            "description": "Updated account details.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Settings"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Update the details of an account.\n\nWith the exception of the address, this supports partial updates, so you can send just the\nproperties you wish to update.\n\nWhen the address is provided any properties which are omitted from the address will be cleared.\n",
        "operationId": "updateAccount"
      },
      "x-serviceId": "account"
    },
    "/account/billing/methods": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of available payment methods.",
            "schema": {
              "items": {
                "$ref": "#/definitions/PaymentMethod"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get the available payment methods under an account.",
        "operationId": "getPaymentMethods"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          },
          {
            "description": "Registration details for a new payment method.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddPaymentMethodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The created payment method.",
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Commerce"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Add a new payment method to an account.",
        "operationId": "addPaymentMethod"
      },
      "x-serviceId": "billing"
    },
    "/account/billing/methods/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the payment method to remove.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Payment method removed."
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Commerce"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Remove a payment method from an account.",
        "operationId": "removePaymentMethod"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the payment method to get.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The payment method requested.",
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get a payment method under an account.",
        "operationId": "getPaymentMethod"
      },
      "x-serviceId": "billing"
    },
    "/account/billing/purchases": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all purchases made under the account.",
            "schema": {
              "items": {
                "$ref": "#/definitions/Purchase"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Commerce"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get a list of all purchases made under an account.",
        "operationId": "getPurchases"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          },
          {
            "description": "Details of a plan or item purchase.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The entitlement for the purchased plan or item.",
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Commerce"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Purchase a plan or item offer.\nThe result of a successful transaction is a new entitlement.\n",
        "operationId": "makePurchase"
      },
      "x-serviceId": "billing"
    },
    "/account/billing/subscriptions/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the current active subscription membership of the account.\n",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Commerce"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Cancel a plan subscription.\n\nA cancelled subscription will continue to be valid until the subscription\nexpiry date or next renewal date.\n",
        "operationId": "cancelSubscription"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the current subscription membership\nassociated with the account.\n",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the plan to switch to if switching plans.",
            "in": "query",
            "name": "planId",
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Commerce"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Renew a cancelled subscription or switch subscription to a different plan.\n\nWhen renewing a cancelled subscription membership, hit this endpoint with\nthe id of subscription to renew.\n\nTo switch plans provide the id of the current active subscription membership\nof the account, and in the query specify the id of the plan to switch to.\n",
        "operationId": "updateSubscription"
      },
      "x-serviceId": "billing"
    },
    "/account/devices": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountDevices"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get all devices registered under this account.\n\nAlso includes information around device registration and deregistration limits.\n",
        "operationId": "getDevices"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          },
          {
            "description": "Registration details for a new playback device.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRegistrationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "409": {
            "description": "A device with the provided id already exists.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Register a playback device under an account.\n\nIf a device with the same id already exists a `409` conflict will be returned.\n",
        "operationId": "registerDevice"
      },
      "x-serviceId": "device"
    },
    "/account/devices/authorization": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          },
          {
            "description": "The generated device authorization code.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceAuthorizationCode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Authorize a device from a generated device authorization code.\n\nThis is the second step in the process of authorizing a device by pin code.\n\nFirstly the device must request a generated authorization code via the\n`/authorization/device/code` endpoint.\n\nThis endpoint then authorizes the device associated with the code to sign in\nto a user account. Typically this endpoint will be called from a page\npresented in the web app under the account section.\n\nOnce authorized, the device will then be able to sign in to that account\nvia the `/authorization/device` endpoint, without needing to provide the\ncredentials of the user.\n",
        "operationId": "authorizeDevice"
      },
      "x-serviceId": "itvAuth"
    },
    "/account/devices/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the registered device e.g. serial number.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Device deregistered."
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Deregister a playback device from an account.",
        "operationId": "deregisterDevice"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the registered device e.g. serial number.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get a registered device.",
        "operationId": "getDevice"
      },
      "x-serviceId": "device"
    },
    "/account/devices/{id}/name": {
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for this registered device e.g. serial number.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The new name for the device.",
            "in": "query",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Device renamed."
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Rename a device",
        "operationId": "renameDevice"
      },
      "x-serviceId": "device"
    },
    "/account/entitlements": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Entitlement"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get all entitlements under the account.\n\nThis list is returned under the call to get account information so a call here is\nonly required when wishing to refresh a local copy of entitlements.\n",
        "operationId": "getEntitlements"
      },
      "x-serviceId": "entitlement"
    },
    "/account/items/{id}/videos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the item whose video files to load.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The video delivery type you require.",
            "in": "query",
            "items": {
              "enum": [
                "stream",
                "progressive",
                "download"
              ],
              "type": "string"
            },
            "name": "delivery",
            "required": true,
            "type": "array"
          },
          {
            "description": "The maximum resolution the device to playback the media can present.",
            "enum": [
              "HD-4K",
              "HD-1080",
              "HD-720",
              "SD",
              "External"
            ],
            "in": "query",
            "name": "resolution",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of media file formats that the device supports, in the order of preference.\n\nWhen provided, Rocket API returns only media files in formats specified in this parameter. For each resolution, only the first media file of matching supported format is returned. Files of different resolutions may be of different supported media file formats.\n\n`external` value is reserved for project customizations where the real MIME type of the file on the specified URL is unknown at the time of ingestion.\n\nWhen not provided, Rocket API uses the legacy `User-Agent` header-based logic to find matching media files.\n",
            "in": "query",
            "items": {
              "enum": [
                "mp4",
                "mpd",
                "hls",
                "external"
              ],
              "type": "string"
            },
            "name": "formats",
            "type": "array"
          },
          {
            "default": "web_browser",
            "description": "The type of device the content is targeting.",
            "in": "query",
            "name": "device",
            "type": "string"
          },
          {
            "description": "The active subscription code.",
            "in": "query",
            "name": "sub",
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The list of segments to filter the response by.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "segments",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of video files available.\nThe first entry containing what is predicted to be the best match.\n",
            "schema": {
              "items": {
                "$ref": "#/definitions/MediaFile"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get the video files associated with an item given maximum resolution, device type\nand one or more delivery types.\n\nThis endpoint accepts an Account Catalog token, however if when requesting\nplayback files you receive an *403 status code with error code 1* then the file\nyou're requesting is classification restricted. This means you should switch\nto target the `/account/items/{id}/videos-guarded` endpoint, passing it an Account\nPlayback token. If not already obtained, this token can be requested via the\n`/itv/pinauthorization` endpoint with an account level pin.\n\nFor convenience you may also access free / public files through this endpoint\ninstead of the /items/{id}/videos endpoint, when authenticated.\n\nReturns an array of video file objects which each include a url to a video.\n\nThe first entry in the array contains what is predicted to be the best match.\nThe remainder of the entries, if any, may contain resolutions below what was\nrequests. For example if you request HD-720 the response may also contain\nSD entries.\n\nIf you specify multiple delivery types, then the response array will insert\ntypes in the order you specify them in the query. For example `stream,progressive`\nwould return an array with 0 or more stream files followed by 0 or more progressive files.\n\nIf no files are found a 404 is returned.\n",
        "operationId": "getItemMediaFiles"
      },
      "x-serviceId": "media"
    },
    "/account/items/{id}/videos-guarded": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the item whose video files to load.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The video delivery type you require.",
            "in": "query",
            "items": {
              "enum": [
                "stream",
                "progressive",
                "download"
              ],
              "type": "string"
            },
            "name": "delivery",
            "required": true,
            "type": "array"
          },
          {
            "description": "The maximum resolution the device to playback the media can present.",
            "enum": [
              "HD-4K",
              "HD-1080",
              "HD-720",
              "SD",
              "External"
            ],
            "in": "query",
            "name": "resolution",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of media file formats that the device supports, in the order of preference.\n\nWhen provided, Rocket API returns only media files in formats specified in this parameter. For each resolution, only the first media file of matching supported format is returned. Files of different resolutions may be of different supported media file formats.\n\n`external` value is reserved for project customizations where the real MIME type of the file on the specified URL is unknown at the time of ingestion.\n\nWhen not provided, Rocket API uses the legacy `User-Agent` header-based logic to find matching media files.\n",
            "in": "query",
            "items": {
              "enum": [
                "mp4",
                "mpd",
                "hls",
                "external"
              ],
              "type": "string"
            },
            "name": "formats",
            "type": "array"
          },
          {
            "default": "web_browser",
            "description": "The type of device the content is targeting.",
            "in": "query",
            "name": "device",
            "type": "string"
          },
          {
            "description": "The active subscription code.",
            "in": "query",
            "name": "sub",
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The list of segments to filter the response by.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "segments",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of video files available.\nThe first entry containing what is predicted to be the best match.\n",
            "schema": {
              "items": {
                "$ref": "#/definitions/MediaFile"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Playback"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Get the video files associated with an item given maximum resolution, device type\nand one or more delivery types.\n\nThis endpoint is identical to the `/account/items/{id}/videos` however it expects\nan Account Playback token. This token, and in association this endpoint, is specifically\nfor use when playback files are classification restricted and require an account\nlevel pin to access them.\n\nReturns an array of video file objects which each include a url to a video.\n\nThe first entry in the array contains what is predicted to be the best match.\nThe remainder of the entries, if any, may contain resolutions below what was\nrequests. For example if you request HD-720 the response may also contain\nSD entries.\n\nIf you specify multiple delivery types, then the response array will insert\ntypes in the order you specify them in the query. For example `stream,progressive`\nwould return an array with 0 or more stream files followed by 0 or more progressive files.\n\nIf no files are found a 404 is returned.\n",
        "operationId": "getItemMediaFilesGuarded"
      },
      "x-serviceId": "media"
    },
    "/account/nonce": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountNonce"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Catalog"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Generate a new account nonce.\n\nA nonce may be required to help sign a response from a third party\nservice which will be passed back to these services.\n\nFor example a Facebook single-sign-on request initiated by a client\napplication may first get a nonce from here to include in the request.\nFacebook will then include the nonce in the auth token it issues. This\ntoken can be passed back to our services and the nonce checked for validity.\n",
        "operationId": "generateNonce"
      },
      "x-serviceId": "account"
    },
    "/account/password": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          },
          {
            "description": "The new account password & ITV profile token.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePasswordRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Settings"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Change the password of an account.\n\nThe expected token scope is Settings.\n",
        "operationId": "changePassword"
      },
      "x-serviceId": "itvPassword"
    },
    "/account/pin": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
            "description": "Language code for the preferred language to be returned in the response.\n\nParameter value is case-insensitive and should be\n  - a valid 2 letter language code without region such as en, de\n  - or with region such as en_us, en_au\n\nIf undefined then defaults to 'en', unless the server has been configured\nwith a custom default.\n\nSee https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes\n",
            "in": "query",
            "name": "lang",
            "type": "string"
          },
          {
            "description": "The new account pin.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePinRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "401": {
            "description": "Invalid access token.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          },
          "default": {
            "description": "Service error.",
            "schema": {
              "$ref": "#/definitions/ServiceError"
            }
          }
        },
        "security": [
          {
            "accountAuth": [
              "Settings"
            ]
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Change the pin of an account.",
        "operationId": "changePin"
      },
      "x-serviceId": "itvAccount"
    },
    "/account/profile": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The set of opt in feature flags which cause breaking changes to responses.\n\nWhile Rocket APIs look to avoid breaking changes under the active major version, the formats of responses\nmay need to evolve over this time.\n\nThese feature flags allow clients to select which response formats they expect and avoid breaking\nclients as these formats evolve under the current major version.\n\n### Flags\n\n- `all` - Enable all flags. Useful for testing. _Don't use in production_.\n- `idp` - Dynamic item detail pages with schedulable rows.\n- `ldp` - Dynamic list detail pages with schedulable rows.\n- `hb` - Hubble formatted image urls.\n- `rpt` - Updated resume point threshold logic.\n- `cas` - \"Custom Asset Search\", inlcude `customAssets` in search results.\n- `lrl` - Do not pre-populate related list if more than `max_list_prefetch` down the page.\n- `cd` - Custom Destination support.\n\nSee the `feature-flags.md` for available flag details.\n",
            "in": "query",
            "items": {
              "enum": [
                "all",
                "idp",
                "ldp",
                "hb",
                "rpt",
                "cas",
                "lrl",
                "cd"
              ],
              "type": "string"
            },
            "name": "ff",
            "type": "array"
          },
          {
[...]
