{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache, customers get all of the benefits of a high-performance, in-memory cache with less of the administrative burden involved in launching and managing a distributed cache. The service makes setup, scaling, and cluster failure handling much simpler than in a self-managed cache deployment.</p> <p>In addition, through integration with Amazon CloudWatch, customers get enhanced visibility into the key performance statistics associated with their cache and can receive alarms if a part of their cache runs hot.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon ElastiCache",
    "version": "2015-02-02",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticache-2015-02-02.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "elasticache",
    "x-datafire": {
      "name": "amazonaws_elasticache",
      "type": "openapi"
    }
  },
  "host": "elasticache.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#Action=AddTagsToResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The Amazon Resource Name (ARN) of the resource to which the tags are to be added, for example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code> or <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>. ElastiCache resources are <i>cluster</i> and <i>snapshot</i>.</p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "in": "query",
            "name": "ResourceName",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of cost allocation tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/Tag"
                },
                {
                  "xml": {
                    "name": "Tag"
                  }
                }
              ]
            },
            "name": "Tags",
            "required": true,
            "type": "array"
          },
          {
            "enum": [
              "AddTagsToResource"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagListMessage"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "TagQuotaPerResourceExceeded",
            "schema": {
              "$ref": "#/definitions/TagQuotaPerResourceExceeded"
            }
          },
          "483": {
            "description": "InvalidARNFault",
            "schema": {
              "$ref": "#/definitions/InvalidARNFault"
            }
          }
        },
        "description": "<p>Adds up to 50 cost allocation tags to the named resource. A cost allocation tag is a key-value pair where the key and value are case-sensitive. You can use cost allocation tags to categorize and track your AWS costs.</p> <p> When you apply tags to your ElastiCache resources, AWS generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>",
        "operationId": "GET_AddTagsToResource",
        "x-aws-operation-name": "AddTagsToResource"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "AddTagsToResource"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddTagsToResourceMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagListMessage"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "TagQuotaPerResourceExceeded",
            "schema": {
              "$ref": "#/definitions/TagQuotaPerResourceExceeded"
            }
          },
          "483": {
            "description": "InvalidARNFault",
            "schema": {
              "$ref": "#/definitions/InvalidARNFault"
            }
          }
        },
        "description": "<p>Adds up to 50 cost allocation tags to the named resource. A cost allocation tag is a key-value pair where the key and value are case-sensitive. You can use cost allocation tags to categorize and track your AWS costs.</p> <p> When you apply tags to your ElastiCache resources, AWS generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>",
        "operationId": "POST_AddTagsToResource",
        "x-aws-operation-name": "AddTagsToResource"
      }
    },
    "/#Action=AuthorizeCacheSecurityGroupIngress": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The cache security group that allows network ingress.",
            "in": "query",
            "name": "CacheSecurityGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The Amazon EC2 security group to be authorized for ingress to the cache security group.",
            "in": "query",
            "name": "EC2SecurityGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The AWS account number of the Amazon EC2 security group owner. Note that this is not the same thing as an AWS access key ID - you must provide a valid AWS account number for this parameter.",
            "in": "query",
            "name": "EC2SecurityGroupOwnerId",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "AuthorizeCacheSecurityGroupIngress"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeCacheSecurityGroupIngressResult"
            }
          },
          "480": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidCacheSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>",
        "operationId": "GET_AuthorizeCacheSecurityGroupIngress",
        "x-aws-operation-name": "AuthorizeCacheSecurityGroupIngress"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "AuthorizeCacheSecurityGroupIngress"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AuthorizeCacheSecurityGroupIngressMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeCacheSecurityGroupIngressResult"
            }
          },
          "480": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidCacheSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>",
        "operationId": "POST_AuthorizeCacheSecurityGroupIngress",
        "x-aws-operation-name": "AuthorizeCacheSecurityGroupIngress"
      }
    },
    "/#Action=BatchApplyUpdateAction": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The replication group IDs",
            "in": "query",
            "items": {
              "$ref": "#/definitions/String"
            },
            "maxItems": 20,
            "name": "ReplicationGroupIds",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The cache cluster IDs",
            "in": "query",
            "items": {
              "$ref": "#/definitions/String"
            },
            "maxItems": 20,
            "name": "CacheClusterIds",
            "required": false,
            "type": "array"
          },
          {
            "description": "The unique ID of the service update",
            "in": "query",
            "name": "ServiceUpdateName",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "BatchApplyUpdateAction"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateActionResultsMessage"
            }
          },
          "480": {
            "description": "ServiceUpdateNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ServiceUpdateNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "description": "Apply the service update. For more information on service updates and applying them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/applying-updates.html\">Applying Service Updates</a>.",
        "operationId": "GET_BatchApplyUpdateAction",
        "x-aws-operation-name": "BatchApplyUpdateAction"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "BatchApplyUpdateAction"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchApplyUpdateActionMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateActionResultsMessage"
            }
          },
          "480": {
            "description": "ServiceUpdateNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ServiceUpdateNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "description": "Apply the service update. For more information on service updates and applying them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/applying-updates.html\">Applying Service Updates</a>.",
        "operationId": "POST_BatchApplyUpdateAction",
        "x-aws-operation-name": "BatchApplyUpdateAction"
      }
    },
    "/#Action=BatchStopUpdateAction": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The replication group IDs",
            "in": "query",
            "items": {
              "$ref": "#/definitions/String"
            },
            "maxItems": 20,
            "name": "ReplicationGroupIds",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The cache cluster IDs",
            "in": "query",
            "items": {
              "$ref": "#/definitions/String"
            },
            "maxItems": 20,
            "name": "CacheClusterIds",
            "required": false,
            "type": "array"
          },
          {
            "description": "The unique ID of the service update",
            "in": "query",
            "name": "ServiceUpdateName",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "BatchStopUpdateAction"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateActionResultsMessage"
            }
          },
          "480": {
            "description": "ServiceUpdateNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ServiceUpdateNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "description": "Stop the service update. For more information on service updates and stopping them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/stopping-self-service-updates.html\">Stopping Service Updates</a>.",
        "operationId": "GET_BatchStopUpdateAction",
        "x-aws-operation-name": "BatchStopUpdateAction"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "BatchStopUpdateAction"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchStopUpdateActionMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateActionResultsMessage"
            }
          },
          "480": {
            "description": "ServiceUpdateNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ServiceUpdateNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "description": "Stop the service update. For more information on service updates and stopping them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/stopping-self-service-updates.html\">Stopping Service Updates</a>.",
        "operationId": "POST_BatchStopUpdateAction",
        "x-aws-operation-name": "BatchStopUpdateAction"
      }
    },
    "/#Action=CompleteMigration": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The ID of the replication group to which data is being migrated.",
            "in": "query",
            "name": "ReplicationGroupId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Forces the migration to stop without ensuring that data is in sync. It is recommended to use this option only to abort the migration and not recommended when application wants to continue migration to ElastiCache.",
            "in": "query",
            "name": "Force",
            "required": false,
            "type": "boolean"
          },
          {
            "enum": [
              "CompleteMigration"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompleteMigrationResponse"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReplicationGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReplicationGroupStateFault"
            }
          },
          "482": {
            "description": "ReplicationGroupNotUnderMigrationFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotUnderMigrationFault"
            }
          }
        },
        "description": "Complete the migration of data.",
        "operationId": "GET_CompleteMigration",
        "x-aws-operation-name": "CompleteMigration"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CompleteMigration"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CompleteMigrationMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompleteMigrationResponse"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReplicationGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReplicationGroupStateFault"
            }
          },
          "482": {
            "description": "ReplicationGroupNotUnderMigrationFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotUnderMigrationFault"
            }
          }
        },
        "description": "Complete the migration of data.",
        "operationId": "POST_CompleteMigration",
        "x-aws-operation-name": "CompleteMigration"
      }
    },
    "/#Action=CopySnapshot": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of an existing snapshot from which to make a copy.",
            "in": "query",
            "name": "SourceSnapshotName",
            "required": true,
            "type": "string"
          },
          {
            "description": "A name for the snapshot copy. ElastiCache does not permit overwriting a snapshot, therefore this name must be unique within its context - ElastiCache or an Amazon S3 bucket if exporting.",
            "in": "query",
            "name": "TargetSnapshotName",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The Amazon S3 bucket to which the snapshot is exported. This parameter is used only when exporting a snapshot for external access.</p> <p>When using this parameter to export a snapshot, be sure Amazon ElastiCache has the needed permissions to this S3 bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the <i>Amazon ElastiCache User Guide</i>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html\">Exporting a Snapshot</a> in the <i>Amazon ElastiCache User Guide</i>.</p>",
            "in": "query",
            "name": "TargetBucket",
            "required": false,
            "type": "string"
          },
          {
            "description": "The ID of the KMS key used to encrypt the target snapshot.",
            "in": "query",
            "name": "KmsKeyId",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "CopySnapshot"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopySnapshotResult"
            }
          },
          "480": {
            "description": "SnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/SnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          },
          "483": {
            "description": "InvalidSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidSnapshotStateFault"
            }
          },
          "484": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "485": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Makes a copy of an existing snapshot.</p> <note> <p>This operation is valid for Redis only.</p> </note> <important> <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <code>CopySnapshot</code> operation. For more information about using IAM to control the use of ElastiCache operations, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html\">Exporting Snapshots</a> and <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/IAM.html\">Authentication &amp; Access Control</a>.</p> </important> <p>You could receive the following error messages.</p> <p class=\"title\"> <b>Error Messages</b> </p> <ul> <li> <p> <b>Error Message:</b> The S3 bucket %s is outside of the region.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s does not exist.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s is not owned by the authenticated user.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s already contains an object with key %s.</p> <p> <b>Solution:</b> Give the <code>TargetSnapshotName</code> a new and unique value. If exporting a snapshot, you could alternatively create a new Amazon S3 bucket and use this same value for <code>TargetSnapshotName</code>.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add List and Read permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted WRITE permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add Upload/Delete permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ_ACP permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add View Permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> </ul>",
        "operationId": "GET_CopySnapshot",
        "x-aws-operation-name": "CopySnapshot"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CopySnapshot"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CopySnapshotMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopySnapshotResult"
            }
          },
          "480": {
            "description": "SnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/SnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          },
          "483": {
            "description": "InvalidSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidSnapshotStateFault"
            }
          },
          "484": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "485": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Makes a copy of an existing snapshot.</p> <note> <p>This operation is valid for Redis only.</p> </note> <important> <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <code>CopySnapshot</code> operation. For more information about using IAM to control the use of ElastiCache operations, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html\">Exporting Snapshots</a> and <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/IAM.html\">Authentication &amp; Access Control</a>.</p> </important> <p>You could receive the following error messages.</p> <p class=\"title\"> <b>Error Messages</b> </p> <ul> <li> <p> <b>Error Message:</b> The S3 bucket %s is outside of the region.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s does not exist.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s is not owned by the authenticated user.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s already contains an object with key %s.</p> <p> <b>Solution:</b> Give the <code>TargetSnapshotName</code> a new and unique value. If exporting a snapshot, you could alternatively create a new Amazon S3 bucket and use this same value for <code>TargetSnapshotName</code>.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add List and Read permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted WRITE permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add Upload/Delete permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ_ACP permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add View Permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> </ul>",
        "operationId": "POST_CopySnapshot",
        "x-aws-operation-name": "CopySnapshot"
      }
    },
    "/#Action=CreateCacheCluster": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The node group (shard) identifier. This parameter is stored as a lowercase string.</p> <p> <b>Constraints:</b> </p> <ul> <li> <p>A name must contain from 1 to 50 alphanumeric characters or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>A name cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>",
            "in": "query",
            "name": "CacheClusterId",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The ID of the replication group to which this cluster should belong. If this parameter is specified, the cluster is added to the specified replication group as a read replica; otherwise, the cluster is a standalone primary that is not part of any replication group.</p> <p>If the specified replication group is Multi-AZ enabled and the Availability Zone is not specified, the cluster is created in Availability Zones that provide the best spread of read replicas across Availability Zones.</p> <note> <p>This parameter is only valid if the <code>Engine</code> parameter is <code>redis</code>.</p> </note>",
            "in": "query",
            "name": "ReplicationGroupId",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>Specifies whether the nodes in this Memcached cluster are created in a single Availability Zone or created across multiple Availability Zones in the cluster's region.</p> <p>This parameter is only supported for Memcached clusters.</p> <p>If the <code>AZMode</code> and <code>PreferredAvailabilityZones</code> are not specified, ElastiCache assumes <code>single-az</code> mode.</p>",
            "enum": [
              "single-az",
              "cross-az"
            ],
            "in": "query",
            "name": "AZMode",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The EC2 Availability Zone in which the cluster is created.</p> <p>All nodes belonging to this cluster are placed in the preferred Availability Zone. If you want to create your nodes across multiple Availability Zones, use <code>PreferredAvailabilityZones</code>.</p> <p>Default: System chosen Availability Zone.</p>",
            "in": "query",
            "name": "PreferredAvailabilityZone",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>A list of the Availability Zones in which cache nodes are created. The order of the zones in the list is not important.</p> <p>This option is only supported on Memcached.</p> <note> <p>If you are creating your cluster in an Amazon VPC (recommended) you can only locate nodes in Availability Zones that are associated with the subnets in the selected subnet group.</p> <p>The number of Availability Zones listed must equal the value of <code>NumCacheNodes</code>.</p> </note> <p>If you want all the nodes in the same Availability Zone, use <code>PreferredAvailabilityZone</code> instead, or repeat the Availability Zone multiple times in the list.</p> <p>Default: System chosen Availability Zones.</p>",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "PreferredAvailabilityZone"
                  }
                }
              ]
            },
            "name": "PreferredAvailabilityZones",
            "required": false,
            "type": "array"
          },
          {
            "description": "<p>The initial number of cache nodes that the cluster has.</p> <p>For clusters running Redis, this value must be 1. For clusters running Memcached, this value must be between 1 and 20.</p> <p>If you need more than 20 nodes for your Memcached cluster, please fill out the ElastiCache Limit Increase Request form at <a href=\"http://aws.amazon.com/contact-us/elasticache-node-limit-request/\">http://aws.amazon.com/contact-us/elasticache-node-limit-request/</a>.</p>",
            "in": "query",
            "name": "NumCacheNodes",
            "required": false,
            "type": "integer"
          },
          {
            "description": "<p>The compute and memory capacity of the nodes in the node group (shard).</p> <p>The following node types are supported by ElastiCache. Generally speaking, the current generation types provide more memory and computational power at lower cost when compared to their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>M6g node types</b> (available only for Redis engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward).</p> <p> <code>cache.m6g.large</code>, <code>cache.m6g.xlarge</code>, <code>cache.m6g.2xlarge</code>, <code>cache.m6g.4xlarge</code>, <code>cache.m6g.8xlarge</code>, <code>cache.m6g.12xlarge</code>, <code>cache.m6g.16xlarge</code> </p> <note> <p>At this time, M6g node types are available in the following regions: us-east-1, us-west-2, us-east-2, eu-central-1, eu-west-1 and ap-northeast-1.</p> </note> <p> <b>M5 node types:</b> <code>cache.m5.large</code>, <code>cache.m5.xlarge</code>, <code>cache.m5.2xlarge</code>, <code>cache.m5.4xlarge</code>, <code>cache.m5.12xlarge</code>, <code>cache.m5.24xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> <p> <b>T3 node types:</b> <code>cache.t3.micro</code>, <code>cache.t3.small</code>, <code>cache.t3.medium</code> </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R6g node types</b> (available only for Redis engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward).</p> <p> <code>cache.r6g.large</code>, <code>cache.r6g.xlarge</code>, <code>cache.r6g.2xlarge</code>, <code>cache.r6g.4xlarge</code>, <code>cache.r6g.8xlarge</code>, <code>cache.r6g.12xlarge</code>, <code>cache.r6g.16xlarge</code> </p> <note> <p>At this time, R6g node types are available in the following regions: us-east-1, us-west-2, us-east-2, eu-central-1, eu-west-1 and ap-northeast-1.</p> </note> <p> <b>R5 node types:</b> <code>cache.r5.large</code>, <code>cache.r5.xlarge</code>, <code>cache.r5.2xlarge</code>, <code>cache.r5.4xlarge</code>, <code>cache.r5.12xlarge</code>, <code>cache.r5.24xlarge</code> </p> <p> <b>R4 node types:</b> <code>cache.r4.large</code>, <code>cache.r4.xlarge</code>, <code>cache.r4.2xlarge</code>, <code>cache.r4.4xlarge</code>, <code>cache.r4.8xlarge</code>, <code>cache.r4.16xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Additional node type info</b> </p> <ul> <li> <p>All current generation instance types are created in Amazon VPC by default.</p> </li> <li> <p>Redis append-only files (AOF) are not supported for T1 or T2 instances.</p> </li> <li> <p>Redis Multi-AZ with automatic failover is not supported on T1 instances.</p> </li> <li> <p>Redis configuration variables <code>appendonly</code> and <code>appendfsync</code> are not supported on Redis version 2.8.22 and later.</p> </li> </ul>",
            "in": "query",
            "name": "CacheNodeType",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The name of the cache engine to be used for this cluster.</p> <p>Valid values for this parameter are: <code>memcached</code> | <code>redis</code> </p>",
            "in": "query",
            "name": "Engine",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The version number of the cache engine to be used for this cluster. To view the supported cache engine versions, use the DescribeCacheEngineVersions operation.</p> <p> <b>Important:</b> You can upgrade to a newer engine version (see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/SelectEngine.html#VersionManagement\">Selecting a Cache Engine and Version</a>), but you cannot downgrade to an earlier engine version. If you want to use an earlier engine version, you must delete the existing cluster or replication group and create it anew with the earlier engine version. </p>",
            "in": "query",
            "name": "EngineVersion",
            "required": false,
            "type": "string"
          },
          {
            "description": "The name of the parameter group to associate with this cluster. If this argument is omitted, the default parameter group for the specified engine is used. You cannot use any parameter group which has <code>cluster-enabled='yes'</code> when creating a cluster.",
            "in": "query",
            "name": "CacheParameterGroupName",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The name of the subnet group to be used for the cluster.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p> <important> <p>If you're going to launch your cluster in an Amazon VPC, you need to create a subnet group before you start creating a cluster. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/SubnetGroups.html\">Subnets and Subnet Groups</a>.</p> </important>",
            "in": "query",
            "name": "CacheSubnetGroupName",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>A list of security group names to associate with this cluster.</p> <p>Use this parameter only when you are creating a cluster outside of an Amazon Virtual Private Cloud (Amazon VPC).</p>",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "CacheSecurityGroupName"
                  }
                }
              ]
            },
            "name": "CacheSecurityGroupNames",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>One or more VPC security groups associated with the cluster.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "SecurityGroupId"
                  }
                }
              ]
            },
            "name": "SecurityGroupIds",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of cost allocation tags to be added to this resource.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/Tag"
                },
                {
                  "xml": {
                    "name": "Tag"
                  }
                }
              ]
            },
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>A single-element string list containing an Amazon Resource Name (ARN) that uniquely identifies a Redis RDB snapshot file stored in Amazon S3. The snapshot file is used to populate the node group (shard). The Amazon S3 object name in the ARN cannot contain any commas.</p> <note> <p>This parameter is only valid if the <code>Engine</code> parameter is <code>redis</code>.</p> </note> <p>Example of an Amazon S3 ARN: <code>arn:aws:s3:::my_bucket/snapshot1.rdb</code> </p>",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "SnapshotArn"
                  }
                }
              ]
            },
            "name": "SnapshotArns",
            "required": false,
            "type": "array"
          },
          {
            "description": "<p>The name of a Redis snapshot from which to restore data into the new node group (shard). The snapshot status changes to <code>restoring</code> while the new node group (shard) is being created.</p> <note> <p>This parameter is only valid if the <code>Engine</code> parameter is <code>redis</code>.</p> </note>",
            "in": "query",
            "name": "SnapshotName",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period. Valid values for <code>ddd</code> are:</p> <p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period.</p> <p>Valid values for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code> </p>",
            "in": "query",
            "name": "PreferredMaintenanceWindow",
            "required": false,
            "type": "string"
          },
          {
            "description": "The port number on which each of the cache nodes accepts connections.",
            "in": "query",
            "name": "Port",
            "required": false,
            "type": "integer"
          },
          {
            "description": "<p>The Amazon Resource Name (ARN) of the Amazon Simple Notification Service (SNS) topic to which notifications are sent.</p> <note> <p>The Amazon SNS topic owner must be the same as the cluster owner.</p> </note>",
            "in": "query",
            "name": "NotificationTopicArn",
            "required": false,
            "type": "string"
          },
          {
            "description": "This parameter is currently disabled.",
            "in": "query",
            "name": "AutoMinorVersionUpgrade",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "<p>The number of days for which ElastiCache retains automatic snapshots before deleting them. For example, if you set <code>SnapshotRetentionLimit</code> to 5, a snapshot taken today is retained for 5 days before being deleted.</p> <note> <p>This parameter is only valid if the <code>Engine</code> parameter is <code>redis</code>.</p> </note> <p>Default: 0 (i.e., automatic backups are disabled for this cache cluster).</p>",
            "in": "query",
            "name": "SnapshotRetentionLimit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "<p>The daily time range (in UTC) during which ElastiCache begins taking a daily snapshot of your node group (shard).</p> <p>Example: <code>05:00-09:00</code> </p> <p>If you do not specify this parameter, ElastiCache automatically chooses an appropriate time range.</p> <note> <p>This parameter is only valid if the <code>Engine</code> parameter is <code>redis</code>.</p> </note>",
            "in": "query",
            "name": "SnapshotWindow",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p> <b>Reserved parameter.</b> The password used to access a password protected server.</p> <p>Password constraints:</p> <ul> <li> <p>Must be only printable ASCII characters.</p> </li> <li> <p>Must be at least 16 characters and no more than 128 characters in length.</p> </li> <li> <p>The only permitted printable special characters are !, &amp;, #, $, ^, &lt;, &gt;, and -. Other printable special characters cannot be used in the AUTH token.</p> </li> </ul> <p>For more information, see <a href=\"http://redis.io/commands/AUTH\">AUTH password</a> at http://redis.io/commands/AUTH.</p>",
            "in": "query",
            "name": "AuthToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies whether the nodes in the cluster are created in a single outpost or across multiple outposts.",
            "enum": [
              "single-outpost",
              "cross-outpost"
            ],
            "in": "query",
            "name": "OutpostMode",
            "required": false,
            "type": "string"
          },
          {
            "description": "The outpost ARN in which the cache cluster is created.",
            "in": "query",
            "name": "PreferredOutpostArn",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The outpost ARNs in which the cache cluster is created.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "PreferredOutpostArn"
                  }
                }
              ]
            },
            "name": "PreferredOutpostArns",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "CreateCacheCluster"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheClusterResult"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReplicationGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReplicationGroupStateFault"
            }
          },
          "482": {
            "description": "CacheClusterAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterAlreadyExistsFault"
            }
          },
          "483": {
            "description": "InsufficientCacheClusterCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientCacheClusterCapacityFault"
            }
          },
          "484": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "485": {
            "description": "CacheSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupNotFoundFault"
            }
          },
          "486": {
            "description": "ClusterQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaForCustomerExceededFault"
            }
          },
          "487": {
            "description": "NodeQuotaForClusterExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForClusterExceededFault"
            }
          },
          "488": {
            "description": "NodeQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForCustomerExceededFault"
            }
          },
          "489": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "490": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "491": {
            "description": "TagQuotaPerResourceExceeded",
            "schema": {
              "$ref": "#/definitions/TagQuotaPerResourceExceeded"
            }
          },
          "492": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "493": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Creates a cluster. All nodes in the cluster run the same protocol-compliant cache engine software, either Memcached or Redis.</p> <p>This operation is not supported for Redis (cluster mode enabled) clusters.</p>",
        "operationId": "GET_CreateCacheCluster",
        "x-aws-operation-name": "CreateCacheCluster"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateCacheCluster"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateCacheClusterMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheClusterResult"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReplicationGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReplicationGroupStateFault"
            }
          },
          "482": {
            "description": "CacheClusterAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterAlreadyExistsFault"
            }
          },
          "483": {
            "description": "InsufficientCacheClusterCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientCacheClusterCapacityFault"
            }
          },
          "484": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "485": {
            "description": "CacheSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupNotFoundFault"
            }
          },
          "486": {
            "description": "ClusterQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaForCustomerExceededFault"
            }
          },
          "487": {
            "description": "NodeQuotaForClusterExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForClusterExceededFault"
            }
          },
          "488": {
            "description": "NodeQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForCustomerExceededFault"
            }
          },
          "489": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "490": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "491": {
            "description": "TagQuotaPerResourceExceeded",
            "schema": {
              "$ref": "#/definitions/TagQuotaPerResourceExceeded"
            }
          },
          "492": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "493": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Creates a cluster. All nodes in the cluster run the same protocol-compliant cache engine software, either Memcached or Redis.</p> <p>This operation is not supported for Redis (cluster mode enabled) clusters.</p>",
        "operationId": "POST_CreateCacheCluster",
        "x-aws-operation-name": "CreateCacheCluster"
      }
    },
    "/#Action=CreateCacheParameterGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "A user-specified name for the cache parameter group.",
            "in": "query",
            "name": "CacheParameterGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The name of the cache parameter group family that the cache parameter group can be used with.</p> <p>Valid values are: <code>memcached1.4</code> | <code>memcached1.5</code> | <code>memcached1.6</code> | <code>redis2.6</code> | <code>redis2.8</code> | <code>redis3.2</code> | <code>redis4.0</code> | <code>redis5.0</code> | <code>redis6.x</code> | </p>",
            "in": "query",
            "name": "CacheParameterGroupFamily",
            "required": true,
            "type": "string"
          },
          {
            "description": "A user-specified description for the cache parameter group.",
            "in": "query",
            "name": "Description",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "CreateCacheParameterGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheParameterGroupResult"
            }
          },
          "480": {
            "description": "CacheParameterGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupQuotaExceededFault"
            }
          },
          "481": {
            "description": "CacheParameterGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupAlreadyExistsFault"
            }
          },
          "482": {
            "description": "InvalidCacheParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheParameterGroupStateFault"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Creates a new Amazon ElastiCache cache parameter group. An ElastiCache cache parameter group is a collection of parameters and their values that are applied to all of the nodes in any cluster or replication group using the CacheParameterGroup.</p> <p>A newly created CacheParameterGroup is an exact duplicate of the default parameter group for the CacheParameterGroupFamily. To customize the newly created CacheParameterGroup you can change the values of specific parameters. For more information, see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_ModifyCacheParameterGroup.html\">ModifyCacheParameterGroup</a> in the ElastiCache API Reference.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/ParameterGroups.html\">Parameters and Parameter Groups</a> in the ElastiCache User Guide.</p> </li> </ul>",
        "operationId": "GET_CreateCacheParameterGroup",
        "x-aws-operation-name": "CreateCacheParameterGroup"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateCacheParameterGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateCacheParameterGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheParameterGroupResult"
            }
          },
          "480": {
            "description": "CacheParameterGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupQuotaExceededFault"
            }
          },
          "481": {
            "description": "CacheParameterGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupAlreadyExistsFault"
            }
          },
          "482": {
            "description": "InvalidCacheParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheParameterGroupStateFault"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Creates a new Amazon ElastiCache cache parameter group. An ElastiCache cache parameter group is a collection of parameters and their values that are applied to all of the nodes in any cluster or replication group using the CacheParameterGroup.</p> <p>A newly created CacheParameterGroup is an exact duplicate of the default parameter group for the CacheParameterGroupFamily. To customize the newly created CacheParameterGroup you can change the values of specific parameters. For more information, see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_ModifyCacheParameterGroup.html\">ModifyCacheParameterGroup</a> in the ElastiCache API Reference.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/ParameterGroups.html\">Parameters and Parameter Groups</a> in the ElastiCache User Guide.</p> </li> </ul>",
        "operationId": "POST_CreateCacheParameterGroup",
        "x-aws-operation-name": "CreateCacheParameterGroup"
      }
    },
    "/#Action=CreateCacheSecurityGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>A name for the cache security group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters. Cannot be the word \"Default\".</p> <p>Example: <code>mysecuritygroup</code> </p>",
            "in": "query",
            "name": "CacheSecurityGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "A description for the cache security group.",
            "in": "query",
            "name": "Description",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "CreateCacheSecurityGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheSecurityGroupResult"
            }
          },
          "480": {
            "description": "CacheSecurityGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "CacheSecurityGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Creates a new cache security group. Use a cache security group to control access to one or more clusters.</p> <p>Cache security groups are only used when you are creating a cluster outside of an Amazon Virtual Private Cloud (Amazon VPC). If you are creating a cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html\">CreateCacheSubnetGroup</a>.</p>",
        "operationId": "GET_CreateCacheSecurityGroup",
        "x-aws-operation-name": "CreateCacheSecurityGroup"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateCacheSecurityGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateCacheSecurityGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheSecurityGroupResult"
            }
          },
          "480": {
            "description": "CacheSecurityGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "CacheSecurityGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "description": "<p>Creates a new cache security group. Use a cache security group to control access to one or more clusters.</p> <p>Cache security groups are only used when you are creating a cluster outside of an Amazon Virtual Private Cloud (Amazon VPC). If you are creating a cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html\">CreateCacheSubnetGroup</a>.</p>",
        "operationId": "POST_CreateCacheSecurityGroup",
        "x-aws-operation-name": "CreateCacheSecurityGroup"
      }
    },
    "/#Action=CreateCacheSubnetGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>A name for the cache subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters or hyphens.</p> <p>Example: <code>mysubnetgroup</code> </p>",
            "in": "query",
            "name": "CacheSubnetGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "A description for the cache subnet group.",
            "in": "query",
            "name": "CacheSubnetGroupDescription",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of VPC subnet IDs for the cache subnet group.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "SubnetIdentifier"
                  }
                }
              ]
            },
            "name": "SubnetIds",
            "required": true,
            "type": "array"
          },
          {
            "enum": [
              "CreateCacheSubnetGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheSubnetGroupResult"
            }
          },
          "480": {
            "description": "CacheSubnetGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "CacheSubnetGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "CacheSubnetQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetQuotaExceededFault"
            }
          },
          "483": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "484": {
            "description": "SubnetNotAllowedFault",
            "schema": {
              "$ref": "#/definitions/SubnetNotAllowedFault"
            }
          }
        },
        "description": "<p>Creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>",
        "operationId": "GET_CreateCacheSubnetGroup",
        "x-aws-operation-name": "CreateCacheSubnetGroup"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateCacheSubnetGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateCacheSubnetGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheSubnetGroupResult"
            }
          },
          "480": {
            "description": "CacheSubnetGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "CacheSubnetGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "CacheSubnetQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetQuotaExceededFault"
            }
          },
          "483": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "484": {
            "description": "SubnetNotAllowedFault",
            "schema": {
              "$ref": "#/definitions/SubnetNotAllowedFault"
            }
          }
        },
        "description": "<p>Creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>",
        "operationId": "POST_CreateCacheSubnetGroup",
        "x-aws-operation-name": "CreateCacheSubnetGroup"
      }
    },
    "/#Action=CreateGlobalReplicationGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The suffix name of a Global Datastore. Amazon ElastiCache automatically applies a prefix to the Global Datastore ID when it is created. Each AWS Region has its own prefix. For instance, a Global Datastore ID created in the US-West-1 region will begin with \"dsdfu\" along with the suffix name you provide. The suffix, combined with the auto-generated prefix, guarantees uniqueness of the Global Datastore name across multiple regions. </p> <p>For a full list of AWS Regions and their respective Global Datastore iD prefixes, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Redis-Global-Clusters-CLI.html\">Using the AWS CLI with Global Datastores </a>.</p>",
            "in": "query",
            "name": "GlobalReplicationGroupIdSuffix",
            "required": true,
            "type": "string"
          },
          {
            "description": "Provides details of the Global Datastore",
            "in": "query",
            "name": "GlobalReplicationGroupDescription",
            "required": false,
            "type": "string"
          },
          {
            "description": "The name of the primary cluster that accepts writes and will replicate updates to the secondary cluster.",
            "in": "query",
            "name": "PrimaryReplicationGroupId",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "CreateGlobalReplicationGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-02-02"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateGlobalReplicationGroupResult"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReplicationGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReplicationGroupStateFault"
            }
          },
          "482": {
            "description": "GlobalReplicationGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/GlobalReplicationGroupAlreadyExistsFault"
            }
          },
          "483": {
            "description": "ServiceLinkedRoleNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ServiceLinkedRoleNotFoundFault"
            }
          },
          "484": {
[...]
