{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "www.refugerestrooms.org",
  "basePath": "/api",
  "info": {
    "description": "REFUGE is a web application that seeks to provide safe restroom access for transgender, intersex, and gender nonconforming individuals.",
    "title": "Refuge Restrooms",
    "version": "v1",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "backgroundColor": "#4C4C4C",
      "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_432717338270380032_BZWevLrA.jpeg"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.6.0"
        },
        "format": "swagger",
        "url": "http://www.refugerestrooms.org/api/swagger_doc.json",
        "version": "1.2"
      }
    ],
    "x-preferred": true,
    "x-providerName": "refugerestrooms.org",
    "x-datafire": {
      "name": "refugerestrooms",
      "type": "openapi"
    }
  },
  "produces": [
    "application/xml",
    "application/json",
    "application/vnd.api+json",
    "text/plain"
  ],
  "tags": [
    {
      "name": "restrooms"
    }
  ],
  "paths": {
    "/v1/restrooms.json": {
      "get": {
        "operationId": "v1.restrooms.json.get",
        "parameters": [
          {
            "description": "Page offset to fetch.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Pad a number of results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Only return restrooms that are ADA accessible.",
            "in": "query",
            "name": "ada",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Only return restrooms that are unisex.",
            "in": "query",
            "name": "unisex",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get all restroom records ordered by date descending.",
        "tags": [
          "restrooms"
        ]
      }
    },
    "/v1/restrooms/by_date.json": {
      "get": {
        "operationId": "v1.restrooms.by_date.json.get",
        "parameters": [
          {
            "description": "Page offset to fetch.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Pad a number of results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Only return restrooms that are ADA accessible.",
            "in": "query",
            "name": "ada",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Only return restrooms that are unisex.",
            "in": "query",
            "name": "unisex",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Return restroom records updated (rather than created) since given date",
            "in": "query",
            "name": "updated",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Day",
            "in": "query",
            "name": "day",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Month",
            "in": "query",
            "name": "month",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Year",
            "in": "query",
            "name": "year",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Search for restroom records updated or created on or after a given date",
        "tags": [
          "restrooms"
        ]
      }
    },
    "/v1/restrooms/by_location.json": {
      "get": {
        "operationId": "v1.restrooms.by_location.json.get",
        "parameters": [
          {
            "description": "Page offset to fetch.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Pad a number of results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Only return restrooms that are ADA accessible.",
            "in": "query",
            "name": "ada",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Only return restrooms that are unisex.",
            "in": "query",
            "name": "unisex",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "latitude",
            "format": "float",
            "in": "query",
            "name": "lat",
            "required": true,
            "type": "number"
          },
          {
            "description": "longitude",
            "format": "float",
            "in": "query",
            "name": "lng",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Search by location.",
        "tags": [
          "restrooms"
        ]
      }
    },
    "/v1/restrooms/search.json": {
      "get": {
        "operationId": "v1.restrooms.search.json.get",
        "parameters": [
          {
            "description": "Page offset to fetch.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Pad a number of results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Only return restrooms that are ADA accessible.",
            "in": "query",
            "name": "ada",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Only return restrooms that are unisex.",
            "in": "query",
            "name": "unisex",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Your search query.",
            "in": "query",
            "name": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Perform full-text search of restroom records.",
        "tags": [
          "restrooms"
        ]
      }
    }
  }
}