{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Support",
      "url": "https://support.github.com"
    },
    "description": "GitHub's v3 REST API.",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "termsOfService": "https://docs.github.com/articles/github-terms-of-service",
    "title": "GitHub v3 REST API",
    "version": "0.0.5",
    "x-apisguru-categories": [
      "collaboration",
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_github_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/github/rest-api-description/main/descriptions/api.github.com/api.github.com.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "github.com",
    "x-datafire": {
      "name": "github",
      "type": "openapi"
    }
  },
  "host": "api.github.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "properties": {
                "authorizations_url": {
                  "format": "uri",
                  "type": "string"
                },
                "code_search_url": {
                  "format": "uri",
                  "type": "string"
                },
                "commit_search_url": {
                  "format": "uri",
                  "type": "string"
                },
                "current_user_authorizations_html_url": {
                  "format": "uri",
                  "type": "string"
                },
                "current_user_repositories_url": {
                  "format": "uri",
                  "type": "string"
                },
                "current_user_url": {
                  "format": "uri",
                  "type": "string"
                },
                "emails_url": {
                  "format": "uri",
                  "type": "string"
                },
                "emojis_url": {
                  "format": "uri",
                  "type": "string"
                },
                "events_url": {
                  "format": "uri",
                  "type": "string"
                },
                "feeds_url": {
                  "format": "uri",
                  "type": "string"
                },
                "followers_url": {
                  "format": "uri",
                  "type": "string"
                },
                "following_url": {
                  "format": "uri",
                  "type": "string"
                },
                "gists_url": {
                  "format": "uri",
                  "type": "string"
                },
                "hub_url": {
                  "format": "uri",
                  "type": "string"
                },
                "issue_search_url": {
                  "format": "uri",
                  "type": "string"
                },
                "issues_url": {
                  "format": "uri",
                  "type": "string"
                },
                "keys_url": {
                  "format": "uri",
                  "type": "string"
                },
                "label_search_url": {
                  "format": "uri",
                  "type": "string"
                },
                "notifications_url": {
                  "format": "uri",
                  "type": "string"
                },
                "organization_repositories_url": {
                  "format": "uri",
                  "type": "string"
                },
                "organization_teams_url": {
                  "format": "uri",
                  "type": "string"
                },
                "organization_url": {
                  "format": "uri",
                  "type": "string"
                },
                "public_gists_url": {
                  "format": "uri",
                  "type": "string"
                },
                "rate_limit_url": {
                  "format": "uri",
                  "type": "string"
                },
                "repository_search_url": {
                  "format": "uri",
                  "type": "string"
                },
                "repository_url": {
                  "format": "uri",
                  "type": "string"
                },
                "starred_gists_url": {
                  "format": "uri",
                  "type": "string"
                },
                "starred_url": {
                  "format": "uri",
                  "type": "string"
                },
                "topic_search_url": {
                  "format": "uri",
                  "type": "string"
                },
                "user_organizations_url": {
                  "format": "uri",
                  "type": "string"
                },
                "user_repositories_url": {
                  "format": "uri",
                  "type": "string"
                },
                "user_search_url": {
                  "format": "uri",
                  "type": "string"
                },
                "user_url": {
                  "format": "uri",
                  "type": "string"
                }
              },
              "required": [
                "current_user_url",
                "current_user_authorizations_html_url",
                "authorizations_url",
                "code_search_url",
                "commit_search_url",
                "emails_url",
                "emojis_url",
                "events_url",
                "feeds_url",
                "followers_url",
                "following_url",
                "gists_url",
                "hub_url",
                "issue_search_url",
                "issues_url",
                "keys_url",
                "label_search_url",
                "notifications_url",
                "organization_url",
                "organization_repositories_url",
                "organization_teams_url",
                "public_gists_url",
                "rate_limit_url",
                "repository_url",
                "repository_search_url",
                "current_user_repositories_url",
                "starred_url",
                "starred_gists_url",
                "user_url",
                "user_organizations_url",
                "user_repositories_url",
                "user_search_url"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "meta"
        ],
        "description": "Get Hypermedia links to resources accessible in GitHub's REST API",
        "operationId": "meta/root",
        "summary": "GitHub API Root",
        "x-github": {
          "category": "meta",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": []
        }
      }
    },
    "/app": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/integration"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#get-the-authenticated-app"
        },
        "description": "Returns the GitHub App associated with the authentication credentials used. To see how many app installations are associated with this GitHub App, see the `installations_count` in the response. For more details about your app's installations, see the \"[List installations for the authenticated app](https://developer.github.com/v3/apps/#list-installations-for-the-authenticated-app)\" endpoint.\n\nYou must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.",
        "operationId": "apps/get-authenticated",
        "summary": "Get the authenticated app",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "machine-man",
              "note": "To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```",
              "required": true
            }
          ],
          "subcategory": null
        }
      }
    },
    "/app-manifests/{code}/conversions": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "code parameter",
            "in": "path",
            "name": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "response",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/integration"
                },
                {
                  "additionalProperties": true,
                  "properties": {
                    "client_id": {
                      "type": "string"
                    },
                    "client_secret": {
                      "type": "string"
                    },
                    "pem": {
                      "type": "string"
                    },
                    "webhook_secret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "client_id",
                    "client_secret",
                    "webhook_secret",
                    "pem"
                  ],
                  "type": "object"
                }
              ]
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error-simple"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#create-a-github-app-from-a-manifest"
        },
        "description": "Use this endpoint to complete the handshake necessary when implementing the [GitHub App Manifest flow](https://developer.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest/). When you create a GitHub App with the manifest flow, you receive a temporary `code` used to retrieve the GitHub App's `id`, `pem` (private key), and `webhook_secret`.",
        "operationId": "apps/create-from-manifest",
        "summary": "Create a GitHub App from a manifest",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "subcategory": null
        }
      }
    },
    "/app/installations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 30,
            "description": "Results per page (max 100)",
            "in": "query",
            "name": "per_page",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "Page number of the results to fetch.",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "description": "Only show notifications updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`.",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "outdated",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The permissions the installation has are included under the `permissions` key.",
            "headers": {
              "Link": {
                "example": "<https://api.github.com/resource?page=2>; rel=\"next\", <https://api.github.com/resource?page=5>; rel=\"last\"",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/installation"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#list-installations-for-the-authenticated-app"
        },
        "description": "You must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.\n\nThe permissions the installation has are included under the `permissions` key.",
        "operationId": "apps/list-installations",
        "summary": "List installations for the authenticated app",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "machine-man",
              "note": "To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```",
              "required": true
            }
          ],
          "subcategory": null
        }
      }
    },
    "/app/installations/{installation_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "installation_id parameter",
            "in": "path",
            "name": "installation_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#delete-an-installation-for-the-authenticated-app"
        },
        "description": "Uninstalls a GitHub App on a user, organization, or business account. If you prefer to temporarily suspend an app's access to your account's resources, then we recommend the \"[Suspend an app installation](https://developer.github.com/v3/apps/#suspend-an-app-installation)\" endpoint.\n\nYou must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.",
        "operationId": "apps/delete-installation",
        "summary": "Delete an installation for the authenticated app",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "machine-man",
              "note": "To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```",
              "required": true
            }
          ],
          "subcategory": null
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "installation_id parameter",
            "in": "path",
            "name": "installation_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/installation"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "415": {
            "description": "Preview Header Missing",
            "schema": {
              "properties": {
                "documentation_url": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message",
                "documentation_url"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#get-an-installation-for-the-authenticated-app"
        },
        "description": "Enables an authenticated GitHub App to find an installation's information using the installation id. The installation's account type (`target_type`) will be either an organization or a user account, depending which account the repository belongs to.\n\nYou must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.",
        "operationId": "apps/get-installation",
        "summary": "Get an installation for the authenticated app",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "machine-man",
              "note": "To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```",
              "required": true
            }
          ],
          "subcategory": null
        }
      }
    },
    "/app/installations/{installation_id}/access_tokens": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "installation_id parameter",
            "in": "path",
            "name": "installation_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "permissions": {
                  "example": {
                    "contents": "read",
                    "deployments": "write",
                    "issues": "read",
                    "single_file": "read"
                  },
                  "properties": {
                    "contents": {
                      "type": "string"
                    },
                    "def_not_a_repo": {
                      "example": "\"read\"",
                      "type": "string"
                    },
                    "deployments": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "string"
                    },
                    "single_file": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "repositories": {
                  "description": "List of repository names that the token should have access to",
                  "items": {
                    "example": "rails",
                    "type": "string"
                  },
                  "type": "array"
                },
                "repository_ids": {
                  "description": "List of repository IDs that the token should have access to",
                  "example": [
                    1
                  ],
                  "items": {
                    "type": "integer"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/installation-token"
            }
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "415": {
            "description": "Preview Header Missing",
            "schema": {
              "properties": {
                "documentation_url": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message",
                "documentation_url"
              ],
              "type": "object"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#create-an-installation-access-token-for-an-app"
        },
        "description": "Creates an installation access token that enables a GitHub App to make authenticated API requests for the app's installation on an organization or individual account. Installation tokens expire one hour from the time you create them. Using an expired token produces a status code of `401 - Unauthorized`, and requires creating a new installation token. By default the installation token has access to all repositories that the installation can access. To restrict the access to specific repositories, you can provide the `repository_ids` when creating the token. When you omit `repository_ids`, the response does not contain the `repositories` key.\n\nYou must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.",
        "operationId": "apps/create-installation-access-token",
        "summary": "Create an installation access token for an app",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "machine-man",
              "note": "To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```",
              "required": true
            }
          ],
          "subcategory": null
        }
      }
    },
    "/app/installations/{installation_id}/suspended": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "installation_id parameter",
            "in": "path",
            "name": "installation_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#unsuspend-an-app-installation"
        },
        "description": "**Note:** Suspending a GitHub App installation is currently in beta and subject to change. Before you can suspend a GitHub App, the app owner must enable suspending installations for the app by opting-in to the beta. For more information, see \"[Suspending a GitHub App installation](https://developer.github.com/apps/managing-github-apps/suspending-a-github-app-installation/).\"\n\nRemoves a GitHub App installation suspension.\n\nTo unsuspend a GitHub App, you must be an account owner or have admin permissions in the repository or organization where the app is installed and suspended.\n\nYou must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.",
        "operationId": "apps/unsuspend-installation",
        "summary": "Unsuspend an app installation",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "subcategory": null
        }
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "installation_id parameter",
            "in": "path",
            "name": "installation_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#suspend-an-app-installation"
        },
        "description": "**Note:** Suspending a GitHub App installation is currently in beta and subject to change. Before you can suspend a GitHub App, the app owner must enable suspending installations for the app by opting-in to the beta. For more information, see \"[Suspending a GitHub App installation](https://developer.github.com/apps/managing-github-apps/suspending-a-github-app-installation/).\"\n\nSuspends a GitHub App on a user, organization, or business account, which blocks the app from accessing the account's resources. When a GitHub App is suspended, the app's access to the GitHub API or webhook events is blocked for that account.\n\nTo suspend a GitHub App, you must be an account owner or have admin permissions in the repository or organization where the app is installed.\n\nYou must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.",
        "operationId": "apps/suspend-installation",
        "summary": "Suspend an app installation",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "subcategory": null
        }
      }
    },
    "/applications/grants": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 30,
            "description": "Results per page (max 100)",
            "in": "query",
            "name": "per_page",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "Page number of the results to fetch.",
            "in": "query",
            "name": "page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "headers": {
              "Link": {
                "example": "<https://api.github.com/resource?page=2>; rel=\"next\", <https://api.github.com/resource?page=5>; rel=\"last\"",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/application-grant"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#list-your-grants"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).\n\nYou can use this API to list the set of OAuth applications that have been granted access to your account. Unlike the [list your authorizations](https://developer.github.com/v3/oauth_authorizations/#list-your-authorizations) API, this API does not manage individual tokens. This API will return one entry for each OAuth application that has been granted access to your account, regardless of the number of tokens an application has generated for your user. The list of OAuth applications returned matches what is shown on [the application authorizations settings screen within GitHub](https://github.com/settings/applications#authorized). The `scopes` returned are the union of scopes authorized for the application. For example, if an application has one token with `repo` scope and another token with `user` scope, the grant will return `[\"repo\", \"user\"]`.",
        "operationId": "oauth-authorizations/list-grants",
        "summary": "List your grants",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      }
    },
    "/applications/grants/{grant_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "grant_id parameter",
            "in": "path",
            "name": "grant_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#delete-a-grant"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).\n\nDeleting an OAuth application's grant will also delete all OAuth tokens associated with the application for your user. Once deleted, the application has no access to your account and is no longer listed on [the application authorizations settings screen within GitHub](https://github.com/settings/applications#authorized).",
        "operationId": "oauth-authorizations/delete-grant",
        "summary": "Delete a grant",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "grant_id parameter",
            "in": "path",
            "name": "grant_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/application-grant"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#get-a-single-grant"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).",
        "operationId": "oauth-authorizations/get-grant",
        "summary": "Get a single grant",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      }
    },
    "/applications/{client_id}/grant": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "access_token": {
                  "description": "The OAuth access token used to authenticate to the GitHub API.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/oauth_applications/#delete-an-app-authorization"
        },
        "description": "OAuth application owners can revoke a grant for their OAuth application and a specific user. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. You must also provide a valid OAuth `access_token` as an input parameter and the grant for the token's owner will be deleted.\nDeleting an OAuth application's grant will also delete all OAuth tokens associated with the application for the user. Once deleted, the application will have no access to the user's account and will no longer be listed on [the application authorizations settings screen within GitHub](https://github.com/settings/applications#authorized).",
        "operationId": "apps/delete-authorization",
        "summary": "Delete an app authorization",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "subcategory": "oauth-applications"
        }
      }
    },
    "/applications/{client_id}/grants/{access_token}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "access_token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/oauth_applications/#revoke-a-grant-for-an-application"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will replace and discontinue OAuth endpoints containing `access_token` in the path parameter. We are introducing new endpoints that allow you to securely manage tokens for OAuth Apps by using `access_token` as an input parameter. The OAuth Application API will be removed on May 5, 2021. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/).\n\nOAuth application owners can revoke a grant for their OAuth application and a specific user. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. You must also provide a valid token as `:access_token` and the grant for the token's owner will be deleted.\n\nDeleting an OAuth application's grant will also delete all OAuth tokens associated with the application for the user. Once deleted, the application will have no access to the user's account and will no longer be listed on [the Applications settings page under \"Authorized OAuth Apps\" on GitHub](https://github.com/settings/applications#authorized).",
        "operationId": "apps/revoke-grant-for-application",
        "summary": "Revoke a grant for an application",
        "x-github": {
          "category": "apps",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2021-05-05",
          "subcategory": "oauth-applications"
        }
      }
    },
    "/applications/{client_id}/token": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "access_token": {
                  "description": "The OAuth access token used to authenticate to the GitHub API.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/oauth_applications/#delete-an-app-token"
        },
        "description": "OAuth application owners can revoke a single token for an OAuth application. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password.",
        "operationId": "apps/delete-token",
        "summary": "Delete an app token",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "subcategory": "oauth-applications"
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "access_token": {
                  "description": "The access_token of the OAuth application.",
                  "type": "string"
                }
              },
              "required": [
                "access_token"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/oauth_applications/#reset-a-token"
        },
        "description": "OAuth applications can use this API method to reset a valid OAuth token without end-user involvement. Applications must save the \"token\" property in the response because changes take effect immediately. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. Invalid tokens will return `404 NOT FOUND`.",
        "operationId": "apps/reset-token",
        "summary": "Reset a token",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "subcategory": "oauth-applications"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "access_token": {
                  "description": "The access_token of the OAuth application.",
                  "type": "string"
                }
              },
              "required": [
                "access_token"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/oauth_applications/#check-a-token"
        },
        "description": "OAuth applications can use a special API method for checking OAuth token validity without exceeding the normal rate limits for failed login attempts. Authentication works differently with this particular endpoint. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) to use this endpoint, where the username is the OAuth application `client_id` and the password is its `client_secret`. Invalid tokens will return `404 NOT FOUND`.",
        "operationId": "apps/check-token",
        "summary": "Check a token",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "subcategory": "oauth-applications"
        }
      }
    },
    "/applications/{client_id}/tokens/{access_token}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "access_token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/oauth_applications/#revoke-an-authorization-for-an-application"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will replace and discontinue OAuth endpoints containing `access_token` in the path parameter. We are introducing new endpoints that allow you to securely manage tokens for OAuth Apps by using `access_token` as an input parameter. The OAuth Application API will be removed on May 5, 2021. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/).\n\nOAuth application owners can revoke a single token for an OAuth application. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password.",
        "operationId": "apps/revoke-authorization-for-application",
        "summary": "Revoke an authorization for an application",
        "x-github": {
          "category": "apps",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2021-05-05",
          "subcategory": "oauth-applications"
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "access_token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/authorization"
                }
              ],
              "x-nullable": true
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/oauth_applications/#check-an-authorization"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will replace and discontinue OAuth endpoints containing `access_token` in the path parameter. We are introducing new endpoints that allow you to securely manage tokens for OAuth Apps by using `access_token` as an input parameter. The OAuth Application API will be removed on May 5, 2021. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/).\n\nOAuth applications can use a special API method for checking OAuth token validity without exceeding the normal rate limits for failed login attempts. Authentication works differently with this particular endpoint. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. Invalid tokens will return `404 NOT FOUND`.",
        "operationId": "apps/check-authorization",
        "summary": "Check an authorization",
        "x-github": {
          "category": "apps",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2021-05-05",
          "subcategory": "oauth-applications"
        }
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "access_token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/oauth_applications/#reset-an-authorization"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will replace and discontinue OAuth endpoints containing `access_token` in the path parameter. We are introducing new endpoints that allow you to securely manage tokens for OAuth Apps by using `access_token` as an input parameter. The OAuth Application API will be removed on May 5, 2021. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/).\n\nOAuth applications can use this API method to reset a valid OAuth token without end-user involvement. Applications must save the \"token\" property in the response because changes take effect immediately. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. Invalid tokens will return `404 NOT FOUND`.",
        "operationId": "apps/reset-authorization",
        "summary": "Reset an authorization",
        "x-github": {
          "category": "apps",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2021-05-05",
          "subcategory": "oauth-applications"
        }
      }
    },
    "/apps/{app_slug}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "app_slug parameter",
            "in": "path",
            "name": "app_slug",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/integration"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "415": {
            "description": "Preview Header Missing",
            "schema": {
              "properties": {
                "documentation_url": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message",
                "documentation_url"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/#get-an-app"
        },
        "description": "**Note**: The `:app_slug` is just the URL-friendly name of your GitHub App. You can find this on the settings page for your GitHub App (e.g., `https://github.com/settings/apps/:app_slug`).\n\nIf the GitHub App you specify is public, you can access this endpoint without authenticating. If the GitHub App you specify is private, you must authenticate with a [personal access token](https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/) or an [installation access token](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-an-installation) to access this endpoint.",
        "operationId": "apps/get-by-slug",
        "summary": "Get an app",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "machine-man",
              "note": "To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```",
              "required": true
            }
          ],
          "subcategory": null
        }
      }
    },
    "/authorizations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 30,
            "description": "Results per page (max 100)",
            "in": "query",
            "name": "per_page",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "Page number of the results to fetch.",
            "in": "query",
            "name": "page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "headers": {
              "Link": {
                "example": "<https://api.github.com/resource?page=2>; rel=\"next\", <https://api.github.com/resource?page=5>; rel=\"last\"",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/authorization"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#list-your-authorizations"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).",
        "operationId": "oauth-authorizations/list-authorizations",
        "summary": "List your authorizations",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "client_id": {
                  "description": "The OAuth app client key for which to create the token.",
                  "maxLength": 20,
                  "type": "string"
                },
                "client_secret": {
                  "description": "The OAuth app client secret for which to create the token.",
                  "maxLength": 40,
                  "type": "string"
                },
                "fingerprint": {
                  "description": "A unique string to distinguish an authorization from others created for the same client ID and user.",
                  "type": "string"
                },
                "note": {
                  "description": "A note to remind you what the OAuth token is for.",
                  "example": "Update all gems",
                  "type": "string"
                },
                "note_url": {
                  "description": "A URL to remind you what app the OAuth token is for.",
                  "type": "string"
                },
                "scopes": {
                  "description": "A list of scopes that this authorization is in.",
                  "example": [
                    "public_repo",
                    "user"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "x-nullable": true
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "response",
            "headers": {
              "Location": {
                "example": "https://api.github.com/authorizations/1",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "410": {
            "description": "Gone",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#create-a-new-authorization"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).\n\n**Warning:** Apps must use the [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow) to obtain OAuth tokens that work with GitHub SAML organizations. OAuth tokens created using the Authorizations API will be unable to access GitHub SAML organizations. For more information, see the [blog post](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api).\n\nCreates OAuth tokens using [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication). If you have two-factor authentication setup, Basic Authentication for this endpoint requires that you use a one-time password (OTP) and your username and password instead of tokens. For more information, see \"[Working with two-factor authentication](https://developer.github.com/v3/auth/#working-with-two-factor-authentication).\"\n\nTo create tokens for a particular OAuth application using this endpoint, you must authenticate as the user you want to create an authorization for and provide the app's client ID and secret, found on your OAuth application's settings page. If your OAuth application intends to create multiple tokens for one user, use `fingerprint` to differentiate between them.\n\nYou can also create tokens on GitHub from the [personal access tokens settings](https://github.com/settings/tokens) page. Read more about these tokens in [the GitHub Help documentation](https://help.github.com/articles/creating-an-access-token-for-command-line-use).\n\nOrganizations that enforce SAML SSO require personal access tokens to be allowed. Read more about allowing tokens in [the GitHub Help documentation](https://help.github.com/articles/about-identity-and-access-management-with-saml-single-sign-on).",
        "operationId": "oauth-authorizations/create-authorization",
        "summary": "Create a new authorization",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      }
    },
    "/authorizations/clients/{client_id}": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "client_secret": {
                  "description": "The OAuth app client secret for which to create the token.",
                  "maxLength": 40,
                  "type": "string"
                },
                "fingerprint": {
                  "description": "A unique string to distinguish an authorization from others created for the same client ID and user.",
                  "type": "string"
                },
                "note": {
                  "description": "A note to remind you what the OAuth token is for.",
                  "example": "Update all gems",
                  "type": "string"
                },
                "note_url": {
                  "description": "A URL to remind you what app the OAuth token is for.",
                  "type": "string"
                },
                "scopes": {
                  "description": "A list of scopes that this authorization is in.",
                  "example": [
                    "public_repo",
                    "user"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "x-nullable": true
                }
              },
              "required": [
                "client_secret"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response if returning an existing token",
            "headers": {
              "Location": {
                "example": "https://api.github.com/authorizations/1",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "201": {
            "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).",
            "headers": {
              "Location": {
                "example": "https://api.github.com/authorizations/1",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#get-or-create-an-authorization-for-a-specific-app"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).\n\n**Warning:** Apps must use the [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow) to obtain OAuth tokens that work with GitHub SAML organizations. OAuth tokens created using the Authorizations API will be unable to access GitHub SAML organizations. For more information, see the [blog post](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api).\n\nCreates a new authorization for the specified OAuth application, only if an authorization for that application doesn't already exist for the user. The URL includes the 20 character client ID for the OAuth app that is requesting the token. It returns the user's existing authorization for the application if one is present. Otherwise, it creates and returns a new one.\n\nIf you have two-factor authentication setup, Basic Authentication for this endpoint requires that you use a one-time password (OTP) and your username and password instead of tokens. For more information, see \"[Working with two-factor authentication](https://developer.github.com/v3/auth/#working-with-two-factor-authentication).\"\n\n**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).",
        "operationId": "oauth-authorizations/get-or-create-authorization-for-app",
        "summary": "Get-or-create an authorization for a specific app",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      }
    },
    "/authorizations/clients/{client_id}/{fingerprint}": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fingerprint parameter",
            "in": "path",
            "name": "fingerprint",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "client_secret": {
                  "description": "The OAuth app client secret for which to create the token.",
                  "maxLength": 40,
                  "type": "string"
                },
                "note": {
                  "description": "A note to remind you what the OAuth token is for.",
                  "example": "Update all gems",
                  "type": "string"
                },
                "note_url": {
                  "description": "A URL to remind you what app the OAuth token is for.",
                  "type": "string"
                },
                "scopes": {
                  "description": "A list of scopes that this authorization is in.",
                  "example": [
                    "public_repo",
                    "user"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "x-nullable": true
                }
              },
              "required": [
                "client_secret"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response if returning an existing token",
            "headers": {
              "Location": {
                "example": "https://api.github.com/authorizations/1",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "201": {
            "description": "Response if returning a new token",
            "headers": {
              "Location": {
                "example": "https://api.github.com/authorizations/1",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#get-or-create-an-authorization-for-a-specific-app-and-fingerprint"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).\n\n**Warning:** Apps must use the [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow) to obtain OAuth tokens that work with GitHub SAML organizations. OAuth tokens created using the Authorizations API will be unable to access GitHub SAML organizations. For more information, see the [blog post](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api).\n\nThis method will create a new authorization for the specified OAuth application, only if an authorization for that application and fingerprint do not already exist for the user. The URL includes the 20 character client ID for the OAuth app that is requesting the token. `fingerprint` is a unique string to distinguish an authorization from others created for the same client ID and user. It returns the user's existing authorization for the application if one is present. Otherwise, it creates and returns a new one.\n\nIf you have two-factor authentication setup, Basic Authentication for this endpoint requires that you use a one-time password (OTP) and your username and password instead of tokens. For more information, see \"[Working with two-factor authentication](https://developer.github.com/v3/auth/#working-with-two-factor-authentication).\"",
        "operationId": "oauth-authorizations/get-or-create-authorization-for-app-and-fingerprint",
        "summary": "Get-or-create an authorization for a specific app and fingerprint",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      }
    },
    "/authorizations/{authorization_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "authorization_id parameter",
            "in": "path",
            "name": "authorization_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#delete-an-authorization"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).",
        "operationId": "oauth-authorizations/delete-authorization",
        "summary": "Delete an authorization",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "authorization_id parameter",
            "in": "path",
            "name": "authorization_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Requires Authentication",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#get-a-single-authorization"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).",
        "operationId": "oauth-authorizations/get-authorization",
        "summary": "Get a single authorization",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "authorization_id parameter",
            "in": "path",
            "name": "authorization_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "add_scopes": {
                  "description": "A list of scopes to add to this authorization.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "fingerprint": {
                  "description": "A unique string to distinguish an authorization from others created for the same client ID and user.",
                  "type": "string"
                },
                "note": {
                  "description": "A note to remind you what the OAuth token is for.",
                  "example": "Update all gems",
                  "type": "string"
                },
                "note_url": {
                  "description": "A URL to remind you what app the OAuth token is for.",
                  "type": "string"
                },
                "remove_scopes": {
                  "description": "A list of scopes to remove from this authorization.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "scopes": {
                  "description": "A list of scopes that this authorization is in.",
                  "example": [
                    "public_repo",
                    "user"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "x-nullable": true
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/authorization"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "oauth-authorizations"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/oauth_authorizations/#update-an-existing-authorization"
        },
        "deprecated": true,
        "description": "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).\n\nIf you have two-factor authentication setup, Basic Authentication for this endpoint requires that you use a one-time password (OTP) and your username and password instead of tokens. For more information, see \"[Working with two-factor authentication](https://developer.github.com/v3/auth/#working-with-two-factor-authentication).\"\n\nYou can only send one of these scope keys at a time.",
        "operationId": "oauth-authorizations/update-authorization",
        "summary": "Update an existing authorization",
        "x-github": {
          "category": "oauth-authorizations",
          "deprecationDate": "2020-02-14",
          "enabledForGitHubApps": false,
          "githubCloudOnly": false,
          "previews": [],
          "removalDate": "2020-11-13",
          "subcategory": null
        }
      }
    },
    "/codes_of_conduct": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "items": {
                "$ref": "#/definitions/code-of-conduct"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "415": {
            "description": "Preview Header Missing",
            "schema": {
              "properties": {
                "documentation_url": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message",
                "documentation_url"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "codes-of-conduct"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/codes_of_conduct/#get-all-codes-of-conduct"
        },
        "description": "",
        "operationId": "codes-of-conduct/get-all-codes-of-conduct",
        "summary": "Get all codes of conduct",
        "x-github": {
          "category": "codes-of-conduct",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "scarlet-witch",
              "note": "The Codes of Conduct API is currently available for developers to preview.\n\nTo access the API during the preview period, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` header:\n```shell\napplication/vnd.github.scarlet-witch-preview+json\n```",
              "required": true
            }
          ],
          "subcategory": null
        }
      }
    },
    "/codes_of_conduct/{key}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "key parameter",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/code-of-conduct"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "415": {
            "description": "Preview Header Missing",
            "schema": {
              "properties": {
                "documentation_url": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message",
                "documentation_url"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "codes-of-conduct"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/codes_of_conduct/#get-a-code-of-conduct"
        },
        "description": "",
        "operationId": "codes-of-conduct/get-conduct-code",
        "summary": "Get a code of conduct",
        "x-github": {
          "category": "codes-of-conduct",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "scarlet-witch",
              "note": "The Codes of Conduct API is currently available for developers to preview.\n\nTo access the API during the preview period, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` header:\n```shell\napplication/vnd.github.scarlet-witch-preview+json\n```",
              "required": true
            }
          ],
          "subcategory": null
        }
      }
    },
    "/content_references/{content_reference_id}/attachments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "content_reference_id parameter",
            "in": "path",
            "name": "content_reference_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "body": {
                  "description": "The body of the attachment",
                  "example": "Body of the attachment",
                  "maxLength": 262144,
                  "type": "string"
                },
                "title": {
                  "description": "The title of the attachment",
                  "example": "Title of the attachment",
                  "maxLength": 1024,
                  "type": "string"
                }
              },
              "required": [
                "title",
                "body"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/content-reference-attachment"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "410": {
            "description": "Gone",
            "schema": {
              "$ref": "#/definitions/basic-error"
            }
          },
          "415": {
            "description": "Preview Header Missing",
            "schema": {
              "properties": {
                "documentation_url": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message",
                "documentation_url"
              ],
              "type": "object"
            }
          },
          "422": {
            "description": "Validation Failed",
            "schema": {
              "$ref": "#/definitions/validation-error"
            }
          }
        },
        "tags": [
          "apps"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/apps/installations/#create-a-content-attachment"
        },
        "description": "Creates an attachment under a content reference URL in the body or comment of an issue or pull request. Use the `id` of the content reference from the [`content_reference` event](https://developer.github.com/webhooks/event-payloads/#content_reference) to create an attachment.\n\nThe app must create a content attachment within six hours of the content reference URL being posted. See \"[Using content attachments](https://developer.github.com/apps/using-content-attachments/)\" for details about content attachments.\n\nYou must use an [installation access token](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-an-installation) to access this endpoint.",
        "operationId": "apps/create-content-attachment",
        "summary": "Create a content attachment",
        "x-github": {
          "category": "apps",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [
            {
              "name": "corsair",
              "note": "To access the Content Attachments API during the preview period, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` header:\n```shell\napplication/vnd.github.corsair-preview+json\n```",
              "required": true
            }
          ],
          "subcategory": "installations"
        }
      }
    },
    "/emojis": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "additionalProperties": {
                "type": "string"
              },
              "type": "object"
            }
          },
          "304": {
            "description": "Not Modified"
          }
        },
        "tags": [
          "emojis"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/emojis/#get-emojis"
        },
        "description": "Lists all the emojis available to use on GitHub.",
        "operationId": "emojis/get",
        "summary": "Get emojis",
        "x-github": {
          "category": "emojis",
          "enabledForGitHubApps": true,
          "githubCloudOnly": false,
          "previews": [],
          "subcategory": null
        }
      }
    },
    "/enterprises/{enterprise_id}/settings/billing/actions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier of the GitHub Enterprise Cloud instance.",
            "in": "path",
            "name": "enterprise_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "schema": {
              "$ref": "#/definitions/actions-billing-usage"
            }
          }
        },
        "tags": [
          "billing"
        ],
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://developer.github.com/v3/billing/#get-github-actions-billing-for-an-enterprise"
        },
        "description": "**Warning:** The Billing API is currently in public beta and subject to change.\n\nGets the summary of the free and paid GitHub Actions minutes used.\n\nPaid minutes only apply to workflows in private repositories that use GitHub-hosted runners. Minutes used is listed for each GitHub-hosted runner operating system. Any job re-runs are also included in the usage. The usage does not include the multiplier for macOS and Windows runners and is not rounded up to the nearest whole minute. For more information, see \"[Managing billing for GitHub Actions](https://help.github.com/github/setting-up-and-managing-billing-and-payments-on-github/managing-billing-for-github-actions)\".\n\nThe authenticated user must be an enterprise admin.",
        "operationId": "billing/get-github-actions-billing-ghe",
[...]
