{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Amplify enables developers to develop and deploy cloud-powered mobile and web apps. The Amplify Console provides a continuous delivery and hosting service for web applications. For more information, see the <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/welcome.html\">Amplify Console User Guide</a>. The Amplify Framework is a comprehensive set of SDKs, libraries, tools, and documentation for client app development. For more information, see the <a href=\"https://docs.amplify.aws/\">Amplify Framework.</a> ",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Amplify",
    "version": "2017-07-25",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/amplify-2017-07-25.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "amplify",
    "x-datafire": {
      "name": "amazonaws_amplify",
      "type": "openapi"
    }
  },
  "host": "amplify.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/apps": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " A pagination token. If non-null, the pagination token is returned in a result. Pass its value in another request to retrieve more entries. ",
            "in": "query",
            "maxLength": 2000,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": " The maximum number of records to list in a single response. ",
            "in": "query",
            "maximum": 100,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAppsResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Returns a list of the existing Amplify apps. ",
        "operationId": "ListApps"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": " The tag for an Amplify app. ",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "accessToken": {
                  "description": " The personal access token for a third-party source control system for an Amplify app. The personal access token is used to create a webhook and a read-only deploy key. The token is not stored. ",
                  "format": "password",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "autoBranchCreationConfig": {
                  "description": " Describes the automated branch creation configuration. ",
                  "properties": {
                    "basicAuthCredentials": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BasicAuthCredentials"
                        },
                        {
                          "description": " The basic authorization credentials for the autocreated branch. "
                        }
                      ]
                    },
                    "buildSpec": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BuildSpec"
                        },
                        {
                          "description": " The build specification (build spec) for the autocreated branch. "
                        }
                      ]
                    },
                    "enableAutoBuild": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnableAutoBuild"
                        },
                        {
                          "description": " Enables auto building for the autocreated branch. "
                        }
                      ]
                    },
                    "enableBasicAuth": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnableBasicAuth"
                        },
                        {
                          "description": " Enables basic authorization for the autocreated branch. "
                        }
                      ]
                    },
                    "enablePerformanceMode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnablePerformanceMode"
                        },
                        {
                          "description": "<p>Enables performance mode for the branch.</p> <p>Performance mode optimizes for faster hosting performance by keeping content cached at the edge for a longer interval. When performance mode is enabled, hosting configuration or code changes can take up to 10 minutes to roll out. </p>"
                        }
                      ]
                    },
                    "enablePullRequestPreview": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnablePullRequestPreview"
                        },
                        {
                          "description": " Enables pull request previews for the autocreated branch. "
                        }
                      ]
                    },
                    "environmentVariables": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnvironmentVariables"
                        },
                        {
                          "description": " The environment variables for the autocreated branch. "
                        }
                      ]
                    },
                    "framework": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Framework"
                        },
                        {
                          "description": " The framework for the autocreated branch. "
                        }
                      ]
                    },
                    "pullRequestEnvironmentName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PullRequestEnvironmentName"
                        },
                        {
                          "description": " The Amplify environment name for the pull request. "
                        }
                      ]
                    },
                    "stage": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Stage"
                        },
                        {
                          "description": " Describes the current stage for the autocreated branch. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "autoBranchCreationPatterns": {
                  "description": " The automated branch creation glob patterns for an Amplify app. ",
                  "items": {
                    "$ref": "#/definitions/AutoBranchCreationPattern"
                  },
                  "type": "array"
                },
                "basicAuthCredentials": {
                  "description": " The credentials for basic authorization for an Amplify app. ",
                  "format": "password",
                  "maxLength": 2000,
                  "type": "string"
                },
                "buildSpec": {
                  "description": " The build specification (build spec) file for an Amplify app build. ",
                  "maxLength": 25000,
                  "minLength": 1,
                  "type": "string"
                },
                "customHeaders": {
                  "description": "The custom HTTP headers for an Amplify app.",
                  "maxLength": 25000,
                  "minLength": 1,
                  "type": "string"
                },
                "customRules": {
                  "description": " The custom rewrite and redirect rules for an Amplify app. ",
                  "items": {
                    "$ref": "#/definitions/CustomRule"
                  },
                  "type": "array"
                },
                "description": {
                  "description": " The description for an Amplify app. ",
                  "maxLength": 1000,
                  "type": "string"
                },
                "enableAutoBranchCreation": {
                  "description": " Enables automated branch creation for an Amplify app. ",
                  "type": "boolean"
                },
                "enableBasicAuth": {
                  "description": " Enables basic authorization for an Amplify app. This will apply to all branches that are part of this app. ",
                  "type": "boolean"
                },
                "enableBranchAutoBuild": {
                  "description": " Enables the auto building of branches for an Amplify app. ",
                  "type": "boolean"
                },
                "enableBranchAutoDeletion": {
                  "description": " Automatically disconnects a branch in the Amplify Console when you delete a branch from your Git repository. ",
                  "type": "boolean"
                },
                "environmentVariables": {
                  "additionalProperties": {
                    "$ref": "#/definitions/EnvValue"
                  },
                  "description": " The environment variables map for an Amplify app. ",
                  "type": "object"
                },
                "iamServiceRoleArn": {
                  "description": " The AWS Identity and Access Management (IAM) service role for an Amplify app. ",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": " The name for an Amplify app. ",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "oauthToken": {
                  "description": " The OAuth token for a third-party source control system for an Amplify app. The OAuth token is used to create a webhook and a read-only deploy key. The OAuth token is not stored. ",
                  "format": "password",
                  "maxLength": 1000,
                  "type": "string"
                },
                "platform": {
                  "description": " The platform or framework for an Amplify app. ",
                  "enum": [
                    "WEB"
                  ],
                  "type": "string"
                },
                "repository": {
                  "description": " The repository for an Amplify app. ",
                  "maxLength": 1000,
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAppResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "DependentServiceFailureException",
            "schema": {
              "$ref": "#/definitions/DependentServiceFailureException"
            }
          }
        },
        "description": " Creates a new Amplify app. ",
        "operationId": "CreateApp"
      }
    },
    "/apps/{appId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteAppResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "DependentServiceFailureException",
            "schema": {
              "$ref": "#/definitions/DependentServiceFailureException"
            }
          }
        },
        "description": " Deletes an existing Amplify app specified by an app ID. ",
        "operationId": "DeleteApp"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAppResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Returns an existing Amplify app by appID. ",
        "operationId": "GetApp"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "accessToken": {
                  "description": " The personal access token for a third-party source control system for an Amplify app. The token is used to create webhook and a read-only deploy key. The token is not stored. ",
                  "format": "password",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "autoBranchCreationConfig": {
                  "description": " Describes the automated branch creation configuration. ",
                  "properties": {
                    "basicAuthCredentials": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BasicAuthCredentials"
                        },
                        {
                          "description": " The basic authorization credentials for the autocreated branch. "
                        }
                      ]
                    },
                    "buildSpec": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BuildSpec"
                        },
                        {
                          "description": " The build specification (build spec) for the autocreated branch. "
                        }
                      ]
                    },
                    "enableAutoBuild": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnableAutoBuild"
                        },
                        {
                          "description": " Enables auto building for the autocreated branch. "
                        }
                      ]
                    },
                    "enableBasicAuth": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnableBasicAuth"
                        },
                        {
                          "description": " Enables basic authorization for the autocreated branch. "
                        }
                      ]
                    },
                    "enablePerformanceMode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnablePerformanceMode"
                        },
                        {
                          "description": "<p>Enables performance mode for the branch.</p> <p>Performance mode optimizes for faster hosting performance by keeping content cached at the edge for a longer interval. When performance mode is enabled, hosting configuration or code changes can take up to 10 minutes to roll out. </p>"
                        }
                      ]
                    },
                    "enablePullRequestPreview": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnablePullRequestPreview"
                        },
                        {
                          "description": " Enables pull request previews for the autocreated branch. "
                        }
                      ]
                    },
                    "environmentVariables": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnvironmentVariables"
                        },
                        {
                          "description": " The environment variables for the autocreated branch. "
                        }
                      ]
                    },
                    "framework": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Framework"
                        },
                        {
                          "description": " The framework for the autocreated branch. "
                        }
                      ]
                    },
                    "pullRequestEnvironmentName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PullRequestEnvironmentName"
                        },
                        {
                          "description": " The Amplify environment name for the pull request. "
                        }
                      ]
                    },
                    "stage": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Stage"
                        },
                        {
                          "description": " Describes the current stage for the autocreated branch. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "autoBranchCreationPatterns": {
                  "description": " Describes the automated branch creation glob patterns for an Amplify app. ",
                  "items": {
                    "$ref": "#/definitions/AutoBranchCreationPattern"
                  },
                  "type": "array"
                },
                "basicAuthCredentials": {
                  "description": " The basic authorization credentials for an Amplify app. ",
                  "format": "password",
                  "maxLength": 2000,
                  "type": "string"
                },
                "buildSpec": {
                  "description": " The build specification (build spec) file for an Amplify app build. ",
                  "maxLength": 25000,
                  "minLength": 1,
                  "type": "string"
                },
                "customHeaders": {
                  "description": "The custom HTTP headers for an Amplify app.",
                  "maxLength": 25000,
                  "minLength": 1,
                  "type": "string"
                },
                "customRules": {
                  "description": " The custom redirect and rewrite rules for an Amplify app. ",
                  "items": {
                    "$ref": "#/definitions/CustomRule"
                  },
                  "type": "array"
                },
                "description": {
                  "description": " The description for an Amplify app. ",
                  "maxLength": 1000,
                  "type": "string"
                },
                "enableAutoBranchCreation": {
                  "description": " Enables automated branch creation for an Amplify app. ",
                  "type": "boolean"
                },
                "enableBasicAuth": {
                  "description": " Enables basic authorization for an Amplify app. ",
                  "type": "boolean"
                },
                "enableBranchAutoBuild": {
                  "description": " Enables branch auto-building for an Amplify app. ",
                  "type": "boolean"
                },
                "enableBranchAutoDeletion": {
                  "description": " Automatically disconnects a branch in the Amplify Console when you delete a branch from your Git repository. ",
                  "type": "boolean"
                },
                "environmentVariables": {
                  "additionalProperties": {
                    "$ref": "#/definitions/EnvValue"
                  },
                  "description": " The environment variables for an Amplify app. ",
                  "type": "object"
                },
                "iamServiceRoleArn": {
                  "description": " The AWS Identity and Access Management (IAM) service role for an Amplify app. ",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": " The name for an Amplify app. ",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "oauthToken": {
                  "description": " The OAuth token for a third-party source control system for an Amplify app. The token is used to create a webhook and a read-only deploy key. The OAuth token is not stored. ",
                  "format": "password",
                  "maxLength": 1000,
                  "type": "string"
                },
                "platform": {
                  "description": " The platform for an Amplify app. ",
                  "enum": [
                    "WEB"
                  ],
                  "type": "string"
                },
                "repository": {
                  "description": " The name of the repository for an Amplify app ",
                  "maxLength": 1000,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAppResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Updates an existing Amplify app. ",
        "operationId": "UpdateApp"
      }
    },
    "/apps/{appId}/accesslogs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "domainName": {
                  "description": " The name of the domain. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "endTime": {
                  "description": " The time at which the logs should end. The time range specified is inclusive of the end time. ",
                  "format": "date-time",
                  "type": "string"
                },
                "startTime": {
                  "description": " The time at which the logs should start. The time range specified is inclusive of the start time. ",
                  "format": "date-time",
                  "type": "string"
                }
              },
              "required": [
                "domainName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GenerateAccessLogsResult"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Returns the website access logs for a specific time range using a presigned URL. ",
        "operationId": "GenerateAccessLogs"
      }
    },
    "/apps/{appId}/backendenvironments": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name of the backend environment ",
            "in": "query",
            "maxLength": 255,
            "minLength": 1,
            "name": "environmentName",
            "required": false,
            "type": "string"
          },
          {
            "description": " A pagination token. Set to null to start listing backend environments from the start. If a non-null pagination token is returned in a result, pass its value in here to list more backend environments. ",
            "in": "query",
            "maxLength": 2000,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": " The maximum number of records to list in a single response. ",
            "in": "query",
            "maximum": 100,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBackendEnvironmentsResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Lists the backend environments for an Amplify app. ",
        "operationId": "ListBackendEnvironments"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "deploymentArtifacts": {
                  "description": " The name of deployment artifacts. ",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                },
                "environmentName": {
                  "description": " The name for the backend environment. ",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "stackName": {
                  "description": " The AWS CloudFormation stack name of a backend environment. ",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "environmentName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBackendEnvironmentResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Creates a new backend environment for an Amplify app. ",
        "operationId": "CreateBackendEnvironment"
      }
    },
    "/apps/{appId}/backendenvironments/{environmentName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID of an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name of a backend environment of an Amplify app. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "environmentName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteBackendEnvironmentResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "DependentServiceFailureException",
            "schema": {
              "$ref": "#/definitions/DependentServiceFailureException"
            }
          }
        },
        "description": " Deletes a backend environment for an Amplify app. ",
        "operationId": "DeleteBackendEnvironment"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique id for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for the backend environment. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "environmentName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBackendEnvironmentResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Returns a backend environment for an Amplify app. ",
        "operationId": "GetBackendEnvironment"
      }
    },
    "/apps/{appId}/branches": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " A pagination token. Set to null to start listing branches from the start. If a non-null pagination token is returned in a result, pass its value in here to list more branches. ",
            "in": "query",
            "maxLength": 2000,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": " The maximum number of records to list in a single response. ",
            "in": "query",
            "maximum": 100,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBranchesResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Lists the branches of an Amplify app. ",
        "operationId": "ListBranches"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": " The tag for the branch. ",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "backendEnvironmentArn": {
                  "description": " The Amazon Resource Name (ARN) for a backend environment that is part of an Amplify app. ",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                },
                "basicAuthCredentials": {
                  "description": " The basic authorization credentials for the branch. ",
                  "format": "password",
                  "maxLength": 2000,
                  "type": "string"
                },
                "branchName": {
                  "description": " The name for the branch. ",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "buildSpec": {
                  "description": " The build specification (build spec) file for an Amplify app build. ",
                  "maxLength": 25000,
                  "minLength": 1,
                  "type": "string"
                },
                "description": {
                  "description": " The description for the branch. ",
                  "maxLength": 1000,
                  "type": "string"
                },
                "displayName": {
                  "description": " The display name for a branch. This is used as the default domain prefix. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "enableAutoBuild": {
                  "description": " Enables auto building for the branch. ",
                  "type": "boolean"
                },
                "enableBasicAuth": {
                  "description": " Enables basic authorization for the branch. ",
                  "type": "boolean"
                },
                "enableNotification": {
                  "description": " Enables notifications for the branch. ",
                  "type": "boolean"
                },
                "enablePerformanceMode": {
                  "description": "<p>Enables performance mode for the branch.</p> <p>Performance mode optimizes for faster hosting performance by keeping content cached at the edge for a longer interval. When performance mode is enabled, hosting configuration or code changes can take up to 10 minutes to roll out. </p>",
                  "type": "boolean"
                },
                "enablePullRequestPreview": {
                  "description": " Enables pull request previews for this branch. ",
                  "type": "boolean"
                },
                "environmentVariables": {
                  "additionalProperties": {
                    "$ref": "#/definitions/EnvValue"
                  },
                  "description": " The environment variables for the branch. ",
                  "type": "object"
                },
                "framework": {
                  "description": " The framework for the branch. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "pullRequestEnvironmentName": {
                  "description": " The Amplify environment name for the pull request. ",
                  "maxLength": 20,
                  "type": "string"
                },
                "stage": {
                  "description": " Describes the current stage for the branch. ",
                  "enum": [
                    "PRODUCTION",
                    "BETA",
                    "DEVELOPMENT",
                    "EXPERIMENTAL",
                    "PULL_REQUEST"
                  ],
                  "type": "string"
                },
                "ttl": {
                  "description": " The content Time to Live (TTL) for the website in seconds. ",
                  "type": "string"
                }
              },
              "required": [
                "branchName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBranchResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "DependentServiceFailureException",
            "schema": {
              "$ref": "#/definitions/DependentServiceFailureException"
            }
          }
        },
        "description": " Creates a new branch for an Amplify app. ",
        "operationId": "CreateBranch"
      }
    },
    "/apps/{appId}/branches/{branchName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for the branch. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteBranchResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "DependentServiceFailureException",
            "schema": {
              "$ref": "#/definitions/DependentServiceFailureException"
            }
          }
        },
        "description": " Deletes a branch for an Amplify app. ",
        "operationId": "DeleteBranch"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for the branch. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBranchResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Returns a branch for an Amplify app. ",
        "operationId": "GetBranch"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for the branch. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "backendEnvironmentArn": {
                  "description": " The Amazon Resource Name (ARN) for a backend environment that is part of an Amplify app. ",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                },
                "basicAuthCredentials": {
                  "description": " The basic authorization credentials for the branch. ",
                  "format": "password",
                  "maxLength": 2000,
                  "type": "string"
                },
                "buildSpec": {
                  "description": " The build specification (build spec) file for an Amplify app build. ",
                  "maxLength": 25000,
                  "minLength": 1,
                  "type": "string"
                },
                "description": {
                  "description": " The description for the branch. ",
                  "maxLength": 1000,
                  "type": "string"
                },
                "displayName": {
                  "description": " The display name for a branch. This is used as the default domain prefix. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "enableAutoBuild": {
                  "description": " Enables auto building for the branch. ",
                  "type": "boolean"
                },
                "enableBasicAuth": {
                  "description": " Enables basic authorization for the branch. ",
                  "type": "boolean"
                },
                "enableNotification": {
                  "description": " Enables notifications for the branch. ",
                  "type": "boolean"
                },
                "enablePerformanceMode": {
                  "description": "<p>Enables performance mode for the branch.</p> <p>Performance mode optimizes for faster hosting performance by keeping content cached at the edge for a longer interval. When performance mode is enabled, hosting configuration or code changes can take up to 10 minutes to roll out. </p>",
                  "type": "boolean"
                },
                "enablePullRequestPreview": {
                  "description": " Enables pull request previews for this branch. ",
                  "type": "boolean"
                },
                "environmentVariables": {
                  "additionalProperties": {
                    "$ref": "#/definitions/EnvValue"
                  },
                  "description": " The environment variables for the branch. ",
                  "type": "object"
                },
                "framework": {
                  "description": " The framework for the branch. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "pullRequestEnvironmentName": {
                  "description": " The Amplify environment name for the pull request. ",
                  "maxLength": 20,
                  "type": "string"
                },
                "stage": {
                  "description": " Describes the current stage for the branch. ",
                  "enum": [
                    "PRODUCTION",
                    "BETA",
                    "DEVELOPMENT",
                    "EXPERIMENTAL",
                    "PULL_REQUEST"
                  ],
                  "type": "string"
                },
                "ttl": {
                  "description": " The content Time to Live (TTL) for the website in seconds. ",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateBranchResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "DependentServiceFailureException",
            "schema": {
              "$ref": "#/definitions/DependentServiceFailureException"
            }
          }
        },
        "description": " Updates a branch for an Amplify app. ",
        "operationId": "UpdateBranch"
      }
    },
    "/apps/{appId}/branches/{branchName}/deployments": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for the branch, for the job. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "fileMap": {
                  "additionalProperties": {
                    "$ref": "#/definitions/MD5Hash"
                  },
                  "description": " An optional file map that contains the file name as the key and the file content md5 hash as the value. If this argument is provided, the service will generate a unique upload URL per file. Otherwise, the service will only generate a single upload URL for the zipped files. ",
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDeploymentResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Creates a deployment for a manually deployed Amplify app. Manually deployed apps are not connected to a repository. ",
        "operationId": "CreateDeployment"
      }
    },
    "/apps/{appId}/branches/{branchName}/deployments/start": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for the branch, for the job. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "jobId": {
                  "description": " The job ID for this deployment, generated by the create deployment request. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "sourceUrl": {
                  "description": " The source URL for this deployment, used when calling start deployment without create deployment. The source URL can be any HTTP GET URL that is publicly accessible and downloads a single .zip file. ",
                  "maxLength": 1000,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartDeploymentResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Starts a deployment for a manually deployed app. Manually deployed apps are not connected to a repository. ",
        "operationId": "StartDeployment"
      }
    },
    "/apps/{appId}/branches/{branchName}/jobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for a branch. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "description": " A pagination token. Set to null to start listing steps from the start. If a non-null pagination token is returned in a result, pass its value in here to list more steps. ",
            "in": "query",
            "maxLength": 2000,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": " The maximum number of records to list in a single response. ",
            "in": "query",
            "maximum": 100,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobsResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Lists the jobs for a branch of an Amplify app. ",
        "operationId": "ListJobs"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The branch name for the job. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "commitId": {
                  "description": " The commit ID from a third-party repository provider for the job. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "commitMessage": {
                  "description": " The commit message from a third-party repository provider for the job. ",
                  "maxLength": 10000,
                  "type": "string"
                },
                "commitTime": {
                  "description": " The commit date and time for the job. ",
                  "format": "date-time",
                  "type": "string"
                },
                "jobId": {
                  "description": " The unique ID for an existing job. This is required if the value of <code>jobType</code> is <code>RETRY</code>. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "jobReason": {
                  "description": " A descriptive reason for starting this job. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "jobType": {
                  "description": " Describes the type for the job. The job type <code>RELEASE</code> starts a new job with the latest change from the specified branch. This value is available only for apps that are connected to a repository. The job type <code>RETRY</code> retries an existing job. If the job type value is <code>RETRY</code>, the <code>jobId</code> is also required. ",
                  "enum": [
                    "RELEASE",
                    "RETRY",
                    "MANUAL",
                    "WEB_HOOK"
                  ],
                  "maxLength": 10,
                  "type": "string"
                }
              },
              "required": [
                "jobType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartJobResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Starts a new job for a branch of an Amplify app. ",
        "operationId": "StartJob"
      }
    },
    "/apps/{appId}/branches/{branchName}/jobs/{jobId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for the branch, for the job. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "description": " The unique ID for the job. ",
            "in": "path",
            "maxLength": 255,
            "name": "jobId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteJobResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Deletes a job for a branch of an Amplify app. ",
        "operationId": "DeleteJob"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The branch name for the job. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "description": " The unique ID for the job. ",
            "in": "path",
            "maxLength": 255,
            "name": "jobId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetJobResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Returns a job for a branch of an Amplify app. ",
        "operationId": "GetJob"
      }
    },
    "/apps/{appId}/branches/{branchName}/jobs/{jobId}/artifacts": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name of a branch that is part of an Amplify app. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "description": " The unique ID for a job. ",
            "in": "path",
            "maxLength": 255,
            "name": "jobId",
            "required": true,
            "type": "string"
          },
          {
            "description": " A pagination token. Set to null to start listing artifacts from start. If a non-null pagination token is returned in a result, pass its value in here to list more artifacts. ",
            "in": "query",
            "maxLength": 2000,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": " The maximum number of records to list in a single response. ",
            "in": "query",
            "maximum": 100,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListArtifactsResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Returns a list of artifacts for a specified app, branch, and job. ",
        "operationId": "ListArtifacts"
      }
    },
    "/apps/{appId}/branches/{branchName}/jobs/{jobId}/stop": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " The name for the branch, for the job. ",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "branchName",
            "required": true,
            "type": "string"
          },
          {
            "description": " The unique id for the job. ",
            "in": "path",
            "maxLength": 255,
            "name": "jobId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopJobResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": " Stops a job that is in progress for a branch of an Amplify app. ",
        "operationId": "StopJob"
      }
    },
    "/apps/{appId}/domains": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "description": " A pagination token. Set to null to start listing apps from the start. If non-null, a pagination token is returned in a result. Pass its value in here to list more projects. ",
            "in": "query",
            "maxLength": 2000,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": " The maximum number of records to list in a single response. ",
            "in": "query",
            "maximum": 100,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDomainAssociationsResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": " Returns the domain associations for an Amplify app. ",
        "operationId": "ListDomainAssociations"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The unique ID for an Amplify app. ",
            "in": "path",
            "maxLength": 20,
            "minLength": 1,
            "name": "appId",
            "pattern": "d[a-z0-9]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "autoSubDomainCreationPatterns": {
                  "description": " Sets the branch patterns for automatic subdomain creation. ",
                  "items": {
                    "$ref": "#/definitions/AutoSubDomainCreationPattern"
                  },
                  "type": "array"
                },
                "autoSubDomainIAMRole": {
                  "description": " The required AWS Identity and Access Management (IAM) service role for the Amazon Resource Name (ARN) for automatically creating subdomains. ",
                  "maxLength": 1000,
                  "pattern": "^$|^arn:aws:iam::\\d{12}:role.+",
                  "type": "string"
                },
                "domainName": {
                  "description": " The domain name for the domain association. ",
                  "maxLength": 255,
                  "type": "string"
                },
                "enableAutoSubDomain": {
                  "description": " Enables the automated creation of subdomains for branches. ",
                  "type": "boolean"
                },
                "subDomainSettings": {
                  "description": " The setting for the subdomain. ",
                  "items": {
                    "$ref": "#/definitions/SubDomainSetting"
                  },
                  "maxItems": 255,
                  "type": "array"
                }
              },
              "required": [
                "domainName",
                "subDomainSettings"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDomainAssociationResult"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "DependentServiceFailureException",
            "schema": {
              "$ref": "#/definitions/DependentServiceFailureException"
            }
          }
        },
        "description": " Creates a new domain association for an Amplify app. This action associates a custom domain with the Amplify app ",
        "operationId": "CreateDomainAssociation"
      }
    },
    "/apps/{appId}/domains/{domainName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
[...]
