{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "NBA v3 Projections",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nba-v3-projections.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nba-v3-projections",
    "x-datafire": {
      "name": "sportsdata_nba_v3_projections",
      "type": "openapi"
    }
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/nba/projections",
  "schemes": [
    "http"
  ],
  "paths": {
    "/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "XML",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "XML",
              "JSON"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/DfsSlate"
              },
              "type": "array"
            }
          }
        },
        "operationId": "DfsSlatesByDate",
        "summary": "DFS Slates by Date"
      }
    },
    "/{format}/PlayerGameProjectionStatsByDate/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "XML",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "XML",
              "JSON"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date of the game(s). <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/PlayerGameProjection"
              },
              "type": "array"
            }
          }
        },
        "operationId": "ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries",
        "summary": "Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)"
      }
    },
    "/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "XML",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "XML",
              "JSON"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date of the game(s).<br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Player ID. Example:<code>20000571</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PlayerGameProjection"
            }
          }
        },
        "operationId": "ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries",
        "summary": "Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)"
      }
    },
    "/{format}/PlayerSeasonProjectionStats/{season}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "XML",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "XML",
              "JSON"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2019</code>, etc.",
            "in": "path",
            "name": "season",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/PlayerSeasonProjection"
              },
              "type": "array"
            }
          }
        },
        "operationId": "ProjectedPlayerSeasonStats",
        "summary": "Projected Player Season Stats"
      }
    },
    "/{format}/PlayerSeasonProjectionStatsByPlayer/{season}/{playerid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "XML",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "XML",
              "JSON"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2019</code>, etc.",
            "in": "path",
            "name": "season",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Player ID. Example:<code>20000571</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PlayerSeasonProjection"
            }
          }
        },
        "operationId": "ProjectedPlayerSeasonStatsByPlayer",
        "summary": "Projected Player Season Stats by Player"
      }
    },
    "/{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "XML",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "XML",
              "JSON"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2019</code>, etc.",
            "in": "path",
            "name": "season",
            "required": true,
            "type": "string"
          },
          {
            "description": "The abbreviation of the requested team.\n<br>Examples: <code>MIA</code>, <code>PHI</code>.",
            "in": "path",
            "name": "team",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/PlayerSeasonProjection"
              },
              "type": "array"
            }
          }
        },
        "operationId": "ProjectedPlayerSeasonStatsByTeam",
        "summary": "Projected Player Season Stats by Team"
      }
    }
  },
  "definitions": {
    "DfsSlate": {
      "properties": {
        "DfsSlateGames": {
          "items": {
            "$ref": "#/definitions/DfsSlateGame"
          },
          "type": "array"
        },
        "DfsSlatePlayers": {
          "items": {
            "$ref": "#/definitions/DfsSlatePlayer"
          },
          "type": "array"
        },
        "IsMultiDaySlate": {
          "nullable": true,
          "type": "boolean"
        },
        "NumberOfGames": {
          "nullable": true,
          "type": "integer"
        },
        "Operator": {
          "nullable": true,
          "type": "string"
        },
        "OperatorDay": {
          "nullable": true,
          "type": "string"
        },
        "OperatorGameType": {
          "nullable": true,
          "type": "string"
        },
        "OperatorName": {
          "nullable": true,
          "type": "string"
        },
        "OperatorSlateID": {
          "nullable": true,
          "type": "integer"
        },
        "OperatorStartTime": {
          "nullable": true,
          "type": "string"
        },
        "RemovedByOperator": {
          "nullable": true,
          "type": "boolean"
        },
        "SalaryCap": {
          "nullable": true,
          "type": "integer"
        },
        "SlateID": {
          "nullable": false,
          "type": "integer"
        },
        "SlateRosterSlots": {
          "items": {
            "nullable": true,
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DfsSlateGame": {
      "properties": {
        "Game": {
          "$ref": "#/definitions/Game"
        },
        "GameID": {
          "nullable": true,
          "type": "integer"
        },
        "OperatorGameID": {
          "nullable": true,
          "type": "integer"
        },
        "RemovedByOperator": {
          "nullable": true,
          "type": "boolean"
        },
        "SlateGameID": {
          "nullable": false,
          "type": "integer"
        },
        "SlateID": {
          "nullable": false,
          "type": "integer"
        }
      }
    },
    "DfsSlatePlayer": {
      "properties": {
        "OperatorPlayerID": {
          "nullable": true,
          "type": "string"
        },
        "OperatorPlayerName": {
          "nullable": true,
          "type": "string"
        },
        "OperatorPosition": {
          "nullable": true,
          "type": "string"
        },
        "OperatorRosterSlots": {
          "items": {
            "nullable": true,
            "type": "string"
          },
          "type": "array"
        },
        "OperatorSalary": {
          "nullable": true,
          "type": "integer"
        },
        "OperatorSlatePlayerID": {
          "nullable": true,
          "type": "string"
        },
        "PlayerGameProjectionStatID": {
          "nullable": true,
          "type": "integer"
        },
        "PlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "RemovedByOperator": {
          "nullable": true,
          "type": "boolean"
        },
        "SlateGameID": {
          "nullable": true,
          "type": "integer"
        },
        "SlateID": {
          "nullable": false,
          "type": "integer"
        },
        "SlatePlayerID": {
          "nullable": false,
          "type": "integer"
        },
        "Team": {
          "nullable": true,
          "type": "string"
        },
        "TeamID": {
          "nullable": true,
          "type": "integer"
        }
      }
    },
    "Game": {
      "properties": {
        "Attendance": {
          "nullable": true,
          "type": "integer"
        },
        "AwayRotationNumber": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeam": {
          "nullable": true,
          "type": "string"
        },
        "AwayTeamID": {
          "nullable": false,
          "type": "integer"
        },
        "AwayTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "Channel": {
          "nullable": true,
          "type": "string"
        },
        "DateTime": {
          "nullable": true,
          "type": "string"
        },
        "Day": {
          "nullable": true,
          "type": "string"
        },
        "GameEndDateTime": {
          "nullable": true,
          "type": "string"
        },
        "GameID": {
          "nullable": false,
          "type": "integer"
        },
        "GlobalAwayTeamID": {
          "nullable": false,
          "type": "integer"
        },
        "GlobalGameID": {
          "nullable": false,
          "type": "integer"
        },
        "GlobalHomeTeamID": {
          "nullable": false,
          "type": "integer"
        },
        "HomeRotationNumber": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeam": {
          "nullable": true,
          "type": "string"
        },
        "HomeTeamID": {
          "nullable": false,
          "type": "integer"
        },
        "HomeTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "IsClosed": {
          "nullable": false,
          "type": "boolean"
        },
        "LastPlay": {
          "nullable": true,
          "type": "string"
        },
        "NeutralVenue": {
          "nullable": true,
          "type": "boolean"
        },
        "OverUnder": {
          "nullable": true,
          "type": "number"
        },
        "PointSpread": {
          "nullable": true,
          "type": "number"
        },
        "PointSpreadAwayTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "PointSpreadHomeTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "Quarter": {
          "nullable": true,
          "type": "string"
        },
        "Quarters": {
          "items": {
            "$ref": "#/definitions/Quarter"
          },
          "type": "array"
        },
        "Season": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonType": {
          "nullable": false,
          "type": "integer"
        },
        "StadiumID": {
          "nullable": true,
          "type": "integer"
        },
        "Status": {
          "nullable": true,
          "type": "string"
        },
        "TimeRemainingMinutes": {
          "nullable": true,
          "type": "integer"
        },
        "TimeRemainingSeconds": {
          "nullable": true,
          "type": "integer"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "PlayerGameProjection": {
      "properties": {
        "Assists": {
          "nullable": true,
          "type": "number"
        },
        "AssistsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "BlockedShots": {
          "nullable": true,
          "type": "number"
        },
        "BlocksPercentage": {
          "nullable": true,
          "type": "number"
        },
        "DateTime": {
          "nullable": true,
          "type": "string"
        },
        "Day": {
          "nullable": true,
          "type": "string"
        },
        "DefensiveRebounds": {
          "nullable": true,
          "type": "number"
        },
        "DefensiveReboundsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "DoubleDoubles": {
          "nullable": true,
          "type": "number"
        },
        "DraftKingsPosition": {
          "nullable": true,
          "type": "string"
        },
        "DraftKingsSalary": {
          "nullable": true,
          "type": "integer"
        },
        "EffectiveFieldGoalsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "FanDuelPosition": {
          "nullable": true,
          "type": "string"
        },
        "FanDuelSalary": {
          "nullable": true,
          "type": "integer"
        },
        "FantasyDataSalary": {
          "nullable": true,
          "type": "integer"
        },
        "FantasyDraftPosition": {
          "nullable": true,
          "type": "string"
        },
        "FantasyDraftSalary": {
          "nullable": true,
          "type": "integer"
        },
        "FantasyPoints": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsDraftKings": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsFanDuel": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsFantasyDraft": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsYahoo": {
          "nullable": true,
          "type": "number"
        },
        "FieldGoalsAttempted": {
          "nullable": true,
          "type": "number"
        },
        "FieldGoalsMade": {
          "nullable": true,
          "type": "number"
        },
        "FieldGoalsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "FreeThrowsAttempted": {
          "nullable": true,
          "type": "number"
        },
        "FreeThrowsMade": {
          "nullable": true,
          "type": "number"
        },
        "FreeThrowsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "GameID": {
          "nullable": true,
          "type": "integer"
        },
        "Games": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalGameID": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalOpponentID": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalTeamID": {
          "nullable": true,
          "type": "integer"
        },
        "HomeOrAway": {
          "nullable": true,
          "type": "string"
        },
        "InjuryBodyPart": {
          "nullable": true,
          "type": "string"
        },
        "InjuryNotes": {
          "nullable": true,
          "type": "string"
        },
        "InjuryStartDate": {
          "nullable": true,
          "type": "string"
        },
        "InjuryStatus": {
          "nullable": true,
          "type": "string"
        },
        "IsClosed": {
          "nullable": false,
          "type": "boolean"
        },
        "IsGameOver": {
          "nullable": false,
          "type": "boolean"
        },
        "LineupConfirmed": {
          "nullable": true,
          "type": "boolean"
        },
        "LineupStatus": {
          "nullable": true,
          "type": "string"
        },
        "Minutes": {
          "nullable": true,
          "type": "integer"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "OffensiveRebounds": {
          "nullable": true,
          "type": "number"
        },
        "OffensiveReboundsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "Opponent": {
          "nullable": true,
          "type": "string"
        },
        "OpponentID": {
          "nullable": true,
          "type": "integer"
        },
        "OpponentPositionRank": {
          "nullable": true,
          "type": "integer"
        },
        "OpponentRank": {
          "nullable": true,
          "type": "integer"
        },
        "PersonalFouls": {
          "nullable": true,
          "type": "number"
        },
        "PlayerEfficiencyRating": {
          "nullable": true,
          "type": "number"
        },
        "PlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "PlusMinus": {
          "nullable": true,
          "type": "number"
        },
        "Points": {
          "nullable": true,
          "type": "number"
        },
        "Position": {
          "nullable": true,
          "type": "string"
        },
        "Rebounds": {
          "nullable": true,
          "type": "number"
        },
        "Season": {
          "nullable": true,
          "type": "integer"
        },
        "SeasonType": {
          "nullable": true,
          "type": "integer"
        },
        "Seconds": {
          "nullable": true,
          "type": "integer"
        },
        "Started": {
          "nullable": true,
          "type": "integer"
        },
        "StatID": {
          "nullable": false,
          "type": "integer"
        },
        "Steals": {
          "nullable": true,
          "type": "number"
        },
        "StealsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "Team": {
          "nullable": true,
          "type": "string"
        },
        "TeamID": {
          "nullable": true,
          "type": "integer"
        },
        "ThreePointersAttempted": {
          "nullable": true,
          "type": "number"
        },
        "ThreePointersMade": {
          "nullable": true,
          "type": "number"
        },
        "ThreePointersPercentage": {
          "nullable": true,
          "type": "number"
        },
        "TotalReboundsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "TripleDoubles": {
          "nullable": true,
          "type": "number"
        },
        "TrueShootingAttempts": {
          "nullable": true,
          "type": "number"
        },
        "TrueShootingPercentage": {
          "nullable": true,
          "type": "number"
        },
        "TurnOversPercentage": {
          "nullable": true,
          "type": "number"
        },
        "Turnovers": {
          "nullable": true,
          "type": "number"
        },
        "TwoPointersAttempted": {
          "nullable": true,
          "type": "number"
        },
        "TwoPointersMade": {
          "nullable": true,
          "type": "number"
        },
        "TwoPointersPercentage": {
          "nullable": true,
          "type": "number"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "UsageRatePercentage": {
          "nullable": true,
          "type": "number"
        },
        "YahooPosition": {
          "nullable": true,
          "type": "string"
        },
        "YahooSalary": {
          "nullable": true,
          "type": "integer"
        }
      }
    },
    "PlayerSeasonProjection": {
      "properties": {
        "Assists": {
          "nullable": true,
          "type": "number"
        },
        "AssistsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "BlockedShots": {
          "nullable": true,
          "type": "number"
        },
        "BlocksPercentage": {
          "nullable": true,
          "type": "number"
        },
        "DefensiveRebounds": {
          "nullable": true,
          "type": "number"
        },
        "DefensiveReboundsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "DoubleDoubles": {
          "nullable": true,
          "type": "number"
        },
        "EffectiveFieldGoalsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPoints": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsDraftKings": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsFanDuel": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsFantasyDraft": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsYahoo": {
          "nullable": true,
          "type": "number"
        },
        "FieldGoalsAttempted": {
          "nullable": true,
          "type": "number"
        },
        "FieldGoalsMade": {
          "nullable": true,
          "type": "number"
        },
        "FieldGoalsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "FreeThrowsAttempted": {
          "nullable": true,
          "type": "number"
        },
        "FreeThrowsMade": {
          "nullable": true,
          "type": "number"
        },
        "FreeThrowsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "Games": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalTeamID": {
          "nullable": true,
          "type": "integer"
        },
        "IsClosed": {
          "nullable": false,
          "type": "boolean"
        },
        "LineupConfirmed": {
          "nullable": true,
          "type": "boolean"
        },
        "LineupStatus": {
          "nullable": true,
          "type": "string"
        },
        "Minutes": {
          "nullable": true,
          "type": "integer"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "OffensiveRebounds": {
          "nullable": true,
          "type": "number"
        },
        "OffensiveReboundsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "PersonalFouls": {
          "nullable": true,
          "type": "number"
        },
        "PlayerEfficiencyRating": {
          "nullable": true,
          "type": "number"
        },
        "PlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "PlusMinus": {
          "nullable": true,
          "type": "number"
        },
        "Points": {
          "nullable": true,
          "type": "number"
        },
        "Position": {
          "nullable": true,
          "type": "string"
        },
        "Rebounds": {
          "nullable": true,
          "type": "number"
        },
        "Season": {
          "nullable": true,
          "type": "integer"
        },
        "SeasonType": {
          "nullable": true,
          "type": "integer"
        },
        "Seconds": {
          "nullable": true,
          "type": "integer"
        },
        "Started": {
          "nullable": true,
          "type": "integer"
        },
        "StatID": {
          "nullable": false,
          "type": "integer"
        },
        "Steals": {
          "nullable": true,
          "type": "number"
        },
        "StealsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "Team": {
          "nullable": true,
          "type": "string"
        },
        "TeamID": {
          "nullable": true,
          "type": "integer"
        },
        "ThreePointersAttempted": {
          "nullable": true,
          "type": "number"
        },
        "ThreePointersMade": {
          "nullable": true,
          "type": "number"
        },
        "ThreePointersPercentage": {
          "nullable": true,
          "type": "number"
        },
        "TotalReboundsPercentage": {
          "nullable": true,
          "type": "number"
        },
        "TripleDoubles": {
          "nullable": true,
          "type": "number"
        },
        "TrueShootingAttempts": {
          "nullable": true,
          "type": "number"
        },
        "TrueShootingPercentage": {
          "nullable": true,
          "type": "number"
        },
        "TurnOversPercentage": {
          "nullable": true,
          "type": "number"
        },
        "Turnovers": {
          "nullable": true,
          "type": "number"
        },
        "TwoPointersAttempted": {
          "nullable": true,
          "type": "number"
        },
        "TwoPointersMade": {
          "nullable": true,
          "type": "number"
        },
        "TwoPointersPercentage": {
          "nullable": true,
          "type": "number"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "UsageRatePercentage": {
          "nullable": true,
          "type": "number"
        }
      }
    },
    "Quarter": {
      "properties": {
        "AwayScore": {
          "nullable": true,
          "type": "integer"
        },
        "GameID": {
          "nullable": false,
          "type": "integer"
        },
        "HomeScore": {
          "nullable": true,
          "type": "integer"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Number": {
          "nullable": false,
          "type": "integer"
        },
        "QuarterID": {
          "nullable": false,
          "type": "integer"
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "x-components": {}
}