{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "AWS Amplify Admin API",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AmplifyBackend",
    "version": "2020-08-11",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/amplifybackend-2020-08-11.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "amplifybackend",
    "x-datafire": {
      "name": "amazonaws_amplifybackend",
      "type": "openapi"
    }
  },
  "host": "amplifybackend.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/backend": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "appId": {
                  "description": "The app ID.",
                  "type": "string"
                },
                "appName": {
                  "description": "The name of the app.",
                  "type": "string"
                },
                "backendEnvironmentName": {
                  "description": "The name of the backend environment.",
                  "type": "string"
                },
                "resourceConfig": {
                  "description": "Defines the resource configuration for the data model in your Amplify project.",
                  "properties": {},
                  "type": "object"
                },
                "resourceName": {
                  "description": "The name of the resource.",
                  "type": "string"
                }
              },
              "required": [
                "appId",
                "appName",
                "backendEnvironmentName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBackendResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "This operation creates a backend for an Amplify app. Backends are automatically created at the time of app creation.",
        "operationId": "CreateBackend"
      }
    },
    "/backend/{appId}/api": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "backendEnvironmentName": {
                  "description": "The name of the backend environment.",
                  "type": "string"
                },
                "resourceConfig": {
                  "description": "The resource configuration for the data model, configured as a part of the Amplify project.",
                  "properties": {
                    "AdditionalAuthTypes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ListOfBackendAPIAuthType"
                        },
                        {
                          "description": "Additional authentication methods used to interact with your data models.",
                          "xml": {
                            "name": "additionalAuthTypes"
                          }
                        }
                      ]
                    },
                    "ApiName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The API name used to interact with the data model, configured as a part of the Amplify project.",
                          "xml": {
                            "name": "apiName"
                          }
                        }
                      ]
                    },
                    "ConflictResolution": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BackendAPIConflictResolution"
                        },
                        {
                          "description": "The conflict resolution strategy for your data stored in the data models.",
                          "xml": {
                            "name": "conflictResolution"
                          }
                        }
                      ]
                    },
                    "DefaultAuthType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BackendAPIAuthType"
                        },
                        {
                          "description": "The default authentication type for interacting with the configured data models in your Amplify project.",
                          "xml": {
                            "name": "defaultAuthType"
                          }
                        }
                      ]
                    },
                    "Service": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The service used to provision and interact with the data model.",
                          "xml": {
                            "name": "service"
                          }
                        }
                      ]
                    },
                    "TransformSchema": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The definition of the data model in the annotated transform of the GraphQL schema.",
                          "xml": {
                            "name": "transformSchema"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "backendEnvironmentName",
                "resourceConfig",
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBackendAPIResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Creates a new backend API resource.",
        "operationId": "CreateBackendAPI"
      }
    },
    "/backend/{appId}/api/{backendEnvironmentName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "resourceConfig": {
                  "description": "The resource configuration for the data model, configured as a part of the Amplify project.",
                  "properties": {
                    "AdditionalAuthTypes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ListOfBackendAPIAuthType"
                        },
                        {
                          "description": "Additional authentication methods used to interact with your data models.",
                          "xml": {
                            "name": "additionalAuthTypes"
                          }
                        }
                      ]
                    },
                    "ApiName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The API name used to interact with the data model, configured as a part of the Amplify project.",
                          "xml": {
                            "name": "apiName"
                          }
                        }
                      ]
                    },
                    "ConflictResolution": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BackendAPIConflictResolution"
                        },
                        {
                          "description": "The conflict resolution strategy for your data stored in the data models.",
                          "xml": {
                            "name": "conflictResolution"
                          }
                        }
                      ]
                    },
                    "DefaultAuthType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BackendAPIAuthType"
                        },
                        {
                          "description": "The default authentication type for interacting with the configured data models in your Amplify project.",
                          "xml": {
                            "name": "defaultAuthType"
                          }
                        }
                      ]
                    },
                    "Service": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The service used to provision and interact with the data model.",
                          "xml": {
                            "name": "service"
                          }
                        }
                      ]
                    },
                    "TransformSchema": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The definition of the data model in the annotated transform of the GraphQL schema.",
                          "xml": {
                            "name": "transformSchema"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateBackendAPIResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Updates an existing backend API resource.",
        "operationId": "UpdateBackendAPI"
      }
    },
    "/backend/{appId}/api/{backendEnvironmentName}/details": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "resourceConfig": {
                  "description": "The resource configuration for the data model, configured as a part of the Amplify project.",
                  "properties": {
                    "AdditionalAuthTypes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ListOfBackendAPIAuthType"
                        },
                        {
                          "description": "Additional authentication methods used to interact with your data models.",
                          "xml": {
                            "name": "additionalAuthTypes"
                          }
                        }
                      ]
                    },
                    "ApiName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The API name used to interact with the data model, configured as a part of the Amplify project.",
                          "xml": {
                            "name": "apiName"
                          }
                        }
                      ]
                    },
                    "ConflictResolution": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BackendAPIConflictResolution"
                        },
                        {
                          "description": "The conflict resolution strategy for your data stored in the data models.",
                          "xml": {
                            "name": "conflictResolution"
                          }
                        }
                      ]
                    },
                    "DefaultAuthType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BackendAPIAuthType"
                        },
                        {
                          "description": "The default authentication type for interacting with the configured data models in your Amplify project.",
                          "xml": {
                            "name": "defaultAuthType"
                          }
                        }
                      ]
                    },
                    "Service": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The service used to provision and interact with the data model.",
                          "xml": {
                            "name": "service"
                          }
                        }
                      ]
                    },
                    "TransformSchema": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The definition of the data model in the annotated transform of the GraphQL schema.",
                          "xml": {
                            "name": "transformSchema"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBackendAPIResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Gets the details for a backend API.",
        "operationId": "GetBackendAPI"
      }
    },
    "/backend/{appId}/api/{backendEnvironmentName}/generateModels": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GenerateBackendAPIModelsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Generates a model schema for an existing backend API resource.",
        "operationId": "GenerateBackendAPIModels"
      }
    },
    "/backend/{appId}/api/{backendEnvironmentName}/getModels": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBackendAPIModelsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Generates a model schema for existing backend API resource.",
        "operationId": "GetBackendAPIModels"
      }
    },
    "/backend/{appId}/api/{backendEnvironmentName}/remove": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "resourceConfig": {
                  "description": "The resource configuration for the data model, configured as a part of the Amplify project.",
                  "properties": {
                    "AdditionalAuthTypes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ListOfBackendAPIAuthType"
                        },
                        {
                          "description": "Additional authentication methods used to interact with your data models.",
                          "xml": {
                            "name": "additionalAuthTypes"
                          }
                        }
                      ]
                    },
                    "ApiName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The API name used to interact with the data model, configured as a part of the Amplify project.",
                          "xml": {
                            "name": "apiName"
                          }
                        }
                      ]
                    },
                    "ConflictResolution": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BackendAPIConflictResolution"
                        },
                        {
                          "description": "The conflict resolution strategy for your data stored in the data models.",
                          "xml": {
                            "name": "conflictResolution"
                          }
                        }
                      ]
                    },
                    "DefaultAuthType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BackendAPIAuthType"
                        },
                        {
                          "description": "The default authentication type for interacting with the configured data models in your Amplify project.",
                          "xml": {
                            "name": "defaultAuthType"
                          }
                        }
                      ]
                    },
                    "Service": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The service used to provision and interact with the data model.",
                          "xml": {
                            "name": "service"
                          }
                        }
                      ]
                    },
                    "TransformSchema": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The definition of the data model in the annotated transform of the GraphQL schema.",
                          "xml": {
                            "name": "transformSchema"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteBackendAPIResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Deletes an existing backend API resource.",
        "operationId": "DeleteBackendAPI"
      }
    },
    "/backend/{appId}/auth": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "backendEnvironmentName": {
                  "description": "The name of the backend environment.",
                  "type": "string"
                },
                "resourceConfig": {
                  "description": "Defines the resource configuration when creating an auth resource in your Amplify project.",
                  "properties": {
                    "AuthResources": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AuthResources"
                        },
                        {
                          "description": "Defines whether you want to configure only authentication or both authentication and authorization settings.",
                          "xml": {
                            "name": "authResources"
                          }
                        }
                      ]
                    },
                    "IdentityPoolConfigs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CreateBackendAuthIdentityPoolConfig"
                        },
                        {
                          "description": "Describes the authorization configuration for the Amazon Cognito identity pool, provisioned as a part of the auth resource in your Amplify project.",
                          "xml": {
                            "name": "identityPoolConfigs"
                          }
                        }
                      ]
                    },
                    "Service": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Service"
                        },
                        {
                          "description": "Defines the service name to use when configuring an authentication resource in your Amplify project.",
                          "xml": {
                            "name": "service"
                          }
                        }
                      ]
                    },
                    "UserPoolConfigs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CreateBackendAuthUserPoolConfig"
                        },
                        {
                          "description": "Describes the authentication configuration for the Amazon Cognito user pool, provisioned as a part of the auth resource in your Amplify project.",
                          "xml": {
                            "name": "userPoolConfigs"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "backendEnvironmentName",
                "resourceConfig",
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBackendAuthResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Creates a new backend authentication resource.",
        "operationId": "CreateBackendAuth"
      }
    },
    "/backend/{appId}/auth/{backendEnvironmentName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "resourceConfig": {
                  "description": "Defines the resource configuration when updating an authentication resource in your Amplify project.",
                  "properties": {
                    "AuthResources": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AuthResources"
                        },
                        {
                          "description": "Defines the service name to use when configuring an authentication resource in your Amplify project.",
                          "xml": {
                            "name": "authResources"
                          }
                        }
                      ]
                    },
                    "IdentityPoolConfigs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UpdateBackendAuthIdentityPoolConfig"
                        },
                        {
                          "description": "Describes the authorization configuration for the Amazon Cognito identity pool, provisioned as a part of the auth resource in your Amplify project.",
                          "xml": {
                            "name": "identityPoolConfigs"
                          }
                        }
                      ]
                    },
                    "Service": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Service"
                        },
                        {
                          "description": "Defines the service name to use when configuring an authentication resource in your Amplify project.",
                          "xml": {
                            "name": "service"
                          }
                        }
                      ]
                    },
                    "UserPoolConfigs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UpdateBackendAuthUserPoolConfig"
                        },
                        {
                          "description": "Describes the authentication configuration for the Amazon Cognito user pool, provisioned as a part of the auth resource in your Amplify project.",
                          "xml": {
                            "name": "userPoolConfigs"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "resourceConfig",
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateBackendAuthResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Updates an existing backend authentication resource.",
        "operationId": "UpdateBackendAuth"
      }
    },
    "/backend/{appId}/auth/{backendEnvironmentName}/details": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBackendAuthResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Gets backend auth details.",
        "operationId": "GetBackendAuth"
      }
    },
    "/backend/{appId}/auth/{backendEnvironmentName}/remove": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "resourceName": {
                  "description": "The name of this resource.",
                  "type": "string"
                }
              },
              "required": [
                "resourceName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteBackendAuthResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Deletes an existing backend authentication resource.",
        "operationId": "DeleteBackendAuth"
      }
    },
    "/backend/{appId}/challenge": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateTokenResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Generates a one-time challenge code to authenticate a user into your Amplify Admin UI.",
        "operationId": "CreateToken"
      }
    },
    "/backend/{appId}/challenge/{sessionId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The session ID.",
            "in": "path",
            "name": "sessionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTokenResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Gets the challenge token based on the given appId and sessionId.",
        "operationId": "GetToken"
      }
    },
    "/backend/{appId}/challenge/{sessionId}/remove": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The session ID.",
            "in": "path",
            "name": "sessionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteTokenResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Deletes the challenge token based on the given appId and sessionId.",
        "operationId": "DeleteToken"
      }
    },
    "/backend/{appId}/config": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "backendManagerAppId": {
                  "description": "The app ID for the backend manager.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBackendConfigResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Creates a config object for a backend.",
        "operationId": "CreateBackendConfig"
      }
    },
    "/backend/{appId}/config/remove": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemoveBackendConfigResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Removes the AWS resources that are required to access the Amplify Admin UI.",
        "operationId": "RemoveBackendConfig"
      }
    },
    "/backend/{appId}/config/update": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "loginAuthConfig": {
                  "description": "The request object for this operation.",
                  "properties": {
                    "AwsCognitoIdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The Amazon Cognito identity pool ID used for Amplify Admin UI login authorization.",
                          "xml": {
                            "name": "aws_cognito_identity_pool_id"
                          }
                        }
                      ]
                    },
                    "AwsCognitoRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The AWS Region for the Amplify Admin UI login.",
                          "xml": {
                            "name": "aws_cognito_region"
                          }
                        }
                      ]
                    },
                    "AwsUserPoolsId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The Amazon Cognito user pool ID used for Amplify Admin UI login authentication.",
                          "xml": {
                            "name": "aws_user_pools_id"
                          }
                        }
                      ]
                    },
                    "AwsUserPoolsWebClientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The web client ID for the Amazon Cognito user pools.",
                          "xml": {
                            "name": "aws_user_pools_web_client_id"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateBackendConfigResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Updates the AWS resources that are required to access the Amplify Admin UI.",
        "operationId": "UpdateBackendConfig"
      }
    },
    "/backend/{appId}/details": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "backendEnvironmentName": {
                  "description": "The name of the backend environment.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBackendResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Provides project-level details for your Amplify UI project.",
        "operationId": "GetBackend"
      }
    },
    "/backend/{appId}/environments/{backendEnvironmentName}/clone": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "targetEnvironmentName": {
                  "description": "The name of the destination backend environment to be created.",
                  "type": "string"
                }
              },
              "required": [
                "targetEnvironmentName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CloneBackendResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "This operation clones an existing backend.",
        "operationId": "CloneBackend"
      }
    },
    "/backend/{appId}/environments/{backendEnvironmentName}/remove": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteBackendResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Removes an existing environment from your Amplify project.",
        "operationId": "DeleteBackend"
      }
    },
    "/backend/{appId}/job/{backendEnvironmentName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "jobId": {
                  "description": "The ID for the job.",
                  "type": "string"
                },
                "maxResults": {
                  "description": "The maximum number of results that you want in the response.",
                  "maximum": 25,
                  "minimum": 1,
                  "type": "integer"
                },
                "nextToken": {
                  "description": "The token for the next set of results.",
                  "type": "string"
                },
                "operation": {
                  "description": "Filters the list of response objects to include only those with the specified operation name.",
                  "type": "string"
                },
                "status": {
                  "description": "Filters the list of response objects to include only those with the specified status.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBackendJobsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Lists the jobs for the backend of an Amplify app.",
        "operationId": "ListBackendJobs"
      }
    },
    "/backend/{appId}/job/{backendEnvironmentName}/{jobId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the job.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBackendJobResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Returns information about a specific job.",
        "operationId": "GetBackendJob"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the backend environment.",
            "in": "path",
            "name": "backendEnvironmentName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the job.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "operation": {
                  "description": "Filters the list of response objects to include only those with the specified operation name.",
                  "type": "string"
                },
                "status": {
                  "description": "Filters the list of response objects to include only those with the specified status.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateBackendJobResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Updates a specific job.",
        "operationId": "UpdateBackendJob"
      }
    },
    "/backend/{appId}/remove": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The app ID.",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "cleanAmplifyApp": {
                  "description": "Cleans up the Amplify Console app if this value is set to true.",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemoveAllBackendsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Removes all backend environments from your Amplify project.",
        "operationId": "RemoveAllBackends"
      }
    }
  },
  "definitions": {
    "AdditionalConstraintsElement": {
      "enum": [
        "REQUIRE_DIGIT",
        "REQUIRE_LOWERCASE",
        "REQUIRE_SYMBOL",
        "REQUIRE_UPPERCASE"
      ],
      "type": "string"
    },
    "AuthResources": {
      "enum": [
        "USER_POOL_ONLY",
        "IDENTITY_POOL_AND_USER_POOL"
      ],
      "type": "string"
    },
    "BackendAPIAppSyncAuthSettings": {
      "description": "The authentication settings for accessing provisioned data models in your Amplify project.",
      "properties": {
        "CognitoUserPoolId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The Amazon Cognito user pool ID, if Amazon Cognito is used as an authentication setting to access your data models.",
              "xml": {
                "name": "cognitoUserPoolId"
              }
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The API key description for API_KEY, if it is used as an authentication mechanism to access your data models.",
              "xml": {
                "name": "description"
              }
            }
          ]
        },
        "ExpirationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/__double"
            },
            {
              "description": "The API key expiration time for API_KEY, if it is used as an authentication mechanism to access your data models.",
              "xml": {
                "name": "expirationTime"
              }
            }
          ]
        },
        "OpenIDAuthTTL": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The expiry time for the OpenID authentication mechanism.",
              "xml": {
                "name": "openIDAuthTTL"
              }
            }
          ]
        },
        "OpenIDClientId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The clientID for openID, if openID is used as an authentication setting to access your data models.",
              "xml": {
                "name": "openIDClientId"
              }
            }
          ]
        },
        "OpenIDIatTTL": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The expiry time for the OpenID authentication mechanism.",
              "xml": {
                "name": "openIDIatTTL"
              }
            }
          ]
        },
        "OpenIDIssueURL": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The openID issuer URL, if openID is used as an authentication setting to access your data models.",
              "xml": {
                "name": "openIDIssueURL"
              }
            }
          ]
        },
        "OpenIDProviderName": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The openID provider name, if openID is used as an authentication mechanism to access your data models.",
              "xml": {
                "name": "openIDProviderName"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "BackendAPIAuthType": {
      "description": "Describes the auth types for your configured data models.",
      "properties": {
        "Mode": {
          "allOf": [
            {
              "$ref": "#/definitions/Mode"
            },
            {
              "description": "Describes the authentication mode.",
              "xml": {
                "name": "mode"
              }
            }
          ]
        },
        "Settings": {
          "allOf": [
            {
              "$ref": "#/definitions/BackendAPIAppSyncAuthSettings"
            },
            {
              "description": "Describes settings for the authentication mode.",
              "xml": {
                "name": "settings"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "BackendAPIConflictResolution": {
      "description": "Describes the conflict resolution configuration for the data model configured in your Amplify project.",
      "properties": {
        "ResolutionStrategy": {
          "allOf": [
            {
              "$ref": "#/definitions/ResolutionStrategy"
            },
            {
[...]
