{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>AWS Marketplace Metering Service</fullname> <p>This reference provides descriptions of the low-level AWS Marketplace Metering Service API.</p> <p>AWS Marketplace sellers can use this API to submit usage data for custom usage dimensions.</p> <p>For information on the permissions you need to use this API, see <a href=\"https://docs.aws.amazon.com/marketplace/latest/userguide/iam-user-policy-for-aws-marketplace-actions.html\">AWS Marketing metering and entitlement API permissions</a> in the <i>AWS Marketplace Seller Guide.</i> </p> <p> <b>Submitting Metering Records</b> </p> <ul> <li> <p> <i>MeterUsage</i>- Submits the metering record for a Marketplace product. MeterUsage is called from an EC2 instance or a container running on EKS or ECS.</p> </li> <li> <p> <i>BatchMeterUsage</i>- Submits the metering record for a set of customers. BatchMeterUsage is called from a software-as-a-service (SaaS) application.</p> </li> </ul> <p> <b>Accepting New Customers</b> </p> <ul> <li> <p> <i>ResolveCustomer</i>- Called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a Registration Token through the browser. The Registration Token is resolved through this API to obtain a CustomerIdentifier and Product Code.</p> </li> </ul> <p> <b>Entitlement and Metering for Paid Container Products</b> </p> <ul> <li> <p> Paid container software products sold through AWS Marketplace must integrate with the AWS Marketplace Metering Service and call the RegisterUsage operation for software entitlement and metering. Free and BYOL products for Amazon ECS or Amazon EKS aren't required to call RegisterUsage, but you can do so if you want to receive usage data in your seller reports. For more information on using the RegisterUsage operation, see <a href=\"https://docs.aws.amazon.com/marketplace/latest/userguide/container-based-products.html\">Container-Based Products</a>. </p> </li> </ul> <p>BatchMeterUsage API calls are captured by AWS CloudTrail. You can use Cloudtrail to verify that the SaaS metering records that you sent are accurate by searching for records with the eventName of BatchMeterUsage. You can also use CloudTrail to audit records over time. For more information, see the <i> <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html\">AWS CloudTrail User Guide</a> </i>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWSMarketplace Metering",
    "version": "2016-01-14",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/meteringmarketplace-2016-01-14.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "meteringmarketplace",
    "x-datafire": {
      "name": "amazonaws_metering_marketplace",
      "type": "openapi"
    }
  },
  "host": "metering.marketplace.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=AWSMPMeteringService.BatchMeterUsage": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMPMeteringService.BatchMeterUsage"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchMeterUsageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchMeterUsageResult"
            }
          },
          "480": {
            "description": "InternalServiceErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServiceErrorException"
            }
          },
          "481": {
            "description": "InvalidProductCodeException",
            "schema": {
              "$ref": "#/definitions/InvalidProductCodeException"
            }
          },
          "482": {
            "description": "InvalidUsageDimensionException",
            "schema": {
              "$ref": "#/definitions/InvalidUsageDimensionException"
            }
          },
          "483": {
            "description": "InvalidTagException",
            "schema": {
              "$ref": "#/definitions/InvalidTagException"
            }
          },
          "484": {
            "description": "InvalidUsageAllocationsException",
            "schema": {
              "$ref": "#/definitions/InvalidUsageAllocationsException"
            }
          },
          "485": {
            "description": "InvalidCustomerIdentifierException",
            "schema": {
              "$ref": "#/definitions/InvalidCustomerIdentifierException"
            }
          },
          "486": {
            "description": "TimestampOutOfBoundsException",
            "schema": {
              "$ref": "#/definitions/TimestampOutOfBoundsException"
            }
          },
          "487": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "488": {
            "description": "DisabledApiException",
            "schema": {
              "$ref": "#/definitions/DisabledApiException"
            }
          }
        },
        "description": "<p>BatchMeterUsage is called from a SaaS application listed on the AWS Marketplace to post metering records for a set of customers.</p> <p>For identical requests, the API is idempotent; requests can be retried with the same records or a subset of the input records.</p> <p>Every request to BatchMeterUsage is for one product. If you need to meter usage for multiple products, you must make multiple calls to BatchMeterUsage.</p> <p>BatchMeterUsage can process up to 25 UsageRecords at a time.</p> <p>A UsageRecord can optionally include multiple usage allocations, to provide customers with usagedata split into buckets by tags that you define (or allow the customer to define).</p> <p>BatchMeterUsage requests must be less than 1MB in size.</p>",
        "operationId": "BatchMeterUsage"
      }
    },
    "/#X-Amz-Target=AWSMPMeteringService.MeterUsage": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMPMeteringService.MeterUsage"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeterUsageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MeterUsageResult"
            }
          },
          "480": {
            "description": "InternalServiceErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServiceErrorException"
            }
          },
          "481": {
            "description": "InvalidProductCodeException",
            "schema": {
              "$ref": "#/definitions/InvalidProductCodeException"
            }
          },
          "482": {
            "description": "InvalidUsageDimensionException",
            "schema": {
              "$ref": "#/definitions/InvalidUsageDimensionException"
            }
          },
          "483": {
            "description": "InvalidTagException",
            "schema": {
              "$ref": "#/definitions/InvalidTagException"
            }
          },
          "484": {
            "description": "InvalidUsageAllocationsException",
            "schema": {
              "$ref": "#/definitions/InvalidUsageAllocationsException"
            }
          },
          "485": {
            "description": "InvalidEndpointRegionException",
            "schema": {
              "$ref": "#/definitions/InvalidEndpointRegionException"
            }
          },
          "486": {
            "description": "TimestampOutOfBoundsException",
            "schema": {
              "$ref": "#/definitions/TimestampOutOfBoundsException"
            }
          },
          "487": {
            "description": "DuplicateRequestException",
            "schema": {
              "$ref": "#/definitions/DuplicateRequestException"
            }
          },
          "488": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "489": {
            "description": "CustomerNotEntitledException",
            "schema": {
              "$ref": "#/definitions/CustomerNotEntitledException"
            }
          }
        },
        "description": "<p>API to emit metering records. For identical requests, the API is idempotent. It simply returns the metering record ID.</p> <p>MeterUsage is authenticated on the buyer's AWS account using credentials from the EC2 instance, ECS task, or EKS pod.</p> <p>MeterUsage can optionally include multiple usage allocations, to provide customers with usage data split into buckets by tags that you define (or allow the customer to define).</p>",
        "operationId": "MeterUsage"
      }
    },
    "/#X-Amz-Target=AWSMPMeteringService.RegisterUsage": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMPMeteringService.RegisterUsage"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterUsageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegisterUsageResult"
            }
          },
          "480": {
            "description": "InvalidProductCodeException",
            "schema": {
              "$ref": "#/definitions/InvalidProductCodeException"
            }
          },
          "481": {
            "description": "InvalidRegionException",
            "schema": {
              "$ref": "#/definitions/InvalidRegionException"
            }
          },
          "482": {
            "description": "InvalidPublicKeyVersionException",
            "schema": {
              "$ref": "#/definitions/InvalidPublicKeyVersionException"
            }
          },
          "483": {
            "description": "PlatformNotSupportedException",
            "schema": {
              "$ref": "#/definitions/PlatformNotSupportedException"
            }
          },
          "484": {
            "description": "CustomerNotEntitledException",
            "schema": {
              "$ref": "#/definitions/CustomerNotEntitledException"
            }
          },
          "485": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "486": {
            "description": "InternalServiceErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServiceErrorException"
            }
          },
          "487": {
            "description": "DisabledApiException",
            "schema": {
              "$ref": "#/definitions/DisabledApiException"
            }
          }
        },
        "description": "<p>Paid container software products sold through AWS Marketplace must integrate with the AWS Marketplace Metering Service and call the RegisterUsage operation for software entitlement and metering. Free and BYOL products for Amazon ECS or Amazon EKS aren't required to call RegisterUsage, but you may choose to do so if you would like to receive usage data in your seller reports. The sections below explain the behavior of RegisterUsage. RegisterUsage performs two primary functions: metering and entitlement.</p> <ul> <li> <p> <i>Entitlement</i>: RegisterUsage allows you to verify that the customer running your paid software is subscribed to your product on AWS Marketplace, enabling you to guard against unauthorized use. Your container image that integrates with RegisterUsage is only required to guard against unauthorized use at container startup, as such a CustomerNotSubscribedException/PlatformNotSupportedException will only be thrown on the initial call to RegisterUsage. Subsequent calls from the same Amazon ECS task instance (e.g. task-id) or Amazon EKS pod will not throw a CustomerNotSubscribedException, even if the customer unsubscribes while the Amazon ECS task or Amazon EKS pod is still running.</p> </li> <li> <p> <i>Metering</i>: RegisterUsage meters software use per ECS task, per hour, or per pod for Amazon EKS with usage prorated to the second. A minimum of 1 minute of usage applies to tasks that are short lived. For example, if a customer has a 10 node Amazon ECS or Amazon EKS cluster and a service configured as a Daemon Set, then Amazon ECS or Amazon EKS will launch a task on all 10 cluster nodes and the customer will be charged: (10 * hourly_rate). Metering for software use is automatically handled by the AWS Marketplace Metering Control Plane -- your software is not required to perform any metering specific actions, other than call RegisterUsage once for metering of software use to commence. The AWS Marketplace Metering Control Plane will also continue to bill customers for running ECS tasks and Amazon EKS pods, regardless of the customers subscription state, removing the need for your software to perform entitlement checks at runtime.</p> </li> </ul>",
        "operationId": "RegisterUsage"
      }
    },
    "/#X-Amz-Target=AWSMPMeteringService.ResolveCustomer": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMPMeteringService.ResolveCustomer"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResolveCustomerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResolveCustomerResult"
            }
          },
          "480": {
            "description": "InvalidTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidTokenException"
            }
          },
          "481": {
            "description": "ExpiredTokenException",
            "schema": {
              "$ref": "#/definitions/ExpiredTokenException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalServiceErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServiceErrorException"
            }
          },
          "484": {
            "description": "DisabledApiException",
            "schema": {
              "$ref": "#/definitions/DisabledApiException"
            }
          }
        },
        "description": "ResolveCustomer is called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a registration token through their browser. The registration token is resolved through this API to obtain a CustomerIdentifier and product code.",
        "operationId": "ResolveCustomer"
      }
    }
  },
  "definitions": {
    "AllocatedUsageQuantity": {
      "maximum": 2147483647,
      "minimum": 0,
      "type": "integer"
    },
    "BatchMeterUsageRequest": {
      "description": "A BatchMeterUsageRequest contains UsageRecords, which indicate quantities of usage within your application.",
      "properties": {
        "ProductCode": {
          "allOf": [
            {
              "$ref": "#/definitions/ProductCode"
            },
            {
              "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product."
            }
          ]
        },
        "UsageRecords": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageRecordList"
            },
            {
              "description": "The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time."
            }
          ]
        }
      },
      "required": [
        "UsageRecords",
        "ProductCode"
      ],
      "title": "BatchMeterUsageRequest",
      "type": "object"
    },
    "BatchMeterUsageResult": {
      "description": "Contains the UsageRecords processed by BatchMeterUsage and any records that have failed due to transient error.",
      "properties": {
        "Results": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageRecordResultList"
            },
            {
              "description": "Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid."
            }
          ]
        },
        "UnprocessedRecords": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageRecordList"
            },
            {
              "description": "Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest."
            }
          ]
        }
      },
      "type": "object"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CustomerIdentifier": {
      "maxLength": 255,
      "minLength": 1,
      "pattern": "[\\s\\S]+",
      "type": "string"
    },
    "CustomerNotEntitledException": {},
    "DisabledApiException": {},
    "DuplicateRequestException": {},
    "ExpiredTokenException": {},
    "InternalServiceErrorException": {},
    "InvalidCustomerIdentifierException": {},
    "InvalidEndpointRegionException": {},
    "InvalidProductCodeException": {},
    "InvalidPublicKeyVersionException": {},
    "InvalidRegionException": {},
    "InvalidTagException": {},
    "InvalidTokenException": {},
    "InvalidUsageAllocationsException": {},
    "InvalidUsageDimensionException": {},
    "MeterUsageRequest": {
      "properties": {
        "DryRun": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": "Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException. Defaults to <code>false</code> if not specified."
            }
          ]
        },
        "ProductCode": {
          "allOf": [
            {
              "$ref": "#/definitions/ProductCode"
            },
            {
              "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product."
            }
          ]
        },
        "Timestamp": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "Timestamp, in UTC, for which the usage is being reported. Your application can meter usage for up to one hour in the past. Make sure the timestamp value is not before the start of the software usage."
            }
          ]
        },
        "UsageAllocations": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageAllocations"
            },
            {
              "description": "<p>The set of UsageAllocations to submit.</p> <p>The sum of all UsageAllocation quantities must equal the UsageQuantity of the MeterUsage request, and each UsageAllocation must have a unique set of tags (include no tags).</p>"
            }
          ]
        },
        "UsageDimension": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageDimension"
            },
            {
              "description": "It will be one of the fcp dimension name provided during the publishing of the product."
            }
          ]
        },
        "UsageQuantity": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageQuantity"
            },
            {
              "description": "Consumption value for the hour. Defaults to <code>0</code> if not specified."
            }
          ]
        }
      },
      "required": [
        "ProductCode",
        "Timestamp",
        "UsageDimension"
      ],
      "title": "MeterUsageRequest",
      "type": "object"
    },
    "MeterUsageResult": {
      "properties": {
        "MeteringRecordId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "Metering record id."
            }
          ]
        }
      },
      "type": "object"
    },
    "NonEmptyString": {
      "pattern": "[\\s\\S]+",
      "type": "string"
    },
    "Nonce": {
      "maxLength": 255,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "PlatformNotSupportedException": {},
    "ProductCode": {
      "maxLength": 255,
      "minLength": 1,
      "pattern": "[\\s\\S]+",
      "type": "string"
    },
    "RegisterUsageRequest": {
      "properties": {
        "Nonce": {
          "allOf": [
            {
              "$ref": "#/definitions/Nonce"
            },
            {
              "description": "(Optional) To scope down the registration to a specific running software instance and guard against replay attacks."
            }
          ]
        },
        "ProductCode": {
          "allOf": [
            {
              "$ref": "#/definitions/ProductCode"
            },
            {
              "description": "Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product."
            }
          ]
        },
        "PublicKeyVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/VersionInteger"
            },
            {
              "description": "Public Key Version provided by AWS Marketplace"
            }
          ]
        }
      },
      "required": [
        "ProductCode",
        "PublicKeyVersion"
      ],
      "title": "RegisterUsageRequest",
      "type": "object"
    },
    "RegisterUsageResult": {
      "properties": {
        "PublicKeyRotationTimestamp": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "(Optional) Only included when public key version has expired"
            }
          ]
        },
        "Signature": {
          "allOf": [
            {
              "$ref": "#/definitions/NonEmptyString"
            },
            {
              "description": "JWT Token"
            }
          ]
        }
      },
      "type": "object"
    },
    "ResolveCustomerRequest": {
      "description": "Contains input to the ResolveCustomer operation.",
      "properties": {
        "RegistrationToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NonEmptyString"
            },
            {
              "description": "When a buyer visits your website during the registration process, the buyer submits a registration token through the browser. The registration token is resolved to obtain a CustomerIdentifier and product code."
            }
          ]
        }
      },
      "required": [
        "RegistrationToken"
      ],
      "title": "ResolveCustomerRequest",
      "type": "object"
    },
    "ResolveCustomerResult": {
      "description": "The result of the ResolveCustomer operation. Contains the CustomerIdentifier and product code.",
      "properties": {
        "CustomerIdentifier": {
          "allOf": [
            {
              "$ref": "#/definitions/CustomerIdentifier"
            },
            {
              "description": "The CustomerIdentifier is used to identify an individual customer in your application. Calls to BatchMeterUsage require CustomerIdentifiers for each UsageRecord."
            }
          ]
        },
        "ProductCode": {
          "allOf": [
            {
              "$ref": "#/definitions/ProductCode"
            },
            {
              "description": "The product code is returned to confirm that the buyer is registering for your product. Subsequent BatchMeterUsage calls should be made using this product code."
            }
          ]
        }
      },
      "type": "object"
    },
    "String": {
      "type": "string"
    },
    "Tag": {
      "description": "Metadata assigned to an allocation. Each tag is made up of a key and a value.",
      "properties": {
        "Key": {
          "allOf": [
            {
              "$ref": "#/definitions/TagKey"
            },
            {
              "description": "One part of a key-value pair that makes up a tag. A key is a label that acts like a category for the specific tag values."
            }
          ]
        },
        "Value": {
          "allOf": [
            {
              "$ref": "#/definitions/TagValue"
            },
            {
              "description": "One part of a key-value pair that makes up a tag. A value acts as a descriptor within a tag category (key). The value can be empty or null."
            }
          ]
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "object"
    },
    "TagKey": {
      "maxLength": 100,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9+ -=._:\\/@]+$",
      "type": "string"
    },
    "TagList": {
      "items": {
        "$ref": "#/definitions/Tag"
      },
      "maxItems": 5,
      "minItems": 1,
      "type": "array"
    },
    "TagValue": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9+ -=._:\\/@]+$",
      "type": "string"
    },
    "ThrottlingException": {},
    "Timestamp": {
      "format": "date-time",
      "type": "string"
    },
    "TimestampOutOfBoundsException": {},
    "UsageAllocation": {
      "description": "<p>Usage allocations allow you to split usage into buckets by tags.</p> <p>Each UsageAllocation indicates the usage quantity for a specific set of tags.</p>",
      "properties": {
        "AllocatedUsageQuantity": {
          "allOf": [
            {
              "$ref": "#/definitions/AllocatedUsageQuantity"
            },
            {
              "description": "The total quantity allocated to this bucket of usage."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagList"
            },
            {
              "description": "The set of tags that define the bucket of usage. For the bucket of items with no tags, this parameter can be left out."
            }
          ]
        }
      },
      "required": [
        "AllocatedUsageQuantity"
      ],
      "type": "object"
    },
    "UsageAllocations": {
      "items": {
        "$ref": "#/definitions/UsageAllocation"
      },
      "maxItems": 500,
      "minItems": 1,
      "type": "array"
    },
    "UsageDimension": {
      "maxLength": 255,
      "minLength": 1,
      "pattern": "[\\s\\S]+",
      "type": "string"
    },
    "UsageQuantity": {
      "maximum": 2147483647,
      "minimum": 0,
      "type": "integer"
    },
    "UsageRecord": {
      "description": "<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>",
      "properties": {
        "CustomerIdentifier": {
          "allOf": [
            {
              "$ref": "#/definitions/CustomerIdentifier"
            },
            {
              "description": "The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application."
            }
          ]
        },
        "Dimension": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageDimension"
            },
            {
              "description": "During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application."
            }
          ]
        },
        "Quantity": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageQuantity"
            },
            {
              "description": "The quantity of usage consumed by the customer for the given dimension and time. Defaults to <code>0</code> if not specified."
            }
          ]
        },
        "Timestamp": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "<p>Timestamp, in UTC, for which the usage is being reported.</p> <p>Your application can meter usage for up to one hour in the past. Make sure the timestamp value is not before the start of the software usage.</p>"
            }
          ]
        },
        "UsageAllocations": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageAllocations"
            },
            {
              "description": "The set of UsageAllocations to submit. The sum of all UsageAllocation quantities must equal the Quantity of the UsageRecord."
            }
          ]
        }
      },
      "required": [
        "Timestamp",
        "CustomerIdentifier",
        "Dimension"
      ],
      "type": "object"
    },
    "UsageRecordList": {
      "items": {
        "$ref": "#/definitions/UsageRecord"
      },
      "maxItems": 25,
      "minItems": 0,
      "type": "array"
    },
    "UsageRecordResult": {
      "description": "A UsageRecordResult indicates the status of a given UsageRecord processed by BatchMeterUsage.",
      "properties": {
        "MeteringRecordId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The MeteringRecordId is a unique identifier for this metering event."
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageRecordResultStatus"
            },
            {
              "description": "<p>The UsageRecordResult Status indicates the status of an individual UsageRecord processed by BatchMeterUsage.</p> <ul> <li> <p> <i>Success</i>- The UsageRecord was accepted and honored by BatchMeterUsage.</p> </li> <li> <p> <i>CustomerNotSubscribed</i>- The CustomerIdentifier specified is not subscribed to your product. The UsageRecord was not honored. Future UsageRecords for this customer will fail until the customer subscribes to your product.</p> </li> <li> <p> <i>DuplicateRecord</i>- Indicates that the UsageRecord was invalid and not honored. A previously metered UsageRecord had the same customer, dimension, and time, but a different quantity.</p> </li> </ul>"
            }
          ]
        },
        "UsageRecord": {
          "allOf": [
            {
              "$ref": "#/definitions/UsageRecord"
            },
            {
              "description": "The UsageRecord that was part of the BatchMeterUsage request."
            }
          ]
        }
      },
      "type": "object"
    },
    "UsageRecordResultList": {
      "items": {
        "$ref": "#/definitions/UsageRecordResult"
      },
      "type": "array"
    },
    "UsageRecordResultStatus": {
      "enum": [
        "Success",
        "CustomerNotSubscribed",
        "DuplicateRecord"
      ],
      "type": "string"
    },
    "VersionInteger": {
      "minimum": 1,
      "type": "integer"
    }
  },
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/marketplace/"
  },
  "x-components": {
    "parameters": {
      "X-Amz-Algorithm": {
        "in": "header",
        "name": "X-Amz-Algorithm",
        "required": false,
        "type": "string"
      },
      "X-Amz-Content-Sha256": {
        "in": "header",
        "name": "X-Amz-Content-Sha256",
        "required": false,
        "type": "string"
      },
      "X-Amz-Credential": {
        "in": "header",
        "name": "X-Amz-Credential",
        "required": false,
        "type": "string"
      },
      "X-Amz-Date": {
        "in": "header",
        "name": "X-Amz-Date",
        "required": false,
        "type": "string"
      },
      "X-Amz-Security-Token": {
        "in": "header",
        "name": "X-Amz-Security-Token",
        "required": false,
        "type": "string"
      },
      "X-Amz-Signature": {
        "in": "header",
        "name": "X-Amz-Signature",
        "required": false,
        "type": "string"
      },
      "X-Amz-SignedHeaders": {
        "in": "header",
        "name": "X-Amz-SignedHeaders",
        "required": false,
        "type": "string"
      }
    }
  },
  "x-hasEquivalentPaths": true
}