{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon Connect Customer Profiles</fullname> <p>Welcome to the Amazon Connect Customer Profiles API Reference. This guide provides information about the Amazon Connect Customer Profiles API, including supported operations, data types, parameters, and schemas.</p> <p>Amazon Connect Customer Profiles is a unified customer profile for your contact center that has pre-built connectors powered by AppFlow that make it easy to combine customer information from third party applications, such as Salesforce (CRM), ServiceNow (ITSM), and your enterprise resource planning (ERP), with contact history from your Amazon Connect contact center.</p> <p>If you're new to Amazon Connect, you might find it helpful to also review the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/what-is-amazon-connect.html\">Amazon Connect Administrator Guide</a>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Connect Customer Profiles",
    "version": "2020-08-15",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/customer-profiles-2020-08-15.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "customer-profiles",
    "x-datafire": {
      "name": "amazonaws_customer_profiles",
      "type": "openapi"
    }
  },
  "host": "profile.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/domains": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The pagination token from the previous ListDomain API call.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 1,
            "name": "next-token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of objects returned per page.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max-results",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDomainsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Returns a list of all the domains for an AWS account that have been created.",
        "operationId": "ListDomains"
      }
    },
    "/domains/{DomainName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDomainResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Deletes a specific domain and all of its customer data, such as customer profile attributes and their related objects.",
        "operationId": "DeleteDomain"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A unique name for the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDomainResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Returns information about a specific domain.",
        "operationId": "GetDomain"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DeadLetterQueueUrl": {
                  "description": "The URL of the SQS dead letter queue, which is used for reporting errors associated with ingesting data from third party applications. You must set up a policy on the DeadLetterQueue for the SendMessage operation to enable Amazon Connect Customer Profiles to send messages to the DeadLetterQueue.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DefaultEncryptionKey": {
                  "description": "The default encryption key, which is an AWS managed key, is used when no specific type of encryption key is specified. It is used to encrypt all data before it is placed in permanent or semi-permanent storage.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DefaultExpirationDays": {
                  "description": "The default number of days until the data within the domain expires.",
                  "maximum": 1098,
                  "minimum": 1,
                  "type": "integer"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags used to organize, track, or control access for this resource.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "DefaultExpirationDays"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDomainResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Creates a domain, which is a container for all customer data, such as customer profile attributes, object types, profile keys, and encryption keys. You can create multiple domains, and each domain can have multiple third-party integrations.</p> <p>Each Amazon Connect instance can be associated with only one domain. Multiple Amazon Connect instances can be associated with one domain.</p>",
        "operationId": "CreateDomain"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name for the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DeadLetterQueueUrl": {
                  "description": "The URL of the SQS dead letter queue, which is used for reporting errors associated with ingesting data from third party applications. If specified as an empty string, it will clear any existing value. You must set up a policy on the DeadLetterQueue for the SendMessage operation to enable Amazon Connect Customer Profiles to send messages to the DeadLetterQueue.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DefaultEncryptionKey": {
                  "description": "The default encryption key, which is an AWS managed key, is used when no specific type of encryption key is specified. It is used to encrypt all data before it is placed in permanent or semi-permanent storage. If specified as an empty string, it will clear any existing value.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DefaultExpirationDays": {
                  "description": "The default number of days until the data within the domain expires.",
                  "maximum": 1098,
                  "minimum": 1,
                  "type": "integer"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags used to organize, track, or control access for this resource.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDomainResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Updates the properties of a domain, including creating or selecting a dead letter queue or an encryption key.</p> <p>Once a domain is created, the name can’t be changed.</p>",
        "operationId": "UpdateDomain"
      }
    },
    "/domains/{DomainName}/integrations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The pagination token from the previous ListIntegrations API call.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 1,
            "name": "next-token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of objects returned per page.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max-results",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListIntegrationsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Lists all of the integrations in your domain.",
        "operationId": "ListIntegrations"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Uri": {
                  "description": "The URI of the S3 bucket or any other type of data source.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIntegrationResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Returns an integration for a domain.",
        "operationId": "GetIntegration"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ObjectTypeName": {
                  "description": "The name of the profile object type.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z_][a-zA-Z_0-9-]*$",
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags used to organize, track, or control access for this resource.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "Uri": {
                  "description": "The URI of the S3 bucket or any other type of data source.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "Uri",
                "ObjectTypeName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutIntegrationResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Adds an integration between the service and a third-party service, which includes Amazon AppFlow and Amazon Connect.</p> <p>An integration can belong to only one domain.</p>",
        "operationId": "PutIntegration"
      }
    },
    "/domains/{DomainName}/integrations/delete": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Uri": {
                  "description": "The URI of the S3 bucket or any other type of data source.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteIntegrationResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Removes an integration from a specific domain.",
        "operationId": "DeleteIntegration"
      }
    },
    "/domains/{DomainName}/object-types": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Identifies the next page of results to return.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 1,
            "name": "next-token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of objects returned per page.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max-results",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListProfileObjectTypesResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Lists all of the templates available within the service.",
        "operationId": "ListProfileObjectTypes"
      }
    },
    "/domains/{DomainName}/object-types/{ObjectTypeName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the profile object type.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "ObjectTypeName",
            "pattern": "^[a-zA-Z_][a-zA-Z_0-9-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteProfileObjectTypeResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Removes a ProfileObjectType from a specific domain as well as removes all the ProfileObjects of that type. It also disables integrations from this specific ProfileObjectType. In addition, it scrubs all of the fields of the standard profile that were populated from this ProfileObjectType.",
        "operationId": "DeleteProfileObjectType"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the profile object type.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "ObjectTypeName",
            "pattern": "^[a-zA-Z_][a-zA-Z_0-9-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetProfileObjectTypeResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Returns the object types for a specific domain.",
        "operationId": "GetProfileObjectType"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the profile object type.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "ObjectTypeName",
            "pattern": "^[a-zA-Z_][a-zA-Z_0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AllowProfileCreation": {
                  "description": "Indicates whether a profile should be created when data is received if one doesn’t exist for an object of this type. The default is <code>FALSE</code>. If the AllowProfileCreation flag is set to <code>FALSE</code>, then the service tries to fetch a standard profile and associate this object with the profile. If it is set to <code>TRUE</code>, and if no match is found, then the service creates a new standard profile.",
                  "type": "boolean"
                },
                "Description": {
                  "description": "Description of the profile object type.",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                },
                "EncryptionKey": {
                  "description": "The customer-provided key to encrypt the profile object that will be created in this profile object type.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "ExpirationDays": {
                  "description": "The number of days until the data in the object expires.",
                  "maximum": 1098,
                  "minimum": 1,
                  "type": "integer"
                },
                "Fields": {
                  "additionalProperties": {
                    "$ref": "#/definitions/ObjectTypeField"
                  },
                  "description": "A map of the name and ObjectType field.",
                  "type": "object"
                },
                "Keys": {
                  "additionalProperties": {
                    "$ref": "#/definitions/ObjectTypeKeyList"
                  },
                  "description": "A list of unique keys that can be used to map data to the profile.",
                  "type": "object"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags used to organize, track, or control access for this resource.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "TemplateId": {
                  "description": "A unique identifier for the object template.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_-]+$",
                  "type": "string"
                }
              },
              "required": [
                "Description"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutProfileObjectTypeResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Defines a ProfileObjectType.",
        "operationId": "PutProfileObjectType"
      }
    },
    "/domains/{DomainName}/profiles": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AccountNumber": {
                  "description": "A unique account number that you have given to the customer.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "AdditionalInformation": {
                  "description": "Any additional information relevant to the customer's profile.",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                },
                "Address": {
                  "description": "A generic address associated with the customer that is not mailing, shipping, or billing.",
                  "properties": {
                    "Address1": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The first line of a customer address."
                        }
                      ]
                    },
                    "Address2": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The second line of a customer address."
                        }
                      ]
                    },
                    "Address3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The third line of a customer address."
                        }
                      ]
                    },
                    "Address4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The fourth line of a customer address."
                        }
                      ]
                    },
                    "City": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The city in which a customer lives."
                        }
                      ]
                    },
                    "Country": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The country in which a customer lives."
                        }
                      ]
                    },
                    "County": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The county in which a customer lives."
                        }
                      ]
                    },
                    "PostalCode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The postal code of a customer address."
                        }
                      ]
                    },
                    "Province": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The province in which a customer lives."
                        }
                      ]
                    },
                    "State": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The state in which a customer lives."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Attributes": {
                  "additionalProperties": {
                    "$ref": "#/definitions/string1To255"
                  },
                  "description": "A key value pair of attributes of a customer profile.",
                  "type": "object"
                },
                "BillingAddress": {
                  "description": "A generic address associated with the customer that is not mailing, shipping, or billing.",
                  "properties": {
                    "Address1": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The first line of a customer address."
                        }
                      ]
                    },
                    "Address2": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The second line of a customer address."
                        }
                      ]
                    },
                    "Address3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The third line of a customer address."
                        }
                      ]
                    },
                    "Address4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The fourth line of a customer address."
                        }
                      ]
                    },
                    "City": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The city in which a customer lives."
                        }
                      ]
                    },
                    "Country": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The country in which a customer lives."
                        }
                      ]
                    },
                    "County": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The county in which a customer lives."
                        }
                      ]
                    },
                    "PostalCode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The postal code of a customer address."
                        }
                      ]
                    },
                    "Province": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The province in which a customer lives."
                        }
                      ]
                    },
                    "State": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The state in which a customer lives."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "BirthDate": {
                  "description": "The customer’s birth date.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "BusinessEmailAddress": {
                  "description": "The customer’s business email address.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "BusinessName": {
                  "description": "The name of the customer’s business.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "BusinessPhoneNumber": {
                  "description": "The customer’s business phone number.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "EmailAddress": {
                  "description": "The customer's email address, which has not been specified as a personal or business address.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "FirstName": {
                  "description": "The customer’s first name.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "Gender": {
                  "description": "The gender with which the customer identifies.",
                  "enum": [
                    "MALE",
                    "FEMALE",
                    "UNSPECIFIED"
                  ],
                  "type": "string"
                },
                "HomePhoneNumber": {
                  "description": "The customer’s home phone number.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "LastName": {
                  "description": "The customer’s last name.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "MailingAddress": {
                  "description": "A generic address associated with the customer that is not mailing, shipping, or billing.",
                  "properties": {
                    "Address1": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The first line of a customer address."
                        }
                      ]
                    },
                    "Address2": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The second line of a customer address."
                        }
                      ]
                    },
                    "Address3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The third line of a customer address."
                        }
                      ]
                    },
                    "Address4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The fourth line of a customer address."
                        }
                      ]
                    },
                    "City": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The city in which a customer lives."
                        }
                      ]
                    },
                    "Country": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The country in which a customer lives."
                        }
                      ]
                    },
                    "County": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The county in which a customer lives."
                        }
                      ]
                    },
                    "PostalCode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The postal code of a customer address."
                        }
                      ]
                    },
                    "Province": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The province in which a customer lives."
                        }
                      ]
                    },
                    "State": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The state in which a customer lives."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "MiddleName": {
                  "description": "The customer’s middle name.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "MobilePhoneNumber": {
                  "description": "The customer’s mobile phone number.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "PartyType": {
                  "description": "The type of profile used to describe the customer.",
                  "enum": [
                    "INDIVIDUAL",
                    "BUSINESS",
                    "OTHER"
                  ],
                  "type": "string"
                },
                "PersonalEmailAddress": {
                  "description": "The customer’s personal email address.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "PhoneNumber": {
                  "description": "The customer's phone number, which has not been specified as a mobile, home, or business number.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "ShippingAddress": {
                  "description": "A generic address associated with the customer that is not mailing, shipping, or billing.",
                  "properties": {
                    "Address1": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The first line of a customer address."
                        }
                      ]
                    },
                    "Address2": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The second line of a customer address."
                        }
                      ]
                    },
                    "Address3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The third line of a customer address."
                        }
                      ]
                    },
                    "Address4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The fourth line of a customer address."
                        }
                      ]
                    },
                    "City": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The city in which a customer lives."
                        }
                      ]
                    },
                    "Country": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The country in which a customer lives."
                        }
                      ]
                    },
                    "County": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The county in which a customer lives."
                        }
                      ]
                    },
                    "PostalCode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The postal code of a customer address."
                        }
                      ]
                    },
                    "Province": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The province in which a customer lives."
                        }
                      ]
                    },
                    "State": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string1To255"
                        },
                        {
                          "description": "The state in which a customer lives."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateProfileResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Creates a standard profile.</p> <p>A standard profile represents the following attributes for a customer profile in a domain.</p>",
        "operationId": "CreateProfile"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AccountNumber": {
                  "description": "A unique account number that you have given to the customer.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "AdditionalInformation": {
                  "description": "Any additional information relevant to the customer's profile.",
                  "maxLength": 1000,
                  "minLength": 0,
                  "type": "string"
                },
                "Address": {
                  "description": "Updates associated with the address properties of a customer profile.",
                  "properties": {
                    "Address1": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The first line of a customer address."
                        }
                      ]
                    },
                    "Address2": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The second line of a customer address."
                        }
                      ]
                    },
                    "Address3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The third line of a customer address."
                        }
                      ]
                    },
                    "Address4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The fourth line of a customer address."
                        }
                      ]
                    },
                    "City": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The city in which a customer lives."
                        }
                      ]
                    },
                    "Country": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The country in which a customer lives."
                        }
                      ]
                    },
                    "County": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The county in which a customer lives."
                        }
                      ]
                    },
                    "PostalCode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The postal code of a customer address."
                        }
                      ]
                    },
                    "Province": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The province in which a customer lives."
                        }
                      ]
                    },
                    "State": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The state in which a customer lives."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Attributes": {
                  "additionalProperties": {
                    "$ref": "#/definitions/string0To255"
                  },
                  "description": "A key value pair of attributes of a customer profile.",
                  "type": "object"
                },
                "BillingAddress": {
                  "description": "Updates associated with the address properties of a customer profile.",
                  "properties": {
                    "Address1": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The first line of a customer address."
                        }
                      ]
                    },
                    "Address2": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The second line of a customer address."
                        }
                      ]
                    },
                    "Address3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The third line of a customer address."
                        }
                      ]
                    },
                    "Address4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The fourth line of a customer address."
                        }
                      ]
                    },
                    "City": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The city in which a customer lives."
                        }
                      ]
                    },
                    "Country": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The country in which a customer lives."
                        }
                      ]
                    },
                    "County": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The county in which a customer lives."
                        }
                      ]
                    },
                    "PostalCode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The postal code of a customer address."
                        }
                      ]
                    },
                    "Province": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The province in which a customer lives."
                        }
                      ]
                    },
                    "State": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The state in which a customer lives."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "BirthDate": {
                  "description": "The customer’s birth date.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "BusinessEmailAddress": {
                  "description": "The customer’s business email address.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "BusinessName": {
                  "description": "The name of the customer’s business.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "BusinessPhoneNumber": {
                  "description": "The customer’s business phone number.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "EmailAddress": {
                  "description": "The customer's email address, which has not been specified as a personal or business address.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "FirstName": {
                  "description": "The customer’s first name.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Gender": {
                  "description": "The gender with which the customer identifies.",
                  "enum": [
                    "MALE",
                    "FEMALE",
                    "UNSPECIFIED"
                  ],
                  "type": "string"
                },
                "HomePhoneNumber": {
                  "description": "The customer’s home phone number.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "LastName": {
                  "description": "The customer’s last name.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "MailingAddress": {
                  "description": "Updates associated with the address properties of a customer profile.",
                  "properties": {
                    "Address1": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The first line of a customer address."
                        }
                      ]
                    },
                    "Address2": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The second line of a customer address."
                        }
                      ]
                    },
                    "Address3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The third line of a customer address."
                        }
                      ]
                    },
                    "Address4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The fourth line of a customer address."
                        }
                      ]
                    },
                    "City": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The city in which a customer lives."
                        }
                      ]
                    },
                    "Country": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The country in which a customer lives."
                        }
                      ]
                    },
                    "County": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The county in which a customer lives."
                        }
                      ]
                    },
                    "PostalCode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The postal code of a customer address."
                        }
                      ]
                    },
                    "Province": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The province in which a customer lives."
                        }
                      ]
                    },
                    "State": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The state in which a customer lives."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "MiddleName": {
                  "description": "The customer’s middle name.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "MobilePhoneNumber": {
                  "description": "The customer’s mobile phone number.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "PartyType": {
                  "description": "The type of profile used to describe the customer.",
                  "enum": [
                    "INDIVIDUAL",
                    "BUSINESS",
                    "OTHER"
                  ],
                  "type": "string"
                },
                "PersonalEmailAddress": {
                  "description": "The customer’s personal email address.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "PhoneNumber": {
                  "description": "The customer's phone number, which has not been specified as a mobile, home, or business number.",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "ProfileId": {
                  "description": "The unique identifier of a customer profile.",
                  "pattern": "[a-f0-9]{32}",
                  "type": "string"
                },
                "ShippingAddress": {
                  "description": "Updates associated with the address properties of a customer profile.",
                  "properties": {
                    "Address1": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The first line of a customer address."
                        }
                      ]
                    },
                    "Address2": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The second line of a customer address."
                        }
                      ]
                    },
                    "Address3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The third line of a customer address."
                        }
                      ]
                    },
                    "Address4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The fourth line of a customer address."
                        }
                      ]
                    },
                    "City": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The city in which a customer lives."
                        }
                      ]
                    },
                    "Country": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The country in which a customer lives."
                        }
                      ]
                    },
                    "County": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The county in which a customer lives."
                        }
                      ]
                    },
                    "PostalCode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The postal code of a customer address."
                        }
                      ]
                    },
                    "Province": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The province in which a customer lives."
                        }
                      ]
                    },
                    "State": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/string0To255"
                        },
                        {
                          "description": "The state in which a customer lives."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "ProfileId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateProfileResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Updates the properties of a profile. The ProfileId is required for updating a customer profile.</p> <p>When calling the UpdateProfile API, specifying an empty string value means that any existing value will be removed. Not specifying a string value means that any value already there will be kept.</p>",
        "operationId": "UpdateProfile"
      }
    },
    "/domains/{DomainName}/profiles/delete": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ProfileId": {
                  "description": "The unique identifier of a customer profile.",
                  "pattern": "[a-f0-9]{32}",
                  "type": "string"
                }
              },
              "required": [
                "ProfileId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteProfileResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Deletes the standard customer profile and all data pertaining to the profile.",
        "operationId": "DeleteProfile"
      }
    },
    "/domains/{DomainName}/profiles/keys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "KeyName": {
                  "description": "A searchable identifier of a customer profile.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_-]+$",
                  "type": "string"
                },
                "ProfileId": {
                  "description": "The unique identifier of a customer profile.",
                  "pattern": "[a-f0-9]{32}",
                  "type": "string"
                },
                "Values": {
                  "description": "A list of key values.",
                  "items": {
                    "$ref": "#/definitions/string1To255"
                  },
                  "type": "array"
                }
              },
              "required": [
                "ProfileId",
                "KeyName",
                "Values"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddProfileKeyResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Associates a new key value with a specific profile, such as a Contact Trace Record (CTR) ContactId.</p> <p>A profile object can have a single unique key and any number of additional keys that can be used to identify the profile that it belongs to.</p>",
        "operationId": "AddProfileKey"
      }
    },
    "/domains/{DomainName}/profiles/keys/delete": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique name of the domain.",
            "in": "path",
            "maxLength": 64,
            "minLength": 1,
            "name": "DomainName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "KeyName": {
                  "description": "A searchable identifier of a customer profile.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_-]+$",
                  "type": "string"
                },
                "ProfileId": {
                  "description": "The unique identifier of a customer profile.",
                  "pattern": "[a-f0-9]{32}",
                  "type": "string"
                },
                "Values": {
                  "description": "A list of key values.",
                  "items": {
                    "$ref": "#/definitions/string1To255"
                  },
                  "type": "array"
                }
              },
              "required": [
                "ProfileId",
                "KeyName",
                "Values"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteProfileKeyResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Removes a searchable key from a customer profile.",
        "operationId": "DeleteProfileKey"
      }
    },
    "/domains/{DomainName}/profiles/objects": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
[...]
