{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>AWS CloudHSM Service</fullname> <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon CloudHSM",
    "version": "2014-05-30",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudhsm-2014-05-30.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "cloudhsm",
    "x-datafire": {
      "name": "amazonaws_cloudhsm",
      "type": "openapi"
    }
  },
  "host": "cloudhsm.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=CloudHsmFrontendService.AddTagsToResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.AddTagsToResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsToResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddTagsToResourceResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Adds or overwrites one or more tags for the specified AWS CloudHSM resource.</p> <p>Each tag consists of a key and a value. Tag keys must be unique to each resource.</p>",
        "operationId": "AddTagsToResource"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.CreateHapg": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.CreateHapg"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateHapgRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateHapgResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>",
        "operationId": "CreateHapg"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.CreateHsm": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.CreateHsm"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateHsmRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateHsmResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Creates an uninitialized HSM instance.</p> <p>There is an upfront fee charged for each HSM instance that you create with the <code>CreateHsm</code> operation. If you accidentally provision an HSM and want to request a refund, delete the instance using the <a>DeleteHsm</a> operation, go to the <a href=\"https://console.aws.amazon.com/support/home\">AWS Support Center</a>, create a new case, and select <b>Account and Billing Support</b>.</p> <important> <p>It can take up to 20 minutes to create and provision an HSM. You can monitor the status of the HSM with the <a>DescribeHsm</a> operation. The HSM is ready to be initialized when the status changes to <code>RUNNING</code>.</p> </important>",
        "operationId": "CreateHsm"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.CreateLunaClient": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.CreateLunaClient"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateLunaClientRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateLunaClientResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Creates an HSM client.</p>",
        "operationId": "CreateLunaClient"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.DeleteHapg": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.DeleteHapg"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteHapgRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteHapgResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Deletes a high-availability partition group.</p>",
        "operationId": "DeleteHapg"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.DeleteHsm": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.DeleteHsm"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteHsmRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteHsmResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Deletes an HSM. After completion, this operation cannot be undone and your key material cannot be recovered.</p>",
        "operationId": "DeleteHsm"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.DeleteLunaClient": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.DeleteLunaClient"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteLunaClientRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteLunaClientResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Deletes a client.</p>",
        "operationId": "DeleteLunaClient"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.DescribeHapg": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.DescribeHapg"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeHapgRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeHapgResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about a high-availability partition group.</p>",
        "operationId": "DescribeHapg"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.DescribeHsm": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.DescribeHsm"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeHsmRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeHsmResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>",
        "operationId": "DescribeHsm"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.DescribeLunaClient": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.DescribeLunaClient"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeLunaClientRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeLunaClientResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about an HSM client.</p>",
        "operationId": "DescribeLunaClient"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.GetConfig": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.GetConfig"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetConfigResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.</p>",
        "operationId": "GetConfig"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.ListAvailableZones": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.ListAvailableZones"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAvailableZonesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAvailableZonesResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Lists the Availability Zones that have available AWS CloudHSM capacity.</p>",
        "operationId": "ListAvailableZones"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.ListHapgs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.ListHapgs"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListHapgsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListHapgsResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> member. If more results are available, the <code>NextToken</code> member of the response contains a token that you pass in the next call to <code>ListHapgs</code> to retrieve the next set of items.</p>",
        "operationId": "ListHapgs"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.ListHsms": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.ListHsms"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListHsmsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListHsmsResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> member. If more results are available, the <code>NextToken</code> member of the response contains a token that you pass in the next call to <code>ListHsms</code> to retrieve the next set of items.</p>",
        "operationId": "ListHsms"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.ListLunaClients": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.ListLunaClients"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListLunaClientsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListLunaClientsResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> member. If more results are available, the <code>NextToken</code> member of the response contains a token that you pass in the next call to <code>ListLunaClients</code> to retrieve the next set of items.</p>",
        "operationId": "ListLunaClients"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.ListTagsForResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.ListTagsForResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Returns a list of all tags for the specified AWS CloudHSM resource.</p>",
        "operationId": "ListTagsForResource"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.ModifyHapg": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.ModifyHapg"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyHapgRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyHapgResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Modifies an existing high-availability partition group.</p>",
        "operationId": "ModifyHapg"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.ModifyHsm": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.ModifyHsm"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyHsmRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyHsmResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Modifies an HSM.</p> <important> <p>This operation can result in the HSM being offline for up to 15 minutes while the AWS CloudHSM service is reconfigured. If you are modifying a production HSM, you should ensure that your AWS CloudHSM service is configured for high availability, and consider executing this operation during a maintenance window.</p> </important>",
        "operationId": "ModifyHsm"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.ModifyLunaClient": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.ModifyLunaClient"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyLunaClientRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyLunaClientResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client's HSMs.</p>",
        "operationId": "ModifyLunaClient"
      }
    },
    "/#X-Amz-Target=CloudHsmFrontendService.RemoveTagsFromResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CloudHsmFrontendService.RemoveTagsFromResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveTagsFromResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemoveTagsFromResourceResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Removes one or more tags from the specified AWS CloudHSM resource.</p> <p>To remove a tag, specify only the tag key to remove (not the value). To overwrite the value for an existing tag, use <a>AddTagsToResource</a>.</p>",
        "operationId": "RemoveTagsFromResource"
      }
    }
  },
  "definitions": {
    "AZ": {
      "pattern": "[a-zA-Z0-9\\-]*",
      "type": "string"
    },
    "AZList": {
      "items": {
        "$ref": "#/definitions/AZ"
      },
      "type": "array"
    },
    "AddTagsToResourceRequest": {
      "properties": {
        "ResourceArn": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag."
            }
          ]
        },
        "TagList": {
          "allOf": [
            {
              "$ref": "#/definitions/TagList"
            },
            {
              "description": "One or more tags."
            }
          ]
        }
      },
      "required": [
        "ResourceArn",
        "TagList"
      ],
      "title": "AddTagsToResourceRequest",
      "type": "object"
    },
    "AddTagsToResourceResponse": {
      "properties": {
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The status of the operation."
            }
          ]
        }
      },
      "required": [
        "Status"
      ],
      "type": "object"
    },
    "Boolean": {
      "type": "boolean"
    },
    "Certificate": {
      "maxLength": 2400,
      "minLength": 600,
      "pattern": "[\\w :+=./\\n-]*",
      "type": "string"
    },
    "CertificateFingerprint": {
      "pattern": "([0-9a-fA-F][0-9a-fA-F]:){15}[0-9a-fA-F][0-9a-fA-F]",
      "type": "string"
    },
    "ClientArn": {
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:client-[0-9a-f]{8}",
      "type": "string"
    },
    "ClientLabel": {
      "pattern": "[a-zA-Z0-9_.-]{2,64}",
      "type": "string"
    },
    "ClientList": {
      "items": {
        "$ref": "#/definitions/ClientArn"
      },
      "type": "array"
    },
    "ClientToken": {
      "pattern": "[a-zA-Z0-9]{1,64}",
      "type": "string"
    },
    "ClientVersion": {
      "enum": [
        "5.1",
        "5.3"
      ],
      "type": "string"
    },
    "CloudHsmInternalException": {
      "description": "Indicates that an internal error occurred.",
      "properties": {},
      "type": "object"
    },
    "CloudHsmObjectState": {
      "enum": [
        "READY",
        "UPDATING",
        "DEGRADED"
      ],
      "type": "string"
    },
    "CloudHsmServiceException": {
      "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
      "properties": {
        "message": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "Additional information about the error."
            }
          ]
        },
        "retryable": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": "Indicates if the action can be retried."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateHapgRequest": {
      "description": "Contains the inputs for the <a>CreateHapgRequest</a> action.",
      "properties": {
        "Label": {
          "allOf": [
            {
              "$ref": "#/definitions/Label"
            },
            {
              "description": "The label of the new high-availability partition group."
            }
          ]
        }
      },
      "required": [
        "Label"
      ],
      "title": "CreateHapgRequest",
      "type": "object"
    },
    "CreateHapgResponse": {
      "description": "Contains the output of the <a>CreateHAPartitionGroup</a> action.",
      "properties": {
        "HapgArn": {
          "allOf": [
            {
              "$ref": "#/definitions/HapgArn"
            },
            {
              "description": "The ARN of the high-availability partition group."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateHsmRequest": {
      "description": "Contains the inputs for the <code>CreateHsm</code> operation.",
      "properties": {
        "ClientToken": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientToken"
            },
            {
              "description": "A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored."
            }
          ]
        },
        "EniIp": {
          "allOf": [
            {
              "$ref": "#/definitions/IpAddress"
            },
            {
              "description": "<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>"
            }
          ]
        },
        "ExternalId": {
          "allOf": [
            {
              "$ref": "#/definitions/ExternalId"
            },
            {
              "description": "The external ID from <code>IamRoleArn</code>, if present."
            }
          ]
        },
        "IamRoleArn": {
          "allOf": [
            {
              "$ref": "#/definitions/IamRoleArn"
            },
            {
              "description": "The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf."
            }
          ]
        },
        "SshKey": {
          "allOf": [
            {
              "$ref": "#/definitions/SshKey"
            },
            {
              "description": "The SSH public key to install on the HSM."
            }
          ]
        },
        "SubnetId": {
          "allOf": [
            {
              "$ref": "#/definitions/SubnetId"
            },
            {
              "description": "The identifier of the subnet in your VPC in which to place the HSM."
            }
          ]
        },
        "SubscriptionType": {
          "$ref": "#/definitions/SubscriptionType"
        },
        "SyslogIp": {
          "allOf": [
            {
              "$ref": "#/definitions/IpAddress"
            },
            {
              "description": "The IP address for the syslog monitoring server. The AWS CloudHSM service only supports one syslog monitoring server."
            }
          ]
        }
      },
      "required": [
        "SubnetId",
        "SshKey",
        "IamRoleArn",
        "SubscriptionType"
      ],
      "title": "CreateHsmRequest",
      "type": "object"
    },
    "CreateHsmResponse": {
      "description": "Contains the output of the <code>CreateHsm</code> operation.",
      "properties": {
        "HsmArn": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmArn"
            },
            {
              "description": "The ARN of the HSM."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateLunaClientRequest": {
      "description": "Contains the inputs for the <a>CreateLunaClient</a> action.",
      "properties": {
        "Certificate": {
          "allOf": [
            {
              "$ref": "#/definitions/Certificate"
            },
            {
              "description": "The contents of a Base64-Encoded X.509 v3 certificate to be installed on the HSMs used by this client."
            }
          ]
        },
        "Label": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientLabel"
            },
            {
              "description": "The label for the client."
            }
          ]
        }
      },
      "required": [
        "Certificate"
      ],
      "title": "CreateLunaClientRequest",
      "type": "object"
    },
    "CreateLunaClientResponse": {
      "description": "Contains the output of the <a>CreateLunaClient</a> action.",
      "properties": {
        "ClientArn": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientArn"
            },
            {
              "description": "The ARN of the client."
            }
          ]
        }
      },
      "type": "object"
    },
    "DeleteHapgRequest": {
      "description": "Contains the inputs for the <a>DeleteHapg</a> action.",
      "properties": {
        "HapgArn": {
          "allOf": [
            {
              "$ref": "#/definitions/HapgArn"
            },
            {
              "description": "The ARN of the high-availability partition group to delete."
            }
          ]
        }
      },
      "required": [
        "HapgArn"
      ],
      "title": "DeleteHapgRequest",
      "type": "object"
    },
    "DeleteHapgResponse": {
      "description": "Contains the output of the <a>DeleteHapg</a> action.",
      "properties": {
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The status of the action."
            }
          ]
        }
      },
      "required": [
        "Status"
      ],
      "type": "object"
    },
    "DeleteHsmRequest": {
      "description": "Contains the inputs for the <a>DeleteHsm</a> operation.",
      "properties": {
        "HsmArn": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmArn"
            },
            {
              "description": "The ARN of the HSM to delete."
            }
          ]
        }
      },
      "required": [
        "HsmArn"
      ],
      "title": "DeleteHsmRequest",
      "type": "object"
    },
    "DeleteHsmResponse": {
      "description": "Contains the output of the <a>DeleteHsm</a> operation.",
      "properties": {
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The status of the operation."
            }
          ]
        }
      },
      "required": [
        "Status"
      ],
      "type": "object"
    },
    "DeleteLunaClientRequest": {
      "properties": {
        "ClientArn": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientArn"
            },
            {
              "description": "The ARN of the client to delete."
            }
          ]
        }
      },
      "required": [
        "ClientArn"
      ],
      "title": "DeleteLunaClientRequest",
      "type": "object"
    },
    "DeleteLunaClientResponse": {
      "properties": {
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The status of the action."
            }
          ]
        }
      },
      "required": [
        "Status"
      ],
      "type": "object"
    },
    "DescribeHapgRequest": {
      "description": "Contains the inputs for the <a>DescribeHapg</a> action.",
      "properties": {
        "HapgArn": {
          "allOf": [
            {
              "$ref": "#/definitions/HapgArn"
            },
            {
              "description": "The ARN of the high-availability partition group to describe."
            }
          ]
        }
      },
      "required": [
        "HapgArn"
      ],
      "title": "DescribeHapgRequest",
      "type": "object"
    },
    "DescribeHapgResponse": {
      "description": "Contains the output of the <a>DescribeHapg</a> action.",
      "properties": {
        "HapgArn": {
          "allOf": [
            {
              "$ref": "#/definitions/HapgArn"
            },
            {
              "description": "The ARN of the high-availability partition group."
            }
          ]
        },
        "HapgSerial": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The serial number of the high-availability partition group."
            }
          ]
        },
        "HsmsLastActionFailed": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmList"
            },
            {
              "description": "<p/>"
            }
          ]
        },
        "HsmsPendingDeletion": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmList"
            },
            {
              "description": "<p/>"
            }
          ]
        },
        "HsmsPendingRegistration": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmList"
            },
            {
              "description": "<p/>"
            }
          ]
        },
        "Label": {
          "allOf": [
            {
              "$ref": "#/definitions/Label"
            },
            {
              "description": "The label for the high-availability partition group."
            }
          ]
        },
        "LastModifiedTimestamp": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time the high-availability partition group was last modified."
            }
          ]
        },
        "PartitionSerialList": {
          "allOf": [
            {
              "$ref": "#/definitions/PartitionSerialList"
            },
            {
              "description": "The list of partition serial numbers that belong to the high-availability partition group."
            }
          ]
        },
        "State": {
          "allOf": [
            {
              "$ref": "#/definitions/CloudHsmObjectState"
            },
            {
              "description": "The state of the high-availability partition group."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeHsmRequest": {
      "description": "Contains the inputs for the <a>DescribeHsm</a> operation.",
      "properties": {
        "HsmArn": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmArn"
            },
            {
              "description": "The ARN of the HSM. Either the <code>HsmArn</code> or the <code>SerialNumber</code> parameter must be specified."
            }
          ]
        },
        "HsmSerialNumber": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmSerialNumber"
            },
            {
              "description": "The serial number of the HSM. Either the <code>HsmArn</code> or the <code>HsmSerialNumber</code> parameter must be specified."
            }
          ]
        }
      },
      "title": "DescribeHsmRequest",
      "type": "object"
    },
    "DescribeHsmResponse": {
      "description": "Contains the output of the <a>DescribeHsm</a> operation.",
      "properties": {
        "AvailabilityZone": {
          "allOf": [
            {
              "$ref": "#/definitions/AZ"
            },
            {
              "description": "The Availability Zone that the HSM is in."
            }
          ]
        },
        "EniId": {
          "allOf": [
            {
              "$ref": "#/definitions/EniId"
            },
            {
              "description": "The identifier of the elastic network interface (ENI) attached to the HSM."
            }
          ]
        },
        "EniIp": {
          "allOf": [
            {
              "$ref": "#/definitions/IpAddress"
            },
            {
              "description": "The IP address assigned to the HSM's ENI."
            }
          ]
        },
        "HsmArn": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmArn"
            },
            {
              "description": "The ARN of the HSM."
            }
          ]
        },
        "HsmType": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The HSM model type."
            }
          ]
        },
        "IamRoleArn": {
          "allOf": [
            {
              "$ref": "#/definitions/IamRoleArn"
            },
            {
              "description": "The ARN of the IAM role assigned to the HSM."
            }
          ]
        },
        "Partitions": {
          "allOf": [
            {
              "$ref": "#/definitions/PartitionList"
            },
            {
              "description": "The list of partitions on the HSM."
            }
          ]
        },
        "SerialNumber": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmSerialNumber"
            },
            {
              "description": "The serial number of the HSM."
            }
          ]
        },
        "ServerCertLastUpdated": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the server certificate was last updated."
            }
          ]
        },
        "ServerCertUri": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The URI of the certificate server."
            }
          ]
        },
        "SoftwareVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The HSM software version."
            }
          ]
        },
        "SshKeyLastUpdated": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the SSH key was last updated."
            }
          ]
        },
        "SshPublicKey": {
          "allOf": [
            {
              "$ref": "#/definitions/SshKey"
            },
            {
              "description": "The public SSH key."
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmStatus"
            },
            {
              "description": "The status of the HSM."
            }
          ]
        },
        "StatusDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "Contains additional information about the status of the HSM."
            }
          ]
        },
        "SubnetId": {
          "allOf": [
            {
              "$ref": "#/definitions/SubnetId"
            },
            {
              "description": "The identifier of the subnet that the HSM is in."
            }
          ]
        },
        "SubscriptionEndDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The subscription end date."
            }
          ]
        },
        "SubscriptionStartDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The subscription start date."
            }
          ]
        },
        "SubscriptionType": {
          "$ref": "#/definitions/SubscriptionType"
        },
        "VendorName": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The name of the HSM vendor."
            }
          ]
        },
        "VpcId": {
          "allOf": [
            {
              "$ref": "#/definitions/VpcId"
            },
            {
              "description": "The identifier of the VPC that the HSM is in."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeLunaClientRequest": {
      "properties": {
        "CertificateFingerprint": {
          "allOf": [
            {
              "$ref": "#/definitions/CertificateFingerprint"
            },
            {
              "description": "The certificate fingerprint."
            }
          ]
        },
        "ClientArn": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientArn"
            },
            {
              "description": "The ARN of the client."
            }
          ]
        }
      },
      "title": "DescribeLunaClientRequest",
      "type": "object"
    },
    "DescribeLunaClientResponse": {
      "properties": {
        "Certificate": {
          "allOf": [
            {
              "$ref": "#/definitions/Certificate"
            },
            {
              "description": "The certificate installed on the HSMs used by this client."
            }
          ]
        },
        "CertificateFingerprint": {
          "allOf": [
            {
              "$ref": "#/definitions/CertificateFingerprint"
            },
            {
              "description": "The certificate fingerprint."
            }
          ]
        },
        "ClientArn": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientArn"
            },
            {
              "description": "The ARN of the client."
            }
          ]
        },
        "Label": {
          "allOf": [
            {
              "$ref": "#/definitions/Label"
            },
            {
              "description": "The label of the client."
            }
          ]
        },
        "LastModifiedTimestamp": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time the client was last modified."
            }
          ]
        }
      },
      "type": "object"
    },
    "EniId": {
      "pattern": "eni-[0-9a-f]{8}",
      "type": "string"
    },
    "ExternalId": {
      "pattern": "[\\w :+=./-]*",
      "type": "string"
    },
    "GetConfigRequest": {
      "properties": {
        "ClientArn": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientArn"
            },
            {
              "description": "The ARN of the client."
            }
          ]
        },
        "ClientVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientVersion"
            },
            {
              "description": "The client version."
            }
          ]
        },
        "HapgList": {
          "allOf": [
            {
              "$ref": "#/definitions/HapgList"
            },
            {
              "description": "A list of ARNs that identify the high-availability partition groups that are associated with the client."
            }
          ]
        }
      },
      "required": [
        "ClientArn",
        "ClientVersion",
        "HapgList"
      ],
      "title": "GetConfigRequest",
      "type": "object"
    },
    "GetConfigResponse": {
      "properties": {
        "ConfigCred": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The certificate file containing the server.pem files of the HSMs."
            }
          ]
        },
        "ConfigFile": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The chrystoki.conf configuration file."
            }
          ]
        },
        "ConfigType": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The type of credentials."
            }
          ]
        }
      },
      "type": "object"
    },
    "HapgArn": {
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hapg-[0-9a-f]{8}",
      "type": "string"
    },
    "HapgList": {
      "items": {
        "$ref": "#/definitions/HapgArn"
      },
      "type": "array"
    },
    "HsmArn": {
      "description": "An ARN that identifies an HSM.",
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
      "type": "string"
    },
    "HsmList": {
      "description": "Contains a list of ARNs that identify the HSMs.",
      "items": {
        "$ref": "#/definitions/HsmArn"
      },
      "type": "array"
    },
    "HsmSerialNumber": {
      "pattern": "\\d{1,16}",
      "type": "string"
    },
    "HsmStatus": {
      "enum": [
        "PENDING",
        "RUNNING",
        "UPDATING",
        "SUSPENDED",
        "TERMINATING",
        "TERMINATED",
        "DEGRADED"
      ],
      "type": "string"
    },
    "IamRoleArn": {
      "pattern": "arn:aws(-iso)?:iam::[0-9]{12}:role/[a-zA-Z0-9_\\+=,\\.\\-@]{1,64}",
      "type": "string"
    },
    "InvalidRequestException": {
      "description": "Indicates that one or more of the request parameters are not valid.",
      "properties": {},
      "type": "object"
    },
    "IpAddress": {
      "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
      "type": "string"
    },
    "Label": {
      "pattern": "[a-zA-Z0-9_.-]{1,64}",
      "type": "string"
    },
    "ListAvailableZonesRequest": {
      "description": "Contains the inputs for the <a>ListAvailableZones</a> action.",
      "properties": {},
      "title": "ListAvailableZonesRequest",
      "type": "object"
    },
    "ListAvailableZonesResponse": {
      "properties": {
        "AZList": {
          "allOf": [
            {
              "$ref": "#/definitions/AZList"
            },
            {
              "description": "The list of Availability Zones that have available AWS CloudHSM capacity."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListHapgsRequest": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/PaginationToken"
            },
            {
              "description": "The <code>NextToken</code> value from a previous call to <code>ListHapgs</code>. Pass null if this is the first call."
            }
          ]
        }
      },
      "title": "ListHapgsRequest",
      "type": "object"
    },
    "ListHapgsResponse": {
      "properties": {
        "HapgList": {
          "allOf": [
            {
              "$ref": "#/definitions/HapgList"
            },
            {
              "description": "The list of high-availability partition groups."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/PaginationToken"
            },
            {
              "description": "If not null, more results are available. Pass this value to <code>ListHapgs</code> to retrieve the next set of items."
            }
          ]
        }
      },
      "required": [
        "HapgList"
      ],
      "type": "object"
    },
    "ListHsmsRequest": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/PaginationToken"
            },
            {
              "description": "The <code>NextToken</code> value from a previous call to <code>ListHsms</code>. Pass null if this is the first call."
            }
          ]
        }
      },
      "title": "ListHsmsRequest",
      "type": "object"
    },
    "ListHsmsResponse": {
      "description": "Contains the output of the <code>ListHsms</code> operation.",
      "properties": {
        "HsmList": {
          "allOf": [
            {
              "$ref": "#/definitions/HsmList"
            },
            {
              "description": "The list of ARNs that identify the HSMs."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/PaginationToken"
            },
            {
              "description": "If not null, more results are available. Pass this value to <code>ListHsms</code> to retrieve the next set of items."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListLunaClientsRequest": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/PaginationToken"
            },
            {
              "description": "The <code>NextToken</code> value from a previous call to <code>ListLunaClients</code>. Pass null if this is the first call."
            }
          ]
        }
      },
      "title": "ListLunaClientsRequest",
      "type": "object"
    },
    "ListLunaClientsResponse": {
      "properties": {
        "ClientList": {
          "allOf": [
            {
[...]
