{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "devrel@vonage.com",
      "name": "Vonage DevRel",
      "url": "https://developer.nexmo.com/"
    },
    "description": "The [Reports API](/reports/overview) enables you to request a report of activity for your Vonage account.\n\nDepending on your query pattern, you can choose from one of the two versions of the Reports API: asynchronous and synchronous. The asynchronous version is optimized for infrequent and large data queries (from several records to tens of millions). The synchronous version is optimized for frequent and periodic retrievals of small batches of data records (from one record to tens of thousand per query).\n\nOnly synchronous version supports retrival of data records by message/record ID.\n\nVonage recommends that you limit asynchronous queries to a maximum of 20 million records, by setting the start and end dates accordingly. On average, the asynchronous Reports API takes 5 - 10 minutes to generate 1 million records.\n",
    "license": {
      "name": "The MIT License (MIT)",
      "url": "https://opensource.org/licenses/MIT"
    },
    "termsOfService": "https://www.nexmo.com/terms-of-use",
    "title": "Reports API",
    "version": "2.1.14",
    "x-label": "Beta",
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/reports.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "nexmo.com",
    "x-serviceName": "reports",
    "x-datafire": {
      "name": "nexmo_reports",
      "type": "openapi"
    }
  },
  "host": "api.nexmo.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/reports": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The account for which the list of reports will be queried.",
            "in": "query",
            "maxLength": 8,
            "minLength": 8,
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "abcd1234"
          },
          {
            "description": "A comma-separated list of report status values. Reports with any of the statuses specified are returned. The values in the comma-seperated list specified for `status` can be any of `PENDING`, `PROCESSING`, `SUCCESS`, `ABORTED`, `FAILED`, `TRUNCATED`.",
            "in": "query",
            "name": "status",
            "required": true,
            "type": "string",
            "x-example": "SUCCESS, FAILED"
          },
          {
            "description": "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date from which the list of reports will be queried. Format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`.",
            "format": "date",
            "in": "query",
            "name": "date_from",
            "type": "string",
            "x-example": "2019-06-28T00:00:00-00:00"
          },
          {
            "description": "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date until which the list of reports will be queried. Format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`.",
            "format": "date",
            "in": "query",
            "name": "date_to",
            "type": "string",
            "x-example": "2019-06-28T23:59:59-00:00"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "items_count": {
                  "description": "The number of reports in the list.",
                  "type": "integer"
                },
                "reports": {
                  "description": "The list of reports.",
                  "items": {
                    "type": "object"
                  },
                  "type": "array"
                },
                "self_link": {
                  "description": "URI of this search.",
                  "example": "https://api.nexmo.com/v2/reports/",
                  "format": "uri",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Invalid request parameter.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Invalid request parameter",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors/reports#invalid-request-parameters",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "detail": {
                  "example": "You did not provide correct credentials.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Unauthorized",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#unauthorized",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "List reports created by the specified account based on filtered provided.",
        "operationId": "list-reports",
        "summary": "List reports"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The parameters of the JSON body will be used to create and filter the report.<br> The value of the `product` field will define which product the report will be created for and which parameters are accepted.\n",
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Malformed JSON payload.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Malformed JSON",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#invalid-json",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "detail": {
                  "example": "You did not provide correct credentials.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Unauthorized",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#unauthorized",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "detail": {
                  "example": "User not authorized to query the requested data.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Forbidden",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#forbidden",
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Unprocessable entity.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Unprocessable entity",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#not-found",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Request a report on your account activity",
        "operationId": "create-async-report",
        "summary": "Create an asynchronous report"
      }
    },
    "/v2/reports/records": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The account for which the list of reports will be queried.",
            "in": "query",
            "maxLength": 8,
            "minLength": 8,
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "abcd1234"
          },
          {
            "description": "The product to return records for",
            "enum": [
              "SMS",
              "VOICE-CALL",
              "WEBSOCKET-CALL",
              "VERIFY-API",
              "NUMBER-INSIGHT",
              "MESSAGES",
              "CONVERSATIONS",
              "ASR"
            ],
            "in": "query",
            "name": "product",
            "required": true,
            "type": "string",
            "x-example": "SMS"
          },
          {
            "description": "Direction of the communication, either `inbound` (received by our services), or `outbound` (originated from our services). Required for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid for `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`.",
            "enum": [
              "inbound",
              "outbound"
            ],
            "in": "query",
            "name": "direction",
            "type": "string",
            "x-example": "inbound"
          },
          {
            "description": "The UUID of the message or call to be searched for. You can specify a comma-separated list of UUIDs. If UUIDs are not found they are listed in the response in the `ids_not_found` field.\n\nIf you specify `id`, you must not specify `status`, `date_start` or `date_end`.\n",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
          },
          {
            "description": "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when reports should begin. \n\nIt filters on the time the API call was received by Vonage and corresponds to the field `date_received` (`date_start` for Voice) in the report file. It is inclusive, i.e. the provided value is less than or equal to the value in the field `date_received` (`date_start` for Voice) in the CDR.\n\nIf you provide this, you must provide `date_end` and must not provide `id`.\n",
            "format": "date",
            "in": "query",
            "name": "date_start",
            "type": "string",
            "x-example": "2017-12-01T00:00:00+0000"
          },
          {
            "description": "**Must be no more than 24 hours later than `date_start`**\n\nISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when report should end.\n\nIt is exclusive, i.e. the provided value is strictly greater than the value in the field `date_received` in the CDR.\n\nIf you provide this, you must provide `date_start` and must not provide `id`.\n",
            "format": "date",
            "in": "query",
            "name": "date_end",
            "type": "string",
            "x-example": "2018-01-01T00:00:00+0000"
          },
          {
            "default": false,
            "description": "Include the message contents in the records. Only applicable for use with products `SMS` and `MESSAGES`, where it is optional.",
            "enum": [
              true,
              false
            ],
            "in": "query",
            "name": "include_message",
            "type": "boolean",
            "x-example": true
          },
          {
            "default": "none",
            "description": "The event type to search for. Only used, and is required, when product is `CONVERSATIONS`.",
            "enum": [
              "ip-voice",
              "cs-custom-event"
            ],
            "in": "query",
            "name": "type",
            "type": "string",
            "x-example": "ip-voice"
          },
          {
            "default": "none",
            "description": "The SMS status to search for. Optional where product is `SMS`.",
            "enum": [
              "delivered",
              "expired",
              "failed",
              "rejected",
              "accepted",
              "buffered",
              "unknown",
              "deleted"
            ],
            "in": "query",
            "name": "status",
            "type": "string",
            "x-example": "delivered"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          },
          "403": {
            "description": "Unprocessable entity",
            "schema": {
              "properties": {
                "detail": {
                  "example": "User not authorized to query the requested data",
                  "type": "string"
                },
                "instance": {
                  "$ref": "#/definitions/instance"
                },
                "title": {
                  "example": "Forbidden",
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "schema": {}
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Fetch usage data synchronously",
        "operationId": "get-records",
        "summary": "Load records synchronously"
      }
    },
    "/v2/reports/{report_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "UUID of the report",
            "in": "path",
            "name": "report_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "detail": {
                  "example": "You did not provide correct credentials.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Unauthorized",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#unauthorized",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Report aaaaaaaa-bbbb-cccc-dddd-0123456789ab does not exist, or you do not have access.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Invalid report ID",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#not-found",
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Invalid Abort Operation",
            "schema": {
              "properties": {
                "detail": {
                  "example": "The job is already in a terminated state such as `SUCCESS`, `TRUNCATED`, `FAILED` or `ABORTED`.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Invalid Abort Operation",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors/reports#invalid-abort-operation",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Cancel the execution of a pending or processing report.",
        "operationId": "cancel-report",
        "summary": "Cancel the execution of a report"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "UUID of the report request (`request_id` in response).",
            "in": "path",
            "name": "report_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "detail": {
                  "example": "You did not provide correct credentials.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Unauthorized",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#unauthorized",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Report aaaaaaaa-bbbb-cccc-dddd-0123456789ab does not exist, or you do not have access.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Invalid report ID",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#not-found",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Retrieve status and metadata about a requested report.",
        "operationId": "get-report",
        "summary": "Get status of report"
      }
    },
    "/v3/media/{file_id}": {
      "get": {
        "produces": [
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "description": "UUID of the file.",
            "in": "path",
            "name": "file_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Zip file containing CSV files",
            "schema": {
              "properties": {
                "report": {
                  "description": "The report in CSV format inside the zip archive.",
                  "items": {
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "detail": {
                  "example": "You did not provide correct credentials.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Unauthorized",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#unauthorized",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Report aaaaaaaa-bbbb-cccc-dddd-0123456789ab does not exist, or you do not have access.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Invalid report ID",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#not-found",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Download a zipped archive of the rendered report. The file is available for download for 72 hours.<br> The zip file will be named `<PRODUCT>_<REPORT_ID>.zip`<br> The csv file in the zip archive will be named as `report_<PRODUCT>_<ACCOUNT_ID>_<DATE>.csv` the date will be formatted as `yyyyMMdd`.\n",
        "operationId": "download-report",
        "summary": "Get report data"
      }
    }
  },
  "definitions": {
    "ASR": {
      "allOf": [
        {
          "$ref": "#/definitions/report_request"
        },
        {
          "$ref": "#/definitions/asr_fields"
        }
      ],
      "description": "ASR",
      "x-tab-id": "asr"
    },
    "CONVERSATIONS": {
      "allOf": [
        {
          "$ref": "#/definitions/report_request"
        },
        {
          "$ref": "#/definitions/conversations_fields"
        }
      ],
      "description": "Conversations",
      "x-tab-id": "conversations"
    },
    "MESSAGES": {
      "allOf": [
        {
          "$ref": "#/definitions/report_request"
        },
        {
          "$ref": "#/definitions/messages_fields"
        }
      ],
      "description": "Messages",
      "x-tab-id": "messages"
    },
    "NUMBER-INSIGHT": {
      "allOf": [
        {
          "$ref": "#/definitions/report_request"
        },
        {
          "$ref": "#/definitions/number_insight_fields"
        }
      ],
      "description": "Number Insight",
      "x-tab-id": "number-insight"
    },
    "SMS": {
      "allOf": [
        {
          "$ref": "#/definitions/report_request"
        },
        {
          "$ref": "#/definitions/sms_fields"
        }
      ],
      "description": "SMS",
      "x-tab-id": "SMS"
    },
    "VERIFY-API": {
      "allOf": [
        {
          "$ref": "#/definitions/report_request"
        },
        {
          "$ref": "#/definitions/verify_api_fields"
        }
      ],
      "description": "Verify",
      "x-tab-id": "verify"
    },
    "VOICE-CALL": {
      "allOf": [
        {
          "$ref": "#/definitions/report_request"
        },
        {
          "$ref": "#/definitions/voice_call_fields"
        }
      ],
      "description": "Voice Call",
      "x-tab-id": "voice-call"
    },
    "WEBSOCKET-CALL": {
      "allOf": [
        {
          "$ref": "#/definitions/report_request"
        },
        {
          "$ref": "#/definitions/websocket_call_fields"
        }
      ],
      "description": "WebSocket Call",
      "x-tab-id": "websocket-call"
    },
    "_links": {
      "properties": {
        "download_report": {
          "properties": {
            "href": {
              "description": "URL pointing to the generated report.",
              "example": "https://api.nexmo.com/v3/media/aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
              "format": "uri",
              "type": "string"
            }
          },
          "type": "object"
        },
        "self": {
          "properties": {
            "href": {
              "description": "URI of this document.",
              "example": "https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
              "format": "uri",
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "_links_create_report": {
      "properties": {
        "self": {
          "properties": {
            "href": {
              "description": "URI of this document.",
              "example": "https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
              "format": "uri",
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "account_id": {
      "description": "The account ID (API key) you wish to search for. This can differ from the API key in the authorization header because some accounts can request reports for other accounts, e.g. a primary account owner wants to create a report for one of its subaccounts.",
      "example": "abcdef01",
      "type": "string"
    },
    "account_ref": {
      "description": "Search for messages with this `account_ref`.",
      "maxLength": 40,
      "minLength": 40,
      "type": "string"
    },
    "application_id": {
      "description": "Search only for requests attached to a particular Application ID.",
      "type": "string"
    },
    "asr_fields": {
      "description": "ASR",
      "properties": {
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "product": {
          "$ref": "#/definitions/product_asr"
        },
        "status": {
          "$ref": "#/definitions/asr_status"
        },
        "to": {
          "$ref": "#/definitions/to"
        }
      },
      "type": "object",
      "x-tab-id": "asr"
    },
    "asr_response_create_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response_create_report"
        },
        {
          "$ref": "#/definitions/asr_fields"
        }
      ],
      "description": "ASR",
      "x-tab-id": "asr"
    },
    "asr_response_get_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response"
        },
        {
          "$ref": "#/definitions/asr_fields"
        }
      ],
      "description": "ASR",
      "x-tab-id": "asr"
    },
    "asr_status": {
      "description": "Search only for ASR with corresponding status.",
      "enum": [
        "ok",
        "error"
      ],
      "example": "ok",
      "type": "string"
    },
    "asr_status_description": {
      "description": "ASR error message.",
      "example": "",
      "type": "string"
    },
    "call_end_date": {
      "description": "Date of the end of the call.",
      "example": "2019-06-28T15:30:00+0000",
      "format": "date",
      "type": "string"
    },
    "call_start_date": {
      "description": "Date of the start of the call.",
      "example": "2019-06-28T15:30:00+0000",
      "format": "date",
      "type": "string"
    },
    "callback_url": {
      "description": "URL to send a callback upon completion of the report. This POST callback contains the same information as the response to [Get status of report](/api/reports#get-report).",
      "example": "https://requestb.in/12345",
      "format": "uri",
      "type": "string"
    },
    "client_ref": {
      "description": "Search for messages with this `client_ref`.",
      "maxLength": 40,
      "minLength": 40,
      "type": "string"
    },
    "conversation_id": {
      "description": "Search only for Voice calls attached to this particular Conversation. This should include the \"CON-\" prefix.",
      "example": "CON-abc123",
      "type": "string"
    },
    "conversation_type": {
      "description": "Type of conversation request. Only used, and is required, when product is `CONVERSATIONS`.",
      "enum": [
        "ip-voice",
        "cs-custom-event"
      ],
      "example": "ip-voice",
      "type": "string"
    },
    "conversations_fields": {
      "description": "Conversations",
      "properties": {
        "conversation_id": {
          "$ref": "#/definitions/conversation_id"
        },
        "product": {
          "$ref": "#/definitions/product_conversations"
        },
        "status": {
          "$ref": "#/definitions/status"
        },
        "type": {
          "$ref": "#/definitions/conversation_type"
        }
      },
      "type": "object",
      "x-tab-id": "conversations"
    },
    "conversations_response_create_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response_create_report"
        },
        {
          "$ref": "#/definitions/conversations_fields"
        }
      ],
      "description": "Conversations",
      "x-tab-id": "conversations"
    },
    "conversations_response_get_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response"
        },
        {
          "$ref": "#/definitions/conversations_fields"
        }
      ],
      "description": "Conversations",
      "x-tab-id": "conversations"
    },
    "conversations_user_id": {
      "description": "User ID of the caller.",
      "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
      "type": "string"
    },
    "country": {
      "description": "Country where the request was sent.",
      "example": "FR",
      "type": "string"
    },
    "country_name": {
      "description": "Country name where the request was sent.",
      "example": "France",
      "type": "string"
    },
    "csv_asr": {
      "description": "ASR",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "call_date_start": {
          "$ref": "#/definitions/call_start_date"
        },
        "call_id": {
          "$ref": "#/definitions/request_id"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_end": {
          "$ref": "#/definitions/call_end_date"
        },
        "date_start": {
          "$ref": "#/definitions/call_start_date"
        },
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "duration": {
          "$ref": "#/definitions/duration"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "price": {
          "$ref": "#/definitions/price"
        },
        "status": {
          "$ref": "#/definitions/asr_status"
        },
        "status_description": {
          "$ref": "#/definitions/asr_status_description"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "total_price": {
          "$ref": "#/definitions/total_price"
        }
      },
      "type": "object",
      "x-tab-id": "asr"
    },
    "csv_conversations_ip_voice": {
      "description": "IP Voice Conversations",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "application_id": {
          "$ref": "#/definitions/application_id"
        },
        "conversation_id": {
          "$ref": "#/definitions/conversation_id"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_end": {
          "$ref": "#/definitions/call_end_date"
        },
        "date_start": {
          "$ref": "#/definitions/call_start_date"
        },
        "duration": {
          "$ref": "#/definitions/duration"
        },
        "leg_id": {
          "$ref": "#/definitions/ip_voice_leg_id"
        },
        "price": {
          "$ref": "#/definitions/price"
        },
        "request_id": {
          "$ref": "#/definitions/request_id"
        },
        "status": {
          "$ref": "#/definitions/ip_voice_status"
        },
        "total_price": {
          "$ref": "#/definitions/total_price"
        },
        "user_id": {
          "$ref": "#/definitions/conversations_user_id"
        }
      },
      "type": "object",
      "x-tab-id": "conversations-ip-voice"
    },
    "csv_messages_inbound": {
      "description": "Inbound Messages",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_received": {
          "$ref": "#/definitions/date"
        },
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "message_body": {
          "$ref": "#/definitions/message_body"
        },
        "message_id": {
          "$ref": "#/definitions/message_id"
        },
        "provider": {
          "$ref": "#/definitions/messages_provider"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "total_price": {
          "$ref": "#/definitions/total_price"
        }
      },
      "type": "object",
      "x-tab-id": "inbound-messages"
    },
    "csv_messages_outbound": {
      "description": "Outbound Messages",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "client_ref": {
          "$ref": "#/definitions/client_ref"
        },
        "country": {
          "$ref": "#/definitions/country"
        },
        "country_name": {
          "$ref": "#/definitions/country_name"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_finalized": {
          "$ref": "#/definitions/date_finalized"
        },
        "date_received": {
          "$ref": "#/definitions/date"
        },
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "error_code": {
          "$ref": "#/definitions/messages_error_code"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "latency": {
          "$ref": "#/definitions/latency"
        },
        "message_body": {
          "$ref": "#/definitions/message_body"
        },
        "message_id": {
          "$ref": "#/definitions/message_id"
        },
        "provider": {
          "$ref": "#/definitions/messages_provider"
        },
        "status": {
          "$ref": "#/definitions/messages_status"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "total_price": {
          "$ref": "#/definitions/total_price"
        }
      },
      "type": "object",
      "x-tab-id": "outbound-messages"
    },
    "csv_ni": {
      "description": "Number Insight",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "country": {
          "$ref": "#/definitions/ni_country"
        },
        "country_name": {
          "$ref": "#/definitions/ni_country_name"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_received": {
          "$ref": "#/definitions/date"
        },
        "first_name": {
          "$ref": "#/definitions/ni_first_name"
        },
        "last_name": {
          "$ref": "#/definitions/ni_last_name"
        },
        "network": {
          "$ref": "#/definitions/ni_network"
        },
        "network_name": {
          "$ref": "#/definitions/ni_network_name"
        },
        "network_type": {
          "$ref": "#/definitions/ni_network_type"
        },
        "number": {
          "$ref": "#/definitions/ni_number"
        },
        "ported": {
          "$ref": "#/definitions/ni_ported"
        },
        "product_type": {
          "$ref": "#/definitions/ni_product_type"
        },
        "reachable": {
          "$ref": "#/definitions/ni_reachable"
        },
        "request_id": {
          "$ref": "#/definitions/request_id"
        },
        "response_code": {
          "$ref": "#/definitions/ni_response_code"
        },
        "status": {
          "$ref": "#/definitions/ni_status"
        },
        "total_price": {
          "$ref": "#/definitions/total_price"
        },
        "valid": {
          "$ref": "#/definitions/ni_valid"
        }
      },
      "type": "object",
      "x-tab-id": "number-insight"
    },
    "csv_sms_inbound": {
      "description": "Inbound SMS",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "country": {
          "$ref": "#/definitions/country"
        },
        "country_name": {
          "$ref": "#/definitions/country_name"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_received": {
          "$ref": "#/definitions/date"
        },
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "message_body": {
          "$ref": "#/definitions/message_body"
        },
        "message_id": {
          "$ref": "#/definitions/message_id"
        },
        "network": {
          "$ref": "#/definitions/network"
        },
        "network_name": {
          "$ref": "#/definitions/network_name"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "total_price": {
          "$ref": "#/definitions/price"
        }
      },
      "type": "object",
      "x-tab-id": "inbound-sms"
    },
    "csv_sms_outbound": {
      "description": "Outbound SMS",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "client_ref": {
          "$ref": "#/definitions/client_ref"
        },
        "country": {
          "$ref": "#/definitions/country"
        },
        "country_name": {
          "$ref": "#/definitions/country_name"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_finalized": {
          "$ref": "#/definitions/date_finalized"
        },
        "date_received": {
          "$ref": "#/definitions/date"
        },
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "error_code": {
          "$ref": "#/definitions/error_code"
        },
        "error_code_description": {
          "$ref": "#/definitions/error_code_description"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "latency": {
          "$ref": "#/definitions/latency"
        },
        "message_body": {
          "$ref": "#/definitions/message_body"
        },
        "message_id": {
          "$ref": "#/definitions/message_id"
        },
        "network": {
          "$ref": "#/definitions/network"
        },
        "network_name": {
          "$ref": "#/definitions/network_name"
        },
        "status": {
          "$ref": "#/definitions/sms_status"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "total_price": {
          "$ref": "#/definitions/price"
        }
      },
      "type": "object",
      "x-tab-id": "outbound-sms"
    },
    "csv_verify": {
      "description": "Verify",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "country": {
          "$ref": "#/definitions/country"
        },
        "country_name": {
          "$ref": "#/definitions/country_name"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_finalized": {
          "$ref": "#/definitions/date_finalized"
        },
        "date_received": {
          "$ref": "#/definitions/date"
        },
        "estimated_price": {
          "$ref": "#/definitions/estimated_price"
        },
        "first_event_date": {
          "$ref": "#/definitions/first_event_date"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "last_event_date": {
          "$ref": "#/definitions/last_event_date"
        },
        "locale": {
          "$ref": "#/definitions/locale"
        },
        "network": {
          "$ref": "#/definitions/network"
        },
        "network_name": {
          "$ref": "#/definitions/network_name"
        },
        "number_type": {
          "$ref": "#/definitions/number_type"
        },
        "price": {
          "$ref": "#/definitions/price"
        },
        "pricing_model": {
          "$ref": "#/definitions/pricing_model"
        },
        "request_id": {
          "$ref": "#/definitions/request_id"
        },
        "sms_event_count": {
          "$ref": "#/definitions/sms_event_count"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "tts_event_count": {
          "$ref": "#/definitions/tts_event_count"
        },
        "verify_status": {
          "$ref": "#/definitions/verify_status"
        }
      },
      "type": "object",
      "x-tab-id": "verify"
    },
    "csv_voice": {
      "description": "Voice Call",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "call_id": {
          "$ref": "#/definitions/request_id"
        },
        "country": {
          "$ref": "#/definitions/country"
        },
        "country_name": {
          "$ref": "#/definitions/country_name"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_end": {
          "$ref": "#/definitions/call_end_date"
        },
        "date_start": {
          "$ref": "#/definitions/call_start_date"
        },
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "duration": {
          "$ref": "#/definitions/duration"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "network": {
          "$ref": "#/definitions/network"
        },
        "network_name": {
          "$ref": "#/definitions/network_name"
        },
        "price": {
          "$ref": "#/definitions/price"
        },
        "status": {
          "$ref": "#/definitions/voice_status"
        },
        "status_description": {
          "$ref": "#/definitions/voice_status_description"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "total_price": {
          "$ref": "#/definitions/total_price"
        }
      },
      "type": "object",
      "x-tab-id": "voice-call"
    },
    "csv_websockets": {
      "description": "WebSocket Call",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "call_id": {
          "$ref": "#/definitions/request_id"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_end": {
          "$ref": "#/definitions/call_end_date"
        },
        "date_start": {
          "$ref": "#/definitions/call_start_date"
        },
        "duration": {
          "$ref": "#/definitions/duration"
        },
        "price": {
          "$ref": "#/definitions/price"
        },
        "status": {
          "$ref": "#/definitions/websocket_status"
        },
        "total_price": {
          "$ref": "#/definitions/total_price"
        }
      },
      "type": "object",
      "x-tab-id": "websocket-call"
    },
    "currency": {
      "description": "Currency of the price of the request.",
      "example": "EUR",
      "type": "string"
    },
    "date": {
      "description": "Date of the request.",
      "example": "2019-06-28T15:30:00+0000",
      "format": "date",
      "type": "string"
    },
    "date_end": {
      "description": "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when report should end.  It is exclusive, i.e. the provided value is strictly greater than the value in the field `date_received` in the CDR. <br>If unspecified, defaults to the current time.\n",
      "example": "2018-01-01T00:00:00+00:00",
      "format": "date",
      "type": "string"
    },
    "date_finalized": {
      "description": "Date when the request was finalized.",
      "example": "2019-06-28T15:30:00+0000",
      "format": "date",
      "type": "string"
    },
    "date_start": {
      "description": "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when reports  should begin. It filters on the time the API call was received by Vonage and corresponds to the field `date_received` (`date_start` for Voice) in the report file. It is inclusive, i.e. the provided value is less than or equal to the value in the field `date_received` (`date_start` for Voice) in the CDR.<br>If unspecified, defaults  to seven days ago.\n",
      "example": "2017-12-01T00:00:00+00:00",
      "format": "date",
      "type": "string"
    },
    "direction": {
      "description": "Direction of the communication, either `inbound` (received by our services), or `outbound` (originated from our services). Required for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid for `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`.",
      "enum": [
        "inbound",
        "outbound"
      ],
      "example": "outbound",
      "type": "string"
    },
    "duration": {
      "description": "Duration of the call in seconds.",
      "example": "42",
      "type": "integer"
    },
    "error_code": {
      "description": "Error code of the request.",
      "example": "0",
      "type": "string"
    },
    "error_code_description": {
      "description": "Description of the error code of the request.",
      "example": "Delivered",
      "type": "string"
    },
    "estimated_price": {
      "description": "Estimated price of the verify request.",
      "example": "0.042",
      "type": "string"
    },
    "file_id": {
      "description": "Id of the generated report file.",
      "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
      "type": "string"
    },
    "first_event_date": {
      "description": "Date of the first verify event.",
      "example": "2019-06-28T15:30:00+0000",
      "format": "date",
      "type": "string"
    },
    "from": {
      "description": "Request from this number.",
      "example": "441234567890",
      "type": "string"
    },
    "id": {
      "description": "Search only messages with the specified uuid.",
      "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
      "type": "string"
    },
    "ids_not_found": {
      "description": "If you request multiple records using a comma-separated list of UUIDs, then the UUIDs of any records not found are listed in this field.",
      "example": "7b10a0c2-1a05-11eb-bad9-38f9d331649,7b1091b8-1a05-11eb-bad9-38f9d331493",
      "type": "string"
    },
    "include_message": {
      "default": false,
      "description": "Include the text of messages in the report.",
      "example": "true",
      "type": "boolean"
    },
    "include_subaccounts": {
      "default": false,
      "description": "Whether to include subaccounts or not.",
      "enum": [
        true,
        false
      ],
      "example": "false",
      "type": "boolean"
    },
    "instance": {
      "example": "f94b4e56604e07e5e5ad5a7228618f81",
      "type": "string"
    },
    "ip_voice_leg_id": {
      "description": "Id of the leg.",
      "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
      "type": "string"
    },
    "ip_voice_status": {
      "description": "Status of the conversation evnet.",
      "example": "0",
      "type": "string"
    },
    "items_count": {
      "description": "The number of rows in the resulting file (when report has been completed).",
      "type": "integer"
    },
    "json_sms_inbound": {
      "description": "Inbound SMS",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "country": {
          "$ref": "#/definitions/country"
        },
        "country_name": {
          "$ref": "#/definitions/country_name"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_received": {
          "$ref": "#/definitions/date"
        },
        "direction": {
          "allOf": [
            {
              "$ref": "#/definitions/direction"
            },
            {
              "example": "inbound"
            }
          ]
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "message_id": {
          "$ref": "#/definitions/message_id"
        },
        "network": {
          "$ref": "#/definitions/network"
        },
        "network_name": {
          "$ref": "#/definitions/network_name"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "total_price": {
          "$ref": "#/definitions/price"
        }
      },
      "type": "object",
      "x-tab-id": "inbound-sms"
    },
    "json_sms_inbound_with_body": {
      "allOf": [
        {
          "$ref": "#/definitions/json_sms_inbound"
        },
        {
          "properties": {
            "message_body": {
              "$ref": "#/definitions/message_body"
            }
          }
        }
      ]
    },
    "json_sms_outbound": {
      "description": "Outbound SMS",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "client_ref": {
          "$ref": "#/definitions/client_ref"
        },
        "country": {
          "$ref": "#/definitions/country"
        },
        "country_name": {
          "$ref": "#/definitions/country_name"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "date_finalized": {
          "$ref": "#/definitions/date_finalized"
        },
        "date_received": {
          "$ref": "#/definitions/date"
        },
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "error_code": {
          "$ref": "#/definitions/error_code"
        },
        "error_code_description": {
          "$ref": "#/definitions/error_code_description"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "latency": {
          "$ref": "#/definitions/latency"
        },
        "message_id": {
          "$ref": "#/definitions/message_id"
        },
        "network": {
          "$ref": "#/definitions/network"
        },
        "network_name": {
          "$ref": "#/definitions/network_name"
        },
        "status": {
          "$ref": "#/definitions/sms_status"
        },
        "to": {
          "$ref": "#/definitions/to"
        },
        "total_price": {
          "$ref": "#/definitions/price"
        }
      },
      "type": "object",
      "x-tab-id": "outbound-sms"
    },
    "json_sms_outbound_with_body": {
      "allOf": [
        {
          "$ref": "#/definitions/json_sms_outbound"
        },
        {
          "properties": {
            "message_body": {
              "$ref": "#/definitions/message_body"
            }
          }
        }
      ]
    },
    "last_event_date": {
      "description": "Date of the last verify event.",
      "example": "2019-06-28T15:30:00+0000",
      "format": "date",
      "type": "string"
    },
    "latency": {
      "description": "Latency of the request in ms.",
      "example": "42",
      "type": "integer"
    },
    "locale": {
      "description": "Locale used for the TTS.",
      "example": "en-gb",
      "type": "string"
    },
    "message_body": {
      "description": "Body of the message sent. Only present if include_message parameter is set to true.",
      "example": "This is a text message",
      "type": "string"
    },
    "message_id": {
      "description": "Id of the request.",
      "example": "0000000A",
      "type": "string"
    },
    "messages_error_code": {
      "description": "Error code of the message.",
      "example": "1300",
      "type": "string"
    },
    "messages_fields": {
      "description": "Messages",
      "properties": {
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "id": {
          "$ref": "#/definitions/id"
        },
        "include_message": {
          "$ref": "#/definitions/include_message"
        },
        "product": {
          "$ref": "#/definitions/product_messages"
        },
        "to": {
          "$ref": "#/definitions/to"
        }
      },
      "required": [
        "product",
        "account_id",
        "direction"
      ],
      "type": "object",
      "x-tab-id": "messages"
    },
    "messages_provider": {
      "description": "Provider of the message.",
      "example": "whatsapp",
      "type": "string"
    },
    "messages_response_create_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response_create_report"
        },
        {
          "$ref": "#/definitions/messages_fields"
        }
      ],
      "description": "Messages",
      "x-tab-id": "messages"
    },
    "messages_response_get_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response"
        },
        {
          "$ref": "#/definitions/messages_fields"
        }
      ],
      "description": "Messages",
      "x-tab-id": "messages"
    },
    "messages_status": {
      "description": "Status of the message.",
      "example": "submitted",
      "type": "string"
    },
    "network": {
      "description": "Network used to send the request.",
      "example": "23415",
      "type": "string"
    },
    "network_name": {
      "description": "Name of the network used to send the request.",
      "example": "Vodafone Limited",
      "type": "string"
    },
    "ni_country": {
      "description": "Country of the looked up number.",
      "example": "mobile",
      "type": "string"
    },
    "ni_country_name": {
      "description": "Country name of the looked up number.",
      "example": "mobile",
      "type": "string"
    },
    "ni_first_name": {
      "description": "First name of the owner of the looked up number.",
      "example": "valid",
      "type": "string"
    },
    "ni_last_name": {
      "description": "Last name of the owner of the looked up number.",
      "example": "valid",
      "type": "string"
    },
    "ni_network": {
      "description": "Network of the looked up number.",
      "example": "23415",
      "type": "string"
    },
    "ni_network_name": {
      "description": "Network name of the looked up number.",
      "example": "Vodafone Limited",
      "type": "string"
    },
    "ni_network_type": {
      "description": "Network type of the looked up number.",
      "example": "mobile",
      "type": "string"
    },
    "ni_number": {
      "description": "Number looked up for this request.",
      "example": "HLR-LOOKUP",
      "type": "string"
    },
    "ni_ported": {
      "description": "Is the looked up number ported.",
      "example": "ported",
      "type": "string"
    },
    "ni_product_type": {
      "description": "Type of Number Insight request.",
      "example": "HLR-LOOKUP",
      "type": "string"
    },
    "ni_reachable": {
      "description": "Is the looked up number reachable.",
      "example": "reachable",
      "type": "string"
    },
    "ni_response_code": {
      "description": "Response code of the Number Insight request.",
      "example": "0",
      "type": "string"
    },
    "ni_status": {
      "description": "Status of the Number Insight request.",
      "example": "Success",
      "type": "string"
    },
    "ni_valid": {
      "description": "Is the looked up number valid.",
      "example": "valid",
      "type": "string"
    },
    "number": {
      "description": "Search only request for the target number.",
      "example": "441234567890",
      "type": "string"
    },
    "number_insight_fields": {
      "description": "Number Insight",
      "properties": {
        "network": {
          "$ref": "#/definitions/network"
        },
        "number": {
          "$ref": "#/definitions/number"
        },
        "product": {
          "$ref": "#/definitions/product_ni"
        }
      },
      "type": "object",
      "x-tab-id": "number-insight"
    },
    "number_insight_response_create_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response_create_report"
        },
        {
          "$ref": "#/definitions/number_insight_fields"
        }
      ],
      "description": "Number Insight",
      "x-tab-id": "number-insight"
    },
    "number_insight_response_get_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response"
        },
        {
          "$ref": "#/definitions/number_insight_fields"
        }
      ],
      "description": "Number Insight",
      "x-tab-id": "number-insight"
    },
    "number_type": {
      "description": "Type of phone number to which requests are sent.",
      "example": "MOBILE",
      "type": "string"
    },
    "price": {
      "description": "Price of the request.",
      "example": "0.042",
      "type": "number"
    },
    "pricing_model": {
      "description": "Pricing model used for this request.",
      "example": "0",
      "type": "string"
    },
    "product": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "WEBSOCKET-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "SMS",
      "type": "string"
    },
    "product_asr": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "WEBSOCKET-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "ASR",
      "type": "string"
    },
    "product_conversations": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "WEBSOCKET-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "CONVERSATIONS",
      "type": "string"
    },
    "product_messages": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "MESSAGES",
      "type": "string"
    },
    "product_ni": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "WEBSOCKET-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "NUMBER-INSIGHT",
      "type": "string"
    },
    "product_sms": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "WEBSOCKET-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "SMS",
      "type": "string"
    },
    "product_verify": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "WEBSOCKET-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "VERIFY-API",
      "type": "string"
    },
    "product_voice": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "WEBSOCKET-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "VOICE-CALL",
      "type": "string"
    },
    "product_websocket": {
      "description": "Which product you wish to generate a report for.",
      "enum": [
        "SMS",
        "VOICE-CALL",
        "WEBSOCKET-CALL",
        "VERIFY-API",
        "NUMBER-INSIGHT",
        "MESSAGES",
        "CONVERSATIONS",
        "ASR"
      ],
      "example": "WEBSOCKET-CALL",
      "type": "string"
    },
    "receive_time": {
      "description": "Time at which the report request was received by the service.",
      "example": "2019-06-28T15:30:00+0000",
      "format": "date",
      "type": "string"
    },
    "report_request": {
      "discriminator": "product",
      "properties": {
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "callback_url": {
          "$ref": "#/definitions/callback_url"
        },
        "date_end": {
          "$ref": "#/definitions/date_end"
        },
        "date_start": {
          "$ref": "#/definitions/date_start"
        },
        "include_subaccounts": {
          "$ref": "#/definitions/include_subaccounts"
        },
        "product": {
          "$ref": "#/definitions/product"
        }
      },
      "required": [
        "product",
        "account_id"
      ],
      "type": "object"
    },
    "report_response": {
      "properties": {
        "_links": {
          "$ref": "#/definitions/_links"
        },
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "callback_url": {
          "$ref": "#/definitions/callback_url"
        },
        "date_end": {
          "$ref": "#/definitions/date_end"
        },
        "date_start": {
          "$ref": "#/definitions/date_start"
        },
        "include_subaccounts": {
          "$ref": "#/definitions/include_subaccounts"
        },
        "items_count": {
          "$ref": "#/definitions/items_count"
        },
        "product": {
          "$ref": "#/definitions/product"
        },
        "receive_time": {
          "$ref": "#/definitions/receive_time"
        },
        "request_id": {
          "$ref": "#/definitions/request_id"
        },
        "request_status": {
          "$ref": "#/definitions/request_status"
        },
        "start_time": {
          "$ref": "#/definitions/start_time"
        }
      },
      "type": "object"
    },
    "report_response_create_report": {
      "properties": {
        "_links": {
          "$ref": "#/definitions/_links_create_report"
        },
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "callback_url": {
          "$ref": "#/definitions/callback_url"
        },
        "date_end": {
          "$ref": "#/definitions/date_end"
        },
        "date_start": {
          "$ref": "#/definitions/date_start"
        },
        "include_subaccounts": {
          "$ref": "#/definitions/include_subaccounts"
        },
        "product": {
          "$ref": "#/definitions/product"
        },
        "receive_time": {
          "$ref": "#/definitions/receive_time"
        },
        "request_id": {
          "$ref": "#/definitions/request_id"
        },
        "request_status": {
          "$ref": "#/definitions/request_status_create_report"
        },
        "start_time": {
          "$ref": "#/definitions/start_time"
        }
      },
      "type": "object"
    },
    "report_response_top_level": {
      "properties": {
        "_links": {
          "properties": {
            "self": {
              "properties": {
                "href": {
                  "example": "https://api.nexmo.com/v2/reports/records?product=SMS&direction=outbound&date_start=2020-03-05T13%3A00%3A00Z&date_end=2020-03-05T14%0A00%3A00Z&account_id=abcdef01",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "account_id": {
          "$ref": "#/definitions/account_id"
        },
        "currency": {
          "$ref": "#/definitions/currency"
        },
        "ids_not_found": {
          "$ref": "#/definitions/ids_not_found"
        },
        "price": {
          "$ref": "#/definitions/price"
        },
        "received_at": {
          "$ref": "#/definitions/receive_time"
        },
        "request_id": {
          "$ref": "#/definitions/request_id"
        },
        "request_status": {
          "$ref": "#/definitions/request_status"
        }
      },
      "type": "object"
    },
    "request_id": {
      "description": "UUID of the request.",
      "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
      "type": "string"
    },
    "request_status": {
      "description": "Status of the request.",
      "enum": [
        "PENDING",
        "PROCESSING",
        "SUCCESS",
        "ABORTED",
        "FAILED",
        "TRUNCATED"
      ],
      "example": "SUCCESS",
      "type": "string"
    },
    "request_status_create_report": {
      "description": "Status of the request.",
      "enum": [
        "PENDING",
        "PROCESSING",
        "SUCCESS",
        "ABORTED",
        "FAILED",
        "TRUNCATED"
      ],
      "example": "PENDING",
      "type": "string"
    },
    "sms_event_count": {
      "description": "Number of sms sent for this verify request.",
      "example": "1",
      "type": "integer"
    },
    "sms_fields": {
      "description": "SMS",
      "properties": {
        "account_ref": {
          "$ref": "#/definitions/account_ref"
        },
        "client_ref": {
          "$ref": "#/definitions/client_ref"
        },
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "include_message": {
          "$ref": "#/definitions/include_message"
        },
        "network": {
          "$ref": "#/definitions/network"
        },
        "product": {
          "$ref": "#/definitions/product_sms"
        },
        "status": {
          "$ref": "#/definitions/sms_status"
        },
        "to": {
          "$ref": "#/definitions/to"
        }
      },
      "required": [
        "product",
        "account_id",
        "direction"
      ],
      "type": "object",
      "x-tab-id": "SMS"
    },
    "sms_response_create_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response_create_report"
        },
        {
          "$ref": "#/definitions/sms_fields"
        }
      ],
      "description": "SMS",
      "x-tab-id": "SMS"
    },
    "sms_response_get_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response"
        },
        {
          "$ref": "#/definitions/sms_fields"
        }
      ],
      "description": "SMS",
      "x-tab-id": "SMS"
    },
    "sms_status": {
      "description": "Search only for sms with the corresponding status.",
      "enum": [
        "delivered",
        "expired",
        "failed",
        "rejected",
        "accepted",
        "buffered",
        "unknown"
      ],
      "example": "delivered",
      "type": "string"
    },
    "start_time": {
      "description": "Time at which the report processing of the report has started.",
      "example": "2019-06-28T15:30:00+0000",
      "format": "date",
      "type": "string"
    },
    "status": {
      "description": "Search only for conversation events with the specified event status.",
      "example": "0",
      "type": "string"
    },
    "to": {
      "description": "Request to this number.",
      "example": "441234567890",
      "type": "string"
    },
    "total_price": {
      "description": "Total price of the request.",
      "example": "0.042",
      "type": "number"
    },
    "tts_event_count": {
      "description": "Number of tts sent for this verify request.",
      "example": "1",
      "type": "integer"
    },
    "verify_api_fields": {
      "description": "Verify",
      "properties": {
        "network": {
          "$ref": "#/definitions/network"
        },
        "product": {
          "$ref": "#/definitions/product_verify"
        },
        "to": {
          "$ref": "#/definitions/to"
        }
      },
      "type": "object",
      "x-tab-id": "verify"
    },
    "verify_api_response_create_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response_create_report"
        },
        {
          "$ref": "#/definitions/verify_api_fields"
        }
      ],
      "description": "Verify",
      "x-tab-id": "verify"
    },
    "verify_api_response_get_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response"
        },
        {
          "$ref": "#/definitions/verify_api_fields"
        }
      ],
      "description": "Verify",
      "x-tab-id": "verify"
    },
    "verify_status": {
      "description": "Status of the verify request.",
      "example": "SUCCESS",
      "type": "string"
    },
    "voice_call_fields": {
      "description": "Voice Call",
      "properties": {
        "direction": {
          "$ref": "#/definitions/direction"
        },
        "from": {
          "$ref": "#/definitions/from"
        },
        "network": {
          "$ref": "#/definitions/network"
        },
        "product": {
          "$ref": "#/definitions/product_voice"
        },
        "status": {
          "$ref": "#/definitions/voice_status"
        },
        "to": {
          "$ref": "#/definitions/to"
        }
      },
      "type": "object",
      "x-tab-id": "voice-call"
    },
    "voice_call_response_create_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response_create_report"
        },
        {
          "$ref": "#/definitions/voice_call_fields"
        }
      ],
      "description": "Voice Call",
      "x-tab-id": "voice-call"
    },
    "voice_call_response_get_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response"
        },
        {
          "$ref": "#/definitions/voice_call_fields"
        }
      ],
      "description": "Voice Call",
      "x-tab-id": "voice-call"
    },
    "voice_status": {
      "description": "Search only for voice call with the corresponding status.",
      "enum": [
        "started",
        "ringing",
        "answered",
        "machine",
        "completed",
        "timeout",
        "failed",
        "rejected",
        "cancelled",
        "busy"
      ],
      "example": "started",
      "type": "string"
    },
    "voice_status_description": {
      "description": "Description of the status of the call.",
      "example": "The call was successful.",
      "type": "string"
    },
    "websocket_call_fields": {
      "description": "WebSocket Call",
      "properties": {
        "product": {
          "$ref": "#/definitions/product_websocket"
        },
        "status": {
          "$ref": "#/definitions/websocket_status"
        }
      },
      "type": "object",
      "x-tab-id": "websocket-call"
    },
    "websocket_call_response_create_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response_create_report"
        },
        {
          "$ref": "#/definitions/websocket_call_fields"
        }
      ],
      "description": "WebSocket Call",
      "x-tab-id": "websocket-call"
    },
    "websocket_call_response_get_report": {
      "allOf": [
        {
          "$ref": "#/definitions/report_response"
        },
        {
          "$ref": "#/definitions/websocket_call_fields"
        }
      ],
      "description": "WebSocket Call",
      "x-tab-id": "websocket-call"
    },
    "websocket_status": {
      "description": "Search only for WebSocket call with corresponding status.",
      "example": 200,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "x-components": {
    "parameters": {
      "account_id": {
        "description": "The account for which the list of reports will be queried.",
        "in": "query",
        "maxLength": 8,
        "minLength": 8,
        "name": "account_id",
        "required": true,
        "type": "string",
        "x-example": "abcd1234"
      }
    },
    "responses": {
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "detail": {
                  "example": "You did not provide correct credentials.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Unauthorized",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#unauthorized",
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Unauthorized"
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "detail": {
                  "example": "User not authorized to query the requested data.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Forbidden",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#forbidden",
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Forbidden"
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "detail": {
                  "example": "Report aaaaaaaa-bbbb-cccc-dddd-0123456789ab does not exist, or you do not have access.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Invalid report ID",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#not-found",
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Not found"
      },
      "409": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "detail": {
                  "example": "The job is already in a terminated state such as `SUCCESS`, `TRUNCATED`, `FAILED` or `ABORTED`.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Invalid Abort Operation",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors/reports#invalid-abort-operation",
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Invalid Abort Operation"
      },
      "422": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "detail": {
                  "example": "Unprocessable entity.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Unprocessable entity",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#not-found",
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Unprocessable entity"
      },
      "400_json": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "detail": {
                  "example": "Malformed JSON payload.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Malformed JSON",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors#invalid-json",
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Bad Request"
      },
      "400_params": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "detail": {
                  "example": "Invalid request parameter.",
                  "type": "string"
                },
                "instance": {
                  "example": "f94b4e56604e07e5e5ad5a7228618f81",
                  "type": "string"
                },
                "title": {
                  "example": "Invalid request parameter",
                  "type": "string"
                },
                "type": {
                  "example": "https://developer.nexmo.com/api-errors/reports#invalid-request-parameters",
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Bad Request"
      },
      "csv_report_response": {
        "content": {
          "application/octet-stream": {
            "schema": {
              "properties": {
                "report": {
                  "description": "The report in CSV format inside the zip archive.",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/definitions/csv_sms_outbound"
                      },
                      {
                        "$ref": "#/definitions/csv_sms_inbound"
                      },
                      {
                        "$ref": "#/definitions/csv_voice"
                      },
                      {
                        "$ref": "#/definitions/csv_websockets"
                      },
                      {
                        "$ref": "#/definitions/csv_verify"
                      },
                      {
                        "$ref": "#/definitions/csv_ni"
                      },
                      {
                        "$ref": "#/definitions/csv_messages_outbound"
                      },
                      {
                        "$ref": "#/definitions/csv_messages_inbound"
                      },
                      {
                        "$ref": "#/definitions/csv_conversations_ip_voice"
                      },
                      {
                        "$ref": "#/definitions/csv_asr"
                      }
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Zip file containing CSV files"
      },
      "json_record_response": {
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "SMS (Outbound)",
                      "properties": {
                        "direction": {
                          "description": "Direction of the communication, either `inbound` (received by our services), or `outbound` (originated from our services). Required for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid for `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`.",
                          "enum": [
                            "inbound",
                            "outbound"
                          ],
                          "example": "outbound",
                          "type": "string"
                        },
                        "include_message": {
                          "description": "Include the text of messages in the report.",
                          "example": "true",
                          "type": "boolean"
                        },
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_sms"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/json_sms_outbound_with_body"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "sms-outbound"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "SMS (Inbound)",
                      "properties": {
                        "direction": {
                          "description": "Direction of the communication, either `inbound` (received by our services), or `outbound` (originated from our services). Required for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid for `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`.",
                          "enum": [
                            "inbound",
                            "outbound"
                          ],
                          "example": "inbound",
                          "type": "string"
                        },
                        "include_message": {
                          "description": "Include the text of messages in the report.",
                          "example": "true",
                          "type": "boolean"
                        },
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_sms"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/json_sms_inbound_with_body"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "sms-inbound"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "Voice Call",
                      "properties": {
                        "direction": {
                          "$ref": "#/definitions/direction"
                        },
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_voice"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/csv_voice"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "voice-call"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "WebSocket Call",
                      "properties": {
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_websocket"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/csv_websockets"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "websocket-call"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "Verify",
                      "properties": {
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_verify"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/csv_verify"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "verify"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "Number Insight",
                      "properties": {
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_ni"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/csv_ni"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "number-insight"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "Messages (Outbound)",
                      "properties": {
                        "direction": {
                          "description": "Direction of the communication, either `inbound` (received by our services), or `outbound` (originated from our services). Required for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid for `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`.",
                          "enum": [
                            "inbound",
                            "outbound"
                          ],
                          "example": "outbound",
                          "type": "string"
                        },
                        "include_message": {
                          "description": "Include the text of messages in the report.",
                          "example": "true",
                          "type": "boolean"
                        },
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_messages"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/csv_messages_outbound"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "messages-outbound"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "Messages (Inbound)",
                      "properties": {
                        "direction": {
                          "description": "Direction of the communication, either `inbound` (received by our services), or `outbound` (originated from our services). Required for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid for `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`.",
                          "enum": [
                            "inbound",
                            "outbound"
                          ],
                          "example": "inbound",
                          "type": "string"
                        },
                        "include_message": {
                          "description": "Include the text of messages in the report.",
                          "example": "true",
                          "type": "boolean"
                        },
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_messages"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/csv_messages_inbound"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "messages-inbound"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "IP Voice",
                      "properties": {
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_conversations"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/csv_conversations_ip_voice"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "conversations"
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "$ref": "#/definitions/report_response_top_level"
                    },
                    {
                      "description": "ASR",
                      "properties": {
                        "items_count": {
                          "description": "The number of returned records",
                          "example": 1,
                          "type": "integer"
                        },
                        "product": {
                          "$ref": "#/definitions/product_asr"
                        },
                        "records": {
                          "description": "Records in JSON format",
                          "items": {
                            "$ref": "#/definitions/csv_asr"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "x-tab-id": "asr"
                    }
                  ]
                }
              ]
            }
          }
        },
        "description": "OK"
      },
      "list_report_response": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "items_count": {
                  "description": "The number of reports in the list.",
                  "type": "integer"
                },
                "reports": {
                  "description": "The list of reports.",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/definitions/sms_response_get_report"
                      },
                      {
                        "$ref": "#/definitions/voice_call_response_get_report"
                      },
                      {
                        "$ref": "#/definitions/websocket_call_response_get_report"
                      },
                      {
                        "$ref": "#/definitions/verify_api_response_get_report"
                      },
                      {
                        "$ref": "#/definitions/number_insight_response_get_report"
                      },
                      {
                        "$ref": "#/definitions/messages_response_get_report"
                      },
                      {
                        "$ref": "#/definitions/conversations_response_get_report"
                      },
                      {
                        "$ref": "#/definitions/asr_response_get_report"
                      }
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "self_link": {
                  "description": "URI of this search.",
                  "example": "https://api.nexmo.com/v2/reports/",
                  "format": "uri",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "OK"
      },
      "report_responses": {
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/definitions/sms_response_get_report"
                },
                {
                  "$ref": "#/definitions/voice_call_response_get_report"
                },
                {
                  "$ref": "#/definitions/websocket_call_response_get_report"
                },
                {
                  "$ref": "#/definitions/verify_api_response_get_report"
                },
                {
[...]
