{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "ip2location"
    },
    "description": "IP2Location web service providing a service to do a reverse lookup of an IP address to an ISO3166 country code, region or state, city, latitude and longitude, ZIP/Postal code, time zone, Internet Service Provider (ISP) or company name, domain name, net speed, area code, weather station code, weather station name, mobile country code (MCC), mobile network code (MNC) and carrier brand, elevation, and usage type. There are also 7 categories of additional add-on response fields supported such as metro, olson time zone, translations and more. Refer to https://www.ip2location.com/web-service/ip2location for further information.",
    "title": "IP2Location IP Geolocation",
    "version": "1.0",
    "x-apisguru-categories": [
      "location"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_ip2location_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "openapi",
        "url": "https://api.swaggerhub.com/apis/ip2location/ip2location-ip-geolocation/1.0",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "ip2location.com",
    "x-serviceName": "geolocation",
    "x-datafire": {
      "name": "ip2location_geolocation",
      "type": "openapi"
    }
  },
  "host": "api.ip2location.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "Web service package of different granularity of return information.",
            "in": "query",
            "name": "package",
            "type": "string"
          },
          {
            "description": "Extra information in addition to the above selected package.",
            "enum": [
              "continent",
              "country",
              "region",
              "city",
              "geotargeting",
              "country_groupings",
              "time_zone_info"
            ],
            "in": "query",
            "name": "addon",
            "type": "string"
          },
          {
            "description": "IP address (IPv4 or IPv6) for reverse IP location lookup purpose. If not present, the server IP address will be used for the location lookup.",
            "in": "query",
            "name": "ip",
            "required": true,
            "type": "string"
          },
          {
            "description": "Format of the response message.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "Translation information. The translation only applicable for continent, country, region and city name for the addon package.",
            "enum": [
              "ar",
              "cs",
              "da",
              "de",
              "en",
              "es",
              "et",
              "fi",
              "fr",
              "ga",
              "it",
              "ja",
              "ko",
              "ms",
              "nl",
              "pt",
              "ru",
              "sv",
              "tr",
              "vi",
              "zh-cn",
              "zh-tw"
            ],
            "in": "query",
            "name": "lang",
            "type": "string"
          },
          {
            "description": "API Key.",
            "in": "query",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get response from IP lookup",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "Get geolocation information via IP address"
      }
    }
  }
}