{
  "swagger": "2.0",
  "info": {
    "contact": {
      "url": "https://developer.vimeo.com/help",
      "x-twitter": "vimeo"
    },
    "title": "Vimeo",
    "version": "3.4",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_vimeo_profile_image.jpeg"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/vimeo/openapi/master/api.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "vimeo.com",
    "x-datafire": {
      "name": "vimeo",
      "type": "openapi"
    }
  },
  "host": "api.vimeo.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/vnd.vimeo.endpoint+json"
        ],
        "parameters": [
          {
            "description": "Return an OpenAPI specification.",
            "in": "query",
            "name": "openapi",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Standard request.",
            "schema": {
              "$ref": "#/definitions/endpoint"
            }
          }
        },
        "tags": [
          "API Information"
        ],
        "operationId": "get_endpoints",
        "summary": "Get an API specification"
      }
    },
    "/categories": {
      "get": {
        "produces": [
          "application/vnd.vimeo.category+json"
        ],
        "parameters": [
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "last_video_featured_time",
              "name"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The categories were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/category"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Categories\\Essentials"
        ],
        "description": "This method gets all existing categories.",
        "operationId": "get_categories",
        "summary": "Get all categories"
      }
    },
    "/categories/{category}": {
      "get": {
        "produces": [
          "application/vnd.vimeo.category+json"
        ],
        "parameters": [
          {
            "description": "The name of the category.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The category was returned.",
            "schema": {
              "$ref": "#/definitions/category"
            }
          },
          "404": {
            "description": "No such category exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Categories\\Essentials"
        ],
        "operationId": "get_category",
        "summary": "Get a specific category"
      }
    },
    "/categories/{category}/channels": {
      "get": {
        "produces": [
          "application/vnd.vimeo.channel+json"
        ],
        "parameters": [
          {
            "description": "The name of the category.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "alphabetical",
              "date",
              "followers",
              "videos"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The channels were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/channel"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "No such category exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Categories\\Channels"
        ],
        "operationId": "get_category_channels",
        "summary": "Get all the channels in a category"
      }
    },
    "/categories/{category}/groups": {
      "get": {
        "produces": [
          "application/vnd.vimeo.group+json"
        ],
        "parameters": [
          {
            "description": "The name of the category.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "alphabetical",
              "date",
              "members",
              "videos"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The groups were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/group"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "No such category exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Categories\\Groups"
        ],
        "operationId": "get_category_groups",
        "summary": "Get all the groups in a category"
      }
    },
    "/categories/{category}/videos": {
      "get": {
        "produces": [
          "application/vnd.vimeo.video+json"
        ],
        "parameters": [
          {
            "description": "The name of the category.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The attribute by which to filter the results.\n\nOption descriptions:\n * `conditional_featured` - Featured (promoted) videos\n",
            "enum": [
              "conditional_featured",
              "embeddable"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Whether to filter the results by embeddable videos (`true`) or non-embeddable videos (`false`). Required only if **filter** is `embeddable`.",
            "in": "query",
            "name": "filter_embeddable",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "alphabetical",
              "comments",
              "date",
              "duration",
              "featured",
              "likes",
              "plays",
              "relevant"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The videos were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/video"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "No such category exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Categories\\Videos"
        ],
        "operationId": "get_category_videos",
        "summary": "Get all the videos in a category"
      }
    },
    "/categories/{category}/videos/{video_id}": {
      "get": {
        "produces": [
          "application/vnd.vimeo.video+json"
        ],
        "parameters": [
          {
            "description": "The name of the category.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The video belongs to the category.",
            "schema": {
              "$ref": "#/definitions/video"
            }
          },
          "404": {
            "description": "No such category exists, or the video doesn't belong to it.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Categories\\Videos"
        ],
        "operationId": "check_category_for_video",
        "summary": "Check for a video in a category"
      }
    },
    "/channels": {
      "get": {
        "produces": [
          "application/vnd.vimeo.channel+json"
        ],
        "parameters": [
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The attribute by which to filter the results.",
            "enum": [
              "featured"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.\n\nOption descriptions:\n * `relevant` - Relevant sorting is available only for search queries.\n",
            "enum": [
              "alphabetical",
              "date",
              "followers",
              "relevant",
              "videos"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The channels were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/channel"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "The relevant sort has no search query.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Channels\\Essentials"
        ],
        "operationId": "get_channels",
        "summary": "Get all channels"
      },
      "post": {
        "consumes": [
          "application/vnd.vimeo.channel+json"
        ],
        "produces": [
          "application/vnd.vimeo.channel+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "The description of the channel.",
                  "example": "We really love videos, and these are the videos we really, really love.",
                  "type": "string"
                },
                "link": {
                  "description": "The link to access the channel. You can use a custom name in the URL in place of a numeric channel ID, as in `/channels/{url_custom}`.",
                  "example": "staffpicks",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the channel.",
                  "example": "Vimeo Staff Picks",
                  "type": "string"
                },
                "privacy": {
                  "description": "The privacy level of the channel.",
                  "enum": [
                    "anybody",
                    "moderators",
                    "user"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "name",
                "privacy"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The channel was created.",
            "schema": {
              "$ref": "#/definitions/channel"
            }
          },
          "400": {
            "description": "A parameter is invalid.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "403": {
            "description": "The authenticated user can't create a channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "create"
            ]
          }
        ],
        "tags": [
          "Channels\\Essentials"
        ],
        "description": "This method creates a new channel.",
        "operationId": "create_channel",
        "summary": "Create a channel"
      }
    },
    "/channels/{channel_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "204": {
            "description": "The channel was deleted."
          },
          "403": {
            "description": "The authenticated user doesn't own this channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "delete"
            ]
          }
        ],
        "tags": [
          "Channels\\Essentials"
        ],
        "operationId": "delete_channel",
        "summary": "Delete a channel"
      },
      "get": {
        "produces": [
          "application/vnd.vimeo.channel+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The channel was returned.",
            "schema": {
              "$ref": "#/definitions/channel"
            }
          }
        },
        "tags": [
          "Channels\\Essentials"
        ],
        "operationId": "get_channel",
        "summary": "Get a specific channel"
      },
      "patch": {
        "consumes": [
          "application/vnd.vimeo.channel+json"
        ],
        "produces": [
          "application/vnd.vimeo.channel+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "description": {
                  "description": "The description of the channel.",
                  "example": "We really love videos, and these are the videos we really, really love.",
                  "type": "string"
                },
                "link": {
                  "description": "The link to access the channel. You can use a custom name in the URL in place of a numeric channel ID, as in `/channels/{url_custom}`. Submitting `\"\"` for this field removes the link alias.",
                  "example": "staffpicks",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the channel.",
                  "example": "Vimeo Staff Picks",
                  "type": "string"
                },
                "privacy": {
                  "description": "The privacy level of the channel.",
                  "enum": [
                    "anybody",
                    "moderators",
                    "users"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The channel was edited.",
            "schema": {
              "$ref": "#/definitions/channel"
            }
          },
          "400": {
            "description": "A parameter is invalid.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Essentials"
        ],
        "description": "This method edits the specified channel.",
        "operationId": "edit_channel",
        "summary": "Edit a channel"
      }
    },
    "/channels/{channel_id}/categories": {
      "get": {
        "produces": [
          "application/vnd.vimeo.category+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The categories were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/category"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "No such channel exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Channels\\Categories"
        ],
        "description": "This method gets all the categories in the specified channel.",
        "operationId": "get_channel_categories",
        "summary": "Get all the categories in a channel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "channels": {
                  "description": "The array of category URIs to add.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "channels"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The categories were added."
          },
          "400": {
            "description": "* Error code 2205: There was no request body, or the request body is malformed.\n* Error code 2204: You exceeded the maximum number of channel categories.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user can't add categories to the channel.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "No such channel exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Channels\\Categories"
        ],
        "description": "This method adds multiple categories to the specified channel.",
        "operationId": "add_channel_categories",
        "summary": "Add a list of categories to a channel"
      }
    },
    "/channels/{channel_id}/categories/{category}": {
      "delete": {
        "produces": [
          "application/vnd.vimeo.category+json"
        ],
        "parameters": [
          {
            "description": "The name of the category.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "204": {
            "description": "The channel was removed."
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user doesn't own the channel or isn't a channel moderator.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "No such channel or category exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Categories"
        ],
        "description": "This method removes a single category from the specified channel.",
        "operationId": "delete_channel_category",
        "summary": "Remove a category from a channel"
      },
      "put": {
        "produces": [
          "application/vnd.vimeo.category+json"
        ],
        "parameters": [
          {
            "description": "The name of the category.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "204": {
            "description": "The channel was categorized."
          },
          "400": {
            "description": "Error code 2204: You exceeded the maximum number of channel categories.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user doesn't own the channel or isn't a channel moderator.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "No such channel or category exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Categories"
        ],
        "description": "This method adds a channel to a category.",
        "operationId": "categorize_channel",
        "summary": "Categorize a channel"
      }
    },
    "/channels/{channel_id}/moderators": {
      "delete": {
        "consumes": [
          "application/vnd.vimeo.user+json"
        ],
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "user_uri": {
                  "description": "The URI of a user to remove as a moderator.",
                  "example": "/users/152184",
                  "type": "string"
                }
              },
              "required": [
                "user_uri"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The moderators were removed.",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "403": {
            "description": "The authenticated user doesn't own the channel, the user isn't a moderator of the channel, or you tried to remove the owner of the channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists, or no such user exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Moderators"
        ],
        "operationId": "remove_channel_moderators",
        "summary": "Remove a list of channel moderators"
      },
      "get": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "alphabetical",
              "date"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The moderators were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Channels\\Moderators"
        ],
        "operationId": "get_channel_moderators",
        "summary": "Get all the moderators in a channel"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "user_uri": {
                  "description": "The URI of the user to add as a moderator.",
                  "example": "/users/152184",
                  "type": "string"
                }
              },
              "required": [
                "user_uri"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The moderators were replaced.",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Error code 2908: The list contains more than 100 users.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "The authenticated user owns this channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Moderators"
        ],
        "operationId": "replace_channel_moderators",
        "summary": "Replace the moderators of a channel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "user_uri": {
                  "description": "The URI of a user to add as a moderator.",
                  "example": "/users/152184",
                  "type": "string"
                }
              },
              "required": [
                "user_uri"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The moderators were added."
          },
          "400": {
            "description": "Error code 2908: The list contains more than 100 users.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "The authenticated user doesn't own the channel, a user is already a moderator of the channel, or you tried to add a user that the authenticated user doesn't follow.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists, or no such user exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Moderators"
        ],
        "operationId": "add_channel_moderators",
        "summary": "Add a list of channel moderators"
      }
    },
    "/channels/{channel_id}/moderators/{user_id}": {
      "delete": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the user.",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "204": {
            "description": "The moderator was removed."
          },
          "403": {
            "description": "The authenticated user doesn't own the channel, the user isn't a moderator of the channel, or you tried to remove the owner of the channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists, or no such user exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Moderators"
        ],
        "operationId": "remove_channel_moderator",
        "summary": "Remove a specific channel moderator"
      },
      "get": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the user.",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The moderator was returned.",
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        },
        "tags": [
          "Channels\\Moderators"
        ],
        "operationId": "get_channel_moderator",
        "summary": "Get a specific channel moderator"
      },
      "put": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the user.",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "403": {
            "description": "The authenticated user doesn't own the channel, a user is already a moderator of the channel, or you tried to add a user that the authenticated user doesn't follow.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists, or no such user exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Moderators"
        ],
        "operationId": "add_channel_moderator",
        "summary": "Add a specific channel moderator"
      }
    },
    "/channels/{channel_id}/privacy/users": {
      "get": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The users were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user doesn't own this channel.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Error code 2204: You can't add this user to a channel of this type.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Channels\\Private channel members"
        ],
        "description": "This method gets all the users who have access to the specified private channel.",
        "operationId": "get_channel_privacy_users",
        "summary": "Get all the users who can view a private channel"
      },
      "put": {
        "consumes": [
          "application/vnd.vimeo.user+json"
        ],
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "users": {
                  "description": "The array of either the user URIs or the user IDs to permit to view the private channel.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "users"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The users can now view the private channel.",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "* Error code 2205: There was no request body, or the request body is malformed.\n* Error code 2900: At least one of the specified user accounts doesn't exist.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user doesn't own this channel.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Error code 2204: You can't add one or more of these users to a channel of this type.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Private channel members"
        ],
        "description": "This method gives multiple users access to the specified private channel.",
        "operationId": "set_channel_privacy_users",
        "summary": "Permit a list of users to view a private channel"
      }
    },
    "/channels/{channel_id}/privacy/users/{user_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the user.",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "204": {
            "description": "The user can no longer view the private channel."
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user doesn't own this channel.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Error code 2204: You can't add this user to a channel of this type.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Private channel members"
        ],
        "description": "This method prevents a single user from being able to access the specified private channel.",
        "operationId": "delete_channel_privacy_user",
        "summary": "Restrict a user from viewing a private channel"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the user.",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The user can now view the private channel."
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user doesn't own this channel.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Error code 2204: You can't add this user to a channel of this type.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Private channel members"
        ],
        "description": "This method gives a single user access to the specified private channel.",
        "operationId": "set_channel_privacy_user",
        "summary": "Permit a specific user to view a private channel"
      }
    },
    "/channels/{channel_id}/tags": {
      "get": {
        "produces": [
          "application/vnd.vimeo.tag+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The tags were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/tag"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "No such channel exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Channels\\Tags"
        ],
        "description": "This method gets all the tags that have been added to the specified channel.",
        "operationId": "get_channel_tags",
        "summary": "Get all the tags that have been added to a channel"
      },
      "put": {
        "consumes": [
          "application/vnd.vimeo.tag+json"
        ],
        "produces": [
          "application/vnd.vimeo.tag+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tag": {
                  "description": "An array of tags to assign.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "tag"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tags were added.",
            "schema": {
              "items": {
                "$ref": "#/definitions/tag"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "* No such channel exists, or a parameter is invalid.\n* Error code 2501: You tried to add more than 20 tags to the channel.\n* Error code 2205: There was no request body, or the request body is malformed.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user can't add tags to this channel.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Tags"
        ],
        "description": "This method adds multiple tags to the specified channel.",
        "operationId": "add_tags_to_channel",
        "summary": "Add a list of tags to a channel"
      }
    },
    "/channels/{channel_id}/tags/{word}": {
      "delete": {
        "produces": [
          "application/vnd.vimeo.tag+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The word to use as the tag.",
            "in": "path",
            "name": "word",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The tag was removed."
          },
          "400": {
            "description": "The tag is invalid, or a parameter is invalid.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user can't remove tags from this channel.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Tags"
        ],
        "description": "This method removes a single tag from the specified channel.",
        "operationId": "delete_tag_from_channel",
        "summary": "Remove a tag from a channel"
      },
      "get": {
        "produces": [
          "application/vnd.vimeo.tag+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The word to use as the tag.",
            "in": "path",
            "name": "word",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The tag has been added to the channel."
          },
          "400": {
            "description": "No such tag exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "Error code 5000: The tag exists, but the channel isn't tagged by it.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Channels\\Tags"
        ],
        "description": "This method determines whether a specific tag has been added to the channel in question.",
        "operationId": "check_if_channel_has_tag",
        "summary": "Check if a tag has been added to a channel"
      },
      "put": {
        "produces": [
          "application/vnd.vimeo.tag+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The word to use as the tag.",
            "in": "path",
            "name": "word",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The tag was added."
          },
          "400": {
            "description": "* The tag is invalid, or a parameter is invalid.\n* Error code 2501: The channel has already reached its maximum number of 20 tags.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Error code 3200: The authenticated user can't add tags to this channel.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Tags"
        ],
        "description": "This method adds a single tag to the specified channel.",
        "operationId": "add_channel_tag",
        "summary": "Add a specific tag to a channel"
      }
    },
    "/channels/{channel_id}/users": {
      "get": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The attribute by which to filter the results.",
            "enum": [
              "moderators"
            ],
            "in": "query",
            "name": "filter",
            "required": true,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "alphabetical",
              "date"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The followers were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "No such channel exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Channels\\Subscriptions and subscribers"
        ],
        "operationId": "get_channel_subscribers",
        "summary": "Get all the followers of a channel"
      }
    },
    "/channels/{channel_id}/videos": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "video_uri": {
                  "description": "The URI of a video to remove.",
                  "example": "/videos/258684937",
                  "type": "string"
                }
              },
              "required": [
                "video_uri"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The videos were removed.",
            "schema": {
              "$ref": "#/definitions/video"
            }
          },
          "403": {
            "description": "The authenticated user isn't a moderator of this channel, or you can't remove this video from the channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists, or no such user exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Videos"
        ],
        "operationId": "remove_videos_from_channel",
        "summary": "Remove a list of videos from a channel"
      },
      "get": {
        "produces": [
          "application/vnd.vimeo.video+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The page that contains the video URI.",
            "in": "query",
            "name": "containing_uri",
            "required": false,
            "type": "string"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The attribute by which to filter the results.",
            "enum": [
              "embeddable"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Whether to filter the results by embeddable videos (`true`) or non-embeddable videos (`false`). Required only if **filter** is `embeddable`.",
            "in": "query",
            "name": "filter_embeddable",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "added",
              "alphabetical",
              "comments",
              "date",
              "default",
              "duration",
              "likes",
              "manual",
              "modified_time",
              "plays"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The videos were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/video"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "No videos have been added to this channel since the given `If-Modified-Since` header."
          },
          "400": {
            "description": "The **sort** field is `default`, but the **direction** field has a value.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Channels\\Videos"
        ],
        "operationId": "get_channel_videos",
        "summary": "Get all the videos in a channel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "video_uri": {
                  "description": "The URI of a video to add.",
                  "example": "/videos/258684937",
                  "type": "string"
                }
              },
              "required": [
                "video_uri"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The videos were added."
          },
          "403": {
            "description": "The authenticated user isn't a moderator of the channel, or the video can't be added to the channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists, or no such user exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Videos"
        ],
        "operationId": "add_videos_to_channel",
        "summary": "Add a list of videos to a channel"
      }
    },
    "/channels/{channel_id}/videos/{video_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "204": {
            "description": "The video was removed."
          },
          "403": {
            "description": "The authenticated user isn't a moderator of this channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists, or no such video exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Videos"
        ],
        "operationId": "delete_video_from_channel",
        "summary": "Remove a specific video from a channel"
      },
      "get": {
        "produces": [
          "application/vnd.vimeo.video+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The video was returned.",
            "schema": {
              "$ref": "#/definitions/video"
            }
          },
          "404": {
            "description": "No such channel exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Channels\\Videos"
        ],
        "description": "This method returns a specific video in a channel. You can use it to determine whether the video is in the channel.",
        "operationId": "get_channel_video",
        "summary": "Get a specific video in a channel"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "204": {
            "description": "The video was added."
          },
          "403": {
            "description": "The video can't be added to channels, or the authenticated user isn't the moderator of this channel.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "404": {
            "description": "No such channel exists, or no such video exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Channels\\Videos"
        ],
        "operationId": "add_video_to_channel",
        "summary": "Add a specific video to a channel"
      }
    },
    "/channels/{channel_id}/videos/{video_id}/comments": {
      "get": {
        "produces": [
          "application/vnd.vimeo.comment+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The comments were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/comment"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Videos\\Comments"
        ],
        "operationId": "get_comments_alt1",
        "summary": "Get all the comments on a video"
      },
      "post": {
        "consumes": [
          "application/vnd.vimeo.comment+json"
        ],
        "produces": [
          "application/vnd.vimeo.comment+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "text": {
                  "description": "The text of the comment.",
                  "example": "I love this!",
                  "type": "string"
                }
              },
              "required": [
                "text"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The comment was added.",
            "schema": {
              "$ref": "#/definitions/comment"
            }
          },
          "400": {
            "description": "Error code 2207: The comment text is missing.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Error code 8003: The user credentials are invalid.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "* Error code 3413: Comments are disabled for this video.\n* Error code 3411: The authenticated user is unverified.\n* Error code 3412: The authenticated user can't comment.\n* Error code 3301: The comment was flagged as spam.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "interact"
            ]
          }
        ],
        "tags": [
          "Videos\\Comments"
        ],
        "operationId": "create_comment_alt1",
        "summary": "Add a comment to a video"
      }
    },
    "/channels/{channel_id}/videos/{video_id}/credits": {
      "get": {
        "produces": [
          "application/vnd.vimeo.credit+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "alphabetical",
              "date"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The users were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/credit"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Videos\\Credits"
        ],
        "operationId": "get_video_credits_alt1",
        "summary": "Get all the credited users in a video"
      },
      "post": {
        "consumes": [
          "application/vnd.vimeo.credit+json"
        ],
        "produces": [
          "application/vnd.vimeo.credit+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "email": {
                  "description": "The email address of the credited person.",
                  "example": "user@example.com",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the credited person.",
                  "example": "Sam Doe",
                  "type": "string"
                },
                "role": {
                  "description": "The role of the credited person.",
                  "example": "Producer",
                  "type": "string"
                },
                "user_uri": {
                  "description": "The URI of the Vimeo user who should be given credit in this video.",
                  "example": "/users/152184",
                  "type": "string"
                }
              },
              "required": [
                "email",
                "name",
                "role",
                "user_uri"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The credit was added.",
            "schema": {
              "$ref": "#/definitions/credit"
            }
          },
          "400": {
            "description": "* The credit was added.\n* A parameter is invalid.\n* The authenticated user has an unverified email address.\n* There is a user block between the video owner and the person receiving credit.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "403": {
            "description": "The authenticated user doesn't own the video.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Videos\\Credits"
        ],
        "operationId": "add_video_credit_alt1",
        "summary": "Credit a user in a video"
      }
    },
    "/channels/{channel_id}/videos/{video_id}/likes": {
      "get": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The way to sort the results.",
            "enum": [
              "alphabetical",
              "date"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The users were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Likes\\Essentials"
        ],
        "operationId": "get_video_likes_alt1",
        "summary": "Get all the users who have liked a video"
      }
    },
    "/channels/{channel_id}/videos/{video_id}/pictures": {
      "get": {
        "produces": [
          "application/vnd.vimeo.picture+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The thumbnails were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/picture"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Videos\\Thumbnails"
        ],
        "operationId": "get_video_thumbnails_alt1",
        "summary": "Get all the thumbnails of a video"
      },
      "post": {
        "consumes": [
          "application/vnd.vimeo.picture+json"
        ],
        "produces": [
          "application/vnd.vimeo.picture+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "active": {
                  "description": "Whether the image created by the `time` field should be the default thumbnail for the video.",
                  "example": "true",
                  "type": "boolean"
                },
                "time": {
                  "description": "Creates an image of the video from the given time offset.",
                  "example": 300,
                  "type": "number"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The thumbnail was created.",
            "schema": {
              "$ref": "#/definitions/picture"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "upload"
            ]
          }
        ],
        "tags": [
          "Videos\\Thumbnails"
        ],
        "operationId": "create_video_thumbnail_alt1",
        "summary": "Add a video thumbnail"
      }
    },
    "/channels/{channel_id}/videos/{video_id}/privacy/users": {
      "get": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The users were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "No users can view the private video.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Videos\\Viewing Privacy"
        ],
        "operationId": "get_video_privacy_users_alt1",
        "summary": "Get all the users who can view a user's private videos by default"
      },
      "put": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The users can now view the private video.",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "edit"
            ]
          }
        ],
        "tags": [
          "Videos\\Viewing Privacy"
        ],
        "description": "The body of this request should follow our\n[batch request format](https://developer.vimeo.com/api/common-formats#batch-requests). Each object must contain\na single `URI` field, and the value of this field must be the URI of the user who can view this video.",
        "operationId": "add_video_privacy_users_alt1",
        "summary": "Permit a list of users to view a private video"
      }
    },
    "/channels/{channel_id}/videos/{video_id}/texttracks": {
      "get": {
        "produces": [
          "application/vnd.vimeo.video.texttrack+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The text tracks were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/text-track"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "No such video exists.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "tags": [
          "Videos\\Text Tracks"
        ],
        "operationId": "get_text_tracks_alt1",
        "summary": "Get all the text tracks of a video"
      },
      "post": {
        "consumes": [
          "application/vnd.vimeo.video.texttrack+json"
        ],
        "produces": [
          "application/vnd.vimeo.video.texttrack+json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel.",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The ID of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "active": {
                  "description": "Active text tracks appear in the player and are visible to other users. Only one text track per language can be active.",
                  "example": "true",
                  "type": "boolean"
                },
                "language": {
                  "description": "The language of the text track. For a complete list of valid languages, use the [/languages?filter=texttracks](https://developer.vimeo.com/api/endpoints/videos#GET/languages) endpoint.",
                  "example": "en-US",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the text track.",
                  "example": "Commentary",
                  "type": "string"
                },
                "type": {
                  "description": "The type of the text track.",
                  "enum": [
                    "captions",
                    "chapters",
                    "descriptions",
                    "metadata",
                    "subtitles"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "language",
                "name",
                "type"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The text track was added.",
            "schema": {
              "$ref": "#/definitions/text-track"
            }
          },
          "403": {
            "description": "* The authenticated user can't edit the text track.\n* Error code 2204: The request contains errors.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "upload"
            ]
          }
        ],
        "tags": [
          "Videos\\Text Tracks"
        ],
        "description": "For additional information, see our [text track upload guide](https://developer.vimeo.com/api/upload/texttracks).",
        "operationId": "create_text_track_alt1",
        "summary": "Add a text track to a video"
      }
    },
    "/contentratings": {
      "get": {
        "produces": [
          "application/vnd.vimeo.contentrating+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The content ratings were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/content-rating"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Videos\\Content Ratings"
        ],
        "operationId": "get_content_ratings",
        "summary": "Get all content ratings"
      }
    },
    "/creativecommons": {
      "get": {
        "produces": [
          "application/vnd.vimeo.creativecommons+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The Creative Commons licenses were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/creative-commons"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Videos\\Creative Commons"
        ],
        "operationId": "get_cc_licenses",
        "summary": "Get all Creative Commons licenses"
      }
    },
    "/groups": {
      "get": {
        "produces": [
          "application/vnd.vimeo.group+json"
        ],
        "parameters": [
          {
            "description": "The sort direction of the results.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The attribute by which to filter the results.",
            "enum": [
              "featured"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page number of the results to show.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The number of items to show on each page of results, up to a maximum of 100.",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "number"
          },
          {
            "description": "The search query to use to filter the results.",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The way to sort the results.\n\nOption descriptions:\n * `relevant` - Relevant sorting is available only for search queries.\n",
            "enum": [
              "alphabetical",
              "date",
              "followers",
              "relevant",
              "videos"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The groups were returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/group"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Groups\\Essentials"
        ],
        "operationId": "get_groups",
        "summary": "Get all groups"
      },
      "post": {
        "consumes": [
          "application/vnd.vimeo.group+json"
        ],
        "produces": [
          "application/vnd.vimeo.group+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "The description of the new group.",
                  "example": "Want to participate in our weekly Challenges? Join the Group to receive messages and new Challenges!",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the new group.",
                  "example": "Vimeo Weekend Challenge",
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The group was created.",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "400": {
            "description": "A parameter is invalid.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          },
          "403": {
            "description": "The authenticated user can't create groups.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "create"
            ]
          }
        ],
        "tags": [
          "Groups\\Essentials"
        ],
        "operationId": "create_group",
        "summary": "Create a group"
      }
    },
    "/groups/{group_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the group.",
            "in": "path",
            "name": "group_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "204": {
            "description": "The group was deleted."
          },
          "403": {
            "description": "The authenticated user isn't the group owner.",
            "schema": {
              "$ref": "#/definitions/legacy-error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "delete"
            ]
          }
        ],
        "tags": [
          "Groups\\Essentials"
        ],
        "operationId": "delete_group",
        "summary": "Delete a group"
      },
      "get": {
        "produces": [
          "application/vnd.vimeo.group+json"
        ],
        "parameters": [
          {
            "description": "The ID of the group.",
            "in": "path",
            "name": "group_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The group was returned.",
            "schema": {
              "$ref": "#/definitions/group"
            }
          }
        },
        "tags": [
          "Groups\\Essentials"
        ],
        "operationId": "get_group",
        "summary": "Get a specific group"
      }
    },
    "/groups/{group_id}/users": {
      "get": {
        "produces": [
          "application/vnd.vimeo.user+json"
        ],
        "parameters": [
          {
            "description": "The ID of the group.",
            "in": "path",
            "name": "group_id",
            "required": true,
            "type": "number"
          },
          {
            "description": "The sort direction of the results.",
[...]
