{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>AWS Data Exchange is a service that makes it easy for AWS customers to exchange data in the cloud. You can use the AWS Data Exchange APIs to create, update, manage, and access file-based data set in the AWS Cloud.</p><p>As a subscriber, you can view and access the data sets that you have an entitlement to through a subscription. You can use the APIS to download or copy your entitled data sets to Amazon S3 for use across a variety of AWS analytics and machine learning services.</p><p>As a provider, you can create and manage your data sets that you would like to publish to a product. Being able to package and provide your data sets into products requires a few steps to determine eligibility. For more information, visit the AWS Data Exchange User Guide.</p><p>A data set is a collection of data that can be changed or updated over time. Data sets can be updated using revisions, which represent a new version or incremental change to a data set.  A revision contains one or more assets. An asset in AWS Data Exchange is a piece of data that can be stored as an Amazon S3 object. The asset can be a structured data file, an image file, or some other data file. Jobs are asynchronous import or export operations used to create or copy assets.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Data Exchange",
    "version": "2017-07-25",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dataexchange-2017-07-25.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "dataexchange",
    "x-datafire": {
      "name": "amazonaws_dataexchange",
      "type": "openapi"
    }
  },
  "host": "dataexchange.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/tags/{resource-arn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.",
            "in": "path",
            "name": "resource-arn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          }
        },
        "description": "This operation lists the tags on the resource.",
        "operationId": "ListTagsForResource"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.",
            "in": "path",
            "name": "resource-arn",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "A label that consists of a customer-defined key and an optional value.",
                  "type": "object"
                }
              },
              "required": [
                "tags"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "description": "This operation tags a resource.",
        "operationId": "TagResource"
      }
    },
    "/tags/{resource-arn}#tagKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.",
            "in": "path",
            "name": "resource-arn",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The key tags.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/__string"
            },
            "name": "tagKeys",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "description": "This operation removes one or more tags from a resource.",
        "operationId": "UntagResource"
      }
    },
    "/v1/data-sets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of results returned by a single call.",
            "in": "query",
            "maximum": 25,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token value retrieved from a previous call to access the next page of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).",
            "in": "query",
            "name": "origin",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDataSetsResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "This operation lists your data sets. When listing by origin OWNED, results are sorted by CreatedAt in descending order. When listing by origin ENTITLED, there is no order and the maxResults parameter is ignored.",
        "operationId": "ListDataSets"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AssetType": {
                  "description": "The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.",
                  "enum": [
                    "S3_SNAPSHOT"
                  ],
                  "type": "string"
                },
                "Description": {
                  "description": "A description of a resource.",
                  "type": "string"
                },
                "Name": {
                  "description": "The name of the model.",
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "A data set tag is an optional label that you can assign to a data set when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.",
                  "type": "object"
                }
              },
              "required": [
                "AssetType",
                "Description",
                "Name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDataSetResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ServiceLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceLimitExceededException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "This operation creates a data set.",
        "operationId": "CreateDataSet"
      }
    },
    "/v1/data-sets/{DataSetId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "This operation deletes a data set.",
        "operationId": "DeleteDataSet"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataSetResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "This operation returns information about a data set.",
        "operationId": "GetDataSet"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Description": {
                  "description": "A description of a resource.",
                  "type": "string"
                },
                "Name": {
                  "description": "The name of the model.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDataSetResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "This operation updates a data set.",
        "operationId": "UpdateDataSet"
      }
    },
    "/v1/data-sets/{DataSetId}/revisions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of results returned by a single call.",
            "in": "query",
            "maximum": 25,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token value retrieved from a previous call to access the next page of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDataSetRevisionsResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "This operation lists a data set's revisions sorted by CreatedAt in descending order.",
        "operationId": "ListDataSetRevisions"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Comment": {
                  "description": "An optional comment about the revision.",
                  "maxLength": 16384,
                  "minLength": 0,
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "A revision tag is an optional label that you can assign to a revision when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.",
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRevisionResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "This operation creates a revision for a data set.",
        "operationId": "CreateRevision"
      }
    },
    "/v1/data-sets/{DataSetId}/revisions/{RevisionId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a revision.",
            "in": "path",
            "name": "RevisionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "This operation deletes a revision.",
        "operationId": "DeleteRevision"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a revision.",
            "in": "path",
            "name": "RevisionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRevisionResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "This operation returns information about a revision.",
        "operationId": "GetRevision"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a revision.",
            "in": "path",
            "name": "RevisionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Comment": {
                  "description": "An optional comment about the revision.",
                  "maxLength": 16384,
                  "minLength": 0,
                  "type": "string"
                },
                "Finalized": {
                  "description": "Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateRevisionResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "This operation updates a revision.",
        "operationId": "UpdateRevision"
      }
    },
    "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of results returned by a single call.",
            "in": "query",
            "maximum": 25,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token value retrieved from a previous call to access the next page of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The unique identifier for a revision.",
            "in": "path",
            "name": "RevisionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRevisionAssetsResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "This operation lists a revision's assets sorted alphabetically in descending order.",
        "operationId": "ListRevisionAssets"
      }
    },
    "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for an asset.",
            "in": "path",
            "name": "AssetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a revision.",
            "in": "path",
            "name": "RevisionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "This operation deletes an asset.",
        "operationId": "DeleteAsset"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for an asset.",
            "in": "path",
            "name": "AssetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a revision.",
            "in": "path",
            "name": "RevisionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAssetResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "This operation returns information about an asset.",
        "operationId": "GetAsset"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for an asset.",
            "in": "path",
            "name": "AssetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a data set.",
            "in": "path",
            "name": "DataSetId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for a revision.",
            "in": "path",
            "name": "RevisionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Name": {
                  "description": "The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.",
                  "type": "string"
                }
              },
              "required": [
                "Name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAssetResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "This operation updates an asset.",
        "operationId": "UpdateAsset"
      }
    },
    "/v1/jobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a data set.",
            "in": "query",
            "name": "dataSetId",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results returned by a single call.",
            "in": "query",
            "maximum": 25,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token value retrieved from a previous call to access the next page of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The unique identifier for a revision.",
            "in": "query",
            "name": "revisionId",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobsResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "This operation lists your jobs sorted by CreatedAt in descending order.",
        "operationId": "ListJobs"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Details": {
                  "description": "The details for the request.",
                  "properties": {
                    "ExportAssetToSignedUrl": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ExportAssetToSignedUrlRequestDetails"
                        },
                        {
                          "description": "Details about the export to signed URL request."
                        }
                      ]
                    },
                    "ExportAssetsToS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ExportAssetsToS3RequestDetails"
                        },
                        {
                          "description": "Details about the export to Amazon S3 request."
                        }
                      ]
                    },
                    "ImportAssetFromSignedUrl": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ImportAssetFromSignedUrlRequestDetails"
                        },
                        {
                          "description": "Details about the import from signed URL request."
                        }
                      ]
                    },
                    "ImportAssetsFromS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ImportAssetsFromS3RequestDetails"
                        },
                        {
                          "description": "Details about the import from Amazon S3 request."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Type": {
                  "description": "The type of job to be created.",
                  "enum": [
                    "IMPORT_ASSETS_FROM_S3",
                    "IMPORT_ASSET_FROM_SIGNED_URL",
                    "EXPORT_ASSETS_TO_S3",
                    "EXPORT_ASSET_TO_SIGNED_URL"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "Details",
                "Type"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "This operation creates a job.",
        "operationId": "CreateJob"
      }
    },
    "/v1/jobs/{JobId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a job.",
            "in": "path",
            "name": "JobId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "This operation cancels a job. Jobs can be cancelled only when they are in the WAITING state.",
        "operationId": "CancelJob"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a job.",
            "in": "path",
            "name": "JobId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "This operation returns information about a job.",
        "operationId": "GetJob"
      },
      "patch": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for a job.",
            "in": "path",
            "name": "JobId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartJobResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "This operation starts a job.",
        "operationId": "StartJob"
      }
    }
  },
  "definitions": {
    "AccessDeniedException": {},
    "Arn": {
      "description": "An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.",
      "type": "string"
    },
    "AssetDestinationEntry": {
      "description": "The destination for the asset.",
      "properties": {
        "AssetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the asset."
            }
          ]
        },
        "Bucket": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The S3 bucket that is the destination for the asset."
            }
          ]
        },
        "Key": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The name of the object in Amazon S3 for the asset."
            }
          ]
        }
      },
      "required": [
        "Bucket",
        "AssetId"
      ],
      "type": "object"
    },
    "AssetDetails": {
      "properties": {
        "S3SnapshotAsset": {
          "$ref": "#/definitions/S3SnapshotAsset"
        }
      },
      "type": "object"
    },
    "AssetEntry": {
      "description": "An asset in AWS Data Exchange is a piece of data that can be stored as an S3 object. The asset can be a structured data file, an image file, or some other data file. When you create an import job for your files, you create an asset in AWS Data Exchange for each of those files.",
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the asset."
            }
          ]
        },
        "AssetDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetDetails"
            },
            {
              "description": "Information about the asset, including its size."
            }
          ]
        },
        "AssetType": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetType"
            },
            {
              "description": "The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the asset was created, in ISO 8601 format."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this asset."
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the asset."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetName"
            },
            {
              "description": "The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key."
            }
          ]
        },
        "RevisionId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision associated with this asset."
            }
          ]
        },
        "SourceId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the asset was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "required": [
        "AssetType",
        "CreatedAt",
        "DataSetId",
        "Id",
        "Arn",
        "AssetDetails",
        "UpdatedAt",
        "RevisionId",
        "Name"
      ],
      "type": "object"
    },
    "AssetName": {
      "description": "The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.",
      "type": "string"
    },
    "AssetSourceEntry": {
      "description": "The source of the assets.",
      "properties": {
        "Bucket": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The S3 bucket that's part of the source of the asset."
            }
          ]
        },
        "Key": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The name of the object in Amazon S3 for the asset."
            }
          ]
        }
      },
      "required": [
        "Bucket",
        "Key"
      ],
      "type": "object"
    },
    "AssetType": {
      "description": "The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.",
      "enum": [
        "S3_SNAPSHOT"
      ],
      "type": "string"
    },
    "CancelJobRequest": {
      "properties": {},
      "title": "CancelJobRequest",
      "type": "object"
    },
    "Code": {
      "enum": [
        "ACCESS_DENIED_EXCEPTION",
        "INTERNAL_SERVER_EXCEPTION",
        "MALWARE_DETECTED",
        "RESOURCE_NOT_FOUND_EXCEPTION",
        "SERVICE_QUOTA_EXCEEDED_EXCEPTION",
        "VALIDATION_EXCEPTION",
        "MALWARE_SCAN_ENCRYPTED_FILE"
      ],
      "type": "string"
    },
    "ConflictException": {},
    "CreateDataSetRequest": {
      "description": "The request body for CreateDataSet.",
      "properties": {
        "AssetType": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetType"
            },
            {
              "description": "The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "A description for the data set. This value can be up to 16,348 characters long."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": "The name of the data set."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/MapOf__string"
            },
            {
              "description": "A data set tag is an optional label that you can assign to a data set when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions."
            }
          ]
        }
      },
      "required": [
        "AssetType",
        "Description",
        "Name"
      ],
      "title": "CreateDataSetRequest",
      "type": "object"
    },
    "CreateDataSetResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the data set."
            }
          ]
        },
        "AssetType": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetType"
            },
            {
              "description": "The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the data set was created, in ISO 8601 format."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "The description for the data set."
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": "The name of the data set."
            }
          ]
        },
        "Origin": {
          "allOf": [
            {
              "$ref": "#/definitions/Origin"
            },
            {
              "description": "A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers)."
            }
          ]
        },
        "OriginDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/OriginDetails"
            },
            {
              "description": "If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace."
            }
          ]
        },
        "SourceId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/MapOf__string"
            },
            {
              "description": "The tags for the data set."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the data set was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateJobRequest": {
      "description": "The request body for CreateJob.",
      "properties": {
        "Details": {
          "allOf": [
            {
              "$ref": "#/definitions/RequestDetails"
            },
            {
              "description": "The details for the CreateJob request."
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/Type"
            },
            {
              "description": "The type of job to be created."
            }
          ]
        }
      },
      "required": [
        "Type",
        "Details"
      ],
      "title": "CreateJobRequest",
      "type": "object"
    },
    "CreateJobResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the job."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the job was created, in ISO 8601 format."
            }
          ]
        },
        "Details": {
          "allOf": [
            {
              "$ref": "#/definitions/ResponseDetails"
            },
            {
              "description": "Details about the job."
            }
          ]
        },
        "Errors": {
          "allOf": [
            {
              "$ref": "#/definitions/ListOfJobError"
            },
            {
              "description": "The errors associated with jobs."
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the job."
            }
          ]
        },
        "State": {
          "allOf": [
            {
              "$ref": "#/definitions/State"
            },
            {
              "description": "The state of the job."
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/Type"
            },
            {
              "description": "The job type."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the job was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateRevisionRequest": {
      "description": "The request body for CreateRevision.",
      "properties": {
        "Comment": {
          "allOf": [
            {
              "$ref": "#/definitions/__stringMin0Max16384"
            },
            {
              "description": "An optional comment about the revision."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/MapOf__string"
            },
            {
              "description": "A revision tag is an optional label that you can assign to a revision when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions."
            }
          ]
        }
      },
      "title": "CreateRevisionRequest",
      "type": "object"
    },
    "CreateRevisionResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the revision"
            }
          ]
        },
        "Comment": {
          "allOf": [
            {
              "$ref": "#/definitions/__stringMin0Max16384"
            },
            {
              "description": "An optional comment about the revision."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the revision was created, in ISO 8601 format."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this revision."
            }
          ]
        },
        "Finalized": {
          "allOf": [
            {
              "$ref": "#/definitions/__boolean"
            },
            {
              "description": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>"
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision."
            }
          ]
        },
        "SourceId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/MapOf__string"
            },
            {
              "description": "The tags for the revision."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the revision was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "type": "object"
    },
    "DataSetEntry": {
      "description": "A data set is an AWS resource with one or more revisions.",
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the data set."
            }
          ]
        },
        "AssetType": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetType"
            },
            {
              "description": "The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the data set was created, in ISO 8601 format."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "The description for the data set."
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": "The name of the data set."
            }
          ]
        },
        "Origin": {
          "allOf": [
            {
              "$ref": "#/definitions/Origin"
            },
            {
              "description": "A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers)."
            }
          ]
        },
        "OriginDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/OriginDetails"
            },
            {
              "description": "If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace."
            }
          ]
        },
        "SourceId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the data set was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "required": [
        "Origin",
        "AssetType",
        "Description",
        "CreatedAt",
        "Id",
        "Arn",
        "UpdatedAt",
        "Name"
      ],
      "type": "object"
    },
    "DeleteAssetRequest": {
      "properties": {},
      "title": "DeleteAssetRequest",
      "type": "object"
    },
    "DeleteDataSetRequest": {
      "properties": {},
      "title": "DeleteDataSetRequest",
      "type": "object"
    },
    "DeleteRevisionRequest": {
      "properties": {},
      "title": "DeleteRevisionRequest",
      "type": "object"
    },
    "Description": {
      "description": "A description of a resource.",
      "type": "string"
    },
    "Details": {
      "properties": {
        "ImportAssetFromSignedUrlJobErrorDetails": {
          "$ref": "#/definitions/ImportAssetFromSignedUrlJobErrorDetails"
        },
        "ImportAssetsFromS3JobErrorDetails": {
          "$ref": "#/definitions/ListOfAssetSourceEntry"
        }
      },
      "type": "object"
    },
    "ExportAssetToSignedUrlRequestDetails": {
      "description": "Details of the operation to be performed by the job.",
      "properties": {
        "AssetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the asset that is exported to a signed URL."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this export job."
            }
          ]
        },
        "RevisionId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision associated with this export request."
            }
          ]
        }
      },
      "required": [
        "DataSetId",
        "AssetId",
        "RevisionId"
      ],
      "type": "object"
    },
    "ExportAssetToSignedUrlResponseDetails": {
      "description": "The details of the export to signed URL response.",
      "properties": {
        "AssetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the asset associated with this export job."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this export job."
            }
          ]
        },
        "RevisionId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision associated with this export response."
            }
          ]
        },
        "SignedUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The signed URL for the export request."
            }
          ]
        },
        "SignedUrlExpiresAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the signed URL expires, in ISO 8601 format."
            }
          ]
        }
      },
      "required": [
        "DataSetId",
        "AssetId",
        "RevisionId"
      ],
      "type": "object"
    },
    "ExportAssetsToS3RequestDetails": {
      "description": "Details of the operation to be performed by the job.",
      "properties": {
        "AssetDestinations": {
          "allOf": [
            {
              "$ref": "#/definitions/ListOfAssetDestinationEntry"
            },
            {
              "description": "The destination for the asset."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this export job."
            }
          ]
        },
        "Encryption": {
          "allOf": [
            {
              "$ref": "#/definitions/ExportServerSideEncryption"
            },
            {
              "description": "Encryption configuration for the export job."
            }
          ]
        },
        "RevisionId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision associated with this export request."
            }
          ]
        }
      },
      "required": [
        "AssetDestinations",
        "DataSetId",
        "RevisionId"
      ],
      "type": "object"
    },
    "ExportAssetsToS3ResponseDetails": {
      "description": "Details about the export to Amazon S3 response.",
      "properties": {
        "AssetDestinations": {
          "allOf": [
            {
              "$ref": "#/definitions/ListOfAssetDestinationEntry"
            },
            {
              "description": "The destination in Amazon S3 where the asset is exported."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this export job."
            }
          ]
        },
        "Encryption": {
          "allOf": [
            {
              "$ref": "#/definitions/ExportServerSideEncryption"
            },
            {
              "description": "Encryption configuration of the export job."
            }
          ]
        },
        "RevisionId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision associated with this export response."
            }
          ]
        }
      },
      "required": [
        "AssetDestinations",
        "DataSetId",
        "RevisionId"
      ],
      "type": "object"
    },
    "ExportServerSideEncryption": {
      "description": "Encryption configuration of the export job. Includes the encryption type as well as the AWS KMS key. The KMS key is only necessary if you chose the KMS encryption type.",
      "properties": {
        "KmsKeyArn": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the the AWS KMS key you want to use to encrypt the Amazon S3 objects. This parameter is required if you choose aws:kms as an encryption type."
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/ServerSideEncryptionTypes"
            },
            {
              "description": "The type of server side encryption used for encrypting the objects in Amazon S3."
            }
          ]
        }
      },
      "required": [
        "Type"
      ],
      "type": "object"
    },
    "GetAssetRequest": {
      "properties": {},
      "title": "GetAssetRequest",
      "type": "object"
    },
    "GetAssetResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the asset."
            }
          ]
        },
        "AssetDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetDetails"
            },
            {
              "description": "Information about the asset, including its size."
            }
          ]
        },
        "AssetType": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetType"
            },
            {
              "description": "The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the asset was created, in ISO 8601 format."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this asset."
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the asset."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetName"
            },
            {
              "description": "The name of the asset When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key."
            }
          ]
        },
        "RevisionId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision associated with this asset."
            }
          ]
        },
        "SourceId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the asset was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "type": "object"
    },
    "GetDataSetRequest": {
      "properties": {},
      "title": "GetDataSetRequest",
      "type": "object"
    },
    "GetDataSetResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the data set."
            }
          ]
        },
        "AssetType": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetType"
            },
            {
              "description": "The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the data set was created, in ISO 8601 format."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "The description for the data set."
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": "The name of the data set."
            }
          ]
        },
        "Origin": {
          "allOf": [
            {
              "$ref": "#/definitions/Origin"
            },
            {
              "description": "A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers)."
            }
          ]
        },
        "OriginDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/OriginDetails"
            },
            {
              "description": "If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace."
            }
          ]
        },
        "SourceId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/MapOf__string"
            },
            {
              "description": "The tags for the data set."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the data set was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "type": "object"
    },
    "GetJobRequest": {
      "properties": {},
      "title": "GetJobRequest",
      "type": "object"
    },
    "GetJobResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the job."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the job was created, in ISO 8601 format."
            }
          ]
        },
        "Details": {
          "allOf": [
            {
              "$ref": "#/definitions/ResponseDetails"
            },
            {
              "description": "Details about the job."
            }
          ]
        },
        "Errors": {
          "allOf": [
            {
              "$ref": "#/definitions/ListOfJobError"
            },
            {
              "description": "The errors associated with jobs."
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the job."
            }
          ]
        },
        "State": {
          "allOf": [
            {
              "$ref": "#/definitions/State"
            },
            {
              "description": "The state of the job."
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/Type"
            },
            {
              "description": "The job type."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the job was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "type": "object"
    },
    "GetRevisionRequest": {
      "properties": {},
      "title": "GetRevisionRequest",
      "type": "object"
    },
    "GetRevisionResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The ARN for the revision"
            }
          ]
        },
        "Comment": {
          "allOf": [
            {
              "$ref": "#/definitions/__stringMin0Max16384"
            },
            {
              "description": "An optional comment about the revision."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the revision was created, in ISO 8601 format."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this revision."
            }
          ]
        },
        "Finalized": {
          "allOf": [
            {
              "$ref": "#/definitions/__boolean"
            },
            {
              "description": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>"
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision."
            }
          ]
        },
        "SourceId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/MapOf__string"
            },
            {
              "description": "The tags for the revision."
            }
          ]
        },
        "UpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the revision was last updated, in ISO 8601 format."
            }
          ]
        }
      },
      "type": "object"
    },
    "Id": {
      "description": "A unique identifier.",
      "type": "string"
    },
    "ImportAssetFromSignedUrlJobErrorDetails": {
      "properties": {
        "AssetName": {
          "$ref": "#/definitions/AssetName"
        }
      },
      "required": [
        "AssetName"
      ],
      "type": "object"
    },
    "ImportAssetFromSignedUrlRequestDetails": {
      "description": "Details of the operation to be performed by the job.",
      "properties": {
        "AssetName": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetName"
            },
            {
              "description": "The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this import job."
            }
          ]
        },
        "Md5Hash": {
          "allOf": [
            {
              "$ref": "#/definitions/__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093"
            },
            {
              "description": "The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location."
            }
          ]
        },
        "RevisionId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the revision associated with this import request."
            }
          ]
        }
      },
      "required": [
        "DataSetId",
        "Md5Hash",
        "RevisionId",
        "AssetName"
      ],
      "type": "object"
    },
    "ImportAssetFromSignedUrlResponseDetails": {
      "description": "The details in the response for an import request, including the signed URL and other information.",
      "properties": {
        "AssetName": {
          "allOf": [
            {
              "$ref": "#/definitions/AssetName"
            },
            {
              "description": "The name for the asset associated with this import response."
            }
          ]
        },
        "DataSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/Id"
            },
            {
              "description": "The unique identifier for the data set associated with this import job."
            }
          ]
        },
        "Md5Hash": {
          "allOf": [
            {
              "$ref": "#/definitions/__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093"
            },
            {
[...]
