{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "PersonioHR"
    },
    "description": "Personio Authentication API",
    "title": "Authentication",
    "version": "1.0",
    "x-apisguru-categories": [
      "enterprise"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_PersonioHR_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/personio/api-docs/master/personio-auth-api.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "personio.de",
    "x-serviceName": "authentication",
    "x-datafire": {
      "name": "personio_de_authentication",
      "type": "openapi"
    }
  },
  "host": "api.personio.de",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/auth": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Client id of the downloaded credentials file",
            "in": "query",
            "name": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Client secret of the downloaded credentials file",
            "in": "query",
            "name": "client_secret",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AuthenticationTokenResponse"
            }
          }
        },
        "description": "Request Authentication Token"
      }
    }
  },
  "definitions": {
    "AuthenticationTokenResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        },
        {
          "properties": {
            "data": {
              "properties": {
                "token": {
                  "type": "string"
                }
              },
              "required": [
                "token"
              ],
              "type": "object"
            }
          },
          "type": "object"
        }
      ],
      "title": "Request Authentication Token response"
    },
    "Response": {
      "properties": {
        "data": {
          "type": "object"
        },
        "success": {
          "type": "boolean"
        }
      },
      "required": [
        "success",
        "data"
      ],
      "title": "Default response object",
      "type": "object"
    }
  },
  "x-components": {}
}