{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "tracing.googleapis.com",
  "basePath": "/",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Send and retrieve trace data from Stackdriver Trace. Data is generated and available by default for all App Engine applications. Data from other applications can be written to Stackdriver Trace for display, reporting, and analysis.\n",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Stackdriver Trace",
    "version": "v2",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.0.1"
        },
        "format": "google",
        "url": "https://tracing.googleapis.com/$discovery/rest?version=v2",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "tracing",
    "x-datafire": {
      "name": "google_tracing",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "url": "https://cloud.google.com/trace"
  },
  "securityDefinitions": {
    "Oauth2": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 implicit authentication",
      "flow": "implicit",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services",
        "https://www.googleapis.com/auth/trace.append": "Write Trace data for a project or application",
        "https://www.googleapis.com/auth/trace.readonly": "Read Trace data for a project or application"
      },
      "type": "oauth2"
    },
    "Oauth2c": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 accessCode authentication",
      "flow": "accessCode",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services",
        "https://www.googleapis.com/auth/trace.append": "Write Trace data for a project or application",
        "https://www.googleapis.com/auth/trace.readonly": "Read Trace data for a project or application"
      },
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "type": "oauth2"
    },
    "offline": {
      "type": "oauth2",
      "flow": "accessCode",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services",
        "https://www.googleapis.com/auth/trace.append": "Write Trace data for a project or application",
        "https://www.googleapis.com/auth/trace.readonly": "Read Trace data for a project or application"
      },
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "tokenUrl": "https://www.googleapis.com/oauth2/v4/token",
      "description": "Allows offline access using a refresh_token"
    }
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "in": "query",
      "name": "$.xgafv",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "in": "query",
      "name": "access_token",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "in": "query",
      "name": "alt",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "in": "query",
      "name": "bearer_token",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "in": "query",
      "name": "callback",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "in": "query",
      "name": "fields",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "in": "query",
      "name": "key",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "in": "query",
      "name": "oauth_token",
      "type": "string"
    },
    "pp": {
      "default": true,
      "description": "Pretty-print response.",
      "in": "query",
      "name": "pp",
      "type": "boolean"
    },
    "prettyPrint": {
      "default": true,
      "description": "Returns response with indentations and line breaks.",
      "in": "query",
      "name": "prettyPrint",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "in": "query",
      "name": "quotaUser",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "in": "query",
      "name": "uploadType",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "in": "query",
      "name": "upload_protocol",
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "projects"
    }
  ],
  "paths": {
    "/v2/{name}": {
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ],
      "put": {
        "description": "Creates a new Span.",
        "operationId": "projects.traces.spans.create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Span"
            }
          },
          {
            "description": "The resource name of Span in the format\n`projects/PROJECT_ID/traces/TRACE_ID/spans/SPAN_ID`.\n`TRACE_ID` is a unique identifier for a trace within a project and is a\nbase16-encoded, case-insensitive string and is required to be 32 char long.\n`SPAN_ID` is a unique identifier for a span within a trace. It is a\nbase 16-encoded, case-insensitive string of a 8-bytes array and is required\nto be 16 char long.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string",
            "x-reservedExpansion": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Span"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/trace.append"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/trace.append"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      }
    },
    "/v2/{name}/traces:batchWrite": {
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ],
      "post": {
        "description": "Sends new spans to Stackdriver Trace or updates existing traces. If the\nname of a trace that you send matches that of an existing trace, new spans\nare added to the existing trace. Attempt to update existing spans results\nundefined behavior. If the name does not match, a new trace is created\nwith given set of spans.",
        "operationId": "projects.traces.batchWrite",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchWriteSpansRequest"
            }
          },
          {
            "description": "Name of the project where the spans belong to. Format is\n`projects/PROJECT_ID`.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string",
            "x-reservedExpansion": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/trace.append"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/trace.append"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      }
    },
    "/v2/{parent}/traces": {
      "get": {
        "description": "Returns of a list of traces that match the specified filter conditions.",
        "operationId": "projects.traces.list",
        "parameters": [
          {
            "description": "End of the time interval (inclusive) during which the trace data was\ncollected from the application.",
            "in": "query",
            "name": "endTime",
            "type": "string"
          },
          {
            "description": "An optional filter for the request.\nExample:\n`version_label_key:a some_label:some_label_key`\nreturns traces from version `a` and has `some_label` with `some_label_key`.",
            "in": "query",
            "name": "filter",
            "type": "string"
          },
          {
            "description": "Field used to sort the returned traces. Optional.\nCan be one of the following:\n\n*   `trace_id`\n*   `name` (`name` field of root span in the trace)\n*   `duration` (difference between `end_time` and `start_time` fields of\n     the root span)\n*   `start` (`start_time` field of the root span)\n\nDescending order can be specified by appending `desc` to the sort field\n(for example, `name desc`).\n\nOnly one sort field is permitted.",
            "in": "query",
            "name": "orderBy",
            "type": "string"
          },
          {
            "description": "Maximum number of traces to return. If not specified or <= 0, the\nimplementation selects a reasonable value. The implementation may\nreturn fewer traces than the requested page size. Optional.",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Token identifying the page of results to return. If provided, use the\nvalue of the `next_page_token` field from a previous request. Optional.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          },
          {
            "description": "ID of the Cloud project where the trace data is stored which is\n`projects/PROJECT_ID`.",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string",
            "x-reservedExpansion": true
          },
          {
            "description": "Start of the time interval (inclusive) during which the trace data was\ncollected from the application.",
            "in": "query",
            "name": "startTime",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListTracesResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/trace.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/trace.readonly"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ]
    },
    "/v2/{parent}:listSpans": {
      "get": {
        "description": "Returns a list of spans within a trace.",
        "operationId": "projects.traces.listSpans",
        "parameters": [
          {
            "description": "Token identifying the page of results to return. If provided, use the\nvalue of the `nextPageToken` field from a previous request. Optional.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          },
          {
            "description": "ID of the trace for which to list child spans. Format is\n`projects/PROJECT_ID/traces/TRACE_ID`.",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string",
            "x-reservedExpansion": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListSpansResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/trace.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/trace.readonly"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ]
    }
  },
  "definitions": {
    "Annotation": {
      "description": "Text annotation with a set of attributes. A maximum of 32 annotations are\nallowed per Span.",
      "properties": {
        "attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "A set of attributes on the annotation. A maximum of 4 attributes are\nallowed per Annotation."
        },
        "description": {
          "$ref": "#/definitions/TruncatableString",
          "description": "A user-supplied message describing the event. The maximum length for\nthe description is 256 bytes."
        }
      },
      "type": "object"
    },
    "AttributeValue": {
      "description": "The allowed types for the value side of an attribute key:value pair.",
      "properties": {
        "boolValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "intValue": {
          "description": "An integer value.",
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "$ref": "#/definitions/TruncatableString",
          "description": "A string value (up to 256 bytes)."
        }
      },
      "type": "object"
    },
    "Attributes": {
      "description": "Attributes of a span with a key:value format.",
      "properties": {
        "attributeMap": {
          "additionalProperties": {
            "$ref": "#/definitions/AttributeValue"
          },
          "description": "The maximum key length is 128 bytes (attributes are dropped if the\nkey size is larger than the maximum allowed). The value can be a string\n(up to 256 bytes), integer, or boolean (true/false). Some common pair\nexamples:\n\n    \"/instance_id\": \"my-instance\"\n    \"/zone\": \"us-central1-a\"\n    \"/grpc/peer_address\": \"ip:port\" (dns, etc.)\n    \"/grpc/deadline\": \"Duration\"\n    \"/http/user_agent\"\n    \"/http/request_bytes\": 300\n    \"/http/response_bytes\": 1200\n    \"/http/url\": google.com/apis\n    \"abc.com/myattribute\": true",
          "type": "object"
        },
        "droppedAttributesCount": {
          "description": "The number of dropped attributes after the maximum size was enforced. If\n0 then no attributes were dropped.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BatchWriteSpansRequest": {
      "description": "The request message for the `BatchWriteSpans` method.",
      "properties": {
        "spans": {
          "description": "A collection of spans.",
          "items": {
            "$ref": "#/definitions/Span"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "Link": {
      "description": "A pointer from this span to another span in a different `Trace` within\nthe same service project or within a different service project. Used\n(for example) in batching operations, where a single batch handler\nprocesses multiple requests from different traces or when receives a\nrequest from a different service project.",
      "properties": {
        "spanId": {
          "description": "`SPAN_ID` is a unique identifier for a span within a trace. It is a\nbase16-encoded, case-insensitive string of a 8-bytes array and is\nrequired to be 16 char long.",
          "type": "string"
        },
        "traceId": {
          "description": "`TRACE_ID` is a unique identifier for a trace within a project. It is\na base16-encoded, case-insensitive string of a 16-bytes array and is\nrequired to be 32 char long.",
          "type": "string"
        },
        "type": {
          "description": "The relationship of the current span relative to the linked span.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CHILD",
            "PARENT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Links": {
      "description": "A collection of links, which are references from this span to a span\nin the same or different trace.",
      "properties": {
        "droppedLinksCount": {
          "description": "The number of dropped links after the maximum size was enforced. If\n0 then no links were dropped.",
          "format": "int32",
          "type": "integer"
        },
        "link": {
          "description": "A collection of links.",
          "items": {
            "$ref": "#/definitions/Link"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListSpansResponse": {
      "description": "The response message for the `ListSpans` method.",
      "properties": {
        "nextPageToken": {
          "description": "If defined, indicates that there are more spans that match the request.\nPass this as the value of `pageToken` in a subsequent request to retrieve\nadditional spans.",
          "type": "string"
        },
        "spans": {
          "description": "The requested spans if there are any in the specified trace.",
          "items": {
            "$ref": "#/definitions/Span"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListTracesResponse": {
      "description": "The response message for the `ListTraces` method.",
      "properties": {
        "nextPageToken": {
          "description": "If defined, indicates that there are more traces that match the request\nand that this value should be passed to the next request to continue\nretrieving additional traces.",
          "type": "string"
        },
        "traces": {
          "description": "List of trace records returned.",
          "items": {
            "$ref": "#/definitions/Trace"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Module": {
      "description": "Binary module.",
      "properties": {
        "buildId": {
          "$ref": "#/definitions/TruncatableString",
          "description": "Build_id is a unique identifier for the module, usually a hash of its\ncontents (up to 128 characters)."
        },
        "module": {
          "$ref": "#/definitions/TruncatableString",
          "description": "E.g. main binary, kernel modules, and dynamic libraries\nsuch as libc.so, sharedlib.so (up to 256 characters)."
        }
      },
      "type": "object"
    },
    "NetworkEvent": {
      "description": "An event describing an RPC message sent/received on the network. A\nmaximum of 128 network events are allowed per Span.",
      "properties": {
        "messageId": {
          "description": "An identifier for the message, which must be unique in this span.",
          "format": "uint64",
          "type": "string"
        },
        "messageSize": {
          "description": "The number of bytes sent or received.",
          "format": "uint64",
          "type": "string"
        },
        "time": {
          "description": "If available, this is the kernel time:\n\n*  For sent messages, this is the time at which the first bit was sent.\n*  For received messages, this is the time at which the last bit was\n   received.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "Type of NetworkEvent. Indicates whether the RPC message was sent or\nreceived.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SENT",
            "RECV"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Span": {
      "description": "A span represents a single operation within a trace. Spans can be nested\nto form a trace tree. Often, a trace contains a root span that\ndescribes the end-to-end latency and, optionally, one or more subspans for\nits sub-operations. (A trace could alternatively contain multiple root spans,\nor none at all.) Spans do not need to be contiguous. There may be gaps\nand/or overlaps between spans in a trace.",
      "properties": {
        "attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "A set of attributes on the span. A maximum of 32 attributes are allowed per\nSpan."
        },
        "displayName": {
          "$ref": "#/definitions/TruncatableString",
          "description": "Description of the operation in the span. It is sanitized and displayed in\nthe Stackdriver Trace tool in the\n{% dynamic print site_values.console_name %}.\nThe display_name may be a method name or some other per-call site\nname. For the same executable and the same call point, a best practice is\nto use a consistent operation name, which makes it easier to correlate\ncross-trace spans.\nThe maximum length for the display_name is 128 bytes."
        },
        "endTime": {
          "description": "End time of the span.\nOn the client side, this is the local machine clock time at which the span\nexecution was ended; on the server\nside, this is the time at which the server application handler stopped\nrunning.",
          "format": "google-datetime",
          "type": "string"
        },
        "links": {
          "$ref": "#/definitions/Links",
          "description": "A maximum of 128 links are allowed per Span."
        },
        "name": {
          "description": "The resource name of Span in the format\n`projects/PROJECT_ID/traces/TRACE_ID/spans/SPAN_ID`.\n`TRACE_ID` is a unique identifier for a trace within a project and is a\nbase16-encoded, case-insensitive string and is required to be 32 char long.\n`SPAN_ID` is a unique identifier for a span within a trace. It is a\nbase 16-encoded, case-insensitive string of a 8-bytes array and is required\nto be 16 char long.",
          "type": "string"
        },
        "parentSpanId": {
          "description": "ID of parent span which is a base 16-encoded, case-insensitive string of\na 8-bytes array and is required to be 16 char long. If this is a root span,\nthe value must be empty.",
          "type": "string"
        },
        "spanId": {
          "description": "Unique identifier for a span within a trace. It is a base 16-encoded,\ncase-insensitive string of a 8-bytes array and is required.",
          "type": "string"
        },
        "stackTrace": {
          "$ref": "#/definitions/StackTrace",
          "description": "Stack trace captured at the start of the span."
        },
        "startTime": {
          "description": "Start time of the span.\nOn the client side, this is the local machine clock time at which the span\nexecution was started; on the server\nside, this is the time at which the server application handler started\nrunning.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "An optional final status for this span."
        },
        "timeEvents": {
          "$ref": "#/definitions/TimeEvents",
          "description": "A maximum of 32 annotations and 128 network events are allowed per Span."
        }
      },
      "type": "object"
    },
    "StackFrame": {
      "description": "Represents a single stack frame in a stack trace.",
      "properties": {
        "columnNumber": {
          "description": "Column number is important in JavaScript (anonymous functions).\nMay not be available in some languages.",
          "format": "int64",
          "type": "string"
        },
        "fileName": {
          "$ref": "#/definitions/TruncatableString",
          "description": "The filename of the file containing this frame (up to 256 characters)."
        },
        "functionName": {
          "$ref": "#/definitions/TruncatableString",
          "description": "The fully-qualified name that uniquely identifies this function or\nmethod (up to 1024 characters)."
        },
        "lineNumber": {
          "description": "Line number of the frame.",
          "format": "int64",
          "type": "string"
        },
        "loadModule": {
          "$ref": "#/definitions/Module",
          "description": "Binary module the code is loaded from."
        },
        "originalFunctionName": {
          "$ref": "#/definitions/TruncatableString",
          "description": "Used when the function name is\n[mangled](http://www.avabodh.com/cxxin/namemangling.html). May be\nfully-qualified (up to 1024 characters)."
        },
        "sourceVersion": {
          "$ref": "#/definitions/TruncatableString",
          "description": "The version of the deployed source code (up to 128 characters)."
        }
      },
      "type": "object"
    },
    "StackFrames": {
      "description": "Represents collection of StackFrames that can be truncated.",
      "properties": {
        "droppedFramesCount": {
          "description": "The number of dropped stack frames after the maximum size was enforced.\nIf 0 then no frames were dropped.",
          "format": "int32",
          "type": "integer"
        },
        "frame": {
          "description": "Stack frames in this stack trace.",
          "items": {
            "$ref": "#/definitions/StackFrame"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StackTrace": {
      "description": "StackTrace collected in a trace.",
      "properties": {
        "stackFrames": {
          "$ref": "#/definitions/StackFrames",
          "description": "Stack frames in this stack trace. A maximum of 128 frames are allowed."
        },
        "stackTraceHashId": {
          "description": "The hash ID is used to conserve network bandwidth for duplicate\nstack traces within a single trace.\n\nOften multiple spans will have identical stack traces.\nThe first occurance of a stack trace should contain both the\n`stackFrame` content and a value in `stackTraceHashId`.\n\nSubsequent spans within the same request can refer\nto that stack trace by only setting `stackTraceHashId`.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeEvent": {
      "description": "A time-stamped annotation in the Span.",
      "properties": {
        "annotation": {
          "$ref": "#/definitions/Annotation",
          "description": "One or more key:value pairs."
        },
        "networkEvent": {
          "$ref": "#/definitions/NetworkEvent",
          "description": "An event describing an RPC message sent/received on the network."
        },
        "time": {
          "description": "The timestamp indicating the time the event occurred.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeEvents": {
      "description": "A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped annotation\non the span, consisting of either user-supplied key:value pairs, or\ndetails of an RPC message sent/received on the network.",
      "properties": {
        "droppedAnnotationsCount": {
          "description": "The number of dropped annotations after the maximum size was enforced. If\n0 then no annotations were dropped.",
          "format": "int32",
          "type": "integer"
        },
        "droppedNetworkEventsCount": {
          "description": "The number of dropped network events after the maximum size was enforced.\nIf 0 then no annotations were dropped.",
          "format": "int32",
          "type": "integer"
        },
        "timeEvent": {
          "description": "A collection of `TimeEvent`s.",
          "items": {
            "$ref": "#/definitions/TimeEvent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Trace": {
      "description": "A trace describes how long it takes for an application to perform some\noperations. It consists of a set of spans, each representing\nan operation and including time information and operation details.",
      "properties": {
        "name": {
          "description": "The resource name of Trace in the format\n`projects/PROJECT_ID/traces/TRACE_ID`. `TRACE_ID` is a unique identifier\nfor a trace within a project and is a base16-encoded, case-insensitive\nstring and is required to be 32 char long.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TruncatableString": {
      "description": "Represents a string value that might be truncated.",
      "properties": {
        "truncatedCharacterCount": {
          "description": "The number of characters truncated from the original string value. If 0 it\nmeans that the string value was not truncated.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "description": "The truncated string value. E.g. for a string attribute this may have up to\n256 bytes.",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}