{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "This section provides documentation for the AWS RoboMaker API operations.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS RoboMaker",
    "version": "2018-06-29",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/robomaker-2018-06-29.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "robomaker",
    "x-datafire": {
      "name": "amazonaws_robomaker",
      "type": "openapi"
    }
  },
  "host": "robomaker.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/batchDeleteWorlds": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "worlds": {
                  "description": "A list of Amazon Resource Names (arns) that correspond to worlds to delete.",
                  "items": {
                    "$ref": "#/definitions/Arn"
                  },
                  "maxItems": 100,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "worlds"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeleteWorldsResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Deletes one or more worlds in a batch operation.",
        "operationId": "BatchDeleteWorlds"
      }
    },
    "/batchDescribeSimulationJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "jobs": {
                  "description": "A list of Amazon Resource Names (ARNs) of simulation jobs to describe.",
                  "items": {
                    "$ref": "#/definitions/Arn"
                  },
                  "maxItems": 100,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "jobs"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDescribeSimulationJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Describes one or more simulation jobs.",
        "operationId": "BatchDescribeSimulationJob"
      }
    },
    "/cancelDeploymentJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "job": {
                  "description": "The deployment job ARN to cancel.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "job"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelDeploymentJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Cancels the specified deployment job.",
        "operationId": "CancelDeploymentJob"
      }
    },
    "/cancelSimulationJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "job": {
                  "description": "The simulation job ARN to cancel.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "job"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelSimulationJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Cancels the specified simulation job.",
        "operationId": "CancelSimulationJob"
      }
    },
    "/cancelSimulationJobBatch": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "batch": {
                  "description": "The id of the batch to cancel.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "batch"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelSimulationJobBatchResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Cancels a simulation job batch. When you cancel a simulation job batch, you are also cancelling all of the active simulation jobs created as part of the batch. ",
        "operationId": "CancelSimulationJobBatch"
      }
    },
    "/cancelWorldExportJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "job": {
                  "description": "The Amazon Resource Name (arn) of the world export job to cancel.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "job"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelWorldExportJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Cancels the specified export job.",
        "operationId": "CancelWorldExportJob"
      }
    },
    "/cancelWorldGenerationJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "job": {
                  "description": "The Amazon Resource Name (arn) of the world generator job to cancel.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "job"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelWorldGenerationJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Cancels the specified world generator job.",
        "operationId": "CancelWorldGenerationJob"
      }
    },
    "/createDeploymentJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the deployment job.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "clientRequestToken": {
                  "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-=]*",
                  "type": "string"
                },
                "deploymentApplicationConfigs": {
                  "description": "The deployment application configuration.",
                  "items": {
                    "$ref": "#/definitions/DeploymentApplicationConfig"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "deploymentConfig": {
                  "description": "Information about a deployment configuration.",
                  "properties": {
                    "concurrentDeploymentPercentage": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Percentage"
                        },
                        {
                          "description": "The percentage of robots receiving the deployment at the same time."
                        }
                      ]
                    },
                    "downloadConditionFile": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Object"
                        },
                        {
                          "description": "The download condition file."
                        }
                      ]
                    },
                    "failureThresholdPercentage": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Percentage"
                        },
                        {
                          "description": "The percentage of deployments that need to fail before stopping deployment."
                        }
                      ]
                    },
                    "robotDeploymentTimeoutInSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DeploymentTimeout"
                        },
                        {
                          "description": "The amount of time, in seconds, to wait for deployment to a single robot to complete. Choose a time between 1 minute and 7 days. The default is 5 hours."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "fleet": {
                  "description": "The Amazon Resource Name (ARN) of the fleet to deploy.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "clientRequestToken",
                "fleet",
                "deploymentApplicationConfigs"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDeploymentJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "ConcurrentDeploymentException",
            "schema": {
              "$ref": "#/definitions/ConcurrentDeploymentException"
            }
          },
          "486": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          }
        },
        "description": "<p>Deploys a specific version of a robot application to robots in a fleet.</p> <p>The robot application must have a numbered <code>applicationVersion</code> for consistency reasons. To create a new version, use <code>CreateRobotApplicationVersion</code> or see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/create-robot-application-version.html\">Creating a Robot Application Version</a>. </p> <note> <p>After 90 days, deployment jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
        "operationId": "CreateDeploymentJob"
      }
    },
    "/createFleet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the fleet.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "name": {
                  "description": "The name of the fleet.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-]*",
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateFleetResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "Creates a fleet, a logical group of robots running the same robot application.",
        "operationId": "CreateFleet"
      }
    },
    "/createRobot": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the robot.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "architecture": {
                  "description": "The target architecture of the robot.",
                  "enum": [
                    "X86_64",
                    "ARM64",
                    "ARMHF"
                  ],
                  "type": "string"
                },
                "greengrassGroupId": {
                  "description": "The Greengrass group id.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": ".*",
                  "type": "string"
                },
                "name": {
                  "description": "The name for the robot.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-]*",
                  "type": "string"
                }
              },
              "required": [
                "name",
                "architecture",
                "greengrassGroupId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRobotResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          }
        },
        "description": "Creates a robot.",
        "operationId": "CreateRobot"
      }
    },
    "/createRobotApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the robot application.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "name": {
                  "description": "The name of the robot application.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-]*",
                  "type": "string"
                },
                "robotSoftwareSuite": {
                  "description": "Information about a robot software suite (ROS distribution).",
                  "properties": {
                    "name": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RobotSoftwareSuiteType"
                        },
                        {
                          "description": "The name of the robot software suite (ROS distribution)."
                        }
                      ]
                    },
                    "version": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RobotSoftwareSuiteVersionType"
                        },
                        {
                          "description": "The version of the robot software suite (ROS distribution)."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "sources": {
                  "description": "The sources of the robot application.",
                  "items": {
                    "$ref": "#/definitions/SourceConfig"
                  },
                  "type": "array"
                }
              },
              "required": [
                "name",
                "sources",
                "robotSoftwareSuite"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRobotApplicationResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "485": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          }
        },
        "description": "Creates a robot application. ",
        "operationId": "CreateRobotApplication"
      }
    },
    "/createRobotApplicationVersion": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "application": {
                  "description": "The application information for the robot application.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                },
                "currentRevisionId": {
                  "description": "The current revision id for the robot application. If you provide a value and it matches the latest revision ID, a new version will be created.",
                  "maxLength": 40,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.\\-]*",
                  "type": "string"
                }
              },
              "required": [
                "application"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRobotApplicationVersionResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Creates a version of a robot application.",
        "operationId": "CreateRobotApplicationVersion"
      }
    },
    "/createSimulationApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the simulation application.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "name": {
                  "description": "The name of the simulation application.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-]*",
                  "type": "string"
                },
                "renderingEngine": {
                  "description": "Information about a rendering engine.",
                  "properties": {
                    "name": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RenderingEngineType"
                        },
                        {
                          "description": "The name of the rendering engine."
                        }
                      ]
                    },
                    "version": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RenderingEngineVersionType"
                        },
                        {
                          "description": "The version of the rendering engine."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "robotSoftwareSuite": {
                  "description": "Information about a robot software suite (ROS distribution).",
                  "properties": {
                    "name": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RobotSoftwareSuiteType"
                        },
                        {
                          "description": "The name of the robot software suite (ROS distribution)."
                        }
                      ]
                    },
                    "version": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RobotSoftwareSuiteVersionType"
                        },
                        {
                          "description": "The version of the robot software suite (ROS distribution)."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "simulationSoftwareSuite": {
                  "description": "Information about a simulation software suite.",
                  "properties": {
                    "name": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SimulationSoftwareSuiteType"
                        },
                        {
                          "description": "The name of the simulation software suite."
                        }
                      ]
                    },
                    "version": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SimulationSoftwareSuiteVersionType"
                        },
                        {
                          "description": "The version of the simulation software suite."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "sources": {
                  "description": "The sources of the simulation application.",
                  "items": {
                    "$ref": "#/definitions/SourceConfig"
                  },
                  "type": "array"
                }
              },
              "required": [
                "name",
                "sources",
                "simulationSoftwareSuite",
                "robotSoftwareSuite"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSimulationApplicationResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "485": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          }
        },
        "description": "Creates a simulation application.",
        "operationId": "CreateSimulationApplication"
      }
    },
    "/createSimulationApplicationVersion": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "application": {
                  "description": "The application information for the simulation application.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                },
                "currentRevisionId": {
                  "description": "The current revision id for the simulation application. If you provide a value and it matches the latest revision ID, a new version will be created.",
                  "maxLength": 40,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.\\-]*",
                  "type": "string"
                }
              },
              "required": [
                "application"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSimulationApplicationVersionResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Creates a simulation application with a specific revision id.",
        "operationId": "CreateSimulationApplicationVersion"
      }
    },
    "/createSimulationJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the simulation job.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "clientRequestToken": {
                  "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-=]*",
                  "type": "string"
                },
                "compute": {
                  "description": "Compute information for the simulation job.",
                  "properties": {
                    "simulationUnitLimit": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SimulationUnit"
                        },
                        {
                          "description": "The simulation unit limit. Your simulation is allocated CPU and memory proportional to the supplied simulation unit limit. A simulation unit is 1 vcpu and 2GB of memory. You are only billed for the SU utilization you consume up to the maximim value provided. The default is 15. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "dataSources": {
                  "description": "<p>Specify data sources to mount read-only files from S3 into your simulation. These files are available under <code>/opt/robomaker/datasources/data_source_name</code>. </p> <note> <p>There is a limit of 100 files and a combined size of 25GB for all <code>DataSourceConfig</code> objects. </p> </note>",
                  "items": {
                    "$ref": "#/definitions/DataSourceConfig"
                  },
                  "maxItems": 5,
                  "minItems": 1,
                  "type": "array"
                },
                "failureBehavior": {
                  "description": "<p>The failure behavior the simulation job.</p> <dl> <dt>Continue</dt> <dd> <p>Restart the simulation job in the same host instance.</p> </dd> <dt>Fail</dt> <dd> <p>Stop the simulation job and terminate the instance.</p> </dd> </dl>",
                  "enum": [
                    "Fail",
                    "Continue"
                  ],
                  "type": "string"
                },
                "iamRole": {
                  "description": "The IAM role name that allows the simulation instance to call the AWS APIs that are specified in its associated policies on your behalf. This is how credentials are passed in to your simulation job. ",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "arn:aws:iam::\\w+:role/.*",
                  "type": "string"
                },
                "loggingConfig": {
                  "description": "The logging configuration.",
                  "properties": {
                    "recordAllRosTopics": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BoxedBoolean"
                        },
                        {
                          "description": "A boolean indicating whether to record all ROS topics."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "maxJobDurationInSeconds": {
                  "description": "The maximum simulation job duration in seconds (up to 14 days or 1,209,600 seconds. When <code>maxJobDurationInSeconds</code> is reached, the simulation job will status will transition to <code>Completed</code>.",
                  "type": "integer"
                },
                "outputLocation": {
                  "description": "The output location.",
                  "properties": {
                    "s3Bucket": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Bucket"
                        },
                        {
                          "description": "The S3 bucket for output."
                        }
                      ]
                    },
                    "s3Prefix": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Key"
                        },
                        {
                          "description": "The S3 folder in the <code>s3Bucket</code> where output files will be placed."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "robotApplications": {
                  "description": "The robot application to use in the simulation job.",
                  "items": {
                    "$ref": "#/definitions/RobotApplicationConfig"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "simulationApplications": {
                  "description": "The simulation application to use in the simulation job.",
                  "items": {
                    "$ref": "#/definitions/SimulationApplicationConfig"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "vpcConfig": {
                  "description": "If your simulation job accesses resources in a VPC, you provide this parameter identifying the list of security group IDs and subnet IDs. These must belong to the same VPC. You must provide at least one security group and two subnet IDs.",
                  "properties": {
                    "assignPublicIp": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "A boolean indicating whether to assign a public IP address."
                        }
                      ]
                    },
                    "securityGroups": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SecurityGroups"
                        },
                        {
                          "description": "A list of one or more security groups IDs in your VPC."
                        }
                      ]
                    },
                    "subnets": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Subnets"
                        },
                        {
                          "description": "A list of one or more subnet IDs in your VPC."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "maxJobDurationInSeconds",
                "iamRole"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSimulationJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "description": "<p>Creates a simulation job.</p> <note> <p>After 90 days, simulation jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
        "operationId": "CreateSimulationJob"
      }
    },
    "/createWorldExportJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the world export job.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "clientRequestToken": {
                  "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-=]*",
                  "type": "string"
                },
                "iamRole": {
                  "description": "The IAM role that the world export process uses to access the Amazon S3 bucket and put the export.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "arn:aws:iam::\\w+:role/.*",
                  "type": "string"
                },
                "outputLocation": {
                  "description": "The output location.",
                  "properties": {
                    "s3Bucket": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Bucket"
                        },
                        {
                          "description": "The S3 bucket for output."
                        }
                      ]
                    },
                    "s3Prefix": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Key"
                        },
                        {
                          "description": "The S3 folder in the <code>s3Bucket</code> where output files will be placed."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "worlds": {
                  "description": "A list of Amazon Resource Names (arns) that correspond to worlds to export.",
                  "items": {
                    "$ref": "#/definitions/Arn"
                  },
                  "maxItems": 100,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "worlds",
                "outputLocation",
                "iamRole"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateWorldExportJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "description": "Creates a world export job.",
        "operationId": "CreateWorldExportJob"
      }
    },
    "/createWorldGenerationJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the world generator job.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "clientRequestToken": {
                  "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-=]*",
                  "type": "string"
                },
                "template": {
                  "description": "The Amazon Resource Name (arn) of the world template describing the worlds you want to create.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                },
                "worldCount": {
                  "description": "<p>The number of worlds that will be created. You can configure the number of unique floorplans and the number of unique interiors for each floor plan. For example, if you want 1 world with 20 unique interiors, you set <code>floorplanCount = 1</code> and <code>interiorCountPerFloorplan = 20</code>. This will result in 20 worlds (<code>floorplanCount</code> * <code>interiorCountPerFloorplan)</code>. </p> <p>If you set <code>floorplanCount = 4</code> and <code>interiorCountPerFloorplan = 5</code>, there will be 20 worlds with 5 unique floor plans. </p>",
                  "properties": {
                    "floorplanCount": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/FloorplanCount"
                        },
                        {
                          "description": "The number of unique floorplans."
                        }
                      ]
                    },
                    "interiorCountPerFloorplan": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InteriorCountPerFloorplan"
                        },
                        {
                          "description": "The number of unique interiors per floorplan."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "worldTags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the generated worlds.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                }
              },
              "required": [
                "template",
                "worldCount"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateWorldGenerationJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "description": "Creates worlds using the specified template.",
        "operationId": "CreateWorldGenerationJob"
      }
    },
    "/createWorldTemplate": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map that contains tag keys and tag values that are attached to the world template.",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "clientRequestToken": {
                  "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_\\-=]*",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the world template.",
                  "maxLength": 255,
                  "minLength": 0,
                  "pattern": ".*",
                  "type": "string"
                },
                "templateBody": {
                  "description": "The world template body.",
                  "maxLength": 262144,
                  "minLength": 1,
                  "pattern": "[\\S\\s]+",
                  "type": "string"
                },
                "templateLocation": {
                  "description": "Information about a template location.",
                  "properties": {
                    "s3Bucket": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Bucket"
                        },
                        {
                          "description": "The Amazon S3 bucket name."
                        }
                      ]
                    },
                    "s3Key": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Key"
                        },
                        {
                          "description": "The list of S3 keys identifying the data source files."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateWorldTemplateResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Creates a world template.",
        "operationId": "CreateWorldTemplate"
      }
    },
    "/deleteFleet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "fleet": {
                  "description": "The Amazon Resource Name (ARN) of the fleet.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "fleet"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteFleetResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Deletes a fleet.",
        "operationId": "DeleteFleet"
      }
    },
    "/deleteRobot": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "robot": {
                  "description": "The Amazon Resource Name (ARN) of the robot.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "robot"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRobotResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Deletes a robot.",
        "operationId": "DeleteRobot"
      }
    },
    "/deleteRobotApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "application": {
                  "description": "The Amazon Resource Name (ARN) of the the robot application.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                },
                "applicationVersion": {
                  "description": "The version of the robot application to delete.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "(\\$LATEST)|[0-9]*",
                  "type": "string"
                }
              },
              "required": [
                "application"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRobotApplicationResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Deletes a robot application.",
        "operationId": "DeleteRobotApplication"
      }
    },
    "/deleteSimulationApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "application": {
                  "description": "The application information for the simulation application to delete.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                },
                "applicationVersion": {
                  "description": "The version of the simulation application to delete.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "(\\$LATEST)|[0-9]*",
                  "type": "string"
                }
              },
              "required": [
                "application"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteSimulationApplicationResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Deletes a simulation application.",
        "operationId": "DeleteSimulationApplication"
      }
    },
    "/deleteWorldTemplate": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "template": {
                  "description": "The Amazon Resource Name (arn) of the world template you want to delete.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "template"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteWorldTemplateResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Deletes a world template.",
        "operationId": "DeleteWorldTemplate"
      }
    },
    "/deregisterRobot": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "fleet": {
                  "description": "The Amazon Resource Name (ARN) of the fleet.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                },
                "robot": {
                  "description": "The Amazon Resource Name (ARN) of the robot.",
                  "maxLength": 1224,
                  "minLength": 1,
                  "pattern": "arn:.*",
                  "type": "string"
                }
              },
              "required": [
                "fleet",
                "robot"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeregisterRobotResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Deregisters a robot.",
        "operationId": "DeregisterRobot"
      }
    },
    "/describeDeploymentJob": {
      "parameters": [
[...]
