{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "AWS AppSync provides API actions for creating and interacting with data sources using GraphQL from your application.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS AppSync",
    "version": "2017-07-25",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appsync-2017-07-25.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "appsync",
    "x-datafire": {
      "name": "amazonaws_appsync",
      "type": "openapi"
    }
  },
  "host": "appsync.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/v1/apis": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. ",
            "in": "query",
            "maxLength": 65536,
            "minLength": 1,
            "name": "nextToken",
            "pattern": "[\\\\S]+",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results you want the request to return.",
            "in": "query",
            "maximum": 25,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListGraphqlApisResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Lists your GraphQL APIs.",
        "operationId": "ListGraphqlApis"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A map with keys of <code>TagKey</code> objects and values of <code>TagValue</code> objects.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "additionalAuthenticationProviders": {
                  "description": "A list of additional authentication providers for the <code>GraphqlApi</code> API.",
                  "items": {
                    "$ref": "#/definitions/AdditionalAuthenticationProvider"
                  },
                  "type": "array"
                },
                "authenticationType": {
                  "description": "The authentication type: API key, AWS IAM, OIDC, or Amazon Cognito user pools.",
                  "enum": [
                    "API_KEY",
                    "AWS_IAM",
                    "AMAZON_COGNITO_USER_POOLS",
                    "OPENID_CONNECT"
                  ],
                  "type": "string"
                },
                "logConfig": {
                  "description": "The CloudWatch Logs configuration.",
                  "properties": {
                    "cloudWatchLogsRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. "
                        }
                      ]
                    },
                    "excludeVerboseContent": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Set to TRUE to exclude sections that contain information such as headers, context, and evaluated mapping templates, regardless of logging level."
                        }
                      ]
                    },
                    "fieldLogLevel": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/FieldLogLevel"
                        },
                        {
                          "description": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>"
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "A user-supplied name for the <code>GraphqlApi</code>.",
                  "type": "string"
                },
                "openIDConnectConfig": {
                  "description": "Describes an OpenID Connect configuration.",
                  "properties": {
                    "authTTL": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Long"
                        },
                        {
                          "description": "The number of milliseconds a token is valid after being authenticated."
                        }
                      ]
                    },
                    "clientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time."
                        }
                      ]
                    },
                    "iatTTL": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Long"
                        },
                        {
                          "description": "The number of milliseconds a token is valid after being issued to a user."
                        }
                      ]
                    },
                    "issuer": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "userPoolConfig": {
                  "description": "Describes an Amazon Cognito user pool configuration.",
                  "properties": {
                    "appIdClientRegex": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "A regular expression for validating the incoming Amazon Cognito user pool app client ID."
                        }
                      ]
                    },
                    "awsRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The AWS Region in which the user pool was created."
                        }
                      ]
                    },
                    "defaultAction": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DefaultAction"
                        },
                        {
                          "description": "The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration."
                        }
                      ]
                    },
                    "userPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The user pool ID."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "xrayEnabled": {
                  "description": "A flag indicating whether to enable X-Ray tracing for the <code>GraphqlApi</code>.",
                  "type": "boolean"
                }
              },
              "required": [
                "name",
                "authenticationType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateGraphqlApiResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "485": {
            "description": "ApiLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ApiLimitExceededException"
            }
          }
        },
        "description": "Creates a <code>GraphqlApi</code> object.",
        "operationId": "CreateGraphqlApi"
      }
    },
    "/v1/apis/{apiId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteGraphqlApiResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "Deletes a <code>GraphqlApi</code> object.",
        "operationId": "DeleteGraphqlApi"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID for the GraphQL API.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetGraphqlApiResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "Retrieves a <code>GraphqlApi</code> object.",
        "operationId": "GetGraphqlApi"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "additionalAuthenticationProviders": {
                  "description": "A list of additional authentication providers for the <code>GraphqlApi</code> API.",
                  "items": {
                    "$ref": "#/definitions/AdditionalAuthenticationProvider"
                  },
                  "type": "array"
                },
                "authenticationType": {
                  "description": "The new authentication type for the <code>GraphqlApi</code> object.",
                  "enum": [
                    "API_KEY",
                    "AWS_IAM",
                    "AMAZON_COGNITO_USER_POOLS",
                    "OPENID_CONNECT"
                  ],
                  "type": "string"
                },
                "logConfig": {
                  "description": "The CloudWatch Logs configuration.",
                  "properties": {
                    "cloudWatchLogsRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. "
                        }
                      ]
                    },
                    "excludeVerboseContent": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Set to TRUE to exclude sections that contain information such as headers, context, and evaluated mapping templates, regardless of logging level."
                        }
                      ]
                    },
                    "fieldLogLevel": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/FieldLogLevel"
                        },
                        {
                          "description": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>"
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "The new name for the <code>GraphqlApi</code> object.",
                  "type": "string"
                },
                "openIDConnectConfig": {
                  "description": "Describes an OpenID Connect configuration.",
                  "properties": {
                    "authTTL": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Long"
                        },
                        {
                          "description": "The number of milliseconds a token is valid after being authenticated."
                        }
                      ]
                    },
                    "clientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time."
                        }
                      ]
                    },
                    "iatTTL": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Long"
                        },
                        {
                          "description": "The number of milliseconds a token is valid after being issued to a user."
                        }
                      ]
                    },
                    "issuer": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "userPoolConfig": {
                  "description": "Describes an Amazon Cognito user pool configuration.",
                  "properties": {
                    "appIdClientRegex": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "A regular expression for validating the incoming Amazon Cognito user pool app client ID."
                        }
                      ]
                    },
                    "awsRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The AWS Region in which the user pool was created."
                        }
                      ]
                    },
                    "defaultAction": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DefaultAction"
                        },
                        {
                          "description": "The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration."
                        }
                      ]
                    },
                    "userPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The user pool ID."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "xrayEnabled": {
                  "description": "A flag indicating whether to enable X-Ray tracing for the <code>GraphqlApi</code>.",
                  "type": "boolean"
                }
              },
              "required": [
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateGraphqlApiResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "Updates a <code>GraphqlApi</code> object.",
        "operationId": "UpdateGraphqlApi"
      }
    },
    "/v1/apis/{apiId}/ApiCaches": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteApiCacheResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Deletes an <code>ApiCache</code> object.",
        "operationId": "DeleteApiCache"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApiCacheResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Retrieves an <code>ApiCache</code> object.",
        "operationId": "GetApiCache"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The GraphQL API Id.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "apiCachingBehavior": {
                  "description": "<p>Caching behavior.</p> <ul> <li> <p> <b>FULL_REQUEST_CACHING</b>: All requests are fully cached.</p> </li> <li> <p> <b>PER_RESOLVER_CACHING</b>: Individual resolvers that you specify are cached.</p> </li> </ul>",
                  "enum": [
                    "FULL_REQUEST_CACHING",
                    "PER_RESOLVER_CACHING"
                  ],
                  "type": "string"
                },
                "atRestEncryptionEnabled": {
                  "description": "At rest encryption flag for cache. This setting cannot be updated after creation.",
                  "type": "boolean"
                },
                "transitEncryptionEnabled": {
                  "description": "Transit encryption flag when connecting to cache. This setting cannot be updated after creation.",
                  "type": "boolean"
                },
                "ttl": {
                  "description": "<p>TTL in seconds for cache entries.</p> <p>Valid values are between 1 and 3600 seconds.</p>",
                  "type": "integer"
                },
                "type": {
                  "description": "<p>The cache instance type. Valid values are </p> <ul> <li> <p> <code>SMALL</code> </p> </li> <li> <p> <code>MEDIUM</code> </p> </li> <li> <p> <code>LARGE</code> </p> </li> <li> <p> <code>XLARGE</code> </p> </li> <li> <p> <code>LARGE_2X</code> </p> </li> <li> <p> <code>LARGE_4X</code> </p> </li> <li> <p> <code>LARGE_8X</code> (not available in all regions)</p> </li> <li> <p> <code>LARGE_12X</code> </p> </li> </ul> <p>Historically, instance types were identified by an EC2-style value. As of July 2020, this is deprecated, and the generic identifiers above should be used.</p> <p>The following legacy instance types are available, but their use is discouraged:</p> <ul> <li> <p> <b>T2_SMALL</b>: A t2.small instance type.</p> </li> <li> <p> <b>T2_MEDIUM</b>: A t2.medium instance type.</p> </li> <li> <p> <b>R4_LARGE</b>: A r4.large instance type.</p> </li> <li> <p> <b>R4_XLARGE</b>: A r4.xlarge instance type.</p> </li> <li> <p> <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p> </li> <li> <p> <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p> </li> <li> <p> <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p> </li> </ul>",
                  "enum": [
                    "T2_SMALL",
                    "T2_MEDIUM",
                    "R4_LARGE",
                    "R4_XLARGE",
                    "R4_2XLARGE",
                    "R4_4XLARGE",
                    "R4_8XLARGE",
                    "SMALL",
                    "MEDIUM",
                    "LARGE",
                    "XLARGE",
                    "LARGE_2X",
                    "LARGE_4X",
                    "LARGE_8X",
                    "LARGE_12X"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "ttl",
                "apiCachingBehavior",
                "type"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateApiCacheResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Creates a cache for the GraphQL API.",
        "operationId": "CreateApiCache"
      }
    },
    "/v1/apis/{apiId}/ApiCaches/update": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The GraphQL API Id.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "apiCachingBehavior": {
                  "description": "<p>Caching behavior.</p> <ul> <li> <p> <b>FULL_REQUEST_CACHING</b>: All requests are fully cached.</p> </li> <li> <p> <b>PER_RESOLVER_CACHING</b>: Individual resolvers that you specify are cached.</p> </li> </ul>",
                  "enum": [
                    "FULL_REQUEST_CACHING",
                    "PER_RESOLVER_CACHING"
                  ],
                  "type": "string"
                },
                "ttl": {
                  "description": "<p>TTL in seconds for cache entries.</p> <p>Valid values are between 1 and 3600 seconds.</p>",
                  "type": "integer"
                },
                "type": {
                  "description": "<p>The cache instance type. Valid values are </p> <ul> <li> <p> <code>SMALL</code> </p> </li> <li> <p> <code>MEDIUM</code> </p> </li> <li> <p> <code>LARGE</code> </p> </li> <li> <p> <code>XLARGE</code> </p> </li> <li> <p> <code>LARGE_2X</code> </p> </li> <li> <p> <code>LARGE_4X</code> </p> </li> <li> <p> <code>LARGE_8X</code> (not available in all regions)</p> </li> <li> <p> <code>LARGE_12X</code> </p> </li> </ul> <p>Historically, instance types were identified by an EC2-style value. As of July 2020, this is deprecated, and the generic identifiers above should be used.</p> <p>The following legacy instance types are available, but their use is discouraged:</p> <ul> <li> <p> <b>T2_SMALL</b>: A t2.small instance type.</p> </li> <li> <p> <b>T2_MEDIUM</b>: A t2.medium instance type.</p> </li> <li> <p> <b>R4_LARGE</b>: A r4.large instance type.</p> </li> <li> <p> <b>R4_XLARGE</b>: A r4.xlarge instance type.</p> </li> <li> <p> <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p> </li> <li> <p> <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p> </li> <li> <p> <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p> </li> </ul>",
                  "enum": [
                    "T2_SMALL",
                    "T2_MEDIUM",
                    "R4_LARGE",
                    "R4_XLARGE",
                    "R4_2XLARGE",
                    "R4_4XLARGE",
                    "R4_8XLARGE",
                    "SMALL",
                    "MEDIUM",
                    "LARGE",
                    "XLARGE",
                    "LARGE_2X",
                    "LARGE_4X",
                    "LARGE_8X",
                    "LARGE_12X"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "ttl",
                "apiCachingBehavior",
                "type"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateApiCacheResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Updates the cache for the GraphQL API.",
        "operationId": "UpdateApiCache"
      }
    },
    "/v1/apis/{apiId}/FlushCache": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FlushApiCacheResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Flushes an <code>ApiCache</code> object.",
        "operationId": "FlushApiCache"
      }
    },
    "/v1/apis/{apiId}/apikeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.",
            "in": "query",
            "maxLength": 65536,
            "minLength": 1,
            "name": "nextToken",
            "pattern": "[\\\\S]+",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results you want the request to return.",
            "in": "query",
            "maximum": 25,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListApiKeysResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "<p>Lists the API keys for a given API.</p> <note> <p>API keys are deleted automatically 60 days after they expire. However, they may still be included in the response until they have actually been deleted. You can safely call <code>DeleteApiKey</code> to manually delete a key before it's automatically deleted.</p> </note>",
        "operationId": "ListApiKeys"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID for your GraphQL API.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "A description of the purpose of the API key.",
                  "type": "string"
                },
                "expires": {
                  "description": "The time from creation time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour. The default value for this parameter is 7 days from creation time. For more information, see .",
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateApiKeyResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "486": {
            "description": "ApiKeyLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ApiKeyLimitExceededException"
            }
          },
          "487": {
            "description": "ApiKeyValidityOutOfBoundsException",
            "schema": {
              "$ref": "#/definitions/ApiKeyValidityOutOfBoundsException"
            }
          }
        },
        "description": "Creates a unique key that you can distribute to clients who are executing your API.",
        "operationId": "CreateApiKey"
      }
    },
    "/v1/apis/{apiId}/apikeys/{id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the API key.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteApiKeyResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Deletes an API key.",
        "operationId": "DeleteApiKey"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID for the GraphQL API.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The API key ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "A description of the purpose of the API key.",
                  "type": "string"
                },
                "expires": {
                  "description": "The time from update time after which the API key expires. The date is represented as seconds since the epoch. For more information, see .",
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateApiKeyResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "485": {
            "description": "ApiKeyValidityOutOfBoundsException",
            "schema": {
              "$ref": "#/definitions/ApiKeyValidityOutOfBoundsException"
            }
          }
        },
        "description": "Updates an API key. The key can be updated while it is not deleted.",
        "operationId": "UpdateApiKey"
      }
    },
    "/v1/apis/{apiId}/datasources": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. ",
            "in": "query",
            "maxLength": 65536,
            "minLength": 1,
            "name": "nextToken",
            "pattern": "[\\\\S]+",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results you want the request to return.",
            "in": "query",
            "maximum": 25,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDataSourcesResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Lists the data sources for a given API.",
        "operationId": "ListDataSources"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID for the GraphQL API for the <code>DataSource</code>.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "A description of the <code>DataSource</code>.",
                  "type": "string"
                },
                "dynamodbConfig": {
                  "description": "Describes an Amazon DynamoDB data source configuration.",
                  "properties": {
                    "awsRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The AWS Region."
                        }
                      ]
                    },
                    "deltaSyncConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DeltaSyncConfig"
                        },
                        {
                          "description": "The <code>DeltaSyncConfig</code> for a versioned datasource."
                        }
                      ]
                    },
                    "tableName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The table name."
                        }
                      ]
                    },
                    "useCallerCredentials": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Set to TRUE to use Amazon Cognito credentials with this data source."
                        }
                      ]
                    },
                    "versioned": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Set to TRUE to use Conflict Detection and Resolution with this data source."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "elasticsearchConfig": {
                  "description": "Describes an Elasticsearch data source configuration.",
                  "properties": {
                    "awsRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The AWS Region."
                        }
                      ]
                    },
                    "endpoint": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The endpoint."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "httpConfig": {
                  "description": "Describes an HTTP data source configuration.",
                  "properties": {
                    "authorizationConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AuthorizationConfig"
                        },
                        {
                          "description": "The authorization config in case the HTTP endpoint requires authorization."
                        }
                      ]
                    },
                    "endpoint": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The HTTP URL endpoint. You can either specify the domain name or IP, and port combination, and the URL scheme must be HTTP or HTTPS. If the port is not specified, AWS AppSync uses the default port 80 for the HTTP endpoint and port 443 for HTTPS endpoints."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "lambdaConfig": {
                  "description": "Describes an AWS Lambda data source configuration.",
                  "properties": {
                    "lambdaFunctionArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The ARN for the Lambda function."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "A user-supplied name for the <code>DataSource</code>.",
                  "maxLength": 65536,
                  "minLength": 1,
                  "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                  "type": "string"
                },
                "relationalDatabaseConfig": {
                  "description": "Describes a relational database data source configuration.",
                  "properties": {
                    "rdsHttpEndpointConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RdsHttpEndpointConfig"
                        },
                        {
                          "description": "Amazon RDS HTTP endpoint settings."
                        }
                      ]
                    },
                    "relationalDatabaseSourceType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RelationalDatabaseSourceType"
                        },
                        {
                          "description": "<p>Source type for the relational database.</p> <ul> <li> <p> <b>RDS_HTTP_ENDPOINT</b>: The relational database source type is an Amazon RDS HTTP endpoint.</p> </li> </ul>"
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "serviceRoleArn": {
                  "description": "The AWS IAM service role ARN for the data source. The system assumes this role when accessing the data source.",
                  "type": "string"
                },
                "type": {
                  "description": "The type of the <code>DataSource</code>.",
                  "enum": [
                    "AWS_LAMBDA",
                    "AMAZON_DYNAMODB",
                    "AMAZON_ELASTICSEARCH",
                    "NONE",
                    "HTTP",
                    "RELATIONAL_DATABASE"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "name",
                "type"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDataSourceResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Creates a <code>DataSource</code> object.",
        "operationId": "CreateDataSource"
      }
    },
    "/v1/apis/{apiId}/datasources/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the data source.",
            "in": "path",
            "maxLength": 65536,
            "minLength": 1,
            "name": "name",
            "pattern": "[_A-Za-z][_0-9A-Za-z]*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDataSourceResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Deletes a <code>DataSource</code> object.",
        "operationId": "DeleteDataSource"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the data source.",
            "in": "path",
            "maxLength": 65536,
            "minLength": 1,
            "name": "name",
            "pattern": "[_A-Za-z][_0-9A-Za-z]*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataSourceResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Retrieves a <code>DataSource</code> object.",
        "operationId": "GetDataSource"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The new name for the data source.",
            "in": "path",
            "maxLength": 65536,
            "minLength": 1,
            "name": "name",
            "pattern": "[_A-Za-z][_0-9A-Za-z]*",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "The new description for the data source.",
                  "type": "string"
                },
                "dynamodbConfig": {
                  "description": "Describes an Amazon DynamoDB data source configuration.",
                  "properties": {
                    "awsRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The AWS Region."
                        }
                      ]
                    },
                    "deltaSyncConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DeltaSyncConfig"
                        },
                        {
                          "description": "The <code>DeltaSyncConfig</code> for a versioned datasource."
                        }
                      ]
                    },
                    "tableName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The table name."
                        }
                      ]
                    },
                    "useCallerCredentials": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Set to TRUE to use Amazon Cognito credentials with this data source."
                        }
                      ]
                    },
                    "versioned": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Set to TRUE to use Conflict Detection and Resolution with this data source."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "elasticsearchConfig": {
                  "description": "Describes an Elasticsearch data source configuration.",
                  "properties": {
                    "awsRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The AWS Region."
                        }
                      ]
                    },
                    "endpoint": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The endpoint."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "httpConfig": {
                  "description": "Describes an HTTP data source configuration.",
                  "properties": {
                    "authorizationConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AuthorizationConfig"
                        },
                        {
                          "description": "The authorization config in case the HTTP endpoint requires authorization."
                        }
                      ]
                    },
                    "endpoint": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The HTTP URL endpoint. You can either specify the domain name or IP, and port combination, and the URL scheme must be HTTP or HTTPS. If the port is not specified, AWS AppSync uses the default port 80 for the HTTP endpoint and port 443 for HTTPS endpoints."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "lambdaConfig": {
                  "description": "Describes an AWS Lambda data source configuration.",
                  "properties": {
                    "lambdaFunctionArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "The ARN for the Lambda function."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "relationalDatabaseConfig": {
                  "description": "Describes a relational database data source configuration.",
                  "properties": {
                    "rdsHttpEndpointConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RdsHttpEndpointConfig"
                        },
                        {
                          "description": "Amazon RDS HTTP endpoint settings."
                        }
                      ]
                    },
                    "relationalDatabaseSourceType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RelationalDatabaseSourceType"
                        },
                        {
                          "description": "<p>Source type for the relational database.</p> <ul> <li> <p> <b>RDS_HTTP_ENDPOINT</b>: The relational database source type is an Amazon RDS HTTP endpoint.</p> </li> </ul>"
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "serviceRoleArn": {
                  "description": "The new service role ARN for the data source.",
                  "type": "string"
                },
                "type": {
                  "description": "The new data source type.",
                  "enum": [
                    "AWS_LAMBDA",
                    "AMAZON_DYNAMODB",
                    "AMAZON_ELASTICSEARCH",
                    "NONE",
                    "HTTP",
                    "RELATIONAL_DATABASE"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "type"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDataSourceResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Updates a <code>DataSource</code> object.",
        "operationId": "UpdateDataSource"
      }
    },
    "/v1/apis/{apiId}/functions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The GraphQL API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.",
            "in": "query",
            "maxLength": 65536,
            "minLength": 1,
            "name": "nextToken",
            "pattern": "[\\\\S]+",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results you want the request to return.",
            "in": "query",
            "maximum": 25,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListFunctionsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "List multiple functions.",
        "operationId": "ListFunctions"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The GraphQL API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "dataSourceName": {
                  "description": "The <code>Function</code> <code>DataSource</code> name.",
                  "maxLength": 65536,
                  "minLength": 1,
                  "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                  "type": "string"
                },
                "description": {
                  "description": "The <code>Function</code> description.",
                  "type": "string"
                },
                "functionVersion": {
                  "description": "The <code>version</code> of the request mapping template. Currently the supported value is 2018-05-29. ",
                  "type": "string"
                },
                "name": {
                  "description": "The <code>Function</code> name. The function name does not have to be unique.",
                  "maxLength": 65536,
                  "minLength": 1,
                  "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                  "type": "string"
                },
                "requestMappingTemplate": {
                  "description": "The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.",
                  "maxLength": 65536,
                  "minLength": 1,
                  "type": "string"
                },
                "responseMappingTemplate": {
                  "description": "The <code>Function</code> response mapping template. ",
                  "maxLength": 65536,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "name",
                "dataSourceName",
                "functionVersion"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateFunctionResponse"
            }
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "<p>Creates a <code>Function</code> object.</p> <p>A function is a reusable entity. Multiple functions can be used to compose the resolver logic.</p>",
        "operationId": "CreateFunction"
      }
    },
    "/v1/apis/{apiId}/functions/{functionId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The GraphQL API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The <code>Function</code> ID.",
            "in": "path",
            "maxLength": 65536,
            "minLength": 1,
            "name": "functionId",
            "pattern": "[_A-Za-z][_0-9A-Za-z]*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteFunctionResponse"
            }
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Deletes a <code>Function</code>.",
        "operationId": "DeleteFunction"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The GraphQL API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The <code>Function</code> ID.",
            "in": "path",
            "maxLength": 65536,
            "minLength": 1,
            "name": "functionId",
            "pattern": "[_A-Za-z][_0-9A-Za-z]*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetFunctionResponse"
            }
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          }
        },
        "description": "Get a <code>Function</code>.",
        "operationId": "GetFunction"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The GraphQL API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The function ID.",
            "in": "path",
            "maxLength": 65536,
            "minLength": 1,
            "name": "functionId",
            "pattern": "[_A-Za-z][_0-9A-Za-z]*",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "dataSourceName": {
                  "description": "The <code>Function</code> <code>DataSource</code> name.",
                  "maxLength": 65536,
                  "minLength": 1,
                  "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                  "type": "string"
                },
                "description": {
                  "description": "The <code>Function</code> description.",
                  "type": "string"
                },
                "functionVersion": {
                  "description": "The <code>version</code> of the request mapping template. Currently the supported value is 2018-05-29. ",
                  "type": "string"
                },
                "name": {
                  "description": "The <code>Function</code> name.",
                  "maxLength": 65536,
                  "minLength": 1,
                  "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                  "type": "string"
                },
                "requestMappingTemplate": {
                  "description": "The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.",
                  "maxLength": 65536,
                  "minLength": 1,
                  "type": "string"
                },
                "responseMappingTemplate": {
                  "description": "The <code>Function</code> request mapping template. ",
                  "maxLength": 65536,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "name",
                "dataSourceName",
                "functionVersion"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateFunctionResponse"
            }
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Updates a <code>Function</code> object.",
        "operationId": "UpdateFunction"
      }
    },
    "/v1/apis/{apiId}/functions/{functionId}/resolvers": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API ID.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The Function ID.",
            "in": "path",
            "name": "functionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "An identifier that was returned from the previous call to this operation, which you can use to return the next set of items in the list.",
            "in": "query",
            "maxLength": 65536,
            "minLength": 1,
            "name": "nextToken",
            "pattern": "[\\\\S]+",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results you want the request to return.",
            "in": "query",
            "maximum": 25,
            "minimum": 0,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListResolversByFunctionResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "482": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "List the resolvers that are associated with a specific function.",
        "operationId": "ListResolversByFunction"
      }
    },
    "/v1/apis/{apiId}/schema#format": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
[...]
