{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Gmail Postmaster Tools API",
    "version": "v1beta1",
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_(2013-2017).svg"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://gmailpostmastertools.googleapis.com/$discovery/rest?version=v1beta1",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "gmailpostmastertools",
    "x-datafire": {
      "name": "google_gmailpostmastertools",
      "type": "openapi"
    }
  },
  "host": "gmailpostmastertools.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1beta1/domains": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Requested page size. Server may return fewer domains than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "The next_page_token value returned from a previous List request, if any. This is the value of ListDomainsResponse.next_page_token returned from the previous call to `ListDomains` method.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListDomainsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/postmaster.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/postmaster.readonly"
            ]
          }
        ],
        "tags": [
          "domains"
        ],
        "description": "Lists the domains that have been registered by the client. The order of domains in the response is unspecified and non-deterministic. Newly created domains will not necessarily be added to the end of this list.",
        "operationId": "gmailpostmastertools.domains.list"
      }
    },
    "/v1beta1/{name}": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The resource name of the traffic statistics to get. E.g., domains/mymail.mydomain.com/trafficStats/20160807.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TrafficStats"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/postmaster.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/postmaster.readonly"
            ]
          }
        ],
        "tags": [
          "domains"
        ],
        "description": "Get traffic statistics for a domain on a specific date. Returns PERMISSION_DENIED if user does not have permission to access TrafficStats for the domain.",
        "operationId": "gmailpostmastertools.domains.trafficStats.get"
      }
    },
    "/v1beta1/{parent}/trafficStats": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The resource name of the domain whose traffic statistics we'd like to list. It should have the form `domains/{domain_name}`, where domain_name is the fully qualified domain name.",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "in": "query",
            "name": "endDate.day",
            "type": "integer"
          },
          {
            "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "in": "query",
            "name": "endDate.month",
            "type": "integer"
          },
          {
            "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "in": "query",
            "name": "endDate.year",
            "type": "integer"
          },
          {
            "description": "Requested page size. Server may return fewer TrafficStats than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "The next_page_token value returned from a previous List request, if any. This is the value of ListTrafficStatsResponse.next_page_token returned from the previous call to `ListTrafficStats` method.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          },
          {
            "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "in": "query",
            "name": "startDate.day",
            "type": "integer"
          },
          {
            "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "in": "query",
            "name": "startDate.month",
            "type": "integer"
          },
          {
            "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "in": "query",
            "name": "startDate.year",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListTrafficStatsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/postmaster.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/postmaster.readonly"
            ]
          }
        ],
        "tags": [
          "domains"
        ],
        "description": "List traffic statistics for all available days. Returns PERMISSION_DENIED if user does not have permission to access TrafficStats for the domain.",
        "operationId": "gmailpostmastertools.domains.trafficStats.list"
      }
    }
  },
  "definitions": {
    "DeliveryError": {
      "description": "Metric on a particular delivery error type.",
      "properties": {
        "errorClass": {
          "description": "The class of delivery error.",
          "enum": [
            "DELIVERY_ERROR_CLASS_UNSPECIFIED",
            "PERMANENT_ERROR",
            "TEMPORARY_ERROR"
          ],
          "type": "string"
        },
        "errorRatio": {
          "description": "The ratio of messages where the error occurred vs all authenticated traffic.",
          "format": "double",
          "type": "number"
        },
        "errorType": {
          "description": "The type of delivery error.",
          "enum": [
            "DELIVERY_ERROR_TYPE_UNSPECIFIED",
            "RATE_LIMIT_EXCEEDED",
            "SUSPECTED_SPAM",
            "CONTENT_SPAMMY",
            "BAD_ATTACHMENT",
            "BAD_DMARC_POLICY",
            "LOW_IP_REPUTATION",
            "LOW_DOMAIN_REPUTATION",
            "IP_IN_RBL",
            "DOMAIN_IN_RBL",
            "BAD_PTR_RECORD"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Domain": {
      "description": "A registered domain resource in the Postmaster API.",
      "properties": {
        "createTime": {
          "description": "Timestamp when the user registered this domain. Assigned by the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the Domain. Domain names have the form `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
          "type": "string"
        },
        "permission": {
          "description": "User’s permission for this domain. Assigned by the server.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "OWNER",
            "READER",
            "NONE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "FeedbackLoop": {
      "description": "[Feedback loop](https://support.google.com/mail/answer/6254652) identifier information.",
      "properties": {
        "id": {
          "description": "Feedback loop identifier that uniquely identifies individual campaigns.",
          "type": "string"
        },
        "spamRatio": {
          "description": "The ratio of user marked spam messages with the identifier vs the total number of inboxed messages with that identifier.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "IpReputation": {
      "description": "IP Reputation information for a set of IPs in a specific reputation category.",
      "properties": {
        "ipCount": {
          "description": "Total number of unique IPs in this reputation category. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "format": "int64",
          "type": "string"
        },
        "numIps": {
          "description": "Total number of unique IPs in this reputation category. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/). Deprecated to be complied with ApiLinter for Quantities. Use ip_count instead.",
          "format": "int64",
          "type": "string"
        },
        "reputation": {
          "description": "The reputation category this IP reputation represents.",
          "enum": [
            "REPUTATION_CATEGORY_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "BAD"
          ],
          "type": "string"
        },
        "sampleIps": {
          "description": "A sample of IPs in this reputation category.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListDomainsResponse": {
      "description": "Response message for ListDomains.",
      "properties": {
        "domains": {
          "description": "The list of domains.",
          "items": {
            "$ref": "#/definitions/Domain"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListTrafficStatsResponse": {
      "description": "Response message for ListTrafficStats.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "trafficStats": {
          "description": "The list of TrafficStats.",
          "items": {
            "$ref": "#/definitions/TrafficStats"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TrafficStats": {
      "description": "Email traffic statistics pertaining to a specific date.",
      "properties": {
        "deliveryErrors": {
          "description": "Delivery errors for the domain. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "items": {
            "$ref": "#/definitions/DeliveryError"
          },
          "type": "array"
        },
        "dkimSuccessRatio": {
          "description": "The ratio of mail that successfully authenticated with DKIM vs. all mail that attempted to authenticate with [DKIM](http://www.dkim.org/). Spoofed mail is excluded.",
          "format": "double",
          "type": "number"
        },
        "dmarcSuccessRatio": {
          "description": "The ratio of mail that passed [DMARC](https://dmarc.org/) alignment checks vs all mail received from the domain that successfully authenticated with either of [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "format": "double",
          "type": "number"
        },
        "domainReputation": {
          "description": "Reputation of the domain.",
          "enum": [
            "REPUTATION_CATEGORY_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "BAD"
          ],
          "type": "string"
        },
        "inboundEncryptionRatio": {
          "description": "The ratio of incoming mail (to Gmail), that passed secure transport (TLS) vs all mail received from that domain. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "format": "double",
          "type": "number"
        },
        "ipReputations": {
          "description": "Reputation information pertaining to the IP addresses of the email servers for the domain. There is exactly one entry for each reputation category except REPUTATION_CATEGORY_UNSPECIFIED.",
          "items": {
            "$ref": "#/definitions/IpReputation"
          },
          "type": "array"
        },
        "name": {
          "description": "The resource name of the traffic statistics. Traffic statistic names have the form `domains/{domain}/trafficStats/{date}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com) of the domain this traffic statistics pertains to and date is the date in yyyymmdd format that these statistics corresponds to. For example: domains/mymail.mydomain.com/trafficStats/20160807",
          "type": "string"
        },
        "outboundEncryptionRatio": {
          "description": "The ratio of outgoing mail (from Gmail) that was accepted over secure transport (TLS).",
          "format": "double",
          "type": "number"
        },
        "spammyFeedbackLoops": {
          "description": "Spammy [Feedback loop identifiers] (https://support.google.com/mail/answer/6254652) with their individual spam rates. This metric only pertains to traffic that is authenticated by [DKIM](http://www.dkim.org/).",
          "items": {
            "$ref": "#/definitions/FeedbackLoop"
          },
          "type": "array"
        },
        "spfSuccessRatio": {
          "description": "The ratio of mail that successfully authenticated with SPF vs. all mail that attempted to authenticate with [SPF](http://www.openspf.org/). Spoofed mail is excluded.",
          "format": "double",
          "type": "number"
        },
        "userReportedSpamRatio": {
          "description": "The ratio of user-report spam vs. email that was sent to the inbox. This metric only pertains to emails authenticated by [DKIM](http://www.dkim.org/).",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 implicit authentication",
      "flow": "implicit",
      "scopes": {
        "https://www.googleapis.com/auth/postmaster.readonly": "See email traffic metrics for the domains you have registered in Gmail Postmaster Tools"
      },
      "type": "oauth2"
    },
    "Oauth2c": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 authorizationCode authentication",
      "flow": "accessCode",
      "scopes": {
        "https://www.googleapis.com/auth/postmaster.readonly": "See email traffic metrics for the domains you have registered in Gmail Postmaster Tools"
      },
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "type": "oauth2"
    }
  },
  "tags": [
    {
      "name": "domains"
    }
  ],
  "externalDocs": {
    "url": "https://developers.google.com/gmail/postmaster"
  },
  "x-components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "enum": [
          "1",
          "2"
        ],
        "in": "query",
        "name": "$.xgafv",
        "type": "string"
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "type": "string"
      },
      "alt": {
        "description": "Data format for response.",
        "enum": [
          "json",
          "media",
          "proto"
        ],
        "in": "query",
        "name": "alt",
        "type": "string"
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "type": "string"
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "type": "string"
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "type": "string"
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "type": "string"
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "type": "boolean"
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "type": "string"
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "type": "string"
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "type": "string"
      }
    }
  }
}