{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Provides translation between one source language and another of the same set of languages.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Translate",
    "version": "2017-07-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/translate-2017-07-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "translate",
    "x-datafire": {
      "name": "amazonaws_translate",
      "type": "openapi"
    }
  },
  "host": "translate.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=AWSShineFrontendService_20170701.CreateParallelData": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.CreateParallelData"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateParallelDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateParallelDataResponse"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Creates a parallel data resource in Amazon Translate by importing an input file from Amazon S3. Parallel data files contain examples of source phrases and their translations from your translation memory. By adding parallel data, you can influence the style, tone, and word choice in your translation output.",
        "operationId": "CreateParallelData"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.DeleteParallelData": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.DeleteParallelData"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteParallelDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteParallelDataResponse"
            }
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Deletes a parallel data resource in Amazon Translate.",
        "operationId": "DeleteParallelData"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.DeleteTerminology": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.DeleteTerminology"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteTerminologyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "A synchronous action that deletes a custom terminology.",
        "operationId": "DeleteTerminology"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.DescribeTextTranslationJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.DescribeTextTranslationJob"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeTextTranslationJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeTextTranslationJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Gets the properties associated with an asycnhronous batch translation job including name, ID, status, source and target languages, input/output S3 buckets, and so on.",
        "operationId": "DescribeTextTranslationJob"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.GetParallelData": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.GetParallelData"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetParallelDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetParallelDataResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Provides information about a parallel data resource.",
        "operationId": "GetParallelData"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.GetTerminology": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.GetTerminology"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTerminologyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTerminologyResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Retrieves a custom terminology.",
        "operationId": "GetTerminology"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.ImportTerminology": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.ImportTerminology"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportTerminologyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ImportTerminologyResponse"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Creates or updates a custom terminology, depending on whether or not one already exists for the given terminology name. Importing a terminology with the same name as an existing one will merge the terminologies based on the chosen merge strategy. Currently, the only supported merge strategy is OVERWRITE, and so the imported terminology will overwrite an existing terminology of the same name.</p> <p>If you import a terminology that overwrites an existing one, the new terminology take up to 10 minutes to fully propagate and be available for use in a translation due to cache policies with the DataPlane service that performs the translations.</p>",
        "operationId": "ImportTerminology"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.ListParallelData": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSShineFrontendService_20170701.ListParallelData"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListParallelDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListParallelDataResponse"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Provides a list of your parallel data resources in Amazon Translate.",
        "operationId": "ListParallelData"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.ListTerminologies": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSShineFrontendService_20170701.ListTerminologies"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTerminologiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTerminologiesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Provides a list of custom terminologies associated with your account.",
        "operationId": "ListTerminologies"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.ListTextTranslationJobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSShineFrontendService_20170701.ListTextTranslationJobs"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTextTranslationJobsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTextTranslationJobsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidFilterException",
            "schema": {
              "$ref": "#/definitions/InvalidFilterException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Gets a list of the batch translation jobs that you have submitted.",
        "operationId": "ListTextTranslationJobs"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.StartTextTranslationJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.StartTextTranslationJob"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartTextTranslationJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartTextTranslationJobResponse"
            }
          },
          "480": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "481": {
            "description": "UnsupportedLanguagePairException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguagePairException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Starts an asynchronous batch translation job. Batch translation jobs can be used to translate large volumes of text across multiple documents at once. For more information, see <a>async</a>.</p> <p>Batch translation jobs can be described with the <a>DescribeTextTranslationJob</a> operation, listed with the <a>ListTextTranslationJobs</a> operation, and stopped with the <a>StopTextTranslationJob</a> operation.</p> <note> <p>Amazon Translate does not support batch translation of multiple source languages at once.</p> </note>",
        "operationId": "StartTextTranslationJob"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.StopTextTranslationJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.StopTextTranslationJob"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopTextTranslationJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopTextTranslationJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p>Stops an asynchronous batch translation job that is in progress.</p> <p>If the job's state is <code>IN_PROGRESS</code>, the job will be marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state. Otherwise, the job is put into the <code>STOPPED</code> state.</p> <p>Asynchronous batch translation jobs are started with the <a>StartTextTranslationJob</a> operation. You can use the <a>DescribeTextTranslationJob</a> or <a>ListTextTranslationJobs</a> operations to get a batch translation job's <code>JobId</code>.</p>",
        "operationId": "StopTextTranslationJob"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.TranslateText": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.TranslateText"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TranslateTextRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TranslateTextResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "UnsupportedLanguagePairException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguagePairException"
            }
          },
          "484": {
            "description": "DetectedLanguageLowConfidenceException",
            "schema": {
              "$ref": "#/definitions/DetectedLanguageLowConfidenceException"
            }
          },
          "485": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "486": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "487": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "description": "Translates input text from the source language to the target language. For a list of available languages and language codes, see <a>what-is-languages</a>.",
        "operationId": "TranslateText"
      }
    },
    "/#X-Amz-Target=AWSShineFrontendService_20170701.UpdateParallelData": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSShineFrontendService_20170701.UpdateParallelData"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateParallelDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateParallelDataResponse"
            }
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "486": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "487": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "Updates a previously created parallel data resource by importing a new input file from Amazon S3.",
        "operationId": "UpdateParallelData"
      }
    }
  },
  "definitions": {
    "AppliedTerminology": {
      "description": "The custom terminology applied to the input text by Amazon Translate for the translated text response. This is optional in the response and will only be present if you specified terminology input in the request. Currently, only one terminology can be applied per TranslateText request.",
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The name of the custom terminology applied to the input text by Amazon Translate for the translated text response."
            }
          ]
        },
        "Terms": {
          "allOf": [
            {
              "$ref": "#/definitions/TermList"
            },
            {
              "description": "The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. "
            }
          ]
        }
      },
      "type": "object"
    },
    "AppliedTerminologyList": {
      "items": {
        "$ref": "#/definitions/AppliedTerminology"
      },
      "type": "array"
    },
    "BoundedLengthString": {
      "maxLength": 5000,
      "minLength": 1,
      "pattern": "[\\P{M}\\p{M}]{1,5000}",
      "type": "string"
    },
    "ClientTokenString": {
      "maxLength": 64,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "ConcurrentModificationException": {},
    "ConflictException": {},
    "ContentType": {
      "maxLength": 256,
      "pattern": "^[-\\w.]+\\/[-\\w.+]+$",
      "type": "string"
    },
    "CreateParallelDataRequest": {
      "properties": {
        "ClientToken": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientTokenString"
            },
            {
              "description": "A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "A custom description for the parallel data resource in Amazon Translate."
            }
          ]
        },
        "EncryptionKey": {
          "$ref": "#/definitions/EncryptionKey"
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region."
            }
          ]
        },
        "ParallelDataConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataConfig"
            },
            {
              "description": "Specifies the format and S3 location of the parallel data input file."
            }
          ]
        }
      },
      "required": [
        "Name",
        "ParallelDataConfig",
        "ClientToken"
      ],
      "title": "CreateParallelDataRequest",
      "type": "object"
    },
    "CreateParallelDataResponse": {
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The custom name that you assigned to the parallel data resource."
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataStatus"
            },
            {
              "description": "The status of the parallel data resource. When the resource is ready for you to use, the status is <code>ACTIVE</code>."
            }
          ]
        }
      },
      "type": "object"
    },
    "DeleteParallelDataRequest": {
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The name of the parallel data resource that is being deleted."
            }
          ]
        }
      },
      "required": [
        "Name"
      ],
      "title": "DeleteParallelDataRequest",
      "type": "object"
    },
    "DeleteParallelDataResponse": {
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The name of the parallel data resource that is being deleted."
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataStatus"
            },
            {
              "description": "The status of the parallel data deletion."
            }
          ]
        }
      },
      "type": "object"
    },
    "DeleteTerminologyRequest": {
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The name of the custom terminology being deleted. "
            }
          ]
        }
      },
      "required": [
        "Name"
      ],
      "title": "DeleteTerminologyRequest",
      "type": "object"
    },
    "DescribeTextTranslationJobRequest": {
      "properties": {
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The identifier that Amazon Translate generated for the job. The <a>StartTextTranslationJob</a> operation returns this identifier in its response."
            }
          ]
        }
      },
      "required": [
        "JobId"
      ],
      "title": "DescribeTextTranslationJobRequest",
      "type": "object"
    },
    "DescribeTextTranslationJobResponse": {
      "properties": {
        "TextTranslationJobProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/TextTranslationJobProperties"
            },
            {
              "description": "An object that contains the properties associated with an asynchronous batch translation job."
            }
          ]
        }
      },
      "type": "object"
    },
    "Description": {
      "maxLength": 256,
      "pattern": "[\\P{M}\\p{M}]{0,256}",
      "type": "string"
    },
    "DetectedLanguageLowConfidenceException": {},
    "EncryptionKey": {
      "description": "The encryption key used to encrypt this object.",
      "properties": {
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/EncryptionKeyID"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology."
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/EncryptionKeyType"
            },
            {
              "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies."
            }
          ]
        }
      },
      "required": [
        "Type",
        "Id"
      ],
      "type": "object"
    },
    "EncryptionKeyID": {
      "maxLength": 400,
      "minLength": 1,
      "pattern": "(arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:kms:)?([a-z]{2}-[a-z]+(-[a-z]+)?-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
      "type": "string"
    },
    "EncryptionKeyType": {
      "enum": [
        "KMS"
      ],
      "type": "string"
    },
    "GetParallelDataRequest": {
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The name of the parallel data resource that is being retrieved."
            }
          ]
        }
      },
      "required": [
        "Name"
      ],
      "title": "GetParallelDataRequest",
      "type": "object"
    },
    "GetParallelDataResponse": {
      "properties": {
        "AuxiliaryDataLocation": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataDataLocation"
            },
            {
              "description": "The Amazon S3 location of a file that provides any errors or warnings that were produced by your input file. This file was created when Amazon Translate attempted to create a parallel data resource. The location is returned as a presigned URL to that has a 30 minute expiration."
            }
          ]
        },
        "DataLocation": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataDataLocation"
            },
            {
              "description": "The location of the most recent parallel data input file that was successfully imported into Amazon Translate. The location is returned as a presigned URL that has a 30 minute expiration."
            }
          ]
        },
        "LatestUpdateAttemptAuxiliaryDataLocation": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataDataLocation"
            },
            {
              "description": "The Amazon S3 location of a file that provides any errors or warnings that were produced by your input file. This file was created when Amazon Translate attempted to update a parallel data resource. The location is returned as a presigned URL to that has a 30 minute expiration."
            }
          ]
        },
        "ParallelDataProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataProperties"
            },
            {
              "description": "The properties of the parallel data resource that is being retrieved."
            }
          ]
        }
      },
      "type": "object"
    },
    "GetTerminologyRequest": {
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The name of the custom terminology being retrieved."
            }
          ]
        },
        "TerminologyDataFormat": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyDataFormat"
            },
            {
              "description": "The data format of the custom terminology being retrieved, either CSV or TMX."
            }
          ]
        }
      },
      "required": [
        "Name",
        "TerminologyDataFormat"
      ],
      "title": "GetTerminologyRequest",
      "type": "object"
    },
    "GetTerminologyResponse": {
      "properties": {
        "TerminologyDataLocation": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyDataLocation"
            },
            {
              "description": "The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration."
            }
          ]
        },
        "TerminologyProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyProperties"
            },
            {
              "description": "The properties of the custom terminology being retrieved."
            }
          ]
        }
      },
      "type": "object"
    },
    "IamRoleArn": {
      "maxLength": 2048,
      "minLength": 20,
      "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+",
      "type": "string"
    },
    "ImportTerminologyRequest": {
      "properties": {
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "The description of the custom terminology being imported."
            }
          ]
        },
        "EncryptionKey": {
          "allOf": [
            {
              "$ref": "#/definitions/EncryptionKey"
            },
            {
              "description": "The encryption key for the custom terminology being imported."
            }
          ]
        },
        "MergeStrategy": {
          "allOf": [
            {
              "$ref": "#/definitions/MergeStrategy"
            },
            {
              "description": "The merge strategy of the custom terminology being imported. Currently, only the OVERWRITE merge strategy is supported. In this case, the imported terminology will overwrite an existing terminology of the same name."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The name of the custom terminology being imported."
            }
          ]
        },
        "TerminologyData": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyData"
            },
            {
              "description": "The terminology data for the custom terminology being imported."
            }
          ]
        }
      },
      "required": [
        "Name",
        "MergeStrategy",
        "TerminologyData"
      ],
      "title": "ImportTerminologyRequest",
      "type": "object"
    },
    "ImportTerminologyResponse": {
      "properties": {
        "TerminologyProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyProperties"
            },
            {
              "description": "The properties of the custom terminology being imported."
            }
          ]
        }
      },
      "type": "object"
    },
    "InputDataConfig": {
      "description": "The input configuration properties for requesting a batch translation job.",
      "properties": {
        "ContentType": {
          "allOf": [
            {
              "$ref": "#/definitions/ContentType"
            },
            {
              "description": "<p>Describes the format of the data that you submit to Amazon Translate as input. You can specify one of the following multipurpose internet mail extension (MIME) types:</p> <ul> <li> <p> <code>text/html</code>: The input data consists of one or more HTML files. Amazon Translate translates only the text that resides in the <code>html</code> element in each file.</p> </li> <li> <p> <code>text/plain</code>: The input data consists of one or more unformatted text files. Amazon Translate translates every character in this type of input.</p> </li> <li> <p> <code>application/vnd.openxmlformats-officedocument.wordprocessingml.document</code>: The input data consists of one or more Word documents (.docx).</p> </li> <li> <p> <code>application/vnd.openxmlformats-officedocument.presentationml.presentation</code>: The input data consists of one or more PowerPoint Presentation files (.pptx).</p> </li> <li> <p> <code>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</code>: The input data consists of one or more Excel Workbook files (.xlsx).</p> </li> </ul> <important> <p>If you structure your input data as HTML, ensure that you set this parameter to <code>text/html</code>. By doing so, you cut costs by limiting the translation to the contents of the <code>html</code> element in each file. Otherwise, if you set this parameter to <code>text/plain</code>, your costs will cover the translation of every character.</p> </important>"
            }
          ]
        },
        "S3Uri": {
          "allOf": [
            {
              "$ref": "#/definitions/S3Uri"
            },
            {
              "description": "The URI of the AWS S3 folder that contains the input file. The folder must be in the same Region as the API endpoint you are calling."
            }
          ]
        }
      },
      "required": [
        "S3Uri",
        "ContentType"
      ],
      "type": "object"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {},
    "InvalidFilterException": {},
    "InvalidParameterValueException": {},
    "InvalidRequestException": {},
    "JobDetails": {
      "description": "The number of documents successfully and unsuccessfully processed during a translation job.",
      "properties": {
        "DocumentsWithErrorsCount": {
          "allOf": [
            {
              "$ref": "#/definitions/Integer"
            },
            {
              "description": "The number of documents that could not be processed during a translation job."
            }
          ]
        },
        "InputDocumentsCount": {
          "allOf": [
            {
              "$ref": "#/definitions/Integer"
            },
            {
              "description": "The number of documents used as input in a translation job."
            }
          ]
        },
        "TranslatedDocumentsCount": {
          "allOf": [
            {
              "$ref": "#/definitions/Integer"
            },
            {
              "description": "The number of documents successfully processed during a translation job."
            }
          ]
        }
      },
      "type": "object"
    },
    "JobId": {
      "maxLength": 32,
      "minLength": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "type": "string"
    },
    "JobName": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "type": "string"
    },
    "JobStatus": {
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "COMPLETED_WITH_ERROR",
        "FAILED",
        "STOP_REQUESTED",
        "STOPPED"
      ],
      "type": "string"
    },
    "LanguageCodeString": {
      "maxLength": 5,
      "minLength": 2,
      "type": "string"
    },
    "LanguageCodeStringList": {
      "items": {
        "$ref": "#/definitions/LanguageCodeString"
      },
      "type": "array"
    },
    "LimitExceededException": {},
    "ListParallelDataRequest": {
      "properties": {
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResultsInteger"
            },
            {
              "description": "The maximum number of parallel data resources returned for each request."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "A string that specifies the next page of results to return in a paginated response."
            }
          ]
        }
      },
      "title": "ListParallelDataRequest",
      "type": "object"
    },
    "ListParallelDataResponse": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "The string to use in a subsequent request to get the next page of results in a paginated response. This value is null if there are no additional pages."
            }
          ]
        },
        "ParallelDataPropertiesList": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataPropertiesList"
            },
            {
              "description": "The properties of the parallel data resources returned by this request."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListTerminologiesRequest": {
      "properties": {
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResultsInteger"
            },
            {
              "description": "The maximum number of custom terminologies returned per list request."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "If the result of the request to ListTerminologies was truncated, include the NextToken to fetch the next group of custom terminologies. "
            }
          ]
        }
      },
      "title": "ListTerminologiesRequest",
      "type": "object"
    },
    "ListTerminologiesResponse": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": " If the response to the ListTerminologies was truncated, the NextToken fetches the next group of custom terminologies."
            }
          ]
        },
        "TerminologyPropertiesList": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyPropertiesList"
            },
            {
              "description": "The properties list of the custom terminologies returned on the list request."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListTextTranslationJobsRequest": {
      "properties": {
        "Filter": {
          "allOf": [
            {
              "$ref": "#/definitions/TextTranslationJobFilter"
            },
            {
              "description": "The parameters that specify which batch translation jobs to retrieve. Filters include job name, job status, and submission time. You can only set one filter at a time."
            }
          ]
        },
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResultsInteger"
            },
            {
              "description": "The maximum number of results to return in each page. The default value is 100."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "The token to request the next page of results."
            }
          ]
        }
      },
      "title": "ListTextTranslationJobsRequest",
      "type": "object"
    },
    "ListTextTranslationJobsResponse": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "The token to use to retreive the next page of results. This value is <code>null</code> when there are no more results to return."
            }
          ]
        },
        "TextTranslationJobPropertiesList": {
          "allOf": [
            {
              "$ref": "#/definitions/TextTranslationJobPropertiesList"
            },
            {
              "description": "A list containing the properties of each job that is returned."
            }
          ]
        }
      },
      "type": "object"
    },
    "Long": {
      "type": "integer"
    },
    "MaxResultsInteger": {
      "maximum": 500,
      "minimum": 1,
      "type": "integer"
    },
    "MergeStrategy": {
      "enum": [
        "OVERWRITE"
      ],
      "type": "string"
    },
    "NextToken": {
      "maxLength": 8192,
      "pattern": "\\p{ASCII}{0,8192}",
      "type": "string"
    },
    "OutputDataConfig": {
      "description": "The output configuration properties for a batch translation job.",
      "properties": {
        "S3Uri": {
          "allOf": [
            {
              "$ref": "#/definitions/S3Uri"
            },
            {
              "description": "The URI of the S3 folder that contains a translation job's output file. The folder must be in the same Region as the API endpoint that you are calling."
            }
          ]
        }
      },
      "required": [
        "S3Uri"
      ],
      "type": "object"
    },
    "ParallelDataArn": {
      "maxLength": 512,
      "minLength": 1,
      "type": "string"
    },
    "ParallelDataConfig": {
      "description": "Specifies the format and S3 location of the parallel data input file.",
      "properties": {
        "Format": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataFormat"
            },
            {
              "description": "The format of the parallel data input file."
            }
          ]
        },
        "S3Uri": {
          "allOf": [
            {
              "$ref": "#/definitions/S3Uri"
            },
            {
              "description": "The URI of the Amazon S3 folder that contains the parallel data input file. The folder must be in the same Region as the API endpoint you are calling."
            }
          ]
        }
      },
      "required": [
        "S3Uri",
        "Format"
      ],
      "type": "object"
    },
    "ParallelDataDataLocation": {
      "description": "The location of the most recent parallel data input file that was successfully imported into Amazon Translate.",
      "properties": {
        "Location": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The Amazon S3 location of the parallel data input file. The location is returned as a presigned URL to that has a 30 minute expiration."
            }
          ]
        },
        "RepositoryType": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "Describes the repository that contains the parallel data input file."
            }
          ]
        }
      },
      "required": [
        "RepositoryType",
        "Location"
      ],
      "type": "object"
    },
    "ParallelDataFormat": {
      "enum": [
        "TSV",
        "CSV",
        "TMX"
      ],
      "type": "string"
    },
    "ParallelDataProperties": {
      "description": "The properties of a parallel data resource.",
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataArn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the parallel data resource."
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The time at which the parallel data resource was created."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "The description assigned to the parallel data resource."
            }
          ]
        },
        "EncryptionKey": {
          "$ref": "#/definitions/EncryptionKey"
        },
        "FailedRecordCount": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The number of records unsuccessfully imported from the parallel data input file."
            }
          ]
        },
        "ImportedDataSize": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The number of UTF-8 characters that Amazon Translate imported from the parallel data input file. This number includes only the characters in your translation examples. It does not include characters that are used to format your file. For example, if you provided a Translation Memory Exchange (.tmx) file, this number does not include the tags."
            }
          ]
        },
        "ImportedRecordCount": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The number of records successfully imported from the parallel data input file."
            }
          ]
        },
        "LastUpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The time at which the parallel data resource was last updated."
            }
          ]
        },
        "LatestUpdateAttemptAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The time that the most recent update was attempted."
            }
          ]
        },
        "LatestUpdateAttemptStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataStatus"
            },
            {
              "description": "The status of the most recent update attempt for the parallel data resource."
            }
          ]
        },
        "Message": {
          "allOf": [
            {
              "$ref": "#/definitions/UnboundedLengthString"
            },
            {
              "description": "Additional information from Amazon Translate about the parallel data resource. "
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The custom name assigned to the parallel data resource."
            }
          ]
        },
        "ParallelDataConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataConfig"
            },
            {
              "description": "Specifies the format and S3 location of the parallel data input file."
            }
          ]
        },
        "SkippedRecordCount": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The number of items in the input file that Amazon Translate skipped when you created or updated the parallel data resource. For example, Amazon Translate skips empty records, empty target texts, and empty lines."
            }
          ]
        },
        "SourceLanguageCode": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeString"
            },
            {
              "description": "The source language of the translations in the parallel data file."
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/ParallelDataStatus"
            },
            {
              "description": "The status of the parallel data resource. When the parallel data is ready for you to use, the status is <code>ACTIVE</code>."
            }
          ]
        },
        "TargetLanguageCodes": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeStringList"
            },
            {
              "description": "The language codes for the target languages available in the parallel data file. All possible target languages are returned as an array."
            }
          ]
        }
      },
      "type": "object"
    },
    "ParallelDataPropertiesList": {
      "items": {
        "$ref": "#/definitions/ParallelDataProperties"
      },
      "type": "array"
    },
    "ParallelDataStatus": {
      "enum": [
        "CREATING",
        "UPDATING",
        "ACTIVE",
        "DELETING",
        "FAILED"
      ],
      "type": "string"
    },
    "ResourceName": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "^([A-Za-z0-9-]_?)+$",
      "type": "string"
    },
    "ResourceNameList": {
      "items": {
        "$ref": "#/definitions/ResourceName"
      },
      "type": "array"
    },
    "ResourceNotFoundException": {},
    "S3Uri": {
      "maxLength": 1024,
      "pattern": "s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?",
      "type": "string"
    },
    "ServiceUnavailableException": {},
    "StartTextTranslationJobRequest": {
      "properties": {
        "ClientToken": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientTokenString"
            },
            {
              "description": "A unique identifier for the request. This token is auto-generated when using the Amazon Translate SDK."
            }
          ]
        },
        "DataAccessRoleArn": {
          "allOf": [
            {
              "$ref": "#/definitions/IamRoleArn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of an AWS Identity Access and Management (IAM) role that grants Amazon Translate read access to your input data. For more nformation, see <a>identity-and-access-management</a>."
            }
          ]
        },
        "InputDataConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/InputDataConfig"
            },
            {
              "description": "Specifies the format and S3 location of the input documents for the translation job."
            }
          ]
        },
        "JobName": {
          "allOf": [
            {
              "$ref": "#/definitions/JobName"
            },
            {
              "description": "The name of the batch translation job to be performed."
            }
          ]
        },
        "OutputDataConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/OutputDataConfig"
            },
            {
              "description": "Specifies the S3 folder to which your job output will be saved. "
            }
          ]
        },
        "ParallelDataNames": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceNameList"
            },
            {
              "description": "The names of the parallel data resources to use in the batch translation job. For a list of available parallel data resources, use the <a>ListParallelData</a> operation."
            }
          ]
        },
        "SourceLanguageCode": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeString"
            },
            {
              "description": "<p>The language code of the input language. For a list of language codes, see <a>what-is-languages</a>.</p> <p>Amazon Translate does not automatically detect a source language during batch translation jobs.</p>"
            }
          ]
        },
        "TargetLanguageCodes": {
          "allOf": [
            {
              "$ref": "#/definitions/TargetLanguageCodeStringList"
            },
            {
              "description": "The language code of the output language."
            }
          ]
        },
        "TerminologyNames": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceNameList"
            },
            {
              "description": "The name of the terminology to use in the batch translation job. For a list of available terminologies, use the <a>ListTerminologies</a> operation."
            }
          ]
        }
      },
      "required": [
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "SourceLanguageCode",
        "TargetLanguageCodes",
        "ClientToken"
      ],
      "title": "StartTextTranslationJobRequest",
      "type": "object"
    },
    "StartTextTranslationJobResponse": {
      "properties": {
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The identifier generated for the job. To get the status of a job, use this ID with the <a>DescribeTextTranslationJob</a> operation."
            }
          ]
        },
        "JobStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/JobStatus"
            },
            {
              "description": "<p>The status of the job. Possible values include:</p> <ul> <li> <p> <code>SUBMITTED</code> - The job has been received and is queued for processing.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Amazon Translate is processing the job.</p> </li> <li> <p> <code>COMPLETED</code> - The job was successfully completed and the output is available.</p> </li> <li> <p> <code>COMPLETED_WITH_ERROR</code> - The job was completed with errors. The errors can be analyzed in the job's output.</p> </li> <li> <p> <code>FAILED</code> - The job did not complete. To get details, use the <a>DescribeTextTranslationJob</a> operation.</p> </li> <li> <p> <code>STOP_REQUESTED</code> - The user who started the job has requested that it be stopped.</p> </li> <li> <p> <code>STOPPED</code> - The job has been stopped.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "StopTextTranslationJobRequest": {
      "properties": {
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The job ID of the job to be stopped."
            }
          ]
        }
      },
      "required": [
        "JobId"
      ],
      "title": "StopTextTranslationJobRequest",
      "type": "object"
    },
    "StopTextTranslationJobResponse": {
      "properties": {
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The job ID of the stopped batch translation job."
            }
          ]
        },
        "JobStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/JobStatus"
            },
            {
              "description": "The status of the designated job. Upon successful completion, the job's status will be <code>STOPPED</code>."
            }
          ]
        }
      },
      "type": "object"
    },
    "String": {
      "maxLength": 10000,
      "pattern": "[\\P{M}\\p{M}]{0,10000}",
      "type": "string"
    },
    "TargetLanguageCodeStringList": {
      "items": {
        "$ref": "#/definitions/LanguageCodeString"
      },
      "maxItems": 1,
      "minItems": 1,
      "type": "array"
    },
    "Term": {
      "description": "The term being translated by the custom terminology.",
      "properties": {
        "SourceText": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The source text of the term being translated by the custom terminology."
            }
          ]
        },
        "TargetText": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The target text of the term being translated by the custom terminology."
            }
          ]
        }
      },
      "type": "object"
    },
    "TermList": {
      "items": {
        "$ref": "#/definitions/Term"
      },
      "type": "array"
    },
    "TerminologyArn": {
      "maxLength": 512,
      "minLength": 1,
      "type": "string"
    },
    "TerminologyData": {
      "description": "The data associated with the custom terminology.",
      "properties": {
        "File": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyFile"
            },
            {
              "description": "The file containing the custom terminology data. Your version of the AWS SDK performs a Base64-encoding on this field before sending a request to the AWS service. Users of the SDK should not perform Base64-encoding themselves."
            }
          ]
        },
        "Format": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyDataFormat"
            },
            {
              "description": "The data format of the custom terminology. Either CSV or TMX."
            }
          ]
        }
      },
      "required": [
        "File",
        "Format"
      ],
      "type": "object"
    },
    "TerminologyDataFormat": {
      "enum": [
        "CSV",
        "TMX"
      ],
      "type": "string"
    },
    "TerminologyDataLocation": {
      "description": "The location of the custom terminology data.",
      "properties": {
        "Location": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The location of the custom terminology data."
            }
          ]
        },
        "RepositoryType": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The repository type for the custom terminology data."
            }
          ]
        }
      },
      "required": [
        "RepositoryType",
        "Location"
      ],
      "type": "object"
    },
    "TerminologyFile": {
      "format": "password",
      "maxLength": 10485760,
      "type": "string"
    },
    "TerminologyProperties": {
      "description": "The properties of the custom terminology.",
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/TerminologyArn"
            },
            {
              "description": " The Amazon Resource Name (ARN) of the custom terminology. "
            }
          ]
        },
        "CreatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The time at which the custom terminology was created, based on the timestamp."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "The description of the custom terminology properties."
            }
          ]
        },
        "EncryptionKey": {
          "allOf": [
            {
              "$ref": "#/definitions/EncryptionKey"
            },
            {
              "description": "The encryption key for the custom terminology."
            }
          ]
        },
        "LastUpdatedAt": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The time at which the custom terminology was last update, based on the timestamp."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "The name of the custom terminology."
            }
          ]
        },
        "SizeBytes": {
          "allOf": [
            {
              "$ref": "#/definitions/Integer"
            },
            {
              "description": "The size of the file used when importing a custom terminology."
            }
          ]
        },
        "SourceLanguageCode": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeString"
            },
            {
              "description": "The language code for the source text of the translation request for which the custom terminology is being used."
            }
          ]
        },
        "TargetLanguageCodes": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeStringList"
            },
            {
              "description": "The language codes for the target languages available with the custom terminology file. All possible target languages are returned in array."
            }
          ]
        },
        "TermCount": {
          "allOf": [
            {
              "$ref": "#/definitions/Integer"
            },
            {
              "description": "The number of terms included in the custom terminology."
            }
          ]
        }
      },
      "type": "object"
    },
    "TerminologyPropertiesList": {
      "items": {
        "$ref": "#/definitions/TerminologyProperties"
      },
      "type": "array"
    },
    "TextSizeLimitExceededException": {},
    "TextTranslationJobFilter": {
      "description": "Provides information for filtering a list of translation jobs. For more information, see <a>ListTextTranslationJobs</a>.",
      "properties": {
        "JobName": {
          "allOf": [
            {
              "$ref": "#/definitions/JobName"
            },
            {
              "description": "Filters the list of jobs by name."
            }
          ]
        },
        "JobStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/JobStatus"
            },
            {
              "description": "Filters the list of jobs based by job status."
            }
          ]
        },
        "SubmittedAfterTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "Filters the list of jobs based on the time that the job was submitted for processing and returns only the jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest."
            }
          ]
        },
        "SubmittedBeforeTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "Filters the list of jobs based on the time that the job was submitted for processing and returns only the jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest."
            }
          ]
        }
      },
      "type": "object"
    },
    "TextTranslationJobProperties": {
      "description": "Provides information about a translation job.",
      "properties": {
        "DataAccessRoleArn": {
          "allOf": [
            {
              "$ref": "#/definitions/IamRoleArn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of an AWS Identity Access and Management (IAM) role that granted Amazon Translate read access to the job's input data."
            }
          ]
        },
        "EndTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The time at which the translation job ended."
            }
          ]
        },
        "InputDataConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/InputDataConfig"
            },
            {
              "description": "The input configuration properties that were specified when the job was requested."
            }
          ]
        },
        "JobDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/JobDetails"
            },
            {
              "description": "The number of documents successfully and unsuccessfully processed during the translation job."
            }
          ]
        },
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The ID of the translation job."
            }
          ]
        },
        "JobName": {
          "allOf": [
            {
              "$ref": "#/definitions/JobName"
            },
            {
              "description": "The user-defined name of the translation job."
            }
          ]
        },
        "JobStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/JobStatus"
            },
            {
              "description": "The status of the translation job."
            }
          ]
        },
        "Message": {
          "allOf": [
            {
              "$ref": "#/definitions/UnboundedLengthString"
            },
            {
              "description": "An explanation of any errors that may have occured during the translation job."
            }
          ]
        },
        "OutputDataConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/OutputDataConfig"
            },
            {
              "description": "The output configuration properties that were specified when the job was requested."
            }
          ]
        },
        "ParallelDataNames": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceNameList"
            },
            {
              "description": "A list containing the names of the parallel data resources applied to the translation job."
            }
          ]
        },
        "SourceLanguageCode": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeString"
            },
            {
              "description": "The language code of the language of the source text. The language must be a language supported by Amazon Translate."
            }
          ]
        },
        "SubmittedTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The time at which the translation job was submitted."
            }
          ]
        },
        "TargetLanguageCodes": {
          "allOf": [
            {
              "$ref": "#/definitions/TargetLanguageCodeStringList"
            },
            {
              "description": "The language code of the language of the target text. The language must be a language supported by Amazon Translate."
            }
          ]
        },
        "TerminologyNames": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceNameList"
            },
            {
              "description": "A list containing the names of the terminologies applied to a translation job. Only one terminology can be applied per <a>StartTextTranslationJob</a> request at this time."
            }
          ]
        }
      },
      "type": "object"
    },
    "TextTranslationJobPropertiesList": {
      "items": {
        "$ref": "#/definitions/TextTranslationJobProperties"
      },
      "type": "array"
    },
    "Timestamp": {
      "format": "date-time",
      "type": "string"
    },
    "TooManyRequestsException": {},
    "TranslateTextRequest": {
      "properties": {
        "SourceLanguageCode": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeString"
            },
            {
              "description": "<p>The language code for the language of the source text. The language must be a language supported by Amazon Translate. For a list of language codes, see <a>what-is-languages</a>.</p> <p>To have Amazon Translate determine the source language of your text, you can specify <code>auto</code> in the <code>SourceLanguageCode</code> field. If you specify <code>auto</code>, Amazon Translate will call <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/comprehend-general.html\">Amazon Comprehend</a> to determine the source language.</p>"
            }
          ]
        },
        "TargetLanguageCode": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeString"
            },
            {
              "description": "The language code requested for the language of the target text. The language must be a language supported by Amazon Translate."
            }
          ]
        },
        "TerminologyNames": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceNameList"
            },
            {
              "description": "The name of the terminology list file to be used in the TranslateText request. You can use 1 terminology list at most in a <code>TranslateText</code> request. Terminology lists can contain a maximum of 256 terms."
            }
          ]
        },
        "Text": {
          "allOf": [
            {
              "$ref": "#/definitions/BoundedLengthString"
            },
            {
              "description": "The text to translate. The text string can be a maximum of 5,000 bytes long. Depending on your character set, this may be fewer than 5,000 characters."
            }
          ]
        }
      },
      "required": [
        "Text",
        "SourceLanguageCode",
        "TargetLanguageCode"
      ],
      "title": "TranslateTextRequest",
      "type": "object"
    },
    "TranslateTextResponse": {
      "properties": {
        "AppliedTerminologies": {
          "allOf": [
            {
              "$ref": "#/definitions/AppliedTerminologyList"
            },
            {
              "description": "The names of the custom terminologies applied to the input text by Amazon Translate for the translated text response."
            }
          ]
        },
        "SourceLanguageCode": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeString"
            },
            {
              "description": "The language code for the language of the source text."
            }
          ]
        },
        "TargetLanguageCode": {
          "allOf": [
            {
              "$ref": "#/definitions/LanguageCodeString"
            },
            {
              "description": "The language code for the language of the target text. "
            }
          ]
        },
        "TranslatedText": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The translated text."
            }
          ]
        }
      },
      "required": [
        "TranslatedText",
        "SourceLanguageCode",
        "TargetLanguageCode"
      ],
      "type": "object"
    },
    "UnboundedLengthString": {
      "type": "string"
    },
    "UnsupportedLanguagePairException": {},
    "UpdateParallelDataRequest": {
      "properties": {
        "ClientToken": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientTokenString"
            },
            {
[...]
