{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Allow select enterprise partners to access, control, and manage Google and Nest devices programmatically.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Smart Device Management API",
    "version": "v1",
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_(2013-2017).svg"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://smartdevicemanagement.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "smartdevicemanagement",
    "x-datafire": {
      "name": "google_smartdevicemanagement",
      "type": "openapi"
    }
  },
  "host": "smartdevicemanagement.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/{name}": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the room requested. For example: \"enterprises/XYZ/structures/ABC/rooms/123\".",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1Room"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/sdm.service"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/sdm.service"
            ]
          }
        ],
        "tags": [
          "enterprises"
        ],
        "description": "Gets a room managed by the enterprise.",
        "operationId": "smartdevicemanagement.enterprises.structures.rooms.get"
      }
    },
    "/v1/{name}:executeCommand": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the device requested. For example: \"enterprises/XYZ/devices/123\"",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/sdm.service"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/sdm.service"
            ]
          }
        ],
        "tags": [
          "enterprises"
        ],
        "description": "Executes a command to device managed by the enterprise.",
        "operationId": "smartdevicemanagement.enterprises.devices.executeCommand"
      }
    },
    "/v1/{parent}/devices": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The parent enterprise to list devices under. E.g. \"enterprises/XYZ\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional filter to list devices. Filters can be done on: Device custom name (substring match): 'customName=wing'",
            "in": "query",
            "name": "filter",
            "type": "string"
          },
          {
            "description": "Optional requested page size. Server may return fewer devices than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Optional token of the page to retrieve.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1ListDevicesResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/sdm.service"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/sdm.service"
            ]
          }
        ],
        "tags": [
          "enterprises"
        ],
        "description": "Lists devices managed by the enterprise.",
        "operationId": "smartdevicemanagement.enterprises.devices.list"
      }
    },
    "/v1/{parent}/rooms": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The parent resource name of the rooms requested. For example: \"enterprises/XYZ/structures/ABC\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Requested page size. Server may return fewer rooms than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "The token of the page to retrieve.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1ListRoomsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/sdm.service"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/sdm.service"
            ]
          }
        ],
        "tags": [
          "enterprises"
        ],
        "description": "Lists rooms managed by the enterprise.",
        "operationId": "smartdevicemanagement.enterprises.structures.rooms.list"
      }
    },
    "/v1/{parent}/structures": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The parent enterprise to list structures under. E.g. \"enterprises/XYZ\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional filter to list structures.",
            "in": "query",
            "name": "filter",
            "type": "string"
          },
          {
            "description": "Requested page size. Server may return fewer structures than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "The token of the page to retrieve.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1ListStructuresResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/sdm.service"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/sdm.service"
            ]
          }
        ],
        "tags": [
          "enterprises"
        ],
        "description": "Lists structures managed by the enterprise.",
        "operationId": "smartdevicemanagement.enterprises.structures.list"
      }
    }
  },
  "definitions": {
    "GoogleHomeEnterpriseSdmV1Device": {
      "description": "Device resource represents an instance of enterprise managed device in the property.",
      "properties": {
        "name": {
          "description": "Required. The resource name of the device. For example: \"enterprises/XYZ/devices/123\".",
          "type": "string"
        },
        "parentRelations": {
          "description": "Assignee details of the device.",
          "items": {
            "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1ParentRelation"
          },
          "type": "array"
        },
        "traits": {
          "additionalProperties": {
            "description": "Properties of the object."
          },
          "description": "Output only. Device traits.",
          "readOnly": true,
          "type": "object"
        },
        "type": {
          "description": "Output only. Type of the device for general display purposes. For example: \"THERMOSTAT\". The device type should not be used to deduce or infer functionality of the actual device it is assigned to. Instead, use the returned traits for the device.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest": {
      "description": "Request message for SmartDeviceManagementService.ExecuteDeviceCommand",
      "properties": {
        "command": {
          "description": "The command name to execute, represented by the fully qualified protobuf message name.",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "description": "Properties of the object."
          },
          "description": "The command message to execute, represented as a Struct.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse": {
      "description": "Response message for SmartDeviceManagementService.ExecuteDeviceCommand",
      "properties": {
        "results": {
          "additionalProperties": {
            "description": "Properties of the object."
          },
          "description": "The results of executing the command.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1ListDevicesResponse": {
      "description": "Response message for SmartDeviceManagementService.ListDevices",
      "properties": {
        "devices": {
          "description": "The list of devices.",
          "items": {
            "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1Device"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1ListRoomsResponse": {
      "description": "Response message for SmartDeviceManagementService.ListRooms",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "rooms": {
          "description": "The list of rooms.",
          "items": {
            "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1Room"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1ListStructuresResponse": {
      "description": "Response message for SmartDeviceManagementService.ListStructures",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "structures": {
          "description": "The list of structures.",
          "items": {
            "$ref": "#/definitions/GoogleHomeEnterpriseSdmV1Structure"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1ParentRelation": {
      "description": "Represents device relationships, for instance, structure/room to which the device is assigned to. For now this is only filled in the enterprise flow.",
      "properties": {
        "displayName": {
          "description": "Output only. The custom name of the relation -- e.g., structure/room where the device is assigned to.",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "Output only. The name of the relation -- e.g., structure/room where the device is assigned to. For example: \"enterprises/XYZ/structures/ABC\" or \"enterprises/XYZ/structures/ABC/rooms/123\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1Room": {
      "description": "Room resource represents an instance of sub-space within a structure such as rooms in a hotel suite or rental apartment.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the room. For example: \"enterprises/XYZ/structures/ABC/rooms/123\".",
          "readOnly": true,
          "type": "string"
        },
        "traits": {
          "additionalProperties": {
            "description": "Properties of the object."
          },
          "description": "Room traits.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1Structure": {
      "description": "Structure resource represents an instance of enterprise managed home or hotel room.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the structure. For example: \"enterprises/XYZ/structures/ABC\".",
          "readOnly": true,
          "type": "string"
        },
        "traits": {
          "additionalProperties": {
            "description": "Properties of the object."
          },
          "description": "Structure traits.",
          "type": "object"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 implicit authentication",
      "flow": "implicit",
      "scopes": {
        "https://www.googleapis.com/auth/sdm.service": "See and/or control the devices that you selected"
      },
      "type": "oauth2"
    },
    "Oauth2c": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 authorizationCode authentication",
      "flow": "accessCode",
      "scopes": {
        "https://www.googleapis.com/auth/sdm.service": "See and/or control the devices that you selected"
      },
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "type": "oauth2"
    }
  },
  "tags": [
    {
      "name": "enterprises"
    }
  ],
  "externalDocs": {
    "url": "https://developers.google.com/nest/device-access"
  },
  "x-components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "enum": [
          "1",
          "2"
        ],
        "in": "query",
        "name": "$.xgafv",
        "type": "string"
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "type": "string"
      },
      "alt": {
        "description": "Data format for response.",
        "enum": [
          "json",
          "media",
          "proto"
        ],
        "in": "query",
        "name": "alt",
        "type": "string"
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "type": "string"
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "type": "string"
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "type": "string"
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "type": "string"
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "type": "boolean"
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "type": "string"
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "type": "string"
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "type": "string"
      }
    }
  }
}