{
  "swagger": "2.0",
  "info": {
    "description": "API to access NetBox",
    "license": {
      "name": "Apache v2 License"
    },
    "termsOfService": "https://github.com/netbox-community/netbox",
    "title": "NetBox API",
    "version": "2.8",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://netboxdemo.com/api/swagger.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "netboxdemo.com",
    "x-datafire": {
      "name": "netboxdemo",
      "type": "openapi"
    }
  },
  "host": "netboxdemo.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/circuits/circuit-terminations/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "term_side",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "port_speed",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "upstream_speed",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "circuit_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "term_side__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "port_speed__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "port_speed__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "port_speed__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "port_speed__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "port_speed__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "upstream_speed__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "upstream_speed__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "upstream_speed__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "upstream_speed__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "upstream_speed__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "circuit_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/CircuitTermination"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "circuits_circuit-terminations_list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCircuitTermination"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CircuitTermination"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_create"
      }
    },
    "/circuits/circuit-terminations/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this circuit termination.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CircuitTermination"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "circuits_circuit-terminations_read"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCircuitTermination"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CircuitTermination"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_partial_update"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCircuitTermination"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CircuitTermination"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_update"
      }
    },
    "/circuits/circuit-types/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/CircuitType"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "circuits_circuit-types_list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CircuitType"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CircuitType"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_create"
      }
    },
    "/circuits/circuit-types/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this circuit type.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CircuitType"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "circuits_circuit-types_read"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CircuitType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CircuitType"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_partial_update"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CircuitType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CircuitType"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_update"
      }
    },
    "/circuits/circuits/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "install_date",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "commit_rate",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_group_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_group",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "created",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "created__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "created__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "last_updated",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "last_updated__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "last_updated__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "provider_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "provider",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cid__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "install_date__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "install_date__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "install_date__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "install_date__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "install_date__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "commit_rate__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "commit_rate__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "commit_rate__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "commit_rate__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "commit_rate__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_group_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_group__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "provider_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "provider__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "status__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tag__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/Circuit"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "circuits_circuits_list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCircuit"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Circuit"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_create"
      }
    },
    "/circuits/circuits/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this circuit.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Circuit"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "circuits_circuits_read"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCircuit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Circuit"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_partial_update"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCircuit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Circuit"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_update"
      }
    },
    "/circuits/providers/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "asn",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "created",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "created__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "created__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "last_updated",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "last_updated__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "last_updated__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "slug__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "asn__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "asn__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "asn__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "asn__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "asn__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "account__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tag__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/Provider"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "circuits_providers_list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_create"
      }
    },
    "/circuits/providers/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this provider.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "circuits_providers_read"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_partial_update"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_update"
      }
    },
    "/circuits/providers/{id}/graphs/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this provider.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "A convenience method for rendering graphs for a particular provider.",
        "operationId": "circuits_providers_graphs"
      }
    },
    "/dcim/cables/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "length",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "length_unit",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "color",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "device_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "device",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "rack_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "rack",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "label__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "length__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "length__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "length__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "length__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "length__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "length_unit__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "status__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "color__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/Cable"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "dcim_cables_list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCable"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cable"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_cables_create"
      }
    },
    "/dcim/cables/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this cable.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_cables_delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cable"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "dcim_cables_read"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cable"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_cables_partial_update"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableCable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cable"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_cables_update"
      }
    },
    "/dcim/connected-device/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the peer device",
            "in": "query",
            "name": "peer_device",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peer interface",
            "in": "query",
            "name": "peer_interface",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "This endpoint allows a user to determine what device (if any) is connected to a given peer device and peer\ninterface. This is useful in a situation where a device boots with no configuration, but can detect its neighbors\nvia a protocol such as LLDP. Two query parameters must be included in the request:\n\n* `peer_device`: The name of the peer device\n* `peer_interface`: The name of the peer interface",
        "operationId": "dcim_connected-device_list"
      }
    },
    "/dcim/console-connections/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "connection_status",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "device_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "device",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "connection_status__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/ConsolePort"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-connections_list"
      }
    },
    "/dcim/console-port-templates/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "devicetype_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "devicetype_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/ConsolePortTemplate"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "dcim_console-port-templates_list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableConsolePortTemplate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePortTemplate"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_create"
      }
    },
    "/dcim/console-port-templates/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this console port template.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePortTemplate"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "dcim_console-port-templates_read"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableConsolePortTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePortTemplate"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_partial_update"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableConsolePortTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePortTemplate"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_update"
      }
    },
    "/dcim/console-ports/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "connection_status",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "device_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "device",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "cabled",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "description__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "connection_status__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "region__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "site__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "device_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "device__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "tag__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/ConsolePort"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "dcim_console-ports_list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableConsolePort"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePort"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_create"
      }
    },
    "/dcim/console-ports/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this console port.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePort"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "dcim_console-ports_read"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableConsolePort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePort"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_partial_update"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableConsolePort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePort"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_update"
      }
    },
    "/dcim/console-ports/{id}/trace/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this console port.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsolePort"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Trace a complete cable path and return each segment as a three-tuple of (termination, cable, termination).",
        "operationId": "dcim_console-ports_trace"
      }
    },
    "/dcim/console-server-port-templates/": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "devicetype_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__lt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gte",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "id__gt",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nic",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__iew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__niew",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__isw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nisw",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__ie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "name__nie",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "type__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "devicetype_id__n",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "format": "uri",
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/ConsoleServerPortTemplate"
                  },
                  "type": "array"
                }
              },
              "required": [
                "count",
                "results"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "dcim_console-server-port-templates_list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableConsoleServerPortTemplate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsoleServerPortTemplate"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_create"
      }
    },
    "/dcim/console-server-port-templates/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this console server port template.",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsoleServerPortTemplate"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Call to super to allow for caching",
        "operationId": "dcim_console-server-port-templates_read"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WritableConsoleServerPortTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsoleServerPortTemplate"
            }
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_partial_update"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
[...]
