{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "clever"
    },
    "description": "Serves the Clever Data API",
    "title": "Data API",
    "version": "1.2.0",
    "x-apisguru-categories": [
      "education"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_clever_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Clever/swagger-api/master/v1.2.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "clever.com",
    "x-datafire": {
      "name": "clever",
      "type": "openapi"
    }
  },
  "host": "api.clever.com",
  "basePath": "/v1.2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/contacts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentContactsResponse"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Returns a list of student contacts",
        "operationId": "getContacts"
      }
    },
    "/contacts/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentContactResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Returns a specific student contact",
        "operationId": "getContact"
      }
    },
    "/contacts/{id}/district": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Returns the district for a student contact",
        "operationId": "getDistrictForStudentContact"
      }
    },
    "/contacts/{id}/student": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Returns the student for a student contact",
        "operationId": "getStudentForContact"
      }
    },
    "/district_admins": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "show_links",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictAdminsResponse"
            }
          }
        },
        "tags": [
          "District Admins"
        ],
        "description": "Returns a list of district admins",
        "operationId": "getDistrictAdmins"
      }
    },
    "/district_admins/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictAdminResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "District Admins"
        ],
        "description": "Returns a specific district admin",
        "operationId": "getDistrictAdmin"
      }
    },
    "/districts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictsResponse"
            }
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns a list of districts",
        "operationId": "getDistricts"
      }
    },
    "/districts/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns a specific district",
        "operationId": "getDistrict"
      }
    },
    "/districts/{id}/admins": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictAdminsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the admins for a district",
        "operationId": "getAdminsForDistrict"
      }
    },
    "/districts/{id}/schools": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the schools for a district",
        "operationId": "getSchoolsForDistrict"
      }
    },
    "/districts/{id}/sections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SectionsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the sections for a district",
        "operationId": "getSectionsForDistrict"
      }
    },
    "/districts/{id}/status": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictStatusResponses"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the status of the district",
        "operationId": "getDistrictStatus"
      }
    },
    "/districts/{id}/students": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the students for a district",
        "operationId": "getStudentsForDistrict"
      }
    },
    "/districts/{id}/teachers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/TeachersResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the teachers for a district",
        "operationId": "getTeachersForDistrict"
      }
    },
    "/school_admins": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolAdminsResponse"
            }
          }
        },
        "tags": [
          "School Admins"
        ],
        "description": "Returns a list of school admins",
        "operationId": "getSchoolAdmins"
      }
    },
    "/school_admins/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolAdminResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "School Admins"
        ],
        "description": "Returns a specific school admin",
        "operationId": "getSchoolAdmin"
      }
    },
    "/school_admins/{id}/schools": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "School Admins"
        ],
        "description": "Returns the schools for a school admin",
        "operationId": "getSchoolsForSchoolAdmin"
      }
    },
    "/schools": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolsResponse"
            }
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns a list of schools",
        "operationId": "getSchools"
      }
    },
    "/schools/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns a specific school",
        "operationId": "getSchool"
      }
    },
    "/schools/{id}/district": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns the district for a school",
        "operationId": "getDistrictForSchool"
      }
    },
    "/schools/{id}/sections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SectionsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns the sections for a school",
        "operationId": "getSectionsForSchool"
      }
    },
    "/schools/{id}/students": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns the students for a school",
        "operationId": "getStudentsForSchool"
      }
    },
    "/schools/{id}/teachers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/TeachersResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns the teachers for a school",
        "operationId": "getTeachersForSchool"
      }
    },
    "/sections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SectionsResponse"
            }
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns a list of sections",
        "operationId": "getSections"
      }
    },
    "/sections/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SectionResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns a specific section",
        "operationId": "getSection"
      }
    },
    "/sections/{id}/district": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the district for a section",
        "operationId": "getDistrictForSection"
      }
    },
    "/sections/{id}/school": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the school for a section",
        "operationId": "getSchoolForSection"
      }
    },
    "/sections/{id}/students": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the students for a section",
        "operationId": "getStudentsForSection"
      }
    },
    "/sections/{id}/teacher": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/TeacherResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the primary teacher for a section",
        "operationId": "getTeacherForSection"
      }
    },
    "/sections/{id}/teachers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/TeachersResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the teachers for a section",
        "operationId": "getTeachersForSection"
      }
    },
    "/students": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentsResponse"
            }
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns a list of students",
        "operationId": "getStudents"
      }
    },
    "/students/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns a specific student",
        "operationId": "getStudent"
      }
    },
    "/students/{id}/contacts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentContactsForStudentResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the contacts for a student",
        "operationId": "getContactsForStudent"
      }
    },
    "/students/{id}/district": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the district for a student",
        "operationId": "getDistrictForStudent"
      }
    },
    "/students/{id}/school": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the primary school for a student",
        "operationId": "getSchoolForStudent"
      }
    },
    "/students/{id}/sections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SectionsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the sections for a student",
        "operationId": "getSectionsForStudent"
      }
    },
    "/students/{id}/teachers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/TeachersResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the teachers for a student",
        "operationId": "getTeachersForStudent"
      }
    },
    "/teachers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/TeachersResponse"
            }
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns a list of teachers",
        "operationId": "getTeachers"
      }
    },
    "/teachers/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/TeacherResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns a specific teacher",
        "operationId": "getTeacher"
      }
    },
    "/teachers/{id}/district": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/DistrictResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns the district for a teacher",
        "operationId": "getDistrictForTeacher"
      }
    },
    "/teachers/{id}/grade_levels": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/GradeLevelsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns the grade levels for sections a teacher teaches",
        "operationId": "getGradeLevelsForTeacher"
      }
    },
    "/teachers/{id}/school": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SchoolResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Retrieves school info for a teacher.",
        "operationId": "getSchoolForTeacher"
      }
    },
    "/teachers/{id}/sections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/SectionsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns the sections for a teacher",
        "operationId": "getSectionsForTeacher"
      }
    },
    "/teachers/{id}/students": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "starting_after",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "schema": {
              "$ref": "#/definitions/StudentsResponse"
            }
          },
          "404": {
            "description": "Entity Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns the students for a teacher",
        "operationId": "getStudentsForTeacher"
      }
    }
  },
  "definitions": {
    "BadRequest": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Credentials": {
      "properties": {
        "district_username": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "District": {
      "properties": {
        "id": {
          "type": "string",
          "x-validation": true
        },
        "mdr_number": {
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DistrictAdmin": {
      "properties": {
        "district": {
          "type": "string",
          "x-validation": true
        },
        "email": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "x-validation": true
        },
        "name": {
          "$ref": "#/definitions/Name"
        },
        "title": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "DistrictAdminResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/DistrictAdmin"
        }
      },
      "type": "object"
    },
    "DistrictAdminsResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/DistrictAdmin"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DistrictResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/District"
        }
      },
      "type": "object"
    },
    "DistrictStatus": {
      "properties": {
        "error": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "x-validation": true
        },
        "instant_login": {
          "type": "boolean"
        },
        "last_sync": {
          "format": "datetime",
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "launch_date": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "pause_end": {
          "format": "datetime",
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "pause_start": {
          "format": "datetime",
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "sis_type": {
          "type": "string",
          "x-validation": true
        },
        "state": {
          "enum": [
            "running",
            "pending",
            "error",
            "paused"
          ],
          "type": "string",
          "x-validation": true
        }
      },
      "type": "object"
    },
    "DistrictStatusResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/DistrictStatus"
        }
      },
      "type": "object"
    },
    "DistrictStatusResponses": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/DistrictStatusResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DistrictsResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/DistrictResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GradeLevelsResponse": {
      "properties": {
        "data": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "InternalError": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "address": {
          "type": "string",
          "x-nullable": true
        },
        "city": {
          "type": "string",
          "x-nullable": true
        },
        "lat": {
          "type": "string",
          "x-nullable": true
        },
        "lon": {
          "type": "string",
          "x-nullable": true
        },
        "state": {
          "type": "string",
          "x-nullable": true
        },
        "zip": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "Name": {
      "properties": {
        "first": {
          "type": "string",
          "x-nullable": true
        },
        "last": {
          "type": "string",
          "x-nullable": true
        },
        "middle": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "NotFound": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Principal": {
      "properties": {
        "email": {
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "School": {
      "properties": {
        "created": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "district": {
          "type": "string",
          "x-validation": true
        },
        "high_grade": {
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12",
            "PreKindergarten",
            "Kindergarten",
            "PostGraduate",
            "Other"
          ],
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "id": {
          "type": "string",
          "x-validation": true
        },
        "last_modified": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "location": {
          "$ref": "#/definitions/Location"
        },
        "low_grade": {
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12",
            "PreKindergarten",
            "Kindergarten",
            "PostGraduate",
            "Other"
          ],
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "mdr_number": {
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "type": "string"
        },
        "nces_id": {
          "type": "string",
          "x-nullable": true
        },
        "phone": {
          "type": "string",
          "x-nullable": true
        },
        "principal": {
          "$ref": "#/definitions/Principal"
        },
        "school_number": {
          "type": "string"
        },
        "sis_id": {
          "type": "string"
        },
        "state_id": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "SchoolAdmin": {
      "properties": {
        "credentials": {
          "$ref": "#/definitions/Credentials"
        },
        "district": {
          "type": "string",
          "x-validation": true
        },
        "email": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "x-validation": true
        },
        "name": {
          "$ref": "#/definitions/Name"
        },
        "schools": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "x-validation": true
        },
        "staff_id": {
          "type": "string"
        },
        "title": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "SchoolAdminResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/SchoolAdmin"
        }
      },
      "type": "object"
    },
    "SchoolAdminsResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/SchoolAdminResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SchoolResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/School"
        }
      },
      "type": "object"
    },
    "SchoolsResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/SchoolResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Section": {
      "properties": {
        "course_description": {
          "type": "string",
          "x-nullable": true
        },
        "course_name": {
          "type": "string",
          "x-nullable": true
        },
        "course_number": {
          "type": "string",
          "x-nullable": true
        },
        "created": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "district": {
          "type": "string",
          "x-validation": true
        },
        "grade": {
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12",
            "PreKindergarten",
            "Kindergarten",
            "PostGraduate",
            "Other"
          ],
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "id": {
          "type": "string",
          "x-validation": true
        },
        "last_modified": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "name": {
          "type": "string"
        },
        "period": {
          "type": "string",
          "x-nullable": true
        },
        "school": {
          "type": "string",
          "x-validation": true
        },
        "section_number": {
          "type": "string",
          "x-nullable": true
        },
        "sis_id": {
          "type": "string"
        },
        "students": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "x-validation": true
        },
        "subject": {
          "enum": [
            "english/language arts",
            "math",
            "science",
            "social studies",
            "language",
            "homeroom/advisory",
            "interventions/online learning",
            "technology and engineering",
            "PE and health",
            "arts and music",
            "other"
          ],
          "type": "string",
          "x-validation": true
        },
        "teacher": {
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "teachers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "x-validation": true
        },
        "term": {
          "$ref": "#/definitions/Term"
        }
      },
      "type": "object"
    },
    "SectionResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/Section"
        }
      },
      "type": "object"
    },
    "SectionsResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/SectionResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Student": {
      "properties": {
        "created": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "credentials": {
          "$ref": "#/definitions/Credentials"
        },
        "district": {
          "type": "string",
          "x-validation": true
        },
        "dob": {
          "format": "datetime",
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "ell_status": {
          "enum": [
            "Y",
            "N",
            ""
          ],
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "email": {
          "type": "string",
          "x-nullable": true
        },
        "gender": {
          "enum": [
            "M",
            "F",
            ""
          ],
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "grade": {
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12",
            "PreKindergarten",
            "Kindergarten",
            "PostGraduate",
            "Other"
          ],
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "graduation_year": {
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "hispanic_ethnicity": {
          "enum": [
            "Y",
            "N",
            ""
          ],
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "id": {
          "type": "string",
          "x-validation": true
        },
        "last_modified": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "location": {
          "$ref": "#/definitions/Location"
        },
        "name": {
          "$ref": "#/definitions/Name"
        },
        "race": {
          "enum": [
            "Caucasian",
            "Asian",
            "Black or African American",
            "American Indian",
            "Hawaiian or Other Pacific Islander",
            "Two or More Races",
            "Unknown",
            ""
          ],
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "school": {
          "type": "string",
          "x-validation": true
        },
        "schools": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "x-validation": true
        },
        "sis_id": {
          "type": "string"
        },
        "state_id": {
          "type": "string",
          "x-nullable": true
        },
        "student_number": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "StudentContact": {
      "properties": {
        "district": {
          "type": "string",
          "x-validation": true
        },
        "email": {
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "type": "string",
          "x-validation": true
        },
        "name": {
          "type": "string"
        },
        "phone": {
          "type": "string",
          "x-nullable": true
        },
        "phone_type": {
          "type": "string",
          "x-nullable": true
        },
        "relationship": {
          "type": "string",
          "x-nullable": true
        },
        "sis_id": {
          "type": "string",
          "x-nullable": true
        },
        "student": {
          "type": "string",
          "x-validation": true
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "StudentContactResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/StudentContact"
        }
      },
      "type": "object"
    },
    "StudentContactsForStudentResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/StudentContact"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StudentContactsResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/StudentContactResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StudentResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/Student"
        }
      },
      "type": "object"
    },
    "StudentsResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/StudentResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Teacher": {
      "properties": {
        "created": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "credentials": {
          "$ref": "#/definitions/Credentials"
        },
        "district": {
          "type": "string",
          "x-validation": true
        },
        "email": {
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "type": "string",
          "x-validation": true
        },
        "last_modified": {
          "format": "datetime",
          "type": "string",
          "x-validation": true
        },
        "name": {
          "$ref": "#/definitions/Name"
        },
        "school": {
          "type": "string",
          "x-validation": true
        },
        "schools": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "x-validation": true
        },
        "sis_id": {
          "type": "string"
        },
        "state_id": {
          "type": "string",
          "x-nullable": true
        },
        "teacher_number": {
          "type": "string",
          "x-nullable": true
        },
        "title": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "TeacherResponse": {
      "properties": {
        "data": {
          "$ref": "#/definitions/Teacher"
        }
      },
      "type": "object"
    },
    "TeachersResponse": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/TeacherResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Term": {
      "properties": {
        "end_date": {
          "format": "datetime",
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "start_date": {
          "format": "datetime",
          "type": "string",
          "x-nullable": true,
          "x-validation": true
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "oauth": {
      "authorizationUrl": "https://clever.com/oauth/authorize",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://clever.com/oauth/tokens",
      "type": "oauth2"
    }
  },
  "security": [
    {
      "oauth": []
    }
  ],
  "x-components": {
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          }
        },
        "description": "Bad Request"
      },
      "InternalError": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/definitions/InternalError"
            }
          }
        },
        "description": "Internal Error"
      },
      "NotFound": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "description": "Entity Not Found"
      }
    }
  },
  "x-samples-languages": [
    "curl",
    "node",
    "ruby",
    "python",
    "php",
    "java",
    "go"
  ]
}