{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>The AWS Serverless Application Repository makes it easy for developers and enterprises to quickly find\n and deploy serverless applications in the AWS Cloud. For more information about serverless applications,\n see Serverless Computing and Applications on the AWS website.</p><p>The AWS Serverless Application Repository is deeply integrated with the AWS Lambda console, so that developers of \n all levels can get started with serverless computing without needing to learn anything new. You can use category \n keywords to browse for applications such as web and mobile backends, data processing applications, or chatbots. \n You can also search for applications by name, publisher, or event source. To use an application, you simply choose it, \n configure any required fields, and deploy it with a few clicks. </p><p>You can also easily publish applications, sharing them publicly with the community at large, or privately\n within your team or across your organization. To publish a serverless application (or app), you can use the\n AWS Management Console, AWS Command Line Interface (AWS CLI), or AWS SDKs to upload the code. Along with the\n code, you upload a simple manifest file, also known as the AWS Serverless Application Model (AWS SAM) template.\n For more information about AWS SAM, see AWS Serverless Application Model (AWS SAM) on the AWS Labs\n GitHub repository.</p><p>The AWS Serverless Application Repository Developer Guide contains more information about the two developer\n experiences available:</p><ul>\n <li>\n <p>Consuming Applications – Browse for applications and view information about them, including\n source code and readme files. Also install, configure, and deploy applications of your choosing. </p>\n <p>Publishing Applications – Configure and upload applications to make them available to other\n developers, and publish new versions of applications. </p>\n </li>\n </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWSServerlessApplicationRepository",
    "version": "2017-09-08",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/serverlessrepo-2017-09-08.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "serverlessrepo",
    "x-datafire": {
      "name": "amazonaws_serverlessrepo",
      "type": "openapi"
    }
  },
  "host": "serverlessrepo.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/applications": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The total number of items to return.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxItems",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token to specify where to start paginating.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxItems",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListApplicationsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Lists applications owned by the requester.",
        "operationId": "ListApplications"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "author": {
                  "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
                  "type": "string"
                },
                "description": {
                  "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
                  "type": "string"
                },
                "homePageUrl": {
                  "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
                  "type": "string"
                },
                "labels": {
                  "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "licenseBody": {
                  "description": "<p>A local text file that contains the license of the app that matches the spdxLicenseID value of your application.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>",
                  "type": "string"
                },
                "licenseUrl": {
                  "description": "<p>A link to the S3 object that contains the license of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>",
                  "type": "string"
                },
                "name": {
                  "description": "<p>The name of the application that you want to publish.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
                  "type": "string"
                },
                "readmeBody": {
                  "description": "<p>A local text readme file in Markdown language that contains a more detailed description of the application and how it works.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>",
                  "type": "string"
                },
                "readmeUrl": {
                  "description": "<p>A link to the S3 object in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>",
                  "type": "string"
                },
                "semanticVersion": {
                  "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
                  "type": "string"
                },
                "sourceCodeArchiveUrl": {
                  "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
                  "type": "string"
                },
                "sourceCodeUrl": {
                  "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
                  "type": "string"
                },
                "spdxLicenseId": {
                  "description": "A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.",
                  "type": "string"
                },
                "templateBody": {
                  "description": "<p>The local raw packaged AWS SAM template file of your application.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>",
                  "type": "string"
                },
                "templateUrl": {
                  "description": "<p>A link to the S3 object containing the packaged AWS SAM template of your application.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>",
                  "type": "string"
                }
              },
              "required": [
                "author",
                "description",
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateApplicationResponse"
            }
          },
          "480": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Creates an application, optionally including an AWS SAM file to create the first application version in the same call.",
        "operationId": "CreateApplication"
      }
    },
    "/applications/{applicationId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Deletes the specified application.",
        "operationId": "DeleteApplication"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The semantic version of the application to get.",
            "in": "query",
            "name": "semanticVersion",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApplicationResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Gets the specified application.",
        "operationId": "GetApplication"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "author": {
                  "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
                  "type": "string"
                },
                "description": {
                  "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
                  "type": "string"
                },
                "homePageUrl": {
                  "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
                  "type": "string"
                },
                "labels": {
                  "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "readmeBody": {
                  "description": "<p>A text readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>",
                  "type": "string"
                },
                "readmeUrl": {
                  "description": "<p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateApplicationResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Updates the specified application.",
        "operationId": "UpdateApplication"
      }
    },
    "/applications/{applicationId}/changesets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "type": "array"
                },
                "capabilities": {
                  "description": "<p>A list of values that you must specify before you can deploy certain applications.\n Some applications might include resources that can affect permissions in your AWS\n account, for example, by creating new AWS Identity and Access Management (IAM) users.\n For those applications, you must explicitly acknowledge their capabilities by\n specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,\n CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or\n CAPABILITY_NAMED_IAM:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">AWS::IAM::Group</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\">AWS::IAM::InstanceProfile</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM::Policy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">AWS::IAM::Role</a>.\n If the application contains IAM resources, you can specify either CAPABILITY_IAM\n or CAPABILITY_NAMED_IAM. If the application contains IAM resources\n with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html\">AWS::Lambda::Permission</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM:Policy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html\">AWS::ApplicationAutoScaling::ScalingPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html\">AWS::S3::BucketPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html\">AWS::SQS::QueuePolicy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html\">AWS::SNS:TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify\n CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review\n all permissions associated with the application before deploying. If you don't specify\n this parameter for an application that requires capabilities, the call will fail.</p>",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "changeSetName": {
                  "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
                  "type": "string"
                },
                "clientToken": {
                  "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
                  "type": "string"
                },
                "description": {
                  "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
                  "type": "string"
                },
                "notificationArns": {
                  "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "parameterOverrides": {
                  "description": "A list of parameter values for the parameters of the application.",
                  "items": {
                    "$ref": "#/definitions/ParameterValue"
                  },
                  "type": "array"
                },
                "resourceTypes": {
                  "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "rollbackConfiguration": {
                  "description": "This property corresponds to the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration\">RollbackConfiguration</a>\n </i> Data Type.",
                  "properties": {
                    "MonitoringTimeInMinutes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration\">RollbackConfiguration</a>\n </i> Data Type.",
                          "xml": {
                            "name": "monitoringTimeInMinutes"
                          }
                        }
                      ]
                    },
                    "RollbackTriggers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfRollbackTrigger"
                        },
                        {
                          "description": "This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration\">RollbackConfiguration</a>\n </i> Data Type.",
                          "xml": {
                            "name": "rollbackTriggers"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "semanticVersion": {
                  "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
                  "type": "string"
                },
                "stackName": {
                  "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
                  "type": "string"
                },
                "templateId": {
                  "description": "<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}</p>",
                  "type": "string"
                }
              },
              "required": [
                "stackName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCloudFormationChangeSetResponse"
            }
          },
          "480": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Creates an AWS CloudFormation change set for the given application.",
        "operationId": "CreateCloudFormationChangeSet"
      }
    },
    "/applications/{applicationId}/dependencies": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The total number of items to return.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxItems",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token to specify where to start paginating.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The semantic version of the application to get.",
            "in": "query",
            "name": "semanticVersion",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxItems",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListApplicationDependenciesResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Retrieves the list of applications nested in the containing application.",
        "operationId": "ListApplicationDependencies"
      }
    },
    "/applications/{applicationId}/policy": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApplicationPolicyResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Retrieves the policy for the application.",
        "operationId": "GetApplicationPolicy"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "statements": {
                  "description": "An array of policy statements applied to the application.",
                  "items": {
                    "$ref": "#/definitions/ApplicationPolicyStatement"
                  },
                  "type": "array"
                }
              },
              "required": [
                "statements"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutApplicationPolicyResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Sets the permission policy for an application. For the list of actions supported for this operation, see\n <a href=\"https://docs.aws.amazon.com/serverlessrepo/latest/devguide/access-control-resource-based.html#application-permissions\">Application \n Permissions</a>\n .",
        "operationId": "PutApplicationPolicy"
      }
    },
    "/applications/{applicationId}/templates": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "semanticVersion": {
                  "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCloudFormationTemplateResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Creates an AWS CloudFormation template.",
        "operationId": "CreateCloudFormationTemplate"
      }
    },
    "/applications/{applicationId}/templates/{templateId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}</p>",
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCloudFormationTemplateResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Gets the specified AWS CloudFormation template.",
        "operationId": "GetCloudFormationTemplate"
      }
    },
    "/applications/{applicationId}/unshare": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "organizationId": {
                  "description": "The AWS Organization ID to unshare the application from.",
                  "type": "string"
                }
              },
              "required": [
                "organizationId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "<p>Unshares an application from an AWS Organization.</p><p>This operation can be called only from the organization's master account.</p>",
        "operationId": "UnshareApplication"
      }
    },
    "/applications/{applicationId}/versions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The total number of items to return.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxItems",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token to specify where to start paginating.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxItems",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListApplicationVersionsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Lists versions for the specified application.",
        "operationId": "ListApplicationVersions"
      }
    },
    "/applications/{applicationId}/versions/{semanticVersion}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The semantic version of the new version.",
            "in": "path",
            "name": "semanticVersion",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "sourceCodeArchiveUrl": {
                  "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
                  "type": "string"
                },
                "sourceCodeUrl": {
                  "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
                  "type": "string"
                },
                "templateBody": {
                  "description": "The raw packaged AWS SAM template of your application.",
                  "type": "string"
                },
                "templateUrl": {
                  "description": "A link to the packaged AWS SAM template of your application.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateApplicationVersionResponse"
            }
          },
          "480": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Creates an application version.",
        "operationId": "CreateApplicationVersion"
      }
    }
  },
  "definitions": {
    "ApplicationDependencySummary": {
      "description": "A nested application summary.",
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the nested application.",
              "xml": {
                "name": "applicationId"
              }
            }
          ]
        },
        "SemanticVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The semantic version of the nested application.",
              "xml": {
                "name": "semanticVersion"
              }
            }
          ]
        }
      },
      "required": [
        "ApplicationId",
        "SemanticVersion"
      ],
      "type": "object"
    },
    "ApplicationPolicyStatement": {
      "description": "Policy statement applied to the application.",
      "properties": {
        "Actions": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "For the list of actions supported for this operation, see <a href=\"https://docs.aws.amazon.com/serverlessrepo/latest/devguide/access-control-resource-based.html#application-permissions\">Application \n Permissions</a>.",
              "xml": {
                "name": "actions"
              }
            }
          ]
        },
        "PrincipalOrgIDs": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "An array of PrinciplalOrgIDs, which corresponds to AWS IAM <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_condition-keys.html#principal-org-id\">aws:PrincipalOrgID</a> global condition key.",
              "xml": {
                "name": "principalOrgIDs"
              }
            }
          ]
        },
        "Principals": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "An array of AWS account IDs, or * to make the application public.",
              "xml": {
                "name": "principals"
              }
            }
          ]
        },
        "StatementId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A unique ID for the statement.",
              "xml": {
                "name": "statementId"
              }
            }
          ]
        }
      },
      "required": [
        "Principals",
        "Actions"
      ],
      "type": "object"
    },
    "ApplicationSummary": {
      "description": "Summary of details about the application.",
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The application Amazon Resource Name (ARN).",
              "xml": {
                "name": "applicationId"
              }
            }
          ]
        },
        "Author": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
              "xml": {
                "name": "author"
              }
            }
          ]
        },
        "CreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The date and time this resource was created.",
              "xml": {
                "name": "creationTime"
              }
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
              "xml": {
                "name": "description"
              }
            }
          ]
        },
        "HomePageUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
              "xml": {
                "name": "homePageUrl"
              }
            }
          ]
        },
        "Labels": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
              "xml": {
                "name": "labels"
              }
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
              "xml": {
                "name": "name"
              }
            }
          ]
        },
        "SpdxLicenseId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.",
              "xml": {
                "name": "spdxLicenseId"
              }
            }
          ]
        }
      },
      "required": [
        "Description",
        "Author",
        "ApplicationId",
        "Name"
      ],
      "type": "object"
    },
    "BadRequestException": {},
    "Capability": {
      "description": "Values that must be specified in order to deploy some applications.",
      "enum": [
        "CAPABILITY_IAM",
        "CAPABILITY_NAMED_IAM",
        "CAPABILITY_AUTO_EXPAND",
        "CAPABILITY_RESOURCE_POLICY"
      ],
      "type": "string"
    },
    "ConflictException": {},
    "CreateApplicationRequest": {
      "properties": {
        "Author": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
              "xml": {
                "name": "author"
              }
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
              "xml": {
                "name": "description"
              }
            }
          ]
        },
        "HomePageUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
              "xml": {
                "name": "homePageUrl"
              }
            }
          ]
        },
        "Labels": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
              "xml": {
                "name": "labels"
              }
            }
          ]
        },
        "LicenseBody": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A local text file that contains the license of the app that matches the spdxLicenseID value of your application.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>",
              "xml": {
                "name": "licenseBody"
              }
            }
          ]
        },
        "LicenseUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A link to the S3 object that contains the license of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>",
              "xml": {
                "name": "licenseUrl"
              }
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The name of the application that you want to publish.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
              "xml": {
                "name": "name"
              }
            }
          ]
        },
        "ReadmeBody": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A local text readme file in Markdown language that contains a more detailed description of the application and how it works.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>",
              "xml": {
                "name": "readmeBody"
              }
            }
          ]
        },
        "ReadmeUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A link to the S3 object in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>",
              "xml": {
                "name": "readmeUrl"
              }
            }
          ]
        },
        "SemanticVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
              "xml": {
                "name": "semanticVersion"
              }
            }
          ]
        },
        "SourceCodeArchiveUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
              "xml": {
                "name": "sourceCodeArchiveUrl"
              }
            }
          ]
        },
        "SourceCodeUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
              "xml": {
                "name": "sourceCodeUrl"
              }
            }
          ]
        },
        "SpdxLicenseId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.",
              "xml": {
                "name": "spdxLicenseId"
              }
            }
          ]
        },
        "TemplateBody": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The local raw packaged AWS SAM template file of your application.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>",
              "xml": {
                "name": "templateBody"
              }
            }
          ]
        },
        "TemplateUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A link to the S3 object containing the packaged AWS SAM template of your application.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>",
              "xml": {
                "name": "templateUrl"
              }
            }
          ]
        }
      },
      "required": [
        "Description",
        "Name",
        "Author"
      ],
      "title": "CreateApplicationRequest",
      "type": "object"
    },
    "CreateApplicationResponse": {
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The application Amazon Resource Name (ARN).",
              "xml": {
                "name": "applicationId"
              }
            }
          ]
        },
        "Author": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
              "xml": {
                "name": "author"
              }
            }
          ]
        },
        "CreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The date and time this resource was created.",
              "xml": {
                "name": "creationTime"
              }
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
              "xml": {
                "name": "description"
              }
            }
          ]
        },
        "HomePageUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
              "xml": {
                "name": "homePageUrl"
              }
            }
          ]
        },
        "IsVerifiedAuthor": {
          "allOf": [
            {
              "$ref": "#/definitions/__boolean"
            },
            {
              "description": "Whether the author of this application has been verified. This means means that AWS has made a good faith review, as a reasonable and prudent service provider, of the information provided by the requester and has confirmed that the requester's identity is as claimed.",
              "xml": {
                "name": "isVerifiedAuthor"
              }
            }
          ]
        },
        "Labels": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
              "xml": {
                "name": "labels"
              }
            }
          ]
        },
        "LicenseUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>",
              "xml": {
                "name": "licenseUrl"
              }
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
              "xml": {
                "name": "name"
              }
            }
          ]
        },
        "ReadmeUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>",
              "xml": {
                "name": "readmeUrl"
              }
            }
          ]
        },
        "SpdxLicenseId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A valid identifier from https://spdx.org/licenses/.",
              "xml": {
                "name": "spdxLicenseId"
              }
            }
          ]
        },
        "VerifiedAuthorUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The URL to the public profile of a verified author. This URL is submitted by the author.",
              "xml": {
                "name": "verifiedAuthorUrl"
              }
            }
          ]
        },
        "Version": {
          "allOf": [
            {
              "$ref": "#/definitions/Version"
            },
            {
              "description": "Version information about the application.",
              "xml": {
                "name": "version"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateApplicationVersionRequest": {
      "properties": {
        "SourceCodeArchiveUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
              "xml": {
                "name": "sourceCodeArchiveUrl"
              }
            }
          ]
        },
        "SourceCodeUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
              "xml": {
                "name": "sourceCodeUrl"
              }
            }
          ]
        },
        "TemplateBody": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The raw packaged AWS SAM template of your application.",
              "xml": {
                "name": "templateBody"
              }
            }
          ]
        },
        "TemplateUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A link to the packaged AWS SAM template of your application.",
              "xml": {
                "name": "templateUrl"
              }
            }
          ]
        }
      },
      "title": "CreateApplicationVersionRequest",
      "type": "object"
    },
    "CreateApplicationVersionResponse": {
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The application Amazon Resource Name (ARN).",
              "xml": {
                "name": "applicationId"
              }
            }
          ]
        },
        "CreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The date and time this resource was created.",
              "xml": {
                "name": "creationTime"
              }
            }
          ]
        },
        "ParameterDefinitions": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfParameterDefinition"
            },
            {
              "description": "An array of parameter types supported by the application.",
              "xml": {
                "name": "parameterDefinitions"
              }
            }
          ]
        },
        "RequiredCapabilities": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfCapability"
            },
            {
              "description": "<p>A list of values that you must specify before you can deploy certain applications.\n Some applications might include resources that can affect permissions in your AWS\n account, for example, by creating new AWS Identity and Access Management (IAM) users.\n For those applications, you must explicitly acknowledge their capabilities by\n specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,\n CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or\n CAPABILITY_NAMED_IAM:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">AWS::IAM::Group</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\">AWS::IAM::InstanceProfile</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM::Policy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">AWS::IAM::Role</a>.\n If the application contains IAM resources, you can specify either CAPABILITY_IAM\n or CAPABILITY_NAMED_IAM. If the application contains IAM resources\n with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html\">AWS::Lambda::Permission</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM:Policy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html\">AWS::ApplicationAutoScaling::ScalingPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html\">AWS::S3::BucketPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html\">AWS::SQS::QueuePolicy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html\">AWS::SNS::TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify\n CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review\n all permissions associated with the application before deploying. If you don't specify\n this parameter for an application that requires capabilities, the call will fail.</p>",
              "xml": {
                "name": "requiredCapabilities"
              }
            }
          ]
        },
        "ResourcesSupported": {
          "allOf": [
            {
              "$ref": "#/definitions/__boolean"
            },
            {
              "description": "Whether all of the AWS resources contained in this application are supported in the region\n in which it is being retrieved.",
              "xml": {
                "name": "resourcesSupported"
              }
            }
          ]
        },
        "SemanticVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
              "xml": {
                "name": "semanticVersion"
              }
            }
          ]
        },
        "SourceCodeArchiveUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
              "xml": {
                "name": "sourceCodeArchiveUrl"
              }
            }
          ]
        },
        "SourceCodeUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
              "xml": {
                "name": "sourceCodeUrl"
              }
            }
          ]
        },
        "TemplateUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A link to the packaged AWS SAM template of your application.",
              "xml": {
                "name": "templateUrl"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateCloudFormationChangeSetRequest": {
      "properties": {
        "Capabilities": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "<p>A list of values that you must specify before you can deploy certain applications.\n Some applications might include resources that can affect permissions in your AWS\n account, for example, by creating new AWS Identity and Access Management (IAM) users.\n For those applications, you must explicitly acknowledge their capabilities by\n specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,\n CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or\n CAPABILITY_NAMED_IAM:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">AWS::IAM::Group</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\">AWS::IAM::InstanceProfile</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM::Policy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">AWS::IAM::Role</a>.\n If the application contains IAM resources, you can specify either CAPABILITY_IAM\n or CAPABILITY_NAMED_IAM. If the application contains IAM resources\n with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html\">AWS::Lambda::Permission</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM:Policy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html\">AWS::ApplicationAutoScaling::ScalingPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html\">AWS::S3::BucketPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html\">AWS::SQS::QueuePolicy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html\">AWS::SNS:TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify\n CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review\n all permissions associated with the application before deploying. If you don't specify\n this parameter for an application that requires capabilities, the call will fail.</p>",
              "xml": {
                "name": "capabilities"
              }
            }
          ]
        },
        "ChangeSetName": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
              "xml": {
                "name": "changeSetName"
              }
            }
          ]
        },
        "ClientToken": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
              "xml": {
                "name": "clientToken"
              }
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
              "xml": {
                "name": "description"
              }
            }
          ]
        },
        "NotificationArns": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
              "xml": {
                "name": "notificationArns"
              }
            }
          ]
        },
        "ParameterOverrides": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfParameterValue"
            },
            {
              "description": "A list of parameter values for the parameters of the application.",
              "xml": {
                "name": "parameterOverrides"
              }
            }
          ]
        },
        "ResourceTypes": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
              "xml": {
                "name": "resourceTypes"
              }
            }
          ]
        },
        "RollbackConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/RollbackConfiguration"
            },
            {
              "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
              "xml": {
                "name": "rollbackConfiguration"
              }
            }
          ]
        },
        "SemanticVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
              "xml": {
                "name": "semanticVersion"
              }
            }
          ]
        },
        "StackName": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
              "xml": {
                "name": "stackName"
              }
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfTag"
            },
            {
              "description": "This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href=\"https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet\">CreateChangeSet</a>\n </i> API.",
              "xml": {
                "name": "tags"
              }
            }
          ]
        },
        "TemplateId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}</p>",
              "xml": {
                "name": "templateId"
              }
            }
          ]
        }
      },
      "required": [
        "StackName"
      ],
      "title": "CreateCloudFormationChangeSetRequest",
      "type": "object"
    },
    "CreateCloudFormationChangeSetResponse": {
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The application Amazon Resource Name (ARN).",
              "xml": {
                "name": "applicationId"
              }
            }
          ]
        },
        "ChangeSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The Amazon Resource Name (ARN) of the change set.</p><p>Length constraints: Minimum length of 1.</p><p>Pattern: ARN:[-a-zA-Z0-9:/]*</p>",
              "xml": {
                "name": "changeSetId"
              }
            }
          ]
        },
        "SemanticVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
              "xml": {
                "name": "semanticVersion"
              }
            }
          ]
        },
        "StackId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The unique ID of the stack.",
              "xml": {
                "name": "stackId"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateCloudFormationTemplateRequest": {
      "properties": {
        "SemanticVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
              "xml": {
                "name": "semanticVersion"
              }
            }
          ]
        }
      },
      "title": "CreateCloudFormationTemplateRequest",
      "type": "object"
    },
    "CreateCloudFormationTemplateResponse": {
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The application Amazon Resource Name (ARN).",
              "xml": {
                "name": "applicationId"
              }
            }
          ]
        },
        "CreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The date and time this resource was created.",
              "xml": {
                "name": "creationTime"
              }
            }
          ]
        },
        "ExpirationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The date and time this template expires. Templates\n expire 1 hour after creation.",
              "xml": {
                "name": "expirationTime"
              }
            }
          ]
        },
        "SemanticVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
              "xml": {
                "name": "semanticVersion"
              }
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/Status"
            },
            {
              "description": "<p>Status of the template creation workflow.</p><p>Possible values: PREPARING | ACTIVE | EXPIRED\n </p>",
              "xml": {
                "name": "status"
              }
            }
          ]
        },
        "TemplateId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}</p>",
              "xml": {
                "name": "templateId"
              }
            }
          ]
        },
        "TemplateUrl": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "A link to the template that can be used to deploy the application using\n AWS CloudFormation.",
              "xml": {
                "name": "templateUrl"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "DeleteApplicationRequest": {
      "properties": {},
      "title": "DeleteApplicationRequest",
      "type": "object"
    },
    "ForbiddenException": {},
    "GetApplicationPolicyRequest": {
      "properties": {},
      "title": "GetApplicationPolicyRequest",
      "type": "object"
    },
    "GetApplicationPolicyResponse": {
      "properties": {
        "Statements": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfApplicationPolicyStatement"
            },
            {
              "description": "An array of policy statements applied to the application.",
              "xml": {
                "name": "statements"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "GetApplicationRequest": {
      "properties": {},
      "title": "GetApplicationRequest",
      "type": "object"
    },
    "GetApplicationResponse": {
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The application Amazon Resource Name (ARN).",
              "xml": {
                "name": "applicationId"
              }
            }
          ]
        },
        "Author": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
              "xml": {
                "name": "author"
              }
            }
          ]
        },
        "CreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
[...]
