{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "connect.amazonaws.com",
  "basePath": "/",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "The Amazon Connect API Reference provides descriptions, syntax, and usage examples for each of the Amazon Connect actions, data types, parameters, and errors. Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Connect Service",
    "version": "2017-08-08",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/connect-2017-08-08.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "connect",
    "x-datafire": {
      "name": "amazonaws_connect",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/connect/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/contact/outbound-voice": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "put": {
        "description": "<p>The <code>StartOutboundVoiceContact</code> operation initiates a contact flow to place an outbound call to a customer.</p> <p>There is a throttling limit placed on usage of the API that includes a <code>RateLimit</code> of 2 per second, and a <code>BurstLimit</code> of 5 per second.</p> <p>If you are using an IAM account, it must have permissions to the <code>connect:StartOutboundVoiceContact</code> action.</p>",
        "operationId": "StartOutboundVoiceContact",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartOutboundVoiceContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartOutboundVoiceContactResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "DestinationNotAllowedException",
            "schema": {
              "$ref": "#/definitions/DestinationNotAllowedException"
            }
          },
          "486": {
            "description": "OutboundContactNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OutboundContactNotPermittedException"
            }
          }
        }
      }
    },
    "/contact/stop": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Ends the contact initiated by the <code>StartOutboundVoiceContact</code> operation.</p> <p>If you are using an IAM account, it must have permissions to the <code>connect:StopContact</code> operation.</p>",
        "operationId": "StopContact",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopContactResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ContactNotFoundException",
            "schema": {
              "$ref": "#/definitions/ContactNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AttributeName": {
      "description": "Key for the key value pair to be used for additional attributes.",
      "maxLength": 32767,
      "minLength": 1,
      "type": "string"
    },
    "AttributeValue": {
      "description": "Value for the key value pair to be used for additional attributes.",
      "maxLength": 32767,
      "minLength": 0,
      "type": "string"
    },
    "Attributes": {
      "description": "Additional attributes can be provided in the request using this field. This will be passed to the contact flow execution. Client can make use of this additional info in their contact flow.",
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/AttributeName"
          },
          "value": {
            "$ref": "#/definitions/AttributeValue"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "ClientToken": {
      "description": "Dedupe token to be provided by the client. This token is used to avoid duplicate calls to the customer.",
      "maxLength": 500,
      "type": "string"
    },
    "ContactFlowId": {
      "description": "Amazon resource name for the contact flow to be executed to handle the current call.",
      "maxLength": 500,
      "type": "string"
    },
    "ContactId": {
      "description": "Amazon Connect contact identifier. An unique ContactId will be generated for each contact request.",
      "maxLength": 256,
      "minLength": 1,
      "type": "string"
    },
    "ContactNotFoundException": {
      "description": "The contact with the specified ID is not active or does not exist.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "DestinationNotAllowedException": {
      "description": "Outbound calls to the destination number are not allowed for your instance. You can request that the country be included in the allowed countries for your instance by submitting a <a href=\"https://console.aws.amazon.com/support/v1#/case/create?issueType=service-limit-increase\">Service Limit Increase</a>.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "InstanceId": {
      "description": "Amazon Connect Organization ARN. A client must provide its organization ARN in order to place a call. This defines the call from organization.",
      "type": "string"
    },
    "InternalServiceException": {
      "description": "Request processing failed due to an error or failure with the service.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "InvalidParameterException": {
      "description": "One or more of the parameters provided to the operation are not valid.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "InvalidRequestException": {
      "description": "The request is not valid.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "LimitExceededException": {
      "description": "The limit exceeded the maximum allowed active calls in a queue.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "Message": {
      "type": "string"
    },
    "OutboundContactNotPermittedException": {
      "description": "The contact is not permitted because outbound calling is not enabled for the instance.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "PhoneNumber": {
      "description": "End customer's phone number to call.",
      "type": "string"
    },
    "QueueId": {
      "description": "Identifier of the queue to be used for the contact routing.",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "description": "The specified resource was not found.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "StartOutboundVoiceContactRequest": {
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "<p>Specify a custom key-value pair using an attribute map. The attributes are standard Amazon Connect attributes, and can be accessed in contact flows just like any other contact attributes.</p> <p>There can be up to 32,768 UTF-8 bytes across all key-value pairs. Attribute keys can include only alphanumeric, dash, and underscore characters.</p> <p>For example, to play a greeting when the customer answers the call, you can pass the customer name in attributes similar to the following:</p>"
        },
        "ClientToken": {
          "$ref": "#/definitions/ClientToken",
          "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. The token is valid for 7 days after creation. If a contact is already started, the contact ID is returned. If the contact is disconnected, a new contact is started."
        },
        "ContactFlowId": {
          "$ref": "#/definitions/ContactFlowId",
          "description": "<p>The identifier for the contact flow to execute for the outbound call. This is a GUID value only. Amazon Resource Name (ARN) values are not supported.</p> <p>To find the <code>ContactFlowId</code>, open the contact flow to use in the Amazon Connect contact flow designer. The ID for the contact flow is displayed in the address bar as part of the URL. For example, an address displayed when you open a contact flow is similar to the following: <code>https://myconnectinstance.awsapps.com/connect/contact-flows/edit?id=arn:aws:connect:us-east-1:361814831152:instance/2fb42df9-78a2-4b99-b484-f5cf80dc300c/contact-flow/<i>b0b8f2dd-ed1b-4c44-af36-ce189a178181</i> </code>. At the end of the URL, you see <code>contact-flow/b0b8f2dd-ed1b-4c44-af36-ce189a178181</code>. The <code>ContactFlowID</code> for this contact flow is <code> <i>b0b8f2dd-ed1b-4c44-af36-ce189a178181</i> </code>. Make sure to include only the GUID after the \"contact-flow/\" in your requests.</p>"
        },
        "DestinationPhoneNumber": {
          "$ref": "#/definitions/PhoneNumber",
          "description": "The phone number, in E.164 format, of the customer to call with the outbound contact."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The identifier for your Amazon Connect instance. To find the <code>InstanceId</code> value for your Amazon Connect instance, open the <a href=\"https://console.aws.amazon.com/connect/\">Amazon Connect console</a>. Select the instance alias of the instance and view the instance ID in the <b>Overview</b> section. For example, the instance ID is the set of characters at the end of the instance ARN, after \"instance/\", such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07."
        },
        "QueueId": {
          "$ref": "#/definitions/QueueId",
          "description": "<p>The queue to which to add the call. If you specify a queue, the phone displayed for caller ID is the phone number defined for the queue. If you do not specify a queue, the queue used is the queue defined in the contact flow specified by <code>ContactFlowId</code>.</p> <p>To find the <code>QueueId</code>, open the queue to use in the Amazon Connect queue editor. The ID for the queue is displayed in the address bar as part of the URL. For example, the <code>QueueId</code> value is the set of characters at the end of the URL, after \"queue/\", such as <code>aeg40574-2d01-51c3-73d6-bf8624d2168c</code>.</p>"
        },
        "SourcePhoneNumber": {
          "$ref": "#/definitions/PhoneNumber",
          "description": "The phone number, in E.164 format, associated with your Amazon Connect instance to use to place the outbound call."
        }
      },
      "required": [
        "DestinationPhoneNumber",
        "ContactFlowId",
        "InstanceId"
      ],
      "type": "object"
    },
    "StartOutboundVoiceContactResponse": {
      "properties": {
        "ContactId": {
          "$ref": "#/definitions/ContactId",
          "description": "The unique identifier of this contact within your Amazon Connect instance."
        }
      },
      "type": "object"
    },
    "StopContactRequest": {
      "properties": {
        "ContactId": {
          "$ref": "#/definitions/ContactId",
          "description": "The unique identifier of the contact to end. This is the <code>ContactId</code> value returned from the <code>StartOutboundVoiceContact</code> operation."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The identifier of the Amazon Connect instance in which the contact is active."
        }
      },
      "required": [
        "ContactId",
        "InstanceId"
      ],
      "type": "object"
    },
    "StopContactResponse": {
      "properties": {},
      "type": "object"
    }
  }
}