{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "NBA v3 RotoBaller Premium News",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nba-v3-rotoballer-premium-news.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nba-v3-rotoballer-premium-news",
    "x-datafire": {
      "name": "sportsdata_nba_v3_rotoballer_premium_news",
      "type": "openapi"
    }
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/nba/news-rotoballer",
  "schemes": [
    "http"
  ],
  "paths": {
    "/{format}/RotoBallerPremiumNews": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/News"
              },
              "type": "array"
            }
          }
        },
        "operationId": "PremiumNews",
        "summary": "Premium News"
      }
    },
    "/{format}/RotoBallerPremiumNewsByDate/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date of the news.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/News"
              },
              "type": "array"
            }
          }
        },
        "operationId": "PremiumNewsByDate",
        "summary": "Premium News by Date"
      }
    },
    "/{format}/RotoBallerPremiumNewsByPlayerID/{playerid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/News"
              },
              "type": "array"
            }
          }
        },
        "operationId": "PremiumNewsByPlayer",
        "summary": "Premium News by Player"
      }
    }
  },
  "definitions": {
    "News": {
      "properties": {
        "Author": {
          "nullable": true,
          "type": "string"
        },
        "Categories": {
          "nullable": true,
          "type": "string"
        },
        "Content": {
          "nullable": true,
          "type": "string"
        },
        "NewsID": {
          "nullable": false,
          "type": "integer"
        },
        "OriginalSource": {
          "nullable": true,
          "type": "string"
        },
        "OriginalSourceUrl": {
          "nullable": true,
          "type": "string"
        },
        "PlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "PlayerID2": {
          "nullable": true,
          "type": "integer"
        },
        "Source": {
          "nullable": true,
          "type": "string"
        },
        "Team": {
          "nullable": true,
          "type": "string"
        },
        "Team2": {
          "nullable": true,
          "type": "string"
        },
        "TeamID": {
          "nullable": true,
          "type": "integer"
        },
        "TeamID2": {
          "nullable": true,
          "type": "integer"
        },
        "TermsOfUse": {
          "nullable": true,
          "type": "string"
        },
        "TimeAgo": {
          "nullable": true,
          "type": "string"
        },
        "Title": {
          "nullable": true,
          "type": "string"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "Url": {
          "nullable": true,
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "subscription-key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "x-components": {}
}