{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "devrel@vonage.com",
      "name": "Vonage DevRel",
      "url": "https://developer.nexmo.com/"
    },
    "description": "The External Accounts API is used to manage accounts for Viber Service Messages, Facebook Messenger and Whatsapp for use in the [Messages](https://developer.nexmo.com/messages/overview) and [Dispatch](https://developer.nexmo.com/dispatch/overview) APIs.",
    "title": "External Accounts API",
    "version": "0.1.4",
    "x-label": "Developer Preview",
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/external-accounts.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "nexmo.com",
    "x-serviceName": "external-accounts",
    "x-datafire": {
      "name": "nexmo_external_accounts",
      "type": "openapi"
    }
  },
  "host": "api.nexmo.com",
  "basePath": "/beta/chatapp-accounts",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter by provider",
            "enum": [
              "messenger",
              "viber_service_msg",
              "whatsapp"
            ],
            "in": "query",
            "name": "provider",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Page number of the results",
            "in": "query",
            "name": "page_number",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Page size of the results",
            "in": "query",
            "name": "page_size",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "properties": {
                "_embedded": {
                  "items": {
                    "$ref": "#/definitions/GetAllAccountResponse"
                  },
                  "type": "array"
                },
                "_links": {
                  "properties": {
                    "first": {
                      "properties": {
                        "href": {
                          "example": "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "last": {
                      "properties": {
                        "href": {
                          "example": "https://api.nexmo.com/beta/chatapp-accounts?page_number=4&page_size=10",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "next": {
                      "properties": {
                        "href": {
                          "example": "https://api.nexmo.com/beta/chatapp-accounts?page_number=3&page_size=10",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "prev": {
                      "properties": {
                        "href": {
                          "example": "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "self": {
                      "properties": {
                        "href": {
                          "example": "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "page_number": {
                  "example": 1,
                  "type": "integer"
                },
                "page_size": {
                  "example": 10,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Account"
        ],
        "operationId": "GetAllAccounts",
        "summary": "Retrieve all accounts you own"
      }
    },
    "/messenger": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "access_token": {
                  "description": "This is the Facebook Page token. You can obtain the token using one of the following methods <ul> <li>Use our tool to link a page to your Vonage API account [https://messenger.nexmo.com](https://messenger.nexmo.com)</li> <li>Following the official [token reference](https://developers.facebook.com/docs/pages/access-tokens/)</li> </ul>",
                  "example": "myAccessToken",
                  "type": "string"
                },
                "applications": {
                  "description": "Contains a list of application IDs which are linked to the account. <ul> <li>There is just one application allowed per an account.</li> <li>The application type must be type \"messages\".</li> </ul> For more information see [Application API spec](https://developer.nexmo.com/api/application.v2)",
                  "example": [
                    "optionalApplicationId"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 1,
                  "minItems": 0,
                  "type": "array"
                },
                "external_id": {
                  "description": "This is the unique identifier within the provider's domain. In this case it is the Page ID for your Facebook Page. Go to your Facebook Page, click \"Settings\", click \"Messenger platform \" scroll down to \"Messenger link\" to find your Page ID.",
                  "example": "12345678",
                  "type": "string"
                },
                "name": {
                  "description": "Custom account name",
                  "example": "optionalName",
                  "type": "string"
                }
              },
              "required": [
                "external_id",
                "access_token"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/MessengerAccountResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Found errors validating 1 of your submitted parameters.",
                  "type": "string"
                },
                "instance": {
                  "example": null,
                  "type": "string"
                },
                "invalid_params": {
                  "items": {
                    "properties": {
                      "name": {
                        "example": "external_id",
                        "type": "string"
                      },
                      "reason": {
                        "example": "Missing `external_id` field",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "title": {
                  "example": "Your request parameters didn't validate.",
                  "type": "string"
                },
                "type": {
                  "example": "https://www.nexmo.com/messages/Errors#InvalidParams",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Facebook Messenger"
        ],
        "operationId": "CreateMessengerAccount",
        "summary": "Create a Messenger account"
      }
    },
    "/messenger/{external_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "External id of the account you want to delete. In this case it is the Facebook Page ID.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Not Found."
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Facebook Messenger"
        ],
        "operationId": "DeleteMessengerAccount",
        "summary": "Delete a Messenger account"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "External id of the account you want to retrieve. In this case it is the Facebook Page ID.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/MessengerAccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "404": {
            "description": "Not Found."
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Facebook Messenger"
        ],
        "operationId": "GetMessengerAccount",
        "summary": "Retrieve a Messenger account"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "External id of the account you want to update. In this case it is the Facebook Page ID.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Request body can contain any of the following",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "access_token": {
                  "example": "updatedAccessToken",
                  "type": "string"
                },
                "applications": {
                  "example": [
                    "newApplicationId"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "name": {
                  "description": "The new account name",
                  "example": "newName",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "properties": {
                "access_token": {
                  "description": "The provider access token",
                  "example": "updatedAccessToken",
                  "type": "string"
                },
                "api_key": {
                  "description": "The external api key for this account",
                  "example": "abcd1234",
                  "type": "string"
                },
                "applications": {
                  "description": "The array of associated application ids",
                  "example": [
                    "newApplicationId"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "external_id": {
                  "description": "The external identifier for this account. In this case it is the Facebook Page ID.",
                  "example": "12345678",
                  "type": "string"
                },
                "name": {
                  "description": "The account name",
                  "example": "newName",
                  "type": "string"
                },
                "provider": {
                  "description": "The provider (will be `messenger`).",
                  "example": "messenger",
                  "type": "string"
                }
              },
              "required": [
                "external_id",
                "api_key",
                "provider",
                "access_token"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Found errors validating 1 of your submitted parameters.",
                  "type": "string"
                },
                "instance": {
                  "example": null,
                  "type": "string"
                },
                "invalid_params": {
                  "items": {
                    "properties": {
                      "name": {
                        "example": "external_id",
                        "type": "string"
                      },
                      "reason": {
                        "example": "'external_id' parameter cannot be changed",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "title": {
                  "example": "Your request parameters didn't validate.",
                  "type": "string"
                },
                "type": {
                  "example": "https://www.nexmo.com/messages/Errors#InvalidParams",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Not Found."
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Facebook Messenger"
        ],
        "operationId": "UpdateMessengerAccount",
        "summary": "Update a Messenger account"
      }
    },
    "/viber_service_msg/{external_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "External id of the account you want to retrieve. In this case it will be your Viber Service Message ID.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/VSMAccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "404": {
            "description": "Not Found."
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Viber Service Message"
        ],
        "operationId": "GetVSMAccount",
        "summary": "Retrieve a Viber Service Message account"
      }
    },
    "/whatsapp/{external_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "External id of the account you want to retrieve. In this case it will be the WhatsApp number.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/WAAccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "404": {
            "description": "Not Found."
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "WhatsApp"
        ],
        "operationId": "GetWAAccount",
        "summary": "Retrieve a Whatsapp account"
      }
    },
    "/{provider}/{external_id}/applications": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Provider of the account you want to assign an application to",
            "enum": [
              "messenger",
              "viber_service_msg",
              "whatsapp"
            ],
            "in": "path",
            "name": "provider",
            "required": true,
            "type": "string"
          },
          {
            "description": "External id of the account you want to assign an application to. This is channel dependent. For Facebook it will be your Facebook Page ID, for Viber your Viber Service Message ID and for WhatsApp your WhatsApp number.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Request body can contain any of the following. Please note, the only one application can be linked to the account.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "application": {
                  "description": "There is just one application allowed per an account. The application type must be type \"messages\". For more information please see [Application API Spec](https://developer.nexmo.com/api/application.v2)",
                  "example": "applicationId",
                  "type": "string"
                }
              },
              "required": [
                "application"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "properties": {
                "detail": {
                  "description": "The application does not exist or the application type is not \"messages\"",
                  "example": "Cannot link application",
                  "type": "string"
                },
                "title": {
                  "example": "Forbidden",
                  "type": "string"
                },
                "type": {
                  "example": "https://www.nexmo.com/messages/Errors#Forbidden",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "properties": {
                "detail": {
                  "description": "The account reached limit of maximum number of linked applications. (The only one application is allowed per an account)",
                  "example": "Unable to link application",
                  "type": "string"
                },
                "title": {
                  "example": "Application conflict",
                  "type": "string"
                },
                "type": {
                  "example": "https://www.nexmo.com/messages/Errors#Conflict",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Application"
        ],
        "operationId": "LinkApplication",
        "summary": "Link application to an account"
      }
    },
    "/{provider}/{external_id}/applications/{application_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Provider of the account you want to unlink an application from",
            "enum": [
              "messenger",
              "viber_service_msg",
              "whatsapp"
            ],
            "in": "path",
            "name": "provider",
            "required": true,
            "type": "string"
          },
          {
            "description": "External id of the account you want to unlink an application from",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Id of the application you want to unlink",
            "in": "path",
            "name": "application_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "properties": {
                "detail": {
                  "example": "Cannot unlink application",
                  "type": "string"
                },
                "title": {
                  "example": "Forbidden",
                  "type": "string"
                },
                "type": {
                  "example": "https://www.nexmo.com/messages/Errors#Forbidden",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "properties": {
                "detail": {
                  "description": "The application is not linked or doesn't exist.",
                  "example": "Unable to unlink application",
                  "type": "string"
                },
                "title": {
                  "example": "Application conflict",
                  "type": "string"
                },
                "type": {
                  "example": "https://www.nexmo.com/messages/Errors#Conflict",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Application"
        ],
        "operationId": "UnliWithoutApplicationnkApplication",
        "summary": "Unlink application from an account"
      }
    }
  },
  "definitions": {
    "401Response": {
      "properties": {
        "detail": {
          "example": "Request header 'Authorization' missing / Invalid Token",
          "type": "string"
        },
        "title": {
          "example": "Unauthorised",
          "type": "string"
        }
      },
      "type": "object"
    },
    "403Response": {
      "properties": {
        "title": {
          "example": "Wrong authentication - You are not authorised to access this resource",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountResponse": {
      "properties": {
        "access_token": {
          "description": "The provider access token (only for `messenger`)",
          "example": "accessToken",
          "type": "string"
        },
        "api_key": {
          "description": "The external api key for this account",
          "example": "abcd1234",
          "type": "string"
        },
        "applications": {
          "description": "The array of associated application ids",
          "example": [
            "applicationId"
          ],
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "external_id": {
          "description": "The external identifier for this account",
          "example": "12345678",
          "type": "string"
        },
        "name": {
          "description": "The account name",
          "example": "name",
          "type": "string"
        },
        "provider": {
          "description": "The provider (will be one of `messenger, viber_service_msg, whatsapp`).",
          "enum": [
            "messenger",
            "viber_service_msg",
            "whatsapp"
          ],
          "example": "messenger",
          "type": "string"
        }
      },
      "required": [
        "external_id",
        "api_key",
        "provider"
      ],
      "type": "object"
    },
    "GetAllAccountResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/MessengerAccountResponse"
        },
        {
          "$ref": "#/definitions/VSMAccountResponse"
        },
        {
          "$ref": "#/definitions/WAAccountResponse"
        }
      ]
    },
    "MessengerAccountResponse": {
      "properties": {
        "access_token": {
          "description": "The provider access token",
          "example": "myAccessToken",
          "type": "string"
        },
        "api_key": {
          "description": "The external api key for this account",
          "example": "abcd1234",
          "type": "string"
        },
        "applications": {
          "description": "The array of associated application ids",
          "example": [
            "optionalApplicationId"
          ],
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "external_id": {
          "description": "The external identifier for this account",
          "example": "12345678",
          "type": "string"
        },
        "name": {
          "description": "The account name",
          "example": "optionalName",
          "type": "string"
        },
        "provider": {
          "description": "The provider (will be `messenger`).",
          "example": "messenger",
          "type": "string"
        }
      },
      "required": [
        "external_id",
        "api_key",
        "provider",
        "access_token"
      ],
      "type": "object"
    },
    "VSMAccountResponse": {
      "properties": {
        "api_key": {
          "description": "The external api key for this account",
          "example": "abcd1234",
          "type": "string"
        },
        "applications": {
          "description": "The array of associated application ids",
          "example": [
            "optionalApplicationId"
          ],
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "external_id": {
          "description": "The external identifier for this account",
          "example": "12345678",
          "type": "string"
        },
        "name": {
          "description": "The account name",
          "example": "optionalName",
          "type": "string"
        },
        "provider": {
          "description": "The provider (will be `viber_service_msg`).",
          "example": "viber_service_msg",
          "type": "string"
        }
      },
      "required": [
        "external_id",
        "api_key",
        "provider"
      ],
      "type": "object"
    },
    "WAAccountResponse": {
      "properties": {
        "api_key": {
          "description": "The external api key for this account",
          "example": "abcd1234",
          "type": "string"
        },
        "applications": {
          "description": "The array of associated application ids",
          "example": [
            "optionalApplicationId"
          ],
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "external_id": {
          "description": "The external identifier for this account",
          "example": "12345678",
          "type": "string"
        },
        "name": {
          "description": "The account name",
          "example": "optionalName",
          "type": "string"
        },
        "provider": {
          "description": "The provider (will be `whatsapp`).",
          "example": "whatsapp",
          "type": "string"
        }
      },
      "required": [
        "external_id",
        "api_key",
        "provider"
      ],
      "type": "object"
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    },
    "bearerAuth": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "tags": [
    {
      "description": "Inbound messages to an external account which is linked to an application will be delivered to the application's inbound URL.",
      "name": "Application"
    },
    {
      "description": "An external-account used as the `from` field in the Messages API and Dispatch API",
      "name": "Account"
    },
    {
      "description": "Managing your [Facebook Messenger](https://developer.nexmo.com/messages/concepts/facebook) account",
      "name": "Facebook Messenger"
    },
    {
      "description": "Managing your [Viber Service Message](https://developer.nexmo.com/messages/concepts/viber) account",
      "name": "Viber Service Message"
    },
    {
      "description": "Managing your [Whatsapp](https://developer.nexmo.com/messages/concepts/whatsapp) account",
      "name": "Whatsapp"
    }
  ],
  "x-components": {}
}