{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "codecommit.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>AWS CodeCommit</fullname> <p>This is the <i>AWS CodeCommit API Reference</i>. This reference provides descriptions of the operations and data types for AWS CodeCommit API along with usage examples.</p> <p>You can use the AWS CodeCommit API to work with the following objects:</p> <p>Repositories, by calling the following:</p> <ul> <li> <p> <a>BatchGetRepositories</a>, which returns information about one or more repositories associated with your AWS account.</p> </li> <li> <p> <a>CreateRepository</a>, which creates an AWS CodeCommit repository.</p> </li> <li> <p> <a>DeleteRepository</a>, which deletes an AWS CodeCommit repository.</p> </li> <li> <p> <a>GetRepository</a>, which returns information about a specified repository.</p> </li> <li> <p> <a>ListRepositories</a>, which lists all AWS CodeCommit repositories associated with your AWS account.</p> </li> <li> <p> <a>UpdateRepositoryDescription</a>, which sets or updates the description of the repository.</p> </li> <li> <p> <a>UpdateRepositoryName</a>, which changes the name of the repository. If you change the name of a repository, no other users of that repository will be able to access it until you send them the new HTTPS or SSH URL to use.</p> </li> </ul> <p>Branches, by calling the following:</p> <ul> <li> <p> <a>CreateBranch</a>, which creates a new branch in a specified repository.</p> </li> <li> <p> <a>DeleteBranch</a>, which deletes the specified branch in a repository unless it is the default branch.</p> </li> <li> <p> <a>GetBranch</a>, which returns information about a specified branch.</p> </li> <li> <p> <a>ListBranches</a>, which lists all branches for a specified repository.</p> </li> <li> <p> <a>UpdateDefaultBranch</a>, which changes the default branch for a repository.</p> </li> </ul> <p>Information about committed code in a repository, by calling the following:</p> <ul> <li> <p> <a>GetBlob</a>, which returns the base-64 encoded content of an individual Git blob object within a repository.</p> </li> <li> <p> <a>GetCommit</a>, which returns information about a commit, including commit messages and author and committer information.</p> </li> <li> <p> <a>GetDifferences</a>, which returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference).</p> </li> </ul> <p>Pull requests, by calling the following:</p> <ul> <li> <p> <a>CreatePullRequest</a>, which creates a pull request in a specified repository.</p> </li> <li> <p> <a>DescribePullRequestEvents</a>, which returns information about one or more pull request events.</p> </li> <li> <p> <a>GetCommentsForPullRequest</a>, which returns information about comments on a specified pull request.</p> </li> <li> <p> <a>GetMergeConflicts</a>, which returns information about merge conflicts between the source and destination branch in a pull request.</p> </li> <li> <p> <a>GetPullRequest</a>, which returns information about a specified pull request.</p> </li> <li> <p> <a>ListPullRequests</a>, which lists all pull requests for a repository.</p> </li> <li> <p> <a>MergePullRequestByFastForward</a>, which merges the source destination branch of a pull request into the specified destination branch for that pull request using the fast-forward merge option.</p> </li> <li> <p> <a>PostCommentForPullRequest</a>, which posts a comment to a pull request at the specified line, file, or request.</p> </li> <li> <p> <a>UpdatePullRequestDescription</a>, which updates the description of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestStatus</a>, which updates the status of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestTitle</a>, which updates the title of a pull request.</p> </li> </ul> <p>Information about comments in a repository, by calling the following:</p> <ul> <li> <p> <a>DeleteCommentContent</a>, which deletes the content of a comment on a commit in a repository.</p> </li> <li> <p> <a>GetComment</a>, which returns information about a comment on a commit.</p> </li> <li> <p> <a>GetCommentsForComparedCommit</a>, which returns information about comments on the comparison between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentForComparedCommit</a>, which creates a comment on the comparison between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentReply</a>, which creates a reply to a comment.</p> </li> <li> <p> <a>UpdateComment</a>, which updates the content of a comment on a commit in a repository.</p> </li> </ul> <p>Triggers, by calling the following:</p> <ul> <li> <p> <a>GetRepositoryTriggers</a>, which returns information about triggers configured for a repository.</p> </li> <li> <p> <a>PutRepositoryTriggers</a>, which replaces all triggers for a repository and can be used to create or delete triggers.</p> </li> <li> <p> <a>TestRepositoryTriggers</a>, which tests the functionality of a repository trigger by sending data to the trigger target.</p> </li> </ul> <p>For information about how to use AWS CodeCommit, see the <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">AWS CodeCommit User Guide</a>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS CodeCommit",
    "version": "2015-04-13",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecommit-2015-04-13.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "codecommit",
    "x-datafire": {
      "name": "amazonaws_codecommit",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/codecommit/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Returns information about one or more repositories.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
        "operationId": "BatchGetRepositories",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetRepositoriesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetRepositoriesOutput"
            }
          },
          "480": {
            "description": "RepositoryNamesRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNamesRequiredException"
            }
          },
          "481": {
            "description": "MaximumRepositoryNamesExceededException",
            "schema": {
              "$ref": "#/definitions/MaximumRepositoryNamesExceededException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "484": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "485": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "486": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "487": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#CreateBranch": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Creates a new branch in a repository and points the branch to a commit.</p> <note> <p>Calling the create branch operation does not set a repository's default branch. To do this, call the update default branch operation.</p> </note>",
        "operationId": "CreateBranch",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBranchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "482": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "483": {
            "description": "BranchNameRequiredException",
            "schema": {
              "$ref": "#/definitions/BranchNameRequiredException"
            }
          },
          "484": {
            "description": "BranchNameExistsException",
            "schema": {
              "$ref": "#/definitions/BranchNameExistsException"
            }
          },
          "485": {
            "description": "InvalidBranchNameException",
            "schema": {
              "$ref": "#/definitions/InvalidBranchNameException"
            }
          },
          "486": {
            "description": "CommitIdRequiredException",
            "schema": {
              "$ref": "#/definitions/CommitIdRequiredException"
            }
          },
          "487": {
            "description": "CommitDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommitDoesNotExistException"
            }
          },
          "488": {
            "description": "InvalidCommitIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitIdException"
            }
          },
          "489": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "490": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "491": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "492": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "493": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#CreatePullRequest": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a pull request in the specified repository.",
        "operationId": "CreatePullRequest",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePullRequestInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePullRequestOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "482": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "483": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "484": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "485": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "486": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "487": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          },
          "488": {
            "description": "ClientRequestTokenRequiredException",
            "schema": {
              "$ref": "#/definitions/ClientRequestTokenRequiredException"
            }
          },
          "489": {
            "description": "InvalidClientRequestTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidClientRequestTokenException"
            }
          },
          "490": {
            "description": "IdempotencyParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotencyParameterMismatchException"
            }
          },
          "491": {
            "description": "ReferenceNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ReferenceNameRequiredException"
            }
          },
          "492": {
            "description": "InvalidReferenceNameException",
            "schema": {
              "$ref": "#/definitions/InvalidReferenceNameException"
            }
          },
          "493": {
            "description": "ReferenceDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ReferenceDoesNotExistException"
            }
          },
          "494": {
            "description": "ReferenceTypeNotSupportedException",
            "schema": {
              "$ref": "#/definitions/ReferenceTypeNotSupportedException"
            }
          },
          "495": {
            "description": "TitleRequiredException",
            "schema": {
              "$ref": "#/definitions/TitleRequiredException"
            }
          },
          "496": {
            "description": "InvalidTitleException",
            "schema": {
              "$ref": "#/definitions/InvalidTitleException"
            }
          },
          "497": {
            "description": "InvalidDescriptionException",
            "schema": {
              "$ref": "#/definitions/InvalidDescriptionException"
            }
          },
          "498": {
            "description": "TargetsRequiredException",
            "schema": {
              "$ref": "#/definitions/TargetsRequiredException"
            }
          },
          "499": {
            "description": "InvalidTargetsException",
            "schema": {
              "$ref": "#/definitions/InvalidTargetsException"
            }
          },
          "500": {
            "description": "TargetRequiredException",
            "schema": {
              "$ref": "#/definitions/TargetRequiredException"
            }
          },
          "501": {
            "description": "InvalidTargetException",
            "schema": {
              "$ref": "#/definitions/InvalidTargetException"
            }
          },
          "502": {
            "description": "MultipleRepositoriesInPullRequestException",
            "schema": {
              "$ref": "#/definitions/MultipleRepositoriesInPullRequestException"
            }
          },
          "503": {
            "description": "MaximumOpenPullRequestsExceededException",
            "schema": {
              "$ref": "#/definitions/MaximumOpenPullRequestsExceededException"
            }
          },
          "504": {
            "description": "SourceAndDestinationAreSameException",
            "schema": {
              "$ref": "#/definitions/SourceAndDestinationAreSameException"
            }
          }
        }
      }
    },
    "/#CreateRepository": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a new, empty repository.",
        "operationId": "CreateRepository",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRepositoryInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRepositoryOutput"
            }
          },
          "480": {
            "description": "RepositoryNameExistsException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameExistsException"
            }
          },
          "481": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "InvalidRepositoryDescriptionException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryDescriptionException"
            }
          },
          "484": {
            "description": "RepositoryLimitExceededException",
            "schema": {
              "$ref": "#/definitions/RepositoryLimitExceededException"
            }
          },
          "485": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "486": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "487": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "488": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "489": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#DeleteBranch": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes a branch from a repository, unless that branch is the default branch for the repository. ",
        "operationId": "DeleteBranch",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBranchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteBranchOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "BranchNameRequiredException",
            "schema": {
              "$ref": "#/definitions/BranchNameRequiredException"
            }
          },
          "484": {
            "description": "InvalidBranchNameException",
            "schema": {
              "$ref": "#/definitions/InvalidBranchNameException"
            }
          },
          "485": {
            "description": "DefaultBranchCannotBeDeletedException",
            "schema": {
              "$ref": "#/definitions/DefaultBranchCannotBeDeletedException"
            }
          },
          "486": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "487": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "488": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "489": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "490": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#DeleteCommentContent": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the content of a comment made on a change, file, or commit in a repository.",
        "operationId": "DeleteCommentContent",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCommentContentInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteCommentContentOutput"
            }
          },
          "480": {
            "description": "CommentDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommentDoesNotExistException"
            }
          },
          "481": {
            "description": "CommentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/CommentIdRequiredException"
            }
          },
          "482": {
            "description": "InvalidCommentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommentIdException"
            }
          },
          "483": {
            "description": "CommentDeletedException",
            "schema": {
              "$ref": "#/definitions/CommentDeletedException"
            }
          }
        }
      }
    },
    "/#DeleteRepository": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Deletes a repository. If a specified repository was already deleted, a null repository ID will be returned.</p> <important> <p>Deleting a repository also deletes all associated objects and metadata. After a repository is deleted, all future push calls to the deleted repository will fail.</p> </important>",
        "operationId": "DeleteRepository",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteRepositoryInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRepositoryOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "482": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "483": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "484": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "485": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "486": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#DescribePullRequestEvents": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about one or more pull request events.",
        "operationId": "DescribePullRequestEvents",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribePullRequestEventsInput"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribePullRequestEventsOutput"
            }
          },
          "480": {
            "description": "PullRequestDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/PullRequestDoesNotExistException"
            }
          },
          "481": {
            "description": "InvalidPullRequestIdException",
            "schema": {
              "$ref": "#/definitions/InvalidPullRequestIdException"
            }
          },
          "482": {
            "description": "PullRequestIdRequiredException",
            "schema": {
              "$ref": "#/definitions/PullRequestIdRequiredException"
            }
          },
          "483": {
            "description": "InvalidPullRequestEventTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidPullRequestEventTypeException"
            }
          },
          "484": {
            "description": "InvalidActorArnException",
            "schema": {
              "$ref": "#/definitions/InvalidActorArnException"
            }
          },
          "485": {
            "description": "ActorDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ActorDoesNotExistException"
            }
          },
          "486": {
            "description": "InvalidMaxResultsException",
            "schema": {
              "$ref": "#/definitions/InvalidMaxResultsException"
            }
          },
          "487": {
            "description": "InvalidContinuationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidContinuationTokenException"
            }
          },
          "488": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "489": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "490": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "491": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "492": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetBlob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns the base-64 encoded content of an individual blob within a repository.",
        "operationId": "GetBlob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBlobInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBlobOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "482": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "483": {
            "description": "BlobIdRequiredException",
            "schema": {
              "$ref": "#/definitions/BlobIdRequiredException"
            }
          },
          "484": {
            "description": "InvalidBlobIdException",
            "schema": {
              "$ref": "#/definitions/InvalidBlobIdException"
            }
          },
          "485": {
            "description": "BlobIdDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/BlobIdDoesNotExistException"
            }
          },
          "486": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "487": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "488": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "489": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "490": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          },
          "491": {
            "description": "FileTooLargeException",
            "schema": {
              "$ref": "#/definitions/FileTooLargeException"
            }
          }
        }
      }
    },
    "/#GetBranch": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about a repository branch, including its name and the last commit ID.",
        "operationId": "GetBranch",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBranchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBranchOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "BranchNameRequiredException",
            "schema": {
              "$ref": "#/definitions/BranchNameRequiredException"
            }
          },
          "484": {
            "description": "InvalidBranchNameException",
            "schema": {
              "$ref": "#/definitions/InvalidBranchNameException"
            }
          },
          "485": {
            "description": "BranchDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/BranchDoesNotExistException"
            }
          },
          "486": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "487": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "488": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "489": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "490": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetComment": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns the content of a comment made on a change, file, or commit in a repository.",
        "operationId": "GetComment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCommentInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCommentOutput"
            }
          },
          "480": {
            "description": "CommentDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommentDoesNotExistException"
            }
          },
          "481": {
            "description": "CommentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/CommentIdRequiredException"
            }
          },
          "482": {
            "description": "InvalidCommentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommentIdException"
            }
          },
          "483": {
            "description": "CommentDeletedException",
            "schema": {
              "$ref": "#/definitions/CommentDeletedException"
            }
          }
        }
      }
    },
    "/#GetCommentsForComparedCommit": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about comments made on the comparison between two commits.",
        "operationId": "GetCommentsForComparedCommit",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCommentsForComparedCommitInput"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCommentsForComparedCommitOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "CommitIdRequiredException",
            "schema": {
              "$ref": "#/definitions/CommitIdRequiredException"
            }
          },
          "484": {
            "description": "InvalidCommitIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitIdException"
            }
          },
          "485": {
            "description": "CommitDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommitDoesNotExistException"
            }
          },
          "486": {
            "description": "InvalidMaxResultsException",
            "schema": {
              "$ref": "#/definitions/InvalidMaxResultsException"
            }
          },
          "487": {
            "description": "InvalidContinuationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidContinuationTokenException"
            }
          },
          "488": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "489": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "490": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "491": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "492": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetCommentsForPullRequest": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns comments made on a pull request.",
        "operationId": "GetCommentsForPullRequest",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCommentsForPullRequestInput"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCommentsForPullRequestOutput"
            }
          },
          "480": {
            "description": "PullRequestIdRequiredException",
            "schema": {
              "$ref": "#/definitions/PullRequestIdRequiredException"
            }
          },
          "481": {
            "description": "PullRequestDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/PullRequestDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidPullRequestIdException",
            "schema": {
              "$ref": "#/definitions/InvalidPullRequestIdException"
            }
          },
          "483": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "484": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "485": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "486": {
            "description": "CommitIdRequiredException",
            "schema": {
              "$ref": "#/definitions/CommitIdRequiredException"
            }
          },
          "487": {
            "description": "InvalidCommitIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitIdException"
            }
          },
          "488": {
            "description": "CommitDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommitDoesNotExistException"
            }
          },
          "489": {
            "description": "InvalidMaxResultsException",
            "schema": {
              "$ref": "#/definitions/InvalidMaxResultsException"
            }
          },
          "490": {
            "description": "InvalidContinuationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidContinuationTokenException"
            }
          },
          "491": {
            "description": "RepositoryNotAssociatedWithPullRequestException",
            "schema": {
              "$ref": "#/definitions/RepositoryNotAssociatedWithPullRequestException"
            }
          },
          "492": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "493": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "494": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "495": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "496": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetCommit": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about a commit, including commit message and committer information.",
        "operationId": "GetCommit",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCommitInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCommitOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "482": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "483": {
            "description": "CommitIdRequiredException",
            "schema": {
              "$ref": "#/definitions/CommitIdRequiredException"
            }
          },
          "484": {
            "description": "InvalidCommitIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitIdException"
            }
          },
          "485": {
            "description": "CommitIdDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommitIdDoesNotExistException"
            }
          },
          "486": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "487": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "488": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "489": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "490": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetDifferences": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference). Results can be limited to a specified path.",
        "operationId": "GetDifferences",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDifferencesInput"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDifferencesOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "InvalidContinuationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidContinuationTokenException"
            }
          },
          "484": {
            "description": "InvalidMaxResultsException",
            "schema": {
              "$ref": "#/definitions/InvalidMaxResultsException"
            }
          },
          "485": {
            "description": "InvalidCommitIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitIdException"
            }
          },
          "486": {
            "description": "CommitRequiredException",
            "schema": {
              "$ref": "#/definitions/CommitRequiredException"
            }
          },
          "487": {
            "description": "InvalidCommitException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitException"
            }
          },
          "488": {
            "description": "CommitDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommitDoesNotExistException"
            }
          },
          "489": {
            "description": "InvalidPathException",
            "schema": {
              "$ref": "#/definitions/InvalidPathException"
            }
          },
          "490": {
            "description": "PathDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/PathDoesNotExistException"
            }
          },
          "491": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "492": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "493": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "494": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "495": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetMergeConflicts": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about merge conflicts between the before and after commit IDs for a pull request in a repository.",
        "operationId": "GetMergeConflicts",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMergeConflictsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMergeConflictsOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "482": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "483": {
            "description": "MergeOptionRequiredException",
            "schema": {
              "$ref": "#/definitions/MergeOptionRequiredException"
            }
          },
          "484": {
            "description": "InvalidMergeOptionException",
            "schema": {
              "$ref": "#/definitions/InvalidMergeOptionException"
            }
          },
          "485": {
            "description": "InvalidDestinationCommitSpecifierException",
            "schema": {
              "$ref": "#/definitions/InvalidDestinationCommitSpecifierException"
            }
          },
          "486": {
            "description": "InvalidSourceCommitSpecifierException",
            "schema": {
              "$ref": "#/definitions/InvalidSourceCommitSpecifierException"
            }
          },
          "487": {
            "description": "CommitRequiredException",
            "schema": {
              "$ref": "#/definitions/CommitRequiredException"
            }
          },
          "488": {
            "description": "CommitDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommitDoesNotExistException"
            }
          },
          "489": {
            "description": "InvalidCommitException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitException"
            }
          },
          "490": {
            "description": "TipsDivergenceExceededException",
            "schema": {
              "$ref": "#/definitions/TipsDivergenceExceededException"
            }
          },
          "491": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "492": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "493": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "494": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "495": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetPullRequest": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets information about a pull request in a specified repository.",
        "operationId": "GetPullRequest",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPullRequestInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPullRequestOutput"
            }
          },
          "480": {
            "description": "PullRequestDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/PullRequestDoesNotExistException"
            }
          },
          "481": {
            "description": "InvalidPullRequestIdException",
            "schema": {
              "$ref": "#/definitions/InvalidPullRequestIdException"
            }
          },
          "482": {
            "description": "PullRequestIdRequiredException",
            "schema": {
              "$ref": "#/definitions/PullRequestIdRequiredException"
            }
          },
          "483": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "484": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "485": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "486": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "487": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetRepository": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Returns information about a repository.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
        "operationId": "GetRepository",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRepositoryInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRepositoryOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "484": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "485": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "486": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "487": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#GetRepositoryTriggers": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets information about triggers configured for a repository.",
        "operationId": "GetRepositoryTriggers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRepositoryTriggersInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRepositoryTriggersOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "482": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "483": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "484": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "485": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "486": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "487": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#ListBranches": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets information about one or more branches in a repository.",
        "operationId": "ListBranches",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBranchesInput"
            }
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBranchesOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "484": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "485": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "486": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "487": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          },
          "488": {
            "description": "InvalidContinuationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidContinuationTokenException"
            }
          }
        }
      }
    },
    "/#ListPullRequests": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns a list of pull requests for a specified repository. The return list can be refined by pull request status or pull request author ARN.",
        "operationId": "ListPullRequests",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListPullRequestsInput"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPullRequestsOutput"
            }
          },
          "480": {
            "description": "InvalidPullRequestStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidPullRequestStatusException"
            }
          },
          "481": {
            "description": "InvalidAuthorArnException",
            "schema": {
              "$ref": "#/definitions/InvalidAuthorArnException"
            }
          },
          "482": {
            "description": "AuthorDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/AuthorDoesNotExistException"
            }
          },
          "483": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "484": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "485": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "486": {
            "description": "InvalidMaxResultsException",
            "schema": {
              "$ref": "#/definitions/InvalidMaxResultsException"
            }
          },
          "487": {
            "description": "InvalidContinuationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidContinuationTokenException"
            }
          },
          "488": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "489": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "490": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "491": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "492": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#ListRepositories": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets information about one or more repositories.",
        "operationId": "ListRepositories",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListRepositoriesInput"
            }
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRepositoriesOutput"
            }
          },
          "480": {
            "description": "InvalidSortByException",
            "schema": {
              "$ref": "#/definitions/InvalidSortByException"
            }
          },
          "481": {
            "description": "InvalidOrderException",
            "schema": {
              "$ref": "#/definitions/InvalidOrderException"
            }
          },
          "482": {
            "description": "InvalidContinuationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidContinuationTokenException"
            }
          }
        }
      }
    },
    "/#MergePullRequestByFastForward": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Closes a pull request and attempts to merge the source commit of a pull request into the specified destination branch for that pull request at the specified commit using the fast-forward merge option.",
        "operationId": "MergePullRequestByFastForward",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergePullRequestByFastForwardInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MergePullRequestByFastForwardOutput"
            }
          },
          "480": {
            "description": "ManualMergeRequiredException",
            "schema": {
              "$ref": "#/definitions/ManualMergeRequiredException"
            }
          },
          "481": {
            "description": "PullRequestAlreadyClosedException",
            "schema": {
              "$ref": "#/definitions/PullRequestAlreadyClosedException"
            }
          },
          "482": {
            "description": "PullRequestDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/PullRequestDoesNotExistException"
            }
          },
          "483": {
            "description": "InvalidPullRequestIdException",
            "schema": {
              "$ref": "#/definitions/InvalidPullRequestIdException"
            }
          },
          "484": {
            "description": "PullRequestIdRequiredException",
            "schema": {
              "$ref": "#/definitions/PullRequestIdRequiredException"
            }
          },
          "485": {
            "description": "TipOfSourceReferenceIsDifferentException",
            "schema": {
              "$ref": "#/definitions/TipOfSourceReferenceIsDifferentException"
            }
          },
          "486": {
            "description": "ReferenceDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ReferenceDoesNotExistException"
            }
          },
          "487": {
            "description": "InvalidCommitIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitIdException"
            }
          },
          "488": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "489": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "490": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "491": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "492": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "493": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "494": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "495": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          }
        }
      }
    },
    "/#PostCommentForComparedCommit": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Posts a comment on the comparison between two commits.",
        "operationId": "PostCommentForComparedCommit",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostCommentForComparedCommitInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PostCommentForComparedCommitOutput"
            }
          },
          "480": {
            "description": "RepositoryNameRequiredException",
            "schema": {
              "$ref": "#/definitions/RepositoryNameRequiredException"
            }
          },
          "481": {
            "description": "RepositoryDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RepositoryDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidRepositoryNameException",
            "schema": {
              "$ref": "#/definitions/InvalidRepositoryNameException"
            }
          },
          "483": {
            "description": "ClientRequestTokenRequiredException",
            "schema": {
              "$ref": "#/definitions/ClientRequestTokenRequiredException"
            }
          },
          "484": {
            "description": "InvalidClientRequestTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidClientRequestTokenException"
            }
          },
          "485": {
            "description": "IdempotencyParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotencyParameterMismatchException"
            }
          },
          "486": {
            "description": "CommentContentRequiredException",
            "schema": {
              "$ref": "#/definitions/CommentContentRequiredException"
            }
          },
          "487": {
            "description": "CommentContentSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CommentContentSizeLimitExceededException"
            }
          },
          "488": {
            "description": "InvalidFileLocationException",
            "schema": {
              "$ref": "#/definitions/InvalidFileLocationException"
            }
          },
          "489": {
            "description": "InvalidRelativeFileVersionEnumException",
            "schema": {
              "$ref": "#/definitions/InvalidRelativeFileVersionEnumException"
            }
          },
          "490": {
            "description": "PathRequiredException",
            "schema": {
              "$ref": "#/definitions/PathRequiredException"
            }
          },
          "491": {
            "description": "InvalidFilePositionException",
            "schema": {
              "$ref": "#/definitions/InvalidFilePositionException"
            }
          },
          "492": {
            "description": "CommitIdRequiredException",
            "schema": {
              "$ref": "#/definitions/CommitIdRequiredException"
            }
          },
          "493": {
            "description": "InvalidCommitIdException",
            "schema": {
              "$ref": "#/definitions/InvalidCommitIdException"
            }
          },
          "494": {
            "description": "EncryptionIntegrityChecksFailedException",
            "schema": {
              "$ref": "#/definitions/EncryptionIntegrityChecksFailedException"
            }
          },
          "495": {
            "description": "EncryptionKeyAccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyAccessDeniedException"
            }
          },
          "496": {
            "description": "EncryptionKeyDisabledException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyDisabledException"
            }
          },
          "497": {
            "description": "EncryptionKeyNotFoundException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyNotFoundException"
            }
          },
          "498": {
            "description": "EncryptionKeyUnavailableException",
            "schema": {
              "$ref": "#/definitions/EncryptionKeyUnavailableException"
            }
          },
          "499": {
            "description": "BeforeCommitIdAndAfterCommitIdAreSameException",
            "schema": {
              "$ref": "#/definitions/BeforeCommitIdAndAfterCommitIdAreSameException"
            }
          },
          "500": {
            "description": "CommitDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/CommitDoesNotExistException"
            }
          },
          "501": {
            "description": "InvalidPathException",
            "schema": {
              "$ref": "#/definitions/InvalidPathException"
            }
          },
          "502": {
            "description": "PathDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/PathDoesNotExistException"
            }
          }
        }
      }
    },
    "/#PostCommentForPullRequest": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
[...]
