{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "AWS Elemental MediaConvert",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Elemental MediaConvert",
    "version": "2017-08-29",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediaconvert-2017-08-29.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "mediaconvert",
    "x-datafire": {
      "name": "amazonaws_mediaconvert",
      "type": "openapi"
    }
  },
  "host": "mediaconvert.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/2017-08-29/certificates": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "arn": {
                  "description": "The ARN of the ACM certificate that you want to associate with your MediaConvert resource.",
                  "type": "string"
                }
              },
              "required": [
                "arn"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateCertificateResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.",
        "operationId": "AssociateCertificate"
      }
    },
    "/2017-08-29/certificates/{arn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ARN of the ACM certificate that you want to disassociate from your MediaConvert resource.",
            "in": "path",
            "name": "arn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateCertificateResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Removes an association between the Amazon Resource Name (ARN) of an AWS Certificate Manager (ACM) certificate and an AWS Elemental MediaConvert resource.",
        "operationId": "DisassociateCertificate"
      }
    },
    "/2017-08-29/endpoints": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "maxResults": {
                  "description": "Optional. Max number of endpoints, up to twenty, that will be returned at one time.",
                  "type": "integer"
                },
                "mode": {
                  "description": "Optional field, defaults to DEFAULT. Specify DEFAULT for this operation to return your endpoints if any exist, or to create an endpoint for you and return it if one doesn't already exist. Specify GET_ONLY to return your endpoints if any exist, or an empty list if none exist.",
                  "enum": [
                    "DEFAULT",
                    "GET_ONLY"
                  ],
                  "type": "string"
                },
                "nextToken": {
                  "description": "Use this string, provided with the response to a previous request, to request the next batch of endpoints.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeEndpointsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Send an request with an empty body to the regional API endpoint to get your account API endpoint.",
        "operationId": "DescribeEndpoints"
      }
    },
    "/2017-08-29/jobTemplates": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optionally, specify a job template category to limit responses to only job templates from that category.",
            "in": "query",
            "name": "category",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. When you request a list of job templates, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don't specify, the service will list them by name.",
            "enum": [
              "NAME",
              "CREATION_DATE",
              "SYSTEM"
            ],
            "in": "query",
            "name": "listBy",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. Number of job templates, up to twenty, that will be returned at one time.",
            "in": "query",
            "maximum": 20,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Use this string, provided with the response to a previous request, to request the next batch of job templates.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. When you request lists of resources, you can specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ],
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobTemplatesResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array",
        "operationId": "ListJobTemplates"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.",
                  "type": "object"
                },
                "accelerationSettings": {
                  "description": "Accelerated transcoding can significantly speed up jobs with long, visually complex content.",
                  "properties": {
                    "Mode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AccelerationMode"
                        },
                        {
                          "description": "Specify the conditions when the service will run your job with accelerated transcoding.",
                          "xml": {
                            "name": "mode"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "category": {
                  "description": "Optional. A category for the job template you are creating",
                  "type": "string"
                },
                "description": {
                  "description": "Optional. A description of the job template you are creating.",
                  "type": "string"
                },
                "hopDestinations": {
                  "description": "Optional. Use queue hopping to avoid overly long waits in the backlog of the queue that you submit your job to. Specify an alternate queue and the maximum time that your job will wait in the initial queue before hopping. For more information about this feature, see the AWS Elemental MediaConvert User Guide.",
                  "items": {
                    "$ref": "#/definitions/HopDestination"
                  },
                  "type": "array"
                },
                "name": {
                  "description": "The name of the job template you are creating.",
                  "type": "string"
                },
                "priority": {
                  "description": "Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don't specify a priority, the service uses the default value 0.",
                  "maximum": 50,
                  "minimum": -50,
                  "type": "integer"
                },
                "queue": {
                  "description": "Optional. The queue that jobs created from this template are assigned to. If you don't specify this, jobs will go to the default queue.",
                  "type": "string"
                },
                "settings": {
                  "description": "JobTemplateSettings contains all the transcode settings saved in the template that will be applied to jobs created from it.",
                  "properties": {
                    "AdAvailOffset": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integerMinNegative1000Max1000"
                        },
                        {
                          "description": "When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.",
                          "xml": {
                            "name": "adAvailOffset"
                          }
                        }
                      ]
                    },
                    "AvailBlanking": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AvailBlanking"
                        },
                        {
                          "description": "Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.",
                          "xml": {
                            "name": "availBlanking"
                          }
                        }
                      ]
                    },
                    "Esam": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EsamSettings"
                        },
                        {
                          "description": "Settings for Event Signaling And Messaging (ESAM).",
                          "xml": {
                            "name": "esam"
                          }
                        }
                      ]
                    },
                    "Inputs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfInputTemplate"
                        },
                        {
                          "description": "Use Inputs (inputs) to define the source file used in the transcode job. There can only be one input in a job template.  Using the API, you can include multiple inputs when referencing a job template.",
                          "xml": {
                            "name": "inputs"
                          }
                        }
                      ]
                    },
                    "MotionImageInserter": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MotionImageInserter"
                        },
                        {
                          "description": "Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.",
                          "xml": {
                            "name": "motionImageInserter"
                          }
                        }
                      ]
                    },
                    "NielsenConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NielsenConfiguration"
                        },
                        {
                          "description": "Settings for your Nielsen configuration. If you don't do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don't include any children of nielsenConfiguration, you still enable the setting.",
                          "xml": {
                            "name": "nielsenConfiguration"
                          }
                        }
                      ]
                    },
                    "NielsenNonLinearWatermark": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NielsenNonLinearWatermarkSettings"
                        },
                        {
                          "description": "Ignore these settings unless you are using Nielsen non-linear watermarking. Specify the values that  MediaConvert uses to generate and place Nielsen watermarks in your output audio. In addition to  specifying these values, you also need to set up your cloud TIC server. These settings apply to  every output in your job. The MediaConvert implementation is currently with the following Nielsen versions: Nielsen Watermark SDK Version 5.2.1 Nielsen NLM Watermark Engine Version 1.2.7 Nielsen Watermark Authenticator [SID_TIC] Version [5.0.0]",
                          "xml": {
                            "name": "nielsenNonLinearWatermark"
                          }
                        }
                      ]
                    },
                    "OutputGroups": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfOutputGroup"
                        },
                        {
                          "description": "(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings",
                          "xml": {
                            "name": "outputGroups"
                          }
                        }
                      ]
                    },
                    "TimecodeConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TimecodeConfig"
                        },
                        {
                          "description": "Contains settings used to acquire and adjust timecode information from inputs.",
                          "xml": {
                            "name": "timecodeConfig"
                          }
                        }
                      ]
                    },
                    "TimedMetadataInsertion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TimedMetadataInsertion"
                        },
                        {
                          "description": "Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in any HLS outputs. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.",
                          "xml": {
                            "name": "timedMetadataInsertion"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "statusUpdateInterval": {
                  "description": "Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.",
                  "enum": [
                    "SECONDS_10",
                    "SECONDS_12",
                    "SECONDS_15",
                    "SECONDS_20",
                    "SECONDS_30",
                    "SECONDS_60",
                    "SECONDS_120",
                    "SECONDS_180",
                    "SECONDS_240",
                    "SECONDS_300",
                    "SECONDS_360",
                    "SECONDS_420",
                    "SECONDS_480",
                    "SECONDS_540",
                    "SECONDS_600"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "name",
                "settings"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateJobTemplateResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
        "operationId": "CreateJobTemplate"
      }
    },
    "/2017-08-29/jobTemplates/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job template to be deleted.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteJobTemplateResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Permanently delete a job template you have created.",
        "operationId": "DeleteJobTemplate"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job template.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetJobTemplateResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Retrieve the JSON for a specific job template.",
        "operationId": "GetJobTemplate"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job template you are modifying",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "accelerationSettings": {
                  "description": "Accelerated transcoding can significantly speed up jobs with long, visually complex content.",
                  "properties": {
                    "Mode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AccelerationMode"
                        },
                        {
                          "description": "Specify the conditions when the service will run your job with accelerated transcoding.",
                          "xml": {
                            "name": "mode"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "category": {
                  "description": "The new category for the job template, if you are changing it.",
                  "type": "string"
                },
                "description": {
                  "description": "The new description for the job template, if you are changing it.",
                  "type": "string"
                },
                "hopDestinations": {
                  "description": "Optional list of hop destinations.",
                  "items": {
                    "$ref": "#/definitions/HopDestination"
                  },
                  "type": "array"
                },
                "priority": {
                  "description": "Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don't specify a priority, the service uses the default value 0.",
                  "maximum": 50,
                  "minimum": -50,
                  "type": "integer"
                },
                "queue": {
                  "description": "The new queue for the job template, if you are changing it.",
                  "type": "string"
                },
                "settings": {
                  "description": "JobTemplateSettings contains all the transcode settings saved in the template that will be applied to jobs created from it.",
                  "properties": {
                    "AdAvailOffset": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integerMinNegative1000Max1000"
                        },
                        {
                          "description": "When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.",
                          "xml": {
                            "name": "adAvailOffset"
                          }
                        }
                      ]
                    },
                    "AvailBlanking": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AvailBlanking"
                        },
                        {
                          "description": "Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.",
                          "xml": {
                            "name": "availBlanking"
                          }
                        }
                      ]
                    },
                    "Esam": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EsamSettings"
                        },
                        {
                          "description": "Settings for Event Signaling And Messaging (ESAM).",
                          "xml": {
                            "name": "esam"
                          }
                        }
                      ]
                    },
                    "Inputs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfInputTemplate"
                        },
                        {
                          "description": "Use Inputs (inputs) to define the source file used in the transcode job. There can only be one input in a job template.  Using the API, you can include multiple inputs when referencing a job template.",
                          "xml": {
                            "name": "inputs"
                          }
                        }
                      ]
                    },
                    "MotionImageInserter": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MotionImageInserter"
                        },
                        {
                          "description": "Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.",
                          "xml": {
                            "name": "motionImageInserter"
                          }
                        }
                      ]
                    },
                    "NielsenConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NielsenConfiguration"
                        },
                        {
                          "description": "Settings for your Nielsen configuration. If you don't do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don't include any children of nielsenConfiguration, you still enable the setting.",
                          "xml": {
                            "name": "nielsenConfiguration"
                          }
                        }
                      ]
                    },
                    "NielsenNonLinearWatermark": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NielsenNonLinearWatermarkSettings"
                        },
                        {
                          "description": "Ignore these settings unless you are using Nielsen non-linear watermarking. Specify the values that  MediaConvert uses to generate and place Nielsen watermarks in your output audio. In addition to  specifying these values, you also need to set up your cloud TIC server. These settings apply to  every output in your job. The MediaConvert implementation is currently with the following Nielsen versions: Nielsen Watermark SDK Version 5.2.1 Nielsen NLM Watermark Engine Version 1.2.7 Nielsen Watermark Authenticator [SID_TIC] Version [5.0.0]",
                          "xml": {
                            "name": "nielsenNonLinearWatermark"
                          }
                        }
                      ]
                    },
                    "OutputGroups": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfOutputGroup"
                        },
                        {
                          "description": "(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings",
                          "xml": {
                            "name": "outputGroups"
                          }
                        }
                      ]
                    },
                    "TimecodeConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TimecodeConfig"
                        },
                        {
                          "description": "Contains settings used to acquire and adjust timecode information from inputs.",
                          "xml": {
                            "name": "timecodeConfig"
                          }
                        }
                      ]
                    },
                    "TimedMetadataInsertion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TimedMetadataInsertion"
                        },
                        {
                          "description": "Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in any HLS outputs. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.",
                          "xml": {
                            "name": "timedMetadataInsertion"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "statusUpdateInterval": {
                  "description": "Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.",
                  "enum": [
                    "SECONDS_10",
                    "SECONDS_12",
                    "SECONDS_15",
                    "SECONDS_20",
                    "SECONDS_30",
                    "SECONDS_60",
                    "SECONDS_120",
                    "SECONDS_180",
                    "SECONDS_240",
                    "SECONDS_300",
                    "SECONDS_360",
                    "SECONDS_420",
                    "SECONDS_480",
                    "SECONDS_540",
                    "SECONDS_600"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateJobTemplateResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Modify one of your existing job templates.",
        "operationId": "UpdateJobTemplate"
      }
    },
    "/2017-08-29/jobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional. Number of jobs, up to twenty, that will be returned at one time.",
            "in": "query",
            "maximum": 20,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Optional. Use this string, provided with the response to a previous request, to request the next batch of jobs.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. When you request lists of resources, you can specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ],
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. Provide a queue name to get back only jobs from that queue.",
            "in": "query",
            "name": "queue",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. A job's status can be SUBMITTED, PROGRESSING, COMPLETE, CANCELED, or ERROR.",
            "enum": [
              "SUBMITTED",
              "PROGRESSING",
              "COMPLETE",
              "CANCELED",
              "ERROR"
            ],
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array.",
        "operationId": "ListJobs"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "Optional. The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.  Use standard AWS tags on your job for automatic integration with AWS services and for custom integrations and workflows.",
                  "type": "object"
                },
                "accelerationSettings": {
                  "description": "Accelerated transcoding can significantly speed up jobs with long, visually complex content.",
                  "properties": {
                    "Mode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AccelerationMode"
                        },
                        {
                          "description": "Specify the conditions when the service will run your job with accelerated transcoding.",
                          "xml": {
                            "name": "mode"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "billingTagsSource": {
                  "description": "The tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up.",
                  "enum": [
                    "QUEUE",
                    "PRESET",
                    "JOB_TEMPLATE",
                    "JOB"
                  ],
                  "type": "string"
                },
                "clientRequestToken": {
                  "description": "Optional. Idempotency token for CreateJob operation.",
                  "type": "string"
                },
                "hopDestinations": {
                  "description": "Optional. Use queue hopping to avoid overly long waits in the backlog of the queue that you submit your job to. Specify an alternate queue and the maximum time that your job will wait in the initial queue before hopping. For more information about this feature, see the AWS Elemental MediaConvert User Guide.",
                  "items": {
                    "$ref": "#/definitions/HopDestination"
                  },
                  "type": "array"
                },
                "jobTemplate": {
                  "description": "Optional. When you create a job, you can either specify a job template or specify the transcoding settings individually.",
                  "type": "string"
                },
                "priority": {
                  "description": "Optional. Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don't specify a priority, the service uses the default value 0.",
                  "maximum": 50,
                  "minimum": -50,
                  "type": "integer"
                },
                "queue": {
                  "description": "Optional. When you create a job, you can specify a queue to send it to. If you don't specify, the job will go to the default queue. For more about queues, see the User Guide topic at https://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html.",
                  "type": "string"
                },
                "role": {
                  "description": "Required. The IAM role you use for creating this job. For details about permissions, see the User Guide topic at the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/iam-role.html.",
                  "type": "string"
                },
                "settings": {
                  "description": "JobSettings contains all the transcode settings for a job.",
                  "properties": {
                    "AdAvailOffset": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integerMinNegative1000Max1000"
                        },
                        {
                          "description": "When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.",
                          "xml": {
                            "name": "adAvailOffset"
                          }
                        }
                      ]
                    },
                    "AvailBlanking": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AvailBlanking"
                        },
                        {
                          "description": "Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.",
                          "xml": {
                            "name": "availBlanking"
                          }
                        }
                      ]
                    },
                    "Esam": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EsamSettings"
                        },
                        {
                          "description": "Settings for Event Signaling And Messaging (ESAM).",
                          "xml": {
                            "name": "esam"
                          }
                        }
                      ]
                    },
                    "Inputs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfInput"
                        },
                        {
                          "description": "Use Inputs (inputs) to define source file used in the transcode job. There can be multiple inputs add in a job. These inputs will be concantenated together to create the output.",
                          "xml": {
                            "name": "inputs"
                          }
                        }
                      ]
                    },
                    "MotionImageInserter": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MotionImageInserter"
                        },
                        {
                          "description": "Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.",
                          "xml": {
                            "name": "motionImageInserter"
                          }
                        }
                      ]
                    },
                    "NielsenConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NielsenConfiguration"
                        },
                        {
                          "description": "Settings for your Nielsen configuration. If you don't do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don't include any children of nielsenConfiguration, you still enable the setting.",
                          "xml": {
                            "name": "nielsenConfiguration"
                          }
                        }
                      ]
                    },
                    "NielsenNonLinearWatermark": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NielsenNonLinearWatermarkSettings"
                        },
                        {
                          "description": "Ignore these settings unless you are using Nielsen non-linear watermarking. Specify the values that  MediaConvert uses to generate and place Nielsen watermarks in your output audio. In addition to  specifying these values, you also need to set up your cloud TIC server. These settings apply to  every output in your job. The MediaConvert implementation is currently with the following Nielsen versions: Nielsen Watermark SDK Version 5.2.1 Nielsen NLM Watermark Engine Version 1.2.7 Nielsen Watermark Authenticator [SID_TIC] Version [5.0.0]",
                          "xml": {
                            "name": "nielsenNonLinearWatermark"
                          }
                        }
                      ]
                    },
                    "OutputGroups": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfOutputGroup"
                        },
                        {
                          "description": "(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings",
                          "xml": {
                            "name": "outputGroups"
                          }
                        }
                      ]
                    },
                    "TimecodeConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TimecodeConfig"
                        },
                        {
                          "description": "Contains settings used to acquire and adjust timecode information from inputs.",
                          "xml": {
                            "name": "timecodeConfig"
                          }
                        }
                      ]
                    },
                    "TimedMetadataInsertion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TimedMetadataInsertion"
                        },
                        {
                          "description": "Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in any HLS outputs. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.",
                          "xml": {
                            "name": "timedMetadataInsertion"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "simulateReservedQueue": {
                  "description": "Enable this setting when you run a test job to estimate how many reserved transcoding slots (RTS) you need. When this is enabled, MediaConvert runs your job from an on-demand queue with similar performance to what you will see with one RTS in a reserved queue. This setting is disabled by default.",
                  "enum": [
                    "DISABLED",
                    "ENABLED"
                  ],
                  "type": "string"
                },
                "statusUpdateInterval": {
                  "description": "Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.",
                  "enum": [
                    "SECONDS_10",
                    "SECONDS_12",
                    "SECONDS_15",
                    "SECONDS_20",
                    "SECONDS_30",
                    "SECONDS_60",
                    "SECONDS_120",
                    "SECONDS_180",
                    "SECONDS_240",
                    "SECONDS_300",
                    "SECONDS_360",
                    "SECONDS_420",
                    "SECONDS_480",
                    "SECONDS_540",
                    "SECONDS_600"
                  ],
                  "type": "string"
                },
                "userMetadata": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "Optional. User-defined metadata that you want to associate with an MediaConvert job. You specify metadata in key/value pairs.  Use only for existing integrations or workflows that rely on job metadata tags. Otherwise, we recommend that you use standard AWS tags.",
                  "type": "object"
                }
              },
              "required": [
                "role",
                "settings"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateJobResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
        "operationId": "CreateJob"
      }
    },
    "/2017-08-29/jobs/{id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Job ID of the job to be cancelled.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelJobResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Permanently cancel a job. Once you have canceled a job, you can't start it again.",
        "operationId": "CancelJob"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the job ID of the job.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetJobResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Retrieve the JSON for a specific completed transcoding job.",
        "operationId": "GetJob"
      }
    },
    "/2017-08-29/presets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optionally, specify a preset category to limit responses to only presets from that category.",
            "in": "query",
            "name": "category",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. When you request a list of presets, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don't specify, the service will list them by name.",
            "enum": [
              "NAME",
              "CREATION_DATE",
              "SYSTEM"
            ],
            "in": "query",
            "name": "listBy",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. Number of presets, up to twenty, that will be returned at one time",
            "in": "query",
            "maximum": 20,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Use this string, provided with the response to a previous request, to request the next batch of presets.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. When you request lists of resources, you can specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ],
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPresetsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array.",
        "operationId": "ListPresets"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.",
                  "type": "object"
                },
                "category": {
                  "description": "Optional. A category for the preset you are creating.",
                  "type": "string"
                },
                "description": {
                  "description": "Optional. A description of the preset you are creating.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the preset you are creating.",
                  "type": "string"
                },
                "settings": {
                  "description": "Settings for preset",
                  "properties": {
                    "AudioDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfAudioDescription"
                        },
                        {
                          "description": "(AudioDescriptions) contains groups of audio encoding settings organized by audio codec. Include one instance of (AudioDescriptions) per output. (AudioDescriptions) can contain multiple groups of encoding settings.",
                          "xml": {
                            "name": "audioDescriptions"
                          }
                        }
                      ]
                    },
                    "CaptionDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfCaptionDescriptionPreset"
                        },
                        {
                          "description": "Caption settings for this preset. There can be multiple caption settings in a single output.",
                          "xml": {
                            "name": "captionDescriptions"
                          }
                        }
                      ]
                    },
                    "ContainerSettings": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ContainerSettings"
                        },
                        {
                          "description": "Container specific settings.",
                          "xml": {
                            "name": "containerSettings"
                          }
                        }
                      ]
                    },
                    "VideoDescription": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/VideoDescription"
                        },
                        {
                          "description": "(VideoDescription) contains a group of video encoding settings. The specific video settings depend on the video codec that you choose when you specify a value for Video codec (codec). Include one instance of (VideoDescription) per output.",
                          "xml": {
                            "name": "videoDescription"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "name",
                "settings"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePresetResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
        "operationId": "CreatePreset"
      }
    },
    "/2017-08-29/presets/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the preset to be deleted.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeletePresetResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Permanently delete a preset you have created.",
        "operationId": "DeletePreset"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the preset.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPresetResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Retrieve the JSON for a specific preset.",
        "operationId": "GetPreset"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the preset you are modifying.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "category": {
                  "description": "The new category for the preset, if you are changing it.",
                  "type": "string"
                },
                "description": {
                  "description": "The new description for the preset, if you are changing it.",
                  "type": "string"
                },
                "settings": {
                  "description": "Settings for preset",
                  "properties": {
                    "AudioDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfAudioDescription"
                        },
                        {
                          "description": "(AudioDescriptions) contains groups of audio encoding settings organized by audio codec. Include one instance of (AudioDescriptions) per output. (AudioDescriptions) can contain multiple groups of encoding settings.",
                          "xml": {
                            "name": "audioDescriptions"
                          }
                        }
                      ]
                    },
                    "CaptionDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfCaptionDescriptionPreset"
                        },
                        {
                          "description": "Caption settings for this preset. There can be multiple caption settings in a single output.",
                          "xml": {
                            "name": "captionDescriptions"
                          }
                        }
                      ]
                    },
                    "ContainerSettings": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ContainerSettings"
                        },
                        {
                          "description": "Container specific settings.",
                          "xml": {
                            "name": "containerSettings"
                          }
                        }
                      ]
                    },
                    "VideoDescription": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/VideoDescription"
                        },
                        {
                          "description": "(VideoDescription) contains a group of video encoding settings. The specific video settings depend on the video codec that you choose when you specify a value for Video codec (codec). Include one instance of (VideoDescription) per output.",
                          "xml": {
                            "name": "videoDescription"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdatePresetResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Modify one of your existing presets.",
        "operationId": "UpdatePreset"
      }
    },
    "/2017-08-29/queues": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional. When you request a list of queues, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don't specify, the service will list them by creation date.",
            "enum": [
              "NAME",
              "CREATION_DATE"
            ],
            "in": "query",
            "name": "listBy",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. Number of queues, up to twenty, that will be returned at one time.",
            "in": "query",
            "maximum": 20,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Use this string, provided with the response to a previous request, to request the next batch of queues.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional. When you request lists of resources, you can specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ],
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListQueuesResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array.",
        "operationId": "ListQueues"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.",
                  "type": "object"
                },
                "description": {
                  "description": "Optional. A description of the queue that you are creating.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the queue that you are creating.",
                  "type": "string"
                },
                "pricingPlan": {
                  "description": "Specifies whether the pricing plan for the queue is on-demand or reserved. For on-demand, you pay per minute, billed in increments of .01 minute. For reserved, you pay for the transcoding capacity of the entire queue, regardless of how much or how little you use it. Reserved pricing requires a 12-month commitment.",
                  "enum": [
                    "ON_DEMAND",
                    "RESERVED"
                  ],
                  "type": "string"
                },
                "reservationPlanSettings": {
                  "description": "Details about the pricing plan for your reserved queue. Required for reserved queues and not applicable to on-demand queues.",
                  "properties": {
                    "Commitment": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Commitment"
                        },
                        {
                          "description": "The length of the term of your reserved queue pricing plan commitment.",
                          "xml": {
                            "name": "commitment"
                          }
                        }
                      ]
                    },
                    "RenewalType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RenewalType"
                        },
                        {
                          "description": "Specifies whether the term of your reserved queue pricing plan is automatically extended (AUTO_RENEW) or expires (EXPIRE) at the end of the term. When your term is auto renewed, you extend your commitment by 12 months from the auto renew date. You can cancel this commitment.",
                          "xml": {
                            "name": "renewalType"
                          }
                        }
                      ]
                    },
                    "ReservedSlots": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
[...]
