{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "The AWS IoT 1-Click Projects API Reference",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS IoT 1-Click Projects Service",
    "version": "2018-05-14",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot1click-projects-2018-05-14.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "iot1click-projects",
    "x-datafire": {
      "name": "amazonaws_iot1click_projects",
      "type": "openapi"
    }
  },
  "host": "projects.iot1click.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/projects": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The token to retrieve the next set of results.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return per request. If not set, a default value of 100 is used.",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "description": "Lists the AWS IoT 1-Click project(s) associated with your AWS account and region.",
        "operationId": "ListProjects"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "Optional tags (metadata key/value pairs) to be associated with the project. For example, <code>{ {\"key1\": \"value1\", \"key2\": \"value2\"} }</code>. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS Tagging Strategies</a>.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "description": {
                  "description": "An optional description for the project.",
                  "maxLength": 500,
                  "minLength": 0,
                  "type": "string"
                },
                "placementTemplate": {
                  "description": "An object defining the template for a placement.",
                  "properties": {
                    "defaultAttributes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DefaultPlacementAttributeMap"
                        },
                        {
                          "description": "The default attributes (key/value pairs) to be applied to all placements using this template."
                        }
                      ]
                    },
                    "deviceTemplates": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DeviceTemplateMap"
                        },
                        {
                          "description": "An object specifying the <a>DeviceTemplate</a> for all placements using this (<a>PlacementTemplate</a>) template."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "projectName": {
                  "description": "The name of the project to create.",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "^[0-9A-Za-z_-]+$",
                  "type": "string"
                }
              },
              "required": [
                "projectName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateProjectResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          }
        },
        "description": "Creates an empty project with a placement template. A project contains zero or more placements that adhere to the placement template defined in the project.",
        "operationId": "CreateProject"
      }
    },
    "/projects/{projectName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the empty project to delete.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteProjectResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "<p>Deletes a project. To delete a project, it must not have any placements associated with it.</p> <note> <p>When you delete a project, all associated data becomes irretrievable.</p> </note>",
        "operationId": "DeleteProject"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project to be described.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeProjectResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Returns an object describing a project.",
        "operationId": "DescribeProject"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project to be updated.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "An optional user-defined description for the project.",
                  "maxLength": 500,
                  "minLength": 0,
                  "type": "string"
                },
                "placementTemplate": {
                  "description": "An object defining the template for a placement.",
                  "properties": {
                    "defaultAttributes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DefaultPlacementAttributeMap"
                        },
                        {
                          "description": "The default attributes (key/value pairs) to be applied to all placements using this template."
                        }
                      ]
                    },
                    "deviceTemplates": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DeviceTemplateMap"
                        },
                        {
                          "description": "An object specifying the <a>DeviceTemplate</a> for all placements using this (<a>PlacementTemplate</a>) template."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateProjectResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Updates a project associated with your AWS account and region. With the exception of device template names, you can pass just the values that need to be updated because the update request will change only the values that are provided. To clear a value, pass the empty string (i.e., <code>\"\"</code>).",
        "operationId": "UpdateProject"
      }
    },
    "/projects/{projectName}/placements": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The project containing the placements to be listed.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The token to retrieve the next set of results.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return per request. If not set, a default value of 100 is used.",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPlacementsResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Lists the placement(s) of a project.",
        "operationId": "ListPlacements"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project in which to create the placement.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "attributes": {
                  "additionalProperties": {
                    "$ref": "#/definitions/AttributeValue"
                  },
                  "description": "Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.",
                  "type": "object"
                },
                "placementName": {
                  "description": "The name of the placement to be created.",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_-]+$",
                  "type": "string"
                }
              },
              "required": [
                "placementName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePlacementResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Creates an empty placement.",
        "operationId": "CreatePlacement"
      }
    },
    "/projects/{projectName}/placements/{placementName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the empty placement to delete.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "placementName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The project containing the empty placement to delete.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeletePlacementResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "<p>Deletes a placement. To delete a placement, it must not have any devices associated with it.</p> <note> <p>When you delete a placement, all associated data becomes irretrievable.</p> </note>",
        "operationId": "DeletePlacement"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the placement within a project.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "placementName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The project containing the placement to be described.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribePlacementResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Describes a placement in a project.",
        "operationId": "DescribePlacement"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the placement to update.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "placementName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the project containing the placement to be updated.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "attributes": {
                  "additionalProperties": {
                    "$ref": "#/definitions/AttributeValue"
                  },
                  "description": "The user-defined object of attributes used to update the placement. The maximum number of key/value pairs is 50.",
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdatePlacementResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Updates a placement with the given attributes. To clear an attribute, pass an empty value (i.e., \"\").",
        "operationId": "UpdatePlacement"
      }
    },
    "/projects/{projectName}/placements/{placementName}/devices": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project containing the placement.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the placement to get the devices from.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "placementName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDevicesInPlacementResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Returns an object enumerating the devices in a placement.",
        "operationId": "GetDevicesInPlacement"
      }
    },
    "/projects/{projectName}/placements/{placementName}/devices/{deviceTemplateName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project that contains the placement.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the placement that the device should be removed from.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "placementName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The device ID that should be removed from the placement.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "deviceTemplateName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateDeviceFromPlacementResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Removes a physical device from a placement.",
        "operationId": "DisassociateDeviceFromPlacement"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project containing the placement in which to associate the device.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "projectName",
            "pattern": "^[0-9A-Za-z_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the placement in which to associate the device.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "placementName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The device template name to associate with the device ID.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "deviceTemplateName",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "deviceId": {
                  "description": "The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "deviceId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateDeviceWithPlacementResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Associates a physical device with a placement.",
        "operationId": "AssociateDeviceWithPlacement"
      }
    },
    "/tags/{resourceArn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ARN of the resource whose tags you want to list.",
            "in": "path",
            "name": "resourceArn",
            "pattern": "^arn:aws:iot1click:[A-Za-z0-9_/.-]{0,63}:\\d+:projects/[0-9A-Za-z_-]{1,128}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Lists the tags (metadata key/value pairs) which you have assigned to the resource.",
        "operationId": "ListTagsForResource"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ARN of the resouce for which tag(s) should be added or modified.",
            "in": "path",
            "name": "resourceArn",
            "pattern": "^arn:aws:iot1click:[A-Za-z0-9_/.-]{0,63}:\\d+:projects/[0-9A-Za-z_-]{1,128}$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The new or modifying tag(s) for the resource. See <a href=\"https://docs.aws.amazon.com/iot-1-click/latest/developerguide/1click-appendix.html#1click-limits\">AWS IoT 1-Click Service Limits</a> for the maximum number of tags allowed per resource.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "tags"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagResourceResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Creates or modifies tags for a resource. Tags are key/value pairs (metadata) that can be used to manage a resource. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS Tagging Strategies</a>.",
        "operationId": "TagResource"
      }
    },
    "/tags/{resourceArn}#tagKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ARN of the resource whose tag you want to remove.",
            "in": "path",
            "name": "resourceArn",
            "pattern": "^arn:aws:iot1click:[A-Za-z0-9_/.-]{0,63}:\\d+:projects/[0-9A-Za-z_-]{1,128}$",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The keys of those tags which you want to remove.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/TagKey"
            },
            "maxItems": 50,
            "minItems": 1,
            "name": "tagKeys",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagResourceResponse"
            }
          },
          "480": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Removes one or more tags (metadata key/value pairs) from a resource.",
        "operationId": "UntagResource"
      }
    }
  },
  "definitions": {
    "AssociateDeviceWithPlacementRequest": {
      "properties": {
        "deviceId": {
          "allOf": [
            {
              "$ref": "#/definitions/DeviceId"
            },
            {
              "description": "The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values."
            }
          ]
        }
      },
      "required": [
        "deviceId"
      ],
      "title": "AssociateDeviceWithPlacementRequest",
      "type": "object"
    },
    "AssociateDeviceWithPlacementResponse": {
      "properties": {},
      "type": "object"
    },
    "AttributeDefaultValue": {
      "maxLength": 800,
      "type": "string"
    },
    "AttributeName": {
      "maxLength": 128,
      "minLength": 1,
      "type": "string"
    },
    "AttributeValue": {
      "maxLength": 800,
      "type": "string"
    },
    "CreatePlacementRequest": {
      "properties": {
        "attributes": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementAttributeMap"
            },
            {
              "description": "Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement."
            }
          ]
        },
        "placementName": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementName"
            },
            {
              "description": "The name of the placement to be created."
            }
          ]
        }
      },
      "required": [
        "placementName"
      ],
      "title": "CreatePlacementRequest",
      "type": "object"
    },
    "CreatePlacementResponse": {
      "properties": {},
      "type": "object"
    },
    "CreateProjectRequest": {
      "properties": {
        "tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "Optional tags (metadata key/value pairs) to be associated with the project. For example, <code>{ {\"key1\": \"value1\", \"key2\": \"value2\"} }</code>. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS Tagging Strategies</a>."
            }
          ]
        },
        "description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "An optional description for the project."
            }
          ]
        },
        "placementTemplate": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementTemplate"
            },
            {
              "description": "The schema defining the placement to be created. A placement template defines placement default attributes and device templates. You cannot add or remove device templates after the project has been created. However, you can update <code>callbackOverrides</code> for the device templates using the <code>UpdateProject</code> API."
            }
          ]
        },
        "projectName": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectName"
            },
            {
              "description": "The name of the project to create."
            }
          ]
        }
      },
      "required": [
        "projectName"
      ],
      "title": "CreateProjectRequest",
      "type": "object"
    },
    "CreateProjectResponse": {
      "properties": {},
      "type": "object"
    },
    "DefaultPlacementAttributeMap": {
      "additionalProperties": {
        "$ref": "#/definitions/AttributeDefaultValue"
      },
      "type": "object"
    },
    "DeletePlacementRequest": {
      "properties": {},
      "title": "DeletePlacementRequest",
      "type": "object"
    },
    "DeletePlacementResponse": {
      "properties": {},
      "type": "object"
    },
    "DeleteProjectRequest": {
      "properties": {},
      "title": "DeleteProjectRequest",
      "type": "object"
    },
    "DeleteProjectResponse": {
      "properties": {},
      "type": "object"
    },
    "DescribePlacementRequest": {
      "properties": {},
      "title": "DescribePlacementRequest",
      "type": "object"
    },
    "DescribePlacementResponse": {
      "properties": {
        "placement": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementDescription"
            },
            {
              "description": "An object describing the placement."
            }
          ]
        }
      },
      "required": [
        "placement"
      ],
      "type": "object"
    },
    "DescribeProjectRequest": {
      "properties": {},
      "title": "DescribeProjectRequest",
      "type": "object"
    },
    "DescribeProjectResponse": {
      "properties": {
        "project": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectDescription"
            },
            {
              "description": "An object describing the project."
            }
          ]
        }
      },
      "required": [
        "project"
      ],
      "type": "object"
    },
    "Description": {
      "maxLength": 500,
      "minLength": 0,
      "type": "string"
    },
    "DeviceCallbackKey": {
      "maxLength": 128,
      "minLength": 1,
      "type": "string"
    },
    "DeviceCallbackOverrideMap": {
      "additionalProperties": {
        "$ref": "#/definitions/DeviceCallbackValue"
      },
      "type": "object"
    },
    "DeviceCallbackValue": {
      "maxLength": 200,
      "type": "string"
    },
    "DeviceId": {
      "maxLength": 32,
      "minLength": 1,
      "type": "string"
    },
    "DeviceMap": {
      "additionalProperties": {
        "$ref": "#/definitions/DeviceId"
      },
      "type": "object"
    },
    "DeviceTemplate": {
      "description": "An object representing a device for a placement template (see <a>PlacementTemplate</a>).",
      "properties": {
        "callbackOverrides": {
          "allOf": [
            {
              "$ref": "#/definitions/DeviceCallbackOverrideMap"
            },
            {
              "description": "An optional Lambda function to invoke instead of the default Lambda function provided by the placement template."
            }
          ]
        },
        "deviceType": {
          "allOf": [
            {
              "$ref": "#/definitions/DeviceType"
            },
            {
              "description": "The device type, which currently must be <code>\"button\"</code>."
            }
          ]
        }
      },
      "type": "object"
    },
    "DeviceTemplateMap": {
      "additionalProperties": {
        "$ref": "#/definitions/DeviceTemplate"
      },
      "type": "object"
    },
    "DeviceTemplateName": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "DeviceType": {
      "maxLength": 128,
      "type": "string"
    },
    "DisassociateDeviceFromPlacementRequest": {
      "properties": {},
      "title": "DisassociateDeviceFromPlacementRequest",
      "type": "object"
    },
    "DisassociateDeviceFromPlacementResponse": {
      "properties": {},
      "type": "object"
    },
    "GetDevicesInPlacementRequest": {
      "properties": {},
      "title": "GetDevicesInPlacementRequest",
      "type": "object"
    },
    "GetDevicesInPlacementResponse": {
      "properties": {
        "devices": {
          "allOf": [
            {
              "$ref": "#/definitions/DeviceMap"
            },
            {
              "description": "An object containing the devices (zero or more) within the placement."
            }
          ]
        }
      },
      "required": [
        "devices"
      ],
      "type": "object"
    },
    "InternalFailureException": {},
    "InvalidRequestException": {},
    "ListPlacementsRequest": {
      "properties": {},
      "title": "ListPlacementsRequest",
      "type": "object"
    },
    "ListPlacementsResponse": {
      "properties": {
        "nextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "The token used to retrieve the next set of results - will be effectively empty if there are no further results."
            }
          ]
        },
        "placements": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementSummaryList"
            },
            {
              "description": "An object listing the requested placements."
            }
          ]
        }
      },
      "required": [
        "placements"
      ],
      "type": "object"
    },
    "ListProjectsRequest": {
      "properties": {},
      "title": "ListProjectsRequest",
      "type": "object"
    },
    "ListProjectsResponse": {
      "properties": {
        "nextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "The token used to retrieve the next set of results - will be effectively empty if there are no further results."
            }
          ]
        },
        "projects": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectSummaryList"
            },
            {
              "description": "An object containing the list of projects."
            }
          ]
        }
      },
      "required": [
        "projects"
      ],
      "type": "object"
    },
    "ListTagsForResourceRequest": {
      "properties": {},
      "title": "ListTagsForResourceRequest",
      "type": "object"
    },
    "ListTagsForResourceResponse": {
      "properties": {
        "tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "The tags (metadata key/value pairs) which you have assigned to the resource."
            }
          ]
        }
      },
      "type": "object"
    },
    "MaxResults": {
      "maximum": 250,
      "minimum": 1,
      "type": "integer"
    },
    "NextToken": {
      "maxLength": 1024,
      "minLength": 1,
      "type": "string"
    },
    "PlacementAttributeMap": {
      "additionalProperties": {
        "$ref": "#/definitions/AttributeValue"
      },
      "type": "object"
    },
    "PlacementDescription": {
      "description": "An object describing a project's placement.",
      "properties": {
        "attributes": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementAttributeMap"
            },
            {
              "description": "The user-defined attributes associated with the placement."
            }
          ]
        },
        "createdDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Time"
            },
            {
              "description": "The date when the placement was initially created, in UNIX epoch time format."
            }
          ]
        },
        "placementName": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementName"
            },
            {
              "description": "The name of the placement."
            }
          ]
        },
        "projectName": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectName"
            },
            {
              "description": "The name of the project containing the placement."
            }
          ]
        },
        "updatedDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Time"
            },
            {
              "description": "The date when the placement was last updated, in UNIX epoch time format. If the placement was not updated, then <code>createdDate</code> and <code>updatedDate</code> are the same."
            }
          ]
        }
      },
      "required": [
        "projectName",
        "placementName",
        "attributes",
        "createdDate",
        "updatedDate"
      ],
      "type": "object"
    },
    "PlacementName": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "PlacementSummary": {
      "description": "An object providing summary information for a particular placement.",
      "properties": {
        "createdDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Time"
            },
            {
              "description": "The date when the placement was originally created, in UNIX epoch time format."
            }
          ]
        },
        "placementName": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementName"
            },
            {
              "description": "The name of the placement being summarized."
            }
          ]
        },
        "projectName": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectName"
            },
            {
              "description": "The name of the project containing the placement."
            }
          ]
        },
        "updatedDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Time"
            },
            {
              "description": "The date when the placement was last updated, in UNIX epoch time format. If the placement was not updated, then <code>createdDate</code> and <code>updatedDate</code> are the same."
            }
          ]
        }
      },
      "required": [
        "projectName",
        "placementName",
        "createdDate",
        "updatedDate"
      ],
      "type": "object"
    },
    "PlacementSummaryList": {
      "items": {
        "$ref": "#/definitions/PlacementSummary"
      },
      "type": "array"
    },
    "PlacementTemplate": {
      "description": "An object defining the template for a placement.",
      "properties": {
        "defaultAttributes": {
          "allOf": [
            {
              "$ref": "#/definitions/DefaultPlacementAttributeMap"
            },
            {
              "description": "The default attributes (key/value pairs) to be applied to all placements using this template."
            }
          ]
        },
        "deviceTemplates": {
          "allOf": [
            {
              "$ref": "#/definitions/DeviceTemplateMap"
            },
            {
              "description": "An object specifying the <a>DeviceTemplate</a> for all placements using this (<a>PlacementTemplate</a>) template."
            }
          ]
        }
      },
      "type": "object"
    },
    "ProjectArn": {
      "pattern": "^arn:aws:iot1click:[A-Za-z0-9_/.-]{0,63}:\\d+:projects/[0-9A-Za-z_-]{1,128}$",
      "type": "string"
    },
    "ProjectDescription": {
      "description": "An object providing detailed information for a particular project associated with an AWS account and region.",
      "properties": {
        "tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "The tags (metadata key/value pairs) associated with the project."
            }
          ]
        },
        "arn": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectArn"
            },
            {
              "description": "The ARN of the project."
            }
          ]
        },
        "createdDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Time"
            },
            {
              "description": "The date when the project was originally created, in UNIX epoch time format."
            }
          ]
        },
        "description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "The description of the project."
            }
          ]
        },
        "placementTemplate": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementTemplate"
            },
            {
              "description": "An object describing the project's placement specifications."
            }
          ]
        },
        "projectName": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectName"
            },
            {
              "description": "The name of the project for which to obtain information from."
            }
          ]
        },
        "updatedDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Time"
            },
            {
              "description": "The date when the project was last updated, in UNIX epoch time format. If the project was not updated, then <code>createdDate</code> and <code>updatedDate</code> are the same."
            }
          ]
        }
      },
      "required": [
        "projectName",
        "createdDate",
        "updatedDate"
      ],
      "type": "object"
    },
    "ProjectName": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[0-9A-Za-z_-]+$",
      "type": "string"
    },
    "ProjectSummary": {
      "description": "An object providing summary information for a particular project for an associated AWS account and region.",
      "properties": {
        "tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "The tags (metadata key/value pairs) associated with the project."
            }
          ]
        },
        "arn": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectArn"
            },
            {
              "description": "The ARN of the project."
            }
          ]
        },
        "createdDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Time"
            },
            {
              "description": "The date when the project was originally created, in UNIX epoch time format."
            }
          ]
        },
        "projectName": {
          "allOf": [
            {
              "$ref": "#/definitions/ProjectName"
            },
            {
              "description": "The name of the project being summarized."
            }
          ]
        },
        "updatedDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Time"
            },
            {
              "description": "The date when the project was last updated, in UNIX epoch time format. If the project was not updated, then <code>createdDate</code> and <code>updatedDate</code> are the same."
            }
          ]
        }
      },
      "required": [
        "projectName",
        "createdDate",
        "updatedDate"
      ],
      "type": "object"
    },
    "ProjectSummaryList": {
      "items": {
        "$ref": "#/definitions/ProjectSummary"
      },
      "type": "array"
    },
    "ResourceConflictException": {},
    "ResourceNotFoundException": {},
    "TagKey": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$",
      "type": "string"
    },
    "TagKeyList": {
      "items": {
        "$ref": "#/definitions/TagKey"
      },
      "maxItems": 50,
      "minItems": 1,
      "type": "array"
    },
    "TagMap": {
      "additionalProperties": {
        "$ref": "#/definitions/TagValue"
      },
      "maxProperties": 50,
      "minProperties": 1,
      "type": "object"
    },
    "TagResourceRequest": {
      "properties": {
        "tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "The new or modifying tag(s) for the resource. See <a href=\"https://docs.aws.amazon.com/iot-1-click/latest/developerguide/1click-appendix.html#1click-limits\">AWS IoT 1-Click Service Limits</a> for the maximum number of tags allowed per resource."
            }
          ]
        }
      },
      "required": [
        "tags"
      ],
      "title": "TagResourceRequest",
      "type": "object"
    },
    "TagResourceResponse": {
      "properties": {},
      "type": "object"
    },
    "TagValue": {
      "maxLength": 256,
      "type": "string"
    },
    "Time": {
      "format": "date-time",
      "type": "string"
    },
    "TooManyRequestsException": {},
    "UntagResourceRequest": {
      "properties": {},
      "title": "UntagResourceRequest",
      "type": "object"
    },
    "UntagResourceResponse": {
      "properties": {},
      "type": "object"
    },
    "UpdatePlacementRequest": {
      "properties": {
        "attributes": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementAttributeMap"
            },
            {
              "description": "The user-defined object of attributes used to update the placement. The maximum number of key/value pairs is 50."
            }
          ]
        }
      },
      "title": "UpdatePlacementRequest",
      "type": "object"
    },
    "UpdatePlacementResponse": {
      "properties": {},
      "type": "object"
    },
    "UpdateProjectRequest": {
      "properties": {
        "description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": "An optional user-defined description for the project."
            }
          ]
        },
        "placementTemplate": {
          "allOf": [
            {
              "$ref": "#/definitions/PlacementTemplate"
            },
            {
              "description": "An object defining the project update. Once a project has been created, you cannot add device template names to the project. However, for a given <code>placementTemplate</code>, you can update the associated <code>callbackOverrides</code> for the device definition using this API."
            }
          ]
        }
      },
      "title": "UpdateProjectRequest",
      "type": "object"
    },
    "UpdateProjectResponse": {
      "properties": {},
      "type": "object"
    }
  },
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/iot1click/"
  },
  "x-components": {
    "parameters": {
      "X-Amz-Algorithm": {
        "in": "header",
        "name": "X-Amz-Algorithm",
        "required": false,
        "type": "string"
      },
      "X-Amz-Content-Sha256": {
        "in": "header",
        "name": "X-Amz-Content-Sha256",
        "required": false,
        "type": "string"
      },
      "X-Amz-Credential": {
        "in": "header",
        "name": "X-Amz-Credential",
        "required": false,
        "type": "string"
      },
      "X-Amz-Date": {
        "in": "header",
        "name": "X-Amz-Date",
        "required": false,
        "type": "string"
      },
      "X-Amz-Security-Token": {
        "in": "header",
        "name": "X-Amz-Security-Token",
        "required": false,
        "type": "string"
      },
      "X-Amz-Signature": {
        "in": "header",
        "name": "X-Amz-Signature",
        "required": false,
        "type": "string"
      },
      "X-Amz-SignedHeaders": {
        "in": "header",
        "name": "X-Amz-SignedHeaders",
        "required": false,
        "type": "string"
      }
    }
  },
  "x-hasEquivalentPaths": true
}