{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "tracking.api.here.com",
  "basePath": "/",
  "info": {
    "contact": {
      "x-twitter": "HERE"
    },
    "description": "HERE Tracking is a cloud product designed to address location tracking problems for a wide range of Location IoT industry verticals.\n\nHERE Tracking exposes a set of REST APIs and client libraries to enable location tracking and geo-fencing for a variety of device form-factors including small-footprint (small memory and processing power) devices. HERE Tracking also includes end-user applications on mobile and web to be used as reference apps to demonstrate the product capabilities.",
    "license": {
      "name": "HERE Documentation License",
      "url": "https://legal.here.com/en-gb/terms/documentation-license"
    },
    "title": "HERE Tracking",
    "version": "2.0.0",
    "x-apisguru-categories": [
      "location"
    ],
    "x-document-meta-data": {
      "copyright": "© 2019 HERE Europe B.V.",
      "date-created": "2019-03-04T11:12:01+00:00",
      "document-id": "e2b7c7f-1551697845-e02e8ec4"
    },
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_HERE_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.here.com/documentation/tracking/swagger/2.0/api_reference/swagger.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "here.com",
    "x-serviceName": "tracking",
    "x-datafire": {
      "name": "here_tracking",
      "type": "openapi"
    }
  },
  "securityDefinitions": {
    "authBearer": {
      "description": "Users are authenticated using an OAuth 1.0 bearer token obtained using the `/users/v2/login` endpoint.\n\nYou must provide a valid username and password to obtain a bearer token.\n",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    },
    "deviceToken": {
      "description": "Devices are authenticated using an OAuth 1.0 bearer token obtained using the `/v2/token` endpoint.\n",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    },
    "signedRequest": {
      "description": "HERE Tracking requires that you sign your requests for tokens. The signature method uses the OAuth 1.0 standard. For more information on this standard, see the [OAuth Core 1.0](https://oauth.net/core/1.0/) specification.\n\n> **Note:** You must create a new signature for each token request to HERE Tracking. Signatures can only be used once.\n\nCreate the Signature Base String\n---\n\nThe first step in creating a signature is to create the signature base string. This string contains the parameters to use when generating the signature.\n\n*1. To begin, make sure you have the information listed in the following table.*\n\n| Parameter                | Description                              |\n| ------------------------ | -----------------------------------------|\n| oauth\\_consumer\\_key     | The device ID for which you want to generate a token. |\n| oauth\\_signature\\_method | Always use \"HMAC-SHA256\".                 |\n| oauth\\_timestamp         | The number of seconds since the Unix epoch at the point the request is generated. This must be within 10 seconds of the timestamp returned by the `/v2/timestamp` endpoint. |\n| oauth\\_nonce             | A unique string for this signature. The string cannot have been used in a previous signature. Each token generation request to HERE Tracking must have a unique signature, and the value in this parameter is what is used to ensure the signature is unique. |\n| oauth\\_version           | Always use \"1.0\".                         |\n\n*2. Combine these values into a single string by following these steps:*\n\n   1. URL encode every key and value.\n   2. Sort the list of key-value pairs alphabetically by key.\n   3. Concatenate each key/value pair, separating each with an ampersand character (\"&\").\n\nThe result is a parameter string that looks like this (line breaks are added for legibility):\n\n   ```\n   oauth_consumer_key=47164fb0-b7b3-49e8-891b-650270b82cf2\n   &oauth_nonce=LIIpk4\n   &oauth_signature_method=HMAC-SHA256\n   &oauth_timestamp=1513634609\n   &oauth_version=1.0\n   ```\n\n*3. Combine the HTTP method, base URL, and parameter string into a single string called the \"base string\". This will be the string from which the signature is generated. The base string is in this format:*\n\n   ```\n   POST&https://tracking.api.here.com/v2/token&<URL encoded parameter string>\n   ```\n\n   The base string consists of:\n\n   1. The HTTP method in caps (POST) followed by an ampersand (\"&\")\n   2. The URL of the HERE Tracking token endpoint followed by an ampersand (\"&\")\n   3. The URL-encoded parameter string.\n\n   For example (line breaks are added for legibility):\n\n   ```\n   POST\n    &https%3A%2F%2Ftracking.api.here.com%2Fv2%2Ftoken\n    &oauth_consumer_key%3D47164fb0-b7b3-49e8-891b-650270b82cf2%26\n    oauth_nonce%3DLIIpk4%26oauth_signature_method%3DHMAC-SHA256%26\n    oauth_timestamp%3D1513634609%26oauth_version%3D1.0\n   ```\n\n   > **Note:** The URL-encoded base string should contain exactly two ampersands (\"&\").\n\nCreate the signature\n---\n\nThe signing key used to sign the base string is the `deviceSecret` followed by an ampersand (\"&\").\n\nCreate the signature by passing the signature base string and the signing key to the `HMAC-SHA256` hashing algorithm and converting the result to a `base64` string. Then, use the signature to request a token.\n\nRequest the token\n---\n\nMake a `POST` request to this endpoint with an `Authorization` header constructed from the above parameters and the generated signature.\n\nExample:\n\n```\n    Authorization: OAuth oauth_consumer_key=\"47164fb0-b7b3-49e8-891b-650270b82cf2\",\n        oauth_signature_method=\"HMAC-SHA256\",\n        oauth_timestamp=\"1513634609\",\n        oauth_nonce=\"LIIpk4\",\n        oauth_version=\"1.0\",\n        oauth_signature=\"pQ9EJX14L736B%2Br7uZl4yQlO6Xw%3D\"\n```\n",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "tags": [
    {
      "description": "Manage associations between devices and other resources.\n",
      "name": "Device Associations"
    },
    {
      "description": "This service is used to manage the associations between devices and geofences.\n\nHERE Tracking generates a notification when a device crosses into or out of an associated geofence.\n",
      "name": "Geofence association"
    },
    {
      "description": "Create and manage geofences.\n\nA geofence is a geographic boundary that you can define and associate with your\ndevices. HERE Tracking can then notify you when a device transitions into or out\nof a geofence.\n",
      "name": "Geofences"
    },
    {
      "description": "Data ingestion over HTTPS. This is the only interface that devices use\nto communicate with HERE Tracking.\n",
      "name": "Ingestion"
    },
    {
      "description": "Manage notification channels for a user and trigger an 'instant update' to a device.\n\nUsers can opt to receive notifications whenever one of their devices transitions\ninto or out of a geofence. The channel supported for notifications is webhook.\n\nWebhook\n---\n\nOnce a user has registered a URL as a webhook, that URL will receive a POST request\nevery time a transition happens.\n\nThe POST body is a JSON object that describes the transition.\n\n```\n{\n    \"inOut\": \"PING_OUTSIDE_FENCE\",\n    \"fenceId\": \"{ID of geofence}\",\n    \"deviceId\": \"{ID of device that transitioned}\",\n    \"timestamp\": 1499258184142,\n    \"notificationStatus\": \"SENT\"\n}\n```\n\nPossible values for `inOut` are:\n\n * PING_OUTSIDE_FENCE\n * PING_IN_FENCE\n\n Offline\n ---\n\n If a device has been working offline and caching position updates, transition\n notifications aren't sent until the device is online again. Once the device is\n online, the user receives a notification for the latest transition only.\n\n This behavior prevents the user from receiving a batch of out-of-date notifications\n whenever their device goes back online. However, all transitions are still recorded\n in the transitions log.\n",
      "name": "Notifications"
    },
    {
      "description": "The Registry is used to create credentials for a device manufacturer and for a claiming a device to a user.\n",
      "name": "Registry"
    },
    {
      "description": "Shadows provide an effective way to manage configurations for devices that are only\nintermittently online.\n\nShadows are stored in HERE Tracking and contain two states of a device's\nconfiguration: The `reported` state and the `desired` state.\n\nThe `reported` state contains the settings that were sent when the device was last\nonline.\n\nThe `desired` state contains the settings that will be sent to the device when the\ndevice next comes online.\n\n> **IMPORTANT**\n> Devices should not communicate directly with this service but should instead send telemetry\n> to the ingestion endpoint only. This telemetry data is used to update the `reported`\n> configuration for the device.\n\nIdeally, applications should only write to the `desired` configuration state and\nonly read from `reported` configuration state.\n",
      "name": "Shadows"
    },
    {
      "description": "Use this API to access current and historical data that a device has collected.\nThis data includes a history of the device position, payload, and timestamp.\n\n> **IMPORTANT**\n> Devices should not communicate directly with this service but should instead send telemetry\n> to the ingestion endpoint only.\n",
      "name": "Traces"
    },
    {
      "description": "Use this API to access current and historical data about device transitions.\n\nA transition event is created every time a device enters or exists an associated\ngeofence. These events are stored in the transition log.\n\nThis log also includes details of events where a device 'almost' crossed a geofence\nboundary. Device positions determined through GPS, WiFi or other methods have a range\nof uncertainty about them. This uncertainty is represented as a radius around the\nrecorded point showing the accuracy of the position.\n\nThese are times when the accuracy radius reported around a device interesects with\nthe geofence boundary but where it is not possible to confirm what side of the\ngeofence boundary the device is on. This returns those events as well as total transitions.\n",
      "name": "Transitions"
    },
    {
      "description": "Use this service to manage users, groups and roles for the other HERE Tracking services.\n",
      "name": "Users"
    }
  ],
  "paths": {
    "/device-associations/v2/health": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK\n\nThe service is performing as expected\n",
            "schema": {
              "example": {
                "message": "healthy"
              },
              "properties": {
                "message": {
                  "description": "Health status",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Service unavailable\n\nThe service is not performing as expected\n"
          }
        },
        "security": [],
        "summary": "Gets service health",
        "tags": [
          "Device Associations"
        ],
        "operationId": "device_associations.v2.health.get"
      }
    },
    "/device-associations/v2/version": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK\n\nService returns its current version number\n",
            "schema": {
              "example": {
                "servicename": "1.0.0"
              },
              "properties": {
                "service-name": {
                  "description": "Version of service",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Service unavailable\n\nThe service is not performing as expected\n"
          }
        },
        "security": [],
        "summary": "Gets service version",
        "tags": [
          "Device Associations"
        ],
        "operationId": "device_associations.v2.version.get"
      }
    },
    "/device-associations/v2/{trackingId}/geofences": {
      "get": {
        "description": "Returns all fences tracking id has been associated with",
        "parameters": [
          {
            "description": "ID used for correlating requests within HERE Tracking. Used for logging and error reporting.\n\nMust be a valid UUIDv4.\n",
            "format": "uuid",
            "in": "header",
            "name": "x-request-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The ID HERE Tracking assigned to the device when it was claimed by a user.",
            "in": "path",
            "name": "trackingId",
            "required": true,
            "type": "string"
          },
          {
            "description": "A page token that you can use to retrieve the next page.",
            "in": "query",
            "name": "pageToken",
            "required": false,
            "type": "string"
          },
          {
            "default": 100,
            "description": "The number of items to return per page.",
            "in": "query",
            "maximum": 100,
            "name": "count",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "count": {
                      "default": 100,
                      "description": "The number of items to return per page.",
                      "maximum": 100,
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A page token that you can use to retrieve the next page.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "geofence": {
                            "$ref": "#/definitions/d4975492c92aa17c81b3dc25375e2436a957120b0e33c1ed44a316ce21d8ef08"
                          },
                          "id": {
                            "description": "Must be a valid UUIDv4.\n",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "geofence"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "description": "Response body contains an array of geofence objects, count indicating the number of returned geofences, and pageToken if available. If no fences are found, an object with empty data array is returned",
              "example": {
                "count": 2,
                "data": [
                  {
                    "geofence": {
                      "definition": {
                        "points": [
                          {
                            "lat": 52.5308398,
                            "lng": 13.38490035
                          },
                          {
                            "lat": 52.5408398,
                            "lng": 14.38490035
                          },
                          {
                            "lat": 53.5308398,
                            "lng": 13.39490035
                          }
                        ]
                      },
                      "type": "polygon"
                    },
                    "id": "d0c29690-5d26-4cf1-a37e-b7816e72cb99"
                  },
                  {
                    "geofence": {
                      "definition": {
                        "center": {
                          "lat": 52.5308398,
                          "lng": 13.38490035
                        },
                        "radius": 100
                      },
                      "description": "This is a circular geofence",
                      "name": "16fbc82c-88d1-4219-bfad-6e5de52688a2",
                      "type": "circle"
                    },
                    "id": "ff92eda0-3114-4640-b7e6-4ba641ae1124"
                  }
                ],
                "pageToken": "027ffffea253d79fc"
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n",
            "schema": {
              "example": {
                "code": 400,
                "details": {
                  "hereErrorCode": 400306
                },
                "error": "Bad request",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The request object is in an incorrect format or has values that are invalid or out of range."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized\n\nThe request did not provide correct authentication details\n",
            "schema": {
              "example": {
                "code": 401,
                "details": {
                  "hereErrorCode": 401306
                },
                "error": "Unauthorized",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The provided credentials are not valid."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden\n\nThe account does not have the correct privileges\n",
            "schema": {
              "example": {
                "code": 403,
                "details": {
                  "hereErrorCode": 403306
                },
                "error": "Forbidden",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The account does not have the correct privileges."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "404": {
            "description": "TrackingId not found.",
            "schema": {
              "example": {
                "code": 404,
                "details": {
                  "hereErrorCode": 404306
                },
                "error": "Not Found",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The trackingId was not found."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          }
        },
        "security": [
          {
            "authBearer": []
          }
        ],
        "summary": "Retrieves geofences associated with the device",
        "tags": [
          "Device Associations"
        ],
        "operationId": "device_associations.v2.trackingId.geofences.get"
      }
    },
    "/geofence-associations/v2/health": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK\n\nThe service is performing as expected\n",
            "schema": {
              "example": {
                "message": "healthy"
              },
              "properties": {
                "message": {
                  "description": "Health status",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Service unavailable\n\nThe service is not performing as expected\n"
          }
        },
        "security": [],
        "summary": "Gets service health",
        "tags": [
          "Geofence association"
        ],
        "operationId": "geofence_associations.v2.health.get"
      }
    },
    "/geofence-associations/v2/version": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK\n\nService returns its current version number\n",
            "schema": {
              "example": {
                "servicename": "1.0.0"
              },
              "properties": {
                "service-name": {
                  "description": "Version of service",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Service unavailable\n\nThe service is not performing as expected\n"
          }
        },
        "security": [],
        "summary": "Gets service version",
        "tags": [
          "Geofence association"
        ],
        "operationId": "geofence_associations.v2.version.get"
      }
    },
    "/geofence-associations/v2/{geofenceId}/devices": {
      "get": {
        "description": "This returns a list of devices that are associated with this geofence.\n\nNote: A device appearing in this list does not mean the device is inside the geofence.\n",
        "parameters": [
          {
            "description": "ID used for correlating requests within HERE Tracking. Used for logging and error reporting.\n\nMust be a valid UUIDv4.\n",
            "format": "uuid",
            "in": "header",
            "name": "x-request-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "Geofence ID",
            "format": "uuid",
            "in": "path",
            "name": "geofenceId",
            "required": true,
            "type": "string"
          },
          {
            "description": "A page token that you can use to retrieve the next page.",
            "in": "query",
            "name": "pageToken",
            "required": false,
            "type": "string"
          },
          {
            "default": 100,
            "description": "The number of items to return per page.",
            "in": "query",
            "maximum": 100,
            "name": "count",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "count": {
                      "default": 100,
                      "description": "The number of items to return per page.",
                      "maximum": 100,
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A page token that you can use to retrieve the next page.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "shadow": {
                            "description": "The data that Shadows persists for each device.\n",
                            "properties": {
                              "desired": {
                                "description": "The currently desired state of the device.\n",
                                "properties": {
                                  "payload": {
                                    "description": "An application-specific JSON object. HERE Tracking doesn't read this object but\nyou can use it to pass information to other applications. The maximum size is 1000B.\n",
                                    "type": "object"
                                  },
                                  "system": {
                                    "description": "Contains values for the device configuration. HERE Tracking uses these values\nfor various application flows.\n\nUnlike the payload object, HERE Tracking reads the contents of the system object.\n",
                                    "properties": {
                                      "rate": {
                                        "description": "This can be used to specify the rates at which the device performs certain tasks.",
                                        "properties": {
                                          "distanceM": {
                                            "description": "The device should send an update if it moves more than this distance in meters",
                                            "minimum": 0,
                                            "type": "number"
                                          },
                                          "sampleMs": {
                                            "description": "The rate at which to sample signals in milliseconds",
                                            "minimum": 0,
                                            "type": "number"
                                          },
                                          "sendMs": {
                                            "description": "The rate at which to send sample results in milliseconds",
                                            "minimum": 0,
                                            "type": "number"
                                          }
                                        },
                                        "type": "object"
                                      },
                                      "stateVersion": {
                                        "description": "The version of the state of a device. This should be incremented only by HERE Tracking.\n",
                                        "minimum": 0,
                                        "type": "integer"
                                      }
                                    },
                                    "required": [
                                      "stateVersion"
                                    ],
                                    "type": "object"
                                  },
                                  "timestamp": {
                                    "description": "Milliseconds elapsed since 1 January 1970 00:00:00 UTC.\n\nThe time of the last update to the desired state. This is set by HERE Tracking\nwhen an update is written to the desired state.\n",
                                    "maximum": 4102448400000,
                                    "minimum": 2,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "reported": {
                                "description": "The last known state reported by the device.\n",
                                "properties": {
                                  "payload": {
                                    "description": "An application-specific JSON object. HERE Tracking doesn't read this object but\nyou can use it to pass information to other applications. The maximum size is 1000B.\n",
                                    "type": "object"
                                  },
                                  "position": {
                                    "description": "The reported or determined location of the device",
                                    "properties": {
                                      "accuracy": {
                                        "description": "Uncertainty circle radius in meters (degree of confidence according to the 'confidence' parameter).",
                                        "minimum": 0,
                                        "type": "number"
                                      },
                                      "alt": {
                                        "description": "Altitude in meters (referenced to the WGS-84 ellipsoid) negative or positive.",
                                        "type": "number"
                                      },
                                      "altaccuracy": {
                                        "description": "Uncertainty of the altitude estimate in meters (degree of confidence according to the 'confidence' parameter).",
                                        "minimum": 0,
                                        "type": "number"
                                      },
                                      "confidence": {
                                        "description": "Confidence level in percent for the accuracy/uncertainty. If not specified, the default is 68 (this corresponds to a 68% probability that the true position is within the accuracy/uncertainty radius of the position; the higher the number, the greater the confidence level).",
                                        "maximum": 95,
                                        "minimum": 50,
                                        "type": "integer"
                                      },
                                      "floor": {
                                        "description": "The building where the measurements were taken",
                                        "properties": {
                                          "id": {
                                            "description": "The building id",
                                            "maximum": 100,
                                            "minimum": 1,
                                            "type": "string"
                                          },
                                          "level": {
                                            "description": "The floor in the building in integer format",
                                            "maximum": 999,
                                            "minimum": -999,
                                            "type": "number"
                                          },
                                          "name": {
                                            "description": "The building name",
                                            "maximum": 255,
                                            "minimum": 1,
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "name",
                                          "level"
                                        ],
                                        "type": "object"
                                      },
                                      "heading": {
                                        "description": "GPS/GNSS heading in degrees, clockwise from true north. You must specify a value for this item when you specify a value for speed.",
                                        "maximum": 359,
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "lat": {
                                        "description": "Latitude in WGS-84 format, decimal representation ranging from -90 to 90.",
                                        "maximum": 90,
                                        "minimum": -90,
                                        "type": "number"
                                      },
                                      "lng": {
                                        "description": "Longitude in WGS-84 format, decimal representation ranging from -180 to 180.",
                                        "maximum": 180,
                                        "minimum": -180,
                                        "type": "number"
                                      },
                                      "satellitecount": {
                                        "description": "Number of GPS/GNSS satellites used for the calculation of the position fix. (\"gnss\" position type only)",
                                        "maximum": 50,
                                        "minimum": 1,
                                        "type": "integer"
                                      },
                                      "speed": {
                                        "description": "GPS/GNSS speed of the device (m/s). Position fixes at speed above the maximum should not be used for contribution. You must specify a value for this item when you specify a value for heading.",
                                        "maximum": 60,
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "type": {
                                        "description": "Position type, \"gnss\" (satellite based), \"cell\" or \"wlan\" (network based)",
                                        "type": "string"
                                      },
                                      "wlancount": {
                                        "description": "The total number of observed WLAN APs in the scan used for producing the position. (\"wlan\" position type only)",
                                        "maximum": 254,
                                        "minimum": 1,
                                        "type": "integer"
                                      }
                                    },
                                    "required": [
                                      "lat",
                                      "lng",
                                      "accuracy"
                                    ],
                                    "type": "object"
                                  },
                                  "system": {
                                    "description": "Values within the device configuration that are used by HERE Tracking for\nvarious application flows.\n\nThis object can be read by HERE Tracking whereas the content of the payload is\nopaque.\n\nstateVersion can be provided by the device, denoting the version of the last\nknown desired state seen by the device.\n",
                                    "properties": {
                                      "client": {
                                        "description": "Information about the client Device.\n",
                                        "example": {
                                          "firmware": "heroltexx...",
                                          "homenetwork": [],
                                          "manufacturer": "Samsung",
                                          "model": "SM-G930F",
                                          "name": "HERE Tracker",
                                          "platform": "Android",
                                          "version": "1.6.1"
                                        },
                                        "properties": {
                                          "firmware": {
                                            "description": "Device firmware version information",
                                            "maxLength": 150,
                                            "minLength": 1,
                                            "type": "string"
                                          },
                                          "homenetwork": {
                                            "description": "Information about subscriber home network - 3GPP MCC+MNC or 3GPP2 SID+NID. Dual-SIM devices can provide information on both two subscriptions.",
                                            "items": {
                                              "description": "Network information. Either MCC + MNC or SID + NID attribute pair is required.",
                                              "properties": {
                                                "mcc": {
                                                  "description": "Mobile Country Code",
                                                  "maximum": 999,
                                                  "minimum": 200,
                                                  "type": "integer"
                                                },
                                                "mnc": {
                                                  "description": "Mobile Network Code",
                                                  "maximum": 999,
                                                  "minimum": 0,
                                                  "type": "integer"
                                                },
                                                "nid": {
                                                  "description": "Network Id, NID",
                                                  "maximum": 65535,
                                                  "minimum": 0,
                                                  "type": "integer"
                                                },
                                                "sid": {
                                                  "description": "System Id, SID",
                                                  "maximum": 32767,
                                                  "minimum": 1,
                                                  "type": "integer"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "maxItems": 2,
                                            "type": "array"
                                          },
                                          "manufacturer": {
                                            "description": "Manufacturer of the device (hardware)",
                                            "maxLength": 50,
                                            "minLength": 2,
                                            "type": "string"
                                          },
                                          "model": {
                                            "description": "Model of the device (hardware)",
                                            "maxLength": 50,
                                            "minLength": 1,
                                            "type": "string"
                                          },
                                          "name": {
                                            "description": "Name of the client software accessing the HERE API",
                                            "maxLength": 50,
                                            "minLength": 3,
                                            "type": "string"
                                          },
                                          "platform": {
                                            "description": "Software platform information of the device, for example operating system name and version.",
                                            "maxLength": 50,
                                            "minLength": 3,
                                            "type": "string"
                                          },
                                          "version": {
                                            "description": "Version of the client software in format X.Y.Z, where X [0..255] is a major, Y [0..255] is a minor, and Z [0..65535] is a build version number. Increase the version/build number for each release of the client.",
                                            "maxLength": 13,
                                            "minLength": 3,
                                            "type": "string"
                                          }
                                        },
                                        "type": "object"
                                      },
                                      "phoneNumber": {
                                        "description": "The phone number of the device's SIM card in the international E.164 format. You should prefix all country codes with \"+\" instead of \"00\".\n",
                                        "example": "+491234567890",
                                        "pattern": "^\\+[1-9]\\d{1,14}$",
                                        "type": "string"
                                      },
                                      "stateVersion": {
                                        "description": "The version of the state of a device. This should be incremented only by HERE Tracking.\n",
                                        "minimum": 0,
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "timestamp": {
                                    "description": "Milliseconds elapsed since 1 January 1970 00:00:00 UTC.\n\nThis describes when the reported measurements were taken.\n\nIf the device does not provide a timestamp, Here Tracking writes its own system time\nhere at ingestion time.\n",
                                    "maximum": 4102448400000,
                                    "minimum": 2,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "trackingId": {
                            "description": "The ID HERE Tracking assigned to the device when it was claimed by a user.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "description": "Response body contains an array of trackingIds,\na count indicating the number of returned devices,\nand a pageToken if available.\n\nIf no devices are found, an object with an empty data array is returned\n",
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n",
            "schema": {
              "example": {
                "code": 400,
                "details": {
                  "hereErrorCode": 400306
                },
                "error": "Bad request",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The request object is in an incorrect format or has values that are invalid or out of range."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized\n\nThe request did not provide correct authentication details\n",
            "schema": {
              "example": {
                "code": 401,
                "details": {
                  "hereErrorCode": 401306
                },
                "error": "Unauthorized",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The provided credentials are not valid."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden\n\nThe account does not have the correct privileges\n",
            "schema": {
              "example": {
                "code": 403,
                "details": {
                  "hereErrorCode": 403306
                },
                "error": "Forbidden",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The account does not have the correct privileges."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "404": {
            "description": "Geofence ID not found",
            "schema": {
              "example": {
                "code": 404,
                "details": {
                  "hereErrorCode": 404306
                },
                "error": "Not Found",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The Geofence ID was not found."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          }
        },
        "security": [
          {
            "authBearer": []
          }
        ],
        "summary": "Gets devices associated with this geofence",
        "tags": [
          "Geofence association"
        ],
        "operationId": "geofence_associations.v2.geofenceId.devices.get"
      }
    },
    "/geofence-associations/v2/{geofenceId}/{trackingId}": {
      "delete": {
        "description": "Notification will no longer be generated when the device enters or exits this geofence.",
        "responses": {
          "204": {
            "description": "Successful (no content)\n\nThe association was successfully removed.\n"
          },
          "400": {
            "description": "Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n",
            "schema": {
              "example": {
                "code": 400,
                "details": {
                  "hereErrorCode": 400306
                },
                "error": "Bad request",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The request object is in an incorrect format or has values that are invalid or out of range."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized\n\nThe request did not provide correct authentication details\n",
            "schema": {
              "example": {
                "code": 401,
                "details": {
                  "hereErrorCode": 401306
                },
                "error": "Unauthorized",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The provided credentials are not valid."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden\n\nThe account does not have the correct privileges\n",
            "schema": {
              "example": {
                "code": 403,
                "details": {
                  "hereErrorCode": 403306
                },
                "error": "Forbidden",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The account does not have the correct privileges."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "404": {
            "description": "Geofence ID not found",
            "schema": {
              "example": {
                "code": 404,
                "details": {
                  "hereErrorCode": 404306
                },
                "error": "Not Found",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The Geofence ID was not found."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          }
        },
        "security": [
          {
            "authBearer": []
          }
        ],
        "summary": "Disassociates a device and a geofence",
        "tags": [
          "Geofence association"
        ],
        "operationId": "geofence_associations.v2.geofenceId.trackingId.delete"
      },
      "parameters": [
        {
          "description": "ID used for correlating requests within HERE Tracking. Used for logging and error reporting.\n\nMust be a valid UUIDv4.\n",
          "format": "uuid",
          "in": "header",
          "name": "x-request-id",
          "required": false,
          "type": "string"
        },
        {
          "description": "Geofence ID",
          "format": "uuid",
          "in": "path",
          "name": "geofenceId",
          "required": true,
          "type": "string"
        },
        {
          "description": "The ID HERE Tracking assigned to the device when it was claimed by a user.",
          "in": "path",
          "name": "trackingId",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "description": "Notifications will be generated when the device enters or exits this geofence",
        "responses": {
          "200": {
            "description": "Successful\n\nDevice was already associated with the geofence\n"
          },
          "201": {
            "description": "Successful\n\nThe device was assocated with the geofence\n"
          },
          "400": {
            "description": "Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n",
            "schema": {
              "example": {
                "code": 400,
                "details": {
                  "hereErrorCode": 400306
                },
                "error": "Bad request",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The request object is in an incorrect format or has values that are invalid or out of range."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized\n\nThe request did not provide correct authentication details\n",
            "schema": {
              "example": {
                "code": 401,
                "details": {
                  "hereErrorCode": 401306
                },
                "error": "Unauthorized",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The provided credentials are not valid."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden\n\nThe account does not have the correct privileges\n",
            "schema": {
              "example": {
                "code": 403,
                "details": {
                  "hereErrorCode": 403306
                },
                "error": "Forbidden",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The account does not have the correct privileges."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "404": {
            "description": "Geofence ID not found",
            "schema": {
              "example": {
                "code": 404,
                "details": {
                  "hereErrorCode": 404306
                },
                "error": "Not Found",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The Geofence ID was not found."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          }
        },
        "security": [
          {
            "authBearer": []
          }
        ],
        "summary": "Associates a device with a geofence",
        "tags": [
          "Geofence association"
        ],
        "operationId": "geofence_associations.v2.geofenceId.trackingId.put"
      }
    },
    "/geofences/v2": {
      "delete": {
        "description": "Deletes all geofences created by the provided user account.\n\nAs an extra safety measure, you must also supply the header `x-confirm`\nwith the value `true`. If this header is not explicitly specified on a\n**Delete All** request, the request fails.\n",
        "parameters": [
          {
            "description": "A safety measure that prevents you from accidentally deleting data.\n\nTo confirm that all entries should be deleted, set the value to \"true\".\n",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "x-confirm",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful (no content)\n\nAll geofence definitions were successfully deleted.\n"
          },
          "400": {
            "description": "Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n",
            "schema": {
              "example": {
                "code": 400,
                "details": {
                  "hereErrorCode": 400306
                },
                "error": "Bad request",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The request object is in an incorrect format or has values that are invalid or out of range."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized\n\nThe request did not provide correct authentication details\n",
            "schema": {
              "example": {
                "code": 401,
                "details": {
                  "hereErrorCode": 401306
                },
                "error": "Unauthorized",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The provided credentials are not valid."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden\n\nThe account does not have the correct privileges\n",
            "schema": {
              "example": {
                "code": 403,
                "details": {
                  "hereErrorCode": 403306
                },
                "error": "Forbidden",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The account does not have the correct privileges."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "404": {
            "description": "Geofence ID not found",
            "schema": {
              "example": {
                "code": 404,
                "details": {
                  "hereErrorCode": 404306
                },
                "error": "Not Found",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The Geofence ID was not found."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          }
        },
        "security": [
          {
            "authBearer": []
          }
        ],
        "summary": "Deletes all geofences",
        "tags": [
          "Geofences"
        ],
        "operationId": "geofences.v2.delete"
      },
      "get": {
        "description": "Provides all geofence definitions in a paginated JSON oject.",
        "parameters": [
          {
            "description": "A page token that you can use to retrieve the next page.",
            "in": "query",
            "name": "pageToken",
            "required": false,
            "type": "string"
          },
          {
            "default": 100,
            "description": "The number of items to return per page.",
            "in": "query",
            "maximum": 100,
            "name": "count",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful\n\nThe geofence definitions were successfully retrieved.\n",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "count": {
                      "default": 100,
                      "description": "The number of items to return per page.",
                      "maximum": 100,
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A page token that you can use to retrieve the next page.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "geofence": {
                            "$ref": "#/definitions/geofence"
                          },
                          "id": {
                            "description": "Must be a valid UUIDv4.\n",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "geofence"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "description": "Response body contains an array of geofence objects, count indicating the number of returned geofences, and pageToken if available. If no fences are found, an object with empty data array is returned",
              "example": {
                "count": 2,
                "data": [
                  {
                    "geofence": {
                      "definition": {
                        "points": [
                          {
                            "lat": 52.5308398,
                            "lng": 13.38490035
                          },
                          {
                            "lat": 52.5408398,
                            "lng": 14.38490035
                          },
                          {
                            "lat": 53.5308398,
                            "lng": 13.39490035
                          }
                        ]
                      },
                      "type": "polygon"
                    },
                    "id": "d0c29690-5d26-4cf1-a37e-b7816e72cb99"
                  },
                  {
                    "geofence": {
                      "definition": {
                        "center": {
                          "lat": 52.5308398,
                          "lng": 13.38490035
                        },
                        "radius": 100
                      },
                      "description": "This is a circular geofence",
                      "name": "16fbc82c-88d1-4219-bfad-6e5de52688a2",
                      "type": "circle"
                    },
                    "id": "ff92eda0-3114-4640-b7e6-4ba641ae1124"
                  }
                ],
                "pageToken": "027ffffea253d79fc"
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n",
            "schema": {
              "example": {
                "code": 400,
                "details": {
                  "hereErrorCode": 400306
                },
                "error": "Bad request",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The request object is in an incorrect format or has values that are invalid or out of range."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized\n\nThe request did not provide correct authentication details\n",
            "schema": {
              "example": {
                "code": 401,
                "details": {
                  "hereErrorCode": 401306
                },
                "error": "Unauthorized",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The provided credentials are not valid."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden\n\nThe account does not have the correct privileges\n",
            "schema": {
              "example": {
                "code": 403,
                "details": {
                  "hereErrorCode": 403306
                },
                "error": "Forbidden",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The account does not have the correct privileges."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          }
        },
        "security": [
          {
            "authBearer": []
          }
        ],
        "summary": "Gets all geofences",
        "tags": [
          "Geofences"
        ],
        "operationId": "geofences.v2.get"
      },
      "parameters": [
        {
          "description": "ID used for correlating requests within HERE Tracking. Used for logging and error reporting.\n\nMust be a valid UUIDv4.\n",
          "format": "uuid",
          "in": "header",
          "name": "x-request-id",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "description": "You can specify a geofence as a circle or as a polygon. You can also assign\na name and a description to each geofence to help identify them. If no name\nis assigned, the geofence is named using a unique ID.\n\nCircle\n---\n\nSpecify the coordinates of the center point of the circle and a radius in\nmeters.\n\n```json\n    {\n        \"name\": \"Home\"\n        \"definition\": {\n            \"center\": {\n                \"lat\": 52.5308398,\n                \"lng\": 13.38490035\n            },\n            \"radius\": 100\n        },\n        \"description\": \"Small area around my house.\"\n    }\n```\n\nPolygon\n---\n\nSpecify an array of points. A minimum of three points are required.\n\n*NOTE: If the points do not describe a closed polygon, the polygon is\nautomatically closed between the last and first points.*\n\n```json\n    {\n        \"name\": \"Work\"\n        \"definition\": {\n            \"points\": [{\n                \"lat\": 52.5308398,\n                \"lng\": 13.38490035\n            }, {\n                \"lat\": 52.530443,\n                \"lng\": 13.38482003\n            }, {\n                \"lat\": 52.5308298,\n                \"lng\": 13.38492235\n            }]\n        },\n        \"description\": \"The area around work.\"\n    }\n```\n\nSuccessful requests have the HTTP status 201 and the response body provides\nthe ID of the created geofence.\n",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/geofence"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created\n\nThe geofence was successfully created.\n",
            "schema": {
              "example": {
                "id": "0d994f31-ceea-42e4-96a5-4484585c3802"
              },
              "properties": {
                "id": {
                  "description": "Must be a valid UUIDv4.\n",
                  "format": "uuid",
                  "type": "string"
                }
              },
              "required": [
                "id"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n",
            "schema": {
              "example": {
                "code": 400,
                "details": {
                  "hereErrorCode": 400306
                },
                "error": "Bad request",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The request object is in an incorrect format or has values that are invalid or out of range."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized\n\nThe request did not provide correct authentication details\n",
            "schema": {
              "example": {
                "code": 401,
                "details": {
                  "hereErrorCode": 401306
                },
                "error": "Unauthorized",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The provided credentials are not valid."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden\n\nThe account does not have the correct privileges\n",
            "schema": {
              "example": {
                "code": 403,
                "details": {
                  "hereErrorCode": 403306
                },
                "error": "Forbidden",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The account does not have the correct privileges."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          }
        },
        "security": [
          {
            "authBearer": []
          }
        ],
        "summary": "Creates a geofence",
        "tags": [
          "Geofences"
        ],
        "operationId": "geofences.v2.post"
      }
    },
    "/geofences/v2/health": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK\n\nThe service is performing as expected\n",
            "schema": {
              "example": {
                "message": "healthy"
              },
              "properties": {
                "message": {
                  "description": "Health status",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Service unavailable\n\nThe service is not performing as expected\n"
          }
        },
        "security": [],
        "summary": "Gets service health",
        "tags": [
          "Geofences"
        ],
        "operationId": "geofences.v2.health.get"
      }
    },
    "/geofences/v2/version": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK\n\nService returns its current version number\n",
            "schema": {
              "example": {
                "servicename": "1.0.0"
              },
              "properties": {
                "service-name": {
                  "description": "Version of service",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Service unavailable\n\nThe service is not performing as expected\n"
          }
        },
        "security": [],
        "summary": "Gets service version",
        "tags": [
          "Geofences"
        ],
        "operationId": "geofences.v2.version.get"
      }
    },
    "/geofences/v2/{geofenceId}": {
      "delete": {
        "description": "Deletes a single geofence definition based on the provided geofence ID.\n",
        "responses": {
          "204": {
            "description": "Successful (no content)"
          },
          "400": {
            "description": "Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n",
            "schema": {
              "example": {
                "code": 400,
                "details": {
                  "hereErrorCode": 400306
                },
                "error": "Bad request",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The request object is in an incorrect format or has values that are invalid or out of range."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized\n\nThe request did not provide correct authentication details\n",
            "schema": {
              "example": {
                "code": 401,
                "details": {
                  "hereErrorCode": 401306
                },
                "error": "Unauthorized",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The provided credentials are not valid."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden\n\nThe account does not have the correct privileges\n",
            "schema": {
              "example": {
                "code": 403,
                "details": {
                  "hereErrorCode": 403306
                },
                "error": "Forbidden",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The account does not have the correct privileges."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
              ],
              "type": "object"
            }
          },
          "404": {
            "description": "Geofence ID not found",
            "schema": {
              "example": {
                "code": 404,
                "details": {
                  "hereErrorCode": 404306
                },
                "error": "Not Found",
                "id": "5771b3d4-95ae-4959-ac63-fbaa3d5d06ee",
                "message": "The Geofence ID was not found."
              },
              "properties": {
                "code": {
                  "description": "An HTTP status code",
                  "type": "integer"
                },
                "details": {
                  "description": "An optional object containing more information about the error"
                },
                "error": {
                  "description": "An HTTP error description",
                  "type": "string"
                },
                "id": {
                  "description": "An error ID that allows you to trace the error details",
                  "format": "uuid",
                  "type": "string"
                },
                "message": {
                  "description": "Descriptive text that explains the error",
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code",
                "id"
[...]
