{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "shield.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "description": "<fullname>AWS Shield Advanced</fullname> <p>This is the <i>AWS Shield Advanced API Reference</i>. This guide is for developers who need detailed information about the AWS Shield Advanced API actions, data types, and errors. For detailed information about AWS WAF and AWS Shield Advanced features and an overview of how to use the AWS WAF and AWS Shield Advanced APIs, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF and AWS Shield Developer Guide</a>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Shield",
    "version": "2016-06-02",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/shield-2016-06-02.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "shield",
    "x-datafire": {
      "name": "amazonaws_shield",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/shield/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Enables AWS Shield Advanced for a specific AWS resource. The resource can be an Amazon CloudFront distribution, Elastic Load Balancing load balancer, or an Amazon Route 53 hosted zone.",
        "operationId": "CreateProtection",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProtectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateProtectionResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "482": {
            "description": "InvalidOperationException",
            "schema": {
              "$ref": "#/definitions/InvalidOperationException"
            }
          },
          "483": {
            "description": "LimitsExceededException",
            "schema": {
              "$ref": "#/definitions/LimitsExceededException"
            }
          },
          "484": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "485": {
            "description": "OptimisticLockException",
            "schema": {
              "$ref": "#/definitions/OptimisticLockException"
            }
          },
          "486": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#CreateSubscription": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Activates AWS Shield Advanced for an account.",
        "operationId": "CreateSubscription",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSubscriptionResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          }
        }
      }
    },
    "/#DeleteProtection": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes an AWS Shield Advanced <a>Protection</a>.",
        "operationId": "DeleteProtection",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteProtectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteProtectionResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "OptimisticLockException",
            "schema": {
              "$ref": "#/definitions/OptimisticLockException"
            }
          }
        }
      }
    },
    "/#DeleteSubscription": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Removes AWS Shield Advanced from an account.",
        "operationId": "DeleteSubscription",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteSubscriptionResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "LockedSubscriptionException",
            "schema": {
              "$ref": "#/definitions/LockedSubscriptionException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#DescribeAttack": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Describes the details of a DDoS attack. ",
        "operationId": "DescribeAttack",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeAttackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAttackResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          }
        }
      }
    },
    "/#DescribeProtection": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Lists the details of a <a>Protection</a> object.",
        "operationId": "DescribeProtection",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeProtectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeProtectionResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#DescribeSubscription": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Provides details about the AWS Shield Advanced subscription for an account.",
        "operationId": "DescribeSubscription",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeSubscriptionResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#ListAttacks": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns all ongoing DDoS attacks or all DDoS attacks during a specified time period.",
        "operationId": "ListAttacks",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAttacksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAttacksResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "InvalidOperationException",
            "schema": {
              "$ref": "#/definitions/InvalidOperationException"
            }
          }
        }
      }
    },
    "/#ListProtections": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Lists all <a>Protection</a> objects for the account.",
        "operationId": "ListProtections",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListProtectionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListProtectionsResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AttackDetail": {
      "description": "The details of a DDoS attack.",
      "properties": {
        "AttackCounters": {
          "$ref": "#/definitions/SummarizedCounterList",
          "description": "List of counters that describe the attack for the specified time period."
        },
        "AttackId": {
          "$ref": "#/definitions/AttackId",
          "description": "The unique identifier (ID) of the attack."
        },
        "EndTime": {
          "$ref": "#/definitions/AttackTimestamp",
          "description": "The time the attack ended, in the format 2016-12-16T13:50Z."
        },
        "Mitigations": {
          "$ref": "#/definitions/MitigationList",
          "description": "List of mitigation actions taken for the attack."
        },
        "ResourceArn": {
          "$ref": "#/definitions/ResourceArn",
          "description": "The ARN (Amazon Resource Name) of the resource that was attacked."
        },
        "StartTime": {
          "$ref": "#/definitions/AttackTimestamp",
          "description": "The time the attack started, in the format 2016-12-16T13:50Z."
        },
        "SubResources": {
          "$ref": "#/definitions/SubResourceSummaryList",
          "description": "If applicable, additional detail about the resource being attacked, for example, IP address or URL."
        }
      },
      "type": "object"
    },
    "AttackId": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9\\\\-]*",
      "type": "string"
    },
    "AttackSummaries": {
      "items": {
        "$ref": "#/definitions/AttackSummary"
      },
      "type": "array"
    },
    "AttackSummary": {
      "description": "Summarizes all DDoS attacks for a specified time period.",
      "properties": {
        "AttackId": {
          "$ref": "#/definitions/String",
          "description": "The unique identifier (ID) of the attack."
        },
        "AttackVectors": {
          "$ref": "#/definitions/AttackVectorDescriptionList",
          "description": "The list of attacks for a specified time period."
        },
        "EndTime": {
          "$ref": "#/definitions/AttackTimestamp",
          "description": "The end time of the attack, in the format 2016-12-16T13:50Z."
        },
        "ResourceArn": {
          "$ref": "#/definitions/String",
          "description": "The ARN (Amazon Resource Name) of the resource that was attacked."
        },
        "StartTime": {
          "$ref": "#/definitions/AttackTimestamp",
          "description": "The start time of the attack, in the format 2016-12-16T13:50Z."
        }
      },
      "type": "object"
    },
    "AttackTimestamp": {
      "format": "date-time",
      "type": "string"
    },
    "AttackVectorDescription": {
      "description": "Describes the attack.",
      "properties": {
        "VectorType": {
          "$ref": "#/definitions/String",
          "description": "The attack type, for example, SNMP reflection or SYN flood."
        }
      },
      "required": [
        "VectorType"
      ],
      "type": "object"
    },
    "AttackVectorDescriptionList": {
      "items": {
        "$ref": "#/definitions/AttackVectorDescription"
      },
      "type": "array"
    },
    "CreateProtectionRequest": {
      "properties": {
        "Name": {
          "$ref": "#/definitions/ProtectionName",
          "description": "Friendly name for the <code>Protection</code> you are creating."
        },
        "ResourceArn": {
          "$ref": "#/definitions/ResourceArn",
          "description": "The ARN (Amazon Resource Name) of the resource to be protected."
        }
      },
      "required": [
        "Name",
        "ResourceArn"
      ],
      "type": "object"
    },
    "CreateProtectionResponse": {
      "properties": {
        "ProtectionId": {
          "$ref": "#/definitions/ProtectionId",
          "description": "The unique identifier (ID) for the <a>Protection</a> object that is created."
        }
      },
      "type": "object"
    },
    "CreateSubscriptionRequest": {
      "properties": {},
      "type": "object"
    },
    "CreateSubscriptionResponse": {
      "properties": {},
      "type": "object"
    },
    "DeleteProtectionRequest": {
      "properties": {
        "ProtectionId": {
          "$ref": "#/definitions/ProtectionId",
          "description": "The unique identifier (ID) for the <a>Protection</a> object to be deleted."
        }
      },
      "required": [
        "ProtectionId"
      ],
      "type": "object"
    },
    "DeleteProtectionResponse": {
      "properties": {},
      "type": "object"
    },
    "DeleteSubscriptionRequest": {
      "properties": {},
      "type": "object"
    },
    "DeleteSubscriptionResponse": {
      "properties": {},
      "type": "object"
    },
    "DescribeAttackRequest": {
      "properties": {
        "AttackId": {
          "$ref": "#/definitions/AttackId",
          "description": "The unique identifier (ID) for the attack that to be described."
        }
      },
      "required": [
        "AttackId"
      ],
      "type": "object"
    },
    "DescribeAttackResponse": {
      "properties": {
        "Attack": {
          "$ref": "#/definitions/AttackDetail",
          "description": "The attack that is described."
        }
      },
      "type": "object"
    },
    "DescribeProtectionRequest": {
      "properties": {
        "ProtectionId": {
          "$ref": "#/definitions/ProtectionId",
          "description": "The unique identifier (ID) for the <a>Protection</a> object that is described."
        }
      },
      "required": [
        "ProtectionId"
      ],
      "type": "object"
    },
    "DescribeProtectionResponse": {
      "properties": {
        "Protection": {
          "$ref": "#/definitions/Protection",
          "description": "The <a>Protection</a> object that is described."
        }
      },
      "type": "object"
    },
    "DescribeSubscriptionRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeSubscriptionResponse": {
      "properties": {
        "Subscription": {
          "$ref": "#/definitions/Subscription",
          "description": "The AWS Shield Advanced subscription details for an account."
        }
      },
      "type": "object"
    },
    "Double": {
      "format": "double",
      "type": "number"
    },
    "DurationInSeconds": {
      "minimum": 0,
      "type": "integer"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalErrorException": {
      "description": "Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "InvalidOperationException": {
      "description": "Exception that indicates that the operation would not cause any change to occur.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "InvalidParameterException": {
      "description": "Exception that indicates that the parameters passed to the API are invalid. ",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "InvalidResourceException": {
      "description": "Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "LimitNumber": {
      "type": "integer"
    },
    "LimitType": {
      "type": "string"
    },
    "LimitsExceededException": {
      "description": "Exception that indicates that the operation would exceed a limit.",
      "properties": {
        "Limit": {
          "$ref": "#/definitions/LimitNumber"
        },
        "Type": {
          "$ref": "#/definitions/LimitType"
        },
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "ListAttacksRequest": {
      "properties": {
        "EndTime": {
          "$ref": "#/definitions/TimeRange",
          "description": "The end of the time period for the attacks."
        },
        "MaxResults": {
          "$ref": "#/definitions/MaxResults",
          "description": "The maximum number of <a>AttackSummary</a> objects to be returned. If this is left blank, the first 20 results will be returned."
        },
        "NextToken": {
          "$ref": "#/definitions/Token",
          "description": "The <code>ListAttacksRequest.NextMarker</code> value from a previous call to <code>ListAttacksRequest</code>. Pass null if this is the first call."
        },
        "ResourceArns": {
          "$ref": "#/definitions/ResourceArnFilterList",
          "description": "The ARN (Amazon Resource Name) of the resource that was attacked. If this is left blank, all applicable resources for this account will be included."
        },
        "StartTime": {
          "$ref": "#/definitions/TimeRange",
          "description": "The time period for the attacks."
        }
      },
      "type": "object"
    },
    "ListAttacksResponse": {
      "properties": {
        "AttackSummaries": {
          "$ref": "#/definitions/AttackSummaries",
          "description": "The attack information for the specified time range."
        },
        "NextToken": {
          "$ref": "#/definitions/Token",
          "description": "The token returned by a previous call to indicate that there is more data available. If not null, more results are available. Pass this value for the <code>NextMarker</code> parameter in a subsequent call to <code>ListAttacks</code> to retrieve the next set of items."
        }
      },
      "type": "object"
    },
    "ListProtectionsRequest": {
      "properties": {
        "MaxResults": {
          "$ref": "#/definitions/MaxResults",
          "description": "The maximum number of <a>Protection</a> objects to be returned. If this is left blank the first 20 results will be returned."
        },
        "NextToken": {
          "$ref": "#/definitions/Token",
          "description": "The <code>ListProtectionsRequest.NextToken</code> value from a previous call to <code>ListProtections</code>. Pass null if this is the first call."
        }
      },
      "type": "object"
    },
    "ListProtectionsResponse": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/Token",
          "description": "If you specify a value for <code>MaxResults</code> and you have more Protections than the value of MaxResults, AWS Shield Advanced returns a NextToken value in the response that allows you to list another group of Protections. For the second and subsequent ListProtections requests, specify the value of NextToken from the previous response to get information about another batch of Protections."
        },
        "Protections": {
          "$ref": "#/definitions/Protections",
          "description": "The array of enabled <a>Protection</a> objects."
        }
      },
      "type": "object"
    },
    "LockedSubscriptionException": {
      "description": "Exception that indicates that the subscription has been modified by another client. You can retry the request.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "MaxResults": {
      "maximum": 100,
      "minimum": 0,
      "type": "integer"
    },
    "Mitigation": {
      "description": "The mitigation applied to a DDoS attack.",
      "properties": {
        "MitigationName": {
          "$ref": "#/definitions/String",
          "description": "The name of the mitigation taken for this attack."
        }
      },
      "type": "object"
    },
    "MitigationList": {
      "items": {
        "$ref": "#/definitions/Mitigation"
      },
      "type": "array"
    },
    "OptimisticLockException": {
      "description": "Exception that indicates that the protection state has been modified by another client. You can retry the request.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "Protection": {
      "description": "An object that represents a resource that is under DDoS protection.",
      "properties": {
        "Id": {
          "$ref": "#/definitions/ProtectionId",
          "description": "The unique identifier (ID) of the protection."
        },
        "Name": {
          "$ref": "#/definitions/ProtectionName",
          "description": "The friendly name of the protection. For example, <code>My CloudFront distributions</code>."
        },
        "ResourceArn": {
          "$ref": "#/definitions/ResourceArn",
          "description": "The ARN (Amazon Resource Name) of the AWS resource that is protected."
        }
      },
      "type": "object"
    },
    "ProtectionId": {
      "maxLength": 36,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9\\\\-]*",
      "type": "string"
    },
    "ProtectionName": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "[ a-zA-Z0-9_\\\\.\\\\-]*",
      "type": "string"
    },
    "Protections": {
      "items": {
        "$ref": "#/definitions/Protection"
      },
      "type": "array"
    },
    "ResourceAlreadyExistsException": {
      "description": "Exception indicating the specified resource already exists.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "ResourceArn": {
      "minLength": 1,
      "type": "string"
    },
    "ResourceArnFilterList": {
      "items": {
        "$ref": "#/definitions/ResourceArn"
      },
      "type": "array"
    },
    "ResourceNotFoundException": {
      "description": "Exception indicating the specified resource does not exist.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "String": {
      "type": "string"
    },
    "SubResourceSummary": {
      "description": "The attack information for the specified SubResource.",
      "properties": {
        "AttackVectors": {
          "$ref": "#/definitions/SummarizedAttackVectorList",
          "description": "The list of attack types and associated counters."
        },
        "Counters": {
          "$ref": "#/definitions/SummarizedCounterList",
          "description": "The counters that describe the details of the attack."
        },
        "Id": {
          "$ref": "#/definitions/String",
          "description": "The unique identifier (ID) of the <code>SubResource</code>."
        },
        "Type": {
          "$ref": "#/definitions/SubResourceType",
          "description": "The <code>SubResource</code> type."
        }
      },
      "type": "object"
    },
    "SubResourceSummaryList": {
      "items": {
        "$ref": "#/definitions/SubResourceSummary"
      },
      "type": "array"
    },
    "SubResourceType": {
      "enum": [
        "IP",
        "URL"
      ],
      "type": "string"
    },
    "Subscription": {
      "description": "Information about the AWS Shield Advanced subscription for an account.",
      "properties": {
        "StartTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The start time of the subscription, in the format \"2016-12-16T13:50Z\"."
        },
        "TimeCommitmentInSeconds": {
          "$ref": "#/definitions/DurationInSeconds",
          "description": "The length, in seconds, of the AWS Shield Advanced subscription for the account."
        }
      },
      "type": "object"
    },
    "SummarizedAttackVector": {
      "description": "A summary of information about the attack.",
      "properties": {
        "VectorCounters": {
          "$ref": "#/definitions/SummarizedCounterList",
          "description": "The list of counters that describe the details of the attack."
        },
        "VectorType": {
          "$ref": "#/definitions/String",
          "description": "The attack type, for example, SNMP reflection or SYN flood."
        }
      },
      "required": [
        "VectorType"
      ],
      "type": "object"
    },
    "SummarizedAttackVectorList": {
      "items": {
        "$ref": "#/definitions/SummarizedAttackVector"
      },
      "type": "array"
    },
    "SummarizedCounter": {
      "description": "The counter that describes a DDoS attack.",
      "properties": {
        "Average": {
          "$ref": "#/definitions/Double",
          "description": "The average value of the counter for a specified time period."
        },
        "Max": {
          "$ref": "#/definitions/Double",
          "description": "The maximum value of the counter for a specified time period."
        },
        "N": {
          "$ref": "#/definitions/Integer",
          "description": "The number of counters for a specified time period."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The counter name."
        },
        "Sum": {
          "$ref": "#/definitions/Double",
          "description": "The total of counter values for a specified time period."
        },
        "Unit": {
          "$ref": "#/definitions/String",
          "description": "The unit of the counters."
        }
      },
      "type": "object"
    },
    "SummarizedCounterList": {
      "items": {
        "$ref": "#/definitions/SummarizedCounter"
      },
      "type": "array"
    },
    "TimeRange": {
      "description": "The time range.",
      "properties": {
        "FromInclusive": {
          "$ref": "#/definitions/AttackTimestamp",
          "description": "The start time, in the format 2016-12-16T13:50Z."
        },
        "ToExclusive": {
          "$ref": "#/definitions/AttackTimestamp",
          "description": "The end time, in the format 2016-12-16T15:50Z."
        }
      },
      "type": "object"
    },
    "Timestamp": {
      "format": "date-time",
      "type": "string"
    },
    "Token": {
      "minLength": 1,
      "type": "string"
    },
    "errorMessage": {
      "type": "string"
    }
  }
}