{
  "swagger": "2.0",
  "info": {
    "description": "Use MotaWord API to post and track your translation projects.",
    "title": "MotaWord API",
    "version": "1.0",
    "x-apiClientRegistration": {
      "url": "https://www.motaword.com/developer/register"
    },
    "x-apisguru-categories": [
      "text"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_dentycj2qhk72.cloudfront.net_new_images_new_logo_horizontal.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.motaword.com/swagger",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "motaword.com",
    "x-datafire": {
      "name": "motaword",
      "type": "openapi"
    }
  },
  "host": "api.motaword.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON representation of our Swagger API definition.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [],
        "tags": [
          "Static"
        ],
        "description": "The root endpoint will provide you a JSON Swagger definition.\n",
        "operationId": "getEndpoints",
        "summary": "Available endpoints"
      }
    },
    "/async/download": {
      "get": {
        "produces": [
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "description": "Async operation key",
            "in": "query",
            "name": "async_request_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Async"
        ],
        "description": "Download async request files",
        "operationId": "downloadAsync",
        "summary": "Download async request files"
      }
    },
    "/blogs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Article language, default `en`. When no blog article is available and `fallback=true` is specified, it falls back to `en`.",
            "in": "query",
            "name": "locale",
            "required": false,
            "type": "string"
          },
          {
            "description": "When `true`, and no article is found in the locale, it falls back to `locale=en`.",
            "in": "query",
            "name": "fallback",
            "required": false,
            "type": "boolean"
          },
          {
            "default": 1,
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of blog articles",
            "schema": {
              "$ref": "#/definitions/BlogArticleList"
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "operationId": "getBlogPosts",
        "summary": "Get blog posts - ordered by created desc by default"
      }
    },
    "/commissions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Commissions for client.",
            "schema": {
              "$ref": "#/definitions/CommissionList"
            }
          },
          "401": {
            "description": "UnauthorizedUser",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Commission"
        ],
        "operationId": "getCommissions",
        "summary": "Returns a commission list of current client."
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ReportFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Commissions for client.",
            "schema": {
              "$ref": "#/definitions/CommissionList"
            }
          },
          "401": {
            "description": "UnauthorizedUser",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Commission"
        ],
        "operationId": "getCommissionsByFilter",
        "summary": "Returns a commission list of current client."
      }
    },
    "/corporates/{corporateId}/users": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Corporate ID",
            "format": "int64",
            "in": "path",
            "name": "corporateId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "User list",
            "schema": {
              "$ref": "#/definitions/UserList"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Corporate"
        ],
        "description": "Get a list of users for this corporate id",
        "operationId": "getCorporateUsers",
        "summary": "Get a list of users for this corporate id"
      }
    },
    "/delete-account": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "deleteAccount",
        "summary": "Delete requester account"
      }
    },
    "/documents": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 0,
            "description": "When true, this will return the most 4 recent active documents.",
            "in": "query",
            "name": "recent",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "type": "string"
          },
          {
            "default": "ALL",
            "enum": [
              "ALL",
              "TEXT_DOCUMENTS",
              "PRESENTATIONS",
              "SPREADSHEETS",
              "PDFS",
              "IMAGES",
              "SUBTITLES",
              "DESIGNS",
              "LOCALIZATION",
              "WEB",
              "STYLE_GUIDES",
              "GLOSSARIES"
            ],
            "in": "query",
            "name": "type_filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "searches in source language of documents, in source and target languages of document's quote",
            "in": "query",
            "name": "language_code",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 10,
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "default": "updated_at",
            "enum": [
              "id",
              "updated_at",
              "created_at",
              "name"
            ],
            "in": "query",
            "name": "order_by",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "order_type",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.",
            "in": "query",
            "items": {
              "enum": [
                "preview",
                "editors"
              ],
              "type": "string"
            },
            "name": "with[]",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Document list",
            "schema": {
              "$ref": "#/definitions/DocumentList"
            }
          }
        },
        "tags": [
          "Document"
        ],
        "description": "Get a list of your documents",
        "operationId": "getDocuments",
        "summary": "Get a list of your documents"
      }
    },
    "/documents/{documentId}/similars": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "Determines the number of similar documents to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.",
            "in": "query",
            "items": {
              "enum": [
                "preview",
                "editors"
              ],
              "type": "string"
            },
            "name": "with[]",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Document list",
            "schema": {
              "$ref": "#/definitions/DocumentList"
            }
          }
        },
        "tags": [
          "Document"
        ],
        "description": "Find documents similar to this document. Optionally, include translation information.",
        "operationId": "getSimilarDocuments",
        "summary": "Find documents similar to this document."
      }
    },
    "/documents/{documentId}/use_as_draft": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UseAsDraftPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation status",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          }
        },
        "tags": [
          "Document"
        ],
        "description": "Use the translation of given source manual document as manual draft source for the given target document.",
        "operationId": "useAsDraft",
        "summary": "Use the translation of given source manual document as manual draft source for the given target document."
      }
    },
    "/documents/{documentId}/use_as_regular": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UseAsRegularPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation status",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          }
        },
        "tags": [
          "Document"
        ],
        "description": "Use the translation of the given manual document as a regular file.",
        "operationId": "useAsRegular",
        "summary": "Use the translation of the given manual document as a regular file."
      }
    },
    "/downgrade-proofreader": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "304": {
            "description": "Vendor is already a translator"
          },
          "400": {
            "description": "VendorNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "downgradeProofreader"
      }
    },
    "/earnings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Earnings for vendors",
            "schema": {
              "$ref": "#/definitions/Earnings"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "getEarnings",
        "summary": "Returns your vendor earnings. Includes real-time earnings from ongoing projects, and fixed earnings from completed projects. Also includes total earnings and string edits."
      }
    },
    "/formats": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of supported formats",
            "schema": {
              "items": {
                "$ref": "#/definitions/Formats"
              },
              "type": "object"
            }
          }
        },
        "security": [],
        "tags": [
          "Static"
        ],
        "description": "Get a list of supported formats for documents, style guides and extensions.\n",
        "operationId": "getFormats",
        "summary": "Get a list of supported formats"
      }
    },
    "/freeze-account": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "304": {
            "description": "Account is already frozen for notifications"
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "freezeAccount",
        "summary": "Freeze requester account for project notifications"
      }
    },
    "/glossary": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Glossary file streamed.",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "GlossaryNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "description": "Download your corporate account's global glossary. This endpoint is available only for corporate account customers.",
        "operationId": "downloadGlobalGlossary",
        "summary": "Download the global glossary."
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Glossary file. Currently supported formats: .xlsx, .tbx\n",
            "format": "binary",
            "in": "formData",
            "name": "glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "400": {
            "description": "FileTooLarge FileTooSmall NoFileUploaded",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "UnsupportedGlossaryFormat",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "description": "Update your corporate account's global glossary. This endpoint is available only for corporate account customers.",
        "operationId": "updateGlobalGlossary",
        "summary": "Create or update the global glossary."
      }
    },
    "/languages": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of supported languages",
            "schema": {
              "items": {
                "$ref": "#/definitions/Language"
              },
              "type": "array"
            }
          }
        },
        "security": [],
        "tags": [
          "Static"
        ],
        "description": "Get a list of supported languages",
        "operationId": "getLanguages",
        "summary": "Get a list of supported languages"
      }
    },
    "/location": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LocationUpdateContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "logLocation",
        "summary": "Log user's current location. This data is used in our Intelligent Project Manager for various data analysis, including project prioritization for vendors and account validation."
      }
    },
    "/make-proofreader": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "304": {
            "description": "Vendor is already a proofreader"
          },
          "400": {
            "description": "VendorNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "makeProofreader"
      }
    },
    "/me": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "User summary",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "getMe",
        "summary": "Get your user information, including client or vendor specific info."
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UserUpdateContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User info",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "updateMe",
        "summary": "Update your user information."
      }
    },
    "/notifications/subscribe": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/NotificationSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved notification subscription information",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "400": {
            "description": "MissingParameter | Failed to save subscription",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "subscribeNotification"
      }
    },
    "/notifications/unsubscribe": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/NotificationSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted notification subscription information",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "400": {
            "description": "MissingParameter | Failed to delete subscription",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "unsubscribeNotification"
      }
    },
    "/password": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PasswordUpdateContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "updatePassword",
        "summary": "Update user password. Password should contain at least one uppercase, lowercase character and one number"
      }
    },
    "/payment": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns billing and saved card information for user, and their corporate if present.",
            "schema": {
              "$ref": "#/definitions/PaymentInfo"
            }
          },
          "404": {
            "description": "UserNotFound UnauthorizedUser",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "getPaymentInfo",
        "summary": "Get your payment Info"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdatePaymentInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PaymentInfo"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "updatePaymentInfo",
        "summary": "Update payment info"
      }
    },
    "/profile-picture": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Profile picture file contents. Accepted extensions are png, jpg.",
            "format": "binary",
            "in": "formData",
            "name": "profile_picture",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "400": {
            "description": "Email already exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "UserNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "User"
        ],
        "operationId": "uploadProfilePicture"
      }
    },
    "/projects": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 10,
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "Filter projects by status. Accepts multiple statuses. Possible values 'pending', 'started', 'completed'",
            "in": "query",
            "items": {
              "$ref": "#/definitions/ProjectStatus",
              "description": "progress-related project status enums are not supported, such as \"translated\", \"proofread\"."
            },
            "name": "status[]",
            "required": false,
            "type": "array"
          },
          {
            "default": true,
            "deprecated": true,
            "description": "deprecated. use `status[]` param.",
            "in": "query",
            "name": "with_pending",
            "required": false,
            "type": "boolean"
          },
          {
            "default": true,
            "deprecated": true,
            "description": "deprecated. use `status[]` param.",
            "in": "query",
            "name": "with_started",
            "required": false,
            "type": "boolean"
          },
          {
            "default": true,
            "deprecated": true,
            "description": "deprecated. use `status[]` param.",
            "in": "query",
            "name": "with_completed",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "id",
            "enum": [
              "id",
              "status",
              "delivery",
              "price"
            ],
            "in": "query",
            "name": "order_by",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "order_type",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Project list",
            "schema": {
              "$ref": "#/definitions/ProjectList"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Get a list of your projects",
        "operationId": "getProjects",
        "summary": "Get a list of your projects"
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional. If you provide a callback URL, we will send POST callbacks when the status of the current project is changed. Possible status changes are, 'translated', 'proofread', 'completed'.",
            "in": "formData",
            "name": "callback_url",
            "type": "string"
          },
          {
            "description": "Coupon code to redeem",
            "in": "formData",
            "name": "coupon_code",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Optional. This is a consistent custom data parameter that will be given to you in the response across every request of this project model. Values should be provided like this, custom[my_key] = my_value.",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "custom",
            "type": "array"
          },
          {
            "description": "Optional. You can add as many files as you want in documents[] parameter. Or you add your documents later in separate calls.",
            "format": "binary",
            "in": "formData",
            "name": "documents[]",
            "type": "string"
          },
          {
            "description": "Optional. Only one glossary is supported at the moment.",
            "format": "binary",
            "in": "formData",
            "name": "glossaries[]",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "source_language",
            "type": "string"
          },
          {
            "description": "Optional. You can add as many files as you want in styleguides[] parameter. Or you add your style guides later in separate calls.",
            "format": "binary",
            "in": "formData",
            "name": "styleguides[]",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "target_languages[]",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created project",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "400": {
            "description": "FileTooLarge FileTooSmall FileWasAlreadyUploaded",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "UnsupportedDocumentFormat UnsupportedStyleGuideFormat UnsupportedGlossaryFormat",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "UnsupportedLanguage TooManyGlossaries ProjectAlreadyHasGlossary",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "ProjectInsertFailed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Create a new project",
        "operationId": "createProject",
        "summary": "Get a new quote"
      }
    },
    "/projects/vendor": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Return only projects that this user has already joined",
            "in": "query",
            "name": "joined",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Return only projects that have been completed. When `true`, this makes `joined` true as well.",
            "in": "query",
            "name": "completed",
            "required": false,
            "type": "boolean"
          },
          {
            "default": 1,
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 10,
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor project list",
            "schema": {
              "$ref": "#/definitions/ProjectList"
            }
          },
          "400": {
            "description": "VendorNotFound - this is not a vendor user account",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Get a list of your vendor projects",
        "operationId": "getVendorProjects",
        "summary": "Get a list of your vendor projects"
      }
    },
    "/projects/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Project canceled successfully",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Delete(cancel) a project.",
        "operationId": "deleteProject",
        "summary": "Delete a project"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "Include detailed information. Possible values 'client', 'vendor', 'score'",
            "in": "query",
            "items": {
              "enum": [
                "client",
                "vendor",
                "score"
              ],
              "type": "string"
            },
            "name": "with[]",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Project model",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Get single project",
        "operationId": "getProject",
        "summary": "Get single project"
      },
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Optional. If you provide a callback URL, we will send POST callbacks when the status of the current project is changed. Possible status changes are, 'translated', 'proofread', 'completed'.",
            "in": "formData",
            "name": "callback_url",
            "type": "string"
          },
          {
            "description": "Coupon code to redeem",
            "in": "formData",
            "name": "coupon_code",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Optional. This is a consistent custom data parameter that will be given to you in the response across every request of this project model. Values should be provided like this, custom[my_key] = my_value. If you previously provided one, it will be replaced.",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "custom",
            "type": "array"
          },
          {
            "in": "formData",
            "name": "source_language",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "target_languages[]",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated project",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "UnsupportedLanguage",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Update project language pairs",
        "operationId": "updateProject",
        "summary": "Update project language pairs"
      }
    },
    "/projects/{id}/callback/{actionType}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Callback type",
            "enum": [
              "translated",
              "proofread",
              "completed"
            ],
            "in": "path",
            "name": "actionType",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Callback result",
            "schema": {
              "$ref": "#/definitions/CallbackResult"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Trigger a call to your callback URL related to this project.",
        "operationId": "triggerCallback",
        "summary": "Trigger a call to your callback URL related to this project."
      }
    },
    "/projects/{id}/cancel": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Cancellation reason",
            "in": "formData",
            "name": "reason",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Project canceled successfully",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "operationId": "cancelProject",
        "summary": "Cancel your translation project"
      }
    },
    "/projects/{id}/deliver": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation started successfully",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "operationId": "deliverProject",
        "summary": "Deliver project"
      }
    },
    "/projects/{id}/download": {
      "get": {
        "produces": [
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Translation package streamed. The streamed file is always a ZIP file, except when the API client is configured for Drupal and Wordpress.",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "402": {
            "description": "ProjectNotLaunchedYet",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "TranslationPackageNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Download the latest translation package. You must have given a /package call beforehand and wait until the packaging status is 'completed'.",
        "operationId": "download",
        "summary": "Download the latest translation package."
      }
    },
    "/projects/{id}/download/{language}": {
      "get": {
        "produces": [
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Language code. You can download the translation of only a specific language.",
            "in": "path",
            "name": "language",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Translation package streamed. The streamed file is always a ZIP file, except when the API client is configured for Drupal and Wordpress.",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "402": {
            "description": "ProjectNotLaunchedYet",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "TranslationPackageNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Download only the translation package of this language. You must have given a /package call beforehand and wait until the packaging status is 'completed'.",
        "operationId": "downloadLanguage",
        "summary": "Download the latest translation package."
      }
    },
    "/projects/{id}/invoice": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "404": {
            "description": "ProjectNotFound or InvoiceNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Get invoice details",
        "operationId": "getInvoice",
        "summary": "Get invoice details"
      }
    },
    "/projects/{id}/invoice.html": {
      "get": {
        "produces": [
          "text/html",
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "ProjectNotFound or InvoiceNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Download invoice as html by project id.",
        "operationId": "downloadHtmlInvoice",
        "summary": "Download invoice as hmtl"
      }
    },
    "/projects/{id}/invoice.pdf": {
      "get": {
        "produces": [
          "application/pdf",
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "404": {
            "description": "ProjectNotFound or InvoiceNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Download invoice as pdf by project id.",
        "operationId": "downloadPdfInvoice",
        "summary": "Download invoice as pdf"
      }
    },
    "/projects/{id}/launch": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Last 4 digits of the credit card you are using one-time. This parameter is only required when stripe_token is provided.",
            "in": "formData",
            "name": "bin",
            "type": "string"
          },
          {
            "description": "Optional with corporate accounts. Not available for others.",
            "in": "formData",
            "name": "budget_code",
            "type": "string"
          },
          {
            "description": "Optional. `client`, `app`, `corporate_card` methods require a credit card ID. `credit` method requires Stripe token and bin.",
            "format": "int64",
            "in": "formData",
            "name": "card_id",
            "type": "integer"
          },
          {
            "description": "Optional. `corporate` payment method requires this.s",
            "in": "formData",
            "name": "payment_code",
            "type": "string"
          },
          {
            "description": "Optional. Determines which method to use for payment. `client`, `app`, `corporate_card` methods require a credit card ID. `credit` method requires Stripe token and bin. `corporate` method follows corporate account policy automatically, either follows invoicing flow or automatically charges corporate's primary card.",
            "enum": [
              "corporate",
              "client",
              "app",
              "credit",
              "corporate_card"
            ],
            "in": "formData",
            "name": "payment_method",
            "type": "string"
          },
          {
            "description": "This is required if you are using a one-time credit card. This is the token generted from frontend via Stripe SDK. If you are using a one-time card with `stripe_token`, you must also provide `bin`, last 4 digits of the card.",
            "in": "formData",
            "name": "stripe_token",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Project launched successfully",
            "schema": {
              "$ref": "#/definitions/ProjectLaunchResponse"
            }
          },
          "400": {
            "description": "MissingPaymentCode MissingCorporateAccount MissingPaymentMethod",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "CorporateAccountNotAllowedForApiPayment ApiClientMissingPaymentInformation",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "operationId": "launchProject",
        "summary": "Launch your translation project"
      }
    },
    "/projects/{id}/package": {
      "post": {
        "produces": [
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "If you want to package and download the translation synchronously, mark this parameter as '0'. It will package the translation and then return the packaged file in the response, identical to /download call after an asynchronous /package call.",
            "format": "int64",
            "in": "query",
            "name": "async",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Packaged translation streamed.",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "402": {
            "description": "ProjectNotLaunchedYet",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "TranslationPackageNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Package the translation project, make it ready to be downloaded.",
        "operationId": "package",
        "summary": "Package the translation of all languages to be downloaded."
      }
    },
    "/projects/{id}/package/check": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "This is the package tracking key provided in the response of a /package call.",
            "in": "query",
            "name": "key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of packaging process.",
            "schema": {
              "$ref": "#/definitions/PackageStatus"
            }
          },
          "402": {
            "description": "ProjectNotLaunchedYet",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "PackagingStatusMissing",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "This request will tell you the current progress of the translation packaging. You will use the 'key' provided by the /package call.",
        "operationId": "trackPackage",
        "summary": "Track the status of translation packaging."
      }
    },
    "/projects/{id}/package/{language}": {
      "post": {
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Language code. You can package the translation of only a specific language.",
            "in": "path",
            "name": "language",
            "required": true,
            "type": "string"
          },
          {
            "default": 0,
            "description": "If you want to package and download the translation synchronously, mark this parameter as '0'. It will package the translation and then return the packaged file in the response, identical to /download call after an asynchronous /package call.",
            "format": "int64",
            "in": "query",
            "name": "async",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Packaging status and tracking code. With the package key, you can track the progress of translation packaging.Also packaged translation streamed.",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          },
          "402": {
            "description": "ProjectNotLaunchedYet",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "TranslationPackageNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Package the translation project, make it ready to be downloaded.",
        "operationId": "packageLanguage",
        "summary": "Package the translation of a specific target language to be downloaded."
      }
    },
    "/projects/{id}/progress": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "default": false,
            "description": "This will return a more raw progress information for translation and proofreading. For instance, when completed, we will return 100% for both tasks by default, whereas their actual progress may be lower than 100%.",
            "in": "query",
            "name": "raw",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Progress information",
            "schema": {
              "$ref": "#/definitions/Progress"
            }
          },
          "402": {
            "description": "ProjectNotLaunchedYet",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Get the progress of an already launched project.",
        "operationId": "getProgress",
        "summary": "Get project progress"
      }
    },
    "/projects/{id}/recreate": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Project recreation process started successfully",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "401": {
            "description": "UnauthorizedUser",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "operationId": "recreateProject",
        "summary": "Recreate your translation project from scratch. This is a risky action, you will lose current translations."
      }
    },
    "/projects/{id}/reports": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Activity Type",
            "in": "formData",
            "name": "activity_type",
            "type": "string"
          },
          {
            "description": "Report Message",
            "in": "formData",
            "name": "message",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Report submitted successfully",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "400": {
            "description": "MissingMessage",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project"
        ],
        "operationId": "submitProjectReports",
        "summary": "Submit reports for a project"
      }
    },
    "/projects/{id}/webhooks": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Project webhook deleted successfully",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Webhooks"
        ],
        "description": "Delete project webhooks. Projects currently support registering only 1 webhook. This endpoint deletes the previously registered webhook.",
        "operationId": "deleteProjectWebhook",
        "summary": "Delete project webhooks"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Project model",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Webhooks"
        ],
        "description": "Get project information (includes callback_url for webhook). Currently projects can have only 1 webhook registered.",
        "operationId": "getProjectWebhooks",
        "summary": "Get project information (includes callback_url for webhook)"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "callback_url": {
                  "description": "Webhook URL. We will send POST callbacks when the status of the current project is changed. Possible status changes are, 'translated', 'proofread', 'completed'.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated project",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Webhooks"
        ],
        "description": "Update project webhook URL",
        "operationId": "postProjectWebhook",
        "summary": "Update project webhook URL"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "callback_url": {
                  "description": "Webhook URL. We will send POST callbacks when the status of the current project is changed. Possible status changes are, 'translated', 'proofread', 'completed'.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated project",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Webhooks"
        ],
        "description": "Update project webhook URL",
        "operationId": "updateProjectWebhook",
        "summary": "Update project webhook URL"
      }
    },
    "/projects/{projectId}/activities": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "default": 1,
            "format": "int64",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "default": 10,
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of activity models",
            "schema": {
              "$ref": "#/definitions/ActivityList"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Activity"
        ],
        "description": "Get a list of realtime activities on the project, such as translation suggestion and translation approval.",
        "operationId": "getActivities",
        "summary": "Get a list of realtime activities."
      }
    },
    "/projects/{projectId}/activities/{activityId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Activity ID",
            "format": "int64",
            "in": "path",
            "name": "activityId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity model",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "404": {
            "description": "ProjectActivityNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Activity"
        ],
        "description": "Get a single realtime activity.",
        "operationId": "getActivity",
        "summary": "Get a single realtime activity."
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Activity ID",
            "format": "int64",
            "in": "path",
            "name": "activityId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Comment text.",
            "in": "formData",
            "name": "comment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Comment model",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          },
          "404": {
            "description": "ProjectActivityNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Activity"
        ],
        "description": "Submit a comment to an activity.",
        "operationId": "submitComment",
        "summary": "Submit a blog to an activity."
      }
    },
    "/projects/{projectId}/activities/{activityId}/comments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Activity ID",
            "format": "int64",
            "in": "path",
            "name": "activityId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Comment models",
            "schema": {
              "$ref": "#/definitions/CommentList"
            }
          },
          "404": {
            "description": "ProjectActivityNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Activity"
        ],
        "description": "Get a list of comments belonging to this activity.",
        "operationId": "getActivityComments",
        "summary": "Get a list of comments belonging to this activity."
      }
    },
    "/projects/{projectId}/comments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "default": 1,
            "format": "int64",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "default": 10,
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Comment models",
            "schema": {
              "$ref": "#/definitions/CommentList"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Activity"
        ],
        "description": "Get a list of activity comments throughout the whole project.",
        "operationId": "getComments",
        "summary": "Get a list of activity comments throughout the whole project."
      }
    },
    "/projects/{projectId}/documents": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.",
            "in": "query",
            "items": {
              "enum": [
                "preview",
                "editors"
              ],
              "type": "string"
            },
            "name": "with[]",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of document models",
            "schema": {
              "$ref": "#/definitions/DocumentList"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Document"
        ],
        "description": "Get a list of documents",
        "operationId": "getProjectDocuments",
        "summary": "Get a list of documents"
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "collectionFormat": "csv",
            "description": "You can add as many files as you want in documents[] parameter.",
            "in": "formData",
            "items": {
              "format": "binary",
              "type": "string"
            },
            "name": "documents[]",
            "type": "array"
          },
          {
            "description": "JSON string. If your documents have a scheme, as in cases of CSV files, use the same array index keys for `schemes` parameter to specify their schemes. See `Document Schemes` title in the API documentation.",
            "in": "formData",
            "name": "schemes[]",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "When provided, we will download the files from these URLs, in addition to files provded in `documents` parameter and then save as source documents",
            "in": "formData",
            "items": {
              "$ref": "#/definitions/LinkedSourceDocument"
            },
            "name": "source-links[]",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of successfully added new documents.",
            "schema": {
              "$ref": "#/definitions/DocumentList"
            }
          },
          "400": {
            "description": "FileTooLarge FileTooSmall FileWasAlreadyUploaded",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "UnsupportedDocumentFormat",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "InvalidDocumentScheme",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "ProjectAlreadyStarted",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Document"
        ],
        "description": "Upload a new document",
        "operationId": "createProjectDocument",
        "summary": "Upload a new document"
      }
    },
    "/projects/{projectId}/documents/{documentId}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "DocumentNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "ProjectAlreadyStarted",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Document"
        ],
        "description": "Delete the document",
        "operationId": "deleteProjectDocument",
        "summary": "Delete the document"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "Attach further information. Possible values 'preview' to fetch temporary preview URLs for Box.com or native PDF. This is NOT recommended to be used with list calls. Only use with[]=preview for single document/style guide calls.",
            "in": "query",
            "items": {
              "enum": [
                "preview",
                "editors"
              ],
              "type": "string"
            },
            "name": "with[]",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Document model",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "404": {
            "description": "DocumentNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Document"
        ],
        "description": "Get single document",
        "operationId": "getProjectDocument",
        "summary": "Get single document"
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Single file data. The name is plural to provide a consistent naming convention.",
            "format": "binary",
            "in": "formData",
            "name": "documents",
            "type": "string"
          },
          {
            "description": "JSON string. If your documents have a scheme, as in cases of CSV files, use the same array index keys for `schemes` parameter to specify their schemes. See `Document Schemes` title in the API documentation.",
            "in": "formData",
            "name": "schemes",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "source-link",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated document model",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "FileTooLarge FileTooSmall FileWasAlreadyUploaded",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "DocumentNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "UnsupportedDocumentFormat",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "InvalidDocumentScheme",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "ProjectAlreadyStarted",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Document"
        ],
        "description": "Update the document. File name and contents will replaced with the new one.",
        "operationId": "updateProjectDocument",
        "summary": "Update the document."
      }
    },
    "/projects/{projectId}/documents/{documentId}/download": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Document streamed",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "DocumentNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Project Document"
        ],
        "description": "Download a document",
        "operationId": "downloadProjectDocument",
        "summary": "Download a document"
      }
    },
    "/projects/{projectId}/documents/{documentId}/translations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Response for strings and their translations",
            "schema": {
              "$ref": "#/definitions/StringList"
            }
          }
        },
        "tags": [
          "Translations"
        ],
        "operationId": "getDocumentTranslations",
        "summary": "Get a list of strings and its translations in the document."
      }
    },
    "/projects/{projectId}/documents/{documentId}/translations/{language}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Document ID",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Target language code.",
            "in": "path",
            "name": "language",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response for strings and their translations",
            "schema": {
              "$ref": "#/definitions/StringList"
            }
          }
        },
        "tags": [
          "Translations"
        ],
        "operationId": "getDocumentTranslationsForLanguage",
        "summary": "Get a list of strings and its translations in the document for this target language of the project."
      }
    },
    "/projects/{projectId}/glossaries": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of glossary models",
            "schema": {
              "$ref": "#/definitions/GlossaryList"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "description": "Get a list of glossaries",
        "operationId": "getGlossaries",
        "summary": "Get a list of glossaries"
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can only add one glossary, even though the name suggests multiple glossaries. This may be updated in the future to support multiple glossaries.",
            "format": "binary",
            "in": "formData",
            "name": "glossaries",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created glossary model.",
            "schema": {
              "$ref": "#/definitions/Glossary"
            }
          },
          "400": {
            "description": "FileTooLarge",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "ProjectNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "UnsupportedGlossaryFormat",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "ProjectAlreadyHasGlossary",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "ProjectAlreadyStarted",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "description": "Upload a new glossary",
        "operationId": "createGlossary",
        "summary": "Upload a new glossary"
      }
    },
    "/projects/{projectId}/glossaries/{glossaryId}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Glossary ID",
            "format": "int64",
            "in": "path",
            "name": "glossaryId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary deleted successfully",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "404": {
            "description": "GlossaryNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "ProjectAlreadyStarted",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "description": "Delete the glossary",
        "operationId": "deleteGlossary",
        "summary": "Delete the glossary"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Glossary ID",
            "format": "int64",
            "in": "path",
            "name": "glossaryId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary model",
            "schema": {
              "$ref": "#/definitions/Glossary"
            }
          },
          "404": {
            "description": "GlossaryNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "description": "Get single glossary",
        "operationId": "getGlossary",
        "summary": "Get single glossary"
      },
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Glossary ID",
            "format": "int64",
            "in": "path",
            "name": "glossaryId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Single file data. The name is plural to provide a consistent naming convention.",
            "format": "binary",
            "in": "formData",
            "name": "glossaries",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated glossary model",
            "schema": {
              "$ref": "#/definitions/Glossary"
            }
          },
          "400": {
            "description": "FileTooLarge",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "GlossaryNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "UnsupportedGlossaryFormat",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "ProjectAlreadyStarted",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "description": "Update the glossary. File name and contents will replaced with the new one.",
        "operationId": "updateGlossary",
        "summary": "Update the glossary."
      }
    },
    "/projects/{projectId}/glossaries/{glossaryId}/download": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Glossary ID",
            "format": "int64",
            "in": "path",
            "name": "glossaryId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary streamed",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "GlossaryNotFound",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "description": "Download a glossary",
        "operationId": "downloadGlossary",
        "summary": "Download a glossary"
      }
    },
    "/projects/{projectId}/strings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Response for strings and their translations",
            "schema": {
              "$ref": "#/definitions/StringList"
            }
          }
        },
        "tags": [
          "Strings"
        ],
        "operationId": "getProjectStrings",
        "summary": "Get a list of strings and its translations in the project."
      }
    },
    "/projects/{projectId}/strings/package": {
      "post": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "If you want to package and download the translation memory synchronously, mark this parameter as '0'. It will package the translation memory and then return the packaged file in the response, identical to async/download call after an asynchronous /package call.",
            "format": "int64",
            "in": "query",
            "name": "async",
            "type": "integer"
          },
          {
            "default": "tmx",
            "description": "Translation Memory file format",
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response in TMX or async request",
            "schema": {
              "$ref": "#/definitions/AsyncOperationStatus"
            }
          }
        },
        "tags": [
          "Strings"
        ],
        "operationId": "packageProjectTranslationMemory",
        "summary": "Get the translation memory of a project in TMX format"
      }
    },
    "/projects/{projectId}/strings/package/status": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Project ID",
            "format": "int64",
            "in": "path",
[...]
