{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "MailBoxV"
    },
    "description": "The Single Validation API does validation on a single email address and returns all the validation results in either JSON or XML format. Refer to https://www.mailboxvalidator.com for further information.",
    "title": "MailboxValidator Email Validation",
    "version": "0.1",
    "x-apisguru-categories": [
      "email"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_MailBoxV_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "openapi",
        "url": "https://api.swaggerhub.com/apis/mailboxvalidator/MailboxValidator-Email-Validation/0.1",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "mailboxvalidator.com",
    "x-serviceName": "validation",
    "x-datafire": {
      "name": "mailboxvalidator_validation",
      "type": "openapi"
    }
  },
  "host": "api.mailboxvalidator.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/validation/single": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "Return the result in json (default) or xml format.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The email address to be validated.",
            "in": "query",
            "name": "email",
            "required": true,
            "type": "string"
          },
          {
            "description": "API key.",
            "in": "query",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "single email validation response",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "The Single Validation API does validation on a single email address and returns all the validation results in either JSON or XML format."
      }
    }
  }
}