{
  "swagger": "2.0",
  "schemes": [
    "http"
  ],
  "host": "codepipeline.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "description": "<fullname>AWS CodePipeline</fullname> <p> <b>Overview</b> </p> <p>This is the AWS CodePipeline API Reference. This guide provides descriptions of the actions and data types for AWS CodePipeline. Some functionality for your pipeline is only configurable through the API. For additional information, see the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS CodePipeline User Guide</a>.</p> <p>You can use the AWS CodePipeline API to work with pipelines, stages, actions, gates, and transitions, as described below.</p> <p> <i>Pipelines</i> are models of automated release processes. Each pipeline is uniquely named, and consists of actions, gates, and stages. </p> <p>You can work with pipelines by calling:</p> <ul> <li> <p> <a>CreatePipeline</a>, which creates a uniquely-named pipeline.</p> </li> <li> <p> <a>DeletePipeline</a>, which deletes the specified pipeline.</p> </li> <li> <p> <a>GetPipeline</a>, which returns information about a pipeline structure.</p> </li> <li> <p> <a>GetPipelineExecution</a>, which returns information about a specific execution of a pipeline.</p> </li> <li> <p> <a>GetPipelineState</a>, which returns information about the current state of the stages and actions of a pipeline.</p> </li> <li> <p> <a>ListPipelines</a>, which gets a summary of all of the pipelines associated with your account.</p> </li> <li> <p> <a>StartPipelineExecution</a>, which runs the the most recent revision of an artifact through the pipeline.</p> </li> <li> <p> <a>UpdatePipeline</a>, which updates a pipeline with edits or changes to the structure of the pipeline.</p> </li> </ul> <p>Pipelines include <i>stages</i>, which are logical groupings of gates and actions. Each stage contains one or more actions that must complete before the next stage begins. A stage will result in success or failure. If a stage fails, then the pipeline stops at that stage and will remain stopped until either a new version of an artifact appears in the source location, or a user takes action to re-run the most recent artifact through the pipeline. You can call <a>GetPipelineState</a>, which displays the status of a pipeline, including the status of stages in the pipeline, or <a>GetPipeline</a>, which returns the entire structure of the pipeline, including the stages of that pipeline. For more information about the structure of stages and actions, also refer to the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS CodePipeline Pipeline Structure Reference</a>.</p> <p>Pipeline stages include <i>actions</i>, which are categorized into categories such as source or build actions performed within a stage of a pipeline. For example, you can use a source action to import artifacts into a pipeline from a source such as Amazon S3. Like stages, you do not work with actions directly in most cases, but you do define and interact with actions when working with pipeline operations such as <a>CreatePipeline</a> and <a>GetPipelineState</a>. </p> <p>Pipelines also include <i>transitions</i>, which allow the transition of artifacts from one stage to the next in a pipeline after the actions in one stage complete.</p> <p>You can work with transitions by calling:</p> <ul> <li> <p> <a>DisableStageTransition</a>, which prevents artifacts from transitioning to the next stage in a pipeline.</p> </li> <li> <p> <a>EnableStageTransition</a>, which enables transition of artifacts between stages in a pipeline. </p> </li> </ul> <p> <b>Using the API to integrate with AWS CodePipeline</b> </p> <p>For third-party integrators or developers who want to create their own integrations with AWS CodePipeline, the expected sequence varies from the standard API user. In order to integrate with AWS CodePipeline, developers will need to work with the following items:</p> <p> <b>Jobs</b>, which are instances of an action. For example, a job for a source action might import a revision of an artifact from a source. </p> <p>You can work with jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeJob</a>, which confirms whether a job worker has received the specified job,</p> </li> <li> <p> <a>GetJobDetails</a>, which returns the details of a job,</p> </li> <li> <p> <a>PollForJobs</a>, which determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutJobFailureResult</a>, which provides details of a job failure, and</p> </li> <li> <p> <a>PutJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul> <p> <b>Third party jobs</b>, which are instances of an action created by a partner action and integrated into AWS CodePipeline. Partner actions are created by members of the AWS Partner Network.</p> <p>You can work with third party jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeThirdPartyJob</a>, which confirms whether a job worker has received the specified job,</p> </li> <li> <p> <a>GetThirdPartyJobDetails</a>, which requests the details of a job for a partner action,</p> </li> <li> <p> <a>PollForThirdPartyJobs</a>, which determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutThirdPartyJobFailureResult</a>, which provides details of a job failure, and</p> </li> <li> <p> <a>PutThirdPartyJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS CodePipeline",
    "version": "2015-07-09",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codepipeline-2015-07-09.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "codepipeline",
    "x-datafire": {
      "name": "amazonaws_codepipeline",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/codepipeline/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about a specified job and whether that job has been received by the job worker. Only used for custom actions.",
        "operationId": "AcknowledgeJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AcknowledgeJobInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AcknowledgeJobOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InvalidNonceException",
            "schema": {
              "$ref": "#/definitions/InvalidNonceException"
            }
          },
          "482": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          }
        }
      }
    },
    "/#AcknowledgeThirdPartyJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Confirms a job worker has received the specified job. Only used for partner actions.",
        "operationId": "AcknowledgeThirdPartyJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AcknowledgeThirdPartyJobInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AcknowledgeThirdPartyJobOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InvalidNonceException",
            "schema": {
              "$ref": "#/definitions/InvalidNonceException"
            }
          },
          "482": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "483": {
            "description": "InvalidClientTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidClientTokenException"
            }
          }
        }
      }
    },
    "/#CreateCustomActionType": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a new custom action that can be used in all pipelines associated with the AWS account. Only used for custom actions.",
        "operationId": "CreateCustomActionType",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCustomActionTypeInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCustomActionTypeOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/#CreatePipeline": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a pipeline.",
        "operationId": "CreatePipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePipelineInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePipelineOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "PipelineNameInUseException",
            "schema": {
              "$ref": "#/definitions/PipelineNameInUseException"
            }
          },
          "482": {
            "description": "InvalidStageDeclarationException",
            "schema": {
              "$ref": "#/definitions/InvalidStageDeclarationException"
            }
          },
          "483": {
            "description": "InvalidActionDeclarationException",
            "schema": {
              "$ref": "#/definitions/InvalidActionDeclarationException"
            }
          },
          "484": {
            "description": "InvalidBlockerDeclarationException",
            "schema": {
              "$ref": "#/definitions/InvalidBlockerDeclarationException"
            }
          },
          "485": {
            "description": "InvalidStructureException",
            "schema": {
              "$ref": "#/definitions/InvalidStructureException"
            }
          },
          "486": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/#DeleteCustomActionType": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Marks a custom action as deleted. PollForJobs for the custom action will fail after the action is marked for deletion. Only used for custom actions.</p> <important> <p>You cannot recreate a custom action after it has been deleted unless you increase the version number of the action.</p> </important>",
        "operationId": "DeleteCustomActionType",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCustomActionTypeInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/#DeletePipeline": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the specified pipeline.",
        "operationId": "DeletePipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePipelineInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/#DisableStageTransition": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Prevents artifacts in a pipeline from transitioning to the next stage in the pipeline.",
        "operationId": "DisableStageTransition",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisableStageTransitionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          },
          "482": {
            "description": "StageNotFoundException",
            "schema": {
              "$ref": "#/definitions/StageNotFoundException"
            }
          }
        }
      }
    },
    "/#EnableStageTransition": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Enables artifacts in a pipeline to transition to a stage in a pipeline.",
        "operationId": "EnableStageTransition",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnableStageTransitionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          },
          "482": {
            "description": "StageNotFoundException",
            "schema": {
              "$ref": "#/definitions/StageNotFoundException"
            }
          }
        }
      }
    },
    "/#GetJobDetails": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Returns information about a job. Only used for custom actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
        "operationId": "GetJobDetails",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetJobDetailsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetJobDetailsOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          }
        }
      }
    },
    "/#GetPipeline": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns the metadata, structure, stages, and actions of a pipeline. Can be used to return the entire structure of a pipeline in JSON format, which can then be modified and used to update the pipeline structure with <a>UpdatePipeline</a>.",
        "operationId": "GetPipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPipelineInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPipelineOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          },
          "482": {
            "description": "PipelineVersionNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineVersionNotFoundException"
            }
          }
        }
      }
    },
    "/#GetPipelineExecution": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about an execution of a pipeline, including details about artifacts, the pipeline execution ID, and the name, version, and status of the pipeline.",
        "operationId": "GetPipelineExecution",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPipelineExecutionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPipelineExecutionOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          },
          "482": {
            "description": "PipelineExecutionNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineExecutionNotFoundException"
            }
          }
        }
      }
    },
    "/#GetPipelineState": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns information about the state of a pipeline, including the stages and actions.",
        "operationId": "GetPipelineState",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPipelineStateInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPipelineStateOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          }
        }
      }
    },
    "/#GetThirdPartyJobDetails": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Requests the details of a job for a third party action. Only used for partner actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
        "operationId": "GetThirdPartyJobDetails",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetThirdPartyJobDetailsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetThirdPartyJobDetailsOutput"
            }
          },
          "480": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "InvalidClientTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidClientTokenException"
            }
          },
          "483": {
            "description": "InvalidJobException",
            "schema": {
              "$ref": "#/definitions/InvalidJobException"
            }
          }
        }
      }
    },
    "/#ListActionTypes": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a summary of all AWS CodePipeline action types associated with your account.",
        "operationId": "ListActionTypes",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListActionTypesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListActionTypesOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        }
      }
    },
    "/#ListPipelines": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a summary of all of the pipelines associated with your account.",
        "operationId": "ListPipelines",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListPipelinesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPipelinesOutput"
            }
          },
          "480": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        }
      }
    },
    "/#PollForJobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Returns information about any jobs for AWS CodePipeline to act upon.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p> </important>",
        "operationId": "PollForJobs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PollForJobsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PollForJobsOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ActionTypeNotFoundException",
            "schema": {
              "$ref": "#/definitions/ActionTypeNotFoundException"
            }
          }
        }
      }
    },
    "/#PollForThirdPartyJobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Determines whether there are any third party jobs for a job worker to act on. Only used for partner actions.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts.</p> </important>",
        "operationId": "PollForThirdPartyJobs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PollForThirdPartyJobsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PollForThirdPartyJobsOutput"
            }
          },
          "480": {
            "description": "ActionTypeNotFoundException",
            "schema": {
              "$ref": "#/definitions/ActionTypeNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/#PutActionRevision": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Provides information to AWS CodePipeline about new revisions to a source.",
        "operationId": "PutActionRevision",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutActionRevisionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutActionRevisionOutput"
            }
          },
          "480": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          },
          "481": {
            "description": "StageNotFoundException",
            "schema": {
              "$ref": "#/definitions/StageNotFoundException"
            }
          },
          "482": {
            "description": "ActionNotFoundException",
            "schema": {
              "$ref": "#/definitions/ActionNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/#PutApprovalResult": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Provides the response to a manual approval request to AWS CodePipeline. Valid responses include Approved and Rejected.",
        "operationId": "PutApprovalResult",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutApprovalResultInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutApprovalResultOutput"
            }
          },
          "480": {
            "description": "InvalidApprovalTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidApprovalTokenException"
            }
          },
          "481": {
            "description": "ApprovalAlreadyCompletedException",
            "schema": {
              "$ref": "#/definitions/ApprovalAlreadyCompletedException"
            }
          },
          "482": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          },
          "483": {
            "description": "StageNotFoundException",
            "schema": {
              "$ref": "#/definitions/StageNotFoundException"
            }
          },
          "484": {
            "description": "ActionNotFoundException",
            "schema": {
              "$ref": "#/definitions/ActionNotFoundException"
            }
          },
          "485": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/#PutJobFailureResult": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Represents the failure of a job as returned to the pipeline by a job worker. Only used for custom actions.",
        "operationId": "PutJobFailureResult",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutJobFailureResultInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          }
        }
      }
    },
    "/#PutJobSuccessResult": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Represents the success of a job as returned to the pipeline by a job worker. Only used for custom actions.",
        "operationId": "PutJobSuccessResult",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutJobSuccessResultInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          }
        }
      }
    },
    "/#PutThirdPartyJobFailureResult": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Represents the failure of a third party job as returned to the pipeline by a job worker. Only used for partner actions.",
        "operationId": "PutThirdPartyJobFailureResult",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutThirdPartyJobFailureResultInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "483": {
            "description": "InvalidClientTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidClientTokenException"
            }
          }
        }
      }
    },
    "/#PutThirdPartyJobSuccessResult": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Represents the success of a third party job as returned to the pipeline by a job worker. Only used for partner actions.",
        "operationId": "PutThirdPartyJobSuccessResult",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutThirdPartyJobSuccessResultInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "483": {
            "description": "InvalidClientTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidClientTokenException"
            }
          }
        }
      }
    },
    "/#RetryStageExecution": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Resumes the pipeline execution by retrying the last failed actions in a stage.",
        "operationId": "RetryStageExecution",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetryStageExecutionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RetryStageExecutionOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          },
          "482": {
            "description": "StageNotFoundException",
            "schema": {
              "$ref": "#/definitions/StageNotFoundException"
            }
          },
          "483": {
            "description": "StageNotRetryableException",
            "schema": {
              "$ref": "#/definitions/StageNotRetryableException"
            }
          },
          "484": {
            "description": "NotLatestPipelineExecutionException",
            "schema": {
              "$ref": "#/definitions/NotLatestPipelineExecutionException"
            }
          }
        }
      }
    },
    "/#StartPipelineExecution": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts the specified pipeline. Specifically, it begins processing the latest commit to the source location specified as part of the pipeline.",
        "operationId": "StartPipelineExecution",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartPipelineExecutionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartPipelineExecutionOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "PipelineNotFoundException",
            "schema": {
              "$ref": "#/definitions/PipelineNotFoundException"
            }
          }
        }
      }
    },
    "/#UpdatePipeline": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Updates a specified pipeline with edits or changes to its structure. Use a JSON file with the pipeline structure in conjunction with UpdatePipeline to provide the full structure of the pipeline. Updating the pipeline increases the version number of the pipeline by 1.",
        "operationId": "UpdatePipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePipelineInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdatePipelineOutput"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InvalidStageDeclarationException",
            "schema": {
              "$ref": "#/definitions/InvalidStageDeclarationException"
            }
          },
          "482": {
            "description": "InvalidActionDeclarationException",
            "schema": {
              "$ref": "#/definitions/InvalidActionDeclarationException"
            }
          },
          "483": {
            "description": "InvalidBlockerDeclarationException",
            "schema": {
              "$ref": "#/definitions/InvalidBlockerDeclarationException"
            }
          },
          "484": {
            "description": "InvalidStructureException",
            "schema": {
              "$ref": "#/definitions/InvalidStructureException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AWSSessionCredentials": {
      "description": "Represents an AWS session credentials object. These credentials are temporary credentials that are issued by AWS Secure Token Service (STS). They can be used to access input and output artifacts in the Amazon S3 bucket used to store artifact for the pipeline in AWS CodePipeline.",
      "properties": {
        "accessKeyId": {
          "$ref": "#/definitions/AccessKeyId",
          "description": "The access key for the session."
        },
        "secretAccessKey": {
          "$ref": "#/definitions/SecretAccessKey",
          "description": "The secret access key for the session."
        },
        "sessionToken": {
          "$ref": "#/definitions/SessionToken",
          "description": "The token for the session."
        }
      },
      "required": [
        "accessKeyId",
        "secretAccessKey",
        "sessionToken"
      ],
      "type": "object"
    },
    "AccessKeyId": {
      "type": "string"
    },
    "AccountId": {
      "pattern": "[0-9]{12}",
      "type": "string"
    },
    "AcknowledgeJobInput": {
      "description": "Represents the input of an acknowledge job action.",
      "example": {
        "jobId": "11111111-abcd-1111-abcd-111111abcdef",
        "nonce": "3"
      },
      "properties": {
        "jobId": {
          "$ref": "#/definitions/JobId",
          "description": "The unique system-generated ID of the job for which you want to confirm receipt."
        },
        "nonce": {
          "$ref": "#/definitions/Nonce",
          "description": "A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. Get this number from the response of the <a>PollForJobs</a> request that returned this job."
        }
      },
      "required": [
        "jobId",
        "nonce"
      ],
      "type": "object"
    },
    "AcknowledgeJobOutput": {
      "description": "Represents the output of an acknowledge job action.",
      "example": {
        "status": "InProgress"
      },
      "properties": {
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Whether the job worker has received the specified job."
        }
      },
      "type": "object"
    },
    "AcknowledgeThirdPartyJobInput": {
      "description": "Represents the input of an acknowledge third party job action.",
      "properties": {
        "clientToken": {
          "$ref": "#/definitions/ClientToken",
          "description": "The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details."
        },
        "jobId": {
          "$ref": "#/definitions/ThirdPartyJobId",
          "description": "The unique system-generated ID of the job."
        },
        "nonce": {
          "$ref": "#/definitions/Nonce",
          "description": "A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. Get this number from the response to a <a>GetThirdPartyJobDetails</a> request."
        }
      },
      "required": [
        "jobId",
        "nonce",
        "clientToken"
      ],
      "type": "object"
    },
    "AcknowledgeThirdPartyJobOutput": {
      "description": "Represents the output of an acknowledge third party job action.",
      "properties": {
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "The status information for the third party job, if any."
        }
      },
      "type": "object"
    },
    "ActionCategory": {
      "enum": [
        "Source",
        "Build",
        "Deploy",
        "Test",
        "Invoke",
        "Approval"
      ],
      "type": "string"
    },
    "ActionConfiguration": {
      "description": "Represents information about an action configuration.",
      "properties": {
        "configuration": {
          "$ref": "#/definitions/ActionConfigurationMap",
          "description": "The configuration data for the action."
        }
      },
      "type": "object"
    },
    "ActionConfigurationKey": {
      "maxLength": 50,
      "minLength": 1,
      "type": "string"
    },
    "ActionConfigurationMap": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/ActionConfigurationKey"
          },
          "value": {
            "$ref": "#/definitions/ActionConfigurationValue"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "ActionConfigurationProperty": {
      "description": "Represents information about an action configuration property.",
      "properties": {
        "description": {
          "$ref": "#/definitions/Description",
          "description": "The description of the action configuration property that will be displayed to users."
        },
        "key": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether the configuration property is a key."
        },
        "name": {
          "$ref": "#/definitions/ActionConfigurationKey",
          "description": "The name of the action configuration property."
        },
        "queryable": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Indicates that the proprety will be used in conjunction with PollForJobs. When creating a custom action, an action can have up to one queryable property. If it has one, that property must be both required and not secret.</p> <p>If you create a pipeline with a custom action type, and that custom action contains a queryable property, the value for that configuration property is subject to additional restrictions. The value must be less than or equal to twenty (20) characters. The value can contain only alphanumeric characters, underscores, and hyphens.</p>"
        },
        "required": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether the configuration property is a required value."
        },
        "secret": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether the configuration property is secret. Secrets are hidden from all calls except for GetJobDetails, GetThirdPartyJobDetails, PollForJobs, and PollForThirdPartyJobs.</p> <p>When updating a pipeline, passing * * * * * without changing any other values of the action will preserve the prior value of the secret.</p>"
        },
        "type": {
          "$ref": "#/definitions/ActionConfigurationPropertyType",
          "description": "The type of the configuration property."
        }
      },
      "required": [
        "name",
        "required",
        "key",
        "secret"
      ],
      "type": "object"
    },
    "ActionConfigurationPropertyList": {
      "items": {
        "$ref": "#/definitions/ActionConfigurationProperty"
      },
      "maxItems": 10,
      "type": "array"
    },
    "ActionConfigurationPropertyType": {
      "enum": [
        "String",
        "Number",
        "Boolean"
      ],
      "type": "string"
    },
    "ActionConfigurationQueryableValue": {
      "maxLength": 20,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9_-]+",
      "type": "string"
    },
    "ActionConfigurationValue": {
      "maxLength": 1000,
      "minLength": 1,
      "type": "string"
    },
    "ActionContext": {
      "description": "Represents the context of an action within the stage of a pipeline to a job worker.",
      "properties": {
        "name": {
          "$ref": "#/definitions/ActionName",
          "description": "The name of the action within the context of a job."
        }
      },
      "type": "object"
    },
    "ActionDeclaration": {
      "description": "Represents information about an action declaration.",
      "properties": {
        "actionTypeId": {
          "$ref": "#/definitions/ActionTypeId",
          "description": "The configuration information for the action type."
        },
        "configuration": {
          "$ref": "#/definitions/ActionConfigurationMap",
          "description": "The action declaration's configuration."
        },
        "inputArtifacts": {
          "$ref": "#/definitions/InputArtifactList",
          "description": "The name or ID of the artifact consumed by the action, such as a test or build artifact."
        },
        "name": {
          "$ref": "#/definitions/ActionName",
          "description": "The action declaration's name."
        },
        "outputArtifacts": {
          "$ref": "#/definitions/OutputArtifactList",
          "description": "The name or ID of the result of the action declaration, such as a test or build artifact."
        },
        "roleArn": {
          "$ref": "#/definitions/RoleArn",
          "description": "The ARN of the IAM service role that will perform the declared action. This is assumed through the roleArn for the pipeline."
        },
        "runOrder": {
          "$ref": "#/definitions/ActionRunOrder",
          "description": "The order in which actions are run."
        }
      },
      "required": [
        "name",
        "actionTypeId"
      ],
      "type": "object"
    },
    "ActionExecution": {
      "description": "Represents information about the run of an action.",
      "properties": {
        "errorDetails": {
          "$ref": "#/definitions/ErrorDetails",
          "description": "The details of an error returned by a URL external to AWS."
        },
        "externalExecutionId": {
          "$ref": "#/definitions/ExecutionId",
          "description": "The external ID of the run of the action."
        },
        "externalExecutionUrl": {
          "$ref": "#/definitions/Url",
          "description": "The URL of a resource external to AWS that will be used when running the action, for example an external repository URL."
        },
        "lastStatusChange": {
          "$ref": "#/definitions/Timestamp",
          "description": "The last status change of the action."
        },
        "lastUpdatedBy": {
          "$ref": "#/definitions/LastUpdatedBy",
          "description": "The ARN of the user who last changed the pipeline."
        },
        "percentComplete": {
          "$ref": "#/definitions/Percentage",
          "description": "A percentage of completeness of the action as it runs."
        },
        "status": {
          "$ref": "#/definitions/ActionExecutionStatus",
          "description": "The status of the action, or for a completed action, the last status of the action."
        },
        "summary": {
          "$ref": "#/definitions/ExecutionSummary",
          "description": "A summary of the run of the action."
        },
        "token": {
          "$ref": "#/definitions/ActionExecutionToken",
          "description": "The system-generated token used to identify a unique approval request. The token for each open approval request can be obtained using the GetPipelineState command and is used to validate that the approval request corresponding to this token is still valid."
        }
      },
      "type": "object"
    },
    "ActionExecutionStatus": {
      "enum": [
        "InProgress",
        "Succeeded",
        "Failed"
      ],
      "type": "string"
    },
    "ActionExecutionToken": {
      "type": "string"
    },
    "ActionName": {
      "maxLength": 100,
      "minLength": 1,
      "pattern": "[A-Za-z0-9.@\\-_]+",
      "type": "string"
    },
    "ActionNotFoundException": {
      "description": "The specified action cannot be found.",
      "properties": {},
      "type": "object"
    },
    "ActionOwner": {
      "enum": [
        "AWS",
        "ThirdParty",
        "Custom"
      ],
      "type": "string"
    },
    "ActionProvider": {
      "maxLength": 25,
      "minLength": 1,
      "pattern": "[0-9A-Za-z_-]+",
      "type": "string"
    },
    "ActionRevision": {
      "description": "Represents information about the version (or revision) of an action.",
      "properties": {
        "created": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date and time when the most recent version of the action was created, in timestamp format."
        },
        "revisionChangeId": {
          "$ref": "#/definitions/RevisionChangeIdentifier",
          "description": "The unique identifier of the change that set the state to this revision, for example a deployment ID or timestamp."
        },
        "revisionId": {
          "$ref": "#/definitions/Revision",
          "description": "The system-generated unique ID that identifies the revision number of the action."
        }
      },
      "required": [
        "revisionId",
        "revisionChangeId",
        "created"
      ],
      "type": "object"
    },
    "ActionRunOrder": {
      "maximum": 999,
      "minimum": 1,
      "type": "integer"
    },
    "ActionState": {
      "description": "Represents information about the state of an action.",
      "properties": {
        "actionName": {
          "$ref": "#/definitions/ActionName",
          "description": "The name of the action."
        },
        "currentRevision": {
          "$ref": "#/definitions/ActionRevision"
        },
        "entityUrl": {
          "$ref": "#/definitions/Url",
          "description": "A URL link for more information about the state of the action, such as a deployment group details page."
        },
        "latestExecution": {
          "$ref": "#/definitions/ActionExecution"
        },
        "revisionUrl": {
          "$ref": "#/definitions/Url",
          "description": "A URL link for more information about the revision, such as a commit details page."
        }
      },
      "type": "object"
    },
    "ActionStateList": {
      "items": {
        "$ref": "#/definitions/ActionState"
      },
      "type": "array"
    },
    "ActionType": {
      "description": "Returns information about the details of an action type.",
      "properties": {
        "actionConfigurationProperties": {
          "$ref": "#/definitions/ActionConfigurationPropertyList",
          "description": "The configuration properties for the action type."
        },
        "id": {
          "$ref": "#/definitions/ActionTypeId"
        },
        "inputArtifactDetails": {
          "$ref": "#/definitions/ArtifactDetails",
          "description": "The details of the input artifact for the action, such as its commit ID."
        },
        "outputArtifactDetails": {
          "$ref": "#/definitions/ArtifactDetails",
          "description": "The details of the output artifact of the action, such as its commit ID."
        },
        "settings": {
          "$ref": "#/definitions/ActionTypeSettings",
          "description": "The settings for the action type."
        }
      },
      "required": [
        "id",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "type": "object"
    },
    "ActionTypeId": {
      "description": "Represents information about an action type.",
      "properties": {
        "category": {
          "$ref": "#/definitions/ActionCategory",
          "description": "A category defines what kind of action can be taken in the stage, and constrains the provider type for the action. Valid categories are limited to one of the values below."
        },
        "owner": {
          "$ref": "#/definitions/ActionOwner",
          "description": "The creator of the action being called."
        },
        "provider": {
          "$ref": "#/definitions/ActionProvider",
          "description": "The provider of the service being called by the action. Valid providers are determined by the action category. For example, an action in the Deploy category type might have a provider of AWS CodeDeploy, which would be specified as CodeDeploy."
        },
        "version": {
          "$ref": "#/definitions/Version",
          "description": "A string that identifies the action type."
        }
      },
      "required": [
        "category",
        "owner",
        "provider",
        "version"
      ],
      "type": "object"
    },
    "ActionTypeList": {
      "items": {
        "$ref": "#/definitions/ActionType"
      },
      "type": "array"
    },
    "ActionTypeNotFoundException": {
      "description": "The specified action type cannot be found.",
      "properties": {},
      "type": "object"
    },
    "ActionTypeSettings": {
      "description": "Returns information about the settings for an action type.",
      "properties": {
        "entityUrlTemplate": {
          "$ref": "#/definitions/UrlTemplate",
          "description": "The URL returned to the AWS CodePipeline console that provides a deep link to the resources of the external system, such as the configuration page for an AWS CodeDeploy deployment group. This link is provided as part of the action display within the pipeline."
        },
        "executionUrlTemplate": {
          "$ref": "#/definitions/UrlTemplate",
          "description": "The URL returned to the AWS CodePipeline console that contains a link to the top-level landing page for the external system, such as console page for AWS CodeDeploy. This link is shown on the pipeline view page in the AWS CodePipeline console and provides a link to the execution entity of the external action."
        },
        "revisionUrlTemplate": {
          "$ref": "#/definitions/UrlTemplate",
          "description": "The URL returned to the AWS CodePipeline console that contains a link to the page where customers can update or change the configuration of the external action."
        },
        "thirdPartyConfigurationUrl": {
          "$ref": "#/definitions/Url",
          "description": "The URL of a sign-up page where users can sign up for an external service and perform initial configuration of the action provided by that service."
        }
      },
      "type": "object"
    },
    "ApprovalAlreadyCompletedException": {
      "description": "The approval action has already been approved or rejected.",
      "properties": {},
      "type": "object"
    },
    "ApprovalResult": {
      "description": "Represents information about the result of an approval request.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ApprovalStatus",
          "description": "The response submitted by a reviewer assigned to an approval action request."
        },
        "summary": {
          "$ref": "#/definitions/ApprovalSummary",
          "description": "The summary of the current status of the approval request."
        }
      },
      "required": [
        "summary",
        "status"
      ],
      "type": "object"
    },
    "ApprovalStatus": {
      "enum": [
        "Approved",
        "Rejected"
      ],
      "type": "string"
    },
    "ApprovalSummary": {
      "maxLength": 512,
      "minLength": 0,
      "type": "string"
    },
    "ApprovalToken": {
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "Artifact": {
      "description": "Represents information about an artifact that will be worked upon by actions in the pipeline.",
      "properties": {
        "location": {
          "$ref": "#/definitions/ArtifactLocation",
          "description": "The location of an artifact."
        },
        "name": {
          "$ref": "#/definitions/ArtifactName",
          "description": "The artifact's name."
        },
        "revision": {
          "$ref": "#/definitions/Revision",
          "description": "The artifact's revision ID. Depending on the type of object, this could be a commit ID (GitHub) or a revision ID (Amazon S3)."
        }
      },
      "type": "object"
    },
    "ArtifactDetails": {
      "description": "Returns information about the details of an artifact.",
      "properties": {
        "maximumCount": {
          "$ref": "#/definitions/MaximumArtifactCount",
          "description": "The maximum number of artifacts allowed for the action type."
        },
        "minimumCount": {
          "$ref": "#/definitions/MinimumArtifactCount",
          "description": "The minimum number of artifacts allowed for the action type."
        }
      },
      "required": [
        "minimumCount",
        "maximumCount"
      ],
      "type": "object"
    },
    "ArtifactList": {
      "items": {
        "$ref": "#/definitions/Artifact"
      },
      "type": "array"
    },
    "ArtifactLocation": {
      "description": "Represents information about the location of an artifact.",
      "properties": {
        "s3Location": {
          "$ref": "#/definitions/S3ArtifactLocation",
          "description": "The Amazon S3 bucket that contains the artifact."
        },
        "type": {
          "$ref": "#/definitions/ArtifactLocationType",
          "description": "The type of artifact in the location."
        }
      },
      "type": "object"
    },
    "ArtifactLocationType": {
      "enum": [
        "S3"
      ],
      "type": "string"
    },
    "ArtifactName": {
      "maxLength": 100,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9_\\-]+",
      "type": "string"
    },
    "ArtifactRevision": {
      "description": "Represents revision details of an artifact. ",
      "properties": {
        "created": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date and time when the most recent revision of the artifact was created, in timestamp format."
        },
        "name": {
          "$ref": "#/definitions/ArtifactName",
          "description": "The name of an artifact. This name might be system-generated, such as \"MyApp\", or might be defined by the user when an action is created."
        },
        "revisionChangeIdentifier": {
          "$ref": "#/definitions/RevisionChangeIdentifier",
          "description": "An additional identifier for a revision, such as a commit date or, for artifacts stored in Amazon S3 buckets, the ETag value."
        },
        "revisionId": {
          "$ref": "#/definitions/Revision",
          "description": "The revision ID of the artifact."
        },
        "revisionSummary": {
          "$ref": "#/definitions/RevisionSummary",
          "description": "Summary information about the most recent revision of the artifact. For GitHub and AWS CodeCommit repositories, the commit message. For Amazon S3 buckets or actions, the user-provided content of a <code>codepipeline-artifact-revision-summary</code> key specified in the object metadata."
        },
        "revisionUrl": {
          "$ref": "#/definitions/Url",
          "description": "The commit ID for the artifact revision. For artifacts stored in GitHub or AWS CodeCommit repositories, the commit ID is linked to a commit details page."
        }
      },
      "type": "object"
    },
    "ArtifactRevisionList": {
      "items": {
        "$ref": "#/definitions/ArtifactRevision"
      },
      "type": "array"
    },
    "ArtifactStore": {
      "description": "The Amazon S3 location where artifacts are stored for the pipeline. If this Amazon S3 bucket is created manually, it must meet the requirements for AWS CodePipeline. For more information, see the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/concepts.html#CPS3Bucket\">Concepts</a>.",
      "properties": {
        "encryptionKey": {
          "$ref": "#/definitions/EncryptionKey",
          "description": "The encryption key used to encrypt the data in the artifact store, such as an AWS Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon S3 is used."
        },
        "location": {
          "$ref": "#/definitions/ArtifactStoreLocation",
          "description": "The location for storing the artifacts for a pipeline, such as an S3 bucket or folder."
        },
        "type": {
          "$ref": "#/definitions/ArtifactStoreType",
          "description": "The type of the artifact store, such as S3."
        }
      },
      "required": [
        "type",
        "location"
      ],
      "type": "object"
    },
    "ArtifactStoreLocation": {
      "maxLength": 63,
      "minLength": 3,
      "pattern": "[a-zA-Z0-9\\-\\.]+",
      "type": "string"
    },
    "ArtifactStoreType": {
      "enum": [
        "S3"
      ],
      "type": "string"
    },
    "BlockerDeclaration": {
      "description": "Reserved for future use.",
      "properties": {
        "name": {
          "$ref": "#/definitions/BlockerName",
          "description": "Reserved for future use."
        },
        "type": {
          "$ref": "#/definitions/BlockerType",
          "description": "Reserved for future use."
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "object"
    },
    "BlockerName": {
      "maxLength": 100,
      "minLength": 1,
      "type": "string"
    },
    "BlockerType": {
      "enum": [
        "Schedule"
      ],
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ClientId": {
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "ClientToken": {
      "type": "string"
    },
    "Code": {
      "type": "string"
    },
    "ContinuationToken": {
      "type": "string"
    },
    "CreateCustomActionTypeInput": {
      "description": "Represents the input of a create custom action operation.",
      "example": {
        "category": "Build",
        "configurationProperties": [
          {
            "description": "The name of the build project must be provided when this action is added to the pipeline.",
            "key": true,
            "name": "MyJenkinsExampleBuildProject",
            "queryable": false,
            "required": true,
            "secret": false,
            "type": "String"
          }
        ],
        "inputArtifactDetails": {
          "maximumCount": 1,
          "minimumCount": 0
        },
        "outputArtifactDetails": {
          "maximumCount": 1,
          "minimumCount": 0
        },
        "provider": "MyBuild-ProviderName",
        "settings": {
          "entityUrlTemplate": "https://192.0.2.4/job/{Config:ProjectName}/",
          "executionUrlTemplate": "https://192.0.2.4/job/{Config:ProjectName}/lastSuccessfulBuild/{ExternalExecutionId}/",
          "revisionUrlTemplate": "none"
        },
        "version": "1"
      },
      "properties": {
        "category": {
          "$ref": "#/definitions/ActionCategory",
          "description": "<p>The category of the custom action, such as a build action or a test action.</p> <note> <p>Although Source and Approval are listed as valid values, they are not currently functional. These values are reserved for future use.</p> </note>"
        },
        "configurationProperties": {
          "$ref": "#/definitions/ActionConfigurationPropertyList",
          "description": "<p>The configuration properties for the custom action.</p> <note> <p>You can refer to a name in the configuration properties of the custom action within the URL templates by following the format of {Config:name}, as long as the configuration property is both required and not secret. For more information, see <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-create-custom-action.html\">Create a Custom Action for a Pipeline</a>.</p> </note>"
        },
        "inputArtifactDetails": {
          "$ref": "#/definitions/ArtifactDetails"
        },
        "outputArtifactDetails": {
          "$ref": "#/definitions/ArtifactDetails"
        },
        "provider": {
          "$ref": "#/definitions/ActionProvider",
          "description": "The provider of the service used in the custom action, such as AWS CodeDeploy."
        },
        "settings": {
          "$ref": "#/definitions/ActionTypeSettings"
        },
        "version": {
          "$ref": "#/definitions/Version",
          "description": "The version identifier of the custom action."
        }
      },
      "required": [
        "category",
        "provider",
        "version",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "type": "object"
    },
    "CreateCustomActionTypeOutput": {
      "description": "Represents the output of a create custom action operation.",
      "example": {
        "actionType": {
          "actionConfigurationProperties": [
            {
              "description": "The name of the build project must be provided when this action is added to the pipeline.",
              "key": true,
              "name": "MyJenkinsExampleBuildProject",
              "queryable": false,
              "required": true,
              "secret": false
            }
          ],
          "id": {
            "category": "Build",
            "owner": "Custom",
            "provider": "MyBuild-ProviderName",
            "version": "1"
          },
          "inputArtifactDetails": {
            "maximumCount": 1,
            "minimumCount": 0
          },
          "outputArtifactDetails": {
            "maximumCount": 1,
            "minimumCount": 0
          },
          "settings": {
            "entityUrlTemplate": "https://192.0.2.4/job/{Config:ProjectName}/",
            "executionUrlTemplate": "https://192.0.2.4/job/{Config:ProjectName}/lastSuccessfulBuild/{ExternalExecutionId}/",
            "revisionUrlTemplate": "none"
          }
        }
      },
      "properties": {
        "actionType": {
          "$ref": "#/definitions/ActionType"
        }
      },
      "required": [
        "actionType"
      ],
      "type": "object"
    },
    "CreatePipelineInput": {
      "description": "Represents the input of a create pipeline action.",
      "example": {
        "pipeline": {
          "artifactStore": {
            "location": "codepipeline-us-east-1-11EXAMPLE11",
            "type": "S3"
          },
          "name": "MySecondPipeline",
          "roleArn": "arn:aws:iam::111111111111:role/AWS-CodePipeline-Service",
          "stages": [
            {
              "actions": [
                {
                  "actionTypeId": {
                    "category": "Source",
                    "owner": "AWS",
                    "provider": "S3",
                    "version": "1"
                  },
                  "configuration": {
                    "S3Bucket": "awscodepipeline-demo-bucket",
                    "S3ObjectKey": "aws-codepipeline-s3-aws-codedeploy_linux.zip"
                  },
                  "inputArtifacts": [],
                  "name": "Source",
                  "outputArtifacts": [
                    {
                      "name": "MyApp"
                    }
                  ],
                  "runOrder": 1
                }
              ],
              "name": "Source"
            },
            {
              "actions": [
                {
                  "actionTypeId": {
                    "category": "Deploy",
                    "owner": "AWS",
                    "provider": "CodeDeploy",
                    "version": "1"
                  },
                  "configuration": {
                    "ApplicationName": "CodePipelineDemoApplication",
                    "DeploymentGroupName": "CodePipelineDemoFleet"
                  },
                  "inputArtifacts": [
                    {
                      "name": "MyApp"
                    }
                  ],
                  "name": "CodePipelineDemoFleet",
                  "outputArtifacts": [],
                  "runOrder": 1
                }
              ],
              "name": "Beta"
            }
          ],
          "version": 1
        }
      },
      "properties": {
        "pipeline": {
          "$ref": "#/definitions/PipelineDeclaration"
        }
      },
      "required": [
        "pipeline"
      ],
      "type": "object"
    },
    "CreatePipelineOutput": {
      "description": "Represents the output of a create pipeline action.",
      "example": {
        "pipeline": {
          "artifactStore": {
            "location": "codepipeline-us-east-1-11EXAMPLE11",
            "type": "S3"
          },
          "name": "MySecondPipeline",
          "roleArn": "arn:aws:iam::111111111111:role/AWS-CodePipeline-Service",
          "stages": [
            {
              "actions": [
                {
                  "actionTypeId": {
                    "category": "Source",
                    "owner": "AWS",
                    "provider": "S3",
                    "version": "1"
                  },
                  "configuration": {
                    "S3Bucket": "awscodepipeline-demo-bucket",
                    "S3ObjectKey": "aws-codepipeline-s3-aws-codedeploy_linux.zip"
                  },
                  "inputArtifacts": [],
                  "name": "Source",
                  "outputArtifacts": [
                    {
                      "name": "MyApp"
                    }
                  ],
                  "runOrder": 1
                }
              ],
              "name": "Source"
            },
            {
              "actions": [
                {
                  "actionTypeId": {
                    "category": "Deploy",
                    "owner": "AWS",
                    "provider": "CodeDeploy",
                    "version": "1"
                  },
                  "configuration": {
                    "ApplicationName": "CodePipelineDemoApplication",
                    "DeploymentGroupName": "CodePipelineDemoFleet"
                  },
                  "inputArtifacts": [
                    {
                      "name": "MyApp"
                    }
                  ],
                  "name": "CodePipelineDemoFleet",
                  "outputArtifacts": [],
                  "runOrder": 1
                }
              ],
              "name": "Beta"
            }
          ],
          "version": 1
        }
      },
      "properties": {
        "pipeline": {
          "$ref": "#/definitions/PipelineDeclaration"
        }
      },
      "type": "object"
    },
    "CurrentRevision": {
      "description": "Represents information about a current revision.",
      "properties": {
        "changeIdentifier": {
          "$ref": "#/definitions/RevisionChangeIdentifier",
          "description": "The change identifier for the current revision."
        },
        "created": {
          "$ref": "#/definitions/Time",
          "description": "The date and time when the most recent revision of the artifact was created, in timestamp format."
        },
        "revision": {
          "$ref": "#/definitions/Revision",
          "description": "The revision ID of the current version of an artifact."
        },
        "revisionSummary": {
          "$ref": "#/definitions/RevisionSummary",
          "description": "The summary of the most recent revision of the artifact."
        }
      },
      "required": [
        "revision",
        "changeIdentifier"
      ],
      "type": "object"
    },
    "DeleteCustomActionTypeInput": {
      "description": "Represents the input of a delete custom action operation. The custom action will be marked as deleted.",
      "example": {
        "category": "Build",
        "provider": "MyJenkinsProviderName",
        "version": "1"
      },
      "properties": {
        "category": {
          "$ref": "#/definitions/ActionCategory",
          "description": "The category of the custom action that you want to delete, such as source or deploy."
        },
        "provider": {
          "$ref": "#/definitions/ActionProvider",
          "description": "The provider of the service used in the custom action, such as AWS CodeDeploy."
        },
        "version": {
          "$ref": "#/definitions/Version",
          "description": "The version of the custom action to delete."
        }
      },
      "required": [
        "category",
        "provider",
        "version"
      ],
      "type": "object"
    },
    "DeletePipelineInput": {
      "description": "Represents the input of a delete pipeline action.",
      "example": {
        "name": "MySecondPipeline"
      },
      "properties": {
        "name": {
          "$ref": "#/definitions/PipelineName",
          "description": "The name of the pipeline to be deleted."
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "Description": {
      "maxLength": 2048,
      "minLength": 1,
      "type": "string"
    },
    "DisableStageTransitionInput": {
      "description": "Represents the input of a disable stage transition input action.",
      "example": {
        "pipelineName": "MyFirstPipeline",
        "reason": "An example reason",
        "stageName": "Beta",
        "transitionType": "Inbound"
      },
      "properties": {
        "pipelineName": {
          "$ref": "#/definitions/PipelineName",
          "description": "The name of the pipeline in which you want to disable the flow of artifacts from one stage to another."
        },
        "reason": {
          "$ref": "#/definitions/DisabledReason",
          "description": "The reason given to the user why a stage is disabled, such as waiting for manual approval or manual tests. This message is displayed in the pipeline console UI."
        },
        "stageName": {
          "$ref": "#/definitions/StageName",
          "description": "The name of the stage where you want to disable the inbound or outbound transition of artifacts."
        },
        "transitionType": {
          "$ref": "#/definitions/StageTransitionType",
          "description": "Specifies whether artifacts will be prevented from transitioning into the stage and being processed by the actions in that stage (inbound), or prevented from transitioning from the stage after they have been processed by the actions in that stage (outbound)."
        }
      },
      "required": [
        "pipelineName",
        "stageName",
        "transitionType",
        "reason"
      ],
      "type": "object"
    },
    "DisabledReason": {
      "maxLength": 300,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9!@ \\(\\)\\.\\*\\?\\-]+",
      "type": "string"
    },
    "EnableStageTransitionInput": {
      "description": "Represents the input of an enable stage transition action.",
      "example": {
        "pipelineName": "MyFirstPipeline",
        "stageName": "Beta",
        "transitionType": "Inbound"
      },
      "properties": {
        "pipelineName": {
          "$ref": "#/definitions/PipelineName",
          "description": "The name of the pipeline in which you want to enable the flow of artifacts from one stage to another."
        },
        "stageName": {
          "$ref": "#/definitions/StageName",
          "description": "The name of the stage where you want to enable the transition of artifacts, either into the stage (inbound) or from that stage to the next stage (outbound)."
        },
        "transitionType": {
          "$ref": "#/definitions/StageTransitionType",
          "description": "Specifies whether artifacts will be allowed to enter the stage and be processed by the actions in that stage (inbound) or whether already-processed artifacts will be allowed to transition to the next stage (outbound)."
        }
      },
      "required": [
        "pipelineName",
        "stageName",
        "transitionType"
      ],
      "type": "object"
    },
    "Enabled": {
      "type": "boolean"
    },
    "EncryptionKey": {
      "description": "Represents information about the key used to encrypt data in the artifact store, such as an AWS Key Management Service (AWS KMS) key.",
      "properties": {
        "id": {
          "$ref": "#/definitions/EncryptionKeyId",
          "description": "The ID used to identify the key. For an AWS KMS key, this is the key ID or key ARN."
        },
        "type": {
          "$ref": "#/definitions/EncryptionKeyType",
          "description": "The type of encryption key, such as an AWS Key Management Service (AWS KMS) key. When creating or updating a pipeline, the value must be set to 'KMS'."
        }
      },
      "required": [
        "id",
        "type"
      ],
      "type": "object"
    },
    "EncryptionKeyId": {
      "maxLength": 100,
      "minLength": 1,
      "type": "string"
    },
    "EncryptionKeyType": {
      "enum": [
        "KMS"
      ],
      "type": "string"
    },
    "ErrorDetails": {
      "description": "Represents information about an error in AWS CodePipeline.",
      "properties": {
        "code": {
          "$ref": "#/definitions/Code",
          "description": "The system ID or error number code of the error."
        },
        "message": {
          "$ref": "#/definitions/Message",
          "description": "The text of the error message."
        }
      },
[...]
