{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "hello@bintable.com"
    },
    "description": "BIN lookup API, the free api service from bintable.com to lookup card information using it's BIN. the service maintains updated database based on the comunity and other third party services to make sure all BINs in the database are accurate and up to date.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "BIN Lookup API",
    "version": "1.0.0-oas3",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://bintable.com/api-files/openapi.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "bintable.com",
    "x-datafire": {
      "name": "bintable",
      "type": "openapi"
    }
  },
  "host": "api.bintable.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/balance": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "The API key, which you can get from bintable.com website.",
            "in": "query",
            "name": "api_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Balance reponse",
            "schema": {
              "items": {
                "$ref": "#/definitions/ResponseItem"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Your balance is exhausted,or package expired"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "422": {
            "description": "API key is missing"
          }
        },
        "tags": [
          "Balance"
        ],
        "description": "Get Account balance and expiry",
        "operationId": "balanceLookup",
        "summary": "Check Balance"
      }
    },
    "/{bin}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "pass the required BIN code",
            "in": "path",
            "name": "bin",
            "required": true,
            "type": "string"
          },
          {
            "description": "The API key, which you can get from bintable.com website.",
            "in": "query",
            "name": "api_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BIN data response",
            "schema": {
              "items": {
                "$ref": "#/definitions/ResponseItem"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Your balance is exhausted,or package expired"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "422": {
            "description": "API key is missing"
          }
        },
        "tags": [
          "Lookup"
        ],
        "description": "By passing in the appropriate BIN, you can lookup for\ncard meta data in bintable.com API\n",
        "operationId": "binLookup",
        "summary": "Lookup for bin"
      }
    }
  },
  "definitions": {
    "ResponseItem": {
      "properties": {
        "data": {
          "type": "object"
        },
        "message": {
          "example": "SUCCESS",
          "type": "string"
        },
        "result": {
          "example": 200,
          "type": "integer"
        }
      },
      "required": [
        "data",
        "message",
        "result"
      ],
      "type": "object"
    }
  },
  "tags": [
    {
      "description": "Authorized users with API Key can call this service",
      "name": "Lookup"
    },
    {
      "description": "Authorized users with API Key can call endpoints under this tag.",
      "name": "Balance"
    }
  ],
  "x-components": {}
}