{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Vonage Business Cloud Support",
      "url": "https://businesssupport.vonage.com/contactus"
    },
    "description": "The Vonage Business Cloud Reports API enables you to retrieve call logs for your account.\n\nYour application must subscribe to the Reports API suite to use this API.\n",
    "termsOfService": "https://www.vonage.com/business/legal-policy-center/business-cloud/tos",
    "title": "Reports API",
    "version": "1.0.1",
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/vonage-business-cloud/reports.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "vonage.com",
    "x-serviceName": "reports",
    "x-datafire": {
      "name": "vonage_reports",
      "type": "openapi"
    }
  },
  "host": "api.vonage.com",
  "basePath": "/t/vbc.prod/reports",
  "schemes": [
    "https"
  ],
  "paths": {
    "/accounts/{account_id}/call-logs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Vonage Business Cloud account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": 913874
          },
          {
            "description": "Filter records by start date (greater equal or equal to)",
            "in": "query",
            "name": "start:gte",
            "required": true,
            "type": "string",
            "x-example": "2019-01-01 00:00:00"
          },
          {
            "description": "Filter records by start date (less equal or equal to)",
            "in": "query",
            "name": "start:lte",
            "required": true,
            "type": "string",
            "x-example": "2019-01-01 00:00:00"
          },
          {
            "description": "Filter records by end date (greater equal or equal to)",
            "in": "query",
            "name": "end:gte",
            "type": "string",
            "x-example": "2019-01-01 00:00:00"
          },
          {
            "description": "Filter records by end date (less equal or equal to)",
            "in": "query",
            "name": "end:lte",
            "type": "string",
            "x-example": "2019-01-01 00:00:00"
          },
          {
            "default": 10,
            "description": "Number of records per page",
            "in": "query",
            "name": "page_size",
            "required": true,
            "type": "number",
            "x-example": 10
          },
          {
            "default": 0,
            "description": "Current page number",
            "in": "query",
            "name": "page",
            "required": true,
            "type": "number",
            "x-example": 10
          },
          {
            "description": "Filter by called number",
            "in": "query",
            "name": "to",
            "type": "string",
            "x-example": 17325550100
          },
          {
            "description": "Filter by source number",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": 17325550100
          },
          {
            "description": "Filter by source user",
            "in": "query",
            "name": "source_user",
            "type": "string"
          },
          {
            "description": "Filter by destination user",
            "in": "query",
            "name": "destination_user",
            "type": "string"
          },
          {
            "description": "Filter by call direction.",
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "in": "query",
            "name": "direction",
            "type": "string",
            "x-example": "Inbound"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CallLogsHalResponse"
            }
          },
          "400": {
            "description": "Invalid parameters given",
            "schema": {
              "$ref": "#/definitions/ValidationErrorsResponse"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retrieve call logs for your account",
        "operationId": "getCallLogs",
        "summary": "Retrieve call logs for your account"
      }
    }
  },
  "definitions": {
    "CallLog": {
      "properties": {
        "charge": {
          "description": "Amount charged for the call",
          "example": 0,
          "type": "number"
        },
        "destination_device_name": {
          "description": "Name of the destination device of the call",
          "example": "Smith",
          "type": "string"
        },
        "destination_extension": {
          "description": "Destination extension of the call",
          "example": 1000,
          "type": "number"
        },
        "destination_sip_id": {
          "description": "SIP ID of the destination device of the call",
          "example": "VH1111111",
          "type": "string"
        },
        "destination_user": {
          "description": "Destination user of the call",
          "example": "JSmith",
          "type": "string"
        },
        "destination_user_full_name": {
          "description": "Full name of the destination user of the call",
          "example": "John Smith",
          "type": "string"
        },
        "direction": {
          "description": "Direction of the call",
          "example": "Inbound",
          "type": "string"
        },
        "end": {
          "description": "End time of the call",
          "example": "2019-01-01 00:00:00",
          "type": "string"
        },
        "from": {
          "description": "Source number of the call",
          "example": 17325550100,
          "type": "string"
        },
        "id": {
          "description": "Unique identifier of the call",
          "example": "f27b937d-6dde-441a-9595-006e7302eac1",
          "type": "string"
        },
        "in_network": {
          "description": "Indicates if call was on/off network",
          "example": true,
          "type": "boolean"
        },
        "international": {
          "description": "Indicates if call was international",
          "example": false,
          "type": "boolean"
        },
        "length": {
          "description": "Duration of the call in seconds",
          "example": 60,
          "type": "number"
        },
        "rate": {
          "description": "Rate charged for the call",
          "example": 0,
          "type": "number"
        },
        "recorded": {
          "description": "Indicates if call was recorded",
          "example": true,
          "type": "boolean"
        },
        "result": {
          "description": "Result of the call",
          "example": "Answered",
          "type": "string"
        },
        "source_device_name": {
          "description": "Name of the source device of the call",
          "example": "Smith",
          "type": "string"
        },
        "source_extension": {
          "description": "Source extension of the call",
          "example": 1000,
          "type": "number"
        },
        "source_sip_id": {
          "description": "SIP ID of the source device of the call",
          "example": "VH1111111",
          "type": "string"
        },
        "source_user": {
          "description": "Source user of the call",
          "example": "JSmith",
          "type": "string"
        },
        "source_user_full_name": {
          "description": "Full name of the source user of the call",
          "example": "John Smith",
          "type": "string"
        },
        "start": {
          "description": "Start time of the call",
          "example": "2019-01-01 00:00:00",
          "type": "string"
        },
        "to": {
          "description": "Destination number of the call",
          "example": 17325550100,
          "type": "string"
        }
      },
      "type": "object"
    },
    "CallLogsEmbeddedObject": {
      "properties": {
        "call_logs": {
          "items": {
            "$ref": "#/definitions/CallLog"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CallLogsHalResponse": {
      "properties": {
        "_embedded": {
          "$ref": "#/definitions/CallLogsEmbeddedObject"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        },
        "page": {
          "description": "Current page number",
          "example": 1,
          "type": "number"
        },
        "page_size": {
          "description": "Number of records per page",
          "example": 10,
          "type": "number"
        },
        "total_items": {
          "description": "Total number of records",
          "example": 100,
          "type": "number"
        },
        "total_page": {
          "description": "Total number of pages",
          "example": 10,
          "type": "number"
        }
      },
      "type": "object"
    },
    "DetailedInvalidParam": {
      "properties": {
        "name": {
          "description": "Invalid property name",
          "type": "string"
        },
        "reason": {
          "description": "Invalid property reason",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ErrorResponse": {
      "properties": {
        "msg": {
          "description": "Error message",
          "type": "string"
        },
        "status": {
          "description": "Http Response Code",
          "type": "number"
        }
      },
      "type": "object"
    },
    "FirstHref": {
      "description": "URL to the first page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LastHref": {
      "description": "URL to the last page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Links": {
      "properties": {
        "first": {
          "$ref": "#/definitions/FirstHref"
        },
        "next": {
          "$ref": "#/definitions/NextHref"
        },
        "prev": {
          "$ref": "#/definitions/PrevHref"
        },
        "self": {
          "$ref": "#/definitions/SelfHref"
        }
      },
      "type": "object"
    },
    "NextHref": {
      "description": "URL to the next page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PrevHref": {
      "description": "URL to the previous page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SelfHref": {
      "description": "URL to the current page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ValidationErrorsResponse": {
      "properties": {
        "instance": {
          "description": "Error Track ID",
          "type": "string"
        },
        "invalid_parameters": {
          "description": "Invalid parameters and their reason for failing",
          "items": {
            "$ref": "#/definitions/DetailedInvalidParam"
          },
          "type": "array"
        },
        "status": {
          "description": "Error status code",
          "type": "number"
        },
        "title": {
          "description": "Error title",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "bearerAuth": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "x-components": {
    "parameters": {
      "AccountID": {
        "description": "The Vonage Business Cloud account ID",
        "in": "path",
        "name": "account_id",
        "required": true,
        "type": "string",
        "x-example": 913874
      }
    }
  }
}