{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "apitransformer.com",
  "basePath": "/api",
  "info": {
    "contact": {
      "email": "transform@apimatic.io",
      "name": "API Transformer",
      "url": "https://apitransformer.com/"
    },
    "description": "Transform API Descriptions from/to various formats",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "termsOfService": "https://apitransformer.com/",
    "title": "APIMATIC API Transformer",
    "version": "1.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "backgroundColor": "#18bbee",
      "url": "https://api.apis.guru/v2/cache/logo/https_apitransformer.com_img_transformer.png"
    },
    "x-origin": {
      "format": "swagger",
      "url": "https://raw.githubusercontent.com/Mermade/open_api_specifications/master/APIMATIC%20API%20Transformer/swagger.json",
      "version": "2.0"
    },
    "x-preferred": true,
    "x-providerName": "apitransformer.com",
    "x-tags": [
      "API",
      "API descriptions",
      "API definition",
      "swagger",
      "RAML",
      "WADL",
      "API blueprint",
      "OpenAPI"
    ],
    "x-unofficialSpec": true,
    "x-datafire-name": "apitransformer"
  },
  "externalDocs": {
    "description": "API Transformer Website",
    "url": "https://apitransformer.com/"
  },
  "consumes": [
    "application/x-www-form-urlencoded",
    "text/plain",
    "multipart/form-data"
  ],
  "produces": [
    "application/json",
    "application/x-yaml"
  ],
  "securityDefinitions": {},
  "paths": {
    "/transform": {
      "post": {
        "description": "Transform API Descriptions from/to various formats e.g., Swagger, API Blueprint, RAML, WADL, Google Discovery, I/O Docs.\n\n### INPUTS\n* API Blueprint\n* Swagger 1.0 - 1.2\n* Swagger 2.0 JSON\n* Swagger 2.0 YAML\n* WADL - W3C 2009\n* Google Discovery\n* RAML 0.8\n* I/O Docs - Mashery\n* HAR 1.2\n* Postman Collection 1.0 - 2.0\n* APIMATIC Format\n* Mashape\n\n### OUTPUTS\n* API Blueprint\n* Swagger 1.2\n* Swagger 2.0 JSON\n* Swagger 2.0 YAML\n* WADL - W3C 2009\n* RAML 0.8 - 1.0\n* APIMATIC Format",
        "operationId": "ConvertAPI",
        "parameters": [
          {
            "enum": [
              "swagger12",
              "swagger20json",
              "swagger20yaml",
              "apiblueprint",
              "wadl",
              "raml08",
              "apimatic"
            ],
            "in": "query",
            "name": "output",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "url",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The converted API specification",
            "schema": {
              "type": "object"
            }
          },
          "429": {
            "description": "Rate-limit exceeded"
          }
        },
        "security": [],
        "summary": "Transform API Descriptions from/to various formats"
      }
    }
  }
}