{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "PersonioHR"
    },
    "description": "API for reading and writing personnel data incl. data about attendances and absences",
    "title": "Personnel Data",
    "version": "1.0",
    "x-apisguru-categories": [
      "enterprise"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_PersonioHR_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/personio/api-docs/master/personio-personnel-data-api.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "personio.de",
    "x-serviceName": "personnel",
    "x-datafire": {
      "name": "personio_de_personnel",
      "type": "openapi"
    }
  },
  "host": "api.personio.de",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/company/attendances": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "First day of the period to be queried. It is inclusive, so the day specified as start_date will also be considered on the results",
            "format": "date",
            "in": "query",
            "name": "start_date",
            "required": true,
            "type": "string"
          },
          {
            "description": "Last day of the period to be queried. It is inclusive, so the day specified as end_date will also be considered on the results.",
            "format": "date",
            "in": "query",
            "name": "end_date",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of Personio employee identifiers to filter the results. Only those employees specified here will be returned.",
            "in": "query",
            "items": {
              "type": "integer"
            },
            "name": "employees",
            "required": false,
            "type": "array"
          },
          {
            "default": 200,
            "description": "Pagination attribute to limit how many attendances will be returned per page",
            "in": "query",
            "minimum": 1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Pagination attribute to identify which page you are requesting, by the form of telling an offset from the first record that would be returned.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AttendancePeriodsResponse"
            }
          }
        },
        "description": "This endpoint is responsible for fetching attendance data for the company employees. It is possible to paginate results, filter by period and/or specific employees. The result will contain a list of attendance periods, structured as defined here."
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "List of attendance periods to create",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewAttendancePeriodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The attendance periods were created successfully",
            "schema": {
              "$ref": "#/definitions/NewAttendancePeriodResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/DetailedErrorResponse"
            }
          }
        },
        "description": "This endpoint is responsible for adding attendance data for the company employees. It is possible to add attendances for one or many employees at the same time. The payload sent on the request should be a list of attendance periods, in the form of an array containing attendance period objects."
      }
    },
    "/company/attendances/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the attendance period to delete",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "description": "Not found response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "description": "This endpoint is responsible for deleting attendance data for the company employees."
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the attendance period to update",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "attendance period data to update",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAttendancePeriodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "description": "Not found response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "description": "This endpoint is responsible for updating attendance data for the company employees. Attributes are not required and if not specified, the current value will be used. It is not possible to change the employee id."
      }
    },
    "/company/employees": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmployeesResponse"
            }
          }
        },
        "description": "List Employees"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Employee department",
            "in": "formData",
            "name": "employee[department]",
            "type": "string"
          },
          {
            "description": "Employee email",
            "in": "formData",
            "name": "employee[email]",
            "required": true,
            "type": "string"
          },
          {
            "description": "Employee first name",
            "in": "formData",
            "name": "employee[first_name]",
            "required": true,
            "type": "string"
          },
          {
            "description": "Employee gender",
            "enum": [
              "male",
              "female",
              "diverse"
            ],
            "in": "formData",
            "name": "employee[gender]",
            "type": "string"
          },
          {
            "description": "Employee hire date",
            "format": "date",
            "in": "formData",
            "name": "employee[hire_date]",
            "type": "string"
          },
          {
            "description": "Employee last name",
            "in": "formData",
            "name": "employee[last_name]",
            "required": true,
            "type": "string"
          },
          {
            "description": "Employee position",
            "in": "formData",
            "name": "employee[position]",
            "type": "string"
          },
          {
            "description": "Employee weekly working hours",
            "in": "formData",
            "name": "employee[weekly_hours]",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful creation of a employee",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Response"
                }
              ]
            }
          }
        },
        "description": "Creates new employee. Status of the employee will be set to `active` if `hire_date` provided is in past. Otherwise status will be set to `onboarding`. This endpoint will respond with `id` of created employee in case of success.\n",
        "summary": "Create an employee"
      }
    },
    "/company/employees/{employee_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Numeric `id` of the employee",
            "format": "int32",
            "in": "path",
            "name": "employee_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmployeeResponse"
            }
          }
        },
        "description": "Show employee by ID"
      }
    },
    "/company/employees/{employee_id}/profile-picture/{width}": {
      "get": {
        "produces": [
          "image/png"
        ],
        "parameters": [
          {
            "description": "Numeric `id` of the employee",
            "format": "int32",
            "in": "path",
            "name": "employee_id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Width of the image. Default 75x75",
            "format": "int32",
            "in": "path",
            "name": "width",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "description": "Show employee profile picture"
      }
    },
    "/company/time-off-types": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 200,
            "description": "Pagination attribute to limit how many records will be returned per page",
            "in": "query",
            "minimum": 1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Pagination attribute to identify which page you are requesting, by the form of telling an offset from the first record that would be returned.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/TimeOffTypeResource"
                  },
                  "type": "array"
                },
                "success": {
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Provides a list of available time-off types, for example 'Paid vacation', 'Parental leave' or 'Home office'"
      }
    },
    "/company/time-offs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "First day of the period to be queried. It is inclusive, so the day specified as start_date will also be considered on the results",
            "format": "date",
            "in": "query",
            "name": "start_date",
            "required": false,
            "type": "string"
          },
          {
            "description": "Last day of the period to be queried. It is inclusive, so the day specified as end_date will also be considered on the results.",
            "format": "date",
            "in": "query",
            "name": "end_date",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of Personio employee identifiers to filter the results. Only those employees specified here will be returned.",
            "in": "query",
            "items": {
              "type": "integer"
            },
            "name": "employees",
            "required": false,
            "type": "array"
          },
          {
            "default": 200,
            "description": "Pagination attribute to limit how many attendances will be returned per page",
            "in": "query",
            "minimum": 1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Pagination attribute to identify which page you are requesting, by the form of telling an offset from the first record that would be returned.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AbsencePeriodsResponse"
            }
          }
        },
        "description": "This endpoint is responsible for fetching absence data for the company employees. It is possible to paginate results, filter by period and/or specific employees. The result will contain a list of absence periods, structured as defined here."
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Absence period to create",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTimeOffPeriodRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The absence period was created successfully",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CreateTimeOffPeriodResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Employee or Absence type not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "description": "This endpoint is responsible for adding absence data for the company employees."
      }
    },
    "/company/time-offs/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the absence period to delete",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "description": "Not found response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "description": "This endpoint is responsible for deleting absence period data for the company employees."
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Numeric `id` of the absence period",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AbsencePeriodResponse"
            }
          }
        },
        "description": "Absence Period"
      }
    }
  },
  "definitions": {
    "AbsenceEntitlement": {
      "properties": {
        "label": {
          "type": "string"
        },
        "value": {
          "items": {
            "properties": {
              "attributes": {
                "properties": {
                  "entitlement": {
                    "type": "number"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": {
                "enum": [
                  "TimeOffType"
                ],
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "required": [
        "label",
        "value"
      ],
      "type": "object"
    },
    "AbsencePeriodResponse": {
      "type": "object"
    },
    "AbsencePeriodsResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        },
        {
          "properties": {
            "data": {
              "properties": {
                "attributes": {
                  "items": {
                    "properties": {
                      "certificate": {
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "created_at": {
                        "type": "string"
                      },
                      "days_count": {
                        "type": "number"
                      },
                      "employee": {
                        "properties": {
                          "attributes": {
                            "items": {
                              "properties": {
                                "email": {
                                  "type": "string"
                                },
                                "first_name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "integer"
                                },
                                "last_name": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "end_date": {
                        "type": "string"
                      },
                      "half_day_end": {
                        "type": "number"
                      },
                      "half_day_start": {
                        "type": "number"
                      },
                      "id": {
                        "type": "integer"
                      },
                      "start_date": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "time_off_type": {
                        "properties": {
                          "attributes": {
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "attributes"
              ],
              "type": "object"
            }
          },
          "type": "object"
        }
      ],
      "title": "List All Absence Periods response",
      "type": "object"
    },
    "AttendancePeriodsResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        },
        {
          "properties": {
            "data": {
              "items": {
                "properties": {
                  "attributes": {
                    "items": {
                      "properties": {
                        "break": {
                          "type": "integer"
                        },
                        "comment": {
                          "type": "string"
                        },
                        "date": {
                          "format": "date",
                          "type": "string"
                        },
                        "employee": {
                          "type": "integer"
                        },
                        "end_time": {
                          "pattern": "^\\d\\d:\\d\\d$",
                          "type": "string"
                        },
                        "is_holiday": {
                          "type": "boolean"
                        },
                        "is_on_time_off": {
                          "type": "boolean"
                        },
                        "start_time": {
                          "pattern": "^\\d\\d:\\d\\d$",
                          "type": "string"
                        }
                      },
                      "required": [
                        "employee",
                        "date",
                        "start_time",
                        "end_time",
                        "break",
                        "comment",
                        "is_holiday",
                        "is_on_time_off"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "type",
                  "attributes"
                ],
                "type": "object"
              },
              "type": "array"
            },
            "limit": {
              "type": "integer"
            },
            "offset": {
              "type": "integer"
            }
          },
          "type": "object"
        }
      ],
      "title": "List All Attenance Periods response",
      "type": "object"
    },
    "Attribute": {
      "properties": {
        "label": {
          "type": "string"
        },
        "value": {
          "type": "object"
        }
      },
      "required": [
        "label",
        "value"
      ],
      "type": "object"
    },
    "CostCenters": {
      "allOf": [
        {
          "$ref": "#/definitions/Attribute"
        }
      ],
      "properties": {
        "value": {
          "items": {
            "properties": {
              "attributes": {
                "items": {
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "percentage": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "type": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreateTimeOffPeriodRequest": {
      "properties": {
        "comment": {
          "description": "Optional comment",
          "type": "string"
        },
        "employee_id": {
          "description": "Employee identifier",
          "type": "integer"
        },
        "end_date": {
          "description": "Absence end date as YYYY-MM-DD",
          "format": "date",
          "type": "string"
        },
        "half_day_end": {
          "description": "Weather the end date is a half-day off",
          "type": "boolean"
        },
        "half_day_start": {
          "description": "Weather the start date is a half-day off",
          "type": "boolean"
        },
        "start_date": {
          "description": "Absence start date as YYYY-MM-DD",
          "format": "date",
          "type": "string"
        },
        "time_off_type_id": {
          "description": "Time-off type identifier",
          "type": "integer"
        }
      },
      "required": [
        "employee_id",
        "time_off_type_id",
        "start_date",
        "end_date",
        "half_day_start",
        "half_day_end"
      ],
      "title": "Create time-off periods",
      "type": "object"
    },
    "CreateTimeOffPeriodResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        },
        {
          "properties": {
            "data": {
              "properties": {
                "attributes": {
                  "properties": {
                    "certificate": {
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "days_count": {
                      "type": "number"
                    },
                    "employee": {
                      "properties": {
                        "attributes": {
                          "items": {
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "integer"
                              },
                              "last_name": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "end_date": {
                      "type": "string"
                    },
                    "half_day_end": {
                      "type": "number"
                    },
                    "half_day_start": {
                      "type": "number"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "start_date": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "time_off_type": {
                      "properties": {
                        "attributes": {
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "type": {
                  "description": "Time-off period resource name",
                  "enum": [
                    "TimeOffPeriod"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        }
      ],
      "title": "Time period when an employee is not available."
    },
    "Department": {
      "allOf": [
        {
          "$ref": "#/definitions/Attribute"
        }
      ],
      "properties": {
        "value": {
          "properties": {
            "attributes": {
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": {
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "DetailedErrorResponse": {
      "properties": {
        "error": {
          "properties": {
            "code": {
              "type": "integer"
            },
            "detailed_message": {
              "items": {
                "properties": {
                  "break": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "employee": {
                    "type": "integer"
                  },
                  "end_time": {
                    "type": "string"
                  },
                  "error_msg": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "start_time": {
                    "type": "string"
                  },
                  "success": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "message": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "success": {
          "type": "boolean"
        }
      },
      "required": [
        "success",
        "error"
      ],
      "title": "Default error response",
      "type": "object"
    },
    "Employee": {
      "properties": {
        "attributes": {
          "items": {
            "properties": {
              "absence_entitlement": {
                "$ref": "#/definitions/AbsenceEntitlement"
              },
              "contract_end_date": {
                "$ref": "#/definitions/Attribute"
              },
              "cost_centers": {
                "$ref": "#/definitions/CostCenters"
              },
              "created_at": {
                "$ref": "#/definitions/Attribute"
              },
              "department": {
                "$ref": "#/definitions/Department"
              },
              "email": {
                "$ref": "#/definitions/Attribute"
              },
              "employment_type": {
                "$ref": "#/definitions/Attribute"
              },
              "first_name": {
                "$ref": "#/definitions/Attribute"
              },
              "fix_salary": {
                "$ref": "#/definitions/Attribute"
              },
              "gender": {
                "$ref": "#/definitions/Attribute"
              },
              "hire_date": {
                "$ref": "#/definitions/Attribute"
              },
              "holiday_calendar": {
                "$ref": "#/definitions/HolidayCalendar"
              },
              "hourly_salary": {
                "$ref": "#/definitions/Attribute"
              },
              "id": {
                "$ref": "#/definitions/Attribute"
              },
              "last_name": {
                "$ref": "#/definitions/Attribute"
              },
              "office": {
                "$ref": "#/definitions/Office"
              },
              "position": {
                "$ref": "#/definitions/Attribute"
              },
              "probation_period_end": {
                "$ref": "#/definitions/Attribute"
              },
              "status": {
                "$ref": "#/definitions/Attribute"
              },
              "supervisor": {
                "$ref": "#/definitions/Supervisor"
              },
              "termination_date": {
                "$ref": "#/definitions/Attribute"
              },
              "termination_reason": {
                "$ref": "#/definitions/Attribute"
              },
              "termination_type": {
                "$ref": "#/definitions/Attribute"
              },
              "vacation_day_balance": {
                "$ref": "#/definitions/Attribute"
              },
              "weekly_working_hours": {
                "$ref": "#/definitions/Attribute"
              },
              "work_schedule": {
                "$ref": "#/definitions/WorkSchedule"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type",
        "attributes"
      ],
      "type": "object"
    },
    "EmployeeResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        },
        {
          "properties": {
            "data": {
              "allOf": [
                {
                  "$ref": "#/definitions/Employee"
                }
              ],
              "type": "object"
            }
          },
          "type": "object"
        }
      ],
      "title": "Employee"
    },
    "EmployeesResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        },
        {
          "properties": {
            "data": {
              "items": {
                "allOf": [
                  {
                    "$ref": "#/definitions/Employee"
                  }
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "type": "object"
        }
      ],
      "title": "List of Employees"
    },
    "ErrorResponse": {
      "properties": {
        "error": {
          "properties": {
            "code": {
              "type": "integer"
            },
            "message": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "success": {
          "type": "boolean"
        }
      },
      "required": [
        "success",
        "error"
      ],
      "title": "Default error response",
      "type": "object"
    },
    "HolidayCalendar": {
      "allOf": [
        {
          "$ref": "#/definitions/Attribute"
        }
      ],
      "properties": {
        "value": {
          "properties": {
            "attributes": {
              "properties": {
                "country": {
                  "type": "string"
                },
                "id": {
                  "type": "number"
                },
                "name": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": {
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "NewAttendancePeriodRequest": {
      "example": {
        "attendances": [
          {
            "break": 120,
            "comment": null,
            "date": "2017-01-18",
            "employee": 1234,
            "end_time": 1080,
            "start_time": "08:00"
          },
          {
            "break": 35,
            "comment": "I was productive as hell",
            "date": "2017-01-17",
            "employee": 1235,
            "end_time": 720,
            "start_time": "09:00"
          }
        ]
      },
      "properties": {
        "attendances": {
          "items": {
            "properties": {
              "break": {
                "description": "Break in minutes",
                "format": "int32",
                "type": "integer"
              },
              "comment": {
                "description": "Optional comment",
                "type": "string"
              },
              "date": {
                "description": "Attendance date as YYYY-MM-DD",
                "format": "date",
                "type": "string"
              },
              "employee": {
                "description": "Employee identifier",
                "type": "integer"
              },
              "end_time": {
                "description": "End time as HH:MM",
                "pattern": "^\\d\\d:\\d\\d$",
                "type": "string"
              },
              "start_time": {
                "description": "Start time as HH:MM",
                "pattern": "^\\d\\d:\\d\\d$",
                "type": "string"
              }
            },
            "required": [
              "employee",
              "date",
              "start_time",
              "end_time",
              "break",
              "comment"
            ],
            "type": "object"
          },
          "type": "array"
        }
      },
      "title": "Create a New Attendance Period request",
      "type": "object"
    },
    "NewAttendancePeriodResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        },
        {
          "properties": {
            "data": {
              "properties": {
                "id": {
                  "items": {
                    "type": "integer"
                  },
                  "type": "array"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        }
      ],
      "type": "object"
    },
    "Office": {
      "allOf": [
        {
          "$ref": "#/definitions/Attribute"
        }
      ],
      "properties": {
        "value": {
          "properties": {
            "attributes": {
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": {
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Response": {
      "properties": {
        "data": {
          "type": "object"
        },
        "success": {
          "type": "boolean"
        }
      },
      "required": [
        "success",
        "data"
      ],
      "title": "Default response object",
      "type": "object"
    },
    "Supervisor": {
      "allOf": [
        {
          "$ref": "#/definitions/Attribute"
        }
      ],
      "properties": {
        "value": {
          "$ref": "#/definitions/Employee"
        }
      },
      "type": "object"
    },
    "TimeOffTypeResource": {
      "properties": {
        "attributes": {
          "properties": {
            "name": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "id": {
          "description": "identifier",
          "type": "integer"
        },
        "type": {
          "description": "Time-off type resource name",
          "enum": [
            "TimeOffType"
          ],
          "type": "string"
        }
      },
      "title": "Type of time-off resource",
      "type": "object"
    },
    "UpdateAttendancePeriodRequest": {
      "example": {
        "break": 35,
        "comment": null,
        "date": "2019-03-17",
        "end_time": 720,
        "start_time": 540
      },
      "properties": {
        "break": {
          "description": "Break in minutes",
          "format": "int32",
          "type": "integer"
        },
        "comment": {
          "description": "Optional comment",
          "type": "string"
        },
        "date": {
          "description": "Attendance date as YYYY-MM-DD",
          "format": "date",
          "type": "string"
        },
        "end_time": {
          "description": "End time as HH:MM",
          "pattern": "^\\d\\d:\\d\\d$",
          "type": "string"
        },
        "start_time": {
          "description": "Start time as HH:MM",
          "pattern": "^\\d\\d:\\d\\d$",
          "type": "string"
        }
      },
      "title": "Update an existing attendance period",
      "type": "object"
    },
    "WorkSchedule": {
      "allOf": [
        {
          "$ref": "#/definitions/Attribute"
        }
      ],
      "properties": {
        "value": {
          "properties": {
            "attributes": {
              "properties": {
                "friday": {
                  "pattern": "^\\d\\d:\\d\\d$",
                  "type": "string"
                },
                "id": {
                  "type": "number"
                },
                "monday": {
                  "pattern": "^\\d\\d:\\d\\d$",
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "saturday": {
                  "pattern": "^\\d\\d:\\d\\d$",
                  "type": "string"
                },
                "sunday": {
                  "pattern": "^\\d\\d:\\d\\d$",
                  "type": "string"
                },
                "thursday": {
                  "pattern": "^\\d\\d:\\d\\d$",
                  "type": "string"
                },
                "tuesday": {
                  "pattern": "^\\d\\d:\\d\\d$",
                  "type": "string"
                },
                "wednesday": {
                  "pattern": "^\\d\\d:\\d\\d$",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": {
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "auth": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "x-components": {}
}