{
  "swagger": "2.0",
  "info": {
    "description": "The Books API provides information about book reviews and The New York Times bestsellers lists.",
    "termsOfService": "http://developer.nytimes.com/tou",
    "title": "Books API",
    "version": "3.0.0",
    "x-apiClientRegistration": {
      "url": "http://developer.nytimes.com/signup"
    },
    "x-apisguru-categories": [
      "media",
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nytimes/public_api_specs/master/books_api/books_api.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "nytimes.com",
    "x-serviceName": "books_api",
    "x-datafire": {
      "name": "nytimes_books_api",
      "type": "openapi"
    }
  },
  "host": "api.nytimes.com",
  "basePath": "/svc/books/v3",
  "schemes": [
    "https"
  ],
  "paths": {
    "/lists.{format}": {
      "parameters": [
        {
          "enum": [
            "json",
            "jsonp"
          ],
          "in": "path",
          "name": "format",
          "required": true,
          "type": "string",
          "x-consoleDefault": "json"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the Times best-seller list. To get valid values, use a list names request.\n\nBe sure to replace spaces with hyphens (e.g., e-book-fiction or hardcover-fiction, not E-Book Fiction or Hardcover Fiction). (The parameter is not case sensitive.)",
            "in": "query",
            "name": "list",
            "type": "string"
          },
          {
            "description": "The number of weeks that the best seller has been on list-name, as of bestsellers-date",
            "in": "query",
            "name": "weeks-on-list",
            "type": "integer"
          },
          {
            "description": "YYYY-MM-DD\n\nThe week-ending date for the sales reflected on list-name. Times best-seller lists are compiled using available book sale data. The bestsellers-date may be significantly earlier than published-date. For additional information, see the explanation at the bottom of any best-seller list page on NYTimes.com (example: Hardcover Fiction, published Dec. 5 but reflecting sales to Nov. 29).",
            "format": "date-time",
            "in": "query",
            "name": "bestsellers-date",
            "type": "string"
          },
          {
            "description": "YYYY-MM-DD  The date the best-seller list was published on NYTimes.com (compare bestsellers-date)",
            "in": "query",
            "name": "date",
            "type": "string"
          },
          {
            "description": "International Standard Book Number, 10 or 13 digits",
            "in": "query",
            "name": "isbn",
            "type": "string"
          },
          {
            "description": "YYYY-MM-DD\n\nThe date the best-seller list was published on NYTimes.com (compare bestsellers-date)",
            "in": "query",
            "name": "published-date",
            "type": "string"
          },
          {
            "description": "The rank of the best seller on list-name as of bestsellers-date",
            "in": "query",
            "name": "rank",
            "type": "integer"
          },
          {
            "description": "The rank of the best seller on list-name one week prior to bestsellers-date",
            "in": "query",
            "name": "rank-last-week",
            "type": "integer"
          },
          {
            "description": "Sets the starting point of the result set",
            "in": "query",
            "multipleOf": 20,
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "Sets the sort order of the result set",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort-order",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "last_modified": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "items": {
                    "properties": {
                      "amazon_product_url": {
                        "type": "string"
                      },
                      "asterisk": {
                        "type": "integer"
                      },
                      "bestsellers_date": {
                        "type": "string"
                      },
                      "book_details": {
                        "items": {
                          "properties": {
                            "age_group": {
                              "type": "string"
                            },
                            "author": {
                              "type": "string"
                            },
                            "contributor": {
                              "type": "string"
                            },
                            "contributor_note": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "price": {
                              "type": "integer"
                            },
                            "primary_isbn10": {
                              "type": "string"
                            },
                            "primary_isbn13": {
                              "type": "string"
                            },
                            "publisher": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "dagger": {
                        "type": "integer"
                      },
                      "display_name": {
                        "type": "string"
                      },
                      "isbns": {
                        "items": {
                          "properties": {
                            "isbn10": {
                              "type": "string"
                            },
                            "isbn13": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "list_name": {
                        "type": "string"
                      },
                      "published_date": {
                        "type": "string"
                      },
                      "rank": {
                        "type": "integer"
                      },
                      "rank_last_week": {
                        "type": "integer"
                      },
                      "reviews": {
                        "items": {
                          "properties": {
                            "article_chapter_link": {
                              "type": "string"
                            },
                            "book_review_link": {
                              "type": "string"
                            },
                            "first_chapter_link": {
                              "type": "string"
                            },
                            "sunday_review_link": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "weeks_on_list": {
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_lists-format",
        "summary": "Best Seller List"
      }
    },
    "/lists/best-sellers/history.json": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The target age group for the best seller.",
            "in": "query",
            "name": "age-group",
            "type": "string"
          },
          {
            "description": "The author of the best seller. The author field does not include additional contributors (see Data Structure for more details about the author and contributor fields).\n\nWhen searching the author field, you can specify any combination of first, middle and last names.\n\nWhen sort-by is set to author, the results will be sorted by author's first name. ",
            "in": "query",
            "name": "author",
            "type": "string"
          },
          {
            "description": "The author of the best seller, as well as other contributors such as the illustrator (to search or sort by author name only, use author instead).\n\nWhen searching, you can specify any combination of first, middle and last names of any of the contributors.\n\nWhen sort-by is set to contributor, the results will be sorted by the first name of the first contributor listed. ",
            "in": "query",
            "name": "contributor",
            "type": "string"
          },
          {
            "description": "International Standard Book Number, 10 or 13 digits\n\nA best seller may have both 10-digit and 13-digit ISBNs, and may have multiple ISBNs of each type. To search on multiple ISBNs, separate the ISBNs with semicolons (example: 9780446579933;0061374229).",
            "in": "query",
            "name": "isbn",
            "type": "string"
          },
          {
            "description": "The publisher's list price of the best seller, including decimal point",
            "in": "query",
            "name": "price",
            "type": "string"
          },
          {
            "description": "The standardized name of the publisher",
            "in": "query",
            "name": "publisher",
            "type": "string"
          },
          {
            "description": "The title of the best seller\n\nWhen searching, you can specify a portion of a title or a full title.",
            "in": "query",
            "name": "title",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "items": {
                    "properties": {
                      "age_group": {
                        "type": "string"
                      },
                      "author": {
                        "type": "string"
                      },
                      "contributor": {
                        "type": "string"
                      },
                      "contributor_note": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "isbns": {
                        "items": {
                          "properties": {
                            "isbn10": {
                              "type": "string"
                            },
                            "isbn13": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "price": {
                        "type": "integer"
                      },
                      "publisher": {
                        "type": "string"
                      },
                      "ranks_history": {
                        "items": {
                          "properties": {
                            "asterisk": {
                              "type": "integer"
                            },
                            "bestsellers_date": {
                              "type": "string"
                            },
                            "dagger": {
                              "type": "integer"
                            },
                            "display_name": {
                              "type": "string"
                            },
                            "list_name": {
                              "type": "string"
                            },
                            "primary_isbn10": {
                              "type": "string"
                            },
                            "primary_isbn13": {
                              "type": "string"
                            },
                            "published_date": {
                              "type": "string"
                            },
                            "rank": {
                              "type": "integer"
                            },
                            "ranks_last_week": {
                              "x-nullable": true
                            },
                            "weeks_on_list": {
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "reviews": {
                        "items": {
                          "properties": {
                            "article_chapter_link": {
                              "type": "string"
                            },
                            "book_review_link": {
                              "type": "string"
                            },
                            "first_chapter_link": {
                              "type": "string"
                            },
                            "sunday_review_link": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "title": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_lists-best-sellers-history-json",
        "summary": "Best Seller History List"
      }
    },
    "/lists/names.{format}": {
      "parameters": [
        {
          "enum": [
            "json",
            "jsonp"
          ],
          "in": "path",
          "name": "format",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "items": {
                    "properties": {
                      "display_name": {
                        "type": "string"
                      },
                      "list_name": {
                        "type": "string"
                      },
                      "list_name_encoded": {
                        "type": "string"
                      },
                      "newest_published_date": {
                        "type": "string"
                      },
                      "oldest_published_date": {
                        "type": "string"
                      },
                      "updated": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_lists-names-format",
        "summary": "Best Seller List Names"
      }
    },
    "/lists/overview.{format}": {
      "parameters": [
        {
          "enum": [
            "json",
            "jsonp"
          ],
          "in": "path",
          "name": "format",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The best-seller list publication date. YYYY-MM-DD\n\nYou do not have to specify the exact date the list was published. The service will search forward (into the future) for the closest publication date to the date you specify. For example, a request for lists/overview/2013-05-22 will retrieve the list that was published on 05-26.\n\nIf you do not include a published_date, the current week's best-sellers lists will be returned.",
            "in": "query",
            "name": "published_date",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "properties": {
                    "bestsellers_date": {
                      "type": "string"
                    },
                    "lists": {
                      "items": {
                        "properties": {
                          "books": {
                            "items": {
                              "properties": {
                                "age_group": {
                                  "type": "string"
                                },
                                "author": {
                                  "type": "string"
                                },
                                "contributor": {
                                  "type": "string"
                                },
                                "contributor_note": {
                                  "type": "string"
                                },
                                "created_date": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "integer"
                                },
                                "primary_isbn10": {
                                  "type": "string"
                                },
                                "primary_isbn13": {
                                  "type": "string"
                                },
                                "publisher": {
                                  "type": "string"
                                },
                                "rank": {
                                  "type": "integer"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "updated_date": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "list_id": {
                            "type": "integer"
                          },
                          "list_image": {
                            "type": "string"
                          },
                          "list_name": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "published_date": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_lists-overview-format",
        "summary": "Best Seller List Overview"
      }
    },
    "/lists/{date}/{list}.json": {
      "parameters": [
        {
          "in": "path",
          "name": "date",
          "required": true,
          "type": "string"
        },
        {
          "description": "Name of the Best Sellers List. You can get the full list from /lists/names.json",
          "in": "path",
          "name": "list",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "International Standard Book Number, 10 or 13 digits",
            "in": "query",
            "name": "isbn",
            "type": "integer"
          },
          {
            "description": "The name of the Times best-seller list. To get valid values, use a list names request.\n\nBe sure to replace spaces with hyphens (e.g., e-book-fiction or hardcover-fiction, not E-Book Fiction or Hardcover Fiction). (The parameter is not case sensitive.)",
            "in": "query",
            "name": "list-name",
            "type": "string"
          },
          {
            "description": "YYYY-MM-DD\n\nThe date the best-seller list was published on NYTimes.com (compare bestsellers-date)",
            "format": "date-time",
            "in": "query",
            "name": "published-date",
            "type": "string"
          },
          {
            "description": "YYYY-MM-DD\n\nThe week-ending date for the sales reflected on list-name. Times best-seller lists are compiled using available book sale data. The bestsellers-date may be significantly earlier than published-date. For additional information, see the explanation at the bottom of any best-seller list page on NYTimes.com (example: Hardcover Fiction, published Dec. 5 but reflecting sales to Nov. 29).",
            "in": "query",
            "name": "bestsellers-date",
            "type": "string"
          },
          {
            "description": "The number of weeks that the best seller has been on list-name, as of bestsellers-date",
            "in": "query",
            "name": "weeks-on-list",
            "type": "integer"
          },
          {
            "description": "The rank of the best seller on list-name as of bestsellers-date",
            "in": "query",
            "name": "rank",
            "type": "string"
          },
          {
            "description": "The rank of the best seller on list-name one week prior to bestsellers-date",
            "in": "query",
            "name": "rank-last-week",
            "type": "integer"
          },
          {
            "description": "Sets the starting point of the result set",
            "in": "query",
            "multipleOf": 20,
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "The default is ASC (ascending). The sort-order parameter is used with the sort-by parameter — for details, see each request type.",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort-order",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "last_modified": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "properties": {
                    "bestsellers_date": {
                      "type": "string"
                    },
                    "books": {
                      "items": {
                        "properties": {
                          "age_group": {
                            "type": "string"
                          },
                          "amazon_product_url": {
                            "type": "string"
                          },
                          "article_chapter_link": {
                            "type": "string"
                          },
                          "asterisk": {
                            "type": "integer"
                          },
                          "author": {
                            "type": "string"
                          },
                          "book_image": {
                            "type": "string"
                          },
                          "book_review_link": {
                            "type": "string"
                          },
                          "contributor": {
                            "type": "string"
                          },
                          "contributor_note": {
                            "type": "string"
                          },
                          "dagger": {
                            "type": "integer"
                          },
                          "description": {
                            "type": "string"
                          },
                          "first_chapter_link": {
                            "type": "string"
                          },
                          "isbns": {
                            "items": {
                              "properties": {
                                "isbn10": {
                                  "type": "string"
                                },
                                "isbn13": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "price": {
                            "type": "integer"
                          },
                          "primary_isbn10": {
                            "type": "string"
                          },
                          "primary_isbn13": {
                            "type": "string"
                          },
                          "publisher": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          },
                          "rank_last_week": {
                            "type": "integer"
                          },
                          "sunday_review_link": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "weeks_on_list": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "corrections": {
                      "items": {
                        "properties": {},
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "display_name": {
                      "type": "string"
                    },
                    "list_name": {
                      "type": "string"
                    },
                    "normal_list_ends_at": {
                      "type": "integer"
                    },
                    "published_date": {
                      "type": "string"
                    },
                    "updated": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_lists-date-list-json",
        "summary": "Best Seller List by Date"
      }
    },
    "/reviews.{format}": {
      "parameters": [
        {
          "enum": [
            "json",
            "jsonp"
          ],
          "in": "path",
          "name": "format",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Searching by ISBN is the recommended method. You can enter 10- or 13-digit ISBNs.",
            "in": "query",
            "name": "isbn",
            "type": "integer"
          },
          {
            "description": "You’ll need to enter the full title of the book. Spaces in the title will be converted into the characters %20.",
            "in": "query",
            "name": "title",
            "type": "string"
          },
          {
            "description": "You’ll need to enter the author’s first and last name, separated by a space. This space will be converted into the characters %20.",
            "in": "query",
            "name": "author",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "items": {
                    "properties": {
                      "book_author": {
                        "type": "string"
                      },
                      "book_title": {
                        "type": "string"
                      },
                      "byline": {
                        "type": "string"
                      },
                      "isbn13": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "publication_dt": {
                        "type": "string"
                      },
                      "summary": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_reviews-format",
        "summary": "Reviews"
      }
    }
  },
  "securityDefinitions": {
    "api-key": {
      "in": "query",
      "name": "api-key",
      "type": "apiKey"
    }
  },
  "externalDocs": {
    "url": "http://developer.nytimes.com/"
  },
  "x-components": {}
}