{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@telnyx.com"
    },
    "description": "SIP trunking, SMS, MMS, Call Control and Telephony Data Services.",
    "license": {
      "name": "MIT"
    },
    "title": "Telnyx API",
    "version": "2.0.0",
    "x-apisguru-categories": [
      "telecom"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/team-telnyx/openapi/master/openapi/spec3.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "telnyx.com",
    "x-datafire": {
      "name": "telnyx",
      "type": "openapi"
    }
  },
  "host": "api.telnyx.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/actions/bulk/telephony_credentials": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter by tag, required by bulk operations.",
            "in": "query",
            "name": "filter[tag]",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response for Bulk credential requests",
            "schema": {
              "properties": {
                "data": {
                  "properties": {
                    "credentials": {
                      "description": "Amount of credentials affected",
                      "example": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Bulk Credentials"
        ],
        "description": "Delete several credentials in bulk.",
        "operationId": "DeleteBulkTelephonyCredential",
        "summary": "Delete several credentials",
        "x-latency-category": "responsive"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter by tag, required by bulk operations.",
            "in": "query",
            "name": "filter[tag]",
            "required": true,
            "type": "string"
          },
          {
            "description": "Parameters to update credentials on bulk",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkCredentialRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response for Bulk credential requests",
            "schema": {
              "properties": {
                "data": {
                  "properties": {
                    "credentials": {
                      "description": "Amount of credentials affected",
                      "example": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Bulk Credentials"
        ],
        "description": "Update several credentials in bulk.",
        "operationId": "UpdateBulkTelephonyCredential",
        "summary": "Update several credentials",
        "x-latency-category": "responsive"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Requested parameters to create credentials on bulk",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkCredentialRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response for Bulk credential requests",
            "schema": {
              "properties": {
                "data": {
                  "properties": {
                    "credentials": {
                      "description": "Amount of credentials affected",
                      "example": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Bulk Credentials"
        ],
        "description": "Creates several credentials in bulk.",
        "operationId": "CreateBulkTelephonyCredential",
        "summary": "Creates several credentials",
        "x-latency-category": "responsive"
      }
    },
    "/actions/network_preferences/sim_cards": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "mobile_operator_networks_preferences": {
                  "$ref": "#/definitions/MobileOperatorNetworksPreferencesRequest"
                },
                "sim_card_ids": {
                  "example": [
                    "6b14e151-8493-4fa1-8664-1cc4e6d14158",
                    "6b14e151-8493-4fa1-8664-1cc4e6d14158"
                  ],
                  "items": {
                    "format": "uuid",
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "",
            "schema": {
              "properties": {
                "data": {
                  "description": "Multi requested SIM cards network preferences.",
                  "items": {
                    "$ref": "#/definitions/SIMCardNetworkPreferenceWithOTAUpdates"
                  },
                  "type": "array"
                },
                "errors": {
                  "items": {
                    "$ref": "#/definitions/Error"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "Unprocessable entity. Check the 'detail' field in response for details.",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "SIM Cards"
        ],
        "description": "This API allows dispatching the same operation described for the PUT sim_cards/:sim_card_id/network_preferences API for multiple SIM cards at once.<br/><br/>\nAlthough, a SIM card network preference may fail individually under any validation triggered as a consequence of its state. For example, a SIM can't have an in-progress OTA update for applying a Network Preference, so they'll fail when requested in this API. In that scenario, the specific error will be present in the response along with the successful definitions in the \"errors\" response node.\n",
        "operationId": "BulkSIMCardNetworkPreferences",
        "summary": "Bulk Network Preferences for SIM cards",
        "x-latency-category": "background"
      }
    },
    "/actions/register/sim_cards": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SIMCardRegistration"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful response",
            "schema": {
              "properties": {
                "data": {
                  "description": "Successfully registered SIM cards.",
                  "items": {
                    "$ref": "#/definitions/SimpleSIMCard"
                  },
                  "type": "array"
                },
                "errors": {
                  "items": {
                    "$ref": "#/definitions/Error"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "SIM Cards"
        ],
        "description": "Register the SIM cards associated with the provided registration codes to the current user's account.<br/><br/>\nIf <code>sim_card_group_id</code> is provided, the SIM cards will be associated with that group. Otherwise, the default group for the current user, which is already data-enabled, will be used.<br/><br/>\n",
        "operationId": "SimCardRegister",
        "summary": "Register SIM cards",
        "x-latency-category": "background"
      }
    },
    "/actions/{action}/telephony_credentials": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifies the action to be taken. Activate will change the status to active. Deactivate will change the status to inactive.",
            "enum": [
              "activate",
              "deactivate"
            ],
            "in": "path",
            "name": "action",
            "required": true,
            "type": "string"
          },
          {
            "description": "Filter by tag, required by bulk operations.",
            "in": "query",
            "name": "filter[tag]",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Bulk credential requests",
            "schema": {
              "properties": {
                "data": {
                  "properties": {
                    "credentials": {
                      "description": "Amount of credentials affected",
                      "example": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Bulk Credentials"
        ],
        "description": "Perform activate or deactivate action on all credentials filtered by the provided tag. Activate action will change the status to active, making it possible to connect calls with the credential. Deactivate action will change the status to inactive, making it impossible to connect calls with the credential.",
        "operationId": "BulkCredentialAction",
        "summary": "Perform activate or deactivate action on all credentials filtered by the provided tag.",
        "x-latency-category": "responsive"
      }
    },
    "/addresses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "The page number to load",
            "in": "query",
            "minimum": 1,
            "name": "page[number]",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The size of the page",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "page[size]",
            "type": "integer"
          },
          {
            "description": "Filter addresses via the customer reference set. Matching is not case-sensitive.",
            "in": "query",
            "name": "filter[customer_reference][eq]",
            "required": false,
            "type": "string"
          },
          {
            "description": "If present, addresses with <code>customer_reference</code> containing the given value will be returned. Matching is not case-sensitive.",
            "in": "query",
            "name": "filter[customer_reference][contains]",
            "required": false,
            "type": "string"
          },
          {
            "default": "null",
            "description": "If present, addresses with <code>street_address</code> containing the given value will be returned. Matching is not case-sensitive. Requires at least three characters.",
            "in": "query",
            "name": "filter[street_address][contains]",
            "required": false,
            "type": "string"
          },
          {
            "default": "null",
            "description": "If present, only returns results with the <code>address_book</code> flag set to the given value.",
            "in": "query",
            "name": "filter[address_book][eq]",
            "required": false,
            "type": "string"
          },
          {
            "default": "created_at",
            "description": "Specifies the sort order for results. By default sorting direction is ascending. To have the results sorted in descending order add the <code> -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>street_address</code>: sorts the result by the\n    <code>street_address</code> field in ascending order.\n  </li>\n\n  <li>\n    <code>-street_address</code>: sorts the result by the\n    <code>street_address</code> field in descending order.\n  </li>\n</ul> <br/> If not given, results are sorted by <code>created_at</code> in descending order.",
            "enum": [
              "created_at",
              "first_name",
              "last_name",
              "business_name",
              "street_address"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/Address"
                  },
                  "type": "array"
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "tags": [
          "Addresses"
        ],
        "description": "Returns a list of your addresses.",
        "operationId": "findAddresss",
        "summary": "List all addresses",
        "x-latency-category": "responsive"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Parameters that can be defined during address creation",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Address"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Addresses"
        ],
        "description": "Creates an address.",
        "operationId": "CreateAddress",
        "summary": "Creates an address",
        "x-latency-category": "responsive"
      }
    },
    "/addresses/actions/validate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Parameters that can be defined during address validation",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action response",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ValidateAddressResult"
                }
              },
              "title": "Validate address action response",
              "type": "object"
            }
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Addresses"
        ],
        "description": "Validates an address for emergency services.",
        "operationId": "validateAddress",
        "summary": "Validate an address",
        "x-latency-category": "responsive"
      }
    },
    "/addresses/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "address ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Address"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Addresses"
        ],
        "description": "Deletes an existing address.",
        "operationId": "DeleteAddress",
        "summary": "Deletes an address",
        "x-latency-category": "responsive"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "address ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Address"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Addresses"
        ],
        "description": "Retrieves the details of an existing address.",
        "operationId": "getAddress",
        "summary": "Retrieve an address",
        "x-latency-category": "responsive"
      }
    },
    "/available_phone_numbers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter numbers starting with a pattern (meant to be used after `national_destination_code` filter has been set).",
            "examples": {
              "generic": {
                "summary": "Find numbers starting with the prefix 'FREE'",
                "value": "FOO"
              }
            },
            "in": "query",
            "name": "filter[phone_number][starts_with]",
            "type": "string"
          },
          {
            "description": "Filter numbers ending with a pattern.",
            "examples": {
              "generic": {
                "summary": "Find numbers ending with the suffix 'CALL'",
                "value": "CALL"
              }
            },
            "in": "query",
            "name": "filter[phone_number][ends_with]",
            "type": "string"
          },
          {
            "description": "Filter numbers containing a pattern.",
            "examples": {
              "generic": {
                "summary": "Find numbers that contain the word 'TELNYX' in any position",
                "value": "TELNYX"
              }
            },
            "in": "query",
            "name": "filter[phone_number][contains]",
            "type": "string"
          },
          {
            "description": "Filter phone numbers by city.",
            "examples": {
              "AU": {
                "value": "Canberra"
              },
              "CA": {
                "value": "Toronto"
              },
              "US": {
                "value": "Chicago"
              }
            },
            "in": "query",
            "name": "filter[locality]",
            "type": "string"
          },
          {
            "description": "Filter phone numbers by US state/CA province.",
            "in": "query",
            "name": "filter[administrative_area]",
            "type": "string"
          },
          {
            "description": "Filter phone numbers by ISO alpha-2 country code.",
            "in": "query",
            "name": "filter[country_code]",
            "type": "string"
          },
          {
            "description": "Filter by the national destination code of the number. This filter is only applicable to North American numbers.",
            "examples": {
              "AU": {
                "value": "0251"
              },
              "CA": {
                "value": "437"
              },
              "US": {
                "value": "312"
              }
            },
            "in": "query",
            "name": "filter[national_destination_code]",
            "type": "string"
          },
          {
            "description": "Filter phone numbers by NANP rate center. This filter is only applicable to North American numbers.",
            "in": "query",
            "name": "filter[rate_center]",
            "type": "string"
          },
          {
            "description": "Filter phone numbers by number type.",
            "enum": [
              "toll-free",
              "national",
              "mobile",
              "local"
            ],
            "in": "query",
            "name": "filter[number_type]",
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Filter if the phone number should be used for voice, fax, mms, sms, emergency.",
            "in": "query",
            "items": {
              "enum": [
                "sms",
                "mms",
                "voice",
                "fax",
                "emergency"
              ],
              "type": "string"
            },
            "name": "filter[features]",
            "type": "array"
          },
          {
            "description": "Limits the number of results.",
            "in": "query",
            "name": "filter[limit]",
            "type": "integer"
          },
          {
            "description": "Filter to determine if best effort results should be included.",
            "in": "query",
            "name": "filter[best_effort]",
            "type": "boolean"
          },
          {
            "description": "Filter to exclude phone numbers that need additional time after to purchase to receive phone calls.",
            "in": "query",
            "name": "filter[quickship]",
            "type": "boolean"
          },
          {
            "description": "Filter to exclude phone numbers that cannot be reserved before purchase.",
            "in": "query",
            "name": "filter[reservable]",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of available phone numbers.",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/AvailablePhoneNumber"
                  },
                  "type": "array"
                },
                "meta": {
                  "$ref": "#/definitions/AvailablePhoneNumbersMetadata"
                }
              },
              "title": "List Available Phone Numbers Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Number Search"
        ],
        "operationId": "listAvailablePhoneNumbers",
        "summary": "List available phone numbers",
        "x-group-parameters": "true",
        "x-latency-category": "responsive"
      }
    },
    "/balance": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Retrieve user balance details",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/UserBalance"
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Billing"
        ],
        "operationId": "getUserBalance",
        "summary": "Retrieve user balance details",
        "x-latency-category": "responsive"
      }
    },
    "/billing_groups": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "The page number to load",
            "in": "query",
            "minimum": 1,
            "name": "page[number]",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The size of the page",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "page[size]",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated array of billing groups",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/BillingGroup"
                  },
                  "type": "array"
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Billing Groups"
        ],
        "operationId": "listBillingGroups",
        "summary": "List all billing groups",
        "x-latency-category": "responsive"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "New billing group object",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewBillingGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected billing group response to a valid request",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/BillingGroup"
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Billing Groups"
        ],
        "operationId": "createBillingGroup",
        "summary": "Create a billing group",
        "x-latency-category": "responsive"
      }
    },
    "/billing_groups/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the billing group",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected billing group response to a valid request",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/BillingGroup"
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Billing Groups"
        ],
        "operationId": "deleteBillingGroup",
        "summary": "Delete a billing group",
        "x-latency-category": "responsive"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the billing group",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected billing group response to a valid request",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/BillingGroup"
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Billing Groups"
        ],
        "operationId": "retrieveBillingGroup",
        "summary": "Retrieve a billing group",
        "x-latency-category": "responsive"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the billing group",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Update billing group object",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBillingGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected billing group response to a valid request",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/BillingGroup"
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Billing Groups"
        ],
        "operationId": "updateBillingGroup",
        "summary": "Update a billing group",
        "x-latency-category": "responsive"
      }
    },
    "/call_control_applications": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "The page number to load",
            "in": "query",
            "minimum": 1,
            "name": "page[number]",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The size of the page",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "page[size]",
            "type": "integer"
          },
          {
            "default": "null",
            "description": "If present, applications with <code>application_name</code> containing the given value will be returned. Matching is not case-sensitive. Requires at least three characters.",
            "in": "query",
            "name": "filter[application_name][contains]",
            "required": false,
            "type": "string"
          },
          {
            "description": "Identifies the associated outbound voice profile.",
            "format": "int64",
            "in": "query",
            "name": "filter[outbound.outbound_voice_profile_id]",
            "required": false,
            "type": "string"
          },
          {
            "default": "created_at",
            "description": "Specifies the sort order for results. By default sorting direction is ascending. To have the results sorted in descending order add the <code> -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>connection_name</code>: sorts the result by the\n    <code>connection_name</code> field in ascending order.\n  </li>\n\n  <li>\n    <code>-connection_name</code>: sorts the result by the\n    <code>connection_name</code> field in descending order.\n  </li>\n</ul> <br/> If not given, results are sorted by <code>created_at</code> in descending order.",
            "enum": [
              "created_at",
              "connection_name",
              "active"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of call control applications.",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/CallControlApplication"
                  },
                  "type": "array"
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              },
              "title": "List Call Control Applications Response",
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "tags": [
          "Call Control Applications"
        ],
        "description": "Return a list of call control applications.",
        "operationId": "listCallControlApplications",
        "summary": "List call control applications",
        "x-group-parameters": "true",
        "x-latency-category": "interactive"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Create call control application request.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCallControlApplicationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response with details about a call control application.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlApplication"
                }
              },
              "title": "Call Control Application Response",
              "type": "object"
            }
          },
          "422": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Call Control Applications"
        ],
        "description": "Create a call control application.",
        "operationId": "createCallControlApplication",
        "summary": "Create a call control application",
        "x-latency-category": "interactive"
      }
    },
    "/call_control_applications/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifies the resource.",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with details about a call control application.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlApplication"
                }
              },
              "title": "Call Control Application Response",
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Call Control Applications"
        ],
        "description": "Deletes a call control application.",
        "operationId": "deleteCallControlApplication",
        "summary": "Delete a call control application",
        "x-latency-category": "interactive"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifies the resource.",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with details about a call control application.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlApplication"
                }
              },
              "title": "Call Control Application Response",
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Call Control Applications"
        ],
        "description": "Retrieves the details of an existing call control application.",
        "operationId": "retrieveCallControlApplication",
        "summary": "Retrieve a call control application",
        "x-latency-category": "interactive"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifies the resource.",
            "format": "int64",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Update call control application request.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCallControlApplicationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with details about a call control application.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlApplication"
                }
              },
              "title": "Call Control Application Response",
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Call Control Applications"
        ],
        "description": "Updates settings of an existing call control application.",
        "operationId": "updateCallControlApplication",
        "summary": "Update a call control application",
        "x-latency-category": "interactive"
      }
    },
    "/call_events": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of an individual call leg.",
            "format": "uuid",
            "in": "query",
            "name": "filter[call_leg_id]",
            "required": false,
            "type": "string"
          },
          {
            "description": "The unique identifier of the call control session. A session may include multiple call leg events.",
            "format": "uuid",
            "in": "query",
            "name": "filter[call_session_id]",
            "required": false,
            "type": "string"
          },
          {
            "description": "Event status",
            "enum": [
              "delivered",
              "failed"
            ],
            "in": "query",
            "name": "filter[status]",
            "required": false,
            "type": "string"
          },
          {
            "description": "Event type",
            "enum": [
              "command",
              "webhook"
            ],
            "in": "query",
            "name": "filter[type]",
            "required": false,
            "type": "string"
          },
          {
            "description": "Event timestamp: greater than",
            "in": "query",
            "name": "filter[event_timestamp][gt]",
            "required": false,
            "type": "string"
          },
          {
            "description": "Event timestamp: greater than or equal",
            "in": "query",
            "name": "filter[event_timestamp][gte]",
            "required": false,
            "type": "string"
          },
          {
            "description": "Event timestamp: lower than",
            "in": "query",
            "name": "filter[event_timestamp][lt]",
            "required": false,
            "type": "string"
          },
          {
            "description": "Event timestamp: lower than or equal",
            "in": "query",
            "name": "filter[event_timestamp][lte]",
            "required": false,
            "type": "string"
          },
          {
            "description": "Event timestamp: equal",
            "in": "query",
            "name": "filter[event_timestamp][eq]",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "The page number to load",
            "in": "query",
            "minimum": 1,
            "name": "page[number]",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The size of the page",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "page[size]",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of call events.",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/CallEvent"
                  },
                  "type": "array"
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              },
              "title": "List Call Events Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Debugging"
        ],
        "description": "Filters call events by given filter parameters. Events are ordered by `event_timestamp`. If filter for `call_leg_id` or `call_session_id` is not present, it only filters events from the last 24 hours.\n\n**Note**: Only one `filter[event_timestamp]` can be passed.\n",
        "operationId": "listCallEvents",
        "summary": "List call events",
        "x-group-parameters": "true",
        "x-latency-category": "responsive"
      }
    },
    "/calls": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Call request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CallRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with details about a call status.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Call"
                }
              },
              "title": "Retrieve Call Status Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callAnswered": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallAnsweredEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callHangup": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallHangupEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callInitiated": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallInitiatedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callMachineDetectionEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallMachineDetectionEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callMachineGreetingEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallMachineGreetingEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Dial a number or SIP URI from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.\n\n**Expected Webhooks:**\n\n- `call.initiated`\n- `call.answered` or `call.hangup`\n- `call.machine.detection.ended` if `answering_machine_detection` was requested\n- `call.machine.greeting.ended` if `answering_machine_detection` was set to `detect_beep`, `greeting_end` or `detect_words`",
        "operationId": "callDial",
        "summary": "Dial",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with details about a call status.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Call"
                }
              },
              "title": "Retrieve Call Status Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Information"
        ],
        "description": "Returns the status of a call (data is available 10 minutes after call ended).",
        "operationId": "retrieveCallStatus",
        "summary": "Retrieve a call status",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/answer": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Answer call request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnswerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callAnswered": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallAnsweredEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Answer an incoming call. You must issue this command before executing subsequent commands on an incoming call.\n\n**Expected Webhooks:**\n\n- `call.answered`\n",
        "operationId": "callAnswer",
        "summary": "Answer call",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/bridge": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Bridge call request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BridgeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callBridged": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallBridgedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Bridge two call control calls.\n\n**Expected Webhooks:**\n\n- `call.bridged` for Leg A\n- `call.bridged` for Leg B\n",
        "operationId": "callBridge",
        "summary": "Bridge calls",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/fork_start": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Fork media request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartForkingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callForkStarted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallForkStartedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callForkStopped": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallForkStoppedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Call forking allows you to stream the media from a call to a specific target in realtime. \nThis stream can be used to enable realtime audio analysis to support a \nvariety of use cases, including fraud detection, or the creation of AI-generated audio responses. \nRequests must specify either the `target` attribute or the `rx` and `tx` attributes.\n\n**Expected Webhooks:**\n\n- `call.fork.started`\n- `call.fork.stopped`\n\n**Simple Telnyx RTP Encapsulation Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when the `rx` and `tx`\nparameters have been specified; it only applies when media is forked\nusing the `target` attribute.*\n\nIf the destination for forked media is specified using the \"target\"\nattribute, the RTP will be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header to the RTP payload in each packet. The STREP\nheader includes the Call Control `call_leg_id` for stream\nidentification, along with bits that represent the direction (inbound or\noutbound) of the media. This 24-byte header sits between the UDP header\nand the RTP header.\n\nThe STREP header makes it possible to fork RTP for multiple calls (or\ntwo RTP streams for the same call) to the same IP:port, where the\nstreams can be demultiplexed by your application using the information\nin the header. Of course, it's still possible to ignore this header\ncompletely, for example, if sending forked media for different calls to\ndifferent ports or IP addresses. In this case, simply strip 24 bytes\n(or use the second byte to find the header length) from the received UDP\npayload to get the RTP (RTP header and payload).\n\n```\nSTREP Specification\n\n  0                   1                   2                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |               The call_leg_id                                 |\n |                   from Call Control                           |\n |                       (128 bits / 16 bytes)                   |\n |                           (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\n 11\n   Static bits 11, always set to 11 to easily distinguish forked media\n   from RTP (10) and T.38 media (usually 00) and SIP (which begins\n   with a capital letter, so begins with bits 01). This is a magic number.\n\n Version\n   Four bits to indicate the version number of the protocol, starting at 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0 represents the A (first) leg of the call.\n   1 represents the B (second) leg of the call.\n\n D\n   One bit to represent the direction of this RTP stream.\n   0 represents media received by Telnyx.\n   1 represents media transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header in bytes.\n   Note that this value does not include the length of the payload. The total\n   size of the RTP can be calculated by subtracting the HeaderLen from the UDP\n   length (minus 8 for the UDP header).\n   In version 1, this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future use and to make sure that the header is a multiple of 32 bits\n\n Call Leg ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id from Call Control.\n```\n",
        "operationId": "callForkStart",
        "summary": "Forking start",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/fork_stop": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Stop forking media request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopForkingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callForkStopped": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallForkStoppedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Stop forking a call.\n\n**Expected Webhooks:**\n\n- `call.fork.stopped`\n",
        "operationId": "callForkStop",
        "summary": "Forking stop",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/gather_stop": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Stop current gather",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopGatherRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callGatherEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallGatherEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Stop current gather.\n\n**Expected Webhooks:**\n\n- `call.gather.ended`\n",
        "operationId": "callGatherStop",
        "summary": "Gather stop",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/gather_using_audio": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Gather using audio request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatherUsingAudioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callDtmfReceived": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallDtmfReceivedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callGatherEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallGatherEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callPlaybackEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallPlaybackEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callPlaybackStarted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallPlaybackStartedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Play an audio file on the call until the required DTMF signals are gathered to build interactive menus.\n\nYou can pass a list of valid digits along with an 'invalid_audio_url', which will be played back at the beginning of each prompt. Playback will be interrupted when a DTMF signal is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer) command must be issued before the `gather_using_audio` command.\n\n**Expected Webhooks:**\n\n- `call.playback.started`\n- `call.playback.ended`\n- `call.dtmf.received` (you may receive many of these webhooks)\n- `call.gather.ended`\n",
        "operationId": "callGatherUsingAudio",
        "summary": "Gather using audio",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/gather_using_speak": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Gather using speak request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatherUsingSpeakRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callDtmfReceived": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallDtmfReceivedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callGatherEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallGatherEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Convert text to speech and play it on the call until the required DTMF signals are gathered to build interactive menus.\n\nYou can pass a list of valid digits along with an 'invalid_payload', which will be played back at the beginning of each prompt. Speech will be interrupted when a DTMF signal is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer) command must be issued before the `gather_using_speak` command.\n\n**Expected Webhooks:**\n\n- `call.dtmf.received` (you may receive many of these webhooks)\n- `call.gather.ended`\n",
        "operationId": "callGatherUsingSpeak",
        "summary": "Gather using speak",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/hangup": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Hangup request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HangupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callHangup": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallHangupEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callRecordingSaved": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallRecordingSavedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Hang up the call.\n\n**Expected Webhooks:**\n\n- `call.hangup`\n- `call.recording.saved`\n",
        "operationId": "callHangup",
        "summary": "Hangup call",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/playback_start": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Play audio URL request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlayAudioUrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callPlaybackEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallPlaybackEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callPlaybackStarted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallPlaybackStartedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Play an audio file on the call. If multiple play audio commands are issued consecutively,\nthe audio files will be placed in a queue awaiting playback.\n\n*Notes:*\n\n- When `overlay` is enabled, `loop` is limited to 1, and `target_legs` is limited to `self`.\n- A customer cannot Play Audio with `overlay=true` unless there is a Play Audio with `overlay=false` actively playing.\n\n**Expected Webhooks:**\n\n- `call.playback.started`\n- `call.playback.ended`\n",
        "operationId": "callPlaybackStart",
        "summary": "Play audio URL",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/playback_stop": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Stop audio playback request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlaybackStopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callPlaybackEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallPlaybackEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callSpeakEnded": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallSpeakEndedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Stop audio being played on the call.\n\n**Expected Webhooks:**\n\n- `call.playback.ended` or `call.speak.ended`\n",
        "operationId": "callPlaybackStop",
        "summary": "Stop audio playback",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/record_pause": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Pause recording call request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PauseRecordingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "description": "Pause recording the call. Recording can be resumed via Resume recording command.\n\n**Expected Webhooks:**\n\nThere are no webhooks associated with this command.\n",
        "operationId": "callRecordPause",
        "summary": "Record pause",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/record_resume": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resume recording call request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResumeRecordingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "description": "Resume recording the call.\n\n**Expected Webhooks:**\n\nThere are no webhooks associated with this command.\n",
        "operationId": "callRecordResume",
        "summary": "Record resume",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/record_start": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Start recording audio request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartRecordingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "description": "Start recording the call. Recording will stop on call hang-up, or can be initiated via the Stop Recording command.\n\n**Expected Webhooks:**\n\n- `call.recording.saved`\n",
        "operationId": "callRecordStart",
        "summary": "Recording start",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/record_stop": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Stop recording call request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopRecordingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callRecordingSaved": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallRecordingSavedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Stop recording the call.\n\n**Expected Webhooks:**\n\n- `call.recording.saved`\n",
        "operationId": "callRecordStop",
        "summary": "Recording stop",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/refer": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Refer request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReferRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callReferCompleted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallReferCompletedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callReferFailed": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallReferFailedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          },
          "callReferStarted": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                },
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/definitions/CallReferStartedEvent"
                      }
                    }
                  },
                  "required": true
                }
              }
            }
          }
        },
        "description": "Initiate a SIP Refer on a Call Control call. You can initiate a SIP Refer at any point in the duration of a call.\n\n**Expected Webhooks:**\n\n- `call.refer.started`\n- `call.refer.completed`\n- `call.refer.failed`\n",
        "operationId": "callRefer",
        "summary": "SIP Refer a call",
        "x-latency-category": "interactive"
      }
    },
    "/calls/{call_control_id}/actions/reject": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier and token for controlling the call",
            "in": "path",
            "name": "call_control_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Reject request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RejectRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response upon making a call control command.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CallControlCommandResult"
                }
              },
              "title": "Call Control Command Response",
              "type": "object"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Call Commands"
        ],
        "callbacks": {
          "callHangup": {
            "{$request.body#/webhook_url}": {
              "post": {
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
[...]
