{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "Soccer v3 Scores",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/soccer-v3-scores.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "sportsdata.io",
    "x-serviceName": "soccer-v3-scores",
    "x-datafire": {
      "name": "sportsdata_soccer_v3_scores",
      "type": "openapi"
    }
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/soccer/scores",
  "schemes": [
    "http"
  ],
  "paths": {
    "/{format}/ActiveMemberships": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Membership"
              },
              "type": "array"
            }
          }
        },
        "operationId": "MembershipsActive",
        "summary": "Memberships (Active)"
      }
    },
    "/{format}/Areas": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Area"
              },
              "type": "array"
            }
          }
        },
        "operationId": "AreasCountries",
        "summary": "Areas (Countries)"
      }
    },
    "/{format}/CanceledMemberships": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CanceledMembership"
            }
          }
        },
        "operationId": "CanceledMemberships",
        "summary": "Canceled Memberships"
      }
    },
    "/{format}/CompetitionDetails/{competition}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "in": "path",
            "name": "competition",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CompetitionDetail"
            }
          }
        },
        "operationId": "CompetitionFixturesLeagueDetails",
        "summary": "Competition Fixtures (League Details)"
      }
    },
    "/{format}/CompetitionHierarchy": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Area"
              },
              "type": "array"
            }
          }
        },
        "operationId": "CompetitionHierarchyLeagueHierarchy",
        "summary": "Competition Hierarchy (League Hierarchy)"
      }
    },
    "/{format}/Competitions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Competition"
              },
              "type": "array"
            }
          }
        },
        "operationId": "CompetitionsLeagues",
        "summary": "Competitions (Leagues)"
      }
    },
    "/{format}/GamesByDate/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Game"
              },
              "type": "array"
            }
          }
        },
        "operationId": "GamesByDate",
        "summary": "Games by Date"
      }
    },
    "/{format}/HistoricalMemberships": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Membership"
              },
              "type": "array"
            }
          }
        },
        "operationId": "MembershipsHistorical",
        "summary": "Memberships (Historical)"
      }
    },
    "/{format}/HistoricalMembershipsByCompetition/{competition}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "in": "path",
            "name": "competition",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Membership"
              },
              "type": "array"
            }
          }
        },
        "operationId": "MembershipsByCompetitionHistorical",
        "summary": "Memberships by Competition (Historical)"
      }
    },
    "/{format}/HistoricalMembershipsByTeam/{teamid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Team ID. \nExample:<code>516</code>.",
            "in": "path",
            "name": "teamid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Membership"
              },
              "type": "array"
            }
          }
        },
        "operationId": "MembershipsByTeamHistorical",
        "summary": "Memberships by Team (Historical)"
      }
    },
    "/{format}/MembershipsByCompetition/{competition}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "in": "path",
            "name": "competition",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Membership"
              },
              "type": "array"
            }
          }
        },
        "operationId": "MembershipsByCompetitionActive",
        "summary": "Memberships by Competition (Active)"
      }
    },
    "/{format}/MembershipsByTeam/{teamid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Team ID. \nExample:<code>516</code>.",
            "in": "path",
            "name": "teamid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Membership"
              },
              "type": "array"
            }
          }
        },
        "operationId": "MembershipsByTeamActive",
        "summary": "Memberships by Team (Active)"
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>90026231</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Player"
            }
          }
        },
        "operationId": "Player",
        "summary": "Player"
      }
    },
    "/{format}/Players": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Player"
              },
              "type": "array"
            }
          }
        },
        "operationId": "Players",
        "summary": "Players"
      }
    },
    "/{format}/PlayersByTeam/{teamid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Team ID. \nExample:<code>516</code>.",
            "in": "path",
            "name": "teamid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Player"
              },
              "type": "array"
            }
          }
        },
        "operationId": "PlayersByTeam",
        "summary": "Players by Team"
      }
    },
    "/{format}/RecentlyChangedMemberships/{days}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The number of days since memberships were updated. For example, if you pass <code>3</code>, you'll receive all memberships that have been updated in the past 3 days. Valid entries are: <code>1</code>, <code>2</code> ... <code>30</code>",
            "in": "path",
            "name": "days",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Membership"
              },
              "type": "array"
            }
          }
        },
        "operationId": "MembershipsRecentlyChanged",
        "summary": "Memberships (Recently Changed)"
      }
    },
    "/{format}/Schedule/{roundid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "in": "path",
            "name": "roundid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Game"
              },
              "type": "array"
            }
          }
        },
        "operationId": "Schedule",
        "summary": "Schedule"
      }
    },
    "/{format}/SeasonTeams/{seasonid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Season ID. SeasonIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "in": "path",
            "name": "seasonid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/SeasonTeam"
              },
              "type": "array"
            }
          }
        },
        "operationId": "SeasonTeams",
        "summary": "Season Teams"
      }
    },
    "/{format}/Standings/{roundid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "in": "path",
            "name": "roundid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Standing"
              },
              "type": "array"
            }
          }
        },
        "operationId": "Standings",
        "summary": "Standings"
      }
    },
    "/{format}/TeamGameStatsByDate/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/TeamGame"
              },
              "type": "array"
            }
          }
        },
        "operationId": "TeamGameStatsByDate",
        "summary": "Team Game Stats by Date"
      }
    },
    "/{format}/TeamSeasonStats/{roundid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "in": "path",
            "name": "roundid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/TeamSeason"
              },
              "type": "array"
            }
          }
        },
        "operationId": "TeamSeasonStats",
        "summary": "Team Season Stats"
      }
    },
    "/{format}/Teams": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Team"
              },
              "type": "array"
            }
          }
        },
        "operationId": "Teams",
        "summary": "Teams"
      }
    },
    "/{format}/UpcomingScheduleByPlayer/{playerid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>90026231</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Game"
              },
              "type": "array"
            }
          }
        },
        "operationId": "UpcomingScheduleByPlayer",
        "summary": "Upcoming Schedule By Player"
      }
    },
    "/{format}/Venues": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Venue"
              },
              "type": "array"
            }
          }
        },
        "operationId": "Venues",
        "summary": "Venues"
      }
    }
  },
  "definitions": {
    "Area": {
      "properties": {
        "AreaId": {
          "nullable": false,
          "type": "integer"
        },
        "Competitions": {
          "items": {
            "$ref": "#/definitions/Competition"
          },
          "type": "array"
        },
        "CountryCode": {
          "nullable": true,
          "type": "string"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "CanceledMembership": {
      "properties": {
        "CanceledMembershipId": {
          "nullable": false,
          "type": "integer"
        },
        "Created": {
          "nullable": true,
          "type": "string"
        },
        "MembershipId": {
          "nullable": false,
          "type": "integer"
        },
        "PlayerID": {
          "nullable": false,
          "type": "integer"
        },
        "TeamId": {
          "nullable": false,
          "type": "integer"
        }
      }
    },
    "Competition": {
      "properties": {
        "AreaId": {
          "nullable": false,
          "type": "integer"
        },
        "AreaName": {
          "nullable": true,
          "type": "string"
        },
        "CompetitionId": {
          "nullable": false,
          "type": "integer"
        },
        "Format": {
          "nullable": true,
          "type": "string"
        },
        "Gender": {
          "nullable": true,
          "type": "string"
        },
        "Key": {
          "nullable": true,
          "type": "string"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Seasons": {
          "items": {
            "$ref": "#/definitions/Season"
          },
          "type": "array"
        },
        "Type": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "CompetitionDetail": {
      "properties": {
        "AreaId": {
          "nullable": false,
          "type": "integer"
        },
        "AreaName": {
          "nullable": true,
          "type": "string"
        },
        "CompetitionId": {
          "nullable": false,
          "type": "integer"
        },
        "CurrentSeason": {
          "$ref": "#/definitions/Season"
        },
        "Format": {
          "nullable": true,
          "type": "string"
        },
        "Games": {
          "items": {
            "$ref": "#/definitions/Game"
          },
          "type": "array"
        },
        "Gender": {
          "nullable": true,
          "type": "string"
        },
        "Key": {
          "nullable": true,
          "type": "string"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Seasons": {
          "items": {
            "$ref": "#/definitions/Season"
          },
          "type": "array"
        },
        "Teams": {
          "items": {
            "$ref": "#/definitions/TeamDetail"
          },
          "type": "array"
        },
        "Type": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "Game": {
      "properties": {
        "Attendance": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamCountryCode": {
          "nullable": true,
          "type": "string"
        },
        "AwayTeamFormation": {
          "nullable": true,
          "type": "string"
        },
        "AwayTeamId": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamKey": {
          "nullable": true,
          "type": "string"
        },
        "AwayTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamName": {
          "nullable": true,
          "type": "string"
        },
        "AwayTeamPointSpreadPayout": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamScoreExtraTime": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamScorePenalty": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamScorePeriod1": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamScorePeriod2": {
          "nullable": true,
          "type": "integer"
        },
        "Clock": {
          "nullable": true,
          "type": "integer"
        },
        "ClockDisplay": {
          "nullable": true,
          "type": "string"
        },
        "ClockExtra": {
          "nullable": true,
          "type": "integer"
        },
        "DateTime": {
          "nullable": true,
          "type": "string"
        },
        "Day": {
          "nullable": true,
          "type": "string"
        },
        "DrawMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "GameId": {
          "nullable": false,
          "type": "integer"
        },
        "GlobalAwayTeamId": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalGameId": {
          "nullable": false,
          "type": "integer"
        },
        "GlobalHomeTeamId": {
          "nullable": true,
          "type": "integer"
        },
        "Group": {
          "nullable": true,
          "type": "string"
        },
        "HomeTeamCountryCode": {
          "nullable": true,
          "type": "string"
        },
        "HomeTeamFormation": {
          "nullable": true,
          "type": "string"
        },
        "HomeTeamId": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamKey": {
          "nullable": true,
          "type": "string"
        },
        "HomeTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamName": {
          "nullable": true,
          "type": "string"
        },
        "HomeTeamPointSpreadPayout": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamScoreExtraTime": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamScorePenalty": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamScorePeriod1": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamScorePeriod2": {
          "nullable": true,
          "type": "integer"
        },
        "IsClosed": {
          "nullable": true,
          "type": "boolean"
        },
        "OverPayout": {
          "nullable": true,
          "type": "integer"
        },
        "OverUnder": {
          "nullable": true,
          "type": "number"
        },
        "Period": {
          "nullable": true,
          "type": "string"
        },
        "PlayoffAggregateScore": {
          "$ref": "#/definitions/PlayoffAggregateScore"
        },
        "PointSpread": {
          "nullable": true,
          "type": "number"
        },
        "RoundId": {
          "nullable": false,
          "type": "integer"
        },
        "Season": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonType": {
          "nullable": false,
          "type": "integer"
        },
        "Status": {
          "nullable": true,
          "type": "string"
        },
        "UnderPayout": {
          "nullable": true,
          "type": "integer"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "UpdatedUtc": {
          "nullable": true,
          "type": "string"
        },
        "VenueId": {
          "nullable": true,
          "type": "integer"
        },
        "VenueType": {
          "nullable": true,
          "type": "string"
        },
        "Week": {
          "nullable": true,
          "type": "integer"
        },
        "Winner": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "Membership": {
      "properties": {
        "Active": {
          "nullable": false,
          "type": "boolean"
        },
        "EndDate": {
          "nullable": true,
          "type": "string"
        },
        "MembershipId": {
          "nullable": false,
          "type": "integer"
        },
        "PlayerId": {
          "nullable": false,
          "type": "integer"
        },
        "PlayerName": {
          "nullable": true,
          "type": "string"
        },
        "StartDate": {
          "nullable": true,
          "type": "string"
        },
        "TeamArea": {
          "nullable": true,
          "type": "string"
        },
        "TeamId": {
          "nullable": false,
          "type": "integer"
        },
        "TeamName": {
          "nullable": true,
          "type": "string"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "Player": {
      "properties": {
        "BirthCity": {
          "nullable": true,
          "type": "string"
        },
        "BirthCountry": {
          "nullable": true,
          "type": "string"
        },
        "BirthDate": {
          "nullable": true,
          "type": "string"
        },
        "CommonName": {
          "nullable": true,
          "type": "string"
        },
        "DraftKingsPosition": {
          "nullable": true,
          "type": "string"
        },
        "FirstName": {
          "nullable": true,
          "type": "string"
        },
        "Foot": {
          "nullable": true,
          "type": "string"
        },
        "Gender": {
          "nullable": true,
          "type": "string"
        },
        "Height": {
          "nullable": true,
          "type": "integer"
        },
        "InjuryBodyPart": {
          "nullable": true,
          "type": "string"
        },
        "InjuryNotes": {
          "nullable": true,
          "type": "string"
        },
        "InjuryStartDate": {
          "nullable": true,
          "type": "string"
        },
        "InjuryStatus": {
          "nullable": true,
          "type": "string"
        },
        "Jersey": {
          "nullable": true,
          "type": "integer"
        },
        "LastName": {
          "nullable": true,
          "type": "string"
        },
        "Nationality": {
          "nullable": true,
          "type": "string"
        },
        "PhotoUrl": {
          "nullable": true,
          "type": "string"
        },
        "PlayerId": {
          "nullable": false,
          "type": "integer"
        },
        "Position": {
          "nullable": true,
          "type": "string"
        },
        "PositionCategory": {
          "nullable": true,
          "type": "string"
        },
        "RotoWirePlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "ShortName": {
          "nullable": true,
          "type": "string"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "UsaTodayHeadshotNoBackgroundUpdated": {
          "nullable": true,
          "type": "string"
        },
        "UsaTodayHeadshotNoBackgroundUrl": {
          "nullable": true,
          "type": "string"
        },
        "UsaTodayHeadshotUpdated": {
          "nullable": true,
          "type": "string"
        },
        "UsaTodayHeadshotUrl": {
          "nullable": true,
          "type": "string"
        },
        "UsaTodayPlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "Weight": {
          "nullable": true,
          "type": "integer"
        }
      }
    },
    "PlayoffAggregateScore": {
      "properties": {
        "Created": {
          "nullable": true,
          "type": "string"
        },
        "TeamA_AggregateScore": {
          "nullable": false,
          "type": "integer"
        },
        "TeamA_Id": {
          "nullable": false,
          "type": "integer"
        },
        "TeamB_AggregateScore": {
          "nullable": false,
          "type": "integer"
        },
        "TeamB_Id": {
          "nullable": false,
          "type": "integer"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "WinningTeamId": {
          "nullable": false,
          "type": "integer"
        }
      }
    },
    "Round": {
      "properties": {
        "CurrentRound": {
          "nullable": false,
          "type": "boolean"
        },
        "CurrentWeek": {
          "nullable": true,
          "type": "integer"
        },
        "EndDate": {
          "nullable": true,
          "type": "string"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "RoundId": {
          "nullable": false,
          "type": "integer"
        },
        "Season": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonId": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonType": {
          "nullable": false,
          "type": "integer"
        },
        "StartDate": {
          "nullable": true,
          "type": "string"
        },
        "Type": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "Season": {
      "properties": {
        "CompetitionId": {
          "nullable": false,
          "type": "integer"
        },
        "CompetitionName": {
          "nullable": true,
          "type": "string"
        },
        "CurrentSeason": {
          "nullable": false,
          "type": "boolean"
        },
        "EndDate": {
          "nullable": true,
          "type": "string"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Rounds": {
          "items": {
            "$ref": "#/definitions/Round"
          },
          "type": "array"
        },
        "Season": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonId": {
          "nullable": false,
          "type": "integer"
        },
        "StartDate": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "SeasonTeam": {
      "properties": {
        "Active": {
          "nullable": false,
          "type": "boolean"
        },
        "Gender": {
          "nullable": true,
          "type": "string"
        },
        "SeasonId": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonTeamId": {
          "nullable": false,
          "type": "integer"
        },
        "Team": {
          "$ref": "#/definitions/Team"
        },
        "TeamId": {
          "nullable": false,
          "type": "integer"
        },
        "TeamName": {
          "nullable": true,
          "type": "string"
        },
        "Type": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "Standing": {
      "properties": {
        "Draws": {
          "nullable": true,
          "type": "integer"
        },
        "Games": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalTeamID": {
          "nullable": true,
          "type": "integer"
        },
        "GoalsAgainst": {
          "nullable": true,
          "type": "integer"
        },
        "GoalsDifferential": {
          "nullable": true,
          "type": "integer"
        },
        "GoalsScored": {
          "nullable": true,
          "type": "integer"
        },
        "Group": {
          "nullable": true,
          "type": "string"
        },
        "Losses": {
          "nullable": true,
          "type": "integer"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Points": {
          "nullable": true,
          "type": "integer"
        },
        "RoundId": {
          "nullable": false,
          "type": "integer"
        },
        "Scope": {
          "nullable": true,
          "type": "string"
        },
        "ShortName": {
          "nullable": true,
          "type": "string"
        },
        "StandingId": {
          "nullable": false,
          "type": "integer"
        },
        "TeamId": {
          "nullable": false,
          "type": "integer"
        },
        "Wins": {
          "nullable": true,
          "type": "integer"
        },
        "[Order]": {
          "nullable": true,
          "type": "integer"
        }
      }
    },
    "Team": {
      "properties": {
        "Active": {
          "nullable": false,
          "type": "boolean"
        },
        "Address": {
          "nullable": true,
          "type": "string"
        },
        "AreaId": {
          "nullable": true,
          "type": "integer"
        },
        "AreaName": {
          "nullable": true,
          "type": "string"
        },
        "City": {
          "nullable": true,
          "type": "string"
        },
        "ClubColor1": {
          "nullable": true,
          "type": "string"
        },
        "ClubColor2": {
          "nullable": true,
          "type": "string"
        },
        "ClubColor3": {
          "nullable": true,
          "type": "string"
        },
        "Email": {
          "nullable": true,
          "type": "string"
        },
        "Fax": {
          "nullable": true,
          "type": "string"
        },
        "Founded": {
          "nullable": true,
          "type": "integer"
        },
        "FullName": {
          "nullable": true,
          "type": "string"
        },
        "Gender": {
          "nullable": true,
          "type": "string"
        },
        "GlobalTeamId": {
          "nullable": false,
          "type": "integer"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Nickname1": {
          "nullable": true,
          "type": "string"
        },
        "Nickname2": {
          "nullable": true,
          "type": "string"
        },
        "Nickname3": {
          "nullable": true,
          "type": "string"
        },
        "Phone": {
          "nullable": true,
          "type": "string"
        },
        "TeamId": {
          "nullable": false,
          "type": "integer"
        },
        "Type": {
          "nullable": true,
          "type": "string"
        },
        "VenueId": {
          "nullable": true,
          "type": "integer"
        },
        "VenueName": {
          "nullable": true,
          "type": "string"
        },
        "Website": {
          "nullable": true,
          "type": "string"
        },
        "WikipediaLogoUrl": {
          "nullable": true,
          "type": "string"
        },
        "WikipediaWordMarkUrl": {
          "nullable": true,
          "type": "string"
        },
        "Zip": {
          "nullable": true,
          "type": "string"
        },
        "[Key]": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "TeamDetail": {
      "properties": {
        "Active": {
          "nullable": false,
          "type": "boolean"
        },
        "Address": {
          "nullable": true,
          "type": "string"
        },
        "AreaId": {
          "nullable": true,
          "type": "integer"
        },
        "AreaName": {
          "nullable": true,
          "type": "string"
        },
        "City": {
          "nullable": true,
          "type": "string"
        },
        "ClubColor1": {
          "nullable": true,
          "type": "string"
        },
        "ClubColor2": {
          "nullable": true,
          "type": "string"
        },
        "ClubColor3": {
          "nullable": true,
          "type": "string"
        },
        "Email": {
          "nullable": true,
          "type": "string"
        },
        "Fax": {
          "nullable": true,
          "type": "string"
        },
        "Founded": {
          "nullable": true,
          "type": "integer"
        },
        "FullName": {
          "nullable": true,
          "type": "string"
        },
        "Gender": {
          "nullable": true,
          "type": "string"
        },
        "GlobalTeamId": {
          "nullable": false,
          "type": "integer"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Nickname1": {
          "nullable": true,
          "type": "string"
        },
        "Nickname2": {
          "nullable": true,
          "type": "string"
        },
        "Nickname3": {
          "nullable": true,
          "type": "string"
        },
        "Phone": {
          "nullable": true,
          "type": "string"
        },
        "Players": {
          "items": {
            "$ref": "#/definitions/Player"
          },
          "type": "array"
        },
        "TeamId": {
          "nullable": false,
          "type": "integer"
        },
        "Type": {
          "nullable": true,
          "type": "string"
        },
        "VenueId": {
          "nullable": true,
          "type": "integer"
        },
        "VenueName": {
          "nullable": true,
          "type": "string"
        },
        "Website": {
          "nullable": true,
          "type": "string"
        },
        "WikipediaLogoUrl": {
          "nullable": true,
          "type": "string"
        },
        "WikipediaWordMarkUrl": {
          "nullable": true,
          "type": "string"
        },
        "Zip": {
          "nullable": true,
          "type": "string"
        },
        "[Key]": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "TeamGame": {
      "properties": {
        "Assists": {
          "nullable": true,
          "type": "number"
        },
        "BlockedShots": {
          "nullable": true,
          "type": "number"
        },
        "CornersWon": {
          "nullable": true,
          "type": "number"
        },
        "Crosses": {
          "nullable": true,
          "type": "number"
        },
        "DateTime": {
          "nullable": true,
          "type": "string"
        },
        "Day": {
          "nullable": true,
          "type": "string"
        },
        "DefenderCleanSheets": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPoints": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsDraftKings": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsFanDuel": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsMondogoal": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsYahoo": {
          "nullable": true,
          "type": "number"
        },
        "Fouled": {
          "nullable": true,
          "type": "number"
        },
        "Fouls": {
          "nullable": true,
          "type": "number"
        },
        "GameId": {
          "nullable": true,
          "type": "integer"
        },
        "Games": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalGameId": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalOpponentId": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalTeamId": {
          "nullable": true,
          "type": "integer"
        },
        "GoalkeeperCleanSheets": {
          "nullable": true,
          "type": "number"
        },
        "GoalkeeperGoalsAgainst": {
          "nullable": true,
          "type": "number"
        },
        "GoalkeeperSaves": {
          "nullable": true,
          "type": "number"
        },
        "GoalkeeperSingleGoalAgainst": {
          "nullable": true,
          "type": "number"
        },
        "GoalkeeperWins": {
          "nullable": true,
          "type": "number"
        },
        "Goals": {
          "nullable": true,
          "type": "number"
        },
        "HomeOrAway": {
          "nullable": true,
          "type": "string"
        },
        "Interceptions": {
          "nullable": true,
          "type": "number"
        },
        "IsGameOver": {
          "nullable": false,
          "type": "boolean"
        },
        "LastManTackle": {
          "nullable": true,
          "type": "number"
        },
        "Minutes": {
          "nullable": true,
          "type": "number"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Offsides": {
          "nullable": true,
          "type": "number"
        },
        "Opponent": {
          "nullable": true,
          "type": "string"
        },
        "OpponentId": {
          "nullable": true,
          "type": "integer"
        },
        "OpponentScore": {
          "nullable": true,
          "type": "number"
        },
        "OwnGoals": {
          "nullable": true,
          "type": "number"
        },
        "Passes": {
          "nullable": true,
          "type": "number"
        },
        "PassesCompleted": {
          "nullable": true,
          "type": "number"
        },
        "PenaltiesConceded": {
          "nullable": true,
          "type": "number"
        },
        "PenaltiesWon": {
          "nullable": true,
          "type": "number"
        },
        "PenaltyKickGoals": {
          "nullable": true,
          "type": "number"
        },
        "PenaltyKickMisses": {
          "nullable": true,
          "type": "number"
        },
        "PenaltyKickSaves": {
          "nullable": true,
          "type": "number"
        },
        "Possession": {
          "nullable": true,
          "type": "number"
        },
        "RedCards": {
          "nullable": true,
          "type": "number"
        },
        "RoundId": {
          "nullable": true,
          "type": "integer"
        },
        "Score": {
          "nullable": true,
          "type": "number"
        },
        "Season": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonType": {
          "nullable": false,
          "type": "integer"
        },
        "Shots": {
          "nullable": true,
          "type": "number"
        },
        "ShotsOnGoal": {
          "nullable": true,
          "type": "number"
        },
        "StatId": {
          "nullable": false,
          "type": "integer"
        },
        "TacklesWon": {
          "nullable": true,
          "type": "number"
        },
        "Team": {
          "nullable": true,
          "type": "string"
        },
        "TeamId": {
          "nullable": true,
          "type": "integer"
        },
        "Touches": {
          "nullable": true,
          "type": "number"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "UpdatedUtc": {
          "nullable": true,
          "type": "string"
        },
        "YellowCards": {
          "nullable": true,
          "type": "number"
        },
        "YellowRedCards": {
          "nullable": true,
          "type": "number"
        }
      }
    },
    "TeamSeason": {
      "properties": {
        "Assists": {
          "nullable": true,
          "type": "number"
        },
        "BlockedShots": {
          "nullable": true,
          "type": "number"
        },
        "CornersWon": {
          "nullable": true,
          "type": "number"
        },
        "Crosses": {
          "nullable": true,
          "type": "number"
        },
        "DefenderCleanSheets": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPoints": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsDraftKings": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsFanDuel": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsMondogoal": {
          "nullable": true,
          "type": "number"
        },
        "FantasyPointsYahoo": {
          "nullable": true,
          "type": "number"
        },
        "Fouled": {
          "nullable": true,
          "type": "number"
        },
        "Fouls": {
          "nullable": true,
          "type": "number"
        },
        "Games": {
          "nullable": true,
          "type": "integer"
        },
        "GlobalTeamId": {
          "nullable": true,
          "type": "integer"
        },
        "GoalkeeperCleanSheets": {
          "nullable": true,
          "type": "number"
        },
        "GoalkeeperGoalsAgainst": {
          "nullable": true,
          "type": "number"
        },
        "GoalkeeperSaves": {
          "nullable": true,
          "type": "number"
        },
        "GoalkeeperSingleGoalAgainst": {
          "nullable": true,
          "type": "number"
        },
        "GoalkeeperWins": {
          "nullable": true,
          "type": "number"
        },
        "Goals": {
          "nullable": true,
          "type": "number"
        },
        "Interceptions": {
          "nullable": true,
          "type": "number"
        },
        "LastManTackle": {
          "nullable": true,
          "type": "number"
        },
        "Minutes": {
          "nullable": true,
          "type": "number"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Offsides": {
          "nullable": true,
          "type": "number"
        },
        "OpponentScore": {
          "nullable": true,
          "type": "number"
        },
        "OwnGoals": {
          "nullable": true,
          "type": "number"
        },
        "Passes": {
          "nullable": true,
          "type": "number"
        },
        "PassesCompleted": {
          "nullable": true,
          "type": "number"
        },
        "PenaltiesConceded": {
          "nullable": true,
          "type": "number"
        },
        "PenaltiesWon": {
          "nullable": true,
          "type": "number"
        },
        "PenaltyKickGoals": {
          "nullable": true,
          "type": "number"
        },
        "PenaltyKickMisses": {
          "nullable": true,
          "type": "number"
        },
        "PenaltyKickSaves": {
          "nullable": true,
          "type": "number"
        },
        "Possession": {
          "nullable": true,
          "type": "number"
        },
        "RedCards": {
          "nullable": true,
          "type": "number"
        },
        "RoundId": {
          "nullable": true,
          "type": "integer"
        },
        "Score": {
          "nullable": true,
          "type": "number"
        },
        "Season": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonType": {
          "nullable": false,
          "type": "integer"
        },
        "Shots": {
          "nullable": true,
          "type": "number"
        },
        "ShotsOnGoal": {
          "nullable": true,
          "type": "number"
        },
        "StatId": {
          "nullable": false,
          "type": "integer"
        },
        "TacklesWon": {
          "nullable": true,
          "type": "number"
        },
        "Team": {
          "nullable": true,
          "type": "string"
        },
        "TeamId": {
          "nullable": true,
          "type": "integer"
        },
        "Touches": {
          "nullable": true,
          "type": "number"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "UpdatedUtc": {
          "nullable": true,
          "type": "string"
        },
        "YellowCards": {
          "nullable": true,
          "type": "number"
        },
        "YellowRedCards": {
          "nullable": true,
          "type": "number"
        }
      }
    },
    "Venue": {
      "properties": {
        "Address": {
          "nullable": true,
          "type": "string"
        },
        "Capacity": {
          "nullable": true,
          "type": "integer"
        },
        "City": {
          "nullable": true,
          "type": "string"
        },
        "Country": {
          "nullable": true,
          "type": "string"
        },
        "GeoLat": {
          "nullable": true,
          "type": "number"
        },
        "GeoLong": {
          "nullable": true,
          "type": "number"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Nickname1": {
          "nullable": true,
          "type": "string"
        },
        "Nickname2": {
          "nullable": true,
          "type": "string"
        },
        "Opened": {
          "nullable": true,
          "type": "integer"
        },
        "Surface": {
          "nullable": true,
          "type": "string"
        },
        "VenueId": {
          "nullable": false,
          "type": "integer"
        },
        "Zip": {
          "nullable": true,
          "type": "string"
        },
        "[Open]": {
          "nullable": false,
          "type": "boolean"
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "subscription-key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "x-components": {}
}