{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "etmdb"
    },
    "description": "The Ethiopian Movie Database",
    "title": "EtMDB REST API v1",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_etmdb_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://etmdb.com/api/docs/endpoints/?format=openapi",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "etmdb.com",
    "x-datafire": {
      "name": "etmdb",
      "type": "openapi"
    }
  },
  "host": "etmdb.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/cinema-detail/search/{cinema_name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "cinema_name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "cinema-detail"
        ],
        "description": "Return cinema details search result\n\n### Response Class (Status 200)\n\n* __{cinema_name}__: Used as a key word to search cinemas,\n\nFor more details on how cinemas are listed [see here][ref].\n[ref]: https://etmdb.com/en/cinema-list/-updated_date",
        "operationId": "cinema-detail_search_read",
        "summary": "Return cinema details search result"
      }
    },
    "/api/v1/cinema-schedule/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "cinema-schedule"
        ],
        "description": "Return cinema schedule search result\n\n### Response Class (Status 200)\n\n* __{movie_title}__: Used as a key word to search movie cast\n* You can use both Amharic or English charset/font to search\n\nFor more details about cinema schedule, check each cinema from the cinema list [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "cinema-schedule_search_read",
        "summary": "Return cinema schedule search result"
      }
    },
    "/api/v1/cinema-schedule/searchall/{param}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "param",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "cinema-schedule"
        ],
        "description": "Return cinema schedule search result\n\n### Response Class (Status 200)\n__{param}__ argument can be\n* movie title\n* cinema name\n* cinema hall name or\n* cinema technology\n\nFor more details about cinema schedule, check each cinema from the cinema list [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "cinema-schedule_searchall_read",
        "summary": "Return cinema schedule search result"
      }
    },
    "/api/v1/cinema-shedule-showtime/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "cinema-shedule-showtime"
        ],
        "description": "Return cinema schedule and showtime search result\n\n### Response Class (Status 200)\n* __{movie_title}__: Used as a key word to search movie cast\n* You can use both Amharic or English charset/font to search\n\nFor more details about cinema schedule showtime, check each cinema from the cinema list [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "cinema-shedule-showtime_search_read",
        "summary": "Return cinema schedule and showtime search result"
      }
    },
    "/api/v1/cinema-shedule-showtime/searchall/{param}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "param",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "cinema-shedule-showtime"
        ],
        "description": "Return cinema schedule and showtime search result\n\n### Response Class (Status 200)\n__{param}__ argument can be\n* movie title\n* cinema name\n* cinema hall name\n* showtime starting date\n* showtime ending date or\n* cinema technology\n\nFor more details about cinema schedule, check each cinema from the cinema list [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "cinema-shedule-showtime_searchall_read",
        "summary": "Return cinema schedule and showtime search result"
      }
    },
    "/api/v1/cinema/search/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "cinema"
        ],
        "description": "Return cinema search result\n\n### Response Class (Status 200)\n\n* __{id}__: Used as a key to search cinemas,\n\nFor more details on how cinemas are listed [see here][ref].\n[ref]: https://etmdb.com/en/cinema-list/-updated_date",
        "operationId": "cinema_search_read",
        "summary": "Return cinema search result"
      }
    },
    "/api/v1/company-credits/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "company-credits"
        ],
        "description": "Return company credits search result\n\n### Response Class (Status 200)\n\n* __{movie_title}__: Used as a key word to search company credits for the movie\n* You can use both Amharic or English charset/font to search\n\nFor more details on how company credits are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "company-credits_search_read",
        "summary": "Return company credits search result"
      }
    },
    "/api/v1/company-credits/searchall/{param}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "param",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "company-credits"
        ],
        "description": "Return company credits search result\n\n### Response Class (Status 200)\n__{param}__ argument can be\n* company name\n* movie title or\n* company credit description (such as production, cinematography, etc)\n\nFor more details on how company credits are listed [see here][ref].\n[ref]: https://etmdb.com/en/company-list/company_name",
        "operationId": "company-credits_searchall_read",
        "summary": "Return company credits search result"
      }
    },
    "/api/v1/company/search/{company_name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "company_name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "company"
        ],
        "description": "Return company search result\n\n### Response Class (Status 200)\n\n* __{company_name}__: Used as a key word to search companies,\n\nFor more details on how companies are listed [see here][ref].\n[ref]: https://etmdb.com/en/company-list/-updated_date",
        "operationId": "company_search_read",
        "summary": "Return company search result"
      }
    },
    "/api/v1/filmography-type/search/{filmography_description}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "filmography_description",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "filmography-type"
        ],
        "description": "Return filmography type search result\n\n### Response Class (Status 200)\n\n* __{filmography_description}__: Used as a key word to search filmography types\n\nFor more details on how filmography types are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "filmography-type_search_read",
        "summary": "Return filmography type search result"
      }
    },
    "/api/v1/filmography/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "filmography"
        ],
        "description": "Return filmography search result\n\n### Response Class (Status 200)\n\n* __{movie_title}__: Used as a key word to search movies\n* You can use both Amharic or English charset/font to search\n\nFor more details on how filmographies are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "filmography_search_read",
        "summary": "Return filmography search result"
      }
    },
    "/api/v1/filmography/searchall/{param}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "param",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "filmography"
        ],
        "description": "Return filmography search result\n\n### Response Class (Status 200)\n__{param}__ argument can be\n* artist first name\n* artist last name\n* artist username\n* movie title or\n* filmography description (such as director, actor, producer, etc)\n\nFor more details on how filmographies are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "filmography_searchall_read",
        "summary": "Return filmography search result"
      }
    },
    "/api/v1/genre-type/search/{genre_description}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "genre_description",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "genre-type"
        ],
        "description": "Return genre type search result\n\n### Response Class (Status 200)\n\n* __{genre_description}__: Used as a key word to search genre types\n\nFor more details on how genre types are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "genre-type_search_read",
        "summary": "Return genre type search result"
      }
    },
    "/api/v1/genre/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "genre"
        ],
        "description": "Return movie genre search result\n\n### Response Class (Status 200)\n\n* __{movie_title}__: Used as a key word to search movie genres\n* You can use both Amharic or English charset/font to search\n\nFor more details on how movies are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "genre_search_read",
        "summary": "Return movie genre search result"
      }
    },
    "/api/v1/genre/searchall/{movie_genre_type}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_genre_type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "genre"
        ],
        "description": "Return movie genre search result\n\n### Response Class (Status 200)\n\n* __{movie_genre_type}__: Used as a key word to search movie genres\n\nFor more details on how movies are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "genre_searchall_read",
        "summary": "Return movie genre search result"
      }
    },
    "/api/v1/job/search/{job_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "job_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "job"
        ],
        "description": "Return job details search result\n\n### Response Class (Status 200)\n\n* __{job_title}__: Used as a key word to search jobs,\n\nFor more details on how job are listed [see here][ref].\n[ref]: https://etmdb.com/en/job-list/-updated_date",
        "operationId": "job_search_read",
        "summary": "Return job details search result"
      }
    },
    "/api/v1/job/searchall/{company_name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "company_name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "job"
        ],
        "description": "Return job details search result\n\n### Response Class (Status 200)\n\n* __{company_name}__: Used as a key word to search jobs,\n\nFor more details on how job are listed [see here][ref].\n[ref]: https://etmdb.com/en/job-list/-updated_date",
        "operationId": "job_searchall_read",
        "summary": "Return job details search result"
      }
    },
    "/api/v1/media/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "media"
        ],
        "description": "Return movie media search result\n\n### Response Class (Status 200)\n\n* __{movie_title}__: Used as a key word to search media for movies\n* You can use both Amharic or English charset/font to search\n\nFor more details on how media is listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "media_search_read",
        "summary": "Return movie media search result"
      }
    },
    "/api/v1/media/searchall/{user}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "media"
        ],
        "description": "Return cast media search result\n\n### Response Class (Status 200)\n__{user}__ argument can be\n* artist first name\n* artist last name\n* artist username\n\nFor more details on how cast media is listed [see here][ref].\n[ref]: https://etmdb.com/en/cast-list/-updated_date",
        "operationId": "media_searchall_read",
        "summary": "Return cast media search result"
      }
    },
    "/api/v1/movie-cast/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "movie-cast"
        ],
        "description": "Return movie cast search result\n\n### Response Class (Status 200)\n\n* __{movie_title}__: Used as a key word to search movie cast\n* You can use both Amharic or English charset/font to search\n\nFor more details on how movie casts are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "movie-cast_search_read",
        "summary": "Return movie cast search result"
      }
    },
    "/api/v1/movie-cast/searchall/{param}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "param",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "movie-cast"
        ],
        "description": "Return movie cast search result\n\n### Response Class (Status 200)\n__{param}__ argument can be\n* artist first name\n* artist last name\n* artist username\n* movie title or\n* character name\n\nFor more details on how movie casts are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "movie-cast_searchall_read",
        "summary": "Return movie cast search result"
      }
    },
    "/api/v1/movie/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "movie"
        ],
        "description": "Return movie search result\n\n### Response Class (Status 200)\n\n* __{movie_title}__: Used as a key word to search movies\n* You can use both Amharic or English charset/font to search\n\nFor more details on how movies are listed [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "movie_search_read",
        "summary": "Return movie search result"
      }
    },
    "/api/v1/news/search/{title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "news"
        ],
        "description": "Return news or article search result\n\n### Response Class (Status 200)\n\n* __{title}__: Used as a key word to search news and articles,\n\nFor more details on how news & articles are listed [see here][ref].\n[ref]: https://etmdb.com/en/news-list/-updated_date",
        "operationId": "news_search_read",
        "summary": "Return news or article search result"
      }
    },
    "/api/v1/people/search/{user}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "people"
        ],
        "description": "Return cast search result\n\n### Response Class (Status 200)\n__{param}__ argument can be\n* artist first name\n* artist last name\n* artist username\n\nFor more details on how cast are listed [see here][ref].\n[ref]: https://etmdb.com/en/cast-list/-updated_date",
        "operationId": "people_search_read",
        "summary": "Return cast search result"
      }
    },
    "/api/v1/showtime/searchall/{param}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "param",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "showtime"
        ],
        "description": "Return showtime search result\n\n### Response Class (Status 200)\n__{param}__ argument can be\n* show time or\n* day of the week [Mon=1, Tue=2, Wed=3, Thu=4, Fri=5, Sat=6, Sun=7]\n\nFor more details about showtime, check each cinema from the cinema list [see here][ref].\n[ref]: https://etmdb.com/en/movie-list/-updated_date",
        "operationId": "showtime_searchall_read",
        "summary": "Return showtime search result"
      }
    },
    "/api/v1/watchlist/search/{movie_title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "movie_title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "watchlist"
        ],
        "description": "Return watchlist search result\n\n### Response Class (Status 200)\n\n* __{movie_title}__: Used as a key word to search movies on watchlist\n* You can use both Amharic or English charset/font to search\n\nFor more details on how watchlist are listed [see here][ref].\n[ref]: https://etmdb.com/en/movies/watchlist/id",
        "operationId": "watchlist_search_read",
        "summary": "Return watchlist search result"
      }
    },
    "/api/v1/watchlist/searchall/{param}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "param",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "watchlist"
        ],
        "description": "Return watchlist search result\n\n### Response Class (Status 200)\n__{param}__ argument can be\n* artist first name\n* artist last name\n* artist username\n* movie title or\n\nFor more details on how watchlist are listed [see here][ref].\n[ref]: https://etmdb.com/en/movies/watchlist/id",
        "operationId": "watchlist_searchall_read",
        "summary": "Return watchlist search result"
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "authorizationUrl": "https://etmdb.com/api/oauth/authorize/",
      "description": "OAuth2.0 Authorization for the EtMDB API",
      "flow": "accessCode",
      "scopes": {
        "admin": "Grants read and write access to administrative information",
        "groups": "Grants access to groups",
        "read": "Grants read access",
        "write": "Grants write access"
      },
      "tokenUrl": "https://etmdb.com/api/oauth/token/",
      "type": "oauth2"
    }
  },
  "x-components": {}
}