{
  "swagger": "2.0",
  "info": {
    "description": "BC Laws is an electronic library providing free public access to the laws of British Columbia. BC Laws is hosted by the Queen's Printer of British Columbia and published in partnership with the Ministry of Justice and the Law Clerk of the Legislative Assembly.BC Laws contains a comprehensive collection of BC legislation and related materials. It is available on the internet in two forms:First: The library is available as a web site in which users can browse and search the laws of British Columbia.Second: The library is available as a portal to legislation in raw XML data format, accessible via the BC Laws API2. This direct access to raw data is intended to enable third parties to build or add their own custom applications based on the structure of the data and all the associated search functionality inherent in that structure. The BC Laws website itself is an example of one such application. \n\nPlease note that you may experience issues when submitting requests to the delivery or test environment if using this [OpenAPI specification](https://github.com/bcgov/api-specs) in other API console viewers.",
    "license": {
      "name": "Queen's Printer License",
      "url": "http://www.bclaws.ca/standards/2014/QP-License_1.0.html"
    },
    "termsOfService": "http://www2.gov.bc.ca/gov/content?id=D1EE0A405E584363B205CD4353E02C88",
    "title": "BC Laws",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.6.2"
        },
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/bcgov/api-specs/master/bclaws/bclaws.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "bclaws.ca",
    "x-serviceName": "bclaws",
    "x-datafire": {
      "name": "bclaws_ca_bclaws",
      "type": "openapi"
    }
  },
  "host": "www.bclaws.ca",
  "basePath": "/civix",
  "schemes": [
    "http"
  ],
  "paths": {
    "/content/{aspectId}": {
      "get": {
        "parameters": [
          {
            "default": "complete",
            "description": "The identifier of the 'aspect' (content group) to search",
            "enum": [
              "complete",
              "corpreg",
              "bcgaz1",
              "bcgaz2",
              "oic",
              "psl",
              "ecb",
              "hscr",
              "arch_oic"
            ],
            "in": "path",
            "name": "aspectId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List documents and directories within the aspect."
          }
        },
        "tags": [
          "content"
        ],
        "summary": "Describes the documents and directories available within a specific 'aspect' (content group) of the BCLaws library"
      }
    },
    "/content/{aspectId}/{civixDocumentId}": {
      "get": {
        "parameters": [
          {
            "default": "complete",
            "description": "The identifier of the 'aspect' (content group) to search",
            "enum": [
              "complete",
              "corpreg",
              "bcgaz1",
              "bcgaz2",
              "oic",
              "psl",
              "ecb",
              "hscr",
              "arch_oic"
            ],
            "in": "path",
            "name": "aspectId",
            "required": true,
            "type": "string"
          },
          {
            "default": "statreg",
            "description": "The document identification code for an index or directory",
            "in": "path",
            "name": "civixDocumentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List documents and directories within the aspect."
          }
        },
        "tags": [
          "content"
        ],
        "summary": "Lists the metadata available for the specified index or directory from the BCLaws legislative respository"
      }
    },
    "/document/id/{aspectId}/{civixIndexId}/{civixDocumentId}": {
      "get": {
        "parameters": [
          {
            "default": "complete",
            "description": "The identifier of the 'aspect' (content group) to search",
            "enum": [
              "complete",
              "corpreg",
              "bcgaz1",
              "bcgaz2",
              "oic",
              "psl",
              "ecb",
              "hscr",
              "arch_oic"
            ],
            "in": "path",
            "name": "aspectId",
            "required": true,
            "type": "string"
          },
          {
            "default": "statreg",
            "description": "Index identification code",
            "in": "path",
            "name": "civixIndexId",
            "required": true,
            "type": "string"
          },
          {
            "default": "01009_01",
            "description": "The document identification code for an index or directory",
            "in": "path",
            "name": "civixDocumentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List documents and directories within the aspect."
          }
        },
        "tags": [
          "document"
        ],
        "description": "The /document API allows you to retrieve actual documents from the BCLaws legislative repository. To retrieve a document from the repository you need the aspect identifier and two other specific pieces of information about the document: the index identifier and the document identifier. These unique identifiers can be retrieved from the /content API.",
        "summary": "Retrieves a specific document from the BCLaws legislative repository (HTML format)"
      }
    },
    "/document/id/{aspectId}/{civixIndexId}/{civixDocumentId}/search/{searchString}": {
      "get": {
        "parameters": [
          {
            "default": "complete",
            "description": "The identifier of the 'aspect' (content group) to search",
            "enum": [
              "complete",
              "corpreg",
              "bcgaz1",
              "bcgaz2",
              "oic",
              "psl",
              "ecb",
              "hscr",
              "arch_oic"
            ],
            "in": "path",
            "name": "aspectId",
            "required": true,
            "type": "string"
          },
          {
            "default": "statreg",
            "description": "Index identification code",
            "in": "path",
            "name": "civixIndexId",
            "required": true,
            "type": "string"
          },
          {
            "default": "01009_01",
            "description": "The document identification code for an index or directory",
            "in": "path",
            "name": "civixDocumentId",
            "required": true,
            "type": "string"
          },
          {
            "default": "water",
            "description": "The text to search for within the document",
            "in": "path",
            "name": "searchString",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List documents and directories within the aspect."
          }
        },
        "tags": [
          "document"
        ],
        "description": "The /document API allows you to retrieve actual documents from the BCLaws legislative repository. To retrieve a document from the repository you need the aspect identifier and two other specific pieces of information about the document: the index identifier and the document identifier. These unique identifiers can be retrieved from the /content API.",
        "summary": "Retrieves a specific document from the BCLaws legislative repository with search text highlighted (HTML format)"
      }
    },
    "/document/id/{aspectId}/{civixIndexId}/{civixDocumentId}/xml": {
      "get": {
        "parameters": [
          {
            "default": "complete",
            "description": "The identifier of the 'aspect' (content group) to search",
            "enum": [
              "complete",
              "corpreg",
              "bcgaz1",
              "bcgaz2",
              "oic",
              "psl",
              "ecb",
              "hscr",
              "arch_oic"
            ],
            "in": "path",
            "name": "aspectId",
            "required": true,
            "type": "string"
          },
          {
            "default": "statreg",
            "description": "Index identification code",
            "in": "path",
            "name": "civixIndexId",
            "required": true,
            "type": "string"
          },
          {
            "default": "01009_01",
            "description": "The document identification code for an index or directory",
            "in": "path",
            "name": "civixDocumentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List documents and directories within the aspect."
          }
        },
        "tags": [
          "document"
        ],
        "description": "The /document API allows you to retrieve actual documents from the BCLaws legislative repository. To retrieve a document from the repository you need the aspect identifier and two other specific pieces of information about the document: the index identifier and the document identifier. These unique identifiers can be retrieved from the /content API.",
        "summary": "Retrieves a specific document from the BCLaws legislative repository (XML format)"
      }
    },
    "/document/id/{aspectId}/{civixIndexId}/{civixDocumentId}/xml/search/{searchString}": {
      "get": {
        "parameters": [
          {
            "default": "complete",
            "description": "The identifier of the 'aspect' (content group) to search",
            "enum": [
              "complete",
              "corpreg",
              "bcgaz1",
              "bcgaz2",
              "oic",
              "psl",
              "ecb",
              "hscr",
              "arch_oic"
            ],
            "in": "path",
            "name": "aspectId",
            "required": true,
            "type": "string"
          },
          {
            "default": "statreg",
            "description": "Index identification code",
            "in": "path",
            "name": "civixIndexId",
            "required": true,
            "type": "string"
          },
          {
            "default": "01009_01",
            "description": "The document identification code for an index or directory",
            "in": "path",
            "name": "civixDocumentId",
            "required": true,
            "type": "string"
          },
          {
            "default": "water",
            "description": "The text to search for within the document",
            "in": "path",
            "name": "searchString",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List documents and directories within the aspect."
          }
        },
        "tags": [
          "document"
        ],
        "description": "The /document API allows you to retrieve actual documents from the BCLaws legislative repository. To retrieve a document from the repository you need the aspect identifier and two other specific pieces of information about the document: the index identifier and the document identifier. These unique identifiers can be retrieved from the /content API.",
        "summary": "Retrieves a specific document from the BCLaws legislative repository with search text highlighted (XML format)"
      }
    },
    "/search/{aspectId}/fullsearch": {
      "get": {
        "parameters": [
          {
            "default": "complete",
            "description": "The identifier of the 'aspect' (content group) to search",
            "enum": [
              "complete",
              "corpreg",
              "bcgaz1",
              "bcgaz2",
              "oic",
              "psl",
              "ecb",
              "hscr",
              "arch_oic"
            ],
            "in": "path",
            "name": "aspectId",
            "required": true,
            "type": "string"
          },
          {
            "default": "water",
            "description": "query term",
            "in": "query",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "default": "0",
            "description": "first hit (start index)",
            "in": "query",
            "name": "s",
            "required": true,
            "type": "string"
          },
          {
            "default": 20,
            "description": "last hit (end index)",
            "in": "query",
            "name": "e",
            "required": true,
            "type": "integer"
          },
          {
            "default": 5,
            "description": "number of fragment snippets to return (< 10)",
            "in": "query",
            "name": "nFrag",
            "required": true,
            "type": "integer"
          },
          {
            "default": 100,
            "description": "length of fragment snippets (< 200)",
            "in": "query",
            "name": "lFrag",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of metadata available for the specified aspect and search term"
          }
        },
        "tags": [
          "search"
        ],
        "summary": "A listing of metadata available for the specified aspect and search term from the BCLaws legislative repository"
      }
    }
  },
  "definitions": {},
  "tags": [
    {
      "name": "content"
    },
    {
      "name": "document"
    },
    {
      "name": "search"
    }
  ],
  "externalDocs": {
    "description": "Additional API Documentation",
    "url": "ttp://www.bclaws.ca/civix/template/complete/api/index.html"
  },
  "x-components": {}
}