{
  "swagger": "2.0",
  "schemes": [
    "http"
  ],
  "host": "www.hackathonwatch.com",
  "basePath": "/api/",
  "info": {
    "contact": {
      "x-twitter": "Hackathonwatch"
    },
    "title": "HackathonWatch",
    "version": "0.1",
    "x-apisguru-categories": [
      "social"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_Hackathonwatch_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.6.2"
        },
        "format": "swagger",
        "url": "http://www.hackathonwatch.com/api/swagger_doc",
        "version": "1.2"
      }
    ],
    "x-preferred": true,
    "x-providerName": "hackathonwatch.com",
    "x-datafire": {
      "name": "hackathonwatch",
      "type": "openapi"
    }
  },
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "description": "Operations about hackathons",
      "name": "hackathons"
    },
    {
      "description": "Operations about swagger_docs",
      "name": "swagger_doc"
    }
  ],
  "paths": {
    "/hackathons/coming.json": {
      "get": {
        "operationId": "hackathons.coming.json.get",
        "parameters": [
          {
            "default": 1,
            "description": "Specify the page of coming hackathons.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return a list of coming hackathons",
        "tags": [
          "hackathons"
        ]
      }
    },
    "/hackathons/{id}.json": {
      "get": {
        "operationId": "hackathons.id.json.get",
        "parameters": [
          {
            "description": "ID of the hackathon for detail information",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return the detail of a given hackathon",
        "tags": [
          "hackathons"
        ]
      }
    },
    "/swagger_doc.json": {
      "get": {
        "operationId": "swagger_doc.json.get",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Swagger compatible API description",
        "tags": [
          "swagger_doc"
        ]
      }
    },
    "/swagger_doc/{name}.json": {
      "get": {
        "operationId": "swagger_doc.name.json.get",
        "parameters": [
          {
            "description": "Resource name of mounted API",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Swagger compatible API description for specific API",
        "tags": [
          "swagger_doc"
        ]
      }
    }
  }
}