{
  "swagger": "2.0",
  "info": {
    "description": "Below is the documentation for the API calls. You can try them out right here. \n",
    "title": "Fun Generators API",
    "version": "1.5",
    "x-apisguru-categories": [
      "text"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://fungenerators.com/yaml/riddle.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "fungenerators.com",
    "x-serviceName": "riddle",
    "x-datafire": {
      "name": "fungenerators_riddle",
      "type": "openapi"
    }
  },
  "host": "api.fungenerators.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/riddle": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Riddle ID",
            "format": "string",
            "in": "query",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Private Riddles"
        ],
        "description": "Create a random Riddle entry."
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the riddle to fetch",
            "format": "string",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Private Riddles"
        ],
        "description": "Get a Riddle entry for a given id. Retrieves a riddle question and answer based on the id."
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Riddle Question",
            "format": "string",
            "in": "query",
            "name": "question",
            "required": true,
            "type": "string"
          },
          {
            "description": "Category of the riddle",
            "format": "string",
            "in": "query",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "Answer(s) to the riddle question",
            "format": "string",
            "in": "query",
            "name": "answer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Private Riddles"
        ],
        "description": "Create a random Riddle entry. Same as 'PUT' but can be used when some of the client libraries don't support 'PUT'."
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Riddle Question",
            "format": "string",
            "in": "query",
            "name": "question",
            "required": true,
            "type": "string"
          },
          {
            "description": "Category of the riddle",
            "format": "string",
            "in": "query",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "Answer(s) to the riddle question",
            "format": "string",
            "in": "query",
            "name": "answer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Private Riddles"
        ],
        "description": "Create a random Riddle entry."
      }
    },
    "/riddle/random": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Category to get the riddle from",
            "format": "string",
            "in": "query",
            "name": "category",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Random Riddle"
        ],
        "description": "Get a random riddle for a given category(optional)"
      }
    },
    "/riddle/search": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Text to search for in the riddle",
            "format": "string",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "Category to get the riddle from",
            "format": "string",
            "in": "query",
            "name": "category",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Random Riddle"
        ],
        "description": "Search for random riddle which has the text in the query, for a given category(optional)."
      }
    }
  },
  "securityDefinitions": {
    "X-Fungenerators-Api-Secret": {
      "in": "header",
      "name": "X-Fungenerators-Api-Secret",
      "type": "apiKey"
    }
  },
  "tags": [
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "http://fungenerators.com/api/riddle"
      },
      "description": "Generate Random Riddles",
      "name": "Random Riddle"
    },
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "http://fungenerators.com/api/riddle"
      },
      "description": "Store and Retrive your Riddles",
      "name": "Private Riddles"
    }
  ],
  "x-components": {}
}