{
  "swagger": "2.0",
  "basePath": "/",
  "paths": {
    "/rss/cnn_topstories.rss": {
      "get": {
        "operationId": "topStories",
        "description": "CNN.com delivers up-to-the-minute news and information on the latest top stories, weather, entertainment, politics and more.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "CNN.com - RSS Channel - HP Other"
      }
    },
    "/rss/cnn_world.rss": {
      "get": {
        "operationId": "world",
        "description": "CNN.com delivers up-to-the-minute news and information on the latest top stories, weather, entertainment, politics and more.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "CNN.com - RSS Channel - World"
      }
    },
    "/rss/cnn_allpolitics.rss": {
      "get": {
        "operationId": "politics",
        "description": "CNN.com delivers up-to-the-minute news and information on the latest top stories, weather, entertainment, politics and more.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "CNN.com - RSS Channel - Politics"
      }
    },
    "/rss/money_latest.rss": {
      "get": {
        "operationId": "business",
        "description": "CNNMoney.com, the business website of CNN, combines business news and in-depth market analysis with practical advice and answers to personal finance questions.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "Latest financial news - CNNMoney.com"
      }
    }
  },
  "definitions": {
    "Feed": {
      "type": "object",
      "properties": {
        "feed": {
          "type": "object",
          "properties": {
            "link": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "feedUrl": {
              "type": "string"
            },
            "entries": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "pubDate": {
                    "type": "string"
                  },
                  "author": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "contentSnippet": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "info": {
    "x-datafire": {
      "name": "cnn_rss",
      "type": "rss"
    }
  },
  "host": "rss.cnn.com",
  "schemes": [
    "http"
  ]
}