{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "NHL play-by-play API.",
    "title": "NHL v3 Play-by-Play",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nhl-v3-play-by-play.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nhl-v3-play-by-play",
    "x-datafire": {
      "name": "sportsdata_nhl_v3_play_by_play",
      "type": "openapi"
    }
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/nhl/pbp",
  "schemes": [
    "http"
  ],
  "paths": {
    "/{format}/PlayByPlay/{gameid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "XML",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "XML",
              "JSON"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>",
            "in": "path",
            "name": "gameid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PlayByPlay"
            }
          }
        },
        "operationId": "PlayByPlay",
        "summary": "Play By Play"
      }
    },
    "/{format}/PlayByPlayDelta/{date}/{minutes}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "XML",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "XML",
              "JSON"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          },
          {
            "description": "Only returns plays that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:\n<code>1</code>, <code>2</code> ... <code>all</code>.",
            "in": "path",
            "name": "minutes",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/PlayByPlay"
              },
              "type": "array"
            }
          }
        },
        "operationId": "PlayByPlayDelta",
        "summary": "Play By Play Delta"
      }
    }
  },
  "definitions": {
    "Game": {
      "properties": {
        "Attendance": {
          "nullable": true,
          "type": "integer"
        },
        "AwayRotationNumber": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeam": {
          "nullable": true,
          "type": "string"
        },
        "AwayTeamID": {
          "nullable": false,
          "type": "integer"
        },
        "AwayTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "Channel": {
          "nullable": true,
          "type": "string"
        },
        "DateTime": {
          "nullable": true,
          "type": "string"
        },
        "Day": {
          "nullable": true,
          "type": "string"
        },
        "GameEndDateTime": {
          "nullable": true,
          "type": "string"
        },
        "GameID": {
          "nullable": false,
          "type": "integer"
        },
        "GlobalAwayTeamID": {
          "nullable": false,
          "type": "integer"
        },
        "GlobalGameID": {
          "nullable": false,
          "type": "integer"
        },
        "GlobalHomeTeamID": {
          "nullable": false,
          "type": "integer"
        },
        "HomeRotationNumber": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeam": {
          "nullable": true,
          "type": "string"
        },
        "HomeTeamID": {
          "nullable": false,
          "type": "integer"
        },
        "HomeTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "IsClosed": {
          "nullable": true,
          "type": "boolean"
        },
        "LastPlay": {
          "nullable": true,
          "type": "string"
        },
        "NeutralVenue": {
          "nullable": true,
          "type": "boolean"
        },
        "OverUnder": {
          "nullable": true,
          "type": "number"
        },
        "Period": {
          "nullable": true,
          "type": "string"
        },
        "Periods": {
          "items": {
            "$ref": "#/definitions/Period"
          },
          "type": "array"
        },
        "PointSpread": {
          "nullable": true,
          "type": "number"
        },
        "PointSpreadAwayTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "PointSpreadHomeTeamMoneyLine": {
          "nullable": true,
          "type": "integer"
        },
        "Season": {
          "nullable": false,
          "type": "integer"
        },
        "SeasonType": {
          "nullable": false,
          "type": "integer"
        },
        "StadiumID": {
          "nullable": true,
          "type": "integer"
        },
        "Status": {
          "nullable": true,
          "type": "string"
        },
        "TimeRemainingMinutes": {
          "nullable": true,
          "type": "integer"
        },
        "TimeRemainingSeconds": {
          "nullable": true,
          "type": "integer"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "Penalty": {
      "properties": {
        "BenchPenaltyServedByPlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "Description": {
          "nullable": true,
          "type": "string"
        },
        "DrawnByPlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "DrawnByTeamID": {
          "nullable": true,
          "type": "integer"
        },
        "IsBenchPenalty": {
          "nullable": true,
          "type": "boolean"
        },
        "PenalizedPlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "PenalizedTeamID": {
          "nullable": true,
          "type": "integer"
        },
        "PenaltyID": {
          "nullable": false,
          "type": "integer"
        },
        "PenaltyMinutes": {
          "nullable": true,
          "type": "integer"
        },
        "PeriodID": {
          "nullable": false,
          "type": "integer"
        },
        "Sequence": {
          "nullable": true,
          "type": "integer"
        },
        "TimeRemainingMinutes": {
          "nullable": true,
          "type": "integer"
        },
        "TimeRemainingSeconds": {
          "nullable": true,
          "type": "integer"
        }
      }
    },
    "Period": {
      "properties": {
        "AwayScore": {
          "nullable": true,
          "type": "integer"
        },
        "GameID": {
          "nullable": false,
          "type": "integer"
        },
        "HomeScore": {
          "nullable": true,
          "type": "integer"
        },
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "Penalties": {
          "items": {
            "$ref": "#/definitions/Penalty"
          },
          "type": "array"
        },
        "PeriodID": {
          "nullable": false,
          "type": "integer"
        },
        "ScoringPlays": {
          "items": {
            "$ref": "#/definitions/ScoringPlay"
          },
          "type": "array"
        }
      }
    },
    "Play": {
      "properties": {
        "AwayTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "Category": {
          "nullable": true,
          "type": "string"
        },
        "ClockMinutes": {
          "nullable": true,
          "type": "integer"
        },
        "ClockSeconds": {
          "nullable": true,
          "type": "integer"
        },
        "Created": {
          "nullable": true,
          "type": "string"
        },
        "Description": {
          "nullable": true,
          "type": "string"
        },
        "FirstAssistedByPlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "HomeTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "Opponent": {
          "nullable": true,
          "type": "string"
        },
        "OpponentID": {
          "nullable": true,
          "type": "integer"
        },
        "OpposingPlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "PeriodID": {
          "nullable": false,
          "type": "integer"
        },
        "PeriodName": {
          "nullable": true,
          "type": "string"
        },
        "PlayID": {
          "nullable": false,
          "type": "integer"
        },
        "PlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "PowerPlayTeam": {
          "nullable": true,
          "type": "string"
        },
        "PowerPlayTeamID": {
          "nullable": true,
          "type": "integer"
        },
        "SecondAssistedByPlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "Sequence": {
          "nullable": false,
          "type": "integer"
        },
        "Team": {
          "nullable": true,
          "type": "string"
        },
        "TeamID": {
          "nullable": true,
          "type": "integer"
        },
        "Type": {
          "nullable": true,
          "type": "string"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "PlayByPlay": {
      "properties": {
        "Game": {
          "$ref": "#/definitions/Game"
        },
        "Plays": {
          "items": {
            "$ref": "#/definitions/Play"
          },
          "type": "array"
        }
      }
    },
    "ScoringPlay": {
      "properties": {
        "AllowedByTeamID": {
          "nullable": true,
          "type": "integer"
        },
        "AssistedByPlayerID1": {
          "nullable": true,
          "type": "integer"
        },
        "AssistedByPlayerID2": {
          "nullable": true,
          "type": "integer"
        },
        "AwayTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "EmptyNet": {
          "nullable": true,
          "type": "boolean"
        },
        "HomeTeamScore": {
          "nullable": true,
          "type": "integer"
        },
        "PeriodID": {
          "nullable": false,
          "type": "integer"
        },
        "PowerPlay": {
          "nullable": true,
          "type": "boolean"
        },
        "ScoredByPlayerID": {
          "nullable": true,
          "type": "integer"
        },
        "ScoredByTeamID": {
          "nullable": true,
          "type": "integer"
        },
        "ScoringPlayID": {
          "nullable": false,
          "type": "integer"
        },
        "Sequence": {
          "nullable": true,
          "type": "integer"
        },
        "ShortHanded": {
          "nullable": true,
          "type": "boolean"
        },
        "TimeRemainingMinutes": {
          "nullable": true,
          "type": "integer"
        },
        "TimeRemainingSeconds": {
          "nullable": true,
          "type": "integer"
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "subscription-key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "x-components": {}
}