{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>Welcome to the Amazon AppFlow API reference. This guide is for developers who need detailed information about the Amazon AppFlow API operations, data types, and errors. </p> <p>Amazon AppFlow is a fully managed integration service that enables you to securely transfer data between software as a service (SaaS) applications like Salesforce, Marketo, Slack, and ServiceNow, and AWS services like Amazon S3 and Amazon Redshift. </p> <p>Use the following links to get started on the Amazon AppFlow API:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/API_Operations.html\">Actions</a>: An alphabetical list of all Amazon AppFlow API operations.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/API_Types.html\">Data types</a>: An alphabetical list of all Amazon AppFlow data types.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/CommonParameters.html\">Common parameters</a>: Parameters that all Query operations can use.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/CommonErrors.html\">Common errors</a>: Client and server errors that all operations can return.</p> </li> </ul> <p>If you're new to Amazon AppFlow, we recommend that you review the <a href=\"https://docs.aws.amazon.com/appflow/latest/userguide/what-is-appflow.html\">Amazon AppFlow User Guide</a>.</p> <p>Amazon AppFlow API users can use vendor-specific mechanisms for OAuth, and include applicable OAuth attributes (such as <code>auth-code</code> and <code>redirecturi</code>) with the connector-specific <code>ConnectorProfileProperties</code> when creating a new connector profile using Amazon AppFlow API operations. For example, Salesforce users can refer to the <a href=\"https://help.salesforce.com/articleView?id=remoteaccess_authenticate.htm\"> <i>Authorize Apps with OAuth</i> </a> documentation.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Appflow",
    "version": "2020-08-23",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appflow-2020-08-23.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "appflow",
    "x-datafire": {
      "name": "amazonaws_appflow",
      "type": "openapi"
    }
  },
  "host": "appflow.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/create-connector-profile": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectionMode": {
                  "description": " Indicates the connection mode and specifies whether it is public or private. Private flows use AWS PrivateLink to route data over AWS infrastructure without exposing it to the public internet. ",
                  "enum": [
                    "Public",
                    "Private"
                  ],
                  "type": "string"
                },
                "connectorProfileConfig": {
                  "description": " Defines the connector-specific configuration and credentials for the connector profile. ",
                  "properties": {
                    "connectorProfileCredentials": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConnectorProfileCredentials"
                        },
                        {
                          "description": " The connector-specific credentials required by each connector. "
                        }
                      ]
                    },
                    "connectorProfileProperties": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConnectorProfileProperties"
                        },
                        {
                          "description": " The connector-specific properties of the profile configuration. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "connectorProfileName": {
                  "description": " The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in your AWS account. ",
                  "maxLength": 256,
                  "pattern": "[\\w/!@#+=.-]+",
                  "type": "string"
                },
                "connectorType": {
                  "description": " The type of connector, such as Salesforce, Amplitude, and so on. ",
                  "enum": [
                    "Salesforce",
                    "Singular",
                    "Slack",
                    "Redshift",
                    "S3",
                    "Marketo",
                    "Googleanalytics",
                    "Zendesk",
                    "Servicenow",
                    "Datadog",
                    "Trendmicro",
                    "Snowflake",
                    "Dynatrace",
                    "Infornexus",
                    "Amplitude",
                    "Veeva",
                    "EventBridge",
                    "Upsolver"
                  ],
                  "type": "string"
                },
                "kmsArn": {
                  "description": " The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. ",
                  "maxLength": 2048,
                  "minLength": 20,
                  "pattern": "arn:aws:kms:.*:[0-9]+:.*",
                  "type": "string"
                }
              },
              "required": [
                "connectorProfileName",
                "connectorType",
                "connectionMode",
                "connectorProfileConfig"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateConnectorProfileResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "482": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          },
          "483": {
            "description": "ConnectorAuthenticationException",
            "schema": {
              "$ref": "#/definitions/ConnectorAuthenticationException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Creates a new connector profile associated with your AWS account. There is a soft quota of 100 connector profiles per AWS account. If you need more connector profiles than this quota allows, you can submit a request to the Amazon AppFlow team through the Amazon AppFlow support channel. ",
        "operationId": "CreateConnectorProfile"
      }
    },
    "/create-flow": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": " The tags used to organize, track, or control access for your flow. ",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                },
                "description": {
                  "description": " A description of the flow you want to create. ",
                  "maxLength": 2048,
                  "pattern": "[\\w!@#\\-.?,\\s]*",
                  "type": "string"
                },
                "destinationFlowConfigList": {
                  "description": " The configuration that controls how Amazon AppFlow places data in the destination connector. ",
                  "items": {
                    "$ref": "#/definitions/DestinationFlowConfig"
                  },
                  "type": "array"
                },
                "flowName": {
                  "description": " The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. ",
                  "maxLength": 256,
                  "pattern": "[a-zA-Z0-9][\\w!@#.-]+",
                  "type": "string"
                },
                "kmsArn": {
                  "description": " The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. ",
                  "maxLength": 2048,
                  "minLength": 20,
                  "pattern": "arn:aws:kms:.*:[0-9]+:.*",
                  "type": "string"
                },
                "sourceFlowConfig": {
                  "description": " Contains information about the configuration of the source connector used in the flow. ",
                  "properties": {
                    "connectorProfileName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConnectorProfileName"
                        },
                        {
                          "description": " The name of the connector profile. This name must be unique for each connector profile in the AWS account. "
                        }
                      ]
                    },
                    "connectorType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConnectorType"
                        },
                        {
                          "description": " The type of connector, such as Salesforce, Amplitude, and so on. "
                        }
                      ]
                    },
                    "incrementalPullConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IncrementalPullConfig"
                        },
                        {
                          "description": " Defines the configuration for a scheduled incremental data pull. If a valid configuration is provided, the fields specified in the configuration are used when querying for the incremental data pull. "
                        }
                      ]
                    },
                    "sourceConnectorProperties": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SourceConnectorProperties"
                        },
                        {
                          "description": " Specifies the information that is required to query a particular source connector. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "tasks": {
                  "description": " A list of tasks that Amazon AppFlow performs while transferring the data in the flow run. ",
                  "items": {
                    "$ref": "#/definitions/Task"
                  },
                  "type": "array"
                },
                "triggerConfig": {
                  "description": " The trigger settings that determine how and when Amazon AppFlow runs the specified flow. ",
                  "properties": {
                    "triggerProperties": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TriggerProperties"
                        },
                        {
                          "description": " Specifies the configuration details of a schedule-triggered flow as defined by the user. Currently, these settings only apply to the <code>Scheduled</code> trigger type. "
                        }
                      ]
                    },
                    "triggerType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TriggerType"
                        },
                        {
                          "description": " Specifies the type of flow trigger. This can be <code>OnDemand</code>, <code>Scheduled</code>, or <code>Event</code>. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "flowName",
                "triggerConfig",
                "sourceFlowConfig",
                "destinationFlowConfigList",
                "tasks"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateFlowResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "ConnectorAuthenticationException",
            "schema": {
              "$ref": "#/definitions/ConnectorAuthenticationException"
            }
          },
          "486": {
            "description": "ConnectorServerException",
            "schema": {
              "$ref": "#/definitions/ConnectorServerException"
            }
          }
        },
        "description": " Enables your application to create a new flow using Amazon AppFlow. You must create a connector profile before calling this API. Please note that the Request Syntax below shows syntax for multiple destinations, however, you can only transfer data to one item in this list at a time. Amazon AppFlow does not currently support flows to multiple destinations at once. ",
        "operationId": "CreateFlow"
      }
    },
    "/delete-connector-profile": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectorProfileName": {
                  "description": " The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in your account. ",
                  "maxLength": 256,
                  "pattern": "[\\w/!@#+=.-]+",
                  "type": "string"
                },
                "forceDelete": {
                  "description": " Indicates whether Amazon AppFlow should delete the profile, even if it is currently in use in one or more flows. ",
                  "type": "boolean"
                }
              },
              "required": [
                "connectorProfileName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteConnectorProfileResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Enables you to delete an existing connector profile. ",
        "operationId": "DeleteConnectorProfile"
      }
    },
    "/delete-flow": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "flowName": {
                  "description": " The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. ",
                  "maxLength": 256,
                  "pattern": "[a-zA-Z0-9][\\w!@#.-]+",
                  "type": "string"
                },
                "forceDelete": {
                  "description": " Indicates whether Amazon AppFlow should delete the flow, even if it is currently in use. ",
                  "type": "boolean"
                }
              },
              "required": [
                "flowName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteFlowResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Enables your application to delete an existing flow. Before deleting the flow, Amazon AppFlow validates the request by checking the flow configuration and status. You can delete flows one at a time. ",
        "operationId": "DeleteFlow"
      }
    },
    "/describe-connector-entity": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectorEntityName": {
                  "description": " The entity name for that connector. ",
                  "maxLength": 128,
                  "pattern": "\\S+",
                  "type": "string"
                },
                "connectorProfileName": {
                  "description": " The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the AWS account. ",
                  "maxLength": 256,
                  "pattern": "[\\w/!@#+=.-]+",
                  "type": "string"
                },
                "connectorType": {
                  "description": " The type of connector application, such as Salesforce, Amplitude, and so on. ",
                  "enum": [
                    "Salesforce",
                    "Singular",
                    "Slack",
                    "Redshift",
                    "S3",
                    "Marketo",
                    "Googleanalytics",
                    "Zendesk",
                    "Servicenow",
                    "Datadog",
                    "Trendmicro",
                    "Snowflake",
                    "Dynatrace",
                    "Infornexus",
                    "Amplitude",
                    "Veeva",
                    "EventBridge",
                    "Upsolver"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "connectorEntityName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeConnectorEntityResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ConnectorAuthenticationException",
            "schema": {
              "$ref": "#/definitions/ConnectorAuthenticationException"
            }
          },
          "483": {
            "description": "ConnectorServerException",
            "schema": {
              "$ref": "#/definitions/ConnectorServerException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Provides details regarding the entity used with the connector, with a description of the data model for each entity. ",
        "operationId": "DescribeConnectorEntity"
      }
    },
    "/describe-connector-profiles": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectorProfileNames": {
                  "description": " The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the AWS account. ",
                  "items": {
                    "$ref": "#/definitions/ConnectorProfileName"
                  },
                  "maxItems": 100,
                  "minItems": 0,
                  "type": "array"
                },
                "connectorType": {
                  "description": " The type of connector, such as Salesforce, Amplitude, and so on. ",
                  "enum": [
                    "Salesforce",
                    "Singular",
                    "Slack",
                    "Redshift",
                    "S3",
                    "Marketo",
                    "Googleanalytics",
                    "Zendesk",
                    "Servicenow",
                    "Datadog",
                    "Trendmicro",
                    "Snowflake",
                    "Dynatrace",
                    "Infornexus",
                    "Amplitude",
                    "Veeva",
                    "EventBridge",
                    "Upsolver"
                  ],
                  "type": "string"
                },
                "maxResults": {
                  "description": " Specifies the maximum number of items that should be returned in the result set. The default for <code>maxResults</code> is 20 (for all paginated API operations). ",
                  "maximum": 100,
                  "minimum": 1,
                  "type": "integer"
                },
                "nextToken": {
                  "description": " The pagination token for the next page of data. ",
                  "maxLength": 2048,
                  "pattern": "\\S+",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeConnectorProfilesResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": "<p> Returns a list of <code>connector-profile</code> details matching the provided <code>connector-profile</code> names and <code>connector-types</code>. Both input lists are optional, and you can use them to filter the result. </p> <p>If no names or <code>connector-types</code> are provided, returns all connector profiles in a paginated form. If there is no match, this operation returns an empty list.</p>",
        "operationId": "DescribeConnectorProfiles"
      }
    },
    "/describe-connectors": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectorTypes": {
                  "description": " The type of connector, such as Salesforce, Amplitude, and so on. ",
                  "items": {
                    "$ref": "#/definitions/ConnectorType"
                  },
                  "maxItems": 100,
                  "minItems": 0,
                  "type": "array"
                },
                "nextToken": {
                  "description": " The pagination token for the next page of data. ",
                  "maxLength": 2048,
                  "pattern": "\\S+",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeConnectorsResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Describes the connectors vended by Amazon AppFlow for specified connector types. If you don't specify a connector type, this operation describes all connectors vended by Amazon AppFlow. If there are more connectors than can be returned in one page, the response contains a <code>nextToken</code> object, which can be be passed in to the next call to the <code>DescribeConnectors</code> API operation to retrieve the next page. ",
        "operationId": "DescribeConnectors"
      }
    },
    "/describe-flow": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "flowName": {
                  "description": " The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. ",
                  "maxLength": 256,
                  "pattern": "[a-zA-Z0-9][\\w!@#.-]+",
                  "type": "string"
                }
              },
              "required": [
                "flowName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeFlowResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Provides a description of the specified flow. ",
        "operationId": "DescribeFlow"
      }
    },
    "/describe-flow-execution-records": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "flowName": {
                  "description": " The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. ",
                  "maxLength": 256,
                  "pattern": "[a-zA-Z0-9][\\w!@#.-]+",
                  "type": "string"
                },
                "maxResults": {
                  "description": " Specifies the maximum number of items that should be returned in the result set. The default for <code>maxResults</code> is 20 (for all paginated API operations). ",
                  "maximum": 100,
                  "minimum": 1,
                  "type": "integer"
                },
                "nextToken": {
                  "description": " The pagination token for the next page of data. ",
                  "maxLength": 2048,
                  "pattern": "\\S+",
                  "type": "string"
                }
              },
              "required": [
                "flowName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeFlowExecutionRecordsResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Fetches the execution history of the flow. ",
        "operationId": "DescribeFlowExecutionRecords"
      }
    },
    "/list-connector-entities": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectorProfileName": {
                  "description": " The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the AWS account, and is used to query the downstream connector. ",
                  "maxLength": 256,
                  "pattern": "[\\w/!@#+=.-]+",
                  "type": "string"
                },
                "connectorType": {
                  "description": " The type of connector, such as Salesforce, Amplitude, and so on. ",
                  "enum": [
                    "Salesforce",
                    "Singular",
                    "Slack",
                    "Redshift",
                    "S3",
                    "Marketo",
                    "Googleanalytics",
                    "Zendesk",
                    "Servicenow",
                    "Datadog",
                    "Trendmicro",
                    "Snowflake",
                    "Dynatrace",
                    "Infornexus",
                    "Amplitude",
                    "Veeva",
                    "EventBridge",
                    "Upsolver"
                  ],
                  "type": "string"
                },
                "entitiesPath": {
                  "description": " This optional parameter is specific to connector implementation. Some connectors support multiple levels or categories of entities. You can find out the list of roots for such providers by sending a request without the <code>entitiesPath</code> parameter. If the connector supports entities at different roots, this initial request returns the list of roots. Otherwise, this request returns all entities supported by the provider. ",
                  "maxLength": 256,
                  "pattern": "[\\s\\w/!@#+=.-]*",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListConnectorEntitiesResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ConnectorAuthenticationException",
            "schema": {
              "$ref": "#/definitions/ConnectorAuthenticationException"
            }
          },
          "483": {
            "description": "ConnectorServerException",
            "schema": {
              "$ref": "#/definitions/ConnectorServerException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Returns the list of available connector entities supported by Amazon AppFlow. For example, you can query Salesforce for <i>Account</i> and <i>Opportunity</i> entities, or query ServiceNow for the <i>Incident</i> entity. ",
        "operationId": "ListConnectorEntities"
      }
    },
    "/list-flows": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "maxResults": {
                  "description": " Specifies the maximum number of items that should be returned in the result set. ",
                  "maximum": 100,
                  "minimum": 1,
                  "type": "integer"
                },
                "nextToken": {
                  "description": " The pagination token for next page of data. ",
                  "maxLength": 2048,
                  "pattern": "\\S+",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListFlowsResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Lists all of the flows associated with your account. ",
        "operationId": "ListFlows"
      }
    },
    "/start-flow": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "flowName": {
                  "description": " The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. ",
                  "maxLength": 256,
                  "pattern": "[a-zA-Z0-9][\\w!@#.-]+",
                  "type": "string"
                }
              },
              "required": [
                "flowName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartFlowResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": " Activates an existing flow. For on-demand flows, this operation runs the flow immediately. For schedule and event-triggered flows, this operation activates the flow. ",
        "operationId": "StartFlow"
      }
    },
    "/stop-flow": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "flowName": {
                  "description": " The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. ",
                  "maxLength": 256,
                  "pattern": "[a-zA-Z0-9][\\w!@#.-]+",
                  "type": "string"
                }
              },
              "required": [
                "flowName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopFlowResponse"
            }
          },
          "480": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "UnsupportedOperationException",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperationException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Deactivates the existing flow. For on-demand flows, this operation returns an <code>unsupportedOperationException</code> error message. For schedule and event-triggered flows, this operation deactivates the flow. ",
        "operationId": "StopFlow"
      }
    },
    "/tags/{resourceArn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The Amazon Resource Name (ARN) of the specified flow. ",
            "in": "path",
            "maxLength": 512,
            "name": "resourceArn",
            "pattern": "arn:aws:.*:.*:[0-9]+:.*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": " Retrieves the tags that are associated with a specified flow. ",
        "operationId": "ListTagsForResource"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The Amazon Resource Name (ARN) of the flow that you want to tag. ",
            "in": "path",
            "maxLength": 512,
            "name": "resourceArn",
            "pattern": "arn:aws:.*:.*:[0-9]+:.*",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": " The tags used to organize, track, or control access for your flow. ",
                  "maxProperties": 50,
                  "minProperties": 0,
                  "type": "object"
                }
              },
              "required": [
                "tags"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagResourceResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": " Applies a tag to the specified flow. ",
        "operationId": "TagResource"
      }
    },
    "/tags/{resourceArn}#tagKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The Amazon Resource Name (ARN) of the flow that you want to untag. ",
            "in": "path",
            "maxLength": 512,
            "name": "resourceArn",
            "pattern": "arn:aws:.*:.*:[0-9]+:.*",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": " The tag keys associated with the tag that you want to remove from your flow. ",
            "in": "query",
            "items": {
              "$ref": "#/definitions/TagKey"
            },
            "maxItems": 50,
            "minItems": 0,
            "name": "tagKeys",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagResourceResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": " Removes a tag from the specified flow. ",
        "operationId": "UntagResource"
      }
    },
    "/update-connector-profile": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectionMode": {
                  "description": " Indicates the connection mode and if it is public or private. ",
                  "enum": [
                    "Public",
                    "Private"
                  ],
                  "type": "string"
                },
                "connectorProfileConfig": {
                  "description": " Defines the connector-specific configuration and credentials for the connector profile. ",
                  "properties": {
                    "connectorProfileCredentials": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConnectorProfileCredentials"
                        },
                        {
                          "description": " The connector-specific credentials required by each connector. "
                        }
                      ]
                    },
                    "connectorProfileProperties": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConnectorProfileProperties"
                        },
                        {
                          "description": " The connector-specific properties of the profile configuration. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "connectorProfileName": {
                  "description": " The name of the connector profile and is unique for each <code>ConnectorProfile</code> in the AWS Account. ",
                  "maxLength": 256,
                  "pattern": "[\\w/!@#+=.-]+",
                  "type": "string"
                }
              },
              "required": [
                "connectorProfileName",
                "connectionMode",
                "connectorProfileConfig"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateConnectorProfileResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "483": {
            "description": "ConnectorAuthenticationException",
            "schema": {
              "$ref": "#/definitions/ConnectorAuthenticationException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Updates a given connector profile associated with your account. ",
        "operationId": "UpdateConnectorProfile"
      }
    },
    "/update-flow": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": " A description of the flow. ",
                  "maxLength": 2048,
                  "pattern": "[\\w!@#\\-.?,\\s]*",
                  "type": "string"
                },
                "destinationFlowConfigList": {
                  "description": " The configuration that controls how Amazon AppFlow transfers data to the destination connector. ",
                  "items": {
                    "$ref": "#/definitions/DestinationFlowConfig"
                  },
                  "type": "array"
                },
                "flowName": {
                  "description": " The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. ",
                  "maxLength": 256,
                  "pattern": "[a-zA-Z0-9][\\w!@#.-]+",
                  "type": "string"
                },
                "sourceFlowConfig": {
                  "description": " Contains information about the configuration of the source connector used in the flow. ",
                  "properties": {
                    "connectorProfileName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConnectorProfileName"
                        },
                        {
                          "description": " The name of the connector profile. This name must be unique for each connector profile in the AWS account. "
                        }
                      ]
                    },
                    "connectorType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConnectorType"
                        },
                        {
                          "description": " The type of connector, such as Salesforce, Amplitude, and so on. "
                        }
                      ]
                    },
                    "incrementalPullConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IncrementalPullConfig"
                        },
                        {
                          "description": " Defines the configuration for a scheduled incremental data pull. If a valid configuration is provided, the fields specified in the configuration are used when querying for the incremental data pull. "
                        }
                      ]
                    },
                    "sourceConnectorProperties": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SourceConnectorProperties"
                        },
                        {
                          "description": " Specifies the information that is required to query a particular source connector. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "tasks": {
                  "description": " A list of tasks that Amazon AppFlow performs while transferring the data in the flow run. ",
                  "items": {
                    "$ref": "#/definitions/Task"
                  },
                  "type": "array"
                },
                "triggerConfig": {
                  "description": " The trigger settings that determine how and when Amazon AppFlow runs the specified flow. ",
                  "properties": {
                    "triggerProperties": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TriggerProperties"
                        },
                        {
                          "description": " Specifies the configuration details of a schedule-triggered flow as defined by the user. Currently, these settings only apply to the <code>Scheduled</code> trigger type. "
                        }
                      ]
                    },
                    "triggerType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TriggerType"
                        },
                        {
                          "description": " Specifies the type of flow trigger. This can be <code>OnDemand</code>, <code>Scheduled</code>, or <code>Event</code>. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "flowName",
                "triggerConfig",
                "destinationFlowConfigList",
                "tasks"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateFlowResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ConnectorAuthenticationException",
            "schema": {
              "$ref": "#/definitions/ConnectorAuthenticationException"
            }
          },
          "485": {
            "description": "ConnectorServerException",
            "schema": {
              "$ref": "#/definitions/ConnectorServerException"
            }
          },
          "486": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        },
        "description": " Updates an existing flow. ",
        "operationId": "UpdateFlow"
      }
    }
  },
  "definitions": {
    "ARN": {
      "maxLength": 512,
      "pattern": "arn:aws:.*:.*:[0-9]+:.*",
      "type": "string"
    },
    "AccessKeyId": {
      "format": "password",
      "maxLength": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "AccessToken": {
      "format": "password",
      "maxLength": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "AccountName": {
      "maxLength": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "AggregationConfig": {
      "description": " The aggregation settings that you can use to customize the output format of your flow data. ",
      "properties": {
        "aggregationType": {
          "allOf": [
            {
              "$ref": "#/definitions/AggregationType"
            },
            {
              "description": " Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. "
            }
          ]
        }
      },
      "type": "object"
    },
    "AggregationType": {
      "enum": [
        "None",
        "SingleFile"
      ],
      "type": "string"
    },
    "AmplitudeConnectorOperator": {
      "enum": [
        "BETWEEN"
      ],
      "type": "string"
    },
    "AmplitudeConnectorProfileCredentials": {
      "description": " The connector-specific credentials required when using Amplitude. ",
      "properties": {
        "apiKey": {
          "allOf": [
            {
              "$ref": "#/definitions/ApiKey"
            },
            {
              "description": " A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. "
            }
          ]
        },
        "secretKey": {
          "allOf": [
            {
              "$ref": "#/definitions/SecretKey"
            },
            {
              "description": " The Secret Access Key portion of the credentials. "
            }
          ]
        }
      },
      "required": [
        "apiKey",
        "secretKey"
      ],
      "type": "object"
    },
    "AmplitudeConnectorProfileProperties": {
      "description": " The connector-specific profile properties required when using Amplitude. ",
      "properties": {},
      "type": "object"
    },
    "AmplitudeMetadata": {
      "description": " The connector metadata specific to Amplitude. ",
      "properties": {},
      "type": "object"
    },
    "AmplitudeSourceProperties": {
      "description": " The properties that are applied when Amplitude is being used as a source. ",
      "properties": {
        "object": {
          "allOf": [
            {
              "$ref": "#/definitions/Object"
            },
            {
              "description": " The object specified in the Amplitude flow source. "
            }
          ]
        }
      },
      "required": [
        "object"
      ],
      "type": "object"
    },
    "ApiKey": {
      "maxLength": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ApiSecretKey": {
      "format": "password",
      "maxLength": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ApiToken": {
      "maxLength": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ApplicationKey": {
      "maxLength": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "AuthCode": {
      "maxLength": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BucketName": {
      "maxLength": 63,
      "minLength": 3,
      "pattern": "\\S+",
      "type": "string"
    },
    "BucketPrefix": {
      "maxLength": 512,
      "pattern": ".*",
      "type": "string"
    },
    "ClientCredentialsArn": {
      "format": "password",
      "maxLength": 2048,
      "minLength": 20,
      "pattern": "arn:aws:secretsmanager:.*:[0-9]+:.*",
      "type": "string"
    },
    "ClientId": {
      "maxLength": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "ClientSecret": {
      "format": "password",
      "maxLength": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "ConflictException": {},
    "ConnectionMode": {
      "enum": [
        "Public",
        "Private"
      ],
      "type": "string"
    },
    "ConnectorAuthenticationException": {},
    "ConnectorConfiguration": {
      "description": " The configuration settings related to a given connector. ",
      "properties": {
        "canUseAsDestination": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": " Specifies whether the connector can be used as a destination. "
            }
          ]
        },
        "canUseAsSource": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": " Specifies whether the connector can be used as a source. "
            }
          ]
        },
        "connectorMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/ConnectorMetadata"
            },
            {
              "description": " Specifies connector-specific metadata such as <code>oAuthScopes</code>, <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. "
            }
          ]
        },
        "isPrivateLinkEnabled": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": " Specifies if PrivateLink is enabled for that connector. "
            }
          ]
        },
        "isPrivateLinkEndpointUrlRequired": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": " Specifies if a PrivateLink endpoint URL is required. "
            }
          ]
        },
        "supportedDestinationConnectors": {
          "allOf": [
            {
              "$ref": "#/definitions/ConnectorTypeList"
            },
            {
              "description": " Lists the connectors that are available for use as destinations. "
            }
          ]
        },
        "supportedSchedulingFrequencies": {
          "allOf": [
            {
              "$ref": "#/definitions/SchedulingFrequencyTypeList"
            },
            {
              "description": " Specifies the supported flow frequency for that connector. "
            }
          ]
        },
        "supportedTriggerTypes": {
          "allOf": [
            {
              "$ref": "#/definitions/TriggerTypeList"
            },
            {
              "description": " Specifies the supported trigger types for the flow. "
            }
          ]
        }
      },
      "type": "object"
    },
    "ConnectorConfigurationsMap": {
      "additionalProperties": {
        "$ref": "#/definitions/ConnectorConfiguration"
      },
      "type": "object"
    },
    "ConnectorEntity": {
      "description": " The high-level entity that can be queried in Amazon AppFlow. For example, a Salesforce entity might be an <i>Account</i> or <i>Opportunity</i>, whereas a ServiceNow entity might be an <i>Incident</i>. ",
      "properties": {
        "hasNestedEntities": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": " Specifies whether the connector entity is a parent or a category and has more entities nested underneath it. If another call is made with <code>entitiesPath = \"the_current_entity_name_with_hasNestedEntities_true\"</code>, then it returns the nested entities underneath it. This provides a way to retrieve all supported entities in a recursive fashion. "
            }
          ]
        },
        "label": {
          "allOf": [
            {
              "$ref": "#/definitions/Label"
            },
            {
              "description": " The label applied to the connector entity. "
            }
          ]
        },
        "name": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": " The name of the connector entity. "
            }
          ]
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "ConnectorEntityField": {
      "description": " Describes the data model of a connector field. For example, for an <i>account</i> entity, the fields would be <i>account name</i>, <i>account ID</i>, and so on. ",
      "properties": {
        "description": {
          "allOf": [
            {
              "$ref": "#/definitions/Description"
            },
            {
              "description": " A description of the connector entity field. "
            }
          ]
        },
        "destinationProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/DestinationFieldProperties"
            },
            {
              "description": " The properties applied to a field when the connector is being used as a destination. "
            }
          ]
        },
        "identifier": {
          "allOf": [
            {
              "$ref": "#/definitions/Identifier"
            },
            {
              "description": " The unique identifier of the connector field. "
            }
          ]
        },
        "label": {
          "allOf": [
            {
              "$ref": "#/definitions/Label"
            },
            {
              "description": " The label applied to a connector entity field. "
            }
          ]
        },
        "sourceProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/SourceFieldProperties"
            },
            {
              "description": " The properties that can be applied to a field when the connector is being used as a source. "
            }
          ]
        },
        "supportedFieldTypeDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/SupportedFieldTypeDetails"
            },
            {
              "description": " Contains details regarding the supported <code>FieldType</code>, including the corresponding <code>filterOperators</code> and <code>supportedValues</code>. "
            }
          ]
        }
      },
      "required": [
        "identifier"
      ],
      "type": "object"
    },
    "ConnectorEntityFieldList": {
      "items": {
        "$ref": "#/definitions/ConnectorEntityField"
      },
      "type": "array"
    },
    "ConnectorEntityList": {
      "items": {
        "$ref": "#/definitions/ConnectorEntity"
      },
      "type": "array"
    },
    "ConnectorEntityMap": {
      "additionalProperties": {
        "$ref": "#/definitions/ConnectorEntityList"
      },
      "type": "object"
    },
    "ConnectorMetadata": {
      "description": " A structure to specify connector-specific metadata such as <code>oAuthScopes</code>, <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. ",
      "properties": {
        "Amplitude": {
          "allOf": [
            {
              "$ref": "#/definitions/AmplitudeMetadata"
            },
            {
              "description": " The connector metadata specific to Amplitude. "
            }
          ]
        },
        "Datadog": {
          "allOf": [
            {
              "$ref": "#/definitions/DatadogMetadata"
            },
            {
              "description": " The connector metadata specific to Datadog. "
            }
          ]
        },
        "Dynatrace": {
          "allOf": [
            {
              "$ref": "#/definitions/DynatraceMetadata"
            },
            {
              "description": " The connector metadata specific to Dynatrace. "
            }
          ]
        },
        "EventBridge": {
          "allOf": [
            {
              "$ref": "#/definitions/EventBridgeMetadata"
            },
            {
              "description": " The connector metadata specific to Amazon EventBridge. "
            }
          ]
        },
        "GoogleAnalytics": {
          "allOf": [
            {
              "$ref": "#/definitions/GoogleAnalyticsMetadata"
            },
            {
              "description": " The connector metadata specific to Google Analytics. "
            }
          ]
        },
        "InforNexus": {
          "allOf": [
            {
              "$ref": "#/definitions/InforNexusMetadata"
            },
            {
              "description": " The connector metadata specific to Infor Nexus. "
            }
          ]
        },
        "Marketo": {
          "allOf": [
            {
              "$ref": "#/definitions/MarketoMetadata"
            },
            {
              "description": " The connector metadata specific to Marketo. "
            }
          ]
        },
        "Redshift": {
          "allOf": [
            {
              "$ref": "#/definitions/RedshiftMetadata"
            },
            {
              "description": " The connector metadata specific to Amazon Redshift. "
            }
          ]
        },
        "S3": {
          "allOf": [
            {
              "$ref": "#/definitions/S3Metadata"
            },
            {
              "description": " The connector metadata specific to Amazon S3. "
            }
          ]
        },
        "Salesforce": {
          "allOf": [
            {
              "$ref": "#/definitions/SalesforceMetadata"
            },
            {
              "description": " The connector metadata specific to Salesforce. "
            }
          ]
        },
        "ServiceNow": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceNowMetadata"
            },
            {
              "description": " The connector metadata specific to ServiceNow. "
            }
          ]
        },
        "Singular": {
          "allOf": [
            {
              "$ref": "#/definitions/SingularMetadata"
            },
            {
              "description": " The connector metadata specific to Singular. "
            }
          ]
        },
        "Slack": {
          "allOf": [
            {
              "$ref": "#/definitions/SlackMetadata"
            },
            {
              "description": " The connector metadata specific to Slack. "
            }
          ]
        },
        "Snowflake": {
          "allOf": [
            {
              "$ref": "#/definitions/SnowflakeMetadata"
            },
            {
              "description": " The connector metadata specific to Snowflake. "
            }
          ]
        },
        "Trendmicro": {
          "allOf": [
            {
              "$ref": "#/definitions/TrendmicroMetadata"
            },
            {
              "description": " The connector metadata specific to Trend Micro. "
            }
          ]
        },
        "Upsolver": {
          "allOf": [
            {
              "$ref": "#/definitions/UpsolverMetadata"
            },
            {
              "description": " The connector metadata specific to Upsolver. "
            }
          ]
        },
        "Veeva": {
          "allOf": [
            {
              "$ref": "#/definitions/VeevaMetadata"
            },
            {
              "description": " The connector metadata specific to Veeva. "
            }
          ]
        },
        "Zendesk": {
          "allOf": [
            {
              "$ref": "#/definitions/ZendeskMetadata"
            },
            {
              "description": " The connector metadata specific to Zendesk. "
            }
          ]
        }
      },
      "type": "object"
    },
    "ConnectorOAuthRequest": {
      "description": " Used by select connectors for which the OAuth workflow is supported, such as Salesforce, Google Analytics, Marketo, Zendesk, and Slack. ",
      "properties": {
        "authCode": {
          "allOf": [
            {
              "$ref": "#/definitions/AuthCode"
            },
            {
              "description": " The code provided by the connector when it has been authenticated via the connected app. "
            }
          ]
        },
        "redirectUri": {
          "allOf": [
            {
              "$ref": "#/definitions/RedirectUri"
            },
            {
              "description": " The URL to which the authentication server redirects the browser after authorization has been granted. "
            }
          ]
        }
      },
      "type": "object"
    },
    "ConnectorOperator": {
      "description": " The operation to be performed on the provided source fields. ",
      "properties": {
        "Amplitude": {
          "allOf": [
            {
              "$ref": "#/definitions/AmplitudeConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Amplitude source fields. "
            }
          ]
        },
        "Datadog": {
          "allOf": [
            {
              "$ref": "#/definitions/DatadogConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Datadog source fields. "
            }
          ]
        },
        "Dynatrace": {
          "allOf": [
            {
              "$ref": "#/definitions/DynatraceConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Dynatrace source fields. "
            }
          ]
        },
        "GoogleAnalytics": {
          "allOf": [
            {
              "$ref": "#/definitions/GoogleAnalyticsConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Google Analytics source fields. "
            }
          ]
        },
        "InforNexus": {
          "allOf": [
            {
              "$ref": "#/definitions/InforNexusConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Infor Nexus source fields. "
            }
          ]
        },
        "Marketo": {
          "allOf": [
            {
              "$ref": "#/definitions/MarketoConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Marketo source fields. "
            }
          ]
        },
        "S3": {
          "allOf": [
            {
              "$ref": "#/definitions/S3ConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Amazon S3 source fields. "
            }
          ]
        },
        "Salesforce": {
          "allOf": [
            {
              "$ref": "#/definitions/SalesforceConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Salesforce source fields. "
            }
          ]
        },
        "ServiceNow": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceNowConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided ServiceNow source fields. "
            }
          ]
        },
        "Singular": {
          "allOf": [
            {
              "$ref": "#/definitions/SingularConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Singular source fields. "
            }
          ]
        },
        "Slack": {
          "allOf": [
            {
              "$ref": "#/definitions/SlackConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Slack source fields. "
            }
          ]
        },
        "Trendmicro": {
          "allOf": [
            {
              "$ref": "#/definitions/TrendmicroConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Trend Micro source fields. "
            }
          ]
        },
        "Veeva": {
          "allOf": [
            {
              "$ref": "#/definitions/VeevaConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Veeva source fields. "
            }
          ]
        },
        "Zendesk": {
          "allOf": [
            {
              "$ref": "#/definitions/ZendeskConnectorOperator"
            },
            {
              "description": " The operation to be performed on the provided Zendesk source fields. "
            }
          ]
        }
      },
      "type": "object"
    },
    "ConnectorProfile": {
      "description": " Describes an instance of a connector. This includes the provided name, credentials ARN, connection-mode, and so on. To keep the API intuitive and extensible, the fields that are common to all types of connector profiles are explicitly specified at the top level. The rest of the connector-specific properties are available via the <code>connectorProfileProperties</code> field. ",
      "properties": {
        "connectionMode": {
          "allOf": [
            {
              "$ref": "#/definitions/ConnectionMode"
            },
            {
              "description": " Indicates the connection mode and if it is public or private. "
            }
          ]
        },
        "connectorProfileArn": {
          "allOf": [
            {
              "$ref": "#/definitions/ConnectorProfileArn"
            },
            {
              "description": " The Amazon Resource Name (ARN) of the connector profile. "
            }
          ]
        },
        "connectorProfileName": {
          "allOf": [
            {
              "$ref": "#/definitions/ConnectorProfileName"
            },
            {
              "description": " The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the AWS account. "
            }
          ]
        },
        "connectorProfileProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/ConnectorProfileProperties"
            },
            {
              "description": " The connector-specific properties of the profile configuration. "
            }
          ]
        },
        "connectorType": {
          "allOf": [
            {
              "$ref": "#/definitions/ConnectorType"
            },
            {
              "description": " The type of connector, such as Salesforce, Amplitude, and so on. "
            }
          ]
        },
[...]
