{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Kinesis Video Streams Signaling Service is a intermediate service that establishes a communication channel for discovering peers, transmitting offers and answers in order to establish peer-to-peer connection in webRTC technology.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Kinesis Video Signaling Channels",
    "version": "2019-12-04",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesis-video-signaling-2019-12-04.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "kinesis-video-signaling",
    "x-datafire": {
      "name": "amazonaws_kinesis_video_signaling",
      "type": "openapi"
    }
  },
  "host": "kinesisvideo.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/v1/get-ice-server-config": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ChannelARN": {
                  "description": "The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "ClientId": {
                  "description": "Unique identifier for the viewer. Must be unique within the signaling channel.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                },
                "Service": {
                  "description": "Specifies the desired service. Currently, <code>TURN</code> is the only valid value.",
                  "enum": [
                    "TURN"
                  ],
                  "type": "string"
                },
                "Username": {
                  "description": "An optional user ID to be associated with the credentials.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                }
              },
              "required": [
                "ChannelARN"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIceServerConfigResponse"
            }
          },
          "480": {
            "description": "InvalidClientException",
            "schema": {
              "$ref": "#/definitions/InvalidClientException"
            }
          },
          "481": {
            "description": "SessionExpiredException",
            "schema": {
              "$ref": "#/definitions/SessionExpiredException"
            }
          },
          "482": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "485": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          }
        },
        "description": "<p>Gets the Interactive Connectivity Establishment (ICE) server configuration information, including URIs, username, and password which can be used to configure the WebRTC connection. The ICE component uses this configuration information to setup the WebRTC connection, including authenticating with the Traversal Using Relays around NAT (TURN) relay server. </p> <p>TURN is a protocol that is used to improve the connectivity of peer-to-peer applications. By providing a cloud-based relay service, TURN ensures that a connection can be established even when one or more peers are incapable of a direct peer-to-peer connection. For more information, see <a href=\"https://tools.ietf.org/html/draft-uberti-rtcweb-turn-rest-00\">A REST API For Access To TURN Services</a>.</p> <p> You can invoke this API to establish a fallback mechanism in case either of the peers is unable to establish a direct peer-to-peer connection over a signaling channel. You must specify either a signaling channel ARN or the client ID in order to invoke this API.</p>",
        "operationId": "GetIceServerConfig"
      }
    },
    "/v1/send-alexa-offer-to-master": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ChannelARN": {
                  "description": "The ARN of the signaling channel by which Alexa and the master peer communicate.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "MessagePayload": {
                  "description": "The base64-encoded SDP offer content.",
                  "maxLength": 10000,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9+/=]+",
                  "type": "string"
                },
                "SenderClientId": {
                  "description": "The unique identifier for the sender client.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                }
              },
              "required": [
                "ChannelARN",
                "SenderClientId",
                "MessagePayload"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SendAlexaOfferToMasterResponse"
            }
          },
          "480": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "483": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          }
        },
        "description": "This API allows you to connect WebRTC-enabled devices with Alexa display devices. When invoked, it sends the Alexa Session Description Protocol (SDP) offer to the master peer. The offer is delivered as soon as the master is connected to the specified signaling channel. This API returns the SDP answer from the connected master. If the master is not connected to the signaling channel, redelivery requests are made until the message expires.",
        "operationId": "SendAlexaOfferToMaster"
      }
    }
  },
  "definitions": {
    "Answer": {
      "maxLength": 10000,
      "minLength": 1,
      "type": "string"
    },
    "ClientId": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "ClientLimitExceededException": {},
    "GetIceServerConfigRequest": {
      "properties": {
        "ChannelARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceARN"
            },
            {
              "description": "The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. "
            }
          ]
        },
        "ClientId": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientId"
            },
            {
              "description": "Unique identifier for the viewer. Must be unique within the signaling channel."
            }
          ]
        },
        "Service": {
          "allOf": [
            {
              "$ref": "#/definitions/Service"
            },
            {
              "description": "Specifies the desired service. Currently, <code>TURN</code> is the only valid value."
            }
          ]
        },
        "Username": {
          "allOf": [
            {
              "$ref": "#/definitions/Username"
            },
            {
              "description": "An optional user ID to be associated with the credentials."
            }
          ]
        }
      },
      "required": [
        "ChannelARN"
      ],
      "title": "GetIceServerConfigRequest",
      "type": "object"
    },
    "GetIceServerConfigResponse": {
      "properties": {
        "IceServerList": {
          "allOf": [
            {
              "$ref": "#/definitions/IceServerList"
            },
            {
              "description": "The list of ICE server information objects."
            }
          ]
        }
      },
      "type": "object"
    },
    "IceServer": {
      "description": "A structure for the ICE server connection data.",
      "properties": {
        "Password": {
          "allOf": [
            {
              "$ref": "#/definitions/Password"
            },
            {
              "description": "A password to login to the ICE server."
            }
          ]
        },
        "Ttl": {
          "allOf": [
            {
              "$ref": "#/definitions/Ttl"
            },
            {
              "description": "The period of time, in seconds, during which the username and password are valid."
            }
          ]
        },
        "Uris": {
          "allOf": [
            {
              "$ref": "#/definitions/Uris"
            },
            {
              "description": "An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server."
            }
          ]
        },
        "Username": {
          "allOf": [
            {
              "$ref": "#/definitions/Username"
            },
            {
              "description": "A username to login to the ICE server."
            }
          ]
        }
      },
      "type": "object"
    },
    "IceServerList": {
      "items": {
        "$ref": "#/definitions/IceServer"
      },
      "type": "array"
    },
    "InvalidArgumentException": {},
    "InvalidClientException": {},
    "MessagePayload": {
      "maxLength": 10000,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9+/=]+",
      "type": "string"
    },
    "NotAuthorizedException": {},
    "Password": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "ResourceARN": {
      "maxLength": 1024,
      "minLength": 1,
      "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
      "type": "string"
    },
    "ResourceNotFoundException": {},
    "SendAlexaOfferToMasterRequest": {
      "properties": {
        "ChannelARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceARN"
            },
            {
              "description": "The ARN of the signaling channel by which Alexa and the master peer communicate."
            }
          ]
        },
        "MessagePayload": {
          "allOf": [
            {
              "$ref": "#/definitions/MessagePayload"
            },
            {
              "description": "The base64-encoded SDP offer content."
            }
          ]
        },
        "SenderClientId": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientId"
            },
            {
              "description": "The unique identifier for the sender client."
            }
          ]
        }
      },
      "required": [
        "ChannelARN",
        "SenderClientId",
        "MessagePayload"
      ],
      "title": "SendAlexaOfferToMasterRequest",
      "type": "object"
    },
    "SendAlexaOfferToMasterResponse": {
      "properties": {
        "Answer": {
          "allOf": [
            {
              "$ref": "#/definitions/Answer"
            },
            {
              "description": "The base64-encoded SDP answer content."
            }
          ]
        }
      },
      "type": "object"
    },
    "Service": {
      "enum": [
        "TURN"
      ],
      "type": "string"
    },
    "SessionExpiredException": {},
    "Ttl": {
      "maximum": 86400,
      "minimum": 30,
      "type": "integer"
    },
    "Uri": {
      "maxLength": 256,
      "minLength": 1,
      "type": "string"
    },
    "Uris": {
      "items": {
        "$ref": "#/definitions/Uri"
      },
      "type": "array"
    },
    "Username": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/kinesisvideo/"
  },
  "x-components": {
    "parameters": {
      "X-Amz-Algorithm": {
        "in": "header",
        "name": "X-Amz-Algorithm",
        "required": false,
        "type": "string"
      },
      "X-Amz-Content-Sha256": {
        "in": "header",
        "name": "X-Amz-Content-Sha256",
        "required": false,
        "type": "string"
      },
      "X-Amz-Credential": {
        "in": "header",
        "name": "X-Amz-Credential",
        "required": false,
        "type": "string"
      },
      "X-Amz-Date": {
        "in": "header",
        "name": "X-Amz-Date",
        "required": false,
        "type": "string"
      },
      "X-Amz-Security-Token": {
        "in": "header",
        "name": "X-Amz-Security-Token",
        "required": false,
        "type": "string"
      },
      "X-Amz-Signature": {
        "in": "header",
        "name": "X-Amz-Signature",
        "required": false,
        "type": "string"
      },
      "X-Amz-SignedHeaders": {
        "in": "header",
        "name": "X-Amz-SignedHeaders",
        "required": false,
        "type": "string"
      }
    }
  }
}