{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "acm-pca.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>You can use the ACM PCA API to create a private certificate authority (CA). You must first call the <a>CreateCertificateAuthority</a> function. If successful, the function returns an Amazon Resource Name (ARN) for your private CA. Use this ARN as input to the <a>GetCertificateAuthorityCsr</a> function to retrieve the certificate signing request (CSR) for your private CA certificate. Sign the CSR using the root or an intermediate CA in your on-premises PKI hierarchy, and call the <a>ImportCertificateAuthorityCertificate</a> to import your signed private CA certificate into ACM PCA. </p> <p>Use your private CA to issue and revoke certificates. These are private certificates that identify and secure client computers, servers, applications, services, devices, and users over SSLS/TLS connections within your organization. Call the <a>IssueCertificate</a> function to issue a certificate. Call the <a>RevokeCertificate</a> function to revoke a certificate. </p> <note> <p>Certificates issued by your private CA can be trusted only within your organization, not publicly.</p> </note> <p>Your private CA can optionally create a certificate revocation list (CRL) to track the certificates you revoke. To create a CRL, you must specify a <a>RevocationConfiguration</a> object when you call the <a>CreateCertificateAuthority</a> function. ACM PCA writes the CRL to an S3 bucket that you specify. You must specify a bucket policy that grants ACM PCA write permission. </p> <p>You can also call the <a>CreateCertificateAuthorityAuditReport</a> to create an optional audit report that lists every time the CA private key is used. The private key is used for signing when the <b>IssueCertificate</b> or <b>RevokeCertificate</b> function is called. </p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Certificate Manager Private Certificate Authority",
    "version": "2017-08-22",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/acm-pca-2017-08-22.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "acm-pca",
    "x-datafire": {
      "name": "amazonaws_acm_pca",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/acm-pca/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a private subordinate certificate authority (CA). You must specify the CA configuration, the revocation configuration, the CA type, and an optional idempotency token. The CA configuration specifies the name of the algorithm and key size to be used to create the CA private key, the type of signing algorithm that the CA uses to sign, and X.500 subject information. The CRL (certificate revocation list) configuration specifies the CRL expiration period in days (the validity period of the CRL), the Amazon S3 bucket that will contain the CRL, and a CNAME alias for the S3 bucket that is included in certificates issued by the CA. If successful, this function returns the Amazon Resource Name (ARN) of the CA.",
        "operationId": "CreateCertificateAuthority",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCertificateAuthorityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCertificateAuthorityResponse"
            }
          },
          "480": {
            "description": "InvalidArgsException",
            "schema": {
              "$ref": "#/definitions/InvalidArgsException"
            }
          },
          "481": {
            "description": "InvalidPolicyException",
            "schema": {
              "$ref": "#/definitions/InvalidPolicyException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/#CreateCertificateAuthorityAuditReport": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates an audit report that lists every time that the your CA private key is used. The report is saved in the Amazon S3 bucket that you specify on input. The <a>IssueCertificate</a> and <a>RevokeCertificate</a> functions use the private key. You can generate a new report every 30 minutes.",
        "operationId": "CreateCertificateAuthorityAuditReport",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCertificateAuthorityAuditReportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCertificateAuthorityAuditReportResponse"
            }
          },
          "480": {
            "description": "RequestInProgressException",
            "schema": {
              "$ref": "#/definitions/RequestInProgressException"
            }
          },
          "481": {
            "description": "RequestFailedException",
            "schema": {
              "$ref": "#/definitions/RequestFailedException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "484": {
            "description": "InvalidArgsException",
            "schema": {
              "$ref": "#/definitions/InvalidArgsException"
            }
          },
          "485": {
            "description": "InvalidStateException",
            "schema": {
              "$ref": "#/definitions/InvalidStateException"
            }
          }
        }
      }
    },
    "/#DeleteCertificateAuthority": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the private certificate authority (CA) that you created or started to create by calling the <a>CreateCertificateAuthority</a> function. This action requires that you enter an ARN (Amazon Resource Name) for the private CA that you want to delete. You can find the ARN by calling the <a>ListCertificateAuthorities</a> function. You can delete the CA if you are waiting for it to be created (the <b>Status</b> field of the <a>CertificateAuthority</a> is <code>CREATING</code>) or if the CA has been created but you haven't yet imported the signed certificate (the <b>Status</b> is <code>PENDING_CERTIFICATE</code>) into ACM PCA. If you've already imported the certificate, you cannot delete the CA unless it has been disabled for more than 30 days. To disable a CA, call the <a>UpdateCertificateAuthority</a> function and set the <b>CertificateAuthorityStatus</b> argument to <code>DISABLED</code>. ",
        "operationId": "DeleteCertificateAuthority",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCertificateAuthorityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "483": {
            "description": "InvalidStateException",
            "schema": {
              "$ref": "#/definitions/InvalidStateException"
            }
          }
        }
      }
    },
    "/#DescribeCertificateAuthority": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Lists information about your private certificate authority (CA). You specify the private CA on input by its ARN (Amazon Resource Name). The output contains the status of your CA. This can be any of the following: </p> <ul> <li> <p> <b>CREATING:</b> ACM PCA is creating your private certificate authority.</p> </li> <li> <p> <b>PENDING_CERTIFICATE:</b> The certificate is pending. You must use your on-premises root or subordinate CA to sign your private CA CSR and then import it into PCA. </p> </li> <li> <p> <b>ACTIVE:</b> Your private CA is active.</p> </li> <li> <p> <b>DISABLED:</b> Your private CA has been disabled.</p> </li> <li> <p> <b>EXPIRED:</b> Your private CA certificate has expired.</p> </li> <li> <p> <b>FAILED:</b> Your private CA has failed. Your CA can fail for problems such a network outage or backend AWS failure or other errors. A failed CA can never return to the pending state. You must create a new CA. </p> </li> </ul>",
        "operationId": "DescribeCertificateAuthority",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCertificateAuthorityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeCertificateAuthorityResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          }
        }
      }
    },
    "/#DescribeCertificateAuthorityAuditReport": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Lists information about a specific audit report created by calling the <a>CreateCertificateAuthorityAuditReport</a> function. Audit information is created every time the certificate authority (CA) private key is used. The private key is used when you call the <a>IssueCertificate</a> function or the <a>RevokeCertificate</a> function. ",
        "operationId": "DescribeCertificateAuthorityAuditReport",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCertificateAuthorityAuditReportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeCertificateAuthorityAuditReportResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidArgsException",
            "schema": {
              "$ref": "#/definitions/InvalidArgsException"
            }
          }
        }
      }
    },
    "/#GetCertificate": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieves a certificate from your private CA. The ARN of the certificate is returned when you call the <a>IssueCertificate</a> function. You must specify both the ARN of your private CA and the ARN of the issued certificate when calling the <b>GetCertificate</b> function. You can retrieve the certificate if it is in the <b>ISSUED</b> state. You can call the <a>CreateCertificateAuthorityAuditReport</a> function to create a report that contains information about all of the certificates issued and revoked by your private CA. ",
        "operationId": "GetCertificate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCertificateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCertificateResponse"
            }
          },
          "480": {
            "description": "RequestInProgressException",
            "schema": {
              "$ref": "#/definitions/RequestInProgressException"
            }
          },
          "481": {
            "description": "RequestFailedException",
            "schema": {
              "$ref": "#/definitions/RequestFailedException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "484": {
            "description": "InvalidStateException",
            "schema": {
              "$ref": "#/definitions/InvalidStateException"
            }
          }
        }
      }
    },
    "/#GetCertificateAuthorityCertificate": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieves the certificate and certificate chain for your private certificate authority (CA). Both the certificate and the chain are base64 PEM-encoded. The chain does not include the CA certificate. Each certificate in the chain signs the one before it. ",
        "operationId": "GetCertificateAuthorityCertificate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCertificateAuthorityCertificateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCertificateAuthorityCertificateResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidStateException",
            "schema": {
              "$ref": "#/definitions/InvalidStateException"
            }
          },
          "482": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          }
        }
      }
    },
    "/#GetCertificateAuthorityCsr": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieves the certificate signing request (CSR) for your private certificate authority (CA). The CSR is created when you call the <a>CreateCertificateAuthority</a> function. Take the CSR to your on-premises X.509 infrastructure and sign it by using your root or a subordinate CA. Then import the signed certificate back into ACM PCA by calling the <a>ImportCertificateAuthorityCertificate</a> function. The CSR is returned as a base64 PEM-encoded string. ",
        "operationId": "GetCertificateAuthorityCsr",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCertificateAuthorityCsrRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCertificateAuthorityCsrResponse"
            }
          },
          "480": {
            "description": "RequestInProgressException",
            "schema": {
              "$ref": "#/definitions/RequestInProgressException"
            }
          },
          "481": {
            "description": "RequestFailedException",
            "schema": {
              "$ref": "#/definitions/RequestFailedException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          }
        }
      }
    },
    "/#ImportCertificateAuthorityCertificate": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Imports your signed private CA certificate into ACM PCA. Before you can call this function, you must create the private certificate authority by calling the <a>CreateCertificateAuthority</a> function. You must then generate a certificate signing request (CSR) by calling the <a>GetCertificateAuthorityCsr</a> function. Take the CSR to your on-premises CA and use the root certificate or a subordinate certificate to sign it. Create a certificate chain and copy the signed certificate and the certificate chain to your working directory. </p> <note> <p>Your certificate chain must not include the private CA certificate that you are importing.</p> </note> <note> <p>Your on-premises CA certificate must be the last certificate in your chain. The subordinate certificate, if any, that your root CA signed must be next to last. The subordinate certificate signed by the preceding subordinate CA must come next, and so on until your chain is built. </p> </note> <note> <p>The chain must be PEM-encoded.</p> </note>",
        "operationId": "ImportCertificateAuthorityCertificate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportCertificateAuthorityCertificateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "RequestInProgressException",
            "schema": {
              "$ref": "#/definitions/RequestInProgressException"
            }
          },
          "482": {
            "description": "RequestFailedException",
            "schema": {
              "$ref": "#/definitions/RequestFailedException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "485": {
            "description": "MalformedCertificateException",
            "schema": {
              "$ref": "#/definitions/MalformedCertificateException"
            }
          },
          "486": {
            "description": "CertificateMismatchException",
            "schema": {
              "$ref": "#/definitions/CertificateMismatchException"
            }
          }
        }
      }
    },
    "/#IssueCertificate": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Uses your private certificate authority (CA) to issue a client certificate. This function returns the Amazon Resource Name (ARN) of the certificate. You can retrieve the certificate by calling the <a>GetCertificate</a> function and specifying the ARN. </p> <note> <p>You cannot use the ACM <b>ListCertificateAuthorities</b> function to retrieve the ARNs of the certificates that you issue by using ACM PCA.</p> </note>",
        "operationId": "IssueCertificate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueCertificateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IssueCertificateResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidStateException",
            "schema": {
              "$ref": "#/definitions/InvalidStateException"
            }
          },
          "483": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "484": {
            "description": "InvalidArgsException",
            "schema": {
              "$ref": "#/definitions/InvalidArgsException"
            }
          },
          "485": {
            "description": "MalformedCSRException",
            "schema": {
              "$ref": "#/definitions/MalformedCSRException"
            }
          }
        }
      }
    },
    "/#ListCertificateAuthorities": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Lists the private certificate authorities that you created by using the <a>CreateCertificateAuthority</a> function.",
        "operationId": "ListCertificateAuthorities",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListCertificateAuthoritiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListCertificateAuthoritiesResponse"
            }
          },
          "480": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        }
      }
    },
    "/#ListTags": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Lists the tags, if any, that are associated with your private CA. Tags are labels that you can use to identify and organize your CAs. Each tag consists of a key and an optional value. Call the <a>TagCertificateAuthority</a> function to add one or more tags to your CA. Call the <a>UntagCertificateAuthority</a> function to remove tags. ",
        "operationId": "ListTags",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          }
        }
      }
    },
    "/#RevokeCertificate": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Revokes a certificate that you issued by calling the <a>IssueCertificate</a> function. If you enable a certificate revocation list (CRL) when you create or update your private CA, information about the revoked certificates will be included in the CRL. ACM PCA writes the CRL to an S3 bucket that you specify. For more information about revocation, see the <a>CrlConfiguration</a> structure. ACM PCA also writes revocation information to the audit report. For more information, see <a>CreateCertificateAuthorityAuditReport</a>. ",
        "operationId": "RevokeCertificate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RevokeCertificateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "482": {
            "description": "InvalidStateException",
            "schema": {
              "$ref": "#/definitions/InvalidStateException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "RequestAlreadyProcessedException",
            "schema": {
              "$ref": "#/definitions/RequestAlreadyProcessedException"
            }
          },
          "485": {
            "description": "RequestInProgressException",
            "schema": {
              "$ref": "#/definitions/RequestInProgressException"
            }
          },
          "486": {
            "description": "RequestFailedException",
            "schema": {
              "$ref": "#/definitions/RequestFailedException"
            }
          }
        }
      }
    },
    "/#TagCertificateAuthority": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Adds one or more tags to your private CA. Tags are labels that you can use to identify and organize your AWS resources. Each tag consists of a key and an optional value. You specify the private CA on input by its Amazon Resource Name (ARN). You specify the tag by using a key-value pair. You can apply a tag to just one private CA if you want to identify a specific characteristic of that CA, or you can apply the same tag to multiple private CAs if you want to filter for a common relationship among those CAs. To remove one or more tags, use the <a>UntagCertificateAuthority</a> function. Call the <a>ListTags</a> function to see what tags are associated with your CA. ",
        "operationId": "TagCertificateAuthority",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagCertificateAuthorityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "482": {
            "description": "InvalidTagException",
            "schema": {
              "$ref": "#/definitions/InvalidTagException"
            }
          },
          "483": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        }
      }
    },
    "/#UntagCertificateAuthority": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Remove one or more tags from your private CA. A tag consists of a key-value pair. If you do not specify the value portion of the tag when calling this function, the tag will be removed regardless of value. If you specify a value, the tag is removed only if it is associated with the specified value. To add tags to a private CA, use the <a>TagCertificateAuthority</a>. Call the <a>ListTags</a> function to see what tags are associated with your CA. ",
        "operationId": "UntagCertificateAuthority",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UntagCertificateAuthorityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "482": {
            "description": "InvalidTagException",
            "schema": {
              "$ref": "#/definitions/InvalidTagException"
            }
          }
        }
      }
    },
    "/#UpdateCertificateAuthority": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Updates the status or configuration of a private certificate authority (CA). Your private CA must be in the <b> <code>ACTIVE</code> </b> or <b> <code>DISABLED</code> </b> state before you can update it. You can disable a private CA that is in the <b> <code>ACTIVE</code> </b> state or make a CA that is in the <b> <code>DISABLED</code> </b> state active again.",
        "operationId": "UpdateCertificateAuthority",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCertificateAuthorityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidArgsException",
            "schema": {
              "$ref": "#/definitions/InvalidArgsException"
            }
          },
          "483": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "484": {
            "description": "InvalidStateException",
            "schema": {
              "$ref": "#/definitions/InvalidStateException"
            }
          },
          "485": {
            "description": "InvalidPolicyException",
            "schema": {
              "$ref": "#/definitions/InvalidPolicyException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ASN1Subject": {
      "description": "Contains information about the certificate subject. The certificate can be one issued by your private certificate authority (CA) or it can be your private CA certificate. The <b>Subject</b> field in the certificate identifies the entity that owns or controls the public key in the certificate. The entity can be a user, computer, device, or service. The <b>Subject</b> must contain an X.500 distinguished name (DN). A DN is a sequence of relative distinguished names (RDNs). The RDNs are separated by commas in the certificate. The DN must be unique for each for each entity, but your private CA can issue more than one certificate with the same DN to the same entity. ",
      "properties": {
        "CommonName": {
          "$ref": "#/definitions/String64",
          "description": "Fully qualified domain name (FQDN) associated with the certificate subject."
        },
        "Country": {
          "$ref": "#/definitions/CountryCodeString",
          "description": "Two digit code that specifies the country in which the certificate subject located."
        },
        "DistinguishedNameQualifier": {
          "$ref": "#/definitions/DistinguishedNameQualifierString",
          "description": "Disambiguating information for the certificate subject."
        },
        "GenerationQualifier": {
          "$ref": "#/definitions/String3",
          "description": "Typically a qualifier appended to the name of an individual. Examples include Jr. for junior, Sr. for senior, and III for third."
        },
        "GivenName": {
          "$ref": "#/definitions/String16",
          "description": "First name."
        },
        "Initials": {
          "$ref": "#/definitions/String5",
          "description": "Concatenation that typically contains the first letter of the <b>GivenName</b>, the first letter of the middle name if one exists, and the first letter of the <b>SurName</b>."
        },
        "Locality": {
          "$ref": "#/definitions/String128",
          "description": "The locality (such as a city or town) in which the certificate subject is located."
        },
        "Organization": {
          "$ref": "#/definitions/String64",
          "description": "Legal name of the organization with which the certificate subject is affiliated. "
        },
        "OrganizationalUnit": {
          "$ref": "#/definitions/String64",
          "description": "A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated."
        },
        "Pseudonym": {
          "$ref": "#/definitions/String128",
          "description": "Typically a shortened version of a longer <b>GivenName</b>. For example, Jonathan is often shortened to John. Elizabeth is often shortened to Beth, Liz, or Eliza."
        },
        "SerialNumber": {
          "$ref": "#/definitions/String64",
          "description": "The certificate serial number."
        },
        "State": {
          "$ref": "#/definitions/String128",
          "description": "State in which the subject of the certificate is located."
        },
        "Surname": {
          "$ref": "#/definitions/String40",
          "description": "Family name. In the US and the UK for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first."
        },
        "Title": {
          "$ref": "#/definitions/String64",
          "description": "A title such as Mr. or Ms. which is pre-pended to the name to refer formally to the certificate subject."
        }
      },
      "type": "object"
    },
    "Arn": {
      "maxLength": 200,
      "minLength": 5,
      "pattern": "arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=/,.@-]+)*",
      "type": "string"
    },
    "AuditReportId": {
      "maxLength": 36,
      "minLength": 36,
      "pattern": "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}",
      "type": "string"
    },
    "AuditReportResponseFormat": {
      "enum": [
        "JSON",
        "CSV"
      ],
      "type": "string"
    },
    "AuditReportStatus": {
      "enum": [
        "CREATING",
        "SUCCESS",
        "FAILED"
      ],
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CertificateAuthorities": {
      "items": {
        "$ref": "#/definitions/CertificateAuthority"
      },
      "type": "array"
    },
    "CertificateAuthority": {
      "description": "Contains information about your private certificate authority (CA). Your private CA can issue and revoke X.509 digital certificates. Digital certificates verify that the entity named in the certificate <b>Subject</b> field owns or controls the public key contained in the <b>Subject Public Key Info</b> field. Call the <a>CreateCertificateAuthority</a> function to create your private CA. You must then call the <a>GetCertificateAuthorityCertificate</a> function to retrieve a private CA certificate signing request (CSR). Take the CSR to your on-premises CA and sign it with the root CA certificate or a subordinate certificate. Call the <a>ImportCertificateAuthorityCertificate</a> function to import the signed certificate into AWS Certificate Manager (ACM). ",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/Arn",
          "description": "Amazon Resource Name (ARN) for your private certificate authority (CA). The format is <code> <i>12345678-1234-1234-1234-123456789012</i> </code>."
        },
        "CertificateAuthorityConfiguration": {
          "$ref": "#/definitions/CertificateAuthorityConfiguration",
          "description": "Your private CA configuration."
        },
        "CreatedAt": {
          "$ref": "#/definitions/TStamp",
          "description": "Date and time at which your private CA was created."
        },
        "FailureReason": {
          "$ref": "#/definitions/FailureReason",
          "description": "Reason the request to create your private CA failed."
        },
        "LastStateChangeAt": {
          "$ref": "#/definitions/TStamp",
          "description": "Date and time at which your private CA was last updated."
        },
        "NotAfter": {
          "$ref": "#/definitions/TStamp",
          "description": "Date and time after which your private CA certificate is not valid."
        },
        "NotBefore": {
          "$ref": "#/definitions/TStamp",
          "description": "Date and time before which your private CA certificate is not valid."
        },
        "RevocationConfiguration": {
          "$ref": "#/definitions/RevocationConfiguration",
          "description": "Information about the certificate revocation list (CRL) created and maintained by your private CA. "
        },
        "Serial": {
          "$ref": "#/definitions/String",
          "description": "Serial number of your private CA."
        },
        "Status": {
          "$ref": "#/definitions/CertificateAuthorityStatus",
          "description": "Status of your private CA."
        },
        "Type": {
          "$ref": "#/definitions/CertificateAuthorityType",
          "description": "Type of your private CA."
        }
      },
      "type": "object"
    },
    "CertificateAuthorityConfiguration": {
      "description": "Contains configuration information for your private certificate authority (CA). This includes information about the class of public key algorithm and the key pair that your private CA creates when it issues a certificate, the signature algorithm it uses used when issuing certificates, and its X.500 distinguished name. You must specify this information when you call the <a>CreateCertificateAuthority</a> function. ",
      "properties": {
        "KeyAlgorithm": {
          "$ref": "#/definitions/KeyAlgorithm",
          "description": "Type of the public key algorithm and size, in bits, of the key pair that your key pair creates when it issues a certificate."
        },
        "SigningAlgorithm": {
          "$ref": "#/definitions/SigningAlgorithm",
          "description": "Name of the algorithm your private CA uses to sign certificate requests."
        },
        "Subject": {
          "$ref": "#/definitions/ASN1Subject",
          "description": "Structure that contains X.500 distinguished name information for your private CA."
        }
      },
      "required": [
        "KeyAlgorithm",
        "SigningAlgorithm",
        "Subject"
      ],
      "type": "object"
    },
    "CertificateAuthorityStatus": {
      "enum": [
        "CREATING",
        "PENDING_CERTIFICATE",
        "ACTIVE",
        "DISABLED",
        "EXPIRED",
        "FAILED"
      ],
      "type": "string"
    },
    "CertificateAuthorityType": {
      "enum": [
        "SUBORDINATE"
      ],
      "type": "string"
    },
    "CertificateBody": {
      "type": "string"
    },
    "CertificateBodyBlob": {
      "maxLength": 32768,
      "minLength": 1,
      "type": "string"
    },
    "CertificateChain": {
      "type": "string"
    },
    "CertificateChainBlob": {
      "maxLength": 2097152,
      "minLength": 0,
      "type": "string"
    },
    "CertificateMismatchException": {
      "description": "The certificate authority certificate you are importing does not comply with conditions specified in the certificate that signed it.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "ConcurrentModificationException": {
      "description": "A previous update to your private CA is still ongoing.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "CountryCodeString": {
      "pattern": "[A-Za-z]{2}",
      "type": "string"
    },
    "CreateCertificateAuthorityAuditReportRequest": {
      "properties": {
        "AuditReportResponseFormat": {
          "$ref": "#/definitions/AuditReportResponseFormat",
          "description": "Format in which to create the report. This can be either <b>JSON</b> or <b>CSV</b>."
        },
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>Amazon Resource Name (ARN) of the CA to be audited. This is of the form:</p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>.</p>"
        },
        "S3BucketName": {
          "$ref": "#/definitions/String",
          "description": "Name of the S3 bucket that will contain the audit report."
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "S3BucketName",
        "AuditReportResponseFormat"
      ],
      "type": "object"
    },
    "CreateCertificateAuthorityAuditReportResponse": {
      "properties": {
        "AuditReportId": {
          "$ref": "#/definitions/AuditReportId",
          "description": "An alphanumeric string that contains a report identifier."
        },
        "S3Key": {
          "$ref": "#/definitions/String",
          "description": "The <b>key</b> that uniquely identifies the report file in your S3 bucket."
        }
      },
      "type": "object"
    },
    "CreateCertificateAuthorityRequest": {
      "properties": {
        "CertificateAuthorityConfiguration": {
          "$ref": "#/definitions/CertificateAuthorityConfiguration",
          "description": "Name and bit size of the private key algorithm, the name of the signing algorithm, and X.500 certificate subject information."
        },
        "CertificateAuthorityType": {
          "$ref": "#/definitions/CertificateAuthorityType",
          "description": "The type of the certificate authority. Currently, this must be <b>SUBORDINATE</b>."
        },
        "IdempotencyToken": {
          "$ref": "#/definitions/IdempotencyToken",
          "description": "Alphanumeric string that can be used to distinguish between calls to <b>CreateCertificateAuthority</b>. Idempotency tokens time out after five minutes. Therefore, if you call <b>CreateCertificateAuthority</b> multiple times with the same idempotency token within a five minute period, ACM PCA recognizes that you are requesting only one certificate and will issue only one. If you change the idempotency token for each call, however, ACM PCA recognizes that you are requesting multiple certificates."
        },
        "RevocationConfiguration": {
          "$ref": "#/definitions/RevocationConfiguration",
          "description": "Contains a Boolean value that you can use to enable a certification revocation list (CRL) for the CA, the name of the S3 bucket to which ACM PCA will write the CRL, and an optional CNAME alias that you can use to hide the name of your bucket in the <b>CRL Distribution Points</b> extension of your CA certificate. For more information, see the <a>CrlConfiguration</a> structure. "
        }
      },
      "required": [
        "CertificateAuthorityConfiguration",
        "CertificateAuthorityType"
      ],
      "type": "object"
    },
    "CreateCertificateAuthorityResponse": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>If successful, the Amazon Resource Name (ARN) of the certificate authority (CA). This is of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>"
        }
      },
      "type": "object"
    },
    "CrlConfiguration": {
      "description": "<p>Contains configuration information for a certificate revocation list (CRL). Your private certificate authority (CA) creates base CRLs. Delta CRLs are not supported. You can enable CRLs for your new or an existing private CA by setting the <b>Enabled</b> parameter to <code>true</code>. Your private CA writes CRLs to an S3 bucket that you specify in the <b>S3BucketName</b> parameter. You can hide the name of your bucket by specifying a value for the <b>CustomCname</b> parameter. Your private CA copies the CNAME or the S3 bucket name to the <b>CRL Distribution Points</b> extension of each certificate it issues. Your S3 bucket policy must give write permission to ACM PCA. </p> <p>Your private CA uses the value in the <b>ExpirationInDays</b> parameter to calculate the <b>nextUpdate</b> field in the CRL. The CRL is refreshed at 1/2 the age of next update or when a certificate is revoked. When a certificate is revoked, it is recorded in the next CRL that is generated and in the next audit report. Only time valid certificates are listed in the CRL. Expired certificates are not included. </p> <p>CRLs contain the following fields:</p> <ul> <li> <p> <b>Version</b>: The current version number defined in RFC 5280 is V2. The integer value is 0x1. </p> </li> <li> <p> <b>Signature Algorithm</b>: The name of the algorithm used to sign the CRL.</p> </li> <li> <p> <b>Issuer</b>: The X.500 distinguished name of your private CA that issued the CRL.</p> </li> <li> <p> <b>Last Update</b>: The issue date and time of this CRL.</p> </li> <li> <p> <b>Next Update</b>: The day and time by which the next CRL will be issued.</p> </li> <li> <p> <b>Revoked Certificates</b>: List of revoked certificates. Each list item contains the following information.</p> <ul> <li> <p> <b>Serial Number</b>: The serial number, in hexadecimal format, of the revoked certificate.</p> </li> <li> <p> <b>Revocation Date</b>: Date and time the certificate was revoked.</p> </li> <li> <p> <b>CRL Entry Extensions</b>: Optional extensions for the CRL entry.</p> <ul> <li> <p> <b>X509v3 CRL Reason Code</b>: Reason the certificate was revoked.</p> </li> </ul> </li> </ul> </li> <li> <p> <b>CRL Extensions</b>: Optional extensions for the CRL.</p> <ul> <li> <p> <b>X509v3 Authority Key Identifier</b>: Identifies the public key associated with the private key used to sign the certificate.</p> </li> <li> <p> <b>X509v3 CRL Number:</b>: Decimal sequence number for the CRL.</p> </li> </ul> </li> <li> <p> <b>Signature Algorithm</b>: Algorithm used by your private CA to sign the CRL.</p> </li> <li> <p> <b>Signature Value</b>: Signature computed over the CRL.</p> </li> </ul> <p>Certificate revocation lists created by ACM PCA are DER-encoded. You can use the following OpenSSL command to list a CRL.</p> <p> <code>openssl crl -inform DER -text -in <i>crl_path</i> -noout</code> </p>",
      "properties": {
        "CustomCname": {
          "$ref": "#/definitions/String253",
          "description": "Name inserted into the certificate <b>CRL Distribution Points</b> extension that enables the use of an alias for the CRL distribution point. Use this value if you don't want the name of your S3 bucket to be public."
        },
        "Enabled": {
          "$ref": "#/definitions/Boolean",
          "description": "Boolean value that specifies whether certificate revocation lists (CRLs) are enabled. You can use this value to enable certificate revocation for a new CA when you call the <a>CreateCertificateAuthority</a> function or for an existing CA when you call the <a>UpdateCertificateAuthority</a> function. "
        },
        "ExpirationInDays": {
          "$ref": "#/definitions/Integer1To5000",
          "description": "Number of days until a certificate expires."
        },
        "S3BucketName": {
          "$ref": "#/definitions/String3To255",
          "description": "Name of the S3 bucket that contains the CRL. If you do not provide a value for the <b>CustomCname</b> argument, the name of your S3 bucket is placed into the <b>CRL Distribution Points</b> extension of the issued certificate. You can change the name of your bucket by calling the <a>UpdateCertificateAuthority</a> function. You must specify a bucket policy that allows ACM PCA to write the CRL to your bucket."
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "object"
    },
    "CsrBlob": {
      "maxLength": 32768,
      "minLength": 1,
      "type": "string"
    },
    "CsrBody": {
      "type": "string"
    },
    "DeleteCertificateAuthorityRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>"
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "object"
    },
    "DescribeCertificateAuthorityAuditReportRequest": {
      "properties": {
        "AuditReportId": {
          "$ref": "#/definitions/AuditReportId",
          "description": "The report ID returned by calling the <a>CreateCertificateAuthorityAuditReport</a> function."
        },
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) of the private CA. This must be of the form:</p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>"
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "AuditReportId"
      ],
      "type": "object"
    },
    "DescribeCertificateAuthorityAuditReportResponse": {
      "properties": {
        "AuditReportStatus": {
          "$ref": "#/definitions/AuditReportStatus",
          "description": "Specifies whether report creation is in progress, has succeeded, or has failed."
        },
        "CreatedAt": {
          "$ref": "#/definitions/TStamp",
          "description": "The date and time at which the report was created."
        },
        "S3BucketName": {
          "$ref": "#/definitions/String",
          "description": "Name of the S3 bucket that contains the report."
        },
        "S3Key": {
          "$ref": "#/definitions/String",
          "description": "S3 <b>key</b> that uniquely identifies the report file in your S3 bucket."
        }
      },
      "type": "object"
    },
    "DescribeCertificateAuthorityRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>"
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "object"
    },
    "DescribeCertificateAuthorityResponse": {
      "properties": {
        "CertificateAuthority": {
          "$ref": "#/definitions/CertificateAuthority",
          "description": "A <a>CertificateAuthority</a> structure that contains information about your private CA."
        }
      },
      "type": "object"
    },
    "DistinguishedNameQualifierString": {
      "maxLength": 64,
      "minLength": 0,
      "pattern": "[a-zA-Z0-9'()+-.?:/= ]*",
      "type": "string"
    },
    "FailureReason": {
      "enum": [
        "REQUEST_TIMED_OUT",
        "UNSUPPORTED_ALGORITHM",
        "OTHER"
      ],
      "type": "string"
    },
    "GetCertificateAuthorityCertificateRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) of your private CA. This is of the form:</p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>"
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "object"
    },
    "GetCertificateAuthorityCertificateResponse": {
      "properties": {
        "Certificate": {
          "$ref": "#/definitions/CertificateBody",
          "description": "Base64-encoded certificate authority (CA) certificate."
        },
        "CertificateChain": {
          "$ref": "#/definitions/CertificateChain",
          "description": "Base64-encoded certificate chain that includes any intermediate certificates and chains up to root on-premises certificate that you used to sign your private CA certificate. The chain does not include your private CA certificate. "
        }
      },
      "type": "object"
    },
    "GetCertificateAuthorityCsrRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called the <a>CreateCertificateAuthority</a> function. This must be of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "object"
    },
    "GetCertificateAuthorityCsrResponse": {
      "properties": {
        "Csr": {
          "$ref": "#/definitions/CsrBody",
          "description": "The base64 PEM-encoded certificate signing request (CSR) for your private CA certificate."
        }
      },
      "type": "object"
    },
    "GetCertificateRequest": {
      "properties": {
        "CertificateArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The ARN of the issued certificate. The ARN contains the certificate serial number and must be in the following form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>/certificate/<i>286535153982981100925020015808220737245</i> </code> </p>"
        },
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>"
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "CertificateArn"
      ],
      "type": "object"
    },
    "GetCertificateResponse": {
      "properties": {
        "Certificate": {
          "$ref": "#/definitions/CertificateBody",
          "description": "The base64 PEM-encoded certificate specified by the <code>CertificateArn</code> parameter."
        },
        "CertificateChain": {
          "$ref": "#/definitions/CertificateChain",
          "description": "The base64 PEM-encoded certificate chain that chains up to the on-premises root CA certificate that you used to sign your private CA certificate. "
        }
      },
      "type": "object"
    },
    "IdempotencyToken": {
      "maxLength": 36,
      "minLength": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*",
      "type": "string"
    },
    "ImportCertificateAuthorityCertificateRequest": {
      "properties": {
        "Certificate": {
          "$ref": "#/definitions/CertificateBodyBlob",
          "description": "The PEM-encoded certificate for your private CA. This must be signed by using your on-premises CA."
        },
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        },
        "CertificateChain": {
          "$ref": "#/definitions/CertificateChainBlob",
          "description": "A PEM-encoded file that contains all of your certificates, other than the certificate you're importing, chaining up to your root CA. Your on-premises root certificate is the last in the chain, and each certificate in the chain signs the one preceding. "
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "Certificate",
        "CertificateChain"
      ],
      "type": "object"
    },
    "Integer1To5000": {
      "maximum": 5000,
      "minimum": 1,
      "type": "integer"
    },
    "InvalidArgsException": {
      "description": "One or more of the specified arguments was not valid.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "InvalidArnException": {
      "description": "The requested Amazon Resource Name (ARN) does not refer to an existing resource.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "InvalidNextTokenException": {
      "description": "The token specified in the <code>NextToken</code> argument is not valid. Use the token returned from your previous call to <a>ListCertificateAuthorities</a>.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "InvalidPolicyException": {
      "description": "The S3 bucket policy is not valid. The policy must give ACM PCA rights to read from and write to the bucket and find the bucket location.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "InvalidStateException": {
      "description": "The private CA is in a state during which a report cannot be generated.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "InvalidTagException": {
      "description": "The tag associated with the CA is not valid. The invalid argument is contained in the message field.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "IssueCertificateRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form:</p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        },
        "Csr": {
          "$ref": "#/definitions/CsrBlob",
          "description": "<p>The certificate signing request (CSR) for the certificate you want to issue. You can use the following OpenSSL command to create the CSR and a 2048 bit RSA private key. </p> <p> <code>openssl req -new -newkey rsa:2048 -days 365 -keyout private/test_cert_priv_key.pem -out csr/test_cert_.csr</code> </p> <p>If you have a configuration file, you can use the following OpenSSL command. The <code>usr_cert</code> block in the configuration file contains your X509 version 3 extensions. </p> <p> <code>openssl req -new -config openssl_rsa.cnf -extensions usr_cert -newkey rsa:2048 -days -365 -keyout private/test_cert_priv_key.pem -out csr/test_cert_.csr</code> </p>"
        },
        "IdempotencyToken": {
          "$ref": "#/definitions/IdempotencyToken",
          "description": "Custom string that can be used to distinguish between calls to the <b>IssueCertificate</b> function. Idempotency tokens time out after one hour. Therefore, if you call <b>IssueCertificate</b> multiple times with the same idempotency token within 5 minutes, ACM PCA recognizes that you are requesting only one certificate and will issue only one. If you change the idempotency token for each call, PCA recognizes that you are requesting multiple certificates."
        },
        "SigningAlgorithm": {
          "$ref": "#/definitions/SigningAlgorithm",
          "description": "The name of the algorithm that will be used to sign the certificate to be issued."
        },
        "Validity": {
          "$ref": "#/definitions/Validity",
          "description": "The type of the validity period."
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "Csr",
        "SigningAlgorithm",
        "Validity"
      ],
      "type": "object"
    },
    "IssueCertificateResponse": {
      "properties": {
        "CertificateArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) of the issued certificate and the certificate serial number. This is of the form:</p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>/certificate/<i>286535153982981100925020015808220737245</i> </code> </p>"
        }
      },
      "type": "object"
    },
    "KeyAlgorithm": {
      "enum": [
        "RSA_2048",
        "RSA_4096",
        "EC_prime256v1",
        "EC_secp384r1"
      ],
      "type": "string"
    },
    "LimitExceededException": {
      "description": "An ACM PCA limit has been exceeded. See the exception message returned to determine the limit that was exceeded.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "ListCertificateAuthoritiesRequest": {
      "properties": {
        "MaxResults": {
          "$ref": "#/definitions/MaxResults",
          "description": "Use this parameter when paginating results to specify the maximum number of items to return in the response on each page. If additional items exist beyond the number you specify, the <code>NextToken</code> element is sent in the response. Use this <code>NextToken</code> value in a subsequent request to retrieve additional items."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "Use this parameter when paginating results in a subsequent request after you receive a response with truncated results. Set it to the value of the <code>NextToken</code> parameter from the response you just received."
        }
      },
      "type": "object"
    },
    "ListCertificateAuthoritiesResponse": {
      "properties": {
        "CertificateAuthorities": {
          "$ref": "#/definitions/CertificateAuthorities",
          "description": "Summary information about each certificate authority you have created."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "When the list is truncated, this value is present and should be used for the <code>NextToken</code> parameter in a subsequent pagination request."
        }
      },
      "type": "object"
    },
    "ListTagsRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called the <a>CreateCertificateAuthority</a> function. This must be of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        },
        "MaxResults": {
          "$ref": "#/definitions/MaxResults",
          "description": "Use this parameter when paginating results to specify the maximum number of items to return in the response. If additional items exist beyond the number you specify, the <b>NextToken</b> element is sent in the response. Use this <b>NextToken</b> value in a subsequent request to retrieve additional items."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "Use this parameter when paginating results in a subsequent request after you receive a response with truncated results. Set it to the value of <b>NextToken</b> from the response you just received."
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "object"
    },
    "ListTagsResponse": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "When the list is truncated, this value is present and should be used for the <b>NextToken</b> parameter in a subsequent pagination request. "
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "The tags associated with your private CA."
        }
      },
      "type": "object"
    },
    "MalformedCSRException": {
      "description": "The certificate signing request is invalid.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "MalformedCertificateException": {
      "description": "One or more fields in the certificate are invalid.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "MaxResults": {
      "maximum": 1000,
      "minimum": 1,
      "type": "integer"
    },
    "NextToken": {
      "maxLength": 500,
      "minLength": 1,
      "type": "string"
    },
    "PositiveLong": {
      "minimum": 1,
      "type": "integer"
    },
    "RequestAlreadyProcessedException": {
      "description": "Your request has already been completed.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "RequestFailedException": {
      "description": "The request has failed for an unspecified reason.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "RequestInProgressException": {
      "description": "Your request is already in progress.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "ResourceNotFoundException": {
      "description": "A resource such as a private CA, S3 bucket, certificate, or audit report cannot be found.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "RevocationConfiguration": {
      "description": "Certificate revocation information used by the <a>CreateCertificateAuthority</a> and <a>UpdateCertificateAuthority</a> functions. Your private certificate authority (CA) can create and maintain a certificate revocation list (CRL). A CRL contains information about certificates revoked by your CA. For more information, see <a>RevokeCertificate</a>.",
      "properties": {
        "CrlConfiguration": {
          "$ref": "#/definitions/CrlConfiguration",
          "description": "Configuration of the certificate revocation list (CRL), if any, maintained by your private CA."
        }
      },
      "type": "object"
    },
    "RevocationReason": {
      "enum": [
        "UNSPECIFIED",
        "KEY_COMPROMISE",
        "CERTIFICATE_AUTHORITY_COMPROMISE",
        "AFFILIATION_CHANGED",
        "SUPERSEDED",
        "CESSATION_OF_OPERATION",
        "PRIVILEGE_WITHDRAWN",
        "A_A_COMPROMISE"
      ],
      "type": "string"
    },
    "RevokeCertificateRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>Amazon Resource Name (ARN) of the private CA that issued the certificate to be revoked. This must be of the form:</p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        },
        "CertificateSerial": {
          "$ref": "#/definitions/String128",
          "description": "<p>Serial number of the certificate to be revoked. This must be in hexadecimal format. You can retrieve the serial number by calling <a>GetCertificate</a> with the Amazon Resource Name (ARN) of the certificate you want and the ARN of your private CA. The <b>GetCertificate</b> function retrieves the certificate in the PEM format. You can use the following OpenSSL command to list the certificate in text format and copy the hexadecimal serial number. </p> <p> <code>openssl x509 -in <i>file_path</i> -text -noout</code> </p> <p>You can also copy the serial number from the console or use the <a href=\"http://docs.aws.amazon.comacm/latest/APIReferenceAPI_DescribeCertificate.html\">DescribeCertificate</a> function in the <i>AWS Certificate Manager API Reference</i>. </p>"
        },
        "RevocationReason": {
          "$ref": "#/definitions/RevocationReason",
          "description": "Specifies why you revoked the certificate."
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "CertificateSerial",
        "RevocationReason"
      ],
      "type": "object"
    },
    "SigningAlgorithm": {
      "enum": [
        "SHA256WITHECDSA",
        "SHA384WITHECDSA",
        "SHA512WITHECDSA",
        "SHA256WITHRSA",
        "SHA384WITHRSA",
        "SHA512WITHRSA"
      ],
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "String128": {
      "maxLength": 128,
      "minLength": 0,
      "type": "string"
    },
    "String16": {
      "maxLength": 16,
      "minLength": 0,
      "type": "string"
    },
    "String253": {
      "maxLength": 253,
      "minLength": 0,
      "type": "string"
    },
    "String3": {
      "maxLength": 3,
      "minLength": 0,
      "type": "string"
    },
    "String3To255": {
      "maxLength": 255,
      "minLength": 3,
      "type": "string"
    },
    "String40": {
      "maxLength": 40,
      "minLength": 0,
      "type": "string"
    },
    "String5": {
      "maxLength": 5,
      "minLength": 0,
      "type": "string"
    },
    "String64": {
      "maxLength": 64,
      "minLength": 0,
      "type": "string"
    },
    "TStamp": {
      "format": "date-time",
      "type": "string"
    },
    "Tag": {
      "description": "Tags are labels that you can use to identify and organize your private CAs. Each tag consists of a key and an optional value. You can associate up to 50 tags with a private CA. To add one or more tags to a private CA, call the <a>TagCertificateAuthority</a> function. To remove a tag, call the <a>UntagCertificateAuthority</a> function. ",
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "Key (name) of the tag."
        },
        "Value": {
          "$ref": "#/definitions/TagValue",
          "description": "Value of the tag."
        }
      },
      "required": [
        "Key"
      ],
      "type": "object"
    },
    "TagCertificateAuthorityRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "List of tags to be associated with the CA."
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "Tags"
      ],
      "type": "object"
    },
    "TagKey": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*",
      "type": "string"
    },
    "TagList": {
      "items": {
        "$ref": "#/definitions/Tag"
      },
      "maxItems": 50,
      "minItems": 1,
      "type": "array"
    },
    "TagValue": {
      "maxLength": 256,
      "minLength": 0,
      "pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*",
      "type": "string"
    },
    "TooManyTagsException": {
      "description": "You can associate up to 50 tags with a private CA. Exception information is contained in the exception message field.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "UntagCertificateAuthorityRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "List of tags to be removed from the CA."
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "Tags"
      ],
      "type": "object"
    },
    "UpdateCertificateAuthorityRequest": {
      "properties": {
        "CertificateAuthorityArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>Amazon Resource Name (ARN) of the private CA that issued the certificate to be revoked. This must be of the form:</p> <p> <code>arn:aws:acm:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        },
        "RevocationConfiguration": {
          "$ref": "#/definitions/RevocationConfiguration",
          "description": "Revocation information for your private CA."
        },
        "Status": {
          "$ref": "#/definitions/CertificateAuthorityStatus",
          "description": "Status of your private CA."
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "object"
    },
    "Validity": {
      "description": "Length of time for which the certificate issued by your private certificate authority (CA), or by the private CA itself, is valid in days, months, or years. You can issue a certificate by calling the <a>IssueCertificate</a> function.",
      "properties": {
        "Type": {
          "$ref": "#/definitions/ValidityPeriodType",
          "description": "Specifies whether the <code>Value</code> parameter represents days, months, or years."
        },
        "Value": {
          "$ref": "#/definitions/PositiveLong",
          "description": "Time period."
        }
      },
      "required": [
        "Value",
        "Type"
      ],
      "type": "object"
    },
    "ValidityPeriodType": {
      "enum": [
        "END_DATE",
        "ABSOLUTE",
        "DAYS",
        "MONTHS",
        "YEARS"
      ],
      "type": "string"
    }
  }
}