{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@nfusionsolutions.com",
      "name": "nFusion Solutions",
      "url": "https://nfusionsolutions.com/contact-us",
      "x-twitter": "nfusionsolution"
    },
    "description": "[nFusion Solutions](https://nfusionsolutions.com) provides [REST APIs](https://nfusionsolutions.com/data-feeds/) that deliver enterprise-grade financial data. Data sets include real-time and historical pricing for Spot prices of precious metals such as Gold, Silver, Platinum, and Palladium, exchange rates for major currency pairs, exchange rates for Crypto Currencies such as BTC, ETH, and LTC. All API access requires authentication. In order to be issued access credentials you must first enter into a service agreement with nFusion Solutions and acquire a commercial license. For information on how to obtain a licence [take a tour of our products](https://nfusionsolutions.com/nfusion-solutions-metals-gold-price-feed-tour/) or email sales@nfusionsolutions.com.",
    "license": {
      "name": "Commercial License",
      "url": "https://nfusionsolutions.com/nfusion-solutions-metals-gold-price-feed-quote/"
    },
    "title": "nFusion Solutions Market Data API v1",
    "version": "1",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfusionsolution_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.nfusionsolutions.biz/swagger/1/swagger.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "nfusionsolutions.biz",
    "x-datafire": {
      "name": "nfusionsolutions_biz",
      "type": "openapi"
    }
  },
  "host": "api.nfusionsolutions.biz",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v{version}/Currencies/history": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD",
            "in": "query",
            "name": "pairs",
            "required": true,
            "type": "string"
          },
          {
            "description": "start date of time period. format is <i>yyyy-mm-dd</i>",
            "format": "date-time",
            "in": "query",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "description": "end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.",
            "format": "date-time",
            "in": "query",
            "name": "end",
            "type": "string"
          },
          {
            "description": "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r\nfollowed by a type string which must be one of the following values:\r\ny=year,\r\nm=month,\r\nw=week,\r\nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not specified the interval parameter default is 1 Day.",
            "in": "query",
            "name": "interval",
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/IntervalCollectionResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Currencies"
        ],
        "description": "Historical OHLC data for the specified period and interval size\r\n\r\nThe combination of the interval parameter and start and end dates can result in results\r\nbeing truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.",
        "summary": "Get historical prices for requested currency pairs"
      }
    },
    "/api/v{version}/Currencies/history/supported": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Currencies"
        ],
        "description": "Only the currency pairs in the direction noted can be used with the history endpoint.\r\nFor example: USD/CAD is not the same as CAD/USD",
        "summary": "Get list of currency pairs supported by the history endpoint"
      }
    },
    "/api/v{version}/Currencies/rate": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD",
            "in": "query",
            "name": "pairs",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/RateResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Currencies"
        ],
        "description": "Current Mid Rate",
        "summary": "Get latest mid rate for requested currency pairs"
      }
    },
    "/api/v{version}/Currencies/rate/supported": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Currencies"
        ],
        "description": "Any of the currencies in this list can be paired with any other currency in this list when supplied to the Rate endpoint.\r\nFor example: USD/CAD,CAD/USD,USD/EUR,EUR/CAD",
        "summary": "Get list of currencies supported by the rate endpoint"
      }
    },
    "/api/v{version}/Currencies/summary": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD",
            "in": "query",
            "name": "pairs",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/SummaryResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Currencies"
        ],
        "description": "Current and daily summary information combined into a single quote",
        "summary": "Get latest Summary for requested currency pairs"
      }
    },
    "/api/v{version}/Currencies/summary/supported": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Currencies"
        ],
        "description": "Only the currency pairs in the direction noted can be used with the Summary endpoint.\r\nFor example: USD/CAD is not the same as CAD/USD",
        "summary": "Get list of currency pairs supported by the Summary endpoint"
      }
    },
    "/api/v{version}/Metals/benchmark/history": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of metals",
            "in": "query",
            "name": "metals",
            "required": true,
            "type": "string"
          },
          {
            "description": "start date of time period. format is <i>yyyy-mm-dd</i>",
            "format": "date-time",
            "in": "query",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "description": "end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.",
            "format": "date-time",
            "in": "query",
            "name": "end",
            "type": "string"
          },
          {
            "description": "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r\nfollowed by a type string which must be one of the following values:\r\ny=year,\r\nm=month,\r\nw=week,\r\nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not specified the interval parameter default is 1 Day.",
            "in": "query",
            "name": "interval",
            "type": "string"
          },
          {
            "description": "if true use historical currency rates otherwise current currency rates. Defaults to true.",
            "in": "query",
            "name": "historicalfx",
            "type": "boolean"
          },
          {
            "description": "comma separated list of conversion currencies, defaults to USD",
            "in": "query",
            "name": "currency",
            "type": "string"
          },
          {
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r\nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "enum": [
              "mg",
              "g",
              "kg",
              "gr",
              "oz",
              "toz",
              "ct",
              "dwt"
            ],
            "in": "query",
            "name": "unitofmeasure",
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/IntervalCollectionResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "Historical OHLC data for the specified period and interval size\r\n\r\nThe combination of the interval parameter and start and end dates can result in results\r\nbeing truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.\r\n\r\nThe historicalfx flag is used to determine whether to apply today's fx rates to a historical period, or to apply the historical rates from that same time frame.",
        "summary": "Get historical benchmark prices for requested metals"
      }
    },
    "/api/v{version}/Metals/benchmark/summary": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of metals",
            "in": "query",
            "name": "metals",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of conversion currencies, defaults to USD",
            "in": "query",
            "name": "currency",
            "type": "string"
          },
          {
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r\nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "enum": [
              "mg",
              "g",
              "kg",
              "gr",
              "oz",
              "toz",
              "ct",
              "dwt"
            ],
            "in": "query",
            "name": "unitofmeasure",
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/SummaryResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "Benchmark price information",
        "summary": "Get latest Benchmark prices for requested metals"
      }
    },
    "/api/v{version}/Metals/benchmark/supported": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "",
        "summary": "Get list of symbols supported by the benchmark endpoints"
      }
    },
    "/api/v{version}/Metals/spot/history": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of metals",
            "in": "query",
            "name": "metals",
            "required": true,
            "type": "string"
          },
          {
            "description": "start date of time period. format is <i>yyyy-mm-dd</i>",
            "format": "date-time",
            "in": "query",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "description": "end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.",
            "format": "date-time",
            "in": "query",
            "name": "end",
            "type": "string"
          },
          {
            "description": "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r\nfollowed by a type string which must be one of the following values:\r\ny=year,\r\nm=month,\r\nw=week,\r\nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not specified the interval parameter default is 1 Day.",
            "in": "query",
            "name": "interval",
            "type": "string"
          },
          {
            "description": "if true use historical currency rates otherwise current currency rates. Defaults to true.",
            "in": "query",
            "name": "historicalfx",
            "type": "boolean"
          },
          {
            "description": "comma separated list of conversion currencies, defaults to USD",
            "in": "query",
            "name": "currency",
            "type": "string"
          },
          {
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r\nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "enum": [
              "mg",
              "g",
              "kg",
              "gr",
              "oz",
              "toz",
              "ct",
              "dwt"
            ],
            "in": "query",
            "name": "unitofmeasure",
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/IntervalCollectionResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "Historical OHLC data for the specified period and interval size\r\n\r\nThe combination of the interval parameter and start and end dates can result in results\r\nbeing truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.\r\n\r\nThe historicalfx flag is used to determine whether to apply today's fx rates to a historical period, or to apply the historical rates from that same time frame.",
        "summary": "Get historical Spot prices for requested metals"
      }
    },
    "/api/v{version}/Metals/spot/performance": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of metals",
            "in": "query",
            "name": "metals",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of conversion currencies, defaults to USD",
            "in": "query",
            "name": "currency",
            "type": "string"
          },
          {
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r\nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "enum": [
              "mg",
              "g",
              "kg",
              "gr",
              "oz",
              "toz",
              "ct",
              "dwt"
            ],
            "in": "query",
            "name": "unitofmeasure",
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/IntervalCollectionResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "Historical Performance information",
        "summary": "Get Historical Performance for requested metals"
      }
    },
    "/api/v{version}/Metals/spot/performance/annual": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of metals",
            "in": "query",
            "name": "metals",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of conversion currencies, defaults to USD",
            "in": "query",
            "name": "currency",
            "type": "string"
          },
          {
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r\nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "enum": [
              "mg",
              "g",
              "kg",
              "gr",
              "oz",
              "toz",
              "ct",
              "dwt"
            ],
            "in": "query",
            "name": "unitofmeasure",
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "Number of years of history to return. Defaults to 10.",
            "format": "int32",
            "in": "query",
            "name": "years",
            "type": "integer"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/IntervalCollectionResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "Annual Historical Performance information",
        "summary": "Get Historical Annual Performance for requested metals"
      }
    },
    "/api/v{version}/Metals/spot/ratio/history": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of metals",
            "in": "query",
            "name": "pairs",
            "required": true,
            "type": "string"
          },
          {
            "description": "start date of time period. format is <i>yyyy-mm-dd</i>",
            "format": "date-time",
            "in": "query",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "description": "end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.",
            "format": "date-time",
            "in": "query",
            "name": "end",
            "type": "string"
          },
          {
            "description": "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r\nfollowed by a type string which must be one of the following values:\r\ny=year,\r\nm=month,\r\nw=week,\r\nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not specified the interval parameter default is 1 Day.",
            "in": "query",
            "name": "interval",
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/IntervalCollectionResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "Historical data for the specified period and interval size\r\n\r\nThe combination of the interval parameter and start and end dates can result in results\r\nbeing truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.",
        "summary": "Get historical Spot Ratio prices for requested metals"
      }
    },
    "/api/v{version}/Metals/spot/ratio/summary": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of metal pairs. For example: gold/silver,gold/platinum,silver/palladium",
            "in": "query",
            "name": "pairs",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/SummaryResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "Ratios between prices of two metals",
        "summary": "Get latest Spot Summary for requested metal ratios"
      }
    },
    "/api/v{version}/Metals/spot/summary": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of metals",
            "in": "query",
            "name": "metals",
            "required": true,
            "type": "string"
          },
          {
            "description": "comma separated list of conversion currencies, defaults to USD",
            "in": "query",
            "name": "currency",
            "type": "string"
          },
          {
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r\nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "enum": [
              "mg",
              "g",
              "kg",
              "gr",
              "oz",
              "toz",
              "ct",
              "dwt"
            ],
            "in": "query",
            "name": "unitofmeasure",
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/SummaryResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "Current and daily summary information combined into a single quote",
        "summary": "Get latest Spot Summary for requested metals"
      }
    },
    "/api/v{version}/Metals/spot/supported": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "",
        "summary": "Get list of symbols supported by the spot endpoints"
      }
    },
    "/api/v{version}/Metals/supported/currency": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "auth token",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          },
          {
            "description": "to override content negotiation specify a value of json or xml",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The requested API version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Metals"
        ],
        "description": "",
        "summary": "Get list of currencies supported by metals endpoints for currency conversion"
      }
    }
  },
  "definitions": {
    "Interval": {
      "additionalProperties": false,
      "properties": {
        "change": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "changePercent": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "end": {
          "format": "date-time",
          "type": "string"
        },
        "high": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "last": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "low": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "open": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "start": {
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IntervalCollection": {
      "additionalProperties": false,
      "properties": {
        "baseCurrency": {
          "type": "string",
          "x-nullable": true
        },
        "intervals": {
          "items": {
            "$ref": "#/definitions/Interval"
          },
          "type": "array",
          "x-nullable": true
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "symbol": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "IntervalCollectionResponse": {
      "additionalProperties": false,
      "properties": {
        "data": {
          "$ref": "#/definitions/IntervalCollection"
        },
        "error": {
          "type": "string",
          "x-nullable": true
        },
        "requestedCurrency": {
          "type": "string",
          "x-nullable": true
        },
        "requestedSymbol": {
          "type": "string",
          "x-nullable": true
        },
        "requestedUnitOfMeasure": {
          "type": "string",
          "x-nullable": true
        },
        "success": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ProblemDetails": {
      "additionalProperties": {},
      "properties": {
        "detail": {
          "type": "string",
          "x-nullable": true
        },
        "instance": {
          "type": "string",
          "x-nullable": true
        },
        "status": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "title": {
          "type": "string",
          "x-nullable": true
        },
        "type": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "Rate": {
      "additionalProperties": false,
      "properties": {
        "symbol": {
          "type": "string",
          "x-nullable": true
        },
        "timestamp": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "value": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "RateResponse": {
      "additionalProperties": false,
      "properties": {
        "data": {
          "$ref": "#/definitions/Rate"
        },
        "error": {
          "type": "string",
          "x-nullable": true
        },
        "requestedCurrency": {
          "type": "string",
          "x-nullable": true
        },
        "requestedSymbol": {
          "type": "string",
          "x-nullable": true
        },
        "requestedUnitOfMeasure": {
          "type": "string",
          "x-nullable": true
        },
        "success": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ResponseFormat": {
      "enum": [
        "json",
        "xml"
      ],
      "type": "string"
    },
    "Summary": {
      "additionalProperties": false,
      "properties": {
        "ask": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "baseCurrency": {
          "type": "string",
          "x-nullable": true
        },
        "bid": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "fiftyTwoWeekHigh": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "fiftyTwoWeekLow": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "fiftyTwoWeekPercentChange": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "fourWeekPercentChange": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "high": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "last": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "low": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "oneDayChange": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "oneDayPercentChange": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "oneDayValue": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "open": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "symbol": {
          "type": "string",
          "x-nullable": true
        },
        "timeStamp": {
          "format": "date-time",
          "type": "string"
        },
        "twelveWeekPercentChange": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "yearToDatePercentChange": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "SummaryResponse": {
      "additionalProperties": false,
      "properties": {
        "data": {
          "$ref": "#/definitions/Summary"
        },
        "error": {
          "type": "string",
          "x-nullable": true
        },
        "requestedCurrency": {
          "type": "string",
          "x-nullable": true
        },
        "requestedSymbol": {
          "type": "string",
          "x-nullable": true
        },
        "requestedUnitOfMeasure": {
          "type": "string",
          "x-nullable": true
        },
        "success": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "UnitOfMeasure": {
      "enum": [
        "mg",
        "g",
        "kg",
        "gr",
        "oz",
        "toz",
        "ct",
        "dwt"
      ],
      "type": "string"
    }
  },
  "x-components": {}
}