{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "hello_iqualify"
    },
    "description": "The iQualify API offers management responses for building\nlearning experiences using your iQualify instance data.\n\nOnce you’ve registered with iQualify, you can request an API access token by\nnavigating to the API access section of the \"Account Settings\" area.\n\nFind out how to [Request your API access token](https://www.iqualify.com/help/connecting-iqualify-to-other-systems/api/how-to-access-and-manage-your-api-token)\non our Knowledge base.\n\nAll endpoints are only accessible via https and are located at\napi.iqualify.com. For instance: you can find your current offerings by\naccessing the following URL:\n    https://api.iqualify.com/v1/offerings/current\n\n",
    "title": "iQualify Management API",
    "version": "v1",
    "x-apisguru-categories": [
      "education"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_hello_iqualify_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.iqualify.com/v1/management.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "iqualify.com",
    "x-datafire": {
      "name": "iqualify",
      "type": "openapi"
    }
  },
  "host": "api.iqualify.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Supported endpoints",
            "schema": {
              "type": "object"
            }
          }
        },
        "tags": [
          "API info"
        ],
        "description": "Responds with all supported endpoints URLs for v2 version.",
        "summary": "List supported endpoints URLs"
      }
    },
    "/course-mappings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Course Mappings",
            "schema": {
              "additionalProperties": {
                "type": "string"
              },
              "title": "course mappings",
              "type": "object"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course mappings"
        ],
        "description": "Returns all course mappings for course offerings.",
        "summary": "Find course mappings"
      }
    },
    "/course-mappings/externalcourse/{externalCourseId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "external course's id",
            "in": "path",
            "name": "externalCourseId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Course Mapping",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course mappings"
        ],
        "description": "Responds with course mapping details by externalCourseId.",
        "summary": "Find course mappings by externalCourseId"
      }
    },
    "/course-mappings/{offeringId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Course Mapping",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course mappings"
        ],
        "description": "Responds with course mapping details by offeringId.",
        "summary": "Find course mappings by offeringId"
      }
    },
    "/course-mappings/{offeringId}/{externalCourseId}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "external course's id",
            "in": "path",
            "name": "externalCourseId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Course Mapping",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course mappings"
        ],
        "description": "Removes the course mapping between the offering and the externalCourseId.",
        "summary": "Remove course mapping"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "external course's id",
            "in": "path",
            "name": "externalCourseId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Course Mapping",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course mappings"
        ],
        "description": "Creates a mapping between the offering and the externalCourseId.",
        "summary": "Add course mapping"
      }
    },
    "/courses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "All courses (draft and published) in the organisation.",
            "schema": {
              "items": {
                "$ref": "#/definitions/CourseResponse"
              },
              "title": "Courses",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Courses"
        ],
        "description": "Responds with all courses (draft and published.)",
        "summary": "Find courses"
      }
    },
    "/courses/{contentId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The content Id",
            "in": "path",
            "name": "contentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Course detail",
            "schema": {
              "$ref": "#/definitions/CourseMetaResponse"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Courses"
        ],
        "description": "Responds with a course matching the contentId.",
        "summary": "Find course by contentId"
      }
    },
    "/courses/{contentId}/activations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The content Id",
            "in": "path",
            "name": "contentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Activation list.",
            "schema": {
              "$ref": "#/definitions/ActivationResponse"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Courses"
        ],
        "description": "Responds with all activations for the contentId provided.",
        "summary": "Find activations for a contentId"
      }
    },
    "/courses/{contentId}/metadata/category": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The content Id",
            "in": "path",
            "name": "contentId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "properties": {
                "category": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course detail",
            "schema": {
              "$ref": "#/definitions/CourseMetaResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course metadata"
        ],
        "description": "Add or update course category in the metadata of a course.",
        "summary": "Update course category"
      }
    },
    "/courses/{contentId}/metadata/level": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The content Id",
            "in": "path",
            "name": "contentId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "properties": {
                "level": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course detail",
            "schema": {
              "$ref": "#/definitions/CourseMetaResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course metadata"
        ],
        "description": "Add or update the course level in the metadata of a course.",
        "summary": "Update course level"
      }
    },
    "/courses/{contentId}/metadata/tags": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The content Id",
            "in": "path",
            "name": "contentId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "properties": {
                "tags": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course detail",
            "schema": {
              "$ref": "#/definitions/CourseMetaResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course metadata"
        ],
        "description": "Add or update course tags in the metadata of a course.",
        "summary": "Update course tags"
      }
    },
    "/courses/{contentId}/metadata/topic": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The content Id",
            "in": "path",
            "name": "contentId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "properties": {
                "topic": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course detail",
            "schema": {
              "$ref": "#/definitions/CourseMetaResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Course metadata"
        ],
        "description": "Add or update the course topic in the metadata of a course.",
        "summary": "Update course topic"
      }
    },
    "/courses/{contentId}/permissions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The content Id",
            "in": "path",
            "name": "contentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users who have access to the content ID provided.",
            "schema": {
              "$ref": "#/definitions/UserPermission"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Courses"
        ],
        "description": "Responds with users who have access to a specific course by contentId.",
        "summary": "Find users who have access to the contentId provided"
      }
    },
    "/courses/{rootContentId}/permissions/{userEmail}": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The content Id",
            "in": "path",
            "name": "rootContentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The user email",
            "in": "path",
            "name": "userEmail",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "isBuilder": {
                  "default": true,
                  "type": "boolean"
                },
                "isReviewer": {
                  "default": false,
                  "type": "boolean"
                }
              },
              "title": "permission to be granted to the user.",
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "user successfully added to the course with the specified permission.",
            "schema": {
              "properties": {
                "contentId": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Courses"
        ],
        "description": "Provide an array of users with access to a specific course.",
        "summary": "Update course access"
      }
    },
    "/offerings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "all offerings (current, past and future ones)",
            "schema": {
              "items": {
                "$ref": "#/definitions/OfferingMetadataResponse"
              },
              "title": "Offerings",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Responds with all offerings for your organisation.",
        "summary": "Find current, past and future offerings"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OfferingRequired"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "offering created",
            "schema": {
              "$ref": "#/definitions/OfferingMetadataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Creates a new offering.",
        "summary": "Create offering"
      }
    },
    "/offerings/current": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "current offerings",
            "schema": {
              "items": {
                "$ref": "#/definitions/OfferingMetadataResponse"
              },
              "title": "Offerings",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Responds with active offerings for your organisation.",
        "summary": "Find active offerings"
      }
    },
    "/offerings/future": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "future offerings",
            "schema": {
              "items": {
                "$ref": "#/definitions/OfferingMetadataResponse"
              },
              "title": "Offerings",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Responds with scheduled offerings for your organisation. Scheduled offerings have a start date after today's date (inclusive).",
        "summary": "Find scheduled offerings"
      }
    },
    "/offerings/info/{textPattern}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Text pattern to search for (minimum of 3 characters length).",
            "in": "path",
            "name": "textPattern",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Offerings",
            "schema": {
              "items": {
                "$ref": "#/definitions/PortfolioActivations"
              },
              "title": "Offerings",
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Find offerings where info field matches the specified text pattern.",
        "summary": "Find offerings where info field matches the specified textPattern"
      }
    },
    "/offerings/past": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "past offerings",
            "schema": {
              "items": {
                "$ref": "#/definitions/OfferingMetadataResponse"
              },
              "title": "Offerings",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Responds with past offerings for your organisation.",
        "summary": "Find past offerings"
      }
    },
    "/offerings/summary": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "50",
            "description": "Returns only the first n results.",
            "in": "query",
            "name": "$top",
            "type": "string"
          },
          {
            "description": "Sorts the results.",
            "in": "query",
            "name": "$orderby",
            "type": "string"
          },
          {
            "description": "Filters the results, based on a Boolean condition.",
            "in": "query",
            "name": "$filter",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "all offerings.",
            "schema": {
              "items": {
                "$ref": "#/definitions/PortfolioActivations"
              },
              "title": "Offerings",
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Responds with a summary of all offerings for your organisation.",
        "summary": "Offerings summary"
      }
    },
    "/offerings/{offeringId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "offering",
            "schema": {
              "$ref": "#/definitions/OfferingMetadataResponse"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Responds with an offering matching the offeringId.",
        "summary": "Find offering by ID"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Offering"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "offering updated",
            "schema": {
              "$ref": "#/definitions/OfferingMetadataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Offerings"
        ],
        "description": "Updates the offering.",
        "summary": "Update offering"
      }
    },
    "/offerings/{offeringId}/activities/openresponse": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "offering's learners",
            "schema": {
              "items": {
                "$ref": "#/definitions/OfferingActivitiesResponse"
              },
              "title": "Activities",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment management"
        ],
        "description": "Responds with the activities in a specific offering.",
        "summary": "Find offering's activities"
      }
    },
    "/offerings/{offeringId}/analytics/activities/responses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Offering activity attempt open responses",
            "schema": {
              "items": {
                "$ref": "#/definitions/ActivityAttemptOpenResponse"
              },
              "title": "OfferingActivityAttemptOpenResponses",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment data"
        ],
        "description": "Responds with all learner activity attempts for open response activities in an offering matching the offeringId.",
        "summary": "Find open response activity attempts"
      }
    },
    "/offerings/{offeringId}/analytics/channels/{channelId}/comments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "channel's id",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "items": {
                "$ref": "#/definitions/Comment"
              },
              "title": "Comments",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Channels"
        ],
        "description": "Responds with a list of comments made in any posts in a specified channel, within an offering.",
        "summary": "Find comments"
      }
    },
    "/offerings/{offeringId}/analytics/channels/{channelId}/posts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "channel's id",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "items": {
                "$ref": "#/definitions/httpPost"
              },
              "title": "Posts",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Channels"
        ],
        "description": "Responds with a list of posts made in a specified channel, within an offering.",
        "summary": "Find posts"
      }
    },
    "/offerings/{offeringId}/analytics/channels/{channelId}/replies": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "channel's id",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "items": {
                "$ref": "#/definitions/Comment"
              },
              "title": "Comments",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Channels"
        ],
        "description": "Responds with a list of replies to comments in any posts in a specified channel, within an offering.",
        "summary": "Find replies"
      }
    },
    "/offerings/{offeringId}/analytics/learners-progress": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Learners progress",
            "schema": {
              "items": {
                "$ref": "#/definitions/LearnerProgressResponse"
              },
              "title": "LearnersProgress",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Learner activity"
        ],
        "description": "Responds with all learner progress in the offering.",
        "summary": "Find learner progress in a specified offering"
      }
    },
    "/offerings/{offeringId}/analytics/marks/assignments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Assignments marks",
            "schema": {
              "items": {
                "$ref": "#/definitions/AssignmentMarkResponse"
              },
              "title": "AssignmentsMarks",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment data"
        ],
        "description": "Responds with all learner assessment marks in an offering matching the offeringId.",
        "summary": "Find assessment marks"
      }
    },
    "/offerings/{offeringId}/analytics/marks/quizzes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Quizzes marks",
            "schema": {
              "items": {
                "$ref": "#/definitions/QuizMarkResponse"
              },
              "title": "QuizzesMarks",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment data"
        ],
        "description": "Responds with all learner quiz marks in an offering matching the offeringId.",
        "summary": "Find quiz marks"
      }
    },
    "/offerings/{offeringId}/analytics/pulses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Pulses' ids",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Pulses"
        ],
        "description": "Responds with the IDs of all pulses that learners have responded to in a specified offering.",
        "summary": "Find all pulse IDs in the specified offering"
      }
    },
    "/offerings/{offeringId}/analytics/pulses/responses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Filter pulse responses by type.",
            "enum": [
              "submit_text",
              "MCQ",
              "spatial_triangular",
              "spatial_planar",
              "spatial_linear"
            ],
            "in": "query",
            "name": "pulseType",
            "type": "string"
          },
          {
            "description": "Filter pulse responses by responseTime. Lower then (`lt`), lower then or equal (`lte`), greater then (`gt`) and greater then or equal (`gte`) operators are available. Example of filtering by time range __gte__2017-03-14T07:30:00Z__",
            "in": "query",
            "name": "responseTime"
          }
        ],
        "responses": {
          "200": {
            "description": "All pulses' responses",
            "schema": {
              "items": {
                "$ref": "#/definitions/PulseResponse"
              },
              "title": "Pulses",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Pulses"
        ],
        "description": "Responds with pulse's responses in an offering matching the offeringId.",
        "summary": "Find pulses by offeringId"
      }
    },
    "/offerings/{offeringId}/analytics/pulses/{pulseId}/responses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "pulse's base id",
            "in": "path",
            "name": "pulseId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Pulse data matching pulseId",
            "schema": {
              "items": {
                "$ref": "#/definitions/PulseResponse"
              },
              "title": "Pulses",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Pulses"
        ],
        "description": "Responds with pulse's responses, matching the pulseId, in an offering matching the offeringId.",
        "summary": "Find pulses by offeringId and pulseId"
      }
    },
    "/offerings/{offeringId}/analytics/social-notes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Offering social notes",
            "schema": {
              "items": {
                "$ref": "#/definitions/SocialNotesResponse"
              },
              "title": "OfferingSocialNotes",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Learner activity"
        ],
        "description": "Responds with all shared social notes in a specified offering.",
        "summary": "Find shared social notes in an offering"
      }
    },
    "/offerings/{offeringId}/analytics/submissions/assignments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Assignments submissions",
            "schema": {
              "items": {
                "$ref": "#/definitions/AssignmentMarkResponse"
              },
              "title": "AssignmentsSubmissions",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment data"
        ],
        "description": "Responds with all learner assessment submissions and marks, if any, in an offering matching the offeringId.",
        "summary": "Find submissions to assessments, including marks if any"
      }
    },
    "/offerings/{offeringId}/analytics/submissions/open-response/{assessmentId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "assessment's id",
            "in": "path",
            "name": "assessmentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Responds with assignment submissions for the specified assignment.",
            "schema": {
              "items": {
                "$ref": "#/definitions/SubmissionMarkResponse"
              },
              "title": "SubmissionMarkResponse",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment data"
        ],
        "description": "Responds with all learner assessment submissions and marks, if any, in a specified open response assessment.",
        "summary": "Find submissions to a specified open response assessment, including marks if any"
      }
    },
    "/offerings/{offeringId}/analytics/unit-reactions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Unit Reactions",
            "schema": {
              "items": {
                "$ref": "#/definitions/UnitReactionsAnalyticsResponse"
              },
              "title": "UnitReactiosAnalytics",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Learner activity"
        ],
        "description": "Responds with user reactions to units in a specified offering.",
        "summary": "Find unit reactions"
      }
    },
    "/offerings/{offeringId}/assessments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "offering's assessments",
            "schema": {
              "items": {
                "$ref": "#/definitions/AssessmentResponse"
              },
              "title": "Assessments",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment management"
        ],
        "description": "Responds with all assessments in an offering matching the offeringId.",
        "summary": "Find offering's assessments"
      }
    },
    "/offerings/{offeringId}/assessments/{assessmentId}": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "assessment's id",
            "in": "path",
            "name": "assessmentId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "assessment successfully updated",
            "schema": {
              "$ref": "#/definitions/AssessmentResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment management"
        ],
        "description": "Updates the assessment details for a specified assessment in an offering.",
        "summary": "Update assessment details"
      }
    },
    "/offerings/{offeringId}/assessments/{assessmentId}/documents": {},
    "/offerings/{offeringId}/assessments/{assessmentId}/documents/{documentId}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "assessment's id",
            "in": "path",
            "name": "assessmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "documents's id",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "assessment document successfully removed"
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment management"
        ],
        "description": "Removes the assessment document file for a specified assessment in an offering.",
        "summary": "Remove assessment document"
      }
    },
    "/offerings/{offeringId}/assessments/{assessmentId}/{userEmail}": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "assessment's id",
            "in": "path",
            "name": "assessmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "user's email",
            "format": "email",
            "in": "path",
            "name": "userEmail",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "properties": {
                "dueDate": {
                  "format": "date-time",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully updated assessment due date."
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Assessment management"
        ],
        "description": "Updates the due dates for a learner's quiz attempt specified by the assessmentId.",
        "summary": "Update the due dates for a learner's quiz attempt"
      }
    },
    "/offerings/{offeringId}/badges": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "badges",
            "schema": {
              "$ref": "#/definitions/Badge"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Badges"
        ],
        "description": "Responds with the badge for an offering matching the offeringId.",
        "summary": "Find offering badges"
      }
    },
    "/offerings/{offeringId}/channels": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Succesful response",
            "schema": {
              "items": {
                "$ref": "#/definitions/ChannelResponse"
              },
              "title": "List of channels in a offering",
              "type": "array"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Channels"
        ],
        "description": "Responds with a list of channels in an offering.",
        "summary": "Find channels"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelRequired"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "channel successfully added",
            "schema": {
              "$ref": "#/definitions/ChannelResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Channels"
        ],
        "description": "Adds new channel to the specified offering.",
        "summary": "Add channel"
      }
    },
    "/offerings/{offeringId}/channels/{channelId}": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "channel's id",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "channel successfully updated",
            "schema": {
              "$ref": "#/definitions/ChannelResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No authorization token was found.",
            "examples": {
              "application/json": {
                "details": "No authorization token was found.",
                "name": "NotAuthorizedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "examples": {
              "application/json": {
                "details": "You are not allowed to access this resource",
                "name": "AccessDeniedError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": {
                "details": "The content badcontentId was not found.",
                "name": "ObjectNotFoundError"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Channels"
        ],
        "description": "Updates a channel in an offering.",
        "summary": "Update channel"
      }
    },
    "/offerings/{offeringId}/channels/{channelId}/learners": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "offering's id",
            "in": "path",
            "name": "offeringId",
            "required": true,
            "type": "string"
          },
          {
            "description": "channel's id",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "properties": {
                "email": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
[...]
