{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Amazon FSx is a fully managed service that makes it easy for storage and application administrators to launch and use shared file storage.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon FSx",
    "version": "2018-03-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/fsx-2018-03-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "fsx",
    "x-datafire": {
      "name": "amazonaws_fsx",
      "type": "openapi"
    }
  },
  "host": "fsx.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.AssociateFileSystemAliases": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.AssociateFileSystemAliases"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssociateFileSystemAliasesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateFileSystemAliasesResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Use this action to associate one or more Domain Name Server (DNS) aliases with an existing Amazon FSx for Windows File Server file system. A file systen can have a maximum of 50 DNS aliases associated with it at any one time. If you try to associate a DNS alias that is already associated with the file system, FSx takes no action on that alias in the request. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including additional steps you must take to be able to access your file system using a DNS alias.</p> <p>The system response shows the DNS aliases that Amazon FSx is attempting to associate with the file system. Use the API operation to monitor the status of the aliases Amazon FSx is associating with the file system.</p>",
        "operationId": "AssociateFileSystemAliases"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.CancelDataRepositoryTask": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.CancelDataRepositoryTask"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelDataRepositoryTaskRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelDataRepositoryTaskResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "UnsupportedOperation",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperation"
            }
          },
          "482": {
            "description": "DataRepositoryTaskNotFound",
            "schema": {
              "$ref": "#/definitions/DataRepositoryTaskNotFound"
            }
          },
          "483": {
            "description": "DataRepositoryTaskEnded",
            "schema": {
              "$ref": "#/definitions/DataRepositoryTaskEnded"
            }
          },
          "484": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Cancels an existing Amazon FSx for Lustre data repository task if that task is in either the <code>PENDING</code> or <code>EXECUTING</code> state. When you cancel a task, Amazon FSx does the following.</p> <ul> <li> <p>Any files that FSx has already exported are not reverted.</p> </li> <li> <p>FSx continues to export any files that are \"in-flight\" when the cancel operation is received.</p> </li> <li> <p>FSx does not export any files that have not yet been exported.</p> </li> </ul>",
        "operationId": "CancelDataRepositoryTask"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.CreateBackup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.CreateBackup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBackupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBackupResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "UnsupportedOperation",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperation"
            }
          },
          "482": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "483": {
            "description": "BackupInProgress",
            "schema": {
              "$ref": "#/definitions/BackupInProgress"
            }
          },
          "484": {
            "description": "IncompatibleParameterError",
            "schema": {
              "$ref": "#/definitions/IncompatibleParameterError"
            }
          },
          "485": {
            "description": "ServiceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ServiceLimitExceeded"
            }
          },
          "486": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Creates a backup of an existing Amazon FSx file system. Creating regular backups for your file system is a best practice, enabling you to restore a file system from a backup if an issue arises with the original file system.</p> <p>For Amazon FSx for Lustre file systems, you can create a backup only for file systems with the following configuration:</p> <ul> <li> <p>a Persistent deployment type</p> </li> <li> <p>is <i>not</i> linked to a data respository.</p> </li> </ul> <p>For more information about backing up Amazon FSx for Lustre file systems, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html\">Working with FSx for Lustre backups</a>.</p> <p>For more information about backing up Amazon FSx for Windows file systems, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html\">Working with FSx for Windows backups</a>.</p> <p>If a backup with the specified client request token exists, and the parameters match, this operation returns the description of the existing backup. If a backup specified client request token exists, and the parameters don't match, this operation returns <code>IncompatibleParameterError</code>. If a backup with the specified client request token doesn't exist, <code>CreateBackup</code> does the following: </p> <ul> <li> <p>Creates a new Amazon FSx backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the backup.</p> </li> </ul> <p>By using the idempotent operation, you can retry a <code>CreateBackup</code> operation without the risk of creating an extra backup. This approach can be useful when an initial call fails in a way that makes it unclear whether a backup was created. If you use the same client request token and the initial call created a backup, the operation returns a successful result because all the parameters are the same.</p> <p>The <code>CreateBackup</code> operation returns while the backup's lifecycle state is still <code>CREATING</code>. You can check the backup creation status by calling the <a>DescribeBackups</a> operation, which returns the backup state along with other information.</p>",
        "operationId": "CreateBackup"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.CreateDataRepositoryTask": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.CreateDataRepositoryTask"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDataRepositoryTaskRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDataRepositoryTaskResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "UnsupportedOperation",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperation"
            }
          },
          "482": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "483": {
            "description": "IncompatibleParameterError",
            "schema": {
              "$ref": "#/definitions/IncompatibleParameterError"
            }
          },
          "484": {
            "description": "ServiceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ServiceLimitExceeded"
            }
          },
          "485": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "486": {
            "description": "DataRepositoryTaskExecuting",
            "schema": {
              "$ref": "#/definitions/DataRepositoryTaskExecuting"
            }
          }
        },
        "description": "Creates an Amazon FSx for Lustre data repository task. You use data repository tasks to perform bulk operations between your Amazon FSx file system and its linked data repository. An example of a data repository task is exporting any data and metadata changes, including POSIX metadata, to files, directories, and symbolic links (symlinks) from your FSx file system to its linked data repository. A <code>CreateDataRepositoryTask</code> operation will fail if a data repository is not linked to the FSx file system. To learn more about data repository tasks, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-repository-tasks.html\">Data Repository Tasks</a>. To learn more about linking a data repository to your file system, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/create-fs-linked-data-repo.html\">Linking your file system to an S3 bucket</a>.",
        "operationId": "CreateDataRepositoryTask"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.CreateFileSystem": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.CreateFileSystem"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFileSystemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateFileSystemResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "ActiveDirectoryError",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryError"
            }
          },
          "482": {
            "description": "IncompatibleParameterError",
            "schema": {
              "$ref": "#/definitions/IncompatibleParameterError"
            }
          },
          "483": {
            "description": "InvalidImportPath",
            "schema": {
              "$ref": "#/definitions/InvalidImportPath"
            }
          },
          "484": {
            "description": "InvalidExportPath",
            "schema": {
              "$ref": "#/definitions/InvalidExportPath"
            }
          },
          "485": {
            "description": "InvalidNetworkSettings",
            "schema": {
              "$ref": "#/definitions/InvalidNetworkSettings"
            }
          },
          "486": {
            "description": "InvalidPerUnitStorageThroughput",
            "schema": {
              "$ref": "#/definitions/InvalidPerUnitStorageThroughput"
            }
          },
          "487": {
            "description": "ServiceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ServiceLimitExceeded"
            }
          },
          "488": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "489": {
            "description": "MissingFileSystemConfiguration",
            "schema": {
              "$ref": "#/definitions/MissingFileSystemConfiguration"
            }
          }
        },
        "description": "<p>Creates a new, empty Amazon FSx file system.</p> <p>If a file system with the specified client request token exists and the parameters match, <code>CreateFileSystem</code> returns the description of the existing file system. If a file system specified client request token exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, <code>CreateFileSystem</code> does the following: </p> <ul> <li> <p>Creates a new, empty Amazon FSx file system with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>This operation requires a client request token in the request that Amazon FSx uses to ensure idempotent creation. This means that calling the operation multiple times with the same client request token has no effect. By using the idempotent operation, you can retry a <code>CreateFileSystem</code> operation without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>",
        "operationId": "CreateFileSystem"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.CreateFileSystemFromBackup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.CreateFileSystemFromBackup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFileSystemFromBackupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateFileSystemFromBackupResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "ActiveDirectoryError",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryError"
            }
          },
          "482": {
            "description": "IncompatibleParameterError",
            "schema": {
              "$ref": "#/definitions/IncompatibleParameterError"
            }
          },
          "483": {
            "description": "InvalidNetworkSettings",
            "schema": {
              "$ref": "#/definitions/InvalidNetworkSettings"
            }
          },
          "484": {
            "description": "InvalidPerUnitStorageThroughput",
            "schema": {
              "$ref": "#/definitions/InvalidPerUnitStorageThroughput"
            }
          },
          "485": {
            "description": "ServiceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ServiceLimitExceeded"
            }
          },
          "486": {
            "description": "BackupNotFound",
            "schema": {
              "$ref": "#/definitions/BackupNotFound"
            }
          },
          "487": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "488": {
            "description": "MissingFileSystemConfiguration",
            "schema": {
              "$ref": "#/definitions/MissingFileSystemConfiguration"
            }
          }
        },
        "description": "<p>Creates a new Amazon FSx file system from an existing Amazon FSx backup.</p> <p>If a file system with the specified client request token exists and the parameters match, this operation returns the description of the file system. If a client request token specified by the file system exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, this operation does the following:</p> <ul> <li> <p>Creates a new Amazon FSx file system from backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>Parameters like Active Directory, default share name, automatic backup, and backup settings default to the parameters of the file system that was backed up, unless overridden. You can explicitly supply other settings.</p> <p>By using the idempotent operation, you can retry a <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystemFromBackup</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>",
        "operationId": "CreateFileSystemFromBackup"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.DeleteBackup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.DeleteBackup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBackupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteBackupResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "BackupInProgress",
            "schema": {
              "$ref": "#/definitions/BackupInProgress"
            }
          },
          "482": {
            "description": "BackupNotFound",
            "schema": {
              "$ref": "#/definitions/BackupNotFound"
            }
          },
          "483": {
            "description": "BackupRestoring",
            "schema": {
              "$ref": "#/definitions/BackupRestoring"
            }
          },
          "484": {
            "description": "IncompatibleParameterError",
            "schema": {
              "$ref": "#/definitions/IncompatibleParameterError"
            }
          },
          "485": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Deletes an Amazon FSx backup, deleting its contents. After deletion, the backup no longer exists, and its data is gone.</p> <p>The <code>DeleteBackup</code> call returns instantly. The backup will not show up in later <code>DescribeBackups</code> calls.</p> <important> <p>The data in a deleted backup is also deleted and can't be recovered by any means.</p> </important>",
        "operationId": "DeleteBackup"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.DeleteFileSystem": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.DeleteFileSystem"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteFileSystemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteFileSystemResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "IncompatibleParameterError",
            "schema": {
              "$ref": "#/definitions/IncompatibleParameterError"
            }
          },
          "482": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "483": {
            "description": "ServiceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ServiceLimitExceeded"
            }
          },
          "484": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Deletes a file system, deleting its contents. After deletion, the file system no longer exists, and its data is gone. Any existing automatic backups will also be deleted.</p> <p>By default, when you delete an Amazon FSx for Windows File Server file system, a final backup is created upon deletion. This final backup is not subject to the file system's retention policy, and must be manually deleted.</p> <p>The <code>DeleteFileSystem</code> action returns while the file system has the <code>DELETING</code> status. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> action, which returns a list of file systems in your account. If you pass the file system ID for a deleted file system, the <a>DescribeFileSystems</a> returns a <code>FileSystemNotFound</code> error.</p> <note> <p>Deleting an Amazon FSx for Lustre file system will fail with a 400 BadRequest if a data repository task is in a <code>PENDING</code> or <code>EXECUTING</code> state.</p> </note> <important> <p>The data in a deleted file system is also deleted and can't be recovered by any means.</p> </important>",
        "operationId": "DeleteFileSystem"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.DescribeBackups": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.DescribeBackups"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeBackupsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeBackupsResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "482": {
            "description": "BackupNotFound",
            "schema": {
              "$ref": "#/definitions/BackupNotFound"
            }
          },
          "483": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns the description of specific Amazon FSx backups, if a <code>BackupIds</code> value is provided for that backup. Otherwise, it returns all backups owned by your AWS account in the AWS Region of the endpoint that you're calling.</p> <p>When retrieving all backups, you can optionally specify the <code>MaxResults</code> parameter to limit the number of backups in a response. If more backups remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your backups. <code>DescribeBackups</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of backups returned in the response of one <code>DescribeBackups</code> call and the order of backups returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>",
        "operationId": "DescribeBackups"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.DescribeDataRepositoryTasks": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.DescribeDataRepositoryTasks"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDataRepositoryTasksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDataRepositoryTasksResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "482": {
            "description": "DataRepositoryTaskNotFound",
            "schema": {
              "$ref": "#/definitions/DataRepositoryTaskNotFound"
            }
          },
          "483": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns the description of specific Amazon FSx for Lustre data repository tasks, if one or more <code>TaskIds</code> values are provided in the request, or if filters are used in the request. You can use filters to narrow the response to include just tasks for specific file systems, or tasks in a specific lifecycle state. Otherwise, it returns all data repository tasks owned by your AWS account in the AWS Region of the endpoint that you're calling.</p> <p>When retrieving all tasks, you can paginate the response by using the optional <code>MaxResults</code> parameter to limit the number of tasks returned in a response. If more tasks remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p>",
        "operationId": "DescribeDataRepositoryTasks"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.DescribeFileSystemAliases": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.DescribeFileSystemAliases"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeFileSystemAliasesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeFileSystemAliasesResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "Returns the DNS aliases that are associated with the specified Amazon FSx for Windows File Server file system. A history of all DNS aliases that have been associated with and disassociated from the file system is available in the list of <a>AdministrativeAction</a> provided in the <a>DescribeFileSystems</a> operation response.",
        "operationId": "DescribeFileSystemAliases"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.DescribeFileSystems": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.DescribeFileSystems"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeFileSystemsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeFileSystemsResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns the description of specific Amazon FSx file systems, if a <code>FileSystemIds</code> value is provided for that file system. Otherwise, it returns descriptions of all file systems owned by your AWS account in the AWS Region of the endpoint that you're calling.</p> <p>When retrieving all file system descriptions, you can optionally specify the <code>MaxResults</code> parameter to limit the number of descriptions in a response. If more file system descriptions remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your file system descriptions. <code>DescribeFileSystems</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multicall iteration is unspecified.</p> </li> </ul>",
        "operationId": "DescribeFileSystems"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.DisassociateFileSystemAliases": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.DisassociateFileSystemAliases"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisassociateFileSystemAliasesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateFileSystemAliasesResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Use this action to disassociate, or remove, one or more Domain Name Service (DNS) aliases from an Amazon FSx for Windows File Server file system. If you attempt to disassociate a DNS alias that is not associated with the file system, Amazon FSx responds with a 400 Bad Request. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a>.</p> <p>The system generated response showing the DNS aliases that Amazon FSx is attempting to disassociate from the file system. Use the API operation to monitor the status of the aliases Amazon FSx is disassociating with the file system.</p>",
        "operationId": "DisassociateFileSystemAliases"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.ListTagsForResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.ListTagsForResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "482": {
            "description": "ResourceNotFound",
            "schema": {
              "$ref": "#/definitions/ResourceNotFound"
            }
          },
          "483": {
            "description": "NotServiceResourceError",
            "schema": {
              "$ref": "#/definitions/NotServiceResourceError"
            }
          },
          "484": {
            "description": "ResourceDoesNotSupportTagging",
            "schema": {
              "$ref": "#/definitions/ResourceDoesNotSupportTagging"
            }
          }
        },
        "description": "<p>Lists tags for an Amazon FSx file systems and backups in the case of Amazon FSx for Windows File Server.</p> <p>When retrieving all tags, you can optionally specify the <code>MaxResults</code> parameter to limit the number of tags in a response. If more tags remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your tags. <code>ListTagsForResource</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of tags returned in the response of one <code>ListTagsForResource</code> call and the order of tags returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>",
        "operationId": "ListTagsForResource"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.TagResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.TagResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagResourceResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "482": {
            "description": "ResourceNotFound",
            "schema": {
              "$ref": "#/definitions/ResourceNotFound"
            }
          },
          "483": {
            "description": "NotServiceResourceError",
            "schema": {
              "$ref": "#/definitions/NotServiceResourceError"
            }
          },
          "484": {
            "description": "ResourceDoesNotSupportTagging",
            "schema": {
              "$ref": "#/definitions/ResourceDoesNotSupportTagging"
            }
          }
        },
        "description": "Tags an Amazon FSx resource.",
        "operationId": "TagResource"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.UntagResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.UntagResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UntagResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagResourceResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "482": {
            "description": "ResourceNotFound",
            "schema": {
              "$ref": "#/definitions/ResourceNotFound"
            }
          },
          "483": {
            "description": "NotServiceResourceError",
            "schema": {
              "$ref": "#/definitions/NotServiceResourceError"
            }
          },
          "484": {
            "description": "ResourceDoesNotSupportTagging",
            "schema": {
              "$ref": "#/definitions/ResourceDoesNotSupportTagging"
            }
          }
        },
        "description": "This action removes a tag from an Amazon FSx resource.",
        "operationId": "UntagResource"
      }
    },
    "/#X-Amz-Target=AWSSimbaAPIService_v20180301.UpdateFileSystem": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSimbaAPIService_v20180301.UpdateFileSystem"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFileSystemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateFileSystemResponse"
            }
          },
          "480": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "481": {
            "description": "UnsupportedOperation",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperation"
            }
          },
          "482": {
            "description": "IncompatibleParameterError",
            "schema": {
              "$ref": "#/definitions/IncompatibleParameterError"
            }
          },
          "483": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "484": {
            "description": "FileSystemNotFound",
            "schema": {
              "$ref": "#/definitions/FileSystemNotFound"
            }
          },
          "485": {
            "description": "MissingFileSystemConfiguration",
            "schema": {
              "$ref": "#/definitions/MissingFileSystemConfiguration"
            }
          },
          "486": {
            "description": "ServiceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ServiceLimitExceeded"
            }
          }
        },
        "description": "<p>Use this operation to update the configuration of an existing Amazon FSx file system. You can update multiple properties in a single request.</p> <p>For Amazon FSx for Windows File Server file systems, you can update the following properties:</p> <ul> <li> <p>AutomaticBackupRetentionDays</p> </li> <li> <p>DailyAutomaticBackupStartTime</p> </li> <li> <p>SelfManagedActiveDirectoryConfiguration</p> </li> <li> <p>StorageCapacity</p> </li> <li> <p>ThroughputCapacity</p> </li> <li> <p>WeeklyMaintenanceStartTime</p> </li> </ul> <p>For Amazon FSx for Lustre file systems, you can update the following properties:</p> <ul> <li> <p>AutoImportPolicy</p> </li> <li> <p>AutomaticBackupRetentionDays</p> </li> <li> <p>DailyAutomaticBackupStartTime</p> </li> <li> <p>StorageCapacity</p> </li> <li> <p>WeeklyMaintenanceStartTime</p> </li> </ul>",
        "operationId": "UpdateFileSystem"
      }
    }
  },
  "definitions": {
    "AWSAccountId": {
      "description": "An AWS account ID. This ID is a 12-digit number that you use to construct Amazon Resource Names (ARNs) for resources.",
      "maxLength": 12,
      "minLength": 12,
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "ActiveDirectoryBackupAttributes": {
      "description": "The Microsoft AD attributes of the Amazon FSx for Windows File Server file system.",
      "properties": {
        "ActiveDirectoryId": {
          "allOf": [
            {
              "$ref": "#/definitions/DirectoryId"
            },
            {
              "description": "The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined."
            }
          ]
        },
        "DomainName": {
          "allOf": [
            {
              "$ref": "#/definitions/ActiveDirectoryFullyQualifiedName"
            },
            {
              "description": "The fully qualified domain name of the self-managed AD directory."
            }
          ]
        }
      },
      "type": "object"
    },
    "ActiveDirectoryError": {},
    "ActiveDirectoryFullyQualifiedName": {
      "maxLength": 255,
      "minLength": 1,
      "pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,255}$",
      "type": "string"
    },
    "AdministrativeAction": {
      "description": "Describes a specific Amazon FSx administrative action for the current Windows or Lustre file system.",
      "properties": {
        "AdministrativeActionType": {
          "$ref": "#/definitions/AdministrativeActionType"
        },
        "FailureDetails": {
          "$ref": "#/definitions/AdministrativeActionFailureDetails"
        },
        "ProgressPercent": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressPercent"
            },
            {
              "description": "Provides the percent complete of a <code>STORAGE_OPTIMIZATION</code> administrative action. Does not apply to any other administrative action type."
            }
          ]
        },
        "RequestTime": {
          "allOf": [
            {
              "$ref": "#/definitions/RequestTime"
            },
            {
              "description": "Time that the administrative action request was received."
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/Status"
            },
            {
              "description": "<p>Describes the status of the administrative action, as follows:</p> <ul> <li> <p> <code>FAILED</code> - Amazon FSx failed to process the administrative action successfully.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Amazon FSx is processing the administrative action.</p> </li> <li> <p> <code>PENDING</code> - Amazon FSx is waiting to process the administrative action.</p> </li> <li> <p> <code>COMPLETED</code> - Amazon FSx has finished processing the administrative task.</p> </li> <li> <p> <code>UPDATED_OPTIMIZING</code> - For a storage capacity increase update, Amazon FSx has updated the file system with the new storage capacity, and is now performing the storage optimization process. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing storage capacity</a> in the <i>Amazon FSx for Windows File Server User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage and throughput capacity</a> in the <i>Amazon FSx for Lustre User Guide</i>.</p> </li> </ul>"
            }
          ]
        },
        "TargetFileSystemValues": {
          "allOf": [
            {
              "$ref": "#/definitions/FileSystem"
            },
            {
              "description": "Describes the target value for the administration action, provided in the <code>UpdateFileSystem</code> operation. Returned for <code>FILE_SYSTEM_UPDATE</code> administrative actions. "
            }
          ]
        }
      },
      "type": "object"
    },
    "AdministrativeActionFailureDetails": {
      "description": "Provides information about a failed administrative action.",
      "properties": {
        "Message": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorMessage"
            },
            {
              "description": "Error message providing details about the failed administrative action."
            }
          ]
        }
      },
      "type": "object"
    },
    "AdministrativeActionType": {
      "description": "<p>Describes the type of administrative action, as follows:</p> <ul> <li> <p> <code>FILE_SYSTEM_UPDATE</code> - A file system update administrative action initiated by the user from the Amazon FSx console, API (UpdateFileSystem), or CLI (update-file-system).</p> </li> <li> <p> <code>STORAGE_OPTIMIZATION</code> - Once the <code>FILE_SYSTEM_UPDATE</code> task to increase a file system's storage capacity completes successfully, a <code>STORAGE_OPTIMIZATION</code> task starts. </p> <ul> <li> <p>For Windows, storage optimization is the process of migrating the file system data to the new, larger disks.</p> </li> <li> <p>For Lustre, storage optimization consists of rebalancing the data across the existing and newly added file servers.</p> </li> </ul> <p>You can track the storage optimization progress using the <code>ProgressPercent</code> property. When <code>STORAGE_OPTIMIZATION</code> completes successfully, the parent <code>FILE_SYSTEM_UPDATE</code> action status changes to <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing storage capacity</a> in the <i>Amazon FSx for Windows File Server User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage and throughput capacity</a> in the <i>Amazon FSx for Lustre User Guide</i>. </p> </li> <li> <p> <code>FILE_SYSTEM_ALIAS_ASSOCIATION</code> - A file system update to associate a new DNS alias with the file system. For more information, see .</p> </li> <li> <p> <code>FILE_SYSTEM_ALIAS_DISASSOCIATION</code> - A file system update to disassociate a DNS alias from the file system. For more information, see .</p> </li> </ul>",
      "enum": [
        "FILE_SYSTEM_UPDATE",
        "STORAGE_OPTIMIZATION",
        "FILE_SYSTEM_ALIAS_ASSOCIATION",
        "FILE_SYSTEM_ALIAS_DISASSOCIATION"
      ],
      "type": "string"
    },
    "AdministrativeActions": {
      "items": {
        "$ref": "#/definitions/AdministrativeAction"
      },
      "maxItems": 50,
      "type": "array"
    },
    "Alias": {
      "description": "A DNS alias that is associated with the file system. You can use a DNS alias to access a file system using user-defined DNS names, in addition to the default DNS name that Amazon FSx assigns to the file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a> in the <i>FSx for Windows File Server User Guide</i>.",
      "properties": {
        "Lifecycle": {
          "allOf": [
            {
              "$ref": "#/definitions/AliasLifecycle"
            },
            {
              "description": "<p>Describes the state of the DNS alias.</p> <ul> <li> <p>AVAILABLE - The DNS alias is associated with an Amazon FSx file system.</p> </li> <li> <p>CREATING - Amazon FSx is creating the DNS alias and associating it with the file system.</p> </li> <li> <p>CREATE_FAILED - Amazon FSx was unable to associate the DNS alias with the file system.</p> </li> <li> <p>DELETING - Amazon FSx is disassociating the DNS alias from the file system and deleting it.</p> </li> <li> <p>DELETE_FAILED - Amazon FSx was unable to disassocate the DNS alias from the file system.</p> </li> </ul>"
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/AlternateDNSName"
            },
            {
              "description": "<p>The name of the DNS alias. The alias name has to meet the following requirements:</p> <ul> <li> <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p> </li> <li> <p>Can contain alphanumeric characters and the hyphen (-).</p> </li> <li> <p>Cannot start or end with a hyphen.</p> </li> <li> <p>Can start with a numeric.</p> </li> </ul> <p>For DNS names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
            }
          ]
        }
      },
      "type": "object"
    },
    "AliasLifecycle": {
      "enum": [
        "AVAILABLE",
        "CREATING",
        "DELETING",
        "CREATE_FAILED",
        "DELETE_FAILED"
      ],
      "type": "string"
    },
    "Aliases": {
      "description": "An array of one or more DNS aliases that are currently associated with the Amazon FSx file system. Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. You can associate up to 50 aliases with a file system at any time. You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation. You only need to specify the alias name in the request payload. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a>.",
      "items": {
        "$ref": "#/definitions/Alias"
      },
      "maxItems": 50,
      "type": "array"
    },
    "AlternateDNSName": {
      "maxLength": 253,
      "minLength": 4,
      "pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{4,253}$",
      "type": "string"
    },
    "AlternateDNSNames": {
      "items": {
        "$ref": "#/definitions/AlternateDNSName"
      },
      "maxItems": 50,
      "type": "array"
    },
    "ArchivePath": {
      "maxLength": 4357,
      "minLength": 3,
      "pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{3,4357}$",
      "type": "string"
    },
    "AssociateFileSystemAliasesRequest": {
      "description": "The request object specifying one or more DNS alias names to associate with an Amazon FSx for Windows File Server file system.",
      "properties": {
        "Aliases": {
          "allOf": [
            {
              "$ref": "#/definitions/AlternateDNSNames"
            },
            {
              "description": "<p>An array of one or more DNS alias names to associate with the file system. The alias name has to comply with the following formatting requirements:</p> <ul> <li> <p>Formatted as a fully-qualified domain name (FQDN), <i> <code>hostname.domain</code> </i>, for example, <code>accounting.corp.example.com</code>.</p> </li> <li> <p>Can contain alphanumeric characters and the hyphen (-).</p> </li> <li> <p>Cannot start or end with a hyphen.</p> </li> <li> <p>Can start with a numeric.</p> </li> </ul> <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
            }
          ]
        },
        "ClientRequestToken": {
          "$ref": "#/definitions/ClientRequestToken"
        },
        "FileSystemId": {
          "allOf": [
            {
              "$ref": "#/definitions/FileSystemId"
            },
            {
              "description": "Specifies the file system with which you want to associate one or more DNS aliases."
            }
          ]
        }
      },
      "required": [
        "FileSystemId",
        "Aliases"
      ],
      "title": "AssociateFileSystemAliasesRequest",
      "type": "object"
    },
    "AssociateFileSystemAliasesResponse": {
      "description": "The system generated response showing the DNS aliases that Amazon FSx is attempting to associate with the file system. Use the API operation to monitor the status of the aliases Amazon FSx is associating with the file system. It can take up to 2.5 minutes for the alias status to change from <code>CREATING</code> to <code>AVAILABLE</code>. ",
      "properties": {
        "Aliases": {
          "allOf": [
            {
              "$ref": "#/definitions/Aliases"
            },
            {
              "description": "An array of the DNS aliases that Amazon FSx is associating with the file system."
            }
          ]
        }
      },
      "type": "object"
    },
    "AutoImportPolicyType": {
      "enum": [
        "NONE",
        "NEW",
        "NEW_CHANGED"
      ],
      "type": "string"
    },
    "AutomaticBackupRetentionDays": {
      "description": "The number of days to retain automatic backups. Setting this to 0 disables automatic backups. You can retain automatic backups for a maximum of 90 days. The default is 0.",
      "maximum": 90,
      "minimum": 0,
      "type": "integer"
    },
    "Backup": {
      "description": "<p>A backup of an Amazon FSx file system. For more information see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html\">Working with backups for Windows file systems</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html\">Working with backups for Lustre file systems</a> </p> </li> </ul>",
      "properties": {
        "BackupId": {
          "allOf": [
            {
              "$ref": "#/definitions/BackupId"
            },
            {
              "description": "The ID of the backup."
            }
          ]
        },
        "CreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/CreationTime"
            },
            {
              "description": "The time when a particular backup was created."
            }
          ]
        },
        "DirectoryInformation": {
          "allOf": [
            {
              "$ref": "#/definitions/ActiveDirectoryBackupAttributes"
            },
            {
              "description": "The configuration of the self-managed Microsoft Active Directory (AD) to which the Windows File Server instance is joined."
            }
          ]
        },
        "FailureDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/BackupFailureDetails"
            },
            {
              "description": "Details explaining any failures that occur when creating a backup."
            }
          ]
        },
        "FileSystem": {
          "allOf": [
            {
              "$ref": "#/definitions/FileSystem"
            },
            {
              "description": "Metadata of the file system associated with the backup. This metadata is persisted even if the file system is deleted."
            }
          ]
        },
        "KmsKeyId": {
          "allOf": [
            {
              "$ref": "#/definitions/KmsKeyId"
            },
            {
              "description": "The ID of the AWS Key Management Service (AWS KMS) key used to encrypt the backup of the Amazon FSx file system's data at rest. "
            }
          ]
        },
        "Lifecycle": {
          "allOf": [
            {
              "$ref": "#/definitions/BackupLifecycle"
            },
            {
              "description": "<p>The lifecycle status of the backup.</p> <ul> <li> <p> <code>AVAILABLE</code> - The backup is fully available.</p> </li> <li> <p> <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx has not started creating the backup.</p> </li> <li> <p> <code>CREATING</code> - Amazon FSx is creating the backup.</p> </li> <li> <p> <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is transferring the backup to S3.</p> </li> <li> <p> <code>DELETED</code> - Amazon FSx deleted the backup and it is no longer available.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx could not complete the backup.</p> </li> </ul>"
            }
          ]
        },
        "ProgressPercent": {
          "$ref": "#/definitions/ProgressPercent"
        },
        "ResourceARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceARN"
            },
            {
              "description": "The Amazon Resource Name (ARN) for the backup resource."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/Tags"
            },
            {
              "description": "Tags associated with a particular file system."
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/BackupType"
            },
            {
              "description": "The type of the file system backup."
            }
          ]
        }
      },
      "required": [
        "BackupId",
        "Lifecycle",
        "Type",
        "CreationTime",
        "FileSystem"
      ],
      "type": "object"
    },
    "BackupFailureDetails": {
      "description": "If backup creation fails, this structure contains the details of that failure.",
      "properties": {
        "Message": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorMessage"
            },
            {
              "description": "A message describing the backup creation failure."
            }
          ]
        }
      },
      "type": "object"
    },
    "BackupId": {
      "description": "The ID of the backup. Specifies the backup to use if you're creating a file system from an existing backup.",
      "maxLength": 128,
      "minLength": 12,
      "pattern": "^(backup-[0-9a-f]{8,})$",
      "type": "string"
    },
    "BackupIds": {
      "description": "A list of backup IDs.",
      "items": {
        "$ref": "#/definitions/BackupId"
      },
      "maxItems": 50,
      "type": "array"
    },
    "BackupInProgress": {},
    "BackupLifecycle": {
      "description": "<p>The lifecycle status of the backup.</p> <ul> <li> <p> <code>AVAILABLE</code> - The backup is fully available.</p> </li> <li> <p> <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx has not started creating the backup.</p> </li> <li> <p> <code>CREATING</code> - Amazon FSx is creating the new user-intiated backup</p> </li> <li> <p> <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is backing up the file system.</p> </li> <li> <p> <code>DELETED</code> - Amazon FSx deleted the backup and it is no longer available.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx could not complete the backup.</p> </li> </ul>",
      "enum": [
        "AVAILABLE",
        "CREATING",
        "TRANSFERRING",
        "DELETED",
        "FAILED",
        "PENDING"
      ],
      "type": "string"
    },
    "BackupNotFound": {},
    "BackupRestoring": {},
    "BackupType": {
      "description": "The type of the backup.",
      "enum": [
        "AUTOMATIC",
        "USER_INITIATED",
        "AWS_BACKUP"
      ],
      "type": "string"
    },
    "Backups": {
      "description": "A list of file system backups.",
      "items": {
        "$ref": "#/definitions/Backup"
      },
      "maxItems": 50,
      "type": "array"
    },
    "BadRequest": {},
    "CancelDataRepositoryTaskRequest": {
      "description": "Cancels a data repository task.",
      "properties": {
        "TaskId": {
          "allOf": [
            {
              "$ref": "#/definitions/TaskId"
            },
            {
              "description": "Specifies the data repository task to cancel."
            }
          ]
        }
      },
      "required": [
        "TaskId"
      ],
      "title": "CancelDataRepositoryTaskRequest",
      "type": "object"
    },
    "CancelDataRepositoryTaskResponse": {
      "properties": {
        "Lifecycle": {
          "allOf": [
            {
              "$ref": "#/definitions/DataRepositoryTaskLifecycle"
            },
            {
              "description": "<p>The lifecycle status of the data repository task, as follows:</p> <ul> <li> <p> <code>PENDING</code> - Amazon FSx has not started the task.</p> </li> <li> <p> <code>EXECUTING</code> - Amazon FSx is processing the task.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx was not able to complete the task. For example, there may be files the task failed to process. The <a>DataRepositoryTaskFailureDetails</a> property provides more information about task failures.</p> </li> <li> <p> <code>SUCCEEDED</code> - FSx completed the task successfully.</p> </li> <li> <p> <code>CANCELED</code> - Amazon FSx canceled the task and it did not complete.</p> </li> <li> <p> <code>CANCELING</code> - FSx is in process of canceling the task.</p> </li> </ul>"
            }
          ]
        },
        "TaskId": {
          "allOf": [
            {
              "$ref": "#/definitions/TaskId"
            },
            {
              "description": "The ID of the task being canceled."
            }
          ]
        }
      },
      "type": "object"
    },
    "ClientRequestToken": {
      "description": "(Optional) An idempotency token for resource creation, in a string of up to 64 ASCII characters. This token is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK.",
      "maxLength": 63,
      "minLength": 1,
      "pattern": "[A-za-z0-9_.-]{0,63}$",
      "type": "string"
    },
    "CompletionReport": {
      "description": "Provides a report detailing the data repository task results of the files processed that match the criteria specified in the report <code>Scope</code> parameter. FSx delivers the report to the file system's linked data repository in Amazon S3, using the path specified in the report <code>Path</code> parameter. You can specify whether or not a report gets generated for a task using the <code>Enabled</code> parameter.",
      "properties": {
        "Enabled": {
          "allOf": [
            {
              "$ref": "#/definitions/Flag"
            },
            {
              "description": "Set <code>Enabled</code> to <code>True</code> to generate a <code>CompletionReport</code> when the task completes. If set to <code>true</code>, then you need to provide a report <code>Scope</code>, <code>Path</code>, and <code>Format</code>. Set <code>Enabled</code> to <code>False</code> if you do not want a <code>CompletionReport</code> generated when the task completes."
            }
          ]
        },
        "Format": {
          "allOf": [
            {
              "$ref": "#/definitions/ReportFormat"
            },
            {
              "description": "Required if <code>Enabled</code> is set to <code>true</code>. Specifies the format of the <code>CompletionReport</code>. <code>REPORT_CSV_20191124</code> is the only format currently supported. When <code>Format</code> is set to <code>REPORT_CSV_20191124</code>, the <code>CompletionReport</code> is provided in CSV format, and is delivered to <code>{path}/task-{id}/failures.csv</code>. "
            }
          ]
        },
        "Path": {
          "allOf": [
            {
              "$ref": "#/definitions/ArchivePath"
            },
            {
              "description": "Required if <code>Enabled</code> is set to <code>true</code>. Specifies the location of the report on the file system's linked S3 data repository. An absolute path that defines where the completion report will be stored in the destination location. The <code>Path</code> you provide must be located within the file system’s ExportPath. An example <code>Path</code> value is \"s3://myBucket/myExportPath/optionalPrefix\". The report provides the following information for each file in the report: FilePath, FileStatus, and ErrorCode. To learn more about a file system's <code>ExportPath</code>, see . "
            }
          ]
        },
        "Scope": {
          "allOf": [
            {
              "$ref": "#/definitions/ReportScope"
            },
            {
              "description": "Required if <code>Enabled</code> is set to <code>true</code>. Specifies the scope of the <code>CompletionReport</code>; <code>FAILED_FILES_ONLY</code> is the only scope currently supported. When <code>Scope</code> is set to <code>FAILED_FILES_ONLY</code>, the <code>CompletionReport</code> only contains information about files that the data repository task failed to process."
            }
          ]
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "object"
    },
    "CreateBackupRequest": {
      "description": "The request object for the <code>CreateBackup</code> operation.",
      "properties": {
        "ClientRequestToken": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientRequestToken"
            },
            {
              "description": "(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK."
            }
          ]
        },
        "FileSystemId": {
          "allOf": [
            {
              "$ref": "#/definitions/FileSystemId"
            },
            {
              "description": "The ID of the file system to back up."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/Tags"
            },
            {
              "description": "(Optional) The tags to apply to the backup at backup creation. The key value of the <code>Name</code> tag appears in the console as the backup name. If you have set <code>CopyTagsToBackups</code> to true, and you specify one or more tags using the <code>CreateBackup</code> action, no existing file system tags are copied from the file system to the backup."
            }
          ]
        }
      },
      "required": [
        "FileSystemId"
      ],
      "title": "CreateBackupRequest",
      "type": "object"
    },
    "CreateBackupResponse": {
      "description": "The response object for the <code>CreateBackup</code> operation.",
      "example": {
        "Backup": {
          "BackupId": "backup-03e3c82e0183b7b6b",
          "CreationTime": "1481841524.0",
          "FileSystem": {
            "FileSystemId": "fs-0498eed5fe91001ec",
            "OwnerId": "012345678912",
            "StorageCapacity": 300,
            "WindowsConfiguration": {
              "ActiveDirectoryId": "d-1234abcd12",
              "AutomaticBackupRetentionDays": 30,
              "DailyAutomaticBackupStartTime": "05:00",
              "WeeklyMaintenanceStartTime": "1:05:00"
            }
          },
          "Lifecycle": "CREATING",
          "ProgressPercent": 0,
          "ResourceARN": "arn:aws:fsx:us-east-1:012345678912:backup/backup-03e3c82e0183b7b6b",
          "Tags": [
            {
              "Key": "Name",
              "Value": "MyBackup"
            }
          ],
          "Type": "USER_INITIATED"
        }
      },
      "properties": {
        "Backup": {
          "allOf": [
            {
              "$ref": "#/definitions/Backup"
            },
            {
              "description": "A description of the backup."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateDataRepositoryTaskRequest": {
      "properties": {
        "ClientRequestToken": {
          "$ref": "#/definitions/ClientRequestToken"
        },
        "FileSystemId": {
          "$ref": "#/definitions/FileSystemId"
        },
        "Paths": {
          "allOf": [
            {
              "$ref": "#/definitions/DataRepositoryTaskPaths"
            },
            {
              "description": "(Optional) The path or paths on the Amazon FSx file system to use when the data repository task is processed. The default path is the file system root directory. The paths you provide need to be relative to the mount point of the file system. If the mount point is <code>/mnt/fsx</code> and <code>/mnt/fsx/path1</code> is a directory or file on the file system you want to export, then the path to provide is <code>path1</code>. If a path that you provide isn't valid, the task fails."
            }
          ]
        },
        "Report": {
          "allOf": [
            {
              "$ref": "#/definitions/CompletionReport"
            },
            {
              "description": "Defines whether or not Amazon FSx provides a CompletionReport once the task has completed. A CompletionReport provides a detailed report on the files that Amazon FSx processed that meet the criteria specified by the <code>Scope</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/task-completion-report.html\">Working with Task Completion Reports</a>."
            }
          ]
        },
        "Tags": {
          "$ref": "#/definitions/Tags"
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/DataRepositoryTaskType"
            },
            {
[...]
