{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>Security Hub provides you with a comprehensive view of the security state of your AWS environment and resources. It also provides you with the readiness status of your environment based on controls from supported security standards. Security Hub collects security data from AWS accounts, services, and integrated third-party products and helps you analyze security trends in your environment to identify the highest priority security issues. For more information about Security Hub, see the <i> <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/what-is-securityhub.html\">AWS Security Hub User Guide</a> </i>.</p> <p>When you use operations in the Security Hub API, the requests are executed only in the AWS Region that is currently active or in the specific AWS Region that you specify in your request. Any configuration or settings change that results from the operation is applied only to that Region. To make the same change in other Regions, execute the same command for each Region to apply the change to.</p> <p>For example, if your Region is set to <code>us-west-2</code>, when you use <code> <a>CreateMembers</a> </code> to add a member account to Security Hub, the association of the member account with the master account is created only in the <code>us-west-2</code> Region. Security Hub must be enabled for the member account in the same Region that the invitation was sent from.</p> <p>The following throttling limits apply to using Security Hub API operations.</p> <ul> <li> <p> <code> <a>BatchEnableStandards</a> </code> - <code>RateLimit</code> of 1 request per second, <code>BurstLimit</code> of 1 request per second.</p> </li> <li> <p> <code> <a>GetFindings</a> </code> - <code>RateLimit</code> of 3 requests per second. <code>BurstLimit</code> of 6 requests per second.</p> </li> <li> <p> <code> <a>UpdateFindings</a> </code> - <code>RateLimit</code> of 1 request per second. <code>BurstLimit</code> of 5 requests per second.</p> </li> <li> <p> <code> <a>UpdateStandardsControl</a> </code> - <code>RateLimit</code> of 1 request per second, <code>BurstLimit</code> of 5 requests per second.</p> </li> <li> <p>All other operations - <code>RateLimit</code> of 10 requests per second. <code>BurstLimit</code> of 30 requests per second.</p> </li> </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS SecurityHub",
    "version": "2018-10-26",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/securityhub-2018-10-26.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "securityhub",
    "x-datafire": {
      "name": "amazonaws_securityhub",
      "type": "openapi"
    }
  },
  "host": "securityhub.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/accounts": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisableSecurityHubResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "<p>Disables Security Hub in your account only in the current Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub.</p> <p>When you disable Security Hub for a master account, it doesn't disable Security Hub for any associated member accounts.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and cannot be recovered. Any standards that were enabled are disabled, and your master and member account associations are removed.</p> <p>If you want to save your existing findings, you must export them before you disable Security Hub.</p>",
        "operationId": "DisableSecurityHub"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ARN of the Hub resource to retrieve.",
            "in": "query",
            "name": "HubArn",
            "pattern": ".*\\S.*",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeHubResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "483": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.",
        "operationId": "DescribeHub"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AutoEnableControls": {
                  "description": "<p>Whether to automatically enable new controls when they are added to standards that are enabled.</p> <p>By default, this is set to <code>true</code>, and new controls are enabled automatically. To not automatically enable new controls, set this to <code>false</code>. </p>",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateSecurityHubConfigurationResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "482": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Updates configuration options for Security Hub.",
        "operationId": "UpdateSecurityHubConfiguration"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "EnableDefaultStandards": {
                  "description": "Whether to enable the security standards that Security Hub has designated as automatically enabled. If you do not provide a value for <code>EnableDefaultStandards</code>, it is set to <code>true</code>. To not enable the automatically enabled standards, set <code>EnableDefaultStandards</code> to <code>false</code>.",
                  "type": "boolean"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags to add to the hub resource when you enable Security Hub.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnableSecurityHubResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "483": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "<p>Enables Security Hub for your account in the current Region or the Region you specify in the request.</p> <p>When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from other services that are integrated with Security Hub.</p> <p>When you use the <code>EnableSecurityHub</code> operation to enable Security Hub, you also automatically enable the following standards.</p> <ul> <li> <p>CIS AWS Foundations</p> </li> <li> <p>AWS Foundational Security Best Practices</p> </li> </ul> <p>You do not enable the Payment Card Industry Data Security Standard (PCI DSS) standard. </p> <p>To not enable the automatically enabled standards, set <code>EnableDefaultStandards</code> to <code>false</code>.</p> <p>After you enable Security Hub, to enable a standard, use the <code> <a>BatchEnableStandards</a> </code> operation. To disable a standard, use the <code> <a>BatchDisableStandards</a> </code> operation.</p> <p>To learn more, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html\">Setting Up AWS Security Hub</a> in the <i>AWS Security Hub User Guide</i>.</p>",
        "operationId": "EnableSecurityHub"
      }
    },
    "/actionTargets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Description": {
                  "description": "The description for the custom action target.",
                  "pattern": ".*\\S.*",
                  "type": "string"
                },
                "Id": {
                  "description": "The ID for the custom action target.",
                  "pattern": ".*\\S.*",
                  "type": "string"
                },
                "Name": {
                  "description": "The name of the custom action target.",
                  "pattern": ".*\\S.*",
                  "type": "string"
                }
              },
              "required": [
                "Name",
                "Description",
                "Id"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateActionTargetResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "482": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          }
        },
        "description": "<p>Creates a custom action target in Security Hub.</p> <p>You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.</p>",
        "operationId": "CreateActionTarget"
      }
    },
    "/actionTargets/get": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ActionTargetArns": {
                  "description": "A list of custom action target ARNs for the custom action targets to retrieve.",
                  "items": {
                    "$ref": "#/definitions/NonEmptyString"
                  },
                  "type": "array"
                },
                "MaxResults": {
                  "description": "The maximum number of results to return.",
                  "maximum": 100,
                  "minimum": 1,
                  "type": "integer"
                },
                "NextToken": {
                  "description": "<p>The token that is required for pagination. On your first call to the <code>DescribeActionTargets</code> operation, set the value of this parameter to <code>NULL</code>.</p> <p>For subsequent calls to the operation, to continue listing data, set the value of this parameter to the value returned from the previous response.</p>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeActionTargetsResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "482": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Returns a list of the custom action targets in Security Hub in your account.",
        "operationId": "DescribeActionTargets"
      }
    },
    "/actionTargets/{ActionTargetArn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ARN of the custom action target to delete.",
            "in": "path",
            "name": "ActionTargetArn",
            "pattern": ".*\\S.*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteActionTargetResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "482": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "<p>Deletes a custom action target from Security Hub.</p> <p>Deleting a custom action target does not affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>",
        "operationId": "DeleteActionTarget"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ARN of the custom action target to update.",
            "in": "path",
            "name": "ActionTargetArn",
            "pattern": ".*\\S.*",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Description": {
                  "description": "The updated description for the custom action target.",
                  "pattern": ".*\\S.*",
                  "type": "string"
                },
                "Name": {
                  "description": "The updated name of the custom action target.",
                  "pattern": ".*\\S.*",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateActionTargetResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Updates the name and description of a custom action target in Security Hub.",
        "operationId": "UpdateActionTarget"
      }
    },
    "/findings": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Filters": {
                  "description": "<p>A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight.</p> <p>You can filter by up to 10 finding attributes. For each attribute, you can provide up to 20 filter values.</p>",
                  "properties": {
                    "AwsAccountId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The AWS account ID that a finding is generated in."
                        }
                      ]
                    },
                    "CompanyName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the findings provider (company) that owns the solution (product) that generates findings."
                        }
                      ]
                    },
                    "ComplianceStatus": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard, such as CIS AWS Foundations. Contains security standard-related finding details."
                        }
                      ]
                    },
                    "Confidence": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "<p>A finding's confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify.</p> <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.</p>"
                        }
                      ]
                    },
                    "CreatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured."
                        }
                      ]
                    },
                    "Criticality": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "<p>The level of importance assigned to the resources associated with the finding.</p> <p>A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.</p>"
                        }
                      ]
                    },
                    "Description": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "A finding's description."
                        }
                      ]
                    },
                    "FirstObservedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured."
                        }
                      ]
                    },
                    "GeneratorId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers' solutions, this generator can be called a rule, a check, a detector, a plugin, etc."
                        }
                      ]
                    },
                    "Id": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The security findings provider-specific identifier for a finding."
                        }
                      ]
                    },
                    "Keyword": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/KeywordFilterList"
                        },
                        {
                          "description": "A keyword for a finding."
                        }
                      ]
                    },
                    "LastObservedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured."
                        }
                      ]
                    },
                    "MalwareName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the malware that was observed."
                        }
                      ]
                    },
                    "MalwarePath": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The filesystem path of the malware that was observed."
                        }
                      ]
                    },
                    "MalwareState": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The state of the malware that was observed."
                        }
                      ]
                    },
                    "MalwareType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The type of the malware that was observed."
                        }
                      ]
                    },
                    "NetworkDestinationDomain": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The destination domain of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkDestinationIpV4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The destination IPv4 address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkDestinationIpV6": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The destination IPv6 address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkDestinationPort": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The destination port of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkDirection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "Indicates the direction of network traffic associated with a finding."
                        }
                      ]
                    },
                    "NetworkProtocol": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The protocol of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourceDomain": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The source domain of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourceIpV4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The source IPv4 address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourceIpV6": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The source IPv6 address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourceMac": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The source media access control (MAC) address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourcePort": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The source port of network-related information about a finding."
                        }
                      ]
                    },
                    "NoteText": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The text of a note."
                        }
                      ]
                    },
                    "NoteUpdatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The timestamp of when the note was updated."
                        }
                      ]
                    },
                    "NoteUpdatedBy": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The principal that created a note."
                        }
                      ]
                    },
                    "ProcessLaunchedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date/time that the process was launched."
                        }
                      ]
                    },
                    "ProcessName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the process."
                        }
                      ]
                    },
                    "ProcessParentPid": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The parent process ID."
                        }
                      ]
                    },
                    "ProcessPath": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The path to the process executable."
                        }
                      ]
                    },
                    "ProcessPid": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The process ID."
                        }
                      ]
                    },
                    "ProcessTerminatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date/time that the process was terminated."
                        }
                      ]
                    },
                    "ProductArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub."
                        }
                      ]
                    },
                    "ProductFields": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapFilterList"
                        },
                        {
                          "description": "A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format."
                        }
                      ]
                    },
                    "ProductName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the solution (product) that generates findings."
                        }
                      ]
                    },
                    "RecommendationText": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The recommendation of what to do about the issue described in a finding."
                        }
                      ]
                    },
                    "RecordState": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The updated record state for the finding."
                        }
                      ]
                    },
                    "RelatedFindingsId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The solution-generated identifier for a related finding."
                        }
                      ]
                    },
                    "RelatedFindingsProductArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The ARN of the solution that generated a related finding."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceIamInstanceProfileArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The IAM profile ARN of the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceImageId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The Amazon Machine Image (AMI) ID of the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceIpV4Addresses": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The IPv4 addresses associated with the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceIpV6Addresses": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The IPv6 addresses associated with the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceKeyName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The key name associated with the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceLaunchedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date and time the instance was launched."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceSubnetId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The identifier of the subnet that the instance was launched in."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The instance type of the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceVpcId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The identifier of the VPC that the instance was launched in."
                        }
                      ]
                    },
                    "ResourceAwsIamAccessKeyCreatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The creation date/time of the IAM access key related to a finding."
                        }
                      ]
                    },
                    "ResourceAwsIamAccessKeyStatus": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The status of the IAM access key related to a finding."
                        }
                      ]
                    },
                    "ResourceAwsIamAccessKeyUserName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The user associated with the IAM access key related to a finding."
                        }
                      ]
                    },
                    "ResourceAwsS3BucketOwnerId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The canonical user ID of the owner of the S3 bucket."
                        }
                      ]
                    },
                    "ResourceAwsS3BucketOwnerName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The display name of the owner of the S3 bucket."
                        }
                      ]
                    },
                    "ResourceContainerImageId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The identifier of the image related to a finding."
                        }
                      ]
                    },
                    "ResourceContainerImageName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the image related to a finding."
                        }
                      ]
                    },
                    "ResourceContainerLaunchedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date/time that the container was started."
                        }
                      ]
                    },
                    "ResourceContainerName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the container related to a finding."
                        }
                      ]
                    },
                    "ResourceDetailsOther": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapFilterList"
                        },
                        {
                          "description": "The details of a resource that doesn't have a specific subfield for the resource type defined."
                        }
                      ]
                    },
                    "ResourceId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The canonical identifier for the given resource type."
                        }
                      ]
                    },
                    "ResourcePartition": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The canonical AWS partition name that the Region is assigned to."
                        }
                      ]
                    },
                    "ResourceRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The canonical AWS external Region name where this resource is located."
                        }
                      ]
                    },
                    "ResourceTags": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapFilterList"
                        },
                        {
                          "description": "A list of AWS tags associated with a resource at the time the finding was processed."
                        }
                      ]
                    },
                    "ResourceType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "Specifies the type of the resource that details are provided for."
                        }
                      ]
                    },
                    "SeverityLabel": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The label of a finding's severity."
                        }
                      ]
                    },
                    "SeverityNormalized": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The normalized severity of a finding."
                        }
                      ]
                    },
                    "SeverityProduct": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The native severity as defined by the security-findings provider's solution that generated the finding."
                        }
                      ]
                    },
                    "SourceUrl": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "A URL that links to a page about the current finding in the security-findings provider's solution."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorCategory": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The category of a threat intelligence indicator."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorLastObservedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date/time of the last observation of a threat intelligence indicator."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorSource": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The source of the threat intelligence."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorSourceUrl": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The URL for more details from the source of the threat intelligence."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The type of a threat intelligence indicator."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorValue": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The value of a threat intelligence indicator."
                        }
                      ]
                    },
                    "Title": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "A finding's title."
                        }
                      ]
                    },
                    "Type": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding."
                        }
                      ]
                    },
                    "UpdatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. "
                        }
                      ]
                    },
                    "UserDefinedFields": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapFilterList"
                        },
                        {
                          "description": "A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. "
                        }
                      ]
                    },
                    "VerificationState": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The veracity of a finding."
                        }
                      ]
                    },
                    "WorkflowState": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "<p>The workflow state of a finding.</p> <p>Note that this field is deprecated. To search for a finding based on its workflow status, use <code>WorkflowStatus</code>.</p>"
                        }
                      ]
                    },
                    "WorkflowStatus": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "<p>The status of the investigation into a finding. Allowed values are the following.</p> <ul> <li> <p> <code>NEW</code> - The initial state of a finding, before it is reviewed.</p> </li> <li> <p> <code>NOTIFIED</code> - Indicates that the resource owner has been notified about the security issue. Used when the initial reviewer is not the resource owner, and needs intervention from the resource owner.</p> </li> <li> <p> <code>SUPPRESSED</code> - The finding will not be reviewed again and will not be acted upon.</p> </li> <li> <p> <code>RESOLVED</code> - The finding was reviewed and remediated and is now considered resolved. </p> </li> </ul>"
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Note": {
                  "description": "The updated note.",
                  "properties": {
                    "Text": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NonEmptyString"
                        },
                        {
                          "description": "The updated note text."
                        }
                      ]
                    },
                    "UpdatedBy": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NonEmptyString"
                        },
                        {
                          "description": "The principal that updated the note."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "RecordState": {
                  "description": "The updated record state for the finding.",
                  "enum": [
                    "ACTIVE",
                    "ARCHIVED"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "Filters"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateFindingsResponse"
            }
          },
          "480": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "481": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "InvalidAccessException",
            "schema": {
              "$ref": "#/definitions/InvalidAccessException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "<p> <code>UpdateFindings</code> is deprecated. Instead of <code>UpdateFindings</code>, use <code>BatchUpdateFindings</code>.</p> <p>Updates the <code>Note</code> and <code>RecordState</code> of the Security Hub-aggregated findings that the filter attributes specify. Any member account that can view the finding also sees the update to the finding.</p>",
        "operationId": "UpdateFindings"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Filters": {
                  "description": "<p>A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight.</p> <p>You can filter by up to 10 finding attributes. For each attribute, you can provide up to 20 filter values.</p>",
                  "properties": {
                    "AwsAccountId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The AWS account ID that a finding is generated in."
                        }
                      ]
                    },
                    "CompanyName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the findings provider (company) that owns the solution (product) that generates findings."
                        }
                      ]
                    },
                    "ComplianceStatus": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard, such as CIS AWS Foundations. Contains security standard-related finding details."
                        }
                      ]
                    },
                    "Confidence": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "<p>A finding's confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify.</p> <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.</p>"
                        }
                      ]
                    },
                    "CreatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured."
                        }
                      ]
                    },
                    "Criticality": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "<p>The level of importance assigned to the resources associated with the finding.</p> <p>A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.</p>"
                        }
                      ]
                    },
                    "Description": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "A finding's description."
                        }
                      ]
                    },
                    "FirstObservedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured."
                        }
                      ]
                    },
                    "GeneratorId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers' solutions, this generator can be called a rule, a check, a detector, a plugin, etc."
                        }
                      ]
                    },
                    "Id": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The security findings provider-specific identifier for a finding."
                        }
                      ]
                    },
                    "Keyword": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/KeywordFilterList"
                        },
                        {
                          "description": "A keyword for a finding."
                        }
                      ]
                    },
                    "LastObservedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured."
                        }
                      ]
                    },
                    "MalwareName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the malware that was observed."
                        }
                      ]
                    },
                    "MalwarePath": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The filesystem path of the malware that was observed."
                        }
                      ]
                    },
                    "MalwareState": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The state of the malware that was observed."
                        }
                      ]
                    },
                    "MalwareType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The type of the malware that was observed."
                        }
                      ]
                    },
                    "NetworkDestinationDomain": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The destination domain of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkDestinationIpV4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The destination IPv4 address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkDestinationIpV6": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The destination IPv6 address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkDestinationPort": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The destination port of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkDirection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "Indicates the direction of network traffic associated with a finding."
                        }
                      ]
                    },
                    "NetworkProtocol": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The protocol of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourceDomain": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The source domain of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourceIpV4": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The source IPv4 address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourceIpV6": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The source IPv6 address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourceMac": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The source media access control (MAC) address of network-related information about a finding."
                        }
                      ]
                    },
                    "NetworkSourcePort": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The source port of network-related information about a finding."
                        }
                      ]
                    },
                    "NoteText": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The text of a note."
                        }
                      ]
                    },
                    "NoteUpdatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The timestamp of when the note was updated."
                        }
                      ]
                    },
                    "NoteUpdatedBy": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The principal that created a note."
                        }
                      ]
                    },
                    "ProcessLaunchedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date/time that the process was launched."
                        }
                      ]
                    },
                    "ProcessName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the process."
                        }
                      ]
                    },
                    "ProcessParentPid": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The parent process ID."
                        }
                      ]
                    },
                    "ProcessPath": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The path to the process executable."
                        }
                      ]
                    },
                    "ProcessPid": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The process ID."
                        }
                      ]
                    },
                    "ProcessTerminatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date/time that the process was terminated."
                        }
                      ]
                    },
                    "ProductArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub."
                        }
                      ]
                    },
                    "ProductFields": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapFilterList"
                        },
                        {
                          "description": "A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format."
                        }
                      ]
                    },
                    "ProductName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the solution (product) that generates findings."
                        }
                      ]
                    },
                    "RecommendationText": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The recommendation of what to do about the issue described in a finding."
                        }
                      ]
                    },
                    "RecordState": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The updated record state for the finding."
                        }
                      ]
                    },
                    "RelatedFindingsId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The solution-generated identifier for a related finding."
                        }
                      ]
                    },
                    "RelatedFindingsProductArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The ARN of the solution that generated a related finding."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceIamInstanceProfileArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The IAM profile ARN of the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceImageId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The Amazon Machine Image (AMI) ID of the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceIpV4Addresses": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The IPv4 addresses associated with the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceIpV6Addresses": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IpFilterList"
                        },
                        {
                          "description": "The IPv6 addresses associated with the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceKeyName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The key name associated with the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceLaunchedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date and time the instance was launched."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceSubnetId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The identifier of the subnet that the instance was launched in."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The instance type of the instance."
                        }
                      ]
                    },
                    "ResourceAwsEc2InstanceVpcId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The identifier of the VPC that the instance was launched in."
                        }
                      ]
                    },
                    "ResourceAwsIamAccessKeyCreatedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The creation date/time of the IAM access key related to a finding."
                        }
                      ]
                    },
                    "ResourceAwsIamAccessKeyStatus": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The status of the IAM access key related to a finding."
                        }
                      ]
                    },
                    "ResourceAwsIamAccessKeyUserName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The user associated with the IAM access key related to a finding."
                        }
                      ]
                    },
                    "ResourceAwsS3BucketOwnerId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The canonical user ID of the owner of the S3 bucket."
                        }
                      ]
                    },
                    "ResourceAwsS3BucketOwnerName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The display name of the owner of the S3 bucket."
                        }
                      ]
                    },
                    "ResourceContainerImageId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The identifier of the image related to a finding."
                        }
                      ]
                    },
                    "ResourceContainerImageName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the image related to a finding."
                        }
                      ]
                    },
                    "ResourceContainerLaunchedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date/time that the container was started."
                        }
                      ]
                    },
                    "ResourceContainerName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The name of the container related to a finding."
                        }
                      ]
                    },
                    "ResourceDetailsOther": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapFilterList"
                        },
                        {
                          "description": "The details of a resource that doesn't have a specific subfield for the resource type defined."
                        }
                      ]
                    },
                    "ResourceId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The canonical identifier for the given resource type."
                        }
                      ]
                    },
                    "ResourcePartition": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The canonical AWS partition name that the Region is assigned to."
                        }
                      ]
                    },
                    "ResourceRegion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The canonical AWS external Region name where this resource is located."
                        }
                      ]
                    },
                    "ResourceTags": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapFilterList"
                        },
                        {
                          "description": "A list of AWS tags associated with a resource at the time the finding was processed."
                        }
                      ]
                    },
                    "ResourceType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "Specifies the type of the resource that details are provided for."
                        }
                      ]
                    },
                    "SeverityLabel": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The label of a finding's severity."
                        }
                      ]
                    },
                    "SeverityNormalized": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The normalized severity of a finding."
                        }
                      ]
                    },
                    "SeverityProduct": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NumberFilterList"
                        },
                        {
                          "description": "The native severity as defined by the security-findings provider's solution that generated the finding."
                        }
                      ]
                    },
                    "SourceUrl": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "A URL that links to a page about the current finding in the security-findings provider's solution."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorCategory": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The category of a threat intelligence indicator."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorLastObservedAt": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateFilterList"
                        },
                        {
                          "description": "The date/time of the last observation of a threat intelligence indicator."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorSource": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The source of the threat intelligence."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorSourceUrl": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The URL for more details from the source of the threat intelligence."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The type of a threat intelligence indicator."
                        }
                      ]
                    },
                    "ThreatIntelIndicatorValue": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "The value of a threat intelligence indicator."
                        }
                      ]
                    },
                    "Title": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "A finding's title."
                        }
                      ]
                    },
                    "Type": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringFilterList"
                        },
                        {
                          "description": "A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding."
                        }
                      ]
                    },
                    "UpdatedAt": {
                      "allOf": [
                        {
[...]
