{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Generates performance reports, generates ad codes, and provides publisher management capabilities for AdSense Hosts.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "AdSense Host API",
    "version": "v4.1",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://adsensehost.googleapis.com/$discovery/rest?version=v4.1",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "adsensehost",
    "x-datafire": {
      "name": "google_adsensehost",
      "type": "openapi"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/adsensehost/v4.1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/accounts": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "Ad clients to list accounts for.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "filterAdClientId",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Accounts"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "List hosted accounts associated with this AdSense account by ad client id.",
        "operationId": "adsensehost.accounts.list"
      }
    },
    "/accounts/{accountId}": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account to get information about.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Get information about the selected associated AdSense account.",
        "operationId": "adsensehost.accounts.get"
      }
    },
    "/accounts/{accountId}/adclients": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account for which to list ad clients.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of ad clients to include in the response, used for paging.",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "maxResults",
            "type": "integer"
          },
          {
            "description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdClients"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "List all hosted ad clients in the specified hosted account.",
        "operationId": "adsensehost.accounts.adclients.list"
      }
    },
    "/accounts/{accountId}/adclients/{adClientId}": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account which contains the ad client.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad client to get.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdClient"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Get information about one of the ad clients in the specified publisher's AdSense account.",
        "operationId": "adsensehost.accounts.adclients.get"
      }
    },
    "/accounts/{accountId}/adclients/{adClientId}/adunits": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account which contains the ad client.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad client for which to list ad units.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Whether to include inactive ad units. Default: true.",
            "in": "query",
            "name": "includeInactive",
            "type": "boolean"
          },
          {
            "description": "The maximum number of ad units to include in the response, used for paging.",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "maxResults",
            "type": "integer"
          },
          {
            "description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnits"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "List all ad units in the specified publisher's AdSense account.",
        "operationId": "adsensehost.accounts.adunits.list"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account which contains the ad client.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad client which contains the ad unit.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad unit to get.",
            "in": "query",
            "name": "adUnitId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Update the supplied ad unit in the specified publisher AdSense account. This method supports patch semantics.",
        "operationId": "adsensehost.accounts.adunits.patch"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account which will contain the ad unit.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad client into which to insert the ad unit.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Insert the supplied ad unit into the specified publisher AdSense account.",
        "operationId": "adsensehost.accounts.adunits.insert"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account which contains the ad client.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad client which contains the ad unit.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Update the supplied ad unit in the specified publisher AdSense account.",
        "operationId": "adsensehost.accounts.adunits.update"
      }
    },
    "/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account which contains the ad unit.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad client for which to get ad unit.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad unit to delete.",
            "in": "path",
            "name": "adUnitId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Delete the specified ad unit from the specified publisher AdSense account.",
        "operationId": "adsensehost.accounts.adunits.delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account which contains the ad unit.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad client for which to get ad unit.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad unit to get.",
            "in": "path",
            "name": "adUnitId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Get the specified host ad unit in this AdSense account.",
        "operationId": "adsensehost.accounts.adunits.get"
      }
    },
    "/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Account which contains the ad client.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad client with contains the ad unit.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Ad unit to get the code for.",
            "in": "path",
            "name": "adUnitId",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Host custom channel to attach to the ad code.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "hostCustomChannelId",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdCode"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Get ad code for the specified ad unit, attaching the specified host custom channels.",
        "operationId": "adsensehost.accounts.adunits.getAdCode"
      }
    },
    "/accounts/{accountId}/reports": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Hosted account upon which to report.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
            "in": "query",
            "name": "startDate",
            "required": true,
            "type": "string"
          },
          {
            "description": "End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
            "in": "query",
            "name": "endDate",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Dimensions to base the report on.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "dimension",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "Filters to be run on the report.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "filter",
            "type": "array"
          },
          {
            "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
            "in": "query",
            "name": "locale",
            "type": "string"
          },
          {
            "description": "The maximum number of rows of report data to return.",
            "in": "query",
            "maximum": 50000,
            "minimum": 0,
            "name": "maxResults",
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "Numeric columns to include in the report.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "metric",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "sort",
            "type": "array"
          },
          {
            "description": "Index of the first row of report data to return.",
            "in": "query",
            "maximum": 5000,
            "minimum": 0,
            "name": "startIndex",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Report"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.",
        "operationId": "adsensehost.accounts.reports.generate"
      }
    },
    "/adclients": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of ad clients to include in the response, used for paging.",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "maxResults",
            "type": "integer"
          },
          {
            "description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdClients"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "adclients"
        ],
        "description": "List all host ad clients in this AdSense account.",
        "operationId": "adsensehost.adclients.list"
      }
    },
    "/adclients/{adClientId}": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client to get.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdClient"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "adclients"
        ],
        "description": "Get information about one of the ad clients in the Host AdSense account.",
        "operationId": "adsensehost.adclients.get"
      }
    },
    "/adclients/{adClientId}/customchannels": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client for which to list custom channels.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of custom channels to include in the response, used for paging.",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "maxResults",
            "type": "integer"
          },
          {
            "description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannels"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ],
        "description": "List all host custom channels in this AdSense account.",
        "operationId": "adsensehost.customchannels.list"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client in which the custom channel will be updated.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Custom channel to get.",
            "in": "query",
            "name": "customChannelId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ],
        "description": "Update a custom channel in the host AdSense account. This method supports patch semantics.",
        "operationId": "adsensehost.customchannels.patch"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client to which the new custom channel will be added.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ],
        "description": "Add a new custom channel to the host AdSense account.",
        "operationId": "adsensehost.customchannels.insert"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client in which the custom channel will be updated.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ],
        "description": "Update a custom channel in the host AdSense account.",
        "operationId": "adsensehost.customchannels.update"
      }
    },
    "/adclients/{adClientId}/customchannels/{customChannelId}": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client from which to delete the custom channel.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Custom channel to delete.",
            "in": "path",
            "name": "customChannelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ],
        "description": "Delete a specific custom channel from the host AdSense account.",
        "operationId": "adsensehost.customchannels.delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client from which to get the custom channel.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Custom channel to get.",
            "in": "path",
            "name": "customChannelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ],
        "description": "Get a specific custom channel from the host AdSense account.",
        "operationId": "adsensehost.customchannels.get"
      }
    },
    "/adclients/{adClientId}/urlchannels": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client for which to list URL channels.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of URL channels to include in the response, used for paging.",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "maxResults",
            "type": "integer"
          },
          {
            "description": "A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UrlChannels"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "urlchannels"
        ],
        "description": "List all host URL channels in the host AdSense account.",
        "operationId": "adsensehost.urlchannels.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client to which the new URL channel will be added.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UrlChannel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UrlChannel"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "urlchannels"
        ],
        "description": "Add a new URL channel to the host AdSense account.",
        "operationId": "adsensehost.urlchannels.insert"
      }
    },
    "/adclients/{adClientId}/urlchannels/{urlChannelId}": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Ad client from which to delete the URL channel.",
            "in": "path",
            "name": "adClientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "URL channel to delete.",
            "in": "path",
            "name": "urlChannelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UrlChannel"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "urlchannels"
        ],
        "description": "Delete a URL channel from the host AdSense account.",
        "operationId": "adsensehost.urlchannels.delete"
      }
    },
    "/associationsessions/start": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "Products to associate with the user.",
            "in": "query",
            "items": {
              "enum": [
                "AFC",
                "AFG",
                "AFMC",
                "AFS",
                "AFV"
              ],
              "type": "string"
            },
            "name": "productCode",
            "required": true,
            "type": "array"
          },
          {
            "description": "The URL of the user's hosted website.",
            "in": "query",
            "name": "websiteUrl",
            "required": true,
            "type": "string"
          },
          {
            "description": "The URL to redirect the user to once association is completed. It receives a token parameter that can then be used to retrieve the associated account.",
            "in": "query",
            "name": "callbackUrl",
            "type": "string"
          },
          {
            "description": "The preferred locale of the user.",
            "in": "query",
            "name": "userLocale",
            "type": "string"
          },
          {
            "description": "The locale of the user's hosted website.",
            "in": "query",
            "name": "websiteLocale",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AssociationSession"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "associationsessions"
        ],
        "description": "Create an association session for initiating an association with an AdSense user.",
        "operationId": "adsensehost.associationsessions.start"
      }
    },
    "/associationsessions/verify": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The token returned to the association callback URL.",
            "in": "query",
            "name": "token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AssociationSession"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "associationsessions"
        ],
        "description": "Verify an association session after the association callback returns from AdSense signup.",
        "operationId": "adsensehost.associationsessions.verify"
      }
    },
    "/reports": {
      "parameters": [
        {
          "description": "Data format for the response.",
          "enum": [
            "csv",
            "json"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Deprecated. Please use quotaUser instead.",
          "in": "query",
          "name": "userIp",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
            "in": "query",
            "name": "startDate",
            "required": true,
            "type": "string"
          },
          {
            "description": "End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
            "in": "query",
            "name": "endDate",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Dimensions to base the report on.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "dimension",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "Filters to be run on the report.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "filter",
            "type": "array"
          },
          {
            "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
            "in": "query",
            "name": "locale",
            "type": "string"
          },
          {
            "description": "The maximum number of rows of report data to return.",
            "in": "query",
            "maximum": 50000,
            "minimum": 0,
            "name": "maxResults",
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "Numeric columns to include in the report.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "metric",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "sort",
            "type": "array"
          },
          {
            "description": "Index of the first row of report data to return.",
            "in": "query",
            "maximum": 5000,
            "minimum": 0,
            "name": "startIndex",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Report"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsensehost"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/adsensehost"
            ]
          }
        ],
        "tags": [
          "reports"
        ],
        "description": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.",
        "operationId": "adsensehost.reports.generate"
      }
    }
  },
  "definitions": {
    "Account": {
      "properties": {
        "id": {
          "description": "Unique identifier of this account.",
          "type": "string"
        },
        "kind": {
          "default": "adsensehost#account",
          "description": "Kind of resource this is, in this case adsensehost#account.",
          "type": "string"
        },
        "name": {
          "description": "Name of this account.",
          "type": "string"
        },
        "status": {
          "description": "Approval status of this account. One of: PENDING, APPROVED, DISABLED.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Accounts": {
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        },
        "items": {
          "description": "The accounts returned in this list response.",
          "items": {
            "$ref": "#/definitions/Account"
          },
          "type": "array"
        },
        "kind": {
          "default": "adsensehost#accounts",
          "description": "Kind of list this is, in this case adsensehost#accounts.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdClient": {
      "properties": {
        "arcOptIn": {
          "description": "Whether this ad client is opted in to ARC.",
          "type": "boolean"
        },
        "id": {
          "description": "Unique identifier of this ad client.",
          "type": "string"
        },
        "kind": {
          "default": "adsensehost#adClient",
          "description": "Kind of resource this is, in this case adsensehost#adClient.",
          "type": "string"
        },
        "productCode": {
          "description": "This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.",
          "type": "string"
        },
        "supportsReporting": {
          "description": "Whether this ad client supports being reported on.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AdClients": {
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        },
        "items": {
          "description": "The ad clients returned in this list response.",
          "items": {
            "$ref": "#/definitions/AdClient"
          },
          "type": "array"
        },
        "kind": {
          "default": "adsensehost#adClients",
          "description": "Kind of list this is, in this case adsensehost#adClients.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdCode": {
      "properties": {
        "adCode": {
          "description": "The ad code snippet.",
          "type": "string"
        },
        "kind": {
          "default": "adsensehost#adCode",
          "description": "Kind this is, in this case adsensehost#adCode.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdStyle": {
      "properties": {
        "colors": {
          "description": "The colors included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.",
          "properties": {
            "background": {
              "description": "The color of the ad background.",
              "type": "string"
            },
            "border": {
              "description": "The color of the ad border.",
              "type": "string"
            },
            "text": {
              "description": "The color of the ad text.",
              "type": "string"
            },
            "title": {
              "description": "The color of the ad title.",
              "type": "string"
            },
            "url": {
              "description": "The color of the ad url.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "corners": {
          "description": "The style of the corners in the ad (deprecated: never populated, ignored).",
          "type": "string"
        },
        "font": {
          "description": "The font which is included in the style.",
          "properties": {
            "family": {
              "description": "The family of the font. Possible values are: ACCOUNT_DEFAULT_FAMILY, ADSENSE_DEFAULT_FAMILY, ARIAL, TIMES and VERDANA.",
              "type": "string"
            },
            "size": {
              "description": "The size of the font. Possible values are: ACCOUNT_DEFAULT_SIZE, ADSENSE_DEFAULT_SIZE, SMALL, MEDIUM and LARGE.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "kind": {
          "default": "adsensehost#adStyle",
          "description": "Kind this is, in this case adsensehost#adStyle.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdUnit": {
      "properties": {
        "code": {
          "description": "Identity code of this ad unit, not necessarily unique across ad clients.",
          "type": "string"
        },
        "contentAdsSettings": {
          "description": "Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).",
          "properties": {
            "backupOption": {
              "description": "The backup option to be used in instances where no ad is available.",
              "properties": {
                "color": {
                  "description": "Color to use when type is set to COLOR. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.",
                  "type": "string"
                },
                "type": {
                  "description": "Type of the backup option. Possible values are BLANK, COLOR and URL.",
                  "type": "string"
                },
                "url": {
                  "description": "URL to use when type is set to URL.",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "size": {
              "description": "Size of this ad unit. Size values are in the form SIZE_{width}_{height}.",
              "type": "string"
            },
            "type": {
              "description": "Type of this ad unit. Possible values are TEXT, TEXT_IMAGE, IMAGE and LINK.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "customStyle": {
          "$ref": "#/definitions/AdStyle",
          "description": "Custom style information specific to this ad unit."
        },
        "id": {
          "description": "Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string"
        },
        "kind": {
          "default": "adsensehost#adUnit",
          "description": "Kind of resource this is, in this case adsensehost#adUnit.",
          "type": "string"
        },
        "mobileContentAdsSettings": {
          "description": "Settings specific to WAP mobile content ads (AFMC - deprecated).",
          "properties": {
            "markupLanguage": {
              "description": "The markup language to use for this ad unit.",
              "type": "string"
            },
            "scriptingLanguage": {
              "description": "The scripting language to use for this ad unit.",
              "type": "string"
            },
            "size": {
              "description": "Size of this ad unit.",
              "type": "string"
            },
            "type": {
              "description": "Type of this ad unit.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "name": {
          "description": "Name of this ad unit.",
          "type": "string"
        },
        "status": {
          "description": "Status of this ad unit. Possible values are:\nNEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.\n\nACTIVE: Indicates that there has been activity on this ad unit in the last seven days.\n\nINACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdUnits": {
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        },
        "items": {
          "description": "The ad units returned in this list response.",
          "items": {
            "$ref": "#/definitions/AdUnit"
          },
          "type": "array"
        },
        "kind": {
          "default": "adsensehost#adUnits",
          "description": "Kind of list this is, in this case adsensehost#adUnits.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AssociationSession": {
      "properties": {
        "accountId": {
          "description": "Hosted account id of the associated publisher after association. Present if status is ACCEPTED.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier of this association session.",
          "type": "string"
        },
        "kind": {
          "default": "adsensehost#associationSession",
          "description": "Kind of resource this is, in this case adsensehost#associationSession.",
          "type": "string"
        },
        "productCodes": {
          "description": "The products to associate with the user. Options: AFC, AFG, AFV, AFS (deprecated), AFMC (deprecated)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "redirectUrl": {
          "description": "Redirect URL of this association session. Used to redirect users into the AdSense association flow.",
          "type": "string"
        },
        "status": {
          "description": "Status of the completed association, available once the association callback token has been verified. One of ACCEPTED, REJECTED, or ERROR.",
          "type": "string"
        },
        "userLocale": {
          "description": "The preferred locale of the user themselves when going through the AdSense association flow.",
          "type": "string"
        },
        "websiteLocale": {
          "description": "The locale of the user's hosted website.",
          "type": "string"
        },
        "websiteUrl": {
          "description": "The URL of the user's hosted website.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomChannel": {
      "properties": {
        "code": {
          "description": "Code of this custom channel, not necessarily unique across ad clients.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string"
        },
        "kind": {
          "default": "adsensehost#customChannel",
          "description": "Kind of resource this is, in this case adsensehost#customChannel.",
          "type": "string"
        },
        "name": {
          "description": "Name of this custom channel.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomChannels": {
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        },
        "items": {
          "description": "The custom channels returned in this list response.",
          "items": {
            "$ref": "#/definitions/CustomChannel"
          },
          "type": "array"
        },
        "kind": {
          "default": "adsensehost#customChannels",
          "description": "Kind of list this is, in this case adsensehost#customChannels.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Report": {
      "properties": {
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "headers": {
          "description": "The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.",
          "items": {
            "properties": {
              "currency": {
                "description": "The currency of this column. Only present if the header type is METRIC_CURRENCY.",
                "type": "string"
              },
              "name": {
                "description": "The name of the header.",
                "type": "string"
              },
              "type": {
                "description": "The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "kind": {
          "default": "adsensehost#report",
          "description": "Kind this is, in this case adsensehost#report.",
          "type": "string"
        },
        "rows": {
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.",
          "items": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": "array"
        },
        "totalMatchedRows": {
          "description": "The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.",
          "format": "int64",
          "type": "string"
        },
        "totals": {
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "warnings": {
          "description": "Any warnings associated with generation of the report.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "UrlChannel": {
      "properties": {
        "id": {
          "description": "Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string"
        },
        "kind": {
          "default": "adsensehost#urlChannel",
          "description": "Kind of resource this is, in this case adsensehost#urlChannel.",
          "type": "string"
        },
        "urlPattern": {
          "description": "URL Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UrlChannels": {
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string"
        },
        "items": {
          "description": "The URL channels returned in this list response.",
          "items": {
            "$ref": "#/definitions/UrlChannel"
          },
          "type": "array"
        },
        "kind": {
          "default": "adsensehost#urlChannels",
          "description": "Kind of list this is, in this case adsensehost#urlChannels.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 implicit authentication",
      "flow": "implicit",
      "scopes": {
        "https://www.googleapis.com/auth/adsensehost": "View and manage your AdSense host data and associated accounts"
      },
      "type": "oauth2"
    },
    "Oauth2c": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 authorizationCode authentication",
      "flow": "accessCode",
      "scopes": {
        "https://www.googleapis.com/auth/adsensehost": "View and manage your AdSense host data and associated accounts"
      },
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "type": "oauth2"
    }
  },
  "tags": [
    {
      "name": "accounts"
    },
    {
      "name": "adclients"
    },
    {
      "name": "associationsessions"
    },
    {
      "name": "customchannels"
    },
    {
      "name": "reports"
    },
    {
      "name": "urlchannels"
    }
  ],
  "externalDocs": {
    "url": "https://developers.google.com/adsense/host/"
  },
  "x-components": {
    "parameters": {
      "alt": {
        "description": "Data format for the response.",
        "enum": [
          "csv",
          "json"
        ],
        "in": "query",
        "name": "alt",
        "type": "string"
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "type": "string"
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "type": "string"
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "type": "string"
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "type": "boolean"
      },
      "quotaUser": {
        "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "type": "string"
      },
      "userIp": {
        "description": "Deprecated. Please use quotaUser instead.",
        "in": "query",
        "name": "userIp",
        "type": "string"
      }
    }
  }
}