{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "microsoft"
    },
    "title": "Custom Vision Training Client",
    "version": "3.1",
    "x-apisguru-categories": [
      "developer_tools",
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/Training.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "microsoft.com",
    "x-serviceName": "cognitiveservices-Training",
    "x-tags": [
      "Microsoft"
    ],
    "x-datafire": {
      "name": "microsoft_cognitiveservices_training",
      "type": "openapi"
    }
  },
  "host": "southcentralus.api.cognitive.microsoft.com",
  "basePath": "/customvision/v3.1/training",
  "schemes": [
    "https"
  ],
  "paths": {
    "/domains": {
      "get": {
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Domain"
              },
              "type": "array"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "DomainsApi"
        ],
        "operationId": "GetDomains",
        "summary": "Get a list of the available domains."
      }
    },
    "/domains/{domainId}": {
      "get": {
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The id of the domain to get information about.",
            "examples": {
              "Successful GetDomain request": {
                "value": "b30a91ae-e3c1-4f73-a81e-c270bff27c39"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "domainId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "DomainsApi"
        ],
        "operationId": "GetDomain",
        "summary": "Get information about a specific domain."
      }
    },
    "/projects": {
      "get": {
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Project"
              },
              "type": "array"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ProjectApi"
        ],
        "operationId": "GetProjects",
        "summary": "Get your projects."
      },
      "post": {
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "Name of the project.",
            "examples": {
              "Successful CreateProject request": {
                "value": "My New Project"
              }
            },
            "in": "query",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The description of the project.",
            "examples": {
              "Successful CreateProject request": {
                "value": "A test project"
              }
            },
            "in": "query",
            "name": "description",
            "required": false,
            "type": "string"
          },
          {
            "description": "The id of the domain to use for this project. Defaults to General.",
            "examples": {
              "Successful CreateProject request": {
                "value": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31"
              }
            },
            "format": "uuid",
            "in": "query",
            "name": "domainId",
            "required": false,
            "type": "string"
          },
          {
            "description": "The type of classifier to create for this project.",
            "enum": [
              "Multiclass",
              "Multilabel"
            ],
            "in": "query",
            "name": "classificationType",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "List of platforms the trained model is intending exporting to.",
            "in": "query",
            "items": {
              "enum": [
                "CoreML",
                "TensorFlow",
                "DockerFile",
                "ONNX",
                "VAIDK"
              ],
              "type": "string"
            },
            "name": "targetExportPlatforms",
            "required": false,
            "type": "array"
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ProjectApi"
        ],
        "operationId": "CreateProject",
        "summary": "Create a project."
      }
    },
    "/projects/{projectId}": {
      "delete": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful DeleteProject request": {
                "value": "bc3f7dad-5544-468c-8573-3ef04d55463e"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ProjectApi"
        ],
        "operationId": "DeleteProject",
        "summary": "Delete a specific project."
      },
      "get": {
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The id of the project to get.",
            "examples": {
              "Successful GetProject request": {
                "value": "bc3f7dad-5544-468c-8573-3ef04d55463e"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ProjectApi"
        ],
        "operationId": "GetProject",
        "summary": "Get a specific project."
      },
      "patch": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The id of the project to update.",
            "examples": {
              "Successful UpdateProject request": {
                "value": "bc3f7dad-5544-468c-8573-3ef04d55463e"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          },
          {
            "description": "The updated project model.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ProjectApi"
        ],
        "operationId": "UpdateProject",
        "summary": "Update a specific project."
      }
    },
    "/projects/{projectId}/images": {
      "delete": {
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful DeleteImages request": {
                "value": "64b822c5-8082-4b36-a426-27225f4aa18c"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "collectionFormat": "csv",
            "description": "Ids of the images to be deleted. Limited to 256 images per batch.",
            "examples": {
              "Successful DeleteImages request": {
                "value": [
                  "e31a14ab-5d78-4f7b-a267-3a1e4fd8a758",
                  "cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12"
                ]
              }
            },
            "in": "query",
            "items": {
              "format": "uuid",
              "nullable": false,
              "type": "string"
            },
            "maxItems": 256,
            "minItems": 0,
            "name": "imageIds",
            "required": false,
            "type": "array"
          },
          {
            "description": "Flag to specify delete all images, specify this flag or a list of images. Using this flag will return a 202 response to indicate the images are being deleted.",
            "in": "query",
            "name": "allImages",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Removes these images from all iterations, not just the current workspace. Using this flag will return a 202 response to indicate the images are being deleted.",
            "in": "query",
            "name": "allIterations",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ImageApi"
        ],
        "operationId": "DeleteImages",
        "summary": "Delete images from the set of training images."
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful CreateImagesFromData request": {
                "value": "64b822c5-8082-4b36-a426-27225f4aa18c"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "collectionFormat": "csv",
            "description": "The tags ids with which to tag each image. Limited to 20.",
            "examples": {
              "Successful CreateImagesFromData request": {
                "value": [
                  "b607964f-7bd6-4a3b-a869-6791fb6aab87"
                ]
              }
            },
            "in": "query",
            "items": {
              "format": "uuid",
              "nullable": false,
              "type": "string"
            },
            "maxItems": 20,
            "minItems": 0,
            "name": "tagIds",
            "required": false,
            "type": "array"
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          },
          {
            "description": "Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 6MB.",
            "format": "binary",
            "in": "formData",
            "name": "imageData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ImageApi"
        ],
        "description": "This API accepts body content as multipart/form-data and application/octet-stream. When using multipart\r\nmultiple image files can be sent at once, with a maximum of 64 files",
        "operationId": "CreateImagesFromData",
        "summary": "Add the provided images to the set of training images."
      }
    },
    "/projects/{projectId}/images/files": {
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful CreateImagesFromFiles request": {
                "value": "64b822c5-8082-4b36-a426-27225f4aa18c"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          },
          {
            "description": "The batch of image files to add. Limited to 64 images and 20 tags per batch.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageFileCreateBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ImageApi"
        ],
        "description": "This API accepts a batch of files, and optionally tags, to create images. There is a limit of 64 images and 20 tags.",
        "operationId": "CreateImagesFromFiles",
        "summary": "Add the provided batch of images to the set of training images."
      }
    },
    "/projects/{projectId}/images/id": {
      "get": {
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful GetImagesByIds request": {
                "value": "bc3f7dad-5544-468c-8573-3ef04d55463e"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "collectionFormat": "csv",
            "description": "The list of image ids to retrieve. Limited to 256.",
            "in": "query",
            "items": {
              "format": "uuid",
              "nullable": false,
              "type": "string"
            },
            "maxItems": 256,
            "minItems": 0,
            "name": "imageIds",
            "required": false,
            "type": "array"
          },
          {
            "description": "The iteration id. Defaults to workspace.",
            "examples": {
              "Successful GetImagesByIds request": {
                "value": "cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12"
              }
            },
            "format": "uuid",
            "in": "query",
            "name": "iterationId",
            "required": false,
            "type": "string"
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Image"
              },
              "type": "array"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ImageApi"
        ],
        "description": "This API will return a set of Images for the specified tags and optionally iteration. If no iteration is specified the\r\ncurrent workspace is used.",
        "operationId": "GetImagesByIds",
        "summary": "Get images by id for a given project iteration."
      }
    },
    "/projects/{projectId}/images/predictions": {
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful CreateImagesFromPredictions request": {
                "value": "64b822c5-8082-4b36-a426-27225f4aa18c"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          },
          {
            "description": "Image and tag ids. Limited to 64 images and 20 tags per batch.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageIdCreateBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ImageApi"
        ],
        "description": "This API creates a batch of images from predicted images specified. There is a limit of 64 images and 20 tags.",
        "operationId": "CreateImagesFromPredictions",
        "summary": "Add the specified predicted images to the set of training images."
      }
    },
    "/projects/{projectId}/images/regions": {
      "delete": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful DeleteImageRegions request": {
                "value": "bc3f7dad-5544-468c-8573-3ef04d55463e"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "collectionFormat": "csv",
            "description": "Regions to delete. Limited to 64.",
            "examples": {
              "Successful DeleteImageRegions request": {
                "value": [
                  ""
                ]
              }
            },
            "in": "query",
            "items": {
              "format": "uuid",
              "nullable": false,
              "type": "string"
            },
            "maxItems": 64,
            "minItems": 0,
            "name": "regionIds",
            "required": true,
            "type": "array"
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ImageApi"
        ],
        "operationId": "DeleteImageRegions",
        "summary": "Delete a set of image regions."
      },
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "bc3f7dad-5544-468c-8573-3ef04d55463e"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "description": "API key.",
            "examples": {
              "Successful CreateImageRegions request": {
                "value": "{API Key}"
              },
              "Successful CreateImageTags request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageRegions request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformanceCount request": {
                "value": "{API Key}"
              },
              "Successful GetImagePerformances request": {
                "value": "{API Key}"
              },
              "Successful GetImageRegionProposals request": {
                "value": "{API Key}"
              },
              "Successful GetImagesByIds request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImageCount request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PublishIteration request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictions request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImageCount request": {
                "value": "{API Key}"
              },
              "Successful QuerySuggestedImages request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful SuggestTagsAndRegions request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UnpublishIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "type": "string",
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          },
          {
            "description": "Batch of image regions which include a tag and bounding box. Limited to 64.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageRegionCreateBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageRegionCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "tags": [
          "ImageApi"
        ],
        "description": "This API accepts a batch of image regions, and optionally tags, to update existing images with region information.\r\nThere is a limit of 64 entries in the batch.",
        "operationId": "CreateImageRegions",
        "summary": "Create a set of image regions."
      }
    },
    "/projects/{projectId}/images/suggested": {
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful QuerySuggestedImages request": {
                "value": "bc3f7dad-5544-468c-8573-3ef04d55463e"
              }
            },
            "format": "uuid",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
            "description": "IterationId to use for the suggested tags and regions.",
            "examples": {
              "Successful QuerySuggestedImages request": {
                "value": "b7b9d99c-a2c6-4658-9900-a98d2ff5bc66"
              }
            },
            "format": "uuid",
            "in": "query",
            "name": "iterationId",
            "required": true,
            "type": "string",
            "x-nullable": false
          },
          {
[...]
