{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>AWS Support</fullname> <p>The AWS Support API reference is intended for programmers who need detailed information about the AWS Support operations and data types. This service enables you to manage your AWS Support cases programmatically. It uses HTTP methods that return results in JSON format.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note> <p>The AWS Support service also exposes a set of <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">AWS Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks.</p> <p>The following list describes the AWS Support case management operations:</p> <ul> <li> <p> <b>Service names, issue categories, and available severity levels. </b>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation.</p> </li> <li> <p> <b>Case creation, case details, and case resolution.</b> The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create AWS Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p> <b>Case communication.</b> The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to AWS Support cases.</p> </li> </ul> <p>The following list describes the operations available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <p> <a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</p> </li> <li> <p>Using the <code>checkId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check that you specified.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</p> </li> <li> <p> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks.</p> </li> </ul> <p>For authentication of requests, AWS Support uses <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>See <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/Welcome.html\">About the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Support",
    "version": "2013-04-15",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/support-2013-04-15.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "support",
    "x-datafire": {
      "name": "amazonaws_support",
      "type": "openapi"
    }
  },
  "host": "support.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/#X-Amz-Target=AWSSupport_20130415.AddAttachmentsToSet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.AddAttachmentsToSet"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddAttachmentsToSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddAttachmentsToSetResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "AttachmentSetIdNotFound",
            "schema": {
              "$ref": "#/definitions/AttachmentSetIdNotFound"
            }
          },
          "482": {
            "description": "AttachmentSetExpired",
            "schema": {
              "$ref": "#/definitions/AttachmentSetExpired"
            }
          },
          "483": {
            "description": "AttachmentSetSizeLimitExceeded",
            "schema": {
              "$ref": "#/definitions/AttachmentSetSizeLimitExceeded"
            }
          },
          "484": {
            "description": "AttachmentLimitExceeded",
            "schema": {
              "$ref": "#/definitions/AttachmentLimitExceeded"
            }
          }
        },
        "description": "<p>Adds one or more attachments to an attachment set. </p> <p>An attachment set is a temporary container for attachments that you add to a case or case communication. The set is available for 1 hour after it's created. The <code>expiryTime</code> returned in the response is when the set expires. </p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "AddAttachmentsToSet"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.AddCommunicationToCase": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.AddCommunicationToCase"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddCommunicationToCaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddCommunicationToCaseResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "CaseIdNotFound",
            "schema": {
              "$ref": "#/definitions/CaseIdNotFound"
            }
          },
          "482": {
            "description": "AttachmentSetIdNotFound",
            "schema": {
              "$ref": "#/definitions/AttachmentSetIdNotFound"
            }
          },
          "483": {
            "description": "AttachmentSetExpired",
            "schema": {
              "$ref": "#/definitions/AttachmentSetExpired"
            }
          }
        },
        "description": "<p>Adds additional customer communication to an AWS Support case. Use the <code>caseId</code> parameter to identify the case to which to add communication. You can list a set of email addresses to copy on the communication by using the <code>ccEmailAddresses</code> parameter. The <code>communicationBody</code> value contains the text of the communication.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "AddCommunicationToCase"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.CreateCase": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.CreateCase"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCaseResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "CaseCreationLimitExceeded",
            "schema": {
              "$ref": "#/definitions/CaseCreationLimitExceeded"
            }
          },
          "482": {
            "description": "AttachmentSetIdNotFound",
            "schema": {
              "$ref": "#/definitions/AttachmentSetIdNotFound"
            }
          },
          "483": {
            "description": "AttachmentSetExpired",
            "schema": {
              "$ref": "#/definitions/AttachmentSetExpired"
            }
          }
        },
        "description": "<p>Creates a case in the AWS Support Center. This operation is similar to how you create a case in the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> <p>The AWS Support API doesn't support requesting service limit increases. You can submit a service limit increase in the following ways: </p> <ul> <li> <p>Submit a request from the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p>Use the Service Quotas <a href=\"https://docs.aws.amazon.com/servicequotas/2019-06-24/apireference/API_RequestServiceQuotaIncrease.html\">RequestServiceQuotaIncrease</a> operation.</p> </li> </ul> <p>A successful <code>CreateCase</code> request returns an AWS Support case number. You can use the <a>DescribeCases</a> operation and specify the case number to get existing AWS Support cases. After you create a case, use the <a>AddCommunicationToCase</a> operation to add additional communication or attachments to an existing case.</p> <p>The <code>caseId</code> is separate from the <code>displayId</code> that appears in the <a href=\"https://console.aws.amazon.com/support\">AWS Support Center</a>. Use the <a>DescribeCases</a> operation to get the <code>displayId</code>.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "CreateCase"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeAttachment": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.DescribeAttachment"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeAttachmentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAttachmentResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "DescribeAttachmentLimitExceeded",
            "schema": {
              "$ref": "#/definitions/DescribeAttachmentLimitExceeded"
            }
          },
          "482": {
            "description": "AttachmentIdNotFound",
            "schema": {
              "$ref": "#/definitions/AttachmentIdNotFound"
            }
          }
        },
        "description": "<p>Returns the attachment that has the specified ID. Attachments can include screenshots, error logs, or other files that describe your issue. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeAttachment"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeCases": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSSupport_20130415.DescribeCases"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCasesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeCasesResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "CaseIdNotFound",
            "schema": {
              "$ref": "#/definitions/CaseIdNotFound"
            }
          }
        },
        "description": "<p>Returns a list of cases that you specify by passing one or more case IDs. You can use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter the cases by date. You can set values for the <code>includeResolvedCases</code> and <code>includeCommunications</code> parameters to specify how much information to return.</p> <p>The response returns the following in JSON format:</p> <ul> <li> <p>One or more <a href=\"https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html\">CaseDetails</a> data types.</p> </li> <li> <p>One or more <code>nextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</p> </li> </ul> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request might return an error.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeCases"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeCommunications": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSSupport_20130415.DescribeCommunications"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCommunicationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeCommunicationsResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "CaseIdNotFound",
            "schema": {
              "$ref": "#/definitions/CaseIdNotFound"
            }
          }
        },
        "description": "<p>Returns communications and attachments for one or more support cases. Use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a specific case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the results. Set <code>maxResults</code> to the number of cases that you want to display on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeCommunications"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeServices": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.DescribeServices"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeServicesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeServicesResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns the current list of AWS services and a list of service categories for each service. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that appear in the <b>Service</b> and <b>Category</b> lists on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. The values in those fields don't necessarily match the service codes and categories returned by the <code>DescribeServices</code> operation. Always use the service codes and categories that the <code>DescribeServices</code> operation returns, so that you have the most recent set of service and category codes.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeServices"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeSeverityLevels": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.DescribeSeverityLevels"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeSeverityLevelsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeSeverityLevelsResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns the list of severity levels that you can assign to an AWS Support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type that you include for a <a>CreateCase</a> request.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeSeverityLevels"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckRefreshStatuses": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.DescribeTrustedAdvisorCheckRefreshStatuses"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeTrustedAdvisorCheckRefreshStatusesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeTrustedAdvisorCheckRefreshStatusesResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns the refresh status of the AWS Trusted Advisor checks that have the specified check IDs. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>Some checks are refreshed automatically, and you can't return their refresh statuses by using the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code> operation. If you call this operation for these checks, you might see an <code>InvalidParameterValue</code> error.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeTrustedAdvisorCheckRefreshStatuses"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckResult": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.DescribeTrustedAdvisorCheckResult"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeTrustedAdvisorCheckResultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeTrustedAdvisorCheckResultResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns the results of the AWS Trusted Advisor check that has the specified check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a> </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li> <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <p> <b>status</b> - The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</p> </li> <li> <p> <b>timestamp</b> - The time of the last refresh of the check.</p> </li> <li> <p> <b>checkId</b> - The unique identifier for the check.</p> </li> </ul> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeTrustedAdvisorCheckResult"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckSummaries": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.DescribeTrustedAdvisorCheckSummaries"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeTrustedAdvisorCheckSummariesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeTrustedAdvisorCheckSummariesResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns the results for the AWS Trusted Advisor check summaries for the check IDs that you specified. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeTrustedAdvisorCheckSummaries"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorChecks": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.DescribeTrustedAdvisorChecks"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeTrustedAdvisorChecksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeTrustedAdvisorChecksResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns information about all available AWS Trusted Advisor checks, including the name, ID, category, description, and metadata. You must specify a language code. The AWS Support API currently supports English (\"en\") and Japanese (\"ja\"). The response contains a <a>TrustedAdvisorCheckDescription</a> object for each check. You must set the AWS Region to us-east-1.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "DescribeTrustedAdvisorChecks"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.RefreshTrustedAdvisorCheck": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.RefreshTrustedAdvisorCheck"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTrustedAdvisorCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RefreshTrustedAdvisorCheckResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Refreshes the AWS Trusted Advisor check that you specify using the check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <note> <p>Some checks are refreshed automatically. If you call the <code>RefreshTrustedAdvisorCheck</code> operation to refresh them, you might see the <code>InvalidParameterValue</code> error.</p> </note> <p>The response contains a <a>TrustedAdvisorCheckRefreshStatus</a> object.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "RefreshTrustedAdvisorCheck"
      }
    },
    "/#X-Amz-Target=AWSSupport_20130415.ResolveCase": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSSupport_20130415.ResolveCase"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResolveCaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResolveCaseResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "CaseIdNotFound",
            "schema": {
              "$ref": "#/definitions/CaseIdNotFound"
            }
          }
        },
        "description": "<p>Resolves a support case. This operation takes a <code>caseId</code> and returns the initial and final state of the case.</p> <note> <ul> <li> <p>You must have a Business or Enterprise support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
        "operationId": "ResolveCase"
      }
    }
  },
  "definitions": {
    "AddAttachmentsToSetRequest": {
      "properties": {
        "attachmentSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/AttachmentSetId"
            },
            {
              "description": "The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists."
            }
          ]
        },
        "attachments": {
          "allOf": [
            {
              "$ref": "#/definitions/Attachments"
            },
            {
              "description": "<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>"
            }
          ]
        }
      },
      "required": [
        "attachments"
      ],
      "title": "AddAttachmentsToSetRequest",
      "type": "object"
    },
    "AddAttachmentsToSetResponse": {
      "description": "The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.",
      "properties": {
        "attachmentSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/AttachmentSetId"
            },
            {
              "description": "The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists."
            }
          ]
        },
        "expiryTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ExpiryTime"
            },
            {
              "description": "The time and date when the attachment set expires."
            }
          ]
        }
      },
      "type": "object"
    },
    "AddCommunicationToCaseRequest": {
      "properties": {
        "attachmentSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/AttachmentSetId"
            },
            {
              "description": "The ID of a set of one or more attachments for the communication to add to the case. Create the set by calling <a>AddAttachmentsToSet</a> "
            }
          ]
        },
        "caseId": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseId"
            },
            {
              "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
            }
          ]
        },
        "ccEmailAddresses": {
          "allOf": [
            {
              "$ref": "#/definitions/CcEmailAddressList"
            },
            {
              "description": "The email addresses in the CC line of an email to be added to the support case."
            }
          ]
        },
        "communicationBody": {
          "allOf": [
            {
              "$ref": "#/definitions/CommunicationBody"
            },
            {
              "description": "The body of an email communication to add to the support case."
            }
          ]
        }
      },
      "required": [
        "communicationBody"
      ],
      "title": "AddCommunicationToCaseRequest",
      "type": "object"
    },
    "AddCommunicationToCaseResponse": {
      "description": "The result of the <a>AddCommunicationToCase</a> operation.",
      "properties": {
        "result": {
          "allOf": [
            {
              "$ref": "#/definitions/Result"
            },
            {
              "description": "True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an error."
            }
          ]
        }
      },
      "type": "object"
    },
    "AfterTime": {
      "type": "string"
    },
    "Attachment": {
      "description": "An attachment to a case communication. The attachment consists of the file name and the content of the file.",
      "properties": {
        "data": {
          "allOf": [
            {
              "$ref": "#/definitions/Data"
            },
            {
              "description": "The content of the attachment file."
            }
          ]
        },
        "fileName": {
          "allOf": [
            {
              "$ref": "#/definitions/FileName"
            },
            {
              "description": "The name of the attachment file."
            }
          ]
        }
      },
      "type": "object"
    },
    "AttachmentDetails": {
      "description": "The file name and ID of an attachment to a case communication. You can use the ID to retrieve the attachment with the <a>DescribeAttachment</a> operation.",
      "properties": {
        "attachmentId": {
          "allOf": [
            {
              "$ref": "#/definitions/AttachmentId"
            },
            {
              "description": "The ID of the attachment."
            }
          ]
        },
        "fileName": {
          "allOf": [
            {
              "$ref": "#/definitions/FileName"
            },
            {
              "description": "The file name of the attachment."
            }
          ]
        }
      },
      "type": "object"
    },
    "AttachmentId": {
      "type": "string"
    },
    "AttachmentIdNotFound": {},
    "AttachmentLimitExceeded": {},
    "AttachmentSet": {
      "items": {
        "$ref": "#/definitions/AttachmentDetails"
      },
      "type": "array"
    },
    "AttachmentSetExpired": {},
    "AttachmentSetId": {
      "type": "string"
    },
    "AttachmentSetIdNotFound": {},
    "AttachmentSetSizeLimitExceeded": {},
    "Attachments": {
      "items": {
        "$ref": "#/definitions/Attachment"
      },
      "type": "array"
    },
    "BeforeTime": {
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CaseCreationLimitExceeded": {},
    "CaseDetails": {
      "description": "<p>A JSON-formatted object that contains the metadata for a support case. It is contained in the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p> <ul> <li> <p> <b>caseId.</b> The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</p> </li> <li> <p> <b>categoryCode.</b> The category of problem for the AWS Support case. Corresponds to the CategoryCode values returned by a call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>displayId.</b> The identifier for the case on pages in the AWS Support Center.</p> </li> <li> <p> <b>language.</b> The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p> </li> <li> <p> <b>nextToken.</b> A resumption point for pagination.</p> </li> <li> <p> <b>recentCommunications.</b> One or more <a>Communication</a> objects. Fields of these objects are <code>attachments</code>, <code>body</code>, <code>caseId</code>, <code>submittedBy</code>, and <code>timeCreated</code>.</p> </li> <li> <p> <b>serviceCode.</b> The identifier for the AWS service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>severityCode.</b> The severity code assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>. The possible values are: <code>low</code>, <code>normal</code>, <code>high</code>, <code>urgent</code>, and <code>critical</code>.</p> </li> <li> <p> <b>status.</b> The status of the case in the AWS Support Center. Valid values:</p> <ul> <li> <p> <code>opened</code> </p> </li> <li> <p> <code>pending-customer-action</code> </p> </li> <li> <p> <code>reopened</code> </p> </li> <li> <p> <code>resolved</code> </p> </li> <li> <p> <code>unassigned</code> </p> </li> <li> <p> <code>work-in-progress</code> </p> </li> </ul> </li> <li> <p> <b>subject.</b> The subject line of the case.</p> </li> <li> <p> <b>submittedBy.</b> The email address of the account that submitted the case.</p> </li> <li> <p> <b>timeCreated.</b> The time the case was created, in ISO-8601 format.</p> </li> </ul>",
      "properties": {
        "caseId": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseId"
            },
            {
              "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
            }
          ]
        },
        "categoryCode": {
          "allOf": [
            {
              "$ref": "#/definitions/CategoryCode"
            },
            {
              "description": "The category of problem for the AWS Support case."
            }
          ]
        },
        "ccEmailAddresses": {
          "allOf": [
            {
              "$ref": "#/definitions/CcEmailAddressList"
            },
            {
              "description": "The email addresses that receive copies of communication about the case."
            }
          ]
        },
        "displayId": {
          "allOf": [
            {
              "$ref": "#/definitions/DisplayId"
            },
            {
              "description": "The ID displayed for the case in the AWS Support Center. This is a numeric string."
            }
          ]
        },
        "language": {
          "allOf": [
            {
              "$ref": "#/definitions/Language"
            },
            {
              "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them."
            }
          ]
        },
        "recentCommunications": {
          "allOf": [
            {
              "$ref": "#/definitions/RecentCaseCommunications"
            },
            {
              "description": "The five most recent communications between you and AWS Support Center, including the IDs of any attachments to the communications. Also includes a <code>nextToken</code> that you can use to retrieve earlier communications."
            }
          ]
        },
        "serviceCode": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceCode"
            },
            {
              "description": "The code for the AWS service. You can get a list of codes and the corresponding service names by calling <a>DescribeServices</a>."
            }
          ]
        },
        "severityCode": {
          "allOf": [
            {
              "$ref": "#/definitions/SeverityCode"
            },
            {
              "description": "The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>."
            }
          ]
        },
        "status": {
          "allOf": [
            {
              "$ref": "#/definitions/Status"
            },
            {
              "description": "<p>The status of the case.</p> <p>Valid values:</p> <ul> <li> <p> <code>opened</code> </p> </li> <li> <p> <code>pending-customer-action</code> </p> </li> <li> <p> <code>reopened</code> </p> </li> <li> <p> <code>resolved</code> </p> </li> <li> <p> <code>unassigned</code> </p> </li> <li> <p> <code>work-in-progress</code> </p> </li> </ul>"
            }
          ]
        },
        "subject": {
          "allOf": [
            {
              "$ref": "#/definitions/Subject"
            },
            {
              "description": "The subject line for the case in the AWS Support Center."
            }
          ]
        },
        "submittedBy": {
          "allOf": [
            {
              "$ref": "#/definitions/SubmittedBy"
            },
            {
              "description": "The email address of the account that submitted the case."
            }
          ]
        },
        "timeCreated": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeCreated"
            },
            {
              "description": "The time that the case was created in the AWS Support Center."
            }
          ]
        }
      },
      "type": "object"
    },
    "CaseId": {
      "type": "string"
    },
    "CaseIdList": {
      "items": {
        "$ref": "#/definitions/CaseId"
      },
      "maxItems": 100,
      "minItems": 0,
      "type": "array"
    },
    "CaseIdNotFound": {},
    "CaseList": {
      "items": {
        "$ref": "#/definitions/CaseDetails"
      },
      "type": "array"
    },
    "CaseStatus": {
      "type": "string"
    },
    "Category": {
      "description": "A JSON-formatted name/value pair that represents the category name and category code of the problem, selected from the <a>DescribeServices</a> response for each AWS service.",
      "properties": {
        "code": {
          "allOf": [
            {
              "$ref": "#/definitions/CategoryCode"
            },
            {
              "description": "The category code for the support case."
            }
          ]
        },
        "name": {
          "allOf": [
            {
              "$ref": "#/definitions/CategoryName"
            },
            {
              "description": "The category name for the support case."
            }
          ]
        }
      },
      "type": "object"
    },
    "CategoryCode": {
      "type": "string"
    },
    "CategoryList": {
      "items": {
        "$ref": "#/definitions/Category"
      },
      "type": "array"
    },
    "CategoryName": {
      "type": "string"
    },
    "CcEmailAddress": {
      "type": "string"
    },
    "CcEmailAddressList": {
      "items": {
        "$ref": "#/definitions/CcEmailAddress"
      },
      "maxItems": 10,
      "minItems": 0,
      "type": "array"
    },
    "Communication": {
      "description": "A communication associated with an AWS Support case. The communication consists of the case ID, the message body, attachment information, the submitter of the communication, and the date and time of the communication.",
      "properties": {
        "attachmentSet": {
          "allOf": [
            {
              "$ref": "#/definitions/AttachmentSet"
            },
            {
              "description": "Information about the attachments to the case communication."
            }
          ]
        },
        "body": {
          "allOf": [
            {
              "$ref": "#/definitions/CommunicationBody"
            },
            {
              "description": "The text of the communication between the customer and AWS Support."
            }
          ]
        },
        "caseId": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseId"
            },
            {
              "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
            }
          ]
        },
        "submittedBy": {
          "allOf": [
            {
              "$ref": "#/definitions/SubmittedBy"
            },
            {
              "description": "The identity of the account that submitted, or responded to, the support case. Customer entries include the role or IAM user as well as the email address. For example, \"AdminRole (Role) &lt;someone@example.com&gt;. Entries from the AWS Support team display \"Amazon Web Services,\" and do not show an email address. "
            }
          ]
        },
        "timeCreated": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeCreated"
            },
            {
              "description": "The time the communication was created."
            }
          ]
        }
      },
      "type": "object"
    },
    "CommunicationBody": {
      "maxLength": 8000,
      "minLength": 1,
      "type": "string"
    },
    "CommunicationList": {
      "items": {
        "$ref": "#/definitions/Communication"
      },
      "type": "array"
    },
    "CreateCaseRequest": {
      "properties": {
        "attachmentSetId": {
          "allOf": [
            {
              "$ref": "#/definitions/AttachmentSetId"
            },
            {
              "description": "The ID of a set of one or more attachments for the case. Create the set by using the <a>AddAttachmentsToSet</a> operation."
            }
          ]
        },
        "categoryCode": {
          "allOf": [
            {
              "$ref": "#/definitions/CategoryCode"
            },
            {
              "description": "The category of problem for the AWS Support case. You also use the <a>DescribeServices</a> operation to get the category code for a service. Each AWS service defines its own set of category codes."
            }
          ]
        },
        "ccEmailAddresses": {
          "allOf": [
            {
              "$ref": "#/definitions/CcEmailAddressList"
            },
            {
              "description": "A list of email addresses that AWS Support copies on case correspondence. AWS Support identifies the account that creates the case when you specify your AWS credentials in an HTTP POST method or use the <a href=\"http://aws.amazon.com/tools/\">AWS SDKs</a>. "
            }
          ]
        },
        "communicationBody": {
          "allOf": [
            {
              "$ref": "#/definitions/CommunicationBody"
            },
            {
              "description": "The communication body text that describes the issue. This text appears in the <b>Description</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page."
            }
          ]
        },
        "issueType": {
          "allOf": [
            {
              "$ref": "#/definitions/IssueType"
            },
            {
              "description": "The type of issue for the case. You can specify <code>customer-service</code> or <code>technical</code>. If you don't specify a value, the default is <code>technical</code>."
            }
          ]
        },
        "language": {
          "allOf": [
            {
              "$ref": "#/definitions/Language"
            },
            {
              "description": "The language in which AWS Support handles the case. You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language. Currently, English (\"en\") and Japanese (\"ja\") are supported."
            }
          ]
        },
        "serviceCode": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceCode"
            },
            {
              "description": "The code for the AWS service. You can use the <a>DescribeServices</a> operation to get the possible <code>serviceCode</code> values."
            }
          ]
        },
        "severityCode": {
          "allOf": [
            {
              "$ref": "#/definitions/SeverityCode"
            },
            {
              "description": "<p>A value that indicates the urgency of the case. This value determines the response time according to your service level agreement with AWS Support. You can use the <a>DescribeSeverityLevels</a> operation to get the possible values for <code>severityCode</code>. </p> <p>For more information, see <a>SeverityLevel</a> and <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html#choosing-severity\">Choosing a Severity</a> in the <i>AWS Support User Guide</i>.</p> <note> <p>The availability of severity levels depends on the support plan for the AWS account.</p> </note>"
            }
          ]
        },
        "subject": {
          "allOf": [
            {
              "$ref": "#/definitions/Subject"
            },
            {
              "description": "The title of the AWS Support case. The title appears in the <b>Subject</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page."
            }
          ]
        }
      },
      "required": [
        "subject",
        "communicationBody"
      ],
      "title": "CreateCaseRequest",
      "type": "object"
    },
    "CreateCaseResponse": {
      "description": "The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> operation.",
      "properties": {
        "caseId": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseId"
            },
            {
              "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string in the following format: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
            }
          ]
        }
      },
      "type": "object"
    },
    "Data": {
      "type": "string"
    },
    "DescribeAttachmentLimitExceeded": {},
    "DescribeAttachmentRequest": {
      "properties": {
        "attachmentId": {
          "allOf": [
            {
              "$ref": "#/definitions/AttachmentId"
            },
            {
              "description": "The ID of the attachment to return. Attachment IDs are returned by the <a>DescribeCommunications</a> operation."
            }
          ]
        }
      },
      "required": [
        "attachmentId"
      ],
      "title": "DescribeAttachmentRequest",
      "type": "object"
    },
    "DescribeAttachmentResponse": {
      "description": "The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.",
      "properties": {
        "attachment": {
          "allOf": [
            {
              "$ref": "#/definitions/Attachment"
            },
            {
              "description": "<p>This object includes the attachment content and file name.</p> <p>In the previous response syntax, the value for the <code>data</code> parameter appears as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>"
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeCasesRequest": {
      "properties": {
        "afterTime": {
          "allOf": [
            {
              "$ref": "#/definitions/AfterTime"
            },
            {
              "description": "The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation."
            }
          ]
        },
        "beforeTime": {
          "allOf": [
            {
              "$ref": "#/definitions/BeforeTime"
            },
            {
              "description": "The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation."
            }
          ]
        },
        "caseIdList": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseIdList"
            },
            {
              "description": "A list of ID numbers of the support cases you want returned. The maximum number of cases is 100."
            }
          ]
        },
        "displayId": {
          "allOf": [
            {
              "$ref": "#/definitions/DisplayId"
            },
            {
              "description": "The ID displayed for a case in the AWS Support Center user interface."
            }
          ]
        },
        "includeCommunications": {
          "allOf": [
            {
              "$ref": "#/definitions/IncludeCommunications"
            },
            {
              "description": "Specifies whether to include communications in the <code>DescribeCases</code> response. By default, communications are incuded."
            }
          ]
        },
        "includeResolvedCases": {
          "allOf": [
            {
              "$ref": "#/definitions/IncludeResolvedCases"
            },
            {
              "description": "Specifies whether to include resolved support cases in the <code>DescribeCases</code> response. By default, resolved cases aren't included."
            }
          ]
        },
        "language": {
          "allOf": [
            {
              "$ref": "#/definitions/Language"
            },
            {
              "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them."
            }
          ]
        },
        "maxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResults"
            },
            {
              "description": "The maximum number of results to return before paginating."
            }
          ]
        },
        "nextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "A resumption point for pagination."
            }
          ]
        }
      },
      "title": "DescribeCasesRequest",
      "type": "object"
    },
    "DescribeCasesResponse": {
      "description": "Returns an array of <a href=\"https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html\">CaseDetails</a> objects and a <code>nextToken</code> that defines a point for pagination in the result set.",
      "properties": {
        "cases": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseList"
            },
            {
              "description": "The details for the cases that match the request."
            }
          ]
        },
        "nextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "A resumption point for pagination."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeCommunicationsRequest": {
      "properties": {
        "afterTime": {
          "allOf": [
            {
              "$ref": "#/definitions/AfterTime"
            },
            {
              "description": "The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation."
            }
          ]
        },
        "beforeTime": {
          "allOf": [
            {
              "$ref": "#/definitions/BeforeTime"
            },
            {
              "description": "The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation."
            }
          ]
        },
        "caseId": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseId"
            },
            {
              "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
            }
          ]
        },
        "maxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResults"
            },
            {
              "description": "The maximum number of results to return before paginating."
            }
          ]
        },
        "nextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "A resumption point for pagination."
            }
          ]
        }
      },
      "required": [
        "caseId"
      ],
      "title": "DescribeCommunicationsRequest",
      "type": "object"
    },
    "DescribeCommunicationsResponse": {
      "description": "The communications returned by the <a>DescribeCommunications</a> operation.",
      "properties": {
        "communications": {
          "allOf": [
            {
              "$ref": "#/definitions/CommunicationList"
            },
            {
              "description": "The communications for the case."
            }
          ]
        },
        "nextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "A resumption point for pagination."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeServicesRequest": {
      "properties": {
        "language": {
          "allOf": [
            {
              "$ref": "#/definitions/Language"
            },
            {
              "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them."
            }
          ]
        },
        "serviceCodeList": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceCodeList"
            },
            {
              "description": "A JSON-formatted list of service codes available for AWS services."
            }
          ]
        }
      },
      "title": "DescribeServicesRequest",
      "type": "object"
    },
    "DescribeServicesResponse": {
      "description": "The list of AWS services returned by the <a>DescribeServices</a> operation.",
      "properties": {
        "services": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceList"
            },
            {
              "description": "A JSON-formatted list of AWS services."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeSeverityLevelsRequest": {
      "properties": {
        "language": {
          "allOf": [
            {
              "$ref": "#/definitions/Language"
            },
            {
              "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them."
            }
          ]
        }
      },
      "title": "DescribeSeverityLevelsRequest",
      "type": "object"
    },
    "DescribeSeverityLevelsResponse": {
      "description": "The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.",
      "properties": {
        "severityLevels": {
          "allOf": [
            {
              "$ref": "#/definitions/SeverityLevelsList"
            },
            {
              "description": "The available severity levels for the support case. Available severity levels are defined by your service level agreement with AWS."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeTrustedAdvisorCheckRefreshStatusesRequest": {
      "properties": {
        "checkIds": {
          "allOf": [
            {
              "$ref": "#/definitions/StringList"
            },
            {
              "description": "<p>The IDs of the Trusted Advisor checks to get the status of. </p> <note> <p>If you specify the check ID of a check that is automatically refreshed, you might see an <code>InvalidParameterValue</code> error.</p> </note>"
            }
          ]
        }
      },
      "required": [
        "checkIds"
      ],
      "title": "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
      "type": "object"
    },
    "DescribeTrustedAdvisorCheckRefreshStatusesResponse": {
      "description": "The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.",
      "properties": {
        "statuses": {
          "allOf": [
            {
              "$ref": "#/definitions/TrustedAdvisorCheckRefreshStatusList"
            },
            {
              "description": "The refresh status of the specified Trusted Advisor checks."
            }
          ]
        }
      },
      "required": [
        "statuses"
      ],
      "type": "object"
    },
    "DescribeTrustedAdvisorCheckResultRequest": {
      "description": "<p/>",
      "properties": {
        "checkId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The unique identifier for the Trusted Advisor check."
            }
          ]
        },
        "language": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them."
            }
          ]
        }
      },
      "required": [
        "checkId"
      ],
      "title": "DescribeTrustedAdvisorCheckResultRequest",
      "type": "object"
    },
    "DescribeTrustedAdvisorCheckResultResponse": {
      "description": "The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.",
      "properties": {
        "result": {
          "allOf": [
            {
              "$ref": "#/definitions/TrustedAdvisorCheckResult"
            },
            {
              "description": "The detailed results of the Trusted Advisor check."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeTrustedAdvisorCheckSummariesRequest": {
      "properties": {
        "checkIds": {
          "allOf": [
            {
              "$ref": "#/definitions/StringList"
            },
            {
              "description": "The IDs of the Trusted Advisor checks."
            }
          ]
        }
      },
      "required": [
        "checkIds"
      ],
      "title": "DescribeTrustedAdvisorCheckSummariesRequest",
      "type": "object"
    },
    "DescribeTrustedAdvisorCheckSummariesResponse": {
      "description": "The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.",
      "properties": {
        "summaries": {
          "allOf": [
            {
              "$ref": "#/definitions/TrustedAdvisorCheckSummaryList"
            },
            {
              "description": "The summary information for the requested Trusted Advisor checks."
            }
          ]
        }
      },
      "required": [
        "summaries"
      ],
      "type": "object"
    },
    "DescribeTrustedAdvisorChecksRequest": {
      "properties": {
        "language": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them."
            }
          ]
        }
      },
      "required": [
        "language"
      ],
      "title": "DescribeTrustedAdvisorChecksRequest",
      "type": "object"
    },
    "DescribeTrustedAdvisorChecksResponse": {
      "description": "Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation.",
      "properties": {
        "checks": {
          "allOf": [
            {
              "$ref": "#/definitions/TrustedAdvisorCheckList"
            },
            {
              "description": "Information about all available Trusted Advisor checks."
            }
          ]
        }
      },
      "required": [
        "checks"
      ],
      "type": "object"
    },
    "DisplayId": {
      "type": "string"
    },
    "Double": {
      "format": "double",
      "type": "number"
    },
    "ExpiryTime": {
      "type": "string"
    },
    "FileName": {
      "type": "string"
    },
    "IncludeCommunications": {
      "type": "boolean"
    },
    "IncludeResolvedCases": {
      "type": "boolean"
    },
    "InternalServerError": {},
    "IssueType": {
      "type": "string"
    },
    "Language": {
      "type": "string"
    },
    "Long": {
      "type": "integer"
    },
    "MaxResults": {
      "maximum": 100,
      "minimum": 10,
      "type": "integer"
    },
    "NextToken": {
      "type": "string"
    },
    "RecentCaseCommunications": {
      "description": "The five most recent communications associated with the case.",
      "properties": {
        "communications": {
          "allOf": [
            {
              "$ref": "#/definitions/CommunicationList"
            },
            {
              "description": "The five most recent communications associated with the case."
            }
          ]
        },
        "nextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "A resumption point for pagination."
            }
          ]
        }
      },
      "type": "object"
    },
    "RefreshTrustedAdvisorCheckRequest": {
      "description": "<p/>",
      "properties": {
        "checkId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The unique identifier for the Trusted Advisor check to refresh. <b>Note:</b> Specifying the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code> error."
            }
          ]
        }
      },
      "required": [
        "checkId"
      ],
      "title": "RefreshTrustedAdvisorCheckRequest",
      "type": "object"
    },
    "RefreshTrustedAdvisorCheckResponse": {
      "description": "The current refresh status of a Trusted Advisor check.",
      "properties": {
        "status": {
          "allOf": [
            {
              "$ref": "#/definitions/TrustedAdvisorCheckRefreshStatus"
            },
            {
              "description": "The current refresh status for a check, including the amount of time until the check is eligible for refresh."
            }
          ]
        }
      },
      "required": [
        "status"
      ],
      "type": "object"
    },
    "ResolveCaseRequest": {
      "properties": {
        "caseId": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseId"
            },
            {
              "description": "The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
            }
          ]
        }
      },
      "title": "ResolveCaseRequest",
      "type": "object"
    },
    "ResolveCaseResponse": {
      "description": "The status of the case returned by the <a>ResolveCase</a> operation.",
      "properties": {
        "finalCaseStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseStatus"
            },
            {
              "description": "The status of the case after the <a>ResolveCase</a> request was processed."
            }
          ]
        },
        "initialCaseStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/CaseStatus"
            },
            {
              "description": "The status of the case when the <a>ResolveCase</a> request was sent."
            }
          ]
        }
      },
      "type": "object"
    },
    "Result": {
      "type": "boolean"
    },
    "Service": {
      "description": "Information about an AWS service returned by the <a>DescribeServices</a> operation.",
      "properties": {
        "categories": {
          "allOf": [
            {
              "$ref": "#/definitions/CategoryList"
            },
            {
              "description": "A list of categories that describe the type of support issue a case describes. Categories consist of a category name and a category code. Category names and codes are passed to AWS Support when you call <a>CreateCase</a>."
            }
          ]
        },
        "code": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceCode"
            },
            {
              "description": "The code for an AWS service returned by the <a>DescribeServices</a> response. The <code>name</code> element contains the corresponding friendly name."
            }
          ]
        },
        "name": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceName"
            },
            {
              "description": "The friendly name for an AWS service. The <code>code</code> element contains the corresponding code."
            }
          ]
        }
      },
      "type": "object"
    },
    "ServiceCode": {
      "type": "string"
    },
    "ServiceCodeList": {
      "items": {
        "$ref": "#/definitions/ServiceCode"
      },
      "maxItems": 100,
      "minItems": 0,
      "type": "array"
    },
    "ServiceList": {
      "items": {
        "$ref": "#/definitions/Service"
      },
      "type": "array"
    },
    "ServiceName": {
      "type": "string"
    },
    "SeverityCode": {
      "type": "string"
    },
    "SeverityLevel": {
      "description": "A code and name pair that represents the severity level of a support case. The available values depend on the support plan for the account. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/case-management.html#choosing-severity\">Choosing a severity</a> in the <i>AWS Support User Guide</i>.",
      "properties": {
        "code": {
          "allOf": [
            {
              "$ref": "#/definitions/SeverityLevelCode"
            },
            {
              "description": "<p>The code for case severity level.</p> <p>Valid values: <code>low</code> | <code>normal</code> | <code>high</code> | <code>urgent</code> | <code>critical</code> </p>"
            }
          ]
        },
        "name": {
          "allOf": [
            {
              "$ref": "#/definitions/SeverityLevelName"
            },
            {
              "description": "<p>The name of the severity level that corresponds to the severity level code.</p> <note> <p>The values returned by the API differ from the values that are displayed in the AWS Support Center. For example, for the code \"low\", the API name is \"Low\", but the name in the Support Center is \"General guidance\". These are the Support Center code/name mappings:</p> <ul> <li> <p> <code>low</code>: General guidance</p> </li> <li> <p> <code>normal</code>: System impaired</p> </li> <li> <p> <code>high</code>: Production system impaired</p> </li> <li> <p> <code>urgent</code>: Production system down</p> </li> <li> <p> <code>critical</code>: Business-critical system down</p> </li> </ul> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/case-management.html#choosing-severity\">Choosing a severity</a> in the <i>AWS Support User Guide</i>.</p>"
            }
          ]
        }
      },
      "type": "object"
    },
    "SeverityLevelCode": {
      "type": "string"
    },
    "SeverityLevelName": {
      "type": "string"
    },
    "SeverityLevelsList": {
      "items": {
        "$ref": "#/definitions/SeverityLevel"
      },
      "type": "array"
    },
    "Status": {
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "items": {
        "$ref": "#/definitions/String"
      },
      "type": "array"
    },
    "Subject": {
      "type": "string"
    },
    "SubmittedBy": {
      "type": "string"
    },
    "TimeCreated": {
      "type": "string"
    },
    "TrustedAdvisorCategorySpecificSummary": {
      "description": "The container for summary information that relates to the category of the Trusted Advisor check.",
      "properties": {
        "costOptimizing": {
          "allOf": [
            {
              "$ref": "#/definitions/TrustedAdvisorCostOptimizingSummary"
            },
            {
              "description": "The summary information about cost savings for a Trusted Advisor check that is in the Cost Optimizing category."
            }
          ]
        }
      },
      "type": "object"
    },
    "TrustedAdvisorCheckDescription": {
      "description": "The description and metadata for a Trusted Advisor check.",
      "properties": {
        "category": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The category of the Trusted Advisor check."
            }
          ]
        },
        "description": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The description of the Trusted Advisor check, which includes the alert criteria and recommended operations (contains HTML markup)."
            }
          ]
        },
        "id": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The unique identifier for the Trusted Advisor check."
            }
          ]
        },
        "metadata": {
          "allOf": [
            {
              "$ref": "#/definitions/StringList"
            },
            {
              "description": "The column headings for the data returned by the Trusted Advisor check. The order of the headings corresponds to the order of the data in the <b>Metadata</b> element of the <a>TrustedAdvisorResourceDetail</a> for the check. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data. "
            }
          ]
        },
        "name": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The display name for the Trusted Advisor check."
            }
          ]
        }
      },
      "required": [
        "id",
        "name",
        "description",
        "category",
        "metadata"
      ],
      "type": "object"
    },
    "TrustedAdvisorCheckList": {
      "items": {
        "$ref": "#/definitions/TrustedAdvisorCheckDescription"
      },
      "type": "array"
[...]
