{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see <a href=\"http://aws.amazon.com/sns/\">https://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href=\"https://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer Guide</a>. </p> <p>For information on the permissions you need to use this API, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-authentication-and-access-control.html\">Identity and access management in Amazon SNS</a> in the <i>Amazon SNS Developer Guide.</i> </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>. </p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Simple Notification Service",
    "version": "2010-03-31",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sns-2010-03-31.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "sns",
    "x-datafire": {
      "name": "amazonaws_sns",
      "type": "openapi"
    }
  },
  "host": "sns.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#Action=AddPermission": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The ARN of the topic whose access control policy you wish to modify.",
            "in": "query",
            "name": "TopicArn",
            "required": true,
            "type": "string"
          },
          {
            "description": "A unique identifier for the new policy statement.",
            "in": "query",
            "name": "Label",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/delegate"
            },
            "name": "AWSAccountId",
            "required": true,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: Any Amazon SNS action name, for example <code>Publish</code>.</p>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/action"
            },
            "name": "ActionName",
            "required": true,
            "type": "array"
          },
          {
            "enum": [
              "AddPermission"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "Adds a statement to a topic's access control policy, granting access for the specified AWS accounts to the specified actions.",
        "operationId": "GET_AddPermission",
        "x-aws-operation-name": "AddPermission"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "AddPermission"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddPermissionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "Adds a statement to a topic's access control policy, granting access for the specified AWS accounts to the specified actions.",
        "operationId": "POST_AddPermission",
        "x-aws-operation-name": "AddPermission"
      }
    },
    "/#Action=CheckIfPhoneNumberIsOptedOut": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The phone number for which you want to check the opt out status.",
            "in": "query",
            "name": "phoneNumber",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "CheckIfPhoneNumberIsOptedOut"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CheckIfPhoneNumberIsOptedOutResponse"
            }
          },
          "480": {
            "description": "ThrottledException",
            "schema": {
              "$ref": "#/definitions/ThrottledException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          }
        },
        "description": "<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>",
        "operationId": "GET_CheckIfPhoneNumberIsOptedOut",
        "x-aws-operation-name": "CheckIfPhoneNumberIsOptedOut"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CheckIfPhoneNumberIsOptedOut"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckIfPhoneNumberIsOptedOutInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CheckIfPhoneNumberIsOptedOutResponse"
            }
          },
          "480": {
            "description": "ThrottledException",
            "schema": {
              "$ref": "#/definitions/ThrottledException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          }
        },
        "description": "<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>",
        "operationId": "POST_CheckIfPhoneNumberIsOptedOut",
        "x-aws-operation-name": "CheckIfPhoneNumberIsOptedOut"
      }
    },
    "/#Action=ConfirmSubscription": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The ARN of the topic for which you wish to confirm a subscription.",
            "in": "query",
            "name": "TopicArn",
            "required": true,
            "type": "string"
          },
          {
            "description": "Short-lived token sent to an endpoint during the <code>Subscribe</code> action.",
            "in": "query",
            "name": "Token",
            "required": true,
            "type": "string"
          },
          {
            "description": "Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an AWS signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires AWS authentication. ",
            "in": "query",
            "name": "AuthenticateOnUnsubscribe",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "ConfirmSubscription"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConfirmSubscriptionResponse"
            }
          },
          "480": {
            "description": "SubscriptionLimitExceededException",
            "schema": {
              "$ref": "#/definitions/SubscriptionLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "484": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "485": {
            "description": "FilterPolicyLimitExceededException",
            "schema": {
              "$ref": "#/definitions/FilterPolicyLimitExceededException"
            }
          }
        },
        "description": "Verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".",
        "operationId": "GET_ConfirmSubscription",
        "x-aws-operation-name": "ConfirmSubscription"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "ConfirmSubscription"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConfirmSubscriptionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConfirmSubscriptionResponse"
            }
          },
          "480": {
            "description": "SubscriptionLimitExceededException",
            "schema": {
              "$ref": "#/definitions/SubscriptionLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "484": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "485": {
            "description": "FilterPolicyLimitExceededException",
            "schema": {
              "$ref": "#/definitions/FilterPolicyLimitExceededException"
            }
          }
        },
        "description": "Verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".",
        "operationId": "POST_ConfirmSubscription",
        "x-aws-operation-name": "ConfirmSubscription"
      }
    },
    "/#Action=CreatePlatformApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.",
            "in": "query",
            "name": "Name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Firebase Cloud Messaging).",
            "in": "query",
            "name": "Platform",
            "required": true,
            "type": "string"
          },
          {
            "additionalProperties": {
              "$ref": "#/definitions/String"
            },
            "description": "For a list of attributes, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetPlatformApplicationAttributes.html\">SetPlatformApplicationAttributes</a> ",
            "in": "query",
            "name": "Attributes",
            "required": true,
            "type": "object"
          },
          {
            "enum": [
              "CreatePlatformApplication"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePlatformApplicationResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          }
        },
        "description": "<p>Creates a platform application object for one of the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging), to which devices and mobile apps may register. You must specify <code>PlatformPrincipal</code> and <code>PlatformCredential</code> attributes when using the <code>CreatePlatformApplication</code> action.</p> <p> <code>PlatformPrincipal</code> and <code>PlatformCredential</code> are received from the notification service.</p> <ul> <li> <p>For <code>ADM</code>, <code>PlatformPrincipal</code> is <code>client id</code> and <code>PlatformCredential</code> is <code>client secret</code>.</p> </li> <li> <p>For <code>Baidu</code>, <code>PlatformPrincipal</code> is <code>API key</code> and <code>PlatformCredential</code> is <code>secret key</code>.</p> </li> <li> <p>For <code>APNS</code> and <code>APNS_SANDBOX</code>, <code>PlatformPrincipal</code> is <code>SSL certificate</code> and <code>PlatformCredential</code> is <code>private key</code>.</p> </li> <li> <p>For <code>GCM</code> (Firebase Cloud Messaging), there is no <code>PlatformPrincipal</code> and the <code>PlatformCredential</code> is <code>API key</code>.</p> </li> <li> <p>For <code>MPNS</code>, <code>PlatformPrincipal</code> is <code>TLS certificate</code> and <code>PlatformCredential</code> is <code>private key</code>.</p> </li> <li> <p>For <code>WNS</code>, <code>PlatformPrincipal</code> is <code>Package Security Identifier</code> and <code>PlatformCredential</code> is <code>secret key</code>.</p> </li> </ul> <p>You can use the returned <code>PlatformApplicationArn</code> as an attribute for the <code>CreatePlatformEndpoint</code> action.</p>",
        "operationId": "GET_CreatePlatformApplication",
        "x-aws-operation-name": "CreatePlatformApplication"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreatePlatformApplication"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreatePlatformApplicationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePlatformApplicationResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          }
        },
        "description": "<p>Creates a platform application object for one of the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging), to which devices and mobile apps may register. You must specify <code>PlatformPrincipal</code> and <code>PlatformCredential</code> attributes when using the <code>CreatePlatformApplication</code> action.</p> <p> <code>PlatformPrincipal</code> and <code>PlatformCredential</code> are received from the notification service.</p> <ul> <li> <p>For <code>ADM</code>, <code>PlatformPrincipal</code> is <code>client id</code> and <code>PlatformCredential</code> is <code>client secret</code>.</p> </li> <li> <p>For <code>Baidu</code>, <code>PlatformPrincipal</code> is <code>API key</code> and <code>PlatformCredential</code> is <code>secret key</code>.</p> </li> <li> <p>For <code>APNS</code> and <code>APNS_SANDBOX</code>, <code>PlatformPrincipal</code> is <code>SSL certificate</code> and <code>PlatformCredential</code> is <code>private key</code>.</p> </li> <li> <p>For <code>GCM</code> (Firebase Cloud Messaging), there is no <code>PlatformPrincipal</code> and the <code>PlatformCredential</code> is <code>API key</code>.</p> </li> <li> <p>For <code>MPNS</code>, <code>PlatformPrincipal</code> is <code>TLS certificate</code> and <code>PlatformCredential</code> is <code>private key</code>.</p> </li> <li> <p>For <code>WNS</code>, <code>PlatformPrincipal</code> is <code>Package Security Identifier</code> and <code>PlatformCredential</code> is <code>secret key</code>.</p> </li> </ul> <p>You can use the returned <code>PlatformApplicationArn</code> as an attribute for the <code>CreatePlatformEndpoint</code> action.</p>",
        "operationId": "POST_CreatePlatformApplication",
        "x-aws-operation-name": "CreatePlatformApplication"
      }
    },
    "/#Action=CreatePlatformEndpoint": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.",
            "in": "query",
            "name": "PlatformApplicationArn",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM (Firebase Cloud Messaging) or ADM, the device token equivalent is called the registration ID.",
            "in": "query",
            "name": "Token",
            "required": true,
            "type": "string"
          },
          {
            "description": "Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.",
            "in": "query",
            "name": "CustomUserData",
            "required": false,
            "type": "string"
          },
          {
            "additionalProperties": {
              "$ref": "#/definitions/String"
            },
            "description": "For a list of attributes, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetEndpointAttributes.html\">SetEndpointAttributes</a>.",
            "in": "query",
            "name": "Attributes",
            "required": false,
            "type": "object"
          },
          {
            "enum": [
              "CreatePlatformEndpoint"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateEndpointResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. <code>CreatePlatformEndpoint</code> requires the <code>PlatformApplicationArn</code> that is returned from <code>CreatePlatformApplication</code>. You can use the returned <code>EndpointArn</code> to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint's ARN is returned without creating a new endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>. </p>",
        "operationId": "GET_CreatePlatformEndpoint",
        "x-aws-operation-name": "CreatePlatformEndpoint"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreatePlatformEndpoint"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreatePlatformEndpointInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateEndpointResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. <code>CreatePlatformEndpoint</code> requires the <code>PlatformApplicationArn</code> that is returned from <code>CreatePlatformApplication</code>. You can use the returned <code>EndpointArn</code> to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint's ARN is returned without creating a new endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>. </p>",
        "operationId": "POST_CreatePlatformEndpoint",
        "x-aws-operation-name": "CreatePlatformEndpoint"
      }
    },
    "/#Action=CreateTopic": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p> <p>For a FIFO (first-in-first-out) topic, the name must end with the <code>.fifo</code> suffix. </p>",
            "in": "query",
            "name": "Name",
            "required": true,
            "type": "string"
          },
          {
            "additionalProperties": {
              "$ref": "#/definitions/attributeValue"
            },
            "description": "<p>A map of attributes with their corresponding values.</p> <p>The following lists the names, descriptions, and values of the special request parameters that the <code>CreateTopic</code> action uses:</p> <ul> <li> <p> <code>DeliveryPolicy</code> – The policy that defines how Amazon SNS retries failed deliveries to HTTP/S endpoints.</p> </li> <li> <p> <code>DisplayName</code> – The display name to use for a topic with SMS subscriptions.</p> </li> <li> <p> <code>FifoTopic</code> – Set to true to create a FIFO topic.</p> </li> <li> <p> <code>Policy</code> – The policy that defines who can access your topic. By default, only the topic owner can publish or subscribe to the topic.</p> </li> </ul> <p>The following attribute applies only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html\">server-side-encryption</a>:</p> <ul> <li> <p> <code>KmsMasterKeyId</code> – The ID of an AWS-managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms\">Key Terms</a>. For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>AWS Key Management Service API Reference</i>. </p> </li> </ul> <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-fifo-topics.html\">FIFO topics</a>:</p> <ul> <li> <p> <code>FifoTopic</code> – When this is set to <code>true</code>, a FIFO topic is created.</p> </li> <li> <p> <code>ContentBasedDeduplication</code> – Enables content-based deduplication for FIFO topics. </p> <ul> <li> <p>By default, <code>ContentBasedDeduplication</code> is set to <code>false</code>. If you create a FIFO topic and this attribute is <code>false</code>, you must specify a value for the <code>MessageDeduplicationId</code> parameter for the <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_Publish.html\">Publish</a> action. </p> </li> <li> <p>When you set <code>ContentBasedDeduplication</code> to <code>true</code>, Amazon SNS uses a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body of the message (but not the attributes of the message).</p> <p>(Optional) To override the generated value, you can specify a value for the the <code>MessageDeduplicationId</code> parameter for the <code>Publish</code> action.</p> </li> </ul> </li> </ul>",
            "in": "query",
            "name": "Attributes",
            "required": false,
            "type": "object"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>The list of tags to add to a new topic.</p> <note> <p>To be able to tag a topic on creation, you must have the <code>sns:CreateTopic</code> and <code>sns:TagResource</code> permissions.</p> </note>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Tag"
            },
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "CreateTopic"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateTopicResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "TopicLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TopicLimitExceededException"
            }
          },
          "482": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "483": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "484": {
            "description": "InvalidSecurityException",
            "schema": {
              "$ref": "#/definitions/InvalidSecurityException"
            }
          },
          "485": {
            "description": "TagLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededException"
            }
          },
          "486": {
            "description": "StaleTagException",
            "schema": {
              "$ref": "#/definitions/StaleTagException"
            }
          },
          "487": {
            "description": "TagPolicyException",
            "schema": {
              "$ref": "#/definitions/TagPolicyException"
            }
          },
          "488": {
            "description": "ConcurrentAccessException",
            "schema": {
              "$ref": "#/definitions/ConcurrentAccessException"
            }
          }
        },
        "description": "Creates a topic to which notifications can be published. Users can create at most 100,000 standard topics (at most 1,000 FIFO topics). For more information, see <a href=\"http://aws.amazon.com/sns/\">https://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is returned without creating a new topic.",
        "operationId": "GET_CreateTopic",
        "x-aws-operation-name": "CreateTopic"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateTopic"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateTopicInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateTopicResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "TopicLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TopicLimitExceededException"
            }
          },
          "482": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "483": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "484": {
            "description": "InvalidSecurityException",
            "schema": {
              "$ref": "#/definitions/InvalidSecurityException"
            }
          },
          "485": {
            "description": "TagLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededException"
            }
          },
          "486": {
            "description": "StaleTagException",
            "schema": {
              "$ref": "#/definitions/StaleTagException"
            }
          },
          "487": {
            "description": "TagPolicyException",
            "schema": {
              "$ref": "#/definitions/TagPolicyException"
            }
          },
          "488": {
            "description": "ConcurrentAccessException",
            "schema": {
              "$ref": "#/definitions/ConcurrentAccessException"
            }
          }
        },
        "description": "Creates a topic to which notifications can be published. Users can create at most 100,000 standard topics (at most 1,000 FIFO topics). For more information, see <a href=\"http://aws.amazon.com/sns/\">https://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is returned without creating a new topic.",
        "operationId": "POST_CreateTopic",
        "x-aws-operation-name": "CreateTopic"
      }
    },
    "/#Action=DeleteEndpoint": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "EndpointArn of endpoint to delete.",
            "in": "query",
            "name": "EndpointArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "DeleteEndpoint"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          }
        },
        "description": "<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>",
        "operationId": "GET_DeleteEndpoint",
        "x-aws-operation-name": "DeleteEndpoint"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DeleteEndpoint"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteEndpointInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          }
        },
        "description": "<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>",
        "operationId": "POST_DeleteEndpoint",
        "x-aws-operation-name": "DeleteEndpoint"
      }
    },
    "/#Action=DeletePlatformApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "PlatformApplicationArn of platform application object to delete.",
            "in": "query",
            "name": "PlatformApplicationArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "DeletePlatformApplication"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          }
        },
        "description": "Deletes a platform application object for one of the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. ",
        "operationId": "GET_DeletePlatformApplication",
        "x-aws-operation-name": "DeletePlatformApplication"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DeletePlatformApplication"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeletePlatformApplicationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          }
        },
        "description": "Deletes a platform application object for one of the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. ",
        "operationId": "POST_DeletePlatformApplication",
        "x-aws-operation-name": "DeletePlatformApplication"
      }
    },
    "/#Action=DeleteTopic": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The ARN of the topic you want to delete.",
            "in": "query",
            "name": "TopicArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "DeleteTopic"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "StaleTagException",
            "schema": {
              "$ref": "#/definitions/StaleTagException"
            }
          },
          "485": {
            "description": "TagPolicyException",
            "schema": {
              "$ref": "#/definitions/TagPolicyException"
            }
          },
          "486": {
            "description": "ConcurrentAccessException",
            "schema": {
              "$ref": "#/definitions/ConcurrentAccessException"
            }
          }
        },
        "description": "Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.",
        "operationId": "GET_DeleteTopic",
        "x-aws-operation-name": "DeleteTopic"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DeleteTopic"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteTopicInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "StaleTagException",
            "schema": {
              "$ref": "#/definitions/StaleTagException"
            }
          },
          "485": {
            "description": "TagPolicyException",
            "schema": {
              "$ref": "#/definitions/TagPolicyException"
            }
          },
          "486": {
            "description": "ConcurrentAccessException",
            "schema": {
              "$ref": "#/definitions/ConcurrentAccessException"
            }
          }
        },
        "description": "Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.",
        "operationId": "POST_DeleteTopic",
        "x-aws-operation-name": "DeleteTopic"
      }
    },
    "/#Action=GetEndpointAttributes": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "EndpointArn for GetEndpointAttributes input.",
            "in": "query",
            "name": "EndpointArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "GetEndpointAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetEndpointAttributesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. ",
        "operationId": "GET_GetEndpointAttributes",
        "x-aws-operation-name": "GetEndpointAttributes"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "GetEndpointAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GetEndpointAttributesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetEndpointAttributesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. ",
        "operationId": "POST_GetEndpointAttributes",
        "x-aws-operation-name": "GetEndpointAttributes"
      }
    },
    "/#Action=GetPlatformApplicationAttributes": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "PlatformApplicationArn for GetPlatformApplicationAttributesInput.",
            "in": "query",
            "name": "PlatformApplicationArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "GetPlatformApplicationAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPlatformApplicationAttributesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. ",
        "operationId": "GET_GetPlatformApplicationAttributes",
        "x-aws-operation-name": "GetPlatformApplicationAttributes"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "GetPlatformApplicationAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GetPlatformApplicationAttributesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPlatformApplicationAttributesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. ",
        "operationId": "POST_GetPlatformApplicationAttributes",
        "x-aws-operation-name": "GetPlatformApplicationAttributes"
      }
    },
    "/#Action=GetSMSAttributes": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html\">SetSMSAttributes</a>.</p> <p>If you don't use this parameter, Amazon SNS returns all SMS attributes.</p>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/String"
            },
            "name": "attributes",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "GetSMSAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSMSAttributesResponse"
            }
          },
          "480": {
            "description": "ThrottledException",
            "schema": {
              "$ref": "#/definitions/ThrottledException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          }
        },
        "description": "<p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>",
        "operationId": "GET_GetSMSAttributes",
        "x-aws-operation-name": "GetSMSAttributes"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "GetSMSAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GetSMSAttributesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSMSAttributesResponse"
            }
          },
          "480": {
            "description": "ThrottledException",
            "schema": {
              "$ref": "#/definitions/ThrottledException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          }
        },
        "description": "<p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>",
        "operationId": "POST_GetSMSAttributes",
        "x-aws-operation-name": "GetSMSAttributes"
      }
    },
    "/#Action=GetSubscriptionAttributes": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The ARN of the subscription whose properties you want to get.",
            "in": "query",
            "name": "SubscriptionArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "GetSubscriptionAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSubscriptionAttributesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          }
        },
        "description": "Returns all of the properties of a subscription.",
        "operationId": "GET_GetSubscriptionAttributes",
        "x-aws-operation-name": "GetSubscriptionAttributes"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "GetSubscriptionAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GetSubscriptionAttributesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSubscriptionAttributesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          }
        },
        "description": "Returns all of the properties of a subscription.",
        "operationId": "POST_GetSubscriptionAttributes",
        "x-aws-operation-name": "GetSubscriptionAttributes"
      }
    },
    "/#Action=GetTopicAttributes": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The ARN of the topic whose properties you want to get.",
            "in": "query",
            "name": "TopicArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "GetTopicAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTopicAttributesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "484": {
            "description": "InvalidSecurityException",
            "schema": {
              "$ref": "#/definitions/InvalidSecurityException"
            }
          }
        },
        "description": "Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.",
        "operationId": "GET_GetTopicAttributes",
        "x-aws-operation-name": "GetTopicAttributes"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "GetTopicAttributes"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GetTopicAttributesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTopicAttributesResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "483": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "484": {
            "description": "InvalidSecurityException",
            "schema": {
              "$ref": "#/definitions/InvalidSecurityException"
            }
          }
        },
        "description": "Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.",
        "operationId": "POST_GetTopicAttributes",
        "x-aws-operation-name": "GetTopicAttributes"
      }
    },
    "/#Action=ListEndpointsByPlatformApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "PlatformApplicationArn for ListEndpointsByPlatformApplicationInput action.",
            "in": "query",
            "name": "PlatformApplicationArn",
            "required": true,
            "type": "string"
          },
          {
            "description": "NextToken string is used when calling ListEndpointsByPlatformApplication action to retrieve additional records that are available after the first page results.",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "ListEndpointsByPlatformApplication"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListEndpointsByPlatformApplicationResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM (Firebase Cloud Messaging) and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
        "operationId": "GET_ListEndpointsByPlatformApplication",
        "x-aws-operation-name": "ListEndpointsByPlatformApplication"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "ListEndpointsByPlatformApplication"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2010-03-31"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ListEndpointsByPlatformApplicationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListEndpointsByPlatformApplicationResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "482": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "description": "<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM (Firebase Cloud Messaging) and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
        "operationId": "POST_ListEndpointsByPlatformApplication",
        "x-aws-operation-name": "ListEndpointsByPlatformApplication"
      }
    },
    "/#Action=ListPhoneNumbersOptedOut": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results.",
            "in": "query",
[...]
