{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "geographical.names@gov.bc.ca",
      "name": "BC Geographical Names Office",
      "url": "https://www2.gov.bc.ca/gov/content?id=A3C60F17CE934B1ABFA366F28C66E370"
    },
    "description": "This REST API provides searchable access to information about geographical names in the province of British Columbia, including name status and details about the corresponding geographic feature. \n\nPlease note that you may experience issues when submitting requests to the delivery or test environment if using this [OpenAPI specification](https://github.com/bcgov/api-specs) in other API console viewers.",
    "license": {
      "name": "Crown Copyright",
      "url": "https://www2.gov.bc.ca/gov/content?id=1AAACC9C65754E4D89A118B875E0FBDA"
    },
    "title": "BC Geographical Names Web Service - REST API",
    "version": "3.x.x",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/bcgov/api-specs/master/bcgnws/bcgnws.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "gov.bc.ca",
    "x-serviceName": "bcgnws",
    "x-datafire": {
      "name": "gov_bc_ca_bcgnws",
      "type": "openapi"
    }
  },
  "host": "apps.gov.bc.ca",
  "basePath": "/pub/bcgnws",
  "schemes": [
    "https"
  ],
  "paths": {
    "/featureCategories": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of feature categories"
          }
        },
        "tags": [
          "feature taxonomy"
        ],
        "description": "Gets a list of all feature categories used by the BC Geographical Names Information System (BCGNIS).  Note: there are three levels of classification in the BCGNIS feature taxonomy: classes, categories and types.  A type is a subset of a category, and a category is a subset of a class.",
        "summary": "Get all feature categories"
      }
    },
    "/featureClasses": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of feature classes"
          }
        },
        "tags": [
          "feature taxonomy"
        ],
        "description": "Gets a list of all feature classes used by the BC Geographical Names Information System (BCGNIS).  Note: there are three levels of classification in the BCGNIS feature taxonomy: classes, categories and types.  A type is a subset of a category, and a category is a subset of a class.",
        "summary": "Get all feature classes"
      }
    },
    "/featureTypes": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of feature types"
          }
        },
        "tags": [
          "feature taxonomy"
        ],
        "description": "Gets a list of all feature types used by the BC Geographical Names Information System (BCGNIS).  Note: there are three levels of classification in the BCGNIS feature taxonomy: classes, categories and types.  A type is a subset of a category, and a category is a subset of a class.",
        "summary": "Get all feature types"
      }
    },
    "/features/{featureId}": {
      "get": {
        "parameters": [
          {
            "description": "The unique identifier for a feature",
            "in": "path",
            "name": "featureId",
            "required": true,
            "type": "integer",
            "x-example": 8879
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the feature with the specified featureId (XML format only)"
          },
          "404": {
            "description": "The feature with the given featureId doesn't exist"
          }
        },
        "tags": [
          "feature"
        ],
        "description": "Get information about the geographical feature with the specified featureId.",
        "summary": "Get a feature by its featureId"
      }
    },
    "/nameAuthorities": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of name authorities"
          }
        },
        "tags": [
          "name authority"
        ],
        "description": "Gets a list of all name authorities responsible for naming decisions of the geographical names in the BC Geographical Names Information System (BCGNIS)",
        "summary": "Get all name authorities"
      }
    },
    "/names/changes": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          },
          {
            "description": "Defines the earliest date (YYYY-MM-DD format) of the change time window for the search",
            "in": "query",
            "name": "fromDate",
            "required": true,
            "type": "integer",
            "x-example": "2017-01-01"
          },
          {
            "description": "Defines the latest date (YYYY-MM-DD format) of the change time window for the search",
            "in": "query",
            "name": "toDate",
            "required": true,
            "type": "integer",
            "x-example": "2017-06-30"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'class'  The value of this parameter should be a 'featureClassCode' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.",
            "in": "query",
            "name": "featureClass",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'category'  The value of this parameter should be a 'featureCategoryCode' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.",
            "in": "query",
            "name": "featureCategory",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'type'  The value of this parameter should be a 'featureTypeCode' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included",
            "in": "query",
            "name": "featureType",
            "required": false,
            "type": "string"
          },
          {
            "default": "name",
            "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
            "enum": [
              "name",
              "featureType",
              "decisionDate"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The EPSG code of the spatial reference system (SRS) to use for output geometries.",
            "enum": [
              4326,
              4269,
              3005,
              3857,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "outputSRS",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A flag to indicate whether to embed the corresponding 'feature' into each matching name",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "integer"
          },
          {
            "default": "summary",
            "description": "A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)",
            "enum": [
              "summary",
              "detail"
            ],
            "in": "query",
            "name": "outputStyle",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The number of search results to return (1-200)",
            "in": "query",
            "name": "itemsPerPage",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The index of the first record to be returned (>= 1)",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of names matching the search criteria"
          },
          "400": {
            "description": "A required parameter is missing or invalid"
          }
        },
        "tags": [
          "search",
          "name"
        ],
        "description": "Search for information about geographical names which have changed most recently within a specified time window.  Changes may include status cupdates and metadata corrections.",
        "summary": "Search for names with metadata changes in a given period"
      }
    },
    "/names/decisions/recent": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          },
          {
            "default": 30,
            "description": "The number of days used to define the time window of naming decisions to search.  The number is interpreted as searching for 'names affected by decisions within the last X days'.",
            "in": "query",
            "name": "days",
            "required": true,
            "type": "integer",
            "x-example": "30"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'class'  The value of this parameter should be a 'featureClassCode' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.",
            "in": "query",
            "name": "featureClass",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'category'  The value of this parameter should be a 'featureCategoryCode' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.",
            "in": "query",
            "name": "featureCategory",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'type'  The value of this parameter should be a 'featureTypeCode' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included",
            "in": "query",
            "name": "featureType",
            "required": false,
            "type": "string"
          },
          {
            "default": "name",
            "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
            "enum": [
              "name",
              "featureType",
              "decisionDate"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The EPSG code of the spatial reference system (SRS) to use for output geometries.",
            "enum": [
              4326,
              4269,
              3005,
              3857,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "outputSRS",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A flag to indicate whether to embed the corresponding 'feature' into each matching name",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "integer"
          },
          {
            "default": "summary",
            "description": "A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)",
            "enum": [
              "summary",
              "detail"
            ],
            "in": "query",
            "name": "outputStyle",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The number of search results to return (1-200)",
            "in": "query",
            "name": "itemsPerPage",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The index of the first record to be returned (>= 1)",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of names matching the search criteria"
          },
          "400": {
            "description": "A required parameter is missing or invalid"
          }
        },
        "tags": [
          "search",
          "name"
        ],
        "description": "Search for information about geographical names affected by naming 'decisions' made by the BC Geographical Names Office (naming authority) within the last X days.",
        "summary": "Search for names affected by recent naming decision"
      }
    },
    "/names/decisions/year": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          },
          {
            "description": "The year in which to search for names affected by naming decisions'.",
            "in": "query",
            "name": "year",
            "required": true,
            "type": "integer",
            "x-example": "2007"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'class'  The value of this parameter should be a 'featureClassCode' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.",
            "in": "query",
            "name": "featureClass",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'category'  The value of this parameter should be a 'featureCategoryCode' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.",
            "in": "query",
            "name": "featureCategory",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'type'  The value of this parameter should be a 'featureTypeCode' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included",
            "in": "query",
            "name": "featureType",
            "required": false,
            "type": "string"
          },
          {
            "default": "name",
            "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
            "enum": [
              "name",
              "featureType",
              "decisionDate"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The EPSG code of the spatial reference system (SRS) to use for output geometries.",
            "enum": [
              4326,
              4269,
              3005,
              3857,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "outputSRS",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A flag to indicate whether to embed the corresponding 'feature' into each matching name",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "integer"
          },
          {
            "default": "summary",
            "description": "A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)",
            "enum": [
              "summary",
              "detail"
            ],
            "in": "query",
            "name": "outputStyle",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The number of search results to return (1-200)",
            "in": "query",
            "name": "itemsPerPage",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The index of the first record to be returned (>= 1)",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of names matching the search criteria"
          },
          "400": {
            "description": "A required parameter is missing or invalid"
          }
        },
        "tags": [
          "search",
          "name"
        ],
        "description": "Search for information about geographical names affected by naming 'decisions' made by the BC Geographical Names Office (naming authority) in a given year.",
        "summary": "Search for names affected by naming decisions in a given year"
      }
    },
    "/names/inside": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          },
          {
            "description": "A geographic bounding box defining the search area.  Must be specified as a string of the form 'minLongitude,minLatitude,maxLongitude,maxLatitude' (WGS84). e.g. -119,49,-118,50",
            "in": "query",
            "name": "bbox",
            "required": true,
            "type": "string",
            "x-example": "-119,49,-118,50"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'class'  The value of this parameter should be a 'featureClassCode' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.",
            "in": "query",
            "name": "featureClass",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'category'  The value of this parameter should be a 'featureCategoryCode' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.",
            "in": "query",
            "name": "featureCategory",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'type'  The value of this parameter should be a 'featureTypeCode' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included",
            "in": "query",
            "name": "featureType",
            "required": false,
            "type": "string"
          },
          {
            "default": "name",
            "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
            "enum": [
              "name",
              "featureType",
              "decisionDate"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The EPSG code of the spatial reference system (SRS) to use for output geometries.",
            "enum": [
              4326,
              4269,
              3005,
              3857,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "outputSRS",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A flag to indicate whether to embed the corresponding 'feature' into each matching name",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "integer"
          },
          {
            "default": "summary",
            "description": "A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)",
            "enum": [
              "summary",
              "detail"
            ],
            "in": "query",
            "name": "outputStyle",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The number of search results to return (1-200)",
            "in": "query",
            "name": "itemsPerPage",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The index of the first record to be returned (>= 1)",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of names matching the search criteria"
          },
          "400": {
            "description": "A required parameter is missing or invalid"
          }
        },
        "tags": [
          "search",
          "name"
        ],
        "description": "Search for information about geographical names that correspond to features within a geographic bounding box.  Various options and filter parameters are available to refine the search.",
        "summary": "Search in a geographic area"
      }
    },
    "/names/near": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "-119,49,-118,50"
          },
          {
            "description": "A geographic coordinate specifying the centre point of the search area.  Must be specified as a string of the form 'longitude,latitude' (WGS84).  e.g. -120,51",
            "in": "query",
            "name": "featurePoint",
            "required": true,
            "type": "string",
            "x-example": "-120,51"
          },
          {
            "description": "A radius (in kilometres) around the centre point.",
            "in": "query",
            "name": "distance",
            "required": true,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'class'  The value of this parameter should be a 'featureClassCode' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.",
            "in": "query",
            "name": "featureClass",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'category'  The value of this parameter should be a 'featureCategoryCode' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.",
            "in": "query",
            "name": "featureCategory",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'type'  The value of this parameter should be a 'featureTypeCode' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included",
            "in": "query",
            "name": "featureType",
            "required": false,
            "type": "string"
          },
          {
            "default": "name",
            "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
            "enum": [
              "name",
              "featureType",
              "decisionDate"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The EPSG code of the spatial reference system (SRS) to use for output geometries.",
            "enum": [
              4326,
              4269,
              3005,
              3857,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "outputSRS",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A flag to indicate whether to embed the corresponding 'feature' into each matching name",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "integer"
          },
          {
            "default": "summary",
            "description": "A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)",
            "enum": [
              "summary",
              "detail"
            ],
            "in": "query",
            "name": "outputStyle",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The number of search results to return (1-200)",
            "in": "query",
            "name": "itemsPerPage",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The index of the first record to be returned (>= 1)",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of names matching the search criteria"
          },
          "400": {
            "description": "A required parameter is missing or invalid"
          }
        },
        "tags": [
          "search",
          "name"
        ],
        "description": "Search for information about geographical names that correspond to features within a geographic area defined by a centre point and a radius.  Various options and filter parameters are available to refine the search.",
        "summary": "Search near to a geographic point"
      }
    },
    "/names/notOfficial/search": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          },
          {
            "description": "A filter to search based on the the text of the name itself.  Use the asterisk (*) as a wildcard character.  For example 'vancouv*'",
            "in": "query",
            "name": "name",
            "required": true,
            "type": "string",
            "x-example": "Victoria"
          },
          {
            "default": 0,
            "description": "If the 'name' parameter is specified, 'exactSpelling' specifies whether to include only names that exactly match the search text (exactSpelling=1), or whether to also include names with similar spellings (exactSpelling=0)",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "exactSpelling",
            "required": false,
            "type": "integer"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'class'  The value of this parameter should be a 'featureClassCode' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.",
            "in": "query",
            "name": "featureClass",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'category'  The value of this parameter should be a 'featureCategoryCode' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.",
            "in": "query",
            "name": "featureCategory",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'type'  The value of this parameter should be a 'featureTypeCode' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included",
            "in": "query",
            "name": "featureType",
            "required": false,
            "type": "string"
          },
          {
            "default": "relevance",
            "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
            "enum": [
              "relevance",
              "name",
              "featureType",
              "decisionDate"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The EPSG code of the spatial reference system (SRS) to use for output geometries.",
            "enum": [
              4326,
              4269,
              3005,
              3857,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "outputSRS",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A flag to indicate whether to embed the corresponding 'feature' into each matching name",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "integer"
          },
          {
            "default": "summary",
            "description": "A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)",
            "enum": [
              "summary",
              "detail"
            ],
            "in": "query",
            "name": "outputStyle",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The number of search results to return (1-200)",
            "in": "query",
            "name": "itemsPerPage",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The index of the first record to be returned (>= 1)",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of names matching the search criteria"
          },
          "400": {
            "description": "A required parameter is missing or invalid"
          }
        },
        "tags": [
          "search",
          "name"
        ],
        "description": "Search for information about unofficial geographical names by the text of the name itself.  Various options and filter parameters are available to refine the search.",
        "summary": "Search by name, limit to unofficial names only"
      }
    },
    "/names/official/search": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          },
          {
            "description": "A filter to search based on the the text of the name itself.  Use the asterisk (*) as a wildcard character.  For example 'vancouv*'",
            "in": "query",
            "name": "name",
            "required": true,
            "type": "string",
            "x-example": "Victoria"
          },
          {
            "default": 0,
            "description": "If the 'name' parameter is specified, 'exactSpelling' specifies whether to include only names that exactly match the search text (exactSpelling=1), or whether to also include names with similar spellings (exactSpelling=0)",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "exactSpelling",
            "required": false,
            "type": "integer"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'class'  The value of this parameter should be a 'featureClassCode' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.",
            "in": "query",
            "name": "featureClass",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'category'  The value of this parameter should be a 'featureCategoryCode' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.",
            "in": "query",
            "name": "featureCategory",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'type'  The value of this parameter should be a 'featureTypeCode' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included",
            "in": "query",
            "name": "featureType",
            "required": false,
            "type": "string"
          },
          {
            "default": "relevance",
            "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
            "enum": [
              "relevance",
              "name",
              "featureType",
              "decisionDate"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The EPSG code of the spatial reference system (SRS) to use for output geometries.",
            "enum": [
              4326,
              4269,
              3005,
              3857,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "outputSRS",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A flag to indicate whether to embed the corresponding 'feature' into each matching name",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "integer"
          },
          {
            "default": "summary",
            "description": "A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)",
            "enum": [
              "summary",
              "detail"
            ],
            "in": "query",
            "name": "outputStyle",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The number of search results to return (1-200)",
            "in": "query",
            "name": "itemsPerPage",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The index of the first record to be returned (>= 1)",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of names matching the search criteria"
          },
          "400": {
            "description": "A required parameter is missing or invalid"
          }
        },
        "tags": [
          "search",
          "name"
        ],
        "description": "Search for information about official geographical names by the text of the name itself.  Various options and filter parameters are available to refine the search.",
        "summary": "Search by name, limit to official names only"
      }
    },
    "/names/search": {
      "get": {
        "parameters": [
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv"
            ],
            "in": "query",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          },
          {
            "description": "A filter to search based on the the text of the name itself.  Use the asterisk (*) as a wildcard character.  For example 'vancouv*'",
            "in": "query",
            "name": "name",
            "required": true,
            "type": "string",
            "x-example": "Victoria"
          },
          {
            "default": 0,
            "description": "If the 'name' parameter is specified, 'exactSpelling' specifies whether to include only names that exactly match the search text (exactSpelling=1), or whether to also include names with similar spellings (exactSpelling=0)",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "exactSpelling",
            "required": false,
            "type": "integer"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'class'  The value of this parameter should be a 'featureClassCode' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.",
            "in": "query",
            "name": "featureClass",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'category'  The value of this parameter should be a 'featureCategoryCode' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.",
            "in": "query",
            "name": "featureCategory",
            "required": false,
            "type": "string"
          },
          {
            "default": "*",
            "description": "A filter to limit the search to names associated with features of a certain 'type'  The value of this parameter should be a 'featureTypeCode' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included",
            "in": "query",
            "name": "featureType",
            "required": false,
            "type": "string"
          },
          {
            "default": "relevance",
            "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
            "enum": [
              "relevance",
              "name",
              "featureType",
              "decisionDate"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The EPSG code of the spatial reference system (SRS) to use for output geometries.",
            "enum": [
              4326,
              4269,
              3005,
              3857,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "outputSRS",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A flag to indicate whether to embed the corresponding 'feature' into each matching name",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "integer"
          },
          {
            "default": "summary",
            "description": "A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)",
            "enum": [
              "summary",
              "detail"
            ],
            "in": "query",
            "name": "outputStyle",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The number of search results to return (1-200)",
            "in": "query",
            "name": "itemsPerPage",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The index of the first record to be returned (>= 1)",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of names matching the search criteria"
          },
          "400": {
            "description": "A required parameter is missing or invalid"
          }
        },
        "tags": [
          "search",
          "name"
        ],
        "description": "Search for information about geographical names by the text of the name itself.  The response will include both official and unofficial names.  Various options and filter parameters are available to refine the search.",
        "summary": "Search by name"
      }
    },
    "/names/{nameId}.{outputFormat}": {
      "get": {
        "parameters": [
          {
            "description": "The unique identifier for a name",
            "in": "path",
            "name": "nameId",
            "required": true,
            "type": "integer",
            "x-example": 22474
          },
          {
            "default": "json",
            "description": "The format of the output.",
            "enum": [
              "json",
              "xml",
              "kml",
              "csv",
              "html"
            ],
            "in": "path",
            "name": "outputFormat",
            "required": true,
            "type": "string",
            "x-example": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the name with the specified nameId"
          },
          "404": {
            "description": "The name with the given nameId doesn't exist, or the output format is invalid."
          }
        },
        "tags": [
          "name"
        ],
        "description": "Get information about the geographical name with the specified nameId.",
        "summary": "Get a name by its nameId"
      }
    }
  },
  "definitions": {},
  "tags": [
    {
      "name": "search"
    },
    {
      "name": "name"
    },
    {
      "name": "feature"
    },
    {
      "name": "feature taxonomy"
    },
    {
      "name": "name authority"
    }
  ],
  "x-components": {}
}