{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Fun Generators",
      "url": "https://fungenerators.com/"
    },
    "description": "A full featured, REST based UUID generator with json/xml/jsonp result support. You can try them out right here. [Click here to subscribe](http://fungenerators.com/api/uuid/)\n",
    "termsOfService": "https://fungenerators.com/terms",
    "title": "UUID Generation API",
    "version": "1.5",
    "x-apisguru-categories": [
      "text"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://fungenerators.com/yaml/uuid.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "fungenerators.com",
    "x-serviceName": "uuid",
    "x-datafire": {
      "name": "fungenerators_uuid",
      "type": "openapi"
    }
  },
  "host": "api.fungenerators.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/uuid": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Number of UUID's to generate (defaults to 1)",
            "format": "integer",
            "in": "query",
            "name": "count",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "UUID Generation"
        ],
        "description": "Generate a random UUID (v4)."
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "UUID String to parse",
            "format": "string",
            "in": "query",
            "name": "uuidstr",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "UUID Parsing"
        ],
        "description": "Parse a UUID string and return its version and check whether it is valid."
      }
    },
    "/uuid/version/{version}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Number of UUID's to generate (defaults to 1)",
            "format": "integer",
            "in": "query",
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Version of the UUID spec to use. (0-5), Use '0' for nil (00000000-0000-0000-0000-000000000000) UUID.",
            "format": "integer",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "integer"
          },
          {
            "description": "For v3 and v5 of UUID Spec you can supply the type (dns/url/oid/x500/nil).",
            "format": "string",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "description": "For v3 and v5 of UUID Spec supply the text value for the type specified dns/url/oid/x500/nil. For example specify a dns/domain string if the type is \"dns\"",
            "format": "string",
            "in": "query",
            "name": "text",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200  response"
          },
          "401": {
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "UUID Generation"
        ],
        "description": "Generate a random UUID (v4)."
      }
    }
  },
  "securityDefinitions": {
    "X-Fungenerators-Api-Secret": {
      "in": "header",
      "name": "X-Fungenerators-Api-Secret",
      "type": "apiKey"
    }
  },
  "tags": [
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "https://fungenerators.com/api/uuid/"
      },
      "description": "Generate different versions of UUID easily.",
      "name": "UUID Generation"
    },
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "https://fungenerators.com/api/uuid/"
      },
      "description": "Parse UUID string and check for its validity and return version details",
      "name": "UUID Parsing"
    }
  ],
  "x-components": {}
}