{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Doc Engage API - Amazon Pinpoint API",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Pinpoint",
    "version": "2016-12-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pinpoint-2016-12-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "pinpoint",
    "x-datafire": {
      "name": "amazonaws_pinpoint",
      "type": "openapi"
    }
  },
  "host": "pinpoint.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/v1/apps": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of items to include in each page of a paginated response. This parameter is not supported for application, campaign, and journey metrics.",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "string"
          },
          {
            "description": "The NextToken string that specifies which page of results to return in a paginated response.",
            "in": "query",
            "name": "token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAppsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about all the applications that are associated with your Amazon Pinpoint account.",
        "operationId": "GetApps"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "CreateApplicationRequest": {
                  "description": "Specifies the display name of an application and the tags to associate with the application.",
                  "properties": {
                    "tags": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapOf__string"
                        },
                        {
                          "description": "A string-to-string map of key-value pairs that defines the tags to associate with the application. Each tag consists of a required tag key and an associated tag value."
                        }
                      ]
                    },
                    "Name": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The display name of the application. This name is displayed as the <b>Project name</b> on the Amazon Pinpoint console."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "CreateApplicationRequest"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAppResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": " <p>Creates an application.</p>",
        "operationId": "CreateApp"
      }
    },
    "/v1/apps/{application-id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteAppResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes an application.",
        "operationId": "DeleteApp"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAppResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about an application.",
        "operationId": "GetApp"
      }
    },
    "/v1/apps/{application-id}/attributes/{attribute-type}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": " <p>The type of attribute or attributes to remove. Valid values are:</p> <ul><li><p>endpoint-custom-attributes - Custom attributes that describe endpoints, such as the date when an associated user opted in or out of receiving communications from you through a specific type of channel.</p></li> <li><p>endpoint-metric-attributes - Custom metrics that your app reports to Amazon Pinpoint for endpoints, such as the number of app sessions or the number of items left in a cart.</p></li> <li><p>endpoint-user-attributes - Custom attributes that describe users, such as first name, last name, and age.</p></li></ul>",
            "in": "path",
            "name": "attribute-type",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "UpdateAttributesRequest": {
                  "description": "Specifies one or more attributes to remove from all the endpoints that are associated with an application.",
                  "properties": {
                    "Blacklist": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ListOf__string"
                        },
                        {
                          "description": "An array of the attributes to remove from all the endpoints that are associated with the application. The array can specify the complete, exact name of each attribute to remove or it can specify a glob pattern that an attribute name must match in order for the attribute to be removed."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "UpdateAttributesRequest"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemoveAttributesResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Removes one or more attributes, of the same attribute type, from all the endpoints that are associated with an application.",
        "operationId": "RemoveAttributes"
      }
    },
    "/v1/apps/{application-id}/campaigns": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of items to include in each page of a paginated response. This parameter is not supported for application, campaign, and journey metrics.",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "string"
          },
          {
            "description": "The NextToken string that specifies which page of results to return in a paginated response.",
            "in": "query",
            "name": "token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCampaignsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about the status, configuration, and other settings for all the campaigns that are associated with an application.",
        "operationId": "GetCampaigns"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "WriteCampaignRequest": {
                  "description": "Specifies the configuration and other settings for a campaign.",
                  "properties": {
                    "tags": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapOf__string"
                        },
                        {
                          "description": "A string-to-string map of key-value pairs that defines the tags to associate with the campaign. Each tag consists of a required tag key and an associated tag value."
                        }
                      ]
                    },
                    "AdditionalTreatments": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ListOfWriteTreatmentResource"
                        },
                        {
                          "description": "An array of requests that defines additional treatments for the campaign, in addition to the default treatment for the campaign."
                        }
                      ]
                    },
                    "CustomDeliveryConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CustomDeliveryConfiguration"
                        },
                        {
                          "description": "The delivery configuration settings for sending the campaign through a custom channel. This object is required if the MessageConfiguration object for the campaign specifies a CustomMessage object."
                        }
                      ]
                    },
                    "Description": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "A custom description of the campaign."
                        }
                      ]
                    },
                    "HoldoutPercent": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The allocated percentage of users (segment members) who shouldn't receive messages from the campaign."
                        }
                      ]
                    },
                    "Hook": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CampaignHook"
                        },
                        {
                          "description": "The settings for the AWS Lambda function to invoke as a code hook for the campaign. You can use this hook to customize the segment that's used by the campaign."
                        }
                      ]
                    },
                    "IsPaused": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Specifies whether to pause the campaign. A paused campaign doesn't run unless you resume it by changing this value to false."
                        }
                      ]
                    },
                    "Limits": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CampaignLimits"
                        },
                        {
                          "description": "The messaging limits for the campaign."
                        }
                      ]
                    },
                    "MessageConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MessageConfiguration"
                        },
                        {
                          "description": "The message configuration settings for the campaign."
                        }
                      ]
                    },
                    "Name": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "A custom name for the campaign."
                        }
                      ]
                    },
                    "Schedule": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Schedule"
                        },
                        {
                          "description": "The schedule settings for the campaign."
                        }
                      ]
                    },
                    "SegmentId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The unique identifier for the segment to associate with the campaign."
                        }
                      ]
                    },
                    "SegmentVersion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The version of the segment to associate with the campaign."
                        }
                      ]
                    },
                    "TemplateConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TemplateConfiguration"
                        },
                        {
                          "description": "The message template to use for the campaign."
                        }
                      ]
                    },
                    "TreatmentDescription": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "A custom description of the default treatment for the campaign."
                        }
                      ]
                    },
                    "TreatmentName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "A custom name of the default treatment for the campaign, if the campaign has multiple treatments. A <i>treatment</i> is a variation of a campaign that's used for A/B testing."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "WriteCampaignRequest"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCampaignResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Creates a new campaign for an application or updates the settings of an existing campaign for an application.",
        "operationId": "CreateCampaign"
      }
    },
    "/v1/apps/{application-id}/campaigns/{campaign-id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for the campaign.",
            "in": "path",
            "name": "campaign-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteCampaignResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes a campaign from an application.",
        "operationId": "DeleteCampaign"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for the campaign.",
            "in": "path",
            "name": "campaign-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCampaignResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about the status, configuration, and other settings for a campaign.",
        "operationId": "GetCampaign"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for the campaign.",
            "in": "path",
            "name": "campaign-id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "WriteCampaignRequest": {
                  "description": "Specifies the configuration and other settings for a campaign.",
                  "properties": {
                    "tags": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MapOf__string"
                        },
                        {
                          "description": "A string-to-string map of key-value pairs that defines the tags to associate with the campaign. Each tag consists of a required tag key and an associated tag value."
                        }
                      ]
                    },
                    "AdditionalTreatments": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ListOfWriteTreatmentResource"
                        },
                        {
                          "description": "An array of requests that defines additional treatments for the campaign, in addition to the default treatment for the campaign."
                        }
                      ]
                    },
                    "CustomDeliveryConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CustomDeliveryConfiguration"
                        },
                        {
                          "description": "The delivery configuration settings for sending the campaign through a custom channel. This object is required if the MessageConfiguration object for the campaign specifies a CustomMessage object."
                        }
                      ]
                    },
                    "Description": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "A custom description of the campaign."
                        }
                      ]
                    },
                    "HoldoutPercent": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The allocated percentage of users (segment members) who shouldn't receive messages from the campaign."
                        }
                      ]
                    },
                    "Hook": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CampaignHook"
                        },
                        {
                          "description": "The settings for the AWS Lambda function to invoke as a code hook for the campaign. You can use this hook to customize the segment that's used by the campaign."
                        }
                      ]
                    },
                    "IsPaused": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Specifies whether to pause the campaign. A paused campaign doesn't run unless you resume it by changing this value to false."
                        }
                      ]
                    },
                    "Limits": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CampaignLimits"
                        },
                        {
                          "description": "The messaging limits for the campaign."
                        }
                      ]
                    },
                    "MessageConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MessageConfiguration"
                        },
                        {
                          "description": "The message configuration settings for the campaign."
                        }
                      ]
                    },
                    "Name": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "A custom name for the campaign."
                        }
                      ]
                    },
                    "Schedule": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Schedule"
                        },
                        {
                          "description": "The schedule settings for the campaign."
                        }
                      ]
                    },
                    "SegmentId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The unique identifier for the segment to associate with the campaign."
                        }
                      ]
                    },
                    "SegmentVersion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The version of the segment to associate with the campaign."
                        }
                      ]
                    },
                    "TemplateConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TemplateConfiguration"
                        },
                        {
                          "description": "The message template to use for the campaign."
                        }
                      ]
                    },
                    "TreatmentDescription": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "A custom description of the default treatment for the campaign."
                        }
                      ]
                    },
                    "TreatmentName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "A custom name of the default treatment for the campaign, if the campaign has multiple treatments. A <i>treatment</i> is a variation of a campaign that's used for A/B testing."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "WriteCampaignRequest"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateCampaignResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Updates the configuration and other settings for a campaign.",
        "operationId": "UpdateCampaign"
      }
    },
    "/v1/apps/{application-id}/campaigns/{campaign-id}/activities": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for the campaign.",
            "in": "path",
            "name": "campaign-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of items to include in each page of a paginated response. This parameter is not supported for application, campaign, and journey metrics.",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "string"
          },
          {
            "description": "The NextToken string that specifies which page of results to return in a paginated response.",
            "in": "query",
            "name": "token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCampaignActivitiesResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about all the activities for a campaign.",
        "operationId": "GetCampaignActivities"
      }
    },
    "/v1/apps/{application-id}/campaigns/{campaign-id}/kpis/daterange/{kpi-name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for the campaign.",
            "in": "path",
            "name": "campaign-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The last date and time to retrieve data for, as part of an inclusive date range that filters the query results. This value should be in extended ISO 8601 format and use Coordinated Universal Time (UTC), for example: 2019-07-26T20:00:00Z for 8:00 PM UTC July 26, 2019.",
            "format": "date-time",
            "in": "query",
            "name": "end-time",
            "required": false,
            "type": "string"
          },
          {
            "description": "The name of the metric, also referred to as a <i>key performance indicator (KPI)</i>, to retrieve data for. This value describes the associated metric and consists of two or more terms, which are comprised of lowercase alphanumeric characters, separated by a hyphen. Examples are email-open-rate and successful-delivery-rate. For a list of valid values, see the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/analytics-standard-metrics.html\">Amazon Pinpoint Developer Guide</a>.",
            "in": "path",
            "name": "kpi-name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The  string that specifies which page of results to return in a paginated response. This parameter is not supported for application, campaign, and journey metrics.",
            "in": "query",
            "name": "next-token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of items to include in each page of a paginated response. This parameter is not supported for application, campaign, and journey metrics.",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "string"
          },
          {
            "description": "The first date and time to retrieve data for, as part of an inclusive date range that filters the query results. This value should be in extended ISO 8601 format and use Coordinated Universal Time (UTC), for example: 2019-07-19T20:00:00Z for 8:00 PM UTC July 19, 2019. This value should also be fewer than 90 days from the current day.",
            "format": "date-time",
            "in": "query",
            "name": "start-time",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCampaignDateRangeKpiResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves (queries) pre-aggregated data for a standard metric that applies to a campaign.",
        "operationId": "GetCampaignDateRangeKpi"
      }
    },
    "/v1/apps/{application-id}/campaigns/{campaign-id}/versions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for the campaign.",
            "in": "path",
            "name": "campaign-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of items to include in each page of a paginated response. This parameter is not supported for application, campaign, and journey metrics.",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "string"
          },
          {
            "description": "The NextToken string that specifies which page of results to return in a paginated response.",
            "in": "query",
            "name": "token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCampaignVersionsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about the status, configuration, and other settings for all versions of a campaign.",
        "operationId": "GetCampaignVersions"
      }
    },
    "/v1/apps/{application-id}/campaigns/{campaign-id}/versions/{version}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier for the campaign.",
            "in": "path",
            "name": "campaign-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique version number (Version property) for the campaign version.",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCampaignVersionResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about the status, configuration, and other settings for a specific version of a campaign.",
        "operationId": "GetCampaignVersion"
      }
    },
    "/v1/apps/{application-id}/channels": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetChannelsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about the history and status of each channel for an application.",
        "operationId": "GetChannels"
      }
    },
    "/v1/apps/{application-id}/channels/adm": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteAdmChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Disables the ADM channel for an application and deletes any existing settings for the channel.",
        "operationId": "DeleteAdmChannel"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAdmChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about the status and settings of the ADM channel for an application.",
        "operationId": "GetAdmChannel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ADMChannelRequest": {
                  "description": "Specifies the status and settings of the ADM (Amazon Device Messaging) channel for an application.",
                  "properties": {
                    "ClientId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The Client ID that you received from Amazon to send messages by using ADM."
                        }
                      ]
                    },
                    "ClientSecret": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The Client Secret that you received from Amazon to send messages by using ADM."
                        }
                      ]
                    },
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Specifies whether to enable the ADM channel for the application."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "ADMChannelRequest"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAdmChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Enables the ADM channel for an application or updates the status and settings of the ADM channel for an application.",
        "operationId": "UpdateAdmChannel"
      }
    },
    "/v1/apps/{application-id}/channels/apns": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteApnsChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Disables the APNs channel for an application and deletes any existing settings for the channel.",
        "operationId": "DeleteApnsChannel"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApnsChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about the status and settings of the APNs channel for an application.",
        "operationId": "GetApnsChannel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "APNSChannelRequest": {
                  "description": "Specifies the status and settings of the APNs (Apple Push Notification service) channel for an application.",
                  "properties": {
                    "BundleId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens."
                        }
                      ]
                    },
                    "Certificate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with APNs by using an APNs certificate."
                        }
                      ]
                    },
                    "DefaultAuthenticationMethod": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The default authentication method that you want Amazon Pinpoint to use when authenticating with APNs, key or certificate."
                        }
                      ]
                    },
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Specifies whether to enable the APNs channel for the application."
                        }
                      ]
                    },
                    "PrivateKey": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with APNs."
                        }
                      ]
                    },
                    "TeamId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens."
                        }
                      ]
                    },
                    "TokenKey": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The authentication key to use for APNs tokens."
                        }
                      ]
                    },
                    "TokenKeyId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The key identifier that's assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with APNs by using APNs tokens."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "APNSChannelRequest"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateApnsChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Enables the APNs channel for an application or updates the status and settings of the APNs channel for an application.",
        "operationId": "UpdateApnsChannel"
      }
    },
    "/v1/apps/{application-id}/channels/apns_sandbox": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteApnsSandboxChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Disables the APNs sandbox channel for an application and deletes any existing settings for the channel.",
        "operationId": "DeleteApnsSandboxChannel"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApnsSandboxChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Retrieves information about the status and settings of the APNs sandbox channel for an application.",
        "operationId": "GetApnsSandboxChannel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.",
            "in": "path",
            "name": "application-id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "APNSSandboxChannelRequest": {
                  "description": "Specifies the status and settings of the APNs (Apple Push Notification service) sandbox channel for an application.",
                  "properties": {
                    "BundleId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens."
                        }
                      ]
                    },
                    "Certificate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using an APNs certificate."
                        }
                      ]
                    },
                    "DefaultAuthenticationMethod": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The default authentication method that you want Amazon Pinpoint to use when authenticating with the APNs sandbox environment, key or certificate."
                        }
                      ]
                    },
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Specifies whether to enable the APNs sandbox channel for the application."
                        }
                      ]
                    },
                    "PrivateKey": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with the APNs sandbox environment."
                        }
                      ]
                    },
                    "TeamId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens."
                        }
                      ]
                    },
                    "TokenKey": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The authentication key to use for APNs tokens."
                        }
                      ]
                    },
                    "TokenKeyId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The key identifier that's assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using APNs tokens."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "APNSSandboxChannelRequest"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateApnsSandboxChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "PayloadTooLargeException",
            "schema": {
              "$ref": "#/definitions/PayloadTooLargeException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "MethodNotAllowedException",
            "schema": {
              "$ref": "#/definitions/MethodNotAllowedException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Enables the APNs sandbox channel for an application or updates the status and settings of the APNs sandbox channel for an application.",
        "operationId": "UpdateApnsSandboxChannel"
      }
    },
[...]
