{
  "swagger": "2.0",
  "basePath": "/",
  "paths": {
    "/services/xml/rss/nyt/HomePage.xml": {
      "get": {
        "operationId": "homePage",
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "NYT > Home Page"
      }
    },
    "/services/xml/rss/nyt/World.xml": {
      "get": {
        "operationId": "world",
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "NYT > World"
      }
    },
    "/services/xml/rss/nyt/Business.xml": {
      "get": {
        "operationId": "business",
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "NYT > Business Day"
      }
    },
    "/services/xml/rss/nyt/Sports.xml": {
      "get": {
        "operationId": "sports",
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "NYT > Sports"
      }
    },
    "/services/xml/rss/nyt/Science.xml": {
      "get": {
        "operationId": "science",
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "NYT > Science"
      }
    }
  },
  "definitions": {
    "Feed": {
      "type": "object",
      "properties": {
        "feed": {
          "type": "object",
          "properties": {
            "link": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "feedUrl": {
              "type": "string"
            },
            "entries": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "pubDate": {
                    "type": "string"
                  },
                  "author": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "contentSnippet": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "info": {
    "x-datafire": {
      "name": "nytimes_rss",
      "type": "rss"
    }
  },
  "host": "rss.nytimes.com",
  "schemes": [
    "http"
  ]
}