{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "comprehend.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Comprehend",
    "version": "2017-11-27",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "comprehend",
    "x-datafire": {
      "name": "amazonaws_comprehend",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/comprehend/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. ",
        "operationId": "BatchDetectDominantLanguage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectDominantLanguageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectDominantLanguageResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#BatchDetectEntities": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects the text of a batch of documents and returns information about them. For more information about entities, see <a>how-entities</a> ",
        "operationId": "BatchDetectEntities",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectEntitiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectEntitiesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#BatchDetectKeyPhrases": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Detects the key noun phrases found in a batch of documents.",
        "operationId": "BatchDetectKeyPhrases",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectKeyPhrasesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectKeyPhrasesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#BatchDetectSentiment": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.",
        "operationId": "BatchDetectSentiment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectSentimentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectSentimentResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DescribeTopicsDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.",
        "operationId": "DescribeTopicsDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeTopicsDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeTopicsDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectDominantLanguage": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. ",
        "operationId": "DetectDominantLanguage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectDominantLanguageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectDominantLanguageResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectEntities": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects text for entities, and returns information about them. For more information, about entities, see <a>how-entities</a>. ",
        "operationId": "DetectEntities",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectEntitiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectEntitiesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectKeyPhrases": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Detects the key noun phrases found in the text. ",
        "operationId": "DetectKeyPhrases",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectKeyPhrasesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectKeyPhrasesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectSentiment": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). ",
        "operationId": "DetectSentiment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectSentimentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectSentimentResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#ListTopicsDetectionJobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a list of the topic detection jobs that you have submitted.",
        "operationId": "ListTopicsDetectionJobs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTopicsDetectionJobsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTopicsDetectionJobsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidFilterException",
            "schema": {
              "$ref": "#/definitions/InvalidFilterException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StartTopicsDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.",
        "operationId": "StartTopicsDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartTopicsDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartTopicsDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AnyLengthString": {
      "type": "string"
    },
    "BatchDetectDominantLanguageItemResult": {
      "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
      "properties": {
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        },
        "Languages": {
          "$ref": "#/definitions/ListOfDominantLanguages",
          "description": "One or more <a>DominantLanguage</a> objects describing the dominant languages in the document."
        }
      },
      "type": "object"
    },
    "BatchDetectDominantLanguageRequest": {
      "properties": {
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList"
      ],
      "type": "object"
    },
    "BatchDetectDominantLanguageResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectDominantLanguageResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchDetectEntitiesItemResult": {
      "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
      "properties": {
        "Entities": {
          "$ref": "#/definitions/ListOfEntities",
          "description": "One or more <a>Entity</a> objects, one for each entity detected in the document."
        },
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        }
      },
      "type": "object"
    },
    "BatchDetectEntitiesRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/String",
          "description": "The language of the input documents. All documents must be in the same language."
        },
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "object"
    },
    "BatchDetectEntitiesResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectEntitiesResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchDetectKeyPhrasesItemResult": {
      "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
      "properties": {
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        },
        "KeyPhrases": {
          "$ref": "#/definitions/ListOfKeyPhrases",
          "description": "One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document."
        }
      },
      "type": "object"
    },
    "BatchDetectKeyPhrasesRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/String",
          "description": "The language of the input documents. All documents must be in the same language."
        },
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "object"
    },
    "BatchDetectKeyPhrasesResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectKeyPhrasesResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchDetectSentimentItemResult": {
      "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
      "properties": {
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        },
        "Sentiment": {
          "$ref": "#/definitions/SentimentType",
          "description": "The sentiment detected in the document."
        },
        "SentimentScore": {
          "$ref": "#/definitions/SentimentScore",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection."
        }
      },
      "type": "object"
    },
    "BatchDetectSentimentRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/String",
          "description": "The language of the input documents. All documents must be in the same language."
        },
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "object"
    },
    "BatchDetectSentimentResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectSentimentResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchItemError": {
      "description": "Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.",
      "properties": {
        "ErrorCode": {
          "$ref": "#/definitions/String",
          "description": "The numeric error code of the error."
        },
        "ErrorMessage": {
          "$ref": "#/definitions/String",
          "description": "A text description of the error."
        },
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        }
      },
      "type": "object"
    },
    "BatchItemErrorList": {
      "items": {
        "$ref": "#/definitions/BatchItemError"
      },
      "type": "array"
    },
    "BatchSizeLimitExceededException": {
      "description": "The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "ClientRequestTokenString": {
      "maxLength": 64,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "DescribeTopicsDetectionJobRequest": {
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier assigned by the user to the detection job."
        }
      },
      "required": [
        "JobId"
      ],
      "type": "object"
    },
    "DescribeTopicsDetectionJobResponse": {
      "properties": {
        "TopicsDetectionJobProperties": {
          "$ref": "#/definitions/TopicsDetectionJobProperties",
          "description": "The list of properties for the requested job."
        }
      },
      "type": "object"
    },
    "DetectDominantLanguageRequest": {
      "properties": {
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 text string. Each string should contain at least 20 characters and must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "Text"
      ],
      "type": "object"
    },
    "DetectDominantLanguageResponse": {
      "properties": {
        "Languages": {
          "$ref": "#/definitions/ListOfDominantLanguages",
          "description": "The languages that Amazon Comprehend detected in the input text. For each language, the response returns the RFC 5646 language code and the level of confidence that Amazon Comprehend has in the accuracy of its inference. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site."
        }
      },
      "type": "object"
    },
    "DetectEntitiesRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The RFC 5646 language code of the input text. If the request does not specify the language code, the service detects the dominant language. If you specify a language code that the service does not support, it returns <code>UnsupportedLanguageException</code> exception. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site. "
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "object"
    },
    "DetectEntitiesResponse": {
      "properties": {
        "Entities": {
          "$ref": "#/definitions/ListOfEntities",
          "description": "A collection of entities identified in the input text. For each entity, the response provides the entity text, entity type, where the entity text begins and ends, and the level of confidence that Amazon Comprehend has in the detection. For a list of entity types, see <a>how-entities</a>. "
        }
      },
      "type": "object"
    },
    "DetectKeyPhrasesRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The RFC 5646 language code for the input text. If you don't specify a language code, Amazon Comprehend detects the dominant language. If you specify the code for a language that Amazon Comprehend does not support, it returns and <code>UnsupportedLanguageException</code>. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "object"
    },
    "DetectKeyPhrasesResponse": {
      "properties": {
        "KeyPhrases": {
          "$ref": "#/definitions/ListOfKeyPhrases",
          "description": "A collection of key phrases that Amazon Comprehend identified in the input text. For each key phrase, the response provides the text of the key phrase, where the key phrase begins and ends, and the level of confidence that Amazon Comprehend has in the accuracy of the detection. "
        }
      },
      "type": "object"
    },
    "DetectSentimentRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The RFC 5646 language code for the input text. If you don't specify a language code, Amazon Comprehend detects the dominant language. If you specify the code for a language that Amazon Comprehend does not support, it returns and <code>UnsupportedLanguageException</code>. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "object"
    },
    "DetectSentimentResponse": {
      "properties": {
        "Sentiment": {
          "$ref": "#/definitions/SentimentType",
          "description": "The inferred sentiment that Amazon Comprehend has the highest level of confidence in."
        },
        "SentimentScore": {
          "$ref": "#/definitions/SentimentScore",
          "description": "An object that lists the sentiments, and their corresponding confidence levels."
        }
      },
      "type": "object"
    },
    "DominantLanguage": {
      "description": "Returns the code for the dominant language in the input text and the level of confidence that Amazon Comprehend has in the accuracy of the detection.",
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/String",
          "description": "The RFC 5646 language code for the dominant language. "
        },
        "Score": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of the detection."
        }
      },
      "type": "object"
    },
    "Entity": {
      "description": "<p>Provides information about an entity. </p> <p> </p>",
      "properties": {
        "BeginOffset": {
          "$ref": "#/definitions/Integer",
          "description": "A character offset in the input text that shows where the entity begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point."
        },
        "EndOffset": {
          "$ref": "#/definitions/Integer",
          "description": "A character offset in the input text that shows where the entity ends. The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point. "
        },
        "Score": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of the detection."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "The text of the entity."
        },
        "Type": {
          "$ref": "#/definitions/EntityType",
          "description": "The entity's type."
        }
      },
      "type": "object"
    },
    "EntityType": {
      "enum": [
        "PERSON",
        "LOCATION",
        "ORGANIZATION",
        "COMMERCIAL_ITEM",
        "EVENT",
        "DATE",
        "QUANTITY",
        "TITLE",
        "OTHER"
      ],
      "type": "string"
    },
    "Float": {
      "format": "float",
      "type": "number"
    },
    "IamRoleArn": {
      "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+",
      "type": "string"
    },
    "InputDataConfig": {
      "description": "The input properties for a topic detection job.",
      "properties": {
        "InputFormat": {
          "$ref": "#/definitions/InputFormat",
          "description": "<p>Specifies how the text in an input file should be processed:</p> <ul> <li> <p> <code>ONE_DOC_PER_FILE</code> - Each file is considered a separate document. Use this option when you are processing large documents, such as newspaper articles or scientific papers.</p> </li> <li> <p> <code>ONE_DOC_PER_LINE</code> - Each line in a file is considered a separate document. Use this option when you are processing many short documents, such as text messages.</p> </li> </ul>"
        },
        "S3Uri": {
          "$ref": "#/definitions/S3Uri",
          "description": "<p>The Amazon S3 URI for the input data. The URI must be in same region as the API endpoint that you are calling. The URI can point to a single input file or it can provide the prefix for a collection of data files. </p> <p>For example, if you use the URI <code>S3://bucketName/prefix</code>, if the prefix is a single file, Amazon Comprehend uses that file as input. If more than one file begins with the prefix, Amazon Comprehend uses all of them as input.</p>"
        }
      },
      "required": [
        "S3Uri"
      ],
      "type": "object"
    },
    "InputFormat": {
      "enum": [
        "ONE_DOC_PER_FILE",
        "ONE_DOC_PER_LINE"
      ],
      "type": "string"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "description": "An internal server error occurred. Retry your request.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "InvalidFilterException": {
      "description": "The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "InvalidRequestException": {
      "description": "The request is invalid.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "JobId": {
      "maxLength": 32,
      "minLength": 1,
      "type": "string"
    },
    "JobName": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "type": "string"
    },
    "JobNotFoundException": {
      "description": "The specified job was not found. Check the job ID and try again.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "JobStatus": {
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED"
      ],
      "type": "string"
    },
    "KeyPhrase": {
      "description": "Describes a key noun phrase.",
      "properties": {
        "BeginOffset": {
          "$ref": "#/definitions/Integer",
          "description": "A character offset in the input text that shows where the key phrase begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point."
        },
        "EndOffset": {
          "$ref": "#/definitions/Integer",
          "description": "A character offset in the input text where the key phrase ends. The offset returns the position of each UTF-8 code point in the string. A <code>code point</code> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point."
        },
        "Score": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of the detection."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "The text of a key noun phrase."
        }
      },
      "type": "object"
    },
    "LanguageCode": {
      "enum": [
        "en",
        "es"
      ],
      "type": "string"
    },
    "ListOfDetectDominantLanguageResult": {
      "items": {
        "$ref": "#/definitions/BatchDetectDominantLanguageItemResult"
      },
      "type": "array"
    },
    "ListOfDetectEntitiesResult": {
      "items": {
        "$ref": "#/definitions/BatchDetectEntitiesItemResult"
      },
      "type": "array"
    },
    "ListOfDetectKeyPhrasesResult": {
      "items": {
        "$ref": "#/definitions/BatchDetectKeyPhrasesItemResult"
      },
      "type": "array"
    },
    "ListOfDetectSentimentResult": {
      "items": {
        "$ref": "#/definitions/BatchDetectSentimentItemResult"
      },
      "type": "array"
    },
    "ListOfDominantLanguages": {
      "items": {
        "$ref": "#/definitions/DominantLanguage"
      },
      "type": "array"
    },
    "ListOfEntities": {
      "items": {
        "$ref": "#/definitions/Entity"
      },
      "type": "array"
    },
    "ListOfKeyPhrases": {
      "items": {
        "$ref": "#/definitions/KeyPhrase"
      },
      "type": "array"
    },
    "ListTopicsDetectionJobsRequest": {
      "properties": {
        "Filter": {
          "$ref": "#/definitions/TopicsDetectionJobFilter",
          "description": "Filters the jobs that are returned. Jobs can be filtered on their name, status, or the date and time that they were submitted. You can set only one filter at a time."
        },
        "MaxResults": {
          "$ref": "#/definitions/MaxResultsInteger",
          "description": "The maximum number of results to return in each page."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "Identifies the next page of results to return."
        }
      },
      "type": "object"
    },
    "ListTopicsDetectionJobsResponse": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "Identifies the next page of results to return."
        },
        "TopicsDetectionJobPropertiesList": {
          "$ref": "#/definitions/TopicsDetectionJobPropertiesList",
          "description": "A list containing the properties of each job that is returned."
        }
      },
      "type": "object"
    },
    "MaxResultsInteger": {
      "maximum": 500,
      "minimum": 1,
      "type": "integer"
    },
    "NumberOfTopicsInteger": {
      "maximum": 100,
      "minimum": 1,
      "type": "integer"
    },
    "OutputDataConfig": {
      "description": "<p>Provides configuration parameters for the output of topic detection jobs.</p> <p/>",
      "properties": {
        "S3Uri": {
          "$ref": "#/definitions/S3Uri",
          "description": "<p>The Amazon S3 URI where you want to write the output data. The URI must be in the same region as the API endpoint that you are calling. </p> <p>The service creates an output file called <code>output.tar.gz</code>. It is a compressed archive that contains two files, <code>topic-terms.csv</code> that lists the terms associated with each topic, and <code>doc-topics.csv</code> that lists the documents associated with each topic. For more information, see <a>topic-modeling</a>.</p>"
        }
      },
      "required": [
        "S3Uri"
      ],
      "type": "object"
    },
    "S3Uri": {
      "maxLength": 1024,
      "pattern": "s3://([^/]+)(/.*)?",
      "type": "string"
    },
    "SentimentScore": {
      "description": "Describes the level of confidence that Amazon Comprehend has in the accuracy of its detection of sentiments.",
      "properties": {
        "Mixed": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>MIXED</code> sentiment."
        },
        "Negative": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>NEGATIVE</code> sentiment."
        },
        "Neutral": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>NEUTRAL</code> sentiment."
        },
        "Positive": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>POSITIVE</code> sentiment."
        }
      },
      "type": "object"
    },
    "SentimentType": {
      "enum": [
        "POSITIVE",
        "NEGATIVE",
        "NEUTRAL",
        "MIXED"
      ],
      "type": "string"
    },
    "StartTopicsDetectionJobRequest": {
      "properties": {
        "ClientRequestToken": {
          "$ref": "#/definitions/ClientRequestTokenString",
          "description": "A unique identifier for the request. If you do not set the client request token, Amazon Comprehend generates one."
        },
        "DataAccessRoleArn": {
          "$ref": "#/definitions/IamRoleArn",
          "description": "The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that grants Amazon Comprehend read access to your input data. "
        },
        "InputDataConfig": {
          "$ref": "#/definitions/InputDataConfig",
          "description": "Specifies the format and location of the input data for the job."
        },
        "JobName": {
          "$ref": "#/definitions/JobName",
          "description": "The identifier of the job."
        },
        "NumberOfTopics": {
          "$ref": "#/definitions/NumberOfTopicsInteger",
          "description": "The number of topics to detect."
        },
        "OutputDataConfig": {
          "$ref": "#/definitions/OutputDataConfig",
          "description": "Specifies where to send the output files."
        }
      },
      "required": [
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn"
      ],
      "type": "object"
    },
    "StartTopicsDetectionJobResponse": {
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier generated for the job. To get the status of the job, use this identifier with the <code>DescribeTopicDetectionJob</code> operation."
        },
        "JobStatus": {
          "$ref": "#/definitions/JobStatus",
          "description": "<p>The status of the job: </p> <ul> <li> <p>SUBMITTED - The job has been received and is queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get details, use the <code>DescribeTopicDetectionJob</code> operation.</p> </li> </ul>"
        }
      },
      "type": "object"
    },
    "String": {
      "minLength": 1,
      "type": "string"
    },
    "StringList": {
      "items": {
        "$ref": "#/definitions/String"
      },
      "type": "array"
    },
    "TextSizeLimitExceededException": {
      "description": "The size of the input text exceeds the limit. Use a smaller document.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "Timestamp": {
      "format": "date-time",
      "type": "string"
    },
    "TooManyRequestsException": {
      "description": "The number of requests exceeds the limit. Resubmit your request later.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "TopicsDetectionJobFilter": {
      "description": "Provides information for filtering topic detection jobs. For more information, see .",
      "properties": {
        "JobName": {
          "$ref": "#/definitions/JobName",
          "description": "<p/>"
        },
        "JobStatus": {
          "$ref": "#/definitions/JobStatus",
          "description": "Filters the list of topic detection jobs based on job status. Returns only jobs with the specified status."
        },
        "SubmitTimeAfter": {
          "$ref": "#/definitions/Timestamp",
          "description": "Filters the list of jobs based on the time that the job was submitted for processing. Only returns jobs submitted after the specified time. Jobs are returned in ascending order, oldest to newest."
        },
        "SubmitTimeBefore": {
          "$ref": "#/definitions/Timestamp",
          "description": "Filters the list of jobs based on the time that the job was submitted for processing. Only returns jobs submitted before the specified time. Jobs are returned in descending order, newest to oldest."
        }
      },
      "type": "object"
    },
    "TopicsDetectionJobProperties": {
      "description": "Provides information about a topic detection job.",
      "properties": {
        "EndTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time that the topic detection job was completed."
        },
        "InputDataConfig": {
          "$ref": "#/definitions/InputDataConfig",
          "description": "The input data configuration supplied when you created the topic detection job."
        },
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier assigned to the topic detection job."
        },
        "JobName": {
          "$ref": "#/definitions/JobName",
          "description": "The name of the topic detection job."
        },
        "JobStatus": {
          "$ref": "#/definitions/JobStatus",
          "description": "The current status of the topic detection job. If the status is <code>Failed</code>, the reason for the failure is shown in the <code>Message</code> field."
        },
        "Message": {
          "$ref": "#/definitions/AnyLengthString",
          "description": "A description for the status of a job."
        },
        "NumberOfTopics": {
          "$ref": "#/definitions/Integer",
          "description": "The number of topics to detect supplied when you created the topic detection job. The default is 10. "
        },
        "OutputDataConfig": {
          "$ref": "#/definitions/OutputDataConfig",
          "description": "The output data configuration supplied when you created the topic detection job."
        },
        "SubmitTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time that the topic detection job was submitted for processing."
        }
      },
      "type": "object"
    },
    "TopicsDetectionJobPropertiesList": {
      "items": {
        "$ref": "#/definitions/TopicsDetectionJobProperties"
      },
      "type": "array"
    },
    "UnsupportedLanguageException": {
      "description": "Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> ",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    }
  }
}