{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon Kinesis Data Firehose API Reference</fullname> <p>Amazon Kinesis Data Firehose is a fully managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), Amazon Redshift, and Splunk.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Kinesis Firehose",
    "version": "2015-08-04",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/firehose-2015-08-04.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "firehose",
    "x-datafire": {
      "name": "amazonaws_firehose",
      "type": "openapi"
    }
  },
  "host": "firehose.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=Firehose_20150804.CreateDeliveryStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.CreateDeliveryStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDeliveryStreamInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDeliveryStreamOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "483": {
            "description": "InvalidKMSResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidKMSResourceException"
            }
          }
        },
        "description": "<p>Creates a Kinesis Data Firehose delivery stream.</p> <p>By default, you can create up to 50 delivery streams per AWS Region.</p> <p>This is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. If the delivery stream creation fails, the status transitions to <code>CREATING_FAILED</code>. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>If the status of a delivery stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.</p> <p>A Kinesis Data Firehose delivery stream can be configured to receive records directly from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it can be configured to use an existing Kinesis stream as its source. To specify a Kinesis data stream as input, set the <code>DeliveryStreamType</code> parameter to <code>KinesisStreamAsSource</code>, and provide the Kinesis stream Amazon Resource Name (ARN) and role ARN in the <code>KinesisStreamSourceConfiguration</code> parameter.</p> <p>To create a delivery stream with server-side encryption (SSE) enabled, include <a>DeliveryStreamEncryptionConfigurationInput</a> in your request. This is optional. You can also invoke <a>StartDeliveryStreamEncryption</a> to turn on SSE for an existing delivery stream that doesn't have SSE enabled.</p> <p>A delivery stream is configured with a single destination: Amazon S3, Amazon ES, Amazon Redshift, or Splunk. You must specify only one of the following destination configuration parameters: <code>ExtendedS3DestinationConfiguration</code>, <code>S3DestinationConfiguration</code>, <code>ElasticsearchDestinationConfiguration</code>, <code>RedshiftDestinationConfiguration</code>, or <code>SplunkDestinationConfiguration</code>.</p> <p>When you specify <code>S3DestinationConfiguration</code>, you can also provide the following optional values: BufferingHints, <code>EncryptionConfiguration</code>, and <code>CompressionFormat</code>. By default, if no <code>BufferingHints</code> value is provided, Kinesis Data Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. <code>BufferingHints</code> is a hint, so there are some cases where the service cannot adhere to these conditions strictly. For example, record boundaries might be such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about Amazon Redshift as a destination:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location. Kinesis Data Firehose first delivers data to Amazon S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <code>RedshiftDestinationConfiguration.S3Configuration</code> parameter.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p> </li> <li> <p>We strongly recommend that you use the user name and password you provide exclusively with Kinesis Data Firehose, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Kinesis Data Firehose assumes the IAM role that is configured as part of the destination. The role should allow the Kinesis Data Firehose principal to assume the role, and the role should have permissions that allow the service to deliver the data. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> in the <i>Amazon Kinesis Data Firehose Developer Guide</i>.</p>",
        "operationId": "CreateDeliveryStream"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.DeleteDeliveryStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.DeleteDeliveryStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDeliveryStreamInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDeliveryStreamOutput"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "<p>Deletes a delivery stream and its data.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>. You can delete a delivery stream only if it is in one of the following states: <code>ACTIVE</code>, <code>DELETING</code>, <code>CREATING_FAILED</code>, or <code>DELETING_FAILED</code>. You can't delete a delivery stream that is in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>While the delivery stream is in the <code>DELETING</code> state, the service might continue to accept records, but it doesn't make any guarantees with respect to delivering the data. Therefore, as a best practice, first stop any applications that are sending records before you delete a delivery stream.</p>",
        "operationId": "DeleteDeliveryStream"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.DescribeDeliveryStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.DescribeDeliveryStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDeliveryStreamInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDeliveryStreamOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "<p>Describes the specified delivery stream and its status. For example, after your delivery stream is created, call <code>DescribeDeliveryStream</code> to see whether the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it. </p> <p>If the status of a delivery stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <a>CreateDeliveryStream</a> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it. If the status is <code>DELETING_FAILED</code>, you can force deletion by invoking <a>DeleteDeliveryStream</a> again but with <a>DeleteDeliveryStreamInput$AllowForceDelete</a> set to true.</p>",
        "operationId": "DescribeDeliveryStream"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.ListDeliveryStreams": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.ListDeliveryStreams"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDeliveryStreamsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDeliveryStreamsOutput"
            }
          }
        },
        "description": "<p>Lists your delivery streams in alphabetical order of their names.</p> <p>The number of delivery streams might be too large to return using a single call to <code>ListDeliveryStreams</code>. You can limit the number of delivery streams returned, using the <code>Limit</code> parameter. To determine whether there are more delivery streams to list, check the value of <code>HasMoreDeliveryStreams</code> in the output. If there are more delivery streams to list, you can request them by calling this operation again and setting the <code>ExclusiveStartDeliveryStreamName</code> parameter to the name of the last delivery stream returned in the last call.</p>",
        "operationId": "ListDeliveryStreams"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.ListTagsForDeliveryStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.ListTagsForDeliveryStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForDeliveryStreamInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForDeliveryStreamOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "Lists the tags for the specified delivery stream. This operation has a limit of five transactions per second per account. ",
        "operationId": "ListTagsForDeliveryStream"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.PutRecord": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.PutRecord"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutRecordInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutRecordOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "InvalidKMSResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidKMSResourceException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "description": "<p>Writes a single data record into an Amazon Kinesis Data Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Data Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it can be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Data Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <code>PutRecord</code> operation returns a <code>RecordId</code>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <code>PutRecord</code> operation throws a <code>ServiceUnavailableException</code>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Kinesis Data Firehose are stored for 24 hours from the time they are added to a delivery stream as it tries to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don't concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>",
        "operationId": "PutRecord"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.PutRecordBatch": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.PutRecordBatch"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutRecordBatchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutRecordBatchOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "InvalidKMSResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidKMSResourceException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "description": "<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>For information about service quota, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Data Firehose Quota</a>.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. These limits cannot be changed.</p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it could be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Data Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of failed records, <code>FailedPutCount</code>, and an array of responses, <code>RequestResponses</code>. Even if the <a>PutRecordBatch</a> call succeeds, the value of <code>FailedPutCount</code> may be greater than 0, indicating that there are records for which the operation didn't succeed. Each entry in the <code>RequestResponses</code> array provides additional information about the processed record. It directly correlates with a record in the request array using the same ordering, from the top to the bottom. The response array always includes the same number of records as the request array. <code>RequestResponses</code> includes both successfully and unsuccessfully processed records. Kinesis Data Firehose tries to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records. </p> <p>A successfully processed record includes a <code>RecordId</code> value, which is unique for the record. An unsuccessfully processed record includes <code>ErrorCode</code> and <code>ErrorMessage</code> values. <code>ErrorCode</code> reflects the type of error, and is one of the following values: <code>ServiceUnavailableException</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the error.</p> <p>If there is an internal server error or a timeout, the write might have completed or it might have failed. If <code>FailedPutCount</code> is greater than 0, retry the request, resending only those records that might have failed processing. This minimizes the possible duplicate records and also reduces the total bytes sent (and corresponding charges). We recommend that you handle any duplicates at the destination.</p> <p>If <a>PutRecordBatch</a> throws <code>ServiceUnavailableException</code>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Kinesis Data Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don't concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>",
        "operationId": "PutRecordBatch"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.StartDeliveryStreamEncryption": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.StartDeliveryStreamEncryption"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartDeliveryStreamEncryptionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartDeliveryStreamEncryptionOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "482": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "InvalidKMSResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidKMSResourceException"
            }
          }
        },
        "description": "<p>Enables server-side encryption (SSE) for the delivery stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Kinesis Data Firehose first sets the encryption status of the stream to <code>ENABLING</code>, and then to <code>ENABLED</code>. The encryption status of a delivery stream is the <code>Status</code> property in <a>DeliveryStreamEncryptionConfiguration</a>. If the operation fails, the encryption status changes to <code>ENABLING_FAILED</code>. You can continue to read and write data to your delivery stream while the encryption status is <code>ENABLING</code>, but the data is not encrypted. It can take up to 5 seconds after the encryption status changes to <code>ENABLED</code> before all records written to the delivery stream are encrypted. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption status of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>Even if encryption is currently enabled for a delivery stream, you can still invoke this operation on it to change the ARN of the CMK or both its type and ARN. If you invoke this method to change the CMK, and the old CMK is of type <code>CUSTOMER_MANAGED_CMK</code>, Kinesis Data Firehose schedules the grant it had on the old CMK for retirement. If the new CMK is of type <code>CUSTOMER_MANAGED_CMK</code>, Kinesis Data Firehose creates a grant that enables it to use the new CMK to encrypt and decrypt data and to manage the grant.</p> <p>If a delivery stream already has encryption enabled and then you invoke this operation to change the ARN of the CMK or both its type and ARN and you get <code>ENABLING_FAILED</code>, this only means that the attempt to change the CMK failed. In this case, encryption remains enabled with the old CMK.</p> <p>If the encryption status of your delivery stream is <code>ENABLING_FAILED</code>, you can invoke this operation again with a valid CMK. The CMK must be enabled and the key policy mustn't explicitly deny the permission for Kinesis Data Firehose to invoke KMS encrypt and decrypt operations.</p> <p>You can enable SSE for a delivery stream only if it's a delivery stream that uses <code>DirectPut</code> as its source. </p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per delivery stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same delivery stream in a 24-hour period.</p>",
        "operationId": "StartDeliveryStreamEncryption"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.StopDeliveryStreamEncryption": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.StopDeliveryStreamEncryption"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopDeliveryStreamEncryptionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopDeliveryStreamEncryptionOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "482": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "<p>Disables server-side encryption (SSE) for the delivery stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Kinesis Data Firehose first sets the encryption status of the stream to <code>DISABLING</code>, and then to <code>DISABLED</code>. You can continue to read and write data to your stream while its status is <code>DISABLING</code>. It can take up to 5 seconds after the encryption status changes to <code>DISABLED</code> before all records written to the delivery stream are no longer subject to encryption. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption state of a delivery stream, use <a>DescribeDeliveryStream</a>. </p> <p>If SSE is enabled using a customer managed CMK and then you invoke <code>StopDeliveryStreamEncryption</code>, Kinesis Data Firehose schedules the related KMS grant for retirement and then retires it after it ensures that it is finished delivering records to the destination.</p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per delivery stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same delivery stream in a 24-hour period.</p>",
        "operationId": "StopDeliveryStreamEncryption"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.TagDeliveryStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.TagDeliveryStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagDeliveryStreamInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagDeliveryStreamOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "482": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "<p>Adds or updates tags for the specified delivery stream. A tag is a key-value pair that you can define and assign to AWS resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the delivery stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p> <p>Each delivery stream can have up to 50 tags. </p> <p>This operation has a limit of five transactions per second per account. </p>",
        "operationId": "TagDeliveryStream"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.UntagDeliveryStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.UntagDeliveryStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UntagDeliveryStreamInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagDeliveryStreamOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "482": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "<p>Removes tags from the specified delivery stream. Removed tags are deleted, and you can't recover them after this operation successfully completes.</p> <p>If you specify a tag that doesn't exist, the operation ignores it.</p> <p>This operation has a limit of five transactions per second per account. </p>",
        "operationId": "UntagDeliveryStream"
      }
    },
    "/#X-Amz-Target=Firehose_20150804.UpdateDestination": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Firehose_20150804.UpdateDestination"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDestinationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDestinationOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        },
        "description": "<p>Updates the specified destination of the specified delivery stream.</p> <p>Use this operation to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a destination (for example, to change the bucket name of the Amazon S3 destination). The update might not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are usually effective within a few minutes.</p> <p>Switching between Amazon ES and other services is not supported. For an Amazon ES destination, you can only update to another Amazon ES destination.</p> <p>If the destination type is the same, Kinesis Data Firehose merges the configuration parameters specified with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the call, the existing values are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified, then the existing <code>EncryptionConfiguration</code> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Kinesis Data Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Kinesis Data Firehose uses <code>CurrentDeliveryStreamVersionId</code> to avoid race conditions and conflicting merges. This is a required field, and the service updates the configuration only if the existing configuration has a version ID that matches. After the update is applied successfully, the version ID is updated, and can be retrieved using <a>DescribeDeliveryStream</a>. Use the new version ID to set <code>CurrentDeliveryStreamVersionId</code> in the next call.</p>",
        "operationId": "UpdateDestination"
      }
    }
  },
  "definitions": {
    "AWSKMSKeyARN": {
      "maxLength": 512,
      "minLength": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "BlockSizeBytes": {
      "minimum": 67108864,
      "type": "integer"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BucketARN": {
      "maxLength": 2048,
      "minLength": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "BufferingHints": {
      "description": "Describes hints for the buffering to perform before delivering data to the destination. These options are treated as hints, and therefore Kinesis Data Firehose might choose to use different values when it is optimal. The <code>SizeInMBs</code> and <code>IntervalInSeconds</code> parameters are optional. However, if specify a value for one of them, you must also provide a value for the other.",
      "properties": {
        "IntervalInSeconds": {
          "allOf": [
            {
              "$ref": "#/definitions/IntervalInSeconds"
            },
            {
              "description": "Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300. This parameter is optional but if you specify a value for it, you must also specify a value for <code>SizeInMBs</code>, and vice versa."
            }
          ]
        },
        "SizeInMBs": {
          "allOf": [
            {
              "$ref": "#/definitions/SizeInMBs"
            },
            {
              "description": "<p>Buffer incoming data to the specified size, in MiBs, before delivering it to the destination. The default value is 5. This parameter is optional but if you specify a value for it, you must also specify a value for <code>IntervalInSeconds</code>, and vice versa.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MiB/sec, the value should be 10 MiB or higher.</p>"
            }
          ]
        }
      },
      "type": "object"
    },
    "CloudWatchLoggingOptions": {
      "description": "Describes the Amazon CloudWatch logging options for your delivery stream.",
      "properties": {
        "Enabled": {
          "allOf": [
            {
              "$ref": "#/definitions/BooleanObject"
            },
            {
              "description": "Enables or disables CloudWatch logging."
            }
          ]
        },
        "LogGroupName": {
          "allOf": [
            {
              "$ref": "#/definitions/LogGroupName"
            },
            {
              "description": "The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled."
            }
          ]
        },
        "LogStreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/LogStreamName"
            },
            {
              "description": "The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled."
            }
          ]
        }
      },
      "type": "object"
    },
    "ClusterJDBCURL": {
      "maxLength": 512,
      "minLength": 1,
      "pattern": "jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+redshift\\.([a-zA-Z0-9\\.]+):\\d{1,5}/[a-zA-Z0-9_$]+",
      "type": "string"
    },
    "ColumnToJsonKeyMappings": {
      "additionalProperties": {
        "$ref": "#/definitions/NonEmptyString"
      },
      "type": "object"
    },
    "CompressionFormat": {
      "enum": [
        "UNCOMPRESSED",
        "GZIP",
        "ZIP",
        "Snappy",
        "HADOOP_SNAPPY"
      ],
      "type": "string"
    },
    "ConcurrentModificationException": {},
    "ContentEncoding": {
      "enum": [
        "NONE",
        "GZIP"
      ],
      "type": "string"
    },
    "CopyCommand": {
      "description": "Describes a <code>COPY</code> command for Amazon Redshift.",
      "properties": {
        "CopyOptions": {
          "allOf": [
            {
              "$ref": "#/definitions/CopyOptions"
            },
            {
              "description": "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Data Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>"
            }
          ]
        },
        "DataTableColumns": {
          "allOf": [
            {
              "$ref": "#/definitions/DataTableColumns"
            },
            {
              "description": "A comma-separated list of column names."
            }
          ]
        },
        "DataTableName": {
          "allOf": [
            {
              "$ref": "#/definitions/DataTableName"
            },
            {
              "description": "The name of the target table. The table must already exist in the database."
            }
          ]
        }
      },
      "required": [
        "DataTableName"
      ],
      "type": "object"
    },
    "CopyOptions": {
      "maxLength": 204800,
      "minLength": 0,
      "pattern": ".*",
      "type": "string"
    },
    "CreateDeliveryStreamInput": {
      "properties": {
        "DeliveryStreamEncryptionConfigurationInput": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamEncryptionConfigurationInput"
            },
            {
              "description": "Used to specify the type and Amazon Resource Name (ARN) of the KMS key needed for Server-Side Encryption (SSE)."
            }
          ]
        },
        "DeliveryStreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamName"
            },
            {
              "description": "The name of the delivery stream. This name must be unique per AWS account in the same AWS Region. If the delivery streams are in different accounts or different Regions, you can have multiple delivery streams with the same name."
            }
          ]
        },
        "DeliveryStreamType": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamType"
            },
            {
              "description": "<p>The delivery stream type. This parameter can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a source.</p> </li> </ul>"
            }
          ]
        },
        "ElasticsearchDestinationConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchDestinationConfiguration"
            },
            {
              "description": "The destination in Amazon ES. You can specify only one destination."
            }
          ]
        },
        "ExtendedS3DestinationConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/ExtendedS3DestinationConfiguration"
            },
            {
              "description": "The destination in Amazon S3. You can specify only one destination."
            }
          ]
        },
        "HttpEndpointDestinationConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/HttpEndpointDestinationConfiguration"
            },
            {
              "description": "Enables configuring Kinesis Firehose to deliver data to any HTTP endpoint destination. You can specify only one destination."
            }
          ]
        },
        "KinesisStreamSourceConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/KinesisStreamSourceConfiguration"
            },
            {
              "description": "When a Kinesis data stream is used as the source for the delivery stream, a <a>KinesisStreamSourceConfiguration</a> containing the Kinesis data stream Amazon Resource Name (ARN) and the role ARN for the source stream."
            }
          ]
        },
        "RedshiftDestinationConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/RedshiftDestinationConfiguration"
            },
            {
              "description": "The destination in Amazon Redshift. You can specify only one destination."
            }
          ]
        },
        "S3DestinationConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/S3DestinationConfiguration"
            },
            {
              "description": "[Deprecated] The destination in Amazon S3. You can specify only one destination.",
              "x-deprecated": true
            }
          ]
        },
        "SplunkDestinationConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/SplunkDestinationConfiguration"
            },
            {
              "description": "The destination in Splunk. You can specify only one destination."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagDeliveryStreamInputTagList"
            },
            {
              "description": "<p>A set of tags to assign to the delivery stream. A tag is a key-value pair that you can define and assign to AWS resources. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the delivery stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the AWS Billing and Cost Management User Guide.</p> <p>You can specify up to 50 tags when creating a delivery stream.</p>"
            }
          ]
        }
      },
      "required": [
        "DeliveryStreamName"
      ],
      "title": "CreateDeliveryStreamInput",
      "type": "object"
    },
    "CreateDeliveryStreamOutput": {
      "properties": {
        "DeliveryStreamARN": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamARN"
            },
            {
              "description": "The ARN of the delivery stream."
            }
          ]
        }
      },
      "type": "object"
    },
    "Data": {
      "maxLength": 1024000,
      "minLength": 0,
      "type": "string"
    },
    "DataFormatConversionConfiguration": {
      "description": "Specifies that you want Kinesis Data Firehose to convert data from the JSON format to the Parquet or ORC format before writing it to Amazon S3. Kinesis Data Firehose uses the serializer and deserializer that you specify, in addition to the column information from the AWS Glue table, to deserialize your input data from JSON and then serialize it to the Parquet or ORC format. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/record-format-conversion.html\">Kinesis Data Firehose Record Format Conversion</a>.",
      "properties": {
        "Enabled": {
          "allOf": [
            {
              "$ref": "#/definitions/BooleanObject"
            },
            {
              "description": "Defaults to <code>true</code>. Set it to <code>false</code> if you want to disable format conversion while preserving the configuration details."
            }
          ]
        },
        "InputFormatConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/InputFormatConfiguration"
            },
            {
              "description": "Specifies the deserializer that you want Kinesis Data Firehose to use to convert the format of your data from JSON. This parameter is required if <code>Enabled</code> is set to true."
            }
          ]
        },
        "OutputFormatConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/OutputFormatConfiguration"
            },
            {
              "description": "Specifies the serializer that you want Kinesis Data Firehose to use to convert the format of your data to the Parquet or ORC format. This parameter is required if <code>Enabled</code> is set to true."
            }
          ]
        },
        "SchemaConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/SchemaConfiguration"
            },
            {
              "description": "Specifies the AWS Glue Data Catalog table that contains the column information. This parameter is required if <code>Enabled</code> is set to true."
            }
          ]
        }
      },
      "type": "object"
    },
    "DataTableColumns": {
      "maxLength": 204800,
      "minLength": 0,
      "pattern": ".*",
      "type": "string"
    },
    "DataTableName": {
      "maxLength": 512,
      "minLength": 1,
      "pattern": ".*",
      "type": "string"
    },
    "DeleteDeliveryStreamInput": {
      "properties": {
        "AllowForceDelete": {
          "allOf": [
            {
              "$ref": "#/definitions/BooleanObject"
            },
            {
              "description": "<p>Set this to true if you want to delete the delivery stream even if Kinesis Data Firehose is unable to retire the grant for the CMK. Kinesis Data Firehose might be unable to retire the grant due to a customer error, such as when the CMK or the grant are in an invalid state. If you force deletion, you can then use the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> operation to revoke the grant you gave to Kinesis Data Firehose. If a failure to retire the grant happens due to an AWS KMS issue, Kinesis Data Firehose keeps retrying the delete operation.</p> <p>The default value is false.</p>"
            }
          ]
        },
        "DeliveryStreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamName"
            },
            {
              "description": "The name of the delivery stream."
            }
          ]
        }
      },
      "required": [
        "DeliveryStreamName"
      ],
      "title": "DeleteDeliveryStreamInput",
      "type": "object"
    },
    "DeleteDeliveryStreamOutput": {
      "properties": {},
      "type": "object"
    },
    "DeliveryStartTimestamp": {
      "format": "date-time",
      "type": "string"
    },
    "DeliveryStreamARN": {
      "maxLength": 512,
      "minLength": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "DeliveryStreamDescription": {
      "description": "Contains information about a delivery stream.",
      "properties": {
        "CreateTimestamp": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the delivery stream was created."
            }
          ]
        },
        "DeliveryStreamARN": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamARN"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the delivery stream. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>."
            }
          ]
        },
        "DeliveryStreamEncryptionConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamEncryptionConfiguration"
            },
            {
              "description": "Indicates the server-side encryption (SSE) status for the delivery stream."
            }
          ]
        },
        "DeliveryStreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamName"
            },
            {
              "description": "The name of the delivery stream."
            }
          ]
        },
        "DeliveryStreamStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamStatus"
            },
            {
              "description": "The status of the delivery stream. If the status of a delivery stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it."
            }
          ]
        },
        "DeliveryStreamType": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamType"
            },
            {
              "description": "<p>The delivery stream type. This can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a source.</p> </li> </ul>"
            }
          ]
        },
        "Destinations": {
          "allOf": [
            {
              "$ref": "#/definitions/DestinationDescriptionList"
            },
            {
              "description": "The destinations."
            }
          ]
        },
        "FailureDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/FailureDescription"
            },
            {
              "description": "Provides details in case one of the following operations fails due to an error related to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>."
            }
          ]
        },
        "HasMoreDestinations": {
          "allOf": [
            {
              "$ref": "#/definitions/BooleanObject"
            },
            {
              "description": "Indicates whether there are more destinations available to list."
            }
          ]
        },
        "LastUpdateTimestamp": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time that the delivery stream was last updated."
            }
          ]
        },
        "Source": {
          "allOf": [
            {
              "$ref": "#/definitions/SourceDescription"
            },
            {
              "description": "If the <code>DeliveryStreamType</code> parameter is <code>KinesisStreamAsSource</code>, a <a>SourceDescription</a> object describing the source Kinesis data stream."
            }
          ]
        },
        "VersionId": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamVersionId"
            },
            {
              "description": "Each time the destination is updated for a delivery stream, the version ID is changed, and the current version ID is required when updating the destination. This is so that the service knows it is applying the changes to the correct version of the delivery stream."
            }
          ]
        }
      },
      "required": [
        "DeliveryStreamName",
        "DeliveryStreamARN",
        "DeliveryStreamStatus",
        "DeliveryStreamType",
        "VersionId",
        "Destinations",
        "HasMoreDestinations"
      ],
      "type": "object"
    },
    "DeliveryStreamEncryptionConfiguration": {
      "description": "Contains information about the server-side encryption (SSE) status for the delivery stream, the type customer master key (CMK) in use, if any, and the ARN of the CMK. You can get <code>DeliveryStreamEncryptionConfiguration</code> by invoking the <a>DescribeDeliveryStream</a> operation. ",
      "properties": {
        "FailureDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/FailureDescription"
            },
            {
              "description": "Provides details in case one of the following operations fails due to an error related to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>."
            }
          ]
        },
        "KeyARN": {
          "allOf": [
            {
              "$ref": "#/definitions/AWSKMSKeyARN"
            },
            {
              "description": "If <code>KeyType</code> is <code>CUSTOMER_MANAGED_CMK</code>, this field contains the ARN of the customer managed CMK. If <code>KeyType</code> is <code>AWS_OWNED_CMK</code>, <code>DeliveryStreamEncryptionConfiguration</code> doesn't contain a value for <code>KeyARN</code>."
            }
          ]
        },
        "KeyType": {
          "allOf": [
            {
              "$ref": "#/definitions/KeyType"
            },
            {
              "description": "Indicates the type of customer master key (CMK) that is used for encryption. The default setting is <code>AWS_OWNED_CMK</code>. For more information about CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>."
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamEncryptionStatus"
            },
            {
              "description": "This is the server-side encryption (SSE) status for the delivery stream. For a full description of the different values of this status, see <a>StartDeliveryStreamEncryption</a> and <a>StopDeliveryStreamEncryption</a>. If this status is <code>ENABLING_FAILED</code> or <code>DISABLING_FAILED</code>, it is the status of the most recent attempt to enable or disable SSE, respectively."
            }
          ]
        }
      },
      "type": "object"
    },
    "DeliveryStreamEncryptionConfigurationInput": {
      "description": "Specifies the type and Amazon Resource Name (ARN) of the CMK to use for Server-Side Encryption (SSE). ",
      "properties": {
        "KeyARN": {
          "allOf": [
            {
              "$ref": "#/definitions/AWSKMSKeyARN"
            },
            {
              "description": "If you set <code>KeyType</code> to <code>CUSTOMER_MANAGED_CMK</code>, you must specify the Amazon Resource Name (ARN) of the CMK. If you set <code>KeyType</code> to <code>AWS_OWNED_CMK</code>, Kinesis Data Firehose uses a service-account CMK."
            }
          ]
        },
        "KeyType": {
          "allOf": [
            {
              "$ref": "#/definitions/KeyType"
            },
            {
              "description": "<p>Indicates the type of customer master key (CMK) to use for encryption. The default setting is <code>AWS_OWNED_CMK</code>. For more information about CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>. When you invoke <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a> with <code>KeyType</code> set to CUSTOMER_MANAGED_CMK, Kinesis Data Firehose invokes the Amazon KMS operation <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a> to create a grant that allows the Kinesis Data Firehose service to use the customer managed CMK to perform encryption and decryption. Kinesis Data Firehose manages that grant. </p> <p>When you invoke <a>StartDeliveryStreamEncryption</a> to change the CMK for a delivery stream that is encrypted with a customer managed CMK, Kinesis Data Firehose schedules the grant it had on the old CMK for retirement.</p> <p>You can use a CMK of type CUSTOMER_MANAGED_CMK to encrypt up to 500 delivery streams. If a <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a> operation exceeds this limit, Kinesis Data Firehose throws a <code>LimitExceededException</code>. </p> <important> <p>To encrypt your delivery stream, use symmetric CMKs. Kinesis Data Firehose doesn't support asymmetric CMKs. For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symm-asymm-concepts.html\">About Symmetric and Asymmetric CMKs</a> in the AWS Key Management Service developer guide.</p> </important>"
            }
          ]
        }
      },
      "required": [
        "KeyType"
      ],
      "type": "object"
    },
    "DeliveryStreamEncryptionStatus": {
      "enum": [
        "ENABLED",
        "ENABLING",
        "ENABLING_FAILED",
        "DISABLED",
        "DISABLING",
        "DISABLING_FAILED"
      ],
      "type": "string"
    },
    "DeliveryStreamFailureType": {
      "enum": [
        "RETIRE_KMS_GRANT_FAILED",
        "CREATE_KMS_GRANT_FAILED",
        "KMS_ACCESS_DENIED",
        "DISABLED_KMS_KEY",
        "INVALID_KMS_KEY",
        "KMS_KEY_NOT_FOUND",
        "KMS_OPT_IN_REQUIRED",
        "CREATE_ENI_FAILED",
        "DELETE_ENI_FAILED",
        "SUBNET_NOT_FOUND",
        "SECURITY_GROUP_NOT_FOUND",
        "ENI_ACCESS_DENIED",
        "SUBNET_ACCESS_DENIED",
        "SECURITY_GROUP_ACCESS_DENIED",
        "UNKNOWN_ERROR"
      ],
      "type": "string"
    },
    "DeliveryStreamName": {
      "maxLength": 64,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "DeliveryStreamNameList": {
      "items": {
        "$ref": "#/definitions/DeliveryStreamName"
      },
      "type": "array"
    },
    "DeliveryStreamStatus": {
      "enum": [
        "CREATING",
        "CREATING_FAILED",
        "DELETING",
        "DELETING_FAILED",
        "ACTIVE"
      ],
      "type": "string"
    },
    "DeliveryStreamType": {
      "enum": [
        "DirectPut",
        "KinesisStreamAsSource"
      ],
      "type": "string"
    },
    "DeliveryStreamVersionId": {
      "maxLength": 50,
      "minLength": 1,
      "pattern": "[0-9]+",
      "type": "string"
    },
    "DescribeDeliveryStreamInput": {
      "properties": {
        "DeliveryStreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamName"
            },
            {
              "description": "The name of the delivery stream."
            }
          ]
        },
        "ExclusiveStartDestinationId": {
          "allOf": [
            {
              "$ref": "#/definitions/DestinationId"
            },
            {
              "description": "The ID of the destination to start returning the destination information. Kinesis Data Firehose supports one destination per delivery stream."
            }
          ]
        },
        "Limit": {
          "allOf": [
            {
              "$ref": "#/definitions/DescribeDeliveryStreamInputLimit"
            },
            {
              "description": "The limit on the number of destinations to return. You can have one destination per delivery stream."
            }
          ]
        }
      },
      "required": [
        "DeliveryStreamName"
      ],
      "title": "DescribeDeliveryStreamInput",
      "type": "object"
    },
    "DescribeDeliveryStreamInputLimit": {
      "maximum": 10000,
      "minimum": 1,
      "type": "integer"
    },
    "DescribeDeliveryStreamOutput": {
      "properties": {
        "DeliveryStreamDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/DeliveryStreamDescription"
            },
            {
              "description": "Information about the delivery stream."
            }
          ]
        }
      },
      "required": [
        "DeliveryStreamDescription"
      ],
      "type": "object"
    },
    "Deserializer": {
      "description": "The deserializer you want Kinesis Data Firehose to use for converting the input data from JSON. Kinesis Data Firehose then serializes the data to its final format using the <a>Serializer</a>. Kinesis Data Firehose supports two types of deserializers: the <a href=\"https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-JSON\">Apache Hive JSON SerDe</a> and the <a href=\"https://github.com/rcongiu/Hive-JSON-Serde\">OpenX JSON SerDe</a>.",
      "properties": {
        "HiveJsonSerDe": {
          "allOf": [
            {
              "$ref": "#/definitions/HiveJsonSerDe"
            },
            {
              "description": "The native Hive / HCatalog JsonSerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the OpenX SerDe."
            }
          ]
        },
        "OpenXJsonSerDe": {
          "allOf": [
            {
              "$ref": "#/definitions/OpenXJsonSerDe"
            },
            {
              "description": "The OpenX SerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the native Hive / HCatalog JsonSerDe."
            }
          ]
        }
      },
      "type": "object"
    },
    "DestinationDescription": {
      "description": "Describes the destination for a delivery stream.",
      "properties": {
        "DestinationId": {
          "allOf": [
            {
              "$ref": "#/definitions/DestinationId"
            },
            {
              "description": "The ID of the destination."
            }
          ]
        },
        "ElasticsearchDestinationDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchDestinationDescription"
            },
            {
              "description": "The destination in Amazon ES."
            }
          ]
        },
        "ExtendedS3DestinationDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/ExtendedS3DestinationDescription"
            },
            {
              "description": "The destination in Amazon S3."
            }
          ]
        },
        "HttpEndpointDestinationDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/HttpEndpointDestinationDescription"
            },
            {
              "description": "Describes the specified HTTP endpoint destination."
            }
          ]
        },
        "RedshiftDestinationDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/RedshiftDestinationDescription"
            },
            {
              "description": "The destination in Amazon Redshift."
            }
          ]
        },
        "S3DestinationDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/S3DestinationDescription"
            },
            {
              "description": "[Deprecated] The destination in Amazon S3."
            }
          ]
        },
        "SplunkDestinationDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/SplunkDestinationDescription"
            },
            {
              "description": "The destination in Splunk."
            }
          ]
        }
      },
      "required": [
        "DestinationId"
      ],
      "type": "object"
    },
    "DestinationDescriptionList": {
      "items": {
        "$ref": "#/definitions/DestinationDescription"
      },
      "type": "array"
    },
    "DestinationId": {
      "maxLength": 100,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "ElasticsearchBufferingHints": {
      "description": "Describes the buffering to perform before delivering data to the Amazon ES destination.",
      "properties": {
        "IntervalInSeconds": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchBufferingIntervalInSeconds"
            },
            {
              "description": "Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes)."
            }
          ]
        },
        "SizeInMBs": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchBufferingSizeInMBs"
            },
            {
              "description": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>"
            }
          ]
        }
      },
      "type": "object"
    },
    "ElasticsearchBufferingIntervalInSeconds": {
      "maximum": 900,
      "minimum": 60,
      "type": "integer"
    },
    "ElasticsearchBufferingSizeInMBs": {
      "maximum": 100,
      "minimum": 1,
      "type": "integer"
    },
    "ElasticsearchClusterEndpoint": {
      "maxLength": 512,
      "minLength": 1,
      "pattern": "https:.*",
      "type": "string"
    },
    "ElasticsearchDestinationConfiguration": {
      "description": "Describes the configuration of a destination in Amazon ES.",
      "properties": {
        "BufferingHints": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchBufferingHints"
            },
            {
              "description": "The buffering options. If no value is specified, the default values for <code>ElasticsearchBufferingHints</code> are used."
            }
          ]
        },
        "CloudWatchLoggingOptions": {
          "allOf": [
            {
              "$ref": "#/definitions/CloudWatchLoggingOptions"
            },
            {
              "description": "The Amazon CloudWatch logging options for your delivery stream."
            }
          ]
        },
        "ClusterEndpoint": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchClusterEndpoint"
            },
            {
              "description": "The endpoint to use when communicating with the cluster. Specify either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field."
            }
          ]
        },
        "DomainARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchDomainARN"
            },
            {
              "description": "<p>The ARN of the Amazon ES domain. The IAM role must have permissions for <code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code> after assuming the role specified in <b>RoleARN</b>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p> <p>Specify either <code>ClusterEndpoint</code> or <code>DomainARN</code>.</p>"
            }
          ]
        },
        "IndexName": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchIndexName"
            },
            {
              "description": "The Elasticsearch index name."
            }
          ]
        },
        "IndexRotationPeriod": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchIndexRotationPeriod"
            },
            {
              "description": "The Elasticsearch index rotation period. Index rotation appends a timestamp to the <code>IndexName</code> to facilitate the expiration of old data. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the Amazon ES Destination</a>. The default value is <code>OneDay</code>."
            }
          ]
        },
        "ProcessingConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/ProcessingConfiguration"
            },
            {
              "description": "The data processing configuration."
            }
          ]
        },
        "RetryOptions": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchRetryOptions"
            },
            {
              "description": "The retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon ES. The default value is 300 (5 minutes)."
            }
          ]
        },
        "RoleARN": {
          "allOf": [
            {
              "$ref": "#/definitions/RoleARN"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>."
            }
          ]
        },
        "S3BackupMode": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchS3BackupMode"
            },
            {
              "description": "<p>Defines how documents should be delivered to Amazon S3. When it is set to <code>FailedDocumentsOnly</code>, Kinesis Data Firehose writes any documents that could not be indexed to the configured Amazon S3 destination, with <code>elasticsearch-failed/</code> appended to the key prefix. When set to <code>AllDocuments</code>, Kinesis Data Firehose delivers all incoming records to Amazon S3, and also writes failed documents with <code>elasticsearch-failed/</code> appended to the prefix. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup\">Amazon S3 Backup for the Amazon ES Destination</a>. Default value is <code>FailedDocumentsOnly</code>.</p> <p>You can't change this backup mode after you create the delivery stream. </p>"
            }
          ]
        },
        "S3Configuration": {
          "allOf": [
            {
              "$ref": "#/definitions/S3DestinationConfiguration"
            },
            {
              "description": "The configuration for the backup Amazon S3 location."
            }
          ]
        },
        "TypeName": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchTypeName"
            },
            {
              "description": "<p>The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per index. If you try to specify a new type for an existing index that already has another type, Kinesis Data Firehose returns an error during run time.</p> <p>For Elasticsearch 7.x, don't specify a <code>TypeName</code>.</p>"
            }
          ]
        },
        "VpcConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/VpcConfiguration"
            },
            {
              "description": "The details of the VPC of the Amazon ES destination."
            }
          ]
        }
      },
      "required": [
        "RoleARN",
        "IndexName",
        "S3Configuration"
      ],
      "type": "object"
    },
    "ElasticsearchDestinationDescription": {
      "description": "The destination description in Amazon ES.",
      "properties": {
        "BufferingHints": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchBufferingHints"
            },
            {
              "description": "The buffering options."
            }
          ]
        },
        "CloudWatchLoggingOptions": {
          "allOf": [
            {
              "$ref": "#/definitions/CloudWatchLoggingOptions"
            },
            {
              "description": "The Amazon CloudWatch logging options."
            }
          ]
        },
        "ClusterEndpoint": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchClusterEndpoint"
            },
            {
              "description": "The endpoint to use when communicating with the cluster. Kinesis Data Firehose uses either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field to send data to Amazon ES."
            }
          ]
        },
        "DomainARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchDomainARN"
            },
            {
              "description": "<p>The ARN of the Amazon ES domain. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p> <p>Kinesis Data Firehose uses either <code>ClusterEndpoint</code> or <code>DomainARN</code> to send data to Amazon ES.</p>"
            }
          ]
        },
        "IndexName": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchIndexName"
            },
            {
              "description": "The Elasticsearch index name."
            }
          ]
        },
        "IndexRotationPeriod": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchIndexRotationPeriod"
            },
            {
              "description": "The Elasticsearch index rotation period"
            }
          ]
        },
        "ProcessingConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/ProcessingConfiguration"
            },
            {
              "description": "The data processing configuration."
            }
          ]
        },
        "RetryOptions": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchRetryOptions"
            },
            {
              "description": "The Amazon ES retry options."
            }
          ]
        },
        "RoleARN": {
          "allOf": [
            {
              "$ref": "#/definitions/RoleARN"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>."
            }
          ]
        },
        "S3BackupMode": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchS3BackupMode"
            },
            {
              "description": "The Amazon S3 backup mode."
            }
          ]
        },
        "S3DestinationDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/S3DestinationDescription"
            },
            {
              "description": "The Amazon S3 destination."
            }
          ]
        },
        "TypeName": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchTypeName"
            },
            {
              "description": "The Elasticsearch type name. This applies to Elasticsearch 6.x and lower versions. For Elasticsearch 7.x, there's no value for <code>TypeName</code>."
            }
          ]
        },
        "VpcConfigurationDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/VpcConfigurationDescription"
            },
            {
              "description": "The details of the VPC of the Amazon ES destination."
            }
          ]
        }
      },
      "type": "object"
    },
    "ElasticsearchDestinationUpdate": {
      "description": "Describes an update for a destination in Amazon ES.",
      "properties": {
        "BufferingHints": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchBufferingHints"
            },
            {
              "description": "The buffering options. If no value is specified, <code>ElasticsearchBufferingHints</code> object default values are used. "
            }
          ]
        },
        "CloudWatchLoggingOptions": {
          "allOf": [
            {
              "$ref": "#/definitions/CloudWatchLoggingOptions"
            },
            {
              "description": "The CloudWatch logging options for your delivery stream."
            }
          ]
        },
        "ClusterEndpoint": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchClusterEndpoint"
            },
            {
              "description": "The endpoint to use when communicating with the cluster. Specify either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field."
            }
          ]
        },
        "DomainARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchDomainARN"
            },
            {
              "description": "<p>The ARN of the Amazon ES domain. The IAM role must have permissions for <code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code> after assuming the IAM role specified in <code>RoleARN</code>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p> <p>Specify either <code>ClusterEndpoint</code> or <code>DomainARN</code>.</p>"
            }
          ]
        },
        "IndexName": {
          "allOf": [
            {
              "$ref": "#/definitions/ElasticsearchIndexName"
            },
[...]
