{
  "swagger": "2.0",
  "basePath": "/",
  "paths": {
    "/news/rss.xml": {
      "get": {
        "operationId": "topStories",
        "description": "BBC News - Home",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "BBC News - Home"
      }
    },
    "/news/world/rss.xml": {
      "get": {
        "operationId": "world",
        "description": "BBC News - World",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "BBC News - World"
      }
    },
    "/news/uk/rss.xml": {
      "get": {
        "operationId": "uk",
        "description": "BBC News - UK",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "BBC News - UK"
      }
    },
    "/news/technology/rss.xml": {
      "get": {
        "operationId": "technology",
        "description": "BBC News - Technology",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "BBC News - Technology"
      }
    }
  },
  "definitions": {
    "Feed": {
      "type": "object",
      "properties": {
        "feed": {
          "type": "object",
          "properties": {
            "link": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "feedUrl": {
              "type": "string"
            },
            "entries": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "pubDate": {
                    "type": "string"
                  },
                  "author": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "contentSnippet": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "info": {
    "x-datafire": {
      "name": "bbc_rss",
      "type": "rss"
    }
  },
  "host": "feeds.bbci.co.uk",
  "schemes": [
    "http"
  ]
}