{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@intellifi.nl",
      "name": "Support",
      "url": "https://intellifi.zendesk.com"
    },
    "description": "This document describes the [Intellifi Brain](https://intellifi.zendesk.com/hc/en-us/categories/360000685454)\nWeb API specification using the [OpenAPI specification](https://github.com/OAI/OpenAPI-Specification).\n\nThe Brain Web API is a RESTful API that allows you to interact with the\n[Intellifi devices](https://intellifi.zendesk.com/hc/en-us/categories/360000685434) and\nservices in a powerful and simple way. Our end-to-end solution allows you to\nlocalize your items/assets based on technologies such as RFID and Bluetooth.\n\n# Try it out!\n\nThe API can be tried out and tested using the ['api-doc/tryitout' endpoint on this site](./tryitout/).\nThis UI allows anyone to visualize and interact with the API’s resources without having any of the implementation logic in place.\nIt’s automatically generated from this Specification, with the visual documentation making it easy for back end implementation and client side consumption.\n\n# Authentication\n\nApplications are required to provide some form of authentication to the API\nfor every secured endpoint. The Brain offers two forms of authentication.\n\n- API key (Via an HTTP request header or URL parameter)\n- Session cookie\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# See also\n\n- About Intellifi and what we do: [intellifi.nl](https://intellifi.nl)\n- Technical and background information: [intellifi.zendesk.com](https://intellifi.zendesk.com)\n",
    "license": {
      "name": "MIT",
      "url": "./LICENSE"
    },
    "title": "Brain Web API",
    "version": "2.18.0+0.g0bcb16f.dirty",
    "x-apisguru-categories": [
      "iot"
    ],
    "x-logo": {
      "altText": "Intellifi logo",
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_9928538.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://intellifi-nl.github.io/brain-rest-api-spec/openapi.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "intellifi.nl",
    "x-datafire": {
      "name": "intellifi_nl",
      "type": "openapi"
    }
  },
  "host": "brain.intellifi.cloud",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/authinfo": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A JSON object containing the authentication information",
            "schema": {
              "properties": {
                "api_key_id": {
                  "description": "Reference to the static API key (/api/keys) used to authenticate this request (when auth_method=static_api_key)",
                  "example": "5b7d6cbd7503c445552a1664",
                  "type": "string"
                },
                "auth_method": {
                  "description": "What kind of authentication was used",
                  "enum": [
                    "user_session",
                    "internal",
                    "static_api_key"
                  ],
                  "type": "string"
                },
                "authenticated": {
                  "description": "Whether or not you are authenticated",
                  "type": "boolean"
                },
                "permissions": {
                  "properties": {
                    "mutate": {
                      "description": "Whether or not this session can mutate resources",
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                },
                "url": {
                  "$ref": "#/definitions/Url"
                },
                "user_id": {
                  "description": "Reference to the user account (/api/users) used to authenticate this request (when auth_method=user_session)",
                  "example": "5b7d6cbd7503c445552a1664",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "authinfo"
        ],
        "operationId": "getAuthinfo",
        "summary": "Authentication information"
      }
    },
    "/blobs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter based on the hash of the blob.",
            "in": "query",
            "name": "hash",
            "type": "string"
          },
          {
            "description": "Filter based on the unique blob_key",
            "in": "query",
            "name": "blob_key",
            "type": "string"
          },
          {
            "description": "Filter based on the content type of the blob.",
            "in": "query",
            "name": "content_type",
            "type": "string"
          },
          {
            "description": "Filter based on the filename of the blob.",
            "in": "query",
            "name": "filename",
            "type": "string"
          },
          {
            "description": "Filter based on the last time the blob was accessed",
            "in": "query",
            "name": "time_last_accessed",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of blobs",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/Blob"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "tags": [
          "blobs"
        ],
        "operationId": "getBlobs",
        "summary": "Get all binary large objects (blob)"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing blob information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Blob"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A JSON object containing the newly added resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "blobs"
        ],
        "operationId": "addBlob",
        "summary": "Create binary large object (blob) metadata"
      }
    },
    "/blobs/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the deleted resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "blobs"
        ],
        "operationId": "deleteBlob",
        "summary": "Delete binary large object (blob)"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the blob",
            "schema": {
              "$ref": "#/definitions/Blob"
            }
          }
        },
        "tags": [
          "blobs"
        ],
        "operationId": "getBlobMetadataById",
        "summary": "Get binary large object (blob)"
      }
    },
    "/blobs/{id}/download/{filename}": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filename of the blob.",
            "in": "path",
            "name": "filename",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The stored binary blob",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "tags": [
          "blobs"
        ],
        "operationId": "getBlobById",
        "summary": "Download a binary large object (blob)"
      }
    },
    "/blobs/{id}/upload": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "in": "formData",
            "name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload was successful"
          }
        },
        "tags": [
          "blobs"
        ],
        "operationId": "uploadBlobById",
        "summary": "Create binary large object (blob)"
      }
    },
    "/events": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the topic resource type",
            "enum": [
              "blobs",
              "items",
              "keys",
              "kvpairs",
              "locations",
              "presences",
              "services",
              "spots",
              "subscriptions",
              "users"
            ],
            "in": "query",
            "name": "topic.resource_type",
            "type": "string",
            "x-example": "items"
          },
          {
            "description": "Filter on the topic action",
            "enum": [
              "created",
              "updated",
              "deleted",
              "disappeared",
              "connection-rssi-changed"
            ],
            "in": "query",
            "name": "topic.action",
            "type": "string",
            "x-example": "created"
          },
          {
            "description": "Filter on the topic resource id",
            "in": "query",
            "name": "topic.resource",
            "type": "string",
            "x-example": "5b7d6cbd7503c445552a1664"
          },
          {
            "description": "Filter on the time the event was generated on the device.",
            "format": "dateTime",
            "in": "query",
            "name": "time_event",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the event will expire.",
            "format": "dateTime",
            "in": "query",
            "name": "time_expire",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of events",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/Event"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "tags": [
          "events"
        ],
        "operationId": "getEvents",
        "summary": "Get all events"
      }
    },
    "/events/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the event",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "tags": [
          "events"
        ],
        "operationId": "getEventById",
        "summary": "Get event"
      }
    },
    "/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits directly on `code_hex`, sets the start of the range, use `before_code` to set the end, excludes the given `code` value.",
            "in": "query",
            "name": "after_code",
            "type": "string",
            "x-example": "e20000000000000000000000"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits directly on `code_hex`, sets the end of the range, use `after_code` to set the start, excludes the given `code` value.",
            "in": "query",
            "name": "before_code",
            "type": "string",
            "x-example": "e20000000000000000001fff"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `code_hex`, sets the start of the range, use `until_code` to set the end, includes the given `code` value.",
            "in": "query",
            "name": "from_code",
            "type": "string",
            "x-example": "e20000000000000000000000"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "Limits on `code_hex`, sets the end of the range, use `from_code` to set the start, includes the given `code` value.",
            "in": "query",
            "name": "until_code",
            "type": "string",
            "x-example": "e20000000000000000001ffff"
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter based on the hexadecimal string representation of the item. Supports wildcards: `*`.",
            "in": "query",
            "name": "code_hex",
            "type": "string",
            "x-example": "*42*"
          },
          {
            "description": "Filter based on the custom value. Supports wildcards: `*`",
            "in": "query",
            "name": "custom",
            "type": "string",
            "x-example": "*bar"
          },
          {
            "description": "Only show items which are present of not.",
            "in": "query",
            "name": "is_present",
            "type": "boolean",
            "x-example": true
          },
          {
            "description": "Filter based on the label value. Supports wildcards: `*`",
            "in": "query",
            "name": "label",
            "type": "string",
            "x-example": "*foo*"
          },
          {
            "description": "Filter based on the location",
            "in": "query",
            "name": "location",
            "type": "string"
          },
          {
            "description": "Filter based on metadata. Does a partial match on any value in the metadata object. It is also possible to do an exact/wildcard match on specific properties, e.g. `metadata.foo=bar`",
            "in": "query",
            "name": "metadata",
            "type": "string"
          },
          {
            "description": "Filter based on move count",
            "in": "query",
            "name": "move_count",
            "type": "integer",
            "x-example": 5342
          },
          {
            "description": "Filter based on the detected protocol of an item.",
            "enum": [
              "altbeacon",
              "uniwear",
              "nfc",
              "generic",
              "eddystone",
              "epcgen2",
              "ibeacon",
              "nanoble"
            ],
            "in": "query",
            "name": "protocol",
            "type": "string",
            "x-example": "epcgen2"
          },
          {
            "description": "Filter based on the set the resource is in.",
            "in": "query",
            "name": "sets",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter based on the detected technology of an item.",
            "enum": [
              "bluetooth",
              "optical",
              "rfid"
            ],
            "in": "query",
            "name": "technology",
            "type": "string",
            "x-example": "rfid"
          },
          {
            "description": "Filter based on a full text search. Searched properties depend on the resource type. Matches on any of the given words. Supports quote (exact words) and minus (exclude) operators.",
            "in": "query",
            "name": "text",
            "type": "string",
            "x-example": "penguin"
          },
          {
            "description": "Filter based on the time last present",
            "in": "query",
            "name": "time_last_present",
            "type": "string",
            "x-example": "2018-09-03T10:23:46.596Z"
          },
          {
            "description": "Filter based on time last moved",
            "format": "dateTime",
            "in": "query",
            "name": "time_moved",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter based on the type of an item.",
            "enum": [
              "barcode",
              "bluetitan",
              "gbtag",
              "relay",
              "smarttag",
              "tag"
            ],
            "in": "query",
            "name": "type",
            "type": "string",
            "x-example": "tag"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of items",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/Item"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "tags": [
          "items"
        ],
        "operationId": "getItems",
        "summary": "Get all items"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing item information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the newly added resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "items"
        ],
        "operationId": "addItem",
        "summary": "Create item"
      }
    },
    "/items/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the deleted resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "items"
        ],
        "operationId": "deleteItem",
        "summary": "Delete item"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the items",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        },
        "tags": [
          "items"
        ],
        "operationId": "getItemById",
        "summary": "Get item"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "A JSON object containing item information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItemUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the modified resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "items"
        ],
        "operationId": "updateItem",
        "summary": "Update existing item"
      }
    },
    "/keys": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the secret token.",
            "in": "query",
            "name": "secret",
            "type": "string"
          },
          {
            "description": "Filter on the label.",
            "in": "query",
            "name": "label",
            "type": "string"
          },
          {
            "description": "Filter on read only status.",
            "in": "query",
            "name": "is_read_only",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of keys",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/Key"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "security": [
          {
            "CookieSid": []
          }
        ],
        "tags": [
          "keys"
        ],
        "description": "Can only be used by an **administrative** user.",
        "operationId": "getKeys",
        "summary": "Get all keys"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing key information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Key"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A JSON object containing the newly added resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "security": [
          {
            "CookieSid": []
          }
        ],
        "tags": [
          "keys"
        ],
        "description": "Can only be used by an **administrative** user.",
        "operationId": "addKey",
        "summary": "Create key"
      }
    },
    "/keys/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the deleted resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "security": [
          {
            "CookieSid": []
          }
        ],
        "tags": [
          "keys"
        ],
        "description": "Can only be used by an **administrative** user.",
        "operationId": "deleteKey",
        "summary": "Delete key"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the key",
            "schema": {
              "$ref": "#/definitions/Key"
            }
          }
        },
        "security": [
          {
            "CookieSid": []
          }
        ],
        "tags": [
          "keys"
        ],
        "description": "Can only be used by an **administrative** user.",
        "operationId": "getKeyById",
        "summary": "Get key"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "A JSON object containing key information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the modified resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "security": [
          {
            "CookieSid": []
          }
        ],
        "tags": [
          "keys"
        ],
        "description": "Can only be used by an **administrative** user.",
        "operationId": "updateKey",
        "summary": "Update existing key"
      }
    },
    "/kvpairs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the key-value pair key value.",
            "in": "query",
            "name": "kv_key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of key-value pairs",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/KeyValuePair"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "tags": [
          "kvpairs"
        ],
        "operationId": "getKvPairs",
        "summary": "Get all key-value pairs"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing Key-value information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyValuePair"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A JSON object containing the newly added resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "kvpairs"
        ],
        "operationId": "addKvPairs",
        "summary": "Create key-value pair"
      }
    },
    "/kvpairs/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the deleted resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "kvpairs"
        ],
        "operationId": "deleteKvPair",
        "summary": "Delete key-value pair"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the subscription",
            "schema": {
              "$ref": "#/definitions/KeyValuePair"
            }
          }
        },
        "tags": [
          "kvpairs"
        ],
        "operationId": "getKvPairsById",
        "summary": "Get key-value pair"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "A JSON object containing Key-value information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyValuePairUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the modified resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "kvpairs"
        ],
        "operationId": "updateKvPair",
        "summary": "Update existing Key-value pair"
      }
    },
    "/locationrules": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter based on the label value. Supports wildcards: `*`",
            "in": "query",
            "name": "label",
            "type": "string",
            "x-example": "*foo*"
          },
          {
            "description": "Filter based on the type of location rule.",
            "enum": [
              "allow",
              "disallow",
              "disappeared",
              "debounce"
            ],
            "in": "query",
            "name": "type",
            "type": "string"
          },
          {
            "description": "Filter based on the `enabled` property.",
            "in": "query",
            "name": "enabled",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of location rules",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/LocationRule"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "tags": [
          "locationrules"
        ],
        "operationId": "getLocationRules",
        "summary": "Get all location rules"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing the location rule",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocationRuleUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the newly added resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "locationrules"
        ],
        "operationId": "addLocationRule",
        "summary": "Create location rule"
      }
    },
    "/locationrules/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the deleted resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "locationrules"
        ],
        "operationId": "deleteLocationRule",
        "summary": "Delete location rule"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the location rule",
            "schema": {
              "$ref": "#/definitions/LocationRule"
            }
          }
        },
        "tags": [
          "locationrules"
        ],
        "operationId": "getLocationRuleById",
        "summary": "Get location rule"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "A JSON object containing new properties",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocationRuleUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the modified resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "locationrules"
        ],
        "operationId": "updateLocationRule",
        "summary": "Update existing location rule"
      }
    },
    "/locations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter based on the custom value. Supports wildcards: `*`",
            "in": "query",
            "name": "custom",
            "type": "string",
            "x-example": "*bar"
          },
          {
            "description": "Filter based on the label value. Supports wildcards: `*`",
            "in": "query",
            "name": "label",
            "type": "string",
            "x-example": "*foo*"
          },
          {
            "description": "Filter based on metadata. Does a partial match on any value in the metadata object. It is also possible to do an exact/wildcard match on specific properties, e.g. `metadata.foo=bar`",
            "in": "query",
            "name": "metadata",
            "type": "string"
          },
          {
            "description": "Filter based on a full text search. Searched properties depend on the resource type. Matches on any of the given words. Supports quote (exact words) and minus (exclude) operators.",
            "in": "query",
            "name": "text",
            "type": "string",
            "x-example": "penguin"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of locations",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/Location"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "tags": [
          "locations"
        ],
        "operationId": "getLocations",
        "summary": "Get all locations"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing location information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Location"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A JSON object containing the newly added resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "locations"
        ],
        "operationId": "addLocation",
        "summary": "Create location"
      }
    },
    "/locations/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the deleted resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "locations"
        ],
        "operationId": "deleteLocation",
        "summary": "Delete location"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the location",
            "schema": {
              "$ref": "#/definitions/Location"
            }
          }
        },
        "tags": [
          "locations"
        ],
        "operationId": "getLocationById",
        "summary": "Get location"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "A JSON object containing location information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Location"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the modified resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "locations"
        ],
        "operationId": "updateLocation",
        "summary": "Update existing location"
      }
    },
    "/presences": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter based on the item",
            "in": "query",
            "name": "item",
            "type": "string"
          },
          {
            "description": "Filter based on the location",
            "in": "query",
            "name": "location",
            "type": "string"
          },
          {
            "description": "Filter based on the proximity.",
            "enum": [
              "far",
              "near",
              "immediate"
            ],
            "in": "query",
            "name": "proximity",
            "type": "string",
            "x-example": "immediate"
          },
          {
            "description": "Filter based on the detected technology of an item.",
            "enum": [
              "bluetooth",
              "optical",
              "rfid"
            ],
            "in": "query",
            "name": "technology",
            "type": "string",
            "x-example": "rfid"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of presences",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/Presence"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "tags": [
          "presences"
        ],
        "operationId": "getPresences",
        "summary": "Get all presences"
      }
    },
    "/presences/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the presence",
            "schema": {
              "$ref": "#/definitions/Presence"
            }
          }
        },
        "tags": [
          "presences"
        ],
        "operationId": "getPresenceById",
        "summary": "Get presence"
      }
    },
    "/services": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter based on the name of the resource. Supports wildcards: `*`",
            "in": "query",
            "name": "name",
            "type": "string",
            "x-example": "*foo*"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of services",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/ResponseEnvelope"
                },
                {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/definitions/Service"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          }
        },
        "tags": [
          "services"
        ],
        "operationId": "getServices",
        "summary": "Get all services"
      }
    },
    "/services/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the service",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          }
        },
        "tags": [
          "services"
        ],
        "operationId": "getServiceById",
        "summary": "Get service"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "A JSON object containing service information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Service"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the modified resource",
            "schema": {
              "$ref": "#/definitions/ResponseDefaultResource"
            }
          }
        },
        "tags": [
          "services"
        ],
        "operationId": "updateService",
        "summary": "Update existing service"
      }
    },
    "/sets/itemlists": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "date-time",
            "in": "query",
            "name": "after",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "after_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, exclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "before",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits directly on `id` excludes the given `id` value, please note that `id` is chronological.",
            "in": "query",
            "name": "before_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "from",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "from_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes `url` fields from output and shows `_id` instead of `_url` in references.",
            "in": "query",
            "name": "id_only",
            "type": "boolean"
          },
          {
            "default": 100,
            "description": "Sets the maximum number of returned resources. You may increase this number to large values, keep in mind that query times could become large. We advise you to use the pagination feature whenever you can.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-example": 5
          },
          {
            "description": "Expand a reference into the actual resource (lookup). You may add multiple fields by giving a comma separated value.",
            "in": "query",
            "name": "populate",
            "type": "string",
            "x-example": "location,item"
          },
          {
            "allowEmptyValue": true,
            "default": false,
            "description": "Removes response envelope with information about query, only sends back a JSON array with the applicable resources.",
            "in": "query",
            "name": "results_only",
            "type": "boolean"
          },
          {
            "default": "-id",
            "description": "Allows you to sort on on or more fields in the resource. You may append a minus sign (`-`) to request reverse order (new to old).",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-example": "-move_count,technology"
          },
          {
            "description": "Limits on `time_created`, inclusive.",
            "format": "dateTime",
            "in": "query",
            "name": "until",
            "type": "string",
            "x-example": "2016-01-27T08:38:55.255Z"
          },
          {
            "description": "Limits on `id`, includes the given `id` value.",
            "in": "query",
            "name": "until_id",
            "type": "string",
            "x-example": "56a88364e783152127d15340"
          },
          {
            "description": "Overrides the default query timeout (in seconds). A value of 0 means unlimited. IMPORTANT: using high timeouts in production code is strongly discouraged as it may lead to stability issues.",
            "in": "query",
            "name": "timeout_s",
            "type": "number",
            "x-example": 60
          },
          {
            "description": "unique identifier",
            "in": "query",
            "name": "id",
            "type": "string",
            "x-example": "5b8d0b717503c445552a1865"
          },
          {
            "description": "Filter on the time the resource was created.",
            "format": "dateTime",
            "in": "query",
            "name": "time_created",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter on the time the resource was last updated",
            "format": "dateTime",
            "in": "query",
            "name": "time_updated",
            "type": "string",
            "x-example": "2018-08-30T09:51:59.737Z"
          },
          {
            "description": "Filter based on the custom value. Supports wildcards: `*`",
            "in": "query",
            "name": "custom",
            "type": "string",
            "x-example": "*bar"
          },
          {
            "description": "Filter based on the label value. Supports wildcards: `*`",
            "in": "query",
            "name": "label",
            "type": "string",
            "x-example": "*foo*"
          },
          {
            "description": "Filter based on metadata. Does a partial match on any value in the metadata object. It is also possible to do an exact/wildcard match on specific properties, e.g. `metadata.foo=bar`",
            "in": "query",
            "name": "metadata",
            "type": "string"
          },
          {
            "description": "Filter based on a full text search. Searched properties depend on the resource type. Matches on any of the given words. Supports quote (exact words) and minus (exclude) operators.",
            "in": "query",
            "name": "text",
            "type": "string",
            "x-example": "penguin"
          },
          {
            "description": "Filter based on the total amount of items in the list",
            "in": "query",
            "name": "total",
            "type": "integer",
            "x-example": 2
          },
          {
            "description": "The sha1 checksum of the list. This will change when the list is mutated.",
            "in": "query",
            "name": "sha1",
            "type": "string",
            "x-example": "92cfceb39d57d914ed8b14d0e37643de0797ae56"
          }
[...]
