{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "EC2 Image Builder is a fully managed AWS service that makes it easier to automate the creation, management, and deployment of customized, secure, and up-to-date \"golden\" server images that are pre-installed and pre-configured with software and settings to meet specific IT standards.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "EC2 Image Builder",
    "version": "2019-12-02",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/imagebuilder-2019-12-02.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "imagebuilder",
    "x-datafire": {
      "name": "amazonaws_imagebuilder",
      "type": "openapi"
    }
  },
  "host": "imagebuilder.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/CancelImageCreation": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "clientToken": {
                  "description": "The idempotency token used to make this request idempotent.",
                  "maxLength": 36,
                  "minLength": 1,
                  "type": "string"
                },
                "imageBuildVersionArn": {
                  "description": "The Amazon Resource Name (ARN) of the image whose creation you want to cancel.",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                }
              },
              "required": [
                "imageBuildVersionArn",
                "clientToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelImageCreationResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "486": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "487": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "CancelImageCreation cancels the creation of Image. This operation can only be used on images in a non-terminal state.",
        "operationId": "CancelImageCreation"
      }
    },
    "/CreateComponent": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags of the component.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "changeDescription": {
                  "description": "The change description of the component. Describes what change has been made in this version, or what makes this version different from other versions of this component.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "clientToken": {
                  "description": "The idempotency token of the component.",
                  "maxLength": 36,
                  "minLength": 1,
                  "type": "string"
                },
                "data": {
                  "description": "The data of the component. Used to specify the data inline. Either <code>data</code> or <code>uri</code> can be used to specify the data within the component.",
                  "maxLength": 16000,
                  "minLength": 1,
                  "pattern": "[^\\x00]+",
                  "type": "string"
                },
                "description": {
                  "description": "The description of the component. Describes the contents of the component.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "kmsKeyId": {
                  "description": "The ID of the KMS key that should be used to encrypt this component.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the component.",
                  "pattern": "^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$",
                  "type": "string"
                },
                "platform": {
                  "description": "The platform of the component.",
                  "enum": [
                    "Windows",
                    "Linux"
                  ],
                  "type": "string"
                },
                "semanticVersion": {
                  "description": "The semantic version of the component. This version follows the semantic version syntax. For example, major.minor.patch. This could be versioned like software (2.0.1) or like a date (2019.12.01).",
                  "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$",
                  "type": "string"
                },
                "supportedOsVersions": {
                  "description": " The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the parent image OS version during image recipe creation. ",
                  "items": {
                    "$ref": "#/definitions/OsVersion"
                  },
                  "maxItems": 25,
                  "minItems": 1,
                  "type": "array"
                },
                "uri": {
                  "description": "The uri of the component. Must be an S3 URL and the requester must have permission to access the S3 bucket. If you use S3, you can specify component content up to your service quota. Either <code>data</code> or <code>uri</code> can be used to specify the data within the component.",
                  "type": "string"
                }
              },
              "required": [
                "name",
                "semanticVersion",
                "platform",
                "clientToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateComponentResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "486": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "487": {
            "description": "InvalidVersionNumberException",
            "schema": {
              "$ref": "#/definitions/InvalidVersionNumberException"
            }
          },
          "488": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "489": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "490": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          }
        },
        "description": "Creates a new component that can be used to build, validate, test, and assess your image.",
        "operationId": "CreateComponent"
      }
    },
    "/CreateContainerRecipe": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "components": {
                  "description": "Components for build and test that are included in the container recipe.",
                  "items": {
                    "$ref": "#/definitions/ComponentConfiguration"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "Tags that are attached to the container recipe.",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "clientToken": {
                  "description": "The client token used to make this request idempotent.",
                  "maxLength": 36,
                  "minLength": 1,
                  "type": "string"
                },
                "containerType": {
                  "description": "The type of container to create.",
                  "enum": [
                    "DOCKER"
                  ],
                  "type": "string"
                },
                "description": {
                  "description": "The description of the container recipe.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "dockerfileTemplateData": {
                  "description": "The Dockerfile template used to build your image as an inline data blob.",
                  "maxLength": 16000,
                  "minLength": 1,
                  "pattern": "[^\\x00]+",
                  "type": "string"
                },
                "dockerfileTemplateUri": {
                  "description": "The S3 URI for the Dockerfile that will be used to build your container image.",
                  "type": "string"
                },
                "imageOsVersionOverride": {
                  "description": "Specifies the operating system version for the source image.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "kmsKeyId": {
                  "description": "Identifies which KMS key is used to encrypt the container image.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the container recipe.",
                  "pattern": "^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$",
                  "type": "string"
                },
                "parentImage": {
                  "description": "The source image for the container recipe.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "platformOverride": {
                  "description": "Specifies the operating system platform when you use a custom source image.",
                  "enum": [
                    "Windows",
                    "Linux"
                  ],
                  "type": "string"
                },
                "semanticVersion": {
                  "description": "The semantic version of the container recipe (&lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;).",
                  "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$",
                  "type": "string"
                },
                "targetRepository": {
                  "description": "The container repository where the output container image is stored.",
                  "properties": {
                    "repositoryName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NonEmptyString"
                        },
                        {
                          "description": "The name of the container repository where the output container image is stored. This name is prefixed by the repository location."
                        }
                      ]
                    },
                    "service": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ContainerRepositoryService"
                        },
                        {
                          "description": "Specifies the service in which this image was registered."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "workingDirectory": {
                  "description": "The working directory for use during build and test workflows.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "containerType",
                "name",
                "semanticVersion",
                "components",
                "dockerfileTemplateData",
                "parentImage",
                "targetRepository",
                "clientToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateContainerRecipeResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "486": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "487": {
            "description": "InvalidVersionNumberException",
            "schema": {
              "$ref": "#/definitions/InvalidVersionNumberException"
            }
          },
          "488": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "489": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "490": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          }
        },
        "description": "Creates a new container recipe. Container recipes define how images are configured, tested, and assessed.",
        "operationId": "CreateContainerRecipe"
      }
    },
    "/CreateDistributionConfiguration": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": " The tags of the distribution configuration. ",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "clientToken": {
                  "description": " The idempotency token of the distribution configuration. ",
                  "maxLength": 36,
                  "minLength": 1,
                  "type": "string"
                },
                "description": {
                  "description": " The description of the distribution configuration. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "distributions": {
                  "description": " The distributions of the distribution configuration. ",
                  "items": {
                    "$ref": "#/definitions/Distribution"
                  },
                  "type": "array"
                },
                "name": {
                  "description": " The name of the distribution configuration. ",
                  "pattern": "^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$",
                  "type": "string"
                }
              },
              "required": [
                "name",
                "distributions",
                "clientToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDistributionConfigurationResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "486": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "487": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "488": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "489": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "490": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          }
        },
        "description": "Creates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline. ",
        "operationId": "CreateDistributionConfiguration"
      }
    },
    "/CreateImage": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": " The tags of the image. ",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "clientToken": {
                  "description": " The idempotency token used to make this request idempotent. ",
                  "maxLength": 36,
                  "minLength": 1,
                  "type": "string"
                },
                "containerRecipeArn": {
                  "description": "The Amazon Resource Name (ARN) of the container recipe that defines how images are configured and tested.",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):container-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
                  "type": "string"
                },
                "distributionConfigurationArn": {
                  "description": " The Amazon Resource Name (ARN) of the distribution configuration that defines and configures the outputs of your pipeline. ",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):distribution-configuration/[a-z0-9-_]+$",
                  "type": "string"
                },
                "enhancedImageMetadataEnabled": {
                  "description": " Collects additional information about the image being created, including the operating system (OS) version and package list. This information is used to enhance the overall experience of using EC2 Image Builder. Enabled by default. ",
                  "type": "boolean"
                },
                "imageRecipeArn": {
                  "description": " The Amazon Resource Name (ARN) of the image recipe that defines how images are configured, tested, and assessed. ",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
                  "type": "string"
                },
                "imageTestsConfiguration": {
                  "description": "Image tests configuration.",
                  "properties": {
                    "imageTestsEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NullableBoolean"
                        },
                        {
                          "description": "Defines if tests should be executed when building this image."
                        }
                      ]
                    },
                    "timeoutMinutes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ImageTestsTimeoutMinutes"
                        },
                        {
                          "description": "The maximum time in minutes that tests are permitted to run."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "infrastructureConfigurationArn": {
                  "description": " The Amazon Resource Name (ARN) of the infrastructure configuration that defines the environment in which your image will be built and tested. ",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):infrastructure-configuration/[a-z0-9-_]+$",
                  "type": "string"
                }
              },
              "required": [
                "infrastructureConfigurationArn",
                "clientToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateImageResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "486": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "487": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "488": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          }
        },
        "description": " Creates a new image. This request will create a new image along with all of the configured output resources defined in the distribution configuration. ",
        "operationId": "CreateImage"
      }
    },
    "/CreateImagePipeline": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": " The tags of the image pipeline. ",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "clientToken": {
                  "description": " The idempotency token used to make this request idempotent. ",
                  "maxLength": 36,
                  "minLength": 1,
                  "type": "string"
                },
                "containerRecipeArn": {
                  "description": "The Amazon Resource Name (ARN) of the container recipe that is used to configure images created by this container pipeline.",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):container-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
                  "type": "string"
                },
                "description": {
                  "description": " The description of the image pipeline. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "distributionConfigurationArn": {
                  "description": " The Amazon Resource Name (ARN) of the distribution configuration that will be used to configure and distribute images created by this image pipeline. ",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):distribution-configuration/[a-z0-9-_]+$",
                  "type": "string"
                },
                "enhancedImageMetadataEnabled": {
                  "description": " Collects additional information about the image being created, including the operating system (OS) version and package list. This information is used to enhance the overall experience of using EC2 Image Builder. Enabled by default. ",
                  "type": "boolean"
                },
                "imageRecipeArn": {
                  "description": " The Amazon Resource Name (ARN) of the image recipe that will be used to configure images created by this image pipeline. ",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
                  "type": "string"
                },
                "imageTestsConfiguration": {
                  "description": "Image tests configuration.",
                  "properties": {
                    "imageTestsEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NullableBoolean"
                        },
                        {
                          "description": "Defines if tests should be executed when building this image."
                        }
                      ]
                    },
                    "timeoutMinutes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ImageTestsTimeoutMinutes"
                        },
                        {
                          "description": "The maximum time in minutes that tests are permitted to run."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "infrastructureConfigurationArn": {
                  "description": " The Amazon Resource Name (ARN) of the infrastructure configuration that will be used to build images created by this image pipeline. ",
                  "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):infrastructure-configuration/[a-z0-9-_]+$",
                  "type": "string"
                },
                "name": {
                  "description": " The name of the image pipeline. ",
                  "pattern": "^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$",
                  "type": "string"
                },
                "schedule": {
                  "description": "A schedule configures how often and when a pipeline will automatically create a new image. ",
                  "properties": {
                    "pipelineExecutionStartCondition": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PipelineExecutionStartCondition"
                        },
                        {
                          "description": "The condition configures when the pipeline should trigger a new image build. When the <code>pipelineExecutionStartCondition</code> is set to <code>EXPRESSION_MATCH_AND_DEPENDENCY_UPDATES_AVAILABLE</code>, and you use semantic version filters on the source image or components in your image recipe, EC2 Image Builder will build a new image only when there are new versions of the image or components in your recipe that match the semantic version filter. When it is set to <code>EXPRESSION_MATCH_ONLY</code>, it will build a new image every time the CRON expression matches the current time. For semantic version syntax, see <a href=\"https://docs.aws.amazon.com/imagebuilder/latest/APIReference/API_CreateComponent.html\">CreateComponent</a> in the <i> EC2 Image Builder API Reference</i>."
                        }
                      ]
                    },
                    "scheduleExpression": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NonEmptyString"
                        },
                        {
                          "description": "<p>The cron expression determines how often EC2 Image Builder evaluates your <code>pipelineExecutionStartCondition</code>.</p> <p>For information on how to format a cron expression in Image Builder, see <a href=\"https://docs.aws.amazon.com/imagebuilder/latest/userguide/image-builder-cron.html\">Use cron expressions in EC2 Image Builder</a>.</p>"
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "status": {
                  "description": " The status of the image pipeline. ",
                  "enum": [
                    "DISABLED",
                    "ENABLED"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "name",
                "infrastructureConfigurationArn",
                "clientToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateImagePipelineResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "486": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "487": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "488": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "489": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          }
        },
        "description": " Creates a new image pipeline. Image pipelines enable you to automate the creation and distribution of images. ",
        "operationId": "CreateImagePipeline"
      }
    },
    "/CreateImageRecipe": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "components": {
                  "description": "The components of the image recipe. ",
                  "items": {
                    "$ref": "#/definitions/ComponentConfiguration"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": " The tags of the image recipe. ",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "blockDeviceMappings": {
                  "description": "The block device mappings of the image recipe. ",
                  "items": {
                    "$ref": "#/definitions/InstanceBlockDeviceMapping"
                  },
                  "type": "array"
                },
                "clientToken": {
                  "description": "The idempotency token used to make this request idempotent. ",
                  "maxLength": 36,
                  "minLength": 1,
                  "type": "string"
                },
                "description": {
                  "description": " The description of the image recipe. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": " The name of the image recipe. ",
                  "pattern": "^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$",
                  "type": "string"
                },
                "parentImage": {
                  "description": "The parent image of the image recipe. The value of the string can be the ARN of the parent image or an AMI ID. The format for the ARN follows this example: <code>arn:aws:imagebuilder:us-west-2:aws:image/windows-server-2016-english-full-base-x86/xxxx.x.x</code>. You can provide the specific version that you want to use, or you can use a wildcard in all of the fields. If you enter an AMI ID for the string value, you must have access to the AMI, and the AMI must be in the same Region in which you are using Image Builder. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "semanticVersion": {
                  "description": "The semantic version of the image recipe. ",
                  "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$",
                  "type": "string"
                },
                "workingDirectory": {
                  "description": "The working directory to be used during build and test workflows.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "name",
                "semanticVersion",
                "components",
                "parentImage",
                "clientToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateImageRecipeResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "486": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "487": {
            "description": "InvalidVersionNumberException",
            "schema": {
              "$ref": "#/definitions/InvalidVersionNumberException"
            }
          },
          "488": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "489": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "490": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          }
        },
        "description": " Creates a new image recipe. Image recipes define how images are configured, tested, and assessed. ",
        "operationId": "CreateImageRecipe"
      }
    },
    "/CreateInfrastructureConfiguration": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags of the infrastructure configuration. ",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                },
                "clientToken": {
                  "description": "The idempotency token used to make this request idempotent. ",
                  "maxLength": 36,
                  "minLength": 1,
                  "type": "string"
                },
                "description": {
                  "description": "The description of the infrastructure configuration. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "instanceProfileName": {
                  "description": "The instance profile to associate with the instance used to customize your EC2 AMI. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "instanceTypes": {
                  "description": "The instance types of the infrastructure configuration. You can specify one or more instance types to use for this build. The service will pick one of these instance types based on availability. ",
                  "items": {
                    "$ref": "#/definitions/InstanceType"
                  },
                  "type": "array"
                },
                "keyPair": {
                  "description": "The key pair of the infrastructure configuration. This can be used to log on to and debug the instance used to create your image. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "logging": {
                  "description": "Logging configuration defines where Image Builder uploads your logs.",
                  "properties": {
                    "s3Logs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Logs"
                        },
                        {
                          "description": "The Amazon S3 logging configuration."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "The name of the infrastructure configuration. ",
                  "pattern": "^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$",
                  "type": "string"
                },
                "resourceTags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags attached to the resource created by Image Builder.",
                  "maxProperties": 30,
                  "minProperties": 1,
                  "type": "object"
                },
                "securityGroupIds": {
                  "description": "The security group IDs to associate with the instance used to customize your EC2 AMI. ",
                  "items": {
                    "$ref": "#/definitions/NonEmptyString"
                  },
                  "type": "array"
                },
                "snsTopicArn": {
                  "description": "The SNS topic on which to send image build events. ",
                  "pattern": "^arn:aws[^:]*:sns:[^:]+:\\d{12}:[a-zA-Z0-9-_]{1,256}$",
                  "type": "string"
                },
                "subnetId": {
                  "description": "The subnet ID in which to place the instance used to customize your EC2 AMI. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "terminateInstanceOnFailure": {
                  "description": "The terminate instance on failure setting of the infrastructure configuration. Set to false if you want Image Builder to retain the instance used to configure your AMI if the build or test phase of your workflow fails. ",
                  "type": "boolean"
                }
              },
              "required": [
                "name",
                "instanceProfileName",
                "clientToken"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateInfrastructureConfigurationResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "IdempotentParameterMismatchException",
            "schema": {
              "$ref": "#/definitions/IdempotentParameterMismatchException"
            }
          },
          "485": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "486": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "487": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "488": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "489": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          }
        },
        "description": " Creates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested. ",
        "operationId": "CreateInfrastructureConfiguration"
      }
    },
    "/DeleteComponent#componentBuildVersionArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the component build version to delete. ",
            "in": "query",
            "name": "componentBuildVersionArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+/\\d+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteComponentResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "486": {
            "description": "ResourceDependencyException",
            "schema": {
              "$ref": "#/definitions/ResourceDependencyException"
            }
          }
        },
        "description": " Deletes a component build version. ",
        "operationId": "DeleteComponent"
      }
    },
    "/DeleteContainerRecipe#containerRecipeArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the container recipe to delete.",
            "in": "query",
            "name": "containerRecipeArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):container-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteContainerRecipeResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "486": {
            "description": "ResourceDependencyException",
            "schema": {
              "$ref": "#/definitions/ResourceDependencyException"
            }
          }
        },
        "description": "Deletes a container recipe.",
        "operationId": "DeleteContainerRecipe"
      }
    },
    "/DeleteDistributionConfiguration#distributionConfigurationArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the distribution configuration to delete. ",
            "in": "query",
            "name": "distributionConfigurationArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):distribution-configuration/[a-z0-9-_]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDistributionConfigurationResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "486": {
            "description": "ResourceDependencyException",
            "schema": {
              "$ref": "#/definitions/ResourceDependencyException"
            }
          }
        },
        "description": " Deletes a distribution configuration. ",
        "operationId": "DeleteDistributionConfiguration"
      }
    },
    "/DeleteImage#imageBuildVersionArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the image to delete. ",
            "in": "query",
            "name": "imageBuildVersionArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+/\\d+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteImageResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "486": {
            "description": "ResourceDependencyException",
            "schema": {
              "$ref": "#/definitions/ResourceDependencyException"
            }
          }
        },
        "description": " Deletes an image. ",
        "operationId": "DeleteImage"
      }
    },
    "/DeleteImagePipeline#imagePipelineArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the image pipeline to delete. ",
            "in": "query",
            "name": "imagePipelineArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image-pipeline/[a-z0-9-_]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteImagePipelineResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "486": {
            "description": "ResourceDependencyException",
            "schema": {
              "$ref": "#/definitions/ResourceDependencyException"
            }
          }
        },
        "description": " Deletes an image pipeline. ",
        "operationId": "DeleteImagePipeline"
      }
    },
    "/DeleteImageRecipe#imageRecipeArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the image recipe to delete. ",
            "in": "query",
            "name": "imageRecipeArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteImageRecipeResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "486": {
            "description": "ResourceDependencyException",
            "schema": {
              "$ref": "#/definitions/ResourceDependencyException"
            }
          }
        },
        "description": " Deletes an image recipe. ",
        "operationId": "DeleteImageRecipe"
      }
    },
    "/DeleteInfrastructureConfiguration#infrastructureConfigurationArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the infrastructure configuration to delete. ",
            "in": "query",
            "name": "infrastructureConfigurationArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):infrastructure-configuration/[a-z0-9-_]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteInfrastructureConfigurationResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          },
          "486": {
            "description": "ResourceDependencyException",
            "schema": {
              "$ref": "#/definitions/ResourceDependencyException"
            }
          }
        },
        "description": " Deletes an infrastructure configuration. ",
        "operationId": "DeleteInfrastructureConfiguration"
      }
    },
    "/GetComponent#componentBuildVersionArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the component that you want to retrieve. Regex requires \"/\\d+$\" suffix.",
            "in": "query",
            "name": "componentBuildVersionArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/(?:(?:(\\d+|x)\\.(\\d+|x)\\.(\\d+|x))|(?:\\d+\\.\\d+\\.\\d+/\\d+))$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetComponentResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          }
        },
        "description": " Gets a component object. ",
        "operationId": "GetComponent"
      }
    },
    "/GetComponentPolicy#componentArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the component whose policy you want to retrieve. ",
            "in": "query",
            "name": "componentArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+/\\d+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetComponentPolicyResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          }
        },
        "description": " Gets a component policy. ",
        "operationId": "GetComponentPolicy"
      }
    },
    "/GetContainerRecipe#containerRecipeArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the container recipe to retrieve.",
            "in": "query",
            "name": "containerRecipeArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):container-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetContainerRecipeResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          }
        },
        "description": "Retrieves a container recipe.",
        "operationId": "GetContainerRecipe"
      }
    },
    "/GetContainerRecipePolicy#containerRecipeArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the container recipe for the policy being requested.",
            "in": "query",
            "name": "containerRecipeArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):container-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetContainerRecipePolicyResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          }
        },
        "description": "Retrieves the policy for a container recipe.",
        "operationId": "GetContainerRecipePolicy"
      }
    },
    "/GetDistributionConfiguration#distributionConfigurationArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the distribution configuration that you want to retrieve. ",
            "in": "query",
            "name": "distributionConfigurationArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):distribution-configuration/[a-z0-9-_]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDistributionConfigurationResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "485": {
            "description": "CallRateLimitExceededException",
            "schema": {
              "$ref": "#/definitions/CallRateLimitExceededException"
            }
          }
        },
        "description": " Gets a distribution configuration. ",
        "operationId": "GetDistributionConfiguration"
      }
    },
    "/GetImage#imageBuildVersionArn": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the image that you want to retrieve. ",
            "in": "query",
            "name": "imageBuildVersionArn",
            "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image/[a-z0-9-_]+/(?:(?:(\\d+|x)\\.(\\d+|x)\\.(\\d+|x))|(?:\\d+\\.\\d+\\.\\d+/\\d+))$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
[...]
