{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "AWS Cloud Map lets you configure public DNS, private DNS, or HTTP namespaces that your microservice applications run in. When an instance of the service becomes available, you can call the AWS Cloud Map API to register the instance with AWS Cloud Map. For public or private DNS namespaces, AWS Cloud Map automatically creates DNS records and an optional health check. Clients that submit public or private DNS queries, or HTTP requests, for the service receive an answer that contains up to eight healthy records. ",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Cloud Map",
    "version": "2017-03-14",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/servicediscovery-2017-03-14.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "servicediscovery",
    "x-datafire": {
      "name": "amazonaws_servicediscovery",
      "type": "openapi"
    }
  },
  "host": "servicediscovery.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=Route53AutoNaming_v20170314.CreateHttpNamespace": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.CreateHttpNamespace"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateHttpNamespaceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateHttpNamespaceResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "NamespaceAlreadyExists",
            "schema": {
              "$ref": "#/definitions/NamespaceAlreadyExists"
            }
          },
          "482": {
            "description": "ResourceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ResourceLimitExceeded"
            }
          },
          "483": {
            "description": "DuplicateRequest",
            "schema": {
              "$ref": "#/definitions/DuplicateRequest"
            }
          },
          "484": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "<p>Creates an HTTP namespace. Service instances that you register using an HTTP namespace can be discovered using a <code>DiscoverInstances</code> request but can't be discovered using DNS. </p> <p>For the current quota on the number of namespaces that you can create using the same AWS account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map quotas</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>",
        "operationId": "CreateHttpNamespace"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.CreatePrivateDnsNamespace": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.CreatePrivateDnsNamespace"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePrivateDnsNamespaceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePrivateDnsNamespaceResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "NamespaceAlreadyExists",
            "schema": {
              "$ref": "#/definitions/NamespaceAlreadyExists"
            }
          },
          "482": {
            "description": "ResourceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ResourceLimitExceeded"
            }
          },
          "483": {
            "description": "DuplicateRequest",
            "schema": {
              "$ref": "#/definitions/DuplicateRequest"
            }
          },
          "484": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "Creates a private namespace based on DNS, which will be visible only inside a specified Amazon VPC. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. For the current quota on the number of namespaces that you can create using the same AWS account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.",
        "operationId": "CreatePrivateDnsNamespace"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.CreatePublicDnsNamespace": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.CreatePublicDnsNamespace"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePublicDnsNamespaceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePublicDnsNamespaceResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "NamespaceAlreadyExists",
            "schema": {
              "$ref": "#/definitions/NamespaceAlreadyExists"
            }
          },
          "482": {
            "description": "ResourceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ResourceLimitExceeded"
            }
          },
          "483": {
            "description": "DuplicateRequest",
            "schema": {
              "$ref": "#/definitions/DuplicateRequest"
            }
          },
          "484": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "Creates a public namespace based on DNS, which will be visible on the internet. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. For the current quota on the number of namespaces that you can create using the same AWS account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.",
        "operationId": "CreatePublicDnsNamespace"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.CreateService": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.CreateService"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateServiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateServiceResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "ResourceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ResourceLimitExceeded"
            }
          },
          "482": {
            "description": "NamespaceNotFound",
            "schema": {
              "$ref": "#/definitions/NamespaceNotFound"
            }
          },
          "483": {
            "description": "ServiceAlreadyExists",
            "schema": {
              "$ref": "#/definitions/ServiceAlreadyExists"
            }
          },
          "484": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "<p>Creates a service, which defines the configuration for the following entities:</p> <ul> <li> <p>For public and private DNS namespaces, one of the following combinations of DNS records in Amazon Route 53:</p> <ul> <li> <p> <code>A</code> </p> </li> <li> <p> <code>AAAA</code> </p> </li> <li> <p> <code>A</code> and <code>AAAA</code> </p> </li> <li> <p> <code>SRV</code> </p> </li> <li> <p> <code>CNAME</code> </p> </li> </ul> </li> <li> <p>Optionally, a health check</p> </li> </ul> <p>After you create the service, you can submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request, and AWS Cloud Map uses the values in the configuration to create the specified entities.</p> <p>For the current quota on the number of instances that you can register using the same namespace and using the same service, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>",
        "operationId": "CreateService"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.DeleteNamespace": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.DeleteNamespace"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteNamespaceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteNamespaceResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "NamespaceNotFound",
            "schema": {
              "$ref": "#/definitions/NamespaceNotFound"
            }
          },
          "482": {
            "description": "ResourceInUse",
            "schema": {
              "$ref": "#/definitions/ResourceInUse"
            }
          },
          "483": {
            "description": "DuplicateRequest",
            "schema": {
              "$ref": "#/definitions/DuplicateRequest"
            }
          }
        },
        "description": "Deletes a namespace from the current account. If the namespace still contains one or more services, the request fails.",
        "operationId": "DeleteNamespace"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.DeleteService": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.DeleteService"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteServiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteServiceResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          },
          "482": {
            "description": "ResourceInUse",
            "schema": {
              "$ref": "#/definitions/ResourceInUse"
            }
          }
        },
        "description": "Deletes a specified service. If the service still contains one or more registered instances, the request fails.",
        "operationId": "DeleteService"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.DeregisterInstance": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.DeregisterInstance"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeregisterInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeregisterInstanceResponse"
            }
          },
          "480": {
            "description": "DuplicateRequest",
            "schema": {
              "$ref": "#/definitions/DuplicateRequest"
            }
          },
          "481": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "482": {
            "description": "InstanceNotFound",
            "schema": {
              "$ref": "#/definitions/InstanceNotFound"
            }
          },
          "483": {
            "description": "ResourceInUse",
            "schema": {
              "$ref": "#/definitions/ResourceInUse"
            }
          },
          "484": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          }
        },
        "description": "Deletes the Amazon Route 53 DNS records and health check, if any, that AWS Cloud Map created for the specified instance.",
        "operationId": "DeregisterInstance"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.DiscoverInstances": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.DiscoverInstances"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoverInstancesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DiscoverInstancesResponse"
            }
          },
          "480": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          },
          "481": {
            "description": "NamespaceNotFound",
            "schema": {
              "$ref": "#/definitions/NamespaceNotFound"
            }
          },
          "482": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "483": {
            "description": "RequestLimitExceeded",
            "schema": {
              "$ref": "#/definitions/RequestLimitExceeded"
            }
          }
        },
        "description": "Discovers registered instances for a specified namespace and service. You can use <code>DiscoverInstances</code> to discover instances for any type of namespace. For public and private DNS namespaces, you can also use DNS queries to discover instances.",
        "operationId": "DiscoverInstances"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.GetInstance": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.GetInstance"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetInstanceResponse"
            }
          },
          "480": {
            "description": "InstanceNotFound",
            "schema": {
              "$ref": "#/definitions/InstanceNotFound"
            }
          },
          "481": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "482": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          }
        },
        "description": "Gets information about a specified instance.",
        "operationId": "GetInstance"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.GetInstancesHealthStatus": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "Route53AutoNaming_v20170314.GetInstancesHealthStatus"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetInstancesHealthStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetInstancesHealthStatusResponse"
            }
          },
          "480": {
            "description": "InstanceNotFound",
            "schema": {
              "$ref": "#/definitions/InstanceNotFound"
            }
          },
          "481": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "482": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          }
        },
        "description": "<p>Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or <code>Unknown</code>) of one or more instances that are associated with a specified service.</p> <note> <p>There is a brief delay between when you register an instance and when the health status for the instance is available. </p> </note>",
        "operationId": "GetInstancesHealthStatus"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.GetNamespace": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.GetNamespace"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetNamespaceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetNamespaceResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "NamespaceNotFound",
            "schema": {
              "$ref": "#/definitions/NamespaceNotFound"
            }
          }
        },
        "description": "Gets information about a namespace.",
        "operationId": "GetNamespace"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.GetOperation": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.GetOperation"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOperationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetOperationResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "OperationNotFound",
            "schema": {
              "$ref": "#/definitions/OperationNotFound"
            }
          }
        },
        "description": "<p>Gets information about any operation that returns an operation ID in the response, such as a <code>CreateService</code> request.</p> <note> <p>To get a list of operations that match specified criteria, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_ListOperations.html\">ListOperations</a>.</p> </note>",
        "operationId": "GetOperation"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.GetService": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.GetService"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetServiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetServiceResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "481": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          }
        },
        "description": "Gets the settings for a specified service.",
        "operationId": "GetService"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.ListInstances": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "Route53AutoNaming_v20170314.ListInstances"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListInstancesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListInstancesResponse"
            }
          },
          "480": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          },
          "481": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "description": "Lists summary information about the instances that you registered by using a specified service.",
        "operationId": "ListInstances"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.ListNamespaces": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "Route53AutoNaming_v20170314.ListNamespaces"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListNamespacesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListNamespacesResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "description": "Lists summary information about the namespaces that were created by the current AWS account.",
        "operationId": "ListNamespaces"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.ListOperations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "Route53AutoNaming_v20170314.ListOperations"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOperationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListOperationsResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "description": "Lists operations that match the criteria that you specify.",
        "operationId": "ListOperations"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.ListServices": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "Route53AutoNaming_v20170314.ListServices"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListServicesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListServicesResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "description": "Lists summary information for all the services that are associated with one or more specified namespaces.",
        "operationId": "ListServices"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.ListTagsForResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.ListTagsForResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "description": "Lists tags for the specified resource.",
        "operationId": "ListTagsForResource"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.RegisterInstance": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.RegisterInstance"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegisterInstanceResponse"
            }
          },
          "480": {
            "description": "DuplicateRequest",
            "schema": {
              "$ref": "#/definitions/DuplicateRequest"
            }
          },
          "481": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "482": {
            "description": "ResourceInUse",
            "schema": {
              "$ref": "#/definitions/ResourceInUse"
            }
          },
          "483": {
            "description": "ResourceLimitExceeded",
            "schema": {
              "$ref": "#/definitions/ResourceLimitExceeded"
            }
          },
          "484": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          }
        },
        "description": "<p>Creates or updates one or more records and, optionally, creates a health check based on the settings in a specified service. When you submit a <code>RegisterInstance</code> request, the following occurs:</p> <ul> <li> <p>For each DNS record that you define in the service that is specified by <code>ServiceId</code>, a record is created or updated in the hosted zone that is associated with the corresponding namespace.</p> </li> <li> <p>If the service includes <code>HealthCheckConfig</code>, a health check is created based on the settings in the health check configuration.</p> </li> <li> <p>The health check, if any, is associated with each of the new or updated records.</p> </li> </ul> <important> <p>One <code>RegisterInstance</code> request must complete before you can submit another request and specify the same service ID and instance ID.</p> </important> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_CreateService.html\">CreateService</a>.</p> <p>When AWS Cloud Map receives a DNS query for the specified DNS name, it returns the applicable value:</p> <ul> <li> <p> <b>If the health check is healthy</b>: returns all the records</p> </li> <li> <p> <b>If the health check is unhealthy</b>: returns the applicable value for the last healthy instance</p> </li> <li> <p> <b>If you didn't specify a health check configuration</b>: returns all the records</p> </li> </ul> <p>For the current quota on the number of instances that you can register using the same namespace and using the same service, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>",
        "operationId": "RegisterInstance"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.TagResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.TagResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagResourceResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          },
          "482": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "description": "Adds one or more tags to the specified resource.",
        "operationId": "TagResource"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.UntagResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.UntagResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UntagResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagResourceResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "description": "Removes one or more tags from the specified resource.",
        "operationId": "UntagResource"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.UpdateInstanceCustomHealthStatus": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.UpdateInstanceCustomHealthStatus"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateInstanceCustomHealthStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InstanceNotFound",
            "schema": {
              "$ref": "#/definitions/InstanceNotFound"
            }
          },
          "481": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          },
          "482": {
            "description": "CustomHealthNotFound",
            "schema": {
              "$ref": "#/definitions/CustomHealthNotFound"
            }
          },
          "483": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "description": "<p>Submits a request to change the health status of a custom health check to healthy or unhealthy.</p> <p>You can use <code>UpdateInstanceCustomHealthStatus</code> to change the status only for custom health checks, which you define using <code>HealthCheckCustomConfig</code> when you create a service. You can't use it to change the status for Route 53 health checks, which you define using <code>HealthCheckConfig</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_HealthCheckCustomConfig.html\">HealthCheckCustomConfig</a>.</p>",
        "operationId": "UpdateInstanceCustomHealthStatus"
      }
    },
    "/#X-Amz-Target=Route53AutoNaming_v20170314.UpdateService": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Route53AutoNaming_v20170314.UpdateService"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateServiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateServiceResponse"
            }
          },
          "480": {
            "description": "DuplicateRequest",
            "schema": {
              "$ref": "#/definitions/DuplicateRequest"
            }
          },
          "481": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "482": {
            "description": "ServiceNotFound",
            "schema": {
              "$ref": "#/definitions/ServiceNotFound"
            }
          }
        },
        "description": "<p>Submits a request to perform the following operations:</p> <ul> <li> <p>Update the TTL setting for existing <code>DnsRecords</code> configurations</p> </li> <li> <p>Add, update, or delete <code>HealthCheckConfig</code> for a specified service</p> <note> <p>You can't add, update, or delete a <code>HealthCheckCustomConfig</code> configuration.</p> </note> </li> </ul> <p>For public and private DNS namespaces, note the following:</p> <ul> <li> <p>If you omit any existing <code>DnsRecords</code> or <code>HealthCheckConfig</code> configurations from an <code>UpdateService</code> request, the configurations are deleted from the service.</p> </li> <li> <p>If you omit an existing <code>HealthCheckCustomConfig</code> configuration from an <code>UpdateService</code> request, the configuration is not deleted from the service.</p> </li> </ul> <p>When you update settings for a service, AWS Cloud Map also updates the corresponding settings in all the records and health checks that were created by using the specified service.</p>",
        "operationId": "UpdateService"
      }
    }
  },
  "definitions": {
    "AmazonResourceName": {
      "maxLength": 1011,
      "minLength": 1,
      "type": "string"
    },
    "Arn": {
      "maxLength": 255,
      "type": "string"
    },
    "AttrKey": {
      "maxLength": 255,
      "pattern": "^[a-zA-Z0-9!-~]+$",
      "type": "string"
    },
    "AttrValue": {
      "maxLength": 1024,
      "pattern": "^([a-zA-Z0-9!-~][ \\ta-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$",
      "type": "string"
    },
    "Attributes": {
      "additionalProperties": {
        "$ref": "#/definitions/AttrValue"
      },
      "type": "object"
    },
    "Code": {
      "type": "string"
    },
    "CreateHttpNamespaceRequest": {
      "properties": {
        "CreatorRequestId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "A unique string that identifies the request and that allows failed <code>CreateHttpNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceDescription"
            },
            {
              "description": "A description for the namespace."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/NamespaceName"
            },
            {
              "description": "The name that you want to assign to this namespace."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagList"
            },
            {
              "description": "The tags to add to the namespace. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters."
            }
          ]
        }
      },
      "required": [
        "Name"
      ],
      "title": "CreateHttpNamespaceRequest",
      "type": "object"
    },
    "CreateHttpNamespaceResponse": {
      "example": {
        "OperationId": "httpvoqozuhfet5kzxoxg-a-response-example"
      },
      "properties": {
        "OperationId": {
          "allOf": [
            {
              "$ref": "#/definitions/OperationId"
            },
            {
              "description": "A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreatePrivateDnsNamespaceRequest": {
      "properties": {
        "CreatorRequestId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "A unique string that identifies the request and that allows failed <code>CreatePrivateDnsNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceDescription"
            },
            {
              "description": "A description for the namespace."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/NamespaceName"
            },
            {
              "description": "The name that you want to assign to this namespace. When you create a private DNS namespace, AWS Cloud Map automatically creates an Amazon Route 53 private hosted zone that has the same name as the namespace."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagList"
            },
            {
              "description": "The tags to add to the namespace. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters."
            }
          ]
        },
        "Vpc": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "The ID of the Amazon VPC that you want to associate the namespace with."
            }
          ]
        }
      },
      "required": [
        "Name",
        "Vpc"
      ],
      "title": "CreatePrivateDnsNamespaceRequest",
      "type": "object"
    },
    "CreatePrivateDnsNamespaceResponse": {
      "example": {
        "OperationId": "gv4g5meo7ndmeh4fqskygvk23d2fijwa-k9302yzd"
      },
      "properties": {
        "OperationId": {
          "allOf": [
            {
              "$ref": "#/definitions/OperationId"
            },
            {
              "description": "A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreatePublicDnsNamespaceRequest": {
      "properties": {
        "CreatorRequestId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "A unique string that identifies the request and that allows failed <code>CreatePublicDnsNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceDescription"
            },
            {
              "description": "A description for the namespace."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/NamespaceName"
            },
            {
              "description": "The name that you want to assign to this namespace."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagList"
            },
            {
              "description": "The tags to add to the namespace. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters."
            }
          ]
        }
      },
      "required": [
        "Name"
      ],
      "title": "CreatePublicDnsNamespaceRequest",
      "type": "object"
    },
    "CreatePublicDnsNamespaceResponse": {
      "example": {
        "OperationId": "dns2voqozuhfet5kzxoxg-a-response-example"
      },
      "properties": {
        "OperationId": {
          "allOf": [
            {
              "$ref": "#/definitions/OperationId"
            },
            {
              "description": "A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateServiceRequest": {
      "properties": {
        "CreatorRequestId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "A unique string that identifies the request and that allows failed <code>CreateService</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceDescription"
            },
            {
              "description": "A description for the service."
            }
          ]
        },
        "DnsConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/DnsConfig"
            },
            {
              "description": "A complex type that contains information about the Amazon Route 53 records that you want AWS Cloud Map to create when you register an instance. "
            }
          ]
        },
        "HealthCheckConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/HealthCheckConfig"
            },
            {
              "description": "<p> <i>Public DNS and HTTP namespaces only.</i> A complex type that contains settings for an optional Route 53 health check. If you specify settings for a health check, AWS Cloud Map associates the health check with all the Route 53 DNS records that you specify in <code>DnsConfig</code>.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/cloud-map/pricing/\">AWS Cloud Map Pricing</a>.</p>"
            }
          ]
        },
        "HealthCheckCustomConfig": {
          "allOf": [
            {
              "$ref": "#/definitions/HealthCheckCustomConfig"
            },
            {
              "description": "<p>A complex type that contains information about an optional custom health check.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>You can't add, update, or delete a <code>HealthCheckCustomConfig</code> configuration from an existing service.</p>"
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceName"
            },
            {
              "description": "<p>The name that you want to assign to the service.</p> <p>If you want AWS Cloud Map to create an <code>SRV</code> record when you register an instance, and if you're using a system that requires a specific <code>SRV</code> format, such as <a href=\"http://www.haproxy.org/\">HAProxy</a>, specify the following for <code>Name</code>:</p> <ul> <li> <p>Start the name with an underscore (_), such as <code>_exampleservice</code> </p> </li> <li> <p>End the name with <i>._protocol</i>, such as <code>._tcp</code> </p> </li> </ul> <p>When you register an instance, AWS Cloud Map creates an <code>SRV</code> record and assigns a name to the record by concatenating the service name and the namespace name, for example:</p> <p> <code>_exampleservice._tcp.example.com</code> </p>"
            }
          ]
        },
        "NamespaceId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "The ID of the namespace that you want to use to create the service."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagList"
            },
            {
              "description": "The tags to add to the service. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters."
            }
          ]
        }
      },
      "required": [
        "Name"
      ],
      "title": "CreateServiceRequest",
      "type": "object"
    },
    "CreateServiceResponse": {
      "example": {
        "Service": {
          "Arn": "arn:aws:servicediscovery:us-west-2:123456789012:service/srv-p5zdwlg5uvvzjita",
          "CreateDate": 1587081768.334,
          "CreatorRequestId": "567c1193-6b00-4308-bd57-ad38a8822d25",
          "DnsConfig": {
            "DnsRecords": [
              {
                "TTL": 60,
                "Type": "A"
              }
            ],
            "NamespaceId": "ns-ylexjili4cdxy3xm",
            "RoutingPolicy": "MULTIVALUE"
          },
          "Id": "srv-p5zdwlg5uvvzjita",
          "Name": "myservice",
          "NamespaceId": "ns-ylexjili4cdxy3xm"
        }
      },
      "properties": {
        "Service": {
          "allOf": [
            {
              "$ref": "#/definitions/Service"
            },
            {
              "description": "A complex type that contains information about the new service."
            }
          ]
        }
      },
      "type": "object"
    },
    "CustomHealthNotFound": {},
    "CustomHealthStatus": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY"
      ],
      "type": "string"
    },
    "DeleteNamespaceRequest": {
      "properties": {
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "The ID of the namespace that you want to delete."
            }
          ]
        }
      },
      "required": [
        "Id"
      ],
      "title": "DeleteNamespaceRequest",
      "type": "object"
    },
    "DeleteNamespaceResponse": {
      "example": {
        "OperationId": "gv4g5meo7ndmeh4fqskygvk23d2fijwa-k98y6drk"
      },
      "properties": {
        "OperationId": {
          "allOf": [
            {
              "$ref": "#/definitions/OperationId"
            },
            {
              "description": "A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>."
            }
          ]
        }
      },
      "type": "object"
    },
    "DeleteServiceRequest": {
      "properties": {
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "The ID of the service that you want to delete."
            }
          ]
        }
      },
      "required": [
        "Id"
      ],
      "title": "DeleteServiceRequest",
      "type": "object"
    },
    "DeleteServiceResponse": {
      "example": {},
      "properties": {},
      "type": "object"
    },
    "DeregisterInstanceRequest": {
      "properties": {
        "InstanceId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "The value that you specified for <code>Id</code> in the <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request."
            }
          ]
        },
        "ServiceId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "The ID of the service that the instance is associated with."
            }
          ]
        }
      },
      "required": [
        "ServiceId",
        "InstanceId"
      ],
      "title": "DeregisterInstanceRequest",
      "type": "object"
    },
    "DeregisterInstanceResponse": {
      "example": {
        "OperationId": "4yejorelbukcjzpnr6tlmrghsjwpngf4-k98rnaiq"
      },
      "properties": {
        "OperationId": {
          "allOf": [
            {
              "$ref": "#/definitions/OperationId"
            },
            {
              "description": "A value that you can use to determine whether the request completed successfully. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>."
            }
          ]
        }
      },
      "type": "object"
    },
    "DiscoverInstancesRequest": {
      "properties": {
        "HealthStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/HealthStatusFilter"
            },
            {
              "description": "The health status of the instances that you want to discover."
            }
          ]
        },
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/DiscoverMaxResults"
            },
            {
              "description": "The maximum number of instances that you want AWS Cloud Map to return in the response to a <code>DiscoverInstances</code> request. If you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 instances."
            }
          ]
        },
        "NamespaceName": {
          "allOf": [
            {
              "$ref": "#/definitions/NamespaceName"
            },
            {
              "description": "The name of the namespace that you specified when you registered the instance."
            }
          ]
        },
        "OptionalParameters": {
          "allOf": [
            {
              "$ref": "#/definitions/Attributes"
            },
            {
              "description": "Opportunistic filters to scope the results based on custom attributes. If there are instances that match both the filters specified in both the <code>QueryParameters</code> parameter and this parameter, they are returned. Otherwise, these filters are ignored and only instances that match the filters specified in the <code>QueryParameters</code> parameter are returned."
            }
          ]
        },
        "QueryParameters": {
          "allOf": [
            {
              "$ref": "#/definitions/Attributes"
            },
            {
              "description": "Filters to scope the results based on custom attributes for the instance. For example, <code>{version=v1, az=1a}</code>. Only instances that match all the specified key-value pairs will be returned."
            }
          ]
        },
        "ServiceName": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceName"
            },
            {
              "description": "The name of the service that you specified when you registered the instance."
            }
          ]
        }
      },
      "required": [
        "NamespaceName",
        "ServiceName"
      ],
      "title": "DiscoverInstancesRequest",
      "type": "object"
    },
    "DiscoverInstancesResponse": {
      "example": {
        "Instances": [
          {
            "Attributes": {
              "AWS_INSTANCE_IPV4": "172.2.1.3",
              "AWS_INSTANCE_PORT": "808"
            },
            "HealthStatus": "UNKNOWN",
            "InstanceId": "myservice-53",
            "NamespaceName": "example.com",
            "ServiceName": "myservice"
          }
        ]
      },
      "properties": {
        "Instances": {
          "allOf": [
            {
              "$ref": "#/definitions/HttpInstanceSummaryList"
            },
            {
              "description": "A complex type that contains one <code>HttpInstanceSummary</code> for each registered instance."
            }
          ]
        }
      },
      "type": "object"
    },
    "DiscoverMaxResults": {
      "maximum": 1000,
      "minimum": 1,
      "type": "integer"
    },
    "DnsConfig": {
      "description": "A complex type that contains information about the Amazon Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.",
      "properties": {
        "DnsRecords": {
          "allOf": [
            {
              "$ref": "#/definitions/DnsRecordList"
            },
            {
              "description": "An array that contains one <code>DnsRecord</code> object for each Route 53 DNS record that you want AWS Cloud Map to create when you register an instance."
            }
          ]
        },
        "NamespaceId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "The ID of the namespace to use for DNS configuration.Top level attribute in request should be used to reference namespace-id",
              "x-deprecated": true
            }
          ]
        },
        "RoutingPolicy": {
          "allOf": [
            {
              "$ref": "#/definitions/RoutingPolicy"
            },
            {
              "description": "<p>The routing policy that you want to apply to all Route 53 DNS records that AWS Cloud Map creates when you register an instance and specify this service.</p> <note> <p>If you want to use this service to register instances that create alias records, specify <code>WEIGHTED</code> for the routing policy.</p> </note> <p>You can specify the following values:</p> <p> <b>MULTIVALUE</b> </p> <p>If you define a health check for the service and the health check is healthy, Route 53 returns the applicable value for up to eight instances.</p> <p>For example, suppose the service includes configurations for one <code>A</code> record and a health check, and you use the service to register 10 instances. Route 53 responds to DNS queries with IP addresses for up to eight healthy instances. If fewer than eight instances are healthy, Route 53 responds to every DNS query with the IP addresses for all of the healthy instances.</p> <p>If you don't define a health check for the service, Route 53 assumes that all instances are healthy and returns the values for up to eight instances.</p> <p>For more information about the multivalue routing policy, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-multivalue\">Multivalue Answer Routing</a> in the <i>Route 53 Developer Guide</i>.</p> <p> <b>WEIGHTED</b> </p> <p>Route 53 returns the applicable value from one randomly selected instance from among the instances that you registered using the same service. Currently, all records have the same weight, so you can't route more or less traffic to any instances.</p> <p>For example, suppose the service includes configurations for one <code>A</code> record and a health check, and you use the service to register 10 instances. Route 53 responds to DNS queries with the IP address for one randomly selected instance from among the healthy instances. If no instances are healthy, Route 53 responds to DNS queries as if all of the instances were healthy.</p> <p>If you don't define a health check for the service, Route 53 assumes that all instances are healthy and returns the applicable value for one randomly selected instance.</p> <p>For more information about the weighted routing policy, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-weighted\">Weighted Routing</a> in the <i>Route 53 Developer Guide</i>.</p>"
            }
          ]
        }
      },
      "required": [
        "DnsRecords"
      ],
      "type": "object"
    },
    "DnsConfigChange": {
      "description": "A complex type that contains information about changes to the Route 53 DNS records that AWS Cloud Map creates when you register an instance.",
      "properties": {
        "DnsRecords": {
          "allOf": [
            {
              "$ref": "#/definitions/DnsRecordList"
            },
            {
              "description": "An array that contains one <code>DnsRecord</code> object for each Route 53 record that you want AWS Cloud Map to create when you register an instance."
            }
          ]
        }
      },
      "required": [
        "DnsRecords"
      ],
      "type": "object"
    },
    "DnsProperties": {
      "description": "A complex type that contains the ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.",
      "properties": {
        "HostedZoneId": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            },
            {
              "description": "The ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace."
            }
          ]
        }
      },
      "type": "object"
    },
    "DnsRecord": {
      "description": "A complex type that contains information about the Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.",
      "properties": {
        "TTL": {
          "allOf": [
            {
              "$ref": "#/definitions/RecordTTL"
            },
            {
              "description": "<p>The amount of time, in seconds, that you want DNS resolvers to cache the settings for this record.</p> <note> <p>Alias records don't include a TTL because Route 53 uses the TTL for the AWS resource that an alias record routes traffic to. If you include the <code>AWS_ALIAS_DNS_NAME</code> attribute when you submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request, the <code>TTL</code> value is ignored. Always specify a TTL for the service; you can use a service to register instances that create either alias or non-alias records.</p> </note>"
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/RecordType"
            },
            {
              "description": "<p>The type of the resource, which indicates the type of value that Route 53 returns in response to DNS queries. You can specify values for <code>Type</code> in the following combinations:</p> <ul> <li> <p> <code>A</code> </p> </li> <li> <p> <code>AAAA</code> </p> </li> <li> <p> <code>A</code> and <code>AAAA</code> </p> </li> <li> <p> <code>SRV</code> </p> </li> <li> <p> <code>CNAME</code> </p> </li> </ul> <p>If you want AWS Cloud Map to create a Route 53 alias record when you register an instance, specify <code>A</code> or <code>AAAA</code> for <code>Type</code>.</p> <p>You specify other settings, such as the IP address for <code>A</code> and <code>AAAA</code> records, when you register an instance. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a>.</p> <p>The following values are supported:</p> <p> <code>A</code> <b> <code/> </b> </p> <p>Route 53 returns the IP address of the resource in IPv4 format, such as 192.0.2.44.</p> <p> <code>AAAA</code> <b> <code/> </b> </p> <p>Route 53 returns the IP address of the resource in IPv6 format, such as 2001:0db8:85a3:0000:0000:abcd:0001:2345.</p> <p> <code>CNAME</code> <b> <code/> </b> </p> <p>Route 53 returns the domain name of the resource, such as www.example.com. Note the following:</p> <ul> <li> <p>You specify the domain name that you want to route traffic to when you register an instance. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html#cloudmap-RegisterInstance-request-Attributes\">Attributes</a> in the topic <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a>.</p> </li> <li> <p>You must specify <code>WEIGHTED</code> for the value of <code>RoutingPolicy</code>.</p> </li> <li> <p>You can't specify both <code>CNAME</code> for <code>Type</code> and settings for <code>HealthCheckConfig</code>. If you do, the request will fail with an <code>InvalidInput</code> error.</p> </li> </ul> <p> <b>SRV</b> </p> <p>Route 53 returns the value for an <code>SRV</code> record. The value for an <code>SRV</code> record uses the following values:</p> <p> <code>priority weight port service-hostname</code> </p> <p>Note the following about the values:</p> <ul> <li> <p>The values of <code>priority</code> and <code>weight</code> are both set to <code>1</code> and can't be changed. </p> </li> <li> <p>The value of <code>port</code> comes from the value that you specify for the <code>AWS_INSTANCE_PORT</code> attribute when you submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request. </p> </li> <li> <p>The value of <code>service-hostname</code> is a concatenation of the following values:</p> <ul> <li> <p>The value that you specify for <code>InstanceId</code> when you register an instance.</p> </li> <li> <p>The name of the service.</p> </li> <li> <p>The name of the namespace. </p> </li> </ul> <p>For example, if the value of <code>InstanceId</code> is <code>test</code>, the name of the service is <code>backend</code>, and the name of the namespace is <code>example.com</code>, the value of <code>service-hostname</code> is:</p> <p> <code>test.backend.example.com</code> </p> </li> </ul> <p>If you specify settings for an <code>SRV</code> record, note the following:</p> <ul> <li> <p>If you specify values for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both in the <code>RegisterInstance</code> request, AWS Cloud Map automatically creates <code>A</code> and/or <code>AAAA</code> records that have the same name as the value of <code>service-hostname</code> in the <code>SRV</code> record. You can ignore these records.</p> </li> <li> <p>If you're using a system that requires a specific <code>SRV</code> format, such as HAProxy, see the <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_CreateService.html#cloudmap-CreateService-request-Name\">Name</a> element in the documentation about <code>Create
[...]
