{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "API for AWS Elemental MediaLive",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Elemental MediaLive",
    "version": "2017-10-14",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/medialive-2017-10-14.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "medialive",
    "x-datafire": {
      "name": "amazonaws_medialive",
      "type": "openapi"
    }
  },
  "host": "medialive.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/prod/batch/delete": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "channelIds": {
                  "description": "Placeholder documentation for __listOf__string",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "inputIds": {
                  "description": "Placeholder documentation for __listOf__string",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "inputSecurityGroupIds": {
                  "description": "Placeholder documentation for __listOf__string",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "multiplexIds": {
                  "description": "Placeholder documentation for __listOf__string",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeleteResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "487": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Starts delete of resources.",
        "operationId": "BatchDelete"
      }
    },
    "/prod/batch/start": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "channelIds": {
                  "description": "Placeholder documentation for __listOf__string",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "multiplexIds": {
                  "description": "Placeholder documentation for __listOf__string",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchStartResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "487": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Starts existing resources",
        "operationId": "BatchStart"
      }
    },
    "/prod/batch/stop": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "channelIds": {
                  "description": "Placeholder documentation for __listOf__string",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "multiplexIds": {
                  "description": "Placeholder documentation for __listOf__string",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchStopResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "487": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Stops running resources",
        "operationId": "BatchStop"
      }
    },
    "/prod/channels": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Placeholder documentation for MaxResults",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Placeholder documentation for __string",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListChannelsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Produces list of channels that have been created",
        "operationId": "ListChannels"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "Placeholder documentation for Tags",
                  "type": "object"
                },
                "cdiInputSpecification": {
                  "description": "Placeholder documentation for CdiInputSpecification",
                  "properties": {
                    "Resolution": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CdiInputResolution"
                        },
                        {
                          "description": "Maximum CDI input resolution",
                          "xml": {
                            "name": "resolution"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "channelClass": {
                  "description": "A standard channel has two encoding pipelines and a single pipeline channel only has one.",
                  "enum": [
                    "STANDARD",
                    "SINGLE_PIPELINE"
                  ],
                  "type": "string"
                },
                "destinations": {
                  "description": "Placeholder documentation for __listOfOutputDestination",
                  "items": {
                    "$ref": "#/definitions/OutputDestination"
                  },
                  "type": "array"
                },
                "encoderSettings": {
                  "description": "Encoder Settings",
                  "properties": {
                    "AudioDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfAudioDescription"
                        },
                        {
                          "xml": {
                            "name": "audioDescriptions"
                          }
                        }
                      ]
                    },
                    "AvailBlanking": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AvailBlanking"
                        },
                        {
                          "description": "Settings for ad avail blanking.",
                          "xml": {
                            "name": "availBlanking"
                          }
                        }
                      ]
                    },
                    "AvailConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AvailConfiguration"
                        },
                        {
                          "description": "Event-wide configuration settings for ad avail insertion.",
                          "xml": {
                            "name": "availConfiguration"
                          }
                        }
                      ]
                    },
                    "BlackoutSlate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BlackoutSlate"
                        },
                        {
                          "description": "Settings for blackout slate.",
                          "xml": {
                            "name": "blackoutSlate"
                          }
                        }
                      ]
                    },
                    "CaptionDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfCaptionDescription"
                        },
                        {
                          "description": "Settings for caption decriptions",
                          "xml": {
                            "name": "captionDescriptions"
                          }
                        }
                      ]
                    },
                    "FeatureActivations": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/FeatureActivations"
                        },
                        {
                          "description": "Feature Activations",
                          "xml": {
                            "name": "featureActivations"
                          }
                        }
                      ]
                    },
                    "GlobalConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/GlobalConfiguration"
                        },
                        {
                          "description": "Configuration settings that apply to the event as a whole.",
                          "xml": {
                            "name": "globalConfiguration"
                          }
                        }
                      ]
                    },
                    "NielsenConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NielsenConfiguration"
                        },
                        {
                          "description": "Nielsen configuration settings.",
                          "xml": {
                            "name": "nielsenConfiguration"
                          }
                        }
                      ]
                    },
                    "OutputGroups": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfOutputGroup"
                        },
                        {
                          "xml": {
                            "name": "outputGroups"
                          }
                        }
                      ]
                    },
                    "TimecodeConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TimecodeConfig"
                        },
                        {
                          "description": "Contains settings used to acquire and adjust timecode information from inputs.",
                          "xml": {
                            "name": "timecodeConfig"
                          }
                        }
                      ]
                    },
                    "VideoDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfVideoDescription"
                        },
                        {
                          "xml": {
                            "name": "videoDescriptions"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "inputAttachments": {
                  "description": "Placeholder documentation for __listOfInputAttachment",
                  "items": {
                    "$ref": "#/definitions/InputAttachment"
                  },
                  "type": "array"
                },
                "inputSpecification": {
                  "description": "Placeholder documentation for InputSpecification",
                  "properties": {
                    "Codec": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InputCodec"
                        },
                        {
                          "description": "Input codec",
                          "xml": {
                            "name": "codec"
                          }
                        }
                      ]
                    },
                    "MaximumBitrate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InputMaximumBitrate"
                        },
                        {
                          "description": "Maximum input bitrate, categorized coarsely",
                          "xml": {
                            "name": "maximumBitrate"
                          }
                        }
                      ]
                    },
                    "Resolution": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InputResolution"
                        },
                        {
                          "description": "Input resolution, categorized coarsely",
                          "xml": {
                            "name": "resolution"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "logLevel": {
                  "description": "The log level the user wants for their channel.",
                  "enum": [
                    "ERROR",
                    "WARNING",
                    "INFO",
                    "DEBUG",
                    "DISABLED"
                  ],
                  "type": "string"
                },
                "name": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                },
                "requestId": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                },
                "reserved": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                },
                "roleArn": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "487": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Creates a new channel",
        "operationId": "CreateChannel"
      }
    },
    "/prod/channels/{channelId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique ID of the channel.",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "487": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Starts deletion of channel. The associated outputs are also deleted.",
        "operationId": "DeleteChannel"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "channel ID",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets details about a channel",
        "operationId": "DescribeChannel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "channel ID",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "cdiInputSpecification": {
                  "description": "Placeholder documentation for CdiInputSpecification",
                  "properties": {
                    "Resolution": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CdiInputResolution"
                        },
                        {
                          "description": "Maximum CDI input resolution",
                          "xml": {
                            "name": "resolution"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "destinations": {
                  "description": "Placeholder documentation for __listOfOutputDestination",
                  "items": {
                    "$ref": "#/definitions/OutputDestination"
                  },
                  "type": "array"
                },
                "encoderSettings": {
                  "description": "Encoder Settings",
                  "properties": {
                    "AudioDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfAudioDescription"
                        },
                        {
                          "xml": {
                            "name": "audioDescriptions"
                          }
                        }
                      ]
                    },
                    "AvailBlanking": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AvailBlanking"
                        },
                        {
                          "description": "Settings for ad avail blanking.",
                          "xml": {
                            "name": "availBlanking"
                          }
                        }
                      ]
                    },
                    "AvailConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AvailConfiguration"
                        },
                        {
                          "description": "Event-wide configuration settings for ad avail insertion.",
                          "xml": {
                            "name": "availConfiguration"
                          }
                        }
                      ]
                    },
                    "BlackoutSlate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BlackoutSlate"
                        },
                        {
                          "description": "Settings for blackout slate.",
                          "xml": {
                            "name": "blackoutSlate"
                          }
                        }
                      ]
                    },
                    "CaptionDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfCaptionDescription"
                        },
                        {
                          "description": "Settings for caption decriptions",
                          "xml": {
                            "name": "captionDescriptions"
                          }
                        }
                      ]
                    },
                    "FeatureActivations": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/FeatureActivations"
                        },
                        {
                          "description": "Feature Activations",
                          "xml": {
                            "name": "featureActivations"
                          }
                        }
                      ]
                    },
                    "GlobalConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/GlobalConfiguration"
                        },
                        {
                          "description": "Configuration settings that apply to the event as a whole.",
                          "xml": {
                            "name": "globalConfiguration"
                          }
                        }
                      ]
                    },
                    "NielsenConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/NielsenConfiguration"
                        },
                        {
                          "description": "Nielsen configuration settings.",
                          "xml": {
                            "name": "nielsenConfiguration"
                          }
                        }
                      ]
                    },
                    "OutputGroups": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfOutputGroup"
                        },
                        {
                          "xml": {
                            "name": "outputGroups"
                          }
                        }
                      ]
                    },
                    "TimecodeConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TimecodeConfig"
                        },
                        {
                          "description": "Contains settings used to acquire and adjust timecode information from inputs.",
                          "xml": {
                            "name": "timecodeConfig"
                          }
                        }
                      ]
                    },
                    "VideoDescriptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfVideoDescription"
                        },
                        {
                          "xml": {
                            "name": "videoDescriptions"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "inputAttachments": {
                  "description": "Placeholder documentation for __listOfInputAttachment",
                  "items": {
                    "$ref": "#/definitions/InputAttachment"
                  },
                  "type": "array"
                },
                "inputSpecification": {
                  "description": "Placeholder documentation for InputSpecification",
                  "properties": {
                    "Codec": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InputCodec"
                        },
                        {
                          "description": "Input codec",
                          "xml": {
                            "name": "codec"
                          }
                        }
                      ]
                    },
                    "MaximumBitrate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InputMaximumBitrate"
                        },
                        {
                          "description": "Maximum input bitrate, categorized coarsely",
                          "xml": {
                            "name": "maximumBitrate"
                          }
                        }
                      ]
                    },
                    "Resolution": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InputResolution"
                        },
                        {
                          "description": "Input resolution, categorized coarsely",
                          "xml": {
                            "name": "resolution"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "logLevel": {
                  "description": "The log level the user wants for their channel.",
                  "enum": [
                    "ERROR",
                    "WARNING",
                    "INFO",
                    "DEBUG",
                    "DISABLED"
                  ],
                  "type": "string"
                },
                "name": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                },
                "roleArn": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Updates a channel.",
        "operationId": "UpdateChannel"
      }
    },
    "/prod/channels/{channelId}/channelClass": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Channel Id of the channel whose class should be updated.",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "channelClass": {
                  "description": "A standard channel has two encoding pipelines and a single pipeline channel only has one.",
                  "enum": [
                    "STANDARD",
                    "SINGLE_PIPELINE"
                  ],
                  "type": "string"
                },
                "destinations": {
                  "description": "Placeholder documentation for __listOfOutputDestination",
                  "items": {
                    "$ref": "#/definitions/OutputDestination"
                  },
                  "type": "array"
                }
              },
              "required": [
                "channelClass"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateChannelClassResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "486": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "487": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "488": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Changes the class of the channel.",
        "operationId": "UpdateChannelClass"
      }
    },
    "/prod/channels/{channelId}/schedule": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Id of the channel whose schedule is being deleted.",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteScheduleResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Delete all schedule actions on a channel.",
        "operationId": "DeleteSchedule"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Id of the channel whose schedule is being updated.",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Placeholder documentation for MaxResults",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Placeholder documentation for __string",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeScheduleResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Get a channel schedule",
        "operationId": "DescribeSchedule"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Id of the channel whose schedule is being updated.",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "creates": {
                  "description": "A list of schedule actions to create (in a request) or that have been created (in a response).",
                  "properties": {
                    "ScheduleActions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfScheduleAction"
                        },
                        {
                          "description": "A list of schedule actions to create.",
                          "xml": {
                            "name": "scheduleActions"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "deletes": {
                  "description": "A list of schedule actions to delete.",
                  "properties": {
                    "ActionNames": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOf__string"
                        },
                        {
                          "description": "A list of schedule actions to delete.",
                          "xml": {
                            "name": "actionNames"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchUpdateScheduleResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "486": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "487": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Update a channel schedule",
        "operationId": "BatchUpdateSchedule"
      }
    },
    "/prod/channels/{channelId}/start": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A request to start a channel",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "487": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Starts an existing channel",
        "operationId": "StartChannel"
      }
    },
    "/prod/channels/{channelId}/stop": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A request to stop a running channel",
            "in": "path",
            "name": "channelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopChannelResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "487": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Stops a running channel",
        "operationId": "StopChannel"
      }
    },
    "/prod/inputDeviceTransfers#transferType": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Placeholder documentation for MaxResults",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Placeholder documentation for __string",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Placeholder documentation for __string",
            "in": "query",
            "name": "transferType",
            "required": true,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListInputDeviceTransfersResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "List input devices that are currently being transferred. List input devices that you are transferring from your AWS account or input devices that another AWS account is transferring to you.",
        "operationId": "ListInputDeviceTransfers"
      }
    },
    "/prod/inputDevices": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Placeholder documentation for MaxResults",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Placeholder documentation for __string",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListInputDevicesResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "List input devices",
        "operationId": "ListInputDevices"
      }
    },
    "/prod/inputDevices/{inputDeviceId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of this input device. For example, hd-123456789abcdef.",
            "in": "path",
            "name": "inputDeviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeInputDeviceResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets the details for the input device",
        "operationId": "DescribeInputDevice"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the input device. For example, hd-123456789abcdef.",
            "in": "path",
            "name": "inputDeviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "hdDeviceSettings": {
                  "description": "Configurable settings for the input device.",
                  "properties": {
                    "ConfiguredInput": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InputDeviceConfiguredInput"
                        },
                        {
                          "description": "The input source that you want to use. If the device has a source connected to only one of its input ports, or if you don't care which source the device sends, specify Auto. If the device has sources connected to both its input ports, and you want to use a specific source, specify the source.",
                          "xml": {
                            "name": "configuredInput"
                          }
                        }
                      ]
                    },
                    "MaxBitrate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The maximum bitrate in bits per second. Set a value here to throttle the bitrate of the source video.",
                          "xml": {
                            "name": "maxBitrate"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                },
                "uhdDeviceSettings": {
                  "description": "Configurable settings for the input device.",
                  "properties": {
                    "ConfiguredInput": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/InputDeviceConfiguredInput"
                        },
                        {
                          "description": "The input source that you want to use. If the device has a source connected to only one of its input ports, or if you don't care which source the device sends, specify Auto. If the device has sources connected to both its input ports, and you want to use a specific source, specify the source.",
                          "xml": {
                            "name": "configuredInput"
                          }
                        }
                      ]
                    },
                    "MaxBitrate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The maximum bitrate in bits per second. Set a value here to throttle the bitrate of the source video.",
                          "xml": {
                            "name": "maxBitrate"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateInputDeviceResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "486": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "487": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Updates the parameters for the input device.",
        "operationId": "UpdateInputDevice"
      }
    },
    "/prod/inputDevices/{inputDeviceId}/accept": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the input device to accept. For example, hd-123456789abcdef.",
            "in": "path",
            "name": "inputDeviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AcceptInputDeviceTransferResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "486": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "487": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "488": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Accept an incoming input device transfer. The ownership of the device will transfer to your AWS account.",
        "operationId": "AcceptInputDeviceTransfer"
      }
    },
    "/prod/inputDevices/{inputDeviceId}/cancel": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the input device to cancel. For example, hd-123456789abcdef.",
            "in": "path",
            "name": "inputDeviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelInputDeviceTransferResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "486": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "487": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "488": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Cancel an input device transfer that you have requested.",
        "operationId": "CancelInputDeviceTransfer"
      }
    },
    "/prod/inputDevices/{inputDeviceId}/reject": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the input device to reject. For example, hd-123456789abcdef.",
            "in": "path",
            "name": "inputDeviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RejectInputDeviceTransferResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "486": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "487": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "488": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Reject the transfer of the specified input device to your AWS account.",
        "operationId": "RejectInputDeviceTransfer"
      }
    },
    "/prod/inputDevices/{inputDeviceId}/thumbnailData#accept": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of this input device. For example, hd-123456789abcdef.",
            "in": "path",
            "name": "inputDeviceId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The HTTP Accept header. Indicates the requested type for the thumbnail.",
            "enum": [
              "image/jpeg"
            ],
            "in": "header",
            "name": "accept",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeInputDeviceThumbnailResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "484": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "485": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "486": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Get the latest thumbnail data for the input device.",
        "operationId": "DescribeInputDeviceThumbnail"
      }
    },
    "/prod/inputDevices/{inputDeviceId}/transfer": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of this input device. For example, hd-123456789abcdef.",
            "in": "path",
            "name": "inputDeviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "targetCustomerId": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                },
                "transferMessage": {
                  "description": "Placeholder documentation for __string",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransferInputDeviceResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "484": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "485": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "486": {
            "description": "GatewayTimeoutException",
            "schema": {
              "$ref": "#/definitions/GatewayTimeoutException"
            }
          },
          "487": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "488": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Start an input device transfer to another AWS account. After you make the request, the other account must accept or reject the transfer.",
        "operationId": "TransferInputDevice"
      }
    },
    "/prod/inputSecurityGroups": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
[...]
