{
  "swagger": "2.0",
  "info": {
    "description": "News API",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "title": "BC Gov News API Service 1.0",
    "version": "1.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.6.2"
        },
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/bcgov/api-specs/master/news/news-oas3.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "gov.bc.ca",
    "x-serviceName": "news",
    "x-datafire": {
      "name": "gov_bc_ca_news",
      "type": "openapi"
    }
  },
  "host": "news.api.gov.bc.ca",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/FacebookPosts/ByUri": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "",
            "description": "",
            "in": "query",
            "name": "uri",
            "required": false,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FacebookPost"
            }
          }
        },
        "tags": [
          "FacebookPosts"
        ],
        "operationId": "FacebookPosts_GetByUri",
        "summary": "Get a Facebook post based on a Uri"
      }
    },
    "/api/Home": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Home"
            }
          }
        },
        "tags": [
          "Home"
        ],
        "operationId": "Home_Get",
        "summary": "Returns the top level content for the home page"
      }
    },
    "/api/Ministries": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Ministry"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Ministries"
        ],
        "operationId": "Ministries_GetAll",
        "summary": "Get all ministries"
      }
    },
    "/api/Ministries/{key}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Ministry"
            }
          }
        },
        "tags": [
          "Ministries"
        ],
        "operationId": "Ministries_GetOne",
        "summary": "Get the Ministry associated with the ministry key"
      }
    },
    "/api/Ministries/{key}/Minister": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Minister"
            }
          }
        },
        "tags": [
          "Ministries"
        ],
        "operationId": "Ministries_GetMinister",
        "summary": "Get the Minister associated with the ministry key"
      }
    },
    "/api/Newsletters": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Newsletter"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Newsletters"
        ],
        "operationId": "Newsletters_GetAll",
        "summary": "Get all newsletters"
      }
    },
    "/api/Newsletters/Images/{guid}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "guid",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EditionImage"
            }
          }
        },
        "tags": [
          "Newsletters"
        ],
        "operationId": "Newsletters_GetImage",
        "summary": "Get the image object reference by of a Newsletter Edition associated with the image guid"
      }
    },
    "/api/Newsletters/{newsletterKey}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "newsletterKey",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Newsletter"
            }
          }
        },
        "tags": [
          "Newsletters"
        ],
        "operationId": "Newsletters_GetOne",
        "summary": "Get a specific newsletter"
      }
    },
    "/api/Newsletters/{newsletterKey}/Editions/{editionKey}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "newsletterKey",
            "required": true,
            "type": "string"
          },
          {
            "description": "",
            "in": "path",
            "name": "editionKey",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Edition"
            }
          }
        },
        "tags": [
          "Newsletters"
        ],
        "operationId": "Newsletters_GetEdition",
        "summary": "Returns a specific edition of a newsletter"
      }
    },
    "/api/Newsletters/{newsletterKey}/Editions/{editionKey}/Articles/{articleKey}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "newsletterKey",
            "required": true,
            "type": "string"
          },
          {
            "description": "",
            "in": "path",
            "name": "editionKey",
            "required": true,
            "type": "string"
          },
          {
            "description": "",
            "in": "path",
            "name": "articleKey",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        },
        "tags": [
          "Newsletters"
        ],
        "operationId": "Newsletters_GetArticle",
        "summary": "Get an article belonging to a Newsletter edition"
      }
    },
    "/api/Posts": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "default": "",
            "description": "",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "postKeys",
            "required": false,
            "type": "array"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Post"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_Get",
        "summary": "Get the posts associated with the keys in the list passed in."
      }
    },
    "/api/Posts/Keys/{indexKind}/{indexKey}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "home or one of categories",
            "in": "path",
            "name": "indexKind",
            "required": true,
            "type": "string"
          },
          {
            "description": "default or one key of the categories (ministries, sectors, services, tags, themes)",
            "in": "path",
            "name": "indexKey",
            "required": true,
            "type": "string"
          },
          {
            "default": "",
            "description": "One of: releases, stories, factsheets, updates or default (releases+stories+factsheets)",
            "in": "query",
            "name": "postKind",
            "required": false,
            "type": "string"
          },
          {
            "default": "",
            "description": "number of posts to return",
            "format": "int32",
            "in": "query",
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "default": "",
            "description": "number of posts to skip",
            "format": "int32",
            "in": "query",
            "name": "skip",
            "required": false,
            "type": "integer"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/KeyValuePair_2"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_GetAllKeys",
        "summary": "Get all keys for the specified index (newsroom or category)"
      }
    },
    "/api/Posts/Keys/{reference}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "reference",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/KeyValuePair_2"
            }
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_GetKeyFromReference",
        "summary": "Get the post key associated with the reference."
      }
    },
    "/api/Posts/Latest/{indexKind}/{indexKey}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "home or one of categories",
            "in": "path",
            "name": "indexKind",
            "required": true,
            "type": "string"
          },
          {
            "description": "default or one key of the categories (ministries, sectors, services, tags, themes)",
            "in": "path",
            "name": "indexKey",
            "required": true,
            "type": "string"
          },
          {
            "default": "",
            "description": "One of: releases, stories, factsheets, updates or default (releases+stories except top/feature)",
            "in": "query",
            "name": "postKind",
            "required": false,
            "type": "string"
          },
          {
            "default": "",
            "description": "number of posts to return",
            "format": "int32",
            "in": "query",
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "default": "",
            "description": "number of posts to skip",
            "format": "int32",
            "in": "query",
            "name": "skip",
            "required": false,
            "type": "integer"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Post"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_GetLatest",
        "summary": "Get the latest posts of postKind for the specified index (default or category)"
      }
    },
    "/api/Posts/LatestMediaUri/{mediaType}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "mediaType",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_GetLatestMediaUri",
        "summary": "Gets the latest Social Media post for the social media type passed in."
      }
    },
    "/api/Posts/{key}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_GetOne",
        "summary": "Get the post associated with the key"
      }
    },
    "/api/ResourceLinks": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ResourceLink"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "ResourceLinks"
        ],
        "operationId": "ResourceLinks_GetAll",
        "summary": "Get all resource links"
      }
    },
    "/api/Sectors": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Sector"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Sectors"
        ],
        "operationId": "Sectors_GetAll",
        "summary": "Get all Sectors"
      }
    },
    "/api/Sectors/{key}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Sector"
            }
          }
        },
        "tags": [
          "Sectors"
        ],
        "operationId": "Sectors_GetOne",
        "summary": "Get the sector associated with the key"
      }
    },
    "/api/Services": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Service"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Services"
        ],
        "operationId": "Services_GetAll",
        "summary": "Get all Services"
      }
    },
    "/api/Services/{key}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          }
        },
        "tags": [
          "Services"
        ],
        "operationId": "Services_GetOne",
        "summary": "Get the service associated with the passed key"
      }
    },
    "/api/Slides": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Slide"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Slides"
        ],
        "operationId": "Slides_GetAll",
        "summary": "Get all Slides"
      }
    },
    "/api/Slides/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide"
            }
          }
        },
        "tags": [
          "Slides"
        ],
        "operationId": "Slides_GetOne",
        "summary": "Get the slide associated to the id"
      }
    },
    "/api/Tags": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Tag"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_GetAll",
        "summary": "Get all Tags"
      }
    },
    "/api/Tags/{key}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_GetOne",
        "summary": "Get the Tag associated with the key"
      }
    },
    "/api/Themes": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Theme"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Themes"
        ],
        "operationId": "Themes_GetAll",
        "summary": "Get all Themes"
      }
    },
    "/api/Themes/{key}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "default": "1.0",
            "description": "The requested API version",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Theme"
            }
          }
        },
        "tags": [
          "Themes"
        ],
        "operationId": "Themes_GetOne",
        "summary": "Get the Theme associated with the key"
      }
    }
  },
  "definitions": {
    "Article": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "editionName": {
          "type": "string"
        },
        "htmlBody": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Asset": {
      "properties": {
        "key": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "length": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Category": {
      "allOf": [
        {
          "$ref": "#/definitions/DataIndex"
        }
      ],
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "featurePostKey": {
          "type": "string"
        },
        "flickrUri": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "topPostKey": {
          "type": "string"
        },
        "twitterFeedUsername": {
          "type": "string"
        },
        "youtubeUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Contact": {
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "mobileNumber": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataIndex": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "featurePostKey": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "topPostKey": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataModel": {
      "properties": {
        "key": {
          "type": "string"
        },
        "timestamp": {
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Document": {
      "properties": {
        "byline": {
          "type": "string"
        },
        "contacts": {
          "items": {
            "$ref": "#/definitions/DocumentContact"
          },
          "type": "array"
        },
        "detailsHtml": {
          "type": "string"
        },
        "headline": {
          "type": "string"
        },
        "languageId": {
          "format": "int32",
          "type": "integer"
        },
        "pageTitle": {
          "type": "string"
        },
        "subheadline": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentContact": {
      "properties": {
        "details": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Edition": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "htmlBody": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "EditionImage": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "fileName": {
          "type": "string"
        },
        "imageBytes": {
          "format": "byte",
          "type": "string"
        },
        "imageType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FacebookPost": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "content": {
          "type": "string"
        },
        "facebookObjectId": {
          "format": "int32",
          "type": "integer"
        },
        "pictureUri": {
          "type": "string"
        },
        "postComments": {
          "format": "int32",
          "type": "integer"
        },
        "postLikes": {
          "format": "int32",
          "type": "integer"
        },
        "postShares": {
          "format": "int32",
          "type": "integer"
        },
        "poster": {
          "type": "string"
        },
        "posterLikes": {
          "format": "int32",
          "type": "integer"
        },
        "posterLogo": {
          "type": "string"
        },
        "posterSubtitle": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Home": {
      "allOf": [
        {
          "$ref": "#/definitions/DataIndex"
        }
      ],
      "properties": {
        "featurePostKey": {
          "type": "string"
        },
        "liveWebcastFlashMediaManifestUrl": {
          "type": "string"
        },
        "liveWebcastM3uPlaylist": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "topPostKey": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "KeyValuePair_2": {
      "properties": {
        "key": {
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Minister": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "details": {
          "type": "string"
        },
        "emailHtml": {
          "type": "string"
        },
        "headline": {
          "type": "string"
        },
        "photo": {
          "type": "string"
        },
        "post": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Ministry": {
      "allOf": [
        {
          "$ref": "#/definitions/Category"
        }
      ],
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "childMinistryKey": {
          "type": "string"
        },
        "contactUser": {
          "$ref": "#/definitions/Contact"
        },
        "displayAdditionalName": {
          "type": "string"
        },
        "featurePostKey": {
          "type": "string"
        },
        "flickrUri": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "ministerName": {
          "type": "string"
        },
        "ministryUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "newsletterLinks": {
          "items": {
            "$ref": "#/definitions/ResourceLink"
          },
          "type": "array"
        },
        "parentMinistryKey": {
          "type": "string"
        },
        "secondContactUser": {
          "$ref": "#/definitions/Contact"
        },
        "serviceLinks": {
          "items": {
            "$ref": "#/definitions/ResourceLink"
          },
          "type": "array"
        },
        "topPostKey": {
          "type": "string"
        },
        "topicLinks": {
          "items": {
            "$ref": "#/definitions/ResourceLink"
          },
          "type": "array"
        },
        "twitterFeedUsername": {
          "type": "string"
        },
        "weekendContactNumber": {
          "type": "string"
        },
        "youtubeUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Newsletter": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "editions": {
          "items": {
            "$ref": "#/definitions/KeyValuePair_2"
          },
          "type": "array"
        },
        "ministryName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Post": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "assetUrl": {
          "type": "string"
        },
        "atomId": {
          "type": "string"
        },
        "azureAssets": {
          "items": {
            "$ref": "#/definitions/Asset"
          },
          "type": "array"
        },
        "documents": {
          "items": {
            "$ref": "#/definitions/Document"
          },
          "type": "array"
        },
        "facebookPictureUri": {
          "type": "string"
        },
        "hasMediaAssets": {
          "type": "boolean"
        },
        "isNewsOnDemand": {
          "type": "boolean"
        },
        "keywords": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "leadMinistryKey": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "ministryKeys": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "publishDate": {
          "format": "date-time",
          "type": "string"
        },
        "redirectUri": {
          "type": "string"
        },
        "reference": {
          "type": "string"
        },
        "sectorKeys": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceKeys": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "socialMediaHeadline": {
          "type": "string"
        },
        "socialMediaSummary": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Sector": {
      "allOf": [
        {
          "$ref": "#/definitions/Category"
        }
      ],
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "featurePostKey": {
          "type": "string"
        },
        "flickrUri": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "topPostKey": {
          "type": "string"
        },
        "twitterFeedUsername": {
          "type": "string"
        },
        "youtubeUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Service": {
      "allOf": [
        {
          "$ref": "#/definitions/Category"
        }
      ],
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "featurePostKey": {
          "type": "string"
        },
        "flickrUri": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "topPostKey": {
          "type": "string"
        },
        "twitterFeedUsername": {
          "type": "string"
        },
        "youtubeUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Slide": {
      "allOf": [
        {
          "$ref": "#/definitions/DataModel"
        }
      ],
      "properties": {
        "actionLabel": {
          "type": "string"
        },
        "actionUri": {
          "type": "string"
        },
        "facebookPostUri": {
          "type": "string"
        },
        "headline": {
          "type": "string"
        },
        "image": {
          "format": "byte",
          "type": "string"
        },
        "imageType": {
          "readOnly": true,
          "type": "string"
        },
        "justify": {
          "type": "string"
        },
        "slideId": {
          "format": "uuid",
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tag": {
      "allOf": [
        {
          "$ref": "#/definitions/Category"
        }
      ],
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "featurePostKey": {
          "type": "string"
        },
        "flickrUri": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "topPostKey": {
          "type": "string"
        },
        "twitterFeedUsername": {
          "type": "string"
        },
        "youtubeUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Theme": {
      "allOf": [
        {
          "$ref": "#/definitions/Category"
        }
      ],
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "featurePostKey": {
          "type": "string"
        },
        "flickrUri": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "topPostKey": {
          "type": "string"
        },
        "twitterFeedUsername": {
          "type": "string"
        },
        "youtubeUri": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "x-components": {}
}