{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "This API allows clients to access and modify container and tag configuration.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Tag Manager API",
    "version": "v2",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://tagmanager.googleapis.com/$discovery/rest?version=v2",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "tagmanager",
    "x-datafire": {
      "name": "google_tagmanager",
      "type": "openapi"
    }
  },
  "host": "tagmanager.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/tagmanager/v2/accounts": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListAccountsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.manage.accounts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.manage.accounts"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all GTM Accounts that a user has access to.",
        "operationId": "tagmanager.accounts.list"
      }
    },
    "/tagmanager/v2/{parent}/built_in_variables": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListEnabledBuiltInVariablesResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all the enabled Built-In Variables of a GTM Container.",
        "operationId": "tagmanager.accounts.containers.workspaces.built_in_variables.list"
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The types of built-in variables to enable.",
            "in": "query",
            "items": {
              "enum": [
                "builtInVariableTypeUnspecified",
                "pageUrl",
                "pageHostname",
                "pagePath",
                "referrer",
                "event",
                "clickElement",
                "clickClasses",
                "clickId",
                "clickTarget",
                "clickUrl",
                "clickText",
                "firstPartyServingUrl",
                "formElement",
                "formClasses",
                "formId",
                "formTarget",
                "formUrl",
                "formText",
                "errorMessage",
                "errorUrl",
                "errorLine",
                "newHistoryUrl",
                "oldHistoryUrl",
                "newHistoryFragment",
                "oldHistoryFragment",
                "newHistoryState",
                "oldHistoryState",
                "historySource",
                "containerVersion",
                "debugMode",
                "randomNumber",
                "containerId",
                "appId",
                "appName",
                "appVersionCode",
                "appVersionName",
                "language",
                "osVersion",
                "platform",
                "sdkVersion",
                "deviceName",
                "resolution",
                "advertiserId",
                "advertisingTrackingEnabled",
                "htmlId",
                "environmentName",
                "ampBrowserLanguage",
                "ampCanonicalPath",
                "ampCanonicalUrl",
                "ampCanonicalHost",
                "ampReferrer",
                "ampTitle",
                "ampClientId",
                "ampClientTimezone",
                "ampClientTimestamp",
                "ampClientScreenWidth",
                "ampClientScreenHeight",
                "ampClientScrollX",
                "ampClientScrollY",
                "ampClientMaxScrollX",
                "ampClientMaxScrollY",
                "ampTotalEngagedTime",
                "ampPageViewId",
                "ampPageLoadTime",
                "ampPageDownloadTime",
                "ampGtmEvent",
                "eventName",
                "firebaseEventParameterCampaign",
                "firebaseEventParameterCampaignAclid",
                "firebaseEventParameterCampaignAnid",
                "firebaseEventParameterCampaignClickTimestamp",
                "firebaseEventParameterCampaignContent",
                "firebaseEventParameterCampaignCp1",
                "firebaseEventParameterCampaignGclid",
                "firebaseEventParameterCampaignSource",
                "firebaseEventParameterCampaignTerm",
                "firebaseEventParameterCurrency",
                "firebaseEventParameterDynamicLinkAcceptTime",
                "firebaseEventParameterDynamicLinkLinkid",
                "firebaseEventParameterNotificationMessageDeviceTime",
                "firebaseEventParameterNotificationMessageId",
                "firebaseEventParameterNotificationMessageName",
                "firebaseEventParameterNotificationMessageTime",
                "firebaseEventParameterNotificationTopic",
                "firebaseEventParameterPreviousAppVersion",
                "firebaseEventParameterPreviousOsVersion",
                "firebaseEventParameterPrice",
                "firebaseEventParameterProductId",
                "firebaseEventParameterQuantity",
                "firebaseEventParameterValue",
                "videoProvider",
                "videoUrl",
                "videoTitle",
                "videoDuration",
                "videoPercent",
                "videoVisible",
                "videoStatus",
                "videoCurrentTime",
                "scrollDepthThreshold",
                "scrollDepthUnits",
                "scrollDepthDirection",
                "elementVisibilityRatio",
                "elementVisibilityTime",
                "elementVisibilityFirstTime",
                "elementVisibilityRecentTime",
                "requestPath",
                "requestMethod",
                "clientName",
                "queryString"
              ],
              "type": "string"
            },
            "name": "type",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CreateBuiltInVariableResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates one or more GTM Built-In Variables.",
        "operationId": "tagmanager.accounts.containers.workspaces.built_in_variables.create"
      }
    },
    "/tagmanager/v2/{parent}/containers": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Accounts's API relative path. Example: accounts/{account_id}.",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListContainersResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all Containers that belongs to a GTM Account.",
        "operationId": "tagmanager.accounts.containers.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Account's API relative path. Example: accounts/{account_id}.",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Container"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Container"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a Container.",
        "operationId": "tagmanager.accounts.containers.create"
      }
    },
    "/tagmanager/v2/{parent}/environments": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListEnvironmentsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all GTM Environments of a GTM Container.",
        "operationId": "tagmanager.accounts.containers.environments.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a GTM Environment.",
        "operationId": "tagmanager.accounts.containers.environments.create"
      }
    },
    "/tagmanager/v2/{parent}/folders": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListFoldersResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all GTM Folders of a Container.",
        "operationId": "tagmanager.accounts.containers.workspaces.folders.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a GTM Folder.",
        "operationId": "tagmanager.accounts.containers.workspaces.folders.create"
      }
    },
    "/tagmanager/v2/{parent}/tags": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListTagsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all GTM Tags of a Container.",
        "operationId": "tagmanager.accounts.containers.workspaces.tags.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a GTM Tag.",
        "operationId": "tagmanager.accounts.containers.workspaces.tags.create"
      }
    },
    "/tagmanager/v2/{parent}/templates": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListTemplatesResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all GTM Templates of a GTM container workspace.",
        "operationId": "tagmanager.accounts.containers.workspaces.templates.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CustomTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomTemplate"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a GTM Custom Template.",
        "operationId": "tagmanager.accounts.containers.workspaces.templates.create"
      }
    },
    "/tagmanager/v2/{parent}/triggers": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspaces's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListTriggersResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all GTM Triggers of a Container.",
        "operationId": "tagmanager.accounts.containers.workspaces.triggers.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspaces's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a GTM Trigger.",
        "operationId": "tagmanager.accounts.containers.workspaces.triggers.create"
      }
    },
    "/tagmanager/v2/{parent}/user_permissions": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Accounts's API relative path. Example: accounts/{account_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListUserPermissionsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "List all users that have access to the account along with Account and Container user access granted to each of them.",
        "operationId": "tagmanager.accounts.user_permissions.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Account's API relative path. Example: accounts/{account_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UserPermission"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UserPermission"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a user's Account & Container access.",
        "operationId": "tagmanager.accounts.user_permissions.create"
      }
    },
    "/tagmanager/v2/{parent}/variables": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListVariablesResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all GTM Variables of a Container.",
        "operationId": "tagmanager.accounts.containers.workspaces.variables.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a GTM Variable.",
        "operationId": "tagmanager.accounts.containers.workspaces.variables.create"
      }
    },
    "/tagmanager/v2/{parent}/version_headers": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Also retrieve deleted (archived) versions when true.",
            "in": "query",
            "name": "includeDeleted",
            "type": "boolean"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListContainerVersionsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all Container Versions of a GTM Container.",
        "operationId": "tagmanager.accounts.containers.version_headers.list"
      }
    },
    "/tagmanager/v2/{parent}/version_headers:latest": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ContainerVersionHeader"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Gets the latest container version header",
        "operationId": "tagmanager.accounts.containers.version_headers.latest"
      }
    },
    "/tagmanager/v2/{parent}/versions:live": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ContainerVersion"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Gets the live (i.e. published) container version",
        "operationId": "tagmanager.accounts.containers.versions.live"
      }
    },
    "/tagmanager/v2/{parent}/workspaces": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListWorkspacesResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all Workspaces that belong to a GTM Container.",
        "operationId": "tagmanager.accounts.containers.workspaces.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a Workspace.",
        "operationId": "tagmanager.accounts.containers.workspaces.create"
      }
    },
    "/tagmanager/v2/{parent}/zones": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "Continuation token for fetching the next page of results.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListZonesResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Lists all GTM Zones of a GTM container workspace.",
        "operationId": "tagmanager.accounts.containers.workspaces.zones.list"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Zone"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Zone"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Creates a GTM Zone.",
        "operationId": "tagmanager.accounts.containers.workspaces.zones.create"
      }
    },
    "/tagmanager/v2/{path}": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}",
            "in": "path",
            "name": "path",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The types of built-in variables to delete.",
            "in": "query",
            "items": {
              "enum": [
                "builtInVariableTypeUnspecified",
                "pageUrl",
                "pageHostname",
                "pagePath",
                "referrer",
                "event",
                "clickElement",
                "clickClasses",
                "clickId",
                "clickTarget",
                "clickUrl",
                "clickText",
                "firstPartyServingUrl",
                "formElement",
                "formClasses",
                "formId",
                "formTarget",
                "formUrl",
                "formText",
                "errorMessage",
                "errorUrl",
                "errorLine",
                "newHistoryUrl",
                "oldHistoryUrl",
                "newHistoryFragment",
                "oldHistoryFragment",
                "newHistoryState",
                "oldHistoryState",
                "historySource",
                "containerVersion",
                "debugMode",
                "randomNumber",
                "containerId",
                "appId",
                "appName",
                "appVersionCode",
                "appVersionName",
                "language",
                "osVersion",
                "platform",
                "sdkVersion",
                "deviceName",
                "resolution",
                "advertiserId",
                "advertisingTrackingEnabled",
                "htmlId",
                "environmentName",
                "ampBrowserLanguage",
                "ampCanonicalPath",
                "ampCanonicalUrl",
                "ampCanonicalHost",
                "ampReferrer",
                "ampTitle",
                "ampClientId",
                "ampClientTimezone",
                "ampClientTimestamp",
                "ampClientScreenWidth",
                "ampClientScreenHeight",
                "ampClientScrollX",
                "ampClientScrollY",
                "ampClientMaxScrollX",
                "ampClientMaxScrollY",
                "ampTotalEngagedTime",
                "ampPageViewId",
                "ampPageLoadTime",
                "ampPageDownloadTime",
                "ampGtmEvent",
                "eventName",
                "firebaseEventParameterCampaign",
                "firebaseEventParameterCampaignAclid",
                "firebaseEventParameterCampaignAnid",
                "firebaseEventParameterCampaignClickTimestamp",
                "firebaseEventParameterCampaignContent",
                "firebaseEventParameterCampaignCp1",
                "firebaseEventParameterCampaignGclid",
                "firebaseEventParameterCampaignSource",
                "firebaseEventParameterCampaignTerm",
                "firebaseEventParameterCurrency",
                "firebaseEventParameterDynamicLinkAcceptTime",
                "firebaseEventParameterDynamicLinkLinkid",
                "firebaseEventParameterNotificationMessageDeviceTime",
                "firebaseEventParameterNotificationMessageId",
                "firebaseEventParameterNotificationMessageName",
                "firebaseEventParameterNotificationMessageTime",
                "firebaseEventParameterNotificationTopic",
                "firebaseEventParameterPreviousAppVersion",
                "firebaseEventParameterPreviousOsVersion",
                "firebaseEventParameterPrice",
                "firebaseEventParameterProductId",
                "firebaseEventParameterQuantity",
                "firebaseEventParameterValue",
                "videoProvider",
                "videoUrl",
                "videoTitle",
                "videoDuration",
                "videoPercent",
                "videoVisible",
                "videoStatus",
                "videoCurrentTime",
                "scrollDepthThreshold",
                "scrollDepthUnits",
                "scrollDepthDirection",
                "elementVisibilityRatio",
                "elementVisibilityTime",
                "elementVisibilityFirstTime",
                "elementVisibilityRecentTime",
                "requestPath",
                "requestMethod",
                "clientName",
                "queryString"
              ],
              "type": "string"
            },
            "name": "type",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Removes a user from the account, revoking access to it and all of its containers.",
        "operationId": "tagmanager.accounts.user_permissions.delete"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}",
            "in": "path",
            "name": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "The GTM ContainerVersion ID. Specify published to retrieve the currently published version.",
            "in": "query",
            "name": "containerVersionId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UserPermission"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Gets a user's Account & Container access.",
        "operationId": "tagmanager.accounts.user_permissions.get"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}",
            "in": "path",
            "name": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "When provided, this fingerprint must match the fingerprint of the zone in storage.",
            "in": "query",
            "name": "fingerprint",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UserPermission"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UserPermission"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.manage.users"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Updates a user's Account & Container access.",
        "operationId": "tagmanager.accounts.user_permissions.update"
      }
    },
    "/tagmanager/v2/{path}/built_in_variables:revert": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM BuiltInVariable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/built_in_variables",
            "in": "path",
            "name": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "The type of built-in variable to revert.",
            "enum": [
              "builtInVariableTypeUnspecified",
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "environmentName",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "requestPath",
              "requestMethod",
              "clientName",
              "queryString"
            ],
            "in": "query",
            "name": "type",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RevertBuiltInVariableResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Reverts changes to a GTM Built-In Variables in a GTM Workspace.",
        "operationId": "tagmanager.accounts.containers.workspaces.built_in_variables.revert"
      }
    },
    "/tagmanager/v2/{path}/status": {
      "parameters": [
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string"
        },
        {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "type": "string"
        },
        {
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "alt",
          "type": "string"
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "type": "string"
        },
        {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "type": "string"
        },
        {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "type": "string"
        },
        {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "type": "string"
        },
        {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "type": "boolean"
        },
        {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "type": "string"
        },
        {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "type": "string"
        },
        {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
            "in": "path",
            "name": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetWorkspaceStatusResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.edit.containers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tagmanager.readonly"
            ]
          }
        ],
[...]
