{
  "swagger": "2.0",
  "info": {
    "description": "Datumbox offers a Machine Learning platform composed of 14 classifiers and Natural Language processing functions. Functions include sentiment analysis, topic classification, readability assessment, language detection, and much more.",
    "title": "api.datumbox.com",
    "version": "1.0",
    "x-apisguru-categories": [
      "machine_learning",
      "text"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/http_www.datumbox.com_img_logo.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "swagger",
        "url": "http://www.datumbox.com/api-sandbox/api-docs",
        "version": "1.2"
      }
    ],
    "x-preferred": true,
    "x-providerName": "datumbox.com",
    "x-datafire": {
      "name": "datumbox",
      "type": "openapi"
    }
  },
  "host": "api.datumbox.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/1.0/AdultContentDetection.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Adult Content Detection function classifies the documents as adult or noadult based on their context. It can be used to detect whether a document contains content unsuitable for minors.",
        "operationId": "AdultContentDetection",
        "summary": "Classifies the Document as adult or noadult"
      }
    },
    "/1.0/CommercialDetection.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Commercial Detection function labels the documents as commercial or non-commercial based on their keywords and expressions. It can be used to detect whether a website is commercial or not.",
        "operationId": "CommercialDetection",
        "summary": "Classifies the Document as commercial or nocommercial"
      }
    },
    "/1.0/DocumentSimilarity.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The second text. It should not contain HTML tags.",
            "in": "formData",
            "name": "copy",
            "type": "string"
          },
          {
            "description": "The first text. It should not contain HTML tags.",
            "in": "formData",
            "name": "original",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Metrics"
        ],
        "deprecated": false,
        "description": "The Document Similarity function estimates the degree of similarity between two documents. It can be used to detect duplicate webpages or detect plagiarism.",
        "operationId": "DocumentSimilarity",
        "summary": "Estimates the similarity between 2 Documents"
      }
    },
    "/1.0/EducationalDetection.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Educational Detection function classifies the documents as educational or non-educational based on their context. It can be used to detect whether a website is educational or not.",
        "operationId": "EducationalDetection",
        "summary": "Classifies the Document as educational or noeducational"
      }
    },
    "/1.0/GenderDetection.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Gender Detection function identifies if a particular document is written-by or targets-to a man or a woman based on the context, the words and the idioms found in the text.",
        "operationId": "GenderDetection",
        "summary": "Gender Detection Service"
      }
    },
    "/1.0/KeywordExtraction.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The number of keyword combinations (n-grams) that you wish to extract.",
            "in": "formData",
            "maximum": 5,
            "minimum": 1,
            "name": "n",
            "type": "integer"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Information-Retrieval"
        ],
        "deprecated": false,
        "description": "The Keyword Extraction function enables you to extract from an arbitrary document all the keywords and word-combinations along with their occurrences in the text.",
        "operationId": "KeywordExtraction",
        "summary": "Extracts the Keywords of the Document"
      }
    },
    "/1.0/LanguageDetection.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Language Detection function identifies the natural language of the given document based on its words and context. This classifier is able to detect 96 different languages.",
        "operationId": "LanguageDetection",
        "summary": "Identifies the Language of the Document"
      }
    },
    "/1.0/ReadabilityAssessment.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Readability Assessment function determines the degree of readability of a document based on its terms and idioms. The texts are classified as basic, intermediate and advanced depending their difficulty.",
        "operationId": "ReadabilityAssessment",
        "summary": "Evaluates the Readability of the Document"
      }
    },
    "/1.0/SentimentAnalysis.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Sentiment Analysis function classifies documents as positive, negative or neutral (lack of sentiment) depending on whether they express a positive, negative or neutral opinion.",
        "operationId": "SentimentAnalysis",
        "summary": "Identifies the Sentiment of the Document"
      }
    },
    "/1.0/SpamDetection.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Spam Detection function labels documents as spam or nospam by taking into account their context. It can be used to filter out spam emails and comments.",
        "operationId": "SpamDetection",
        "summary": "Classifies the Document as spam or nospam"
      }
    },
    "/1.0/SubjectivityAnalysis.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Subjectivity Analysis function categorizes documents as subjective or objective based on their writing style. Texts that express personal opinions are labeled as subjective and the others as objective.",
        "operationId": "SubjectivityAnalysis",
        "summary": "Classifies Document as Subjective or Objective"
      }
    },
    "/1.0/TextExtraction.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The HTML source of the webpage.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Information-Retrieval"
        ],
        "deprecated": false,
        "description": "The Text Extraction function enables you to extract the important information from a given webpage. Extracting the clear text of the documents is an important step before any other analysis.",
        "operationId": "TextExtraction",
        "summary": "Extracts the clear text from Webpage"
      }
    },
    "/1.0/TopicClassification.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text that you want to analyze. It should not contain HTML tags.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Topic Classification function assigns documents in 12 thematic categories based on their keywords, idioms and jargon. It can be used to identify the topic of the texts.",
        "operationId": "TopicClassification",
        "summary": "Identifies the Topic of the Document"
      }
    },
    "/1.0/TwitterSentimentAnalysis.json": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "description": "Your API Key",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The text of the tweet that we evaluate.",
            "in": "formData",
            "name": "text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Document-Classification"
        ],
        "deprecated": false,
        "description": "The Twitter Sentiment Analysis function allows you to perform Sentiment Analysis on Twitter. It classifies the tweets as positive, negative or neutral depending on their context.",
        "operationId": "TwitterSentimentAnalysis",
        "summary": "Identifies the Sentiment of Twitter Messages"
      }
    }
  },
  "tags": [
    {
      "description": "Document Classification Functions",
      "name": "Document-Classification"
    },
    {
      "description": "Information Retrieval Functions",
      "name": "Information-Retrieval"
    },
    {
      "description": "Metrics",
      "name": "Metrics"
    }
  ],
  "x-components": {
    "requestBodies": {
      "SentimentAnalysis": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "properties": {
                "api_key": {
                  "description": "Your API Key",
                  "type": "string"
                },
                "text": {
                  "description": "The text that you want to analyze. It should not contain HTML tags.",
                  "type": "string"
                }
              },
              "required": [
                "api_key"
              ],
              "type": "object"
            }
          }
        }
      }
    }
  }
}