{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "MLB v3 RotoBaller Articles",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/mlb-v3-rotoballer-articles.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "sportsdata.io",
    "x-serviceName": "mlb-v3-rotoballer-articles",
    "x-datafire": {
      "name": "sportsdata_mlb_v3_rotoballer_articles",
      "type": "openapi"
    }
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/mlb/articles-rotoballer",
  "schemes": [
    "http"
  ],
  "paths": {
    "/{format}/RotoBallerArticles": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Article"
              },
              "type": "array"
            }
          }
        },
        "operationId": "RotoballerArticles",
        "summary": "RotoBaller Articles"
      }
    },
    "/{format}/RotoBallerArticlesByDate/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date of the news.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Article"
              },
              "type": "array"
            }
          }
        },
        "operationId": "RotoballerArticlesByDate",
        "summary": "RotoBaller Articles By Date"
      }
    },
    "/{format}/RotoBallerArticlesByPlayerID/{playerid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "xml",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "enum": [
              "xml",
              "json"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/Article"
              },
              "type": "array"
            }
          }
        },
        "operationId": "RotoballerArticlesByPlayer",
        "summary": "RotoBaller Articles By Player"
      }
    }
  },
  "definitions": {
    "Article": {
      "properties": {
        "ArticleID": {
          "nullable": false,
          "type": "integer"
        },
        "Author": {
          "nullable": true,
          "type": "string"
        },
        "Content": {
          "nullable": true,
          "type": "string"
        },
        "Players": {
          "items": {
            "$ref": "#/definitions/PlayerInfo"
          },
          "type": "array"
        },
        "Source": {
          "nullable": true,
          "type": "string"
        },
        "TermsOfUse": {
          "nullable": true,
          "type": "string"
        },
        "Title": {
          "nullable": true,
          "type": "string"
        },
        "Updated": {
          "nullable": true,
          "type": "string"
        },
        "Url": {
          "nullable": true,
          "type": "string"
        }
      }
    },
    "PlayerInfo": {
      "properties": {
        "Name": {
          "nullable": true,
          "type": "string"
        },
        "PlayerID": {
          "nullable": false,
          "type": "integer"
        },
        "Position": {
          "nullable": true,
          "type": "string"
        },
        "Team": {
          "nullable": true,
          "type": "string"
        },
        "TeamID": {
          "nullable": true,
          "type": "integer"
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "subscription-key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "x-components": {}
}