{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>Amazon GuardDuty is a continuous security monitoring service that analyzes and processes the following data sources: VPC Flow Logs, AWS CloudTrail event logs, and DNS logs. It uses threat intelligence feeds (such as lists of malicious IPs and domains) and machine learning to identify unexpected, potentially unauthorized, and malicious activity within your AWS environment. This can include issues like escalations of privileges, uses of exposed credentials, or communication with malicious IPs, URLs, or domains. For example, GuardDuty can detect compromised EC2 instances that serve malware or mine bitcoin. </p> <p>GuardDuty also monitors AWS account access behavior for signs of compromise. Some examples of this are unauthorized infrastructure deployments such as EC2 instances deployed in a Region that has never been used, or unusual API calls like a password policy change to reduce password strength. </p> <p>GuardDuty informs you of the status of your AWS environment by producing security findings that you can view in the GuardDuty console or through Amazon CloudWatch events. For more information, see the <i> <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/what-is-guardduty.html\">Amazon GuardDuty User Guide</a> </i>. </p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon GuardDuty",
    "version": "2017-11-28",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/guardduty-2017-11-28.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "guardduty",
    "x-datafire": {
      "name": "amazonaws_guardduty",
      "type": "openapi"
    }
  },
  "host": "guardduty.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/admin": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of results to return in the response.",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token to use for paginating results that are returned in the response. Set the value of this parameter to null for the first request to a list action. For subsequent calls, use the <code>NextToken</code> value returned from the previous request to continue listing results after the first page.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListOrganizationAdminAccountsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Lists the accounts configured as GuardDuty delegated administrators.",
        "operationId": "ListOrganizationAdminAccounts"
      }
    },
    "/admin/disable": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "adminAccountId": {
                  "description": "The AWS Account ID for the organizations account to be disabled as a GuardDuty delegated administrator.",
                  "type": "string"
                }
              },
              "required": [
                "adminAccountId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisableOrganizationAdminAccountResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Disables an AWS account within the Organization as the GuardDuty delegated administrator.",
        "operationId": "DisableOrganizationAdminAccount"
      }
    },
    "/admin/enable": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "adminAccountId": {
                  "description": "The AWS Account ID for the organization account to be enabled as a GuardDuty delegated administrator.",
                  "type": "string"
                }
              },
              "required": [
                "adminAccountId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnableOrganizationAdminAccountResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Enables an AWS account within the organization as the GuardDuty delegated administrator.",
        "operationId": "EnableOrganizationAdminAccount"
      }
    },
    "/detector": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "You can use this parameter to indicate the maximum number of items that you want in the response. The default value is 50. The maximum value is 50.",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action, fill nextToken in the request with the value of NextToken from the previous response to continue listing data.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDetectorsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Lists detectorIds of all the existing Amazon GuardDuty detector resources.",
        "operationId": "ListDetectors"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags to be added to a new detector resource.",
                  "maxProperties": 200,
                  "minProperties": 1,
                  "type": "object"
                },
                "clientToken": {
                  "description": "The idempotency token for the create request.",
                  "maxLength": 64,
                  "minLength": 0,
                  "type": "string"
                },
                "dataSources": {
                  "description": "Contains information about which data sources are enabled.",
                  "properties": {
                    "S3Logs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3LogsConfiguration"
                        },
                        {
                          "description": "Describes whether S3 data event logs are enabled as a data source.",
                          "xml": {
                            "name": "s3Logs"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "enable": {
                  "description": "A Boolean value that specifies whether the detector is to be enabled.",
                  "type": "boolean"
                },
                "findingPublishingFrequency": {
                  "description": "A value that specifies how frequently updated findings are exported.",
                  "enum": [
                    "FIFTEEN_MINUTES",
                    "ONE_HOUR",
                    "SIX_HOURS"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "enable"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDetectorResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Creates a single Amazon GuardDuty detector. A detector is a resource that represents the GuardDuty service. To start using GuardDuty, you must create a detector in each Region where you enable the service. You can have only one detector per account per Region. All data sources are enabled in a new detector by default.",
        "operationId": "CreateDetector"
      }
    },
    "/detector/{detectorId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector that you want to delete.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDetectorResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Deletes an Amazon GuardDuty detector that is specified by the detector ID.",
        "operationId": "DeleteDetector"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector that you want to get.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDetectorResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Retrieves an Amazon GuardDuty detector specified by the detectorId.",
        "operationId": "GetDetector"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector to update.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "dataSources": {
                  "description": "Contains information about which data sources are enabled.",
                  "properties": {
                    "S3Logs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3LogsConfiguration"
                        },
                        {
                          "description": "Describes whether S3 data event logs are enabled as a data source.",
                          "xml": {
                            "name": "s3Logs"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "enable": {
                  "description": "Specifies whether the detector is enabled or not enabled.",
                  "type": "boolean"
                },
                "findingPublishingFrequency": {
                  "description": "An enum value that specifies how frequently findings are exported, such as to CloudWatch Events.",
                  "enum": [
                    "FIFTEEN_MINUTES",
                    "ONE_HOUR",
                    "SIX_HOURS"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDetectorResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Updates the Amazon GuardDuty detector specified by the detectorId.",
        "operationId": "UpdateDetector"
      }
    },
    "/detector/{detectorId}/admin": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector to retrieve information about the delegated administrator from.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeOrganizationConfigurationResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Returns information about the account selected as the delegated administrator for GuardDuty.",
        "operationId": "DescribeOrganizationConfiguration"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector to update the delegated administrator for.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "autoEnable": {
                  "description": "Indicates whether to automatically enable member accounts in the organization.",
                  "type": "boolean"
                },
                "dataSources": {
                  "description": "An object that contains information on which data sources will be configured to be automatically enabled for new members within the organization.",
                  "properties": {
                    "S3Logs": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/OrganizationS3LogsConfiguration"
                        },
                        {
                          "description": "Describes whether S3 data event logs are enabled for new members of the organization.",
                          "xml": {
                            "name": "s3Logs"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "autoEnable"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateOrganizationConfigurationResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Updates the delegated administrator account with the values provided.",
        "operationId": "UpdateOrganizationConfiguration"
      }
    },
    "/detector/{detectorId}/filter": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector that the filter is associated with.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can use this parameter to indicate the maximum number of items that you want in the response. The default value is 50. The maximum value is 50.",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action, fill nextToken in the request with the value of NextToken from the previous response to continue listing data.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListFiltersResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Returns a paginated list of the current filters.",
        "operationId": "ListFilters"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector belonging to the GuardDuty account that you want to create a filter for.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags to be added to a new filter resource.",
                  "maxProperties": 200,
                  "minProperties": 1,
                  "type": "object"
                },
                "action": {
                  "description": "Specifies the action that is to be applied to the findings that match the filter.",
                  "enum": [
                    "NOOP",
                    "ARCHIVE"
                  ],
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "clientToken": {
                  "description": "The idempotency token for the create request.",
                  "maxLength": 64,
                  "minLength": 0,
                  "type": "string"
                },
                "description": {
                  "description": "The description of the filter.",
                  "maxLength": 512,
                  "minLength": 0,
                  "type": "string"
                },
                "findingCriteria": {
                  "description": "Contains information about the criteria used for querying findings.",
                  "properties": {
                    "Criterion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Criterion"
                        },
                        {
                          "description": "Represents a map of finding properties that match specified conditions and values when querying findings.",
                          "xml": {
                            "name": "criterion"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "The name of the filter. Minimum length of 3. Maximum length of 64. Valid characters include alphanumeric characters, dot (.), underscore (_), and dash (-). Spaces are not allowed.",
                  "maxLength": 64,
                  "minLength": 3,
                  "type": "string"
                },
                "rank": {
                  "description": "Specifies the position of the filter in the list of current filters. Also specifies the order in which this filter is applied to the findings.",
                  "maximum": 100,
                  "minimum": 1,
                  "type": "integer"
                }
              },
              "required": [
                "name",
                "findingCriteria"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateFilterResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Creates a filter using the specified finding criteria.",
        "operationId": "CreateFilter"
      }
    },
    "/detector/{detectorId}/filter/{filterName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector that the filter is associated with.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the filter that you want to delete.",
            "in": "path",
            "name": "filterName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteFilterResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Deletes the filter specified by the filter name.",
        "operationId": "DeleteFilter"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector that the filter is associated with.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the filter you want to get.",
            "in": "path",
            "name": "filterName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetFilterResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Returns the details of the filter specified by the filter name.",
        "operationId": "GetFilter"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector that specifies the GuardDuty service where you want to update a filter.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the filter.",
            "in": "path",
            "name": "filterName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "action": {
                  "description": "Specifies the action that is to be applied to the findings that match the filter.",
                  "enum": [
                    "NOOP",
                    "ARCHIVE"
                  ],
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "description": {
                  "description": "The description of the filter.",
                  "maxLength": 512,
                  "minLength": 0,
                  "type": "string"
                },
                "findingCriteria": {
                  "description": "Contains information about the criteria used for querying findings.",
                  "properties": {
                    "Criterion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Criterion"
                        },
                        {
                          "description": "Represents a map of finding properties that match specified conditions and values when querying findings.",
                          "xml": {
                            "name": "criterion"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "rank": {
                  "description": "Specifies the position of the filter in the list of current filters. Also specifies the order in which this filter is applied to the findings.",
                  "maximum": 100,
                  "minimum": 1,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateFilterResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Updates the filter specified by the filter name.",
        "operationId": "UpdateFilter"
      }
    },
    "/detector/{detectorId}/findings": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector that specifies the GuardDuty service whose findings you want to list.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "findingCriteria": {
                  "description": "Contains information about the criteria used for querying findings.",
                  "properties": {
                    "Criterion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Criterion"
                        },
                        {
                          "description": "Represents a map of finding properties that match specified conditions and values when querying findings.",
                          "xml": {
                            "name": "criterion"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "maxResults": {
                  "description": "You can use this parameter to indicate the maximum number of items you want in the response. The default value is 50. The maximum value is 50.",
                  "maximum": 50,
                  "minimum": 1,
                  "type": "integer"
                },
                "nextToken": {
                  "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action, fill nextToken in the request with the value of NextToken from the previous response to continue listing data.",
                  "type": "string"
                },
                "sortCriteria": {
                  "description": "Contains information about the criteria used for sorting findings.",
                  "properties": {
                    "AttributeName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "Represents the finding attribute (for example, accountId) to sort findings by.",
                          "xml": {
                            "name": "attributeName"
                          }
                        }
                      ]
                    },
                    "OrderBy": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/OrderBy"
                        },
                        {
                          "description": "The order by which the sorted findings are to be displayed.",
                          "xml": {
                            "name": "orderBy"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListFindingsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Lists Amazon GuardDuty findings for the specified detector ID.",
        "operationId": "ListFindings"
      }
    },
    "/detector/{detectorId}/findings/archive": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector that specifies the GuardDuty service whose findings you want to archive.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "findingIds": {
                  "description": "The IDs of the findings that you want to archive.",
                  "items": {
                    "$ref": "#/definitions/FindingId"
                  },
                  "maxItems": 50,
                  "minItems": 0,
                  "type": "array"
                }
              },
              "required": [
                "findingIds"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ArchiveFindingsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "<p>Archives GuardDuty findings that are specified by the list of finding IDs.</p> <note> <p>Only the administrator account can archive findings. Member accounts don't have permission to archive findings from their accounts.</p> </note>",
        "operationId": "ArchiveFindings"
      }
    },
    "/detector/{detectorId}/findings/create": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector to create sample findings for.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "findingTypes": {
                  "description": "The types of sample findings to generate.",
                  "items": {
                    "$ref": "#/definitions/FindingType"
                  },
                  "maxItems": 50,
                  "minItems": 0,
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSampleFindingsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Generates example findings of types specified by the list of finding types. If 'NULL' is specified for <code>findingTypes</code>, the API generates example findings of all supported finding types.",
        "operationId": "CreateSampleFindings"
      }
    },
    "/detector/{detectorId}/findings/feedback": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector associated with the findings to update feedback for.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "comments": {
                  "description": "Additional feedback about the GuardDuty findings.",
                  "type": "string"
                },
                "feedback": {
                  "description": "The feedback for the finding.",
                  "enum": [
                    "USEFUL",
                    "NOT_USEFUL"
                  ],
                  "type": "string"
                },
                "findingIds": {
                  "description": "The IDs of the findings that you want to mark as useful or not useful.",
                  "items": {
                    "$ref": "#/definitions/FindingId"
                  },
                  "maxItems": 50,
                  "minItems": 0,
                  "type": "array"
                }
              },
              "required": [
                "findingIds",
                "feedback"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateFindingsFeedbackResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Marks the specified GuardDuty findings as useful or not useful.",
        "operationId": "UpdateFindingsFeedback"
      }
    },
    "/detector/{detectorId}/findings/get": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector that specifies the GuardDuty service whose findings you want to retrieve.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "findingIds": {
                  "description": "The IDs of the findings that you want to retrieve.",
                  "items": {
                    "$ref": "#/definitions/FindingId"
                  },
                  "maxItems": 50,
                  "minItems": 0,
                  "type": "array"
                },
                "sortCriteria": {
                  "description": "Contains information about the criteria used for sorting findings.",
                  "properties": {
                    "AttributeName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "Represents the finding attribute (for example, accountId) to sort findings by.",
                          "xml": {
                            "name": "attributeName"
                          }
                        }
                      ]
                    },
                    "OrderBy": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/OrderBy"
                        },
                        {
                          "description": "The order by which the sorted findings are to be displayed.",
                          "xml": {
                            "name": "orderBy"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "findingIds"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetFindingsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Describes Amazon GuardDuty findings specified by finding IDs.",
        "operationId": "GetFindings"
      }
    },
    "/detector/{detectorId}/findings/statistics": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector that specifies the GuardDuty service whose findings' statistics you want to retrieve.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "findingCriteria": {
                  "description": "Contains information about the criteria used for querying findings.",
                  "properties": {
                    "Criterion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Criterion"
                        },
                        {
                          "description": "Represents a map of finding properties that match specified conditions and values when querying findings.",
                          "xml": {
                            "name": "criterion"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "findingStatisticTypes": {
                  "description": "The types of finding statistics to retrieve.",
                  "items": {
                    "$ref": "#/definitions/FindingStatisticType"
                  },
                  "maxItems": 10,
                  "minItems": 0,
                  "type": "array"
                }
              },
              "required": [
                "findingStatisticTypes"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetFindingsStatisticsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Lists Amazon GuardDuty findings statistics for the specified detector ID.",
        "operationId": "GetFindingsStatistics"
      }
    },
    "/detector/{detectorId}/findings/unarchive": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the detector associated with the findings to unarchive.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "findingIds": {
                  "description": "The IDs of the findings to unarchive.",
                  "items": {
                    "$ref": "#/definitions/FindingId"
                  },
                  "maxItems": 50,
                  "minItems": 0,
                  "type": "array"
                }
              },
              "required": [
                "findingIds"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UnarchiveFindingsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Unarchives GuardDuty findings specified by the <code>findingIds</code>.",
        "operationId": "UnarchiveFindings"
      }
    },
    "/detector/{detectorId}/ipset": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector that the IPSet is associated with.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can use this parameter to indicate the maximum number of items you want in the response. The default value is 50. The maximum value is 50.",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action, fill nextToken in the request with the value of NextToken from the previous response to continue listing data.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListIPSetsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Lists the IPSets of the GuardDuty service specified by the detector ID. If you use this operation from a member account, the IPSets returned are the IPSets from the associated administrator account.",
        "operationId": "ListIPSets"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector of the GuardDuty account that you want to create an IPSet for.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The tags to be added to a new IP set resource.",
                  "maxProperties": 200,
                  "minProperties": 1,
                  "type": "object"
                },
                "activate": {
                  "description": "A Boolean value that indicates whether GuardDuty is to start using the uploaded IPSet.",
                  "type": "boolean"
                },
                "clientToken": {
                  "description": "The idempotency token for the create request.",
                  "maxLength": 64,
                  "minLength": 0,
                  "type": "string"
                },
                "format": {
                  "description": "The format of the file that contains the IPSet.",
                  "enum": [
                    "TXT",
                    "STIX",
                    "OTX_CSV",
                    "ALIEN_VAULT",
                    "PROOF_POINT",
                    "FIRE_EYE"
                  ],
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "location": {
                  "description": "The URI of the file that contains the IPSet. For example: https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key.",
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "<p>The user-friendly name to identify the IPSet.</p> <p> Allowed characters are alphanumerics, spaces, hyphens (-), and underscores (_).</p>",
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "name",
                "format",
                "location",
                "activate"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateIPSetResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Creates a new IPSet, which is called a trusted IP list in the console user interface. An IPSet is a list of IP addresses that are trusted for secure communication with AWS infrastructure and applications. GuardDuty doesn't generate findings for IP addresses that are included in IPSets. Only users from the administrator account can use this operation.",
        "operationId": "CreateIPSet"
      }
    },
    "/detector/{detectorId}/ipset/{ipSetId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector associated with the IPSet.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique ID of the IPSet to delete.",
            "in": "path",
            "name": "ipSetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteIPSetResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Deletes the IPSet specified by the <code>ipSetId</code>. IPSets are called trusted IP lists in the console user interface.",
        "operationId": "DeleteIPSet"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector that the IPSet is associated with.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique ID of the IPSet to retrieve.",
            "in": "path",
            "name": "ipSetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIPSetResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Retrieves the IPSet specified by the <code>ipSetId</code>.",
        "operationId": "GetIPSet"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The detectorID that specifies the GuardDuty service whose IPSet you want to update.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique ID that specifies the IPSet that you want to update.",
            "in": "path",
            "name": "ipSetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "activate": {
                  "description": "The updated Boolean value that specifies whether the IPSet is active or not.",
                  "type": "boolean"
                },
                "location": {
                  "description": "The updated URI of the file that contains the IPSet. For example: https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key.",
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "The unique ID that specifies the IPSet that you want to update.",
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateIPSetResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Updates the IPSet specified by the IPSet ID.",
        "operationId": "UpdateIPSet"
      }
    },
    "/detector/{detectorId}/master": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector of the GuardDuty member account.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMasterAccountResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Provides the details for the GuardDuty administrator account associated with the current GuardDuty member account.",
        "operationId": "GetMasterAccount"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector of the GuardDuty member account.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "invitationId": {
                  "description": "The value that is used to validate the administrator account to the member account.",
                  "type": "string"
                },
                "masterId": {
                  "description": "The account ID of the GuardDuty administrator account whose invitation you're accepting.",
                  "type": "string"
                }
              },
              "required": [
                "masterId",
                "invitationId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AcceptInvitationResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Accepts the invitation to be monitored by a GuardDuty administrator account.",
        "operationId": "AcceptInvitation"
      }
    },
    "/detector/{detectorId}/master/disassociate": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector of the GuardDuty member account.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateFromMasterAccountResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Disassociates the current GuardDuty member account from its administrator account.",
        "operationId": "DisassociateFromMasterAccount"
      }
    },
    "/detector/{detectorId}/member": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector the member is associated with.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can use this parameter to indicate the maximum number of items you want in the response. The default value is 50. The maximum value is 50.",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action, fill nextToken in the request with the value of NextToken from the previous response to continue listing data.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies whether to only return associated members or to return all members (including members who haven't been invited yet or have been disassociated).",
            "in": "query",
            "name": "onlyAssociated",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListMembersResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Lists details about all member accounts for the current GuardDuty administrator account.",
        "operationId": "ListMembers"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector of the GuardDuty account that you want to associate member accounts with.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "accountDetails": {
                  "description": "A list of account ID and email address pairs of the accounts that you want to associate with the GuardDuty administrator account.",
                  "items": {
                    "$ref": "#/definitions/AccountDetail"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "accountDetails"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateMembersResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "<p>Creates member accounts of the current AWS account by specifying a list of AWS account IDs. This step is a prerequisite for managing the associated member accounts either by invitation or through an organization.</p> <p>When using <code>Create Members</code> as an organizations delegated administrator this action will enable GuardDuty in the added member accounts, with the exception of the organization delegated administrator account, which must enable GuardDuty prior to being added as a member.</p> <p>If you are adding accounts by invitation use this action after GuardDuty has been enabled in potential member accounts and before using <a href=\"https://docs.aws.amazon.com/guardduty/latest/APIReference/API_InviteMembers.html\"> <code>Invite Members</code> </a>.</p>",
        "operationId": "CreateMembers"
      }
    },
    "/detector/{detectorId}/member/delete": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID of the detector of the GuardDuty account whose members you want to delete.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "accountIds": {
                  "description": "A list of account IDs of the GuardDuty member accounts that you want to delete.",
                  "items": {
                    "$ref": "#/definitions/AccountId"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "accountIds"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteMembersResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          }
        },
        "description": "Deletes GuardDuty member accounts (to the current GuardDuty administrator account) specified by the account IDs.",
        "operationId": "DeleteMembers"
      }
    },
    "/detector/{detectorId}/member/detector/get": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The detector ID for the administrator account.",
            "in": "path",
            "maxLength": 300,
            "minLength": 1,
            "name": "detectorId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "accountIds": {
                  "description": "The account ID of the member account.",
                  "items": {
                    "$ref": "#/definitions/AccountId"
[...]
