{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "paul@pcraig3.ca",
      "name": "Paul Craig",
      "url": "https://canada-holidays.ca/feedback"
    },
    "description": "This API that lists all 28 public holidays for all 13 provinces and territories in Canada, including federal holidays.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/pcraig3/hols/blob/master/LICENSE"
    },
    "title": "Canada Holidays API",
    "version": "1.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_d_d9_Flag_of_Canada_(Pantone).svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.swaggerhub.com/apis/pcraig3/canada-holidays/1.0",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "canada-holidays.ca",
    "x-datafire": {
      "name": "canada_holidays_ca",
      "type": "openapi"
    }
  },
  "host": "canada-holidays.ca",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "_links": {
                  "properties": {
                    "holidays": {
                      "properties": {
                        "href": {
                          "description": "Domain to get all holidays",
                          "example": "http://localhost:3000/api/v1/holidays",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "provinces": {
                      "properties": {
                        "href": {
                          "description": "Domain to get all provinces",
                          "example": "http://localhost:3000/api/v1/provinces",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "self": {
                      "properties": {
                        "href": {
                          "description": "Root domain",
                          "example": "http://localhost:3000/api/v1/",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "message": {
                  "description": "A welcome message",
                  "example": "Hello / Bonjour!",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "root"
        ],
        "description": "Returns a welcome message.",
        "operationId": "get-api-vi",
        "summary": "root"
      }
    },
    "/api/v1/holidays": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "allowEmptyValue": true,
            "default": "2020",
            "description": "A calendar year",
            "in": "query",
            "maxLength": 4,
            "minLength": 4,
            "name": "year",
            "pattern": "^\\d{4}$",
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "description": "A boolean parameter. If true, will return only federal holidays. If false, will return no federal holidays.",
            "enum": [
              "1",
              "0",
              "true",
              "false"
            ],
            "in": "query",
            "name": "federal",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "schema": {
              "properties": {
                "holidays": {
                  "items": {
                    "$ref": "#/definitions/Holiday"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "holidays"
        ],
        "description": "Returns Canadian public holidays. Each holiday lists the regions that observe it.",
        "operationId": "get-api-v1-holidays",
        "summary": "Get all holidays"
      }
    },
    "/api/v1/holidays/{holidayId}": {
      "parameters": [
        {
          "description": "Primary key for a holiday",
          "in": "path",
          "maxLength": 28,
          "maximum": 28,
          "minLength": 1,
          "minimum": 1,
          "name": "holidayId",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "allowEmptyValue": true,
            "default": "2020",
            "description": "A calendar year",
            "in": "query",
            "maxLength": 4,
            "minLength": 4,
            "name": "year",
            "pattern": "^\\d{4}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "schema": {
              "properties": {
                "holiday": {
                  "$ref": "#/definitions/Holiday"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "error": {
                  "$ref": "#/definitions/Error"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "holidays"
        ],
        "description": "Returns one Canadian statutory holiday by integer id. Returns a 404 response for invalid ids.",
        "operationId": "get-holidays-holidayId",
        "summary": "Get a holiday by id"
      }
    },
    "/api/v1/provinces": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "allowEmptyValue": true,
            "default": "2020",
            "description": "A calendar year",
            "in": "query",
            "maxLength": 4,
            "minLength": 4,
            "name": "year",
            "pattern": "^\\d{4}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "schema": {
              "properties": {
                "provinces": {
                  "items": {
                    "$ref": "#/definitions/Province"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "provinces"
        ],
        "description": "Returns provinces and territories in Canada. Each province or territory lists its associated holidays.",
        "operationId": "get-api-v1-provinces",
        "summary": "Get all provinces"
      }
    },
    "/api/v1/provinces/{provinceId}": {
      "parameters": [
        {
          "description": "A Canadian province abbreviation",
          "enum": [
            "AB",
            "BC",
            "MB",
            "NB",
            "NL",
            "NS",
            "NT",
            "NU",
            "ON",
            "PE",
            "QC",
            "SK",
            "YT"
          ],
          "in": "path",
          "name": "provinceId",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "allowEmptyValue": true,
            "default": "2020",
            "description": "A calendar year",
            "in": "query",
            "maxLength": 4,
            "minLength": 4,
            "name": "year",
            "pattern": "^\\d{4}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "schema": {
              "properties": {
                "province": {
                  "$ref": "#/definitions/Province"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "error": {
                  "$ref": "#/definitions/Error"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "root"
        ],
        "description": "Returns a Canadian province or territory with its associated holidays.",
        "operationId": "get-api-v1-provinces-provinceId",
        "summary": "Get a province or territory by abbreviation"
      }
    }
  },
  "definitions": {
    "Error": {
      "properties": {
        "message": {
          "description": "An error message",
          "example": "Error: No holiday with id “100”",
          "type": "string"
        },
        "status": {
          "description": "An HTTP status code",
          "example": 404,
          "maximum": 599,
          "minimum": 100,
          "type": "integer"
        },
        "timestamp": {
          "description": "A UTC ISO timestamp",
          "example": "2020-04-27T05:41:10.710Z",
          "format": "date-time",
          "type": "string"
        }
      },
      "title": "Error",
      "type": "object",
      "x-examples": {
        "/holidays/100": {
          "message": "Error: No holiday with id “100”",
          "status": 404,
          "timestamp": "2020-04-27T05:41:10.710Z"
        }
      }
    },
    "Holiday": {
      "description": "A Canadian holiday. Includes a name, date, and a list of regions that observe this holiday.",
      "properties": {
        "date": {
          "description": "ISO date",
          "example": "2020-02-17",
          "format": "date",
          "type": "string"
        },
        "federal": {
          "description": "Whether this holiday is observed by federally-regulated industries.",
          "enum": [
            "0",
            "1",
            "true",
            "false"
          ],
          "format": "binary",
          "type": "string"
        },
        "id": {
          "description": "Primary key for a holiday",
          "example": 2,
          "maximum": 28,
          "minimum": 1,
          "type": "integer"
        },
        "name Fr": {
          "description": "French name",
          "example": "Journée Louis Riel",
          "type": "string"
        },
        "nameEn": {
          "description": "English name",
          "example": "Louis Riel Day",
          "type": "string"
        },
        "provinces": {
          "items": {
            "$ref": "#/definitions/Province"
          },
          "type": "array"
        }
      },
      "title": "Holiday",
      "type": "object",
      "x-examples": {
        "/holidays/2": {
          "date": "2020-02-17",
          "federal": 0,
          "id": 2,
          "nameEn": "Louis Riel Day",
          "nameFr": "Journée Louis Riel",
          "provinces": [
            {
              "id": "MB",
              "nameEn": "Manitoba",
              "nameFr": "Manitoba"
            }
          ]
        }
      }
    },
    "Province": {
      "description": "A Canadian province or territory ",
      "properties": {
        "id": {
          "description": "Canadian province abbreviations",
          "enum": [
            "AB",
            "BC",
            "MB",
            "NB",
            "NL",
            "NS",
            "NT",
            "NU",
            "ON",
            "PE",
            "QC",
            "SK",
            "YT"
          ],
          "example": "MB",
          "type": "string"
        },
        "nameEn": {
          "description": "English name",
          "example": "Manitoba",
          "type": "string"
        },
        "nameFr": {
          "description": "French name",
          "example": "Manitoba",
          "type": "string"
        },
        "nextHoliday": {
          "$ref": "#/definitions/Holiday"
        },
        "provinces": {
          "items": {
            "$ref": "#/definitions/Holiday"
          },
          "type": "array"
        }
      },
      "title": "Province",
      "type": "object",
      "x-examples": {
        "/provinces/MB": {
          "holidays": [
            {
              "date": "2020-01-01",
              "federal": 1,
              "id": 1,
              "nameEn": "New Year’s Day",
              "nameFr": "Jour de l’An"
            },
            {
              "date": "2020-02-17",
              "federal": 0,
              "id": 2,
              "nameEn": "Louis Riel Day",
              "nameFr": "Journée Louis Riel"
            },
            {
              "date": "2020-04-10",
              "federal": 1,
              "id": 7,
              "nameEn": "Good Friday",
              "nameFr": "Vendredi saint"
            },
            {
              "date": "2020-05-18",
              "federal": 1,
              "id": 11,
              "nameEn": "Victoria Day",
              "nameFr": "Fête de la Reine"
            },
            {
              "date": "2020-07-01",
              "federal": 1,
              "id": 15,
              "nameEn": "Canada Day",
              "nameFr": "Fête du Canada"
            },
            {
              "date": "2020-09-07",
              "federal": 1,
              "id": 24,
              "nameEn": "Labour Day",
              "nameFr": "Fête du travail"
            },
            {
              "date": "2020-10-12",
              "federal": 1,
              "id": 25,
              "nameEn": "Thanksgiving",
              "nameFr": "Action de grâce"
            },
            {
              "date": "2020-12-25",
              "federal": 1,
              "id": 27,
              "nameEn": "Christmas Day",
              "nameFr": "Noël"
            }
          ],
          "id": "MB",
          "nameEn": "Manitoba",
          "nameFr": "Manitoba",
          "nextHoliday": {
            "date": "2020-05-18",
            "federal": 1,
            "id": 11,
            "nameEn": "Victoria Day",
            "nameFr": "Fête de la Reine"
          }
        }
      }
    }
  },
  "securityDefinitions": {},
  "tags": [
    {
      "description": "Get holiday(s) with associated provinces",
      "name": "holidays"
    },
    {
      "description": "Get province(s) with associated holidays",
      "name": "provinces"
    },
    {
      "description": "Get welcome message and links",
      "name": "root"
    }
  ],
  "x-components": {}
}