{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@configcat.com",
      "name": "ConfigCat",
      "url": "https://configcat.com",
      "x-twitter": "configcat"
    },
    "description": "**Base API URL**: https://api.configcat.com\n\nIf you prefer the swagger documentation, you can find it here: [Swagger UI](https://api.configcat.com/swagger).\n\nThe purpose of this API is to access the ConfigCat platform programmatically. \nYou can **Create**, **Read**, **Update** and **Delete** any entities like **Feature Flags, Configs, Environments** or **Products** within ConfigCat. \n\nThe API is based on HTTP REST, uses resource-oriented URLs, status codes and supports JSON \nand JSON+HAL format. Do not use this API for accessing and evaluating feature flag values. Use the [SDKs instead](https://configcat.com/docs/sdk-reference/overview).\n\n\n# OpenAPI Specification\n\nThe complete specification is publicly available here: [swagger.json](v1/swagger.json). \nYou can use it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) or\n[Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact with this API.\n\n# Authentication\nThis API uses the [Basic HTTP Authentication Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication). \n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# Throttling and rate limits\nAll the rate limited API calls are returning information about the current rate limit period in the following HTTP headers:\n\n| Header | Description |\n| :- | :- |\n| X-Rate-Limit-Remaining | The maximum number of requests remaining in the current rate limit period. |\n| X-Rate-Limit-Reset     | The time\twhen the current rate limit period resets.\t\t\t\t\t\t  |\n\nWhen the rate limit is exceeded by a request, the API returns with a `HTTP 429 - Too many requests` status along with a `Retry-After` HTTP header.\n",
    "termsOfService": "https://configcat.com/termsofserviceagreement",
    "title": "ConfigCat Public Management API",
    "version": "v1",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_api.configcat.com_resources_configcat-logo-horiz.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.configcat.com/docs/v1/swagger.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "configcat.com",
    "x-datafire": {
      "name": "configcat",
      "type": "openapi"
    }
  },
  "host": "api.configcat.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/configs/{configId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "format": "uuid",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Configs"
        ],
        "description": "This endpoint removes a Config identified by the `configId` parameter.",
        "operationId": "delete-config",
        "summary": "Delete Config"
      },
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "format": "uuid",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the config data returned.",
            "schema": {
              "$ref": "#/definitions/ConfigModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Configs"
        ],
        "description": "This endpoint returns the metadata of a Config\nidentified by the `configId`.",
        "operationId": "get-config",
        "summary": "Get Config"
      },
      "put": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "format": "uuid",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConfigModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Configs"
        ],
        "description": "This endpoint updates a Config identified by the `configId` parameter.",
        "operationId": "update-config",
        "summary": "Update Config"
      }
    },
    "/v1/configs/{configId}/environments/{environmentId}": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "format": "uuid",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SdkKeysModel"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "SDK Keys"
        ],
        "description": "This endpoint returns the SDK Key for your Config in a specified Environment.",
        "operationId": "get-sdk-keys",
        "summary": "Get SDK Key"
      }
    },
    "/v1/configs/{configId}/settings": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "format": "uuid",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/SettingModel-haljson"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flags & Settings"
        ],
        "description": "This endpoint returns the list of the Feature Flags and Settings defined in a \nspecified Config, identified by the `configId` parameter.",
        "operationId": "get-settings",
        "summary": "List Flags"
      },
      "post": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "format": "uuid",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSettingModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "schema": {
              "$ref": "#/definitions/SettingModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flags & Settings"
        ],
        "description": "This endpoint creates a new Feature Flag or Setting in a specified Config\nidentified by the `configId` parameter.\n\n**Important:** The `key` attribute must be unique within the given Config.",
        "operationId": "create-setting",
        "summary": "Create Flag"
      }
    },
    "/v1/environments/{environmentId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Environments"
        ],
        "description": "This endpoint removes an Environment identified by the `environmentId` parameter.",
        "operationId": "delete-environment",
        "summary": "Delete Environment"
      },
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the environment data returned.",
            "schema": {
              "$ref": "#/definitions/EnvironmentModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Environments"
        ],
        "description": "This endpoint returns the metadata of an Environment \nidentified by the `environmentId`.",
        "operationId": "get-environment",
        "summary": "Get Environment"
      },
      "put": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateEnvironmentModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EnvironmentModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Environments"
        ],
        "description": "This endpoint updates an Environment identified by the `environmentId` parameter.",
        "operationId": "update-environment",
        "summary": "Update Environment"
      }
    },
    "/v1/environments/{environmentId}/settings/{settingId}/integrationLinks/{integrationLinkType}/{key}": {
      "delete": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the Setting.",
            "format": "int32",
            "in": "path",
            "name": "settingId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The integration's type.",
            "enum": [
              "trello",
              "jira"
            ],
            "in": "path",
            "name": "integrationLinkType",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the integration link.",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok.",
            "schema": {
              "$ref": "#/definitions/DeleteIntegrationLinkModel"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Integration links"
        ],
        "description": "",
        "operationId": "delete-integration-link",
        "summary": "Delete Integration link"
      },
      "post": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the Setting.",
            "format": "int32",
            "in": "path",
            "name": "settingId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The integration link's type.",
            "enum": [
              "trello",
              "jira"
            ],
            "in": "path",
            "name": "integrationLinkType",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the integration link.",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddOrUpdateIntegrationLinkModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the integration link data returned.",
            "schema": {
              "$ref": "#/definitions/IntegrationLinkModel"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Integration links"
        ],
        "description": "",
        "operationId": "add-or-update-integration-link",
        "summary": "Add or update Integration link"
      }
    },
    "/v1/environments/{environmentId}/settings/{settingId}/value": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the Setting.",
            "format": "int32",
            "in": "path",
            "name": "settingId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the setting value data returned.",
            "schema": {
              "$ref": "#/definitions/SettingValueModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flag & Setting values"
        ],
        "description": "This endpoint returns the value of a Feature Flag or Setting \nin a specified Environment identified by the `environmentId` parameter.\n\nThe most important attributes in the response are the `value`, `rolloutRules` and `percentageRules`.\nThe `value` represents what the clients will get when the evaluation requests of our SDKs \nare not matching to any of the defined Targeting or Percentage Rules, or when there are no additional rules to evaluate.\n\nThe `rolloutRules` and `percentageRules` attributes are representing the current \nTargeting and Percentage Rules configuration of the actual Feature Flag or Setting \nin an **ordered** collection, which means the order of the returned rules is matching to the\nevaluation order. You can read more about these rules [here](https://configcat.com/docs/advanced/targeting/).",
        "operationId": "get-setting-value",
        "summary": "Get value"
      },
      "patch": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the Setting.",
            "format": "int32",
            "in": "path",
            "name": "settingId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "in": "query",
            "name": "reason",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/Operation"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When the patch was successful.",
            "schema": {
              "$ref": "#/definitions/SettingValueModel-haljson"
            }
          },
          "204": {
            "description": "When no change applied on the resource."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flag & Setting values"
        ],
        "description": "This endpoint updates the value of a Feature Flag or Setting \nwith a collection of [JSON Patch](http://jsonpatch.com) operations in a specified Environment.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\nThe advantage of using JSON Patch is that you can describe individual update operations on a resource\nwithout touching attributes that you don't want to change. It supports collection reordering, so it also \ncan be used for reordering the targeting rules of a Feature Flag or Setting.\n\nFor example: We have the following resource.\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": false\n}\n```\nIf we send an update request body as below:\n```\n[\n\t{\n\t\t\"op\": \"replace\",\n\t\t\"path\": \"/value\",\n\t\t\"value\": true\n\t}\n]\n```\nOnly the default value is going to be set to `true` and all the Percentage Rules are remaining unchanged.\nSo we get a response like this:\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": true\n}\n```",
        "operationId": "update-setting-value",
        "summary": "Update value"
      },
      "put": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the Setting.",
            "format": "int32",
            "in": "path",
            "name": "settingId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "in": "query",
            "name": "reason",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSettingValueModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SettingValueModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flag & Setting values"
        ],
        "description": "This endpoint replaces the whole value of a Feature Flag or Setting in a specified Environment.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\n**Important:** As this endpoint is doing a complete replace, it's important to set every other attribute that you don't \nwant to change in its original state. Not listing one means that it will reset.\n\nFor example: We have the following resource.\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": false\n}\n```\nIf we send a replace request body as below:\n```\n{\n\t\"value\": true\n}\n```\nThen besides that the default value is set to `true`, all the Percentage Rules are deleted. \nSo we get a response like this:\n```\n{\n\t\"rolloutPercentageItems\": [],\n\t\"rolloutRules\": [],\n\t\"value\": true\n}\n```",
        "operationId": "replace-setting-value",
        "summary": "Replace value"
      }
    },
    "/v1/integrationLink/{integrationLinkType}/{key}/details": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The integration link's type.",
            "enum": [
              "trello",
              "jira"
            ],
            "in": "path",
            "name": "integrationLinkType",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the integration link.",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the details for the integration link returned.",
            "schema": {
              "$ref": "#/definitions/IntegrationLinkDetailsModel"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Integration links"
        ],
        "description": "",
        "operationId": "get-integration-link-details",
        "summary": "Get Integration link"
      }
    },
    "/v1/me": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MeModel"
            }
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Me"
        ],
        "description": "",
        "operationId": "get-me",
        "summary": "Get authenticated user details"
      }
    },
    "/v1/organizations": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/OrganizationModel-haljson"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Organizations"
        ],
        "description": "This endpoint returns the list of the Organizations that belongs to the user.",
        "operationId": "get-organizations",
        "summary": "List Organizations"
      }
    },
    "/v1/organizations/{organizationId}/members": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Organization.",
            "format": "uuid",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/MemberModel"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Members"
        ],
        "description": "This endpoint returns the list of Members that belongs \nto the given Organization, identified by the `organizationId` parameter.",
        "operationId": "get-organization-members",
        "summary": "List Organization Members"
      }
    },
    "/v1/organizations/{organizationId}/members/{userId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the Organization.",
            "format": "uuid",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the Member.",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Members"
        ],
        "description": "This endpoint removes a Member identified by the `userId` from the \ngiven Organization identified by the `organizationId` parameter.",
        "operationId": "delete-organization-member",
        "summary": "Delete Member from Organization"
      }
    },
    "/v1/organizations/{organizationId}/products": {
      "post": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Organization.",
            "format": "uuid",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProductRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "schema": {
              "$ref": "#/definitions/ProductModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "This endpoint creates a new Product in a specified Organization \nidentified by the `organizationId` parameter, which can be obtained from the [List Organizations](#operation/get-organizations) endpoint.",
        "operationId": "create-product",
        "summary": "Create Product"
      }
    },
    "/v1/permissions/{permissionGroupId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the Permission Group.",
            "format": "int64",
            "in": "path",
            "name": "permissionGroupId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Permission Groups"
        ],
        "description": "This endpoint removes a Permission Group identified by the `permissionGroupId` parameter.",
        "operationId": "delete-permission-group",
        "summary": "Delete Permission Group"
      },
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Permission Group.",
            "format": "int64",
            "in": "path",
            "name": "permissionGroupId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the permission group data returned.",
            "schema": {
              "$ref": "#/definitions/PermissionGroupModel"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Permission Groups"
        ],
        "description": "This endpoint returns the metadata of a Permission Group \nidentified by the `permissionGroupId`.",
        "operationId": "get-permission-group",
        "summary": "Get Permission Group"
      },
      "put": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Permission Group.",
            "format": "int64",
            "in": "path",
            "name": "permissionGroupId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMemberGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PermissionGroupModel"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Permission Groups"
        ],
        "description": "This endpoint updates a Permission Group identified by the `permissionGroupId` parameter.",
        "operationId": "update-permission-group",
        "summary": "Update Permission Group"
      }
    },
    "/v1/products": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/ProductModel-haljson"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "This endpoint returns the list of the Products that belongs to the user.",
        "operationId": "get-products",
        "summary": "List Products"
      }
    },
    "/v1/products/{productId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "This endpoint removes a Product identified by the `productId` parameter.",
        "operationId": "delete-product",
        "summary": "Delete Product"
      },
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the product data returned.",
            "schema": {
              "$ref": "#/definitions/ProductModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "This endpoint returns the metadata of a Product \nidentified by the `productId`.",
        "operationId": "get-product",
        "summary": "Get Product"
      },
      "put": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProductRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "This endpoint updates a Product identified by the `productId` parameter.",
        "operationId": "update-product",
        "summary": "Update Product"
      }
    },
    "/v1/products/{productId}/auditlogs": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the Config.",
            "format": "uuid",
            "in": "query",
            "name": "configId",
            "type": "string"
          },
          {
            "description": "The identifier of the Environment.",
            "format": "uuid",
            "in": "query",
            "name": "environmentId",
            "type": "string"
          },
          {
            "description": "Filter Audit logs by Audit log type.",
            "in": "query",
            "name": "auditLogType"
          },
          {
            "description": "Filter Audit logs by starting UTC date.",
            "format": "date-time",
            "in": "query",
            "name": "fromUtcDateTime",
            "type": "string"
          },
          {
            "description": "Filter Audit logs by ending UTC date.",
            "format": "date-time",
            "in": "query",
            "name": "toUtcDateTime",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/AuditLogItemModel"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Audit logs"
        ],
        "description": "This endpoint returns the list of Audit logs for a given Product \nand the result can be optionally filtered by Config and/or Environment.",
        "operationId": "get-auditlogs",
        "summary": "List Audit logs"
      }
    },
    "/v1/products/{productId}/configs": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/ConfigModel-haljson"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Configs"
        ],
        "description": "This endpoint returns the list of the Configs that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-configs",
        "summary": "List Configs"
      },
      "post": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateConfigRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "schema": {
              "$ref": "#/definitions/ConfigModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Configs"
        ],
        "description": "This endpoint creates a new Config in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-config",
        "summary": "Create Config"
      }
    },
    "/v1/products/{productId}/environments": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/EnvironmentModel-haljson"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Environments"
        ],
        "description": "This endpoint returns the list of the Environments that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-environments",
        "summary": "List Environments"
      },
      "post": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "schema": {
              "$ref": "#/definitions/EnvironmentModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Environments"
        ],
        "description": "This endpoint creates a new Environment in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-environment",
        "summary": "Create Environment"
      }
    },
    "/v1/products/{productId}/members": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/MemberModel"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Members"
        ],
        "description": "This endpoint returns the list of Members that belongs \nto the given Product, identified by the `productId` parameter.",
        "operationId": "get-product-members",
        "summary": "List Product Members"
      }
    },
    "/v1/products/{productId}/members/invite": {
      "post": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InviteMembersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When the invite was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Members"
        ],
        "description": "This endpoint invites a Member into the given Product identified by the `productId` parameter.",
        "operationId": "invite-member",
        "summary": "Invite Member"
      }
    },
    "/v1/products/{productId}/members/{userId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the Member.",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Members"
        ],
        "description": "This endpoint removes a Member identified by the `userId` from the \ngiven Product identified by the `productId` parameter.",
        "operationId": "delete-product-member",
        "summary": "Delete Member from Product"
      }
    },
    "/v1/products/{productId}/permissions": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/PermissionGroupModel"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Permission Groups"
        ],
        "description": "This endpoint returns the list of the Permission Groups that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-permission-groups",
        "summary": "List Permission Groups"
      },
      "post": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMemberGroupRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "schema": {
              "$ref": "#/definitions/PermissionGroupModel"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Permission Groups"
        ],
        "description": "This endpoint creates a new Permission Group in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-permission-group",
        "summary": "Create Permission Group"
      }
    },
    "/v1/products/{productId}/tags": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Product.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/TagModel-haljson"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Tags"
        ],
        "description": "This endpoint returns the list of the Tags in a \nspecified Product, identified by the `productId` parameter.",
        "operationId": "get-tags",
        "summary": "List Tags"
      },
      "post": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Organization.",
            "format": "uuid",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTagModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "schema": {
              "$ref": "#/definitions/TagModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Tags"
        ],
        "description": "This endpoint creates a new Tag in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-tag",
        "summary": "Create Tag"
      }
    },
    "/v1/settings/{settingId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the Setting.",
            "format": "int32",
            "in": "path",
            "name": "settingId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flags & Settings"
        ],
        "description": "This endpoint removes a Feature Flag or Setting from a specified Config, \nidentified by the `configId` parameter.",
        "operationId": "delete-setting",
        "summary": "Delete Flag"
      },
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Setting.",
            "format": "int32",
            "in": "path",
            "name": "settingId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the setting data returned.",
            "schema": {
              "$ref": "#/definitions/SettingModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flags & Settings"
        ],
        "description": "This endpoint returns the metadata attributes of a Feature Flag or Setting \nidentified by the `settingId` parameter.",
        "operationId": "get-setting",
        "summary": "Get Flag"
      },
      "patch": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Setting.",
            "format": "int32",
            "in": "path",
            "name": "settingId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/Operation"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When the update was successful.",
            "schema": {
              "$ref": "#/definitions/SettingModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flags & Settings"
        ],
        "description": "This endpoint updates the metadata of a Feature Flag or Setting \nwith a collection of [JSON Patch](http://jsonpatch.com) operations in a specified Config.\n\nOnly the `name`, `hint` and `tags` attributes are modifiable by this endpoint.\nThe `tags` attribute is a simple collection of the [tag IDs](#operation/get-tags) attached to the given setting.\n\nThe advantage of using JSON Patch is that you can describe individual update operations on a resource\nwithout touching attributes that you don't want to change.\n\nFor example: We have the following resource.\n```\n{\n\t\"settingId\": 5345,\n\t\"key\": \"myAwesomeFeature\",\n\t\"name\": \"Tihs is a naem with soem typos.\",\n\t\"hint\": \"This Flag controls my awesome feature.\",\n\t\"settingType\": \"boolean\",\n\t\"tags\": [\n\t\t{\n\t\t\t\"tagId\": 0,\n\t\t\t\"name\": \"sample tag\",\n\t\t\t\"color\": \"whale\"\n\t\t}\n\t]\n}\n```\nIf we send an update request body as below (it changes the name and adds the already existing tag with the id 2):\n```\n[\n\t{\n\t\t\"op\": \"replace\",\n\t\t\"path\": \"/name\",\n\t\t\"value\": \"This is the name without typos.\"\n\t},\n\t{\n\t\t\"op\": \"add\",\n\t\t\"path\": \"/tags/-\",\n\t\t\"value\": 2\n\t}\n]\n```\nOnly the `name` and `tags` are going to be updated and all the other attributes are remaining unchanged.\nSo we get a response like this:\n```\n{\n\t\"settingId\": 5345,\n\t\"key\": \"myAwesomeFeature\",\n\t\"name\": \"This is the name without typos.\",\n\t\"hint\": \"This Flag controls my awesome feature.\",\n\t\"settingType\": \"boolean\",\n\t\"tags\": [\n\t\t{\n\t\t\t\"tagId\": 0,\n\t\t\t\"name\": \"sample tag\",\n\t\t\t\"color\": \"whale\"\n\t\t},\n\t\t{\n\t\t\t\"tagId\": 2,\n\t\t\t\"name\": \"another tag\",\n\t\t\t\"color\": \"koala\"\n\t\t}\n\t]\n}\n```",
        "operationId": "update-setting",
        "summary": "Update Flag"
      }
    },
    "/v1/settings/{settingKeyOrId}/value": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The key or id of the Setting.",
            "in": "path",
            "name": "settingKeyOrId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "in": "header",
            "name": "X-CONFIGCAT-SDKKEY",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SettingValueModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "description": "This endpoint returns the value of a Feature Flag or Setting \nin a specified Environment identified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nThe most important attributes in the response are the `value`, `rolloutRules` and `percentageRules`.\nThe `value` represents what the clients will get when the evaluation requests of our SDKs \nare not matching to any of the defined Targeting or Percentage Rules, or when there are no additional rules to evaluate.\n\nThe `rolloutRules` and `percentageRules` attributes are representing the current \nTargeting and Percentage Rules configuration of the actual Feature Flag or Setting \nin an **ordered** collection, which means the order of the returned rules is matching to the\nevaluation order. You can read more about these rules [here](https://configcat.com/docs/advanced/targeting/).",
        "operationId": "get-setting-value-by-sdkkey",
        "summary": "Get value"
      },
      "patch": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The key or id of the Setting.",
            "in": "path",
            "name": "settingKeyOrId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "in": "query",
            "name": "reason",
            "type": "string"
          },
          {
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "in": "header",
            "name": "X-CONFIGCAT-SDKKEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/Operation"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SettingValueModel-haljson"
            }
          },
          "204": {
            "description": "When no change applied on the resource."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "description": "This endpoint updates the value of a Feature Flag or Setting \nwith a collection of [JSON Patch](http://jsonpatch.com) operations in a specified Environment\nidentified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\nThe advantage of using JSON Patch is that you can describe individual update operations on a resource\nwithout touching attributes that you don't want to change. It supports collection reordering, so it also \ncan be used for reordering the targeting rules of a Feature Flag or Setting.\n\nFor example: We have the following resource.\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": false\n}\n```\nIf we send an update request body as below:\n```\n[\n\t{\n\t\t\"op\": \"replace\",\n\t\t\"path\": \"/value\",\n\t\t\"value\": true\n\t}\n]\n```\nOnly the default served value is going to be set to `true` and all the Percentage Rules are remaining unchanged.\nSo we get a response like this:\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": true\n}\n```",
        "operationId": "update-setting-value-by-sdkkey",
        "summary": "Update value"
      },
      "put": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The key or id of the Setting.",
            "in": "path",
            "name": "settingKeyOrId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "in": "query",
            "name": "reason",
            "type": "string"
          },
          {
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "in": "header",
            "name": "X-CONFIGCAT-SDKKEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSettingValueModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SettingValueModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "description": "This endpoint replaces the value of a Feature Flag or Setting \nin a specified Environment identified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\n**Important:** As this endpoint is doing a complete replace, it's important to set every other attribute that you don't \nwant to change to its original state. Not listing one means that it will reset.\n\nFor example: We have the following resource.\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": false\n}\n```\nIf we send a replace request body as below:\n```\n{\n\t\"value\": true\n}\n```\nThen besides that the default served value is set to `true`, all the Percentage Rules are deleted. \nSo we get a response like this:\n```\n{\n\t\"rolloutPercentageItems\": [],\n\t\"rolloutRules\": [],\n\t\"value\": true\n}\n```",
        "operationId": "replace-setting-value-by-sdkkey",
        "summary": "Replace value"
      }
    },
    "/v1/tags/{tagId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the Tag.",
            "format": "int64",
            "in": "path",
            "name": "tagId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Tags"
        ],
        "description": "This endpoint deletes a Tag identified by the `tagId` parameter. To remove a Tag from a Feature Flag or Setting use the [Update Flag](#operation/update-setting) endpoint.",
        "operationId": "delete-tag",
        "summary": "Delete Tag"
      },
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Tag.",
            "format": "int64",
            "in": "path",
            "name": "tagId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the tag data returned.",
            "schema": {
              "$ref": "#/definitions/TagModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Tags"
        ],
        "description": "This endpoint returns the metadata of a Tag \nidentified by the `tagId`.",
        "operationId": "get-tag",
        "summary": "Get Tag"
      },
      "put": {
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Tag.",
            "format": "int64",
            "in": "path",
            "name": "tagId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTagModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TagModel-haljson"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Tags"
        ],
        "description": "This endpoint updates a Tag identified by the `tagId` parameter.",
        "operationId": "update-tag",
        "summary": "Update Tag"
      }
    },
    "/v1/tags/{tagId}/settings": {
      "get": {
        "produces": [
          "application/hal+json",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the Tag.",
            "format": "int64",
            "in": "path",
            "name": "tagId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the settings data returned.",
            "schema": {
              "items": {
                "$ref": "#/definitions/SettingModel-haljson"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "tags": [
          "Tags"
        ],
        "description": "This endpoint returns the list of the Settings that \nhas the specified Tag, identified by the `tagId` parameter.",
        "operationId": "get-settings-by-tag",
        "summary": "List Settings by Tag"
      }
    }
  },
  "definitions": {
    "AccessType": {
      "enum": [
        "readOnly",
        "full",
        "custom"
      ],
      "type": "string"
    },
    "AddOrUpdateIntegrationLinkModel": {
      "additionalProperties": false,
      "properties": {
        "description": {
          "maxLength": 1000,
          "type": "string",
          "x-nullable": true
        },
        "url": {
          "maxLength": 1000,
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "AuditLogItemModel": {
      "additionalProperties": false,
      "properties": {
        "actionTarget": {
          "type": "string",
          "x-nullable": true
        },
        "auditLogDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "auditLogId": {
          "format": "int64",
          "type": "integer"
        },
        "auditLogType": {
          "type": "string",
          "x-nullable": true
        },
        "details": {
          "type": "string",
          "x-nullable": true
        },
        "userEmail": {
          "type": "string",
          "x-nullable": true
        },
        "userName": {
          "type": "string",
          "x-nullable": true
        },
        "where": {
          "type": "string",
          "x-nullable": true
        },
        "why": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "AuditLogType": {
      "enum": [
        "productCreated",
        "productChanged",
        "productOwnershipTransferred",
        "productDeleted",
        "teamMemberInvited",
        "teamMemberInvitationRevoked",
        "teamMemberJoined",
        "teamMemberPermissionGroupChanged",
        "teamMemberRemoved",
        "teamMemberLeft",
        "teamMemberInvitationChanged",
        "teamMemberInvitationResent",
        "teamMemberInvitationRejected",
        "configCreated",
        "configChanged",
        "configDeleted",
        "environmentCreated",
        "environmentChanged",
        "environmentDeleted",
        "settingCreated",
        "settingChanged",
        "settingDeleted",
        "settingValueChanged",
        "webHookCreated",
        "webHookChanged",
        "webHookDeleted",
        "subscriptionChanged",
        "memberGroupCreated",
        "memberGroupChanged",
        "memberGroupDeleted",
        "memberGroupDefault",
        "apiKeyAdded",
        "apiKeyRemoved",
        "integrationAdded",
        "integrationChanged",
        "integrationRemoved",
        "apiKeyConnected",
        "integrationLinkAdded",
        "integrationLinkRemoved",
        "organizationAdded",
        "organizationRemoved",
        "organizationChanged",
        "organizationSubscriptionTypeChanged",
        "organizationAdminAdded",
        "organizationAdminChanged",
        "organizationAdminRemoved",
        "organizationAdminLeft",
        "tagAdded",
        "tagChanged",
        "tagRemoved",
        "settingTagAdded",
        "settingTagRemoved",
        "publicApiAccessTokenAdded",
        "publicApiAccessTokenRemoved"
      ],
      "type": "string"
    },
    "ConfigModel": {
      "additionalProperties": false,
      "properties": {
        "configId": {
          "format": "uuid",
          "type": "string"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "product": {
          "$ref": "#/definitions/ProductModel"
        }
      },
      "type": "object"
    },
    "ConfigModel-haljson": {
      "properties": {
        "_embedded": {
          "properties": {
            "product": {
              "properties": {
                "_embedded": {
                  "properties": {
                    "organization": {
                      "properties": {
                        "_links": {
                          "properties": {
                            "members": {
                              "type": "string"
                            },
                            "products": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "name": {
                          "type": "string",
                          "x-nullable": true
                        },
                        "organizationId": {
                          "format": "uuid",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "_links": {
                  "properties": {
                    "tags": {
                      "type": "string"
                    },
                    "configs": {
                      "type": "string"
                    },
                    "environments": {
                      "type": "string"
                    },
                    "members": {
                      "type": "string"
                    },
                    "permission-groups": {
                      "type": "string"
                    },
                    "self": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "type": "string",
                  "x-nullable": true
                },
                "productId": {
                  "format": "uuid",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "_links": {
          "properties": {
            "self": {
              "type": "string"
            },
            "settings": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "configId": {
          "format": "uuid",
          "type": "string"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CreateConfigRequest": {
      "additionalProperties": false,
      "properties": {
        "name": {
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "CreateEnvironmentModel": {
      "additionalProperties": false,
      "properties": {
        "name": {
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "CreateMemberGroupRequest": {
      "additionalProperties": false,
      "properties": {
        "accessType": {
          "$ref": "#/definitions/AccessType"
        },
        "canManageMembers": {
          "type": "boolean"
        },
        "canManageResources": {
          "type": "boolean"
        },
        "environmentAccesses": {
          "items": {
            "$ref": "#/definitions/EnvironmentAccessModel"
          },
          "type": "array",
          "x-nullable": true
        },
        "name": {
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        },
        "newEnvironmentAccessType": {
          "$ref": "#/definitions/EnvironmentAccessType"
        },
        "showDeveloperInfo": {
          "type": "boolean"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "CreateProductRequest": {
      "additionalProperties": false,
      "properties": {
        "name": {
          "maxLength": 1000,
          "minLength": 0,
          "type": "string"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "CreateSettingModel": {
      "additionalProperties": false,
      "properties": {
        "tags": {
          "description": "The IDs of the tags which are attached to the setting.",
          "items": {
            "format": "int64",
            "type": "integer"
          },
          "type": "array",
          "x-nullable": true
        },
        "hint": {
          "description": "A short description for the setting, shown on the Dashboard UI.",
          "maxLength": 1000,
          "minLength": 0,
          "type": "string",
          "x-nullable": true
        },
        "key": {
          "description": "The key of the setting.",
          "maxLength": 255,
          "minLength": 0,
          "pattern": "^[a-zA-Z]+[a-zA-Z0-9_]*",
          "type": "string"
        },
        "name": {
          "description": "The name of the setting, shown on the Dashboard UI.",
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        },
        "settingType": {
          "$ref": "#/definitions/SettingType"
        }
      },
      "required": [
        "key",
        "name",
        "settingType"
      ],
      "type": "object"
    },
    "CreateTagModel": {
      "additionalProperties": false,
      "properties": {
        "color": {
          "maxLength": 255,
          "minLength": 0,
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "DeleteIntegrationLinkModel": {
      "additionalProperties": false,
      "properties": {
        "hasRemainingIntegrationLink": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EnvironmentAccessModel": {
      "additionalProperties": false,
      "properties": {
        "environmentAccessType": {
          "$ref": "#/definitions/EnvironmentAccessType"
        },
        "environmentId": {
          "format": "uuid",
          "type": "string"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "EnvironmentAccessType": {
      "enum": [
        "full",
        "readOnly",
        "none"
      ],
      "type": "string"
    },
    "EnvironmentModel": {
      "additionalProperties": false,
      "properties": {
        "environmentId": {
          "format": "uuid",
          "type": "string"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        },
        "product": {
          "$ref": "#/definitions/ProductModel"
        }
      },
      "type": "object"
    },
    "EnvironmentModel-haljson": {
      "properties": {
        "_embedded": {
          "properties": {
            "product": {
              "properties": {
                "_embedded": {
                  "properties": {
                    "organization": {
                      "properties": {
                        "_links": {
                          "properties": {
                            "members": {
                              "type": "string"
                            },
                            "products": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "name": {
                          "type": "string",
                          "x-nullable": true
                        },
                        "organizationId": {
                          "format": "uuid",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "_links": {
                  "properties": {
                    "tags": {
                      "type": "string"
                    },
                    "configs": {
                      "type": "string"
                    },
                    "environments": {
                      "type": "string"
                    },
                    "members": {
                      "type": "string"
                    },
                    "permission-groups": {
                      "type": "string"
                    },
                    "self": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "type": "string",
                  "x-nullable": true
                },
                "productId": {
                  "format": "uuid",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "_links": {
          "properties": {
            "self": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "environmentId": {
          "format": "uuid",
          "type": "string"
        },
        "name": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "IntegrationLinkDetail": {
      "additionalProperties": false,
      "properties": {
        "config": {
          "$ref": "#/definitions/ConfigModel"
        },
        "environment": {
          "$ref": "#/definitions/EnvironmentModel"
        },
        "product": {
          "$ref": "#/definitions/ProductModel"
        },
        "readOnly": {
          "type": "boolean"
        },
        "setting": {
          "$ref": "#/definitions/SettingDataModel"
        },
        "status": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "IntegrationLinkDetailsModel": {
      "additionalProperties": false,
      "properties": {
        "allIntegrationLinkCount": {
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "$ref": "#/definitions/IntegrationLinkDetail"
          },
          "readOnly": true,
          "type": "array",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "IntegrationLinkModel": {
      "additionalProperties": false,
      "properties": {
        "description": {
          "type": "string",
          "x-nullable": true
        },
        "integrationLinkType": {
          "$ref": "#/definitions/IntegrationLinkType"
        },
        "key": {
          "type": "string",
          "x-nullable": true
        },
        "url": {
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "IntegrationLinkType": {
      "enum": [
        "trello",
        "jira"
      ],
      "type": "string"
    },
    "InviteMembersRequest": {
      "additionalProperties": false,
      "properties": {
        "emails": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "permissionGroupId": {
          "format": "int64",
          "type": "integer"
        }
      },
      "required": [
        "emails",
        "permissionGroupId"
      ],
[...]
