{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": " ",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Timestream Query",
    "version": "2018-11-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/timestream-query-2018-11-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "timestream-query",
    "x-datafire": {
      "name": "amazonaws_timestream_query",
      "type": "openapi"
    }
  },
  "host": "query.timestream.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=Timestream_20181101.CancelQuery": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Timestream_20181101.CancelQuery"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelQueryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelQueryResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "484": {
            "description": "InvalidEndpointException",
            "schema": {
              "$ref": "#/definitions/InvalidEndpointException"
            }
          }
        },
        "description": " Cancels a query that has been issued. Cancellation is guaranteed only if the query has not completed execution before the cancellation request was issued. Because cancellation is an idempotent operation, subsequent cancellation requests will return a <code>CancellationMessage</code>, indicating that the query has already been canceled. ",
        "operationId": "CancelQuery"
      }
    },
    "/#X-Amz-Target=Timestream_20181101.DescribeEndpoints": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "Timestream_20181101.DescribeEndpoints"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEndpointsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeEndpointsResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "<p>DescribeEndpoints returns a list of available endpoints to make Timestream API calls against. This API is available through both Write and Query.</p> <p>Because Timestream’s SDKs are designed to transparently work with the service’s architecture, including the management and mapping of the service endpoints, <i>it is not recommended that you use this API unless</i>:</p> <ul> <li> <p>Your application uses a programming language that does not yet have SDK support</p> </li> <li> <p>You require better control over the client-side implementation</p> </li> </ul> <p>For detailed information on how to use DescribeEndpoints, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/Using-API.endpoint-discovery.html\">The Endpoint Discovery Pattern and REST APIs</a>.</p>",
        "operationId": "DescribeEndpoints"
      }
    },
    "/#X-Amz-Target=Timestream_20181101.Query": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxRows",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "Timestream_20181101.Query"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/QueryResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "483": {
            "description": "QueryExecutionException",
            "schema": {
              "$ref": "#/definitions/QueryExecutionException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "486": {
            "description": "InvalidEndpointException",
            "schema": {
              "$ref": "#/definitions/InvalidEndpointException"
            }
          }
        },
        "description": " Query is a synchronous operation that enables you to execute a query. Query will timeout after 60 seconds. You must update the default timeout in the SDK to support a timeout of 60 seconds. The result set will be truncated to 1MB. Service quotas apply. For more information, see Quotas in the Timestream Developer Guide. ",
        "operationId": "Query"
      }
    }
  },
  "definitions": {
    "AccessDeniedException": {},
    "CancelQueryRequest": {
      "properties": {
        "QueryId": {
          "allOf": [
            {
              "$ref": "#/definitions/QueryId"
            },
            {
              "description": " The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. "
            }
          ]
        }
      },
      "required": [
        "QueryId"
      ],
      "title": "CancelQueryRequest",
      "type": "object"
    },
    "CancelQueryResponse": {
      "properties": {
        "CancellationMessage": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": " A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. "
            }
          ]
        }
      },
      "type": "object"
    },
    "ClientRequestToken": {
      "format": "password",
      "maxLength": 128,
      "minLength": 32,
      "type": "string"
    },
    "ColumnInfo": {
      "description": " Contains the meta data for query results such as the column names, data types, and other attributes. ",
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": " The name of the result set column. The name of the result set is available for columns of all data types except for arrays. "
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/Type"
            },
            {
              "description": " The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. "
            }
          ]
        }
      },
      "required": [
        "Type"
      ],
      "type": "object"
    },
    "ColumnInfoList": {
      "items": {
        "$ref": "#/definitions/ColumnInfo"
      },
      "type": "array"
    },
    "ConflictException": {},
    "Datum": {
      "description": " Datum represents a single data point in a query result. ",
      "properties": {
        "ArrayValue": {
          "allOf": [
            {
              "$ref": "#/definitions/DatumList"
            },
            {
              "description": " Indicates if the data point is an array. "
            }
          ]
        },
        "NullValue": {
          "allOf": [
            {
              "$ref": "#/definitions/NullableBoolean"
            },
            {
              "description": " Indicates if the data point is null. "
            }
          ]
        },
        "RowValue": {
          "allOf": [
            {
              "$ref": "#/definitions/Row"
            },
            {
              "description": " Indicates if the data point is a row. "
            }
          ]
        },
        "ScalarValue": {
          "allOf": [
            {
              "$ref": "#/definitions/ScalarValue"
            },
            {
              "description": " Indicates if the data point is a scalar value such as integer, string, double, or boolean. "
            }
          ]
        },
        "TimeSeriesValue": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeSeriesDataPointList"
            },
            {
              "description": " Indicates if the data point is of timeseries data type. "
            }
          ]
        }
      },
      "type": "object"
    },
    "DatumList": {
      "items": {
        "$ref": "#/definitions/Datum"
      },
      "type": "array"
    },
    "DescribeEndpointsRequest": {
      "properties": {},
      "title": "DescribeEndpointsRequest",
      "type": "object"
    },
    "DescribeEndpointsResponse": {
      "properties": {
        "Endpoints": {
          "allOf": [
            {
              "$ref": "#/definitions/Endpoints"
            },
            {
              "description": "An <code>Endpoints</code> object is returned when a <code>DescribeEndpoints</code> request is made."
            }
          ]
        }
      },
      "required": [
        "Endpoints"
      ],
      "type": "object"
    },
    "Double": {
      "format": "double",
      "type": "number"
    },
    "Endpoint": {
      "description": "Represents an available endpoint against which to make API calls agaisnt, as well as the TTL for that endpoint.",
      "properties": {
        "Address": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "An endpoint address."
            }
          ]
        },
        "CachePeriodInMinutes": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The TTL for the endpoint, in minutes."
            }
          ]
        }
      },
      "required": [
        "Address",
        "CachePeriodInMinutes"
      ],
      "type": "object"
    },
    "Endpoints": {
      "items": {
        "$ref": "#/definitions/Endpoint"
      },
      "type": "array"
    },
    "InternalServerException": {},
    "InvalidEndpointException": {},
    "Long": {
      "type": "integer"
    },
    "MaxQueryResults": {
      "maximum": 1000,
      "minimum": 1,
      "type": "integer"
    },
    "NullableBoolean": {
      "type": "boolean"
    },
    "QueryExecutionException": {},
    "QueryId": {
      "maxLength": 64,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9]+",
      "type": "string"
    },
    "QueryRequest": {
      "properties": {
        "ClientToken": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientRequestToken"
            },
            {
              "description": "<p> Unique, case-sensitive string of up to 64 ASCII characters that you specify when you make a Query request. Providing a <code>ClientToken</code> makes the call to <code>Query</code> idempotent, meaning that multiple identical calls have the same effect as one single call. </p> <p>Your query request will fail in the following cases:</p> <ul> <li> <p> If you submit a request with the same client token outside the 5-minute idepotency window. </p> </li> <li> <p> If you submit a request with the same client token but a change in other parameters within the 5-minute idempotency window. </p> </li> </ul> <p> After 4 hours, any request with the same client token is treated as a new request. </p>"
            }
          ]
        },
        "MaxRows": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxQueryResults"
            },
            {
              "description": " The total number of rows to return in the output. If the total number of rows available is more than the value specified, a NextToken is provided in the command's output. To resume pagination, provide the NextToken value in the starting-token argument of a subsequent command. "
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": " A pagination token passed to get a set of results. "
            }
          ]
        },
        "QueryString": {
          "allOf": [
            {
              "$ref": "#/definitions/QueryString"
            },
            {
              "description": " The query to be executed by Timestream. "
            }
          ]
        }
      },
      "required": [
        "QueryString"
      ],
      "title": "QueryRequest",
      "type": "object"
    },
    "QueryResponse": {
      "properties": {
        "ColumnInfo": {
          "allOf": [
            {
              "$ref": "#/definitions/ColumnInfoList"
            },
            {
              "description": " The column data types of the returned result set. "
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": " A pagination token that can be used again on a <code>Query</code> call to get the next set of results. "
            }
          ]
        },
        "QueryId": {
          "allOf": [
            {
              "$ref": "#/definitions/QueryId"
            },
            {
              "description": " A unique ID for the given query. "
            }
          ]
        },
        "QueryStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/QueryStatus"
            },
            {
              "description": "Information about the status of the query, including progress and bytes scannned."
            }
          ]
        },
        "Rows": {
          "allOf": [
            {
              "$ref": "#/definitions/RowList"
            },
            {
              "description": " The result set rows returned by the query. "
            }
          ]
        }
      },
      "required": [
        "QueryId",
        "Rows",
        "ColumnInfo"
      ],
      "type": "object"
    },
    "QueryStatus": {
      "description": "Information about the status of the query, including progress and bytes scannned.",
      "properties": {
        "CumulativeBytesMetered": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The amount of data scanned by the query in bytes that you will be charged for. This is a cumulative sum and represents the total amount of data that you will be charged for since the query was started. The charge is applied only once and is either applied when the query completes execution or when the query is cancelled. "
            }
          ]
        },
        "CumulativeBytesScanned": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The amount of data scanned by the query in bytes. This is a cumulative sum and represents the total amount of bytes scanned since the query was started. "
            }
          ]
        },
        "ProgressPercentage": {
          "allOf": [
            {
              "$ref": "#/definitions/Double"
            },
            {
              "description": "The progress of the query, expressed as a percentage."
            }
          ]
        }
      },
      "type": "object"
    },
    "QueryString": {
      "format": "password",
      "type": "string"
    },
    "Row": {
      "description": "Represents a single row in the query results.",
      "properties": {
        "Data": {
          "allOf": [
            {
              "$ref": "#/definitions/DatumList"
            },
            {
              "description": "List of data points in a single row of the result set."
            }
          ]
        }
      },
      "required": [
        "Data"
      ],
      "type": "object"
    },
    "RowList": {
      "items": {
        "$ref": "#/definitions/Row"
      },
      "type": "array"
    },
    "ScalarType": {
      "enum": [
        "VARCHAR",
        "BOOLEAN",
        "BIGINT",
        "DOUBLE",
        "TIMESTAMP",
        "DATE",
        "TIME",
        "INTERVAL_DAY_TO_SECOND",
        "INTERVAL_YEAR_TO_MONTH",
        "UNKNOWN",
        "INTEGER"
      ],
      "type": "string"
    },
    "ScalarValue": {
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "ThrottlingException": {},
    "TimeSeriesDataPoint": {
      "description": "The timeseries datatype represents the values of a measure over time. A time series is an array of rows of timestamps and measure values, with rows sorted in ascending order of time. A TimeSeriesDataPoint is a single data point in the timeseries. It represents a tuple of (time, measure value) in a timeseries. ",
      "properties": {
        "Time": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The timestamp when the measure value was collected."
            }
          ]
        },
        "Value": {
          "allOf": [
            {
              "$ref": "#/definitions/Datum"
            },
            {
              "description": "The measure value for the data point."
            }
          ]
        }
      },
      "required": [
        "Time",
        "Value"
      ],
      "type": "object"
    },
    "TimeSeriesDataPointList": {
      "items": {
        "$ref": "#/definitions/TimeSeriesDataPoint"
      },
      "type": "array"
    },
    "Timestamp": {
      "type": "string"
    },
    "Type": {
      "description": "Contains the data type of a column in a query result set. The data type can be scalar or complex. The supported scalar data types are integers, boolean, string, double, timestamp, date, time, and intervals. The supported complex data types are arrays, rows, and timeseries.",
      "properties": {
        "ArrayColumnInfo": {
          "allOf": [
            {
              "$ref": "#/definitions/ColumnInfo"
            },
            {
              "description": "Indicates if the column is an array."
            }
          ]
        },
        "RowColumnInfo": {
          "allOf": [
            {
              "$ref": "#/definitions/ColumnInfoList"
            },
            {
              "description": "Indicates if the column is a row."
            }
          ]
        },
        "ScalarType": {
          "allOf": [
            {
              "$ref": "#/definitions/ScalarType"
            },
            {
              "description": "Indicates if the column is of type string, integer, boolean, double, timestamp, date, time. "
            }
          ]
        },
        "TimeSeriesMeasureValueColumnInfo": {
          "allOf": [
            {
              "$ref": "#/definitions/ColumnInfo"
            },
            {
              "description": "Indicates if the column is a timeseries data type."
            }
          ]
        }
      },
      "type": "object"
    },
    "ValidationException": {}
  },
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/timestream/"
  },
  "x-components": {
    "parameters": {
      "X-Amz-Algorithm": {
        "in": "header",
        "name": "X-Amz-Algorithm",
        "required": false,
        "type": "string"
      },
      "X-Amz-Content-Sha256": {
        "in": "header",
        "name": "X-Amz-Content-Sha256",
        "required": false,
        "type": "string"
      },
      "X-Amz-Credential": {
        "in": "header",
        "name": "X-Amz-Credential",
        "required": false,
        "type": "string"
      },
      "X-Amz-Date": {
        "in": "header",
        "name": "X-Amz-Date",
        "required": false,
        "type": "string"
      },
      "X-Amz-Security-Token": {
        "in": "header",
        "name": "X-Amz-Security-Token",
        "required": false,
        "type": "string"
      },
      "X-Amz-Signature": {
        "in": "header",
        "name": "X-Amz-Signature",
        "required": false,
        "type": "string"
      },
      "X-Amz-SignedHeaders": {
        "in": "header",
        "name": "X-Amz-SignedHeaders",
        "required": false,
        "type": "string"
      }
    }
  },
  "x-hasEquivalentPaths": true
}