{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<note> <p>This is the latest version of the <b>AWS WAF</b> API, released in November, 2019. The names of the entities that you use to access this API, like endpoints and namespaces, all have the versioning information added, like \"V2\" or \"v2\", to distinguish from the prior version. We recommend migrating your resources to this version, because it has a number of significant improvements.</p> <p>If you used AWS WAF prior to this release, you can't use this AWS WAFV2 API to access any AWS WAF resources that you created before. You can access your old rules, web ACLs, and other AWS WAF resources only through the AWS WAF Classic APIs. The AWS WAF Classic APIs have retained the prior names, endpoints, and namespaces. </p> <p>For information, including how to migrate your AWS WAF resources to this version, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>AWS WAF is a web application firewall that lets you monitor the HTTP and HTTPS requests that are forwarded to Amazon CloudFront, an Amazon API Gateway REST API, an Application Load Balancer, or an AWS AppSync GraphQL API. AWS WAF also lets you control access to your content. Based on conditions that you specify, such as the IP addresses that requests originate from or the values of query strings, the API Gateway REST API, CloudFront distribution, the Application Load Balancer, or the AWS AppSync GraphQL API responds to requests either with the requested content or with an HTTP 403 status code (Forbidden). You also can configure CloudFront to return a custom error page when a request is blocked.</p> <p>This API guide is for developers who need detailed information about AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use AWS WAF, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p> <p>You can make calls using the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#waf_region\">AWS Service Endpoints for AWS WAF</a>. </p> <ul> <li> <p>For regional applications, you can use any of the endpoints in the list. A regional application can be an Application Load Balancer (ALB), an API Gateway REST API, or an AppSync GraphQL API. </p> </li> <li> <p>For AWS CloudFront applications, you must use the API endpoint listed for US East (N. Virginia): us-east-1.</p> </li> </ul> <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> <p>We currently provide two versions of the AWS WAF API: this API and the prior versions, the classic AWS WAF APIs. This new API provides the same functionality as the older versions, with the following major improvements:</p> <ul> <li> <p>You use one API for both global and regional applications. Where you need to distinguish the scope, you specify a <code>Scope</code> parameter and set it to <code>CLOUDFRONT</code> or <code>REGIONAL</code>. </p> </li> <li> <p>You can define a Web ACL or rule group with a single call, and update it with a single call. You define all rule specifications in JSON format, and pass them to your rule group or Web ACL calls.</p> </li> <li> <p>The limits AWS WAF places on the use of rules more closely reflects the cost of running each type of rule. Rule groups include capacity settings, so you know the maximum cost of a rule group when you use it.</p> </li> </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS WAFV2",
    "version": "2019-07-29",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/wafv2-2019-07-29.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "wafv2",
    "x-datafire": {
      "name": "amazonaws_wafv2",
      "type": "openapi"
    }
  },
  "host": "wafv2.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=AWSWAF_20190729.AssociateWebACL": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.AssociateWebACL"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssociateWebACLRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateWebACLResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFUnavailableEntityException",
            "schema": {
              "$ref": "#/definitions/WAFUnavailableEntityException"
            }
          },
          "484": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Associates a Web ACL with a regional application resource, to protect the resource. A regional application can be an Application Load Balancer (ALB), an API Gateway REST API, or an AppSync GraphQL API. </p> <p>For AWS CloudFront, don't use this call. Instead, use your CloudFront distribution configuration. To associate a Web ACL, in the CloudFront call <code>UpdateDistribution</code>, set the web ACL ID to the Amazon Resource Name (ARN) of the Web ACL. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>",
        "operationId": "AssociateWebACL"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.CheckCapacity": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.CheckCapacity"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckCapacityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CheckCapacityResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          },
          "484": {
            "description": "WAFInvalidResourceException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidResourceException"
            }
          },
          "485": {
            "description": "WAFUnavailableEntityException",
            "schema": {
              "$ref": "#/definitions/WAFUnavailableEntityException"
            }
          },
          "486": {
            "description": "WAFSubscriptionNotFoundException",
            "schema": {
              "$ref": "#/definitions/WAFSubscriptionNotFoundException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Returns the web ACL capacity unit (WCU) requirements for a specified scope and set of rules. You can use this to check the capacity requirements for the rules you want to use in a <a>RuleGroup</a> or <a>WebACL</a>. </p> <p>AWS WAF uses WCUs to calculate and control the operating resources that are used to run your rules, rule groups, and web ACLs. AWS WAF calculates capacity differently for each rule type, to reflect the relative cost of each rule. Simple rules that cost little to run use fewer WCUs than more complex rules that use more processing power. Rule group capacity is fixed at creation, which helps users plan their web ACL WCU usage when they use a rule group. The WCU limit for web ACLs is 1,500. </p>",
        "operationId": "CheckCapacity"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.CreateIPSet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.CreateIPSet"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateIPSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateIPSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFDuplicateItemException",
            "schema": {
              "$ref": "#/definitions/WAFDuplicateItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          },
          "485": {
            "description": "WAFTagOperationException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationException"
            }
          },
          "486": {
            "description": "WAFTagOperationInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationInternalErrorException"
            }
          },
          "487": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates an <a>IPSet</a>, which you use to identify web requests that originate from specific IP addresses or ranges of IP addresses. For example, if you're receiving a lot of requests from a ranges of IP addresses, you can configure AWS WAF to block them using an IPSet that lists those IP addresses. </p>",
        "operationId": "CreateIPSet"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.CreateRegexPatternSet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.CreateRegexPatternSet"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRegexPatternSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRegexPatternSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFDuplicateItemException",
            "schema": {
              "$ref": "#/definitions/WAFDuplicateItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          },
          "485": {
            "description": "WAFTagOperationException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationException"
            }
          },
          "486": {
            "description": "WAFTagOperationInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationInternalErrorException"
            }
          },
          "487": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>RegexPatternSet</a>, which you reference in a <a>RegexPatternSetReferenceStatement</a>, to have AWS WAF inspect a web request component for the specified patterns.</p>",
        "operationId": "CreateRegexPatternSet"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.CreateRuleGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.CreateRuleGroup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRuleGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRuleGroupResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFDuplicateItemException",
            "schema": {
              "$ref": "#/definitions/WAFDuplicateItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          },
          "485": {
            "description": "WAFUnavailableEntityException",
            "schema": {
              "$ref": "#/definitions/WAFUnavailableEntityException"
            }
          },
          "486": {
            "description": "WAFTagOperationException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationException"
            }
          },
          "487": {
            "description": "WAFTagOperationInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationInternalErrorException"
            }
          },
          "488": {
            "description": "WAFSubscriptionNotFoundException",
            "schema": {
              "$ref": "#/definitions/WAFSubscriptionNotFoundException"
            }
          },
          "489": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "490": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>RuleGroup</a> per the specifications provided. </p> <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>",
        "operationId": "CreateRuleGroup"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.CreateWebACL": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.CreateWebACL"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWebACLRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateWebACLResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFDuplicateItemException",
            "schema": {
              "$ref": "#/definitions/WAFDuplicateItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          },
          "485": {
            "description": "WAFInvalidResourceException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidResourceException"
            }
          },
          "486": {
            "description": "WAFUnavailableEntityException",
            "schema": {
              "$ref": "#/definitions/WAFUnavailableEntityException"
            }
          },
          "487": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "488": {
            "description": "WAFTagOperationException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationException"
            }
          },
          "489": {
            "description": "WAFTagOperationInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationInternalErrorException"
            }
          },
          "490": {
            "description": "WAFSubscriptionNotFoundException",
            "schema": {
              "$ref": "#/definitions/WAFSubscriptionNotFoundException"
            }
          },
          "491": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>WebACL</a> per the specifications provided.</p> <p> A Web ACL defines a collection of rules to use to inspect and control web requests. Each rule has an action defined (allow, block, or count) for requests that match the statement of the rule. In the Web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a Web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a Web ACL with one or more AWS resources to protect. The resources can be Amazon CloudFront, an Amazon API Gateway REST API, an Application Load Balancer, or an AWS AppSync GraphQL API. </p>",
        "operationId": "CreateWebACL"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DeleteFirewallManagerRuleGroups": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DeleteFirewallManagerRuleGroups"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteFirewallManagerRuleGroupsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteFirewallManagerRuleGroupsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<p>Deletes all rule groups that are managed by AWS Firewall Manager for the specified web ACL. </p> <p>You can only use this if <code>ManagedByFirewallManager</code> is false in the specified <a>WebACL</a>. </p>",
        "operationId": "DeleteFirewallManagerRuleGroups"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DeleteIPSet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DeleteIPSet"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteIPSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteIPSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFAssociatedItemException",
            "schema": {
              "$ref": "#/definitions/WAFAssociatedItemException"
            }
          },
          "485": {
            "description": "WAFTagOperationException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationException"
            }
          },
          "486": {
            "description": "WAFTagOperationInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationInternalErrorException"
            }
          },
          "487": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>IPSet</a>. </p>",
        "operationId": "DeleteIPSet"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DeleteLoggingConfiguration": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DeleteLoggingConfiguration"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteLoggingConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteLoggingConfigurationResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "482": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "483": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "484": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the <a>LoggingConfiguration</a> from the specified web ACL.</p>",
        "operationId": "DeleteLoggingConfiguration"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DeletePermissionPolicy": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DeletePermissionPolicy"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePermissionPolicyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeletePermissionPolicyResponse"
            }
          },
          "480": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          }
        },
        "description": "<p>Permanently deletes an IAM policy from the specified rule group.</p> <p>You must be the owner of the rule group to perform this operation.</p>",
        "operationId": "DeletePermissionPolicy"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DeleteRegexPatternSet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DeleteRegexPatternSet"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteRegexPatternSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRegexPatternSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFAssociatedItemException",
            "schema": {
              "$ref": "#/definitions/WAFAssociatedItemException"
            }
          },
          "485": {
            "description": "WAFTagOperationException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationException"
            }
          },
          "486": {
            "description": "WAFTagOperationInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationInternalErrorException"
            }
          },
          "487": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>RegexPatternSet</a>.</p>",
        "operationId": "DeleteRegexPatternSet"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DeleteRuleGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DeleteRuleGroup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteRuleGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRuleGroupResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFAssociatedItemException",
            "schema": {
              "$ref": "#/definitions/WAFAssociatedItemException"
            }
          },
          "485": {
            "description": "WAFTagOperationException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationException"
            }
          },
          "486": {
            "description": "WAFTagOperationInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationInternalErrorException"
            }
          },
          "487": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>RuleGroup</a>.</p>",
        "operationId": "DeleteRuleGroup"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DeleteWebACL": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DeleteWebACL"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteWebACLRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteWebACLResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFOptimisticLockException",
            "schema": {
              "$ref": "#/definitions/WAFOptimisticLockException"
            }
          },
          "484": {
            "description": "WAFAssociatedItemException",
            "schema": {
              "$ref": "#/definitions/WAFAssociatedItemException"
            }
          },
          "485": {
            "description": "WAFTagOperationException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationException"
            }
          },
          "486": {
            "description": "WAFTagOperationInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFTagOperationInternalErrorException"
            }
          },
          "487": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>WebACL</a>.</p> <p>You can only use this if <code>ManagedByFirewallManager</code> is false in the specified <a>WebACL</a>. </p>",
        "operationId": "DeleteWebACL"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DescribeManagedRuleGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DescribeManagedRuleGroup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeManagedRuleGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeManagedRuleGroupResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFInvalidResourceException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidResourceException"
            }
          },
          "483": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "484": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Provides high-level information for a managed rule group, including descriptions of the rules. </p>",
        "operationId": "DescribeManagedRuleGroup"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.DisassociateWebACL": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.DisassociateWebACL"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisassociateWebACLRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateWebACLResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Disassociates a Web ACL from a regional application resource. A regional application can be an Application Load Balancer (ALB), an API Gateway REST API, or an AppSync GraphQL API. </p> <p>For AWS CloudFront, don't use this call. Instead, use your CloudFront distribution configuration. To disassociate a Web ACL, provide an empty web ACL ID in the CloudFront call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>",
        "operationId": "DisassociateWebACL"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetIPSet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetIPSet"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetIPSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIPSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>IPSet</a>.</p>",
        "operationId": "GetIPSet"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetLoggingConfiguration": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetLoggingConfiguration"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetLoggingConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetLoggingConfigurationResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "482": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Returns the <a>LoggingConfiguration</a> for the specified web ACL.</p>",
        "operationId": "GetLoggingConfiguration"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetPermissionPolicy": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetPermissionPolicy"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPermissionPolicyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPermissionPolicyResponse"
            }
          },
          "480": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          }
        },
        "description": "<p>Returns the IAM policy that is attached to the specified rule group.</p> <p>You must be the owner of the rule group to perform this operation.</p>",
        "operationId": "GetPermissionPolicy"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetRateBasedStatementManagedKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetRateBasedStatementManagedKeys"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRateBasedStatementManagedKeysRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRateBasedStatementManagedKeysResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the keys that are currently blocked by a rate-based rule. The maximum number of managed keys that can be blocked for a single rate-based rule is 10,000. If more than 10,000 addresses exceed the rate limit, those with the highest rates are blocked.</p>",
        "operationId": "GetRateBasedStatementManagedKeys"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetRegexPatternSet": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetRegexPatternSet"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRegexPatternSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRegexPatternSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>RegexPatternSet</a>.</p>",
        "operationId": "GetRegexPatternSet"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetRuleGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetRuleGroup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRuleGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRuleGroupResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>RuleGroup</a>.</p>",
        "operationId": "GetRuleGroup"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetSampledRequests": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetSampledRequests"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSampledRequestsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSampledRequestsResponse"
            }
          },
          "480": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Gets detailed information about a specified number of requests--a sample--that AWS WAF randomly selects from among the first 5,000 requests that your AWS resource received during a time range that you choose. You can specify a sample size of up to 500 requests, and you can specify any time range in the previous three hours.</p> <p> <code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which AWS WAF selected the requests in the sample.</p>",
        "operationId": "GetSampledRequests"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetWebACL": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetWebACL"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWebACLRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetWebACLResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>WebACL</a>.</p>",
        "operationId": "GetWebACL"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.GetWebACLForResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.GetWebACLForResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWebACLForResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetWebACLForResourceResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "482": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "483": {
            "description": "WAFUnavailableEntityException",
            "schema": {
              "$ref": "#/definitions/WAFUnavailableEntityException"
            }
          },
          "484": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the <a>WebACL</a> for the specified resource. </p>",
        "operationId": "GetWebACLForResource"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.ListAvailableManagedRuleGroups": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.ListAvailableManagedRuleGroups"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAvailableManagedRuleGroupsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAvailableManagedRuleGroupsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of managed rule groups that are available for you to use. This list includes all AWS Managed Rules rule groups and the AWS Marketplace managed rule groups that you're subscribed to.</p>",
        "operationId": "ListAvailableManagedRuleGroups"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.ListIPSets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSWAF_20190729.ListIPSets"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListIPSetsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListIPSetsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "482": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          }
        },
        "description": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of <a>IPSetSummary</a> objects for the IP sets that you manage.</p>",
        "operationId": "ListIPSets"
      }
    },
    "/#X-Amz-Target=AWSWAF_20190729.ListLoggingConfigurations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
[...]
