{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>AWS IoT Analytics allows you to collect large amounts of device data, process messages, and store them. You can then query the data and run sophisticated analytics on it. AWS IoT Analytics enables advanced data exploration through integration with Jupyter Notebooks and data visualization through integration with Amazon QuickSight.</p> <p>Traditional analytics and business intelligence tools are designed to process structured data. IoT data often comes from devices that record noisy processes (such as temperature, motion, or sound). As a result the data from these devices can have significant gaps, corrupted messages, and false readings that must be cleaned up before analysis can occur. Also, IoT data is often only meaningful in the context of other data from external sources. </p> <p>AWS IoT Analytics automates the steps required to analyze data from IoT devices. AWS IoT Analytics filters, transforms, and enriches IoT data before storing it in a time-series data store for analysis. You can set up the service to collect only the data you need from your devices, apply mathematical transforms to process the data, and enrich the data with device-specific metadata such as device type and location before storing it. Then, you can analyze your data by running queries using the built-in SQL query engine, or perform more complex analytics and machine learning inference. AWS IoT Analytics includes pre-built models for common IoT use cases so you can answer questions like which devices are about to fail or which customers are at risk of abandoning their wearable devices.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS IoT Analytics",
    "version": "2017-11-27",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iotanalytics-2017-11-27.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "iotanalytics",
    "x-datafire": {
      "name": "amazonaws_iotanalytics",
      "type": "openapi"
    }
  },
  "host": "iotanalytics.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/channels": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListChannelsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves a list of channels.",
        "operationId": "ListChannels"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "description": "Metadata which can be used to manage the channel.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                },
                "channelName": {
                  "description": "The name of the channel.",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_]+$",
                  "type": "string"
                },
                "channelStorage": {
                  "description": "Where channel data is stored. You may choose one of <code>serviceManagedS3</code> or <code>customerManagedS3</code> storage. If not specified, the default is <code>serviceManagedS3</code>. This cannot be changed after creation of the channel.",
                  "properties": {
                    "customerManagedS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CustomerManagedChannelS3Storage"
                        },
                        {
                          "description": "Use this to store channel data in an S3 bucket that you manage. If customer managed storage is selected, the <code>retentionPeriod</code> parameter is ignored. You cannot change the choice of service-managed or customer-managed S3 storage after the channel is created."
                        }
                      ]
                    },
                    "serviceManagedS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ServiceManagedChannelS3Storage"
                        },
                        {
                          "description": "Use this to store channel data in an S3 bucket managed by AWS IoT Analytics. You cannot change the choice of service-managed or customer-managed S3 storage after the channel is created."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "retentionPeriod": {
                  "description": "How long, in days, message data is kept.",
                  "properties": {
                    "numberOfDays": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RetentionPeriodInDays"
                        },
                        {
                          "description": "The number of days that message data is kept. The <code>unlimited</code> parameter must be false."
                        }
                      ]
                    },
                    "unlimited": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UnlimitedRetentionPeriod"
                        },
                        {
                          "description": "If true, message data is kept indefinitely."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "channelName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateChannelResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "Creates a channel. A channel collects data from an MQTT topic and archives the raw, unprocessed messages before publishing the data to a pipeline.",
        "operationId": "CreateChannel"
      }
    },
    "/channels/{channelName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the channel to delete.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "channelName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Deletes the specified channel.",
        "operationId": "DeleteChannel"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the channel whose information is retrieved.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "channelName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "If true, additional statistical information about the channel is included in the response. This feature cannot be used with a channel whose S3 storage is customer-managed.",
            "in": "query",
            "name": "includeStatistics",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeChannelResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves information about a channel.",
        "operationId": "DescribeChannel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the channel to be updated.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "channelName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "channelStorage": {
                  "description": "Where channel data is stored. You may choose one of <code>serviceManagedS3</code> or <code>customerManagedS3</code> storage. If not specified, the default is <code>serviceManagedS3</code>. This cannot be changed after creation of the channel.",
                  "properties": {
                    "customerManagedS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CustomerManagedChannelS3Storage"
                        },
                        {
                          "description": "Use this to store channel data in an S3 bucket that you manage. If customer managed storage is selected, the <code>retentionPeriod</code> parameter is ignored. You cannot change the choice of service-managed or customer-managed S3 storage after the channel is created."
                        }
                      ]
                    },
                    "serviceManagedS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ServiceManagedChannelS3Storage"
                        },
                        {
                          "description": "Use this to store channel data in an S3 bucket managed by AWS IoT Analytics. You cannot change the choice of service-managed or customer-managed S3 storage after the channel is created."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "retentionPeriod": {
                  "description": "How long, in days, message data is kept.",
                  "properties": {
                    "numberOfDays": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RetentionPeriodInDays"
                        },
                        {
                          "description": "The number of days that message data is kept. The <code>unlimited</code> parameter must be false."
                        }
                      ]
                    },
                    "unlimited": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UnlimitedRetentionPeriod"
                        },
                        {
                          "description": "If true, message data is kept indefinitely."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Updates the settings of a channel.",
        "operationId": "UpdateChannel"
      }
    },
    "/channels/{channelName}/sample": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the channel whose message samples are retrieved.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "channelName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The number of sample messages to be retrieved. The limit is 10. The default is also 10.",
            "in": "query",
            "maximum": 10,
            "minimum": 1,
            "name": "maxMessages",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The start of the time window from which sample messages are retrieved.",
            "format": "date-time",
            "in": "query",
            "name": "startTime",
            "required": false,
            "type": "string"
          },
          {
            "description": "The end of the time window from which sample messages are retrieved.",
            "format": "date-time",
            "in": "query",
            "name": "endTime",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SampleChannelDataResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves a sample of messages from the specified channel ingested during the specified timeframe. Up to 10 messages can be retrieved.",
        "operationId": "SampleChannelData"
      }
    },
    "/datasets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDatasetsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves information about data sets.",
        "operationId": "ListDatasets"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "description": "Metadata which can be used to manage the data set.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                },
                "actions": {
                  "description": "A list of actions that create the data set contents.",
                  "items": {
                    "$ref": "#/definitions/DatasetAction"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "contentDeliveryRules": {
                  "description": "When dataset contents are created, they are delivered to destinations specified here.",
                  "items": {
                    "$ref": "#/definitions/DatasetContentDeliveryRule"
                  },
                  "maxItems": 20,
                  "minItems": 0,
                  "type": "array"
                },
                "datasetName": {
                  "description": "The name of the data set.",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_]+$",
                  "type": "string"
                },
                "lateDataRules": {
                  "description": "A list of data rules that send notifications to Amazon CloudWatch, when data arrives late. To specify <code>lateDataRules</code>, the dataset must use a <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/APIReference/API_DeltaTime.html\">DeltaTimer</a> filter.",
                  "items": {
                    "$ref": "#/definitions/LateDataRule"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "retentionPeriod": {
                  "description": "How long, in days, message data is kept.",
                  "properties": {
                    "numberOfDays": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RetentionPeriodInDays"
                        },
                        {
                          "description": "The number of days that message data is kept. The <code>unlimited</code> parameter must be false."
                        }
                      ]
                    },
                    "unlimited": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UnlimitedRetentionPeriod"
                        },
                        {
                          "description": "If true, message data is kept indefinitely."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "triggers": {
                  "description": "A list of triggers. A trigger causes data set contents to be populated at a specified time interval or when another data set's contents are created. The list of triggers can be empty or contain up to five <code>DataSetTrigger</code> objects.",
                  "items": {
                    "$ref": "#/definitions/DatasetTrigger"
                  },
                  "maxItems": 5,
                  "minItems": 0,
                  "type": "array"
                },
                "versioningConfiguration": {
                  "description": "Information about the versioning of dataset contents.",
                  "properties": {
                    "maxVersions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MaxVersions"
                        },
                        {
                          "description": "How many versions of dataset contents are kept. The <code>unlimited</code> parameter must be <code>false</code>."
                        }
                      ]
                    },
                    "unlimited": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UnlimitedVersioning"
                        },
                        {
                          "description": "If true, unlimited versions of dataset contents are kept."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "datasetName",
                "actions"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDatasetResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "Creates a dataset. A dataset stores data retrieved from a data store by applying a <code>queryAction</code> (a SQL query) or a <code>containerAction</code> (executing a containerized application). This operation creates the skeleton of a dataset. The dataset can be populated manually by calling <code>CreateDatasetContent</code> or automatically according to a trigger you specify.",
        "operationId": "CreateDataset"
      }
    },
    "/datasets/{datasetName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the data set to delete.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datasetName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "<p>Deletes the specified dataset.</p> <p>You do not have to delete the content of the dataset before you perform this operation.</p>",
        "operationId": "DeleteDataset"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the data set whose information is retrieved.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datasetName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDatasetResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves information about a dataset.",
        "operationId": "DescribeDataset"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the data set to update.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datasetName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "actions": {
                  "description": "A list of <code>DatasetAction</code> objects.",
                  "items": {
                    "$ref": "#/definitions/DatasetAction"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "contentDeliveryRules": {
                  "description": "When dataset contents are created, they are delivered to destinations specified here.",
                  "items": {
                    "$ref": "#/definitions/DatasetContentDeliveryRule"
                  },
                  "maxItems": 20,
                  "minItems": 0,
                  "type": "array"
                },
                "lateDataRules": {
                  "description": "A list of data rules that send notifications to Amazon CloudWatch, when data arrives late. To specify <code>lateDataRules</code>, the dataset must use a <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/APIReference/API_DeltaTime.html\">DeltaTimer</a> filter.",
                  "items": {
                    "$ref": "#/definitions/LateDataRule"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "retentionPeriod": {
                  "description": "How long, in days, message data is kept.",
                  "properties": {
                    "numberOfDays": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RetentionPeriodInDays"
                        },
                        {
                          "description": "The number of days that message data is kept. The <code>unlimited</code> parameter must be false."
                        }
                      ]
                    },
                    "unlimited": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UnlimitedRetentionPeriod"
                        },
                        {
                          "description": "If true, message data is kept indefinitely."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "triggers": {
                  "description": "A list of <code>DatasetTrigger</code> objects. The list can be empty or can contain up to five <code>DatasetTrigger</code> objects.",
                  "items": {
                    "$ref": "#/definitions/DatasetTrigger"
                  },
                  "maxItems": 5,
                  "minItems": 0,
                  "type": "array"
                },
                "versioningConfiguration": {
                  "description": "Information about the versioning of dataset contents.",
                  "properties": {
                    "maxVersions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MaxVersions"
                        },
                        {
                          "description": "How many versions of dataset contents are kept. The <code>unlimited</code> parameter must be <code>false</code>."
                        }
                      ]
                    },
                    "unlimited": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UnlimitedVersioning"
                        },
                        {
                          "description": "If true, unlimited versions of dataset contents are kept."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "actions"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Updates the settings of a data set.",
        "operationId": "UpdateDataset"
      }
    },
    "/datasets/{datasetName}/content": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the dataset whose content is deleted.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datasetName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the dataset whose content is deleted. You can also use the strings \"$LATEST\" or \"$LATEST_SUCCEEDED\" to delete the latest or latest successfully completed data set. If not specified, \"$LATEST_SUCCEEDED\" is the default.",
            "in": "query",
            "maxLength": 36,
            "minLength": 7,
            "name": "versionId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Deletes the content of the specified dataset.",
        "operationId": "DeleteDatasetContent"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the data set whose contents are retrieved.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datasetName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the data set whose contents are retrieved. You can also use the strings \"$LATEST\" or \"$LATEST_SUCCEEDED\" to retrieve the contents of the latest or latest successfully completed data set. If not specified, \"$LATEST_SUCCEEDED\" is the default.",
            "in": "query",
            "maxLength": 36,
            "minLength": 7,
            "name": "versionId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDatasetContentResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves the contents of a data set as presigned URIs.",
        "operationId": "GetDatasetContent"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the dataset.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datasetName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "versionId": {
                  "description": "The version ID of the dataset content. To specify <code>versionId</code> for a dataset content, the dataset must use a <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/APIReference/API_DeltaTime.html\">DeltaTimer</a> filter.",
                  "maxLength": 36,
                  "minLength": 7,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDatasetContentResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Creates the content of a data set by applying a <code>queryAction</code> (a SQL query) or a <code>containerAction</code> (executing a containerized application).",
        "operationId": "CreateDatasetContent"
      }
    },
    "/datasets/{datasetName}/contents": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the data set whose contents information you want to list.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datasetName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return in this request.",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A filter to limit results to those data set contents whose creation is scheduled on or after the given time. See the field <code>triggers.schedule</code> in the <code>CreateDataset</code> request. (timestamp)",
            "format": "date-time",
            "in": "query",
            "name": "scheduledOnOrAfter",
            "required": false,
            "type": "string"
          },
          {
            "description": "A filter to limit results to those data set contents whose creation is scheduled before the given time. See the field <code>triggers.schedule</code> in the <code>CreateDataset</code> request. (timestamp)",
            "format": "date-time",
            "in": "query",
            "name": "scheduledBefore",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDatasetContentsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Lists information about data set contents that have been created.",
        "operationId": "ListDatasetContents"
      }
    },
    "/datastores": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDatastoresResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves a list of data stores.",
        "operationId": "ListDatastores"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "description": "Metadata which can be used to manage the data store.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                },
                "datastoreName": {
                  "description": "The name of the data store.",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_]+$",
                  "type": "string"
                },
                "datastoreStorage": {
                  "description": "Where data store data is stored. You can choose one of <code>serviceManagedS3</code> or <code>customerManagedS3</code> storage. If not specified, the default is <code>serviceManagedS3</code>. You cannot change this storage option after the data store is created.",
                  "properties": {
                    "customerManagedS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CustomerManagedDatastoreS3Storage"
                        },
                        {
                          "description": "Use this to store data store data in an S3 bucket that you manage. When customer managed storage is selected, the <code>retentionPeriod</code> parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store."
                        }
                      ]
                    },
                    "serviceManagedS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ServiceManagedDatastoreS3Storage"
                        },
                        {
                          "description": "Use this to store data store data in an S3 bucket managed by AWS IoT Analytics. You cannot change the choice of service-managed or customer-managed S3 storage after the data store is created."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "fileFormatConfiguration": {
                  "description": "<p>Contains the configuration information of file formats. AWS IoT Analytics data stores support JSON and <a href=\"https://parquet.apache.org/\">Parquet</a>.</p> <p>The default file format is JSON. You can specify only one format.</p> <p>You can't change the file format after you create the data store.</p>",
                  "properties": {
                    "jsonConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/JsonConfiguration"
                        },
                        {
                          "description": "Contains the configuration information of the JSON format."
                        }
                      ]
                    },
                    "parquetConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ParquetConfiguration"
                        },
                        {
                          "description": "Contains the configuration information of the Parquet format."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "retentionPeriod": {
                  "description": "How long, in days, message data is kept.",
                  "properties": {
                    "numberOfDays": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RetentionPeriodInDays"
                        },
                        {
                          "description": "The number of days that message data is kept. The <code>unlimited</code> parameter must be false."
                        }
                      ]
                    },
                    "unlimited": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UnlimitedRetentionPeriod"
                        },
                        {
                          "description": "If true, message data is kept indefinitely."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "datastoreName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDatastoreResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "Creates a data store, which is a repository for messages.",
        "operationId": "CreateDatastore"
      }
    },
    "/datastores/{datastoreName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the data store to delete.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datastoreName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Deletes the specified data store.",
        "operationId": "DeleteDatastore"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the data store",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datastoreName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "If true, additional statistical information about the data store is included in the response. This feature cannot be used with a data store whose S3 storage is customer-managed.",
            "in": "query",
            "name": "includeStatistics",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDatastoreResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves information about a data store.",
        "operationId": "DescribeDatastore"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the data store to be updated.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "datastoreName",
            "pattern": "^[a-zA-Z0-9_]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "datastoreStorage": {
                  "description": "Where data store data is stored. You can choose one of <code>serviceManagedS3</code> or <code>customerManagedS3</code> storage. If not specified, the default is <code>serviceManagedS3</code>. You cannot change this storage option after the data store is created.",
                  "properties": {
                    "customerManagedS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CustomerManagedDatastoreS3Storage"
                        },
                        {
                          "description": "Use this to store data store data in an S3 bucket that you manage. When customer managed storage is selected, the <code>retentionPeriod</code> parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store."
                        }
                      ]
                    },
                    "serviceManagedS3": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ServiceManagedDatastoreS3Storage"
                        },
                        {
                          "description": "Use this to store data store data in an S3 bucket managed by AWS IoT Analytics. You cannot change the choice of service-managed or customer-managed S3 storage after the data store is created."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "fileFormatConfiguration": {
                  "description": "<p>Contains the configuration information of file formats. AWS IoT Analytics data stores support JSON and <a href=\"https://parquet.apache.org/\">Parquet</a>.</p> <p>The default file format is JSON. You can specify only one format.</p> <p>You can't change the file format after you create the data store.</p>",
                  "properties": {
                    "jsonConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/JsonConfiguration"
                        },
                        {
                          "description": "Contains the configuration information of the JSON format."
                        }
                      ]
                    },
                    "parquetConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ParquetConfiguration"
                        },
                        {
                          "description": "Contains the configuration information of the Parquet format."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "retentionPeriod": {
                  "description": "How long, in days, message data is kept.",
                  "properties": {
                    "numberOfDays": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RetentionPeriodInDays"
                        },
                        {
                          "description": "The number of days that message data is kept. The <code>unlimited</code> parameter must be false."
                        }
                      ]
                    },
                    "unlimited": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UnlimitedRetentionPeriod"
                        },
                        {
                          "description": "If true, message data is kept indefinitely."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Updates the settings of a data store.",
        "operationId": "UpdateDatastore"
      }
    },
    "/logging": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeLoggingOptionsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves the current settings of the AWS IoT Analytics logging options.",
        "operationId": "DescribeLoggingOptions"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "loggingOptions": {
                  "description": "Information about logging options.",
                  "properties": {
                    "enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/LoggingEnabled"
                        },
                        {
                          "description": "If true, logging is enabled for AWS IoT Analytics."
                        }
                      ]
                    },
                    "level": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/LoggingLevel"
                        },
                        {
                          "description": "The logging level. Currently, only ERROR is supported."
                        }
                      ]
                    },
                    "roleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "The ARN of the role that grants permission to AWS IoT Analytics to perform logging."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "loggingOptions"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "<p>Sets or updates the AWS IoT Analytics logging options.</p> <p>If you update the value of any <code>loggingOptions</code> field, it takes up to one minute for the change to take effect. Also, if you change the policy attached to the role you specified in the <code>roleArn</code> field (for example, to correct an invalid policy), it takes up to five minutes for that change to take effect. </p>",
        "operationId": "PutLoggingOptions"
      }
    },
    "/messages/batch": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "channelName": {
                  "description": "The name of the channel where the messages are sent.",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_]+$",
                  "type": "string"
                },
                "messages": {
                  "description": "<p>The list of messages to be sent. Each message has the format: { \"messageId\": \"string\", \"payload\": \"string\"}.</p> <p>The field names of message payloads (data) that you send to AWS IoT Analytics:</p> <ul> <li> <p>Must contain only alphanumeric characters and undescores (_). No other special characters are allowed.</p> </li> <li> <p>Must begin with an alphabetic character or single underscore (_).</p> </li> <li> <p>Cannot contain hyphens (-).</p> </li> <li> <p>In regular expression terms: \"^[A-Za-z_]([A-Za-z0-9]*|[A-Za-z0-9][A-Za-z0-9_]*)$\". </p> </li> <li> <p>Cannot be more than 255 characters.</p> </li> <li> <p>Are case insensitive. (Fields named foo and FOO in the same payload are considered duplicates.)</p> </li> </ul> <p>For example, {\"temp_01\": 29} or {\"_temp_01\": 29} are valid, but {\"temp-01\": 29}, {\"01_temp\": 29} or {\"__temp_01\": 29} are invalid in message payloads. </p>",
                  "items": {
                    "$ref": "#/definitions/Message"
                  },
                  "type": "array"
                }
              },
              "required": [
                "channelName",
                "messages"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchPutMessageResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Sends messages to a channel.",
        "operationId": "BatchPutMessage"
      }
    },
    "/pipelineactivities/run": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "payloads": {
                  "description": "The sample message payloads on which the pipeline activity is run.",
                  "items": {
                    "$ref": "#/definitions/MessagePayload"
                  },
                  "maxItems": 10,
                  "minItems": 1,
                  "type": "array"
                },
                "pipelineActivity": {
                  "description": "An activity that performs a transformation on a message.",
                  "properties": {
                    "addAttributes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AddAttributesActivity"
                        },
                        {
                          "description": "Adds other attributes based on existing attributes in the message."
                        }
                      ]
                    },
                    "channel": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ChannelActivity"
                        },
                        {
                          "description": "Determines the source of the messages to be processed."
                        }
                      ]
                    },
                    "datastore": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DatastoreActivity"
                        },
                        {
                          "description": "Specifies where to store the processed message data."
                        }
                      ]
                    },
                    "deviceRegistryEnrich": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DeviceRegistryEnrichActivity"
                        },
                        {
                          "description": "Adds data from the AWS IoT device registry to your message."
                        }
                      ]
                    },
                    "deviceShadowEnrich": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DeviceShadowEnrichActivity"
                        },
                        {
                          "description": "Adds information from the AWS IoT Device Shadow service to a message."
                        }
                      ]
                    },
                    "filter": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/FilterActivity"
                        },
                        {
                          "description": "Filters a message based on its attributes."
                        }
                      ]
                    },
                    "lambda": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/LambdaActivity"
                        },
                        {
                          "description": "Runs a Lambda function to modify the message."
                        }
                      ]
                    },
                    "math": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MathActivity"
                        },
                        {
                          "description": "Computes an arithmetic expression using the message's attributes and adds it to the message."
                        }
                      ]
                    },
                    "removeAttributes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RemoveAttributesActivity"
                        },
                        {
                          "description": "Removes attributes from a message."
                        }
                      ]
                    },
                    "selectAttributes": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SelectAttributesActivity"
                        },
                        {
                          "description": "Creates a new message using only the specified attributes from the original message. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "pipelineActivity",
                "payloads"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RunPipelineActivityResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Simulates the results of running a pipeline activity on a message payload.",
        "operationId": "RunPipelineActivity"
      }
    },
    "/pipelines": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The token for the next set of results.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>",
            "in": "query",
            "maximum": 250,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPipelinesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Retrieves a list of pipelines.",
        "operationId": "ListPipelines"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "description": "Metadata which can be used to manage the pipeline.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                },
                "pipelineActivities": {
                  "description": "<p>A list of <code>PipelineActivity</code> objects. Activities perform transformations on your messages, such as removing, renaming or adding message attributes; filtering messages based on attribute values; invoking your Lambda functions on messages for advanced processing; or performing mathematical transformations to normalize device data.</p> <p>The list can be 2-25 <code>PipelineActivity</code> objects and must contain both a <code>channel</code> and a <code>datastore</code> activity. Each entry in the list must contain only one activity. For example:</p> <p> <code>pipelineActivities = [ { \"channel\": { ... } }, { \"lambda\": { ... } }, ... ]</code> </p>",
                  "items": {
                    "$ref": "#/definitions/PipelineActivity"
                  },
                  "maxItems": 25,
                  "minItems": 1,
                  "type": "array"
                },
                "pipelineName": {
                  "description": "The name of the pipeline.",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9_]+$",
                  "type": "string"
                }
              },
              "required": [
                "pipelineName",
                "pipelineActivities"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePipelineResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        },
        "description": "Creates a pipeline. A pipeline consumes messages from a channel and allows you to process the messages before storing them in a data store. You must specify both a <code>channel</code> and a <code>datastore</code> activity and, optionally, as many as 23 additional activities in the <code>pipelineActivities</code> array.",
        "operationId": "CreatePipeline"
      }
    },
    "/pipelines/{pipelineName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
[...]
