{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "iotanalytics.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>AWS IoT Analytics provides advanced data analysis for AWS IoT. It allows you to collect large amounts of device data, process messages, store them, and then query the data and run sophisticated analytics to make accurate decisions in your IoT applications and machine learning use cases. AWS IoT Analytics enables advanced data exploration through integration with Jupyter Notebooks and data visualization through integration with Amazon QuickSight.</p> <p>Traditional analytics and business intelligence tools are designed to process structured data. IoT data often comes from devices that record noisy processes (such as temperature, motion, or sound). As a result, the data from these devices can have significant gaps, corrupted messages, and false readings that must be cleaned up before analysis can occur. Also, IoT data is often only meaningful in the context of other data from external sources. </p> <p>AWS IoT Analytics automates each of the steps required to analyze data from IoT devices. AWS IoT Analytics filters, transforms, and enriches IoT data before storing it in a time-series data store for analysis. You can set up the service to collect only the data you need from your devices, apply mathematical transforms to process the data, and enrich the data with device-specific metadata such as device type and location before storing it. Then, you can analyze your data by running queries using the built-in SQL query engine, or perform more complex analytics and machine learning inference. AWS IoT Analytics includes models for common IoT use cases so you can answer questions like which devices are about to fail or which customers are at risk of abandoning their wearable devices.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS IoT Analytics",
    "version": "2017-11-27",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iotanalytics-2017-11-27.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "iotanalytics",
    "x-datafire": {
      "name": "amazonaws_iotanalytics",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/iotanalytics/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/channels": {
      "get": {
        "description": "Retrieves a list of channels.",
        "operationId": "ListChannels",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListChannelsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListChannelsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a channel. A channel collects data from an MQTT topic and archives the raw, unprocessed messages before publishing the data to a pipeline.",
        "operationId": "CreateChannel",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateChannelRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateChannelResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/channels/{channelName}": {
      "delete": {
        "description": "Deletes the specified channel.",
        "operationId": "DeleteChannel",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteChannelRequest"
            }
          },
          {
            "in": "path",
            "name": "channelName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "get": {
        "description": "Retrieves information about a channel.",
        "operationId": "DescribeChannel",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeChannelRequest"
            }
          },
          {
            "in": "path",
            "name": "channelName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeChannelResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "put": {
        "description": "Updates the settings of a channel.",
        "operationId": "UpdateChannel",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateChannelRequest"
            }
          },
          {
            "in": "path",
            "name": "channelName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      }
    },
    "/channels/{channelName}/sample": {
      "get": {
        "description": "Retrieves a sample of messages from the specified channel ingested during the specified timeframe. Up to 10 messages can be retrieved.",
        "operationId": "SampleChannelData",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SampleChannelDataRequest"
            }
          },
          {
            "in": "path",
            "name": "channelName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SampleChannelDataResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/datasets": {
      "get": {
        "description": "Retrieves information about data sets.",
        "operationId": "ListDatasets",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDatasetsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDatasetsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Creates a data set. A data set stores data retrieved from a data store by applying an SQL action.</p> <note> <p>This operation creates the skeleton of a data set. To populate the data set, call \"CreateDatasetContent\".</p> </note>",
        "operationId": "CreateDataset",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDatasetRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDatasetResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/datasets/{datasetName}": {
      "delete": {
        "description": "<p>Deletes the specified data set.</p> <p>You do not have to delete the content of the data set before you perform this operation.</p>",
        "operationId": "DeleteDataset",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDatasetRequest"
            }
          },
          {
            "in": "path",
            "name": "datasetName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "get": {
        "description": "Retrieves information about a data set.",
        "operationId": "DescribeDataset",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDatasetRequest"
            }
          },
          {
            "in": "path",
            "name": "datasetName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDatasetResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "put": {
        "description": "Updates the settings of a data set.",
        "operationId": "UpdateDataset",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDatasetRequest"
            }
          },
          {
            "in": "path",
            "name": "datasetName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      }
    },
    "/datasets/{datasetName}/content": {
      "delete": {
        "description": "Deletes the content of the specified data set.",
        "operationId": "DeleteDatasetContent",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDatasetContentRequest"
            }
          },
          {
            "in": "path",
            "name": "datasetName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "get": {
        "description": "Retrieves the contents of a data set as pre-signed URIs.",
        "operationId": "GetDatasetContent",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDatasetContentRequest"
            }
          },
          {
            "in": "path",
            "name": "datasetName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDatasetContentResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates the content of a data set by applying an SQL action.",
        "operationId": "CreateDatasetContent",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDatasetContentRequest"
            }
          },
          {
            "in": "path",
            "name": "datasetName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      }
    },
    "/datastores": {
      "get": {
        "description": "Retrieves a list of data stores.",
        "operationId": "ListDatastores",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDatastoresRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDatastoresResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a data store, which is a repository for messages.",
        "operationId": "CreateDatastore",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDatastoreRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDatastoreResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/datastores/{datastoreName}": {
      "delete": {
        "description": "Deletes the specified data store.",
        "operationId": "DeleteDatastore",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDatastoreRequest"
            }
          },
          {
            "in": "path",
            "name": "datastoreName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "get": {
        "description": "Retrieves information about a data store.",
        "operationId": "DescribeDatastore",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDatastoreRequest"
            }
          },
          {
            "in": "path",
            "name": "datastoreName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDatastoreResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "put": {
        "description": "Updates the settings of a data store.",
        "operationId": "UpdateDatastore",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDatastoreRequest"
            }
          },
          {
            "in": "path",
            "name": "datastoreName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      }
    },
    "/logging": {
      "get": {
        "description": "Retrieves the current settings of the AWS IoT Analytics logging options.",
        "operationId": "DescribeLoggingOptions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeLoggingOptionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeLoggingOptionsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "put": {
        "description": "Sets or updates the AWS IoT Analytics logging options.",
        "operationId": "PutLoggingOptions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutLoggingOptionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      }
    },
    "/messages/batch": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Sends messages to a channel.",
        "operationId": "BatchPutMessage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchPutMessageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchPutMessageResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      }
    },
    "/pipelineactivities/run": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Simulates the results of running a pipeline activity on a message payload.",
        "operationId": "RunPipelineActivity",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunPipelineActivityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RunPipelineActivityResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      }
    },
    "/pipelines": {
      "get": {
        "description": "Retrieves a list of pipelines.",
        "operationId": "ListPipelines",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListPipelinesRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPipelinesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "482": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a pipeline. A pipeline consumes messages from one or more channels and allows you to process the messages before storing them in a data store.",
        "operationId": "CreatePipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePipelineRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePipelineResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/pipelines/{pipelineName}": {
      "delete": {
        "description": "Deletes the specified pipeline.",
        "operationId": "DeletePipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePipelineRequest"
            }
          },
          {
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "get": {
        "description": "Retrieves information about a pipeline.",
        "operationId": "DescribePipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribePipelineRequest"
            }
          },
          {
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribePipelineResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "put": {
        "description": "Updates the settings of a pipeline.",
        "operationId": "UpdatePipeline",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePipelineRequest"
            }
          },
          {
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/pipelines/{pipelineName}/reprocessing": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts the reprocessing of raw message data through the pipeline.",
        "operationId": "StartPipelineReprocessing",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartPipelineReprocessingRequest"
            }
          },
          {
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartPipelineReprocessingResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      }
    },
    "/pipelines/{pipelineName}/reprocessing/{reprocessingId}": {
      "delete": {
        "description": "Cancels the reprocessing of data through the pipeline.",
        "operationId": "CancelPipelineReprocessing",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelPipelineReprocessingRequest"
            }
          },
          {
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "reprocessingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelPipelineReprocessingResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "482": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    }
  },
  "definitions": {
    "ActivityBatchSize": {
      "maximum": 1000,
      "minimum": 1,
      "type": "integer"
    },
    "ActivityName": {
      "maxLength": 128,
      "minLength": 1,
      "type": "string"
    },
    "AddAttributesActivity": {
      "description": "An activity that adds other attributes based on existing attributes in the message.",
      "properties": {
        "attributes": {
          "$ref": "#/definitions/AttributeNameMapping",
          "description": "<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>"
        },
        "name": {
          "$ref": "#/definitions/ActivityName",
          "description": "The name of the 'addAttributes' activity."
        },
        "next": {
          "$ref": "#/definitions/ActivityName",
          "description": "The next activity in the pipeline."
        }
      },
      "required": [
        "name",
        "attributes"
      ],
      "type": "object"
    },
    "AttributeName": {
      "maxLength": 256,
      "minLength": 1,
      "type": "string"
    },
    "AttributeNameMapping": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/AttributeName"
          },
          "value": {
            "$ref": "#/definitions/AttributeName"
          }
        },
        "type": "object"
      },
      "maxItems": 50,
      "minItems": 1,
      "type": "array"
    },
    "AttributeNames": {
      "items": {
        "$ref": "#/definitions/AttributeName"
      },
      "maxItems": 50,
      "minItems": 1,
      "type": "array"
    },
    "BatchPutMessageErrorEntries": {
      "items": {
        "$ref": "#/definitions/BatchPutMessageErrorEntry"
      },
      "type": "array"
    },
    "BatchPutMessageErrorEntry": {
      "description": "Contains informations about errors.",
      "properties": {
        "errorCode": {
          "$ref": "#/definitions/ErrorCode",
          "description": "The code associated with the error."
        },
        "errorMessage": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "The message associated with the error."
        },
        "messageId": {
          "$ref": "#/definitions/MessageId",
          "description": "The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)"
        }
      },
      "type": "object"
    },
    "BatchPutMessageRequest": {
      "properties": {
        "channelName": {
          "$ref": "#/definitions/ChannelName",
          "description": "The name of the channel where the messages are sent."
        },
        "messages": {
          "$ref": "#/definitions/Messages",
          "description": "The list of messages to be sent. Each message has format: '{ \"messageId\": \"string\", \"payload\": \"string\"}'."
        }
      },
      "required": [
        "channelName",
        "messages"
      ],
      "type": "object"
    },
    "BatchPutMessageResponse": {
      "properties": {
        "batchPutMessageErrorEntries": {
          "$ref": "#/definitions/BatchPutMessageErrorEntries",
          "description": "A list of any errors encountered when sending the messages to the channel."
        }
      },
      "type": "object"
    },
    "CancelPipelineReprocessingRequest": {
      "properties": {},
      "type": "object"
    },
    "CancelPipelineReprocessingResponse": {
      "properties": {},
      "type": "object"
    },
    "Channel": {
      "description": "A collection of data from an MQTT topic. Channels archive the raw, unprocessed messages before publishing the data to a pipeline.",
      "properties": {
        "arn": {
          "$ref": "#/definitions/ChannelArn",
          "description": "The ARN of the channel."
        },
        "creationTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the channel was created."
        },
        "lastUpdateTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the channel was last updated."
        },
        "name": {
          "$ref": "#/definitions/ChannelName",
          "description": "The name of the channel."
        },
        "retentionPeriod": {
          "$ref": "#/definitions/RetentionPeriod",
          "description": "How long, in days, message data is kept for the channel."
        },
        "status": {
          "$ref": "#/definitions/ChannelStatus",
          "description": "The status of the channel."
        }
      },
      "type": "object"
    },
    "ChannelActivity": {
      "description": "The activity that determines the source of the messages to be processed.",
      "properties": {
        "channelName": {
          "$ref": "#/definitions/ChannelName",
          "description": "The name of the channel from which the messages are processed."
        },
        "name": {
          "$ref": "#/definitions/ActivityName",
          "description": "The name of the 'channel' activity."
        },
        "next": {
          "$ref": "#/definitions/ActivityName",
          "description": "The next activity in the pipeline."
        }
      },
      "required": [
        "name",
        "channelName"
      ],
      "type": "object"
    },
    "ChannelArn": {
      "type": "string"
    },
    "ChannelName": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_]+$",
      "type": "string"
    },
    "ChannelStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "ChannelSummaries": {
      "items": {
        "$ref": "#/definitions/ChannelSummary"
      },
      "type": "array"
    },
    "ChannelSummary": {
      "description": "A summary of information about a channel.",
      "properties": {
        "channelName": {
          "$ref": "#/definitions/ChannelName",
          "description": "The name of the channel."
        },
        "creationTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the channel was created."
        },
        "lastUpdateTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The last time the channel was updated."
        },
        "status": {
          "$ref": "#/definitions/ChannelStatus",
          "description": "The status of the channel."
        }
      },
      "type": "object"
    },
    "CreateChannelRequest": {
      "properties": {
        "channelName": {
          "$ref": "#/definitions/ChannelName",
          "description": "The name of the channel."
        },
        "retentionPeriod": {
          "$ref": "#/definitions/RetentionPeriod",
          "description": "How long, in days, message data is kept for the channel."
        }
      },
      "required": [
        "channelName"
      ],
      "type": "object"
    },
    "CreateChannelResponse": {
      "properties": {
        "channelArn": {
          "$ref": "#/definitions/ChannelArn",
          "description": "The ARN of the channel."
        },
        "channelName": {
          "$ref": "#/definitions/ChannelName",
          "description": "The name of the channel."
        },
        "retentionPeriod": {
          "$ref": "#/definitions/RetentionPeriod",
          "description": "How long, in days, message data is kept for the channel."
        }
      },
      "type": "object"
    },
    "CreateDatasetContentRequest": {
      "properties": {},
      "type": "object"
    },
    "CreateDatasetRequest": {
      "properties": {
        "actions": {
          "$ref": "#/definitions/DatasetActions",
          "description": "A list of actions that create the data set. Only one action is supported at this time."
        },
        "datasetName": {
          "$ref": "#/definitions/DatasetName",
          "description": "The name of the data set."
        },
        "triggers": {
          "$ref": "#/definitions/DatasetTriggers",
          "description": "A list of triggers. A trigger causes data set content to be populated at a specified time or time interval. The list of triggers can be empty or contain up to five <b>DataSetTrigger</b> objects."
        }
      },
      "required": [
        "datasetName",
        "actions"
      ],
      "type": "object"
    },
    "CreateDatasetResponse": {
      "properties": {
        "datasetArn": {
          "$ref": "#/definitions/DatasetArn",
          "description": "The ARN of the data set."
        },
        "datasetName": {
          "$ref": "#/definitions/DatasetName",
          "description": "The name of the data set."
        }
      },
      "type": "object"
    },
    "CreateDatastoreRequest": {
      "properties": {
        "datastoreName": {
          "$ref": "#/definitions/DatastoreName",
          "description": "The name of the data store."
        },
        "retentionPeriod": {
          "$ref": "#/definitions/RetentionPeriod",
          "description": "How long, in days, message data is kept for the data store."
        }
      },
      "required": [
        "datastoreName"
      ],
      "type": "object"
    },
    "CreateDatastoreResponse": {
      "properties": {
        "datastoreArn": {
          "$ref": "#/definitions/DatastoreArn",
          "description": "The ARN of the data store."
        },
        "datastoreName": {
          "$ref": "#/definitions/DatastoreName",
          "description": "The name of the data store."
        },
        "retentionPeriod": {
          "$ref": "#/definitions/RetentionPeriod",
          "description": "How long, in days, message data is kept for the data store."
        }
      },
      "type": "object"
    },
    "CreatePipelineRequest": {
      "properties": {
        "pipelineActivities": {
          "$ref": "#/definitions/PipelineActivities",
          "description": "<p>A list of pipeline activities.</p> <p>The list can be 1-25 <b>PipelineActivity</b> objects. Activities perform transformations on your messages, such as removing, renaming, or adding message attributes; filtering messages based on attribute values; invoking your Lambda functions on messages for advanced processing; or performing mathematical transformations to normalize device data.</p>"
        },
        "pipelineName": {
          "$ref": "#/definitions/PipelineName",
          "description": "The name of the pipeline."
        }
      },
      "required": [
        "pipelineName",
        "pipelineActivities"
      ],
      "type": "object"
    },
    "CreatePipelineResponse": {
      "properties": {
        "pipelineArn": {
          "$ref": "#/definitions/PipelineArn",
          "description": "The ARN of the pipeline."
        },
        "pipelineName": {
          "$ref": "#/definitions/PipelineName",
          "description": "The name of the pipeline."
        }
      },
      "type": "object"
    },
    "Dataset": {
      "description": "Information about a data set.",
      "properties": {
        "actions": {
          "$ref": "#/definitions/DatasetActions",
          "description": "The \"DatasetAction\" objects that create the data set."
        },
        "arn": {
          "$ref": "#/definitions/DatasetArn",
          "description": "The ARN of the data set."
        },
        "creationTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the data set was created."
        },
        "lastUpdateTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The last time the data set was updated."
        },
        "name": {
          "$ref": "#/definitions/DatasetName",
          "description": "The name of the data set."
        },
        "status": {
          "$ref": "#/definitions/DatasetStatus",
          "description": "The status of the data set."
        },
        "triggers": {
          "$ref": "#/definitions/DatasetTriggers",
          "description": "The \"DatasetTrigger\" objects that specify when the data set is automatically updated."
        }
      },
      "type": "object"
    },
    "DatasetAction": {
      "description": "A \"DatasetAction\" object specifying the query that creates the data set content.",
      "properties": {
        "actionName": {
          "$ref": "#/definitions/DatasetActionName",
          "description": "The name of the data set action."
        },
        "queryAction": {
          "$ref": "#/definitions/SqlQueryDatasetAction",
          "description": "An \"SqlQueryDatasetAction\" object that contains the SQL query to modify the message."
        }
      },
      "type": "object"
    },
    "DatasetActionName": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_]+$",
      "type": "string"
    },
    "DatasetActions": {
      "items": {
        "$ref": "#/definitions/DatasetAction"
      },
      "maxItems": 1,
      "minItems": 1,
      "type": "array"
    },
    "DatasetArn": {
      "type": "string"
    },
    "DatasetContentState": {
      "enum": [
        "CREATING",
        "SUCCEEDED",
        "FAILED"
      ],
      "type": "string"
    },
    "DatasetContentStatus": {
      "description": "The state of the data set and the reason it is in this state.",
      "properties": {
        "reason": {
          "$ref": "#/definitions/Reason",
          "description": "The reason the data set is in this state."
        },
        "state": {
          "$ref": "#/definitions/DatasetContentState",
          "description": "The state of the data set. Can be one of \"CREATING\", \"SUCCEEDED\" or \"FAILED\"."
        }
      },
      "type": "object"
    },
    "DatasetContentVersion": {
      "type": "string"
    },
    "DatasetEntries": {
      "items": {
        "$ref": "#/definitions/DatasetEntry"
      },
      "type": "array"
    },
    "DatasetEntry": {
      "description": "The reference to a data set entry.",
      "properties": {
        "dataURI": {
          "$ref": "#/definitions/PresignedURI",
          "description": "The pre-signed URI of the data set item."
        },
        "entryName": {
          "$ref": "#/definitions/EntryName",
          "description": "The name of the data set item."
        }
      },
      "type": "object"
    },
    "DatasetName": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_]+$",
      "type": "string"
    },
    "DatasetStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "DatasetSummaries": {
      "items": {
        "$ref": "#/definitions/DatasetSummary"
      },
      "type": "array"
    },
    "DatasetSummary": {
      "description": "A summary of information about a data set.",
      "properties": {
        "creationTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time the data set was created."
        },
        "datasetName": {
          "$ref": "#/definitions/DatasetName",
          "description": "The name of the data set."
        },
        "lastUpdateTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The last time the data set was updated."
        },
        "status": {
          "$ref": "#/definitions/DatasetStatus",
          "description": "The status of the data set."
        }
      },
      "type": "object"
    },
    "DatasetTrigger": {
      "description": "The \"DatasetTrigger\" that specifies when the data set is automatically updated.",
      "properties": {
        "schedule": {
          "$ref": "#/definitions/Schedule",
          "description": "The \"Schedule\" when the trigger is initiated."
        }
      },
      "type": "object"
    },
    "DatasetTriggers": {
      "items": {
        "$ref": "#/definitions/DatasetTrigger"
      },
      "maxItems": 5,
      "minItems": 0,
      "type": "array"
    },
    "Datastore": {
      "description": "Information about a data store.",
      "properties": {
        "arn": {
          "$ref": "#/definitions/DatastoreArn",
          "description": "The ARN of the data store."
        },
        "creationTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the data store was created."
        },
        "lastUpdateTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The last time the data store was updated."
        },
        "name": {
          "$ref": "#/definitions/DatastoreName",
          "description": "The name of the data store."
        },
        "retentionPeriod": {
          "$ref": "#/definitions/RetentionPeriod",
          "description": "How long, in days, message data is kept for the data store."
        },
        "status": {
          "$ref": "#/definitions/DatastoreStatus",
          "description": "<p>The status of a data store:</p> <dl> <dt>CREATING</dt> <dd> <p>The data store is being created.</p> </dd> <dt>ACTIVE</dt> <dd> <p>The data store has been created and can be used.</p> </dd> <dt>DELETING</dt> <dd> <p>The data store is being deleted.</p> </dd> </dl>"
        }
      },
      "type": "object"
    },
    "DatastoreActivity": {
      "description": "The 'datastore' activity that specifies where to store the processed data.",
      "properties": {
        "datastoreName": {
          "$ref": "#/definitions/DatastoreName",
          "description": "The name of the data store where processed messages are stored."
        },
        "name": {
          "$ref": "#/definitions/ActivityName",
          "description": "The name of the 'datastore' activity."
        }
      },
      "required": [
        "name",
        "datastoreName"
      ],
      "type": "object"
    },
    "DatastoreArn": {
      "type": "string"
    },
    "DatastoreName": {
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_]+$",
      "type": "string"
    },
    "DatastoreStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "DatastoreSummaries": {
      "items": {
        "$ref": "#/definitions/DatastoreSummary"
      },
      "type": "array"
    },
    "DatastoreSummary": {
      "description": "A summary of information about a data store.",
      "properties": {
        "creationTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the data store was created."
        },
        "datastoreName": {
          "$ref": "#/definitions/DatastoreName",
          "description": "The name of the data store."
        },
        "lastUpdateTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The last time the data store was updated."
        },
        "status": {
          "$ref": "#/definitions/DatastoreStatus",
          "description": "The status of the data store."
        }
      },
      "type": "object"
    },
    "DeleteChannelRequest": {
      "properties": {},
      "type": "object"
    },
    "DeleteDatasetContentRequest": {
      "properties": {},
      "type": "object"
    },
    "DeleteDatasetRequest": {
      "properties": {},
      "type": "object"
    },
    "DeleteDatastoreRequest": {
      "properties": {},
      "type": "object"
    },
    "DeletePipelineRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeChannelRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeChannelResponse": {
      "properties": {
        "channel": {
          "$ref": "#/definitions/Channel",
          "description": "An object that contains information about the channel."
        }
      },
      "type": "object"
    },
    "DescribeDatasetRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeDatasetResponse": {
      "properties": {
        "dataset": {
          "$ref": "#/definitions/Dataset",
          "description": "An object that contains information about the data set."
        }
      },
      "type": "object"
    },
    "DescribeDatastoreRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeDatastoreResponse": {
      "properties": {
        "datastore": {
          "$ref": "#/definitions/Datastore",
          "description": "Information about the data store."
        }
      },
      "type": "object"
    },
    "DescribeLoggingOptionsRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeLoggingOptionsResponse": {
      "properties": {
        "loggingOptions": {
          "$ref": "#/definitions/LoggingOptions",
          "description": "The current settings of the AWS IoT Analytics logging options."
        }
      },
      "type": "object"
    },
    "DescribePipelineRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribePipelineResponse": {
      "properties": {
        "pipeline": {
          "$ref": "#/definitions/Pipeline",
          "description": "A \"Pipeline\" object that contains information about the pipeline."
        }
      },
      "type": "object"
    },
    "DeviceRegistryEnrichActivity": {
      "description": "An activity that adds data from the AWS IoT device registry to your message.",
      "properties": {
        "attribute": {
          "$ref": "#/definitions/AttributeName",
          "description": "The name of the attribute that is added to the message."
        },
        "name": {
          "$ref": "#/definitions/ActivityName",
          "description": "The name of the 'deviceRegistryEnrich' activity."
        },
        "next": {
          "$ref": "#/definitions/ActivityName",
          "description": "The next activity in the pipeline."
        },
        "roleArn": {
          "$ref": "#/definitions/RoleArn",
          "description": "The ARN of the role that allows access to the device's registry information."
        },
        "thingName": {
          "$ref": "#/definitions/AttributeName",
          "description": "The name of the IoT device whose registry information is added to the message."
        }
      },
      "required": [
        "name",
        "attribute",
        "thingName",
        "roleArn"
      ],
      "type": "object"
    },
    "DeviceShadowEnrichActivity": {
      "description": "An activity that adds information from the AWS IoT Device Shadows service to a message.",
      "properties": {
        "attribute": {
          "$ref": "#/definitions/AttributeName",
          "description": "The name of the attribute that is added to the message."
        },
        "name": {
          "$ref": "#/definitions/ActivityName",
          "description": "The name of the 'deviceShadowEnrich' activity."
        },
        "next": {
          "$ref": "#/definitions/ActivityName",
          "description": "The next activity in the pipeline."
        },
        "roleArn": {
          "$ref": "#/definitions/RoleArn",
          "description": "The ARN of the role that allows access to the device's shadow."
        },
        "thingName": {
          "$ref": "#/definitions/AttributeName",
          "description": "The name of the IoT device whose shadow information is added to the message."
        }
      },
      "required": [
        "name",
        "attribute",
        "thingName",
        "roleArn"
      ],
      "type": "object"
    },
    "EndTime": {
      "format": "date-time",
      "type": "string"
    },
    "EntryName": {
      "type": "string"
    },
    "ErrorCode": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FilterActivity": {
      "description": "An activity that filters a message based on its attributes.",
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterExpression",
          "description": "An expression that looks like an SQL WHERE clause that must return a Boolean value."
        },
        "name": {
          "$ref": "#/definitions/ActivityName",
          "description": "The name of the 'filter' activity."
        },
        "next": {
          "$ref": "#/definitions/ActivityName",
          "description": "The next activity in the pipeline."
        }
      },
      "required": [
        "name",
        "filter"
      ],
      "type": "object"
    },
    "FilterExpression": {
      "maxLength": 256,
      "minLength": 1,
      "type": "string"
    },
    "GetDatasetContentRequest": {
      "properties": {},
      "type": "object"
    },
    "GetDatasetContentResponse": {
      "properties": {
        "entries": {
          "$ref": "#/definitions/DatasetEntries",
          "description": "A list of \"DatasetEntry\" objects."
        },
        "status": {
          "$ref": "#/definitions/DatasetContentStatus",
          "description": "The status of the data set content."
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time when the request was made."
        }
      },
      "type": "object"
    },
    "InternalFailureException": {
      "description": "There was an internal failure.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "InvalidRequestException": {
      "description": "The request was not valid.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "LambdaActivity": {
      "description": "An activity that runs a Lambda function to modify the message.",
      "properties": {
        "batchSize": {
          "$ref": "#/definitions/ActivityBatchSize",
          "description": "<p>The number of messages passed to the Lambda function for processing.</p> <p>The AWS Lambda function must be able to process all of these messages within five minutes, which is the maximum timeout duration for Lambda functions.</p>"
        },
        "lambdaName": {
          "$ref": "#/definitions/LambdaName",
          "description": "The name of the Lambda function that is run on the message."
        },
        "name": {
          "$ref": "#/definitions/ActivityName",
          "description": "The name of the 'lambda' activity."
        },
        "next": {
          "$ref": "#/definitions/ActivityName",
          "description": "The next activity in the pipeline."
        }
      },
      "required": [
        "name",
        "lambdaName",
        "batchSize"
      ],
      "type": "object"
    },
    "LambdaName": {
      "maxLength": 64,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "LimitExceededException": {
      "description": "The command caused an internal limit to be exceeded.",
      "properties": {
        "message": {
          "$ref": "#/definitions/errorMessage"
        }
      },
      "type": "object"
    },
    "ListChannelsRequest": {
      "properties": {},
      "type": "object"
    },
    "ListChannelsResponse": {
      "properties": {
        "channelSummaries": {
          "$ref": "#/definitions/ChannelSummaries",
          "description": "A list of \"ChannelSummary\" objects."
        },
        "nextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token to retrieve the next set of results, or <code>null</code> if there are no more results."
        }
      },
      "type": "object"
    },
    "ListDatasetsRequest": {
      "properties": {},
      "type": "object"
    },
    "ListDatasetsResponse": {
      "properties": {
        "datasetSummaries": {
          "$ref": "#/definitions/DatasetSummaries",
          "description": "A list of \"DatasetSummary\" objects."
        },
        "nextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token to retrieve the next set of results, or <code>null</code> if there are no more results."
        }
      },
      "type": "object"
    },
    "ListDatastoresRequest": {
      "properties": {},
      "type": "object"
    },
    "ListDatastoresResponse": {
      "properties": {
        "datastoreSummaries": {
          "$ref": "#/definitions/DatastoreSummaries",
          "description": "A list of \"DatastoreSummary\" objects."
        },
        "nextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token to retrieve the next set of results, or <code>null</code> if there are no more results."
        }
      },
      "type": "object"
    },
    "ListPipelinesRequest": {
      "properties": {},
      "type": "object"
    },
    "ListPipelinesResponse": {
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token to retrieve the next set of results, or <code>null</code> if there are no more results."
        },
        "pipelineSummaries": {
          "$ref": "#/definitions/PipelineSummaries",
          "description": "A list of \"PipelineSummary\" objects."
        }
      },
      "type": "object"
    },
    "LogResult": {
      "type": "string"
    },
    "LoggingEnabled": {
      "type": "boolean"
    },
    "LoggingLevel": {
      "enum": [
        "ERROR"
      ],
      "type": "string"
    },
    "LoggingOptions": {
      "description": "Information about logging options.",
      "properties": {
        "enabled": {
          "$ref": "#/definitions/LoggingEnabled",
          "description": "If true, logging is enabled for AWS IoT Analytics."
        },
        "level": {
          "$ref": "#/definitions/LoggingLevel",
          "description": "The logging level. Currently, only \"ERROR\" is supported."
        },
        "roleArn": {
          "$ref": "#/definitions/RoleArn",
          "description": "The ARN of the role that grants permission to AWS IoT Analytics to perform logging."
        }
      },
      "required": [
        "roleArn",
        "level",
        "enabled"
      ],
      "type": "object"
    },
    "MathActivity": {
      "description": "An activity that computes an arithmetic expression using the message's attributes.",
      "properties": {
        "attribute": {
          "$ref": "#/definitions/AttributeName",
          "description": "The name of the attribute that will contain the result of the math operation."
        },
        "math": {
          "$ref": "#/definitions/MathExpression",
          "description": "An expression that uses one or more existing attributes and must return an integer value."
        },
        "name": {
          "$ref": "#/definitions/ActivityName",
          "description": "The name of the 'math' activity."
        },
        "next": {
          "$ref": "#/definitions/ActivityName",
          "description": "The next activity in the pipeline."
        }
      },
      "required": [
        "name",
        "attribute",
        "math"
      ],
      "type": "object"
    },
    "MathExpression": {
      "maxLength": 256,
      "minLength": 1,
      "type": "string"
    },
    "MaxMessages": {
      "maximum": 10,
      "minimum": 1,
      "type": "integer"
    },
    "MaxResults": {
      "maximum": 250,
      "minimum": 1,
      "type": "integer"
    },
    "Message": {
      "description": "Information about a message.",
      "properties": {
        "messageId": {
          "$ref": "#/definitions/MessageId",
          "description": "The ID you wish to assign to the message."
        },
        "payload": {
          "$ref": "#/definitions/MessagePayload",
          "description": "The payload of the message."
        }
      },
      "required": [
        "messageId",
        "payload"
      ],
      "type": "object"
    },
    "MessageId": {
      "maxLength": 128,
      "minLength": 1,
      "type": "string"
    },
    "MessagePayload": {
      "type": "string"
    },
    "MessagePayloads": {
      "items": {
        "$ref": "#/definitions/MessagePayload"
      },
      "maxItems": 10,
      "minItems": 1,
      "type": "array"
    },
    "Messages": {
      "items": {
        "$ref": "#/definitions/Message"
      },
      "type": "array"
    },
    "NextToken": {
      "type": "string"
    },
    "Pipeline": {
      "description": "Contains information about a pipeline.",
      "properties": {
        "activities": {
          "$ref": "#/definitions/PipelineActivities",
          "description": "The activities that perform transformations on the messages."
        },
        "arn": {
          "$ref": "#/definitions/PipelineArn",
          "description": "The ARN of the pipeline."
        },
        "creationTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the pipeline was created."
        },
        "lastUpdateTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The last time the pipeline was updated."
        },
        "name": {
          "$ref": "#/definitions/PipelineName",
          "description": "The name of the pipeline."
        },
        "reprocessingSummaries": {
          "$ref": "#/definitions/ReprocessingSummaries",
          "description": "A summary of information about the pipeline reprocessing."
        }
      },
      "type": "object"
    },
    "PipelineActivities": {
      "items": {
        "$ref": "#/definitions/PipelineActivity"
      },
      "maxItems": 25,
      "minItems": 1,
      "type": "array"
    },
    "PipelineActivity": {
      "description": "An activity that performs a transformation on a message.",
      "properties": {
        "addAttributes": {
          "$ref": "#/definitions/AddAttributesActivity",
          "description": "Adds other attributes based on existing attributes in the message."
        },
        "channel": {
          "$ref": "#/definitions/ChannelActivity",
          "description": "Determines the source of the messages to be processed."
        },
        "datastore": {
          "$ref": "#/definitions/DatastoreActivity",
          "description": "Specifies where to store the processed message data."
        },
        "deviceRegistryEnrich": {
          "$ref": "#/definitions/DeviceRegistryEnrichActivity",
          "description": "Adds data from the AWS IoT device registry to your message."
        },
        "deviceShadowEnrich": {
          "$ref": "#/definitions/DeviceShadowEnrichActivity",
          "description": "Adds information from the AWS IoT Device Shadows service to a message."
        },
        "filter": {
          "$ref": "#/definitions/FilterActivity",
          "description": "Filters a message based on its attributes."
        },
        "lambda": {
          "$ref": "#/definitions/LambdaActivity",
          "description": "Runs a Lambda function to modify the message."
        },
        "math": {
          "$ref": "#/definitions/MathActivity",
          "description": "Computes an arithmetic expression using the message's attributes and adds it to the message."
        },
        "removeAttributes": {
          "$ref": "#/definitions/RemoveAttributesActivity",
          "description": "Removes attributes from a message."
        },
        "selectAttributes": {
          "$ref": "#/definitions/SelectAttributesActivity",
[...]
