{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "sales@shipengine.com",
      "name": "ShipEngine Sales & Support",
      "url": "https://www.shipengine.com/contact/",
      "x-phone": "1-512-856-5379"
    },
    "description": "ShipEngine's easy-to-use REST API lets you manage all of your shipping needs without worrying about the complexities of different carrier APIs and protocols. We handle all the heavy lifting so you can focus on providing a first-class shipping experience for your customers at the best possible prices.\n\nEach of ShipEngine's features can be used by itself or in conjunction with each other to build powerful shipping functionality into your application or service.\n\n## Getting Started\nIf you're new to REST APIs then be sure to read our [introduction to REST](https://www.shipengine.com/docs/rest/) to understand the basics. Learn how to [authenticate yourself to ShipEngine](https://www.shipengine.com/docs/auth/), and then use our [sandbox environment](https://www.shipengine.com/docs/sandbox/) to kick the tires and get familiar with our API. If you run into any problems, then be sure to check the [error handling guide](https://www.shipengine.com/docs/errors/) for tips.\n\nHere are some step-by-step **tutorials** to get you started:\n\n  - [Learn how to create your first shipping label](https://www.shipengine.com/docs/labels/create-a-label/)\n  - [Calculate shipping costs and compare rates across carriers](https://www.shipengine.com/docs/rates/)\n  - [Track packages on-demand or in real time](https://www.shipengine.com/docs/tracking/)\n  - [Validate mailing addresses anywhere on Earth](https://www.shipengine.com/docs/addresses/validation/)\n\n\n## Shipping Labels for Every Major Carrier\nShipEngine makes it easy to [create shipping labels for any carrier](https://www.shipengine.com/docs/labels/create-a-label/) and [download them](https://www.shipengine.com/docs/labels/downloading/) in a [variety of file formats](https://www.shipengine.com/docs/labels/formats/). You can even customize labels with your own [messages](https://www.shipengine.com/docs/labels/messages/) and [images](https://www.shipengine.com/docs/labels/branding/).\n\n\n## Real-Time Package Tracking\nWith ShipEngine you can [get the current status of a package](https://www.shipengine.com/docs/tracking/) or [subscribe to real-time tracking updates](https://www.shipengine.com/docs/tracking/webhooks/) via webhooks. You can also create [custimized tracking pages](https://www.shipengine.com/docs/tracking/branded-tracking-page/) with your own branding so your customers will always know where their package is.\n\n\n## Compare Shipping Costs Across Carriers\nMake sure you ship as cost-effectively as possible by [comparing rates across carriers](https://www.shipengine.com/docs/rates/get-shipment-rates/) using the ShipEngine Rates API. Or if you don't know the full shipment details yet, then you can [get rate estimates](https://www.shipengine.com/docs/rates/estimate/) with limited address info.\n\n\n## Worldwide Address Validation\nShipEngine supports [address validation](https://www.shipengine.com/docs/addresses/validation/) for virtually [every country on Earth](https://www.shipengine.com/docs/addresses/validation/countries/), including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.\n",
    "termsOfService": "https://www.shipengine.com/terms-of-service/",
    "title": "ShipEngine API",
    "version": "1.1.202006302006",
    "x-apisguru-categories": [
      "transport"
    ],
    "x-logo": {
      "altText": "ShipEngine logo",
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_www.shipengine.com_wp-content_themes_shipengine_assets_img_logo.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/ShipEngine/shipengine-openapi/master/openapi.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "shipengine.com",
    "x-datafire": {
      "name": "shipengine",
      "type": "openapi"
    }
  },
  "host": "api.shipengine.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/addresses/recognize": {
      "description": "Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful address data (e.g. recipient name, address line 1, line 2, city, postal code) from this unstructured text.\n",
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The only required field is `text`, which is the text to be parsed. You can optionally also provide an `address` containing already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.\n",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/parse_address_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the parsed address, as well as a confidence score and a list of all the entities that were recognized in the text.\n",
            "schema": {
              "$ref": "#/definitions/parse_address_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "addresses"
        ],
        "description": "The address-recognition API makes it easy for you to extract address data from unstructured text, including the recipient name, line 1, line 2, city, postal code, and more.\n\nData often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful, structured data from this unstructured text. The parsed address data is returned in the same structure that's used for other ShipEngine APIs, such as address validation, rate quotes, and shipping labels.\n\n> **Note:** Address recognition is currently supported for the United States, Canada, Australia, New Zealand, the United Kingdom, and Ireland.\n",
        "operationId": "parse_address",
        "summary": "Parse an address"
      },
      "summary": "Parse an address"
    },
    "/v1/addresses/validate": {
      "description": "Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges.\nShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.\n",
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/validate_address_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/validate_address_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "addresses"
        ],
        "description": "Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges.\nShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.\n",
        "operationId": "validate_address",
        "summary": "Validate An Address"
      },
      "summary": "Address Validation"
    },
    "/v1/batches": {
      "description": "Batches are an advanced feature of ShipEngine designed for users who need to generate hundreds or thousands of labels at a time.\nWhen ShipEngine generates labels it relies on many carriers, their services, their dependencies, and a number of other variables\nto fulfill your requests; those requests can take a few minutes for us to get back to you.\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The possible batch status values",
            "enum": [
              "open",
              "queued",
              "processing",
              "completed",
              "completed_with_errors",
              "archived",
              "notifying",
              "invalid"
            ],
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.\n",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "required": false,
            "type": "integer",
            "x-example": 2
          },
          {
            "default": 25,
            "description": "The number of results to return per response.",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "page_size",
            "required": false,
            "type": "integer",
            "x-example": 50
          },
          {
            "default": "desc",
            "description": "Controls the sort order of the query.",
            "in": "query",
            "name": "sort_dir",
            "required": false
          },
          {
            "description": "The possible batches sort by values",
            "enum": [
              "ship_date",
              "processed_at"
            ],
            "in": "query",
            "name": "sort_by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/list_batches_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "List Batches associated with your Shipengine account",
        "operationId": "list_batches",
        "summary": "List Batches"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/create_batch_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "schema": {
              "$ref": "#/definitions/create_batch_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Create a Batch",
        "operationId": "create_batch",
        "summary": "Create A Batch"
      },
      "summary": "Batches"
    },
    "/v1/batches/external_batch_id/{external_batch_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "external_batch_id",
          "required": true,
          "type": "string",
          "x-example": "13553d7f-3c87-4771-bae1-c49bacef11cb"
        }
      ],
      "description": "Retrive a batch from an external batch ID",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_batch_by_external_id_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Get Batch By External ID",
        "operationId": "get_batch_by_external_id",
        "summary": "Get Batch By External ID"
      },
      "summary": "External Batch ID"
    },
    "/v1/batches/{batch_id}": {
      "parameters": [
        {
          "description": "Batch ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "batch_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Delete Batch By Id",
        "operationId": "delete_batch",
        "summary": "Delete Batch By Id"
      },
      "description": "Check the status of your batch by retrieving it with a Batch ID.",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_batch_by_id_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Get Batch By ID",
        "operationId": "get_batch_by_id",
        "summary": "Get Batch By ID"
      },
      "put": {
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Update Batch By Id",
        "operationId": "update_batch",
        "summary": "Update Batch By Id"
      },
      "summary": "Batch By ID"
    },
    "/v1/batches/{batch_id}/add": {
      "parameters": [
        {
          "description": "Batch ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "batch_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "You can check your balance for a particular carrier by calling [List Carriers](https://www.shipengine.com/docs/reference/list-carriers/) endpoint.\nFor any carrier account where requires_funded_amount is true, you can add funds.\n",
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/add_to_batch_request_body"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Add a Shipment or Rate to a Batch",
        "operationId": "add_to_batch",
        "summary": "Add to a Batch"
      },
      "summary": "Add Funds to a Carrier"
    },
    "/v1/batches/{batch_id}/errors": {
      "parameters": [
        {
          "description": "Batch ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "batch_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Error handling in batches are handled differently than in a single synchronous request.\nYou must retrieve the status of your batch by [getting a batch](https://www.shipengine.com/docs/reference/get-batch-by-id/) and getting an overview of the statuses or you can list errors directly here below to get detailed information about the errors.\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.\n",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "required": false,
            "type": "integer",
            "x-example": 2
          },
          {
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "pagesize",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/list_batch_errors_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Error handling in batches are handled differently than in a single synchronous request.\nYou must retrieve the status of your batch by [getting a batch](https://www.shipengine.com/docs/reference/get-batch-by-id/) and getting an overview of the statuses or you can list errors directly here below to get detailed information about the errors.\n",
        "operationId": "list_batch_errors",
        "summary": "Get Batch Errors"
      },
      "summary": "Batch Errors"
    },
    "/v1/batches/{batch_id}/process/labels": {
      "parameters": [
        {
          "description": "Batch ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "batch_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Process Batch ID Labels",
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/process_batch_request_body"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Process Batch ID Labels",
        "operationId": "process_batch",
        "summary": "Process Batch ID Labels"
      },
      "summary": "Process Batch ID Labels"
    },
    "/v1/batches/{batch_id}/remove": {
      "parameters": [
        {
          "description": "Batch ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "batch_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Remove a list of shipments from a batch",
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/remove_from_batch_request_body"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "batches"
        ],
        "description": "Remove a shipment or rate from a batch",
        "operationId": "remove_from_batch",
        "summary": "Remove From Batch"
      },
      "summary": "Remove Batch By ID"
    },
    "/v1/carriers": {
      "description": "Carriers are a company or individual that specializes in transporting freight from one destination to another.\nShipengine allows you to easily integrate with multiple carriers so you can chose the shipping option that is right for you.\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_carriers_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carriers"
        ],
        "description": "List all carriers that have been added to this account",
        "operationId": "list_carriers",
        "summary": "List Carriers"
      },
      "summary": "Carriers"
    },
    "/v1/carriers/{carrier_id}": {
      "parameters": [
        {
          "description": "Carrier ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "carrier_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string",
          "x-example": "se-28529731"
        }
      ],
      "description": "Perform actions and get information on individual carriers connected with your account.",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_carrier_by_id_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carriers"
        ],
        "description": "Retrive carrier info by ID",
        "operationId": "get_carrier_by_id",
        "summary": "Get Carrier By ID"
      },
      "summary": "Individual carriers"
    },
    "/v1/carriers/{carrier_id}/add_funds": {
      "parameters": [
        {
          "description": "Carrier ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "carrier_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string",
          "x-example": "se-28529731"
        }
      ],
      "description": "All carriers require that funds to be attached to an account to ensure payment for the various services they provide to their customers.",
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/add_funds_to_carrier_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/add_funds_to_carrier_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carriers"
        ],
        "description": "Add Funds To A Carrier",
        "operationId": "add_funds_to_carrier",
        "summary": "Add Funds To Carrier"
      },
      "summary": "Carrier Funds"
    },
    "/v1/carriers/{carrier_id}/options": {
      "parameters": [
        {
          "description": "Carrier ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "carrier_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string",
          "x-example": "se-28529731"
        }
      ],
      "description": "Carriers support various options for particular shipments. Ex. (non-machinable, is_alcohol, fragile, etc)",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_carrier_options_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carriers"
        ],
        "description": "Get a list of the options available for the carrier",
        "operationId": "get_carrier_options",
        "summary": "Get Carrier Options"
      },
      "summary": "Carrier Options"
    },
    "/v1/carriers/{carrier_id}/packages": {
      "parameters": [
        {
          "description": "Carrier ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "carrier_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string",
          "x-example": "se-28529731"
        }
      ],
      "description": "Carriers support many different package types, Shipengine supports retrieving all available package so that\nyou can best determine what is right for your particular shipment.\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/list_carrier_package_types_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carriers"
        ],
        "description": "List the package types associated with the carrier",
        "operationId": "list_carrier_package_types",
        "summary": "List Carrier Package Types"
      },
      "summary": "Carrier Packages"
    },
    "/v1/carriers/{carrier_id}/services": {
      "parameters": [
        {
          "description": "Carrier ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "carrier_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string",
          "x-example": "se-28529731"
        }
      ],
      "description": "Carrier services usually refer to the various shipping options that a carrier provides to its customers.\nEx. Priority mail, overnight, international\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/list_carrier_services_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carriers"
        ],
        "description": "List the services associated with the carrier ID",
        "operationId": "list_carrier_services",
        "summary": "List Carrier Services"
      },
      "summary": "Carrier Services"
    },
    "/v1/connections/carriers/{carrier_name}": {
      "parameters": [
        {
          "description": "The carrier name, such as `stamps_com`, `ups`, `fedex`, or `dhl_express`.",
          "enum": [
            "access_worldwide",
            "amazon_buy_shipping",
            "apc",
            "asendia",
            "australia_post",
            "canada_post",
            "dhl_ecommerce",
            "dhl_express",
            "dhl_express_au",
            "dhl_express_ca",
            "dhl_express_uk",
            "dpd",
            "endicia",
            "fedex",
            "fedex_uk",
            "firstmile",
            "globegistics",
            "imex",
            "newgistics",
            "ontrac",
            "purolator_canada",
            "royal_mail",
            "rr_donnelley",
            "seko",
            "sendle",
            "stamps_com",
            "ups"
          ],
          "in": "path",
          "name": "carrier_name",
          "required": true,
          "type": "string",
          "x-example": "dhl_express"
        }
      ],
      "description": "Carrier connections",
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/connect_carrier_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/connect_carrier_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carrier_accounts"
        ],
        "description": "Connect a carrier account",
        "operationId": "connect_carrier",
        "summary": "Connect a carrier account"
      },
      "summary": "Carrier connections"
    },
    "/v1/connections/carriers/{carrier_name}/{carrier_id}": {
      "parameters": [
        {
          "description": "The carrier name, such as `stamps_com`, `ups`, `fedex`, or `dhl_express`.",
          "enum": [
            "access_worldwide",
            "amazon_buy_shipping",
            "apc",
            "asendia",
            "australia_post",
            "canada_post",
            "dhl_ecommerce",
            "dhl_express",
            "dhl_express_au",
            "dhl_express_ca",
            "dhl_express_uk",
            "dpd",
            "endicia",
            "fedex",
            "fedex_uk",
            "firstmile",
            "globegistics",
            "imex",
            "newgistics",
            "ontrac",
            "purolator_canada",
            "royal_mail",
            "rr_donnelley",
            "seko",
            "sendle",
            "stamps_com",
            "ups"
          ],
          "in": "path",
          "name": "carrier_name",
          "required": true,
          "type": "string",
          "x-example": "dhl_express"
        },
        {
          "description": "Carrier ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "carrier_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string",
          "x-example": "se-28529731"
        }
      ],
      "delete": {
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carrier_accounts"
        ],
        "description": "Disconnect a carrier",
        "operationId": "disconnect_carrier",
        "summary": "Disconnect a carrier"
      },
      "description": "Disconnect a carrier",
      "summary": "Disconnect a carrier"
    },
    "/v1/connections/carriers/{carrier_name}/{carrier_id}/settings": {
      "parameters": [
        {
          "description": "The carrier name, such as `stamps_com`, `ups`, `fedex`, or `dhl_express`.",
          "enum": [
            "dhl_express",
            "fedex",
            "newgistics",
            "ups"
          ],
          "in": "path",
          "name": "carrier_name",
          "required": true,
          "type": "string",
          "x-example": "dhl_express"
        },
        {
          "description": "Carrier ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "carrier_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string",
          "x-example": "se-28529731"
        }
      ],
      "description": "Carrier settings",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_carrier_settings_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carrier_accounts"
        ],
        "description": "Get carrier settings",
        "operationId": "get_carrier_settings",
        "summary": "Get carrier settings"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/update_carrier_settings_request_body"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "carrier_accounts"
        ],
        "description": "Update carrier settings",
        "operationId": "update_carrier_settings",
        "summary": "Update carrier settings"
      },
      "summary": "Carrier settings"
    },
    "/v1/connections/insurance/shipsurance": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success",
            "schema": {
              "$ref": "#/definitions/disconnect_insurer_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "insurance"
        ],
        "description": "Disconnect a Shipsurance Account",
        "operationId": "disconnect_insurer",
        "summary": "Disconnect a Shipsurance Account"
      },
      "description": "Shipsurance Connection",
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/connect_insurer_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success",
            "schema": {
              "$ref": "#/definitions/connect_insurer_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "insurance"
        ],
        "description": "Connect a Shipsurance Account",
        "operationId": "connect_insurer",
        "summary": "Connect a Shipsurance Account"
      },
      "summary": "Shipsurance Connection"
    },
    "/v1/downloads/{dir}/{subdir}/{filename}": {
      "parameters": [
        {
          "in": "path",
          "name": "subdir",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "filename",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "dir",
          "required": true,
          "type": "string"
        }
      ],
      "description": "This endpoint is used to download forms that are generated in the various pdf, png, zpl formats\nsuch as labels and batches\n",
      "get": {
        "produces": [
          "application/pdf",
          "application/zpl",
          "image/png",
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "download",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success",
            "schema": {
              "$ref": "#/definitions/download_file_pdf_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "downloads"
        ],
        "description": "Get File",
        "operationId": "download_file",
        "summary": "Download File"
      },
      "summary": "File Download"
    },
    "/v1/environment/webhooks": {
      "description": "ShipEngine exposes asynchronous operations for long running operations such as batch labels and rates.\nWebhooks allow the ShipEngine servers to contact your servers when an operation changes state, such as a batch label creation completion.\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/list_webhooks_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "webhooks"
        ],
        "description": "List all webhooks currently enabled for the account.",
        "operationId": "list_webhooks",
        "summary": "List Webhooks"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/create_webhook_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/create_webhook_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "409": {
            "description": "The request conflicts with an existing resource.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "webhooks"
        ],
        "description": "Create a webook for specific events in the environment.",
        "operationId": "create_webhook",
        "summary": "Create a Webhook"
      },
      "summary": "Webhooks"
    },
    "/v1/environment/webhooks/{webhook_id}": {
      "parameters": [
        {
          "description": "Webhook ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "webhook_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "webhooks"
        ],
        "description": "Delete a webhook",
        "operationId": "delete_webhook",
        "summary": "Delete Webhook By ID"
      },
      "description": "Retrieve, update, and delete information for individual webhooks",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_webhook_by_id_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "webhooks"
        ],
        "description": "Retrieve individual webhook by an ID",
        "operationId": "get_webhook_by_id",
        "summary": "Get Webhook By ID"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/update_webhook_request_body"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "webhooks"
        ],
        "description": "Update the webhook url property",
        "operationId": "update_webhook",
        "summary": "Update a Webhook"
      },
      "summary": "Webhook"
    },
    "/v1/insurance/shipsurance/add_funds": {
      "description": "[Shipsurance](https://www.shipsurance.com/) is a shipping insurance company offering coverage for shipments sent via the major shipping carriers worldwide.\n",
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/add_funds_to_insurance_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/add_funds_to_insurance_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "insurance"
        ],
        "description": "You may need to auto fund your account from time to time. For example, if you don't normally ship items over $100,\nand may want to add funds to insurance rather than keeping the account funded.\n",
        "operationId": "add_funds_to_insurance",
        "summary": "Add Funds To Insurance"
      },
      "summary": "Shipsurance"
    },
    "/v1/insurance/shipsurance/balance": {
      "description": "[Shipsurance](https://www.shipsurance.com/) is a shipping insurance company offering coverage for shipments sent via the major shipping carriers worldwide.\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_insurance_balance_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "insurance"
        ],
        "description": "Retrieve the balance of your Shipsurance account.",
        "operationId": "get_insurance_balance",
        "summary": "Get Insurance Funds Balance"
      },
      "summary": "Shipsurance"
    },
    "/v1/labels": {
      "description": "Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://www.shipengine.com/docs/carriers/setup/)\nin the API dashboard, and then [begin creating labels](https://www.shipengine.com/docs/shipping/use-a-carrier-service/).\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Only return labels that are currently in the specified status",
            "enum": [
              "processing",
              "completed",
              "error",
              "voided"
            ],
            "in": "query",
            "name": "label_status",
            "required": false,
            "type": "string"
          },
          {
            "description": "Only return labels for a specific [carrier service](https://www.shipengine.com/docs/shipping/use-a-carrier-service/)",
            "in": "query",
            "name": "service_code",
            "pattern": "^[a-z0-9]+(_[a-z0-9-]+)* ?$",
            "required": false,
            "type": "string",
            "x-example": "usps_first_class_mail"
          },
          {
            "description": "Only return labels for a specific [carrier account](https://www.shipengine.com/docs/carriers/setup/)",
            "in": "query",
            "maxLength": 25,
            "minLength": 1,
            "name": "carrier_id",
            "pattern": "^se(-[a-z0-9]+)+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Only return labels with a specific tracking number",
            "in": "query",
            "minLength": 1,
            "name": "tracking_number",
            "required": false,
            "type": "string",
            "x-example": 9.405511899223197e+21
          },
          {
            "description": "Only return labels that were created in a specific [batch](https://www.shipengine.com/docs/labels/bulk/)",
            "in": "query",
            "maxLength": 25,
            "minLength": 1,
            "name": "batch_id",
            "pattern": "^se(-[a-z0-9]+)+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Rate ID",
            "in": "query",
            "maxLength": 25,
            "minLength": 1,
            "name": "rate_id",
            "pattern": "^se(-[a-z0-9]+)+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Shipment ID",
            "in": "query",
            "maxLength": 25,
            "minLength": 1,
            "name": "shipment_id",
            "pattern": "^se(-[a-z0-9]+)+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Only return labels that originate from a specific [warehouse](https://www.shipengine.com/docs/shipping/ship-from-a-warehouse/)",
            "in": "query",
            "maxLength": 25,
            "minLength": 1,
            "name": "warehouse_id",
            "pattern": "^se(-[a-z0-9]+)+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Only return labels that were created on or after a specific date/time",
            "format": "date-time",
            "in": "query",
            "name": "created_at_start",
            "required": false,
            "type": "string",
            "x-example": "2019-03-12T19:24:13.657Z"
          },
          {
            "description": "Only return labels that were created on or before a specific date/time",
            "format": "date-time",
            "in": "query",
            "name": "created_at_end",
            "required": false,
            "type": "string",
            "x-example": "2019-03-12T19:24:13.657Z"
          },
          {
            "default": 1,
            "description": "Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.\n",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "required": false,
            "type": "integer",
            "x-example": 2
          },
          {
            "default": 25,
            "description": "The number of results to return per response.",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "page_size",
            "required": false,
            "type": "integer",
            "x-example": 50
          },
          {
            "default": "desc",
            "description": "Controls the sort order of the query.",
            "in": "query",
            "name": "sort_dir",
            "required": false
          },
          {
            "default": "created_at",
            "description": "Controls which field the query is sorted by.",
            "enum": [
              "modified_at",
              "created_at"
            ],
            "in": "query",
            "name": "sort_by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The response includes a `labels` array containing a page of results (as determined by the `page_size` query parameter).  It also includes other useful information, such as the total number of labels that match the query criteria, the number of pages of results, and the URLs of the first, last, next, and previous pages of results.\n",
            "schema": {
              "$ref": "#/definitions/list_labels_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "This endpoint returns a list of labels that you've [created](https://www.shipengine.com/docs/labels/create-a-label/). You can optionally filter the results as well as control their sort order and the number of results returned at a time.\n\nBy default, all labels are returned, 25 at a time, starting with the most recently created ones.  You can combine multiple filter options to narrow-down the results.  For example, if you only want to get your UPS labels for your east coast warehouse you could query by both `warehouse_id` and `carrier_id`\n",
        "operationId": "list_labels",
        "summary": "List labels"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/create_label_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "schema": {
              "$ref": "#/definitions/create_label_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "Purchase and print a label for shipment",
        "operationId": "create_label",
        "summary": "Purchase Label"
      },
      "summary": "Print shipping labels"
    },
    "/v1/labels/external_shipment_id/{external_shipment_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "external_shipment_id",
          "required": true,
          "type": "string",
          "x-example": "0bcb569d-1727-4ff9-ab49-b2fec0cee5ae"
        }
      ],
      "description": "Find a label using the external shipment id",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "There are two different ways to [download a label](https://www.shipengine.com/docs/labels/downloading/):\n\n|Label Download Type | Description\n|--------------------|------------------------------\n|`url`               |You will receive a URL, which you can use to download the label in a separate request. The URL will remain valid for 90 days.<br><br>This is the default if `label_download_type` is unspecified.\n|`inline`            |You will receive the Base64-encoded label as part of the response. No need for a second request to download the label.\n",
            "enum": [
              "url",
              "inline"
            ],
            "in": "query",
            "name": "label_download_type",
            "required": false,
            "type": "string",
            "x-example": "url"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "schema": {
              "$ref": "#/definitions/get_label_by_external_shipment_id_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "Find a label by using the external shipment id that was used during label creation\n",
        "operationId": "get_label_by_external_shipment_id",
        "summary": "Get Label By External Shipment ID"
      },
      "summary": "Get Label By External Shipment ID"
    },
    "/v1/labels/rates/{rate_id}": {
      "parameters": [
        {
          "description": "Rate ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "rate_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Purchase a label using a `rate_id` that has been previously generated while looking at various rates for a particular shipment.",
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/create_label_from_rate_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "schema": {
              "$ref": "#/definitions/create_label_from_rate_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "When retrieving rates for shipments using the `/rates` endpoint, the returned information contains a `rate_id` property that can be used\nto generate a label without having to refill in the shipment information repeatedly.\n",
        "operationId": "create_label_from_rate",
        "summary": "Purchase Label with Rate ID"
      },
      "summary": "Use a rate to purchase a label"
    },
    "/v1/labels/shipment/{shipment_id}": {
      "parameters": [
        {
          "description": "Shipment ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "shipment_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Purchase a label using a shipment ID that has already been created with the desired address and\npackage info.\n",
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/create_label_from_shipment_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "schema": {
              "$ref": "#/definitions/create_label_from_shipment_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "Purchase a label using a shipment ID that has already been created with the desired address and\npackage info.\n",
        "operationId": "create_label_from_shipment",
        "summary": "Purchase Label with Shipment ID"
      },
      "summary": "Purchase label using shipment ID"
    },
    "/v1/labels/{label_id}": {
      "parameters": [
        {
          "description": "Label ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "label_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Retrieve information for individual labels.",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "There are two different ways to [download a label](https://www.shipengine.com/docs/labels/downloading/):\n\n|Label Download Type | Description\n|--------------------|------------------------------\n|`url`               |You will receive a URL, which you can use to download the label in a separate request. The URL will remain valid for 90 days.<br><br>This is the default if `label_download_type` is unspecified.\n|`inline`            |You will receive the Base64-encoded label as part of the response. No need for a second request to download the label.\n",
            "enum": [
              "url",
              "inline"
            ],
            "in": "query",
            "name": "label_download_type",
            "required": false,
            "type": "string",
            "x-example": "url"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_label_by_id_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "Retrieve information for individual labels.",
        "operationId": "get_label_by_id",
        "summary": "Get Label By ID"
      },
      "summary": "Label"
    },
    "/v1/labels/{label_id}/return": {
      "parameters": [
        {
          "description": "Label ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "label_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/create_return_label_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/create_return_label_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "Create a return label",
        "operationId": "create_return_label",
        "summary": "Create a return label"
      },
      "summary": "Return labels"
    },
    "/v1/labels/{label_id}/track": {
      "parameters": [
        {
          "description": "Label ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "label_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Carriers will provide tracking information so the status of your shipment can be monitored",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_tracking_log_from_label_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "Retrieve the label's tracking information",
        "operationId": "get_tracking_log_from_label",
        "summary": "Get Label Tracking Information"
      },
      "summary": "Tracking a Label"
    },
    "/v1/labels/{label_id}/void": {
      "parameters": [
        {
          "description": "Label ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "label_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Some carriers charge for creating a label upon purchase vs upon use. The Shipengine API allows you\nto void a label to get a refund.\n",
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/void_label_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "labels"
        ],
        "description": "Void a label by ID to get a refund.",
        "operationId": "void_label",
        "summary": "Void a Label By ID"
      },
      "summary": "Label Voiding"
    },
    "/v1/manifests": {
      "description": "Many manifests are sent electronically to the carrier when you create a label, and\noften physical manifests are not necessary. Carriers receive the package details, shipping date,\nand other information that help them plan your package's delivery when you create a label.\n\nHowever, some providers, like USPS require manifests when shipping large numbers of packages. Think about how long it would take for a delivery driver to arrive, pick up 100 packages, and individually scan each of them.\n\nA manifest exists so the carrier can scan the manifest and check in all the packages being shipped.\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Warehouse ID",
            "in": "query",
            "maxLength": 25,
            "minLength": 1,
            "name": "warehouse_id",
            "pattern": "^se(-[a-z0-9]+)+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "ship date start range",
            "format": "date-time",
            "in": "query",
            "name": "ship_date_start",
            "required": false,
            "type": "string",
            "x-example": "2018-09-23T15:00:00.000Z"
          },
          {
            "description": "ship date end range",
            "format": "date-time",
            "in": "query",
            "name": "ship_date_end",
            "required": false,
            "type": "string",
            "x-example": "2018-09-23T15:00:00.000Z"
          },
          {
            "description": "Used to create a filter for when a resource was created (ex. A shipment that was created after a certain time)",
            "format": "date-time",
            "in": "query",
            "name": "created_at_start",
            "required": false,
            "type": "string",
            "x-example": "2019-03-12T19:24:13.657Z"
          },
          {
            "description": "Used to create a filter for when a resource was created, (ex. A shipment that was created before a certain time)",
            "format": "date-time",
            "in": "query",
            "name": "created_at_end",
            "required": false,
            "type": "string",
            "x-example": "2019-03-12T19:24:13.657Z"
          },
          {
            "description": "Carrier ID",
            "in": "query",
            "maxLength": 25,
            "minLength": 1,
            "name": "carrier_id",
            "pattern": "^se(-[a-z0-9]+)+$",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.\n",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "required": false,
            "type": "integer",
            "x-example": 2
          },
          {
            "default": 25,
            "description": "The number of results to return per response.",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "page_size",
            "required": false,
            "type": "integer",
            "x-example": 50
          },
          {
            "collectionFormat": "multi",
            "description": "Array of label ids",
            "in": "query",
            "items": {
              "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
              "example": "se-28529731",
              "maxLength": 25,
              "minLength": 1,
              "pattern": "^se(-[a-z0-9]+)+$",
              "title": "se_id",
              "type": "string"
            },
            "name": "label_ids",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/list_manifests_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "manifests"
        ],
        "description": "Similar to querying shipments, we allow you to query manifests since there will likely be a large number over a long period of time.",
        "operationId": "list_manifests",
        "summary": "List Manifests"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/create_manifest_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/create_manifest_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "manifests"
        ],
        "description": "Each ShipEngine manifest is created for a specific warehouse, so you'll need to provide the warehouse_id\nrather than the ship_from address. You can create a warehouse for each location that you want to create manifests for.\n",
        "operationId": "create_manifest",
        "summary": "Create Manifest"
      },
      "summary": "Manifests"
    },
    "/v1/manifests/{manifest_id}": {
      "parameters": [
        {
          "description": "The Manifest Id",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "manifest_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "description": "Manifest ID",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_manifest_by_id_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "manifests"
        ],
        "description": "Get Manifest By Id",
        "operationId": "get_manifest_by_id",
        "summary": "Get Manifest By Id"
      },
      "summary": "Manifest ID"
    },
    "/v1/packages": {
      "description": "Sometimes the default package types that carriers provide aren't enough and you need to create your own. That's where\nthe `/packages` endpoint becomes useful. Create, manage, and delete custom package types to suit your specific needs.\n",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/list_package_types_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "package_types"
        ],
        "description": "List the custom package types associated with the account",
        "operationId": "list_package_types",
        "summary": "List Custom Package Types"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/create_package_type_request_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/create_package_type_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "package_types"
        ],
        "description": "Create a custom package type to better assist in getting accurate rate estimates",
        "operationId": "create_package_type",
        "summary": "Create Custom Package Type"
      },
      "summary": "Packages"
    },
    "/v1/packages/{package_id}": {
      "parameters": [
        {
          "description": "Package ID",
          "in": "path",
          "maxLength": 25,
          "minLength": 1,
          "name": "package_id",
          "pattern": "^se(-[a-z0-9]+)+$",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "package_types"
        ],
        "description": "Delete a custom package using the ID",
        "operationId": "delete_package_type",
        "summary": "Delete A Custom Package By ID"
      },
      "description": "Create, edit, and delete individual custom packages.",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "schema": {
              "$ref": "#/definitions/get_package_type_by_id_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "package_types"
        ],
        "description": "Get Custom Package Type by ID",
        "operationId": "get_package_type_by_id",
        "summary": "Get Custom Package Type By ID"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/update_package_type_request_body"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/empty_response_body"
            }
          },
          "400": {
            "description": "The request contained errors.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "schema": {
              "$ref": "#/definitions/error_response_body"
            }
          }
        },
        "tags": [
          "package_types"
        ],
[...]
