{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>AWS Lambda</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Lambda API Reference</i>. The AWS Lambda Developer Guide provides additional information. For the service overview, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is AWS Lambda</a>, and for information about how the service works, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <b>AWS Lambda Developer Guide</b>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Lambda",
    "version": "2015-03-31",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/lambda-2015-03-31.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "lambda",
    "x-datafire": {
      "name": "amazonaws_lambda",
      "type": "openapi"
    }
  },
  "host": "lambda.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/2014-11-13/functions/{FunctionName}/invoke-async/": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 170,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_\\.]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "InvokeArgs": {
                  "description": "The JSON that you want to provide to your Lambda function as input.",
                  "type": "string"
                }
              },
              "required": [
                "InvokeArgs"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvokeAsyncResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidRequestContentException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestContentException"
            }
          },
          "483": {
            "description": "InvalidRuntimeException",
            "schema": {
              "$ref": "#/definitions/InvalidRuntimeException"
            }
          },
          "484": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          }
        },
        "deprecated": true,
        "description": "<important> <p>For asynchronous function invocation, use <a>Invoke</a>.</p> </important> <p>Invokes a function asynchronously.</p>",
        "operationId": "InvokeAsync"
      }
    },
    "/2015-03-31/event-source-mappings/": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The Amazon Resource Name (ARN) of the event source.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - The ARN of the data stream or a stream consumer.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - The ARN of the stream.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - The ARN of the queue.</p> </li> <li> <p> <b>Amazon Managed Streaming for Apache Kafka</b> - The ARN of the cluster.</p> </li> </ul>",
            "in": "query",
            "name": "EventSourceArn",
            "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64 characters in length.</p>",
            "in": "query",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": false,
            "type": "string"
          },
          {
            "description": "A pagination token returned by a previous call.",
            "in": "query",
            "name": "Marker",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of event source mappings to return.",
            "in": "query",
            "maximum": 10000,
            "minimum": 1,
            "name": "MaxItems",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListEventSourceMappingsResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Lists event source mappings. Specify an <code>EventSourceArn</code> to only show event source mappings for a single event source.",
        "operationId": "ListEventSourceMappings"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "BatchSize": {
                  "description": "<p>The maximum number of items to retrieve in a single batch.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - Default 100. Max 1,000.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - Default 10. For standard queues the max is 10,000. For FIFO queues the max is 10.</p> </li> <li> <p> <b>Amazon Managed Streaming for Apache Kafka</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Self-Managed Apache Kafka</b> - Default 100. Max 10,000.</p> </li> </ul>",
                  "maximum": 10000,
                  "minimum": 1,
                  "type": "integer"
                },
                "BisectBatchOnFunctionError": {
                  "description": "(Streams) If the function returns an error, split the batch in two and retry.",
                  "type": "boolean"
                },
                "DestinationConfig": {
                  "description": "A configuration object that specifies the destination of an event after Lambda processes it.",
                  "properties": {
                    "OnFailure": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/OnFailure"
                        },
                        {
                          "description": "The destination configuration for failed invocations."
                        }
                      ]
                    },
                    "OnSuccess": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/OnSuccess"
                        },
                        {
                          "description": "The destination configuration for successful invocations."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Enabled": {
                  "description": "If true, the event source mapping is active. Set to false to pause polling and invocation.",
                  "type": "boolean"
                },
                "EventSourceArn": {
                  "description": "<p>The Amazon Resource Name (ARN) of the event source.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - The ARN of the data stream or a stream consumer.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - The ARN of the stream.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - The ARN of the queue.</p> </li> <li> <p> <b>Amazon Managed Streaming for Apache Kafka</b> - The ARN of the cluster.</p> </li> </ul>",
                  "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
                  "type": "string"
                },
                "FunctionName": {
                  "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64 characters in length.</p>",
                  "maxLength": 140,
                  "minLength": 1,
                  "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                  "type": "string"
                },
                "FunctionResponseTypes": {
                  "description": "(Streams) A list of current response type enums applied to the event source mapping.",
                  "items": {
                    "$ref": "#/definitions/FunctionResponseType"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "MaximumBatchingWindowInSeconds": {
                  "description": "(Streams and SQS standard queues) The maximum amount of time to gather records before invoking the function, in seconds.",
                  "maximum": 300,
                  "minimum": 0,
                  "type": "integer"
                },
                "MaximumRecordAgeInSeconds": {
                  "description": "(Streams) Discard records older than the specified age. The default value is infinite (-1).",
                  "maximum": 604800,
                  "minimum": -1,
                  "type": "integer"
                },
                "MaximumRetryAttempts": {
                  "description": "(Streams) Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records will be retried until the record expires.",
                  "maximum": 10000,
                  "minimum": -1,
                  "type": "integer"
                },
                "ParallelizationFactor": {
                  "description": "(Streams) The number of batches to process from each shard concurrently.",
                  "maximum": 10,
                  "minimum": 1,
                  "type": "integer"
                },
                "Queues": {
                  "description": " (MQ) The name of the Amazon MQ broker destination queue to consume. ",
                  "items": {
                    "$ref": "#/definitions/Queue"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "SelfManagedEventSource": {
                  "description": "The Self-Managed Apache Kafka cluster for your event source.",
                  "properties": {
                    "Endpoints": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Endpoints"
                        },
                        {
                          "description": "The list of bootstrap servers for your Kafka brokers in the following format: <code>\"KAFKA_BOOTSTRAP_SERVERS\": [\"abc.xyz.com:xxxx\",\"abc2.xyz.com:xxxx\"]</code>."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "SourceAccessConfigurations": {
                  "description": "An array of the authentication protocol, or the VPC components to secure your event source.",
                  "items": {
                    "$ref": "#/definitions/SourceAccessConfiguration"
                  },
                  "maxItems": 22,
                  "minItems": 1,
                  "type": "array"
                },
                "StartingPosition": {
                  "description": "The position in a stream from which to start reading. Required for Amazon Kinesis, Amazon DynamoDB, and Amazon MSK Streams sources. <code>AT_TIMESTAMP</code> is only supported for Amazon Kinesis streams.",
                  "enum": [
                    "TRIM_HORIZON",
                    "LATEST",
                    "AT_TIMESTAMP"
                  ],
                  "type": "string"
                },
                "StartingPositionTimestamp": {
                  "description": "With <code>StartingPosition</code> set to <code>AT_TIMESTAMP</code>, the time from which to start reading.",
                  "format": "date-time",
                  "type": "string"
                },
                "Topics": {
                  "description": "The name of the Kafka topic.",
                  "items": {
                    "$ref": "#/definitions/Topic"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "TumblingWindowInSeconds": {
                  "description": "(Streams) The duration of a processing window in seconds. The range is between 1 second up to 15 minutes.",
                  "maximum": 900,
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "required": [
                "FunctionName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSourceMappingConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "<p>Creates a mapping between an event source and an AWS Lambda function. Lambda reads items from the event source and triggers the function.</p> <p>For details about each event source type, see the following topics.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html\">Using AWS Lambda with Amazon DynamoDB</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html\">Using AWS Lambda with Amazon Kinesis</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html\">Using AWS Lambda with Amazon SQS</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-mq.html\">Using AWS Lambda with Amazon MQ</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html\">Using AWS Lambda with Amazon MSK</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/kafka-smaa.html\">Using AWS Lambda with Self-Managed Apache Kafka</a> </p> </li> </ul> <p>The following error handling options are only available for stream sources (DynamoDB and Kinesis):</p> <ul> <li> <p> <code>BisectBatchOnFunctionError</code> - If the function returns an error, split the batch in two and retry.</p> </li> <li> <p> <code>DestinationConfig</code> - Send discarded records to an Amazon SQS queue or Amazon SNS topic.</p> </li> <li> <p> <code>MaximumRecordAgeInSeconds</code> - Discard records older than the specified age. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires</p> </li> <li> <p> <code>MaximumRetryAttempts</code> - Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires.</p> </li> <li> <p> <code>ParallelizationFactor</code> - Process multiple batches from each shard concurrently.</p> </li> </ul>",
        "operationId": "CreateEventSourceMapping"
      }
    },
    "/2015-03-31/event-source-mappings/{UUID}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the event source mapping.",
            "in": "path",
            "name": "UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSourceMappingConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "484": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "<p>Deletes an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-invocation-modes.html\">event source mapping</a>. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p> <p>When you delete an event source mapping, it enters a <code>Deleting</code> state and might not be completely deleted for several seconds.</p>",
        "operationId": "DeleteEventSourceMapping"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the event source mapping.",
            "in": "path",
            "name": "UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSourceMappingConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Returns details about an event source mapping. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.",
        "operationId": "GetEventSourceMapping"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the event source mapping.",
            "in": "path",
            "name": "UUID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "BatchSize": {
                  "description": "<p>The maximum number of items to retrieve in a single batch.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - Default 100. Max 1,000.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - Default 10. For standard queues the max is 10,000. For FIFO queues the max is 10.</p> </li> <li> <p> <b>Amazon Managed Streaming for Apache Kafka</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Self-Managed Apache Kafka</b> - Default 100. Max 10,000.</p> </li> </ul>",
                  "maximum": 10000,
                  "minimum": 1,
                  "type": "integer"
                },
                "BisectBatchOnFunctionError": {
                  "description": "(Streams) If the function returns an error, split the batch in two and retry.",
                  "type": "boolean"
                },
                "DestinationConfig": {
                  "description": "A configuration object that specifies the destination of an event after Lambda processes it.",
                  "properties": {
                    "OnFailure": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/OnFailure"
                        },
                        {
                          "description": "The destination configuration for failed invocations."
                        }
                      ]
                    },
                    "OnSuccess": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/OnSuccess"
                        },
                        {
                          "description": "The destination configuration for successful invocations."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Enabled": {
                  "description": "If true, the event source mapping is active. Set to false to pause polling and invocation.",
                  "type": "boolean"
                },
                "FunctionName": {
                  "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64 characters in length.</p>",
                  "maxLength": 140,
                  "minLength": 1,
                  "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                  "type": "string"
                },
                "FunctionResponseTypes": {
                  "description": "(Streams) A list of current response type enums applied to the event source mapping.",
                  "items": {
                    "$ref": "#/definitions/FunctionResponseType"
                  },
                  "maxItems": 1,
                  "minItems": 1,
                  "type": "array"
                },
                "MaximumBatchingWindowInSeconds": {
                  "description": "(Streams and SQS standard queues) The maximum amount of time to gather records before invoking the function, in seconds.",
                  "maximum": 300,
                  "minimum": 0,
                  "type": "integer"
                },
                "MaximumRecordAgeInSeconds": {
                  "description": "(Streams) Discard records older than the specified age. The default value is infinite (-1).",
                  "maximum": 604800,
                  "minimum": -1,
                  "type": "integer"
                },
                "MaximumRetryAttempts": {
                  "description": "(Streams) Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records will be retried until the record expires.",
                  "maximum": 10000,
                  "minimum": -1,
                  "type": "integer"
                },
                "ParallelizationFactor": {
                  "description": "(Streams) The number of batches to process from each shard concurrently.",
                  "maximum": 10,
                  "minimum": 1,
                  "type": "integer"
                },
                "SourceAccessConfigurations": {
                  "description": "An array of the authentication protocol, or the VPC components to secure your event source.",
                  "items": {
                    "$ref": "#/definitions/SourceAccessConfiguration"
                  },
                  "maxItems": 22,
                  "minItems": 1,
                  "type": "array"
                },
                "TumblingWindowInSeconds": {
                  "description": "(Streams) The duration of a processing window in seconds. The range is between 1 second up to 15 minutes.",
                  "maximum": 900,
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSourceMappingConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "484": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "485": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "<p>Updates an event source mapping. You can change the function that AWS Lambda invokes, or pause invocation and resume later from the same location.</p> <p>The following error handling options are only available for stream sources (DynamoDB and Kinesis):</p> <ul> <li> <p> <code>BisectBatchOnFunctionError</code> - If the function returns an error, split the batch in two and retry.</p> </li> <li> <p> <code>DestinationConfig</code> - Send discarded records to an Amazon SQS queue or Amazon SNS topic.</p> </li> <li> <p> <code>MaximumRecordAgeInSeconds</code> - Discard records older than the specified age. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires</p> </li> <li> <p> <code>MaximumRetryAttempts</code> - Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires.</p> </li> <li> <p> <code>ParallelizationFactor</code> - Process multiple batches from each shard concurrently.</p> </li> </ul>",
        "operationId": "UpdateEventSourceMapping"
      }
    },
    "/2015-03-31/functions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Code": {
                  "description": "The code for the Lambda function. You can specify either an object in Amazon S3, upload a .zip file archive deployment package directly, or specify the URI of a container image.",
                  "properties": {
                    "ImageUri": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/String"
                        },
                        {
                          "description": "URI of a container image in the Amazon ECR registry."
                        }
                      ]
                    },
                    "S3Bucket": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Bucket"
                        },
                        {
                          "description": "An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account."
                        }
                      ]
                    },
                    "S3Key": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Key"
                        },
                        {
                          "description": "The Amazon S3 key of the deployment package."
                        }
                      ]
                    },
                    "S3ObjectVersion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3ObjectVersion"
                        },
                        {
                          "description": "For versioned objects, the version of the deployment package object to use."
                        }
                      ]
                    },
                    "ZipFile": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Blob"
                        },
                        {
                          "description": "The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for you."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "CodeSigningConfigArn": {
                  "description": "To enable code signing for this function, specify the ARN of a code-signing configuration. A code-signing configuration includes a set of signing profiles, which define the trusted publishers for this function.",
                  "maxLength": 200,
                  "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:code-signing-config:csc-[a-z0-9]{17}",
                  "type": "string"
                },
                "DeadLetterConfig": {
                  "description": "The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">dead-letter queue</a> for failed asynchronous invocations.",
                  "properties": {
                    "TargetArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ResourceArn"
                        },
                        {
                          "description": "The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Description": {
                  "description": "A description of the function.",
                  "maxLength": 256,
                  "minLength": 0,
                  "type": "string"
                },
                "Environment": {
                  "description": "A function's environment variable settings.",
                  "properties": {
                    "Variables": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnvironmentVariables"
                        },
                        {
                          "description": "Environment variable key-value pairs."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "FileSystemConfigs": {
                  "description": "Connection settings for an Amazon EFS file system.",
                  "items": {
                    "$ref": "#/definitions/FileSystemConfig"
                  },
                  "maxItems": 1,
                  "type": "array"
                },
                "FunctionName": {
                  "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                  "maxLength": 140,
                  "minLength": 1,
                  "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                  "type": "string"
                },
                "Handler": {
                  "description": "The name of the method within your code that Lambda calls to execute your function. The format includes the file name. It can also include namespaces and other qualifiers, depending on the runtime. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/programming-model-v2.html\">Programming Model</a>.",
                  "maxLength": 128,
                  "pattern": "[^\\s]+",
                  "type": "string"
                },
                "ImageConfig": {
                  "description": "Configuration values that override the container image Dockerfile settings. See <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/images-parms.html\">Container settings</a>. ",
                  "properties": {
                    "Command": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringList"
                        },
                        {
                          "description": "Specifies parameters that you want to pass in with ENTRYPOINT. "
                        }
                      ]
                    },
                    "EntryPoint": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringList"
                        },
                        {
                          "description": "Specifies the entry point to their application, which is typically the location of the runtime executable."
                        }
                      ]
                    },
                    "WorkingDirectory": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/WorkingDirectory"
                        },
                        {
                          "description": "Specifies the working directory."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "KMSKeyArn": {
                  "description": "The ARN of the AWS Key Management Service (AWS KMS) key that's used to encrypt your function's environment variables. If it's not provided, AWS Lambda uses a default service key.",
                  "pattern": "(arn:(aws[a-zA-Z-]*)?:[a-z0-9-.]+:.*)|()",
                  "type": "string"
                },
                "Layers": {
                  "description": "A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">function layers</a> to add to the function's execution environment. Specify each layer by its ARN, including the version.",
                  "items": {
                    "$ref": "#/definitions/LayerVersionArn"
                  },
                  "type": "array"
                },
                "MemorySize": {
                  "description": "The amount of memory available to the function at runtime. Increasing the function's memory also increases its CPU allocation. The default value is 128 MB. The value can be any multiple of 1 MB.",
                  "maximum": 10240,
                  "minimum": 128,
                  "type": "integer"
                },
                "PackageType": {
                  "description": "The type of deployment package. Set to <code>Image</code> for container image and set <code>Zip</code> for ZIP archive.",
                  "enum": [
                    "Zip",
                    "Image"
                  ],
                  "type": "string"
                },
                "Publish": {
                  "description": "Set to true to publish the first version of the function during creation.",
                  "type": "boolean"
                },
                "Role": {
                  "description": "The Amazon Resource Name (ARN) of the function's execution role.",
                  "pattern": "arn:(aws[a-zA-Z-]*)?:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                  "type": "string"
                },
                "Runtime": {
                  "description": "The identifier of the function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime</a>.",
                  "enum": [
                    "nodejs",
                    "nodejs4.3",
                    "nodejs6.10",
                    "nodejs8.10",
                    "nodejs10.x",
                    "nodejs12.x",
                    "java8",
                    "java8.al2",
                    "java11",
                    "python2.7",
                    "python3.6",
                    "python3.7",
                    "python3.8",
                    "dotnetcore1.0",
                    "dotnetcore2.0",
                    "dotnetcore2.1",
                    "dotnetcore3.1",
                    "nodejs4.3-edge",
                    "go1.x",
                    "ruby2.5",
                    "ruby2.7",
                    "provided",
                    "provided.al2"
                  ],
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> to apply to the function.",
                  "type": "object"
                },
                "Timeout": {
                  "description": "The amount of time that Lambda allows a function to run before stopping it. The default is 3 seconds. The maximum allowed value is 900 seconds.",
                  "minimum": 1,
                  "type": "integer"
                },
                "TracingConfig": {
                  "description": "The function's AWS X-Ray tracing configuration. To sample and record incoming requests, set <code>Mode</code> to <code>Active</code>.",
                  "properties": {
                    "Mode": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TracingMode"
                        },
                        {
                          "description": "The tracing mode."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "VpcConfig": {
                  "description": "The VPC security groups and subnets that are attached to a Lambda function. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-vpc.html\">VPC Settings</a>.",
                  "properties": {
                    "SecurityGroupIds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SecurityGroupIds"
                        },
                        {
                          "description": "A list of VPC security groups IDs."
                        }
                      ]
                    },
                    "SubnetIds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SubnetIds"
                        },
                        {
                          "description": "A list of VPC subnet IDs."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "FunctionName",
                "Role",
                "Code"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "485": {
            "description": "CodeStorageExceededException",
            "schema": {
              "$ref": "#/definitions/CodeStorageExceededException"
            }
          },
          "486": {
            "description": "CodeVerificationFailedException",
            "schema": {
              "$ref": "#/definitions/CodeVerificationFailedException"
            }
          },
          "487": {
            "description": "InvalidCodeSignatureException",
            "schema": {
              "$ref": "#/definitions/InvalidCodeSignatureException"
            }
          },
          "488": {
            "description": "CodeSigningConfigNotFoundException",
            "schema": {
              "$ref": "#/definitions/CodeSigningConfigNotFoundException"
            }
          }
        },
        "description": "<p>Creates a Lambda function. To create a function, you need a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-package.html\">deployment package</a> and an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role\">execution role</a>. The deployment package is a .zip file archive or container image that contains your function code. The execution role grants the function permission to use AWS services, such as Amazon CloudWatch Logs for log streaming and AWS X-Ray for request tracing.</p> <p>When you create a function, Lambda provisions an instance of the function and its supporting resources. If your function connects to a VPC, this process can take a minute or so. During this time, you can't invoke or modify the function. The <code>State</code>, <code>StateReason</code>, and <code>StateReasonCode</code> fields in the response from <a>GetFunctionConfiguration</a> indicate when the function is ready to invoke. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/functions-states.html\">Function States</a>.</p> <p>A function has an unpublished version, and can have published versions and aliases. The unpublished version changes when you update your function's code and configuration. A published version is a snapshot of your function code and configuration that can't be changed. An alias is a named resource that maps to a version, and can be changed to map to a different version. Use the <code>Publish</code> parameter to create version <code>1</code> of your function from its initial configuration.</p> <p>The other parameters let you configure version-specific and function-level settings. You can modify version-specific settings later with <a>UpdateFunctionConfiguration</a>. Function-level settings apply to both the unpublished and published versions of the function, and include tags (<a>TagResource</a>) and per-function concurrency limits (<a>PutFunctionConcurrency</a>).</p> <p>You can use code signing if your deployment package is a .zip file archive. To enable code signing for this function, specify the ARN of a code-signing configuration. When a user attempts to deploy a code package with <a>UpdateFunctionCode</a>, Lambda checks that the code package has a valid signature from a trusted publisher. The code-signing configuration includes set set of signing profiles, which define the trusted publishers for this function.</p> <p>If another account or an AWS service invokes your function, use <a>AddPermission</a> to grant permission by creating a resource-based IAM policy. You can grant permissions at the function level, on a version, or on an alias.</p> <p>To invoke your function directly, use <a>Invoke</a>. To invoke your function in response to events in other AWS services, create an event source mapping (<a>CreateEventSourceMapping</a>), or configure a function trigger in the other service. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-invocation.html\">Invoking Functions</a>.</p>",
        "operationId": "CreateFunction"
      }
    },
    "/2015-03-31/functions/": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "For Lambda@Edge functions, the AWS Region of the master function. For example, <code>us-east-1</code> filters the list of functions to only include Lambda@Edge functions replicated from a master function in US East (N. Virginia). If specified, you must set <code>FunctionVersion</code> to <code>ALL</code>.",
            "in": "query",
            "name": "MasterRegion",
            "pattern": "ALL|[a-z]{2}(-gov)?-[a-z]+-\\d{1}",
            "required": false,
            "type": "string"
          },
          {
            "description": "Set to <code>ALL</code> to include entries for all published versions of each function.",
            "enum": [
              "ALL"
            ],
            "in": "query",
            "name": "FunctionVersion",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specify the pagination token that's returned by a previous request to retrieve the next page of results.",
            "in": "query",
            "name": "Marker",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of functions to return.",
            "in": "query",
            "maximum": 10000,
            "minimum": 1,
            "name": "MaxItems",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListFunctionsResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "description": "<p>Returns a list of Lambda functions, with the version-specific configuration of each. Lambda returns up to 50 functions per call.</p> <p>Set <code>FunctionVersion</code> to <code>ALL</code> to include all published versions of each function in addition to the unpublished version. To get more information about a function or version, use <a>GetFunction</a>.</p>",
        "operationId": "ListFunctions"
      }
    },
    "/2015-03-31/functions/{FunctionName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function or version.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:1</code> (with version).</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specify a version to delete. You can't delete a version that's referenced by an alias.",
            "in": "query",
            "maxLength": 128,
            "minLength": 1,
            "name": "Qualifier",
            "pattern": "(|[a-zA-Z0-9$_-]+)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          }
        },
        "description": "<p>Deletes a Lambda function. To delete a specific function version, use the <code>Qualifier</code> parameter. Otherwise, all versions and aliases are deleted.</p> <p>To delete Lambda event source mappings that invoke a function, use <a>DeleteEventSourceMapping</a>. For AWS services and resources that invoke your function directly, delete the trigger in the service where you originally configured it.</p>",
        "operationId": "DeleteFunction"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function, version, or alias.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 170,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_\\.]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specify a version or alias to get details about a published version of the function.",
            "in": "query",
            "maxLength": 128,
            "minLength": 1,
            "name": "Qualifier",
            "pattern": "(|[a-zA-Z0-9$_-]+)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetFunctionResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "description": "Returns information about the function or function version, with a link to download the deployment package that's valid for 10 minutes. If you specify a function version, only details that are specific to that version are returned.",
        "operationId": "GetFunction"
      }
    },
    "/2015-03-31/functions/{FunctionName}/aliases": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specify a function version to only list aliases that invoke that version.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 1,
            "name": "FunctionVersion",
            "pattern": "(\\$LATEST|[0-9]+)",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specify the pagination token that's returned by a previous request to retrieve the next page of results.",
            "in": "query",
            "name": "Marker",
            "required": false,
            "type": "string"
          },
          {
            "description": "Limit the number of aliases returned.",
            "in": "query",
            "maximum": 10000,
            "minimum": 1,
            "name": "MaxItems",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAliasesResponse"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Returns a list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">aliases</a> for a Lambda function.",
        "operationId": "ListAliases"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Description": {
                  "description": "A description of the alias.",
                  "maxLength": 256,
                  "minLength": 0,
                  "type": "string"
                },
                "FunctionVersion": {
                  "description": "The function version that the alias invokes.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "(\\$LATEST|[0-9]+)",
                  "type": "string"
                },
                "Name": {
                  "description": "The name of the alias.",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_]+)",
                  "type": "string"
                },
                "RoutingConfig": {
                  "description": "The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">traffic-shifting</a> configuration of a Lambda function alias.",
                  "properties": {
                    "AdditionalVersionWeights": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdditionalVersionWeights"
                        },
                        {
                          "description": "The second version, and the percentage of traffic that's routed to it."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "Name",
                "FunctionVersion"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AliasConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a> for a Lambda function version. Use aliases to provide clients with a function identifier that you can update to invoke a different version.</p> <p>You can also map an alias to split invocation requests between two versions. Use the <code>RoutingConfig</code> parameter to specify a second version and the percentage of invocation requests that it receives.</p>",
        "operationId": "CreateAlias"
      }
    },
    "/2015-03-31/functions/{FunctionName}/aliases/{Name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the alias.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "Name",
            "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_]+)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.",
        "operationId": "DeleteAlias"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the alias.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "Name",
            "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_]+)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AliasConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Returns details about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.",
        "operationId": "GetAlias"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the alias.",
            "in": "path",
            "maxLength": 128,
            "minLength": 1,
            "name": "Name",
            "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_]+)",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Description": {
                  "description": "A description of the alias.",
                  "maxLength": 256,
                  "minLength": 0,
                  "type": "string"
                },
                "FunctionVersion": {
                  "description": "The function version that the alias invokes.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "(\\$LATEST|[0-9]+)",
                  "type": "string"
                },
                "RevisionId": {
                  "description": "Only update the alias if the revision ID matches the ID that's specified. Use this option to avoid modifying an alias that has changed since you last read it.",
                  "type": "string"
                },
                "RoutingConfig": {
                  "description": "The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">traffic-shifting</a> configuration of a Lambda function alias.",
                  "properties": {
                    "AdditionalVersionWeights": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdditionalVersionWeights"
                        },
                        {
                          "description": "The second version, and the percentage of traffic that's routed to it."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AliasConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "484": {
            "description": "PreconditionFailedException",
            "schema": {
              "$ref": "#/definitions/PreconditionFailedException"
            }
          },
          "485": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          }
        },
        "description": "Updates the configuration of a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.",
        "operationId": "UpdateAlias"
      }
    },
    "/2015-03-31/functions/{FunctionName}/code": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DryRun": {
                  "description": "Set to true to validate the request parameters and access permissions without modifying the function code.",
                  "type": "boolean"
                },
                "ImageUri": {
                  "description": "URI of a container image in the Amazon ECR registry.",
                  "type": "string"
                },
                "Publish": {
                  "description": "Set to true to publish a new version of the function after updating the code. This has the same effect as calling <a>PublishVersion</a> separately.",
                  "type": "boolean"
                },
                "RevisionId": {
                  "description": "Only update the function if the revision ID matches the ID that's specified. Use this option to avoid modifying a function that has changed since you last read it.",
                  "type": "string"
                },
                "S3Bucket": {
                  "description": "An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account.",
                  "maxLength": 63,
                  "minLength": 3,
                  "pattern": "^[0-9A-Za-z\\.\\-_]*(?<!\\.)$",
                  "type": "string"
                },
                "S3Key": {
                  "description": "The Amazon S3 key of the deployment package.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "S3ObjectVersion": {
                  "description": "For versioned objects, the version of the deployment package object to use.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string"
                },
                "ZipFile": {
                  "description": "The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for you.",
                  "format": "password",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "484": {
            "description": "CodeStorageExceededException",
            "schema": {
              "$ref": "#/definitions/CodeStorageExceededException"
            }
          },
          "485": {
            "description": "PreconditionFailedException",
            "schema": {
              "$ref": "#/definitions/PreconditionFailedException"
            }
          },
          "486": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "487": {
            "description": "CodeVerificationFailedException",
            "schema": {
              "$ref": "#/definitions/CodeVerificationFailedException"
            }
          },
          "488": {
            "description": "InvalidCodeSignatureException",
            "schema": {
              "$ref": "#/definitions/InvalidCodeSignatureException"
            }
          },
          "489": {
            "description": "CodeSigningConfigNotFoundException",
            "schema": {
              "$ref": "#/definitions/CodeSigningConfigNotFoundException"
            }
          }
        },
        "description": "<p>Updates a Lambda function's code. If code signing is enabled for the function, the code package must be signed by a trusted publisher. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-trustedcode.html\">Configuring code signing</a>.</p> <p>The function's code is locked when you publish a version. You can't modify the code of a published version, only the unpublished version.</p> <note> <p>For a function defined as a container image, Lambda resolves the image tag to an image digest. In Amazon ECR, if you update the image tag to a new image, Lambda does not automatically update the function.</p> </note>",
        "operationId": "UpdateFunctionCode"
      }
    },
    "/2015-03-31/functions/{FunctionName}/configuration": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function, version, or alias.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 170,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_\\.]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specify a version or alias to get details about a published version of the function.",
            "in": "query",
            "maxLength": 128,
            "minLength": 1,
            "name": "Qualifier",
            "pattern": "(|[a-zA-Z0-9$_-]+)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionConfiguration"
            }
          },
          "480": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "description": "<p>Returns the version-specific settings of a Lambda function or version. The output includes only options that can vary between versions of a function. To modify these settings, use <a>UpdateFunctionConfiguration</a>.</p> <p>To get all of a function's details, including function-level settings, use <a>GetFunction</a>.</p>",
        "operationId": "GetFunctionConfiguration"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
            "in": "path",
            "maxLength": 140,
            "minLength": 1,
            "name": "FunctionName",
            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DeadLetterConfig": {
                  "description": "The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">dead-letter queue</a> for failed asynchronous invocations.",
                  "properties": {
                    "TargetArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ResourceArn"
                        },
                        {
                          "description": "The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Description": {
                  "description": "A description of the function.",
                  "maxLength": 256,
                  "minLength": 0,
                  "type": "string"
                },
                "Environment": {
                  "description": "A function's environment variable settings.",
                  "properties": {
                    "Variables": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/EnvironmentVariables"
                        },
                        {
                          "description": "Environment variable key-value pairs."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "FileSystemConfigs": {
                  "description": "Connection settings for an Amazon EFS file system.",
                  "items": {
[...]
