{
  "swagger": "2.0",
  "info": {
    "contact": {
      "url": "http://www.tvmaze.com"
    },
    "description": "Access to the user API is only possible for users with a [premium](http://www.tvmaze.com/premium) account. A user can only access their own user data.\n\nAuthentication uses HTTP Basic. Use the TVmaze username as authentication username, and the TVmaze API key as authentication password. Your API key can be found on your [dashboard](http://www.tvmaze.com/dashboard). To try out these API calls from this page, click the \"Authorize\" button on top and input your credentials.\n",
    "title": "TVmaze user API",
    "version": "1.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_tvmaze_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "http://static.tvmaze.com/apidoc/v1.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "tvmaze.com",
    "x-datafire": {
      "name": "tvmaze",
      "type": "openapi"
    }
  },
  "host": "api.tvmaze.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/auth/poll": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "token": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user confirmed the authentication request",
            "schema": {
              "properties": {
                "apikey": {
                  "description": "The user's API key",
                  "type": "string"
                },
                "username": {
                  "description": "The user's username",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "403": {
            "description": "The authentication request was not confirmed yet"
          },
          "404": {
            "description": "The authentication request was not found"
          },
          "429": {
            "description": "You are polling too quickly, please back off"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "Using the token acquired in the `start` endpoint, you can start polling this endpoint once every 10 seconds.\n\nWhen the user has confirmed the authentication request on their end, this endpoint will return the user's API key that you can use in subsequent authenticated endpoints. Note that it'll do so only once, subsequent requests after the initial 200 response will return a 404.\n\nFor as long as the user did not yet confirm their authentication request, this endpoint will return a 403.\n",
        "summary": "Poll whether an authentication request was confirmed"
      }
    },
    "/auth/start": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "email": {
                  "description": "The user's email address",
                  "type": "string"
                },
                "email_confirmation": {
                  "default": true,
                  "description": "Whether to email the user a confirmation link",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The authentication request was succesfully started",
            "schema": {
              "properties": {
                "confirm_url": {
                  "description": "URL where the user can confirm the authentication request",
                  "type": "string"
                },
                "token": {
                  "description": "Authentication token to use in the `poll` endpoint",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "The email address was found, but not confirmed"
          },
          "404": {
            "description": "The email address was not found"
          },
          "429": {
            "description": "You are starting authentication requests too quickly, please back off"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "If you want to access the TVmaze API on behalf of a user without querying them for their password, use this endpoint.\n\nTo get started, send a POST request containing the user's email address. The response will contain a `token`, which you can use as input to the `poll` endpoint. The user will receive an email prompting them to confirm the authentication request.\n\nAlternatively, if you expect the user to be logged in to TVmaze on the device they are currently interacting with, you can set `email_confirmation` to false and redirect them to the `confirm_url` URL. If they are logged in to TVmaze, they will be able to confirm the authentication request instantly.\n",
        "summary": "Start an authentication request"
      }
    },
    "/auth/validate": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The supplied credentials are valid",
            "schema": {
              "properties": {
                "premium": {
                  "description": "The user's premium level; 1 for Bronze, 2 for Silver, 3 for Gold; or 0 for none",
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "The supplied credentials are not valid"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "If the credentials supplied as HTTP basic are valid, the user's level of premium - if any - is returned.",
        "summary": "Validate your authentication credentials"
      }
    },
    "/scrobble/episodes": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "items": {
                "properties": {
                  "episode_id": {
                    "description": "The TVmaze episode ID",
                    "type": "integer"
                  },
                  "marked_at": {
                    "description": "Epoch timestamp for when the user watched the episode, or 0 for unknown.",
                    "type": "integer"
                  },
                  "type": {
                    "$ref": "#/definitions/MarkType"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All episodes were succesfully marked",
            "schema": {
              "$ref": "#/definitions/BulkResponse"
            }
          },
          "207": {
            "description": "Some episodes were succesfully marked, but there are errors",
            "schema": {
              "$ref": "#/definitions/BulkResponse"
            }
          },
          "422": {
            "description": "None of the episodes were succesfully marked",
            "schema": {
              "$ref": "#/definitions/BulkResponse"
            }
          }
        },
        "tags": [
          "scrobbling"
        ],
        "description": "This endpoint can be used by all users, even without premium",
        "summary": "Mark episodes as acquired or watched based on their IDs"
      }
    },
    "/scrobble/episodes/{episode_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "episode_id",
          "required": true,
          "type": "integer"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MarkedEpisode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "this episode is now marked",
            "schema": {
              "$ref": "#/definitions/MarkedEpisode"
            }
          },
          "404": {
            "description": "this episode does not exist"
          },
          "422": {
            "description": "invalid input data"
          }
        },
        "tags": [
          "scrobbling"
        ],
        "description": "This endpoint can be used by all users, even without premium",
        "summary": "Mark an episode as acquired or watched based on its ID"
      }
    },
    "/scrobble/shows": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The show's TVmaze ID",
            "in": "query",
            "name": "tvmaze_id",
            "type": "integer"
          },
          {
            "description": "The show's TheTVDB ID",
            "in": "query",
            "name": "thetvdb_id",
            "type": "integer"
          },
          {
            "description": "The show's IMDB ID",
            "in": "query",
            "name": "imdb_id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "items": {
                "properties": {
                  "airdate": {
                    "description": "The episode airdate",
                    "format": "date",
                    "type": "string"
                  },
                  "episode": {
                    "description": "The episode number",
                    "type": "integer"
                  },
                  "marked_at": {
                    "description": "Epoch timestamp for when the user watched the episode, or 0 for unknown.",
                    "type": "integer"
                  },
                  "season": {
                    "description": "The season number",
                    "type": "integer"
                  },
                  "type": {
                    "$ref": "#/definitions/MarkType"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All episodes were succesfully marked",
            "schema": {
              "$ref": "#/definitions/BulkResponse"
            }
          },
          "207": {
            "description": "Some episodes were succesfully marked, but there are errors",
            "schema": {
              "$ref": "#/definitions/BulkResponse"
            }
          },
          "422": {
            "description": "None of the episodes were succesfully marked",
            "schema": {
              "$ref": "#/definitions/BulkResponse"
            }
          }
        },
        "tags": [
          "scrobbling"
        ],
        "description": "To specify a show, supply either `tvmaze_id`, `thetvdb_id` or `imdb_id`. To specify an episode, supply either both `season` and `episode`, or `airdate`.\n\nThis endpoint can be used by all users, even without premium.\n",
        "summary": "Mark episodes within a show as acquired or watched based on their attributes"
      }
    },
    "/scrobble/shows/{show_id}": {
      "parameters": [
        {
          "description": "ID of the target show",
          "in": "path",
          "name": "show_id",
          "required": true,
          "type": "integer"
        },
        {
          "description": "Embed full episode info",
          "enum": [
            "episode"
          ],
          "in": "query",
          "name": "embed",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "An array of marked episodes",
            "schema": {
              "items": {
                "$ref": "#/definitions/MarkedEpisode"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "scrobbling"
        ],
        "description": "This endpoint can be used by all users, even without premium",
        "summary": "List watched and acquired episodes for a show"
      }
    },
    "/user/episodes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Only return episodes from this specific show",
            "in": "query",
            "name": "show_id",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of marked episodes",
            "schema": {
              "items": {
                "$ref": "#/definitions/MarkedEpisode"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "marked episodes"
        ],
        "summary": "List the marked episodes"
      }
    },
    "/user/episodes/{episode_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "episode_id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "the episode is now unmarked"
          },
          "404": {
            "description": "this episode was not marked"
          }
        },
        "tags": [
          "marked episodes"
        ],
        "summary": "Unmark an episode"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The marked episode",
            "schema": {
              "$ref": "#/definitions/MarkedEpisode"
            }
          },
          "404": {
            "description": "This episode is not marked"
          }
        },
        "tags": [
          "marked episodes"
        ],
        "summary": "Check if an episode is marked"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MarkedEpisode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "this episode is now marked",
            "schema": {
              "$ref": "#/definitions/MarkedEpisode"
            }
          },
          "404": {
            "description": "this episode does not exist"
          },
          "422": {
            "description": "invalid input data"
          }
        },
        "tags": [
          "marked episodes"
        ],
        "description": "Set `marked_at` to `NULL` or leave it out to use the current time.",
        "summary": "Mark an episode"
      }
    },
    "/user/follows/networks": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Embed full network info",
            "enum": [
              "network"
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of followed networks",
            "schema": {
              "items": {
                "$ref": "#/definitions/NetworkFollow"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "followed networks"
        ],
        "summary": "List the followed networks"
      }
    },
    "/user/follows/networks/{network_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "network_id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "the network is now unfollowed"
          },
          "404": {
            "description": "this network was not followed"
          }
        },
        "tags": [
          "followed networks"
        ],
        "summary": "Unfollow a network"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The followed network",
            "schema": {
              "$ref": "#/definitions/NetworkFollow"
            }
          },
          "404": {
            "description": "this network is not followed"
          }
        },
        "tags": [
          "followed networks"
        ],
        "summary": "Check if a network is followed"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "this network is now followed",
            "schema": {
              "$ref": "#/definitions/NetworkFollow"
            }
          },
          "404": {
            "description": "this network does not exist"
          }
        },
        "tags": [
          "followed networks"
        ],
        "summary": "Follow a network"
      }
    },
    "/user/follows/people": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Embed full person info",
            "enum": [
              "person"
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of followed people",
            "schema": {
              "items": {
                "$ref": "#/definitions/PersonFollow"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "followed people"
        ],
        "summary": "List the followed people"
      }
    },
    "/user/follows/people/{person_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "person_id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "the person is now unfollowed"
          },
          "404": {
            "description": "this person was not followed"
          }
        },
        "tags": [
          "followed people"
        ],
        "summary": "Unfollow a person"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The followed person",
            "schema": {
              "$ref": "#/definitions/PersonFollow"
            }
          },
          "404": {
            "description": "this person is not followed"
          }
        },
        "tags": [
          "followed people"
        ],
        "summary": "Check if a person is followed"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "this person is now followed",
            "schema": {
              "$ref": "#/definitions/PersonFollow"
            }
          },
          "404": {
            "description": "this person does not exist"
          }
        },
        "tags": [
          "followed people"
        ],
        "summary": "Follow a person"
      }
    },
    "/user/follows/shows": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Embed full show info",
            "enum": [
              "show"
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of followed shows",
            "schema": {
              "items": {
                "$ref": "#/definitions/ShowFollow"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "followed shows"
        ],
        "summary": "List the followed shows"
      }
    },
    "/user/follows/shows/{show_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "show_id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "The show is now unfollowed"
          },
          "404": {
            "description": "This show was not followed"
          }
        },
        "tags": [
          "followed shows"
        ],
        "summary": "Unfollow a show"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The followed show",
            "schema": {
              "$ref": "#/definitions/ShowFollow"
            }
          },
          "404": {
            "description": "This show is not followed"
          }
        },
        "tags": [
          "followed shows"
        ],
        "summary": "Check if a show is followed"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "This show is now followed",
            "schema": {
              "$ref": "#/definitions/ShowFollow"
            }
          },
          "404": {
            "description": "This show does not exist"
          }
        },
        "tags": [
          "followed shows"
        ],
        "summary": "Follow a show"
      }
    },
    "/user/follows/webchannels": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Embed full webchannel info",
            "enum": [
              "webchannel"
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of followed webchannels",
            "schema": {
              "items": {
                "$ref": "#/definitions/WebchannelFollow"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "followed webchannels"
        ],
        "summary": "List the followed webchannels"
      }
    },
    "/user/follows/webchannels/{webchannel_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "webchannel_id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "the webchannel is now unfollowed"
          },
          "404": {
            "description": "this webchannel was not followed"
          }
        },
        "tags": [
          "followed webchannels"
        ],
        "summary": "Unfollow a webchannel"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The followed webchannel",
            "schema": {
              "$ref": "#/definitions/WebchannelFollow"
            }
          },
          "404": {
            "description": "this webchannel is not followed"
          }
        },
        "tags": [
          "followed webchannels"
        ],
        "summary": "Check if a webchannel is followed"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "this webchannel is now followed",
            "schema": {
              "$ref": "#/definitions/WebchannelFollow"
            }
          },
          "404": {
            "description": "this webchannel does not exist"
          }
        },
        "tags": [
          "followed webchannels"
        ],
        "summary": "Follow a webchannel"
      }
    },
    "/user/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "An array of tags",
            "schema": {
              "items": {
                "$ref": "#/definitions/Tag"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "tagged shows"
        ],
        "summary": "List all tags"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The newly created tag",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "422": {
            "description": "invalid input data"
          }
        },
        "tags": [
          "tagged shows"
        ],
        "summary": "Create a new tag"
      }
    },
    "/user/tags/{tag_id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "tag_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The tag was deleted"
          },
          "404": {
            "description": "The tag does not exist"
          }
        },
        "tags": [
          "tagged shows"
        ],
        "summary": "Delete a specific tag"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tag_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tag was updated",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "404": {
            "description": "The tag does not exist"
          },
          "422": {
            "description": "The tag could not be updated"
          }
        },
        "tags": [
          "tagged shows"
        ],
        "summary": "Update a specific tag"
      }
    },
    "/user/tags/{tag_id}/shows": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tag_id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Embed full show info",
            "enum": [
              "show"
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tagged shows",
            "schema": {
              "items": {
                "$ref": "#/definitions/TagInstance"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "The tag does not exist"
          }
        },
        "tags": [
          "tagged shows"
        ],
        "summary": "List all shows under this tag"
      }
    },
    "/user/tags/{tag_id}/shows/{show_id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "tag_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "show_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The show was untagged"
          },
          "404": {
            "description": "The show was not tagged"
          }
        },
        "tags": [
          "tagged shows"
        ],
        "summary": "Untag a show"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tag_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "show_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The show was tagged",
            "schema": {
              "$ref": "#/definitions/TagInstance"
            }
          },
          "404": {
            "description": "The show or tag does not exist"
          }
        },
        "tags": [
          "tagged shows"
        ],
        "summary": "Tag a show"
      }
    },
    "/user/votes/episodes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "An array of episode votes",
            "schema": {
              "items": {
                "$ref": "#/definitions/EpisodeVote"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "voted episodes"
        ],
        "summary": "List the episodes voted for"
      }
    },
    "/user/votes/episodes/{episode_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "episode_id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "The episode vote is now removed"
          },
          "404": {
            "description": "This episode was not voted for"
          }
        },
        "tags": [
          "voted episodes"
        ],
        "summary": "Remove an episode vote"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The episode vote",
            "schema": {
              "$ref": "#/definitions/EpisodeVote"
            }
          },
          "404": {
            "description": "This episode is not voted for"
          }
        },
        "tags": [
          "voted episodes"
        ],
        "summary": "Check if an episode is voted for"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EpisodeVote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This episode is now voted for",
            "schema": {
              "$ref": "#/definitions/EpisodeVote"
            }
          },
          "404": {
            "description": "This episode does not exist"
          }
        },
        "tags": [
          "voted episodes"
        ],
        "summary": "Vote for an episode"
      }
    },
    "/user/votes/shows": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Embed full show info",
            "enum": [
              "show"
            ],
            "in": "query",
            "name": "embed",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of show votes",
            "schema": {
              "items": {
                "$ref": "#/definitions/ShowVote"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "voted shows"
        ],
        "summary": "List the shows voted for"
      }
    },
    "/user/votes/shows/{show_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "show_id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "The show vote is now removed"
          },
          "404": {
            "description": "This show was not voted for"
          }
        },
        "tags": [
          "voted shows"
        ],
        "summary": "Remove a show vote"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The show vote",
            "schema": {
              "$ref": "#/definitions/ShowVote"
            }
          },
          "404": {
            "description": "This show is not voted for"
          }
        },
        "tags": [
          "voted shows"
        ],
        "summary": "Check if a show is voted for"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ShowVote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This show is now voted for",
            "schema": {
              "$ref": "#/definitions/ShowVote"
            }
          },
          "404": {
            "description": "This show does not exist"
          }
        },
        "tags": [
          "voted shows"
        ],
        "description": "Set `voted_at` to `NULL` or leave it out to use the current time.",
        "summary": "Vote for a show"
      }
    }
  },
  "definitions": {
    "BulkResponse": {
      "description": "A list of responses to your bulk input, ordered the same as your input",
      "items": {
        "properties": {
          "code": {
            "description": "The HTTP code that corresponds to this item",
            "type": "integer"
          },
          "errors": {
            "description": "A list of validation errors for this item (in case of error)",
            "type": "object"
          },
          "input": {
            "description": "The request data that belonged to this response (in case of error)",
            "type": "object"
          },
          "message": {
            "description": "A human-readable error message (in case of error)",
            "type": "string"
          },
          "result": {
            "description": "The resulting created/updated object (in case of success)",
            "type": "object"
          }
        }
      },
      "type": "array"
    },
    "Episode": {
      "type": "object"
    },
    "EpisodeVote": {
      "properties": {
        "episode_id": {
          "readOnly": true,
          "type": "integer"
        },
        "vote": {
          "description": "The vote number",
          "maximum": 10,
          "minimum": 1,
          "type": "integer"
        },
        "voted_at": {
          "description": "Epoch timestamp for when the user voted for the episode",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "MarkType": {
      "description": "0 for watched, 1 for acquired, 2 for skipped"
    },
    "MarkedEpisode": {
      "properties": {
        "_embedded": {
          "properties": {
            "episode": {
              "$ref": "#/definitions/Episode"
            }
          },
          "type": "object"
        },
        "episode_id": {
          "readOnly": true,
          "type": "integer"
        },
        "marked_at": {
          "description": "Epoch timestamp for when the user watched the episode, or 0 for unknown.",
          "type": "integer"
        },
        "type": {
          "$ref": "#/definitions/MarkType"
        }
      },
      "type": "object"
    },
    "Network": {
      "type": "object"
    },
    "NetworkFollow": {
      "properties": {
        "_embedded": {
          "properties": {
            "network": {
              "$ref": "#/definitions/Network"
            }
          },
          "type": "object"
        },
        "network_id": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Person": {
      "type": "object"
    },
    "PersonFollow": {
      "properties": {
        "_embedded": {
          "properties": {
            "person": {
              "$ref": "#/definitions/Person"
            }
          },
          "type": "object"
        },
        "person_id": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Show": {
      "type": "object"
    },
    "ShowFollow": {
      "properties": {
        "_embedded": {
          "properties": {
            "show": {
              "$ref": "#/definitions/Show"
            }
          },
          "type": "object"
        },
        "show_id": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ShowVote": {
      "properties": {
        "show_id": {
          "readOnly": true,
          "type": "integer"
        },
        "vote": {
          "description": "The vote number",
          "maximum": 10,
          "minimum": 1,
          "type": "integer"
        },
        "voted_at": {
          "description": "Epoch timestamp for when the user voted for the episode",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Tag": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "TagInstance": {
      "properties": {
        "_embedded": {
          "properties": {
            "show": {
              "$ref": "#/definitions/Show"
            }
          },
          "type": "object"
        },
        "show_id": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Webchannel": {
      "type": "object"
    },
    "WebchannelFollow": {
      "properties": {
        "_embedded": {
          "properties": {
            "webchannel": {
              "$ref": "#/definitions/Webchannel"
            }
          },
          "type": "object"
        },
        "webchannel_id": {
          "type": "integer"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "usertoken": {
      "type": "basic"
    }
  },
  "security": [
    {
      "usertoken": []
    }
  ],
  "x-components": {
    "requestBodies": {
      "MarkedEpisode": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/definitions/MarkedEpisode"
            }
          }
        }
      },
      "Tag": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        }
      }
    }
  }
}