{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports the following types of load balancers: Application Load Balancers, Network Load Balancers, Gateway Load Balancers, and Classic Load Balancers. This reference covers the following load balancer types:</p> <ul> <li> <p>Application Load Balancer - Operates at the application layer (layer 7) and supports HTTP and HTTPS.</p> </li> <li> <p>Network Load Balancer - Operates at the transport layer (layer 4) and supports TCP, TLS, and UDP.</p> </li> <li> <p>Gateway Load Balancer - Operates at the network layer (layer 3).</p> </li> </ul> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User Guide</a>.</p> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Elastic Load Balancing",
    "version": "2015-12-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticloadbalancingv2-2015-12-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "elasticloadbalancingv2",
    "x-datafire": {
      "name": "amazonaws_elasticloadbalancing",
      "type": "openapi"
    }
  },
  "host": "elasticloadbalancing.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#Action=AddListenerCertificates": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the listener.",
            "in": "query",
            "name": "ListenerArn",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The certificate to add. You can specify one certificate per call. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Certificate"
            },
            "name": "Certificates",
            "required": true,
            "type": "array"
          },
          {
            "enum": [
              "AddListenerCertificates"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddListenerCertificatesOutput"
            }
          },
          "480": {
            "description": "ListenerNotFoundException",
            "schema": {
              "$ref": "#/definitions/ListenerNotFoundException"
            }
          },
          "481": {
            "description": "TooManyCertificatesException",
            "schema": {
              "$ref": "#/definitions/TooManyCertificatesException"
            }
          },
          "482": {
            "description": "CertificateNotFoundException",
            "schema": {
              "$ref": "#/definitions/CertificateNotFoundException"
            }
          }
        },
        "description": "<p>Adds the specified SSL server certificate to the certificate list for the specified HTTPS or TLS listener.</p> <p>If the certificate in already in the certificate list, the call is successful but the certificate is not added again.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html\">HTTPS listeners</a> in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html\">TLS listeners</a> in the <i>Network Load Balancers Guide</i>.</p>",
        "operationId": "GET_AddListenerCertificates",
        "x-aws-operation-name": "AddListenerCertificates"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "AddListenerCertificates"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddListenerCertificatesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddListenerCertificatesOutput"
            }
          },
          "480": {
            "description": "ListenerNotFoundException",
            "schema": {
              "$ref": "#/definitions/ListenerNotFoundException"
            }
          },
          "481": {
            "description": "TooManyCertificatesException",
            "schema": {
              "$ref": "#/definitions/TooManyCertificatesException"
            }
          },
          "482": {
            "description": "CertificateNotFoundException",
            "schema": {
              "$ref": "#/definitions/CertificateNotFoundException"
            }
          }
        },
        "description": "<p>Adds the specified SSL server certificate to the certificate list for the specified HTTPS or TLS listener.</p> <p>If the certificate in already in the certificate list, the call is successful but the certificate is not added again.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html\">HTTPS listeners</a> in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html\">TLS listeners</a> in the <i>Network Load Balancers Guide</i>.</p>",
        "operationId": "POST_AddListenerCertificates",
        "x-aws-operation-name": "AddListenerCertificates"
      }
    },
    "/#Action=AddTags": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The Amazon Resource Name (ARN) of the resource.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/ResourceArn"
            },
            "name": "ResourceArns",
            "required": true,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The tags.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Tag"
            },
            "minItems": 1,
            "name": "Tags",
            "required": true,
            "type": "array"
          },
          {
            "enum": [
              "AddTags"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddTagsOutput"
            }
          },
          "480": {
            "description": "DuplicateTagKeysException",
            "schema": {
              "$ref": "#/definitions/DuplicateTagKeysException"
            }
          },
          "481": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          },
          "482": {
            "description": "LoadBalancerNotFoundException",
            "schema": {
              "$ref": "#/definitions/LoadBalancerNotFoundException"
            }
          },
          "483": {
            "description": "TargetGroupNotFoundException",
            "schema": {
              "$ref": "#/definitions/TargetGroupNotFoundException"
            }
          }
        },
        "description": "<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, Gateway Load Balancers, target groups, listeners, and rules.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p>",
        "operationId": "GET_AddTags",
        "x-aws-operation-name": "AddTags"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "AddTags"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddTagsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddTagsOutput"
            }
          },
          "480": {
            "description": "DuplicateTagKeysException",
            "schema": {
              "$ref": "#/definitions/DuplicateTagKeysException"
            }
          },
          "481": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          },
          "482": {
            "description": "LoadBalancerNotFoundException",
            "schema": {
              "$ref": "#/definitions/LoadBalancerNotFoundException"
            }
          },
          "483": {
            "description": "TargetGroupNotFoundException",
            "schema": {
              "$ref": "#/definitions/TargetGroupNotFoundException"
            }
          }
        },
        "description": "<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, Gateway Load Balancers, target groups, listeners, and rules.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p>",
        "operationId": "POST_AddTags",
        "x-aws-operation-name": "AddTags"
      }
    },
    "/#Action=CreateListener": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the load balancer.",
            "in": "query",
            "name": "LoadBalancerArn",
            "required": true,
            "type": "string"
          },
          {
            "description": "The protocol for connections from clients to the load balancer. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, and TCP_UDP. You can’t specify the UDP or TCP_UDP protocol if dual-stack mode is enabled. You cannot specify a protocol for a Gateway Load Balancer.",
            "enum": [
              "HTTP",
              "HTTPS",
              "TCP",
              "TLS",
              "UDP",
              "TCP_UDP",
              "GENEVE"
            ],
            "in": "query",
            "name": "Protocol",
            "required": false,
            "type": "string"
          },
          {
            "description": "The port on which the load balancer is listening. You cannot specify a port for a Gateway Load Balancer.",
            "in": "query",
            "maximum": 65535,
            "minimum": 1,
            "name": "Port",
            "required": false,
            "type": "integer"
          },
          {
            "description": "<p>[HTTPS and TLS listeners] The security policy that defines which protocols and ciphers are supported.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies\">Security policies</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#describe-ssl-policies\">Security policies</a> in the <i>Network Load Balancers Guide</i>.</p>",
            "in": "query",
            "name": "SslPolicy",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "[HTTPS and TLS listeners] The default certificate for the listener. You must provide exactly one certificate. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Certificate"
            },
            "name": "Certificates",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The actions for the default rule.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Action"
            },
            "name": "DefaultActions",
            "required": true,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>[TLS listeners] The name of the Application-Layer Protocol Negotiation (ALPN) policy. You can specify one policy name. The following are the possible values:</p> <ul> <li> <p> <code>HTTP1Only</code> </p> </li> <li> <p> <code>HTTP2Only</code> </p> </li> <li> <p> <code>HTTP2Optional</code> </p> </li> <li> <p> <code>HTTP2Preferred</code> </p> </li> <li> <p> <code>None</code> </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#alpn-policies\">ALPN policies</a> in the <i>Network Load Balancers Guide</i>.</p>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/AlpnPolicyValue"
            },
            "name": "AlpnPolicy",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The tags to assign to the listener.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Tag"
            },
            "minItems": 1,
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "CreateListener"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateListenerOutput"
            }
          },
          "480": {
            "description": "DuplicateListenerException",
            "schema": {
              "$ref": "#/definitions/DuplicateListenerException"
            }
          },
          "481": {
            "description": "TooManyListenersException",
            "schema": {
              "$ref": "#/definitions/TooManyListenersException"
            }
          },
          "482": {
            "description": "TooManyCertificatesException",
            "schema": {
              "$ref": "#/definitions/TooManyCertificatesException"
            }
          },
          "483": {
            "description": "LoadBalancerNotFoundException",
            "schema": {
              "$ref": "#/definitions/LoadBalancerNotFoundException"
            }
          },
          "484": {
            "description": "TargetGroupNotFoundException",
            "schema": {
              "$ref": "#/definitions/TargetGroupNotFoundException"
            }
          },
          "485": {
            "description": "TargetGroupAssociationLimitException",
            "schema": {
              "$ref": "#/definitions/TargetGroupAssociationLimitException"
            }
          },
          "486": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "487": {
            "description": "IncompatibleProtocolsException",
            "schema": {
              "$ref": "#/definitions/IncompatibleProtocolsException"
            }
          },
          "488": {
            "description": "SSLPolicyNotFoundException",
            "schema": {
              "$ref": "#/definitions/SSLPolicyNotFoundException"
            }
          },
          "489": {
            "description": "CertificateNotFoundException",
            "schema": {
              "$ref": "#/definitions/CertificateNotFoundException"
            }
          },
          "490": {
            "description": "UnsupportedProtocolException",
            "schema": {
              "$ref": "#/definitions/UnsupportedProtocolException"
            }
          },
          "491": {
            "description": "TooManyRegistrationsForTargetIdException",
            "schema": {
              "$ref": "#/definitions/TooManyRegistrationsForTargetIdException"
            }
          },
          "492": {
            "description": "TooManyTargetsException",
            "schema": {
              "$ref": "#/definitions/TooManyTargetsException"
            }
          },
          "493": {
            "description": "TooManyActionsException",
            "schema": {
              "$ref": "#/definitions/TooManyActionsException"
            }
          },
          "494": {
            "description": "InvalidLoadBalancerActionException",
            "schema": {
              "$ref": "#/definitions/InvalidLoadBalancerActionException"
            }
          },
          "495": {
            "description": "TooManyUniqueTargetGroupsPerLoadBalancerException",
            "schema": {
              "$ref": "#/definitions/TooManyUniqueTargetGroupsPerLoadBalancerException"
            }
          },
          "496": {
            "description": "ALPNPolicyNotSupportedException",
            "schema": {
              "$ref": "#/definitions/ALPNPolicyNotSupportedException"
            }
          },
          "497": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "<p>Creates a listener for the specified Application Load Balancer, Network Load Balancer. or Gateway Load Balancer.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for your Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\">Listeners for your Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-listeners.html\">Listeners for your Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple listeners with the same settings, each call succeeds.</p>",
        "operationId": "GET_CreateListener",
        "x-aws-operation-name": "CreateListener"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateListener"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateListenerInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateListenerOutput"
            }
          },
          "480": {
            "description": "DuplicateListenerException",
            "schema": {
              "$ref": "#/definitions/DuplicateListenerException"
            }
          },
          "481": {
            "description": "TooManyListenersException",
            "schema": {
              "$ref": "#/definitions/TooManyListenersException"
            }
          },
          "482": {
            "description": "TooManyCertificatesException",
            "schema": {
              "$ref": "#/definitions/TooManyCertificatesException"
            }
          },
          "483": {
            "description": "LoadBalancerNotFoundException",
            "schema": {
              "$ref": "#/definitions/LoadBalancerNotFoundException"
            }
          },
          "484": {
            "description": "TargetGroupNotFoundException",
            "schema": {
              "$ref": "#/definitions/TargetGroupNotFoundException"
            }
          },
          "485": {
            "description": "TargetGroupAssociationLimitException",
            "schema": {
              "$ref": "#/definitions/TargetGroupAssociationLimitException"
            }
          },
          "486": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "487": {
            "description": "IncompatibleProtocolsException",
            "schema": {
              "$ref": "#/definitions/IncompatibleProtocolsException"
            }
          },
          "488": {
            "description": "SSLPolicyNotFoundException",
            "schema": {
              "$ref": "#/definitions/SSLPolicyNotFoundException"
            }
          },
          "489": {
            "description": "CertificateNotFoundException",
            "schema": {
              "$ref": "#/definitions/CertificateNotFoundException"
            }
          },
          "490": {
            "description": "UnsupportedProtocolException",
            "schema": {
              "$ref": "#/definitions/UnsupportedProtocolException"
            }
          },
          "491": {
            "description": "TooManyRegistrationsForTargetIdException",
            "schema": {
              "$ref": "#/definitions/TooManyRegistrationsForTargetIdException"
            }
          },
          "492": {
            "description": "TooManyTargetsException",
            "schema": {
              "$ref": "#/definitions/TooManyTargetsException"
            }
          },
          "493": {
            "description": "TooManyActionsException",
            "schema": {
              "$ref": "#/definitions/TooManyActionsException"
            }
          },
          "494": {
            "description": "InvalidLoadBalancerActionException",
            "schema": {
              "$ref": "#/definitions/InvalidLoadBalancerActionException"
            }
          },
          "495": {
            "description": "TooManyUniqueTargetGroupsPerLoadBalancerException",
            "schema": {
              "$ref": "#/definitions/TooManyUniqueTargetGroupsPerLoadBalancerException"
            }
          },
          "496": {
            "description": "ALPNPolicyNotSupportedException",
            "schema": {
              "$ref": "#/definitions/ALPNPolicyNotSupportedException"
            }
          },
          "497": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "<p>Creates a listener for the specified Application Load Balancer, Network Load Balancer. or Gateway Load Balancer.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for your Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\">Listeners for your Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-listeners.html\">Listeners for your Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple listeners with the same settings, each call succeeds.</p>",
        "operationId": "POST_CreateListener",
        "x-aws-operation-name": "CreateListener"
      }
    },
    "/#Action=CreateLoadBalancer": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The name of the load balancer.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, must not begin or end with a hyphen, and must not begin with \"internal-\".</p>",
            "in": "query",
            "name": "Name",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones.</p> <p>[Application Load Balancers on Outposts] You must specify one Outpost subnet.</p> <p>[Application Load Balancers on Local Zones] You can specify subnets from one or more Local Zones.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones.</p> <p>[Gateway Load Balancers] You can specify subnets from one or more Availability Zones.</p>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/SubnetId"
            },
            "name": "Subnets",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones. You cannot specify Elastic IP addresses for your subnets.</p> <p>[Application Load Balancers on Outposts] You must specify one Outpost subnet.</p> <p>[Application Load Balancers on Local Zones] You can specify subnets from one or more Local Zones.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones. You can specify one Elastic IP address per subnet if you need static IP addresses for your internet-facing load balancer. For internal load balancers, you can specify one private IP address per subnet from the IPv4 range of the subnet. For internet-facing load balancer, you can specify one IPv6 address per subnet.</p> <p>[Gateway Load Balancers] You can specify subnets from one or more Availability Zones. You cannot specify Elastic IP addresses for your subnets.</p>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/SubnetMapping"
            },
            "name": "SubnetMappings",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "[Application Load Balancers] The IDs of the security groups for the load balancer.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/SecurityGroupId"
            },
            "name": "SecurityGroups",
            "required": false,
            "type": "array"
          },
          {
            "description": "<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can route requests only from clients with access to the VPC for the load balancer.</p> <p>The default is an Internet-facing load balancer.</p> <p>You cannot specify a scheme for a Gateway Load Balancer.</p>",
            "enum": [
              "internet-facing",
              "internal"
            ],
            "in": "query",
            "name": "Scheme",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The tags to assign to the load balancer.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Tag"
            },
            "minItems": 1,
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "description": "The type of load balancer. The default is <code>application</code>.",
            "enum": [
              "application",
              "network",
              "gateway"
            ],
            "in": "query",
            "name": "Type",
            "required": false,
            "type": "string"
          },
          {
            "description": "The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses). Internal load balancers must use <code>ipv4</code>.",
            "enum": [
              "ipv4",
              "dualstack"
            ],
            "in": "query",
            "name": "IpAddressType",
            "required": false,
            "type": "string"
          },
          {
            "description": "[Application Load Balancers on Outposts] The ID of the customer-owned address pool (CoIP pool).",
            "in": "query",
            "maxLength": 256,
            "name": "CustomerOwnedIpv4Pool",
            "pattern": "^(ipv4pool-coip-)[a-zA-Z0-9]+$",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "CreateLoadBalancer"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateLoadBalancerOutput"
            }
          },
          "480": {
            "description": "DuplicateLoadBalancerNameException",
            "schema": {
              "$ref": "#/definitions/DuplicateLoadBalancerNameException"
            }
          },
          "481": {
            "description": "TooManyLoadBalancersException",
            "schema": {
              "$ref": "#/definitions/TooManyLoadBalancersException"
            }
          },
          "482": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "483": {
            "description": "SubnetNotFoundException",
            "schema": {
              "$ref": "#/definitions/SubnetNotFoundException"
            }
          },
          "484": {
            "description": "InvalidSubnetException",
            "schema": {
              "$ref": "#/definitions/InvalidSubnetException"
            }
          },
          "485": {
            "description": "InvalidSecurityGroupException",
            "schema": {
              "$ref": "#/definitions/InvalidSecurityGroupException"
            }
          },
          "486": {
            "description": "InvalidSchemeException",
            "schema": {
              "$ref": "#/definitions/InvalidSchemeException"
            }
          },
          "487": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          },
          "488": {
            "description": "DuplicateTagKeysException",
            "schema": {
              "$ref": "#/definitions/DuplicateTagKeysException"
            }
          },
          "489": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "490": {
            "description": "AllocationIdNotFoundException",
            "schema": {
              "$ref": "#/definitions/AllocationIdNotFoundException"
            }
          },
          "491": {
            "description": "AvailabilityZoneNotSupportedException",
            "schema": {
              "$ref": "#/definitions/AvailabilityZoneNotSupportedException"
            }
          },
          "492": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          }
        },
        "description": "<p>Creates an Application Load Balancer, Network Load Balancer, or Gateway Load Balancer.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\">Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-load-balancers.html\">Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple load balancers with the same settings, each call succeeds.</p>",
        "operationId": "GET_CreateLoadBalancer",
        "x-aws-operation-name": "CreateLoadBalancer"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateLoadBalancer"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateLoadBalancerInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateLoadBalancerOutput"
            }
          },
          "480": {
            "description": "DuplicateLoadBalancerNameException",
            "schema": {
              "$ref": "#/definitions/DuplicateLoadBalancerNameException"
            }
          },
          "481": {
            "description": "TooManyLoadBalancersException",
            "schema": {
              "$ref": "#/definitions/TooManyLoadBalancersException"
            }
          },
          "482": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "483": {
            "description": "SubnetNotFoundException",
            "schema": {
              "$ref": "#/definitions/SubnetNotFoundException"
            }
          },
          "484": {
            "description": "InvalidSubnetException",
            "schema": {
              "$ref": "#/definitions/InvalidSubnetException"
            }
          },
          "485": {
            "description": "InvalidSecurityGroupException",
            "schema": {
              "$ref": "#/definitions/InvalidSecurityGroupException"
            }
          },
          "486": {
            "description": "InvalidSchemeException",
            "schema": {
              "$ref": "#/definitions/InvalidSchemeException"
            }
          },
          "487": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          },
          "488": {
            "description": "DuplicateTagKeysException",
            "schema": {
              "$ref": "#/definitions/DuplicateTagKeysException"
            }
          },
          "489": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "490": {
            "description": "AllocationIdNotFoundException",
            "schema": {
              "$ref": "#/definitions/AllocationIdNotFoundException"
            }
          },
          "491": {
            "description": "AvailabilityZoneNotSupportedException",
            "schema": {
              "$ref": "#/definitions/AvailabilityZoneNotSupportedException"
            }
          },
          "492": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          }
        },
        "description": "<p>Creates an Application Load Balancer, Network Load Balancer, or Gateway Load Balancer.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\">Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-load-balancers.html\">Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple load balancers with the same settings, each call succeeds.</p>",
        "operationId": "POST_CreateLoadBalancer",
        "x-aws-operation-name": "CreateLoadBalancer"
      }
    },
    "/#Action=CreateRule": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the listener.",
            "in": "query",
            "name": "ListenerArn",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The conditions.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/RuleCondition"
            },
            "name": "Conditions",
            "required": true,
            "type": "array"
          },
          {
            "description": "The rule priority. A listener can't have multiple rules with the same priority.",
            "in": "query",
            "maximum": 50000,
            "minimum": 1,
            "name": "Priority",
            "required": true,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "The actions.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Action"
            },
            "name": "Actions",
            "required": true,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "The tags to assign to the rule.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Tag"
            },
            "minItems": 1,
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "CreateRule"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRuleOutput"
            }
          },
          "480": {
            "description": "PriorityInUseException",
            "schema": {
              "$ref": "#/definitions/PriorityInUseException"
            }
          },
          "481": {
            "description": "TooManyTargetGroupsException",
            "schema": {
              "$ref": "#/definitions/TooManyTargetGroupsException"
            }
          },
          "482": {
            "description": "TooManyRulesException",
            "schema": {
              "$ref": "#/definitions/TooManyRulesException"
            }
          },
          "483": {
            "description": "TargetGroupAssociationLimitException",
            "schema": {
              "$ref": "#/definitions/TargetGroupAssociationLimitException"
            }
          },
          "484": {
            "description": "IncompatibleProtocolsException",
            "schema": {
              "$ref": "#/definitions/IncompatibleProtocolsException"
            }
          },
          "485": {
            "description": "ListenerNotFoundException",
            "schema": {
              "$ref": "#/definitions/ListenerNotFoundException"
            }
          },
          "486": {
            "description": "TargetGroupNotFoundException",
            "schema": {
              "$ref": "#/definitions/TargetGroupNotFoundException"
            }
          },
          "487": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "488": {
            "description": "TooManyRegistrationsForTargetIdException",
            "schema": {
              "$ref": "#/definitions/TooManyRegistrationsForTargetIdException"
            }
          },
          "489": {
            "description": "TooManyTargetsException",
            "schema": {
              "$ref": "#/definitions/TooManyTargetsException"
            }
          },
          "490": {
            "description": "UnsupportedProtocolException",
            "schema": {
              "$ref": "#/definitions/UnsupportedProtocolException"
            }
          },
          "491": {
            "description": "TooManyActionsException",
            "schema": {
              "$ref": "#/definitions/TooManyActionsException"
            }
          },
          "492": {
            "description": "InvalidLoadBalancerActionException",
            "schema": {
              "$ref": "#/definitions/InvalidLoadBalancerActionException"
            }
          },
          "493": {
            "description": "TooManyUniqueTargetGroupsPerLoadBalancerException",
            "schema": {
              "$ref": "#/definitions/TooManyUniqueTargetGroupsPerLoadBalancerException"
            }
          },
          "494": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "<p>Creates a rule for the specified listener. The listener must be associated with an Application Load Balancer.</p> <p>Each rule consists of a priority, one or more actions, and one or more conditions. Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, its actions are performed. If the conditions for no rules are met, the actions for the default rule are performed. For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\">Listener rules</a> in the <i>Application Load Balancers Guide</i>.</p>",
        "operationId": "GET_CreateRule",
        "x-aws-operation-name": "CreateRule"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateRule"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateRuleInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRuleOutput"
            }
          },
          "480": {
            "description": "PriorityInUseException",
            "schema": {
              "$ref": "#/definitions/PriorityInUseException"
            }
          },
          "481": {
            "description": "TooManyTargetGroupsException",
            "schema": {
              "$ref": "#/definitions/TooManyTargetGroupsException"
            }
          },
          "482": {
            "description": "TooManyRulesException",
            "schema": {
              "$ref": "#/definitions/TooManyRulesException"
            }
          },
          "483": {
            "description": "TargetGroupAssociationLimitException",
            "schema": {
              "$ref": "#/definitions/TargetGroupAssociationLimitException"
            }
          },
          "484": {
            "description": "IncompatibleProtocolsException",
            "schema": {
              "$ref": "#/definitions/IncompatibleProtocolsException"
            }
          },
          "485": {
            "description": "ListenerNotFoundException",
            "schema": {
              "$ref": "#/definitions/ListenerNotFoundException"
            }
          },
          "486": {
            "description": "TargetGroupNotFoundException",
            "schema": {
              "$ref": "#/definitions/TargetGroupNotFoundException"
            }
          },
          "487": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "488": {
            "description": "TooManyRegistrationsForTargetIdException",
            "schema": {
              "$ref": "#/definitions/TooManyRegistrationsForTargetIdException"
            }
          },
          "489": {
            "description": "TooManyTargetsException",
            "schema": {
              "$ref": "#/definitions/TooManyTargetsException"
            }
          },
          "490": {
            "description": "UnsupportedProtocolException",
            "schema": {
              "$ref": "#/definitions/UnsupportedProtocolException"
            }
          },
          "491": {
            "description": "TooManyActionsException",
            "schema": {
              "$ref": "#/definitions/TooManyActionsException"
            }
          },
          "492": {
            "description": "InvalidLoadBalancerActionException",
            "schema": {
              "$ref": "#/definitions/InvalidLoadBalancerActionException"
            }
          },
          "493": {
            "description": "TooManyUniqueTargetGroupsPerLoadBalancerException",
            "schema": {
              "$ref": "#/definitions/TooManyUniqueTargetGroupsPerLoadBalancerException"
            }
          },
          "494": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "<p>Creates a rule for the specified listener. The listener must be associated with an Application Load Balancer.</p> <p>Each rule consists of a priority, one or more actions, and one or more conditions. Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, its actions are performed. If the conditions for no rules are met, the actions for the default rule are performed. For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\">Listener rules</a> in the <i>Application Load Balancers Guide</i>.</p>",
        "operationId": "POST_CreateRule",
        "x-aws-operation-name": "CreateRule"
      }
    },
    "/#Action=CreateTargetGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The name of the target group.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>",
            "in": "query",
            "name": "Name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The protocol to use for routing traffic to the targets. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, or TCP_UDP. For Gateway Load Balancers, the supported protocol is GENEVE. A TCP_UDP listener must be associated with a TCP_UDP target group. If the target is a Lambda function, this parameter does not apply.",
            "enum": [
              "HTTP",
              "HTTPS",
              "TCP",
              "TLS",
              "UDP",
              "TCP_UDP",
              "GENEVE"
            ],
            "in": "query",
            "name": "Protocol",
            "required": false,
            "type": "string"
          },
          {
            "description": "[HTTP/HTTPS protocol] The protocol version. Specify <code>GRPC</code> to send requests to targets using gRPC. Specify <code>HTTP2</code> to send requests to targets using HTTP/2. The default is <code>HTTP1</code>, which sends requests to targets using HTTP/1.1.",
            "in": "query",
            "name": "ProtocolVersion",
            "required": false,
            "type": "string"
          },
          {
            "description": "The port on which the targets receive traffic. This port is used unless you specify a port override when registering the target. If the target is a Lambda function, this parameter does not apply. If the protocol is GENEVE, the supported port is 6081.",
            "in": "query",
            "maximum": 65535,
            "minimum": 1,
            "name": "Port",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The identifier of the virtual private cloud (VPC). If the target is a Lambda function, this parameter does not apply. Otherwise, this parameter is required.",
            "in": "query",
            "name": "VpcId",
            "required": false,
            "type": "string"
          },
          {
            "description": "The protocol the load balancer uses when performing health checks on targets. For Application Load Balancers, the default is HTTP. For Network Load Balancers and Gateway Load Balancers, the default is TCP. The TCP protocol is not supported for health checks if the protocol of the target group is HTTP or HTTPS. The GENEVE, TLS, UDP, and TCP_UDP protocols are not supported for health checks.",
            "enum": [
              "HTTP",
              "HTTPS",
              "TCP",
              "TLS",
              "UDP",
              "TCP_UDP",
              "GENEVE"
            ],
            "in": "query",
            "name": "HealthCheckProtocol",
            "required": false,
            "type": "string"
          },
          {
            "description": "The port the load balancer uses when performing health checks on targets. If the protocol is HTTP, HTTPS, TCP, TLS, UDP, or TCP_UDP, the default is <code>traffic-port</code>, which is the port on which each target receives traffic from the load balancer. If the protocol is GENEVE, the default is port 80.",
            "in": "query",
            "name": "HealthCheckPort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Indicates whether health checks are enabled. If the target type is <code>lambda</code>, health checks are disabled by default but can be enabled. If the target type is <code>instance</code> or <code>ip</code>, health checks are always enabled and cannot be disabled.",
            "in": "query",
            "name": "HealthCheckEnabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "<p>[HTTP/HTTPS health checks] The destination for health checks on the targets.</p> <p>[HTTP1 or HTTP2 protocol version] The ping path. The default is /.</p> <p>[GRPC protocol version] The path of a custom health check method with the format /package.service/method. The default is /AWS.ALB/healthcheck.</p>",
            "in": "query",
            "maxLength": 1024,
            "minLength": 1,
            "name": "HealthCheckPath",
            "required": false,
            "type": "string"
          },
          {
            "description": "The approximate amount of time, in seconds, between health checks of an individual target. For TCP health checks, the supported values are 10 and 30 seconds. If the target type is <code>instance</code> or <code>ip</code>, the default is 30 seconds. If the target group protocol is GENEVE, the default is 10 seconds. If the target type is <code>lambda</code>, the default is 35 seconds.",
            "in": "query",
            "maximum": 300,
            "minimum": 5,
            "name": "HealthCheckIntervalSeconds",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The amount of time, in seconds, during which no response from a target means a failed health check. For target groups with a protocol of HTTP, HTTPS, or GENEVE, the default is 5 seconds. For target groups with a protocol of TCP or TLS, this value must be 6 seconds for HTTP health checks and 10 seconds for TCP and HTTPS health checks. If the target type is <code>lambda</code>, the default is 30 seconds.",
            "in": "query",
            "maximum": 120,
            "minimum": 2,
            "name": "HealthCheckTimeoutSeconds",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The number of consecutive health checks successes required before considering an unhealthy target healthy. For target groups with a protocol of HTTP or HTTPS, the default is 5. For target groups with a protocol of TCP, TLS, or GENEVE, the default is 3. If the target type is <code>lambda</code>, the default is 5.",
            "in": "query",
            "maximum": 10,
            "minimum": 2,
            "name": "HealthyThresholdCount",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The number of consecutive health check failures required before considering a target unhealthy. If the target group protocol is HTTP or HTTPS, the default is 2. If the target group protocol is TCP or TLS, this value must be the same as the healthy threshold count. If the target group protocol is GENEVE, the default is 3. If the target type is <code>lambda</code>, the default is 2.",
            "in": "query",
            "maximum": 10,
            "minimum": 2,
            "name": "UnhealthyThresholdCount",
            "required": false,
            "type": "integer"
          },
          {
            "description": "[HTTP/HTTPS health checks] The HTTP or gRPC codes to use when checking for a successful response from a target.",
            "in": "query",
            "name": "Matcher",
            "required": false,
            "type": "object"
          },
          {
            "description": "<p>The type of target that you must specify when registering targets with this target group. You can't specify targets for a target group using more than one target type.</p> <ul> <li> <p> <code>instance</code> - Register targets by instance ID. This is the default value.</p> </li> <li> <p> <code>ip</code> - Register targets by IP address. You can specify IP addresses from the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 range (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range (100.64.0.0/10). You can't specify publicly routable IP addresses.</p> </li> <li> <p> <code>lambda</code> - Register a single Lambda function as a target.</p> </li> </ul>",
            "enum": [
              "instance",
              "ip",
              "lambda"
            ],
            "in": "query",
            "name": "TargetType",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The tags to assign to the target group.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Tag"
            },
            "minItems": 1,
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "CreateTargetGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateTargetGroupOutput"
            }
          },
          "480": {
            "description": "DuplicateTargetGroupNameException",
            "schema": {
              "$ref": "#/definitions/DuplicateTargetGroupNameException"
            }
          },
          "481": {
            "description": "TooManyTargetGroupsException",
            "schema": {
              "$ref": "#/definitions/TooManyTargetGroupsException"
            }
          },
          "482": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "483": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "<p>Creates a target group.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target groups for your Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html\">Target groups for your Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/target-groups.html\">Target groups for your Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple target groups with the same settings, each call succeeds.</p>",
        "operationId": "GET_CreateTargetGroup",
        "x-aws-operation-name": "CreateTargetGroup"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateTargetGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateTargetGroupInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateTargetGroupOutput"
            }
          },
          "480": {
            "description": "DuplicateTargetGroupNameException",
            "schema": {
              "$ref": "#/definitions/DuplicateTargetGroupNameException"
            }
          },
          "481": {
            "description": "TooManyTargetGroupsException",
            "schema": {
              "$ref": "#/definitions/TooManyTargetGroupsException"
            }
          },
          "482": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "483": {
            "description": "TooManyTagsException",
            "schema": {
              "$ref": "#/definitions/TooManyTagsException"
            }
          }
        },
        "description": "<p>Creates a target group.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target groups for your Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html\">Target groups for your Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/target-groups.html\">Target groups for your Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple target groups with the same settings, each call succeeds.</p>",
        "operationId": "POST_CreateTargetGroup",
        "x-aws-operation-name": "CreateTargetGroup"
      }
    },
    "/#Action=DeleteListener": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the listener.",
            "in": "query",
            "name": "ListenerArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "DeleteListener"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteListenerOutput"
            }
          },
          "480": {
            "description": "ListenerNotFoundException",
            "schema": {
              "$ref": "#/definitions/ListenerNotFoundException"
            }
          }
        },
        "description": "<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer to which it is attached.</p>",
        "operationId": "GET_DeleteListener",
        "x-aws-operation-name": "DeleteListener"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DeleteListener"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteListenerInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteListenerOutput"
            }
          },
          "480": {
            "description": "ListenerNotFoundException",
            "schema": {
              "$ref": "#/definitions/ListenerNotFoundException"
            }
          }
        },
        "description": "<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer to which it is attached.</p>",
        "operationId": "POST_DeleteListener",
        "x-aws-operation-name": "DeleteListener"
      }
    },
    "/#Action=DeleteLoadBalancer": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the load balancer.",
            "in": "query",
            "name": "LoadBalancerArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "DeleteLoadBalancer"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteLoadBalancerOutput"
            }
          },
          "480": {
            "description": "LoadBalancerNotFoundException",
            "schema": {
              "$ref": "#/definitions/LoadBalancerNotFoundException"
            }
          },
          "481": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          },
          "482": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "<p>Deletes the specified Application Load Balancer, Network Load Balancer, or Gateway Load Balancer. Deleting a load balancer also deletes its listeners.</p> <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>",
        "operationId": "GET_DeleteLoadBalancer",
        "x-aws-operation-name": "DeleteLoadBalancer"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DeleteLoadBalancer"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteLoadBalancerInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteLoadBalancerOutput"
            }
          },
          "480": {
            "description": "LoadBalancerNotFoundException",
            "schema": {
              "$ref": "#/definitions/LoadBalancerNotFoundException"
            }
          },
          "481": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          },
          "482": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "<p>Deletes the specified Application Load Balancer, Network Load Balancer, or Gateway Load Balancer. Deleting a load balancer also deletes its listeners.</p> <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>",
        "operationId": "POST_DeleteLoadBalancer",
        "x-aws-operation-name": "DeleteLoadBalancer"
      }
    },
    "/#Action=DeleteRule": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the rule.",
            "in": "query",
            "name": "RuleArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "DeleteRule"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRuleOutput"
            }
          },
          "480": {
            "description": "RuleNotFoundException",
            "schema": {
              "$ref": "#/definitions/RuleNotFoundException"
            }
          },
          "481": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          }
        },
        "description": "<p>Deletes the specified rule.</p> <p>You can't delete the default rule.</p>",
        "operationId": "GET_DeleteRule",
        "x-aws-operation-name": "DeleteRule"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DeleteRule"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteRuleInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRuleOutput"
            }
          },
          "480": {
            "description": "RuleNotFoundException",
            "schema": {
              "$ref": "#/definitions/RuleNotFoundException"
            }
          },
          "481": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          }
        },
        "description": "<p>Deletes the specified rule.</p> <p>You can't delete the default rule.</p>",
        "operationId": "POST_DeleteRule",
        "x-aws-operation-name": "DeleteRule"
      }
    },
    "/#Action=DeleteTargetGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the target group.",
            "in": "query",
            "name": "TargetGroupArn",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "DeleteTargetGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteTargetGroupOutput"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "<p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks. Deleting a target group does not affect its registered targets. For example, any EC2 instances continue to run until you stop or terminate them.</p>",
        "operationId": "GET_DeleteTargetGroup",
        "x-aws-operation-name": "DeleteTargetGroup"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DeleteTargetGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteTargetGroupInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteTargetGroupOutput"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "<p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks. Deleting a target group does not affect its registered targets. For example, any EC2 instances continue to run until you stop or terminate them.</p>",
        "operationId": "POST_DeleteTargetGroup",
        "x-aws-operation-name": "DeleteTargetGroup"
      }
    },
    "/#Action=DeregisterTargets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the target group.",
            "in": "query",
            "name": "TargetGroupArn",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The targets. If you specified a port override when you registered a target, you must specify both the target ID and the port when you deregister it.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/TargetDescription"
            },
            "name": "Targets",
            "required": true,
            "type": "array"
          },
          {
            "enum": [
              "DeregisterTargets"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeregisterTargetsOutput"
            }
          },
          "480": {
            "description": "TargetGroupNotFoundException",
            "schema": {
              "$ref": "#/definitions/TargetGroupNotFoundException"
            }
          },
          "481": {
            "description": "InvalidTargetException",
            "schema": {
              "$ref": "#/definitions/InvalidTargetException"
            }
          }
        },
        "description": "Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.",
        "operationId": "GET_DeregisterTargets",
        "x-aws-operation-name": "DeregisterTargets"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DeregisterTargets"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeregisterTargetsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeregisterTargetsOutput"
            }
          },
          "480": {
            "description": "TargetGroupNotFoundException",
            "schema": {
              "$ref": "#/definitions/TargetGroupNotFoundException"
            }
          },
          "481": {
            "description": "InvalidTargetException",
            "schema": {
              "$ref": "#/definitions/InvalidTargetException"
            }
          }
        },
        "description": "Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.",
        "operationId": "POST_DeregisterTargets",
        "x-aws-operation-name": "DeregisterTargets"
      }
    },
    "/#Action=DescribeAccountLimits": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The marker for the next set of results. (You received this marker from a previous call.)",
            "in": "query",
            "name": "Marker",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return with this call.",
            "in": "query",
            "maximum": 400,
            "minimum": 1,
            "name": "PageSize",
            "required": false,
            "type": "integer"
          },
          {
            "enum": [
              "DescribeAccountLimits"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAccountLimitsOutput"
            }
          }
        },
        "description": "<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Quotas for your Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Quotas for your Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/quotas-limits.html\">Quotas for your Gateway Load Balancers</a> </p> </li> </ul>",
        "operationId": "GET_DescribeAccountLimits",
        "x-aws-operation-name": "DescribeAccountLimits"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "DescribeAccountLimits"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2015-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DescribeAccountLimitsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAccountLimitsOutput"
            }
          }
        },
[...]
