{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "ibl-team@lists.forge.bbc.co.uk",
      "name": "Open iBL Project",
      "url": "http://developer.bbc.co.uk/"
    },
    "description": "The definitive iPlayer API.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "title": "BBC iPlayer Business Layer",
    "version": "1.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars0.githubusercontent.com_u_828722.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Mermade/bbcparse/master/iblApi/openapi.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "bbci.co.uk",
    "x-release": "1.0.0-490",
    "x-schema-id": "https://ibl.api.bbci.co.uk/ibl/v1/schema/ibl.json",
    "x-unofficialSpec": true,
    "x-datafire": {
      "name": "bbci",
      "type": "openapi"
    }
  },
  "host": "ibl.api.bbci.co.uk",
  "basePath": "/ibl/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/atoz/{letter}/programmes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Letter to search by, a to z or the string '0-9'",
            "in": "path",
            "name": "letter",
            "pattern": "[a-z](0-9)",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "description": "The page index.",
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The number of results to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": true,
            "type": "integer"
          },
          {
            "default": 4,
            "description": "The depth to return child entities.",
            "in": "query",
            "maximum": 4,
            "minimum": 1,
            "name": "initial_child_count",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The sort order of the results.",
            "enum": [
              "title"
            ],
            "in": "query",
            "name": "sort",
            "required": true,
            "type": "string"
          },
          {
            "description": "Whether to sort ascending or descending",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort_direction",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "A to Z"
        ],
        "description": "Get the Programmes whose title begins with the given initial character.",
        "operationId": "Get_Programmes AtoZ search_",
        "summary": "Programmes by initial title character"
      }
    },
    "/categories": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Categories"
        ],
        "description": "Get the list of all the categories in TV & iPlayer.",
        "operationId": "Get_Categories_",
        "summary": "Get categories"
      }
    },
    "/categories/{category}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The category identifier to return results from.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Categories"
        ],
        "description": "Get sub-categories",
        "operationId": "Get_Sub-categories_",
        "summary": "Get sub-categories"
      }
    },
    "/categories/{category}/episodes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The category identifier to return results from.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "description": "The page index.",
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The number of results to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The sort order of the results.",
            "enum": [
              "recent",
              "popular"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get the list of all the episodes for a given category in TV & iPlayer.",
        "operationId": "Get_Episodes by category_",
        "summary": "List all the episodes for a category."
      }
    },
    "/categories/{category}/highlights": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The category identifier to return results from.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Request additional data in the output",
            "enum": [
              "live",
              "promotions"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "mixin",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Programmes (TLEOs)"
        ],
        "description": "Get the editorial highlights of a given category in TV & iPlayer.",
        "operationId": "Get_Highlights by category_",
        "summary": "List the highlights for a category."
      }
    },
    "/categories/{category}/programmes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The category identifier to return results from.",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "description": "The page index.",
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The number of results to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Programmes (TLEOs)"
        ],
        "description": "Get the list of all the Programmes (TLEOs) for a given category in TV & iPlayer.",
        "operationId": "Get_Programmes by category_",
        "summary": "List all the programmes for a category."
      }
    },
    "/channels": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The region to get the channels for.",
            "in": "query",
            "name": "region",
            "required": false,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Channels"
        ],
        "description": "Get the list of all the channels TV & iPlayer.",
        "operationId": "Get_Channels_",
        "summary": "List all the channels."
      }
    },
    "/channels/{channel}/broadcasts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The channel identifier to limit results to.",
            "in": "path",
            "name": "channel",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Request additional data in the output",
            "enum": [
              "live",
              "promotions"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "mixin",
            "required": false,
            "type": "array"
          },
          {
            "description": "The number of results to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Time to return results from, e.g. -3h",
            "in": "query",
            "name": "from",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Programmes (TLEOs)"
        ],
        "description": "Get broadcasts by channel",
        "operationId": "Get_Broadcasts by channel_",
        "summary": "Get broadcasts by channel"
      }
    },
    "/channels/{channel}/highlights": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The channel identifier to limit results to.",
            "in": "path",
            "name": "channel",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "description": "Whether to include live programmes",
            "in": "query",
            "name": "live",
            "required": false,
            "type": "boolean"
          },
          {
            "collectionFormat": "multi",
            "description": "Request additional data in the output",
            "enum": [
              "live",
              "promotions"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "mixin",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Channels"
        ],
        "description": "Get the editorial highlights of a given channel in TV & iPlayer.",
        "operationId": "Get_Highlights by channel_",
        "summary": "List the highlights for a channel."
      }
    },
    "/channels/{channel}/programmes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The channel identifier to limit results to.",
            "in": "path",
            "name": "channel",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "description": "The page index.",
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The number of results to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Programmes (TLEOs)"
        ],
        "description": "Get programmes by channel",
        "operationId": "Get_Programmes by channel_",
        "summary": "Get programmes by channel"
      }
    },
    "/channels/{channel}/schedule/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The channel identifier to limit results to.",
            "in": "path",
            "name": "channel",
            "required": true,
            "type": "string"
          },
          {
            "description": "The date to return the schedule for, yyyy-mm-dd format",
            "in": "path",
            "name": "date",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Channels"
        ],
        "description": "Get schedule by channel",
        "operationId": "Get_Schedule by channel_",
        "summary": "Get schedule by channel"
      }
    },
    "/clips/{pid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get Clips",
        "operationId": "Get_Clips_",
        "summary": "Get Clips"
      }
    },
    "/episodes/{pid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Request additional data in the output",
            "enum": [
              "live",
              "promotions"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "mixin",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get the episode for a given episode identifier.",
        "operationId": "Get_Programme by PID_",
        "summary": "Episode for a given pid."
      }
    },
    "/episodes/{pid}/next": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get Onward Journey (next programme)",
        "operationId": "Get_Onward_Journey",
        "summary": "Get Onward Journey"
      }
    },
    "/episodes/{pid}/postrolls": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get Follow-ups (post-rolls)",
        "operationId": "getPostRolls",
        "summary": "Get Follow-ups (post-rolls)"
      }
    },
    "/episodes/{pid}/prerolls": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get Trailers (pre-rolls)",
        "operationId": "Get_Trailers (pre-rolls)_",
        "summary": "Get Trailers (pre-rolls)"
      }
    },
    "/episodes/{pid}/recommendations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "description": "The page index.",
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The number of results to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get programme recommendations",
        "operationId": "Get_Programme recommendations_",
        "summary": "Get programme recommendations"
      }
    },
    "/groups/popular/episodes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "description": "The page index.",
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The number of results to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": true,
            "type": "integer"
          },
          {
            "default": 4,
            "description": "The depth to return child entities.",
            "in": "query",
            "maximum": 4,
            "minimum": 1,
            "name": "initial_child_count",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The sort order of the results.",
            "in": "query",
            "name": "sort",
            "required": true,
            "type": "string"
          },
          {
            "description": "Whether to sort ascending or descending",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort_direction",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Request additional data in the output",
            "enum": [
              "live",
              "promotions"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "mixin",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get programmes popular",
        "operationId": "Get_Programmes popular_",
        "summary": "Get programmes popular"
      }
    },
    "/groups/{pid}/episodes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "description": "The page index.",
            "format": "int64",
            "in": "query",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The number of results to return.",
            "format": "int64",
            "in": "query",
            "name": "per_page",
            "required": true,
            "type": "integer"
          },
          {
            "default": 4,
            "description": "The depth to return child entities.",
            "in": "query",
            "maximum": 4,
            "minimum": 1,
            "name": "initial_child_count",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The sort order of the results.",
            "in": "query",
            "name": "sort",
            "required": true,
            "type": "string"
          },
          {
            "description": "Whether to sort ascending or descending",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort_direction",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Request additional data in the output",
            "enum": [
              "live",
              "promotions"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "mixin",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get episodes by group, brand or series",
        "operationId": "Get_Episodes by group_",
        "summary": "Get episodes by group, brand or series"
      }
    },
    "/home/highlights": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Request additional data in the output",
            "enum": [
              "live",
              "promotions"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "mixin",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Programmes (TLEOs)"
        ],
        "description": "Get programme highlights",
        "operationId": "Get_Programme highlights_",
        "summary": "Get programme highlights"
      }
    },
    "/programmes/{pid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "default": 4,
            "description": "The depth to return child entities.",
            "in": "query",
            "maximum": 4,
            "minimum": 1,
            "name": "initial_child_count",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Programmes (TLEOs)"
        ],
        "description": "Get the programme for a given programme identifier.",
        "operationId": "Get_Programmes by parent PID_",
        "summary": "Programme for a given pid."
      }
    },
    "/programmes/{pid}/episodes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The programme identifier.",
            "in": "path",
            "minLength": 8,
            "name": "pid",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          },
          {
            "default": 4,
            "description": "The depth to return child entities.",
            "in": "query",
            "maximum": 4,
            "minimum": 1,
            "name": "initial_child_count",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Episodes"
        ],
        "description": "Get the child episodes belonging to a given programme identifier.",
        "operationId": "Get_Episodes by parent PID_",
        "summary": "Child episodes for a given programme pid."
      }
    },
    "/regions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Regions"
        ],
        "description": "Get the list of all the regions TV & iPlayer.",
        "operationId": "Get_Regions_",
        "summary": "List all regions"
      }
    },
    "/schema/ibl.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Metadata"
        ],
        "description": "Get schema",
        "operationId": "Get_Schema_",
        "summary": "Get schema"
      }
    },
    "/search": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The term to search for.",
            "in": "query",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Search"
        ],
        "description": "Search",
        "operationId": "Search_",
        "summary": "Search"
      }
    },
    "/search-suggest": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The term to search for.",
            "in": "query",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "description": "The language for any applicable localised strings.",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd",
              "pi"
            ],
            "in": "query",
            "name": "lang",
            "required": true,
            "type": "string"
          },
          {
            "default": "web",
            "description": "The rights group to limit results to.",
            "enum": [
              "mobile",
              "tv",
              "web"
            ],
            "in": "query",
            "name": "rights",
            "required": true,
            "type": "string"
          },
          {
            "default": "available",
            "description": "Whether to return all, or available programmes",
            "enum": [
              "all",
              "available"
            ],
            "in": "query",
            "name": "availability",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Search"
        ],
        "description": "Search-suggest",
        "operationId": "Search-suggest_",
        "summary": "Search-suggest"
      }
    },
    "/status": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "Metadata"
        ],
        "description": "Get the current iPlayer business layer status. This tells the caller the status of the iPlayer data, but not necessarily the overall status of the website. In the future it might include the status of the dependent data services within the BBC.",
        "operationId": "Get_Status_",
        "summary": "Get status"
      }
    },
    "/user/purchases": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The BBC-id cookie value",
            "format": "double",
            "in": "query",
            "name": "identity_cookie",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "tags": [
          "User"
        ],
        "description": "Get user store purchases",
        "operationId": "Get_User store purchases_",
        "summary": "Get user store purchases"
      }
    },
    "/user/recommendations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The BBC-id cookie value",
            "format": "double",
            "in": "query",
            "name": "identity_cookie",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "User"
        ],
        "description": "Get user store recommendations",
        "operationId": "Get_User store recommendations_",
        "summary": "Get user store recommendations"
      }
    },
    "/user/watching": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The BBC-id cookie value",
            "format": "double",
            "in": "query",
            "name": "identity_cookie",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": [],
        "tags": [
          "User"
        ],
        "description": "Get user watching",
        "operationId": "Get_User watching_",
        "summary": "Get user watching"
      }
    }
  },
  "definitions": {
    "added": {
      "additionalProperties": false,
      "properties": {
        "programme": {
          "$ref": "#/definitions/programme"
        },
        "type": {
          "enum": [
            "added"
          ]
        },
        "urn": {
          "type": "string"
        }
      },
      "required": [
        "urn",
        "type",
        "programme"
      ],
      "type": "object"
    },
    "broadcast": {
      "additionalProperties": false,
      "properties": {
        "available_on_hd_service": {
          "type": "string",
          "x-nullable": true
        },
        "blanked": {
          "type": "boolean"
        },
        "channel_title": {
          "type": "string"
        },
        "duration": {
          "additionalProperties": false,
          "properties": {
            "text": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "value",
            "text"
          ],
          "type": "object"
        },
        "episode": {
          "$ref": "#/definitions/episode"
        },
        "episode_id": {
          "type": "string"
        },
        "events": {
          "items": {
            "additionalProperties": false,
            "properties": {
              "name": {
                "type": "string"
              },
              "system": {
                "type": "string"
              },
              "time": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "system",
              "time"
            ],
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        },
        "repeat": {
          "type": "boolean"
        },
        "scheduled_end": {
          "type": "string"
        },
        "scheduled_start": {
          "type": "string"
        },
        "service_id": {
          "type": "string"
        },
        "transmission_end": {
          "type": "string"
        },
        "transmission_start": {
          "type": "string"
        },
        "type": {
          "enum": [
            "broadcast"
          ]
        },
        "version_id": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "type",
        "scheduled_start",
        "scheduled_end",
        "repeat",
        "blanked",
        "episode",
        "episode_id",
        "version_id",
        "service_id"
      ],
      "type": "object"
    },
    "category": {
      "additionalProperties": false,
      "properties": {
        "child_episode_count": {
          "type": "number"
        },
        "child_programme_count": {
          "type": "number"
        },
        "contextual_title": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "genre",
            "accessibility",
            "national"
          ]
        },
        "parent_category": {
          "type": "string"
        },
        "sub_categories": {
          "items": {
            "$ref": "#/definitions/category"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "enum": [
            "category"
          ]
        }
      },
      "required": [
        "id",
        "title",
        "type",
        "kind"
      ],
      "type": "object"
    },
    "channel": {
      "additionalProperties": false,
      "properties": {
        "has_schedule": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "master_brand_id": {
          "type": "string"
        },
        "master_brand_title": {
          "type": "string"
        },
        "on_air": {
          "type": "boolean"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "enum": [
            "channel"
          ]
        }
      },
      "required": [
        "id",
        "title",
        "type",
        "has_schedule",
        "master_brand_id",
        "master_brand_title"
      ],
      "type": "object"
    },
    "clip": {
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string"
        },
        "images": {
          "additionalProperties": false,
          "properties": {
            "inherited_from": {
              "type": "string"
            },
            "standard": {
              "type": "string"
            },
            "type": {
              "enum": [
                "image"
              ]
            }
          },
          "required": [
            "type",
            "standard"
          ],
          "type": "object"
        },
        "labels": {
          "additionalProperties": false,
          "properties": {
            "category": {
              "type": "string"
            },
            "editorial": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "master_brand": {
          "$ref": "#/definitions/master_brand"
        },
        "onward_journey": {
          "additionalProperties": false,
          "properties": {
            "id": {
              "type": "string"
            },
            "type": {
              "enum": [
                "episode"
              ]
            }
          },
          "type": "object"
        },
        "promotion_type": {
          "enum": [
            "available_now",
            "coming_soon"
          ]
        },
        "synopses": {
          "additionalProperties": false,
          "properties": {
            "editorial": {
              "type": "string"
            },
            "large": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "small": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "title": {
          "type": "string"
        },
        "tleo_id": {
          "type": "string"
        },
        "tleo_type": {
          "enum": [
            "episode",
            "brand",
            "series"
          ]
        },
        "type": {
          "enum": [
            "clip"
          ]
        },
        "versions": {
          "items": {
            "additionalProperties": false,
            "properties": {
              "availability": {
                "additionalProperties": false,
                "properties": {
                  "accurate_start": {
                    "type": "string"
                  },
                  "end": {
                    "type": "string"
                  },
                  "remaining": {
                    "additionalProperties": false,
                    "properties": {
                      "text": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "text"
                    ],
                    "type": "object"
                  },
                  "start": {
                    "type": "string"
                  }
                },
                "required": [
                  "start"
                ],
                "type": "object"
              },
              "credits_start": {
                "type": "number"
              },
              "download": {
                "type": "boolean"
              },
              "duration": {
                "additionalProperties": false,
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "required": [
                  "text",
                  "value"
                ],
                "type": "object"
              },
              "events": {
                "items": {},
                "type": "array"
              },
              "first_broadcast": {
                "type": "string"
              },
              "first_broadcast_date_time": {
                "type": "string"
              },
              "guidance": {
                "additionalProperties": false,
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "text": {
                    "additionalProperties": false,
                    "properties": {
                      "large": {
                        "type": "string"
                      },
                      "medium": {
                        "type": "string"
                      },
                      "small": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "required": [
                  "id"
                ],
                "type": "object"
              },
              "hd": {
                "type": "boolean"
              },
              "id": {
                "type": "string"
              },
              "kind": {
                "enum": [
                  "legal",
                  "editorial",
                  "technical-replacement",
                  "original",
                  "iplayer-version",
                  "lengthened",
                  "shortened",
                  "pre-watershed",
                  "post-watershed",
                  "warnings-higher",
                  "warnings-lower",
                  "warnings-none",
                  "duplication",
                  "open-subtitled",
                  "other",
                  "audio-described",
                  "signed",
                  "webcast",
                  "simulcast"
                ]
              },
              "rrc": {
                "additionalProperties": false,
                "properties": {
                  "description": {
                    "additionalProperties": false,
                    "properties": {
                      "large": {
                        "type": "string"
                      },
                      "small": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "small",
                      "large"
                    ],
                    "type": "object"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "description"
                ],
                "type": "object"
              },
              "service_id": {
                "type": "string"
              },
              "type": {
                "enum": [
                  "version",
                  "version_large"
                ]
              },
              "uhd": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "type",
              "hd",
              "uhd",
              "download",
              "duration",
              "kind",
              "availability"
            ],
            "type": "object"
          },
          "type": "array"
        }
      },
      "required": [
        "id",
        "type",
        "title",
        "images",
        "tleo_id",
        "synopses",
        "versions",
        "master_brand"
      ],
      "type": "object"
    },
    "episode": {
      "additionalProperties": false,
      "properties": {
        "audio_described": {
          "type": "boolean"
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "childrens": {
          "type": "boolean"
        },
        "editorial_subtitle": {
          "type": "string"
        },
        "editorial_title": {
          "type": "string"
        },
        "event_group_id": {
          "type": "string"
        },
        "guidance": {
          "type": "boolean"
        },
        "has_credits": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "images": {
          "additionalProperties": false,
          "properties": {
            "character_image": {
              "type": "string"
            },
            "inherited_from": {
              "type": "string"
            },
            "live": {
              "type": "string"
            },
            "portrait": {
              "type": "string"
            },
            "programme_logo": {
              "type": "string"
            },
            "promotional": {
              "type": "string"
            },
            "promotional_with_logo": {
              "type": "string"
            },
            "standard": {
              "type": "string"
            },
            "type": {
              "enum": [
                "image"
              ]
            }
          },
          "required": [
            "type",
            "standard"
          ],
          "type": "object"
        },
        "labels": {
          "additionalProperties": false,
          "properties": {
            "category": {
              "type": "string"
            },
            "editorial": {
              "type": "string"
            },
            "editorial_category": {
              "type": "string"
            },
            "time": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "lexical_sort_letter": {
          "type": "string"
        },
        "live": {
          "type": "boolean"
        },
        "live_subtitle": {
          "type": "string"
        },
        "live_title": {
          "type": "string"
        },
        "master_brand": {
          "$ref": "#/definitions/master_brand"
        },
        "next_broadcast": {
          "additionalProperties": false,
          "properties": {
            "channel_title": {
              "type": "string"
            },
            "scheduled_start": {
              "type": "string"
            }
          },
          "required": [
            "channel_title",
            "scheduled_start"
          ],
          "type": "object"
        },
        "numeric_tleo_position": {
          "type": "number"
        },
        "original_title": {
          "type": "string"
        },
        "parent_id": {
          "type": "string"
        },
        "parent_position": {
          "type": "number"
        },
        "preview_id": {
          "type": "string"
        },
        "programme_type": {
          "enum": [
            "narrative",
            "sequential",
            "self-contained",
            "strand",
            "unclassified",
            "one-off"
          ]
        },
        "promoted": {
          "type": "boolean"
        },
        "related_links": {
          "items": {
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "string"
              },
              "kind": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "type": {
                "enum": [
                  "link"
                ]
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "url",
              "type",
              "kind",
              "title"
            ],
            "type": "object"
          },
          "type": "array"
        },
        "release_date": {
          "type": "string"
        },
        "release_date_time": {
          "type": "string"
        },
        "requires_ab": {
          "items": {
            "enum": [
              "u13",
              "u16",
              "u18",
              "o18"
            ],
            "type": "string"
          },
          "minItems": 1,
          "type": "array",
          "uniqueItems": true
        },
        "requires_sign_in": {
          "type": "boolean"
        },
        "requires_tv_licence": {
          "type": "boolean"
        },
        "signed": {
          "type": "boolean"
        },
        "slice_id": {
          "type": "string"
        },
        "slice_subtitle": {
          "type": "string"
        },
        "status": {
          "enum": [
            "available",
            "unavailable"
          ]
        },
        "subtitle": {
          "type": "string"
        },
        "synopses": {
          "additionalProperties": false,
          "properties": {
            "editorial": {
              "type": "string"
            },
            "large": {
              "type": "string"
            },
            "live": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "preview": {
              "type": "string"
            },
            "programme_small": {
              "type": "string"
            },
            "small": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "tests": {
          "items": {
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "enum": [
                  "active"
                ],
                "type": "string"
              },
              "variants": {
                "items": {
                  "properties": {
                    "data": {
                      "properties": {
                        "images": {
                          "properties": {
                            "standard": {
                              "type": "string"
                            },
                            "type": {
                              "enum": [
                                "episode",
                                "episode_large"
                              ]
                            }
                          },
                          "required": [
                            "type",
                            "standard"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "images"
                      ],
                      "type": "object"
                    },
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "data"
                  ],
                  "type": "object"
                },
                "type": "array"
              }
            },
            "required": [
              "id",
              "variants",
              "status"
            ],
            "type": "object"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "tleo_id": {
          "type": "string"
        },
        "tleo_type": {
          "enum": [
            "episode",
            "brand",
            "series"
          ]
        },
        "type": {
          "enum": [
            "episode",
            "episode_large"
          ]
        },
        "versions": {
          "items": {},
          "type": "array"
        }
      },
      "required": [
        "id",
        "type",
        "title",
        "images",
        "signed",
        "audio_described",
        "status",
        "tleo_id",
        "guidance",
        "synopses",
        "versions",
        "tleo_type",
        "categories",
        "master_brand",
        "lexical_sort_letter",
        "requires_sign_in"
      ],
      "type": "object"
    },
    "group": {
      "additionalProperties": false,
      "properties": {
        "count": {
          "type": "number"
        },
        "episode_sort_direction": {
          "type": "string"
        },
        "group_type": {
          "enum": [
            "tleo",
            "curated",
            "automated",
            "event"
          ]
        },
        "id": {
          "type": "string"
        },
        "images": {
          "additionalProperties": false,
          "properties": {
            "standard": {
              "type": "string"
            },
            "type": {
              "enum": [
                "image"
              ]
            },
            "vertical": {
              "type": "string"
            }
          },
          "required": [
            "type",
            "standard",
            "vertical"
          ],
          "type": "object"
        },
        "initial_children": {
          "items": {},
          "type": "array"
        },
        "master_brand": {
          "$ref": "#/definitions/master_brand"
        },
        "related_links": {
          "items": {
            "additionalProperties": false,
            "properties": {
              "kind": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "kind",
              "url",
              "title"
            ],
            "type": "object"
          },
          "type": "array"
        },
        "short_title": {
          "type": "string"
        },
        "stacked": {
          "type": "boolean"
        },
        "synopses": {
          "additionalProperties": false,
          "properties": {
            "large": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "small": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "enum": [
            "group",
            "group_large"
          ]
        }
      },
      "required": [
        "id",
        "type"
      ],
      "type": "object"
    },
    "ibl": {},
    "master_brand": {
      "additionalProperties": false,
      "properties": {
        "attribution": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "ident_id": {
          "type": "string"
        },
        "titles": {
          "additionalProperties": false,
          "properties": {
            "large": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "small": {
              "type": "string"
            }
          },
          "required": [
            "small",
            "medium",
            "large"
          ],
          "type": "object"
        }
      },
      "required": [
        "id",
        "titles",
        "attribution"
      ],
      "type": "object"
    },
    "programme": {
      "additionalProperties": false,
      "properties": {
        "categories": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "count": {
          "type": "number"
        },
        "id": {
          "type": "string"
        },
        "images": {
          "additionalProperties": false,
          "properties": {
            "inherited_from": {
              "type": "string"
            },
            "standard": {
              "type": "string"
            },
            "type": {
              "enum": [
                "image"
              ]
            }
          },
          "required": [
            "type",
            "standard"
          ],
          "type": "object"
        },
        "initial_children": {
          "items": {
            "$ref": "#/definitions/episode"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": false,
          "properties": {
            "category": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "lexical_sort_letter": {
          "type": "string"
        },
        "master_brand": {
          "$ref": "#/definitions/master_brand"
        },
        "programme_type": {
          "enum": [
            "narrative",
            "sequential",
            "self-contained",
            "strand",
            "unclassified",
            "one-off"
          ]
        },
        "status": {
          "enum": [
            "available",
            "unavailable"
          ]
        },
        "synopses": {
          "additionalProperties": false,
          "properties": {
            "large": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "small": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "title": {
          "type": "string"
        },
        "tleo_type": {
          "enum": [
            "brand",
            "series",
            "episode"
          ]
        },
        "type": {
          "enum": [
            "programme",
            "programme_large"
          ]
        }
      },
      "required": [
        "id",
        "type",
        "title",
        "synopses",
        "lexical_sort_letter",
        "images",
        "master_brand",
        "categories",
        "status",
        "count",
        "initial_children"
      ],
      "type": "object"
    },
    "promotion": {
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string"
        },
        "images": {
          "additionalProperties": false,
          "properties": {
            "inherited_from": {
              "type": "string"
            },
            "standard": {
              "type": "string"
            },
            "type": {
              "enum": [
                "image"
              ]
            }
          },
          "required": [
            "type",
            "standard"
          ],
          "type": "object"
        },
        "labels": {
          "additionalProperties": false,
          "properties": {
            "promotion": {
              "type": "string"
            }
          },
          "required": [
            "promotion"
          ],
          "type": "object"
        },
        "subtitle": {
          "type": "string"
        },
        "synopses": {
          "additionalProperties": false,
          "properties": {
            "large": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "small": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "enum": [
            "promotion"
          ]
        },
        "url": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "type"
      ],
      "type": "object"
    },
    "region": {
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "regional",
            "national"
          ]
        },
        "short_id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "enum": [
            "region"
          ]
        }
      },
      "required": [
        "id",
        "short_id",
        "type",
        "title",
        "kind"
      ],
      "type": "object"
    },
    "search_group": {
      "additionalProperties": false,
      "properties": {
        "episode": {
          "$ref": "#/definitions/episode"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "search_group"
          ]
        }
      },
      "required": [
        "id",
        "type",
        "episode"
      ],
      "type": "object"
    },
    "store_version": {
      "additionalProperties": false,
      "properties": {
        "download": {
          "type": "boolean"
        },
        "duration": {
          "additionalProperties": false,
          "properties": {
            "text": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "text",
            "value"
          ],
          "type": "object"
        },
        "guidance": {
          "additionalProperties": false,
          "properties": {
            "id": {
              "type": "string"
            },
            "text": {
              "additionalProperties": false,
              "properties": {
                "large": {
                  "type": "string"
                },
                "medium": {
                  "type": "string"
                },
                "small": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "required": [
            "id"
          ],
          "type": "object"
        },
        "hd": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "store_id": {
          "type": "string"
        },
        "store_profile": {
          "type": "string"
        },
        "store_session": {
          "additionalProperties": false,
          "properties": {
            "ceiling": {
              "type": "number"
            },
            "stats": {
              "properties": {
                "assetName": {
                  "type": "string"
                },
                "contentType": {
                  "type": "string"
                },
                "contentVariant": {
                  "type": "string"
                },
                "episodeName": {
                  "type": "string"
                },
                "parentPID": {
                  "type": "string"
                },
                "parentPIDType": {
                  "type": "string"
                },
                "productVariant": {
                  "type": "string"
                },
                "viewerId": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "token": {
              "type": "string"
            }
          },
          "required": [
            "token",
            "stats"
          ],
          "type": "object"
        },
        "type": {
          "enum": [
            "store_version"
          ]
        }
      },
      "required": [
        "id",
        "type",
        "store_id",
        "store_profile",
        "hd",
        "download",
        "duration",
        "kind"
      ],
      "type": "object"
    },
    "trailer": {
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "available_now",
            "watch_now",
            "coming_soon",
            "streaming_now_sounds",
            "other"
          ]
        },
        "message": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "enum": [
            "trailer"
          ]
        },
        "version_id": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "type",
        "title",
        "kind",
        "version_id",
        "message"
      ],
      "type": "object"
    },
    "user_recommendation": {
      "additionalProperties": false,
      "properties": {
        "algorithm": {
          "type": "string"
        },
        "episode": {
          "$ref": "#/definitions/episode"
        },
        "type": {
          "enum": [
            "user_recommendation"
          ]
        }
      },
      "required": [
        "algorithm",
        "type",
        "episode"
      ],
      "type": "object"
    },
    "version": {
      "additionalProperties": false,
      "properties": {
        "availability": {
          "additionalProperties": false,
          "properties": {
            "accurate_start": {
              "type": "string"
            },
            "end": {
              "type": "string"
            },
            "remaining": {
              "additionalProperties": false,
              "properties": {
                "text": {
                  "type": "string"
                }
              },
              "required": [
                "text"
              ],
              "type": "object"
            },
            "start": {
              "type": "string"
            }
          },
          "required": [
            "start"
          ],
          "type": "object"
        },
        "credits_start": {
          "type": "number"
        },
        "download": {
          "type": "boolean"
        },
        "duration": {
          "additionalProperties": false,
          "properties": {
            "text": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "text",
            "value"
          ],
          "type": "object"
        },
        "events": {
          "items": {},
          "type": "array"
        },
        "first_broadcast": {
          "type": "string"
        },
        "first_broadcast_date_time": {
          "type": "string"
        },
        "guidance": {
          "additionalProperties": false,
          "properties": {
            "id": {
              "type": "string"
            },
            "text": {
              "additionalProperties": false,
              "properties": {
                "large": {
                  "type": "string"
                },
                "medium": {
                  "type": "string"
                },
                "small": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "required": [
            "id"
          ],
          "type": "object"
        },
        "hd": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "legal",
            "editorial",
            "technical-replacement",
            "original",
            "iplayer-version",
            "lengthened",
            "shortened",
            "pre-watershed",
            "post-watershed",
            "warnings-higher",
            "warnings-lower",
            "warnings-none",
            "duplication",
            "open-subtitled",
            "other",
            "audio-described",
            "signed",
            "webcast",
            "simulcast"
          ]
        },
        "rrc": {
          "additionalProperties": false,
          "properties": {
            "description": {
              "additionalProperties": false,
              "properties": {
                "large": {
                  "type": "string"
                },
                "small": {
                  "type": "string"
                }
              },
              "required": [
                "small",
                "large"
              ],
              "type": "object"
            },
            "url": {
              "type": "string"
            }
          },
          "required": [
            "description"
          ],
          "type": "object"
        },
        "service_id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "version",
            "version_large"
          ]
        },
        "uhd": {
          "type": "boolean"
        }
      },
      "required": [
        "id",
        "type",
        "hd",
        "uhd",
        "download",
        "duration",
        "kind",
        "availability"
      ],
      "type": "object"
    },
    "watching": {
      "additionalProperties": false,
      "properties": {
        "episode": {
          "$ref": "#/definitions/episode"
        },
        "has_next": {
          "type": "boolean"
        },
        "offset": {
          "type": "number"
        },
        "programme": {
          "$ref": "#/definitions/programme"
        },
        "progress": {
          "type": "number"
        },
        "remaining": {
          "type": "number"
        },
        "status": {
          "enum": [
            "current",
            "next",
            "ended"
          ]
        },
        "type": {
          "enum": [
            "watching"
          ]
        },
        "urn": {
          "type": "string"
        },
        "version": {
          "$ref": "#/definitions/version"
        }
      },
      "required": [
        "type",
        "urn",
        "episode",
        "programme",
        "version",
        "has_next"
      ],
      "type": "object"
    }
  },
  "securityDefinitions": {
    "api_key": {
      "in": "query",
      "name": "api_key",
      "type": "apiKey"
    },
    "basic": {
      "description": "Used only by store purchases.",
      "type": "basic"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "externalDocs": {
    "description": "BBC iPlayer documentation",
    "url": "http://smethur.st/posts/176135860"
  },
  "x-components": {
    "parameters": {
      "availability": {
        "default": "available",
        "description": "Whether to return all, or available programmes",
        "enum": [
          "all",
          "available"
        ],
        "in": "query",
        "name": "availability",
        "required": true,
        "type": "string"
      },
      "category": {
        "description": "The category identifier to return results from.",
        "in": "path",
        "name": "category",
        "required": true,
        "type": "string"
      },
      "channel": {
        "description": "The channel identifier to limit results to.",
        "in": "path",
        "name": "channel",
        "required": true,
        "type": "string"
      },
      "identity_cookie": {
        "description": "The BBC-id cookie value",
        "format": "double",
        "in": "query",
        "name": "identity_cookie",
        "required": true,
        "type": "number"
      },
      "initial_child_count": {
        "default": 4,
        "description": "The depth to return child entities.",
        "in": "query",
        "maximum": 4,
        "minimum": 1,
        "name": "initial_child_count",
        "required": true,
        "type": "integer"
      },
      "lang": {
        "description": "The language for any applicable localised strings.",
        "enum": [
          "en",
          "cy",
          "ga",
          "gd",
          "pi"
        ],
        "in": "query",
        "name": "lang",
        "required": true,
        "type": "string"
      },
      "mixin": {
        "collectionFormat": "multi",
        "description": "Request additional data in the output",
        "enum": [
          "live",
          "promotions"
        ],
        "in": "query",
        "items": {
          "type": "string"
        },
        "name": "mixin",
        "required": false,
        "type": "array"
      },
      "page": {
        "description": "The page index.",
        "format": "int64",
        "in": "query",
        "name": "page",
        "required": true,
        "type": "integer"
      },
      "per_page": {
        "description": "The number of results to return.",
        "format": "int64",
        "in": "query",
        "name": "per_page",
        "required": true,
        "type": "integer"
      },
      "pid": {
        "description": "The programme identifier.",
        "in": "path",
        "minLength": 8,
        "name": "pid",
        "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
        "required": true,
        "type": "string"
      },
      "q": {
        "description": "The term to search for.",
        "in": "query",
        "name": "q",
        "required": true,
        "type": "string"
      },
      "rights": {
        "default": "web",
        "description": "The rights group to limit results to.",
        "enum": [
          "mobile",
          "tv",
          "web"
        ],
        "in": "query",
        "name": "rights",
        "required": true,
        "type": "string"
      },
      "sort": {
        "description": "The sort order of the results.",
        "in": "query",
        "name": "sort",
        "required": true,
        "type": "string"
      },
      "sort_direction": {
        "description": "Whether to sort ascending or descending",
        "enum": [
          "asc",
          "desc"
        ],
        "in": "query",
        "name": "sort_direction",
        "required": true,
        "type": "string"
      }
    }
  }
}