{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@interzoid.com",
      "name": "API Support",
      "url": "https://www.interzoid.com",
      "x-twitter": "interzoid"
    },
    "description": "This API provides geographic information for a global telephone number, including city and country information, primary languages spoken, and mobile device identification.",
    "license": {
      "name": "Interzoid license",
      "url": "https://www.interzoid.com/license"
    },
    "termsOfService": "https://www.interzoid.com/terms",
    "title": "Interzoid Get Global Phone Number Information API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://oas.interzoid.com/api/getglobalnumberinfo.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "interzoid.com",
    "x-serviceName": "getglobalnumberinfo",
    "x-datafire": {
      "name": "interzoid_getglobalnumberinfo",
      "type": "openapi"
    }
  },
  "host": "api.interzoid.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/getglobalnumberinfo": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Your Interzoid license API key. Register at www.interzoid.com/register",
            "in": "query",
            "name": "license",
            "required": true,
            "type": "string"
          },
          {
            "description": "International number (with country code) to retrieve information for",
            "in": "query",
            "name": "intlnumber",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Global telephone demographic information",
            "schema": {
              "properties": {
                "Code": {
                  "type": "string"
                },
                "Country": {
                  "type": "string"
                },
                "Credits": {
                  "type": "string"
                },
                "Language2": {
                  "type": "string"
                },
                "Language3": {
                  "type": "string"
                },
                "Mobile": {
                  "type": "string"
                },
                "PrimaryCity": {
                  "type": "string"
                },
                "PrimaryLanguage": {
                  "type": "string"
                },
                "Region": {
                  "type": "string"
                },
                "Wealth": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "bad request - insufficient parameters"
          },
          "402": {
            "description": "credits exhausted"
          },
          "403": {
            "description": "invalid license API key"
          },
          "404": {
            "description": "telephone number not found"
          },
          "405": {
            "description": "method not allowed"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "tags": [
          "Global Phone Number Information"
        ],
        "description": "Get demographic information for a global telephone number, including city and country information, primary languages spoken, and mobile device identification.",
        "operationId": "getglobalnumberinfo",
        "summary": "Get demographic information for a global telephone number"
      }
    }
  },
  "externalDocs": {
    "description": "API home page and documentation",
    "url": "https://www.interzoid.com/services/getglobalnumberinfo"
  }
}