{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>AWS CodeDeploy</fullname> <p>AWS CodeDeploy is a deployment service that automates application deployments to Amazon EC2 instances, on-premises instances running in your own facility, serverless AWS Lambda functions, or applications in an Amazon ECS service.</p> <p>You can deploy a nearly unlimited variety of application content, such as an updated Lambda function, updated applications in an Amazon ECS service, code, web and configuration files, executables, packages, scripts, multimedia files, and so on. AWS CodeDeploy can deploy application content stored in Amazon S3 buckets, GitHub repositories, or Bitbucket repositories. You do not need to make changes to your existing code before you can use AWS CodeDeploy.</p> <p>AWS CodeDeploy makes it easier for you to rapidly release new features, helps you avoid downtime during application deployment, and handles the complexity of updating your applications, without many of the risks associated with error-prone manual deployments.</p> <p> <b>AWS CodeDeploy Components</b> </p> <p>Use the information in this guide to help you work with the following AWS CodeDeploy components:</p> <ul> <li> <p> <b>Application</b>: A name that uniquely identifies the application you want to deploy. AWS CodeDeploy uses this name, which functions as a container, to ensure the correct combination of revision, deployment configuration, and deployment group are referenced during a deployment.</p> </li> <li> <p> <b>Deployment group</b>: A set of individual instances, CodeDeploy Lambda deployment configuration settings, or an Amazon ECS service and network details. A Lambda deployment group specifies how to route traffic to a new version of a Lambda function. An Amazon ECS deployment group specifies the service created in Amazon ECS to deploy, a load balancer, and a listener to reroute production traffic to an updated containerized application. An EC2/On-premises deployment group contains individually tagged instances, Amazon EC2 instances in Amazon EC2 Auto Scaling groups, or both. All deployment groups can specify optional trigger, alarm, and rollback settings.</p> </li> <li> <p> <b>Deployment configuration</b>: A set of deployment rules and deployment success and failure conditions used by AWS CodeDeploy during a deployment.</p> </li> <li> <p> <b>Deployment</b>: The process and the components used when updating a Lambda function, a containerized application in an Amazon ECS service, or of installing content on one or more instances. </p> </li> <li> <p> <b>Application revisions</b>: For an AWS Lambda deployment, this is an AppSpec file that specifies the Lambda function to be updated and one or more functions to validate deployment lifecycle events. For an Amazon ECS deployment, this is an AppSpec file that specifies the Amazon ECS task definition, container, and port where production traffic is rerouted. For an EC2/On-premises deployment, this is an archive file that contains source content—source code, webpages, executable files, and deployment scripts—along with an AppSpec file. Revisions are stored in Amazon S3 buckets or GitHub repositories. For Amazon S3, a revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For GitHub, a revision is uniquely identified by its commit ID.</p> </li> </ul> <p>This guide also contains information to help you get details about the instances in your deployments, to make on-premises instances available for AWS CodeDeploy deployments, to get details about a Lambda function deployment, and to get details about Amazon ECS service deployments.</p> <p> <b>AWS CodeDeploy Information Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide\">AWS CodeDeploy User Guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/codedeploy/latest/APIReference/\">AWS CodeDeploy API Reference Guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cli/latest/reference/deploy/index.html\">AWS CLI Reference for AWS CodeDeploy</a> </p> </li> <li> <p> <a href=\"https://forums.aws.amazon.com/forum.jspa?forumID=179\">AWS CodeDeploy Developer Forum</a> </p> </li> </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS CodeDeploy",
    "version": "2014-10-06",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codedeploy-2014-10-06.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "codedeploy",
    "x-datafire": {
      "name": "amazonaws_codedeploy",
      "type": "openapi"
    }
  },
  "host": "codedeploy.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=CodeDeploy_20141006.AddTagsToOnPremisesInstances": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.AddTagsToOnPremisesInstances"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsToOnPremisesInstancesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InstanceNameRequiredException",
            "schema": {
              "$ref": "#/definitions/InstanceNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidInstanceNameException",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceNameException"
            }
          },
          "482": {
            "description": "TagRequiredException",
            "schema": {
              "$ref": "#/definitions/TagRequiredException"
            }
          },
          "483": {
            "description": "InvalidTagException",
            "schema": {
              "$ref": "#/definitions/InvalidTagException"
            }
          },
          "484": {
            "description": "TagLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededException"
            }
          },
          "485": {
            "description": "InstanceLimitExceededException",
            "schema": {
              "$ref": "#/definitions/InstanceLimitExceededException"
            }
          },
          "486": {
            "description": "InstanceNotRegisteredException",
            "schema": {
              "$ref": "#/definitions/InstanceNotRegisteredException"
            }
          }
        },
        "description": "Adds tags to on-premises instances.",
        "operationId": "AddTagsToOnPremisesInstances"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.BatchGetApplicationRevisions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.BatchGetApplicationRevisions"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetApplicationRevisionsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetApplicationRevisionsOutput"
            }
          },
          "480": {
            "description": "ApplicationDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ApplicationDoesNotExistException"
            }
          },
          "481": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "482": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "483": {
            "description": "RevisionRequiredException",
            "schema": {
              "$ref": "#/definitions/RevisionRequiredException"
            }
          },
          "484": {
            "description": "InvalidRevisionException",
            "schema": {
              "$ref": "#/definitions/InvalidRevisionException"
            }
          },
          "485": {
            "description": "BatchLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchLimitExceededException"
            }
          }
        },
        "description": "Gets information about one or more application revisions. The maximum number of application revisions that can be returned is 25.",
        "operationId": "BatchGetApplicationRevisions"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.BatchGetApplications": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.BatchGetApplications"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetApplicationsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetApplicationsOutput"
            }
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "ApplicationDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ApplicationDoesNotExistException"
            }
          },
          "483": {
            "description": "BatchLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchLimitExceededException"
            }
          }
        },
        "description": "Gets information about one or more applications. The maximum number of applications that can be returned is 100.",
        "operationId": "BatchGetApplications"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.BatchGetDeploymentGroups": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.BatchGetDeploymentGroups"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetDeploymentGroupsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetDeploymentGroupsOutput"
            }
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "ApplicationDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ApplicationDoesNotExistException"
            }
          },
          "483": {
            "description": "DeploymentGroupNameRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupNameRequiredException"
            }
          },
          "484": {
            "description": "InvalidDeploymentGroupNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentGroupNameException"
            }
          },
          "485": {
            "description": "BatchLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchLimitExceededException"
            }
          },
          "486": {
            "description": "DeploymentConfigDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigDoesNotExistException"
            }
          }
        },
        "description": "Gets information about one or more deployment groups.",
        "operationId": "BatchGetDeploymentGroups"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.BatchGetDeploymentInstances": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.BatchGetDeploymentInstances"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetDeploymentInstancesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetDeploymentInstancesOutput"
            }
          },
          "480": {
            "description": "DeploymentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentIdRequiredException"
            }
          },
          "481": {
            "description": "DeploymentDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentDoesNotExistException"
            }
          },
          "482": {
            "description": "InstanceIdRequiredException",
            "schema": {
              "$ref": "#/definitions/InstanceIdRequiredException"
            }
          },
          "483": {
            "description": "InvalidDeploymentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentIdException"
            }
          },
          "484": {
            "description": "InvalidInstanceNameException",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceNameException"
            }
          },
          "485": {
            "description": "BatchLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchLimitExceededException"
            }
          },
          "486": {
            "description": "InvalidComputePlatformException",
            "schema": {
              "$ref": "#/definitions/InvalidComputePlatformException"
            }
          }
        },
        "deprecated": true,
        "description": "<note> <p> This method works, but is deprecated. Use <code>BatchGetDeploymentTargets</code> instead. </p> </note> <p> Returns an array of one or more instances associated with a deployment. This method works with EC2/On-premises and AWS Lambda compute platforms. The newer <code>BatchGetDeploymentTargets</code> works with all compute platforms. The maximum number of instances that can be returned is 25.</p>",
        "operationId": "BatchGetDeploymentInstances"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.BatchGetDeploymentTargets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.BatchGetDeploymentTargets"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetDeploymentTargetsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetDeploymentTargetsOutput"
            }
          },
          "480": {
            "description": "InvalidDeploymentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentIdException"
            }
          },
          "481": {
            "description": "DeploymentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentIdRequiredException"
            }
          },
          "482": {
            "description": "DeploymentDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentDoesNotExistException"
            }
          },
          "483": {
            "description": "DeploymentNotStartedException",
            "schema": {
              "$ref": "#/definitions/DeploymentNotStartedException"
            }
          },
          "484": {
            "description": "DeploymentTargetIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetIdRequiredException"
            }
          },
          "485": {
            "description": "InvalidDeploymentTargetIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentTargetIdException"
            }
          },
          "486": {
            "description": "DeploymentTargetDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetDoesNotExistException"
            }
          },
          "487": {
            "description": "DeploymentTargetListSizeExceededException",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetListSizeExceededException"
            }
          },
          "488": {
            "description": "InstanceDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/InstanceDoesNotExistException"
            }
          }
        },
        "description": "<p> Returns an array of one or more targets associated with a deployment. This method works with all compute types and should be used instead of the deprecated <code>BatchGetDeploymentInstances</code>. The maximum number of targets that can be returned is 25.</p> <p> The type of targets returned depends on the deployment's compute platform or deployment method: </p> <ul> <li> <p> <b>EC2/On-premises</b>: Information about EC2 instance targets. </p> </li> <li> <p> <b>AWS Lambda</b>: Information about Lambda functions targets. </p> </li> <li> <p> <b>Amazon ECS</b>: Information about Amazon ECS service targets. </p> </li> <li> <p> <b>CloudFormation</b>: Information about targets of blue/green deployments initiated by a CloudFormation stack update.</p> </li> </ul>",
        "operationId": "BatchGetDeploymentTargets"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.BatchGetDeployments": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.BatchGetDeployments"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetDeploymentsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetDeploymentsOutput"
            }
          },
          "480": {
            "description": "DeploymentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentIdRequiredException"
            }
          },
          "481": {
            "description": "InvalidDeploymentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentIdException"
            }
          },
          "482": {
            "description": "BatchLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchLimitExceededException"
            }
          }
        },
        "description": "Gets information about one or more deployments. The maximum number of deployments that can be returned is 25.",
        "operationId": "BatchGetDeployments"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.BatchGetOnPremisesInstances": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.BatchGetOnPremisesInstances"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetOnPremisesInstancesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetOnPremisesInstancesOutput"
            }
          },
          "480": {
            "description": "InstanceNameRequiredException",
            "schema": {
              "$ref": "#/definitions/InstanceNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidInstanceNameException",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceNameException"
            }
          },
          "482": {
            "description": "BatchLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchLimitExceededException"
            }
          }
        },
        "description": "Gets information about one or more on-premises instances. The maximum number of on-premises instances that can be returned is 25.",
        "operationId": "BatchGetOnPremisesInstances"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.ContinueDeployment": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.ContinueDeployment"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContinueDeploymentInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "DeploymentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentIdRequiredException"
            }
          },
          "481": {
            "description": "DeploymentDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentDoesNotExistException"
            }
          },
          "482": {
            "description": "DeploymentAlreadyCompletedException",
            "schema": {
              "$ref": "#/definitions/DeploymentAlreadyCompletedException"
            }
          },
          "483": {
            "description": "InvalidDeploymentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentIdException"
            }
          },
          "484": {
            "description": "DeploymentIsNotInReadyStateException",
            "schema": {
              "$ref": "#/definitions/DeploymentIsNotInReadyStateException"
            }
          },
          "485": {
            "description": "UnsupportedActionForDeploymentTypeException",
            "schema": {
              "$ref": "#/definitions/UnsupportedActionForDeploymentTypeException"
            }
          },
          "486": {
            "description": "InvalidDeploymentWaitTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentWaitTypeException"
            }
          },
          "487": {
            "description": "InvalidDeploymentStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentStatusException"
            }
          }
        },
        "description": "For a blue/green deployment, starts the process of rerouting traffic from instances in the original environment to instances in the replacement environment without waiting for a specified wait time to elapse. (Traffic rerouting, which is achieved by registering instances in the replacement environment with the load balancer, can start as soon as all instances have a status of Ready.) ",
        "operationId": "ContinueDeployment"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.CreateApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.CreateApplication"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateApplicationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateApplicationOutput"
            }
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "ApplicationAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ApplicationAlreadyExistsException"
            }
          },
          "483": {
            "description": "ApplicationLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ApplicationLimitExceededException"
            }
          },
          "484": {
            "description": "InvalidComputePlatformException",
            "schema": {
              "$ref": "#/definitions/InvalidComputePlatformException"
            }
          },
          "485": {
            "description": "InvalidTagsToAddException",
            "schema": {
              "$ref": "#/definitions/InvalidTagsToAddException"
            }
          }
        },
        "description": "Creates an application.",
        "operationId": "CreateApplication"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.CreateDeployment": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.CreateDeployment"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDeploymentInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDeploymentOutput"
            }
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "ApplicationDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ApplicationDoesNotExistException"
            }
          },
          "483": {
            "description": "DeploymentGroupNameRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupNameRequiredException"
            }
          },
          "484": {
            "description": "InvalidDeploymentGroupNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentGroupNameException"
            }
          },
          "485": {
            "description": "DeploymentGroupDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupDoesNotExistException"
            }
          },
          "486": {
            "description": "RevisionRequiredException",
            "schema": {
              "$ref": "#/definitions/RevisionRequiredException"
            }
          },
          "487": {
            "description": "RevisionDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RevisionDoesNotExistException"
            }
          },
          "488": {
            "description": "InvalidRevisionException",
            "schema": {
              "$ref": "#/definitions/InvalidRevisionException"
            }
          },
          "489": {
            "description": "InvalidDeploymentConfigNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentConfigNameException"
            }
          },
          "490": {
            "description": "DeploymentConfigDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigDoesNotExistException"
            }
          },
          "491": {
            "description": "DescriptionTooLongException",
            "schema": {
              "$ref": "#/definitions/DescriptionTooLongException"
            }
          },
          "492": {
            "description": "DeploymentLimitExceededException",
            "schema": {
              "$ref": "#/definitions/DeploymentLimitExceededException"
            }
          },
          "493": {
            "description": "InvalidTargetInstancesException",
            "schema": {
              "$ref": "#/definitions/InvalidTargetInstancesException"
            }
          },
          "494": {
            "description": "InvalidAutoRollbackConfigException",
            "schema": {
              "$ref": "#/definitions/InvalidAutoRollbackConfigException"
            }
          },
          "495": {
            "description": "InvalidLoadBalancerInfoException",
            "schema": {
              "$ref": "#/definitions/InvalidLoadBalancerInfoException"
            }
          },
          "496": {
            "description": "InvalidFileExistsBehaviorException",
            "schema": {
              "$ref": "#/definitions/InvalidFileExistsBehaviorException"
            }
          },
          "497": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          },
          "498": {
            "description": "InvalidAutoScalingGroupException",
            "schema": {
              "$ref": "#/definitions/InvalidAutoScalingGroupException"
            }
          },
          "499": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "500": {
            "description": "InvalidUpdateOutdatedInstancesOnlyValueException",
            "schema": {
              "$ref": "#/definitions/InvalidUpdateOutdatedInstancesOnlyValueException"
            }
          },
          "501": {
            "description": "InvalidIgnoreApplicationStopFailuresValueException",
            "schema": {
              "$ref": "#/definitions/InvalidIgnoreApplicationStopFailuresValueException"
            }
          },
          "502": {
            "description": "InvalidGitHubAccountTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidGitHubAccountTokenException"
            }
          },
          "503": {
            "description": "InvalidTrafficRoutingConfigurationException",
            "schema": {
              "$ref": "#/definitions/InvalidTrafficRoutingConfigurationException"
            }
          }
        },
        "description": "Deploys an application revision through the specified deployment group.",
        "operationId": "CreateDeployment"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.CreateDeploymentConfig": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.CreateDeploymentConfig"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDeploymentConfigInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDeploymentConfigOutput"
            }
          },
          "480": {
            "description": "InvalidDeploymentConfigNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentConfigNameException"
            }
          },
          "481": {
            "description": "DeploymentConfigNameRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigNameRequiredException"
            }
          },
          "482": {
            "description": "DeploymentConfigAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigAlreadyExistsException"
            }
          },
          "483": {
            "description": "InvalidMinimumHealthyHostValueException",
            "schema": {
              "$ref": "#/definitions/InvalidMinimumHealthyHostValueException"
            }
          },
          "484": {
            "description": "DeploymentConfigLimitExceededException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigLimitExceededException"
            }
          },
          "485": {
            "description": "InvalidComputePlatformException",
            "schema": {
              "$ref": "#/definitions/InvalidComputePlatformException"
            }
          },
          "486": {
            "description": "InvalidTrafficRoutingConfigurationException",
            "schema": {
              "$ref": "#/definitions/InvalidTrafficRoutingConfigurationException"
            }
          }
        },
        "description": " Creates a deployment configuration. ",
        "operationId": "CreateDeploymentConfig"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.CreateDeploymentGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.CreateDeploymentGroup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDeploymentGroupInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDeploymentGroupOutput"
            }
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "ApplicationDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ApplicationDoesNotExistException"
            }
          },
          "483": {
            "description": "DeploymentGroupNameRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupNameRequiredException"
            }
          },
          "484": {
            "description": "InvalidDeploymentGroupNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentGroupNameException"
            }
          },
          "485": {
            "description": "DeploymentGroupAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupAlreadyExistsException"
            }
          },
          "486": {
            "description": "InvalidEC2TagException",
            "schema": {
              "$ref": "#/definitions/InvalidEC2TagException"
            }
          },
          "487": {
            "description": "InvalidTagException",
            "schema": {
              "$ref": "#/definitions/InvalidTagException"
            }
          },
          "488": {
            "description": "InvalidAutoScalingGroupException",
            "schema": {
              "$ref": "#/definitions/InvalidAutoScalingGroupException"
            }
          },
          "489": {
            "description": "InvalidDeploymentConfigNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentConfigNameException"
            }
          },
          "490": {
            "description": "DeploymentConfigDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigDoesNotExistException"
            }
          },
          "491": {
            "description": "RoleRequiredException",
            "schema": {
              "$ref": "#/definitions/RoleRequiredException"
            }
          },
          "492": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          },
          "493": {
            "description": "DeploymentGroupLimitExceededException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupLimitExceededException"
            }
          },
          "494": {
            "description": "LifecycleHookLimitExceededException",
            "schema": {
              "$ref": "#/definitions/LifecycleHookLimitExceededException"
            }
          },
          "495": {
            "description": "InvalidTriggerConfigException",
            "schema": {
              "$ref": "#/definitions/InvalidTriggerConfigException"
            }
          },
          "496": {
            "description": "TriggerTargetsLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TriggerTargetsLimitExceededException"
            }
          },
          "497": {
            "description": "InvalidAlarmConfigException",
            "schema": {
              "$ref": "#/definitions/InvalidAlarmConfigException"
            }
          },
          "498": {
            "description": "AlarmsLimitExceededException",
            "schema": {
              "$ref": "#/definitions/AlarmsLimitExceededException"
            }
          },
          "499": {
            "description": "InvalidAutoRollbackConfigException",
            "schema": {
              "$ref": "#/definitions/InvalidAutoRollbackConfigException"
            }
          },
          "500": {
            "description": "InvalidLoadBalancerInfoException",
            "schema": {
              "$ref": "#/definitions/InvalidLoadBalancerInfoException"
            }
          },
          "501": {
            "description": "InvalidDeploymentStyleException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentStyleException"
            }
          },
          "502": {
            "description": "InvalidBlueGreenDeploymentConfigurationException",
            "schema": {
              "$ref": "#/definitions/InvalidBlueGreenDeploymentConfigurationException"
            }
          },
          "503": {
            "description": "InvalidEC2TagCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidEC2TagCombinationException"
            }
          },
          "504": {
            "description": "InvalidOnPremisesTagCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidOnPremisesTagCombinationException"
            }
          },
          "505": {
            "description": "TagSetListLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TagSetListLimitExceededException"
            }
          },
          "506": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "507": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "508": {
            "description": "InvalidECSServiceException",
            "schema": {
              "$ref": "#/definitions/InvalidECSServiceException"
            }
          },
          "509": {
            "description": "InvalidTargetGroupPairException",
            "schema": {
              "$ref": "#/definitions/InvalidTargetGroupPairException"
            }
          },
          "510": {
            "description": "ECSServiceMappingLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ECSServiceMappingLimitExceededException"
            }
          },
          "511": {
            "description": "InvalidTagsToAddException",
            "schema": {
              "$ref": "#/definitions/InvalidTagsToAddException"
            }
          },
          "512": {
            "description": "InvalidTrafficRoutingConfigurationException",
            "schema": {
              "$ref": "#/definitions/InvalidTrafficRoutingConfigurationException"
            }
          }
        },
        "description": "Creates a deployment group to which application revisions are deployed.",
        "operationId": "CreateDeploymentGroup"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.DeleteApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.DeleteApplication"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteApplicationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          }
        },
        "description": "Deletes an application.",
        "operationId": "DeleteApplication"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.DeleteDeploymentConfig": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.DeleteDeploymentConfig"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDeploymentConfigInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidDeploymentConfigNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentConfigNameException"
            }
          },
          "481": {
            "description": "DeploymentConfigNameRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigNameRequiredException"
            }
          },
          "482": {
            "description": "DeploymentConfigInUseException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigInUseException"
            }
          },
          "483": {
            "description": "InvalidOperationException",
            "schema": {
              "$ref": "#/definitions/InvalidOperationException"
            }
          }
        },
        "description": "<p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>",
        "operationId": "DeleteDeploymentConfig"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.DeleteDeploymentGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.DeleteDeploymentGroup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDeploymentGroupInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDeploymentGroupOutput"
            }
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "DeploymentGroupNameRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupNameRequiredException"
            }
          },
          "483": {
            "description": "InvalidDeploymentGroupNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentGroupNameException"
            }
          },
          "484": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          }
        },
        "description": "Deletes a deployment group.",
        "operationId": "DeleteDeploymentGroup"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.DeleteGitHubAccountToken": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.DeleteGitHubAccountToken"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteGitHubAccountTokenInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteGitHubAccountTokenOutput"
            }
          },
          "480": {
            "description": "GitHubAccountTokenNameRequiredException",
            "schema": {
              "$ref": "#/definitions/GitHubAccountTokenNameRequiredException"
            }
          },
          "481": {
            "description": "GitHubAccountTokenDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/GitHubAccountTokenDoesNotExistException"
            }
          },
          "482": {
            "description": "InvalidGitHubAccountTokenNameException",
            "schema": {
              "$ref": "#/definitions/InvalidGitHubAccountTokenNameException"
            }
          },
          "483": {
            "description": "ResourceValidationException",
            "schema": {
              "$ref": "#/definitions/ResourceValidationException"
            }
          },
          "484": {
            "description": "OperationNotSupportedException",
            "schema": {
              "$ref": "#/definitions/OperationNotSupportedException"
            }
          }
        },
        "description": "Deletes a GitHub account connection.",
        "operationId": "DeleteGitHubAccountToken"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.DeleteResourcesByExternalId": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.DeleteResourcesByExternalId"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteResourcesByExternalIdInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteResourcesByExternalIdOutput"
            }
          }
        },
        "description": "Deletes resources linked to an external ID.",
        "operationId": "DeleteResourcesByExternalId"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.DeregisterOnPremisesInstance": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.DeregisterOnPremisesInstance"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeregisterOnPremisesInstanceInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InstanceNameRequiredException",
            "schema": {
              "$ref": "#/definitions/InstanceNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidInstanceNameException",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceNameException"
            }
          }
        },
        "description": "Deregisters an on-premises instance.",
        "operationId": "DeregisterOnPremisesInstance"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.GetApplication": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.GetApplication"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetApplicationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApplicationOutput"
            }
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "ApplicationDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ApplicationDoesNotExistException"
            }
          }
        },
        "description": "Gets information about an application.",
        "operationId": "GetApplication"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.GetApplicationRevision": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.GetApplicationRevision"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetApplicationRevisionInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApplicationRevisionOutput"
            }
          },
          "480": {
            "description": "ApplicationDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ApplicationDoesNotExistException"
            }
          },
          "481": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "482": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "483": {
            "description": "RevisionDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/RevisionDoesNotExistException"
            }
          },
          "484": {
            "description": "RevisionRequiredException",
            "schema": {
              "$ref": "#/definitions/RevisionRequiredException"
            }
          },
          "485": {
            "description": "InvalidRevisionException",
            "schema": {
              "$ref": "#/definitions/InvalidRevisionException"
            }
          }
        },
        "description": "Gets information about an application revision.",
        "operationId": "GetApplicationRevision"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.GetDeployment": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.GetDeployment"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDeploymentInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDeploymentOutput"
            }
          },
          "480": {
            "description": "DeploymentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentIdRequiredException"
            }
          },
          "481": {
            "description": "InvalidDeploymentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentIdException"
            }
          },
          "482": {
            "description": "DeploymentDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentDoesNotExistException"
            }
          }
        },
        "description": "<p>Gets information about a deployment.</p> <note> <p> The <code>content</code> property of the <code>appSpecContent</code> object in the returned revision is always null. Use <code>GetApplicationRevision</code> and the <code>sha256</code> property of the returned <code>appSpecContent</code> object to get the content of the deployment’s AppSpec file. </p> </note>",
        "operationId": "GetDeployment"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.GetDeploymentConfig": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.GetDeploymentConfig"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDeploymentConfigInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDeploymentConfigOutput"
            }
          },
          "480": {
            "description": "InvalidDeploymentConfigNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentConfigNameException"
            }
          },
          "481": {
            "description": "DeploymentConfigNameRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigNameRequiredException"
            }
          },
          "482": {
            "description": "DeploymentConfigDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigDoesNotExistException"
            }
          },
          "483": {
            "description": "InvalidComputePlatformException",
            "schema": {
              "$ref": "#/definitions/InvalidComputePlatformException"
            }
          }
        },
        "description": "Gets information about a deployment configuration.",
        "operationId": "GetDeploymentConfig"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.GetDeploymentGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.GetDeploymentGroup"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDeploymentGroupInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDeploymentGroupOutput"
            }
          },
          "480": {
            "description": "ApplicationNameRequiredException",
            "schema": {
              "$ref": "#/definitions/ApplicationNameRequiredException"
            }
          },
          "481": {
            "description": "InvalidApplicationNameException",
            "schema": {
              "$ref": "#/definitions/InvalidApplicationNameException"
            }
          },
          "482": {
            "description": "ApplicationDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/ApplicationDoesNotExistException"
            }
          },
          "483": {
            "description": "DeploymentGroupNameRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupNameRequiredException"
            }
          },
          "484": {
            "description": "InvalidDeploymentGroupNameException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentGroupNameException"
            }
          },
          "485": {
            "description": "DeploymentGroupDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentGroupDoesNotExistException"
            }
          },
          "486": {
            "description": "DeploymentConfigDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentConfigDoesNotExistException"
            }
          }
        },
        "description": "Gets information about a deployment group.",
        "operationId": "GetDeploymentGroup"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.GetDeploymentInstance": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.GetDeploymentInstance"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDeploymentInstanceInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDeploymentInstanceOutput"
            }
          },
          "480": {
            "description": "DeploymentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentIdRequiredException"
            }
          },
          "481": {
            "description": "DeploymentDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentDoesNotExistException"
            }
          },
          "482": {
            "description": "InstanceIdRequiredException",
            "schema": {
              "$ref": "#/definitions/InstanceIdRequiredException"
            }
          },
          "483": {
            "description": "InvalidDeploymentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentIdException"
            }
          },
          "484": {
            "description": "InstanceDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/InstanceDoesNotExistException"
            }
          },
          "485": {
            "description": "InvalidInstanceNameException",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceNameException"
            }
          },
          "486": {
            "description": "InvalidComputePlatformException",
            "schema": {
              "$ref": "#/definitions/InvalidComputePlatformException"
            }
          }
        },
        "deprecated": true,
        "description": "Gets information about an instance as part of a deployment.",
        "operationId": "GetDeploymentInstance"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.GetDeploymentTarget": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.GetDeploymentTarget"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDeploymentTargetInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDeploymentTargetOutput"
            }
          },
          "480": {
            "description": "InvalidDeploymentIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentIdException"
            }
          },
          "481": {
            "description": "DeploymentIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentIdRequiredException"
            }
          },
          "482": {
            "description": "DeploymentDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentDoesNotExistException"
            }
          },
          "483": {
            "description": "DeploymentNotStartedException",
            "schema": {
              "$ref": "#/definitions/DeploymentNotStartedException"
            }
          },
          "484": {
            "description": "DeploymentTargetIdRequiredException",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetIdRequiredException"
            }
          },
          "485": {
            "description": "InvalidDeploymentTargetIdException",
            "schema": {
              "$ref": "#/definitions/InvalidDeploymentTargetIdException"
            }
          },
          "486": {
            "description": "DeploymentTargetDoesNotExistException",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetDoesNotExistException"
            }
          },
          "487": {
            "description": "InvalidInstanceNameException",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceNameException"
            }
          }
        },
        "description": " Returns information about a deployment target. ",
        "operationId": "GetDeploymentTarget"
      }
    },
    "/#X-Amz-Target=CodeDeploy_20141006.GetOnPremisesInstance": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "CodeDeploy_20141006.GetOnPremisesInstance"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOnPremisesInstanceInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetOnPremisesInstanceOutput"
            }
          },
          "480": {
            "description": "InstanceNameRequiredException",
            "schema": {
              "$ref": "#/definitions/InstanceNameRequiredException"
            }
          },
          "481": {
            "description": "InstanceNotRegisteredException",
            "schema": {
              "$ref": "#/definitions/InstanceNotRegisteredException"
            }
          },
          "482": {
            "description": "InvalidInstanceNameException",
[...]
