{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "es.amazonaws.com",
  "basePath": "/",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Elasticsearch Service",
    "version": "2015-01-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/es-2015-01-01.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "es",
    "x-datafire": {
      "name": "amazonaws_es",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/es/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/2015-01-01/domain": {
      "get": {
        "description": "Returns the name of all Elasticsearch domains owned by the current user's account. ",
        "operationId": "ListDomainNames",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDomainNamesResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/2015-01-01/es/domain": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.",
        "operationId": "CreateElasticsearchDomain",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateElasticsearchDomainRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateElasticsearchDomainResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          },
          "482": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "483": {
            "description": "InvalidTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidTypeException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "486": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/2015-01-01/es/domain-info": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.",
        "operationId": "DescribeElasticsearchDomains",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainsResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/2015-01-01/es/domain/{DomainName}": {
      "delete": {
        "description": "Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.",
        "operationId": "DeleteElasticsearchDomain",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteElasticsearchDomainRequest"
            }
          },
          {
            "in": "path",
            "name": "DomainName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteElasticsearchDomainResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      },
      "get": {
        "description": "Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.",
        "operationId": "DescribeElasticsearchDomain",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainRequest"
            }
          },
          {
            "in": "path",
            "name": "DomainName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/2015-01-01/es/domain/{DomainName}/config": {
      "get": {
        "description": "Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.",
        "operationId": "DescribeElasticsearchDomainConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainConfigRequest"
            }
          },
          {
            "in": "path",
            "name": "DomainName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainConfigResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. ",
        "operationId": "UpdateElasticsearchDomainConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateElasticsearchDomainConfigRequest"
            }
          },
          {
            "in": "path",
            "name": "DomainName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateElasticsearchDomainConfigResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "InvalidTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidTypeException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "485": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}": {
      "get": {
        "description": " Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion. When modifying existing Domain, specify the <code> <a>DomainName</a> </code> to know what Limits are supported for modifying. ",
        "operationId": "DescribeElasticsearchInstanceTypeLimits",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchInstanceTypeLimitsRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ElasticsearchVersion",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchInstanceTypeLimitsResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "InvalidTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidTypeException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "485": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/2015-01-01/es/instanceTypes/{ElasticsearchVersion}": {
      "get": {
        "description": "List all Elasticsearch instance types that are supported for given ElasticsearchVersion",
        "operationId": "ListElasticsearchInstanceTypes",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListElasticsearchInstanceTypesRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ElasticsearchVersion",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListElasticsearchInstanceTypesResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/2015-01-01/es/purchaseReservedInstanceOffering": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Allows you to purchase reserved Elasticsearch instances.",
        "operationId": "PurchaseReservedElasticsearchInstanceOffering",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseReservedElasticsearchInstanceOfferingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseReservedElasticsearchInstanceOfferingResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          },
          "484": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "485": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        }
      }
    },
    "/2015-01-01/es/reservedInstanceOfferings": {
      "get": {
        "description": "Lists available reserved Elasticsearch instance offerings.",
        "operationId": "DescribeReservedElasticsearchInstanceOfferings",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReservedElasticsearchInstanceOfferingsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeReservedElasticsearchInstanceOfferingsResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          },
          "483": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/2015-01-01/es/reservedInstances": {
      "get": {
        "description": "Returns information about reserved Elasticsearch instances for this account.",
        "operationId": "DescribeReservedElasticsearchInstances",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReservedElasticsearchInstancesRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeReservedElasticsearchInstancesResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/2015-01-01/es/role": {
      "delete": {
        "description": "Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr\" target=\"_blank\">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.",
        "operationId": "DeleteElasticsearchServiceRole",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/2015-01-01/es/versions": {
      "get": {
        "description": "List all supported Elasticsearch versions",
        "operationId": "ListElasticsearchVersions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListElasticsearchVersionsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListElasticsearchVersionsResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/2015-01-01/tags": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon Elasticsearch Service Domains for more information.</a>",
        "operationId": "AddTags",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        }
      }
    },
    "/2015-01-01/tags-removal": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Removes the specified set of tags from the specified Elasticsearch domain.",
        "operationId": "RemoveTags",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        }
      }
    },
    "/2015-01-01/tags/": {
      "get": {
        "description": "Returns all tags for the given Elasticsearch domain.",
        "operationId": "ListTags",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    }
  },
  "definitions": {
    "ARN": {
      "description": "The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.",
      "type": "string"
    },
    "AccessPoliciesStatus": {
      "description": "The configured access rules for the domain's document and search endpoints, and the current status of those rules.",
      "properties": {
        "Options": {
          "$ref": "#/definitions/PolicyDocument",
          "description": "The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": "The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. "
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "object"
    },
    "AddTagsRequest": {
      "description": "Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.",
      "properties": {
        "ARN": {
          "$ref": "#/definitions/ARN",
          "description": " Specify the <code>ARN</code> for which you want to add the tags."
        },
        "TagList": {
          "$ref": "#/definitions/TagList",
          "description": " List of <code>Tag</code> that need to be added for the Elasticsearch domain. "
        }
      },
      "required": [
        "ARN",
        "TagList"
      ],
      "type": "object"
    },
    "AdditionalLimit": {
      "description": " List of limits that are specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> . ",
      "properties": {
        "LimitName": {
          "$ref": "#/definitions/LimitName",
          "description": " Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> "
        },
        "LimitValues": {
          "$ref": "#/definitions/LimitValueList",
          "description": " Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . "
        }
      },
      "type": "object"
    },
    "AdditionalLimitList": {
      "items": {
        "$ref": "#/definitions/AdditionalLimit"
      },
      "type": "array"
    },
    "AdvancedOptions": {
      "description": "<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>",
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "AdvancedOptionsStatus": {
      "description": "<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>",
      "properties": {
        "Options": {
          "$ref": "#/definitions/AdvancedOptions",
          "description": " Specifies the status of advanced options for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain."
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "object"
    },
    "BaseException": {
      "description": "An error occurred while processing the request.",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A description of the error."
        }
      },
      "type": "object"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CloudWatchLogsLogGroupArn": {
      "description": "ARN of the Cloudwatch log group to which log needs to be published.",
      "type": "string"
    },
    "CognitoOptions": {
      "description": "Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.",
      "properties": {
        "Enabled": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies the option to enable Cognito for Kibana authentication."
        },
        "IdentityPoolId": {
          "$ref": "#/definitions/IdentityPoolId",
          "description": "Specifies the Cognito identity pool ID for Kibana authentication."
        },
        "RoleArn": {
          "$ref": "#/definitions/RoleArn",
          "description": "Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources."
        },
        "UserPoolId": {
          "$ref": "#/definitions/UserPoolId",
          "description": "Specifies the Cognito user pool ID for Kibana authentication."
        }
      },
      "type": "object"
    },
    "CognitoOptionsStatus": {
      "description": "Status of the Cognito options for the specified Elasticsearch domain.",
      "properties": {
        "Options": {
          "$ref": "#/definitions/CognitoOptions",
          "description": "Specifies the Cognito options for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": "Specifies the status of the Cognito options for the specified Elasticsearch domain."
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "object"
    },
    "CreateElasticsearchDomainRequest": {
      "properties": {
        "AccessPolicies": {
          "$ref": "#/definitions/PolicyDocument",
          "description": " IAM access policy as a JSON-formatted string."
        },
        "AdvancedOptions": {
          "$ref": "#/definitions/AdvancedOptions",
          "description": " Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information."
        },
        "CognitoOptions": {
          "$ref": "#/definitions/CognitoOptions",
          "description": "Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>."
        },
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen)."
        },
        "EBSOptions": {
          "$ref": "#/definitions/EBSOptions",
          "description": "Options to enable, disable and specify the type and size of EBS storage volumes. "
        },
        "ElasticsearchClusterConfig": {
          "$ref": "#/definitions/ElasticsearchClusterConfig",
          "description": "Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. "
        },
        "ElasticsearchVersion": {
          "$ref": "#/definitions/ElasticsearchVersionString",
          "description": "String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>."
        },
        "EncryptionAtRestOptions": {
          "$ref": "#/definitions/EncryptionAtRestOptions",
          "description": "Specifies the Encryption At Rest Options."
        },
        "LogPublishingOptions": {
          "$ref": "#/definitions/LogPublishingOptions",
          "description": "Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log."
        },
        "SnapshotOptions": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. "
        },
        "VPCOptions": {
          "$ref": "#/definitions/VPCOptions",
          "description": "Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc\" target=\"_blank\">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "object"
    },
    "CreateElasticsearchDomainResponse": {
      "description": "The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.",
      "properties": {
        "DomainStatus": {
          "$ref": "#/definitions/ElasticsearchDomainStatus",
          "description": "The status of the newly created Elasticsearch domain. "
        }
      },
      "type": "object"
    },
    "DeleteElasticsearchDomainRequest": {
      "description": "Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.",
      "properties": {},
      "type": "object"
    },
    "DeleteElasticsearchDomainResponse": {
      "description": "The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.",
      "properties": {
        "DomainStatus": {
          "$ref": "#/definitions/ElasticsearchDomainStatus",
          "description": "The status of the Elasticsearch domain being deleted."
        }
      },
      "type": "object"
    },
    "DescribeElasticsearchDomainConfigRequest": {
      "description": " Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.",
      "properties": {},
      "type": "object"
    },
    "DescribeElasticsearchDomainConfigResponse": {
      "description": "The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.",
      "properties": {
        "DomainConfig": {
          "$ref": "#/definitions/ElasticsearchDomainConfig",
          "description": "The configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code> request."
        }
      },
      "required": [
        "DomainConfig"
      ],
      "type": "object"
    },
    "DescribeElasticsearchDomainRequest": {
      "description": "Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.",
      "properties": {},
      "type": "object"
    },
    "DescribeElasticsearchDomainResponse": {
      "description": "The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.",
      "properties": {
        "DomainStatus": {
          "$ref": "#/definitions/ElasticsearchDomainStatus",
          "description": "The current status of the Elasticsearch domain."
        }
      },
      "required": [
        "DomainStatus"
      ],
      "type": "object"
    },
    "DescribeElasticsearchDomainsRequest": {
      "description": "Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.",
      "properties": {
        "DomainNames": {
          "$ref": "#/definitions/DomainNameList",
          "description": "The Elasticsearch domains for which you want information."
        }
      },
      "required": [
        "DomainNames"
      ],
      "type": "object"
    },
    "DescribeElasticsearchDomainsResponse": {
      "description": "The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.",
      "properties": {
        "DomainStatusList": {
          "$ref": "#/definitions/ElasticsearchDomainStatusList",
          "description": "The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request."
        }
      },
      "required": [
        "DomainStatusList"
      ],
      "type": "object"
    },
    "DescribeElasticsearchInstanceTypeLimitsRequest": {
      "description": " Container for the parameters to <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. ",
      "properties": {},
      "type": "object"
    },
    "DescribeElasticsearchInstanceTypeLimitsResponse": {
      "description": " Container for the parameters received from <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. ",
      "properties": {
        "LimitsByRole": {
          "$ref": "#/definitions/LimitsByRole"
        }
      },
      "type": "object"
    },
    "DescribeReservedElasticsearchInstanceOfferingsRequest": {
      "description": "Container for parameters to <code>DescribeReservedElasticsearchInstanceOfferings</code>",
      "properties": {},
      "type": "object"
    },
    "DescribeReservedElasticsearchInstanceOfferingsResponse": {
      "description": "Container for results from <code>DescribeReservedElasticsearchInstanceOfferings</code>",
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "Provides an identifier to allow retrieval of paginated results."
        },
        "ReservedElasticsearchInstanceOfferings": {
          "$ref": "#/definitions/ReservedElasticsearchInstanceOfferingList",
          "description": "List of reserved Elasticsearch instance offerings"
        }
      },
      "type": "object"
    },
    "DescribeReservedElasticsearchInstancesRequest": {
      "description": "Container for parameters to <code>DescribeReservedElasticsearchInstances</code>",
      "properties": {},
      "type": "object"
    },
    "DescribeReservedElasticsearchInstancesResponse": {
      "description": "Container for results from <code>DescribeReservedElasticsearchInstances</code>",
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "Provides an identifier to allow retrieval of paginated results."
        },
        "ReservedElasticsearchInstances": {
          "$ref": "#/definitions/ReservedElasticsearchInstanceList",
          "description": "List of reserved Elasticsearch instances."
        }
      },
      "type": "object"
    },
    "DisabledOperationException": {
      "description": "An error occured because the client wanted to access a not supported operation. Gives http status code of 409.",
      "properties": {},
      "type": "object"
    },
    "DomainId": {
      "description": "Unique identifier for an Elasticsearch domain.",
      "maxLength": 64,
      "minLength": 1,
      "type": "string"
    },
    "DomainInfo": {
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": " Specifies the <code>DomainName</code>."
        }
      },
      "type": "object"
    },
    "DomainInfoList": {
      "description": " Contains the list of Elasticsearch domain information.",
      "items": {
        "$ref": "#/definitions/DomainInfo"
      },
      "type": "array"
    },
    "DomainName": {
      "description": "The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).",
      "maxLength": 28,
      "minLength": 3,
      "pattern": "[a-z][a-z0-9\\-]+",
      "type": "string"
    },
    "DomainNameList": {
      "description": "A list of Elasticsearch domain names.",
      "items": {
        "$ref": "#/definitions/DomainName"
      },
      "type": "array"
    },
    "Double": {
      "format": "double",
      "type": "number"
    },
    "EBSOptions": {
      "description": "Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\"> Configuring EBS-based Storage</a>.",
      "properties": {
        "EBSEnabled": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether EBS-based storage is enabled."
        },
        "Iops": {
          "$ref": "#/definitions/IntegerClass",
          "description": "Specifies the IOPD for a Provisioned IOPS EBS volume (SSD)."
        },
        "VolumeSize": {
          "$ref": "#/definitions/IntegerClass",
          "description": " Integer to specify the size of an EBS volume."
        },
        "VolumeType": {
          "$ref": "#/definitions/VolumeType",
          "description": " Specifies the volume type for EBS-based storage."
        }
      },
      "type": "object"
    },
    "EBSOptionsStatus": {
      "description": " Status of the EBS options for the specified Elasticsearch domain.",
      "properties": {
        "Options": {
          "$ref": "#/definitions/EBSOptions",
          "description": " Specifies the EBS options for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of the EBS options for the specified Elasticsearch domain."
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "object"
    },
    "ESPartitionInstanceType": {
      "enum": [
        "m3.medium.elasticsearch",
        "m3.large.elasticsearch",
        "m3.xlarge.elasticsearch",
        "m3.2xlarge.elasticsearch",
        "m4.large.elasticsearch",
        "m4.xlarge.elasticsearch",
        "m4.2xlarge.elasticsearch",
        "m4.4xlarge.elasticsearch",
        "m4.10xlarge.elasticsearch",
        "t2.micro.elasticsearch",
        "t2.small.elasticsearch",
        "t2.medium.elasticsearch",
        "r3.large.elasticsearch",
        "r3.xlarge.elasticsearch",
        "r3.2xlarge.elasticsearch",
        "r3.4xlarge.elasticsearch",
        "r3.8xlarge.elasticsearch",
        "i2.xlarge.elasticsearch",
        "i2.2xlarge.elasticsearch",
        "d2.xlarge.elasticsearch",
        "d2.2xlarge.elasticsearch",
        "d2.4xlarge.elasticsearch",
        "d2.8xlarge.elasticsearch",
        "c4.large.elasticsearch",
        "c4.xlarge.elasticsearch",
        "c4.2xlarge.elasticsearch",
        "c4.4xlarge.elasticsearch",
        "c4.8xlarge.elasticsearch",
        "r4.large.elasticsearch",
        "r4.xlarge.elasticsearch",
        "r4.2xlarge.elasticsearch",
        "r4.4xlarge.elasticsearch",
        "r4.8xlarge.elasticsearch",
        "r4.16xlarge.elasticsearch",
        "i3.large.elasticsearch",
        "i3.xlarge.elasticsearch",
        "i3.2xlarge.elasticsearch",
        "i3.4xlarge.elasticsearch",
        "i3.8xlarge.elasticsearch",
        "i3.16xlarge.elasticsearch"
      ],
      "type": "string"
    },
    "ElasticsearchClusterConfig": {
      "description": "Specifies the configuration for the domain cluster, such as the type and number of instances.",
      "properties": {
        "DedicatedMasterCount": {
          "$ref": "#/definitions/IntegerClass",
          "description": "Total number of dedicated master nodes, active and on standby, for the cluster."
        },
        "DedicatedMasterEnabled": {
          "$ref": "#/definitions/Boolean",
          "description": "A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information."
        },
        "DedicatedMasterType": {
          "$ref": "#/definitions/ESPartitionInstanceType",
          "description": "The instance type for a dedicated master node."
        },
        "InstanceCount": {
          "$ref": "#/definitions/IntegerClass",
          "description": "The number of instances in the specified domain cluster."
        },
        "InstanceType": {
          "$ref": "#/definitions/ESPartitionInstanceType",
          "description": "The instance type for an Elasticsearch cluster."
        },
        "ZoneAwarenessEnabled": {
          "$ref": "#/definitions/Boolean",
          "description": "A boolean value to indicate whether zone awareness is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\" target=\"_blank\">About Zone Awareness</a> for more information."
        }
      },
      "type": "object"
    },
    "ElasticsearchClusterConfigStatus": {
      "description": " Specifies the configuration status for the specified Elasticsearch domain.",
      "properties": {
        "Options": {
          "$ref": "#/definitions/ElasticsearchClusterConfig",
          "description": " Specifies the cluster configuration for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of the configuration for the specified Elasticsearch domain."
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "object"
    },
    "ElasticsearchDomainConfig": {
      "description": "The configuration of an Elasticsearch domain.",
      "properties": {
        "AccessPolicies": {
          "$ref": "#/definitions/AccessPoliciesStatus",
          "description": "IAM access policy as a JSON-formatted string."
        },
        "AdvancedOptions": {
          "$ref": "#/definitions/AdvancedOptionsStatus",
          "description": "Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information."
        },
        "CognitoOptions": {
          "$ref": "#/definitions/CognitoOptionsStatus",
          "description": "The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>."
        },
        "EBSOptions": {
          "$ref": "#/definitions/EBSOptionsStatus",
          "description": "Specifies the <code>EBSOptions</code> for the Elasticsearch domain."
        },
        "ElasticsearchClusterConfig": {
          "$ref": "#/definitions/ElasticsearchClusterConfigStatus",
          "description": "Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain."
        },
        "ElasticsearchVersion": {
          "$ref": "#/definitions/ElasticsearchVersionStatus",
          "description": "String of format X.Y to specify version for the Elasticsearch domain."
        },
        "EncryptionAtRestOptions": {
          "$ref": "#/definitions/EncryptionAtRestOptionsStatus",
          "description": "Specifies the <code>EncryptionAtRestOptions</code> for the Elasticsearch domain."
        },
        "LogPublishingOptions": {
          "$ref": "#/definitions/LogPublishingOptionsStatus",
          "description": "Log publishing options for the given domain."
        },
        "SnapshotOptions": {
          "$ref": "#/definitions/SnapshotOptionsStatus",
          "description": "Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain."
        },
        "VPCOptions": {
          "$ref": "#/definitions/VPCDerivedInfoStatus",
          "description": "The <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>."
        }
      },
      "type": "object"
    },
    "ElasticsearchDomainStatus": {
      "description": "The current status of an Elasticsearch domain.",
      "properties": {
        "ARN": {
          "$ref": "#/definitions/ARN",
          "description": "The Amazon resource name (ARN) of an Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information."
        },
        "AccessPolicies": {
          "$ref": "#/definitions/PolicyDocument",
          "description": " IAM access policy as a JSON-formatted string."
        },
        "AdvancedOptions": {
          "$ref": "#/definitions/AdvancedOptions",
          "description": "Specifies the status of the <code>AdvancedOptions</code>"
        },
        "CognitoOptions": {
          "$ref": "#/definitions/CognitoOptions",
          "description": "The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>."
        },
        "Created": {
          "$ref": "#/definitions/Boolean",
          "description": "The domain creation status. <code>True</code> if the creation of an Elasticsearch domain is complete. <code>False</code> if domain creation is still in progress."
        },
        "Deleted": {
          "$ref": "#/definitions/Boolean",
          "description": "The domain deletion status. <code>True</code> if a delete request has been received for the domain but resource cleanup is still in progress. <code>False</code> if the domain has not been deleted. Once domain deletion is complete, the status of the domain is no longer returned."
        },
        "DomainId": {
          "$ref": "#/definitions/DomainId",
          "description": "The unique identifier for the specified Elasticsearch domain."
        },
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen)."
        },
        "EBSOptions": {
          "$ref": "#/definitions/EBSOptions",
          "description": "The <code>EBSOptions</code> for the specified domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\">Configuring EBS-based Storage</a> for more information."
        },
        "ElasticsearchClusterConfig": {
          "$ref": "#/definitions/ElasticsearchClusterConfig",
          "description": "The type and number of instances in the domain cluster."
        },
        "ElasticsearchVersion": {
          "$ref": "#/definitions/ElasticsearchVersionString"
        },
        "EncryptionAtRestOptions": {
          "$ref": "#/definitions/EncryptionAtRestOptions",
          "description": " Specifies the status of the <code>EncryptionAtRestOptions</code>."
        },
        "Endpoint": {
          "$ref": "#/definitions/ServiceUrl",
          "description": "The Elasticsearch domain endpoint that you use to submit index and search requests."
        },
        "Endpoints": {
          "$ref": "#/definitions/EndpointsMap",
          "description": "Map containing the Elasticsearch domain endpoints used to submit index and search requests. Example <code>key, value</code>: <code>'vpc','vpc-endpoint-h2dsd34efgyghrtguk5gt6j2foh4.us-east-1.es.amazonaws.com'</code>."
        },
        "LogPublishingOptions": {
          "$ref": "#/definitions/LogPublishingOptions",
          "description": "Log publishing options for the given domain."
        },
        "Processing": {
          "$ref": "#/definitions/Boolean",
          "description": "The status of the Elasticsearch domain configuration. <code>True</code> if Amazon Elasticsearch Service is processing configuration changes. <code>False</code> if the configuration is active."
        },
        "SnapshotOptions": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Specifies the status of the <code>SnapshotOptions</code>"
        },
        "VPCOptions": {
          "$ref": "#/definitions/VPCDerivedInfo",
          "description": "The <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>."
        }
      },
      "required": [
        "DomainId",
        "DomainName",
        "ARN",
        "ElasticsearchClusterConfig"
      ],
      "type": "object"
    },
    "ElasticsearchDomainStatusList": {
      "description": "A list that contains the status of each requested Elasticsearch domain.",
      "items": {
        "$ref": "#/definitions/ElasticsearchDomainStatus"
      },
      "type": "array"
    },
    "ElasticsearchInstanceTypeList": {
      "description": " List of instance types supported by Amazon Elasticsearch service. ",
      "items": {
        "$ref": "#/definitions/ESPartitionInstanceType"
      },
      "type": "array"
    },
    "ElasticsearchVersionList": {
      "description": "List of supported elastic search versions. ",
      "items": {
        "$ref": "#/definitions/ElasticsearchVersionString"
      },
      "type": "array"
    },
    "ElasticsearchVersionStatus": {
      "description": " Status of the Elasticsearch version options for the specified Elasticsearch domain.",
      "properties": {
        "Options": {
          "$ref": "#/definitions/ElasticsearchVersionString",
          "description": " Specifies the Elasticsearch version for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of the Elasticsearch version options for the specified Elasticsearch domain."
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "object"
    },
    "ElasticsearchVersionString": {
      "type": "string"
    },
    "EncryptionAtRestOptions": {
      "description": "Specifies the Encryption At Rest Options.",
      "properties": {
        "Enabled": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies the option to enable Encryption At Rest."
        },
        "KmsKeyId": {
          "$ref": "#/definitions/KmsKeyId",
          "description": " Specifies the KMS Key ID for Encryption At Rest options."
        }
      },
      "type": "object"
    },
    "EncryptionAtRestOptionsStatus": {
      "description": " Status of the Encryption At Rest options for the specified Elasticsearch domain.",
      "properties": {
        "Options": {
          "$ref": "#/definitions/EncryptionAtRestOptions",
          "description": " Specifies the Encryption At Rest options for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of the Encryption At Rest options for the specified Elasticsearch domain."
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "object"
    },
    "EndpointsMap": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/ServiceUrl"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "GUID": {
      "pattern": "\\p{XDigit}{8}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{12}",
      "type": "string"
    },
    "IdentityPoolId": {
      "maxLength": 55,
      "minLength": 1,
      "pattern": "[\\w-]+:[0-9a-f-]+",
      "type": "string"
    },
    "InstanceCount": {
      "description": "Specifies the number of EC2 instances in the Elasticsearch domain.",
      "minimum": 1,
      "type": "integer"
    },
    "InstanceCountLimits": {
      "description": " InstanceCountLimits represents the limits on number of instances that be created in Amazon Elasticsearch for given InstanceType. ",
      "properties": {
        "MaximumInstanceCount": {
          "$ref": "#/definitions/MaximumInstanceCount"
        },
        "MinimumInstanceCount": {
          "$ref": "#/definitions/MinimumInstanceCount"
        }
      },
      "type": "object"
    },
    "InstanceLimits": {
      "description": "InstanceLimits represents the list of instance related attributes that are available for given InstanceType. ",
      "properties": {
        "InstanceCountLimits": {
          "$ref": "#/definitions/InstanceCountLimits"
        }
      },
      "type": "object"
    },
    "InstanceRole": {
      "type": "string"
    },
    "Integer": {
      "type": "integer"
    },
    "IntegerClass": {
      "type": "integer"
    },
    "InternalException": {
      "description": "The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.",
      "properties": {},
      "type": "object"
    },
    "InvalidTypeException": {
      "description": "An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.",
      "properties": {},
      "type": "object"
    },
    "KmsKeyId": {
      "maxLength": 500,
      "minLength": 1,
      "type": "string"
    },
    "LimitExceededException": {
      "description": "An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.",
      "properties": {},
      "type": "object"
    },
    "LimitName": {
      "type": "string"
    },
    "LimitValue": {
      "type": "string"
    },
    "LimitValueList": {
      "items": {
        "$ref": "#/definitions/LimitValue"
      },
      "type": "array"
    },
    "Limits": {
      "description": " Limits for given InstanceType and for each of it's role. <br/> Limits contains following <code> <a>StorageTypes,</a> </code> <code> <a>InstanceLimits</a> </code> and <code> <a>AdditionalLimits</a> </code> ",
      "properties": {
        "AdditionalLimits": {
          "$ref": "#/definitions/AdditionalLimitList",
          "description": " List of additional limits that are specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> . "
        },
        "InstanceLimits": {
          "$ref": "#/definitions/InstanceLimits"
        },
        "StorageTypes": {
          "$ref": "#/definitions/StorageTypeList",
          "description": "StorageType represents the list of storage related types and attributes that are available for given InstanceType. "
        }
      },
      "type": "object"
    },
    "LimitsByRole": {
      "description": " Map of Role of the Instance and Limits that are applicable. Role performed by given Instance in Elasticsearch can be one of the following: <ul> <li>Data: If the given InstanceType is used as Data node</li> <li>Master: If the given InstanceType is used as Master node</li> </ul> ",
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/InstanceRole"
          },
          "value": {
            "$ref": "#/definitions/Limits"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "ListDomainNamesResponse": {
      "description": "The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.",
      "properties": {
        "DomainNames": {
          "$ref": "#/definitions/DomainInfoList",
          "description": "List of Elasticsearch domain names."
        }
      },
      "type": "object"
    },
    "ListElasticsearchInstanceTypesRequest": {
      "description": " Container for the parameters to the <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. ",
      "properties": {},
      "type": "object"
    },
    "ListElasticsearchInstanceTypesResponse": {
      "description": " Container for the parameters returned by <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. ",
      "properties": {
        "ElasticsearchInstanceTypes": {
          "$ref": "#/definitions/ElasticsearchInstanceTypeList",
          "description": " List of instance types supported by Amazon Elasticsearch service for given <code> <a>ElasticsearchVersion</a> </code> "
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "In case if there are more results available NextToken would be present, make further request to the same API with received NextToken to paginate remaining results. "
        }
      },
      "type": "object"
    },
    "ListElasticsearchVersionsRequest": {
      "description": "<p> Container for the parameters to the <code> <a>ListElasticsearchVersions</a> </code> operation. <p> Use <code> <a>MaxResults</a> </code> to control the maximum number of results to retrieve in a single call. </p> <p> Use <code> <a>NextToken</a> </code> in response to retrieve more results. If the received response does not contain a NextToken, then there are no more results to retrieve. </p> </p>",
      "properties": {},
      "type": "object"
    },
    "ListElasticsearchVersionsResponse": {
      "description": " Container for the parameters for response received from <code> <a>ListElasticsearchVersions</a> </code> operation. ",
      "properties": {
        "ElasticsearchVersions": {
          "$ref": "#/definitions/ElasticsearchVersionList"
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken"
        }
      },
      "type": "object"
    },
    "ListTagsRequest": {
      "description": "Container for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain to which the tags are attached that you want to view are attached.",
      "properties": {},
      "type": "object"
    },
    "ListTagsResponse": {
      "description": "The result of a <code>ListTags</code> operation. Contains tags for all requested Elasticsearch domains.",
      "properties": {
        "TagList": {
          "$ref": "#/definitions/TagList",
          "description": " List of <code>Tag</code> for the requested Elasticsearch domain."
        }
      },
      "type": "object"
    },
    "LogPublishingOption": {
      "description": "Log Publishing option that is set for given domain. <br/>Attributes and their details: <ul> <li>CloudWatchLogsLogGroupArn: ARN of the Cloudwatch log group to which log needs to be published.</li> <li>Enabled: Whether the log publishing for given log type is enabled or not</li> </ul> ",
      "properties": {
        "CloudWatchLogsLogGroupArn": {
          "$ref": "#/definitions/CloudWatchLogsLogGroupArn"
        },
        "Enabled": {
          "$ref": "#/definitions/Boolean",
          "description": " Specifies whether given log publishing option is enabled or not."
        }
      },
      "type": "object"
    },
    "LogPublishingOptions": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/LogType"
          },
          "value": {
            "$ref": "#/definitions/LogPublishingOption"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "LogPublishingOptionsStatus": {
      "description": "The configured log publishing options for the domain and their current status.",
      "properties": {
        "Options": {
          "$ref": "#/definitions/LogPublishingOptions",
          "description": "The log publishing options configured for the Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": "The status of the log publishing options for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. "
        }
      },
      "type": "object"
    },
    "LogType": {
      "description": "Type of Log File, it can be one of the following: <ul> <li>INDEX_SLOW_LOGS: Index slow logs contains insert requests that took more time than configured index query log threshold to execute.</li> <li>SEARCH_SLOW_LOGS: Search slow logs contains search queries that took more time than configured search query log threshold to execute.</li> </ul> ",
      "enum": [
        "INDEX_SLOW_LOGS",
        "SEARCH_SLOW_LOGS"
      ],
      "type": "string"
    },
    "MaxResults": {
      "description": " Set this value to limit the number of results returned. ",
      "maximum": 100,
      "type": "integer"
    },
    "MaximumInstanceCount": {
      "description": " Maximum number of Instances that can be instantiated for given InstanceType. ",
      "type": "integer"
    },
    "MinimumInstanceCount": {
      "description": " Minimum number of Instances that can be instantiated for given InstanceType. ",
      "type": "integer"
    },
    "NextToken": {
      "description": " Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. ",
      "type": "string"
    },
    "OptionState": {
      "description": "<p>The state of a requested change. One of the following:</p> <ul> <li>Processing: The request change is still in-process.</li> <li>Active: The request change is processed and deployed to the Elasticsearch domain.</li> </ul>",
      "enum": [
        "RequiresIndexDocuments",
        "Processing",
        "Active"
      ],
      "type": "string"
    },
    "OptionStatus": {
      "description": "Provides the current status of the entity.",
      "properties": {
        "CreationDate": {
          "$ref": "#/definitions/UpdateTimestamp",
          "description": "Timestamp which tells the creation date for the entity."
        },
        "PendingDeletion": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates whether the Elasticsearch domain is being deleted."
        },
        "State": {
          "$ref": "#/definitions/OptionState",
          "description": "Provides the <code>OptionState</code> for the Elasticsearch domain."
        },
        "UpdateDate": {
          "$ref": "#/definitions/UpdateTimestamp",
          "description": "Timestamp which tells the last updated time for the entity."
        },
        "UpdateVersion": {
          "$ref": "#/definitions/UIntValue",
          "description": "Specifies the latest version for the entity."
        }
      },
      "required": [
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "type": "object"
    },
    "PolicyDocument": {
      "description": "Access policy rules for an Elasticsearch domain service endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\">Configuring Access Policies</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>. The maximum size of a policy document is 100 KB.",
      "type": "string"
    },
    "PurchaseReservedElasticsearchInstanceOfferingRequest": {
      "description": "Container for parameters to <code>PurchaseReservedElasticsearchInstanceOffering</code>",
      "properties": {
        "InstanceCount": {
          "$ref": "#/definitions/InstanceCount",
          "description": "The number of Elasticsearch instances to reserve."
        },
        "ReservationName": {
          "$ref": "#/definitions/ReservationToken",
          "description": "A customer-specified identifier to track this reservation."
        },
        "ReservedElasticsearchInstanceOfferingId": {
          "$ref": "#/definitions/GUID",
          "description": "The ID of the reserved Elasticsearch instance offering to purchase."
        }
      },
      "required": [
        "ReservedElasticsearchInstanceOfferingId",
        "ReservationName"
      ],
      "type": "object"
    },
    "PurchaseReservedElasticsearchInstanceOfferingResponse": {
      "description": "Represents the output of a <code>PurchaseReservedElasticsearchInstanceOffering</code> operation.",
      "properties": {
        "ReservationName": {
          "$ref": "#/definitions/ReservationToken",
          "description": "The customer-specified identifier used to track this reservation."
        },
        "ReservedElasticsearchInstanceId": {
          "$ref": "#/definitions/GUID",
          "description": "Details of the reserved Elasticsearch instance which was purchased."
        }
      },
      "type": "object"
    },
    "RecurringCharge": {
      "description": "Contains the specific price and frequency of a recurring charges for a reserved Elasticsearch instance, or for a reserved Elasticsearch instance offering.",
      "properties": {
        "RecurringChargeAmount": {
          "$ref": "#/definitions/Double",
          "description": "The monetary amount of the recurring charge."
        },
        "RecurringChargeFrequency": {
          "$ref": "#/definitions/String",
          "description": "The frequency of the recurring charge."
        }
      },
      "type": "object"
    },
    "RecurringChargeList": {
      "items": {
        "$ref": "#/definitions/RecurringCharge"
      },
      "type": "array"
    },
    "RemoveTagsRequest": {
      "description": "Container for the parameters to the <code><a>RemoveTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain from which you want to remove the specified <code>TagKey</code>.",
      "properties": {
        "ARN": {
          "$ref": "#/definitions/ARN",
          "description": "Specifies the <code>ARN</code> for the Elasticsearch domain from which you want to delete the specified tags."
        },
        "TagKeys": {
          "$ref": "#/definitions/StringList",
          "description": "Specifies the <code>TagKey</code> list which you want to remove from the Elasticsearch domain."
        }
      },
      "required": [
        "ARN",
        "TagKeys"
      ],
      "type": "object"
    },
    "ReservationToken": {
      "maxLength": 64,
      "minLength": 5,
      "type": "string"
    },
    "ReservedElasticsearchInstance": {
      "description": "Details of a reserved Elasticsearch instance.",
      "properties": {
        "CurrencyCode": {
          "$ref": "#/definitions/String",
          "description": "The currency code for the reserved Elasticsearch instance offering."
        },
        "Duration": {
          "$ref": "#/definitions/Integer",
          "description": "The duration, in seconds, for which the Elasticsearch instance is reserved."
        },
        "ElasticsearchInstanceCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of Elasticsearch instances that have been reserved."
        },
        "ElasticsearchInstanceType": {
          "$ref": "#/definitions/ESPartitionInstanceType",
          "description": "The Elasticsearch instance type offered by the reserved instance offering."
        },
        "FixedPrice": {
          "$ref": "#/definitions/Double",
          "description": "The upfront fixed charge you will paid to purchase the specific reserved Elasticsearch instance offering. "
        },
        "PaymentOption": {
          "$ref": "#/definitions/ReservedElasticsearchInstancePaymentOption",
          "description": "The payment option as defined in the reserved Elasticsearch instance offering."
        },
        "RecurringCharges": {
          "$ref": "#/definitions/RecurringChargeList",
          "description": "The charge to your account regardless of whether you are creating any domains using the instance offering."
        },
        "ReservationName": {
          "$ref": "#/definitions/ReservationToken",
          "description": "The customer-specified identifier to track this reservation."
        },
        "ReservedElasticsearchInstanceId": {
          "$ref": "#/definitions/GUID",
          "description": "The unique identifier for the reservation."
        },
        "ReservedElasticsearchInstanceOfferingId": {
          "$ref": "#/definitions/String",
          "description": "The offering identifier."
        },
        "StartTime": {
          "$ref": "#/definitions/UpdateTimestamp",
          "description": "The time the reservation started."
        },
        "State": {
          "$ref": "#/definitions/String",
          "description": "The state of the reserved Elasticsearch instance."
        },
        "UsagePrice": {
          "$ref": "#/definitions/Double",
          "description": "The rate you are charged for each hour for the domain that is using this reserved instance."
        }
      },
      "type": "object"
    },
    "ReservedElasticsearchInstanceList": {
      "items": {
        "$ref": "#/definitions/ReservedElasticsearchInstance"
      },
      "type": "array"
    },
    "ReservedElasticsearchInstanceOffering": {
      "description": "Details of a reserved Elasticsearch instance offering.",
      "properties": {
        "CurrencyCode": {
          "$ref": "#/definitions/String",
          "description": "The currency code for the reserved Elasticsearch instance offering."
        },
        "Duration": {
          "$ref": "#/definitions/Integer",
          "description": "The duration, in seconds, for which the offering will reserve the Elasticsearch instance."
        },
        "ElasticsearchInstanceType": {
          "$ref": "#/definitions/ESPartitionInstanceType",
          "description": "The Elasticsearch instance type offered by the reserved instance offering."
        },
        "FixedPrice": {
          "$ref": "#/definitions/Double",
          "description": "The upfront fixed charge you will pay to purchase the specific reserved Elasticsearch instance offering. "
        },
        "PaymentOption": {
          "$ref": "#/definitions/ReservedElasticsearchInstancePaymentOption",
          "description": "Payment option for the reserved Elasticsearch instance offering"
        },
        "RecurringCharges": {
          "$ref": "#/definitions/RecurringChargeList",
          "description": "The charge to your account regardless of whether you are creating any domains using the instance offering."
        },
        "ReservedElasticsearchInstanceOfferingId": {
          "$ref": "#/definitions/GUID",
          "description": "The Elasticsearch reserved instance offering identifier."
        },
        "UsagePrice": {
          "$ref": "#/definitions/Double",
          "description": "The rate you are charged for each hour the domain that is using the offering is running."
        }
      },
      "type": "object"
    },
    "ReservedElasticsearchInstanceOfferingList": {
      "items": {
        "$ref": "#/definitions/ReservedElasticsearchInstanceOffering"
      },
      "type": "array"
    },
    "ReservedElasticsearchInstancePaymentOption": {
      "enum": [
        "ALL_UPFRONT",
        "PARTIAL_UPFRONT",
        "NO_UPFRONT"
      ],
      "type": "string"
    },
    "ResourceAlreadyExistsException": {
      "description": "An exception for creating a resource that already exists. Gives http status code of 400.",
      "properties": {},
      "type": "object"
    },
    "ResourceNotFoundException": {
      "description": "An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.",
      "properties": {},
      "type": "object"
    },
    "RoleArn": {
      "maxLength": 2048,
      "minLength": 20,
      "type": "string"
    },
    "ServiceUrl": {
      "description": "The endpoint to which service requests are submitted. For example, <code>search-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code> or <code>doc-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code>.",
      "type": "string"
    },
    "SnapshotOptions": {
      "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.",
      "properties": {
        "AutomatedSnapshotStartHour": {
          "$ref": "#/definitions/IntegerClass",
          "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours."
        }
      },
      "type": "object"
    },
    "SnapshotOptionsStatus": {
      "description": "Status of a daily automated snapshot.",
      "properties": {
        "Options": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Specifies the daily snapshot options specified for the Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": "Specifies the status of a daily automated snapshot."
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "object"
    },
    "StorageSubTypeName": {
      "description": " SubType of the given storage type. List of available sub-storage options: For \"instance\" storageType we wont have any storageSubType, in case of \"ebs\" storageType we will have following valid storageSubTypes <ol> <li>standard</li> <li>gp2</li> <li>io1</li> </ol> Refer <code><a>VolumeType</a></code> for more information regarding above EBS storage options. ",
      "type": "string"
    },
    "StorageType": {
      "description": "StorageTypes represents the list of storage related types and their attributes that are available for given InstanceType. ",
      "properties": {
        "StorageSubTypeName": {
          "$ref": "#/definitions/StorageSubTypeName"
        },
        "StorageTypeLimits": {
          "$ref": "#/definitions/StorageTypeLimitList",
          "description": "List of limits that are applicable for given storage type. "
        },
        "StorageTypeName": {
          "$ref": "#/definitions/StorageTypeName"
        }
      },
      "type": "object"
    },
    "StorageTypeLimit": {
      "description": "Limits that are applicable for given storage type. ",
      "properties": {
        "LimitName": {
          "$ref": "#/definitions/LimitName",
[...]
