{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch Configuration API to create, configure, and manage Elasticsearch domains.</p> <p>For sample code that uses the Configuration API, see the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-configuration-samples.html\">Amazon Elasticsearch Service Developer Guide</a>. The guide also contains <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html\">sample code for sending signed HTTP requests to the Elasticsearch APIs</a>.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Elasticsearch Service",
    "version": "2015-01-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/es-2015-01-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "es",
    "x-datafire": {
      "name": "amazonaws_es",
      "type": "openapi"
    }
  },
  "host": "es.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/2015-01-01/domain": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDomainNamesResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Returns the name of all Elasticsearch domains owned by the current user's account. ",
        "operationId": "ListDomainNames"
      }
    },
    "/2015-01-01/domain/{DomainName}/packages": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the domain for which you want to list associated packages.",
            "in": "path",
            "maxLength": 28,
            "minLength": 3,
            "name": "DomainName",
            "pattern": "[a-z][a-z0-9\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limits results to a maximum number of packages.",
            "in": "query",
            "maximum": 100,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Used for pagination. Only necessary if a previous API call includes a non-null NextToken value. If provided, returns results for the next page.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPackagesForDomainResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Lists all packages associated with the Amazon ES domain.",
        "operationId": "ListPackagesForDomain"
      }
    },
    "/2015-01-01/es/ccs/inboundConnection/search": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Filters": {
                  "description": " A list of filters used to match properties for inbound cross-cluster search connection. Available <code><a>Filter</a></code> names for this operation are: <ul> <li>cross-cluster-search-connection-id</li> <li>source-domain-info.domain-name</li> <li>source-domain-info.owner-id</li> <li>source-domain-info.region</li> <li>destination-domain-info.domain-name</li> </ul> ",
                  "items": {
                    "$ref": "#/definitions/Filter"
                  },
                  "type": "array"
                },
                "MaxResults": {
                  "description": " Set this value to limit the number of results returned. ",
                  "maximum": 100,
                  "type": "integer"
                },
                "NextToken": {
                  "description": " Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. ",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeInboundCrossClusterSearchConnectionsResponse"
            }
          },
          "480": {
            "description": "InvalidPaginationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidPaginationTokenException"
            }
          },
          "481": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          }
        },
        "description": "Lists all the inbound cross-cluster search connections for a destination domain.",
        "operationId": "DescribeInboundCrossClusterSearchConnections"
      }
    },
    "/2015-01-01/es/ccs/inboundConnection/{ConnectionId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the inbound connection that you want to permanently delete.",
            "in": "path",
            "name": "ConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteInboundCrossClusterSearchConnectionResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          }
        },
        "description": "Allows the destination domain owner to delete an existing inbound cross-cluster search connection.",
        "operationId": "DeleteInboundCrossClusterSearchConnection"
      }
    },
    "/2015-01-01/es/ccs/inboundConnection/{ConnectionId}/accept": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the inbound connection that you want to accept.",
            "in": "path",
            "name": "ConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AcceptInboundCrossClusterSearchConnectionResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          }
        },
        "description": "Allows the destination domain owner to accept an inbound cross-cluster search connection request.",
        "operationId": "AcceptInboundCrossClusterSearchConnection"
      }
    },
    "/2015-01-01/es/ccs/inboundConnection/{ConnectionId}/reject": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the inbound connection that you want to reject.",
            "in": "path",
            "name": "ConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RejectInboundCrossClusterSearchConnectionResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          }
        },
        "description": "Allows the destination domain owner to reject an inbound cross-cluster search connection request.",
        "operationId": "RejectInboundCrossClusterSearchConnection"
      }
    },
    "/2015-01-01/es/ccs/outboundConnection": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ConnectionAlias": {
                  "description": "Specifies the connection alias that will be used by the customer for this connection.",
                  "maxLength": 20,
                  "type": "string"
                },
                "DestinationDomainInfo": {
                  "description": "Specifies the <code><a>DomainInformation</a></code> for the destination Elasticsearch domain.",
                  "properties": {
                    "DomainName": {
                      "$ref": "#/definitions/DomainName"
                    },
                    "OwnerId": {
                      "$ref": "#/definitions/OwnerId"
                    },
                    "Region": {
                      "$ref": "#/definitions/Region"
                    }
                  },
                  "type": "object"
                },
                "SourceDomainInfo": {
                  "description": "Specifies the <code><a>DomainInformation</a></code> for the source Elasticsearch domain.",
                  "properties": {
                    "DomainName": {
                      "$ref": "#/definitions/DomainName"
                    },
                    "OwnerId": {
                      "$ref": "#/definitions/OwnerId"
                    },
                    "Region": {
                      "$ref": "#/definitions/Region"
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "SourceDomainInfo",
                "DestinationDomainInfo",
                "ConnectionAlias"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateOutboundCrossClusterSearchConnectionResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "483": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          }
        },
        "description": "Creates a new cross-cluster search connection from a source domain to a destination domain.",
        "operationId": "CreateOutboundCrossClusterSearchConnection"
      }
    },
    "/2015-01-01/es/ccs/outboundConnection/search": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Filters": {
                  "description": " A list of filters used to match properties for outbound cross-cluster search connection. Available <code><a>Filter</a></code> names for this operation are: <ul> <li>cross-cluster-search-connection-id</li> <li>destination-domain-info.domain-name</li> <li>destination-domain-info.owner-id</li> <li>destination-domain-info.region</li> <li>source-domain-info.domain-name</li> </ul> ",
                  "items": {
                    "$ref": "#/definitions/Filter"
                  },
                  "type": "array"
                },
                "MaxResults": {
                  "description": " Set this value to limit the number of results returned. ",
                  "maximum": 100,
                  "type": "integer"
                },
                "NextToken": {
                  "description": " Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. ",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeOutboundCrossClusterSearchConnectionsResponse"
            }
          },
          "480": {
            "description": "InvalidPaginationTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidPaginationTokenException"
            }
          },
          "481": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          }
        },
        "description": "Lists all the outbound cross-cluster search connections for a source domain.",
        "operationId": "DescribeOutboundCrossClusterSearchConnections"
      }
    },
    "/2015-01-01/es/ccs/outboundConnection/{ConnectionId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the outbound connection that you want to permanently delete.",
            "in": "path",
            "name": "ConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteOutboundCrossClusterSearchConnectionResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          }
        },
        "description": "Allows the source domain owner to delete an existing outbound cross-cluster search connection.",
        "operationId": "DeleteOutboundCrossClusterSearchConnection"
      }
    },
    "/2015-01-01/es/compatibleVersions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).",
            "in": "query",
            "maxLength": 28,
            "minLength": 3,
            "name": "domainName",
            "pattern": "[a-z][a-z0-9\\-]+",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCompatibleElasticsearchVersionsResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "484": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        },
        "description": " Returns a list of upgrade compatible Elastisearch versions. You can optionally pass a <code> <a>DomainName</a> </code> to get all upgrade compatible Elasticsearch versions for that specific domain. ",
        "operationId": "GetCompatibleElasticsearchVersions"
      }
    },
    "/2015-01-01/es/domain": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AccessPolicies": {
                  "description": "Access policy rules for an Elasticsearch domain service endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\">Configuring Access Policies</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>. The maximum size of a policy document is 100 KB.",
                  "type": "string"
                },
                "AdvancedOptions": {
                  "additionalProperties": {
                    "$ref": "#/definitions/String"
                  },
                  "description": "<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>",
                  "type": "object"
                },
                "AdvancedSecurityOptions": {
                  "description": "Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled, master username and password (if internal database is enabled), and master user ARN (if IAM is enabled).",
                  "properties": {
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "True if advanced security is enabled."
                        }
                      ]
                    },
                    "InternalUserDatabaseEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "True if the internal user database is enabled."
                        }
                      ]
                    },
                    "MasterUserOptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MasterUserOptions"
                        },
                        {
                          "description": "Credentials for the master user: username and password, ARN, or both."
                        }
                      ]
                    },
                    "SAMLOptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SAMLOptionsInput"
                        },
                        {
                          "description": "Specifies the SAML application configuration for the domain."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "CognitoOptions": {
                  "description": "Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.",
                  "properties": {
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specifies the option to enable Cognito for Kibana authentication."
                        }
                      ]
                    },
                    "IdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IdentityPoolId"
                        },
                        {
                          "description": "Specifies the Cognito identity pool ID for Kibana authentication."
                        }
                      ]
                    },
                    "RoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources."
                        }
                      ]
                    },
                    "UserPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UserPoolId"
                        },
                        {
                          "description": "Specifies the Cognito user pool ID for Kibana authentication."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "DomainEndpointOptions": {
                  "description": "Options to configure endpoint for the Elasticsearch domain.",
                  "properties": {
                    "CustomEndpoint": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DomainNameFqdn"
                        },
                        {
                          "description": "Specify the fully qualified domain for your custom endpoint."
                        }
                      ]
                    },
                    "CustomEndpointCertificateArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ARN"
                        },
                        {
                          "description": "Specify ACM certificate ARN for your custom endpoint."
                        }
                      ]
                    },
                    "CustomEndpointEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specify if custom endpoint should be enabled for the Elasticsearch domain."
                        }
                      ]
                    },
                    "EnforceHTTPS": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specify if only HTTPS endpoint should be enabled for the Elasticsearch domain."
                        }
                      ]
                    },
                    "TLSSecurityPolicy": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TLSSecurityPolicy"
                        },
                        {
                          "description": "Specify the TLS security policy that needs to be applied to the HTTPS endpoint of Elasticsearch domain. <br/> It can be one of the following values: <ul> <li><b>Policy-Min-TLS-1-0-2019-07: </b> TLS security policy which supports TLSv1.0 and higher.</li> <li><b>Policy-Min-TLS-1-2-2019-07: </b> TLS security policy which supports only TLSv1.2</li> </ul> "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "DomainName": {
                  "description": "The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).",
                  "maxLength": 28,
                  "minLength": 3,
                  "pattern": "[a-z][a-z0-9\\-]+",
                  "type": "string"
                },
                "EBSOptions": {
                  "description": "Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\"> Configuring EBS-based Storage</a>.",
                  "properties": {
                    "EBSEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specifies whether EBS-based storage is enabled."
                        }
                      ]
                    },
                    "Iops": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "Specifies the IOPD for a Provisioned IOPS EBS volume (SSD)."
                        }
                      ]
                    },
                    "VolumeSize": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": " Integer to specify the size of an EBS volume."
                        }
                      ]
                    },
                    "VolumeType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/VolumeType"
                        },
                        {
                          "description": " Specifies the volume type for EBS-based storage."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "ElasticsearchClusterConfig": {
                  "description": "Specifies the configuration for the domain cluster, such as the type and number of instances.",
                  "properties": {
                    "DedicatedMasterCount": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "Total number of dedicated master nodes, active and on standby, for the cluster."
                        }
                      ]
                    },
                    "DedicatedMasterEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information."
                        }
                      ]
                    },
                    "DedicatedMasterType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ESPartitionInstanceType"
                        },
                        {
                          "description": "The instance type for a dedicated master node."
                        }
                      ]
                    },
                    "InstanceCount": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "The number of instances in the specified domain cluster."
                        }
                      ]
                    },
                    "InstanceType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ESPartitionInstanceType"
                        },
                        {
                          "description": "The instance type for an Elasticsearch cluster. UltraWarm instance types are not supported for data instances."
                        }
                      ]
                    },
                    "WarmCount": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "The number of warm nodes in the cluster."
                        }
                      ]
                    },
                    "WarmEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "True to enable warm storage."
                        }
                      ]
                    },
                    "WarmType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ESWarmPartitionInstanceType"
                        },
                        {
                          "description": "The instance type for the Elasticsearch cluster's warm nodes."
                        }
                      ]
                    },
                    "ZoneAwarenessConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ZoneAwarenessConfig"
                        },
                        {
                          "description": "Specifies the zone awareness configuration for a domain when zone awareness is enabled."
                        }
                      ]
                    },
                    "ZoneAwarenessEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "A boolean value to indicate whether zone awareness is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\" target=\"_blank\">About Zone Awareness</a> for more information."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "ElasticsearchVersion": {
                  "description": "String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.",
                  "type": "string"
                },
                "EncryptionAtRestOptions": {
                  "description": "Specifies the Encryption At Rest Options.",
                  "properties": {
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specifies the option to enable Encryption At Rest."
                        }
                      ]
                    },
                    "KmsKeyId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/KmsKeyId"
                        },
                        {
                          "description": " Specifies the KMS Key ID for Encryption At Rest options."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "LogPublishingOptions": {
                  "additionalProperties": {
                    "$ref": "#/definitions/LogPublishingOption"
                  },
                  "description": "Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.",
                  "type": "object"
                },
                "NodeToNodeEncryptionOptions": {
                  "description": "Specifies the node-to-node encryption options.",
                  "properties": {
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specify true to enable node-to-node encryption."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "SnapshotOptions": {
                  "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.",
                  "properties": {
                    "AutomatedSnapshotStartHour": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "VPCOptions": {
                  "description": "Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\"> VPC Endpoints for Amazon Elasticsearch Service Domains</a>.",
                  "properties": {
                    "SecurityGroupIds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringList"
                        },
                        {
                          "description": "Specifies the security groups for VPC endpoint."
                        }
                      ]
                    },
                    "SubnetIds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringList"
                        },
                        {
                          "description": "Specifies the subnets for VPC endpoint."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "DomainName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateElasticsearchDomainResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          },
          "482": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "483": {
            "description": "InvalidTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidTypeException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "486": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.",
        "operationId": "CreateElasticsearchDomain"
      }
    },
    "/2015-01-01/es/domain-info": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DomainNames": {
                  "description": "A list of Elasticsearch domain names.",
                  "items": {
                    "$ref": "#/definitions/DomainName"
                  },
                  "type": "array"
                }
              },
              "required": [
                "DomainNames"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainsResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.",
        "operationId": "DescribeElasticsearchDomains"
      }
    },
    "/2015-01-01/es/domain/{DomainName}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the Elasticsearch domain that you want to permanently delete.",
            "in": "path",
            "maxLength": 28,
            "minLength": 3,
            "name": "DomainName",
            "pattern": "[a-z][a-z0-9\\-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteElasticsearchDomainResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.",
        "operationId": "DeleteElasticsearchDomain"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the Elasticsearch domain for which you want information.",
            "in": "path",
            "maxLength": 28,
            "minLength": 3,
            "name": "DomainName",
            "pattern": "[a-z][a-z0-9\\-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.",
        "operationId": "DescribeElasticsearchDomain"
      }
    },
    "/2015-01-01/es/domain/{DomainName}/config": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Elasticsearch domain that you want to get information about.",
            "in": "path",
            "maxLength": 28,
            "minLength": 3,
            "name": "DomainName",
            "pattern": "[a-z][a-z0-9\\-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainConfigResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.",
        "operationId": "DescribeElasticsearchDomainConfig"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the Elasticsearch domain that you are updating. ",
            "in": "path",
            "maxLength": 28,
            "minLength": 3,
            "name": "DomainName",
            "pattern": "[a-z][a-z0-9\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AccessPolicies": {
                  "description": "Access policy rules for an Elasticsearch domain service endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\">Configuring Access Policies</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>. The maximum size of a policy document is 100 KB.",
                  "type": "string"
                },
                "AdvancedOptions": {
                  "additionalProperties": {
                    "$ref": "#/definitions/String"
                  },
                  "description": "<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>",
                  "type": "object"
                },
                "AdvancedSecurityOptions": {
                  "description": "Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled, master username and password (if internal database is enabled), and master user ARN (if IAM is enabled).",
                  "properties": {
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "True if advanced security is enabled."
                        }
                      ]
                    },
                    "InternalUserDatabaseEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "True if the internal user database is enabled."
                        }
                      ]
                    },
                    "MasterUserOptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MasterUserOptions"
                        },
                        {
                          "description": "Credentials for the master user: username and password, ARN, or both."
                        }
                      ]
                    },
                    "SAMLOptions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SAMLOptionsInput"
                        },
                        {
                          "description": "Specifies the SAML application configuration for the domain."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "CognitoOptions": {
                  "description": "Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.",
                  "properties": {
                    "Enabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specifies the option to enable Cognito for Kibana authentication."
                        }
                      ]
                    },
                    "IdentityPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IdentityPoolId"
                        },
                        {
                          "description": "Specifies the Cognito identity pool ID for Kibana authentication."
                        }
                      ]
                    },
                    "RoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RoleArn"
                        },
                        {
                          "description": "Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources."
                        }
                      ]
                    },
                    "UserPoolId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UserPoolId"
                        },
                        {
                          "description": "Specifies the Cognito user pool ID for Kibana authentication."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "DomainEndpointOptions": {
                  "description": "Options to configure endpoint for the Elasticsearch domain.",
                  "properties": {
                    "CustomEndpoint": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DomainNameFqdn"
                        },
                        {
                          "description": "Specify the fully qualified domain for your custom endpoint."
                        }
                      ]
                    },
                    "CustomEndpointCertificateArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ARN"
                        },
                        {
                          "description": "Specify ACM certificate ARN for your custom endpoint."
                        }
                      ]
                    },
                    "CustomEndpointEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specify if custom endpoint should be enabled for the Elasticsearch domain."
                        }
                      ]
                    },
                    "EnforceHTTPS": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specify if only HTTPS endpoint should be enabled for the Elasticsearch domain."
                        }
                      ]
                    },
                    "TLSSecurityPolicy": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TLSSecurityPolicy"
                        },
                        {
                          "description": "Specify the TLS security policy that needs to be applied to the HTTPS endpoint of Elasticsearch domain. <br/> It can be one of the following values: <ul> <li><b>Policy-Min-TLS-1-0-2019-07: </b> TLS security policy which supports TLSv1.0 and higher.</li> <li><b>Policy-Min-TLS-1-2-2019-07: </b> TLS security policy which supports only TLSv1.2</li> </ul> "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "EBSOptions": {
                  "description": "Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\"> Configuring EBS-based Storage</a>.",
                  "properties": {
                    "EBSEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Specifies whether EBS-based storage is enabled."
                        }
                      ]
                    },
                    "Iops": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "Specifies the IOPD for a Provisioned IOPS EBS volume (SSD)."
                        }
                      ]
                    },
                    "VolumeSize": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": " Integer to specify the size of an EBS volume."
                        }
                      ]
                    },
                    "VolumeType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/VolumeType"
                        },
                        {
                          "description": " Specifies the volume type for EBS-based storage."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "ElasticsearchClusterConfig": {
                  "description": "Specifies the configuration for the domain cluster, such as the type and number of instances.",
                  "properties": {
                    "DedicatedMasterCount": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "Total number of dedicated master nodes, active and on standby, for the cluster."
                        }
                      ]
                    },
                    "DedicatedMasterEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information."
                        }
                      ]
                    },
                    "DedicatedMasterType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ESPartitionInstanceType"
                        },
                        {
                          "description": "The instance type for a dedicated master node."
                        }
                      ]
                    },
                    "InstanceCount": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "The number of instances in the specified domain cluster."
                        }
                      ]
                    },
                    "InstanceType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ESPartitionInstanceType"
                        },
                        {
                          "description": "The instance type for an Elasticsearch cluster. UltraWarm instance types are not supported for data instances."
                        }
                      ]
                    },
                    "WarmCount": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "The number of warm nodes in the cluster."
                        }
                      ]
                    },
                    "WarmEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "True to enable warm storage."
                        }
                      ]
                    },
                    "WarmType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ESWarmPartitionInstanceType"
                        },
                        {
                          "description": "The instance type for the Elasticsearch cluster's warm nodes."
                        }
                      ]
                    },
                    "ZoneAwarenessConfig": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ZoneAwarenessConfig"
                        },
                        {
                          "description": "Specifies the zone awareness configuration for a domain when zone awareness is enabled."
                        }
                      ]
                    },
                    "ZoneAwarenessEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "A boolean value to indicate whether zone awareness is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\" target=\"_blank\">About Zone Awareness</a> for more information."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "LogPublishingOptions": {
                  "additionalProperties": {
                    "$ref": "#/definitions/LogPublishingOption"
                  },
                  "description": "Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.",
                  "type": "object"
                },
                "SnapshotOptions": {
                  "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.",
                  "properties": {
                    "AutomatedSnapshotStartHour": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerClass"
                        },
                        {
                          "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "VPCOptions": {
                  "description": "Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\"> VPC Endpoints for Amazon Elasticsearch Service Domains</a>.",
                  "properties": {
                    "SecurityGroupIds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringList"
                        },
                        {
                          "description": "Specifies the security groups for VPC endpoint."
                        }
                      ]
                    },
                    "SubnetIds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringList"
                        },
                        {
                          "description": "Specifies the subnets for VPC endpoint."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateElasticsearchDomainConfigResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "InvalidTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidTypeException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "485": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. ",
        "operationId": "UpdateElasticsearchDomainConfig"
      }
    },
    "/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " DomainName represents the name of the Domain that we are trying to modify. This should be present only if we are querying for Elasticsearch <code> <a>Limits</a> </code> for existing domain. ",
            "in": "query",
            "maxLength": 28,
            "minLength": 3,
            "name": "domainName",
            "pattern": "[a-z][a-z0-9\\-]+",
            "required": false,
            "type": "string"
          },
          {
            "description": " The instance type for an Elasticsearch cluster for which Elasticsearch <code> <a>Limits</a> </code> are needed. ",
            "enum": [
              "m3.medium.elasticsearch",
              "m3.large.elasticsearch",
              "m3.xlarge.elasticsearch",
              "m3.2xlarge.elasticsearch",
              "m4.large.elasticsearch",
              "m4.xlarge.elasticsearch",
              "m4.2xlarge.elasticsearch",
              "m4.4xlarge.elasticsearch",
              "m4.10xlarge.elasticsearch",
              "m5.large.elasticsearch",
              "m5.xlarge.elasticsearch",
              "m5.2xlarge.elasticsearch",
              "m5.4xlarge.elasticsearch",
              "m5.12xlarge.elasticsearch",
              "r5.large.elasticsearch",
              "r5.xlarge.elasticsearch",
              "r5.2xlarge.elasticsearch",
              "r5.4xlarge.elasticsearch",
              "r5.12xlarge.elasticsearch",
              "c5.large.elasticsearch",
              "c5.xlarge.elasticsearch",
              "c5.2xlarge.elasticsearch",
              "c5.4xlarge.elasticsearch",
              "c5.9xlarge.elasticsearch",
              "c5.18xlarge.elasticsearch",
              "ultrawarm1.medium.elasticsearch",
              "ultrawarm1.large.elasticsearch",
              "t2.micro.elasticsearch",
              "t2.small.elasticsearch",
              "t2.medium.elasticsearch",
              "r3.large.elasticsearch",
              "r3.xlarge.elasticsearch",
              "r3.2xlarge.elasticsearch",
              "r3.4xlarge.elasticsearch",
              "r3.8xlarge.elasticsearch",
              "i2.xlarge.elasticsearch",
              "i2.2xlarge.elasticsearch",
              "d2.xlarge.elasticsearch",
              "d2.2xlarge.elasticsearch",
              "d2.4xlarge.elasticsearch",
              "d2.8xlarge.elasticsearch",
              "c4.large.elasticsearch",
              "c4.xlarge.elasticsearch",
              "c4.2xlarge.elasticsearch",
              "c4.4xlarge.elasticsearch",
              "c4.8xlarge.elasticsearch",
              "r4.large.elasticsearch",
              "r4.xlarge.elasticsearch",
              "r4.2xlarge.elasticsearch",
              "r4.4xlarge.elasticsearch",
              "r4.8xlarge.elasticsearch",
              "r4.16xlarge.elasticsearch",
              "i3.large.elasticsearch",
              "i3.xlarge.elasticsearch",
              "i3.2xlarge.elasticsearch",
              "i3.4xlarge.elasticsearch",
              "i3.8xlarge.elasticsearch",
              "i3.16xlarge.elasticsearch"
            ],
            "in": "path",
            "name": "InstanceType",
            "required": true,
            "type": "string"
          },
          {
            "description": " Version of Elasticsearch for which <code> <a>Limits</a> </code> are needed. ",
            "in": "path",
            "name": "ElasticsearchVersion",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchInstanceTypeLimitsResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "InvalidTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidTypeException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "485": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": " Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion. When modifying existing Domain, specify the <code> <a>DomainName</a> </code> to know what Limits are supported for modifying. ",
        "operationId": "DescribeElasticsearchInstanceTypeLimits"
      }
    },
    "/2015-01-01/es/instanceTypes/{ElasticsearchVersion}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Version of Elasticsearch for which list of supported elasticsearch instance types are needed. ",
            "in": "path",
            "name": "ElasticsearchVersion",
            "required": true,
            "type": "string"
          },
          {
            "description": "DomainName represents the name of the Domain that we are trying to modify. This should be present only if we are querying for list of available Elasticsearch instance types when modifying existing domain. ",
            "in": "query",
            "maxLength": 28,
            "minLength": 3,
            "name": "domainName",
            "pattern": "[a-z][a-z0-9\\-]+",
            "required": false,
            "type": "string"
          },
          {
            "description": " Set this value to limit the number of results returned. Value provided must be greater than 30 else it wont be honored. ",
            "in": "query",
            "maximum": 100,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "NextToken should be sent in case if earlier API call produced result containing NextToken. It is used for pagination. ",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListElasticsearchInstanceTypesResponse"
            }
          },
          "480": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "481": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "List all Elasticsearch instance types that are supported for given ElasticsearchVersion",
        "operationId": "ListElasticsearchInstanceTypes"
      }
    },
    "/2015-01-01/es/purchaseReservedInstanceOffering": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "InstanceCount": {
                  "description": "Specifies the number of EC2 instances in the Elasticsearch domain.",
                  "minimum": 1,
                  "type": "integer"
                },
                "ReservationName": {
                  "description": "A customer-specified identifier to track this reservation.",
                  "maxLength": 64,
                  "minLength": 5,
                  "type": "string"
                },
                "ReservedElasticsearchInstanceOfferingId": {
                  "description": "The ID of the reserved Elasticsearch instance offering to purchase.",
                  "pattern": "\\p{XDigit}{8}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{12}",
                  "type": "string"
                }
              },
              "required": [
                "ReservedElasticsearchInstanceOfferingId",
                "ReservationName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseReservedElasticsearchInstanceOfferingResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          },
          "484": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "485": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        },
        "description": "Allows you to purchase reserved Elasticsearch instances.",
        "operationId": "PurchaseReservedElasticsearchInstanceOffering"
      }
    },
    "/2015-01-01/es/reservedInstanceOfferings": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
[...]
