{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "AWS Glue DataBrew is a visual, cloud-scale data-preparation service. DataBrew simplifies data preparation tasks, targeting data issues that are hard to spot and time-consuming to fix. DataBrew empowers users of all technical levels to visualize the data and perform one-click data transformations, with no coding required.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Glue DataBrew",
    "version": "2017-07-25",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/databrew-2017-07-25.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "databrew",
    "x-datafire": {
      "name": "amazonaws_databrew",
      "type": "openapi"
    }
  },
  "host": "databrew.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/datasets": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of results to return in this request. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token generated by DataBrew that specifies where to continue pagination if a previous request was truncated. To get the next set of pages, pass in the NextToken value from the response object of the previous page call. ",
            "in": "query",
            "maxLength": 2000,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDatasetsResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Lists all of the AWS Glue DataBrew datasets for the current AWS account.",
        "operationId": "ListDatasets"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "FormatOptions": {
                  "description": "Options that define how Microsoft Excel input is to be interpreted by DataBrew.",
                  "properties": {
                    "Excel": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ExcelOptions"
                        },
                        {
                          "description": "Options that define how Excel input is to be interpreted by DataBrew."
                        }
                      ]
                    },
                    "Json": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/JsonOptions"
                        },
                        {
                          "description": "Options that define how JSON input is to be interpreted by DataBrew."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Input": {
                  "description": "Information on how AWS Glue DataBrew can find data, in either the AWS Glue Data Catalog or Amazon S3.",
                  "properties": {
                    "DataCatalogInputDefinition": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DataCatalogInputDefinition"
                        },
                        {
                          "description": "The AWS Glue Data Catalog parameters for the data."
                        }
                      ]
                    },
                    "S3InputDefinition": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Location"
                        },
                        {
                          "description": "The Amazon S3 location where the data is stored."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Name": {
                  "description": "The name of the dataset to be created.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "Metadata tags to apply to this dataset.",
                  "maxProperties": 200,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "Name",
                "Input"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDatasetResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "482": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Creates a new AWS Glue DataBrew dataset for this AWS account.",
        "operationId": "CreateDataset"
      }
    },
    "/datasets/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the dataset to be deleted.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDatasetResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Deletes a dataset from AWS Glue DataBrew.",
        "operationId": "DeleteDataset"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the dataset to be described.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDatasetResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Returns the definition of a specific AWS Glue DataBrew dataset that is in the current AWS account.",
        "operationId": "DescribeDataset"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the dataset to be updated.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "FormatOptions": {
                  "description": "Options that define how Microsoft Excel input is to be interpreted by DataBrew.",
                  "properties": {
                    "Excel": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ExcelOptions"
                        },
                        {
                          "description": "Options that define how Excel input is to be interpreted by DataBrew."
                        }
                      ]
                    },
                    "Json": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/JsonOptions"
                        },
                        {
                          "description": "Options that define how JSON input is to be interpreted by DataBrew."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Input": {
                  "description": "Information on how AWS Glue DataBrew can find data, in either the AWS Glue Data Catalog or Amazon S3.",
                  "properties": {
                    "DataCatalogInputDefinition": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DataCatalogInputDefinition"
                        },
                        {
                          "description": "The AWS Glue Data Catalog parameters for the data."
                        }
                      ]
                    },
                    "S3InputDefinition": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Location"
                        },
                        {
                          "description": "The Amazon S3 location where the data is stored."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "Input"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDatasetResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Modifies the definition of an existing AWS Glue DataBrew dataset in the current AWS account.",
        "operationId": "UpdateDataset"
      }
    },
    "/jobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of a dataset. Using this parameter indicates to return only those jobs that act on the specified dataset.",
            "in": "query",
            "maxLength": 255,
            "minLength": 1,
            "name": "datasetName",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return in this request. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token generated by DataBrew that specifies where to continue pagination if a previous request was truncated. To get the next set of pages, pass in the NextToken value from the response object of the previous page call. ",
            "in": "query",
            "maxLength": 2000,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The name of a project. Using this parameter indicates to return only those jobs that are associated with the specified project.",
            "in": "query",
            "maxLength": 255,
            "minLength": 1,
            "name": "projectName",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobsResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Lists the AWS Glue DataBrew jobs in the current AWS account.",
        "operationId": "ListJobs"
      }
    },
    "/jobs/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job to be deleted.",
            "in": "path",
            "maxLength": 240,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Deletes the specified AWS Glue DataBrew job from the current AWS account. The job can be for a recipe or for a profile.",
        "operationId": "DeleteJob"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job to be described.",
            "in": "path",
            "maxLength": 240,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeJobResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Returns the definition of a specific AWS Glue DataBrew job that is in the current AWS account.",
        "operationId": "DescribeJob"
      }
    },
    "/jobs/{name}/jobRun/{runId}/stopJobRun": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job to be stopped.",
            "in": "path",
            "maxLength": 240,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the job run to be stopped.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "runId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopJobRunResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Stops the specified job from running in the current AWS account.",
        "operationId": "StopJobRun"
      }
    },
    "/jobs/{name}/jobRuns": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job.",
            "in": "path",
            "maxLength": 240,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return in this request. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token generated by AWS Glue DataBrew that specifies where to continue pagination if a previous request was truncated. To get the next set of pages, pass in the NextToken value from the response object of the previous page call. ",
            "in": "query",
            "maxLength": 2000,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobRunsResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Lists all of the previous runs of a particular AWS Glue DataBrew job in the current AWS account.",
        "operationId": "ListJobRuns"
      }
    },
    "/jobs/{name}/startJobRun": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job to be run.",
            "in": "path",
            "maxLength": 240,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartJobRunResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Runs an AWS Glue DataBrew job that exists in the current AWS account.",
        "operationId": "StartJobRun"
      }
    },
    "/profileJobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DatasetName": {
                  "description": "The name of the dataset that this job is to act upon.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "EncryptionKeyArn": {
                  "description": "The Amazon Resource Name (ARN) of an encryption key that is used to protect the job.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "EncryptionMode": {
                  "description": "<p>The encryption mode for the job, which can be one of the following:</p> <ul> <li> <p> <code>SSE-KMS</code> - para&gt;<code>SSE-KMS</code> - server-side encryption with AWS KMS-managed keys.</p> </li> <li> <p> <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p> </li> </ul>",
                  "enum": [
                    "SSE-KMS",
                    "SSE-S3"
                  ],
                  "type": "string"
                },
                "LogSubscription": {
                  "description": "A value that enables or disables Amazon CloudWatch logging for the current AWS account. If logging is enabled, CloudWatch writes one log stream for each job run.",
                  "enum": [
                    "ENABLE",
                    "DISABLE"
                  ],
                  "type": "string"
                },
                "MaxCapacity": {
                  "description": "The maximum number of nodes that DataBrew can use when the job processes data.",
                  "type": "integer"
                },
                "MaxRetries": {
                  "description": "The maximum number of times to retry the job after a job run fails.",
                  "minimum": 0,
                  "type": "integer"
                },
                "Name": {
                  "description": "The name of the job to be created.",
                  "maxLength": 240,
                  "minLength": 1,
                  "type": "string"
                },
                "OutputLocation": {
                  "description": "An Amazon S3 location (bucket name an object key) where DataBrew can read input data, or write output from a job.",
                  "properties": {
                    "Bucket": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Bucket"
                        },
                        {
                          "description": "The S3 bucket name."
                        }
                      ]
                    },
                    "Key": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Key"
                        },
                        {
                          "description": "The unique name of the object in the bucket."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "RoleArn": {
                  "description": "The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role to be assumed for this request.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "Metadata tags to apply to this job.",
                  "maxProperties": 200,
                  "minProperties": 1,
                  "type": "object"
                },
                "Timeout": {
                  "description": "The job's timeout in minutes. A job that attempts to run longer than this timeout period ends with a status of <code>TIMEOUT</code>.",
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "required": [
                "DatasetName",
                "Name",
                "OutputLocation",
                "RoleArn"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateProfileJobResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Creates a new job to profile an AWS Glue DataBrew dataset that exists in the current AWS account.",
        "operationId": "CreateProfileJob"
      }
    },
    "/profileJobs/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job to be updated.",
            "in": "path",
            "maxLength": 240,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "EncryptionKeyArn": {
                  "description": "The Amazon Resource Name (ARN) of an encryption key that is used to protect the job.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "EncryptionMode": {
                  "description": "<p>The encryption mode for the job, which can be one of the following:</p> <ul> <li> <p> <code>SSE-KMS</code> - Server-side encryption with AWS KMS-managed keys.</p> </li> <li> <p> <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p> </li> </ul>",
                  "enum": [
                    "SSE-KMS",
                    "SSE-S3"
                  ],
                  "type": "string"
                },
                "LogSubscription": {
                  "description": "A value that enables or disables Amazon CloudWatch logging for the current AWS account. If logging is enabled, CloudWatch writes one log stream for each job run.",
                  "enum": [
                    "ENABLE",
                    "DISABLE"
                  ],
                  "type": "string"
                },
                "MaxCapacity": {
                  "description": "The maximum number of nodes that DataBrew can use when the job processes data.",
                  "type": "integer"
                },
                "MaxRetries": {
                  "description": "The maximum number of times to retry the job after a job run fails.",
                  "minimum": 0,
                  "type": "integer"
                },
                "OutputLocation": {
                  "description": "An Amazon S3 location (bucket name an object key) where DataBrew can read input data, or write output from a job.",
                  "properties": {
                    "Bucket": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Bucket"
                        },
                        {
                          "description": "The S3 bucket name."
                        }
                      ]
                    },
                    "Key": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Key"
                        },
                        {
                          "description": "The unique name of the object in the bucket."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "RoleArn": {
                  "description": "The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role to be assumed for this request.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "Timeout": {
                  "description": "The job's timeout in minutes. A job that attempts to run longer than this timeout period ends with a status of <code>TIMEOUT</code>.",
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "required": [
                "OutputLocation",
                "RoleArn"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateProfileJobResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Modifies the definition of an existing AWS Glue DataBrew job in the current AWS account.",
        "operationId": "UpdateProfileJob"
      }
    },
    "/projects": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A pagination token that can be used in a subsequent request.",
            "in": "query",
            "maxLength": 2000,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return in this request. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Lists all of the DataBrew projects in the current AWS account.",
        "operationId": "ListProjects"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DatasetName": {
                  "description": "The name of the dataset to associate this project with.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "Name": {
                  "description": "A unique name for the new project.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "RecipeName": {
                  "description": "The name of an existing recipe to associate with the project.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "RoleArn": {
                  "description": "The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role to be assumed for this request.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "Sample": {
                  "description": "Represents the sample size and sampling type for AWS Glue DataBrew to use for interactive data analysis.",
                  "properties": {
                    "Size": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SampleSize"
                        },
                        {
                          "description": "The number of rows in the sample."
                        }
                      ]
                    },
                    "Type": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SampleType"
                        },
                        {
                          "description": "The way in which DataBrew obtains rows from a dataset."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "Metadata tags to apply to this project.",
                  "maxProperties": 200,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "DatasetName",
                "Name",
                "RecipeName",
                "RoleArn"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateProjectResponse"
            }
          },
          "480": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Creates a new AWS Glue DataBrew project in the current AWS account.",
        "operationId": "CreateProject"
      }
    },
    "/projects/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project to be deleted.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteProjectResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Deletes an existing AWS Glue DataBrew project from the current AWS account.",
        "operationId": "DeleteProject"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project to be described.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeProjectResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Returns the definition of a specific AWS Glue DataBrew project that is in the current AWS account.",
        "operationId": "DescribeProject"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project to be updated.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "RoleArn": {
                  "description": "The Amazon Resource Name (ARN) of the IAM role to be assumed for this request.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "Sample": {
                  "description": "Represents the sample size and sampling type for AWS Glue DataBrew to use for interactive data analysis.",
                  "properties": {
                    "Size": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SampleSize"
                        },
                        {
                          "description": "The number of rows in the sample."
                        }
                      ]
                    },
                    "Type": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SampleType"
                        },
                        {
                          "description": "The way in which DataBrew obtains rows from a dataset."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "RoleArn"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateProjectResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Modifies the definition of an existing AWS Glue DataBrew project in the current AWS account.",
        "operationId": "UpdateProject"
      }
    },
    "/projects/{name}/sendProjectSessionAction": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project to apply the action to.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ClientSessionId": {
                  "description": "A unique identifier for an interactive session that's currently open and ready for work. The action will be performed on this session.",
                  "maxLength": 255,
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]*$",
                  "type": "string"
                },
                "Preview": {
                  "description": "Returns the result of the recipe step, without applying it. The result isn't added to the view frame stack.",
                  "type": "boolean"
                },
                "RecipeStep": {
                  "description": "Represents a single step to be performed in an AWS Glue DataBrew recipe.",
                  "properties": {
                    "Action": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RecipeAction"
                        },
                        {
                          "description": "The particular action to be performed in the recipe step."
                        }
                      ]
                    },
                    "ConditionExpressions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ConditionExpressionList"
                        },
                        {
                          "description": "<p>One or more conditions that must be met, in order for the recipe step to succeed.</p> <note> <p>All of the conditions in the array must be met. In other words, all of the conditions must be combined using a logical AND operation.</p> </note>"
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "StepIndex": {
                  "description": "The index from which to preview a step. This index is used to preview the result of steps that have already been applied, so that the resulting view frame is from earlier in the view frame stack.",
                  "minimum": 0,
                  "type": "integer"
                },
                "ViewFrame": {
                  "description": "Represents the data being being transformed during an AWS Glue DataBrew project session.",
                  "properties": {
                    "ColumnRange": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ColumnRange"
                        },
                        {
                          "description": "The number of columns to include in the view frame, beginning with the <code>StartColumnIndex</code> value and ignoring any columns in the <code>HiddenColumns</code> list."
                        }
                      ]
                    },
                    "HiddenColumns": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/HiddenColumnList"
                        },
                        {
                          "description": "A list of columns to hide in the view frame."
                        }
                      ]
                    },
                    "StartColumnIndex": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StartColumnIndex"
                        },
                        {
                          "description": "The starting index for the range of columns to return in the view frame."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SendProjectSessionActionResponse"
            }
          },
          "480": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Performs a recipe step within an interactive AWS Glue DataBrew session that's currently open.",
        "operationId": "SendProjectSessionAction"
      }
    },
    "/projects/{name}/startProjectSession": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the project to act upon.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AssumeControl": {
                  "description": "A value that, if true, enables you to take control of a session, even if a different client is currently accessing the project.",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartProjectSessionResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Creates an interactive session, enabling you to manipulate an AWS Glue DataBrew project.",
        "operationId": "StartProjectSession"
      }
    },
    "/recipeJobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DatasetName": {
                  "description": "The name of the dataset that this job processes.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "EncryptionKeyArn": {
                  "description": "The Amazon Resource Name (ARN) of an encryption key that is used to protect the job.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "EncryptionMode": {
                  "description": "<p>The encryption mode for the job, which can be one of the following:</p> <ul> <li> <p> <code>SSE-KMS</code> - Server-side encryption with AWS KMS-managed keys.</p> </li> <li> <p> <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p> </li> </ul>",
                  "enum": [
                    "SSE-KMS",
                    "SSE-S3"
                  ],
                  "type": "string"
                },
                "LogSubscription": {
                  "description": "A value that enables or disables Amazon CloudWatch logging for the current AWS account. If logging is enabled, CloudWatch writes one log stream for each job run.",
                  "enum": [
                    "ENABLE",
                    "DISABLE"
                  ],
                  "type": "string"
                },
                "MaxCapacity": {
                  "description": "The maximum number of nodes that DataBrew can consume when the job processes data.",
                  "type": "integer"
                },
                "MaxRetries": {
                  "description": "The maximum number of times to retry the job after a job run fails.",
                  "minimum": 0,
                  "type": "integer"
                },
                "Name": {
                  "description": "A unique name for the job.",
                  "maxLength": 240,
                  "minLength": 1,
                  "type": "string"
                },
                "Outputs": {
                  "description": "One or more artifacts that represent the output from running the job.",
                  "items": {
                    "$ref": "#/definitions/Output"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "ProjectName": {
                  "description": "Either the name of an existing project, or a combination of a recipe and a dataset to associate with the recipe.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "RecipeReference": {
                  "description": "Represents all of the attributes of an AWS Glue DataBrew recipe.",
                  "properties": {
                    "Name": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RecipeName"
                        },
                        {
                          "description": "The name of the recipe."
                        }
                      ]
                    },
                    "RecipeVersion": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RecipeVersion"
                        },
                        {
                          "description": "The identifier for the version for the recipe. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "RoleArn": {
                  "description": "The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role to be assumed for this request.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "Metadata tags to apply to this job dataset.",
                  "maxProperties": 200,
                  "minProperties": 1,
                  "type": "object"
                },
                "Timeout": {
                  "description": "The job's timeout in minutes. A job that attempts to run longer than this timeout period ends with a status of <code>TIMEOUT</code>.",
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "required": [
                "Name",
                "Outputs",
                "RoleArn"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRecipeJobResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Creates a new job for an existing AWS Glue DataBrew recipe in the current AWS account. You can create a standalone job using either a project, or a combination of a recipe and a dataset.",
        "operationId": "CreateRecipeJob"
      }
    },
    "/recipeJobs/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job to update.",
            "in": "path",
            "maxLength": 240,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "EncryptionKeyArn": {
                  "description": "The Amazon Resource Name (ARN) of an encryption key that is used to protect the job.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "EncryptionMode": {
                  "description": "<p>The encryption mode for the job, which can be one of the following:</p> <ul> <li> <p> <code>SSE-KMS</code> - Server-side encryption with AWS KMS-managed keys.</p> </li> <li> <p> <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p> </li> </ul>",
                  "enum": [
                    "SSE-KMS",
                    "SSE-S3"
                  ],
                  "type": "string"
                },
                "LogSubscription": {
                  "description": "A value that enables or disables Amazon CloudWatch logging for the current AWS account. If logging is enabled, CloudWatch writes one log stream for each job run.",
                  "enum": [
                    "ENABLE",
                    "DISABLE"
                  ],
                  "type": "string"
                },
                "MaxCapacity": {
                  "description": "The maximum number of nodes that DataBrew can consume when the job processes data.",
                  "type": "integer"
                },
                "MaxRetries": {
                  "description": "The maximum number of times to retry the job after a job run fails.",
                  "minimum": 0,
                  "type": "integer"
                },
                "Outputs": {
                  "description": "One or more artifacts that represent the output from running the job. ",
                  "items": {
                    "$ref": "#/definitions/Output"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "RoleArn": {
                  "description": "The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role to be assumed for this request.",
                  "maxLength": 2048,
                  "minLength": 20,
                  "type": "string"
                },
                "Timeout": {
                  "description": "The job's timeout in minutes. A job that attempts to run longer than this timeout period ends with a status of <code>TIMEOUT</code>.",
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "required": [
                "Outputs",
                "RoleArn"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateRecipeJobResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Modifies the definition of an existing AWS Glue DataBrew recipe job in the current AWS account.",
        "operationId": "UpdateRecipeJob"
      }
    },
    "/recipeVersions#name": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of results to return in this request. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A pagination token that can be used in a subsequent request.",
            "in": "query",
            "maxLength": 2000,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "The name of the recipe for which to return version information.",
            "in": "query",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRecipeVersionsResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Lists all of the versions of a particular AWS Glue DataBrew recipe in the current AWS account.",
        "operationId": "ListRecipeVersions"
      }
    },
    "/recipes": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of results to return in this request. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A pagination token that can be used in a subsequent request.",
            "in": "query",
            "maxLength": 2000,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "A version identifier. Using this parameter indicates to return only those recipes that have this version identifier.",
            "in": "query",
            "maxLength": 16,
            "minLength": 1,
            "name": "recipeVersion",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRecipesResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Lists all of the AWS Glue DataBrew recipes in the current AWS account.",
        "operationId": "ListRecipes"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Description": {
                  "description": "A description for the recipe.",
                  "maxLength": 1024,
                  "type": "string"
                },
                "Name": {
                  "description": "A unique name for the recipe.",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "Steps": {
                  "description": "An array containing the steps to be performed by the recipe. Each recipe step consists of one recipe action and (optionally) an array of condition expressions.",
                  "items": {
                    "$ref": "#/definitions/RecipeStep"
                  },
                  "type": "array"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "Metadata tags to apply to this recipe.",
                  "maxProperties": 200,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "Name",
                "Steps"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRecipeResponse"
            }
          },
          "480": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "481": {
            "description": "ServiceQuotaExceededException",
            "schema": {
              "$ref": "#/definitions/ServiceQuotaExceededException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Creates a new AWS Glue DataBrew recipe for the current AWS account.",
        "operationId": "CreateRecipe"
      }
    },
    "/recipes/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the recipe to be described.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The recipe version identifier. If this parameter isn't specified, then the latest published version is returned.",
            "in": "query",
            "maxLength": 16,
            "minLength": 1,
            "name": "recipeVersion",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeRecipeResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Returns the definition of a specific AWS Glue DataBrew recipe that is in the current AWS account.",
        "operationId": "DescribeRecipe"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the recipe to be updated.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Description": {
                  "description": "A description of the recipe.",
                  "maxLength": 1024,
                  "type": "string"
                },
                "Steps": {
                  "description": "One or more steps to be performed by the recipe. Each step consists of an action, and the conditions under which the action should succeed.",
                  "items": {
                    "$ref": "#/definitions/RecipeStep"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateRecipeResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Modifies the definition of the latest working version of an AWS Glue DataBrew recipe in the current AWS account.",
        "operationId": "UpdateRecipe"
      }
    },
    "/recipes/{name}/batchDeleteRecipeVersion": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the recipe to be modified.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "RecipeVersions": {
                  "description": "An array of version identifiers to be deleted.",
                  "items": {
                    "$ref": "#/definitions/RecipeVersion"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "RecipeVersions"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeleteRecipeVersionResponse"
            }
          },
          "480": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Deletes one or more versions of a recipe at a time.",
        "operationId": "BatchDeleteRecipeVersion"
      }
    },
    "/recipes/{name}/publishRecipe": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the recipe to be published.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Description": {
                  "description": "A description of the recipe to be published, for this version of the recipe.",
                  "maxLength": 1024,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PublishRecipeResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Publishes a new major version of an AWS Glue DataBrew recipe that exists in the current AWS account.",
        "operationId": "PublishRecipe"
      }
    },
    "/recipes/{name}/recipeVersion/{recipeVersion}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the recipe to be deleted.",
            "in": "path",
            "maxLength": 255,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the recipe to be deleted.",
            "in": "path",
            "maxLength": 16,
            "minLength": 1,
            "name": "recipeVersion",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRecipeVersionResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Deletes a single version of an AWS Glue DataBrew recipe.",
        "operationId": "DeleteRecipeVersion"
      }
    },
    "/schedules": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the job that these schedules apply to.",
            "in": "query",
            "maxLength": 240,
            "minLength": 1,
            "name": "jobName",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return in this request. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A pagination token that can be used in a subsequent request.",
            "in": "query",
            "maxLength": 2000,
            "minLength": 1,
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListSchedulesResponse"
            }
          },
          "480": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Lists the AWS Glue DataBrew schedules in the current AWS account.",
        "operationId": "ListSchedules"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
[...]
