{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "The control plane for Amazon QLDB",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon QLDB",
    "version": "2019-01-02",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/qldb-2019-01-02.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "qldb",
    "x-datafire": {
      "name": "amazonaws_qldb",
      "type": "openapi"
    }
  },
  "host": "qldb.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/journal-s3-exports": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of results to return in a single <code>ListJournalS3Exports</code> request. (The actual number of results returned might be fewer.)",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max_results",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A pagination token, indicating that you want to retrieve the next page of results. If you received a value for <code>NextToken</code> in the response from a previous <code>ListJournalS3Exports</code> call, then you should use that value as input here.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 4,
            "name": "next_token",
            "pattern": "^[A-Za-z-0-9+/=]+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJournalS3ExportsResponse"
            }
          }
        },
        "description": "<p>Returns an array of journal export job descriptions for all ledgers that are associated with the current AWS account and Region.</p> <p>This action returns a maximum of <code>MaxResults</code> items, and is paginated so that you can retrieve all the items by calling <code>ListJournalS3Exports</code> multiple times.</p> <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export Job Expiration</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
        "operationId": "ListJournalS3Exports"
      }
    },
    "/ledgers": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of results to return in a single <code>ListLedgers</code> request. (The actual number of results returned might be fewer.)",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max_results",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A pagination token, indicating that you want to retrieve the next page of results. If you received a value for <code>NextToken</code> in the response from a previous <code>ListLedgers</code> call, then you should use that value as input here.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 4,
            "name": "next_token",
            "pattern": "^[A-Za-z-0-9+/=]+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListLedgersResponse"
            }
          }
        },
        "description": "<p>Returns an array of ledger summaries that are associated with the current AWS account and Region.</p> <p>This action returns a maximum of 100 items and is paginated so that you can retrieve all the items by calling <code>ListLedgers</code> multiple times.</p>",
        "operationId": "ListLedgers"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DeletionProtection": {
                  "description": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on ledger creation, this feature is enabled (<code>true</code>) by default.</p> <p>If deletion protection is enabled, you must first disable it before you can delete the ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB console disables deletion protection for you when you use it to delete a ledger.</p>",
                  "type": "boolean"
                },
                "Name": {
                  "description": "<p>The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
                  "maxLength": 32,
                  "minLength": 1,
                  "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
                  "type": "string"
                },
                "PermissionsMode": {
                  "description": "The permissions mode to assign to the ledger that you want to create.",
                  "enum": [
                    "ALLOW_ALL"
                  ],
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.",
                  "maxProperties": 200,
                  "minProperties": 0,
                  "type": "object"
                }
              },
              "required": [
                "Name",
                "PermissionsMode"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateLedgerResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "Creates a new ledger in your AWS account.",
        "operationId": "CreateLedger"
      }
    },
    "/ledgers/{name}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger that you want to delete.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "483": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "<p>Deletes a ledger and all of its contents. This action is irreversible.</p> <p>If deletion protection is enabled, you must first disable it before you can delete the ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB console disables deletion protection for you when you use it to delete a ledger.</p>",
        "operationId": "DeleteLedger"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger that you want to describe.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeLedgerResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Returns information about a ledger, including its state and when it was created.",
        "operationId": "DescribeLedger"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DeletionProtection": {
                  "description": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on ledger creation, this feature is enabled (<code>true</code>) by default.</p> <p>If deletion protection is enabled, you must first disable it before you can delete the ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB console disables deletion protection for you when you use it to delete a ledger.</p>",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateLedgerResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Updates properties on a ledger.",
        "operationId": "UpdateLedger"
      }
    },
    "/ledgers/{name}/block": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "BlockAddress": {
                  "description": "A structure that can contain a value in multiple encoding formats.",
                  "properties": {
                    "IonText": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IonText"
                        },
                        {
                          "description": "An Amazon Ion plaintext value contained in a <code>ValueHolder</code> structure."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "DigestTipAddress": {
                  "description": "A structure that can contain a value in multiple encoding formats.",
                  "properties": {
                    "IonText": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IonText"
                        },
                        {
                          "description": "An Amazon Ion plaintext value contained in a <code>ValueHolder</code> structure."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "BlockAddress"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBlockResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "<p>Returns a block object at a specified address in a journal. Also returns a proof of the specified block for verification if <code>DigestTipAddress</code> is provided.</p> <p>For information about the data contents in a block, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/journal-contents.html\">Journal contents</a> in the <i>Amazon QLDB Developer Guide</i>.</p> <p>If the specified ledger doesn't exist or is in <code>DELETING</code> status, then throws <code>ResourceNotFoundException</code>.</p> <p>If the specified ledger is in <code>CREATING</code> status, then throws <code>ResourcePreconditionNotMetException</code>.</p> <p>If no block exists with the specified address, then throws <code>InvalidParameterException</code>.</p>",
        "operationId": "GetBlock"
      }
    },
    "/ledgers/{name}/digest": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDigestResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "Returns the digest of a ledger at the latest committed block in the journal. The response includes a 256-bit hash value and a block address.",
        "operationId": "GetDigest"
      }
    },
    "/ledgers/{name}/journal-kinesis-streams": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return in a single <code>ListJournalKinesisStreamsForLedger</code> request. (The actual number of results returned might be fewer.)",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max_results",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A pagination token, indicating that you want to retrieve the next page of results. If you received a value for <code>NextToken</code> in the response from a previous <code>ListJournalKinesisStreamsForLedger</code> call, you should use that value as input here.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 4,
            "name": "next_token",
            "pattern": "^[A-Za-z-0-9+/=]+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJournalKinesisStreamsForLedgerResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "<p>Returns an array of all Amazon QLDB journal stream descriptors for a given ledger. The output of each stream descriptor includes the same details that are returned by <code>DescribeJournalKinesisStream</code>.</p> <p>This action returns a maximum of <code>MaxResults</code> items. It is paginated so that you can retrieve all the items by calling <code>ListJournalKinesisStreamsForLedger</code> multiple times.</p>",
        "operationId": "ListJournalKinesisStreamsForLedger"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ExclusiveEndTime": {
                  "description": "<p>The exclusive date and time that specifies when the stream ends. If you don't define this parameter, the stream runs indefinitely until you cancel it.</p> <p>The <code>ExclusiveEndTime</code> must be in <code>ISO 8601</code> date and time format and in Universal Coordinated Time (UTC). For example: <code>2019-06-13T21:36:34Z</code> </p>",
                  "format": "date-time",
                  "type": "string"
                },
                "InclusiveStartTime": {
                  "description": "<p>The inclusive start date and time from which to start streaming journal data. This parameter must be in <code>ISO 8601</code> date and time format and in Universal Coordinated Time (UTC). For example: <code>2019-06-13T21:36:34Z</code> </p> <p>The <code>InclusiveStartTime</code> cannot be in the future and must be before <code>ExclusiveEndTime</code>.</p> <p>If you provide an <code>InclusiveStartTime</code> that is before the ledger's <code>CreationDateTime</code>, QLDB effectively defaults it to the ledger's <code>CreationDateTime</code>.</p>",
                  "format": "date-time",
                  "type": "string"
                },
                "KinesisConfiguration": {
                  "description": "The configuration settings of the Amazon Kinesis Data Streams destination for your Amazon QLDB journal stream.",
                  "properties": {
                    "AggregationEnabled": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Boolean"
                        },
                        {
                          "description": "Enables QLDB to publish multiple data records in a single Kinesis Data Streams record. To learn more, see <a href=\"https://docs.aws.amazon.com/streams/latest/dev/kinesis-kpl-concepts.html\">KPL Key Concepts</a> in the <i>Amazon Kinesis Data Streams Developer Guide</i>."
                        }
                      ]
                    },
                    "StreamArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Arn"
                        },
                        {
                          "description": "The Amazon Resource Name (ARN) of the Kinesis data stream resource."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "RoleArn": {
                  "description": "The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a journal stream to write data records to a Kinesis Data Streams resource.",
                  "maxLength": 1600,
                  "minLength": 20,
                  "type": "string"
                },
                "StreamName": {
                  "description": "<p>The name that you want to assign to the QLDB journal stream. User-defined names can help identify and indicate the purpose of a stream.</p> <p>Your stream name must be unique among other <i>active</i> streams for a given ledger. Stream names have the same naming constraints as ledger names, as defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
                  "maxLength": 32,
                  "minLength": 1,
                  "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The key-value pairs to add as tags to the stream that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.",
                  "maxProperties": 200,
                  "minProperties": 0,
                  "type": "object"
                }
              },
              "required": [
                "RoleArn",
                "InclusiveStartTime",
                "KinesisConfiguration",
                "StreamName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StreamJournalToKinesisResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "Creates a journal stream for a given Amazon QLDB ledger. The stream captures every document revision that is committed to the ledger's journal and delivers the data to a specified Amazon Kinesis Data Streams resource.",
        "operationId": "StreamJournalToKinesis"
      }
    },
    "/ledgers/{name}/journal-kinesis-streams/{streamId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique ID that QLDB assigns to each QLDB journal stream.",
            "in": "path",
            "maxLength": 22,
            "minLength": 22,
            "name": "streamId",
            "pattern": "^[A-Za-z-0-9]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelJournalKinesisStreamResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "<p>Ends a given Amazon QLDB journal stream. Before a stream can be canceled, its current status must be <code>ACTIVE</code>.</p> <p>You can't restart a stream after you cancel it. Canceled QLDB stream resources are subject to a 7-day retention period, so they are automatically deleted after this limit expires.</p>",
        "operationId": "CancelJournalKinesisStream"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique ID that QLDB assigns to each QLDB journal stream.",
            "in": "path",
            "maxLength": 22,
            "minLength": 22,
            "name": "streamId",
            "pattern": "^[A-Za-z-0-9]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeJournalKinesisStreamResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "Returns detailed information about a given Amazon QLDB journal stream. The output includes the Amazon Resource Name (ARN), stream name, current status, creation time, and the parameters of your original stream creation request.",
        "operationId": "DescribeJournalKinesisStream"
      }
    },
    "/ledgers/{name}/journal-s3-exports": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return in a single <code>ListJournalS3ExportsForLedger</code> request. (The actual number of results returned might be fewer.)",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max_results",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A pagination token, indicating that you want to retrieve the next page of results. If you received a value for <code>NextToken</code> in the response from a previous <code>ListJournalS3ExportsForLedger</code> call, then you should use that value as input here.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 4,
            "name": "next_token",
            "pattern": "^[A-Za-z-0-9+/=]+$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJournalS3ExportsForLedgerResponse"
            }
          }
        },
        "description": "<p>Returns an array of journal export job descriptions for a specified ledger.</p> <p>This action returns a maximum of <code>MaxResults</code> items, and is paginated so that you can retrieve all the items by calling <code>ListJournalS3ExportsForLedger</code> multiple times.</p> <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export Job Expiration</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
        "operationId": "ListJournalS3ExportsForLedger"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ExclusiveEndTime": {
                  "description": "<p>The exclusive end date and time for the range of journal contents that you want to export.</p> <p>The <code>ExclusiveEndTime</code> must be in <code>ISO 8601</code> date and time format and in Universal Coordinated Time (UTC). For example: <code>2019-06-13T21:36:34Z</code> </p> <p>The <code>ExclusiveEndTime</code> must be less than or equal to the current UTC date and time.</p>",
                  "format": "date-time",
                  "type": "string"
                },
                "InclusiveStartTime": {
                  "description": "<p>The inclusive start date and time for the range of journal contents that you want to export.</p> <p>The <code>InclusiveStartTime</code> must be in <code>ISO 8601</code> date and time format and in Universal Coordinated Time (UTC). For example: <code>2019-06-13T21:36:34Z</code> </p> <p>The <code>InclusiveStartTime</code> must be before <code>ExclusiveEndTime</code>.</p> <p>If you provide an <code>InclusiveStartTime</code> that is before the ledger's <code>CreationDateTime</code>, Amazon QLDB defaults it to the ledger's <code>CreationDateTime</code>.</p>",
                  "format": "date-time",
                  "type": "string"
                },
                "RoleArn": {
                  "description": "<p>The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a journal export job to do the following:</p> <ul> <li> <p>Write objects into your Amazon Simple Storage Service (Amazon S3) bucket.</p> </li> <li> <p>(Optional) Use your customer master key (CMK) in AWS Key Management Service (AWS KMS) for server-side encryption of your exported data.</p> </li> </ul>",
                  "maxLength": 1600,
                  "minLength": 20,
                  "type": "string"
                },
                "S3ExportConfiguration": {
                  "description": "The Amazon Simple Storage Service (Amazon S3) bucket location in which a journal export job writes the journal contents.",
                  "properties": {
                    "Bucket": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Bucket"
                        },
                        {
                          "description": "<p>The Amazon S3 bucket name in which a journal export job writes the journal contents.</p> <p>The bucket name must comply with the Amazon S3 bucket naming conventions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html\">Bucket Restrictions and Limitations</a> in the <i>Amazon S3 Developer Guide</i>.</p>"
                        }
                      ]
                    },
                    "EncryptionConfiguration": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3EncryptionConfiguration"
                        },
                        {
                          "description": "The encryption settings that are used by a journal export job to write data in an Amazon S3 bucket."
                        }
                      ]
                    },
                    "Prefix": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/S3Prefix"
                        },
                        {
                          "description": "<p>The prefix for the Amazon S3 bucket in which a journal export job writes the journal contents.</p> <p>The prefix must comply with Amazon S3 key naming rules and restrictions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html\">Object Key and Metadata</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>The following are examples of valid <code>Prefix</code> values:</p> <ul> <li> <p> <code>JournalExports-ForMyLedger/Testing/</code> </p> </li> <li> <p> <code>JournalExports</code> </p> </li> <li> <p> <code>My:Tests/</code> </p> </li> </ul>"
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "InclusiveStartTime",
                "ExclusiveEndTime",
                "S3ExportConfiguration",
                "RoleArn"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExportJournalToS3Response"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "<p>Exports journal contents within a date and time range from a ledger into a specified Amazon Simple Storage Service (Amazon S3) bucket. The data is written as files in Amazon Ion format.</p> <p>If the ledger with the given <code>Name</code> doesn't exist, then throws <code>ResourceNotFoundException</code>.</p> <p>If the ledger with the given <code>Name</code> is in <code>CREATING</code> status, then throws <code>ResourcePreconditionNotMetException</code>.</p> <p>You can initiate up to two concurrent journal export requests for each ledger. Beyond this limit, journal export requests throw <code>LimitExceededException</code>.</p>",
        "operationId": "ExportJournalToS3"
      }
    },
    "/ledgers/{name}/journal-s3-exports/{exportId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique ID of the journal export job that you want to describe.",
            "in": "path",
            "maxLength": 22,
            "minLength": 22,
            "name": "exportId",
            "pattern": "^[A-Za-z-0-9]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeJournalS3ExportResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "<p>Returns information about a journal export job, including the ledger name, export ID, when it was created, current status, and its start and end time export parameters.</p> <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export Job Expiration</a> in the <i>Amazon QLDB Developer Guide</i>.</p> <p>If the export job with the given <code>ExportId</code> doesn't exist, then throws <code>ResourceNotFoundException</code>.</p> <p>If the ledger with the given <code>Name</code> doesn't exist, then throws <code>ResourceNotFoundException</code>.</p>",
        "operationId": "DescribeJournalS3Export"
      }
    },
    "/ledgers/{name}/revision": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the ledger.",
            "in": "path",
            "maxLength": 32,
            "minLength": 1,
            "name": "name",
            "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "BlockAddress": {
                  "description": "A structure that can contain a value in multiple encoding formats.",
                  "properties": {
                    "IonText": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IonText"
                        },
                        {
                          "description": "An Amazon Ion plaintext value contained in a <code>ValueHolder</code> structure."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "DigestTipAddress": {
                  "description": "A structure that can contain a value in multiple encoding formats.",
                  "properties": {
                    "IonText": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IonText"
                        },
                        {
                          "description": "An Amazon Ion plaintext value contained in a <code>ValueHolder</code> structure."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "DocumentId": {
                  "description": "The unique ID of the document to be verified.",
                  "maxLength": 22,
                  "minLength": 22,
                  "pattern": "^[A-Za-z-0-9]+$",
                  "type": "string"
                }
              },
              "required": [
                "BlockAddress",
                "DocumentId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRevisionResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourcePreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/ResourcePreconditionNotMetException"
            }
          }
        },
        "description": "Returns a revision data object for a specified document ID and block address. Also returns a proof of the specified revision for verification if <code>DigestTipAddress</code> is provided.",
        "operationId": "GetRevision"
      }
    },
    "/tags/{resourceArn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The Amazon Resource Name (ARN) for which you want to list the tags. For example:</p> <p> <code>arn:aws:qldb:us-east-1:123456789012:ledger/exampleLedger</code> </p>",
            "in": "path",
            "maxLength": 1600,
            "minLength": 20,
            "name": "resourceArn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Returns all tags for a specified Amazon QLDB resource.",
        "operationId": "ListTagsForResource"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The Amazon Resource Name (ARN) to which you want to add the tags. For example:</p> <p> <code>arn:aws:qldb:us-east-1:123456789012:ledger/exampleLedger</code> </p>",
            "in": "path",
            "maxLength": 1600,
            "minLength": 20,
            "name": "resourceArn",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "The key-value pairs to add as tags to the specified QLDB resource. Tag keys are case sensitive. If you specify a key that already exists for the resource, your request fails and returns an error. Tag values are case sensitive and can be null.",
                  "maxProperties": 200,
                  "minProperties": 0,
                  "type": "object"
                }
              },
              "required": [
                "Tags"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagResourceResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "<p>Adds one or more tags to a specified Amazon QLDB resource.</p> <p>A resource can have up to 50 tags. If you try to create more than 50 tags for a resource, your request fails and returns an error.</p>",
        "operationId": "TagResource"
      }
    },
    "/tags/{resourceArn}#tagKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "<p>The Amazon Resource Name (ARN) from which you want to remove the tags. For example:</p> <p> <code>arn:aws:qldb:us-east-1:123456789012:ledger/exampleLedger</code> </p>",
            "in": "path",
            "maxLength": 1600,
            "minLength": 20,
            "name": "resourceArn",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The list of tag keys that you want to remove.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/TagKey"
            },
            "maxItems": 200,
            "minItems": 0,
            "name": "tagKeys",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagResourceResponse"
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Removes one or more tags from a specified Amazon QLDB resource. You can specify up to 50 tag keys to remove.",
        "operationId": "UntagResource"
      }
    }
  },
  "definitions": {
    "Arn": {
      "maxLength": 1600,
      "minLength": 20,
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CancelJournalKinesisStreamRequest": {
      "properties": {},
      "title": "CancelJournalKinesisStreamRequest",
      "type": "object"
    },
    "CancelJournalKinesisStreamResponse": {
      "properties": {
        "StreamId": {
          "allOf": [
            {
              "$ref": "#/definitions/UniqueId"
            },
            {
              "description": "The unique ID that QLDB assigns to each QLDB journal stream."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateLedgerRequest": {
      "properties": {
        "DeletionProtection": {
          "allOf": [
            {
              "$ref": "#/definitions/DeletionProtection"
            },
            {
              "description": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on ledger creation, this feature is enabled (<code>true</code>) by default.</p> <p>If deletion protection is enabled, you must first disable it before you can delete the ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB console disables deletion protection for you when you use it to delete a ledger.</p>"
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerName"
            },
            {
              "description": "<p>The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>"
            }
          ]
        },
        "PermissionsMode": {
          "allOf": [
            {
              "$ref": "#/definitions/PermissionsMode"
            },
            {
              "description": "The permissions mode to assign to the ledger that you want to create."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/Tags"
            },
            {
              "description": "The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null."
            }
          ]
        }
      },
      "required": [
        "Name",
        "PermissionsMode"
      ],
      "title": "CreateLedgerRequest",
      "type": "object"
    },
    "CreateLedgerResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) for the ledger."
            }
          ]
        },
        "CreationDateTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time, in epoch time format, when the ledger was created. (Epoch time format is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)"
            }
          ]
        },
        "DeletionProtection": {
          "allOf": [
            {
              "$ref": "#/definitions/DeletionProtection"
            },
            {
              "description": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on ledger creation, this feature is enabled (<code>true</code>) by default.</p> <p>If deletion protection is enabled, you must first disable it before you can delete the ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB console disables deletion protection for you when you use it to delete a ledger.</p>"
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerName"
            },
            {
              "description": "The name of the ledger."
            }
          ]
        },
        "State": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerState"
            },
            {
              "description": "The current status of the ledger."
            }
          ]
        }
      },
      "type": "object"
    },
    "DeleteLedgerRequest": {
      "properties": {},
      "title": "DeleteLedgerRequest",
      "type": "object"
    },
    "DeletionProtection": {
      "type": "boolean"
    },
    "DescribeJournalKinesisStreamRequest": {
      "properties": {},
      "title": "DescribeJournalKinesisStreamRequest",
      "type": "object"
    },
    "DescribeJournalKinesisStreamResponse": {
      "properties": {
        "Stream": {
          "allOf": [
            {
              "$ref": "#/definitions/JournalKinesisStreamDescription"
            },
            {
              "description": "Information about the QLDB journal stream returned by a <code>DescribeJournalS3Export</code> request."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeJournalS3ExportRequest": {
      "properties": {},
      "title": "DescribeJournalS3ExportRequest",
      "type": "object"
    },
    "DescribeJournalS3ExportResponse": {
      "properties": {
        "ExportDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/JournalS3ExportDescription"
            },
            {
              "description": "Information about the journal export job returned by a <code>DescribeJournalS3Export</code> request."
            }
          ]
        }
      },
      "required": [
        "ExportDescription"
      ],
      "type": "object"
    },
    "DescribeLedgerRequest": {
      "properties": {},
      "title": "DescribeLedgerRequest",
      "type": "object"
    },
    "DescribeLedgerResponse": {
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) for the ledger."
            }
          ]
        },
        "CreationDateTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time, in epoch time format, when the ledger was created. (Epoch time format is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)"
            }
          ]
        },
        "DeletionProtection": {
          "allOf": [
            {
              "$ref": "#/definitions/DeletionProtection"
            },
            {
              "description": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on ledger creation, this feature is enabled (<code>true</code>) by default.</p> <p>If deletion protection is enabled, you must first disable it before you can delete the ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB console disables deletion protection for you when you use it to delete a ledger.</p>"
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerName"
            },
            {
              "description": "The name of the ledger."
            }
          ]
        },
        "State": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerState"
            },
            {
              "description": "The current status of the ledger."
            }
          ]
        }
      },
      "type": "object"
    },
    "Digest": {
      "maxLength": 32,
      "minLength": 32,
      "type": "string"
    },
    "ErrorCause": {
      "enum": [
        "KINESIS_STREAM_NOT_FOUND",
        "IAM_PERMISSION_REVOKED"
      ],
      "type": "string"
    },
    "ExportJournalToS3Request": {
      "properties": {
        "ExclusiveEndTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "<p>The exclusive end date and time for the range of journal contents that you want to export.</p> <p>The <code>ExclusiveEndTime</code> must be in <code>ISO 8601</code> date and time format and in Universal Coordinated Time (UTC). For example: <code>2019-06-13T21:36:34Z</code> </p> <p>The <code>ExclusiveEndTime</code> must be less than or equal to the current UTC date and time.</p>"
            }
          ]
        },
        "InclusiveStartTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "<p>The inclusive start date and time for the range of journal contents that you want to export.</p> <p>The <code>InclusiveStartTime</code> must be in <code>ISO 8601</code> date and time format and in Universal Coordinated Time (UTC). For example: <code>2019-06-13T21:36:34Z</code> </p> <p>The <code>InclusiveStartTime</code> must be before <code>ExclusiveEndTime</code>.</p> <p>If you provide an <code>InclusiveStartTime</code> that is before the ledger's <code>CreationDateTime</code>, Amazon QLDB defaults it to the ledger's <code>CreationDateTime</code>.</p>"
            }
          ]
        },
        "RoleArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "<p>The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a journal export job to do the following:</p> <ul> <li> <p>Write objects into your Amazon Simple Storage Service (Amazon S3) bucket.</p> </li> <li> <p>(Optional) Use your customer master key (CMK) in AWS Key Management Service (AWS KMS) for server-side encryption of your exported data.</p> </li> </ul>"
            }
          ]
        },
        "S3ExportConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/S3ExportConfiguration"
            },
            {
              "description": "The configuration settings of the Amazon S3 bucket destination for your export request."
            }
          ]
        }
      },
      "required": [
        "InclusiveStartTime",
        "ExclusiveEndTime",
        "S3ExportConfiguration",
        "RoleArn"
      ],
      "title": "ExportJournalToS3Request",
      "type": "object"
    },
    "ExportJournalToS3Response": {
      "properties": {
        "ExportId": {
          "allOf": [
            {
              "$ref": "#/definitions/UniqueId"
            },
            {
              "description": "<p>The unique ID that QLDB assigns to each journal export job.</p> <p>To describe your export request and check the status of the job, you can use <code>ExportId</code> to call <code>DescribeJournalS3Export</code>.</p>"
            }
          ]
        }
      },
      "required": [
        "ExportId"
      ],
      "type": "object"
    },
    "ExportStatus": {
      "enum": [
        "IN_PROGRESS",
        "COMPLETED",
        "CANCELLED"
      ],
      "type": "string"
    },
    "GetBlockRequest": {
      "properties": {
        "BlockAddress": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "<p>The location of the block that you want to request. An address is an Amazon Ion structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>.</p> <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:14}</code> </p>"
            }
          ]
        },
        "DigestTipAddress": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "<p>The latest block location covered by the digest for which to request a proof. An address is an Amazon Ion structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>.</p> <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:49}</code> </p>"
            }
          ]
        }
      },
      "required": [
        "BlockAddress"
      ],
      "title": "GetBlockRequest",
      "type": "object"
    },
    "GetBlockResponse": {
      "properties": {
        "Block": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "The block data object in Amazon Ion format."
            }
          ]
        },
        "Proof": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "The proof object in Amazon Ion format returned by a <code>GetBlock</code> request. A proof contains the list of hash values required to recalculate the specified digest using a Merkle tree, starting with the specified block."
            }
          ]
        }
      },
      "required": [
        "Block"
      ],
      "type": "object"
    },
    "GetDigestRequest": {
      "properties": {},
      "title": "GetDigestRequest",
      "type": "object"
    },
    "GetDigestResponse": {
      "properties": {
        "Digest": {
          "allOf": [
            {
              "$ref": "#/definitions/Digest"
            },
            {
              "description": "The 256-bit hash value representing the digest returned by a <code>GetDigest</code> request."
            }
          ]
        },
        "DigestTipAddress": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "The latest block location covered by the digest that you requested. An address is an Amazon Ion structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>."
            }
          ]
        }
      },
      "required": [
        "Digest",
        "DigestTipAddress"
      ],
      "type": "object"
    },
    "GetRevisionRequest": {
      "properties": {
        "BlockAddress": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "<p>The block location of the document revision to be verified. An address is an Amazon Ion structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>.</p> <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:14}</code> </p>"
            }
          ]
        },
        "DigestTipAddress": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "<p>The latest block location covered by the digest for which to request a proof. An address is an Amazon Ion structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>.</p> <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:49}</code> </p>"
            }
          ]
        },
        "DocumentId": {
          "allOf": [
            {
              "$ref": "#/definitions/UniqueId"
            },
            {
              "description": "The unique ID of the document to be verified."
            }
          ]
        }
      },
      "required": [
        "BlockAddress",
        "DocumentId"
      ],
      "title": "GetRevisionRequest",
      "type": "object"
    },
    "GetRevisionResponse": {
      "properties": {
        "Proof": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "The proof object in Amazon Ion format returned by a <code>GetRevision</code> request. A proof contains the list of hash values that are required to recalculate the specified digest using a Merkle tree, starting with the specified document revision."
            }
          ]
        },
        "Revision": {
          "allOf": [
            {
              "$ref": "#/definitions/ValueHolder"
            },
            {
              "description": "The document revision data object in Amazon Ion format."
            }
          ]
        }
      },
      "required": [
        "Revision"
      ],
      "type": "object"
    },
    "InvalidParameterException": {},
    "IonText": {
      "format": "password",
      "maxLength": 1048576,
      "minLength": 1,
      "type": "string"
    },
    "JournalKinesisStreamDescription": {
      "description": "The information about an Amazon QLDB journal stream, including the Amazon Resource Name (ARN), stream name, creation time, current status, and the parameters of your original stream creation request.",
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the QLDB journal stream."
            }
          ]
        },
        "CreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time, in epoch time format, when the QLDB journal stream was created. (Epoch time format is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)"
            }
          ]
        },
        "ErrorCause": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorCause"
            },
            {
              "description": "The error message that describes the reason that a stream has a status of <code>IMPAIRED</code> or <code>FAILED</code>. This is not applicable to streams that have other status values."
            }
          ]
        },
        "ExclusiveEndTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The exclusive date and time that specifies when the stream ends. If this parameter is blank, the stream runs indefinitely until you cancel it."
            }
          ]
        },
        "InclusiveStartTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The inclusive start date and time from which to start streaming journal data."
            }
          ]
        },
        "KinesisConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/KinesisConfiguration"
            },
            {
              "description": "The configuration settings of the Amazon Kinesis Data Streams destination for your QLDB journal stream."
            }
          ]
        },
        "LedgerName": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerName"
            },
            {
              "description": "The name of the ledger."
            }
          ]
        },
        "RoleArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a journal stream to write data records to a Kinesis Data Streams resource."
            }
          ]
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamStatus"
            },
            {
              "description": "The current state of the QLDB journal stream."
            }
          ]
        },
        "StreamId": {
          "allOf": [
            {
              "$ref": "#/definitions/UniqueId"
            },
            {
              "description": "The unique ID that QLDB assigns to each QLDB journal stream."
            }
          ]
        },
        "StreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamName"
            },
            {
              "description": "The user-defined name of the QLDB journal stream."
            }
          ]
        }
      },
      "required": [
        "LedgerName",
        "RoleArn",
        "StreamId",
        "Status",
        "KinesisConfiguration",
        "StreamName"
      ],
      "type": "object"
    },
    "JournalKinesisStreamDescriptionList": {
      "items": {
        "$ref": "#/definitions/JournalKinesisStreamDescription"
      },
      "type": "array"
    },
    "JournalS3ExportDescription": {
      "description": "The information about a journal export job, including the ledger name, export ID, when it was created, current status, and its start and end time export parameters.",
      "properties": {
        "ExclusiveEndTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The exclusive end date and time for the range of journal contents that are specified in the original export request."
            }
          ]
        },
        "ExportCreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time, in epoch time format, when the export job was created. (Epoch time format is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)"
            }
          ]
        },
        "ExportId": {
          "allOf": [
            {
              "$ref": "#/definitions/UniqueId"
            },
            {
              "description": "The unique ID of the journal export job."
            }
          ]
        },
        "InclusiveStartTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The inclusive start date and time for the range of journal contents that are specified in the original export request."
            }
          ]
        },
        "LedgerName": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerName"
            },
            {
              "description": "The name of the ledger."
            }
          ]
        },
        "RoleArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "<p>The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a journal export job to do the following:</p> <ul> <li> <p>Write objects into your Amazon Simple Storage Service (Amazon S3) bucket.</p> </li> <li> <p>(Optional) Use your customer master key (CMK) in AWS Key Management Service (AWS KMS) for server-side encryption of your exported data.</p> </li> </ul>"
            }
          ]
        },
        "S3ExportConfiguration": {
          "$ref": "#/definitions/S3ExportConfiguration"
        },
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/ExportStatus"
            },
            {
              "description": "The current state of the journal export job."
            }
          ]
        }
      },
      "required": [
        "LedgerName",
        "ExportId",
        "ExportCreationTime",
        "Status",
        "InclusiveStartTime",
        "ExclusiveEndTime",
        "S3ExportConfiguration",
        "RoleArn"
      ],
      "type": "object"
    },
    "JournalS3ExportList": {
      "items": {
        "$ref": "#/definitions/JournalS3ExportDescription"
      },
      "type": "array"
    },
    "KinesisConfiguration": {
      "description": "The configuration settings of the Amazon Kinesis Data Streams destination for your Amazon QLDB journal stream.",
      "properties": {
        "AggregationEnabled": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": "Enables QLDB to publish multiple data records in a single Kinesis Data Streams record. To learn more, see <a href=\"https://docs.aws.amazon.com/streams/latest/dev/kinesis-kpl-concepts.html\">KPL Key Concepts</a> in the <i>Amazon Kinesis Data Streams Developer Guide</i>."
            }
          ]
        },
        "StreamArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the Kinesis data stream resource."
            }
          ]
        }
      },
      "required": [
        "StreamArn"
      ],
      "type": "object"
    },
    "LedgerList": {
      "items": {
        "$ref": "#/definitions/LedgerSummary"
      },
      "type": "array"
    },
    "LedgerName": {
      "maxLength": 32,
      "minLength": 1,
      "pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$",
      "type": "string"
    },
    "LedgerState": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING",
        "DELETED"
      ],
      "type": "string"
    },
    "LedgerSummary": {
      "description": "Information about a ledger, including its name, state, and when it was created.",
      "properties": {
        "CreationDateTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The date and time, in epoch time format, when the ledger was created. (Epoch time format is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)"
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerName"
            },
            {
              "description": "The name of the ledger."
            }
          ]
        },
        "State": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerState"
            },
            {
              "description": "The current status of the ledger."
            }
          ]
        }
      },
      "type": "object"
    },
    "LimitExceededException": {},
    "ListJournalKinesisStreamsForLedgerRequest": {
      "properties": {},
      "title": "ListJournalKinesisStreamsForLedgerRequest",
      "type": "object"
    },
    "ListJournalKinesisStreamsForLedgerResponse": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "<ul> <li> <p>If <code>NextToken</code> is empty, the last page of results has been processed and there are no more results to be retrieved.</p> </li> <li> <p>If <code>NextToken</code> is <i>not</i> empty, more results are available. To retrieve the next page of results, use the value of <code>NextToken</code> in a subsequent <code>ListJournalKinesisStreamsForLedger</code> call.</p> </li> </ul>"
            }
          ]
        },
        "Streams": {
          "allOf": [
            {
              "$ref": "#/definitions/JournalKinesisStreamDescriptionList"
            },
            {
              "description": "The array of QLDB journal stream descriptors that are associated with the given ledger."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListJournalS3ExportsForLedgerRequest": {
      "properties": {},
      "title": "ListJournalS3ExportsForLedgerRequest",
      "type": "object"
    },
    "ListJournalS3ExportsForLedgerResponse": {
      "properties": {
        "JournalS3Exports": {
          "allOf": [
            {
              "$ref": "#/definitions/JournalS3ExportList"
            },
            {
              "description": "The array of journal export job descriptions that are associated with the specified ledger."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "<ul> <li> <p>If <code>NextToken</code> is empty, then the last page of results has been processed and there are no more results to be retrieved.</p> </li> <li> <p>If <code>NextToken</code> is <i>not</i> empty, then there are more results available. To retrieve the next page of results, use the value of <code>NextToken</code> in a subsequent <code>ListJournalS3ExportsForLedger</code> call.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "ListJournalS3ExportsRequest": {
      "properties": {},
      "title": "ListJournalS3ExportsRequest",
      "type": "object"
    },
    "ListJournalS3ExportsResponse": {
      "properties": {
        "JournalS3Exports": {
          "allOf": [
            {
              "$ref": "#/definitions/JournalS3ExportList"
            },
            {
              "description": "The array of journal export job descriptions for all ledgers that are associated with the current AWS account and Region."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "<ul> <li> <p>If <code>NextToken</code> is empty, then the last page of results has been processed and there are no more results to be retrieved.</p> </li> <li> <p>If <code>NextToken</code> is <i>not</i> empty, then there are more results available. To retrieve the next page of results, use the value of <code>NextToken</code> in a subsequent <code>ListJournalS3Exports</code> call.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "ListLedgersRequest": {
      "properties": {},
      "title": "ListLedgersRequest",
      "type": "object"
    },
    "ListLedgersResponse": {
      "properties": {
        "Ledgers": {
          "allOf": [
            {
              "$ref": "#/definitions/LedgerList"
            },
            {
              "description": "The array of ledger summaries that are associated with the current AWS account and Region."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "<p>A pagination token, indicating whether there are more results available:</p> <ul> <li> <p>If <code>NextToken</code> is empty, then the last page of results has been processed and there are no more results to be retrieved.</p> </li> <li> <p>If <code>NextToken</code> is <i>not</i> empty, then there are more results available. To retrieve the next page of results, use the value of <code>NextToken</code> in a subsequent <code>ListLedgers</code> call.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "ListTagsForResourceRequest": {
      "properties": {},
      "title": "ListTagsForResourceRequest",
      "type": "object"
    },
    "ListTagsForResourceResponse": {
      "properties": {
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/Tags"
            },
            {
              "description": "The tags that are currently associated with the specified Amazon QLDB resource."
            }
          ]
        }
      },
      "type": "object"
    },
    "MaxResults": {
      "maximum": 100,
      "minimum": 1,
      "type": "integer"
    },
    "NextToken": {
      "maxLength": 1024,
      "minLength": 4,
      "pattern": "^[A-Za-z-0-9+/=]+$",
      "type": "string"
    },
    "PermissionsMode": {
      "enum": [
        "ALLOW_ALL"
      ],
      "type": "string"
    },
    "ResourceAlreadyExistsException": {},
    "ResourceInUseException": {},
    "ResourceNotFoundException": {},
    "ResourcePreconditionNotMetException": {},
    "S3Bucket": {
      "maxLength": 255,
      "minLength": 3,
      "pattern": "^[A-Za-z-0-9-_.]+$",
      "type": "string"
    },
    "S3EncryptionConfiguration": {
      "description": "The encryption settings that are used by a journal export job to write data in an Amazon Simple Storage Service (Amazon S3) bucket.",
      "properties": {
        "KmsKeyArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "<p>The Amazon Resource Name (ARN) for a symmetric customer master key (CMK) in AWS Key Management Service (AWS KMS). Amazon QLDB does not support asymmetric CMKs.</p> <p>You must provide a <code>KmsKeyArn</code> if you specify <code>SSE_KMS</code> as the <code>ObjectEncryptionType</code>.</p> <p> <code>KmsKeyArn</code> is not required if you specify <code>SSE_S3</code> as the <code>ObjectEncryptionType</code>.</p>"
            }
          ]
        },
        "ObjectEncryptionType": {
          "allOf": [
            {
              "$ref": "#/definitions/S3ObjectEncryptionType"
            },
            {
              "description": "<p>The Amazon S3 object encryption type.</p> <p>To learn more about server-side encryption options in Amazon S3, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/serv-side-encryption.html\">Protecting Data Using Server-Side Encryption</a> in the <i>Amazon S3 Developer Guide</i>.</p>"
            }
          ]
        }
      },
      "required": [
        "ObjectEncryptionType"
      ],
      "type": "object"
    },
    "S3ExportConfiguration": {
      "description": "The Amazon Simple Storage Service (Amazon S3) bucket location in which a journal export job writes the journal contents.",
      "properties": {
        "Bucket": {
          "allOf": [
            {
              "$ref": "#/definitions/S3Bucket"
            },
            {
              "description": "<p>The Amazon S3 bucket name in which a journal export job writes the journal contents.</p> <p>The bucket name must comply with the Amazon S3 bucket naming conventions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html\">Bucket Restrictions and Limitations</a> in the <i>Amazon S3 Developer Guide</i>.</p>"
            }
          ]
        },
        "EncryptionConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/S3EncryptionConfiguration"
            },
            {
              "description": "The encryption settings that are used by a journal export job to write data in an Amazon S3 bucket."
            }
          ]
[...]
