{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "slides.googleapis.com",
  "basePath": "/",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "An API for creating and editing Google Slides presentations.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Slides",
    "version": "v1",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.6.0"
        },
        "format": "google",
        "url": "https://slides.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "slides",
    "x-datafire": {
      "name": "google_slides",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/slides/"
  },
  "securityDefinitions": {
    "Oauth2": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 implicit authentication",
      "flow": "implicit",
      "scopes": {
        "https://www.googleapis.com/auth/drive": "View and manage the files in your Google Drive",
        "https://www.googleapis.com/auth/drive.file": "View and manage Google Drive files and folders that you have opened or created with this app",
        "https://www.googleapis.com/auth/drive.readonly": "View the files in your Google Drive",
        "https://www.googleapis.com/auth/presentations": "View and manage your Google Slides presentations",
        "https://www.googleapis.com/auth/presentations.readonly": "View your Google Slides presentations",
        "https://www.googleapis.com/auth/spreadsheets": "View and manage your spreadsheets in Google Drive",
        "https://www.googleapis.com/auth/spreadsheets.readonly": "View your Google Spreadsheets"
      },
      "type": "oauth2"
    },
    "Oauth2c": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 accessCode authentication",
      "flow": "accessCode",
      "scopes": {
        "https://www.googleapis.com/auth/drive": "View and manage the files in your Google Drive",
        "https://www.googleapis.com/auth/drive.file": "View and manage Google Drive files and folders that you have opened or created with this app",
        "https://www.googleapis.com/auth/drive.readonly": "View the files in your Google Drive",
        "https://www.googleapis.com/auth/presentations": "View and manage your Google Slides presentations",
        "https://www.googleapis.com/auth/presentations.readonly": "View your Google Slides presentations",
        "https://www.googleapis.com/auth/spreadsheets": "View and manage your spreadsheets in Google Drive",
        "https://www.googleapis.com/auth/spreadsheets.readonly": "View your Google Spreadsheets"
      },
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "type": "oauth2"
    },
    "offline": {
      "type": "oauth2",
      "flow": "accessCode",
      "scopes": {
        "https://www.googleapis.com/auth/drive": "View and manage the files in your Google Drive",
        "https://www.googleapis.com/auth/drive.file": "View and manage Google Drive files and folders that you have opened or created with this app",
        "https://www.googleapis.com/auth/drive.readonly": "View the files in your Google Drive",
        "https://www.googleapis.com/auth/presentations": "View and manage your Google Slides presentations",
        "https://www.googleapis.com/auth/presentations.readonly": "View your Google Slides presentations",
        "https://www.googleapis.com/auth/spreadsheets": "View and manage your spreadsheets in Google Drive",
        "https://www.googleapis.com/auth/spreadsheets.readonly": "View your Google Spreadsheets"
      },
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "tokenUrl": "https://www.googleapis.com/oauth2/v4/token",
      "description": "Allows offline access using a refresh_token"
    }
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "in": "query",
      "name": "$.xgafv",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "in": "query",
      "name": "access_token",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "in": "query",
      "name": "alt",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "in": "query",
      "name": "bearer_token",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "in": "query",
      "name": "callback",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "in": "query",
      "name": "fields",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "in": "query",
      "name": "key",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "in": "query",
      "name": "oauth_token",
      "type": "string"
    },
    "pp": {
      "default": true,
      "description": "Pretty-print response.",
      "in": "query",
      "name": "pp",
      "type": "boolean"
    },
    "prettyPrint": {
      "default": true,
      "description": "Returns response with indentations and line breaks.",
      "in": "query",
      "name": "prettyPrint",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "in": "query",
      "name": "quotaUser",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "in": "query",
      "name": "uploadType",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "in": "query",
      "name": "upload_protocol",
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "presentations"
    }
  ],
  "paths": {
    "/v1/presentations": {
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ],
      "post": {
        "description": "Creates a new presentation using the title given in the request. Other\nfields in the request are ignored.\nReturns the created presentation.",
        "operationId": "presentations.create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Presentation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Presentation"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/presentations"
            ]
          }
        ],
        "tags": [
          "presentations"
        ]
      }
    },
    "/v1/presentations/{presentationId}": {
      "get": {
        "description": "Gets the latest version of the specified presentation.",
        "operationId": "presentations.get",
        "parameters": [
          {
            "description": "The ID of the presentation to retrieve.",
            "in": "path",
            "name": "presentationId",
            "required": true,
            "type": "string",
            "x-reservedExpansion": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Presentation"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/presentations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/presentations.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/presentations.readonly"
            ]
          }
        ],
        "tags": [
          "presentations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ]
    },
    "/v1/presentations/{presentationId}/pages/{pageObjectId}": {
      "get": {
        "description": "Gets the latest version of the specified page in the presentation.",
        "operationId": "presentations.pages.get",
        "parameters": [
          {
            "description": "The object ID of the page to retrieve.",
            "in": "path",
            "name": "pageObjectId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the presentation to retrieve.",
            "in": "path",
            "name": "presentationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Page"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/presentations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/presentations.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/presentations.readonly"
            ]
          }
        ],
        "tags": [
          "presentations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ]
    },
    "/v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail": {
      "get": {
        "description": "Generates a thumbnail of the latest version of the specified page in the\npresentation and returns a URL to the thumbnail image.\n\nThis request counts as an expensive read request for quota purposes.",
        "operationId": "presentations.pages.getThumbnail",
        "parameters": [
          {
            "description": "The object ID of the page whose thumbnail to retrieve.",
            "in": "path",
            "name": "pageObjectId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the presentation to retrieve.",
            "in": "path",
            "name": "presentationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The optional mime type of the thumbnail image.\n\nIf you don't specify the mime type, the default mime type will be PNG.",
            "enum": [
              "PNG"
            ],
            "in": "query",
            "name": "thumbnailProperties.mimeType",
            "type": "string"
          },
          {
            "description": "The optional thumbnail image size.\n\nIf you don't specify the size, the server chooses a default size of the\nimage.",
            "enum": [
              "THUMBNAIL_SIZE_UNSPECIFIED",
              "LARGE"
            ],
            "in": "query",
            "name": "thumbnailProperties.thumbnailSize",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Thumbnail"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/presentations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/presentations.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/presentations.readonly"
            ]
          }
        ],
        "tags": [
          "presentations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ]
    },
    "/v1/presentations/{presentationId}:batchUpdate": {
      "parameters": [
        {
          "$ref": "#/parameters/$.xgafv"
        },
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/uploadType"
        },
        {
          "$ref": "#/parameters/upload_protocol"
        }
      ],
      "post": {
        "description": "Applies one or more updates to the presentation.\n\nEach request is validated before\nbeing applied. If any request is not valid, then the entire request will\nfail and nothing will be applied.\n\nSome requests have replies to\ngive you some information about how they are applied. Other requests do\nnot need to return information; these each return an empty reply.\nThe order of replies matches that of the requests.\n\nFor example, suppose you call batchUpdate with four updates, and only the\nthird one returns information. The response would have two empty replies:\nthe reply to the third request, and another empty reply, in that order.\n\nBecause other users may be editing the presentation, the presentation\nmight not exactly reflect your changes: your changes may\nbe altered with respect to collaborator changes. If there are no\ncollaborators, the presentation should reflect your changes. In any case,\nthe updates in your request are guaranteed to be applied together\natomically.",
        "operationId": "presentations.batchUpdate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchUpdatePresentationRequest"
            }
          },
          {
            "description": "The presentation to apply the updates to.",
            "in": "path",
            "name": "presentationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BatchUpdatePresentationResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/presentations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ],
        "tags": [
          "presentations"
        ]
      }
    }
  },
  "definitions": {
    "AffineTransform": {
      "description": "AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ]\nto transform source coordinates (x,y) into destination coordinates (x', y')\naccording to:\n\n      x'  x  =   shear_y  scale_y  translate_y  \n      1  [ 1 ]\n\nAfter transformation,\n\n     x' = scale_x * x + shear_x * y + translate_x;\n     y' = scale_y * y + shear_y * x + translate_y;\n\nThis message is therefore composed of these six matrix elements.",
      "properties": {
        "scaleX": {
          "description": "The X coordinate scaling element.",
          "format": "double",
          "type": "number"
        },
        "scaleY": {
          "description": "The Y coordinate scaling element.",
          "format": "double",
          "type": "number"
        },
        "shearX": {
          "description": "The X coordinate shearing element.",
          "format": "double",
          "type": "number"
        },
        "shearY": {
          "description": "The Y coordinate shearing element.",
          "format": "double",
          "type": "number"
        },
        "translateX": {
          "description": "The X coordinate translation element.",
          "format": "double",
          "type": "number"
        },
        "translateY": {
          "description": "The Y coordinate translation element.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "description": "The units for translate elements.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutoText": {
      "description": "A TextElement kind that represents auto text.",
      "properties": {
        "content": {
          "description": "The rendered content of this auto text, if available.",
          "type": "string"
        },
        "style": {
          "$ref": "#/definitions/TextStyle",
          "description": "The styling applied to this auto text."
        },
        "type": {
          "description": "The type of this auto text.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SLIDE_NUMBER"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdatePresentationRequest": {
      "description": "Request message for PresentationsService.BatchUpdatePresentation.",
      "properties": {
        "requests": {
          "description": "A list of updates to apply to the presentation.",
          "items": {
            "$ref": "#/definitions/Request"
          },
          "type": "array"
        },
        "writeControl": {
          "$ref": "#/definitions/WriteControl",
          "description": "Provides control over how write requests are executed."
        }
      },
      "type": "object"
    },
    "BatchUpdatePresentationResponse": {
      "description": "Response message from a batch update.",
      "properties": {
        "presentationId": {
          "description": "The presentation the updates were applied to.",
          "type": "string"
        },
        "replies": {
          "description": "The reply of the updates.  This maps 1:1 with the updates, although\nreplies to some requests may be empty.",
          "items": {
            "$ref": "#/definitions/Response"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Bullet": {
      "description": "Describes the bullet of a paragraph.",
      "properties": {
        "bulletStyle": {
          "$ref": "#/definitions/TextStyle",
          "description": "The paragraph specific text style applied to this bullet."
        },
        "glyph": {
          "description": "The rendered bullet glyph for this paragraph.",
          "type": "string"
        },
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        },
        "nestingLevel": {
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ColorScheme": {
      "description": "The palette of predefined colors for a page.",
      "properties": {
        "colors": {
          "description": "The ThemeColorType and corresponding concrete color pairs.",
          "items": {
            "$ref": "#/definitions/ThemeColorPair"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ColorStop": {
      "description": "A color and position in a gradient band.",
      "properties": {
        "alpha": {
          "description": "The alpha value of this color in the gradient band. Defaults to 1.0,\nfully opaque.",
          "format": "float",
          "type": "number"
        },
        "color": {
          "$ref": "#/definitions/OpaqueColor",
          "description": "The color of the gradient stop."
        },
        "position": {
          "description": "The relative position of the color stop in the gradient band measured\nin percentage. The value should be in the interval [0.0, 1.0].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "CreateImageRequest": {
      "description": "Creates an image.",
      "properties": {
        "elementProperties": {
          "$ref": "#/definitions/PageElementProperties",
          "description": "The element properties for the image.\n\nWhen the aspect ratio of the provided size does not match the image aspect\nratio, the image is scaled and centered with respect to the size in order\nto maintain aspect ratio. The provided transform is applied after this\noperation.\n\nThe PageElementProperties.size property is\noptional. If you don't specify the size, the default size of the image is\nused.\n\nThe PageElementProperties.transform property is\noptional. If you don't specify a transform, the image will be placed at the\ntop left corner of the page."
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "url": {
          "description": "The image URL.\n\nThe image is fetched once at insertion time and a copy is stored for\ndisplay inside the presentation. Images must be less than 50MB in size,\ncannot exceed 25 megapixels, and must be in either in PNG, JPEG, or GIF\nformat.\n\nThe provided URL can be at most 2 kB in length.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateImageResponse": {
      "description": "The result of creating an image.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created image.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateLineRequest": {
      "description": "Creates a line.",
      "properties": {
        "elementProperties": {
          "$ref": "#/definitions/PageElementProperties",
          "description": "The element properties for the line."
        },
        "lineCategory": {
          "description": "The category of line to be created.",
          "enum": [
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "type": "string"
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateLineResponse": {
      "description": "The result of creating a line.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created line.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateParagraphBulletsRequest": {
      "description": "Creates bullets for all of the paragraphs that overlap with the given\ntext index range.\n\nThe nesting level of each paragraph will be determined by counting leading\ntabs in front of each paragraph. To avoid excess space between the bullet and\nthe corresponding paragraph, these leading tabs are removed by this request.\nThis may change the indices of parts of the text.\n\nIf the paragraph immediately before paragraphs being updated is in a list\nwith a matching preset, the paragraphs being updated are added to that\npreceding list.",
      "properties": {
        "bulletPreset": {
          "description": "The kinds of bullet glyphs to be used. Defaults to the\n`BULLET_DISC_CIRCLE_SQUARE` preset.",
          "enum": [
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DIGIT_ALPHA_ROMAN",
            "NUMBERED_DIGIT_ALPHA_ROMAN_PARENS",
            "NUMBERED_DIGIT_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT",
            "NUMBERED_ZERODIGIT_ALPHA_ROMAN"
          ],
          "type": "string"
        },
        "cellLocation": {
          "$ref": "#/definitions/TableCellLocation",
          "description": "The optional table cell location if the text to be modified is in a table\ncell. If present, the object_id must refer to a table."
        },
        "objectId": {
          "description": "The object ID of the shape or table containing the text to add bullets to.",
          "type": "string"
        },
        "textRange": {
          "$ref": "#/definitions/Range",
          "description": "The range of text to apply the bullet presets to, based on TextElement indexes."
        }
      },
      "type": "object"
    },
    "CreateShapeRequest": {
      "description": "Creates a new shape.",
      "properties": {
        "elementProperties": {
          "$ref": "#/definitions/PageElementProperties",
          "description": "The element properties for the shape."
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\nIf empty, a unique identifier will be generated.",
          "type": "string"
        },
        "shapeType": {
          "description": "The shape type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TEXT_BOX",
            "RECTANGLE",
            "ROUND_RECTANGLE",
            "ELLIPSE",
            "ARC",
            "BENT_ARROW",
            "BENT_UP_ARROW",
            "BEVEL",
            "BLOCK_ARC",
            "BRACE_PAIR",
            "BRACKET_PAIR",
            "CAN",
            "CHEVRON",
            "CHORD",
            "CLOUD",
            "CORNER",
            "CUBE",
            "CURVED_DOWN_ARROW",
            "CURVED_LEFT_ARROW",
            "CURVED_RIGHT_ARROW",
            "CURVED_UP_ARROW",
            "DECAGON",
            "DIAGONAL_STRIPE",
            "DIAMOND",
            "DODECAGON",
            "DONUT",
            "DOUBLE_WAVE",
            "DOWN_ARROW",
            "DOWN_ARROW_CALLOUT",
            "FOLDED_CORNER",
            "FRAME",
            "HALF_FRAME",
            "HEART",
            "HEPTAGON",
            "HEXAGON",
            "HOME_PLATE",
            "HORIZONTAL_SCROLL",
            "IRREGULAR_SEAL_1",
            "IRREGULAR_SEAL_2",
            "LEFT_ARROW",
            "LEFT_ARROW_CALLOUT",
            "LEFT_BRACE",
            "LEFT_BRACKET",
            "LEFT_RIGHT_ARROW",
            "LEFT_RIGHT_ARROW_CALLOUT",
            "LEFT_RIGHT_UP_ARROW",
            "LEFT_UP_ARROW",
            "LIGHTNING_BOLT",
            "MATH_DIVIDE",
            "MATH_EQUAL",
            "MATH_MINUS",
            "MATH_MULTIPLY",
            "MATH_NOT_EQUAL",
            "MATH_PLUS",
            "MOON",
            "NO_SMOKING",
            "NOTCHED_RIGHT_ARROW",
            "OCTAGON",
            "PARALLELOGRAM",
            "PENTAGON",
            "PIE",
            "PLAQUE",
            "PLUS",
            "QUAD_ARROW",
            "QUAD_ARROW_CALLOUT",
            "RIBBON",
            "RIBBON_2",
            "RIGHT_ARROW",
            "RIGHT_ARROW_CALLOUT",
            "RIGHT_BRACE",
            "RIGHT_BRACKET",
            "ROUND_1_RECTANGLE",
            "ROUND_2_DIAGONAL_RECTANGLE",
            "ROUND_2_SAME_RECTANGLE",
            "RIGHT_TRIANGLE",
            "SMILEY_FACE",
            "SNIP_1_RECTANGLE",
            "SNIP_2_DIAGONAL_RECTANGLE",
            "SNIP_2_SAME_RECTANGLE",
            "SNIP_ROUND_RECTANGLE",
            "STAR_10",
            "STAR_12",
            "STAR_16",
            "STAR_24",
            "STAR_32",
            "STAR_4",
            "STAR_5",
            "STAR_6",
            "STAR_7",
            "STAR_8",
            "STRIPED_RIGHT_ARROW",
            "SUN",
            "TRAPEZOID",
            "TRIANGLE",
            "UP_ARROW",
            "UP_ARROW_CALLOUT",
            "UP_DOWN_ARROW",
            "UTURN_ARROW",
            "VERTICAL_SCROLL",
            "WAVE",
            "WEDGE_ELLIPSE_CALLOUT",
            "WEDGE_RECTANGLE_CALLOUT",
            "WEDGE_ROUND_RECTANGLE_CALLOUT",
            "FLOW_CHART_ALTERNATE_PROCESS",
            "FLOW_CHART_COLLATE",
            "FLOW_CHART_CONNECTOR",
            "FLOW_CHART_DECISION",
            "FLOW_CHART_DELAY",
            "FLOW_CHART_DISPLAY",
            "FLOW_CHART_DOCUMENT",
            "FLOW_CHART_EXTRACT",
            "FLOW_CHART_INPUT_OUTPUT",
            "FLOW_CHART_INTERNAL_STORAGE",
            "FLOW_CHART_MAGNETIC_DISK",
            "FLOW_CHART_MAGNETIC_DRUM",
            "FLOW_CHART_MAGNETIC_TAPE",
            "FLOW_CHART_MANUAL_INPUT",
            "FLOW_CHART_MANUAL_OPERATION",
            "FLOW_CHART_MERGE",
            "FLOW_CHART_MULTIDOCUMENT",
            "FLOW_CHART_OFFLINE_STORAGE",
            "FLOW_CHART_OFFPAGE_CONNECTOR",
            "FLOW_CHART_ONLINE_STORAGE",
            "FLOW_CHART_OR",
            "FLOW_CHART_PREDEFINED_PROCESS",
            "FLOW_CHART_PREPARATION",
            "FLOW_CHART_PROCESS",
            "FLOW_CHART_PUNCHED_CARD",
            "FLOW_CHART_PUNCHED_TAPE",
            "FLOW_CHART_SORT",
            "FLOW_CHART_SUMMING_JUNCTION",
            "FLOW_CHART_TERMINATOR",
            "ARROW_EAST",
            "ARROW_NORTH_EAST",
            "ARROW_NORTH",
            "SPEECH",
            "STARBURST",
            "TEARDROP",
            "ELLIPSE_RIBBON",
            "ELLIPSE_RIBBON_2",
            "CLOUD_CALLOUT",
            "CUSTOM"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateShapeResponse": {
      "description": "The result of creating a shape.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created shape.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateSheetsChartRequest": {
      "description": "Creates an embedded Google Sheets chart.\n\nNOTE: Chart creation requires at least one of the spreadsheets.readonly,\nspreadsheets, drive.readonly, or drive OAuth scopes.",
      "properties": {
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet.",
          "format": "int32",
          "type": "integer"
        },
        "elementProperties": {
          "$ref": "#/definitions/PageElementProperties",
          "description": "The element properties for the chart.\n\nWhen the aspect ratio of the provided size does not match the chart aspect\nratio, the chart is scaled and centered with respect to the size in order\nto maintain aspect ratio. The provided transform is applied after this\noperation."
        },
        "linkingMode": {
          "description": "The mode with which the chart is linked to the source spreadsheet. When\nnot specified, the chart will be an image that is not linked.",
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ],
          "type": "string"
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf specified, the ID must be unique among all pages and page elements in\nthe presentation. The ID should start with a word character [a-zA-Z0-9_]\nand then followed by any number of the following characters [a-zA-Z0-9_-:].\nThe length of the ID should not be less than 5 or greater than 50.\nIf empty, a unique identifier will be generated.",
          "type": "string"
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the chart.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateSheetsChartResponse": {
      "description": "The result of creating an embedded Google Sheets chart.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created chart.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateSlideRequest": {
      "description": "Creates a new slide.",
      "properties": {
        "insertionIndex": {
          "description": "The optional zero-based index indicating where to insert the slides.\n\nIf you don't specify an index, the new slide is created at the end.",
          "format": "int32",
          "type": "integer"
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "placeholderIdMappings": {
          "description": "An optional list of object ID mappings from the placeholder(s) on the layout to the placeholder(s)\nthat will be created on the new slide from that specified layout. Can only\nbe used when `slide_layout_reference` is specified.",
          "items": {
            "$ref": "#/definitions/LayoutPlaceholderIdMapping"
          },
          "type": "array"
        },
        "slideLayoutReference": {
          "$ref": "#/definitions/LayoutReference",
          "description": "Layout reference of the slide to be inserted, based on the *current\nmaster*, which is one of the following:\n\n- The master of the previous slide index.\n- The master of the first slide, if the insertion_index is zero.\n- The first master in the presentation, if there are no slides.\n\nIf the LayoutReference is not found in the current master, a 400 bad\nrequest error is returned.\n\nIf you don't specify a layout reference, then the new slide will use the\npredefined layout `BLANK`."
        }
      },
      "type": "object"
    },
    "CreateSlideResponse": {
      "description": "The result of creating a slide.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created slide.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateTableRequest": {
      "description": "Creates a new table.",
      "properties": {
        "columns": {
          "description": "Number of columns in the table.",
          "format": "int32",
          "type": "integer"
        },
        "elementProperties": {
          "$ref": "#/definitions/PageElementProperties",
          "description": "The element properties for the table.\n\nThe table will be created at the provided size, subject to a minimum size.\nIf no size is provided, the table will be automatically sized.\n\nTable transforms must have a scale of 1 and no shear components. If no\ntransform is provided, the table will be centered on the page."
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "rows": {
          "description": "Number of rows in the table.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "CreateTableResponse": {
      "description": "The result of creating a table.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created table.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateVideoRequest": {
      "description": "Creates a video.",
      "properties": {
        "elementProperties": {
          "$ref": "#/definitions/PageElementProperties",
          "description": "The element properties for the video.\n\nThe PageElementProperties.size property is\noptional. If you don't specify a size, a default size is chosen by the\nserver.\n\nThe PageElementProperties.transform property is\noptional. The transform must not have shear components.\nIf you don't specify a transform, the video will be placed at the top left\ncorner of the page."
        },
        "id": {
          "description": "The video source's unique identifier for this video.\n\ne.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0,\nthe ID is 7U3axjORYZ0.",
          "type": "string"
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "source": {
          "description": "The video source.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateVideoResponse": {
      "description": "The result of creating a video.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created video.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CropProperties": {
      "description": "The crop properties of an object enclosed in a container. For example, an\nImage.\n\nThe crop properties is represented by the offsets of four edges which define\na crop rectangle. The offsets are measured in percentage from the\ncorresponding edges of the object's original bounding rectangle towards\ninside, relative to the object's original dimensions.\n\n- If the offset is in the interval (0, 1), the corresponding edge of crop\nrectangle is positioned inside of the object's original bounding rectangle.\n- If the offset is negative or greater than 1, the corresponding edge of crop\nrectangle is positioned outside of the object's original bounding rectangle.\n- If the left edge of the crop rectangle is on the right side of its right\nedge, the object will be flipped horizontally.\n- If the top edge of the crop rectangle is below its bottom edge, the object\nwill be flipped vertically.\n- If all offsets and rotation angle is 0, the object is not cropped.\n\nAfter cropping, the content in the crop rectangle will be stretched to fit\nits container.",
      "properties": {
        "angle": {
          "description": "The rotation angle of the crop window around its center, in radians.\nRotation angle is applied after the offset.",
          "format": "float",
          "type": "number"
        },
        "bottomOffset": {
          "description": "The offset specifies the bottom edge of the crop rectangle that is located\nabove the original bounding rectangle bottom edge, relative to the object's\noriginal height.",
          "format": "float",
          "type": "number"
        },
        "leftOffset": {
          "description": "The offset specifies the left edge of the crop rectangle that is located to\nthe right of the original bounding rectangle left edge, relative to the\nobject's original width.",
          "format": "float",
          "type": "number"
        },
        "rightOffset": {
          "description": "The offset specifies the right edge of the crop rectangle that is located\nto the left of the original bounding rectangle right edge, relative to the\nobject's original width.",
          "format": "float",
          "type": "number"
        },
        "topOffset": {
          "description": "The offset specifies the top edge of the crop rectangle that is located\nbelow the original bounding rectangle top edge, relative to the object's\noriginal height.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "DeleteObjectRequest": {
      "description": "Deletes an object, either pages or\npage elements, from the\npresentation.",
      "properties": {
        "objectId": {
          "description": "The object ID of the page or page element to delete.\n\nIf after a delete operation a group contains\nonly 1 or no page elements, the group is also deleted.\n\nIf a placeholder is deleted on a layout, any empty inheriting shapes are\nalso deleted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteParagraphBulletsRequest": {
      "description": "Deletes bullets from all of the paragraphs that overlap with the given text\nindex range.\n\nThe nesting level of each paragraph will be visually preserved by adding\nindent to the start of the corresponding paragraph.",
      "properties": {
        "cellLocation": {
          "$ref": "#/definitions/TableCellLocation",
          "description": "The optional table cell location if the text to be modified is in a table\ncell. If present, the object_id must refer to a table."
        },
        "objectId": {
          "description": "The object ID of the shape or table containing the text to delete bullets\nfrom.",
          "type": "string"
        },
        "textRange": {
          "$ref": "#/definitions/Range",
          "description": "The range of text to delete bullets from, based on TextElement indexes."
        }
      },
      "type": "object"
    },
    "DeleteTableColumnRequest": {
      "description": "Deletes a column from a table.",
      "properties": {
        "cellLocation": {
          "$ref": "#/definitions/TableCellLocation",
          "description": "The reference table cell location from which a column will be deleted.\n\nThe column this cell spans will be deleted. If this is a merged cell,\nmultiple columns will be deleted. If no columns remain in the table after\nthis deletion, the whole table is deleted."
        },
        "tableObjectId": {
          "description": "The table to delete columns from.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteTableRowRequest": {
      "description": "Deletes a row from a table.",
      "properties": {
        "cellLocation": {
          "$ref": "#/definitions/TableCellLocation",
          "description": "The reference table cell location from which a row will be deleted.\n\nThe row this cell spans will be deleted. If this is a merged cell, multiple\nrows will be deleted. If no rows remain in the table after this deletion,\nthe whole table is deleted."
        },
        "tableObjectId": {
          "description": "The table to delete rows from.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteTextRequest": {
      "description": "Deletes text from a shape or a table cell.",
      "properties": {
        "cellLocation": {
          "$ref": "#/definitions/TableCellLocation",
          "description": "The optional table cell location if the text is to be deleted from a table\ncell. If present, the object_id must refer to a table."
        },
        "objectId": {
          "description": "The object ID of the shape or table from which the text will be deleted.",
          "type": "string"
        },
        "textRange": {
          "$ref": "#/definitions/Range",
          "description": "The range of text to delete, based on TextElement indexes.\n\nThere is always an implicit newline character at the end of a shape's or\ntable cell's text that cannot be deleted. `Range.Type.ALL` will use the\ncorrect bounds, but care must be taken when specifying explicit bounds for\nrange types `FROM_START_INDEX` and `FIXED_RANGE`. For example, if the text\nis \"ABC\", followed by an implicit newline, then the maximum value is 2 for\n`text_range.start_index` and 3 for `text_range.end_index`.\n\nDeleting text that crosses a paragraph boundary may result in changes\nto paragraph styles and lists as the two paragraphs are merged.\n\nRanges that include only one code unit of a surrogate pair are expanded to\ninclude both code units."
        }
      },
      "type": "object"
    },
    "Dimension": {
      "description": "A magnitude in a single direction in the specified units.",
      "properties": {
        "magnitude": {
          "description": "The magnitude.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "description": "The units for magnitude.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DuplicateObjectRequest": {
      "description": "Duplicates a slide or page element.\n\nWhen duplicating a slide, the duplicate slide will be created immediately\nfollowing the specified slide. When duplicating a page element, the duplicate\nwill be placed on the same page at the same position as the original.",
      "properties": {
        "objectId": {
          "description": "The ID of the object to duplicate.",
          "type": "string"
        },
        "objectIds": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The object being duplicated may contain other objects, for example when\nduplicating a slide or a group page element. This map defines how the IDs\nof duplicated objects are generated: the keys are the IDs of the original\nobjects and its values are the IDs that will be assigned to the\ncorresponding duplicate object. The ID of the source object's duplicate\nmay be specified in this map as well, using the same value of the\n`object_id` field as a key and the newly desired ID as the value.\n\nAll keys must correspond to existing IDs in the presentation. All values\nmust be unique in the presentation and must start with an alphanumeric\ncharacter or an underscore (matches regex `[a-zA-Z0-9_]`); remaining\ncharacters may include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or\ngreater than 50.\n\nIf any IDs of source objects are omitted from the map, a new random ID will\nbe assigned. If the map is empty or unset, all duplicate objects will\nreceive a new random ID.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "DuplicateObjectResponse": {
      "description": "The response of duplicating an object.",
      "properties": {
        "objectId": {
          "description": "The ID of the new duplicate object.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Group": {
      "description": "A PageElement kind representing a\njoined collection of PageElements.",
      "properties": {
        "children": {
          "description": "The collection of elements in the group. The minimum size of a group is 2.",
          "items": {
            "$ref": "#/definitions/PageElement"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GroupObjectsRequest": {
      "description": "Groups objects to create an object group. For example, groups PageElements to create a Group on the same page as all the children.",
      "properties": {
        "childrenObjectIds": {
          "description": "The object IDs of the objects to group.\n\nOnly page elements can be grouped. There should be at least two page\nelements on the same page that are not already in another group. Some page\nelements, such as videos, tables and placeholder shapes cannot be grouped.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groupObjectId": {
          "description": "A user-supplied object ID for the group to be created.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupObjectsResponse": {
      "description": "The result of grouping objects.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Image": {
      "description": "A PageElement kind representing an\nimage.",
      "properties": {
        "contentUrl": {
          "description": "An URL to an image with a default lifetime of 30 minutes.\nThis URL is tagged with the account of the requester. Anyone with the URL\neffectively accesses the image as the original requester. Access to the\nimage may be lost if the presentation's sharing settings change.",
          "type": "string"
        },
        "imageProperties": {
          "$ref": "#/definitions/ImageProperties",
          "description": "The properties of the image."
        }
      },
      "type": "object"
    },
    "ImageProperties": {
      "description": "The properties of the Image.",
      "properties": {
        "brightness": {
          "description": "The brightness effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect. This property is read-only.",
          "format": "float",
          "type": "number"
        },
        "contrast": {
          "description": "The contrast effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect. This property is read-only.",
          "format": "float",
          "type": "number"
        },
        "cropProperties": {
          "$ref": "#/definitions/CropProperties",
          "description": "The crop properties of the image. If not set, the image is not cropped.\nThis property is read-only."
        },
        "link": {
          "$ref": "#/definitions/Link",
          "description": "The hyperlink destination of the image. If unset, there is no link."
        },
        "outline": {
          "$ref": "#/definitions/Outline",
          "description": "The outline of the image. If not set, the image has no outline."
        },
        "recolor": {
          "$ref": "#/definitions/Recolor",
          "description": "The recolor effect of the image. If not set, the image is not recolored.\nThis property is read-only."
        },
        "shadow": {
          "$ref": "#/definitions/Shadow",
          "description": "The shadow of the image. If not set, the image has no shadow. This property\nis read-only."
        },
        "transparency": {
          "description": "The transparency effect of the image. The value should be in the interval\n[0.0, 1.0], where 0 means no effect and 1 means completely transparent.\nThis property is read-only.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "InsertTableColumnsRequest": {
      "description": "Inserts columns into a table.\n\nOther columns in the table will be resized to fit the new column.",
      "properties": {
        "cellLocation": {
          "$ref": "#/definitions/TableCellLocation",
          "description": "The reference table cell location from which columns will be inserted.\n\nA new column will be inserted to the left (or right) of the column where\nthe reference cell is. If the reference cell is a merged cell, a new\ncolumn will be inserted to the left (or right) of the merged cell."
        },
        "insertRight": {
          "description": "Whether to insert new columns to the right of the reference cell location.\n\n- `True`: insert to the right.\n- `False`: insert to the left.",
          "type": "boolean"
        },
        "number": {
          "description": "The number of columns to be inserted. Maximum 20 per request.",
          "format": "int32",
          "type": "integer"
        },
        "tableObjectId": {
          "description": "The table to insert columns into.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InsertTableRowsRequest": {
      "description": "Inserts rows into a table.",
      "properties": {
        "cellLocation": {
          "$ref": "#/definitions/TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted.\n\nA new row will be inserted above (or below) the row where the reference\ncell is. If the reference cell is a merged cell, a new row will be\ninserted above (or below) the merged cell."
        },
        "insertBelow": {
          "description": "Whether to insert new rows below the reference cell location.\n\n- `True`: insert below the cell.\n- `False`: insert above the cell.",
          "type": "boolean"
        },
        "number": {
          "description": "The number of rows to be inserted. Maximum 20 per request.",
          "format": "int32",
          "type": "integer"
        },
        "tableObjectId": {
          "description": "The table to insert rows into.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InsertTextRequest": {
      "description": "Inserts text into a shape or a table cell.",
      "properties": {
        "cellLocation": {
          "$ref": "#/definitions/TableCellLocation",
          "description": "The optional table cell location if the text is to be inserted into a table\ncell. If present, the object_id must refer to a table."
        },
        "insertionIndex": {
          "description": "The index where the text will be inserted, in Unicode code units, based\non TextElement indexes.\n\nThe index is zero-based and is computed from the start of the string.\nThe index may be adjusted to prevent insertions inside Unicode grapheme\nclusters. In these cases, the text will be inserted immediately after the\ngrapheme cluster.",
          "format": "int32",
          "type": "integer"
        },
        "objectId": {
          "description": "The object ID of the shape or table where the text will be inserted.",
          "type": "string"
        },
        "text": {
          "description": "The text to be inserted.\n\nInserting a newline character will implicitly create a new\nParagraphMarker at that index.\nThe paragraph style of the new paragraph will be copied from the paragraph\nat the current insertion index, including lists and bullets.\n\nText styles for inserted text will be determined automatically, generally\npreserving the styling of neighboring text. In most cases, the text will be\nadded to the TextRun that exists at the\ninsertion index.\n\nSome control characters (U+0000-U+0008, U+000C-U+001F) and characters\nfrom the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF)\nwill be stripped out of the inserted text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LayoutPlaceholderIdMapping": {
      "description": "The user-specified ID mapping for a placeholder that will be created on a\nslide from a specified layout.",
      "properties": {
        "layoutPlaceholder": {
          "$ref": "#/definitions/Placeholder",
          "description": "The placeholder on a layout that will be applied to a slide. Only type and index are needed. For example, a\npredefined `TITLE_AND_BODY` layout may usually have a TITLE placeholder\nwith index 0 and a BODY placeholder with index 0."
        },
        "layoutPlaceholderObjectId": {
          "description": "The object ID of the placeholder on a layout that will be applied\nto a slide.",
          "type": "string"
        },
        "objectId": {
          "description": "A user-supplied object ID for the placeholder identified above that to be\ncreated onto a slide.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LayoutProperties": {
      "description": "The properties of Page are only\nrelevant for pages with page_type LAYOUT.",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the layout.",
          "type": "string"
        },
        "masterObjectId": {
          "description": "The object ID of the master that this layout is based on.",
          "type": "string"
        },
        "name": {
          "description": "The name of the layout.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LayoutReference": {
      "description": "Slide layout reference. This may reference either:\n\n- A predefined layout\n- One of the layouts in the presentation.",
      "properties": {
        "layoutId": {
          "description": "Layout ID: the object ID of one of the layouts in the presentation.",
          "type": "string"
        },
        "predefinedLayout": {
          "description": "Predefined layout.",
          "enum": [
            "PREDEFINED_LAYOUT_UNSPECIFIED",
            "BLANK",
            "CAPTION_ONLY",
            "TITLE",
            "TITLE_AND_BODY",
            "TITLE_AND_TWO_COLUMNS",
            "TITLE_ONLY",
            "SECTION_HEADER",
            "SECTION_TITLE_AND_DESCRIPTION",
            "ONE_COLUMN_TEXT",
            "MAIN_POINT",
            "BIG_NUMBER"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Line": {
      "description": "A PageElement kind representing a\nline, curved connector, or bent connector.",
      "properties": {
        "lineProperties": {
          "$ref": "#/definitions/LineProperties",
          "description": "The properties of the line."
        },
        "lineType": {
          "description": "The type of the line.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRAIGHT_CONNECTOR_1",
            "BENT_CONNECTOR_2",
            "BENT_CONNECTOR_3",
            "BENT_CONNECTOR_4",
            "BENT_CONNECTOR_5",
            "CURVED_CONNECTOR_2",
            "CURVED_CONNECTOR_3",
            "CURVED_CONNECTOR_4",
            "CURVED_CONNECTOR_5"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "LineFill": {
      "description": "The fill of the line.",
      "properties": {
        "solidFill": {
          "$ref": "#/definitions/SolidFill",
          "description": "Solid color fill."
        }
      },
      "type": "object"
    },
    "LineProperties": {
      "description": "The properties of the Line.\n\nWhen unset, these fields default to values that match the appearance of\nnew lines created in the Slides editor.",
      "properties": {
        "dashStyle": {
          "description": "The dash style of the line.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "type": "string"
        },
        "endArrow": {
          "description": "The style of the arrow at the end of the line.",
          "enum": [
            "ARROW_STYLE_UNSPECIFIED",
            "NONE",
            "STEALTH_ARROW",
            "FILL_ARROW",
            "FILL_CIRCLE",
            "FILL_SQUARE",
            "FILL_DIAMOND",
            "OPEN_ARROW",
            "OPEN_CIRCLE",
            "OPEN_SQUARE",
            "OPEN_DIAMOND"
          ],
          "type": "string"
        },
        "lineFill": {
          "$ref": "#/definitions/LineFill",
          "description": "The fill of the line. The default line fill matches the defaults for new\nlines created in the Slides editor."
        },
        "link": {
          "$ref": "#/definitions/Link",
          "description": "The hyperlink destination of the line. If unset, there is no link."
        },
        "startArrow": {
          "description": "The style of the arrow at the beginning of the line.",
          "enum": [
            "ARROW_STYLE_UNSPECIFIED",
            "NONE",
            "STEALTH_ARROW",
            "FILL_ARROW",
            "FILL_CIRCLE",
            "FILL_SQUARE",
            "FILL_DIAMOND",
            "OPEN_ARROW",
            "OPEN_CIRCLE",
            "OPEN_SQUARE",
            "OPEN_DIAMOND"
          ],
          "type": "string"
        },
        "weight": {
          "$ref": "#/definitions/Dimension",
          "description": "The thickness of the line."
        }
      },
      "type": "object"
    },
    "Link": {
      "description": "A hypertext link.",
      "properties": {
        "pageObjectId": {
          "description": "If set, indicates this is a link to the specific page in this\npresentation with this ID. A page with this ID may not exist.",
          "type": "string"
        },
        "relativeLink": {
          "description": "If set, indicates this is a link to a slide in this presentation,\naddressed by its position.",
          "enum": [
            "RELATIVE_SLIDE_LINK_UNSPECIFIED",
            "NEXT_SLIDE",
            "PREVIOUS_SLIDE",
            "FIRST_SLIDE",
            "LAST_SLIDE"
          ],
          "type": "string"
        },
        "slideIndex": {
          "description": "If set, indicates this is a link to the slide at this zero-based index\nin the presentation. There may not be a slide at this index.",
          "format": "int32",
          "type": "integer"
        },
        "url": {
          "description": "If set, indicates this is a link to the external web page at this URL.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "List": {
      "description": "A List describes the look and feel of bullets belonging to paragraphs\nassociated with a list. A paragraph that is part of a list has an implicit\nreference to that list's ID.",
      "properties": {
        "listId": {
          "description": "The ID of the list.",
          "type": "string"
        },
        "nestingLevel": {
          "additionalProperties": {
            "$ref": "#/definitions/NestingLevel"
          },
          "description": "A map of nesting levels to the properties of bullets at the associated\nlevel. A list has at most nine levels of nesting, so the possible values\nfor the keys of this map are 0 through 8, inclusive.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "MasterProperties": {
      "description": "The properties of Page that are only\nrelevant for pages with page_type MASTER.",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the master.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MergeTableCellsRequest": {
      "description": "Merges cells in a Table.",
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "$ref": "#/definitions/TableRange",
          "description": "The table range specifying which cells of the table to merge.\n\nAny text in the cells being merged will be concatenated and stored in the\nupper-left (\"head\") cell of the range. If the range is non-rectangular\n(which can occur in some cases where the range covers cells that are\nalready merged), a 400 bad request error is returned."
        }
      },
      "type": "object"
    },
    "NestingLevel": {
      "description": "Contains properties describing the look and feel of a list bullet at a given\nlevel of nesting.",
      "properties": {
        "bulletStyle": {
          "$ref": "#/definitions/TextStyle",
          "description": "The style of a bullet at this level of nesting."
        }
      },
      "type": "object"
    },
    "NotesProperties": {
      "description": "The properties of Page that are only\nrelevant for pages with page_type NOTES.",
      "properties": {
        "speakerNotesObjectId": {
          "description": "The object ID of the shape on this notes page that contains the speaker\nnotes for the corresponding slide.\nThe actual shape may not always exist on the notes page. Inserting text\nusing this object ID will automatically create the shape. In this case, the\nactual shape may have different object ID. The `GetPresentation` or\n`GetPage` action will always return the latest object ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OpaqueColor": {
      "description": "A themeable solid color value.",
      "properties": {
        "rgbColor": {
          "$ref": "#/definitions/RgbColor",
          "description": "An opaque RGB color."
        },
        "themeColor": {
          "description": "An opaque theme color.",
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "DARK1",
            "LIGHT1",
            "DARK2",
            "LIGHT2",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "HYPERLINK",
            "FOLLOWED_HYPERLINK",
            "TEXT1",
            "BACKGROUND1",
            "TEXT2",
            "BACKGROUND2"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "OptionalColor": {
      "description": "A color that can either be fully opaque or fully transparent.",
      "properties": {
        "opaqueColor": {
          "$ref": "#/definitions/OpaqueColor",
          "description": "If set, this will be used as an opaque color. If unset, this represents\na transparent color."
        }
      },
      "type": "object"
    },
    "Outline": {
      "description": "The outline of a PageElement.\n\nIf these fields are unset, they may be inherited from a parent placeholder\nif it exists. If there is no parent, the fields will default to the value\nused for new page elements created in the Slides editor, which may depend on\nthe page element kind.",
      "properties": {
        "dashStyle": {
          "description": "The dash style of the outline.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "type": "string"
        },
        "outlineFill": {
          "$ref": "#/definitions/OutlineFill",
          "description": "The fill of the outline."
        },
        "propertyState": {
          "description": "The outline property state.\n\nUpdating the outline on a page element will implicitly update this field\nto `RENDERED`, unless another value is specified in the same request. To\nhave no outline on a page element, set this field to `NOT_RENDERED`. In\nthis case, any other outline fields set in the same request will be\nignored.",
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "type": "string"
        },
        "weight": {
          "$ref": "#/definitions/Dimension",
          "description": "The thickness of the outline."
        }
      },
      "type": "object"
    },
    "OutlineFill": {
      "description": "The fill of the outline.",
      "properties": {
        "solidFill": {
          "$ref": "#/definitions/SolidFill",
          "description": "Solid color fill."
        }
      },
      "type": "object"
    },
    "Page": {
      "description": "A page in a presentation.",
      "properties": {
        "layoutProperties": {
          "$ref": "#/definitions/LayoutProperties",
          "description": "Layout specific properties. Only set if page_type = LAYOUT."
        },
        "masterProperties": {
          "$ref": "#/definitions/MasterProperties",
          "description": "Master specific properties. Only set if page_type = MASTER."
        },
        "notesProperties": {
          "$ref": "#/definitions/NotesProperties",
          "description": "Notes specific properties. Only set if page_type = NOTES."
        },
        "objectId": {
          "description": "The object ID for this page. Object IDs used by\nPage and\nPageElement share the same namespace.",
          "type": "string"
        },
        "pageElements": {
          "description": "The page elements rendered on the page.",
          "items": {
            "$ref": "#/definitions/PageElement"
          },
          "type": "array"
        },
        "pageProperties": {
          "$ref": "#/definitions/PageProperties",
          "description": "The properties of the page."
        },
        "pageType": {
          "description": "The type of the page.",
          "enum": [
            "SLIDE",
            "MASTER",
            "LAYOUT",
            "NOTES",
            "NOTES_MASTER"
          ],
          "type": "string"
        },
        "revisionId": {
          "description": "The revision ID of the presentation containing this page. Can be used in\nupdate requests to assert that the presentation revision hasn't changed\nsince the last read operation. Only populated if the user has edit access\nto the presentation.\n\nThe format of the revision ID may change over time, so it should be treated\nopaquely. A returned revision ID is only guaranteed to be valid for 24\nhours after it has been returned and cannot be shared across users. If the\nrevision ID is unchanged between calls, then the presentation has not\nchanged. Conversely, a changed ID (for the same presentation and user)\nusually means the presentation has been updated; however, a changed ID can\nalso be due to internal factors such as ID format changes.",
          "type": "string"
        },
        "slideProperties": {
          "$ref": "#/definitions/SlideProperties",
          "description": "Slide specific properties. Only set if page_type = SLIDE."
        }
      },
      "type": "object"
    },
    "PageBackgroundFill": {
      "description": "The page background fill.",
      "properties": {
        "propertyState": {
          "description": "The background fill property state.\n\nUpdating the fill on a page will implicitly update this field to\n`RENDERED`, unless another value is specified in the same request. To\nhave no fill on a page, set this field to `NOT_RENDERED`. In this case,\nany other fill fields set in the same request will be ignored.",
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "type": "string"
        },
        "solidFill": {
          "$ref": "#/definitions/SolidFill",
          "description": "Solid color fill."
        },
        "stretchedPictureFill": {
          "$ref": "#/definitions/StretchedPictureFill",
          "description": "Stretched picture fill."
        }
      },
      "type": "object"
    },
    "PageElement": {
      "description": "A visual element rendered on a page.",
      "properties": {
        "description": {
          "description": "The description of the page element. Combined with title to display alt\ntext.",
          "type": "string"
        },
        "elementGroup": {
          "$ref": "#/definitions/Group",
          "description": "A collection of page elements joined as a single unit."
        },
        "image": {
          "$ref": "#/definitions/Image",
          "description": "An image page element."
        },
        "line": {
          "$ref": "#/definitions/Line",
          "description": "A line page element."
        },
        "objectId": {
          "description": "The object ID for this page element. Object IDs used by\ngoogle.apps.slides.v1.Page and\ngoogle.apps.slides.v1.PageElement share the same namespace.",
          "type": "string"
        },
        "shape": {
          "$ref": "#/definitions/Shape",
          "description": "A generic shape."
        },
        "sheetsChart": {
          "$ref": "#/definitions/SheetsChart",
          "description": "A linked chart embedded from Google Sheets. Unlinked charts are\nrepresented as images."
        },
        "size": {
          "$ref": "#/definitions/Size",
          "description": "The size of the page element."
        },
        "table": {
          "$ref": "#/definitions/Table",
          "description": "A table page element."
        },
        "title": {
          "description": "The title of the page element. Combined with description to display alt\ntext.",
          "type": "string"
        },
        "transform": {
          "$ref": "#/definitions/AffineTransform",
          "description": "The transform of the page element.\n\nThe visual appearance of the page element is determined by its absolute\ntransform. To compute the absolute transform, preconcatenate a page\nelement's transform with the transforms of all of its parent groups. If the\npage element is not in a group, its absolute transform is the same as the\nvalue in this field.\n\nThe initial transform for the newly created Group is always the identity transform."
        },
        "video": {
          "$ref": "#/definitions/Video",
          "description": "A video page element."
        },
        "wordArt": {
          "$ref": "#/definitions/WordArt",
          "description": "A word art page element."
        }
      },
      "type": "object"
    },
    "PageElementProperties": {
      "description": "Common properties for a page element.\n\nNote: When you initially create a\nPageElement, the API may modify\nthe values of both `size` and `transform`, but the\nvisual size will be unchanged.",
      "properties": {
        "pageObjectId": {
          "description": "The object ID of the page where the element is located.",
          "type": "string"
        },
        "size": {
          "$ref": "#/definitions/Size",
          "description": "The size of the element."
        },
        "transform": {
          "$ref": "#/definitions/AffineTransform",
          "description": "The transform for the element."
        }
      },
      "type": "object"
    },
    "PageProperties": {
      "description": "The properties of the Page.\n\nThe page will inherit properties from the parent page. Depending on the page\ntype the hierarchy is defined in either\nSlideProperties or\nLayoutProperties.",
      "properties": {
        "colorScheme": {
          "$ref": "#/definitions/ColorScheme",
          "description": "The color scheme of the page. If unset, the color scheme is inherited from\na parent page. If the page has no parent, the color scheme uses a default\nSlides color scheme. This field is read-only."
        },
        "pageBackgroundFill": {
          "$ref": "#/definitions/PageBackgroundFill",
          "description": "The background fill of the page. If unset, the background fill is inherited\nfrom a parent page if it exists. If the page has no parent, then the\nbackground fill defaults to the corresponding fill in the Slides editor."
        }
      },
      "type": "object"
    },
    "ParagraphMarker": {
      "description": "A TextElement kind that represents the beginning of a new paragraph.",
      "properties": {
        "bullet": {
          "$ref": "#/definitions/Bullet",
          "description": "The bullet for this paragraph. If not present, the paragraph does not\nbelong to a list."
        },
        "style": {
          "$ref": "#/definitions/ParagraphStyle",
          "description": "The paragraph's style"
        }
      },
      "type": "object"
    },
    "ParagraphStyle": {
      "description": "Styles that apply to a whole paragraph.\n\nIf this text is contained in a shape with a parent placeholder, then these paragraph styles may be\ninherited from the parent. Which paragraph styles are inherited depend on the\nnesting level of lists:\n\n* A paragraph not in a list will inherit its paragraph style from the\n  paragraph at the 0 nesting level of the list inside the parent placeholder.\n* A paragraph in a list will inherit its paragraph style from the paragraph\n  at its corresponding nesting level of the list inside the parent\n  placeholder.\n\nInherited paragraph styles are represented as unset fields in this message.",
      "properties": {
        "alignment": {
          "description": "The text alignment for this paragraph.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "type": "string"
        },
        "direction": {
          "description": "The text direction of this paragraph. If unset, the value defaults to\nLEFT_TO_RIGHT since\ntext direction is not inherited.",
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "type": "string"
        },
        "indentEnd": {
          "$ref": "#/definitions/Dimension",
          "description": "The amount indentation for the paragraph on the side that corresponds to\nthe end of the text, based on the current text direction. If unset, the\nvalue is inherited from the parent."
        },
        "indentFirstLine": {
          "$ref": "#/definitions/Dimension",
          "description": "The amount of indentation for the start of the first line of the paragraph.\nIf unset, the value is inherited from the parent."
        },
        "indentStart": {
          "$ref": "#/definitions/Dimension",
          "description": "The amount indentation for the paragraph on the side that corresponds to\nthe start of the text, based on the current text direction. If unset, the\nvalue is inherited from the parent."
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal\nis represented as 100.0. If unset, the value is inherited from the parent.",
          "format": "float",
          "type": "number"
        },
        "spaceAbove": {
          "$ref": "#/definitions/Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is\ninherited from the parent."
        },
        "spaceBelow": {
          "$ref": "#/definitions/Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is\ninherited from the parent."
        },
        "spacingMode": {
          "description": "The spacing mode for the paragraph.",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Placeholder": {
      "description": "The placeholder information that uniquely identifies a placeholder shape.",
      "properties": {
        "index": {
          "description": "The index of the placeholder. If the same placeholder types are present in\nthe same page, they would have different index values.",
          "format": "int32",
          "type": "integer"
        },
        "parentObjectId": {
          "description": "The object ID of this shape's parent placeholder.\nIf unset, the parent placeholder shape does not exist, so the shape does\nnot inherit properties from any other shape.",
          "type": "string"
        },
        "type": {
          "description": "The type of the placeholder.",
          "enum": [
            "NONE",
            "BODY",
            "CHART",
            "CLIP_ART",
            "CENTERED_TITLE",
            "DIAGRAM",
            "DATE_AND_TIME",
            "FOOTER",
            "HEADER",
            "MEDIA",
            "OBJECT",
            "PICTURE",
            "SLIDE_NUMBER",
            "SUBTITLE",
            "TABLE",
            "TITLE",
            "SLIDE_IMAGE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Presentation": {
      "description": "A Google Slides presentation.",
      "properties": {
        "layouts": {
          "description": "The layouts in the presentation. A layout is a template that determines\nhow content is arranged and styled on the slides that inherit from that\nlayout.",
          "items": {
            "$ref": "#/definitions/Page"
          },
          "type": "array"
        },
        "locale": {
          "description": "The locale of the presentation, as an IETF BCP 47 language tag.",
          "type": "string"
        },
        "masters": {
          "description": "The slide masters in the presentation. A slide master contains all common\npage elements and the common properties for a set of layouts. They serve\nthree purposes:\n\n- Placeholder shapes on a master contain the default text styles and shape\n  properties of all placeholder shapes on pages that use that master.\n- The master page properties define the common page properties inherited by\n  its layouts.\n- Any other shapes on the master slide will appear on all slides using that\n  master, regardless of their layout.",
          "items": {
            "$ref": "#/definitions/Page"
          },
          "type": "array"
        },
        "notesMaster": {
          "$ref": "#/definitions/Page",
          "description": "The notes master in the presentation. It serves three purposes:\n\n- Placeholder shapes on a notes master contain the default text styles and\n  shape properties of all placeholder shapes on notes pages. Specifically,\n  a `SLIDE_IMAGE` placeholder shape contains the slide thumbnail, and a\n  `BODY` placeholder shape contains the speaker notes.\n- The notes master page properties define the common page properties\n  inherited by all notes pages.\n- Any other shapes on the notes master will appear on all notes pages.\n\nThe notes master is read-only."
        },
        "pageSize": {
          "$ref": "#/definitions/Size",
          "description": "The size of pages in the presentation."
        },
        "presentationId": {
          "description": "The ID of the presentation.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision ID of the presentation. Can be used in update requests\nto assert that the presentation revision hasn't changed since the last\nread operation. Only populated if the user has edit access to the\npresentation.\n\nThe format of the revision ID may change over time, so it should be treated\nopaquely. A returned revision ID is only guaranteed to be valid for 24\nhours after it has been returned and cannot be shared across users. If the\nrevision ID is unchanged between calls, then the presentation has not\nchanged. Conversely, a changed ID (for the same presentation and user)\nusually means the presentation has been updated; however, a changed ID can\nalso be due to internal factors such as ID format changes.",
          "type": "string"
        },
        "slides": {
          "description": "The slides in the presentation.\nA slide inherits properties from a slide layout.",
          "items": {
            "$ref": "#/definitions/Page"
          },
          "type": "array"
        },
        "title": {
          "description": "The title of the presentation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Range": {
      "description": "Specifies a contiguous range of an indexed collection, such as characters in\ntext.",
      "properties": {
        "endIndex": {
          "description": "The optional zero-based index of the end of the collection.\nRequired for `FIXED_RANGE` ranges.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The optional zero-based index of the beginning of the collection.\nRequired for `FIXED_RANGE` and `FROM_START_INDEX` ranges.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "The type of range.",
          "enum": [
            "RANGE_TYPE_UNSPECIFIED",
            "FIXED_RANGE",
            "FROM_START_INDEX",
            "ALL"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Recolor": {
      "description": "A recolor effect applied on an image.",
      "properties": {
        "name": {
          "description": "The name of the recolor effect.\n\nThe name is determined from the `recolor_stops` by matching the gradient\nagainst the colors in the page's current color scheme. This property is\nread-only.",
          "enum": [
            "NONE",
            "LIGHT1",
            "LIGHT2",
            "LIGHT3",
            "LIGHT4",
            "LIGHT5",
            "LIGHT6",
            "LIGHT7",
            "LIGHT8",
            "LIGHT9",
            "LIGHT10",
            "DARK1",
            "DARK2",
            "DARK3",
            "DARK4",
            "DARK5",
            "DARK6",
            "DARK7",
            "DARK8",
            "DARK9",
            "DARK10",
            "GRAYSCALE",
            "NEGATIVE",
            "SEPIA",
            "CUSTOM"
          ],
          "type": "string"
        },
        "recolorStops": {
          "description": "The recolor effect is represented by a gradient, which is a list of color\nstops.\n\nThe colors in the gradient will replace the corresponding colors at\nthe same position in the color palette and apply to the image. This\nproperty is read-only.",
          "items": {
            "$ref": "#/definitions/ColorStop"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RefreshSheetsChartRequest": {
      "description": "Refreshes an embedded Google Sheets chart by replacing it with the latest\nversion of the chart from Google Sheets.\n\nNOTE: Refreshing charts requires  at least one of the spreadsheets.readonly,\nspreadsheets, drive.readonly, or drive OAuth scopes.",
      "properties": {
        "objectId": {
          "description": "The object ID of the chart to refresh.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReplaceAllShapesWithImageRequest": {
      "description": "Replaces all shapes that match the given criteria with the provided image.",
      "properties": {
        "containsText": {
          "$ref": "#/definitions/SubstringMatchCriteria",
          "description": "If set, this request will replace all of the shapes that contain the\ngiven text."
        },
        "imageReplaceMethod": {
          "description": "The image replace method.\n\nIf you specify both a `replace_method` and an `image_replace_method`, the\n`image_replace_method` takes precedence.\n\nIf you do not specify a value for `image_replace_method`, but specify a\nvalue for `replace_method`, then the specified `replace_method` value is\nused.\n\nIf you do not specify either, then CENTER_INSIDE is used.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "type": "string"
        },
        "imageUrl": {
          "description": "The image URL.\n\nThe image is fetched once at insertion time and a copy is stored for\ndisplay inside the presentation. Images must be less than 50MB in size,\ncannot exceed 25 megapixels, and must be in either in PNG, JPEG, or GIF\nformat.\n\nThe provided URL can be at most 2 kB in length.",
          "type": "string"
        },
        "pageObjectIds": {
          "description": "If non-empty, limits the matches to page elements only on the given pages.\n\nReturns a 400 bad request error if given the page object ID of a\nnotes page or a\nnotes master, or if a\npage with that object ID doesn't exist in the presentation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replaceMethod": {
          "description": "The replace method.\nDeprecated: use `image_replace_method` instead.\n\nIf you specify both a `replace_method` and an `image_replace_method`, the\n`image_replace_method` takes precedence.",
          "enum": [
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReplaceAllShapesWithImageResponse": {
      "description": "The result of replacing shapes with an image.",
      "properties": {
        "occurrencesChanged": {
          "description": "The number of shapes replaced with images.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ReplaceAllShapesWithSheetsChartRequest": {
      "description": "Replaces all shapes that match the given criteria with the provided Google\nSheets chart. The chart will be scaled and centered to fit within the bounds\nof the original shape.\n\nNOTE: Replacing shapes with a chart requires at least one of the\nspreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.",
      "properties": {
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet.",
          "format": "int32",
          "type": "integer"
        },
        "containsText": {
          "$ref": "#/definitions/SubstringMatchCriteria",
          "description": "The criteria that the shapes must match in order to be replaced. The\nrequest will replace all of the shapes that contain the given text."
        },
        "linkingMode": {
          "description": "The mode with which the chart is linked to the source spreadsheet. When\nnot specified, the chart will be an image that is not linked.",
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ],
          "type": "string"
        },
        "pageObjectIds": {
[...]
