{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>The AWS Cost and Usage Report API enables you to programmatically create, query, and delete AWS Cost and Usage report definitions.</p> <p>AWS Cost and Usage reports track the monthly AWS costs and usage associated with your AWS account. The report contains line items for each unique combination of AWS product, usage type, and operation that your AWS account uses. You can configure the AWS Cost and Usage report to show only the data that you want, using the AWS Cost and Usage API.</p> <p>Service Endpoint</p> <p>The AWS Cost and Usage Report API provides the following endpoint:</p> <ul> <li> <p>cur.us-east-1.amazonaws.com</p> </li> </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Cost and Usage Report Service",
    "version": "2017-01-06",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cur-2017-01-06.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "cur",
    "x-datafire": {
      "name": "amazonaws_cur",
      "type": "openapi"
    }
  },
  "host": "cur.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=AWSOrigamiServiceGatewayService.DeleteReportDefinition": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSOrigamiServiceGatewayService.DeleteReportDefinition"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteReportDefinitionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteReportDefinitionResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Deletes the specified report.",
        "operationId": "DeleteReportDefinition"
      }
    },
    "/#X-Amz-Target=AWSOrigamiServiceGatewayService.DescribeReportDefinitions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSOrigamiServiceGatewayService.DescribeReportDefinitions"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReportDefinitionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeReportDefinitionsResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          }
        },
        "description": "Lists the AWS Cost and Usage reports available to this account.",
        "operationId": "DescribeReportDefinitions"
      }
    },
    "/#X-Amz-Target=AWSOrigamiServiceGatewayService.ModifyReportDefinition": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSOrigamiServiceGatewayService.ModifyReportDefinition"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyReportDefinitionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyReportDefinitionResponse"
            }
          },
          "480": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Allows you to programatically update your report preferences.",
        "operationId": "ModifyReportDefinition"
      }
    },
    "/#X-Amz-Target=AWSOrigamiServiceGatewayService.PutReportDefinition": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSOrigamiServiceGatewayService.PutReportDefinition"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutReportDefinitionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutReportDefinitionResponse"
            }
          },
          "480": {
            "description": "DuplicateReportNameException",
            "schema": {
              "$ref": "#/definitions/DuplicateReportNameException"
            }
          },
          "481": {
            "description": "ReportLimitReachedException",
            "schema": {
              "$ref": "#/definitions/ReportLimitReachedException"
            }
          },
          "482": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "483": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "description": "Creates a new report using the description that you provide.",
        "operationId": "PutReportDefinition"
      }
    }
  },
  "definitions": {
    "AWSRegion": {
      "description": "The region of the S3 bucket that AWS delivers the report into.",
      "enum": [
        "af-south-1",
        "ap-east-1",
        "ap-south-1",
        "ap-southeast-1",
        "ap-southeast-2",
        "ap-northeast-1",
        "ap-northeast-2",
        "ap-northeast-3",
        "ca-central-1",
        "eu-central-1",
        "eu-west-1",
        "eu-west-2",
        "eu-west-3",
        "eu-north-1",
        "eu-south-1",
        "me-south-1",
        "sa-east-1",
        "us-east-1",
        "us-east-2",
        "us-west-1",
        "us-west-2",
        "cn-north-1",
        "cn-northwest-1"
      ],
      "type": "string"
    },
    "AdditionalArtifact": {
      "description": "The types of manifest that you want AWS to create for this report.",
      "enum": [
        "REDSHIFT",
        "QUICKSIGHT",
        "ATHENA"
      ],
      "type": "string"
    },
    "AdditionalArtifactList": {
      "description": "A list of additional artifacts.",
      "items": {
        "$ref": "#/definitions/AdditionalArtifact"
      },
      "type": "array"
    },
    "CompressionFormat": {
      "description": "The compression format that AWS uses for the report.",
      "enum": [
        "ZIP",
        "GZIP",
        "Parquet"
      ],
      "type": "string"
    },
    "DeleteReportDefinitionRequest": {
      "description": "Deletes the specified report.",
      "properties": {
        "ReportName": {
          "allOf": [
            {
              "$ref": "#/definitions/ReportName"
            },
            {
              "description": "The name of the report that you want to delete. The name must be unique, is case sensitive, and can't include spaces."
            }
          ]
        }
      },
      "title": "DeleteReportDefinitionRequest",
      "type": "object"
    },
    "DeleteReportDefinitionResponse": {
      "description": "If the action is successful, the service sends back an HTTP 200 response.",
      "properties": {
        "ResponseMessage": {
          "$ref": "#/definitions/DeleteResponseMessage"
        }
      },
      "type": "object"
    },
    "DeleteResponseMessage": {
      "description": "Whether the deletion was successful or not.",
      "type": "string"
    },
    "DescribeReportDefinitionsRequest": {
      "description": "Requests a list of AWS Cost and Usage reports owned by the account.",
      "properties": {
        "MaxResults": {
          "$ref": "#/definitions/MaxResults"
        },
        "NextToken": {
          "$ref": "#/definitions/GenericString"
        }
      },
      "title": "DescribeReportDefinitionsRequest",
      "type": "object"
    },
    "DescribeReportDefinitionsResponse": {
      "description": "If the action is successful, the service sends back an HTTP 200 response.",
      "example": {
        "ReportDefinitions": [
          {
            "AdditionalArtifacts": [
              "QUICKSIGHT"
            ],
            "AdditionalSchemaElements": [
              "RESOURCES"
            ],
            "Compression": "GZIP",
            "Format": "textORcsv",
            "ReportName": "ExampleReport",
            "S3Bucket": "example-s3-bucket",
            "S3Prefix": "exampleprefix",
            "S3Region": "us-east-1",
            "TimeUnit": "HOURLY"
          },
          {
            "AdditionalArtifacts": [
              "QUICKSIGHT"
            ],
            "AdditionalSchemaElements": [
              "RESOURCES"
            ],
            "Compression": "GZIP",
            "Format": "textORcsv",
            "ReportName": "ExampleReport2",
            "S3Bucket": "example-s3-bucket",
            "S3Prefix": "exampleprefix",
            "S3Region": "us-east-1",
            "TimeUnit": "HOURLY"
          }
        ]
      },
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/GenericString"
        },
        "ReportDefinitions": {
          "allOf": [
            {
              "$ref": "#/definitions/ReportDefinitionList"
            },
            {
              "description": "A list of AWS Cost and Usage reports owned by the account."
            }
          ]
        }
      },
      "type": "object"
    },
    "DuplicateReportNameException": {},
    "GenericString": {
      "description": "A generic string.",
      "maxLength": 256,
      "pattern": "[A-Za-z0-9_\\.\\-=]*",
      "type": "string"
    },
    "InternalErrorException": {},
    "MaxResults": {
      "description": "The maximum number of results that AWS returns for the operation.",
      "maximum": 5,
      "minimum": 5,
      "type": "integer"
    },
    "ModifyReportDefinitionRequest": {
      "properties": {
        "ReportDefinition": {
          "$ref": "#/definitions/ReportDefinition"
        },
        "ReportName": {
          "$ref": "#/definitions/ReportName"
        }
      },
      "required": [
        "ReportName",
        "ReportDefinition"
      ],
      "title": "ModifyReportDefinitionRequest",
      "type": "object"
    },
    "ModifyReportDefinitionResponse": {
      "properties": {},
      "type": "object"
    },
    "PutReportDefinitionRequest": {
      "description": "Creates a Cost and Usage Report.",
      "properties": {
        "ReportDefinition": {
          "allOf": [
            {
              "$ref": "#/definitions/ReportDefinition"
            },
            {
              "description": "Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. "
            }
          ]
        }
      },
      "required": [
        "ReportDefinition"
      ],
      "title": "PutReportDefinitionRequest",
      "type": "object"
    },
    "PutReportDefinitionResponse": {
      "description": "If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.",
      "properties": {},
      "type": "object"
    },
    "RefreshClosedReports": {
      "type": "boolean"
    },
    "ReportDefinition": {
      "description": "The definition of AWS Cost and Usage Report. You can specify the report name, time unit, report format, compression format, S3 bucket, additional artifacts, and schema elements in the definition. ",
      "properties": {
        "AdditionalArtifacts": {
          "allOf": [
            {
              "$ref": "#/definitions/AdditionalArtifactList"
            },
            {
              "description": "A list of manifests that you want Amazon Web Services to create for this report."
            }
          ]
        },
        "AdditionalSchemaElements": {
          "allOf": [
            {
              "$ref": "#/definitions/SchemaElementList"
            },
            {
              "description": "A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. "
            }
          ]
        },
        "Compression": {
          "$ref": "#/definitions/CompressionFormat"
        },
        "Format": {
          "$ref": "#/definitions/ReportFormat"
        },
        "RefreshClosedReports": {
          "allOf": [
            {
              "$ref": "#/definitions/RefreshClosedReports"
            },
            {
              "description": "Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to previous months. These charges can include refunds, credits, or support fees."
            }
          ]
        },
        "ReportName": {
          "$ref": "#/definitions/ReportName"
        },
        "ReportVersioning": {
          "allOf": [
            {
              "$ref": "#/definitions/ReportVersioning"
            },
            {
              "description": "Whether you want Amazon Web Services to overwrite the previous version of each report or to deliver the report in addition to the previous versions."
            }
          ]
        },
        "S3Bucket": {
          "$ref": "#/definitions/S3Bucket"
        },
        "S3Prefix": {
          "$ref": "#/definitions/S3Prefix"
        },
        "S3Region": {
          "$ref": "#/definitions/AWSRegion"
        },
        "TimeUnit": {
          "$ref": "#/definitions/TimeUnit"
        }
      },
      "required": [
        "ReportName",
        "TimeUnit",
        "Format",
        "Compression",
        "AdditionalSchemaElements",
        "S3Bucket",
        "S3Prefix",
        "S3Region"
      ],
      "type": "object"
    },
    "ReportDefinitionList": {
      "description": "A list of report definitions.",
      "items": {
        "$ref": "#/definitions/ReportDefinition"
      },
      "type": "array"
    },
    "ReportFormat": {
      "description": "The format that AWS saves the report in.",
      "enum": [
        "textORcsv",
        "Parquet"
      ],
      "type": "string"
    },
    "ReportLimitReachedException": {},
    "ReportName": {
      "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
      "maxLength": 256,
      "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
      "type": "string"
    },
    "ReportVersioning": {
      "enum": [
        "CREATE_NEW_REPORT",
        "OVERWRITE_REPORT"
      ],
      "type": "string"
    },
    "S3Bucket": {
      "description": "The S3 bucket where AWS delivers the report.",
      "maxLength": 256,
      "pattern": "[A-Za-z0-9_\\.\\-]+",
      "type": "string"
    },
    "S3Prefix": {
      "description": "The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.",
      "maxLength": 256,
      "pattern": "[0-9A-Za-z!\\-_.*\\'()/]*",
      "type": "string"
    },
    "SchemaElement": {
      "description": "Whether or not AWS includes resource IDs in the report. ",
      "enum": [
        "RESOURCES"
      ],
      "type": "string"
    },
    "SchemaElementList": {
      "description": "A list of strings that indicate the content that is included in the report, such as service or usage type.",
      "items": {
        "$ref": "#/definitions/SchemaElement"
      },
      "type": "array"
    },
    "TimeUnit": {
      "description": "The length of time covered by the report. ",
      "enum": [
        "HOURLY",
        "DAILY",
        "MONTHLY"
      ],
      "type": "string"
    },
    "ValidationException": {}
  },
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/cur/"
  },
  "x-components": {
    "parameters": {
      "X-Amz-Algorithm": {
        "in": "header",
        "name": "X-Amz-Algorithm",
        "required": false,
        "type": "string"
      },
      "X-Amz-Content-Sha256": {
        "in": "header",
        "name": "X-Amz-Content-Sha256",
        "required": false,
        "type": "string"
      },
      "X-Amz-Credential": {
        "in": "header",
        "name": "X-Amz-Credential",
        "required": false,
        "type": "string"
      },
      "X-Amz-Date": {
        "in": "header",
        "name": "X-Amz-Date",
        "required": false,
        "type": "string"
      },
      "X-Amz-Security-Token": {
        "in": "header",
        "name": "X-Amz-Security-Token",
        "required": false,
        "type": "string"
      },
      "X-Amz-Signature": {
        "in": "header",
        "name": "X-Amz-Signature",
        "required": false,
        "type": "string"
      },
      "X-Amz-SignedHeaders": {
        "in": "header",
        "name": "X-Amz-SignedHeaders",
        "required": false,
        "type": "string"
      }
    }
  },
  "x-hasEquivalentPaths": true
}