{
  "swagger": "2.0",
  "info": {
    "description": "This API helps users convert Excel and Powerpoint documents into rich, live dashboards and stories.",
    "title": "OOXML Automation",
    "version": "0.1.0",
    "x-apisguru-categories": [
      "analytics"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_presalytics.io_static_img_Logo_Logos_Orange-White_navbar.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.presalytics.io/ooxml-automation/docs/v1/openapi.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "presalytics.io",
    "x-serviceName": "ooxml",
    "x-datafire": {
      "name": "presalytics_ooxml",
      "type": "openapi"
    }
  },
  "host": "api.presalytics.io",
  "basePath": "/ooxml-automation",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Charts/Axes/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.Axes"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/Axes"
        ],
        "description": "Get by Id: Use this method to retrieve a Axes object by its primary key (id)",
        "operationId": "chart_axes_get_id",
        "summary": "Axes: Get by Id"
      }
    },
    "/Charts/AxisDataTypes": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Chart.AxisDataTypes"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/AxisDataTypes"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the AxisDataTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Chart object space.",
        "operationId": "chart_axisdatatypes_get",
        "summary": "AxisDataTypes: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Charts/AxisDataTypes/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.AxisDataTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/AxisDataTypes"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "chart_axisdatatypes_typeid_get_type_id",
        "summary": "AxisDataTypes: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Charts/AxisDataTypes/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.AxisDataTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/AxisDataTypes"
        ],
        "description": "Get by Id: Use this method to retrieve a AxisDataTypes object by its primary key (id)",
        "operationId": "chart_axisdatatypes_get_id",
        "summary": "AxisDataTypes: Get by Id"
      }
    },
    "/Charts/ChartData/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.ChartData"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/ChartData"
        ],
        "description": "Get by Id: Use this method to retrieve a ChartData object by its primary key (id)",
        "operationId": "chart_chartdata_get_id",
        "summary": "ChartData: Get by Id"
      }
    },
    "/Charts/ChartUpdate/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.ChartDataDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts"
        ],
        "description": "Gets a ChartDataDTO object, usually used for downstream analytics and chart updates",
        "operationId": "charts_charts_chartupdate_get_id",
        "summary": "Charts: Get Chart Data"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Chart Id",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ChartDataDto Object",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Chart.ChartDataDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Charts"
        ],
        "description": "Simplifies chart update by allowing users to supply data via ChartDataDTO",
        "operationId": "charts_charts_chartupdate_put_id",
        "summary": "Charts: Update Chart Data"
      }
    },
    "/Charts/ChildObjects/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ChildObjects"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Charts"
        ],
        "description": "This endpoint is helpful for helping users and bots identify dependent objects to this Chart and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.",
        "operationId": "charts_charts_childobjects_get_id",
        "summary": "Charts: Get Dependent Objects Tree",
        "x-operationName": "get-obj-tree"
      }
    },
    "/Charts/ColumnCollections/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.ColumnCollections"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/ColumnCollections"
        ],
        "description": "Get by Id: Use this method to retrieve a ColumnCollections object by its primary key (id)",
        "operationId": "chart_columncollections_get_id",
        "summary": "ColumnCollections: Get by Id"
      }
    },
    "/Charts/Columns/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.Columns"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/Columns"
        ],
        "description": "Get by Id: Use this method to retrieve a Columns object by its primary key (id)",
        "operationId": "chart_columns_get_id",
        "summary": "Columns: Get by Id"
      }
    },
    "/Charts/DataPoints/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.DataPoints"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/DataPoints"
        ],
        "description": "Get by Id: Use this method to retrieve a DataPoints object by its primary key (id)",
        "operationId": "chart_datapoints_get_id",
        "summary": "DataPoints: Get by Id"
      }
    },
    "/Charts/Details/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.Charts.Details"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts"
        ],
        "description": "Returns object metadata and information about relative dependent objects ",
        "operationId": "charts_charts_details_get_id",
        "summary": "Charts: Get Details",
        "x-operationName": "details"
      }
    },
    "/Charts/OpenOfficeXml/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)",
            "in": "query",
            "name": "updated",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Charts"
        ],
        "description": "Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Chart object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Chart objects.",
        "operationId": "charts_charts_openofficexml_get_id_updated",
        "summary": "Charts: Get Underlying Xml",
        "x-operationName": "get-xml"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Charts"
        ],
        "description": "Directly eidt the underlying xml of a Chart object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Chart objects.",
        "operationId": "charts_charts_openofficexml_put_id",
        "summary": "Charts: Modify Underlying Xml",
        "x-operationName": "put-xml"
      }
    },
    "/Charts/PlotType": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Chart.PlotType"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/PlotType"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the PlotType type. Use the Id from oneof the returned elements on to make changes to elements in the Chart object space.",
        "operationId": "chart_plottype_get",
        "summary": "PlotType: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Charts/PlotType/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.PlotType"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/PlotType"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "chart_plottype_typeid_get_type_id",
        "summary": "PlotType: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Charts/PlotType/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.PlotType"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/PlotType"
        ],
        "description": "Get by Id: Use this method to retrieve a PlotType object by its primary key (id)",
        "operationId": "chart_plottype_get_id",
        "summary": "PlotType: Get by Id"
      }
    },
    "/Charts/RowCol": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Chart.RowCol"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/RowCol"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the RowCol type. Use the Id from oneof the returned elements on to make changes to elements in the Chart object space.",
        "operationId": "chart_rowcol_get",
        "summary": "RowCol: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Charts/RowCol/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.RowCol"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/RowCol"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "chart_rowcol_typeid_get_type_id",
        "summary": "RowCol: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Charts/RowCol/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.RowCol"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/RowCol"
        ],
        "description": "Get by Id: Use this method to retrieve a RowCol object by its primary key (id)",
        "operationId": "chart_rowcol_get_id",
        "summary": "RowCol: Get by Id"
      }
    },
    "/Charts/RowCollections/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.RowCollections"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/RowCollections"
        ],
        "description": "Get by Id: Use this method to retrieve a RowCollections object by its primary key (id)",
        "operationId": "chart_rowcollections_get_id",
        "summary": "RowCollections: Get by Id"
      }
    },
    "/Charts/RowNameFormatTypes": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Chart.RowNameFormatTypes"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/RowNameFormatTypes"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the RowNameFormatTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Chart object space.",
        "operationId": "chart_rownameformattypes_get",
        "summary": "RowNameFormatTypes: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Charts/RowNameFormatTypes/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.RowNameFormatTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/RowNameFormatTypes"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "chart_rownameformattypes_typeid_get_type_id",
        "summary": "RowNameFormatTypes: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Charts/RowNameFormatTypes/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.RowNameFormatTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/RowNameFormatTypes"
        ],
        "description": "Get by Id: Use this method to retrieve a RowNameFormatTypes object by its primary key (id)",
        "operationId": "chart_rownameformattypes_get_id",
        "summary": "RowNameFormatTypes: Get by Id"
      }
    },
    "/Charts/Rows/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.Rows"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts/Rows"
        ],
        "description": "Get by Id: Use this method to retrieve a Rows object by its primary key (id)",
        "operationId": "chart_rows_get_id",
        "summary": "Rows: Get by Id"
      }
    },
    "/Charts/Svg/{id}": {
      "get": {
        "produces": [
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)",
            "in": "query",
            "name": "use_cache",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an svg formatted-image of this object.",
            "schema": {
              "description": "The file byte stream.",
              "format": "binary",
              "title": "Svg byte stream",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Charts"
        ],
        "description": "This endpoint is helpful for rending this Chart as an svg or image object that can then be rendered in a story, dashboard or website.",
        "operationId": "charts_charts_svg_get_id_use_cache",
        "summary": "Charts: Get Svg file",
        "x-operationName": "get-svg"
      }
    },
    "/Charts/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An Id of the respository DTO elemennt",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Chart.Charts"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Charts"
        ],
        "description": "Get by Id: Use this method to retrieve a Charts object by its primary key (id)",
        "operationId": "charts_charts_get_id",
        "summary": "Charts: Get by Id"
      }
    },
    "/ConnectionShapes/ChildObjects/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ChildObjects"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "ConnectionShapes"
        ],
        "description": "This endpoint is helpful for helping users and bots identify dependent objects to this Slide and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.",
        "operationId": "slides_connectionshapes_childobjects_get_id",
        "summary": "Slides: Get Dependent Objects Tree",
        "x-operationName": "get-obj-tree"
      }
    },
    "/ConnectionShapes/Details/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide.Connector.Details"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "ConnectionShapes"
        ],
        "description": "Returns object metadata and information about relative dependent objects ",
        "operationId": "slides_connectionshapes_details_get_id",
        "summary": "Slides: Get Details",
        "x-operationName": "details"
      }
    },
    "/ConnectionShapes/OpenOfficeXml/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)",
            "in": "query",
            "name": "updated",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "ConnectionShapes"
        ],
        "description": "Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Slide object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Slide objects.",
        "operationId": "slides_connectionshapes_openofficexml_get_id_updated",
        "summary": "Slides: Get Underlying Xml",
        "x-operationName": "get-xml"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "ConnectionShapes"
        ],
        "description": "Directly eidt the underlying xml of a Slide object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Slide objects.",
        "operationId": "slides_connectionshapes_openofficexml_put_id",
        "summary": "Slides: Modify Underlying Xml",
        "x-operationName": "put-xml"
      }
    },
    "/ConnectionShapes/Svg/{id}": {
      "get": {
        "produces": [
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)",
            "in": "query",
            "name": "use_cache",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an svg formatted-image of this object.",
            "schema": {
              "description": "The file byte stream.",
              "format": "binary",
              "title": "Svg byte stream",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "ConnectionShapes"
        ],
        "description": "This endpoint is helpful for rending this Slide as an svg or image object that can then be rendered in a story, dashboard or website.",
        "operationId": "slides_connectionshapes_svg_get_id_use_cache",
        "summary": "Slides: Get Svg file",
        "x-operationName": "get-svg"
      }
    },
    "/ConnectionShapes/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An Id of the respository DTO elemennt",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide.Connector"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "ConnectionShapes"
        ],
        "description": "Get by Id: Use this method to retrieve a ConnectionShapes object by its primary key (id)",
        "operationId": "slides_connectionshapes_get_id",
        "summary": "ConnectionShapes: Get by Id"
      }
    },
    "/Documents": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "The file to upload.  Must be of type .pptx, ppt",
            "format": "binary",
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "string"
          },
          {
            "description": "The story_id of the document being uploaded.",
            "format": "uuid",
            "in": "formData",
            "name": "storyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Document"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Upload an OpenOfficeXml document (e.g., .xlsx, .pptx) for processing by the API.",
        "operationId": "documents_post",
        "summary": "Documents: Upload"
      }
    },
    "/Documents/ChildObjects/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ChildObjects"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "This endpoint is helpful for helping users and bots identify dependent objects to this DocumentsController and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.",
        "operationId": "documents_childobjects_get_id",
        "summary": "DocumentsController: Get Dependent Objects Tree",
        "x-operationName": "get-obj-tree"
      }
    },
    "/Documents/Clone/{id}": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "the Source document Id",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A DocumentCloneDto object with containing information required for cloning the document",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DocumentCloneDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Clone A Document that has already been uploaded to a new Story",
        "operationId": "documents_clone_post_id",
        "summary": "Documents: Clone an existing Ooxml Document to new Parent Story"
      }
    },
    "/Documents/DocumentType": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DocumentType"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Documents/DocumentType"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the DocumentType type. Use the Id from oneof the returned elements on to make changes to elements in the Documents object space.",
        "operationId": "documents_documenttype_get",
        "summary": "DocumentType: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Documents/DocumentType/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentType"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Documents/DocumentType"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "documents_documenttype_typeid_get_type_id",
        "summary": "DocumentType: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Documents/DocumentType/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentType"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Documents/DocumentType"
        ],
        "description": "Get by Id: Use this method to retrieve a DocumentType object by its primary key (id)",
        "operationId": "documents_documenttype_get_id",
        "summary": "DocumentType: Get by Id"
      }
    },
    "/Documents/Download/{id}": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "in": "query",
            "name": "orginal",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an updated version of the OpenOffice Xml file",
            "schema": {
              "format": "binary",
              "title": "File byte stream",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Download the into a bytestream for client-side processing.",
        "operationId": "documents_download_get_id_orginal",
        "summary": "Documents: Download",
        "x-operationName": "download"
      }
    },
    "/Documents/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Permantly delete a document from the Ooxml Automation API. Note that is does not make changes to the related Presalytics APIs.\r\nPlease use the delete endpoint in the story API to ensure that stories are not left with orphaned references to the Ooxml Automation API.",
        "operationId": "documents_delete_id",
        "summary": "Documents: Delete by Id"
      },
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get by Id: Use this method to retrieve a Documents object by its primary key (id)",
        "operationId": "documents_get_id",
        "summary": "Documents: Get by Id"
      }
    },
    "/Groups/ChildObjects/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ChildObjects"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Groups"
        ],
        "description": "This endpoint is helpful for helping users and bots identify dependent objects to this Slide and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.",
        "operationId": "slides_groups_childobjects_get_id",
        "summary": "Slides: Get Dependent Objects Tree",
        "x-operationName": "get-obj-tree"
      }
    },
    "/Groups/Details/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide.Groups.Details"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Groups"
        ],
        "description": "Returns object metadata and information about relative dependent objects ",
        "operationId": "slides_groups_details_get_id",
        "summary": "Slides: Get Details",
        "x-operationName": "details"
      }
    },
    "/Groups/OpenOfficeXml/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)",
            "in": "query",
            "name": "updated",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Groups"
        ],
        "description": "Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Slide object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Slide objects.",
        "operationId": "slides_groups_openofficexml_get_id_updated",
        "summary": "Slides: Get Underlying Xml",
        "x-operationName": "get-xml"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Groups"
        ],
        "description": "Directly eidt the underlying xml of a Slide object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Slide objects.",
        "operationId": "slides_groups_openofficexml_put_id",
        "summary": "Slides: Modify Underlying Xml",
        "x-operationName": "put-xml"
      }
    },
    "/Groups/Svg/{id}": {
      "get": {
        "produces": [
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)",
            "in": "query",
            "name": "use_cache",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an svg formatted-image of this object.",
            "schema": {
              "description": "The file byte stream.",
              "format": "binary",
              "title": "Svg byte stream",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Groups"
        ],
        "description": "This endpoint is helpful for rending this Slide as an svg or image object that can then be rendered in a story, dashboard or website.",
        "operationId": "slides_groups_svg_get_id_use_cache",
        "summary": "Slides: Get Svg file",
        "x-operationName": "get-svg"
      }
    },
    "/Groups/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An Id of the respository DTO elemennt",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide.Groups"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Groups"
        ],
        "description": "Get by Id: Use this method to retrieve a Groups object by its primary key (id)",
        "operationId": "slides_groups_get_id",
        "summary": "Groups: Get by Id"
      }
    },
    "/Images/ChildObjects/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ChildObjects"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Images"
        ],
        "description": "This endpoint is helpful for helping users and bots identify dependent objects to this Shared and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.",
        "operationId": "shared_images_childobjects_get_id",
        "summary": "Shared: Get Dependent Objects Tree",
        "x-operationName": "get-obj-tree"
      }
    },
    "/Images/Details/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.Pictures.Details"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Images"
        ],
        "description": "Returns object metadata and information about relative dependent objects ",
        "operationId": "shared_images_details_get_id",
        "summary": "Shared: Get Details",
        "x-operationName": "details"
      }
    },
    "/Images/GetImage/{Id}": {
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Image Id",
            "format": "uuid",
            "in": "path",
            "name": "Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "504": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Images"
        ],
        "description": "Download Images extracted from Ooxml Documents",
        "operationId": "shared_images_getimage_put_id",
        "summary": "Image: Download Image"
      }
    },
    "/Images/OpenOfficeXml/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)",
            "in": "query",
            "name": "updated",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Images"
        ],
        "description": "Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Shared object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Shared objects.",
        "operationId": "shared_images_openofficexml_get_id_updated",
        "summary": "Shared: Get Underlying Xml",
        "x-operationName": "get-xml"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Images"
        ],
        "description": "Directly eidt the underlying xml of a Shared object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Shared objects.",
        "operationId": "shared_images_openofficexml_put_id",
        "summary": "Shared: Modify Underlying Xml",
        "x-operationName": "put-xml"
      }
    },
    "/Images/Svg/{id}": {
      "get": {
        "produces": [
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)",
            "in": "query",
            "name": "use_cache",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an svg formatted-image of this object.",
            "schema": {
              "description": "The file byte stream.",
              "format": "binary",
              "title": "Svg byte stream",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Images"
        ],
        "description": "This endpoint is helpful for rending this Shared as an svg or image object that can then be rendered in a story, dashboard or website.",
        "operationId": "shared_images_svg_get_id_use_cache",
        "summary": "Shared: Get Svg file",
        "x-operationName": "get-svg"
      }
    },
    "/Images/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An Id of the respository DTO elemennt",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.Pictures"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Images"
        ],
        "description": "Get by Id: Use this method to retrieve a Images object by its primary key (id)",
        "operationId": "shared_images_get_id",
        "summary": "Images: Get by Id"
      }
    },
    "/ShapeTrees/ChildObjects/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ChildObjects"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "ShapeTrees"
        ],
        "description": "This endpoint is helpful for helping users and bots identify dependent objects to this Slide and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.",
        "operationId": "slides_shapetrees_childobjects_get_id",
        "summary": "Slides: Get Dependent Objects Tree",
        "x-operationName": "get-obj-tree"
      }
    },
    "/ShapeTrees/Details/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide.ShapeTrees.Details"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "ShapeTrees"
        ],
        "description": "Returns object metadata and information about relative dependent objects ",
        "operationId": "slides_shapetrees_details_get_id",
        "summary": "Slides: Get Details",
        "x-operationName": "details"
      }
    },
    "/ShapeTrees/OpenOfficeXml/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)",
            "in": "query",
            "name": "updated",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "ShapeTrees"
        ],
        "description": "Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Slide object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Slide objects.",
        "operationId": "slides_shapetrees_openofficexml_get_id_updated",
        "summary": "Slides: Get Underlying Xml",
        "x-operationName": "get-xml"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "ShapeTrees"
        ],
        "description": "Directly eidt the underlying xml of a Slide object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Slide objects.",
        "operationId": "slides_shapetrees_openofficexml_put_id",
        "summary": "Slides: Modify Underlying Xml",
        "x-operationName": "put-xml"
      }
    },
    "/ShapeTrees/Svg/{id}": {
      "get": {
        "produces": [
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)",
            "in": "query",
            "name": "use_cache",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an svg formatted-image of this object.",
            "schema": {
              "description": "The file byte stream.",
              "format": "binary",
              "title": "Svg byte stream",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "ShapeTrees"
        ],
        "description": "This endpoint is helpful for rending this Slide as an svg or image object that can then be rendered in a story, dashboard or website.",
        "operationId": "slides_shapetrees_svg_get_id_use_cache",
        "summary": "Slides: Get Svg file",
        "x-operationName": "get-svg"
      }
    },
    "/ShapeTrees/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An Id of the respository DTO elemennt",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide.ShapeTrees"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "ShapeTrees"
        ],
        "description": "Get by Id: Use this method to retrieve a ShapeTrees object by its primary key (id)",
        "operationId": "slides_shapetrees_get_id",
        "summary": "ShapeTrees: Get by Id"
      }
    },
    "/Shapes/ChildObjects/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ChildObjects"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Shapes"
        ],
        "description": "This endpoint is helpful for helping users and bots identify dependent objects to this Slide and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.",
        "operationId": "slides_shapes_childobjects_get_id",
        "summary": "Slides: Get Dependent Objects Tree",
        "x-operationName": "get-obj-tree"
      }
    },
    "/Shapes/Details/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide.Shapes.Details"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shapes"
        ],
        "description": "Returns object metadata and information about relative dependent objects ",
        "operationId": "slides_shapes_details_get_id",
        "summary": "Slides: Get Details",
        "x-operationName": "details"
      }
    },
    "/Shapes/OpenOfficeXml/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)",
            "in": "query",
            "name": "updated",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Shapes"
        ],
        "description": "Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Slide object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Slide objects.",
        "operationId": "slides_shapes_openofficexml_get_id_updated",
        "summary": "Slides: Get Underlying Xml",
        "x-operationName": "get-xml"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/json-patch+json",
          "text/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/OoxmlDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Shapes"
        ],
        "description": "Directly eidt the underlying xml of a Slide object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Slide objects.",
        "operationId": "slides_shapes_openofficexml_put_id",
        "summary": "Slides: Modify Underlying Xml",
        "x-operationName": "put-xml"
      }
    },
    "/Shapes/Svg/{id}": {
      "get": {
        "produces": [
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)",
            "in": "query",
            "name": "use_cache",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an svg formatted-image of this object.",
            "schema": {
              "description": "The file byte stream.",
              "format": "binary",
              "title": "Svg byte stream",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "tags": [
          "Shapes"
        ],
        "description": "This endpoint is helpful for rending this Slide as an svg or image object that can then be rendered in a story, dashboard or website.",
        "operationId": "slides_shapes_svg_get_id_use_cache",
        "summary": "Slides: Get Svg file",
        "x-operationName": "get-svg"
      }
    },
    "/Shapes/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An Id of the respository DTO elemennt",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Slide.Shapes"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shapes"
        ],
        "description": "Get by Id: Use this method to retrieve a Shapes object by its primary key (id)",
        "operationId": "slides_shapes_get_id",
        "summary": "Shapes: Get by Id"
      }
    },
    "/Shared/ColorTransformationAttributes/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.ColorTransformationAttributes"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/ColorTransformationAttributes"
        ],
        "description": "Get by Id: Use this method to retrieve a ColorTransformationAttributes object by its primary key (id)",
        "operationId": "shared_colortransformationattributes_get_id",
        "summary": "ColorTransformationAttributes: Get by Id"
      }
    },
    "/Shared/ColorTransformations/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.ColorTransformations"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/ColorTransformations"
        ],
        "description": "Get by Id: Use this method to retrieve a ColorTransformations object by its primary key (id)",
        "operationId": "shared_colortransformations_get_id",
        "summary": "ColorTransformations: Get by Id"
      }
    },
    "/Shared/ColorTypes": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Shared.ColorTypes"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/ColorTypes"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the ColorTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space.",
        "operationId": "shared_colortypes_get",
        "summary": "ColorTypes: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Shared/ColorTypes/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.ColorTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/ColorTypes"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "shared_colortypes_typeid_get_type_id",
        "summary": "ColorTypes: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Shared/ColorTypes/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.ColorTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/ColorTypes"
        ],
        "description": "Get by Id: Use this method to retrieve a ColorTypes object by its primary key (id)",
        "operationId": "shared_colortypes_get_id",
        "summary": "ColorTypes: Get by Id"
      }
    },
    "/Shared/DashTypes": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Shared.DashTypes"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/DashTypes"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the DashTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space.",
        "operationId": "shared_dashtypes_get",
        "summary": "DashTypes: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Shared/DashTypes/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.DashTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/DashTypes"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "shared_dashtypes_typeid_get_type_id",
        "summary": "DashTypes: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Shared/DashTypes/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.DashTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/DashTypes"
        ],
        "description": "Get by Id: Use this method to retrieve a DashTypes object by its primary key (id)",
        "operationId": "shared_dashtypes_get_id",
        "summary": "DashTypes: Get by Id"
      }
    },
    "/Shared/EffectAttributes/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.EffectAttributes"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/EffectAttributes"
        ],
        "description": "Get by Id: Use this method to retrieve a EffectAttributes object by its primary key (id)",
        "operationId": "shared_effectattributes_get_id",
        "summary": "EffectAttributes: Get by Id"
      }
    },
    "/Shared/EffectTypes": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Shared.EffectTypes"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/EffectTypes"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the EffectTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space.",
        "operationId": "shared_effecttypes_get",
        "summary": "EffectTypes: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Shared/EffectTypes/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.EffectTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/EffectTypes"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "shared_effecttypes_typeid_get_type_id",
        "summary": "EffectTypes: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Shared/EffectTypes/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.EffectTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/EffectTypes"
        ],
        "description": "Get by Id: Use this method to retrieve a EffectTypes object by its primary key (id)",
        "operationId": "shared_effecttypes_get_id",
        "summary": "EffectTypes: Get by Id"
      }
    },
    "/Shared/Effects/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.Effects"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/Effects"
        ],
        "description": "Get by Id: Use this method to retrieve a Effects object by its primary key (id)",
        "operationId": "shared_effects_get_id",
        "summary": "Effects: Get by Id"
      }
    },
    "/Shared/FillMap/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.FillMap"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/FillMap"
        ],
        "description": "Get by Id: Use this method to retrieve a FillMap object by its primary key (id)",
        "operationId": "shared_fillmap_get_id",
        "summary": "FillMap: Get by Id"
      }
    },
    "/Shared/FillTypes": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Shared.FillTypes"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/FillTypes"
        ],
        "description": "List Types: Use this method to retreive a list of possible options for the FillTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space.",
        "operationId": "shared_filltypes_get",
        "summary": "FillTypes: List All Possible Types",
        "x-operationName": "list"
      }
    },
    "/Shared/FillTypes/TypeId/{type_id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "type_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.FillTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/FillTypes"
        ],
        "description": "This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.",
        "operationId": "shared_filltypes_typeid_get_type_id",
        "summary": "FillTypes: Get By Type Id",
        "x-operationName": "type-id"
      }
    },
    "/Shared/FillTypes/{id}": {
      "get": {
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "",
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shared.FillTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Shared/FillTypes"
        ],
        "description": "Get by Id: Use this method to retrieve a FillTypes object by its primary key (id)",
        "operationId": "shared_filltypes_get_id",
        "summary": "FillTypes: Get by Id"
      }
    },
    "/Shared/GradientFills/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
[...]
