{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon DynamoDB</fullname> <p>Amazon DynamoDB Streams provides API actions for accessing streams and processing stream records. To learn more about application development with Streams, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html\">Capturing Table Activity with DynamoDB Streams</a> in the Amazon DynamoDB Developer Guide.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon DynamoDB Streams",
    "version": "2012-08-10",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/streams.dynamodb-2012-08-10.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "streams.dynamodb",
    "x-datafire": {
      "name": "amazonaws_streams_dynamodb",
      "type": "openapi"
    }
  },
  "host": "streams.dynamodb.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=DynamoDBStreams_20120810.DescribeStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "DynamoDBStreams_20120810.DescribeStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeStreamInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeStreamOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns information about a stream, including the current status of the stream, its Amazon Resource Name (ARN), the composition of its shards, and its corresponding DynamoDB table.</p> <note> <p>You can call <code>DescribeStream</code> at a maximum rate of 10 times per second.</p> </note> <p>Each shard in the stream has a <code>SequenceNumberRange</code> associated with it. If the <code>SequenceNumberRange</code> has a <code>StartingSequenceNumber</code> but no <code>EndingSequenceNumber</code>, then the shard is still open (able to receive more stream records). If both <code>StartingSequenceNumber</code> and <code>EndingSequenceNumber</code> are present, then that shard is closed and can no longer receive more data.</p>",
        "operationId": "DescribeStream"
      }
    },
    "/#X-Amz-Target=DynamoDBStreams_20120810.GetRecords": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "DynamoDBStreams_20120810.GetRecords"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRecordsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRecordsOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ExpiredIteratorException",
            "schema": {
              "$ref": "#/definitions/ExpiredIteratorException"
            }
          },
          "484": {
            "description": "TrimmedDataAccessException",
            "schema": {
              "$ref": "#/definitions/TrimmedDataAccessException"
            }
          }
        },
        "description": "<p>Retrieves the stream records from a given shard.</p> <p>Specify a shard iterator using the <code>ShardIterator</code> parameter. The shard iterator specifies the position in the shard from which you want to start reading stream records sequentially. If there are no stream records available in the portion of the shard that the iterator points to, <code>GetRecords</code> returns an empty list. Note that it might take multiple calls to get to a portion of the shard that contains stream records.</p> <note> <p> <code>GetRecords</code> can retrieve a maximum of 1 MB of data or 1000 stream records, whichever comes first.</p> </note>",
        "operationId": "GetRecords"
      }
    },
    "/#X-Amz-Target=DynamoDBStreams_20120810.GetShardIterator": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "DynamoDBStreams_20120810.GetShardIterator"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetShardIteratorInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetShardIteratorOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "482": {
            "description": "TrimmedDataAccessException",
            "schema": {
              "$ref": "#/definitions/TrimmedDataAccessException"
            }
          }
        },
        "description": "<p>Returns a shard iterator. A shard iterator provides information about how to retrieve the stream records from within a shard. Use the shard iterator in a subsequent <code>GetRecords</code> request to read the stream records from the shard.</p> <note> <p>A shard iterator expires 15 minutes after it is returned to the requester.</p> </note>",
        "operationId": "GetShardIterator"
      }
    },
    "/#X-Amz-Target=DynamoDBStreams_20120810.ListStreams": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "DynamoDBStreams_20120810.ListStreams"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListStreamsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListStreamsOutput"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "description": "<p>Returns an array of stream ARNs associated with the current account and endpoint. If the <code>TableName</code> parameter is present, then <code>ListStreams</code> will return only the streams ARNs for that table.</p> <note> <p>You can call <code>ListStreams</code> at a maximum rate of 5 times per second.</p> </note>",
        "operationId": "ListStreams"
      }
    }
  },
  "definitions": {
    "AttributeMap": {
      "additionalProperties": {
        "$ref": "#/definitions/AttributeValue"
      },
      "type": "object"
    },
    "AttributeName": {
      "maxLength": 65535,
      "type": "string"
    },
    "AttributeValue": {
      "description": "<p>Represents the data for an attribute.</p> <p>Each attribute value is described as a name-value pair. The name is the data type, and the value is the data itself.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes\">Data Types</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>",
      "properties": {
        "B": {
          "allOf": [
            {
              "$ref": "#/definitions/BinaryAttributeValue"
            },
            {
              "description": "<p>An attribute of type Binary. For example:</p> <p> <code>\"B\": \"dGhpcyB0ZXh0IGlzIGJhc2U2NC1lbmNvZGVk\"</code> </p>"
            }
          ]
        },
        "BOOL": {
          "allOf": [
            {
              "$ref": "#/definitions/BooleanAttributeValue"
            },
            {
              "description": "<p>An attribute of type Boolean. For example:</p> <p> <code>\"BOOL\": true</code> </p>"
            }
          ]
        },
        "BS": {
          "allOf": [
            {
              "$ref": "#/definitions/BinarySetAttributeValue"
            },
            {
              "description": "<p>An attribute of type Binary Set. For example:</p> <p> <code>\"BS\": [\"U3Vubnk=\", \"UmFpbnk=\", \"U25vd3k=\"]</code> </p>"
            }
          ]
        },
        "L": {
          "allOf": [
            {
              "$ref": "#/definitions/ListAttributeValue"
            },
            {
              "description": "<p>An attribute of type List. For example:</p> <p> <code>\"L\": [ {\"S\": \"Cookies\"} , {\"S\": \"Coffee\"}, {\"N\", \"3.14159\"}]</code> </p>"
            }
          ]
        },
        "M": {
          "allOf": [
            {
              "$ref": "#/definitions/MapAttributeValue"
            },
            {
              "description": "<p>An attribute of type Map. For example:</p> <p> <code>\"M\": {\"Name\": {\"S\": \"Joe\"}, \"Age\": {\"N\": \"35\"}}</code> </p>"
            }
          ]
        },
        "N": {
          "allOf": [
            {
              "$ref": "#/definitions/NumberAttributeValue"
            },
            {
              "description": "<p>An attribute of type Number. For example:</p> <p> <code>\"N\": \"123.45\"</code> </p> <p>Numbers are sent across the network to DynamoDB as strings, to maximize compatibility across languages and libraries. However, DynamoDB treats them as number type attributes for mathematical operations.</p>"
            }
          ]
        },
        "NS": {
          "allOf": [
            {
              "$ref": "#/definitions/NumberSetAttributeValue"
            },
            {
              "description": "<p>An attribute of type Number Set. For example:</p> <p> <code>\"NS\": [\"42.2\", \"-19\", \"7.5\", \"3.14\"]</code> </p> <p>Numbers are sent across the network to DynamoDB as strings, to maximize compatibility across languages and libraries. However, DynamoDB treats them as number type attributes for mathematical operations.</p>"
            }
          ]
        },
        "NULL": {
          "allOf": [
            {
              "$ref": "#/definitions/NullAttributeValue"
            },
            {
              "description": "<p>An attribute of type Null. For example:</p> <p> <code>\"NULL\": true</code> </p>"
            }
          ]
        },
        "S": {
          "allOf": [
            {
              "$ref": "#/definitions/StringAttributeValue"
            },
            {
              "description": "<p>An attribute of type String. For example:</p> <p> <code>\"S\": \"Hello\"</code> </p>"
            }
          ]
        },
        "SS": {
          "allOf": [
            {
              "$ref": "#/definitions/StringSetAttributeValue"
            },
            {
              "description": "<p>An attribute of type String Set. For example:</p> <p> <code>\"SS\": [\"Giraffe\", \"Hippo\" ,\"Zebra\"]</code> </p>"
            }
          ]
        }
      },
      "type": "object"
    },
    "BinaryAttributeValue": {
      "type": "string"
    },
    "BinarySetAttributeValue": {
      "items": {
        "$ref": "#/definitions/BinaryAttributeValue"
      },
      "type": "array"
    },
    "BooleanAttributeValue": {
      "type": "boolean"
    },
    "Date": {
      "format": "date-time",
      "type": "string"
    },
    "DescribeStreamInput": {
      "description": "Represents the input of a <code>DescribeStream</code> operation.",
      "properties": {
        "ExclusiveStartShardId": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardId"
            },
            {
              "description": "The shard ID of the first item that this operation will evaluate. Use the value that was returned for <code>LastEvaluatedShardId</code> in the previous operation. "
            }
          ]
        },
        "Limit": {
          "allOf": [
            {
              "$ref": "#/definitions/PositiveIntegerObject"
            },
            {
              "description": "The maximum number of shard objects to return. The upper limit is 100."
            }
          ]
        },
        "StreamArn": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamArn"
            },
            {
              "description": "The Amazon Resource Name (ARN) for the stream."
            }
          ]
        }
      },
      "required": [
        "StreamArn"
      ],
      "title": "DescribeStreamInput",
      "type": "object"
    },
    "DescribeStreamOutput": {
      "description": "Represents the output of a <code>DescribeStream</code> operation.",
      "example": {
        "StreamDescription": {
          "CreationRequestDateTime": "Wed May 20 13:51:10 PDT 2015",
          "KeySchema": [
            {
              "AttributeName": "ForumName",
              "KeyType": "HASH"
            },
            {
              "AttributeName": "Subject",
              "KeyType": "RANGE"
            }
          ],
          "Shards": [
            {
              "SequenceNumberRange": {
                "EndingSequenceNumber": "20500000000000000910398",
                "StartingSequenceNumber": "20500000000000000910398"
              },
              "ShardId": "shardId-00000001414562045508-2bac9cd2"
            },
            {
              "ParentShardId": "shardId-00000001414562045508-2bac9cd2",
              "SequenceNumberRange": {
                "EndingSequenceNumber": "820400000000000001192334",
                "StartingSequenceNumber": "820400000000000001192334"
              },
              "ShardId": "shardId-00000001414576573621-f55eea83"
            },
            {
              "ParentShardId": "shardId-00000001414576573621-f55eea83",
              "SequenceNumberRange": {
                "EndingSequenceNumber": "1683700000000000001135967",
                "StartingSequenceNumber": "1683700000000000001135967"
              },
              "ShardId": "shardId-00000001414592258131-674fd923"
            },
            {
              "ParentShardId": "shardId-00000001414592258131-674fd923",
              "SequenceNumberRange": {
                "StartingSequenceNumber": "2574600000000000000935255"
              },
              "ShardId": "shardId-00000001414608446368-3a1afbaf"
            }
          ],
          "StreamArn": "arn:aws:dynamodb:us-west-2:111122223333:table/Forum/stream/2015-05-20T20:51:10.252",
          "StreamLabel": "2015-05-20T20:51:10.252",
          "StreamStatus": "ENABLED",
          "StreamViewType": "NEW_AND_OLD_IMAGES",
          "TableName": "Forum"
        }
      },
      "properties": {
        "StreamDescription": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamDescription"
            },
            {
              "description": "A complete description of the stream, including its creation date and time, the DynamoDB table associated with the stream, the shard IDs within the stream, and the beginning and ending sequence numbers of stream records within the shards."
            }
          ]
        }
      },
      "type": "object"
    },
    "ExpiredIteratorException": {},
    "GetRecordsInput": {
      "description": "Represents the input of a <code>GetRecords</code> operation.",
      "properties": {
        "Limit": {
          "allOf": [
            {
              "$ref": "#/definitions/PositiveIntegerObject"
            },
            {
              "description": "The maximum number of records to return from the shard. The upper limit is 1000."
            }
          ]
        },
        "ShardIterator": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardIterator"
            },
            {
              "description": "A shard iterator that was retrieved from a previous GetShardIterator operation. This iterator can be used to access the stream records in this shard."
            }
          ]
        }
      },
      "required": [
        "ShardIterator"
      ],
      "title": "GetRecordsInput",
      "type": "object"
    },
    "GetRecordsOutput": {
      "description": "Represents the output of a <code>GetRecords</code> operation.",
      "example": {
        "NextShardIterator": "arn:aws:dynamodb:us-west-2:111122223333:table/Forum/stream/2015-05-20T20:51:10.252|1|AAAAAAAAAAGQBYshYDEe ... <remaining characters omitted> ...",
        "Records": [
          {
            "awsRegion": "us-west-2",
            "dynamodb": {
              "ApproximateCreationDateTime": "1.46480646E9",
              "Keys": {
                "ForumName": {
                  "S": "DynamoDB"
                },
                "Subject": {
                  "S": "DynamoDB Thread 3"
                }
              },
              "SequenceNumber": "300000000000000499659",
              "SizeBytes": 41,
              "StreamViewType": "KEYS_ONLY"
            },
            "eventID": "e2fd9c34eff2d779b297b26f5fef4206",
            "eventName": "INSERT",
            "eventSource": "aws:dynamodb",
            "eventVersion": "1.0"
          },
          {
            "awsRegion": "us-west-2",
            "dynamodb": {
              "ApproximateCreationDateTime": "1.46480527E9",
              "Keys": {
                "ForumName": {
                  "S": "DynamoDB"
                },
                "Subject": {
                  "S": "DynamoDB Thread 1"
                }
              },
              "SequenceNumber": "400000000000000499660",
              "SizeBytes": 41,
              "StreamViewType": "KEYS_ONLY"
            },
            "eventID": "4b25bd0da9a181a155114127e4837252",
            "eventName": "MODIFY",
            "eventSource": "aws:dynamodb",
            "eventVersion": "1.0"
          },
          {
            "awsRegion": "us-west-2",
            "dynamodb": {
              "ApproximateCreationDateTime": "1.46480646E9",
              "Keys": {
                "ForumName": {
                  "S": "DynamoDB"
                },
                "Subject": {
                  "S": "DynamoDB Thread 2"
                }
              },
              "SequenceNumber": "500000000000000499661",
              "SizeBytes": 41,
              "StreamViewType": "KEYS_ONLY"
            },
            "eventID": "740280c73a3df7842edab3548a1b08ad",
            "eventName": "REMOVE",
            "eventSource": "aws:dynamodb",
            "eventVersion": "1.0"
          }
        ]
      },
      "properties": {
        "NextShardIterator": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardIterator"
            },
            {
              "description": "The next position in the shard from which to start sequentially reading stream records. If set to <code>null</code>, the shard has been closed and the requested iterator will not return any more data."
            }
          ]
        },
        "Records": {
          "allOf": [
            {
              "$ref": "#/definitions/RecordList"
            },
            {
              "description": "The stream records from the shard, which were retrieved using the shard iterator."
            }
          ]
        }
      },
      "type": "object"
    },
    "GetShardIteratorInput": {
      "description": "Represents the input of a <code>GetShardIterator</code> operation.",
      "properties": {
        "SequenceNumber": {
          "allOf": [
            {
              "$ref": "#/definitions/SequenceNumber"
            },
            {
              "description": "The sequence number of a stream record in the shard from which to start reading."
            }
          ]
        },
        "ShardId": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardId"
            },
            {
              "description": "The identifier of the shard. The iterator will be returned for this shard ID."
            }
          ]
        },
        "ShardIteratorType": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardIteratorType"
            },
            {
              "description": "<p>Determines how the shard iterator is used to start reading stream records from the shard:</p> <ul> <li> <p> <code>AT_SEQUENCE_NUMBER</code> - Start reading exactly from the position denoted by a specific sequence number.</p> </li> <li> <p> <code>AFTER_SEQUENCE_NUMBER</code> - Start reading right after the position denoted by a specific sequence number.</p> </li> <li> <p> <code>TRIM_HORIZON</code> - Start reading at the last (untrimmed) stream record, which is the oldest record in the shard. In DynamoDB Streams, there is a 24 hour limit on data retention. Stream records whose age exceeds this limit are subject to removal (trimming) from the stream.</p> </li> <li> <p> <code>LATEST</code> - Start reading just after the most recent stream record in the shard, so that you always read the most recent data in the shard.</p> </li> </ul>"
            }
          ]
        },
        "StreamArn": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamArn"
            },
            {
              "description": "The Amazon Resource Name (ARN) for the stream."
            }
          ]
        }
      },
      "required": [
        "StreamArn",
        "ShardId",
        "ShardIteratorType"
      ],
      "title": "GetShardIteratorInput",
      "type": "object"
    },
    "GetShardIteratorOutput": {
      "description": "Represents the output of a <code>GetShardIterator</code> operation.",
      "example": {
        "ShardIterator": "arn:aws:dynamodb:us-west-2:111122223333:table/Forum/stream/2015-05-20T20:51:10.252|1|AAAAAAAAAAEvJp6D+zaQ...  <remaining characters omitted> ..."
      },
      "properties": {
        "ShardIterator": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardIterator"
            },
            {
              "description": "The position in the shard from which to start reading stream records sequentially. A shard iterator specifies this position using the sequence number of a stream record in a shard."
            }
          ]
        }
      },
      "type": "object"
    },
    "Identity": {
      "description": "Contains details about the type of identity that made the request.",
      "properties": {
        "PrincipalId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "A unique identifier for the entity that made the call. For Time To Live, the principalId is \"dynamodb.amazonaws.com\"."
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The type of the identity. For Time To Live, the type is \"Service\"."
            }
          ]
        }
      },
      "type": "object"
    },
    "InternalServerError": {},
    "KeySchema": {
      "items": {
        "$ref": "#/definitions/KeySchemaElement"
      },
      "maxItems": 2,
      "minItems": 1,
      "type": "array"
    },
    "KeySchemaAttributeName": {
      "maxLength": 255,
      "minLength": 1,
      "type": "string"
    },
    "KeySchemaElement": {
      "description": "<p>Represents <i>a single element</i> of a key schema. A key schema specifies the attributes that make up the primary key of a table, or the key attributes of an index.</p> <p>A <code>KeySchemaElement</code> represents exactly one attribute of the primary key. For example, a simple primary key would be represented by one <code>KeySchemaElement</code> (for the partition key). A composite primary key would require one <code>KeySchemaElement</code> for the partition key, and another <code>KeySchemaElement</code> for the sort key.</p> <p>A <code>KeySchemaElement</code> must be a scalar, top-level attribute (not a nested attribute). The data type must be one of String, Number, or Binary. The attribute cannot be nested within a List or a Map.</p>",
      "properties": {
        "AttributeName": {
          "allOf": [
            {
              "$ref": "#/definitions/KeySchemaAttributeName"
            },
            {
              "description": "The name of a key attribute."
            }
          ]
        },
        "KeyType": {
          "allOf": [
            {
              "$ref": "#/definitions/KeyType"
            },
            {
              "description": "<p>The role that this key attribute will assume:</p> <ul> <li> <p> <code>HASH</code> - partition key</p> </li> <li> <p> <code>RANGE</code> - sort key</p> </li> </ul> <note> <p>The partition key of an item is also known as its <i>hash attribute</i>. The term \"hash attribute\" derives from DynamoDB's usage of an internal hash function to evenly distribute data items across partitions, based on their partition key values.</p> <p>The sort key of an item is also known as its <i>range attribute</i>. The term \"range attribute\" derives from the way DynamoDB stores items with the same partition key physically close together, in sorted order by the sort key value.</p> </note>"
            }
          ]
        }
      },
      "required": [
        "AttributeName",
        "KeyType"
      ],
      "type": "object"
    },
    "KeyType": {
      "enum": [
        "HASH",
        "RANGE"
      ],
      "type": "string"
    },
    "LimitExceededException": {},
    "ListAttributeValue": {
      "items": {
        "$ref": "#/definitions/AttributeValue"
      },
      "type": "array"
    },
    "ListStreamsInput": {
      "description": "Represents the input of a <code>ListStreams</code> operation.",
      "properties": {
        "ExclusiveStartStreamArn": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamArn"
            },
            {
              "description": "The ARN (Amazon Resource Name) of the first item that this operation will evaluate. Use the value that was returned for <code>LastEvaluatedStreamArn</code> in the previous operation. "
            }
          ]
        },
        "Limit": {
          "allOf": [
            {
              "$ref": "#/definitions/PositiveIntegerObject"
            },
            {
              "description": "The maximum number of streams to return. The upper limit is 100."
            }
          ]
        },
        "TableName": {
          "allOf": [
            {
              "$ref": "#/definitions/TableName"
            },
            {
              "description": "If this parameter is provided, then only the streams associated with this table name are returned."
            }
          ]
        }
      },
      "title": "ListStreamsInput",
      "type": "object"
    },
    "ListStreamsOutput": {
      "description": "Represents the output of a <code>ListStreams</code> operation.",
      "example": {
        "Streams": [
          {
            "StreamArn": "arn:aws:dynamodb:us-wesst-2:111122223333:table/Forum/stream/2015-05-20T20:51:10.252",
            "StreamLabel": "2015-05-20T20:51:10.252",
            "TableName": "Forum"
          },
          {
            "StreamArn": "arn:aws:dynamodb:us-west-2:111122223333:table/Forum/stream/2015-05-20T20:50:02.714",
            "StreamLabel": "2015-05-20T20:50:02.714",
            "TableName": "Forum"
          },
          {
            "StreamArn": "arn:aws:dynamodb:us-west-2:111122223333:table/Forum/stream/2015-05-19T23:03:50.641",
            "StreamLabel": "2015-05-19T23:03:50.641",
            "TableName": "Forum"
          }
        ]
      },
      "properties": {
        "LastEvaluatedStreamArn": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamArn"
            },
            {
              "description": "<p>The stream ARN of the item where the operation stopped, inclusive of the previous result set. Use this value to start a new operation, excluding this value in the new request.</p> <p>If <code>LastEvaluatedStreamArn</code> is empty, then the \"last page\" of results has been processed and there is no more data to be retrieved.</p> <p>If <code>LastEvaluatedStreamArn</code> is not empty, it does not necessarily mean that there is more data in the result set. The only way to know when you have reached the end of the result set is when <code>LastEvaluatedStreamArn</code> is empty.</p>"
            }
          ]
        },
        "Streams": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamList"
            },
            {
              "description": "A list of stream descriptors associated with the current account and endpoint."
            }
          ]
        }
      },
      "type": "object"
    },
    "MapAttributeValue": {
      "additionalProperties": {
        "$ref": "#/definitions/AttributeValue"
      },
      "type": "object"
    },
    "NullAttributeValue": {
      "type": "boolean"
    },
    "NumberAttributeValue": {
      "type": "string"
    },
    "NumberSetAttributeValue": {
      "items": {
        "$ref": "#/definitions/NumberAttributeValue"
      },
      "type": "array"
    },
    "OperationType": {
      "enum": [
        "INSERT",
        "MODIFY",
        "REMOVE"
      ],
      "type": "string"
    },
    "PositiveIntegerObject": {
      "minimum": 1,
      "type": "integer"
    },
    "PositiveLongObject": {
      "minimum": 1,
      "type": "integer"
    },
    "Record": {
      "description": "A description of a unique event within a stream.",
      "properties": {
        "awsRegion": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The region in which the <code>GetRecords</code> request was received."
            }
          ]
        },
        "dynamodb": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamRecord"
            },
            {
              "description": "The main body of the stream record, containing all of the DynamoDB-specific fields."
            }
          ]
        },
        "eventID": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "A globally unique identifier for the event that was recorded in this stream record."
            }
          ]
        },
        "eventName": {
          "allOf": [
            {
              "$ref": "#/definitions/OperationType"
            },
            {
              "description": "<p>The type of data modification that was performed on the DynamoDB table:</p> <ul> <li> <p> <code>INSERT</code> - a new item was added to the table.</p> </li> <li> <p> <code>MODIFY</code> - one or more of an existing item's attributes were modified.</p> </li> <li> <p> <code>REMOVE</code> - the item was deleted from the table</p> </li> </ul>"
            }
          ]
        },
        "eventSource": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The AWS service from which the stream record originated. For DynamoDB Streams, this is <code>aws:dynamodb</code>."
            }
          ]
        },
        "eventVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>The version number of the stream record format. This number is updated whenever the structure of <code>Record</code> is modified.</p> <p>Client applications must not assume that <code>eventVersion</code> will remain at a particular value, as this number is subject to change at any time. In general, <code>eventVersion</code> will only increase as the low-level DynamoDB Streams API evolves.</p>"
            }
          ]
        },
        "userIdentity": {
          "allOf": [
            {
              "$ref": "#/definitions/Identity"
            },
            {
              "description": "<p>Items that are deleted by the Time to Live process after expiration have the following fields: </p> <ul> <li> <p>Records[].userIdentity.type</p> <p>\"Service\"</p> </li> <li> <p>Records[].userIdentity.principalId</p> <p>\"dynamodb.amazonaws.com\"</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "RecordList": {
      "items": {
        "$ref": "#/definitions/Record"
      },
      "type": "array"
    },
    "ResourceNotFoundException": {},
    "SequenceNumber": {
      "maxLength": 40,
      "minLength": 21,
      "type": "string"
    },
    "SequenceNumberRange": {
      "description": "The beginning and ending sequence numbers for the stream records contained within a shard.",
      "properties": {
        "EndingSequenceNumber": {
          "allOf": [
            {
              "$ref": "#/definitions/SequenceNumber"
            },
            {
              "description": "The last sequence number for the stream records contained within a shard. String contains numeric characters only."
            }
          ]
        },
        "StartingSequenceNumber": {
          "allOf": [
            {
              "$ref": "#/definitions/SequenceNumber"
            },
            {
              "description": "The first sequence number for the stream records contained within a shard. String contains numeric characters only."
            }
          ]
        }
      },
      "type": "object"
    },
    "Shard": {
      "description": "A uniquely identified group of stream records within a stream.",
      "properties": {
        "ParentShardId": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardId"
            },
            {
              "description": "The shard ID of the current shard's parent."
            }
          ]
        },
        "SequenceNumberRange": {
          "allOf": [
            {
              "$ref": "#/definitions/SequenceNumberRange"
            },
            {
              "description": "The range of possible sequence numbers for the shard."
            }
          ]
        },
        "ShardId": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardId"
            },
            {
              "description": "The system-generated identifier for this shard."
            }
          ]
        }
      },
      "type": "object"
    },
    "ShardDescriptionList": {
      "items": {
        "$ref": "#/definitions/Shard"
      },
      "type": "array"
    },
    "ShardId": {
      "maxLength": 65,
      "minLength": 28,
      "type": "string"
    },
    "ShardIterator": {
      "maxLength": 2048,
      "minLength": 1,
      "type": "string"
    },
    "ShardIteratorType": {
      "enum": [
        "TRIM_HORIZON",
        "LATEST",
        "AT_SEQUENCE_NUMBER",
        "AFTER_SEQUENCE_NUMBER"
      ],
      "type": "string"
    },
    "Stream": {
      "description": "Represents all of the data describing a particular stream.",
      "properties": {
        "StreamArn": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamArn"
            },
            {
              "description": "The Amazon Resource Name (ARN) for the stream."
            }
          ]
        },
        "StreamLabel": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>A timestamp, in ISO 8601 format, for this stream.</p> <p>Note that <code>LatestStreamLabel</code> is not a unique identifier for the stream, because it is possible that a stream from another table might have the same timestamp. However, the combination of the following three elements is guaranteed to be unique:</p> <ul> <li> <p>the AWS customer ID.</p> </li> <li> <p>the table name</p> </li> <li> <p>the <code>StreamLabel</code> </p> </li> </ul>"
            }
          ]
        },
        "TableName": {
          "allOf": [
            {
              "$ref": "#/definitions/TableName"
            },
            {
              "description": "The DynamoDB table with which the stream is associated."
            }
          ]
        }
      },
      "type": "object"
    },
    "StreamArn": {
      "maxLength": 1024,
      "minLength": 37,
      "type": "string"
    },
    "StreamDescription": {
      "description": "Represents all of the data describing a particular stream.",
      "properties": {
        "CreationRequestDateTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Date"
            },
            {
              "description": "The date and time when the request to create this stream was issued."
            }
          ]
        },
        "KeySchema": {
          "allOf": [
            {
              "$ref": "#/definitions/KeySchema"
            },
            {
              "description": "The key attribute(s) of the stream's DynamoDB table."
            }
          ]
        },
        "LastEvaluatedShardId": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardId"
            },
            {
              "description": "<p>The shard ID of the item where the operation stopped, inclusive of the previous result set. Use this value to start a new operation, excluding this value in the new request.</p> <p>If <code>LastEvaluatedShardId</code> is empty, then the \"last page\" of results has been processed and there is currently no more data to be retrieved.</p> <p>If <code>LastEvaluatedShardId</code> is not empty, it does not necessarily mean that there is more data in the result set. The only way to know when you have reached the end of the result set is when <code>LastEvaluatedShardId</code> is empty.</p>"
            }
          ]
        },
        "Shards": {
          "allOf": [
            {
              "$ref": "#/definitions/ShardDescriptionList"
            },
            {
              "description": "The shards that comprise the stream."
            }
          ]
        },
        "StreamArn": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamArn"
            },
            {
              "description": "The Amazon Resource Name (ARN) for the stream."
            }
          ]
        },
        "StreamLabel": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>A timestamp, in ISO 8601 format, for this stream.</p> <p>Note that <code>LatestStreamLabel</code> is not a unique identifier for the stream, because it is possible that a stream from another table might have the same timestamp. However, the combination of the following three elements is guaranteed to be unique:</p> <ul> <li> <p>the AWS customer ID.</p> </li> <li> <p>the table name</p> </li> <li> <p>the <code>StreamLabel</code> </p> </li> </ul>"
            }
          ]
        },
        "StreamStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamStatus"
            },
            {
              "description": "<p>Indicates the current status of the stream:</p> <ul> <li> <p> <code>ENABLING</code> - Streams is currently being enabled on the DynamoDB table.</p> </li> <li> <p> <code>ENABLED</code> - the stream is enabled.</p> </li> <li> <p> <code>DISABLING</code> - Streams is currently being disabled on the DynamoDB table.</p> </li> <li> <p> <code>DISABLED</code> - the stream is disabled.</p> </li> </ul>"
            }
          ]
        },
        "StreamViewType": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamViewType"
            },
            {
              "description": "<p>Indicates the format of the records within this stream:</p> <ul> <li> <p> <code>KEYS_ONLY</code> - only the key attributes of items that were modified in the DynamoDB table.</p> </li> <li> <p> <code>NEW_IMAGE</code> - entire items from the table, as they appeared after they were modified.</p> </li> <li> <p> <code>OLD_IMAGE</code> - entire items from the table, as they appeared before they were modified.</p> </li> <li> <p> <code>NEW_AND_OLD_IMAGES</code> - both the new and the old images of the items from the table.</p> </li> </ul>"
            }
          ]
        },
        "TableName": {
          "allOf": [
            {
              "$ref": "#/definitions/TableName"
            },
            {
              "description": "The DynamoDB table with which the stream is associated."
            }
          ]
        }
      },
      "type": "object"
    },
    "StreamList": {
      "items": {
        "$ref": "#/definitions/Stream"
      },
      "type": "array"
    },
    "StreamRecord": {
      "description": "A description of a single data modification that was performed on an item in a DynamoDB table.",
      "properties": {
        "ApproximateCreationDateTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Date"
            },
            {
              "description": "The approximate date and time when the stream record was created, in <a href=\"http://www.epochconverter.com/\">UNIX epoch time</a> format."
            }
          ]
        },
        "Keys": {
          "allOf": [
            {
              "$ref": "#/definitions/AttributeMap"
            },
            {
              "description": "The primary key attribute(s) for the DynamoDB item that was modified."
            }
          ]
        },
        "NewImage": {
          "allOf": [
            {
              "$ref": "#/definitions/AttributeMap"
            },
            {
              "description": "The item in the DynamoDB table as it appeared after it was modified."
            }
          ]
        },
        "OldImage": {
          "allOf": [
            {
              "$ref": "#/definitions/AttributeMap"
            },
            {
              "description": "The item in the DynamoDB table as it appeared before it was modified."
            }
          ]
        },
        "SequenceNumber": {
          "allOf": [
            {
              "$ref": "#/definitions/SequenceNumber"
            },
            {
              "description": "The sequence number of the stream record."
            }
          ]
        },
        "SizeBytes": {
          "allOf": [
            {
              "$ref": "#/definitions/PositiveLongObject"
            },
            {
              "description": "The size of the stream record, in bytes."
            }
          ]
        },
        "StreamViewType": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamViewType"
            },
            {
              "description": "<p>The type of data from the modified DynamoDB item that was captured in this stream record:</p> <ul> <li> <p> <code>KEYS_ONLY</code> - only the key attributes of the modified item.</p> </li> <li> <p> <code>NEW_IMAGE</code> - the entire item, as it appeared after it was modified.</p> </li> <li> <p> <code>OLD_IMAGE</code> - the entire item, as it appeared before it was modified.</p> </li> <li> <p> <code>NEW_AND_OLD_IMAGES</code> - both the new and the old item images of the item.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "StreamStatus": {
      "enum": [
        "ENABLING",
        "ENABLED",
        "DISABLING",
        "DISABLED"
      ],
      "type": "string"
    },
    "StreamViewType": {
      "enum": [
        "NEW_IMAGE",
        "OLD_IMAGE",
        "NEW_AND_OLD_IMAGES",
        "KEYS_ONLY"
      ],
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "StringAttributeValue": {
      "type": "string"
    },
    "StringSetAttributeValue": {
      "items": {
        "$ref": "#/definitions/StringAttributeValue"
      },
      "type": "array"
    },
    "TableName": {
      "maxLength": 255,
      "minLength": 3,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "TrimmedDataAccessException": {}
  },
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/dynamodb/"
  },
  "x-components": {
    "parameters": {
      "X-Amz-Algorithm": {
        "in": "header",
        "name": "X-Amz-Algorithm",
        "required": false,
        "type": "string"
      },
      "X-Amz-Content-Sha256": {
        "in": "header",
        "name": "X-Amz-Content-Sha256",
        "required": false,
        "type": "string"
      },
      "X-Amz-Credential": {
        "in": "header",
        "name": "X-Amz-Credential",
        "required": false,
        "type": "string"
      },
      "X-Amz-Date": {
        "in": "header",
        "name": "X-Amz-Date",
        "required": false,
        "type": "string"
      },
      "X-Amz-Security-Token": {
        "in": "header",
        "name": "X-Amz-Security-Token",
        "required": false,
        "type": "string"
      },
      "X-Amz-Signature": {
        "in": "header",
        "name": "X-Amz-Signature",
        "required": false,
        "type": "string"
      },
      "X-Amz-SignedHeaders": {
        "in": "header",
        "name": "X-Amz-SignedHeaders",
        "required": false,
        "type": "string"
      }
    }
  },
  "x-hasEquivalentPaths": true
}