{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Amazon API Gateway V2",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AmazonApiGatewayV2",
    "version": "2018-11-29",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/apigatewayv2-2018-11-29.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "apigatewayv2",
    "x-datafire": {
      "name": "amazonaws_apigatewayv2",
      "type": "openapi"
    }
  },
  "host": "apigateway.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/v2/apis": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of elements to be returned for this resource.",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "The next page of elements from this collection. Not valid for the last element of the collection.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApisResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Gets a collection of Api resources.",
        "operationId": "GetApis"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween1And1600"
                  },
                  "description": "Represents a collection of tags associated with the resource.",
                  "type": "object"
                },
                "apiKeySelectionExpression": {
                  "description": "An expression used to extract information at runtime. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for more information.",
                  "type": "string"
                },
                "corsConfiguration": {
                  "description": "Represents a CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.",
                  "properties": {
                    "AllowCredentials": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Specifies whether credentials are included in the CORS request. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "allowCredentials"
                          }
                        }
                      ]
                    },
                    "AllowHeaders": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CorsHeaderList"
                        },
                        {
                          "description": "Represents a collection of allowed headers. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "allowHeaders"
                          }
                        }
                      ]
                    },
                    "AllowMethods": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CorsMethodList"
                        },
                        {
                          "description": "Represents a collection of allowed HTTP methods. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "allowMethods"
                          }
                        }
                      ]
                    },
                    "AllowOrigins": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CorsOriginList"
                        },
                        {
                          "description": "Represents a collection of allowed origins. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "allowOrigins"
                          }
                        }
                      ]
                    },
                    "ExposeHeaders": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CorsHeaderList"
                        },
                        {
                          "description": "Represents a collection of exposed headers. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "exposeHeaders"
                          }
                        }
                      ]
                    },
                    "MaxAge": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerWithLengthBetweenMinus1And86400"
                        },
                        {
                          "description": "The number of seconds that the browser should cache preflight request results. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "maxAge"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "credentialsArn": {
                  "description": "Represents an Amazon Resource Name (ARN).",
                  "type": "string"
                },
                "description": {
                  "description": "A string with a length between [0-1024].",
                  "type": "string"
                },
                "disableExecuteApiEndpoint": {
                  "description": "Specifies whether clients can invoke your API by using the default execute-api endpoint. By default, clients can invoke your API with the default https://{api_id}.execute-api.{region}.amazonaws.com endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint.",
                  "type": "boolean"
                },
                "disableSchemaValidation": {
                  "description": "Avoid validating models when creating a deployment. Supported only for WebSocket APIs.",
                  "type": "boolean"
                },
                "name": {
                  "description": "A string with a length between [1-128].",
                  "type": "string"
                },
                "protocolType": {
                  "description": "Represents a protocol type.",
                  "enum": [
                    "WEBSOCKET",
                    "HTTP"
                  ],
                  "type": "string"
                },
                "routeKey": {
                  "description": "After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for a list of expressions and each expression's associated selection key type.",
                  "type": "string"
                },
                "routeSelectionExpression": {
                  "description": "An expression used to extract information at runtime. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for more information.",
                  "type": "string"
                },
                "target": {
                  "description": "A string representation of a URI with a length between [1-2048].",
                  "type": "string"
                },
                "version": {
                  "description": "A string with a length between [1-64].",
                  "type": "string"
                }
              },
              "required": [
                "name",
                "protocolType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateApiResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Creates an Api resource.",
        "operationId": "CreateApi"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Specifies how to interpret the base path of the API during import. Valid values are ignore, prepend, and split. The default value is ignore. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-import-api-basePath.html\">Set the OpenAPI basePath Property</a>. Supported only for HTTP APIs.",
            "in": "query",
            "name": "basepath",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies whether to rollback the API creation when a warning is encountered. By default, API creation continues if a warning is encountered.",
            "in": "query",
            "name": "failOnWarnings",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "body": {
                  "description": "The OpenAPI definition. Supported only for HTTP APIs.",
                  "type": "string"
                }
              },
              "required": [
                "body"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ImportApiResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Imports an API.",
        "operationId": "ImportApi"
      }
    },
    "/v2/apis/{apiId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes an Api resource.",
        "operationId": "DeleteApi"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetApiResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets an Api resource.",
        "operationId": "GetApi"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "apiKeySelectionExpression": {
                  "description": "An expression used to extract information at runtime. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for more information.",
                  "type": "string"
                },
                "corsConfiguration": {
                  "description": "Represents a CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.",
                  "properties": {
                    "AllowCredentials": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Specifies whether credentials are included in the CORS request. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "allowCredentials"
                          }
                        }
                      ]
                    },
                    "AllowHeaders": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CorsHeaderList"
                        },
                        {
                          "description": "Represents a collection of allowed headers. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "allowHeaders"
                          }
                        }
                      ]
                    },
                    "AllowMethods": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CorsMethodList"
                        },
                        {
                          "description": "Represents a collection of allowed HTTP methods. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "allowMethods"
                          }
                        }
                      ]
                    },
                    "AllowOrigins": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CorsOriginList"
                        },
                        {
                          "description": "Represents a collection of allowed origins. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "allowOrigins"
                          }
                        }
                      ]
                    },
                    "ExposeHeaders": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CorsHeaderList"
                        },
                        {
                          "description": "Represents a collection of exposed headers. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "exposeHeaders"
                          }
                        }
                      ]
                    },
                    "MaxAge": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerWithLengthBetweenMinus1And86400"
                        },
                        {
                          "description": "The number of seconds that the browser should cache preflight request results. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "maxAge"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "credentialsArn": {
                  "description": "Represents an Amazon Resource Name (ARN).",
                  "type": "string"
                },
                "description": {
                  "description": "A string with a length between [0-1024].",
                  "type": "string"
                },
                "disableExecuteApiEndpoint": {
                  "description": "Specifies whether clients can invoke your API by using the default execute-api endpoint. By default, clients can invoke your API with the default https://{api_id}.execute-api.{region}.amazonaws.com endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint.",
                  "type": "boolean"
                },
                "disableSchemaValidation": {
                  "description": "Avoid validating models when creating a deployment. Supported only for WebSocket APIs.",
                  "type": "boolean"
                },
                "name": {
                  "description": "A string with a length between [1-128].",
                  "type": "string"
                },
                "routeKey": {
                  "description": "After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for a list of expressions and each expression's associated selection key type.",
                  "type": "string"
                },
                "routeSelectionExpression": {
                  "description": "An expression used to extract information at runtime. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for more information.",
                  "type": "string"
                },
                "target": {
                  "description": "A string representation of a URI with a length between [1-2048].",
                  "type": "string"
                },
                "version": {
                  "description": "A string with a length between [1-64].",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateApiResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Updates an Api resource.",
        "operationId": "UpdateApi"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specifies how to interpret the base path of the API during import. Valid values are ignore, prepend, and split. The default value is ignore. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-import-api-basePath.html\">Set the OpenAPI basePath Property</a>. Supported only for HTTP APIs.",
            "in": "query",
            "name": "basepath",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies whether to rollback the API creation when a warning is encountered. By default, API creation continues if a warning is encountered.",
            "in": "query",
            "name": "failOnWarnings",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "body": {
                  "description": "The OpenAPI definition. Supported only for HTTP APIs.",
                  "type": "string"
                }
              },
              "required": [
                "body"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReimportApiResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Puts an Api resource.",
        "operationId": "ReimportApi"
      }
    },
    "/v2/apis/{apiId}/authorizers": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of elements to be returned for this resource.",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "The next page of elements from this collection. Not valid for the last element of the collection.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAuthorizersResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Gets the Authorizers for an API.",
        "operationId": "GetAuthorizers"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "authorizerCredentialsArn": {
                  "description": "Represents an Amazon Resource Name (ARN).",
                  "type": "string"
                },
                "authorizerPayloadFormatVersion": {
                  "description": "A string with a length between [1-64].",
                  "type": "string"
                },
                "authorizerResultTtlInSeconds": {
                  "description": "An integer with a value between [0-3600].",
                  "maximum": 3600,
                  "minimum": 0,
                  "type": "integer"
                },
                "authorizerType": {
                  "description": "The authorizer type. Specify REQUEST for a Lambda function using incoming request parameters. Specify JWT to use JSON Web Tokens (supported only for HTTP APIs).",
                  "enum": [
                    "REQUEST",
                    "JWT"
                  ],
                  "type": "string"
                },
                "authorizerUri": {
                  "description": "A string representation of a URI with a length between [1-2048].",
                  "type": "string"
                },
                "enableSimpleResponses": {
                  "description": "Specifies whether a Lambda authorizer returns a response in a simple format. By default, a Lambda authorizer must return an IAM policy. If enabled, the Lambda authorizer can return a boolean value instead of an IAM policy. Supported only for HTTP APIs. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>",
                  "type": "boolean"
                },
                "identitySource": {
                  "description": "The identity source for which authorization is requested. For the REQUEST authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an Auth header, a Name query string parameter are defined as identity sources, this value is $method.request.header.Auth, $method.request.querystring.Name. These parameters will be used to derive the authorization caching key and to perform runtime validation of the REQUEST authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "identityValidationExpression": {
                  "description": "A string with a length between [0-1024].",
                  "type": "string"
                },
                "jwtConfiguration": {
                  "description": "Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.",
                  "properties": {
                    "Audience": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOf__string"
                        },
                        {
                          "description": "A list of the intended recipients of the JWT. A valid JWT must provide an aud that matches at least one entry in this list. See <a href=\"https://tools.ietf.org/html/rfc7519#section-4.1.3\">RFC 7519</a>. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "audience"
                          }
                        }
                      ]
                    },
                    "Issuer": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UriWithLengthBetween1And2048"
                        },
                        {
                          "description": "The base domain of the identity provider that issues JSON Web Tokens. For example, an Amazon Cognito user pool has the following format: https://cognito-idp.<replaceable>{region}</replaceable>.amazonaws.com/<replaceable>{userPoolId}</replaceable>\n               . Required for the JWT authorizer type. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "issuer"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "A string with a length between [1-128].",
                  "type": "string"
                }
              },
              "required": [
                "authorizerType",
                "identitySource",
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAuthorizerResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Creates an Authorizer for an API.",
        "operationId": "CreateAuthorizer"
      }
    },
    "/v2/apis/{apiId}/authorizers/{authorizerId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The authorizer identifier.",
            "in": "path",
            "name": "authorizerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes an Authorizer.",
        "operationId": "DeleteAuthorizer"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The authorizer identifier.",
            "in": "path",
            "name": "authorizerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAuthorizerResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets an Authorizer.",
        "operationId": "GetAuthorizer"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The authorizer identifier.",
            "in": "path",
            "name": "authorizerId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "authorizerCredentialsArn": {
                  "description": "Represents an Amazon Resource Name (ARN).",
                  "type": "string"
                },
                "authorizerPayloadFormatVersion": {
                  "description": "A string with a length between [1-64].",
                  "type": "string"
                },
                "authorizerResultTtlInSeconds": {
                  "description": "An integer with a value between [0-3600].",
                  "maximum": 3600,
                  "minimum": 0,
                  "type": "integer"
                },
                "authorizerType": {
                  "description": "The authorizer type. Specify REQUEST for a Lambda function using incoming request parameters. Specify JWT to use JSON Web Tokens (supported only for HTTP APIs).",
                  "enum": [
                    "REQUEST",
                    "JWT"
                  ],
                  "type": "string"
                },
                "authorizerUri": {
                  "description": "A string representation of a URI with a length between [1-2048].",
                  "type": "string"
                },
                "enableSimpleResponses": {
                  "description": "Specifies whether a Lambda authorizer returns a response in a simple format. By default, a Lambda authorizer must return an IAM policy. If enabled, the Lambda authorizer can return a boolean value instead of an IAM policy. Supported only for HTTP APIs. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>",
                  "type": "boolean"
                },
                "identitySource": {
                  "description": "The identity source for which authorization is requested. For the REQUEST authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an Auth header, a Name query string parameter are defined as identity sources, this value is $method.request.header.Auth, $method.request.querystring.Name. These parameters will be used to derive the authorization caching key and to perform runtime validation of the REQUEST authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "identityValidationExpression": {
                  "description": "A string with a length between [0-1024].",
                  "type": "string"
                },
                "jwtConfiguration": {
                  "description": "Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.",
                  "properties": {
                    "Audience": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOf__string"
                        },
                        {
                          "description": "A list of the intended recipients of the JWT. A valid JWT must provide an aud that matches at least one entry in this list. See <a href=\"https://tools.ietf.org/html/rfc7519#section-4.1.3\">RFC 7519</a>. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "audience"
                          }
                        }
                      ]
                    },
                    "Issuer": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UriWithLengthBetween1And2048"
                        },
                        {
                          "description": "The base domain of the identity provider that issues JSON Web Tokens. For example, an Amazon Cognito user pool has the following format: https://cognito-idp.<replaceable>{region}</replaceable>.amazonaws.com/<replaceable>{userPoolId}</replaceable>\n               . Required for the JWT authorizer type. Supported only for HTTP APIs.",
                          "xml": {
                            "name": "issuer"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "A string with a length between [1-128].",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAuthorizerResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Updates an Authorizer.",
        "operationId": "UpdateAuthorizer"
      }
    },
    "/v2/apis/{apiId}/cors": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes a CORS configuration.",
        "operationId": "DeleteCorsConfiguration"
      }
    },
    "/v2/apis/{apiId}/deployments": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of elements to be returned for this resource.",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "The next page of elements from this collection. Not valid for the last element of the collection.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDeploymentsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Gets the Deployments for an API.",
        "operationId": "GetDeployments"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "A string with a length between [0-1024].",
                  "type": "string"
                },
                "stageName": {
                  "description": "A string with a length between [1-128].",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDeploymentResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Creates a Deployment for an API.",
        "operationId": "CreateDeployment"
      }
    },
    "/v2/apis/{apiId}/deployments/{deploymentId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The deployment ID.",
            "in": "path",
            "name": "deploymentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes a Deployment.",
        "operationId": "DeleteDeployment"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The deployment ID.",
            "in": "path",
            "name": "deploymentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDeploymentResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets a Deployment.",
        "operationId": "GetDeployment"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The deployment ID.",
            "in": "path",
            "name": "deploymentId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "A string with a length between [0-1024].",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDeploymentResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Updates a Deployment.",
        "operationId": "UpdateDeployment"
      }
    },
    "/v2/apis/{apiId}/exports/{specification}#outputType": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the API Gateway export algorithm. API Gateway uses the latest version by default. Currently, the only supported version is 1.0.",
            "in": "query",
            "name": "exportVersion",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies whether to include <a href=\"https://docs.aws.amazon.com//apigateway/latest/developerguide/api-gateway-swagger-extensions.html\">API Gateway extensions</a> in the exported API definition. API Gateway extensions are included by default.",
            "in": "query",
            "name": "includeExtensions",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The output type of the exported definition file. Valid values are JSON and YAML.",
            "in": "query",
            "name": "outputType",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the API specification to use. OAS30, for OpenAPI 3.0, is the only supported value.",
            "in": "path",
            "name": "specification",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the API stage to export. If you don't specify this property, a representation of the latest API configuration is exported.",
            "in": "query",
            "name": "stageName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExportApiResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "",
        "operationId": "ExportApi"
      }
    },
    "/v2/apis/{apiId}/integrations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of elements to be returned for this resource.",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "The next page of elements from this collection. Not valid for the last element of the collection.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIntegrationsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Gets the Integrations for an API.",
        "operationId": "GetIntegrations"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectionId": {
                  "description": "A string with a length between [1-1024].",
                  "type": "string"
                },
                "connectionType": {
                  "description": "Represents a connection type.",
                  "enum": [
                    "INTERNET",
                    "VPC_LINK"
                  ],
                  "type": "string"
                },
                "contentHandlingStrategy": {
                  "description": "Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.",
                  "enum": [
                    "CONVERT_TO_BINARY",
                    "CONVERT_TO_TEXT"
                  ],
                  "type": "string"
                },
                "credentialsArn": {
                  "description": "Represents an Amazon Resource Name (ARN).",
                  "type": "string"
                },
                "description": {
                  "description": "A string with a length between [0-1024].",
                  "type": "string"
                },
                "integrationMethod": {
                  "description": "A string with a length between [1-64].",
                  "type": "string"
                },
                "integrationSubtype": {
                  "description": "A string with a length between [1-128].",
                  "type": "string"
                },
                "integrationType": {
                  "description": "Represents an API method integration type.",
                  "enum": [
                    "AWS",
                    "HTTP",
                    "MOCK",
                    "HTTP_PROXY",
                    "AWS_PROXY"
                  ],
                  "type": "string"
                },
                "integrationUri": {
                  "description": "A string representation of a URI with a length between [1-2048].",
                  "type": "string"
                },
                "passthroughBehavior": {
                  "description": "Represents passthrough behavior for an integration response. Supported only for WebSocket APIs.",
                  "enum": [
                    "WHEN_NO_MATCH",
                    "NEVER",
                    "WHEN_NO_TEMPLATES"
                  ],
                  "type": "string"
                },
                "payloadFormatVersion": {
                  "description": "A string with a length between [1-64].",
                  "type": "string"
                },
                "requestParameters": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween1And512"
                  },
                  "description": "A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.",
                  "type": "object"
                },
                "requestTemplates": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween0And32K"
                  },
                  "description": "A mapping of identifier keys to templates. The value is an actual template script. The key is typically a SelectionKey which is chosen based on evaluating a selection expression.",
                  "type": "object"
                },
                "templateSelectionExpression": {
                  "description": "An expression used to extract information at runtime. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for more information.",
                  "type": "string"
                },
                "timeoutInMillis": {
                  "description": "An integer with a value between [50-30000].",
                  "maximum": 30000,
                  "minimum": 50,
                  "type": "integer"
                },
                "tlsConfig": {
                  "description": "The TLS configuration for a private integration. If you specify a TLS configuration, private integration traffic uses the HTTPS protocol. Supported only for HTTP APIs.",
                  "properties": {
                    "ServerNameToVerify": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringWithLengthBetween1And512"
                        },
                        {
                          "description": "If you specify a server name, API Gateway uses it to verify the hostname on the integration's certificate. The server name is also included in the TLS handshake to support Server Name Indication (SNI) or virtual hosting.",
                          "xml": {
                            "name": "serverNameToVerify"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "integrationType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateIntegrationResult"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Creates an Integration.",
        "operationId": "CreateIntegration"
      }
    },
    "/v2/apis/{apiId}/integrations/{integrationId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration ID.",
            "in": "path",
            "name": "integrationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes an Integration.",
        "operationId": "DeleteIntegration"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration ID.",
            "in": "path",
            "name": "integrationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIntegrationResult"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets an Integration.",
        "operationId": "GetIntegration"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration ID.",
            "in": "path",
            "name": "integrationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "connectionId": {
                  "description": "A string with a length between [1-1024].",
                  "type": "string"
                },
                "connectionType": {
                  "description": "Represents a connection type.",
                  "enum": [
                    "INTERNET",
                    "VPC_LINK"
                  ],
                  "type": "string"
                },
                "contentHandlingStrategy": {
                  "description": "Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.",
                  "enum": [
                    "CONVERT_TO_BINARY",
                    "CONVERT_TO_TEXT"
                  ],
                  "type": "string"
                },
                "credentialsArn": {
                  "description": "Represents an Amazon Resource Name (ARN).",
                  "type": "string"
                },
                "description": {
                  "description": "A string with a length between [0-1024].",
                  "type": "string"
                },
                "integrationMethod": {
                  "description": "A string with a length between [1-64].",
                  "type": "string"
                },
                "integrationSubtype": {
                  "description": "A string with a length between [1-128].",
                  "type": "string"
                },
                "integrationType": {
                  "description": "Represents an API method integration type.",
                  "enum": [
                    "AWS",
                    "HTTP",
                    "MOCK",
                    "HTTP_PROXY",
                    "AWS_PROXY"
                  ],
                  "type": "string"
                },
                "integrationUri": {
                  "description": "A string representation of a URI with a length between [1-2048].",
                  "type": "string"
                },
                "passthroughBehavior": {
                  "description": "Represents passthrough behavior for an integration response. Supported only for WebSocket APIs.",
                  "enum": [
                    "WHEN_NO_MATCH",
                    "NEVER",
                    "WHEN_NO_TEMPLATES"
                  ],
                  "type": "string"
                },
                "payloadFormatVersion": {
                  "description": "A string with a length between [1-64].",
                  "type": "string"
                },
                "requestParameters": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween1And512"
                  },
                  "description": "A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.",
                  "type": "object"
                },
                "requestTemplates": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween0And32K"
                  },
                  "description": "A mapping of identifier keys to templates. The value is an actual template script. The key is typically a SelectionKey which is chosen based on evaluating a selection expression.",
                  "type": "object"
                },
                "templateSelectionExpression": {
                  "description": "An expression used to extract information at runtime. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for more information.",
                  "type": "string"
                },
                "timeoutInMillis": {
                  "description": "An integer with a value between [50-30000].",
                  "maximum": 30000,
                  "minimum": 50,
                  "type": "integer"
                },
                "tlsConfig": {
                  "description": "The TLS configuration for a private integration. If you specify a TLS configuration, private integration traffic uses the HTTPS protocol. Supported only for HTTP APIs.",
                  "properties": {
                    "ServerNameToVerify": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringWithLengthBetween1And512"
                        },
                        {
                          "description": "If you specify a server name, API Gateway uses it to verify the hostname on the integration's certificate. The server name is also included in the TLS handshake to support Server Name Indication (SNI) or virtual hosting.",
                          "xml": {
                            "name": "serverNameToVerify"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateIntegrationResult"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Updates an Integration.",
        "operationId": "UpdateIntegration"
      }
    },
    "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration ID.",
            "in": "path",
            "name": "integrationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of elements to be returned for this resource.",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "The next page of elements from this collection. Not valid for the last element of the collection.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIntegrationResponsesResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "description": "Gets the IntegrationResponses for an Integration.",
        "operationId": "GetIntegrationResponses"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration ID.",
            "in": "path",
            "name": "integrationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "contentHandlingStrategy": {
                  "description": "Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.",
                  "enum": [
                    "CONVERT_TO_BINARY",
                    "CONVERT_TO_TEXT"
                  ],
                  "type": "string"
                },
                "integrationResponseKey": {
                  "description": "After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for a list of expressions and each expression's associated selection key type.",
                  "type": "string"
                },
                "responseParameters": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween1And512"
                  },
                  "description": "A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.",
                  "type": "object"
                },
                "responseTemplates": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween0And32K"
                  },
                  "description": "A mapping of identifier keys to templates. The value is an actual template script. The key is typically a SelectionKey which is chosen based on evaluating a selection expression.",
                  "type": "object"
                },
                "templateSelectionExpression": {
                  "description": "An expression used to extract information at runtime. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for more information.",
                  "type": "string"
                }
              },
              "required": [
                "integrationResponseKey"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateIntegrationResponseResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Creates an IntegrationResponses.",
        "operationId": "CreateIntegrationResponse"
      }
    },
    "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration ID.",
            "in": "path",
            "name": "integrationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration response ID.",
            "in": "path",
            "name": "integrationResponseId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes an IntegrationResponses.",
        "operationId": "DeleteIntegrationResponse"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration ID.",
            "in": "path",
            "name": "integrationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration response ID.",
            "in": "path",
            "name": "integrationResponseId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIntegrationResponseResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets an IntegrationResponses.",
        "operationId": "GetIntegrationResponse"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The API identifier.",
            "in": "path",
            "name": "apiId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration ID.",
            "in": "path",
            "name": "integrationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The integration response ID.",
            "in": "path",
            "name": "integrationResponseId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "contentHandlingStrategy": {
                  "description": "Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.",
                  "enum": [
                    "CONVERT_TO_BINARY",
                    "CONVERT_TO_TEXT"
                  ],
                  "type": "string"
                },
                "integrationResponseKey": {
                  "description": "After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">Selection Expressions</a> for a list of expressions and each expression's associated selection key type.",
                  "type": "string"
                },
                "responseParameters": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween1And512"
                  },
                  "description": "A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.",
                  "type": "object"
                },
                "responseTemplates": {
                  "additionalProperties": {
                    "$ref": "#/definitions/StringWithLengthBetween0And32K"
                  },
                  "description": "A mapping of identifier keys to templates. The value is an actual template script. The key is typically a SelectionKey which is chosen based on evaluating a selection expression.",
                  "type": "object"
                },
                "templateSelectionExpression": {
[...]
