{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Amazon MQ is a managed message broker service for Apache ActiveMQ and RabbitMQ that makes it easy to set up and operate message brokers in the cloud. A message broker allows software applications and components to communicate using various programming languages, operating systems, and formal messaging protocols.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AmazonMQ",
    "version": "2017-11-27",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mq-2017-11-27.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "mq",
    "x-datafire": {
      "name": "amazonaws_mq",
      "type": "openapi"
    }
  },
  "host": "mq.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/v1/broker-engine-types": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter response by engine type.",
            "in": "query",
            "name": "engineType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of engine types that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeBrokerEngineTypesResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Describe available engine types and versions.",
        "operationId": "DescribeBrokerEngineTypes"
      }
    },
    "/v1/broker-instance-options": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter response by engine type.",
            "in": "query",
            "name": "engineType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter response by host instance type.",
            "in": "query",
            "name": "hostInstanceType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of instance options that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter response by storage type.",
            "in": "query",
            "name": "storageType",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeBrokerInstanceOptionsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Describe available broker instance options.",
        "operationId": "DescribeBrokerInstanceOptions"
      }
    },
    "/v1/brokers": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of brokers that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBrokersResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Returns a list of all brokers.",
        "operationId": "ListBrokers"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "Create tags when creating the broker.",
                  "type": "object"
                },
                "authenticationStrategy": {
                  "description": "The authentication strategy used to secure the broker.",
                  "enum": [
                    "SIMPLE",
                    "LDAP"
                  ],
                  "type": "string"
                },
                "autoMinorVersionUpgrade": {
                  "description": "Required. Enables automatic upgrades to new minor versions for brokers, as Apache releases the versions. The automatic upgrades occur during the maintenance window of the broker or after a manual broker reboot.",
                  "type": "boolean"
                },
                "brokerName": {
                  "description": "Required. The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
                  "type": "string"
                },
                "configuration": {
                  "description": "A list of information about the configuration. <important>Does not apply to RabbitMQ brokers.</important>",
                  "properties": {
                    "Id": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                          "xml": {
                            "name": "id"
                          }
                        }
                      ]
                    },
                    "Revision": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The revision number of the configuration.",
                          "xml": {
                            "name": "revision"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "creatorRequestId": {
                  "description": "The unique ID that the requester receives for the created broker. Amazon MQ passes your ID with the API action. Note: We recommend using a Universally Unique Identifier (UUID) for the creatorRequestId. You may omit the creatorRequestId if your application doesn't require idempotency.",
                  "type": "string"
                },
                "deploymentMode": {
                  "description": "The deployment mode of the broker.",
                  "enum": [
                    "SINGLE_INSTANCE",
                    "ACTIVE_STANDBY_MULTI_AZ",
                    "CLUSTER_MULTI_AZ"
                  ],
                  "type": "string"
                },
                "encryptionOptions": {
                  "description": "Encryption options for the broker.",
                  "properties": {
                    "KmsKeyId": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The symmetric customer master key (CMK) to use for the AWS Key Management Service (KMS). This key is used to encrypt your data at rest. If not provided, Amazon MQ will use a default CMK to encrypt your data.",
                          "xml": {
                            "name": "kmsKeyId"
                          }
                        }
                      ]
                    },
                    "UseAwsOwnedKey": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Enables the use of an AWS owned CMK using AWS Key Management Service (KMS).",
                          "xml": {
                            "name": "useAwsOwnedKey"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "engineType": {
                  "description": "The type of broker engine. Note: Currently, Amazon MQ supports ActiveMQ and RabbitMQ.",
                  "enum": [
                    "ACTIVEMQ",
                    "RABBITMQ"
                  ],
                  "type": "string"
                },
                "engineVersion": {
                  "description": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                  "type": "string"
                },
                "hostInstanceType": {
                  "description": "Required. The broker's instance type.",
                  "type": "string"
                },
                "ldapServerMetadata": {
                  "description": "The metadata of the LDAP server used to authenticate and authorize connections to the broker.",
                  "properties": {
                    "Hosts": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOf__string"
                        },
                        {
                          "description": "Fully qualified domain name of the LDAP server. Optional failover server.",
                          "xml": {
                            "name": "hosts"
                          }
                        }
                      ]
                    },
                    "RoleBase": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Fully qualified name of the directory to search for a user’s groups.",
                          "xml": {
                            "name": "roleBase"
                          }
                        }
                      ]
                    },
                    "RoleName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Specifies the LDAP attribute that identifies the group name attribute in the object returned from the group membership query.",
                          "xml": {
                            "name": "roleName"
                          }
                        }
                      ]
                    },
                    "RoleSearchMatching": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The search criteria for groups.",
                          "xml": {
                            "name": "roleSearchMatching"
                          }
                        }
                      ]
                    },
                    "RoleSearchSubtree": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "The directory search scope for the role. If set to true, scope is to search the entire sub-tree.",
                          "xml": {
                            "name": "roleSearchSubtree"
                          }
                        }
                      ]
                    },
                    "ServiceAccountPassword": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Service account password.",
                          "xml": {
                            "name": "serviceAccountPassword"
                          }
                        }
                      ]
                    },
                    "ServiceAccountUsername": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Service account username.",
                          "xml": {
                            "name": "serviceAccountUsername"
                          }
                        }
                      ]
                    },
                    "UserBase": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Fully qualified name of the directory where you want to search for users.",
                          "xml": {
                            "name": "userBase"
                          }
                        }
                      ]
                    },
                    "UserRoleName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Specifies the name of the LDAP attribute for the user group membership.",
                          "xml": {
                            "name": "userRoleName"
                          }
                        }
                      ]
                    },
                    "UserSearchMatching": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The search criteria for users.",
                          "xml": {
                            "name": "userSearchMatching"
                          }
                        }
                      ]
                    },
                    "UserSearchSubtree": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "The directory search scope for the user. If set to true, scope is to search the entire sub-tree.",
                          "xml": {
                            "name": "userSearchSubtree"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "logs": {
                  "description": "The list of information about logs to be enabled for the specified broker.",
                  "properties": {
                    "Audit": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged. Does not apply to RabbitMQ brokers.",
                          "xml": {
                            "name": "audit"
                          }
                        }
                      ]
                    },
                    "General": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Enables general logging.",
                          "xml": {
                            "name": "general"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "maintenanceWindowStartTime": {
                  "description": "The scheduled time period relative to UTC during which Amazon MQ begins to apply pending updates or patches to the broker.",
                  "properties": {
                    "DayOfWeek": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DayOfWeek"
                        },
                        {
                          "description": "Required. The day of the week.",
                          "xml": {
                            "name": "dayOfWeek"
                          }
                        }
                      ]
                    },
                    "TimeOfDay": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Required. The time, in 24-hour format.",
                          "xml": {
                            "name": "timeOfDay"
                          }
                        }
                      ]
                    },
                    "TimeZone": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The time zone, UTC by default, in either the Country/City format, or the UTC offset format.",
                          "xml": {
                            "name": "timeZone"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "publiclyAccessible": {
                  "description": "Required. Enables connections from applications outside of the VPC that hosts the broker's subnets.",
                  "type": "boolean"
                },
                "securityGroups": {
                  "description": "The list of security groups (1 minimum, 5 maximum) that authorizes connections to brokers.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "storageType": {
                  "description": "The broker's storage type. <important>EFS is currently not Supported for RabbitMQ engine type.</important>",
                  "enum": [
                    "EBS",
                    "EFS"
                  ],
                  "type": "string"
                },
                "subnetIds": {
                  "description": "The list of groups that define which subnets and IP ranges the broker can use from different Availability Zones. A SINGLE_INSTANCE deployment requires one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment (ACTIVEMQ) requires two subnets. A CLUSTER_MULTI_AZ deployment (RABBITMQ) has no subnet requirements when deployed with public accessibility, deployment without public accessibility requires at least one subnet.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "users": {
                  "description": "Required. The list of broker users (persons or applications) who can access queues and topics. For RabbitMQ brokers, one and only one administrative user is accepted and created when a broker is first provisioned. All subsequent broker users are created by making RabbitMQ API calls directly to brokers or via the RabbitMQ Web Console. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                  "items": {
                    "$ref": "#/definitions/User"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBrokerResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Creates a broker. Note: This API is asynchronous.",
        "operationId": "CreateBroker"
      }
    },
    "/v1/brokers/{broker-id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the broker.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteBrokerResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Deletes a broker. Note: This API is asynchronous.",
        "operationId": "DeleteBroker"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeBrokerResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Returns information about the specified broker.",
        "operationId": "DescribeBroker"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the broker.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "authenticationStrategy": {
                  "description": "The authentication strategy used to secure the broker.",
                  "enum": [
                    "SIMPLE",
                    "LDAP"
                  ],
                  "type": "string"
                },
                "autoMinorVersionUpgrade": {
                  "description": "Enables automatic upgrades to new minor versions for brokers, as Apache releases the versions. The automatic upgrades occur during the maintenance window of the broker or after a manual broker reboot.",
                  "type": "boolean"
                },
                "configuration": {
                  "description": "A list of information about the configuration. <important>Does not apply to RabbitMQ brokers.</important>",
                  "properties": {
                    "Id": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
                          "xml": {
                            "name": "id"
                          }
                        }
                      ]
                    },
                    "Revision": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The revision number of the configuration.",
                          "xml": {
                            "name": "revision"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "engineVersion": {
                  "description": "The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                  "type": "string"
                },
                "hostInstanceType": {
                  "description": "The host instance type of the broker to upgrade to. For a list of supported instance types, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide//broker.html#broker-instance-types",
                  "type": "string"
                },
                "ldapServerMetadata": {
                  "description": "The metadata of the LDAP server used to authenticate and authorize connections to the broker.",
                  "properties": {
                    "Hosts": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOf__string"
                        },
                        {
                          "description": "Fully qualified domain name of the LDAP server. Optional failover server.",
                          "xml": {
                            "name": "hosts"
                          }
                        }
                      ]
                    },
                    "RoleBase": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Fully qualified name of the directory to search for a user’s groups.",
                          "xml": {
                            "name": "roleBase"
                          }
                        }
                      ]
                    },
                    "RoleName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Specifies the LDAP attribute that identifies the group name attribute in the object returned from the group membership query.",
                          "xml": {
                            "name": "roleName"
                          }
                        }
                      ]
                    },
                    "RoleSearchMatching": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The search criteria for groups.",
                          "xml": {
                            "name": "roleSearchMatching"
                          }
                        }
                      ]
                    },
                    "RoleSearchSubtree": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "The directory search scope for the role. If set to true, scope is to search the entire sub-tree.",
                          "xml": {
                            "name": "roleSearchSubtree"
                          }
                        }
                      ]
                    },
                    "ServiceAccountPassword": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Service account password.",
                          "xml": {
                            "name": "serviceAccountPassword"
                          }
                        }
                      ]
                    },
                    "ServiceAccountUsername": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Service account username.",
                          "xml": {
                            "name": "serviceAccountUsername"
                          }
                        }
                      ]
                    },
                    "UserBase": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Fully qualified name of the directory where you want to search for users.",
                          "xml": {
                            "name": "userBase"
                          }
                        }
                      ]
                    },
                    "UserRoleName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Specifies the name of the LDAP attribute for the user group membership.",
                          "xml": {
                            "name": "userRoleName"
                          }
                        }
                      ]
                    },
                    "UserSearchMatching": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The search criteria for users.",
                          "xml": {
                            "name": "userSearchMatching"
                          }
                        }
                      ]
                    },
                    "UserSearchSubtree": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "The directory search scope for the user. If set to true, scope is to search the entire sub-tree.",
                          "xml": {
                            "name": "userSearchSubtree"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "logs": {
                  "description": "The list of information about logs to be enabled for the specified broker.",
                  "properties": {
                    "Audit": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged. Does not apply to RabbitMQ brokers.",
                          "xml": {
                            "name": "audit"
                          }
                        }
                      ]
                    },
                    "General": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "Enables general logging.",
                          "xml": {
                            "name": "general"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "securityGroups": {
                  "description": "The list of security groups (1 minimum, 5 maximum) that authorizes connections to brokers.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateBrokerResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Adds a pending configuration change to a broker.",
        "operationId": "UpdateBroker"
      }
    },
    "/v1/brokers/{broker-id}/reboot": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the broker.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RebootBrokerResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Reboots a broker. Note: This API is asynchronous.",
        "operationId": "RebootBroker"
      }
    },
    "/v1/brokers/{broker-id}/users": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the broker.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of ActiveMQ users that can be returned per page (20 by default). This value must be an integer from 5 to 100.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListUsersResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Returns a list of all ActiveMQ users.",
        "operationId": "ListUsers"
      }
    },
    "/v1/brokers/{broker-id}/users/{username}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the broker.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteUserResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Deletes an ActiveMQ user.",
        "operationId": "DeleteUser"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the broker.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeUserResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Returns information about an ActiveMQ user.",
        "operationId": "DescribeUser"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the broker.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "consoleAccess": {
                  "description": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
                  "type": "boolean"
                },
                "groups": {
                  "description": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "password": {
                  "description": "Required. The password of the user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateUserResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Creates an ActiveMQ user.",
        "operationId": "CreateUser"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the broker.",
            "in": "path",
            "name": "broker-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "consoleAccess": {
                  "description": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
                  "type": "boolean"
                },
                "groups": {
                  "description": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                },
                "password": {
                  "description": "The password of the user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateUserResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Updates the information for an ActiveMQ user.",
        "operationId": "UpdateUser"
      }
    },
    "/v1/configurations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of configurations that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListConfigurationsResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Returns a list of all configurations.",
        "operationId": "ListConfigurations"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "Create tags when creating the configuration.",
                  "type": "object"
                },
                "authenticationStrategy": {
                  "description": "The authentication strategy used to secure the broker.",
                  "enum": [
                    "SIMPLE",
                    "LDAP"
                  ],
                  "type": "string"
                },
                "engineType": {
                  "description": "The type of broker engine. Note: Currently, Amazon MQ supports ActiveMQ and RabbitMQ.",
                  "enum": [
                    "ACTIVEMQ",
                    "RABBITMQ"
                  ],
                  "type": "string"
                },
                "engineVersion": {
                  "description": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateConfigurationResponse"
            }
          },
          "480": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version).",
        "operationId": "CreateConfiguration"
      }
    },
    "/v1/configurations/{configuration-id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the configuration.",
            "in": "path",
            "name": "configuration-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeConfigurationResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Returns information about the specified configuration.",
        "operationId": "DescribeConfiguration"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the configuration.",
            "in": "path",
            "name": "configuration-id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "data": {
                  "description": "Required. The base64-encoded XML configuration.",
                  "type": "string"
                },
                "description": {
                  "description": "The description of the configuration.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateConfigurationResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Updates the specified configuration.",
        "operationId": "UpdateConfiguration"
      }
    },
    "/v1/configurations/{configuration-id}/revisions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the configuration.",
            "in": "path",
            "name": "configuration-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The maximum number of configurations that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListConfigurationRevisionsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Returns a list of all revisions for the specified configuration.",
        "operationId": "ListConfigurationRevisions"
      }
    },
    "/v1/configurations/{configuration-id}/revisions/{configuration-revision}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique ID that Amazon MQ generates for the configuration.",
            "in": "path",
            "name": "configuration-id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The revision of the configuration.",
            "in": "path",
            "name": "configuration-revision",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeConfigurationRevisionResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Returns the specified configuration revision for the specified configuration.",
        "operationId": "DescribeConfigurationRevision"
      }
    },
    "/v1/tags/{resource-arn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the resource tag.",
            "in": "path",
            "name": "resource-arn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Lists tags for a resource.",
        "operationId": "ListTags"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the resource tag.",
            "in": "path",
            "name": "resource-arn",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "The key-value pair for the resource tag.",
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Add a tag to a resource.",
        "operationId": "CreateTags"
      }
    },
    "/v1/tags/{resource-arn}#tagKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the resource tag.",
            "in": "path",
            "name": "resource-arn",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of tag keys to delete",
            "in": "query",
            "items": {
              "$ref": "#/definitions/__string"
            },
            "name": "tagKeys",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "483": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          }
        },
        "description": "Removes a tag from a resource.",
        "operationId": "DeleteTags"
      }
    }
  },
  "definitions": {
    "AuthenticationStrategy": {
      "description": "The authentication strategy used to secure the broker.",
      "enum": [
        "SIMPLE",
        "LDAP"
      ],
      "type": "string"
    },
    "AvailabilityZone": {
      "description": "Name of the availability zone.",
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "Id for the availability zone.",
              "xml": {
                "name": "name"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "BadRequestException": {},
    "BrokerEngineType": {
      "description": "Types of broker engines.",
      "properties": {
        "EngineType": {
          "allOf": [
            {
              "$ref": "#/definitions/EngineType"
            },
            {
              "description": "The type of broker engine.",
              "xml": {
                "name": "engineType"
              }
            }
          ]
        },
        "EngineVersions": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfEngineVersion"
            },
            {
              "description": "The list of engine versions.",
              "xml": {
                "name": "engineVersions"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "BrokerInstance": {
      "description": "Returns information about all brokers.",
      "properties": {
        "ConsoleURL": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The URL of the broker's Web Console.",
              "xml": {
                "name": "consoleURL"
              }
            }
          ]
        },
        "Endpoints": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "The broker's wire-level protocol endpoints.",
              "xml": {
                "name": "endpoints"
              }
            }
          ]
        },
        "IpAddress": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The IP address of the Elastic Network Interface (ENI) attached to the broker. Does not apply to RabbitMQ brokers",
              "xml": {
                "name": "ipAddress"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "BrokerInstanceOption": {
      "description": "Option for host instance type.",
      "properties": {
        "AvailabilityZones": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfAvailabilityZone"
            },
            {
              "description": "The list of available az.",
              "xml": {
                "name": "availabilityZones"
              }
            }
          ]
        },
        "EngineType": {
          "allOf": [
            {
              "$ref": "#/definitions/EngineType"
            },
            {
              "description": "The type of broker engine.",
              "xml": {
                "name": "engineType"
              }
            }
          ]
        },
        "HostInstanceType": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The type of broker instance.",
              "xml": {
                "name": "hostInstanceType"
              }
            }
          ]
        },
        "StorageType": {
          "allOf": [
            {
              "$ref": "#/definitions/BrokerStorageType"
            },
            {
              "description": "The broker's storage type.",
              "xml": {
                "name": "storageType"
              }
            }
          ]
        },
        "SupportedDeploymentModes": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfDeploymentMode"
            },
            {
              "description": "The list of supported deployment modes.",
              "xml": {
                "name": "supportedDeploymentModes"
              }
            }
          ]
        },
        "SupportedEngineVersions": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOf__string"
            },
            {
              "description": "The list of supported engine versions.",
              "xml": {
                "name": "supportedEngineVersions"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "BrokerState": {
      "description": "The status of the broker.",
      "enum": [
        "CREATION_IN_PROGRESS",
        "CREATION_FAILED",
        "DELETION_IN_PROGRESS",
        "RUNNING",
        "REBOOT_IN_PROGRESS"
      ],
      "type": "string"
    },
    "BrokerStorageType": {
      "description": "The broker's storage type. <important>EFS is currently not Supported for RabbitMQ engine type.</important>",
      "enum": [
        "EBS",
        "EFS"
      ],
      "type": "string"
    },
    "BrokerSummary": {
      "description": "The Amazon Resource Name (ARN) of the broker.",
      "properties": {
        "BrokerArn": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the broker.",
              "xml": {
                "name": "brokerArn"
              }
            }
          ]
        },
        "BrokerId": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The unique ID that Amazon MQ generates for the broker.",
              "xml": {
                "name": "brokerId"
              }
            }
          ]
        },
        "BrokerName": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
              "xml": {
                "name": "brokerName"
              }
            }
          ]
        },
        "BrokerState": {
          "allOf": [
            {
              "$ref": "#/definitions/BrokerState"
            },
            {
              "description": "The status of the broker.",
              "xml": {
                "name": "brokerState"
              }
            }
          ]
        },
        "Created": {
          "allOf": [
            {
              "$ref": "#/definitions/__timestampIso8601"
            },
            {
              "description": "The time when the broker was created.",
              "xml": {
                "name": "created"
              }
            }
          ]
        },
        "DeploymentMode": {
          "allOf": [
            {
              "$ref": "#/definitions/DeploymentMode"
            },
            {
              "description": "Required. The deployment mode of the broker.",
              "xml": {
                "name": "deploymentMode"
              }
            }
          ]
        },
        "EngineType": {
          "allOf": [
            {
              "$ref": "#/definitions/EngineType"
            },
            {
              "description": "Required. The type of broker engine.",
              "xml": {
                "name": "engineType"
              }
            }
          ]
        },
        "HostInstanceType": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The broker's instance type.",
              "xml": {
                "name": "hostInstanceType"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "ChangeType": {
      "description": "The type of change pending for the ActiveMQ user.",
      "enum": [
        "CREATE",
        "UPDATE",
        "DELETE"
      ],
      "type": "string"
    },
    "Configuration": {
      "description": "Returns information about all configurations.",
      "properties": {
        "Arn": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "Required. The ARN of the configuration.",
              "xml": {
                "name": "arn"
              }
            }
          ]
        },
        "AuthenticationStrategy": {
          "allOf": [
            {
              "$ref": "#/definitions/AuthenticationStrategy"
            },
            {
              "description": "The authentication strategy associated with the configuration.",
              "xml": {
                "name": "authenticationStrategy"
              }
            }
          ]
        },
        "Created": {
          "allOf": [
            {
              "$ref": "#/definitions/__timestampIso8601"
            },
            {
              "description": "Required. The date and time of the configuration revision.",
              "xml": {
                "name": "created"
              }
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "Required. The description of the configuration.",
              "xml": {
                "name": "description"
              }
            }
          ]
        },
        "EngineType": {
          "allOf": [
            {
              "$ref": "#/definitions/EngineType"
            },
            {
              "description": "Required. The type of broker engine. Note: Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.",
              "xml": {
                "name": "engineType"
              }
            }
          ]
        },
        "EngineVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
              "xml": {
                "name": "engineVersion"
              }
            }
          ]
        },
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
              "xml": {
                "name": "id"
              }
            }
          ]
        },
        "LatestRevision": {
          "allOf": [
            {
              "$ref": "#/definitions/ConfigurationRevision"
            },
            {
              "description": "Required. The latest revision of the configuration.",
              "xml": {
                "name": "latestRevision"
              }
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.",
              "xml": {
                "name": "name"
              }
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/__mapOf__string"
            },
            {
              "description": "The list of all tags associated with this configuration.",
              "xml": {
                "name": "tags"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "ConfigurationId": {
      "description": "A list of information about the configuration. <important>Does not apply to RabbitMQ brokers.</important>",
      "properties": {
        "Id": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "Required. The unique ID that Amazon MQ generates for the configuration.",
              "xml": {
                "name": "id"
              }
            }
          ]
        },
        "Revision": {
          "allOf": [
            {
              "$ref": "#/definitions/__integer"
            },
            {
              "description": "The revision number of the configuration.",
              "xml": {
                "name": "revision"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "ConfigurationRevision": {
      "description": "Returns information about the specified configuration revision.",
      "properties": {
        "Created": {
          "allOf": [
            {
              "$ref": "#/definitions/__timestampIso8601"
            },
            {
              "description": "Required. The date and time of the configuration revision.",
              "xml": {
                "name": "created"
              }
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/__string"
            },
            {
              "description": "The description of the configuration revision.",
              "xml": {
                "name": "description"
              }
            }
          ]
        },
        "Revision": {
          "allOf": [
            {
              "$ref": "#/definitions/__integer"
            },
            {
              "description": "Required. The revision number of the configuration.",
              "xml": {
                "name": "revision"
              }
            }
          ]
        }
      },
      "type": "object"
    },
    "Configurations": {
      "description": "Broker configuration information",
      "properties": {
        "Current": {
          "allOf": [
            {
              "$ref": "#/definitions/ConfigurationId"
            },
            {
              "description": "The current configuration of the broker.",
              "xml": {
                "name": "current"
              }
            }
          ]
        },
        "History": {
          "allOf": [
            {
              "$ref": "#/definitions/__listOfConfigurationId"
            },
            {
              "description": "The history of configurations applied to the broker.",
              "xml": {
                "name": "history"
              }
            }
          ]
        },
        "Pending": {
          "allOf": [
            {
[...]
