{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "devrel@nexmo.com",
      "name": "Nexmo DevRel",
      "url": "https://developer.nexmo.com/"
    },
    "description": "The Media API can be used to query, download and delete media items such as audio files for use with other Nexmo APIs.",
    "title": "Media API",
    "version": "1.0.2",
    "x-label": "BETA",
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/media.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "nexmo.com",
    "x-serviceName": "media",
    "x-datafire": {
      "name": "nexmo_media",
      "type": "openapi"
    }
  },
  "host": "api.nexmo.com",
  "basePath": "/v3/media",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "descending",
            "description": "The order of search results.",
            "enum": [
              "ascending",
              "descending"
            ],
            "in": "query",
            "name": "order",
            "type": "string"
          },
          {
            "default": 0,
            "description": "Which page to retrieve in pagination",
            "in": "query",
            "name": "page_index",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "How many items at most per page",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "default": "1 week ago",
            "description": "Retrieve results created on or after this timestap.",
            "in": "query",
            "name": "start_time",
            "type": "string",
            "x-default-is-meta": true
          },
          {
            "description": "Retrieve results created on or before this timestamp.",
            "in": "query",
            "name": "end_time",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved",
            "schema": {
              "properties": {
                "_embedded": {
                  "description": "A collection of media items. See [retrieve a media item](#retrieve-a-media-item) for a description of the returned fields",
                  "properties": {
                    "media": {
                      "items": {
                        "$ref": "#/definitions/Media"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                "_links": {
                  "properties": {
                    "first": {
                      "properties": {
                        "href": {
                          "default": "",
                          "example": "/v3/media?page_size=20&account_id=abcd1234&order=descending",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "last": {
                      "properties": {
                        "href": {
                          "default": "",
                          "example": "/v3/media?page_size=20&account_id=abcd1234&order=descending",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "self": {
                      "properties": {
                        "href": {
                          "default": "",
                          "example": "/v3/media?page_size=20&account_id=abcd1234&order=descending",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "count": {
                  "default": 0,
                  "description": "The total number of records returned by your request.",
                  "example": 1,
                  "type": "integer"
                },
                "page_index": {
                  "default": 0,
                  "description": "The `page_index` used in your request.",
                  "example": 0,
                  "type": "integer"
                },
                "page_size": {
                  "default": 0,
                  "description": "The amount of records returned in this response.",
                  "example": 20,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Retrieve information about multiple media items with the ability to search and paginate.",
        "operationId": "list-and-search-media-items",
        "summary": "List and search media items"
      }
    },
    "/:id": {
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          }
        },
        "description": "Delete a previously created media item by ID.",
        "operationId": "delete-a-media-item",
        "summary": "Delete a media item"
      }
    },
    "/:id/info": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved",
            "schema": {
              "$ref": "#/definitions/Media"
            }
          }
        },
        "description": "Retrieve information about a single media item",
        "operationId": "retrieve-a-media-item",
        "summary": "Retrieve a media item"
      },
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "description": "A description of the media file.",
            "in": "formData",
            "name": "description",
            "type": "string"
          },
          {
            "description": "The maximum number of times the file may be downloaded. Unlimited when not provided.",
            "in": "formData",
            "name": "max_downloads_allowed",
            "type": "integer"
          },
          {
            "description": "A string containing metadata about the media file.",
            "in": "formData",
            "name": "metadata_primary",
            "type": "string"
          },
          {
            "description": "A string containing further metadata about the media file.",
            "in": "formData",
            "name": "metadata_secondary",
            "type": "string"
          },
          {
            "description": "The MIME type of the media file.",
            "in": "formData",
            "name": "mime_type",
            "type": "string"
          },
          {
            "description": "Whether the item is publicly available without authentication.",
            "in": "formData",
            "name": "public",
            "type": "boolean"
          },
          {
            "description": "A string containing a title for the media file.",
            "in": "formData",
            "name": "title",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully updated"
          }
        },
        "description": "Update a previously created media item by ID.",
        "operationId": "update-a-media-item",
        "summary": "Update a media item"
      }
    }
  },
  "definitions": {
    "Media": {
      "properties": {
        "account_id": {
          "description": "The ID of your Nexmo account. This is the same as your API key.",
          "example": "abcd1234",
          "type": "string"
        },
        "etag": {
          "description": "An identifier for the content. This will change if the content of the file has been changed (i.e. if you upload a new version of the file). For more information see Wikipedia: [HTTP ETag](https://en.wikipedia.org/wiki/HTTP_ETag)",
          "example": "aaaaaaaabbbbccccdddd0123456789ab",
          "type": "string"
        },
        "id": {
          "description": "A UUID representing the object.",
          "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab",
          "type": "string"
        },
        "max_downloads_allowed": {
          "description": "The maximum number of times the file may be downloaded.",
          "example": 0,
          "type": "integer"
        },
        "media_size": {
          "description": "The size of the file in bytes",
          "example": 1234567,
          "type": "integer"
        },
        "metadata_primary": {
          "description": "A user set string containing metadata about the media file.",
          "type": "string"
        },
        "metadata_secondary": {
          "description": "A user set string containing further metadata about the media file.",
          "type": "string"
        },
        "mime_type": {
          "description": "The IETF MIME type of the file.",
          "example": "audio/vnd.wave",
          "type": "string"
        },
        "original_file_name": {
          "description": "The filename of the object as it was originally uploaded.",
          "example": "test.wav",
          "type": "string"
        },
        "public": {
          "description": "Whether the item is available for download without authentication.",
          "example": false,
          "type": "boolean"
        },
        "store_id": {
          "description": "An internal identifier of how the file is stored.",
          "example": "s3",
          "type": "string"
        },
        "time_created": {
          "description": "A timestamp for the time that the file was created",
          "example": "2020-01-01T14:00:00.000Z",
          "type": "string"
        },
        "time_last_updated": {
          "description": "A timestamp for the time that the file was last modified",
          "example": "2020-01-01T14:00:00.000Z",
          "type": "string"
        },
        "times_downloaded": {
          "description": "The number of times the file has been downloaded.",
          "example": 1,
          "type": "integer"
        }
      },
      "type": "object"
    }
  },
  "x-components": {}
}