{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>The AWS Migration Hub API methods help to obtain server and application migration status and integrate your resource-specific migration tool by providing a programmatic interface to Migration Hub.</p> <p>Remember that you must set your AWS Migration Hub home region before you call any of these APIs, or a <code>HomeRegionNotSetException</code> error will be returned. Also, you must make the API calls while in your home region.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Migration Hub",
    "version": "2017-05-31",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/AWSMigrationHub-2017-05-31.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "AWSMigrationHub",
    "x-datafire": {
      "name": "amazonaws_mgh",
      "type": "openapi"
    }
  },
  "host": "mgh.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=AWSMigrationHub.AssociateCreatedArtifact": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.AssociateCreatedArtifact"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssociateCreatedArtifactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateCreatedArtifactResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "488": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "<p>Associates a created artifact of an AWS cloud resource, the target receiving the migration, with the migration task performed by a migration tool. This API has the following traits:</p> <ul> <li> <p>Migration tools can call the <code>AssociateCreatedArtifact</code> operation to indicate which AWS artifact is associated with a migration task.</p> </li> <li> <p>The created artifact name must be provided in ARN (Amazon Resource Name) format which will contain information about type and region; for example: <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p> </li> <li> <p>Examples of the AWS resource behind the created artifact are, AMI's, EC2 instance, or DMS endpoint, etc.</p> </li> </ul>",
        "operationId": "AssociateCreatedArtifact"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.AssociateDiscoveredResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.AssociateDiscoveredResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssociateDiscoveredResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateDiscoveredResourceResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "PolicyErrorException",
            "schema": {
              "$ref": "#/definitions/PolicyErrorException"
            }
          },
          "488": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "489": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Associates a discovered resource ID from Application Discovery Service with a migration task.",
        "operationId": "AssociateDiscoveredResource"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.CreateProgressUpdateStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.CreateProgressUpdateStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProgressUpdateStreamRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateProgressUpdateStreamResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Creates a progress update stream which is an AWS resource used for access control as well as a namespace for migration task names that is implicitly linked to your AWS account. It must uniquely identify the migration tool as it is used for all updates made by the tool; however, it does not need to be unique for each AWS account because it is scoped to the AWS account.",
        "operationId": "CreateProgressUpdateStream"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.DeleteProgressUpdateStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.DeleteProgressUpdateStream"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteProgressUpdateStreamRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteProgressUpdateStreamResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "488": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "<p>Deletes a progress update stream, including all of its tasks, which was previously created as an AWS resource used for access control. This API has the following traits:</p> <ul> <li> <p>The only parameter needed for <code>DeleteProgressUpdateStream</code> is the stream name (same as a <code>CreateProgressUpdateStream</code> call).</p> </li> <li> <p>The call will return, and a background process will asynchronously delete the stream and all of its resources (tasks, associated resources, resource attributes, created artifacts).</p> </li> <li> <p>If the stream takes time to be deleted, it might still show up on a <code>ListProgressUpdateStreams</code> call.</p> </li> <li> <p> <code>CreateProgressUpdateStream</code>, <code>ImportMigrationTask</code>, <code>NotifyMigrationTaskState</code>, and all Associate[*] APIs related to the tasks belonging to the stream will throw \"InvalidInputException\" if the stream of the same name is in the process of being deleted.</p> </li> <li> <p>Once the stream and all of its resources are deleted, <code>CreateProgressUpdateStream</code> for a stream of the same name will succeed, and that stream will be an entirely new logical resource (without any resources associated with the old stream).</p> </li> </ul>",
        "operationId": "DeleteProgressUpdateStream"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.DescribeApplicationState": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.DescribeApplicationState"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeApplicationStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeApplicationStateResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "485": {
            "description": "PolicyErrorException",
            "schema": {
              "$ref": "#/definitions/PolicyErrorException"
            }
          },
          "486": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "487": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Gets the migration status of an application.",
        "operationId": "DescribeApplicationState"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.DescribeMigrationTask": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.DescribeMigrationTask"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeMigrationTaskRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeMigrationTaskResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "485": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "486": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Retrieves a list of all attributes associated with a specific migration task.",
        "operationId": "DescribeMigrationTask"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.DisassociateCreatedArtifact": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.DisassociateCreatedArtifact"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisassociateCreatedArtifactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateCreatedArtifactResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "488": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "<p>Disassociates a created artifact of an AWS resource with a migration task performed by a migration tool that was previously associated. This API has the following traits:</p> <ul> <li> <p>A migration user can call the <code>DisassociateCreatedArtifacts</code> operation to disassociate a created AWS Artifact from a migration task.</p> </li> <li> <p>The created artifact name must be provided in ARN (Amazon Resource Name) format which will contain information about type and region; for example: <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p> </li> <li> <p>Examples of the AWS resource behind the created artifact are, AMI's, EC2 instance, or RDS instance, etc.</p> </li> </ul>",
        "operationId": "DisassociateCreatedArtifact"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.DisassociateDiscoveredResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.DisassociateDiscoveredResource"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisassociateDiscoveredResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateDiscoveredResourceResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "488": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Disassociate an Application Discovery Service discovered resource from a migration task.",
        "operationId": "DisassociateDiscoveredResource"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.ImportMigrationTask": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.ImportMigrationTask"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportMigrationTaskRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ImportMigrationTaskResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "488": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "<p>Registers a new migration task which represents a server, database, etc., being migrated to AWS by a migration tool.</p> <p>This API is a prerequisite to calling the <code>NotifyMigrationTaskState</code> API as the migration tool must first register the migration task with Migration Hub.</p>",
        "operationId": "ImportMigrationTask"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.ListApplicationStates": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSMigrationHub.ListApplicationStates"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListApplicationStatesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListApplicationStatesResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "485": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Lists all the migration statuses for your applications. If you use the optional <code>ApplicationIds</code> parameter, only the migration statuses for those applications will be returned.",
        "operationId": "ListApplicationStates"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.ListCreatedArtifacts": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSMigrationHub.ListCreatedArtifacts"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListCreatedArtifactsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListCreatedArtifactsResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "485": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "486": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "<p>Lists the created artifacts attached to a given migration task in an update stream. This API has the following traits:</p> <ul> <li> <p>Gets the list of the created artifacts while migration is taking place.</p> </li> <li> <p>Shows the artifacts created by the migration tool that was associated by the <code>AssociateCreatedArtifact</code> API. </p> </li> <li> <p>Lists created artifacts in a paginated interface. </p> </li> </ul>",
        "operationId": "ListCreatedArtifacts"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.ListDiscoveredResources": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSMigrationHub.ListDiscoveredResources"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDiscoveredResourcesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDiscoveredResourcesResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "485": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "486": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Lists discovered resources associated with the given <code>MigrationTask</code>.",
        "operationId": "ListDiscoveredResources"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.ListMigrationTasks": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSMigrationHub.ListMigrationTasks"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMigrationTasksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListMigrationTasksResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "485": {
            "description": "PolicyErrorException",
            "schema": {
              "$ref": "#/definitions/PolicyErrorException"
            }
          },
          "486": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "487": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "<p>Lists all, or filtered by resource name, migration tasks associated with the user account making this call. This API has the following traits:</p> <ul> <li> <p>Can show a summary list of the most recent migration tasks.</p> </li> <li> <p>Can show a summary list of migration tasks associated with a given discovered resource.</p> </li> <li> <p>Lists migration tasks in a paginated interface.</p> </li> </ul>",
        "operationId": "ListMigrationTasks"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.ListProgressUpdateStreams": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSMigrationHub.ListProgressUpdateStreams"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListProgressUpdateStreamsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListProgressUpdateStreamsResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "485": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Lists progress update streams associated with the user account making this call.",
        "operationId": "ListProgressUpdateStreams"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.NotifyApplicationState": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.NotifyApplicationState"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotifyApplicationStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotifyApplicationStateResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "PolicyErrorException",
            "schema": {
              "$ref": "#/definitions/PolicyErrorException"
            }
          },
          "488": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "489": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "Sets the migration state of an application. For a given application identified by the value passed to <code>ApplicationId</code>, its status is set or updated by passing one of three values to <code>Status</code>: <code>NOT_STARTED | IN_PROGRESS | COMPLETED</code>.",
        "operationId": "NotifyApplicationState"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.NotifyMigrationTaskState": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.NotifyMigrationTaskState"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotifyMigrationTaskStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotifyMigrationTaskStateResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "488": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "<p>Notifies Migration Hub of the current status, progress, or other detail regarding a migration task. This API has the following traits:</p> <ul> <li> <p>Migration tools will call the <code>NotifyMigrationTaskState</code> API to share the latest progress and status.</p> </li> <li> <p> <code>MigrationTaskName</code> is used for addressing updates to the correct target.</p> </li> <li> <p> <code>ProgressUpdateStream</code> is used for access control and to provide a namespace for each migration tool.</p> </li> </ul>",
        "operationId": "NotifyMigrationTaskState"
      }
    },
    "/#X-Amz-Target=AWSMigrationHub.PutResourceAttributes": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSMigrationHub.PutResourceAttributes"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutResourceAttributesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutResourceAttributesResult"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "484": {
            "description": "DryRunOperation",
            "schema": {
              "$ref": "#/definitions/DryRunOperation"
            }
          },
          "485": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "486": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "487": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "488": {
            "description": "HomeRegionNotSetException",
            "schema": {
              "$ref": "#/definitions/HomeRegionNotSetException"
            }
          }
        },
        "description": "<p>Provides identifying details of the resource being migrated so that it can be associated in the Application Discovery Service repository. This association occurs asynchronously after <code>PutResourceAttributes</code> returns.</p> <important> <ul> <li> <p>Keep in mind that subsequent calls to PutResourceAttributes will override previously stored attributes. For example, if it is first called with a MAC address, but later, it is desired to <i>add</i> an IP address, it will then be required to call it with <i>both</i> the IP and MAC addresses to prevent overriding the MAC address.</p> </li> <li> <p>Note the instructions regarding the special use case of the <a href=\"https://docs.aws.amazon.com/migrationhub/latest/ug/API_PutResourceAttributes.html#migrationhub-PutResourceAttributes-request-ResourceAttributeList\"> <code>ResourceAttributeList</code> </a> parameter when specifying any \"VM\" related value.</p> </li> </ul> </important> <note> <p>Because this is an asynchronous call, it will always return 200, whether an association occurs or not. To confirm if an association was found based on the provided details, call <code>ListDiscoveredResources</code>.</p> </note>",
        "operationId": "PutResourceAttributes"
      }
    }
  },
  "definitions": {
    "AccessDeniedException": {},
    "ApplicationId": {
      "maxLength": 1600,
      "minLength": 1,
      "pattern": "^.{1,1600}$",
      "type": "string"
    },
    "ApplicationIds": {
      "items": {
        "$ref": "#/definitions/ApplicationId"
      },
      "maxItems": 100,
      "minItems": 1,
      "type": "array"
    },
    "ApplicationState": {
      "description": "The state of an application discovered through Migration Hub import, the AWS Agentless Discovery Connector, or the AWS Application Discovery Agent.",
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/ApplicationId"
            },
            {
              "description": "The configurationId from the Application Discovery Service that uniquely identifies an application."
            }
          ]
        },
        "ApplicationStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/ApplicationStatus"
            },
            {
              "description": "The current status of an application."
            }
          ]
        },
        "LastUpdatedTime": {
          "allOf": [
            {
              "$ref": "#/definitions/UpdateDateTime"
            },
            {
              "description": "The timestamp when the application status was last updated."
            }
          ]
        }
      },
      "type": "object"
    },
    "ApplicationStateList": {
      "items": {
        "$ref": "#/definitions/ApplicationState"
      },
      "maxItems": 1000,
      "minItems": 0,
      "type": "array"
    },
    "ApplicationStatus": {
      "enum": [
        "NOT_STARTED",
        "IN_PROGRESS",
        "COMPLETED"
      ],
      "type": "string"
    },
    "AssociateCreatedArtifactRequest": {
      "properties": {
        "CreatedArtifact": {
          "allOf": [
            {
              "$ref": "#/definitions/CreatedArtifact"
            },
            {
              "description": "An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) "
            }
          ]
        },
        "DryRun": {
          "allOf": [
            {
              "$ref": "#/definitions/DryRun"
            },
            {
              "description": "Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call."
            }
          ]
        },
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "Unique identifier that references the migration task. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream. "
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStream",
        "MigrationTaskName",
        "CreatedArtifact"
      ],
      "title": "AssociateCreatedArtifactRequest",
      "type": "object"
    },
    "AssociateCreatedArtifactResult": {
      "properties": {},
      "type": "object"
    },
    "AssociateDiscoveredResourceRequest": {
      "properties": {
        "DiscoveredResource": {
          "allOf": [
            {
              "$ref": "#/definitions/DiscoveredResource"
            },
            {
              "description": "Object representing a Resource."
            }
          ]
        },
        "DryRun": {
          "allOf": [
            {
              "$ref": "#/definitions/DryRun"
            },
            {
              "description": "Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call."
            }
          ]
        },
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "The identifier given to the MigrationTask. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream."
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStream",
        "MigrationTaskName",
        "DiscoveredResource"
      ],
      "title": "AssociateDiscoveredResourceRequest",
      "type": "object"
    },
    "AssociateDiscoveredResourceResult": {
      "properties": {},
      "type": "object"
    },
    "ConfigurationId": {
      "maxLength": 1600,
      "minLength": 1,
      "pattern": "^.{1,1600}$",
      "type": "string"
    },
    "CreateProgressUpdateStreamRequest": {
      "properties": {
        "DryRun": {
          "allOf": [
            {
              "$ref": "#/definitions/DryRun"
            },
            {
              "description": "Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call."
            }
          ]
        },
        "ProgressUpdateStreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream. <i>Do not store personal data in this field.</i> "
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStreamName"
      ],
      "title": "CreateProgressUpdateStreamRequest",
      "type": "object"
    },
    "CreateProgressUpdateStreamResult": {
      "properties": {},
      "type": "object"
    },
    "CreatedArtifact": {
      "description": "An ARN of the AWS cloud resource target receiving the migration (e.g., AMI, EC2 instance, RDS instance, etc.).",
      "properties": {
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/CreatedArtifactDescription"
            },
            {
              "description": "A description that can be free-form text to record additional detail about the artifact for clarity or for later reference."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/CreatedArtifactName"
            },
            {
              "description": "An ARN that uniquely identifies the result of a migration task."
            }
          ]
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "CreatedArtifactDescription": {
      "maxLength": 500,
      "minLength": 0,
      "pattern": "^.{0,500}$",
      "type": "string"
    },
    "CreatedArtifactList": {
      "items": {
        "$ref": "#/definitions/CreatedArtifact"
      },
      "type": "array"
    },
    "CreatedArtifactName": {
      "maxLength": 1600,
      "minLength": 1,
      "pattern": "arn:[a-z-]+:[a-z0-9-]+:(?:[a-z0-9-]+|):(?:[0-9]{12}|):.*",
      "type": "string"
    },
    "DeleteProgressUpdateStreamRequest": {
      "properties": {
        "DryRun": {
          "allOf": [
            {
              "$ref": "#/definitions/DryRun"
            },
            {
              "description": "Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call."
            }
          ]
        },
        "ProgressUpdateStreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream. <i>Do not store personal data in this field.</i> "
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStreamName"
      ],
      "title": "DeleteProgressUpdateStreamRequest",
      "type": "object"
    },
    "DeleteProgressUpdateStreamResult": {
      "properties": {},
      "type": "object"
    },
    "DescribeApplicationStateRequest": {
      "properties": {
        "ApplicationId": {
          "allOf": [
            {
              "$ref": "#/definitions/ApplicationId"
            },
            {
              "description": "The configurationId in Application Discovery Service that uniquely identifies the grouped application."
            }
          ]
        }
      },
      "required": [
        "ApplicationId"
      ],
      "title": "DescribeApplicationStateRequest",
      "type": "object"
    },
    "DescribeApplicationStateResult": {
      "properties": {
        "ApplicationStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/ApplicationStatus"
            },
            {
              "description": "Status of the application - Not Started, In-Progress, Complete."
            }
          ]
        },
        "LastUpdatedTime": {
          "allOf": [
            {
              "$ref": "#/definitions/UpdateDateTime"
            },
            {
              "description": "The timestamp when the application status was last updated."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeMigrationTaskRequest": {
      "properties": {
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "The identifier given to the MigrationTask. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream. "
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStream",
        "MigrationTaskName"
      ],
      "title": "DescribeMigrationTaskRequest",
      "type": "object"
    },
    "DescribeMigrationTaskResult": {
      "properties": {
        "MigrationTask": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTask"
            },
            {
              "description": "Object encapsulating information about the migration task."
            }
          ]
        }
      },
      "type": "object"
    },
    "DisassociateCreatedArtifactRequest": {
      "properties": {
        "CreatedArtifactName": {
          "allOf": [
            {
              "$ref": "#/definitions/CreatedArtifactName"
            },
            {
              "description": "An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)"
            }
          ]
        },
        "DryRun": {
          "allOf": [
            {
              "$ref": "#/definitions/DryRun"
            },
            {
              "description": "Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call."
            }
          ]
        },
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "Unique identifier that references the migration task to be disassociated with the artifact. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream. "
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStream",
        "MigrationTaskName",
        "CreatedArtifactName"
      ],
      "title": "DisassociateCreatedArtifactRequest",
      "type": "object"
    },
    "DisassociateCreatedArtifactResult": {
      "properties": {},
      "type": "object"
    },
    "DisassociateDiscoveredResourceRequest": {
      "properties": {
        "ConfigurationId": {
          "allOf": [
            {
              "$ref": "#/definitions/ConfigurationId"
            },
            {
              "description": "ConfigurationId of the Application Discovery Service resource to be disassociated."
            }
          ]
        },
        "DryRun": {
          "allOf": [
            {
              "$ref": "#/definitions/DryRun"
            },
            {
              "description": "Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call."
            }
          ]
        },
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "The identifier given to the MigrationTask. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream."
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStream",
        "MigrationTaskName",
        "ConfigurationId"
      ],
      "title": "DisassociateDiscoveredResourceRequest",
      "type": "object"
    },
    "DisassociateDiscoveredResourceResult": {
      "properties": {},
      "type": "object"
    },
    "DiscoveredResource": {
      "description": "Object representing the on-premises resource being migrated.",
      "properties": {
        "ConfigurationId": {
          "allOf": [
            {
              "$ref": "#/definitions/ConfigurationId"
            },
            {
              "description": "The configurationId in Application Discovery Service that uniquely identifies the on-premise resource."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/DiscoveredResourceDescription"
            },
            {
              "description": "A description that can be free-form text to record additional detail about the discovered resource for clarity or later reference."
            }
          ]
        }
      },
      "required": [
        "ConfigurationId"
      ],
      "type": "object"
    },
    "DiscoveredResourceDescription": {
      "maxLength": 500,
      "minLength": 0,
      "pattern": "^.{0,500}$",
      "type": "string"
    },
    "DiscoveredResourceList": {
      "items": {
        "$ref": "#/definitions/DiscoveredResource"
      },
      "type": "array"
    },
    "DryRun": {
      "type": "boolean"
    },
    "DryRunOperation": {},
    "HomeRegionNotSetException": {},
    "ImportMigrationTaskRequest": {
      "properties": {
        "DryRun": {
          "allOf": [
            {
              "$ref": "#/definitions/DryRun"
            },
            {
              "description": "Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call."
            }
          ]
        },
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "Unique identifier that references the migration task. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream. &gt;"
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStream",
        "MigrationTaskName"
      ],
      "title": "ImportMigrationTaskRequest",
      "type": "object"
    },
    "ImportMigrationTaskResult": {
      "properties": {},
      "type": "object"
    },
    "InternalServerError": {},
    "InvalidInputException": {},
    "LatestResourceAttributeList": {
      "items": {
        "$ref": "#/definitions/ResourceAttribute"
      },
      "maxItems": 100,
      "minItems": 0,
      "type": "array"
    },
    "ListApplicationStatesRequest": {
      "properties": {
        "ApplicationIds": {
          "allOf": [
            {
              "$ref": "#/definitions/ApplicationIds"
            },
            {
              "description": "The configurationIds from the Application Discovery Service that uniquely identifies your applications."
            }
          ]
        },
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResults"
            },
            {
              "description": "Maximum number of results to be returned per page."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>."
            }
          ]
        }
      },
      "title": "ListApplicationStatesRequest",
      "type": "object"
    },
    "ListApplicationStatesResult": {
      "properties": {
        "ApplicationStateList": {
          "allOf": [
            {
              "$ref": "#/definitions/ApplicationStateList"
            },
            {
              "description": "A list of Applications that exist in Application Discovery Service."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListCreatedArtifactsRequest": {
      "properties": {
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResultsCreatedArtifacts"
            },
            {
              "description": "Maximum number of results to be returned per page."
            }
          ]
        },
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "Unique identifier that references the migration task. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>."
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream. "
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStream",
        "MigrationTaskName"
      ],
      "title": "ListCreatedArtifactsRequest",
      "type": "object"
    },
    "ListCreatedArtifactsResult": {
      "properties": {
        "CreatedArtifactList": {
          "allOf": [
            {
              "$ref": "#/definitions/CreatedArtifactList"
            },
            {
              "description": "List of created artifacts up to the maximum number of results specified in the request."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If there are more created artifacts than the max result, return the next token to be passed to the next call as a bookmark of where to start from."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListDiscoveredResourcesRequest": {
      "properties": {
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResultsResources"
            },
            {
              "description": "The maximum number of results returned per page."
            }
          ]
        },
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "The name of the MigrationTask. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>."
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "The name of the ProgressUpdateStream."
            }
          ]
        }
      },
      "required": [
        "ProgressUpdateStream",
        "MigrationTaskName"
      ],
      "title": "ListDiscoveredResourcesRequest",
      "type": "object"
    },
    "ListDiscoveredResourcesResult": {
      "properties": {
        "DiscoveredResourceList": {
          "allOf": [
            {
              "$ref": "#/definitions/DiscoveredResourceList"
            },
            {
              "description": "Returned list of discovered resources associated with the given MigrationTask."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If there are more discovered resources than the max result, return the next token to be passed to the next call as a bookmark of where to start from."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListMigrationTasksRequest": {
      "properties": {
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResults"
            },
            {
              "description": "Value to specify how many results are returned per page."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>."
            }
          ]
        },
        "ResourceName": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceName"
            },
            {
              "description": "Filter migration tasks by discovered resource name."
            }
          ]
        }
      },
      "title": "ListMigrationTasksRequest",
      "type": "object"
    },
    "ListMigrationTasksResult": {
      "properties": {
        "MigrationTaskSummaryList": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskSummaryList"
            },
            {
              "description": "Lists the migration task's summary which includes: <code>MigrationTaskName</code>, <code>ProgressPercent</code>, <code>ProgressUpdateStream</code>, <code>Status</code>, and the <code>UpdateDateTime</code> for each task."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If there are more migration tasks than the max result, return the next token to be passed to the next call as a bookmark of where to start from."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListProgressUpdateStreamsRequest": {
      "properties": {
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResults"
            },
            {
              "description": "Filter to limit the maximum number of results to list per page."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>."
            }
          ]
        }
      },
      "title": "ListProgressUpdateStreamsRequest",
      "type": "object"
    },
    "ListProgressUpdateStreamsResult": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/Token"
            },
            {
              "description": "If there are more streams created than the max result, return the next token to be passed to the next call as a bookmark of where to start from."
            }
          ]
        },
        "ProgressUpdateStreamSummaryList": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStreamSummaryList"
            },
            {
              "description": "List of progress update streams up to the max number of results passed in the input."
            }
          ]
        }
      },
      "type": "object"
    },
    "MaxResults": {
      "maximum": 100,
      "minimum": 1,
      "type": "integer"
    },
    "MaxResultsCreatedArtifacts": {
      "maximum": 10,
      "minimum": 1,
      "type": "integer"
    },
    "MaxResultsResources": {
      "maximum": 10,
      "minimum": 1,
      "type": "integer"
    },
    "MigrationTask": {
      "description": "Represents a migration task in a migration tool.",
      "properties": {
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "Unique identifier that references the migration task. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "ProgressUpdateStream": {
          "allOf": [
            {
              "$ref": "#/definitions/ProgressUpdateStream"
            },
            {
              "description": "A name that identifies the vendor of the migration tool being used."
            }
          ]
        },
        "ResourceAttributeList": {
          "allOf": [
            {
              "$ref": "#/definitions/LatestResourceAttributeList"
            },
            {
              "description": "Information about the resource that is being migrated. This data will be used to map the task to a resource in the Application Discovery Service repository."
            }
          ]
        },
        "Task": {
          "allOf": [
            {
              "$ref": "#/definitions/Task"
            },
            {
              "description": "Task object encapsulating task information."
            }
          ]
        },
        "UpdateDateTime": {
          "allOf": [
            {
              "$ref": "#/definitions/UpdateDateTime"
            },
            {
              "description": "The timestamp when the task was gathered."
            }
          ]
        }
      },
      "type": "object"
    },
    "MigrationTaskName": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "[^:|]+",
      "type": "string"
    },
    "MigrationTaskSummary": {
      "description": "MigrationTaskSummary includes <code>MigrationTaskName</code>, <code>ProgressPercent</code>, <code>ProgressUpdateStream</code>, <code>Status</code>, and <code>UpdateDateTime</code> for each task.",
      "properties": {
        "MigrationTaskName": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTaskName"
            },
            {
              "description": "Unique identifier that references the migration task. <i>Do not store personal data in this field.</i> "
            }
          ]
        },
        "ProgressPercent": {
          "allOf": [
            {
[...]
