{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Vonage Business Cloud Support",
      "url": "https://businesssupport.vonage.com/contactus"
    },
    "description": "The Vonage Business Cloud Account API enables you to retrieve information about accounts.\n\nYour application must subscribe to the Provisioning API suite to use this API.\n",
    "termsOfService": "https://www.vonage.com/business/legal-policy-center/business-cloud/tos",
    "title": "Account API",
    "version": "1.11.8",
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/vonage-business-cloud/account.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "vonage.com",
    "x-serviceName": "account",
    "x-datafire": {
      "name": "vonage_account",
      "type": "openapi"
    }
  },
  "host": "api.vonage.com",
  "basePath": "/t/vbc.prod/provisioning",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/accounts/{account_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Vonage Business Cloud account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "number",
            "x-example": 571700
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountHalResponse"
            }
          },
          "404": {
            "description": "Account not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "AccountCtrl.getAccountServicesByAccountID",
        "summary": "Get account data by ID"
      }
    },
    "/api/accounts/{account_id}/locations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Vonage Business Cloud account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "number",
            "x-example": 571700
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationsHalResponse"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "AccountCtrl.getLocationsByAccountID",
        "summary": "Get account locations data by account ID"
      }
    },
    "/api/accounts/{account_id}/locations/{location_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Vonage Business Cloud account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "number",
            "x-example": 571700
          },
          {
            "description": "The Vonage Business Cloud location ID",
            "in": "path",
            "name": "location_id",
            "required": true,
            "type": "number",
            "x-example": 327910
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationHalResponse"
            }
          },
          "404": {
            "description": "Location not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "AccountCtrl.getLocationByID",
        "summary": "Get location data by account ID and location ID"
      }
    }
  },
  "definitions": {
    "Account": {
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "id": {
          "description": "Unique identifier of the account",
          "example": 571700,
          "type": "number"
        },
        "name": {
          "description": "Name of the account",
          "example": "Vonage",
          "type": "string"
        },
        "status": {
          "description": "Status of the account",
          "example": "ACTIVE",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountEmbeddedObject": {
      "description": "Account object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Account"
        }
      },
      "type": "object"
    },
    "AccountHalResponse": {
      "properties": {
        "_embedded": {
          "$ref": "#/definitions/AccountEmbeddedObject"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        },
        "page": {
          "description": "Current page number",
          "example": 1,
          "type": "number"
        },
        "page_size": {
          "description": "Number of records per page",
          "example": 100,
          "type": "number"
        },
        "total_items": {
          "description": "Total number of records",
          "example": 100,
          "type": "number"
        },
        "total_pages": {
          "description": "Total number of pages",
          "example": 10,
          "type": "number"
        }
      },
      "type": "object"
    },
    "Address": {
      "properties": {
        "address_1": {
          "description": "Street portion of the address",
          "example": "123 Example Street",
          "type": "string"
        },
        "address_2": {
          "description": "Additional address information",
          "example": "Apt. 456",
          "type": "string"
        },
        "city": {
          "description": "City name",
          "example": "Holmdel",
          "type": "string"
        },
        "country": {
          "description": "Country code",
          "example": "US",
          "type": "string"
        },
        "postal_code": {
          "description": "Postal code",
          "example": "07733",
          "type": "string"
        },
        "state": {
          "description": "State/Province code",
          "example": "NJ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AddressWithTimeZone": {
      "properties": {
        "address_1": {
          "description": "Street portion of the address",
          "example": "123 Example Street",
          "type": "string"
        },
        "address_2": {
          "description": "Additional address information",
          "example": "Apt. 456",
          "type": "string"
        },
        "city": {
          "description": "City name",
          "example": "Holmdel",
          "type": "string"
        },
        "country": {
          "description": "Country code",
          "example": "US",
          "type": "string"
        },
        "postal_code": {
          "description": "Postal code",
          "example": "07733",
          "type": "string"
        },
        "state": {
          "description": "State/Province code",
          "example": "NJ",
          "type": "string"
        },
        "time_zone": {
          "description": "Time zone",
          "example": "America/New York",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FirstHref": {
      "description": "URL to the first page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LastHref": {
      "description": "URL to the last page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Links": {
      "properties": {
        "first": {
          "$ref": "#/definitions/FirstHref"
        },
        "last": {
          "$ref": "#/definitions/LastHref"
        },
        "next": {
          "$ref": "#/definitions/NextHref"
        },
        "prev": {
          "$ref": "#/definitions/PrevHref"
        },
        "self": {
          "$ref": "#/definitions/SelfHref"
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "address": {
          "$ref": "#/definitions/AddressWithTimeZone"
        },
        "id": {
          "description": "Unique identifier of the location",
          "example": 327910,
          "type": "number"
        },
        "name": {
          "description": "Name of the location",
          "example": "Headquarters",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocationEmbeddedObject": {
      "description": "Location object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Location"
        }
      },
      "type": "object"
    },
    "LocationHalResponse": {
      "properties": {
        "_embedded": {
          "$ref": "#/definitions/LocationEmbeddedObject"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        },
        "page": {
          "description": "Current page number",
          "example": 1,
          "type": "number"
        },
        "page_size": {
          "description": "Number of records per page",
          "example": 100,
          "type": "number"
        },
        "total_items": {
          "description": "Total number of records",
          "example": 100,
          "type": "number"
        },
        "total_pages": {
          "description": "Total number of pages",
          "example": 10,
          "type": "number"
        }
      },
      "type": "object"
    },
    "LocationsEmbeddedObject": {
      "description": "Collection of location objects",
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/Location"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LocationsHalResponse": {
      "properties": {
        "_embedded": {
          "$ref": "#/definitions/LocationsEmbeddedObject"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        },
        "page": {
          "example": 1,
          "type": "number"
        },
        "page_size": {
          "example": 100,
          "type": "number"
        },
        "total_items": {
          "example": 100,
          "type": "number"
        },
        "total_pages": {
          "example": 10,
          "type": "number"
        }
      },
      "type": "object"
    },
    "NextHref": {
      "description": "URL to the next page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PrevHref": {
      "description": "URL to the previous page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SelfHref": {
      "description": "URL to the current page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "bearerAuth": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "x-components": {
    "parameters": {
      "AccountID": {
        "description": "The Vonage Business Cloud account ID",
        "in": "path",
        "name": "account_id",
        "required": true,
        "type": "number",
        "x-example": 571700
      }
    }
  }
}