{
  "swagger": "2.0",
  "info": {
    "description": "The missing minimalistic JSON real-time UV Index API for awesome Developers, Innovators and Smart Home Enthusiasts",
    "title": "OpenUV - Global Real-Time UV Index Forecast API",
    "version": "v1",
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://gist.githubusercontent.com/MikeRalphson/77bb693d4cf9213909527b9cc4566609/raw/9febc5d16d8d162c93f3503510ce0808a8075d5b/openuv.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "openuv.io",
    "x-datafire": {
      "name": "openuv",
      "type": "openapi"
    }
  },
  "host": "api.openuv.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/forecast": {
      "description": "Hourly UV Index Forecast",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "latitude, from -90.00 to 90.00",
            "in": "query",
            "name": "lat",
            "required": true,
            "type": "number"
          },
          {
            "description": "longitude, from -180.00 to 180.00",
            "in": "query",
            "name": "lng",
            "required": true,
            "type": "number"
          },
          {
            "description": "Altitude in meters, from 0 to 10000m, 0m by default. If provided the altitude correction factor will be applied to clear sky sea level UV Index value.",
            "in": "query",
            "name": "alt",
            "required": false,
            "type": "number"
          },
          {
            "description": "Ozone in du (Dobson Units), from 100 to 550du, the latest forecast from OMI dataset is used by default.",
            "in": "query",
            "name": "ozone",
            "required": false,
            "type": "number"
          },
          {
            "description": "UTC datetime in ISO-8601 format, now by default. Use that parameter to get UV Index Forecast for any point in time.",
            "format": "date-time",
            "in": "query",
            "name": "dt",
            "required": false,
            "type": "string"
          },
          {
            "description": "This header is used to send data that contains your OpenUV API key",
            "in": "header",
            "name": "x-access-token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "items": {
                "$ref": "#/definitions/forecastResult"
              },
              "type": "array"
            }
          }
        },
        "description": "Get hourly UV Index Forecast by location and date. Optional altitude, ozone level and datetime could be provided."
      }
    },
    "/protection": {
      "description": "Daily Protection Time",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "latitude, from -90.00 to 90.00",
            "in": "query",
            "name": "lat",
            "required": true,
            "type": "number"
          },
          {
            "description": "longitude, from -180.00 to 180.00",
            "in": "query",
            "name": "lng",
            "required": true,
            "type": "number"
          },
          {
            "description": "UV Index from value for protection datetime lookup. From 0 to 40.",
            "in": "query",
            "name": "from",
            "required": true,
            "type": "number"
          },
          {
            "description": "UV Index to value for protection datetime lookup. From 0 to 40.",
            "in": "query",
            "name": "to",
            "required": true,
            "type": "number"
          },
          {
            "description": "Altitude in meters, from 0 to 10000m, 0m by default. If provided the altitude correction factor will be applied to clear sky sea level UV Index value.",
            "in": "query",
            "name": "alt",
            "required": false,
            "type": "number"
          },
          {
            "description": "Ozone in du (Dobson Units), from 100 to 550du, the latest forecast from OMI dataset is used by default.",
            "in": "query",
            "name": "ozone",
            "required": false,
            "type": "number"
          },
          {
            "description": "This header is used to send data that contains your OpenUV API key",
            "in": "header",
            "name": "x-access-token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/protectionResult",
              "type": "object"
            }
          }
        },
        "description": "Get daily protection time by location, UV Index from and UV Index to with 10 minutes accuracy. Optional altitide and ozone level could be provided."
      }
    },
    "/uv": {
      "description": "Real-time UV Index",
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "latitude, from -90.00 to 90.00",
            "in": "query",
            "name": "lat",
            "required": true,
            "type": "number"
          },
          {
            "description": "longitude, from -180.00 to 180.00",
            "in": "query",
            "name": "lng",
            "required": true,
            "type": "number"
          },
          {
            "description": "Altitude in meters, from 0 to 10000m, 0m by default. If provided the altitude correction factor will be applied to clear sky sea level UV Index value.",
            "in": "query",
            "name": "alt",
            "required": false,
            "type": "number"
          },
          {
            "description": "Ozone in du (Dobson Units), from 100 to 550du, the latest forecast from OMI dataset is used by default.",
            "in": "query",
            "name": "ozone",
            "required": false,
            "type": "number"
          },
          {
            "description": "UTC datetime in ISO-8601 format, now by default. Use that parameter to get UV Index Forecast for any point in time.",
            "format": "date-time",
            "in": "query",
            "name": "dt",
            "required": false,
            "type": "string"
          },
          {
            "description": "This header is used to send data that contains your OpenUV API key",
            "in": "header",
            "name": "x-access-token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/uvIndexResult",
              "type": "object"
            }
          }
        },
        "description": "Get real-time UV Index by location. Optional altitude, ozone level and datetime could be provided."
      }
    }
  },
  "definitions": {
    "Error": {
      "properties": {
        "error": {
          "type": "string"
        }
      },
      "required": [
        "error"
      ],
      "type": "object"
    },
    "forecast": {
      "properties": {
        "uv": {
          "type": "number"
        },
        "uv_time": {
          "format": "date-time-only",
          "type": "string"
        }
      },
      "required": [
        "uv",
        "uv_time"
      ],
      "type": "object"
    },
    "forecastResult": {
      "items": {
        "$ref": "#/definitions/forecast"
      },
      "title": "result",
      "type": "array",
      "uniqueItems": true
    },
    "protectionResult": {
      "properties": {
        "ozone": {
          "type": "number"
        },
        "ozone_time": {
          "format": "date-time-only",
          "type": "string"
        },
        "uv": {
          "type": "number"
        },
        "uv_max": {
          "type": "number"
        },
        "uv_max_time": {
          "format": "date-time-only",
          "type": "string"
        },
        "uv_time": {
          "format": "date-time-only",
          "type": "string"
        }
      },
      "required": [
        "uv",
        "uv_time",
        "uv_max",
        "uv_max_time",
        "ozone",
        "ozone_time"
      ],
      "title": "result",
      "type": "object"
    },
    "uvIndexResult": {
      "properties": {
        "from_time": {
          "format": "date-time-only",
          "type": "string"
        },
        "from_uv": {
          "type": "number"
        },
        "to_time": {
          "format": "date-time-only",
          "type": "string"
        },
        "to_uv": {
          "type": "number"
        }
      },
      "required": [
        "from_time",
        "from_uv",
        "to_time",
        "to_uv"
      ],
      "title": "result",
      "type": "object"
    }
  },
  "x-components": {}
}