{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "int@d7networks.com",
      "name": "Emanuel",
      "url": "https://d7networks.com/",
      "x-twitter": "d7sms"
    },
    "description": "D7 SMS allows you to reach your customers via SMS over D7's own connectivity to global mobile networks. D7 provides reliable and cost-effective SMS services to businesses across all industries and aims to connect all countries and territories via direct connections.",
    "title": "D7SMS",
    "version": "1.0.2",
    "x-apisguru-categories": [
      "messaging"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_d7sms_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.swaggerhub.com/apis/Direct7Networks/D7SMS/1.0.2",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "d7networks.com",
    "x-datafire": {
      "name": "d7networks",
      "type": "openapi"
    }
  },
  "host": "rest-api.d7networks.com",
  "basePath": "/secure",
  "schemes": [
    "https"
  ],
  "paths": {
    "/balance": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {}
          }
        },
        "deprecated": false,
        "description": "Check account balance",
        "operationId": "BalanceGet",
        "summary": "Balance"
      }
    },
    "/send": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string"
          },
          {
            "description": "",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string"
          },
          {
            "description": "Message Body",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendSMSRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {}
          }
        },
        "deprecated": false,
        "description": "Send SMS  to recipients using D7 SMS Gateway",
        "operationId": "SendPost",
        "summary": "SendSMS"
      }
    },
    "/sendbatch": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string"
          },
          {
            "description": "",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string"
          },
          {
            "description": "Message Body",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkSMSRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "description": "Send Bulk SMS  to multiple recipients using D7 SMS Gateway",
        "operationId": "SendbatchPost",
        "summary": "Bulk SMS"
      }
    }
  },
  "definitions": {
    "BulkSMSRequest": {
      "description": "Bulk SMS Request",
      "example": {
        "messages": [
          {
            "content": "Same content goes to three numbers",
            "from": "SignSMS",
            "to": [
              "971562316353",
              "971562316354",
              "971562316355"
            ]
          }
        ]
      },
      "properties": {
        "messages": {
          "description": "Sendbatch message body",
          "items": {
            "$ref": "#/definitions/Message"
          },
          "type": "array"
        }
      },
      "required": [
        "messages"
      ],
      "title": "BulkSMSRequest",
      "type": "object"
    },
    "Message": {
      "description": "",
      "example": {
        "content": "Same content goes to three numbers",
        "from": "SignSMS",
        "to": [
          "971562316353",
          "971562316354",
          "971562316355"
        ]
      },
      "properties": {
        "content": {
          "type": "string"
        },
        "from": {
          "type": "string"
        },
        "to": {
          "description": "Destination Number",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "required": [
        "to",
        "content",
        "from"
      ],
      "title": "Message",
      "type": "object"
    },
    "SendSMSRequest": {
      "description": "Send SMS Request",
      "example": {
        "content": "Send single SMS Testing",
        "from": "SignSMS",
        "to": 971562316353
      },
      "properties": {
        "content": {
          "description": "Message Content",
          "type": "string"
        },
        "from": {
          "description": "Sender ID / Number",
          "type": "string"
        },
        "to": {
          "description": "Destination Mobile Number",
          "format": "int64",
          "type": "integer"
        }
      },
      "required": [
        "to",
        "from",
        "content"
      ],
      "title": "SendSMSRequest",
      "type": "object"
    }
  },
  "securityDefinitions": {
    "auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "auth": []
    }
  ],
  "tags": [],
  "x-components": {}
}