{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p/>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Kinesis Video Streams",
    "version": "2017-09-30",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisvideo-2017-09-30.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "kinesisvideo",
    "x-datafire": {
      "name": "amazonaws_kinesisvideo",
      "type": "openapi"
    }
  },
  "host": "kinesisvideo.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/ListTagsForResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "NextToken": {
                  "description": "If you specify this parameter and the result of a <code>ListTagsForResource</code> call is truncated, the response includes a token that you can use in the next request to fetch the next batch of tags. ",
                  "maxLength": 512,
                  "minLength": 0,
                  "pattern": "[a-zA-Z0-9+/=]*",
                  "type": "string"
                },
                "ResourceARN": {
                  "description": "The Amazon Resource Name (ARN) of the signaling channel for which you want to list tags.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                }
              },
              "required": [
                "ResourceARN"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "Returns a list of tags associated with the specified signaling channel.",
        "operationId": "ListTagsForResource"
      }
    },
    "/TagResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ResourceARN": {
                  "description": "The Amazon Resource Name (ARN) of the signaling channel to which you want to add tags.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "Tags": {
                  "description": "A list of tags to associate with the specified signaling channel. Each tag is a key-value pair.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "ResourceARN",
                "Tags"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagResourceOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "TagsPerResourceExceededLimitException",
            "schema": {
              "$ref": "#/definitions/TagsPerResourceExceededLimitException"
            }
          }
        },
        "description": "Adds one or more tags to a signaling channel. A <i>tag</i> is a key-value pair (the value is optional) that you can define and assign to AWS resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>.",
        "operationId": "TagResource"
      }
    },
    "/UntagResource": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ResourceARN": {
                  "description": "The Amazon Resource Name (ARN) of the signaling channel from which you want to remove tags.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "TagKeyList": {
                  "description": "A list of the keys of the tags that you want to remove.",
                  "items": {
                    "$ref": "#/definitions/TagKey"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "ResourceARN",
                "TagKeyList"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagResourceOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "Removes one or more tags from a signaling channel. In the request, specify only a tag key or keys; don't specify the value. If you specify a tag key that does not exist, it's ignored.",
        "operationId": "UntagResource"
      }
    },
    "/createSignalingChannel": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ChannelName": {
                  "description": "A name for the signaling channel that you are creating. It must be unique for each AWS account and AWS Region.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                },
                "ChannelType": {
                  "description": "A type of the signaling channel that you are creating. Currently, <code>SINGLE_MASTER</code> is the only supported channel type. ",
                  "enum": [
                    "SINGLE_MASTER"
                  ],
                  "type": "string"
                },
                "SingleMasterConfiguration": {
                  "description": "A structure that contains the configuration for the <code>SINGLE_MASTER</code> channel type.",
                  "properties": {
                    "MessageTtlSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MessageTtlSeconds"
                        },
                        {
                          "description": "The period of time a signaling channel retains underlivered messages before they are discarded."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Tags": {
                  "description": "A set of tags (key-value pairs) that you want to associate with this channel.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 50,
                  "minItems": 0,
                  "type": "array"
                }
              },
              "required": [
                "ChannelName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSignalingChannelOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "AccountChannelLimitExceededException",
            "schema": {
              "$ref": "#/definitions/AccountChannelLimitExceededException"
            }
          },
          "483": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "485": {
            "description": "TagsPerResourceExceededLimitException",
            "schema": {
              "$ref": "#/definitions/TagsPerResourceExceededLimitException"
            }
          }
        },
        "description": "<p>Creates a signaling channel. </p> <p> <code>CreateSignalingChannel</code> is an asynchronous operation.</p>",
        "operationId": "CreateSignalingChannel"
      }
    },
    "/createStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DataRetentionInHours": {
                  "description": "<p>The number of hours that you want to retain the data in the stream. Kinesis Video Streams retains the data in a data store that is associated with the stream.</p> <p>The default value is 0, indicating that the stream does not persist data.</p> <p>When the <code>DataRetentionInHours</code> value is 0, consumers can still consume the fragments that remain in the service host buffer, which has a retention time limit of 5 minutes and a retention memory limit of 200 MB. Fragments are removed from the buffer when either limit is reached.</p>",
                  "minimum": 0,
                  "type": "integer"
                },
                "DeviceName": {
                  "description": "<p>The name of the device that is writing to the stream. </p> <note> <p>In the current implementation, Kinesis Video Streams does not use this name.</p> </note>",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                },
                "KmsKeyId": {
                  "description": "<p>The ID of the AWS Key Management Service (AWS KMS) key that you want Kinesis Video Streams to use to encrypt stream data.</p> <p>If no key ID is specified, the default, Kinesis Video-managed key (<code>aws/kinesisvideo</code>) is used.</p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">DescribeKey</a>. </p>",
                  "maxLength": 2048,
                  "minLength": 1,
                  "pattern": ".+",
                  "type": "string"
                },
                "MediaType": {
                  "description": "<p>The media type of the stream. Consumers of the stream can use this information when processing the stream. For more information about media types, see <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media Types</a>. If you choose to specify the <code>MediaType</code>, see <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming Requirements</a> for guidelines.</p> <p>Example valid values include \"video/h264\" and \"video/h264,audio/aac\".</p> <p>This parameter is optional; the default value is <code>null</code> (or empty in JSON).</p>",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+(,[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+)*",
                  "type": "string"
                },
                "StreamName": {
                  "description": "<p>A name for the stream that you are creating.</p> <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A list of tags to associate with the specified stream. Each tag is a key-value pair (the value is optional).",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "StreamName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateStreamOutput"
            }
          },
          "480": {
            "description": "AccountStreamLimitExceededException",
            "schema": {
              "$ref": "#/definitions/AccountStreamLimitExceededException"
            }
          },
          "481": {
            "description": "DeviceStreamLimitExceededException",
            "schema": {
              "$ref": "#/definitions/DeviceStreamLimitExceededException"
            }
          },
          "482": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "483": {
            "description": "InvalidDeviceException",
            "schema": {
              "$ref": "#/definitions/InvalidDeviceException"
            }
          },
          "484": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "485": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "486": {
            "description": "TagsPerResourceExceededLimitException",
            "schema": {
              "$ref": "#/definitions/TagsPerResourceExceededLimitException"
            }
          }
        },
        "description": "<p>Creates a new Kinesis video stream. </p> <p>When you create a new stream, Kinesis Video Streams assigns it a version number. When you change the stream's metadata, Kinesis Video Streams updates the version. </p> <p> <code>CreateStream</code> is an asynchronous operation.</p> <p>For information about how the service works, see <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-it-works.html\">How it Works</a>. </p> <p>You must have permissions for the <code>KinesisVideo:CreateStream</code> action.</p>",
        "operationId": "CreateStream"
      }
    },
    "/deleteSignalingChannel": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ChannelARN": {
                  "description": "The Amazon Resource Name (ARN) of the signaling channel that you want to delete.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "CurrentVersion": {
                  "description": "The current version of the signaling channel that you want to delete. You can obtain the current version by invoking the <code>DescribeSignalingChannel</code> or <code>ListSignalingChannels</code> API operations.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9]+",
                  "type": "string"
                }
              },
              "required": [
                "ChannelARN"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteSignalingChannelOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "VersionMismatchException",
            "schema": {
              "$ref": "#/definitions/VersionMismatchException"
            }
          },
          "485": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "Deletes a specified signaling channel. <code>DeleteSignalingChannel</code> is an asynchronous operation. If you don't specify the channel's current version, the most recent version is deleted.",
        "operationId": "DeleteSignalingChannel"
      }
    },
    "/deleteStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "CurrentVersion": {
                  "description": "<p>Optional: The version of the stream that you want to delete. </p> <p>Specify the version as a safeguard to ensure that your are deleting the correct stream. To get the stream version, use the <code>DescribeStream</code> API.</p> <p>If not specified, only the <code>CreationTime</code> is checked before deleting the stream.</p>",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9]+",
                  "type": "string"
                },
                "StreamARN": {
                  "description": "The Amazon Resource Name (ARN) of the stream that you want to delete. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                }
              },
              "required": [
                "StreamARN"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteStreamOutput"
            }
          },
          "480": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          },
          "484": {
            "description": "VersionMismatchException",
            "schema": {
              "$ref": "#/definitions/VersionMismatchException"
            }
          },
          "485": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          }
        },
        "description": "<p>Deletes a Kinesis video stream and the data contained in the stream. </p> <p>This method marks the stream for deletion, and makes the data in the stream inaccessible immediately.</p> <p> </p> <p> To ensure that you have the latest version of the stream before deleting it, you can specify the stream version. Kinesis Video Streams assigns a version to each stream. When you update a stream, Kinesis Video Streams assigns a new version number. To get the latest stream version, use the <code>DescribeStream</code> API. </p> <p>This operation requires permission for the <code>KinesisVideo:DeleteStream</code> action.</p>",
        "operationId": "DeleteStream"
      }
    },
    "/describeSignalingChannel": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ChannelARN": {
                  "description": "The ARN of the signaling channel that you want to describe.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "ChannelName": {
                  "description": "The name of the signaling channel that you want to describe.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeSignalingChannelOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "Returns the most current information about the signaling channel. You must specify either the name or the Amazon Resource Name (ARN) of the channel that you want to describe.",
        "operationId": "DescribeSignalingChannel"
      }
    },
    "/describeStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "StreamARN": {
                  "description": "The Amazon Resource Name (ARN) of the stream.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "StreamName": {
                  "description": "The name of the stream.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeStreamOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "483": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          }
        },
        "description": "Returns the most current information about the specified stream. You must specify either the <code>StreamName</code> or the <code>StreamARN</code>. ",
        "operationId": "DescribeStream"
      }
    },
    "/getDataEndpoint": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "APIName": {
                  "description": "The name of the API action for which to get an endpoint.",
                  "enum": [
                    "PUT_MEDIA",
                    "GET_MEDIA",
                    "LIST_FRAGMENTS",
                    "GET_MEDIA_FOR_FRAGMENT_LIST",
                    "GET_HLS_STREAMING_SESSION_URL",
                    "GET_DASH_STREAMING_SESSION_URL",
                    "GET_CLIP"
                  ],
                  "type": "string"
                },
                "StreamARN": {
                  "description": "The Amazon Resource Name (ARN) of the stream that you want to get the endpoint for. You must specify either this parameter or a <code>StreamName</code> in the request. ",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "StreamName": {
                  "description": "The name of the stream that you want to get the endpoint for. You must specify either this parameter or a <code>StreamARN</code> in the request.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                }
              },
              "required": [
                "APIName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataEndpointOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "483": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          }
        },
        "description": "<p>Gets an endpoint for a specified stream for either reading or writing. Use this endpoint in your application to read from the specified stream (using the <code>GetMedia</code> or <code>GetMediaForFragmentList</code> operations) or write to it (using the <code>PutMedia</code> operation). </p> <note> <p>The returned endpoint does not have the API name appended. The client needs to add the API name to the returned endpoint.</p> </note> <p>In the request, specify the stream either by <code>StreamName</code> or <code>StreamARN</code>.</p>",
        "operationId": "GetDataEndpoint"
      }
    },
    "/getSignalingChannelEndpoint": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ChannelARN": {
                  "description": "The Amazon Resource Name (ARN) of the signalling channel for which you want to get an endpoint.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "SingleMasterChannelEndpointConfiguration": {
                  "description": "An object that contains the endpoint configuration for the <code>SINGLE_MASTER</code> channel type. ",
                  "properties": {
                    "Protocols": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ListOfProtocols"
                        },
                        {
                          "description": "This property is used to determine the nature of communication over this <code>SINGLE_MASTER</code> signaling channel. If <code>WSS</code> is specified, this API returns a websocket endpoint. If <code>HTTPS</code> is specified, this API returns an <code>HTTPS</code> endpoint."
                        }
                      ]
                    },
                    "Role": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ChannelRole"
                        },
                        {
                          "description": "This property is used to determine messaging permissions in this <code>SINGLE_MASTER</code> signaling channel. If <code>MASTER</code> is specified, this API returns an endpoint that a client can use to receive offers from and send answers to any of the viewers on this signaling channel. If <code>VIEWER</code> is specified, this API returns an endpoint that a client can use only to send offers to another <code>MASTER</code> client on this signaling channel. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "ChannelARN"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSignalingChannelEndpointOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "<p>Provides an endpoint for the specified signaling channel to send and receive messages. This API uses the <code>SingleMasterChannelEndpointConfiguration</code> input parameter, which consists of the <code>Protocols</code> and <code>Role</code> properties.</p> <p> <code>Protocols</code> is used to determine the communication mechanism. For example, if you specify <code>WSS</code> as the protocol, this API produces a secure websocket endpoint. If you specify <code>HTTPS</code> as the protocol, this API generates an HTTPS endpoint. </p> <p> <code>Role</code> determines the messaging permissions. A <code>MASTER</code> role results in this API generating an endpoint that a client can use to communicate with any of the viewers on the channel. A <code>VIEWER</code> role results in this API generating an endpoint that a client can use to communicate only with a <code>MASTER</code>. </p>",
        "operationId": "GetSignalingChannelEndpoint"
      }
    },
    "/listSignalingChannels": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ChannelNameCondition": {
                  "description": "An optional input parameter for the <code>ListSignalingChannels</code> API. When this parameter is specified while invoking <code>ListSignalingChannels</code>, the API returns only the channels that satisfy a condition specified in <code>ChannelNameCondition</code>.",
                  "properties": {
                    "ComparisonOperator": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ComparisonOperator"
                        },
                        {
                          "description": "A comparison operator. Currently, you can only specify the <code>BEGINS_WITH</code> operator, which finds signaling channels whose names begin with a given prefix."
                        }
                      ]
                    },
                    "ComparisonValue": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ChannelName"
                        },
                        {
                          "description": "A value to compare."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "MaxResults": {
                  "description": "The maximum number of channels to return in the response. The default is 500.",
                  "maximum": 10000,
                  "minimum": 1,
                  "type": "integer"
                },
                "NextToken": {
                  "description": "If you specify this parameter, when the result of a <code>ListSignalingChannels</code> operation is truncated, the call returns the <code>NextToken</code> in the response. To get another batch of channels, provide this token in your next request.",
                  "maxLength": 512,
                  "minLength": 0,
                  "pattern": "[a-zA-Z0-9+/=]*",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListSignalingChannelsOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": "Returns an array of <code>ChannelInfo</code> objects. Each object describes a signaling channel. To retrieve only those channels that satisfy a specific condition, you can specify a <code>ChannelNameCondition</code>.",
        "operationId": "ListSignalingChannels"
      }
    },
    "/listStreams": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "MaxResults": {
                  "description": "The maximum number of streams to return in the response. The default is 10,000.",
                  "maximum": 10000,
                  "minimum": 1,
                  "type": "integer"
                },
                "NextToken": {
                  "description": "If you specify this parameter, when the result of a <code>ListStreams</code> operation is truncated, the call returns the <code>NextToken</code> in the response. To get another batch of streams, provide this token in your next request.",
                  "maxLength": 512,
                  "minLength": 0,
                  "pattern": "[a-zA-Z0-9+/=]*",
                  "type": "string"
                },
                "StreamNameCondition": {
                  "description": "Specifies the condition that streams must satisfy to be returned when you list streams (see the <code>ListStreams</code> API). A condition has a comparison operation and a value. Currently, you can specify only the <code>BEGINS_WITH</code> operator, which finds streams whose names start with a given prefix. ",
                  "properties": {
                    "ComparisonOperator": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ComparisonOperator"
                        },
                        {
                          "description": "A comparison operator. Currently, you can specify only the <code>BEGINS_WITH</code> operator, which finds streams whose names start with a given prefix."
                        }
                      ]
                    },
                    "ComparisonValue": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamName"
                        },
                        {
                          "description": "A value to compare."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListStreamsOutput"
            }
          },
          "480": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          }
        },
        "description": "Returns an array of <code>StreamInfo</code> objects. Each object describes a stream. To retrieve only streams that satisfy a specific condition, you can specify a <code>StreamNameCondition</code>. ",
        "operationId": "ListStreams"
      }
    },
    "/listTagsForStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "NextToken": {
                  "description": "If you specify this parameter and the result of a <code>ListTagsForStream</code> call is truncated, the response includes a token that you can use in the next request to fetch the next batch of tags.",
                  "maxLength": 512,
                  "minLength": 0,
                  "pattern": "[a-zA-Z0-9+/=]*",
                  "type": "string"
                },
                "StreamARN": {
                  "description": "The Amazon Resource Name (ARN) of the stream that you want to list tags for.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "StreamName": {
                  "description": "The name of the stream that you want to list tags for.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForStreamOutput"
            }
          },
          "480": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          },
          "484": {
            "description": "InvalidResourceFormatException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceFormatException"
            }
          }
        },
        "description": "<p>Returns a list of tags associated with the specified stream.</p> <p>In the request, you must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p>",
        "operationId": "ListTagsForStream"
      }
    },
    "/tagStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "StreamARN": {
                  "description": "The Amazon Resource Name (ARN) of the resource that you want to add the tag or tags to.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "StreamName": {
                  "description": "The name of the stream that you want to add the tag or tags to.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "A list of tags to associate with the specified stream. Each tag is a key-value pair (the value is optional).",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "Tags"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagStreamOutput"
            }
          },
          "480": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          },
          "484": {
            "description": "InvalidResourceFormatException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceFormatException"
            }
          },
          "485": {
            "description": "TagsPerResourceExceededLimitException",
            "schema": {
              "$ref": "#/definitions/TagsPerResourceExceededLimitException"
            }
          }
        },
        "description": "<p>Adds one or more tags to a stream. A <i>tag</i> is a key-value pair (the value is optional) that you can define and assign to AWS resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p> <p>You must provide either the <code>StreamName</code> or the <code>StreamARN</code>.</p> <p>This operation requires permission for the <code>KinesisVideo:TagStream</code> action.</p> <p>Kinesis video streams support up to 50 tags.</p>",
        "operationId": "TagStream"
      }
    },
    "/untagStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "StreamARN": {
                  "description": "The Amazon Resource Name (ARN) of the stream that you want to remove tags from.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "StreamName": {
                  "description": "The name of the stream that you want to remove tags from.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                },
                "TagKeyList": {
                  "description": "A list of the keys of the tags that you want to remove.",
                  "items": {
                    "$ref": "#/definitions/TagKey"
                  },
                  "maxItems": 50,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "TagKeyList"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagStreamOutput"
            }
          },
          "480": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          },
          "484": {
            "description": "InvalidResourceFormatException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceFormatException"
            }
          }
        },
        "description": "<p>Removes one or more tags from a stream. In the request, specify only a tag key or keys; don't specify the value. If you specify a tag key that does not exist, it's ignored.</p> <p>In the request, you must provide the <code>StreamName</code> or <code>StreamARN</code>.</p>",
        "operationId": "UntagStream"
      }
    },
    "/updateDataRetention": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "CurrentVersion": {
                  "description": "The version of the stream whose retention period you want to change. To get the version, call either the <code>DescribeStream</code> or the <code>ListStreams</code> API.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9]+",
                  "type": "string"
                },
                "DataRetentionChangeInHours": {
                  "description": "The retention period, in hours. The value you specify replaces the current value. The maximum value for this parameter is 87600 (ten years).",
                  "minimum": 1,
                  "type": "integer"
                },
                "Operation": {
                  "description": "Indicates whether you want to increase or decrease the retention period.",
                  "enum": [
                    "INCREASE_DATA_RETENTION",
                    "DECREASE_DATA_RETENTION"
                  ],
                  "type": "string"
                },
                "StreamARN": {
                  "description": "The Amazon Resource Name (ARN) of the stream whose retention period you want to change.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "StreamName": {
                  "description": "The name of the stream whose retention period you want to change.",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                }
              },
              "required": [
                "CurrentVersion",
                "Operation",
                "DataRetentionChangeInHours"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDataRetentionOutput"
            }
          },
          "480": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "484": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          },
          "485": {
            "description": "VersionMismatchException",
            "schema": {
              "$ref": "#/definitions/VersionMismatchException"
            }
          }
        },
        "description": "<p> Increases or decreases the stream's data retention period by the value that you specify. To indicate whether you want to increase or decrease the data retention period, specify the <code>Operation</code> parameter in the request body. In the request, you must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p> <note> <p>The retention period that you specify replaces the current value.</p> </note> <p>This operation requires permission for the <code>KinesisVideo:UpdateDataRetention</code> action.</p> <p>Changing the data retention period affects the data in the stream as follows:</p> <ul> <li> <p>If the data retention period is increased, existing data is retained for the new retention period. For example, if the data retention period is increased from one hour to seven hours, all existing data is retained for seven hours.</p> </li> <li> <p>If the data retention period is decreased, existing data is retained for the new retention period. For example, if the data retention period is decreased from seven hours to one hour, all existing data is retained for one hour, and any data older than one hour is deleted immediately.</p> </li> </ul>",
        "operationId": "UpdateDataRetention"
      }
    },
    "/updateSignalingChannel": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ChannelARN": {
                  "description": "The Amazon Resource Name (ARN) of the signaling channel that you want to update.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "CurrentVersion": {
                  "description": "The current version of the signaling channel that you want to update.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9]+",
                  "type": "string"
                },
                "SingleMasterConfiguration": {
                  "description": "A structure that contains the configuration for the <code>SINGLE_MASTER</code> channel type.",
                  "properties": {
                    "MessageTtlSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MessageTtlSeconds"
                        },
                        {
                          "description": "The period of time a signaling channel retains underlivered messages before they are discarded."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "ChannelARN",
                "CurrentVersion"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateSignalingChannelOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "485": {
            "description": "VersionMismatchException",
            "schema": {
              "$ref": "#/definitions/VersionMismatchException"
            }
          }
        },
        "description": "<p>Updates the existing signaling channel. This is an asynchronous operation and takes time to complete. </p> <p>If the <code>MessageTtlSeconds</code> value is updated (either increased or reduced), it only applies to new messages sent via this channel after it's been updated. Existing messages are still expired as per the previous <code>MessageTtlSeconds</code> value.</p>",
        "operationId": "UpdateSignalingChannel"
      }
    },
    "/updateStream": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "CurrentVersion": {
                  "description": "The version of the stream whose metadata you want to update.",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9]+",
                  "type": "string"
                },
                "DeviceName": {
                  "description": "<p>The name of the device that is writing to the stream. </p> <note> <p> In the current implementation, Kinesis Video Streams does not use this name. </p> </note>",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                },
                "MediaType": {
                  "description": "<p>The stream's media type. Use <code>MediaType</code> to specify the type of content that the stream contains to the consumers of the stream. For more information about media types, see <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media Types</a>. If you choose to specify the <code>MediaType</code>, see <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming Requirements</a>.</p> <p>To play video on the console, you must specify the correct video type. For example, if the video in the stream is H.264, specify <code>video/h264</code> as the <code>MediaType</code>.</p>",
                  "maxLength": 128,
                  "minLength": 1,
                  "pattern": "[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+(,[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+)*",
                  "type": "string"
                },
                "StreamARN": {
                  "description": "The ARN of the stream whose metadata you want to update.",
                  "maxLength": 1024,
                  "minLength": 1,
                  "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+",
                  "type": "string"
                },
                "StreamName": {
                  "description": "<p>The name of the stream whose metadata you want to update.</p> <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>",
                  "maxLength": 256,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9_.-]+",
                  "type": "string"
                }
              },
              "required": [
                "CurrentVersion"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateStreamOutput"
            }
          },
          "480": {
            "description": "ClientLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClientLimitExceededException"
            }
          },
          "481": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "484": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          },
          "485": {
            "description": "VersionMismatchException",
            "schema": {
              "$ref": "#/definitions/VersionMismatchException"
            }
          }
        },
        "description": "<p>Updates stream metadata, such as the device name and media type.</p> <p>You must provide the stream name or the Amazon Resource Name (ARN) of the stream.</p> <p>To make sure that you have the latest version of the stream before updating it, you can specify the stream version. Kinesis Video Streams assigns a version to each stream. When you update a stream, Kinesis Video Streams assigns a new version number. To get the latest stream version, use the <code>DescribeStream</code> API. </p> <p> <code>UpdateStream</code> is an asynchronous operation, and takes time to complete.</p>",
        "operationId": "UpdateStream"
      }
    }
  },
  "definitions": {
    "APIName": {
      "enum": [
        "PUT_MEDIA",
        "GET_MEDIA",
        "LIST_FRAGMENTS",
        "GET_MEDIA_FOR_FRAGMENT_LIST",
        "GET_HLS_STREAMING_SESSION_URL",
        "GET_DASH_STREAMING_SESSION_URL",
        "GET_CLIP"
      ],
      "type": "string"
    },
    "AccessDeniedException": {},
    "AccountChannelLimitExceededException": {},
    "AccountStreamLimitExceededException": {},
    "ChannelInfo": {
      "description": "A structure that encapsulates a signaling channel's metadata and properties.",
      "properties": {
        "ChannelARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceARN"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the signaling channel."
            }
          ]
        },
        "ChannelName": {
          "allOf": [
            {
              "$ref": "#/definitions/ChannelName"
            },
            {
              "description": "The name of the signaling channel."
            }
          ]
        },
        "ChannelStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/Status"
            },
            {
              "description": "Current status of the signaling channel."
            }
          ]
        },
        "ChannelType": {
          "allOf": [
            {
              "$ref": "#/definitions/ChannelType"
            },
            {
              "description": "The type of the signaling channel."
            }
          ]
        },
        "CreationTime": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The time at which the signaling channel was created."
            }
          ]
        },
        "SingleMasterConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/SingleMasterConfiguration"
            },
            {
              "description": "A structure that contains the configuration for the <code>SINGLE_MASTER</code> channel type."
            }
          ]
        },
        "Version": {
          "allOf": [
            {
              "$ref": "#/definitions/Version"
            },
            {
              "description": "The current version of the signaling channel."
            }
          ]
        }
      },
      "type": "object"
    },
    "ChannelInfoList": {
      "items": {
        "$ref": "#/definitions/ChannelInfo"
      },
      "type": "array"
    },
    "ChannelName": {
      "maxLength": 256,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "ChannelNameCondition": {
      "description": "An optional input parameter for the <code>ListSignalingChannels</code> API. When this parameter is specified while invoking <code>ListSignalingChannels</code>, the API returns only the channels that satisfy a condition specified in <code>ChannelNameCondition</code>.",
      "properties": {
        "ComparisonOperator": {
          "allOf": [
            {
              "$ref": "#/definitions/ComparisonOperator"
            },
            {
              "description": "A comparison operator. Currently, you can only specify the <code>BEGINS_WITH</code> operator, which finds signaling channels whose names begin with a given prefix."
            }
          ]
        },
        "ComparisonValue": {
          "allOf": [
            {
              "$ref": "#/definitions/ChannelName"
            },
            {
              "description": "A value to compare."
            }
          ]
        }
      },
      "type": "object"
    },
    "ChannelProtocol": {
      "enum": [
        "WSS",
        "HTTPS"
      ],
      "type": "string"
    },
    "ChannelRole": {
      "enum": [
        "MASTER",
        "VIEWER"
      ],
      "type": "string"
    },
    "ChannelType": {
      "enum": [
        "SINGLE_MASTER"
      ],
      "type": "string"
    },
    "ClientLimitExceededException": {},
    "ComparisonOperator": {
      "enum": [
        "BEGINS_WITH"
      ],
      "type": "string"
    },
    "CreateSignalingChannelInput": {
      "properties": {
        "ChannelName": {
          "allOf": [
            {
              "$ref": "#/definitions/ChannelName"
            },
            {
              "description": "A name for the signaling channel that you are creating. It must be unique for each AWS account and AWS Region."
            }
          ]
        },
        "ChannelType": {
          "allOf": [
            {
              "$ref": "#/definitions/ChannelType"
            },
            {
              "description": "A type of the signaling channel that you are creating. Currently, <code>SINGLE_MASTER</code> is the only supported channel type. "
            }
          ]
        },
        "SingleMasterConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/SingleMasterConfiguration"
            },
            {
              "description": "A structure containing the configuration for the <code>SINGLE_MASTER</code> channel type. "
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagOnCreateList"
            },
            {
              "description": "A set of tags (key-value pairs) that you want to associate with this channel."
            }
          ]
        }
      },
      "required": [
        "ChannelName"
      ],
      "title": "CreateSignalingChannelInput",
      "type": "object"
    },
    "CreateSignalingChannelOutput": {
      "properties": {
        "ChannelARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceARN"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the created channel."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateStreamInput": {
      "properties": {
        "DataRetentionInHours": {
          "allOf": [
            {
              "$ref": "#/definitions/DataRetentionInHours"
            },
            {
              "description": "<p>The number of hours that you want to retain the data in the stream. Kinesis Video Streams retains the data in a data store that is associated with the stream.</p> <p>The default value is 0, indicating that the stream does not persist data.</p> <p>When the <code>DataRetentionInHours</code> value is 0, consumers can still consume the fragments that remain in the service host buffer, which has a retention time limit of 5 minutes and a retention memory limit of 200 MB. Fragments are removed from the buffer when either limit is reached.</p>"
            }
          ]
        },
        "DeviceName": {
          "allOf": [
            {
              "$ref": "#/definitions/DeviceName"
            },
            {
              "description": "<p>The name of the device that is writing to the stream. </p> <note> <p>In the current implementation, Kinesis Video Streams does not use this name.</p> </note>"
            }
          ]
        },
        "KmsKeyId": {
          "allOf": [
            {
              "$ref": "#/definitions/KmsKeyId"
            },
            {
              "description": "<p>The ID of the AWS Key Management Service (AWS KMS) key that you want Kinesis Video Streams to use to encrypt stream data.</p> <p>If no key ID is specified, the default, Kinesis Video-managed key (<code>aws/kinesisvideo</code>) is used.</p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">DescribeKey</a>. </p>"
            }
          ]
        },
        "MediaType": {
          "allOf": [
            {
              "$ref": "#/definitions/MediaType"
            },
            {
              "description": "<p>The media type of the stream. Consumers of the stream can use this information when processing the stream. For more information about media types, see <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media Types</a>. If you choose to specify the <code>MediaType</code>, see <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming Requirements</a> for guidelines.</p> <p>Example valid values include \"video/h264\" and \"video/h264,audio/aac\".</p> <p>This parameter is optional; the default value is <code>null</code> (or empty in JSON).</p>"
            }
          ]
        },
        "StreamName": {
          "allOf": [
            {
              "$ref": "#/definitions/StreamName"
            },
            {
              "description": "<p>A name for the stream that you are creating.</p> <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>"
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceTags"
            },
            {
              "description": "A list of tags to associate with the specified stream. Each tag is a key-value pair (the value is optional)."
            }
          ]
        }
      },
      "required": [
        "StreamName"
      ],
      "title": "CreateStreamInput",
      "type": "object"
    },
    "CreateStreamOutput": {
      "properties": {
        "StreamARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceARN"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the stream."
            }
          ]
        }
      },
      "type": "object"
    },
    "DataEndpoint": {
      "type": "string"
    },
    "DataRetentionChangeInHours": {
      "minimum": 1,
      "type": "integer"
    },
    "DataRetentionInHours": {
      "minimum": 0,
      "type": "integer"
    },
    "DeleteSignalingChannelInput": {
      "properties": {
        "ChannelARN": {
          "allOf": [
            {
              "$ref": "#/definitions/ResourceARN"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the signaling channel that you want to delete."
            }
          ]
        },
        "CurrentVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/Version"
            },
            {
              "description": "The current version of the signaling channel that you want to delete. You can obtain the current version by invoking the <code>DescribeSignalingChannel</code> or <code>ListSignalingChannels</code> API operations."
            }
          ]
        }
      },
      "required": [
        "ChannelARN"
      ],
      "title": "DeleteSignalingChannelInput",
      "type": "object"
    },
    "DeleteSignalingChannelOutput": {
      "properties": {},
      "type": "object"
    },
    "DeleteStreamInput": {
      "properties": {
        "CurrentVersion": {
          "allOf": [
            {
              "$ref": "#/definitions/Version"
            },
            {
[...]
