{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "form_api"
    },
    "description": "DocSpring is a service that helps you fill out and sign PDF templates.",
    "title": "API v1",
    "version": "v1",
    "x-apisguru-categories": [
      "text"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_getdocspring_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://docspring.com/api-docs/v1/swagger.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "formapi.io",
    "x-datafire": {
      "name": "formapi",
      "type": "openapi"
    }
  },
  "host": "api.docspring.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/authentication": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "authentication succeeded",
            "schema": {
              "properties": {
                "status": {
                  "enum": [
                    "success"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status"
              ],
              "title": "authentication_success_response",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "testAuthentication",
        "summary": "Test Authentication"
      }
    },
    "/combined_submissions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "expires_in": 300,
                "metadata": {
                  "bar": "baz",
                  "foo": 123
                },
                "submission_ids": [
                  "sub_000000000000000001",
                  "sub_000000000000000002"
                ]
              },
              "properties": {
                "expires_in": {
                  "type": "integer"
                },
                "metadata": {
                  "type": "object"
                },
                "submission_ids": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "test": {
                  "type": "boolean"
                }
              },
              "required": [
                "submission_ids"
              ],
              "title": "combined_submission_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "combined submission created",
            "schema": {
              "properties": {
                "combined_submission": {
                  "properties": {
                    "actions": {
                      "items": {
                        "$ref": "#/definitions/combined_submission_action"
                      },
                      "type": "array"
                    },
                    "download_url": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "expired": {
                      "type": "boolean"
                    },
                    "expires_at": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "id": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "pdf_hash": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "source_pdfs": {
                      "items": {},
                      "type": "array"
                    },
                    "state": {
                      "enum": [
                        "pending",
                        "processed",
                        "error"
                      ],
                      "type": "string"
                    },
                    "submission_ids": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "id",
                    "state",
                    "expired",
                    "submission_ids",
                    "source_pdfs"
                  ],
                  "title": "combined_submission",
                  "type": "object"
                },
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status",
                "combined_submission"
              ],
              "title": "create_combined_submission_response",
              "type": "object"
            }
          },
          "400": {
            "description": "invalid JSON",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "422": {
            "description": "invalid request",
            "schema": {
              "$ref": "#/definitions/invalid_request"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "combineSubmissions",
        "summary": "Merge generated PDFs together"
      }
    },
    "/combined_submissions/{combined_submission_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "combined_submission_id",
            "required": true,
            "type": "string",
            "x-example": "com_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "submission was expired",
            "schema": {
              "properties": {
                "actions": {
                  "items": {
                    "$ref": "#/definitions/combined_submission_action"
                  },
                  "type": "array"
                },
                "download_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "expired": {
                  "type": "boolean"
                },
                "expires_at": {
                  "type": "string",
                  "x-nullable": true
                },
                "id": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                },
                "pdf_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "source_pdfs": {
                  "items": {},
                  "type": "array"
                },
                "state": {
                  "enum": [
                    "pending",
                    "processed",
                    "error"
                  ],
                  "type": "string"
                },
                "submission_ids": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "id",
                "state",
                "expired",
                "submission_ids",
                "source_pdfs"
              ],
              "title": "combined_submission",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "403": {
            "description": "test API token used",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "combined submission not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "expireCombinedSubmission",
        "summary": "Expire a combined submission"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "combined_submission_id",
            "required": true,
            "type": "string",
            "x-example": "com_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "processed combined submission found",
            "schema": {
              "properties": {
                "actions": {
                  "items": {
                    "$ref": "#/definitions/combined_submission_action"
                  },
                  "type": "array"
                },
                "download_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "expired": {
                  "type": "boolean"
                },
                "expires_at": {
                  "type": "string",
                  "x-nullable": true
                },
                "id": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                },
                "pdf_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "source_pdfs": {
                  "items": {},
                  "type": "array"
                },
                "state": {
                  "enum": [
                    "pending",
                    "processed",
                    "error"
                  ],
                  "type": "string"
                },
                "submission_ids": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "id",
                "state",
                "expired",
                "submission_ids",
                "source_pdfs"
              ],
              "title": "combined_submission",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "combined submission not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "getCombinedSubmission",
        "summary": "Check the status of a combined submission (merged PDFs)"
      }
    },
    "/combined_submissions?v=2": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "example": {
                "delete_custom_files": true,
                "expires_in": 300,
                "metadata": {
                  "bar": "baz",
                  "foo": 123
                },
                "source_pdfs": [
                  {
                    "id": "sub_000000000000000001",
                    "type": "submission"
                  },
                  {
                    "id": "tpl_000000000000000001",
                    "type": "template"
                  },
                  {
                    "id": "sub_000000000000000002",
                    "type": "submission"
                  },
                  {
                    "id": "cfi_0000000000000000000000001",
                    "type": "custom_file"
                  },
                  {
                    "id": "com_000000000000000001",
                    "type": "combined_submission"
                  },
                  {
                    "type": "url",
                    "url": "http://example.com/test-pdf.pdf"
                  }
                ]
              },
              "properties": {
                "delete_custom_files": {
                  "type": "boolean"
                },
                "expires_in": {
                  "type": "integer"
                },
                "metadata": {
                  "type": "object"
                },
                "source_pdfs": {
                  "items": {},
                  "type": "array"
                },
                "test": {
                  "type": "boolean"
                }
              },
              "required": [
                "source_pdfs"
              ],
              "title": "combine_pdfs_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "combined submission created",
            "schema": {
              "properties": {
                "combined_submission": {
                  "properties": {
                    "actions": {
                      "items": {
                        "$ref": "#/definitions/combined_submission_action"
                      },
                      "type": "array"
                    },
                    "download_url": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "expired": {
                      "type": "boolean"
                    },
                    "expires_at": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "id": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "pdf_hash": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "source_pdfs": {
                      "items": {},
                      "type": "array"
                    },
                    "state": {
                      "enum": [
                        "pending",
                        "processed",
                        "error"
                      ],
                      "type": "string"
                    },
                    "submission_ids": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "id",
                    "state",
                    "expired",
                    "submission_ids",
                    "source_pdfs"
                  ],
                  "title": "combined_submission",
                  "type": "object"
                },
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status",
                "combined_submission"
              ],
              "title": "create_combined_submission_response",
              "type": "object"
            }
          },
          "400": {
            "description": "invalid JSON",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "422": {
            "description": "invalid request",
            "schema": {
              "$ref": "#/definitions/invalid_request"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "combinePdfs",
        "summary": "Merge submission PDFs, template PDFs, or custom files"
      }
    },
    "/custom_files": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "additionalProperties": false,
              "example": {
                "cache_id": "00000000000000001.pdf"
              },
              "properties": {
                "cache_id": {
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "cache_id"
              ],
              "title": "create_custom_file_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "returns the custom file",
            "schema": {
              "properties": {
                "custom_file": {
                  "additionalProperties": false,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "url"
                  ],
                  "title": "custom_file",
                  "type": "object"
                },
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status",
                "custom_file"
              ],
              "title": "create_custom_file_response",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "createCustomFileFromUpload",
        "summary": "Create a new custom file from a cached presign upload"
      }
    },
    "/data_requests/{data_request_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "data_request_id",
            "required": true,
            "type": "string",
            "x-example": "drq_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "completed submission data request found",
            "schema": {
              "$ref": "#/definitions/submission_data_request"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "submission data request not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "getDataRequest",
        "summary": "Look up a submission data request"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "data_request_id",
            "required": true,
            "type": "string",
            "x-example": "drq_000000000000000001"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "auth_provider": "google",
                "auth_session_id_hash": "8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92",
                "auth_session_started_at": "2018-10-23 09:00:00 -0400",
                "auth_type": "oauth",
                "metadata": {
                  "user_id": 123
                }
              },
              "properties": {
                "auth_phone_number_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_provider": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_second_factor_type": {
                  "enum": [
                    "none",
                    "phone_number",
                    "totp",
                    "mobile_push",
                    "security_key",
                    "fingerprint"
                  ],
                  "type": "string"
                },
                "auth_session_id_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_session_started_at": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_type": {
                  "enum": [
                    "none",
                    "password",
                    "oauth",
                    "email_link",
                    "phone_number",
                    "ldap",
                    "saml"
                  ],
                  "type": "string"
                },
                "auth_user_id_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "auth_username_hash": {
                  "type": "string",
                  "x-nullable": true
                },
                "email": {
                  "type": "string",
                  "x-nullable": true
                },
                "fields": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "metadata": {
                  "type": "object"
                },
                "name": {
                  "type": "string",
                  "x-nullable": true
                },
                "order": {
                  "type": "integer"
                }
              },
              "title": "update_submission_data_request_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "submission data request updated",
            "schema": {
              "properties": {
                "data_request": {
                  "$ref": "#/definitions/submission_data_request"
                },
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status",
                "data_request"
              ],
              "title": "update_data_request_response",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "submission data request not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "422": {
            "description": "invalid request",
            "schema": {
              "$ref": "#/definitions/invalid_request"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "updateDataRequest",
        "summary": "Update a submission data request"
      }
    },
    "/data_requests/{data_request_id}/tokens": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "data_request_id",
            "required": true,
            "type": "string",
            "x-example": "drq_000000000000000001"
          }
        ],
        "responses": {
          "201": {
            "description": "token created",
            "schema": {
              "properties": {
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                },
                "token": {
                  "properties": {
                    "data_request_url": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "secret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "secret",
                    "expires_at",
                    "data_request_url"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "status",
                "token"
              ],
              "title": "create_submission_data_request_token_response",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "createDataRequestToken",
        "summary": "Creates a new data request token for form authentication"
      }
    },
    "/folders/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter By Folder Id",
            "in": "query",
            "name": "parent_folder_id",
            "required": false,
            "type": "string",
            "x-example": "fld_000000000000000002"
          }
        ],
        "responses": {
          "200": {
            "description": "enumerate all folders",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "parent_folder_id": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "path": {
                    "type": "string"
                  }
                },
                "title": "folder",
                "type": "object"
              },
              "title": "folders",
              "type": "array"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "listFolders",
        "summary": "Get a list of all folders"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "folder": {
                  "name": "Folder 3"
                }
              },
              "properties": {
                "folder": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "parent_folder_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "folder"
              ],
              "title": "create_folder_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "folder created inside another folder",
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "path": {
                  "type": "string"
                }
              },
              "title": "folder",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "parent folder doesnt exist",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "422": {
            "description": "name already exist",
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "path": {
                  "type": "string"
                }
              },
              "title": "folder",
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "createFolder",
        "summary": "Create a folder"
      }
    },
    "/folders/{folder_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folder_id",
            "required": true,
            "type": "string",
            "x-example": "fld_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "folder is empty",
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "path": {
                  "type": "string"
                }
              },
              "title": "folder",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "folder doesnt exist",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "422": {
            "description": "folder has contents",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "deleteFolder",
        "summary": "Delete a folder"
      }
    },
    "/folders/{folder_id}/move": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folder_id",
            "required": true,
            "type": "string",
            "x-example": "fld_000000000000000001"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "parent_folder_id": "fld_000000000000000002"
              },
              "properties": {
                "parent_folder_id": {
                  "type": "string"
                }
              },
              "title": "move_folder_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "move to root folder",
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "path": {
                  "type": "string"
                }
              },
              "title": "folder",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "parent folder doesnt exist",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "moveFolderToFolder",
        "summary": "Move a folder"
      }
    },
    "/folders/{folder_id}/rename": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folder_id",
            "required": true,
            "type": "string",
            "x-example": "fld_000000000000000001"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "name": "Folder 3"
              },
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "title": "rename_folder_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful rename"
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "folder doesnt belong to me"
          },
          "422": {
            "description": "name already exist"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "renameFolder",
        "summary": "Rename a folder"
      }
    },
    "/submissions/batches": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "metadata": {
                  "job_id": 54321
                },
                "submissions": [
                  {
                    "data": {
                      "description": "This PDF is great!",
                      "title": "Test PDF 1"
                    },
                    "metadata": {
                      "submission_number": 1
                    },
                    "template_id": "tpl_000000000000000001",
                    "test": false
                  },
                  {
                    "data": {
                      "description": "This PDF is also pretty good!",
                      "title": "Test PDF 2"
                    },
                    "metadata": {
                      "submission_number": 2
                    },
                    "template_id": "tpl_000000000000000001"
                  }
                ],
                "template_id": null,
                "test": true
              },
              "properties": {
                "metadata": {
                  "type": "object"
                },
                "submissions": {
                  "items": {
                    "properties": {
                      "css": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object"
                      },
                      "html": {
                        "type": "string"
                      },
                      "metadata": {
                        "type": "object"
                      },
                      "template_id": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "test": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "template_id",
                      "data"
                    ],
                    "title": "submission_data_batch_request",
                    "type": "object"
                  },
                  "type": "array"
                },
                "template_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "test": {
                  "type": "boolean"
                }
              },
              "required": [
                "submissions"
              ],
              "title": "submission_batch_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "some PDFs with invalid data",
            "schema": {
              "properties": {
                "error": {
                  "type": "string"
                },
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                },
                "submission_batch": {
                  "properties": {
                    "completion_percentage": {
                      "type": "integer"
                    },
                    "error_count": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "pending_count": {
                      "type": "integer"
                    },
                    "processed_at": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "state": {
                      "enum": [
                        "pending",
                        "processed",
                        "error"
                      ],
                      "type": "string"
                    },
                    "submissions": {
                      "items": {
                        "$ref": "#/definitions/submission"
                      },
                      "type": "array"
                    },
                    "total_count": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "total_count",
                    "pending_count",
                    "error_count",
                    "completion_percentage",
                    "state",
                    "processed_at",
                    "metadata"
                  ],
                  "title": "submission_batch",
                  "type": "object"
                },
                "submissions": {
                  "items": {
                    "properties": {
                      "errors": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "status": {
                        "enum": [
                          "success",
                          "error",
                          "valid_but_not_saved"
                        ],
                        "type": "string"
                      },
                      "submission": {
                        "$ref": "#/definitions/submission"
                      }
                    },
                    "required": [
                      "status"
                    ],
                    "title": "create_submission_batch_submissions_response",
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "required": [
                "status",
                "submission_batch",
                "submissions"
              ],
              "title": "create_submission_batch_response",
              "type": "object"
            }
          },
          "201": {
            "description": "submissions created",
            "schema": {
              "properties": {
                "error": {
                  "type": "string"
                },
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                },
                "submission_batch": {
                  "properties": {
                    "completion_percentage": {
                      "type": "integer"
                    },
                    "error_count": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "pending_count": {
                      "type": "integer"
                    },
                    "processed_at": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "state": {
                      "enum": [
                        "pending",
                        "processed",
                        "error"
                      ],
                      "type": "string"
                    },
                    "submissions": {
                      "items": {
                        "$ref": "#/definitions/submission"
                      },
                      "type": "array"
                    },
                    "total_count": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "total_count",
                    "pending_count",
                    "error_count",
                    "completion_percentage",
                    "state",
                    "processed_at",
                    "metadata"
                  ],
                  "title": "submission_batch",
                  "type": "object"
                },
                "submissions": {
                  "items": {
                    "properties": {
                      "errors": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "status": {
                        "enum": [
                          "success",
                          "error",
                          "valid_but_not_saved"
                        ],
                        "type": "string"
                      },
                      "submission": {
                        "$ref": "#/definitions/submission"
                      }
                    },
                    "required": [
                      "status"
                    ],
                    "title": "create_submission_batch_submissions_response",
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "required": [
                "status",
                "submission_batch",
                "submissions"
              ],
              "title": "create_submission_batch_response",
              "type": "object"
            }
          },
          "400": {
            "description": "invalid JSON",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "batchGeneratePdfs",
        "summary": "Generates multiple PDFs"
      }
    },
    "/submissions/batches/{submission_batch_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submission_batch_id",
            "required": true,
            "type": "string",
            "x-example": "sbb_000000000000000001"
          },
          {
            "in": "query",
            "name": "include_submissions",
            "type": "boolean",
            "x-example": true
          }
        ],
        "responses": {
          "200": {
            "description": "processed submission batch found",
            "schema": {
              "properties": {
                "completion_percentage": {
                  "type": "integer"
                },
                "error_count": {
                  "type": "integer"
                },
                "id": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                },
                "pending_count": {
                  "type": "integer"
                },
                "processed_at": {
                  "type": "string",
                  "x-nullable": true
                },
                "state": {
                  "enum": [
                    "pending",
                    "processed",
                    "error"
                  ],
                  "type": "string"
                },
                "submissions": {
                  "items": {
                    "$ref": "#/definitions/submission"
                  },
                  "type": "array"
                },
                "total_count": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "total_count",
                "pending_count",
                "error_count",
                "completion_percentage",
                "state",
                "processed_at",
                "metadata"
              ],
              "title": "submission_batch",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "submission batch not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "getSubmissionBatch",
        "summary": "Check the status of a submission batch job"
      }
    },
    "/submissions/{submission_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submission_id",
            "required": true,
            "type": "string",
            "x-example": "sub_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "submission was expired",
            "schema": {
              "$ref": "#/definitions/submission"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "403": {
            "description": "test API token used",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "submission not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "expireSubmission",
        "summary": "Expire a PDF submission"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submission_id",
            "required": true,
            "type": "string",
            "x-example": "sub_000000000000000001"
          },
          {
            "in": "query",
            "name": "include_data",
            "type": "boolean",
            "x-example": true
          }
        ],
        "responses": {
          "200": {
            "description": "processed submission found",
            "schema": {
              "$ref": "#/definitions/submission"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "submission not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "getSubmission",
        "summary": "Check the status of a PDF"
      }
    },
    "/templates": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Search By Name",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string",
            "x-example": "2"
          },
          {
            "description": "Filter By Folder Id",
            "in": "query",
            "name": "parent_folder_id",
            "required": false,
            "type": "string",
            "x-example": "fld_000000000000000001"
          },
          {
            "description": "Default: 1",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "required": false,
            "type": "integer",
            "x-example": 2
          },
          {
            "description": "Default: 50",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "per_page",
            "required": false,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "enumerate all templates",
            "schema": {
              "items": {
                "properties": {
                  "allow_additional_properties": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "document_url": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "editable_submissions": {
                    "type": "boolean"
                  },
                  "expiration_interval": {
                    "enum": [
                      "minutes",
                      "hours",
                      "days"
                    ],
                    "type": "string"
                  },
                  "expire_after": {
                    "type": "number"
                  },
                  "expire_submissions": {
                    "type": "boolean"
                  },
                  "id": {
                    "type": "string"
                  },
                  "locked": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "page_dimensions": {
                    "items": {
                      "items": {
                        "type": "number"
                      },
                      "maxItems": 2,
                      "minItems": 2,
                      "type": "array"
                    },
                    "type": "array",
                    "x-nullable": true
                  },
                  "parent_folder_id": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "path": {
                    "type": "string"
                  },
                  "permanent_document_url": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "public_submissions": {
                    "type": "boolean"
                  },
                  "public_web_form": {
                    "type": "boolean"
                  },
                  "redirect_url": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "slack_webhook_url": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "template_type": {
                    "type": "string"
                  },
                  "webhook_url": {
                    "type": "string",
                    "x-nullable": true
                  }
                },
                "required": [
                  "id",
                  "name",
                  "description",
                  "template_type",
                  "public_web_form",
                  "public_submissions",
                  "expire_submissions",
                  "allow_additional_properties",
                  "editable_submissions",
                  "locked",
                  "webhook_url",
                  "slack_webhook_url",
                  "redirect_url"
                ],
                "title": "template",
                "type": "object"
              },
              "title": "templates",
              "type": "array"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "filter templates by invalid folder id",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "listTemplates",
        "summary": "Get a list of all templates"
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "binary",
            "in": "formData",
            "name": "template[document]",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "template[name]",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "template[parent_folder_id]",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "returns a pending template",
            "schema": {
              "properties": {
                "allow_additional_properties": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "editable_submissions": {
                  "type": "boolean"
                },
                "expiration_interval": {
                  "enum": [
                    "minutes",
                    "hours",
                    "days"
                  ],
                  "type": "string"
                },
                "expire_after": {
                  "type": "number"
                },
                "expire_submissions": {
                  "type": "boolean"
                },
                "id": {
                  "type": "string"
                },
                "locked": {
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "x-nullable": true
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "path": {
                  "type": "string"
                },
                "public_submissions": {
                  "type": "boolean"
                },
                "public_web_form": {
                  "type": "boolean"
                },
                "redirect_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "slack_webhook_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "template_type": {
                  "type": "string"
                },
                "webhook_url": {
                  "type": "string",
                  "x-nullable": true
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "template_type",
                "public_web_form",
                "public_submissions",
                "expire_submissions",
                "allow_additional_properties",
                "editable_submissions",
                "locked",
                "page_dimensions",
                "webhook_url",
                "slack_webhook_url",
                "redirect_url"
              ],
              "title": "pending_template",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "createPDFTemplate",
        "summary": "Create a new PDF template with a form POST file upload"
      }
    },
    "/templates/{template_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "required": true,
            "type": "string",
            "x-example": "tpl_000000000000000011"
          }
        ],
        "responses": {
          "200": {
            "description": "template found",
            "schema": {
              "properties": {
                "allow_additional_properties": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "document_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "editable_submissions": {
                  "type": "boolean"
                },
                "expiration_interval": {
                  "enum": [
                    "minutes",
                    "hours",
                    "days"
                  ],
                  "type": "string"
                },
                "expire_after": {
                  "type": "number"
                },
                "expire_submissions": {
                  "type": "boolean"
                },
                "id": {
                  "type": "string"
                },
                "locked": {
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "x-nullable": true
                },
                "page_dimensions": {
                  "items": {
                    "items": {
                      "type": "number"
                    },
                    "maxItems": 2,
                    "minItems": 2,
                    "type": "array"
                  },
                  "type": "array",
                  "x-nullable": true
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "path": {
                  "type": "string"
                },
                "permanent_document_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_submissions": {
                  "type": "boolean"
                },
                "public_web_form": {
                  "type": "boolean"
                },
                "redirect_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "slack_webhook_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "template_type": {
                  "type": "string"
                },
                "webhook_url": {
                  "type": "string",
                  "x-nullable": true
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "template_type",
                "public_web_form",
                "public_submissions",
                "expire_submissions",
                "allow_additional_properties",
                "editable_submissions",
                "locked",
                "webhook_url",
                "slack_webhook_url",
                "redirect_url"
              ],
              "title": "template",
              "type": "object"
            }
          },
          "401": {
            "description": "authentication failed",
            "schema": {
              "$ref": "#/definitions/authentication_error"
            }
          },
          "404": {
            "description": "template not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "getTemplate",
        "summary": "Get a single template"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "required": true,
            "type": "string",
            "x-example": "tpl_000000000000000003"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "template": {
                  "footer_html": "updated footer",
                  "header_html": "updated header",
                  "html": "updated html",
                  "scss": "updated scss"
                }
              },
              "properties": {
                "template": {
                  "properties": {
                    "allow_additional_properties": {
                      "type": "boolean"
                    },
                    "description": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "editable_submissions": {
                      "type": "boolean"
                    },
                    "expiration_interval": {
                      "enum": [
                        "minutes",
                        "hours",
                        "days"
                      ],
                      "type": "string"
                    },
                    "expire_after": {
                      "type": "number"
                    },
                    "expire_submissions": {
                      "type": "boolean"
                    },
                    "footer_html": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "header_html": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "html": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "name": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "public_submissions": {
                      "type": "boolean"
                    },
                    "public_web_form": {
                      "type": "boolean"
                    },
                    "redirect_url": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "scss": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "slack_webhook_url": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "webhook_url": {
                      "type": "string",
                      "x-nullable": true
                    }
                  },
                  "title": "template_data",
                  "type": "object"
                }
              },
              "required": [
                "template"
              ],
              "title": "update_template_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "update template success",
            "schema": {
              "properties": {
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status"
              ],
              "title": "update_template_response",
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "updateTemplate",
        "summary": "Update a Template"
      }
    },
    "/templates/{template_id}/add_fields": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "required": true,
            "type": "string",
            "x-example": "tpl_000000000000000002"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "fields": [
                  {
                    "name": "new_field1",
                    "page": 1
                  },
                  {
                    "default": "default text",
                    "displayType": "text",
                    "name": "new_field2",
                    "overflow": "truncate",
                    "page": 1,
                    "rotation": 10,
                    "type": "string"
                  },
                  {
                    "displayType": "text",
                    "integer": true,
                    "name": "new_field3",
                    "page": 2,
                    "rotation": 0,
                    "type": "number"
                  },
                  {
                    "displayType": "text",
                    "integer": true,
                    "name": "new_field4",
                    "page": 3,
                    "rotation": 0,
                    "type": "number"
                  },
                  {
                    "displayType": "text",
                    "height": 50,
                    "id": 99,
                    "integer": true,
                    "name": "new_field5",
                    "page": 2,
                    "rotation": 0,
                    "type": "number",
                    "width": 150,
                    "x": 20,
                    "y": 60
                  },
                  {
                    "description": "updated description for existing field",
                    "displayType": "text",
                    "height": 50,
                    "integer": true,
                    "maximum": 100,
                    "minimum": 10,
                    "name": "title",
                    "page": 1,
                    "rotation": 0,
                    "type": "number",
                    "width": 150,
                    "x": 40,
                    "y": 60
                  }
                ]
              },
              "properties": {
                "fields": {
                  "items": {
                    "additionalProperties": false,
                    "properties": {
                      "alignment": {
                        "enum": [
                          "left",
                          "center",
                          "right"
                        ],
                        "type": "string"
                      },
                      "autoCalculateMaxLength": {
                        "type": "boolean"
                      },
                      "backgroundColor": {
                        "type": "string"
                      },
                      "backgroundColorFieldName": {
                        "type": "string"
                      },
                      "backgroundColorFieldRequired": {
                        "type": "boolean"
                      },
                      "barcodeSymbology": {
                        "type": "string"
                      },
                      "bold": {
                        "type": "boolean"
                      },
                      "characterSpacing": {
                        "type": "number"
                      },
                      "checkCharacter": {
                        "enum": [
                          "&#10003;",
                          "&#10004;",
                          "&#10006;",
                          "&#10007;",
                          "&#10008;"
                        ],
                        "type": "string"
                      },
                      "checkColor": {
                        "type": "string"
                      },
                      "checkColorFieldName": {
                        "type": "string"
                      },
                      "checkColorFieldRequired": {
                        "type": "boolean"
                      },
                      "color": {
                        "type": "string"
                      },
                      "colorFieldName": {
                        "type": "string"
                      },
                      "colorFieldRequired": {
                        "type": "boolean"
                      },
                      "comb": {
                        "type": "boolean"
                      },
                      "combNumberOfCells": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "combValueOffset": {
                        "type": "number"
                      },
                      "combinedFieldFormat": {
                        "type": "string"
                      },
                      "combinedFieldNames": {
                        "type": "string"
                      },
                      "combinedFieldSeparator": {
                        "type": "string"
                      },
                      "combinedFieldType": {
                        "type": "string"
                      },
                      "condition": {
                        "type": "string"
                      },
                      "currency": {
                        "type": "boolean"
                      },
                      "dateTimeFormat": {
                        "type": "string"
                      },
                      "decimalPlaces": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "default": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "displayType": {
                        "enum": [
                          "text",
                          "check",
                          "qrcode",
                          "barcode",
                          "image",
                          "shape"
                        ],
                        "type": "string"
                      },
                      "exclusiveMaximum": {
                        "type": "boolean"
                      },
                      "exclusiveMinimum": {
                        "type": "boolean"
                      },
                      "falseText": {
                        "type": "string"
                      },
                      "fontSize": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "height": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "id": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "imageGravity": {
                        "enum": [
                          "NorthWest",
                          "North",
                          "NorthEast",
                          "West",
                          "Center",
                          "East",
                          "SouthWest",
                          "South",
                          "SouthEast"
                        ],
                        "type": "string"
                      },
                      "imageScaleType": {
                        "enum": [
                          "fit",
                          "fill",
                          "stretch"
                        ],
                        "type": "string"
                      },
                      "includeTime": {
                        "type": "boolean"
                      },
                      "integer": {
                        "type": "boolean"
                      },
                      "invertBooleanCondition": {
                        "type": "boolean"
                      },
                      "maxLength": {
                        "type": "number"
                      },
                      "maximum": {
                        "type": "number"
                      },
                      "metadata": {
                        "type": "string"
                      },
                      "minLength": {
                        "type": "number"
                      },
                      "minimum": {
                        "type": "number"
                      },
                      "multiline": {
                        "type": "boolean"
                      },
                      "multilineLines": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "numberConditionRangeExclusiveMax": {
                        "type": "boolean"
                      },
                      "numberConditionRangeExclusiveMin": {
                        "type": "boolean"
                      },
                      "numberConditionRangeMax": {
                        "type": "number"
                      },
                      "numberConditionRangeMin": {
                        "type": "number"
                      },
                      "numberConditionType": {
                        "enum": [
                          "equals",
                          "range",
                          "gte",
                          "gt",
                          "lte",
                          "lt"
                        ],
                        "type": "string"
                      },
                      "opacity": {
                        "maximum": 1,
                        "minimum": 0,
                        "type": "number"
                      },
                      "optionList": {
                        "type": "string"
                      },
                      "overflow": {
                        "enum": [
                          "shrink_to_fit",
                          "truncate"
                        ],
                        "type": "string"
                      },
                      "page": {
                        "minimum": 1,
                        "type": "number"
                      },
                      "qrcodeColor": {
                        "type": "string"
                      },
                      "qrcodeColorFieldName": {
                        "type": "string"
                      },
                      "qrcodeColorFieldRequired": {
                        "type": "boolean"
                      },
                      "required": {
                        "type": "boolean"
                      },
                      "rotation": {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "number"
                      },
                      "shapeBorderColor": {
                        "type": "string"
                      },
                      "shapeBorderColorFieldName": {
                        "type": "string"
                      },
                      "shapeBorderColorFieldRequired": {
                        "type": "boolean"
                      },
                      "shapeBorderWidth": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "shapeFillColor": {
                        "type": "string"
                      },
                      "shapeFillColorFieldName": {
                        "type": "string"
                      },
                      "shapeFillColorFieldRequired": {
                        "type": "boolean"
                      },
                      "shapeType": {
                        "enum": [
                          "square",
                          "rectangle",
                          "circle",
                          "ellipse"
                        ],
                        "type": "string"
                      },
                      "signatureAllowDraw": {
                        "type": "boolean"
                      },
                      "signatureAllowType": {
                        "type": "boolean"
                      },
                      "static": {
                        "type": "boolean"
                      },
                      "strikethrough": {
                        "type": "boolean"
                      },
                      "stringConditionType": {
                        "enum": [
                          "equals",
                          "contains",
                          "starts_with",
                          "ends_with",
                          "regex"
                        ],
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "trueText": {
                        "type": "string"
                      },
                      "type": {
                        "enum": [
                          "string",
                          "number",
                          "boolean",
                          "date",
                          "address",
                          "country",
                          "email",
                          "url",
                          "image",
                          "signature",
                          "barcode",
                          "combined"
                        ],
                        "type": "string"
                      },
                      "typeface": {
                        "type": "string"
                      },
                      "uppercase": {
                        "type": "boolean"
                      },
                      "vAlignment": {
                        "enum": [
                          "bottom",
                          "center",
                          "top"
                        ],
                        "type": "string"
                      },
                      "width": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "x": {
                        "minimum": 0,
                        "type": "number"
                      },
                      "y": {
                        "minimum": 0,
                        "type": "number"
                      }
                    },
                    "required": [
                      "name",
                      "page"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "required": [
                "fields"
              ],
              "title": "add_fields_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "add fields success",
            "schema": {
              "properties": {
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "new_field_ids": {
                  "items": {
                    "type": "integer"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status"
              ],
              "title": "add_fields_template_response",
              "type": "object"
            }
          },
          "422": {
            "description": "add fields error",
            "schema": {
              "properties": {
                "errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "new_field_ids": {
                  "items": {
                    "type": "integer"
                  },
                  "type": "array"
                },
                "status": {
                  "enum": [
                    "success",
                    "error"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status"
              ],
              "title": "add_fields_template_response",
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "addFieldsToTemplate",
        "summary": "Add new fields to a Template"
      }
    },
    "/templates/{template_id}/copy": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "required": true,
            "type": "string",
            "x-example": "tpl_000000000000000001"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "example": {
                "name": "Copied Template Name",
                "parent_folder_id": "fld_000000000000000001"
              },
              "properties": {
                "name": {
                  "type": "string"
                },
                "parent_folder_id": {
                  "type": "string"
                }
              },
              "required": [
                "parent_folder_id"
              ],
              "title": "copy_template_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "copy template success",
            "schema": {
              "properties": {
                "allow_additional_properties": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "document_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "editable_submissions": {
                  "type": "boolean"
                },
                "expiration_interval": {
                  "enum": [
                    "minutes",
                    "hours",
                    "days"
                  ],
                  "type": "string"
                },
                "expire_after": {
                  "type": "number"
                },
                "expire_submissions": {
                  "type": "boolean"
                },
                "id": {
                  "type": "string"
                },
                "locked": {
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "x-nullable": true
                },
                "page_dimensions": {
                  "items": {
                    "items": {
                      "type": "number"
                    },
                    "maxItems": 2,
                    "minItems": 2,
                    "type": "array"
                  },
                  "type": "array",
                  "x-nullable": true
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "path": {
                  "type": "string"
                },
                "permanent_document_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_submissions": {
                  "type": "boolean"
                },
                "public_web_form": {
                  "type": "boolean"
                },
                "redirect_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "slack_webhook_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "template_type": {
                  "type": "string"
                },
                "webhook_url": {
                  "type": "string",
                  "x-nullable": true
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "template_type",
                "public_web_form",
                "public_submissions",
                "expire_submissions",
                "allow_additional_properties",
                "editable_submissions",
                "locked",
                "webhook_url",
                "slack_webhook_url",
                "redirect_url"
              ],
              "title": "template",
              "type": "object"
            }
          },
          "404": {
            "description": "folder not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "copyTemplate",
        "summary": "Copy a Template"
      }
    },
    "/templates/{template_id}/move": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "required": true,
            "type": "string",
            "x-example": "tpl_000000000000000001"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "parent_folder_id": "fld_000000000000000001"
              },
              "properties": {
                "parent_folder_id": {
                  "type": "string"
                }
              },
              "required": [
                "parent_folder_id"
              ],
              "title": "move_template_data",
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "move template success",
            "schema": {
              "properties": {
                "allow_additional_properties": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "document_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "editable_submissions": {
                  "type": "boolean"
                },
                "expiration_interval": {
                  "enum": [
                    "minutes",
                    "hours",
                    "days"
                  ],
                  "type": "string"
                },
                "expire_after": {
                  "type": "number"
                },
                "expire_submissions": {
                  "type": "boolean"
                },
                "id": {
                  "type": "string"
                },
                "locked": {
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "x-nullable": true
                },
                "page_dimensions": {
                  "items": {
                    "items": {
                      "type": "number"
                    },
                    "maxItems": 2,
                    "minItems": 2,
                    "type": "array"
                  },
                  "type": "array",
                  "x-nullable": true
                },
                "parent_folder_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "path": {
                  "type": "string"
                },
                "permanent_document_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_submissions": {
                  "type": "boolean"
                },
                "public_web_form": {
                  "type": "boolean"
                },
                "redirect_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "slack_webhook_url": {
                  "type": "string",
                  "x-nullable": true
                },
                "template_type": {
                  "type": "string"
                },
                "webhook_url": {
                  "type": "string",
                  "x-nullable": true
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "template_type",
                "public_web_form",
                "public_submissions",
                "expire_submissions",
                "allow_additional_properties",
                "editable_submissions",
                "locked",
                "webhook_url",
                "slack_webhook_url",
                "redirect_url"
              ],
              "title": "template",
              "type": "object"
            }
          },
          "404": {
            "description": "folder not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "moveTemplateToFolder",
        "summary": "Move Template to folder"
      }
    },
    "/templates/{template_id}/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "required": true,
            "type": "string",
            "x-example": "tpl_000000000000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "template found",
            "schema": {
              "additionalProperties": false,
              "properties": {
                "definitions": {
                  "default": {},
                  "type": "object"
                },
                "$schema": {
                  "format": "uri",
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string"
                },
                "id": {
[...]
