{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "ce.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>The Cost Explorer API allows you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p>https://ce.us-east-1.amazonaws.com</p> </li> </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Cost Explorer Service",
    "version": "2017-10-25",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ce-2017-10-25.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "ce",
    "x-datafire": {
      "name": "amazonaws_ce",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/ce/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieve cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>AWS Service</code> or <code>AvailabilityZone</code>, in a specific time range. See the <code>GetDimensionValues</code> action for a complete list of the valid dimensions. Master accounts in an organization have access to all member accounts.",
        "operationId": "GetCostAndUsage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCostAndUsageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCostAndUsageResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/#GetDimensionValues": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "You can use <code>GetDimensionValues</code> to retrieve all available filter values for a specific filter over a period of time. You can search the dimension values for an arbitrary string. ",
        "operationId": "GetDimensionValues",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDimensionValuesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDimensionValuesResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/#GetReservationUtilization": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "You can retrieve the Reservation utilization for your account. Master accounts in an organization have access to their associated member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. ",
        "operationId": "GetReservationUtilization",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReservationUtilizationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetReservationUtilizationResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    },
    "/#GetTags": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "You can query for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. ",
        "operationId": "GetTags",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTagsResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AttributeType": {
      "type": "string"
    },
    "AttributeValue": {
      "type": "string"
    },
    "Attributes": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/AttributeType"
          },
          "value": {
            "$ref": "#/definitions/AttributeValue"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "Context": {
      "enum": [
        "COST_AND_USAGE",
        "RESERVATIONS"
      ],
      "type": "string"
    },
    "DateInterval": {
      "description": "The time period that you want the usage and costs for. ",
      "properties": {
        "End": {
          "$ref": "#/definitions/YearMonthDay",
          "description": "The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if the <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from the start date but not including <code>2017-05-01</code>."
        },
        "Start": {
          "$ref": "#/definitions/YearMonthDay",
          "description": "The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, then the cost and usage data is retrieved starting at <code>2017-01-01</code> up to the end date."
        }
      },
      "required": [
        "Start",
        "End"
      ],
      "type": "object"
    },
    "Dimension": {
      "enum": [
        "AZ",
        "INSTANCE_TYPE",
        "LINKED_ACCOUNT",
        "OPERATION",
        "PURCHASE_TYPE",
        "REGION",
        "SERVICE",
        "USAGE_TYPE",
        "USAGE_TYPE_GROUP",
        "RECORD_TYPE",
        "OPERATING_SYSTEM",
        "TENANCY",
        "SCOPE",
        "PLATFORM",
        "SUBSCRIPTION_ID"
      ],
      "type": "string"
    },
    "DimensionValues": {
      "description": "The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.",
      "properties": {
        "Key": {
          "$ref": "#/definitions/Dimension",
          "description": "The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones."
        },
        "Values": {
          "$ref": "#/definitions/Values",
          "description": "The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values."
        }
      },
      "type": "object"
    },
    "DimensionValuesWithAttributes": {
      "description": "The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "The attribute that applies to a specific <code>Dimension</code>."
        },
        "Value": {
          "$ref": "#/definitions/Value",
          "description": "The value of a dimension with a specific attribute."
        }
      },
      "type": "object"
    },
    "DimensionValuesWithAttributesList": {
      "items": {
        "$ref": "#/definitions/DimensionValuesWithAttributes"
      },
      "type": "array"
    },
    "Entity": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Estimated": {
      "type": "boolean"
    },
    "Expression": {
      "description": "<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p> <ul> <li> <p>Simple dimension values - You can set the dimension name and values for the filters that you plan to use. For example, you can filter for <code>InstanceType==m4.xlarge OR InstanceType==c4.large</code>. The <code>Expression</code> for that looks like this.</p> <p> <code>{ \"Dimensions\": { \"Key\": \"InstanceType\", \"Values\": [ \"m4.xlarge\", “c4.large” ] } }</code> </p> <p>The list of dimension values are OR'd together to retrieve cost or usage data. You can create <code>Expression</code> and <code>DimensionValues</code> objects using either <code>with*</code> methods or <code>set*</code> methods in multiple lines. </p> </li> <li> <p>Compound dimension values with logical operations - You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. This allows you to filter on more advanced options. For example, you can filter on <code>((InstanceType == m4.large OR InstanceType == m3.large) OR (Tag.Type == Type1)) AND (UsageType != DataTransfer)</code>. The <code>Expression</code> for that looks like this.</p> <p> <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"InstanceType\", \"Values\": [ \"m4.x.large\", \"c4.large\" ] }}, {\"Tag\": { \"Key\": \"TagName\", \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"dimensions\": { \"Key\": \"UsageType\", \"Values\": [\"DataTransfer\"] }}} ] } </code> </p> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an Expression object that will create an error.</p> </note> <p> <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"UsageType\", \"Values\": [ \"DataTransfer\" ] } } </code> </p> </li> </ul>",
      "properties": {
        "And": {
          "$ref": "#/definitions/Expressions",
          "description": "Return results that match both <code>Dimension</code> objects."
        },
        "Dimensions": {
          "$ref": "#/definitions/DimensionValues",
          "description": "The specific <code>Dimension</code> to use for <code>Expression</code>."
        },
        "Not": {
          "$ref": "#/definitions/Expression",
          "description": "Return results that don't match <code>Dimension</code>."
        },
        "Or": {
          "$ref": "#/definitions/Expressions",
          "description": "Return results that match either <code>Dimension</code>."
        },
        "Tags": {
          "$ref": "#/definitions/TagValues",
          "description": "The specific <code>Tag</code> to use for <code>Expression</code>."
        }
      },
      "type": "object"
    },
    "Expressions": {
      "items": {
        "$ref": "#/definitions/Expression"
      },
      "type": "array"
    },
    "GetCostAndUsageRequest": {
      "properties": {
        "Filter": {
          "$ref": "#/definitions/Expression",
          "description": "Filters AWS costs by different dimensions. For example, you can specify <code>Service</code> and <code>Linked Account</code> and get the costs associated with that account's usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see the <code>Expression</code> object or <code>More Examples</code>. "
        },
        "Granularity": {
          "$ref": "#/definitions/Granularity",
          "description": "Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>."
        },
        "GroupBy": {
          "$ref": "#/definitions/GroupDefinitions",
          "description": "<p>You can group AWS costs using up to two different groups, either dimensions, tag keys, or both.</p> <p>When you group by tag key, you get all tag values, including empty strings.</p> <p>Valid values are: <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LINKED_ACCCOUNT</code>, <code>OPERATION</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>USAGE_TYPE</code>, <code>TAGS</code>, and <code>PLATFORM</code>.</p>"
        },
        "Metrics": {
          "$ref": "#/definitions/MetricNames",
          "description": "<p>Which metrics are returned in the query. For more information about blended and unblended rates, see https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/. </p> <p>Valid values are <code>BlendedCost</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>.</p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of EC2, the results aren't meaningful because EC2 compute hours and data transfer are measured in different units (for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note>"
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "Sets the start and end dates for retrieving AWS costs. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>."
        }
      },
      "type": "object"
    },
    "GetCostAndUsageResponse": {
      "properties": {
        "GroupDefinitions": {
          "$ref": "#/definitions/GroupDefinitions",
          "description": "The groups specified by the the <code>Filter</code> or <code>GroupBy</code> parameters in the request."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "ResultsByTime": {
          "$ref": "#/definitions/ResultsByTime",
          "description": "The time period covered by the results in the response."
        }
      },
      "type": "object"
    },
    "GetDimensionValuesRequest": {
      "properties": {
        "Context": {
          "$ref": "#/definitions/Context",
          "description": "<p>The context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVED_INSTANCE</code> or <code>COST_AND_USAGE</code>. The default value is <code>COST_AND_USAGE</code>. If the context is set to <code>RESERVED_INSTANCE</code>, the resulting dimension values can be used in the <code>GetReservationUtilization</code> action. If the context is set to <code>COST_AND_USAGE</code>, , the resulting dimension values can be used in the <code>GetCostAndUsage</code> operation.</p> <p>If you set the context to <code>CostAndUsage</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>InstanceType - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LinkedAccount - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>Operation - The action performed. Examples include RunInstance and CreateBucket.</p> </li> <li> <p>PurchaseType - The reservation type of the purchase to which this usage is related. Examples include: On Demand Instances and Standard Reserved Instances</p> </li> <li> <p>Service - The AWS service such as DynamoDB.</p> </li> <li> <p>UsageType -The type of usage. An example is DataTransfer-In-Bytes. The response for the GetDimensionValues action includes a unit attribute, examples of which include GB and Hrs.</p> </li> <li> <p>UsageTypeGroup - The grouping of common usage types. An example is EC2: CloudWatch – Alarms. The response for this action includes a unit attribute.</p> </li> <li> <p>RecordType - The different types of charges such as RI fees, usage costs, tax refunds, and credits</p> </li> </ul> <p>If you set the context to <code>ReservedInstance</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>InstanceType - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LinkedAccount - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>Platform - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>Region - The AWS region.</p> </li> <li> <p>Scope - The scope of a reserved instance (RI). Values are regional or a single availability zone.</p> </li> <li> <p>Tenancy - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>"
        },
        "Dimension": {
          "$ref": "#/definitions/Dimension",
          "description": "The name of the dimension. Different <code>Dimensions</code>are available for different <code>Context</code>s. For more information, see <code>Context</code>."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "SearchString": {
          "$ref": "#/definitions/SearchString",
          "description": "The value that you want to search the filter values for."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>."
        }
      },
      "required": [
        "TimePeriod",
        "Dimension"
      ],
      "type": "object"
    },
    "GetDimensionValuesResponse": {
      "properties": {
        "DimensionValues": {
          "$ref": "#/definitions/DimensionValuesWithAttributesList",
          "description": "<p>The filters that you used to filter your request. Some dimensions are available only for a specific context:</p> <p>If you set the context to <code>CostAndUsage</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>InstanceType - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LinkedAccount - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>Operation - The action performed. Examples include RunInstance and CreateBucket.</p> </li> <li> <p>PurchaseType - The reservation type of the purchase to which this usage is related. Examples include: On Demand Instances and Standard Reserved Instances</p> </li> <li> <p>Service - The AWS service such as DynamoDB.</p> </li> <li> <p>UsageType -The type of usage. An example is DataTransfer-In-Bytes. The response for the GetDimensionValues action includes a unit attribute, examples of which include GB and Hrs.</p> </li> <li> <p>UsageTypeGroup - The grouping of common usage types. An example is EC2: CloudWatch – Alarms. The response for this action includes a unit attribute.</p> </li> <li> <p>RecordType - The different types of charges such as RI fees, usage costs, tax refunds, and credits</p> </li> </ul> <p>If you set the context to <code>ReservedInstance</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>InstanceType - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LinkedAccount - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>Platform - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>Region - The AWS region.</p> </li> <li> <p>Scope - The scope of a reserved instance (RI). Values are regional or a single availability zone.</p> </li> <li> <p>Tenancy - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>"
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "ReturnSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The number of results that AWS returned at one time."
        },
        "TotalSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The total number of search results."
        }
      },
      "required": [
        "DimensionValues",
        "ReturnSize",
        "TotalSize"
      ],
      "type": "object"
    },
    "GetReservationUtilizationRequest": {
      "properties": {
        "Filter": {
          "$ref": "#/definitions/Expression",
          "description": "Filters utilization data by using different dimensions. <code>GetReservationUtilization</code> uses the same <code>Expression</code> object as the other operations, but only <code>AND</code> is supported among each dimension, and nesting is supported up to only one level deep. If there are multiple values for a dimension, they are OR'd together."
        },
        "Granularity": {
          "$ref": "#/definitions/Granularity",
          "description": "Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>. If both <code>GroupBy</code> and <code>granularity</code> are not set, <code>GetReservationUtilization</code> defaults to <code>DAILY</code>. If <code>GroupBy</code> is set, <code>Granularity</code> can't be set, and the response object doesn't include <code>MONTHLY</code> or <code>DAILY</code> granularity."
        },
        "GroupBy": {
          "$ref": "#/definitions/GroupDefinitions",
          "description": "Groups only by <code>SubscriptionId</code>. Metadata is included."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "Sets the start and end dates for retrieving reserve instance (RI) utilization. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. "
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "object"
    },
    "GetReservationUtilizationResponse": {
      "properties": {
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "Total": {
          "$ref": "#/definitions/ReservationAggregates",
          "description": "The total amount of time that you utilized your RIs."
        },
        "UtilizationsByTime": {
          "$ref": "#/definitions/UtilizationsByTime",
          "description": "The amount of time that you utilized your RIs."
        }
      },
      "required": [
        "UtilizationsByTime"
      ],
      "type": "object"
    },
    "GetTagsRequest": {
      "properties": {
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "SearchString": {
          "$ref": "#/definitions/SearchString",
          "description": "The value that you want to search for."
        },
        "TagKey": {
          "$ref": "#/definitions/TagKey",
          "description": "The key of the tag that you want to return values for."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>."
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "object"
    },
    "GetTagsResponse": {
      "properties": {
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "ReturnSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The number of query results that AWS returns at a time."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "The tags that match your request."
        },
        "TotalSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The total number of query results."
        }
      },
      "required": [
        "Tags",
        "ReturnSize",
        "TotalSize"
      ],
      "type": "object"
    },
    "Granularity": {
      "enum": [
        "DAILY",
        "MONTHLY"
      ],
      "type": "string"
    },
    "Group": {
      "description": "One level of grouped data within the results.",
      "properties": {
        "Keys": {
          "$ref": "#/definitions/Keys",
          "description": "The keys included in this group."
        },
        "Metrics": {
          "$ref": "#/definitions/Metrics",
          "description": "The metrics included in this group."
        }
      },
      "type": "object"
    },
    "GroupDefinition": {
      "description": "Represents a group when you specify a group by criteria, or in the response to a query with a specific grouping.",
      "properties": {
        "Key": {
          "$ref": "#/definitions/GroupDefinitionKey",
          "description": "The string that represents a key for a specified group."
        },
        "Type": {
          "$ref": "#/definitions/GroupDefinitionType",
          "description": "The string that represents the type of group."
        }
      },
      "type": "object"
    },
    "GroupDefinitionKey": {
      "type": "string"
    },
    "GroupDefinitionType": {
      "enum": [
        "DIMENSION",
        "TAG"
      ],
      "type": "string"
    },
    "GroupDefinitions": {
      "items": {
        "$ref": "#/definitions/GroupDefinition"
      },
      "type": "array"
    },
    "Groups": {
      "items": {
        "$ref": "#/definitions/Group"
      },
      "type": "array"
    },
    "Key": {
      "type": "string"
    },
    "Keys": {
      "items": {
        "$ref": "#/definitions/Key"
      },
      "type": "array"
    },
    "LimitExceededException": {
      "description": "You made too many calls in a short period of time. Try again later.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "type": "object"
    },
    "MetricAmount": {
      "type": "string"
    },
    "MetricName": {
      "type": "string"
    },
    "MetricNames": {
      "items": {
        "$ref": "#/definitions/MetricName"
      },
      "type": "array"
    },
    "MetricUnit": {
      "type": "string"
    },
    "MetricValue": {
      "description": "The aggregated value for a metric.",
      "properties": {
        "Amount": {
          "$ref": "#/definitions/MetricAmount",
          "description": "The actual number that represents the metric."
        },
        "Unit": {
          "$ref": "#/definitions/MetricUnit",
          "description": "The unit that the metric is given in."
        }
      },
      "type": "object"
    },
    "Metrics": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/MetricName"
          },
          "value": {
            "$ref": "#/definitions/MetricValue"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "NextPageToken": {
      "type": "string"
    },
    "PageSize": {
      "type": "integer"
    },
    "PurchasedHours": {
      "type": "string"
    },
    "ReservationAggregates": {
      "description": "The aggregated numbers for your RI usage.",
      "properties": {
        "PurchasedHours": {
          "$ref": "#/definitions/PurchasedHours",
          "description": "How many RI hours you purchased."
        },
        "TotalActualHours": {
          "$ref": "#/definitions/TotalActualHours",
          "description": "The total number of RI hours that you used."
        },
        "UnusedHours": {
          "$ref": "#/definitions/UnusedHours",
          "description": "The number of RI hours that you didn't use."
        },
        "UtilizationPercentage": {
          "$ref": "#/definitions/UtilizationPercentage",
          "description": "The percentage of RI time that you used."
        }
      },
      "type": "object"
    },
    "ReservationGroupKey": {
      "type": "string"
    },
    "ReservationGroupValue": {
      "type": "string"
    },
    "ReservationUtilizationGroup": {
      "description": "A group of RIs that share a set of attributes.",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "The attributes for this group of RIs."
        },
        "Key": {
          "$ref": "#/definitions/ReservationGroupKey",
          "description": "The key for a specific RI attribute."
        },
        "Utilization": {
          "$ref": "#/definitions/ReservationAggregates",
          "description": "How much you used this group of RIs."
        },
        "Value": {
          "$ref": "#/definitions/ReservationGroupValue",
          "description": "The value of a specific RI attribute."
        }
      },
      "type": "object"
    },
    "ReservationUtilizationGroups": {
      "items": {
        "$ref": "#/definitions/ReservationUtilizationGroup"
      },
      "type": "array"
    },
    "ResultByTime": {
      "description": "The result that is associated with a time period.",
      "properties": {
        "Estimated": {
          "$ref": "#/definitions/Estimated",
          "description": "Whether or not this result is estimated."
        },
        "Groups": {
          "$ref": "#/definitions/Groups",
          "description": "The groups that are included in this time period."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The time period covered by a result."
        },
        "Total": {
          "$ref": "#/definitions/Metrics",
          "description": "The total amount of cost or usage accrued during the time period."
        }
      },
      "type": "object"
    },
    "ResultsByTime": {
      "items": {
        "$ref": "#/definitions/ResultByTime"
      },
      "type": "array"
    },
    "SearchString": {
      "type": "string"
    },
    "TagKey": {
      "type": "string"
    },
    "TagList": {
      "items": {
        "$ref": "#/definitions/Entity"
      },
      "type": "array"
    },
    "TagValues": {
      "description": "The values that are available for a tag.",
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "The key for a tag."
        },
        "Values": {
          "$ref": "#/definitions/Values",
          "description": "The specific value of a tag."
        }
      },
      "type": "object"
    },
    "TotalActualHours": {
      "type": "string"
    },
    "UnusedHours": {
      "type": "string"
    },
    "UtilizationByTime": {
      "description": "The amount of utilization, in hours.",
      "properties": {
        "Groups": {
          "$ref": "#/definitions/ReservationUtilizationGroups",
          "description": "The groups that are included in this utilization result."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The period of time over which this utilization was used."
        },
        "Total": {
          "$ref": "#/definitions/ReservationAggregates",
          "description": "The total number of RI hours that were used."
        }
      },
      "type": "object"
    },
    "UtilizationPercentage": {
      "type": "string"
    },
    "UtilizationsByTime": {
      "items": {
        "$ref": "#/definitions/UtilizationByTime"
      },
      "type": "array"
    },
    "Value": {
      "type": "string"
    },
    "Values": {
      "items": {
        "$ref": "#/definitions/Value"
      },
      "type": "array"
    },
    "YearMonthDay": {
      "pattern": "\\d{4}-\\d{2}-\\d{2}",
      "type": "string"
    }
  }
}