{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "ce.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>The Cost Explorer API allows you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p>https://ce.us-east-1.amazonaws.com</p> </li> </ul> <p>For information about costs associated with the Cost Explorer API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Cost Explorer Service",
    "version": "2017-10-25",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ce-2017-10-25.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "ce",
    "x-datafire": {
      "name": "amazonaws_ce",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/ce/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <code> <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> </code> operation. Master accounts in an organization in AWS Organizations have access to all member accounts.",
        "operationId": "GetCostAndUsage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCostAndUsageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCostAndUsageResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "BillExpirationException",
            "schema": {
              "$ref": "#/definitions/BillExpirationException"
            }
          },
          "482": {
            "description": "DataUnavailableException",
            "schema": {
              "$ref": "#/definitions/DataUnavailableException"
            }
          },
          "483": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          },
          "484": {
            "description": "RequestChangedException",
            "schema": {
              "$ref": "#/definitions/RequestChangedException"
            }
          }
        }
      }
    },
    "/#GetDimensionValues": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. ",
        "operationId": "GetDimensionValues",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDimensionValuesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDimensionValuesResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "BillExpirationException",
            "schema": {
              "$ref": "#/definitions/BillExpirationException"
            }
          },
          "482": {
            "description": "DataUnavailableException",
            "schema": {
              "$ref": "#/definitions/DataUnavailableException"
            }
          },
          "483": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          },
          "484": {
            "description": "RequestChangedException",
            "schema": {
              "$ref": "#/definitions/RequestChangedException"
            }
          }
        }
      }
    },
    "/#GetReservationCoverage": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Retrieves the reservation coverage for your account. This allows you to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization's master account can see the coverage of the associated member accounts. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>",
        "operationId": "GetReservationCoverage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReservationCoverageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetReservationCoverageResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "DataUnavailableException",
            "schema": {
              "$ref": "#/definitions/DataUnavailableException"
            }
          },
          "482": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        }
      }
    },
    "/#GetReservationPurchaseRecommendation": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Gets recommendations for which reservations to purchase. These recommendations could help you reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>AWS generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After AWS has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of RI to purchase to maximize your estimated savings. </p> <p>For example, AWS automatically aggregates your EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. AWS recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible RI. AWS also shows the equal number of normalized units so that you can purchase any instance size that you want. For this example, your RI recommendation would be for <code>c4.large</code>, because that is the smallest size instance in the c4 instance family.</p>",
        "operationId": "GetReservationPurchaseRecommendation",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReservationPurchaseRecommendationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetReservationPurchaseRecommendationResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "DataUnavailableException",
            "schema": {
              "$ref": "#/definitions/DataUnavailableException"
            }
          },
          "482": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        }
      }
    },
    "/#GetReservationUtilization": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Retrieves the reservation utilization for your account. Master accounts in an organization have access to member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. ",
        "operationId": "GetReservationUtilization",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReservationUtilizationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetReservationUtilizationResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "DataUnavailableException",
            "schema": {
              "$ref": "#/definitions/DataUnavailableException"
            }
          },
          "482": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        }
      }
    },
    "/#GetTags": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Queries for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. ",
        "operationId": "GetTags",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTagsResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "BillExpirationException",
            "schema": {
              "$ref": "#/definitions/BillExpirationException"
            }
          },
          "482": {
            "description": "DataUnavailableException",
            "schema": {
              "$ref": "#/definitions/DataUnavailableException"
            }
          },
          "483": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          },
          "484": {
            "description": "RequestChangedException",
            "schema": {
              "$ref": "#/definitions/RequestChangedException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccountScope": {
      "enum": [
        "PAYER"
      ],
      "type": "string"
    },
    "AmortizedRecurringFee": {
      "type": "string"
    },
    "AmortizedUpfrontFee": {
      "type": "string"
    },
    "AttributeType": {
      "type": "string"
    },
    "AttributeValue": {
      "type": "string"
    },
    "Attributes": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/AttributeType"
          },
          "value": {
            "$ref": "#/definitions/AttributeValue"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "BillExpirationException": {
      "description": "The requested report expired. Update the date interval and try again.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "type": "object"
    },
    "Context": {
      "enum": [
        "COST_AND_USAGE",
        "RESERVATIONS"
      ],
      "type": "string"
    },
    "Coverage": {
      "description": "The amount of instance usage that a reservation covered.",
      "properties": {
        "CoverageHours": {
          "$ref": "#/definitions/CoverageHours",
          "description": "The amount of instance usage that a reservation covered, in hours."
        }
      },
      "type": "object"
    },
    "CoverageByTime": {
      "description": "Reservation coverage for a specified period, in hours.",
      "properties": {
        "Groups": {
          "$ref": "#/definitions/ReservationCoverageGroups",
          "description": "The groups of instances that are covered by a reservation."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The period over which this coverage was used."
        },
        "Total": {
          "$ref": "#/definitions/Coverage",
          "description": "The total reservation coverage, in hours."
        }
      },
      "type": "object"
    },
    "CoverageHours": {
      "description": "How long a running instance either used a reservation or was On-Demand.",
      "properties": {
        "CoverageHoursPercentage": {
          "$ref": "#/definitions/CoverageHoursPercentage",
          "description": "The percentage of instance hours that are covered by a reservation."
        },
        "OnDemandHours": {
          "$ref": "#/definitions/OnDemandHours",
          "description": "The number of instance running hours that are covered by On-Demand Instances."
        },
        "ReservedHours": {
          "$ref": "#/definitions/ReservedHours",
          "description": "The number of instance running hours that are covered by reservations."
        },
        "TotalRunningHours": {
          "$ref": "#/definitions/TotalRunningHours",
          "description": "The total instance usage, in hours."
        }
      },
      "type": "object"
    },
    "CoverageHoursPercentage": {
      "type": "string"
    },
    "CoveragesByTime": {
      "items": {
        "$ref": "#/definitions/CoverageByTime"
      },
      "type": "array"
    },
    "DataUnavailableException": {
      "description": "The requested data is unavailable.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "type": "object"
    },
    "DateInterval": {
      "description": "The time period that you want the usage and costs for. ",
      "properties": {
        "End": {
          "$ref": "#/definitions/YearMonthDay",
          "description": "The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>."
        },
        "Start": {
          "$ref": "#/definitions/YearMonthDay",
          "description": "The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date."
        }
      },
      "required": [
        "Start",
        "End"
      ],
      "type": "object"
    },
    "Dimension": {
      "enum": [
        "AZ",
        "INSTANCE_TYPE",
        "LINKED_ACCOUNT",
        "OPERATION",
        "PURCHASE_TYPE",
        "REGION",
        "SERVICE",
        "USAGE_TYPE",
        "USAGE_TYPE_GROUP",
        "RECORD_TYPE",
        "OPERATING_SYSTEM",
        "TENANCY",
        "SCOPE",
        "PLATFORM",
        "SUBSCRIPTION_ID",
        "LEGAL_ENTITY_NAME",
        "DEPLOYMENT_OPTION",
        "DATABASE_ENGINE",
        "CACHE_ENGINE",
        "INSTANCE_TYPE_FAMILY"
      ],
      "type": "string"
    },
    "DimensionValues": {
      "description": "The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.",
      "properties": {
        "Key": {
          "$ref": "#/definitions/Dimension",
          "description": "The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones."
        },
        "Values": {
          "$ref": "#/definitions/Values",
          "description": "The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values."
        }
      },
      "type": "object"
    },
    "DimensionValuesWithAttributes": {
      "description": "The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "The attribute that applies to a specific <code>Dimension</code>."
        },
        "Value": {
          "$ref": "#/definitions/Value",
          "description": "The value of a dimension with a specific attribute."
        }
      },
      "type": "object"
    },
    "DimensionValuesWithAttributesList": {
      "items": {
        "$ref": "#/definitions/DimensionValuesWithAttributes"
      },
      "type": "array"
    },
    "EC2InstanceDetails": {
      "description": "Details about the EC2 instances that AWS recommends that you purchase.",
      "properties": {
        "AvailabilityZone": {
          "$ref": "#/definitions/GenericString",
          "description": "The Availability Zone of the recommended reservation."
        },
        "CurrentGeneration": {
          "$ref": "#/definitions/GenericBoolean",
          "description": "Whether the recommendation is for a current generation instance. "
        },
        "Family": {
          "$ref": "#/definitions/GenericString",
          "description": "The instance family of the recommended reservation."
        },
        "InstanceType": {
          "$ref": "#/definitions/GenericString",
          "description": "The type of instance that AWS recommends."
        },
        "Platform": {
          "$ref": "#/definitions/GenericString",
          "description": "The platform of the recommended reservation. The platform is the specific combination of operating system, license model, and software on an instance."
        },
        "Region": {
          "$ref": "#/definitions/GenericString",
          "description": "The AWS Region of the recommended reservation."
        },
        "SizeFlexEligible": {
          "$ref": "#/definitions/GenericBoolean",
          "description": "Whether the recommended reservation is size flexible."
        },
        "Tenancy": {
          "$ref": "#/definitions/GenericString",
          "description": "Whether the recommended reservation is dedicated or shared."
        }
      },
      "type": "object"
    },
    "EC2Specification": {
      "description": "The EC2 hardware specifications that you want AWS to provide recommendations for.",
      "properties": {
        "OfferingClass": {
          "$ref": "#/definitions/OfferingClass",
          "description": "Whether you want a recommendation for standard or convertible reservations."
        }
      },
      "type": "object"
    },
    "Entity": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Estimated": {
      "type": "boolean"
    },
    "Expression": {
      "description": "<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p> <ul> <li> <p>Simple dimension values - You can set the dimension name and values for the filters that you plan to use. For example, you can filter for <code>INSTANCE_TYPE==m4.xlarge OR INSTANCE_TYPE==c4.large</code>. The <code>Expression</code> for that looks like this:</p> <p> <code>{ \"Dimensions\": { \"Key\": \"INSTANCE_TYPE\", \"Values\": [ \"m4.xlarge\", “c4.large” ] } }</code> </p> <p>The list of dimension values are OR'd together to retrieve cost or usage data. You can create <code>Expression</code> and <code>DimensionValues</code> objects using either <code>with*</code> methods or <code>set*</code> methods in multiple lines. </p> </li> <li> <p>Compound dimension values with logical operations - You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. This allows you to filter on more advanced options. For example, you can filter on <code>((INSTANCE_TYPE == m4.large OR INSTANCE_TYPE == m3.large) OR (TAG.Type == Type1)) AND (USAGE_TYPE != DataTransfer)</code>. The <code>Expression</code> for that looks like this:</p> <p> <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"INSTANCE_TYPE\", \"Values\": [ \"m4.x.large\", \"c4.large\" ] }}, {\"Tags\": { \"Key\": \"TagName\", \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [\"DataTransfer\"] }}} ] } </code> </p> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an <code>Expression</code> object that creates an error.</p> </note> <p> <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"USAGE_TYPE\", \"Values\": [ \"DataTransfer\" ] } } </code> </p> </li> </ul>",
      "properties": {
        "And": {
          "$ref": "#/definitions/Expressions",
          "description": "Return results that match both <code>Dimension</code> objects."
        },
        "Dimensions": {
          "$ref": "#/definitions/DimensionValues",
          "description": "The specific <code>Dimension</code> to use for <code>Expression</code>."
        },
        "Not": {
          "$ref": "#/definitions/Expression",
          "description": "Return results that don't match a <code>Dimension</code> object."
        },
        "Or": {
          "$ref": "#/definitions/Expressions",
          "description": "Return results that match either <code>Dimension</code> object."
        },
        "Tags": {
          "$ref": "#/definitions/TagValues",
          "description": "The specific <code>Tag</code> to use for <code>Expression</code>."
        }
      },
      "type": "object"
    },
    "Expressions": {
      "items": {
        "$ref": "#/definitions/Expression"
      },
      "type": "array"
    },
    "GenericBoolean": {
      "type": "boolean"
    },
    "GenericString": {
      "type": "string"
    },
    "GetCostAndUsageRequest": {
      "properties": {
        "Filter": {
          "$ref": "#/definitions/Expression",
          "description": "Filters AWS costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs that are associated with that account's usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>. "
        },
        "Granularity": {
          "$ref": "#/definitions/Granularity",
          "description": "Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>. If <code>Granularity</code> isn't set, the response object doesn't include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>. "
        },
        "GroupBy": {
          "$ref": "#/definitions/GroupDefinitions",
          "description": "<p>You can group AWS costs using up to two different groups, either dimensions, tag keys, or both.</p> <p>When you group by tag key, you get all tag values, including empty strings.</p> <p>Valid values are <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LEGAL_ENTITY_NAME</code>, <code>LINKED_ACCOUNT</code>, <code>OPERATION</code>, <code>PLATFORM</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>TAGS</code>, <code>TENANCY</code>, and <code>USAGE_TYPE</code>.</p>"
        },
        "Metrics": {
          "$ref": "#/definitions/MetricNames",
          "description": "<p>Which metrics are returned in the query. For more information about blended and unblended rates, see <a href=\"https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does the \"blended\" annotation appear on some line items in my bill?</a>. </p> <p>Valid values are <code>BlendedCost</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>.</p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of EC2, the results aren't meaningful because EC2 compute hours and data transfer are measured in different units (for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note> <p> <code>Metrics</code> is required for <code>GetCostAndUsage</code> requests.</p>"
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "Sets the start and end dates for retrieving AWS costs. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>."
        }
      },
      "type": "object"
    },
    "GetCostAndUsageResponse": {
      "properties": {
        "GroupDefinitions": {
          "$ref": "#/definitions/GroupDefinitions",
          "description": "The groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters in the request."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "ResultsByTime": {
          "$ref": "#/definitions/ResultsByTime",
          "description": "The time period that is covered by the results in the response."
        }
      },
      "type": "object"
    },
    "GetDimensionValuesRequest": {
      "properties": {
        "Context": {
          "$ref": "#/definitions/Context",
          "description": "<p>The context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVATIONS</code> or <code>COST_AND_USAGE</code>. The default value is <code>COST_AND_USAGE</code>. If the context is set to <code>RESERVATIONS</code>, the resulting dimension values can be used in the <code>GetReservationUtilization</code> operation. If the context is set to <code>COST_AND_USAGE</code> the resulting dimension values can be used in the <code>GetCostAndUsage</code> operation.</p> <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM - The EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is EC2: CloudWatch – Alarms. The response for this operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>PLATFORM - The EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>"
        },
        "Dimension": {
          "$ref": "#/definitions/Dimension",
          "description": "The name of the dimension. Each <code>Dimension</code> is available for different a <code>Context</code>. For more information, see <code>Context</code>."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "SearchString": {
          "$ref": "#/definitions/SearchString",
          "description": "The value that you want to search the filter values for."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>."
        }
      },
      "required": [
        "TimePeriod",
        "Dimension"
      ],
      "type": "object"
    },
    "GetDimensionValuesResponse": {
      "properties": {
        "DimensionValues": {
          "$ref": "#/definitions/DimensionValuesWithAttributesList",
          "description": "<p>The filters that you used to filter your request. Some dimensions are available only for a specific context:</p> <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM - The EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is EC2: CloudWatch – Alarms. The response for this operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>PLATFORM - The EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>"
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "ReturnSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The number of results that AWS returned at one time."
        },
        "TotalSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The total number of search results."
        }
      },
      "required": [
        "DimensionValues",
        "ReturnSize",
        "TotalSize"
      ],
      "type": "object"
    },
    "GetReservationCoverageRequest": {
      "description": "You can use the following request parameters to query for how much of your instance usage is covered by a reservation.",
      "properties": {
        "Filter": {
          "$ref": "#/definitions/Expression",
          "description": "<p>Filters utilization data by dimensions. You can filter by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p> <code>GetReservationCoverage</code> uses the same <code> <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> </code> object as the other operations, but only <code>AND</code> is supported among each dimension. You can nest only one level deep. If there are multiple values for a dimension, they are OR'd together.</p>"
        },
        "Granularity": {
          "$ref": "#/definitions/Granularity",
          "description": "<p>The granularity of the AWS cost data for the reservation. Valid values are <code>MONTHLY</code> and <code>DAILY</code>.</p> <p>If <code>GroupBy</code> is set, <code>Granularity</code> can't be set. If <code>Granularity</code> isn't set, the response object doesn't include <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>.</p>"
        },
        "GroupBy": {
          "$ref": "#/definitions/GroupDefinitions",
          "description": "<p>You can group the data by the following attributes:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul>"
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The start and end dates of the period for which you want to retrieve data about reservation coverage. You can retrieve data for a maximum of 13 months: the last 12 months and the current month. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. "
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "object"
    },
    "GetReservationCoverageResponse": {
      "properties": {
        "CoveragesByTime": {
          "$ref": "#/definitions/CoveragesByTime",
          "description": "The amount of time that your reservations covered."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "Total": {
          "$ref": "#/definitions/Coverage",
          "description": "The total amount of instance usage that is covered by a reservation."
        }
      },
      "required": [
        "CoveragesByTime"
      ],
      "type": "object"
    },
    "GetReservationPurchaseRecommendationRequest": {
      "properties": {
        "AccountId": {
          "$ref": "#/definitions/GenericString",
          "description": "The account ID that is associated with the recommendation. "
        },
        "AccountScope": {
          "$ref": "#/definitions/AccountScope",
          "description": "The account scope that you want recommendations for. The only valid value is <code>Payer</code>. This means that AWS includes the master account and any member accounts when it calculates its recommendations."
        },
        "LookbackPeriodInDays": {
          "$ref": "#/definitions/LookbackPeriodInDays",
          "description": "The number of previous days that you want AWS to consider when it calculates your recommendations."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The pagination token that indicates the next set of results that you want to retrieve."
        },
        "PageSize": {
          "$ref": "#/definitions/NonNegativeInteger",
          "description": "The number of recommendations that you want returned in a single response object."
        },
        "PaymentOption": {
          "$ref": "#/definitions/PaymentOption",
          "description": "The reservation purchase option that you want recommendations for."
        },
        "Service": {
          "$ref": "#/definitions/GenericString",
          "description": "The specific service that you want recommendations for."
        },
        "ServiceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "The hardware specifications for the service instances that you want recommendations for, such as standard or convertible EC2 instances."
        },
        "TermInYears": {
          "$ref": "#/definitions/TermInYears",
          "description": "The reservation term that you want recommendations for."
        }
      },
      "required": [
        "Service"
      ],
      "type": "object"
    },
    "GetReservationPurchaseRecommendationResponse": {
      "properties": {
        "Metadata": {
          "$ref": "#/definitions/ReservationPurchaseRecommendationMetadata",
          "description": "Information about this specific recommendation call, such as the time stamp for when Cost Explorer generated this recommendation."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The pagination token for the next set of retrievable results."
        },
        "Recommendations": {
          "$ref": "#/definitions/ReservationPurchaseRecommendations",
          "description": "Recommendations for reservations to purchase."
        }
      },
      "type": "object"
    },
    "GetReservationUtilizationRequest": {
      "properties": {
        "Filter": {
          "$ref": "#/definitions/Expression",
          "description": "<p>Filters utilization data by dimensions. You can filter by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>SCOPE</p> </li> <li> <p>TENANCY</p> </li> </ul> <p> <code>GetReservationUtilization</code> uses the same <code> <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> </code> object as the other operations, but only <code>AND</code> is supported among each dimension, and nesting is supported up to only one level deep. If there are multiple values for a dimension, they are OR'd together.</p>"
        },
        "Granularity": {
          "$ref": "#/definitions/Granularity",
          "description": "If <code>GroupBy</code> is set, <code>Granularity</code> can't be set. If <code>Granularity</code> isn't set, the response object doesn't include <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>. If both <code>GroupBy</code> and <code>Granularity</code> aren't set, <code>GetReservationUtilization</code> defaults to <code>DAILY</code>."
        },
        "GroupBy": {
          "$ref": "#/definitions/GroupDefinitions",
          "description": "Groups only by <code>SUBSCRIPTION_ID</code>. Metadata is included."
        },
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "Sets the start and end dates for retrieving Reserved Instance (RI) utilization. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. "
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "object"
    },
    "GetReservationUtilizationResponse": {
      "properties": {
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "Total": {
          "$ref": "#/definitions/ReservationAggregates",
          "description": "The total amount of time that you utilized your RIs."
        },
        "UtilizationsByTime": {
          "$ref": "#/definitions/UtilizationsByTime",
          "description": "The amount of time that you utilized your RIs."
        }
      },
      "required": [
        "UtilizationsByTime"
      ],
      "type": "object"
    },
    "GetTagsRequest": {
      "properties": {
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "SearchString": {
          "$ref": "#/definitions/SearchString",
          "description": "The value that you want to search for."
        },
        "TagKey": {
          "$ref": "#/definitions/TagKey",
          "description": "The key of the tag that you want to return values for."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>."
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "object"
    },
    "GetTagsResponse": {
      "properties": {
        "NextPageToken": {
          "$ref": "#/definitions/NextPageToken",
          "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size."
        },
        "ReturnSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The number of query results that AWS returns at a time."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "The tags that match your request."
        },
        "TotalSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The total number of query results."
        }
      },
      "required": [
        "Tags",
        "ReturnSize",
        "TotalSize"
      ],
      "type": "object"
    },
    "Granularity": {
      "enum": [
        "DAILY",
        "MONTHLY"
      ],
      "type": "string"
    },
    "Group": {
      "description": "One level of grouped data within the results.",
      "properties": {
        "Keys": {
          "$ref": "#/definitions/Keys",
          "description": "The keys that are included in this group."
        },
        "Metrics": {
          "$ref": "#/definitions/Metrics",
          "description": "The metrics that are included in this group."
        }
      },
      "type": "object"
    },
    "GroupDefinition": {
      "description": "Represents a group when you specify a group by criteria, or in the response to a query with a specific grouping.",
      "properties": {
        "Key": {
          "$ref": "#/definitions/GroupDefinitionKey",
          "description": "The string that represents a key for a specified group."
        },
        "Type": {
          "$ref": "#/definitions/GroupDefinitionType",
          "description": "The string that represents the type of group."
        }
      },
      "type": "object"
    },
    "GroupDefinitionKey": {
      "type": "string"
    },
    "GroupDefinitionType": {
      "enum": [
        "DIMENSION",
        "TAG"
      ],
      "type": "string"
    },
    "GroupDefinitions": {
      "items": {
        "$ref": "#/definitions/GroupDefinition"
      },
      "type": "array"
    },
    "Groups": {
      "items": {
        "$ref": "#/definitions/Group"
      },
      "type": "array"
    },
    "InstanceDetails": {
      "description": "Details about the instances that AWS recommends that you purchase.",
      "properties": {
        "EC2InstanceDetails": {
          "$ref": "#/definitions/EC2InstanceDetails",
          "description": "The EC2 instances that AWS recommends that you purchase."
        },
        "RDSInstanceDetails": {
          "$ref": "#/definitions/RDSInstanceDetails",
          "description": "The RDS instances that AWS recommends that you purchase."
        }
      },
      "type": "object"
    },
    "InvalidNextTokenException": {
      "description": "The pagination token is invalid. Try again without a pagination token.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "type": "object"
    },
    "Key": {
      "type": "string"
    },
    "Keys": {
      "items": {
        "$ref": "#/definitions/Key"
      },
      "type": "array"
    },
    "LimitExceededException": {
      "description": "You made too many calls in a short period of time. Try again later.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "type": "object"
    },
    "LookbackPeriodInDays": {
      "enum": [
        "SEVEN_DAYS",
        "THIRTY_DAYS",
        "SIXTY_DAYS"
      ],
      "type": "string"
    },
    "MetricAmount": {
      "type": "string"
    },
    "MetricName": {
      "type": "string"
    },
    "MetricNames": {
      "items": {
        "$ref": "#/definitions/MetricName"
      },
      "type": "array"
    },
    "MetricUnit": {
      "type": "string"
    },
    "MetricValue": {
      "description": "The aggregated value for a metric.",
      "properties": {
        "Amount": {
          "$ref": "#/definitions/MetricAmount",
          "description": "The actual number that represents the metric."
        },
        "Unit": {
          "$ref": "#/definitions/MetricUnit",
          "description": "The unit that the metric is given in."
        }
      },
      "type": "object"
    },
    "Metrics": {
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/MetricName"
          },
          "value": {
            "$ref": "#/definitions/MetricValue"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "NetRISavings": {
      "type": "string"
    },
    "NextPageToken": {
      "type": "string"
    },
    "NonNegativeInteger": {
      "minimum": 0,
      "type": "integer"
    },
    "OfferingClass": {
      "enum": [
        "STANDARD",
        "CONVERTIBLE"
      ],
      "type": "string"
    },
    "OnDemandCostOfRIHoursUsed": {
      "type": "string"
    },
    "OnDemandHours": {
      "type": "string"
    },
    "PageSize": {
      "type": "integer"
    },
    "PaymentOption": {
      "enum": [
        "NO_UPFRONT",
        "PARTIAL_UPFRONT",
        "ALL_UPFRONT"
      ],
      "type": "string"
    },
    "PurchasedHours": {
      "type": "string"
    },
    "RDSInstanceDetails": {
      "description": "Details about the RDS instances that AWS recommends that you purchase.",
      "properties": {
        "CurrentGeneration": {
          "$ref": "#/definitions/GenericBoolean",
          "description": "Whether the recommendation is for a current generation instance. "
        },
        "DatabaseEngine": {
          "$ref": "#/definitions/GenericString",
          "description": "The database engine that the recommended reservation supports."
        },
        "DeploymentOption": {
          "$ref": "#/definitions/GenericString",
          "description": "Whether the recommendation is for a reservation in a single availability zone or a reservation with a backup in a second availability zone."
        },
        "Family": {
          "$ref": "#/definitions/GenericString",
          "description": "The instance family of the recommended reservation."
        },
        "InstanceType": {
          "$ref": "#/definitions/GenericString",
          "description": "The type of instance that AWS recommends."
        },
        "LicenseModel": {
          "$ref": "#/definitions/GenericString",
          "description": "The license model that the recommended reservation supports."
        },
        "Region": {
          "$ref": "#/definitions/GenericString",
          "description": "The AWS Region of the recommended reservation."
        },
        "SizeFlexEligible": {
          "$ref": "#/definitions/GenericBoolean",
          "description": "Whether the recommended reservation is size flexible."
        }
      },
      "type": "object"
    },
    "RequestChangedException": {
      "description": "Your request parameters changed between pages. Try again with the old parameters or without a pagination token.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "type": "object"
    },
    "ReservationAggregates": {
      "description": "The aggregated numbers for your RI usage.",
      "properties": {
        "AmortizedRecurringFee": {
          "$ref": "#/definitions/AmortizedRecurringFee",
          "description": "The monthly cost of your RI, amortized over the RI period."
        },
        "AmortizedUpfrontFee": {
          "$ref": "#/definitions/AmortizedUpfrontFee",
          "description": "The upfront cost of your RI, amortized over the RI period."
        },
        "NetRISavings": {
          "$ref": "#/definitions/NetRISavings",
          "description": "How much you saved due to purchasing and utilizing RIs. This is calculated by subtracting the <code>TotalAmortizedFee</code> from the <code>OnDemandCostOfRIHoursUsed</code>."
        },
        "OnDemandCostOfRIHoursUsed": {
          "$ref": "#/definitions/OnDemandCostOfRIHoursUsed",
          "description": "How much your RIs would cost if charged On-Demand rates."
        },
        "PurchasedHours": {
          "$ref": "#/definitions/PurchasedHours",
          "description": "How many RI hours that you purchased."
        },
        "TotalActualHours": {
          "$ref": "#/definitions/TotalActualHours",
          "description": "The total number of RI hours that you used."
        },
        "TotalAmortizedFee": {
          "$ref": "#/definitions/TotalAmortizedFee",
          "description": "The total cost of your RI, amortized over the RI period."
        },
        "TotalPotentialRISavings": {
          "$ref": "#/definitions/TotalPotentialRISavings",
          "description": "How much you could save if you use your entire reservation."
        },
        "UnusedHours": {
          "$ref": "#/definitions/UnusedHours",
          "description": "The number of RI hours that you didn't use."
        },
        "UtilizationPercentage": {
          "$ref": "#/definitions/UtilizationPercentage",
          "description": "The percentage of RI time that you used."
        }
      },
      "type": "object"
    },
    "ReservationCoverageGroup": {
      "description": "A group of reservations that share a set of attributes.",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "The attributes for this group of reservations."
        },
        "Coverage": {
          "$ref": "#/definitions/Coverage",
          "description": "How much instance usage this group of reservations covered."
        }
      },
      "type": "object"
    },
    "ReservationCoverageGroups": {
      "items": {
        "$ref": "#/definitions/ReservationCoverageGroup"
      },
      "type": "array"
    },
    "ReservationGroupKey": {
      "type": "string"
    },
    "ReservationGroupValue": {
      "type": "string"
    },
    "ReservationPurchaseRecommendation": {
      "description": "A specific reservation that AWS recommends for purchase.",
      "properties": {
        "AccountScope": {
          "$ref": "#/definitions/AccountScope",
          "description": "The account scope that AWS recommends that you purchase this instance for. For example, you can purchase this reservation for an entire organization in AWS Organizations."
        },
        "LookbackPeriodInDays": {
          "$ref": "#/definitions/LookbackPeriodInDays",
          "description": "How many days of previous usage that AWS takes into consideration when making this recommendation."
        },
        "PaymentOption": {
          "$ref": "#/definitions/PaymentOption",
          "description": "The payment option for the reservation. For example, <code>AllUpfront</code> or <code>NoUpfront</code>."
        },
        "RecommendationDetails": {
          "$ref": "#/definitions/ReservationPurchaseRecommendationDetails",
          "description": "Details about the recommended purchases."
        },
        "RecommendationSummary": {
          "$ref": "#/definitions/ReservationPurchaseRecommendationSummary",
          "description": "A summary about the recommended purchase."
        },
        "ServiceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "Hardware specifications for the service that you want recommendations for."
        },
        "TermInYears": {
          "$ref": "#/definitions/TermInYears",
          "description": "The term of the reservation that you want recommendations for, in years."
        }
      },
      "type": "object"
    },
    "ReservationPurchaseRecommendationDetail": {
      "description": "Details about your recommended reservation purchase.",
      "properties": {
        "AverageNormalizedUnitsUsedPerHour": {
          "$ref": "#/definitions/GenericString",
          "description": "The average number of normalized units that you used in an hour during the historical period. AWS uses this to calculate your recommended reservation purchases."
        },
        "AverageNumberOfInstancesUsedPerHour": {
          "$ref": "#/definitions/GenericString",
          "description": "The average number of instances that you used in an hour during the historical period. AWS uses this to calculate your recommended reservation purchases."
        },
        "AverageUtilization": {
          "$ref": "#/definitions/GenericString",
          "description": "The average utilization of your instances. AWS uses this to calculate your recommended reservation purchases."
        },
        "CurrencyCode": {
          "$ref": "#/definitions/GenericString",
          "description": "The currency code that AWS used to calculate the costs for this instance."
        },
        "EstimatedBreakEvenInMonths": {
          "$ref": "#/definitions/GenericString",
          "description": "How long AWS estimates that it takes for this instance to start saving you money, in months."
        },
        "EstimatedMonthlyOnDemandCost": {
          "$ref": "#/definitions/GenericString",
          "description": "How much AWS estimates that you spend on On-Demand Instances in a month."
        },
        "EstimatedMonthlySavingsAmount": {
          "$ref": "#/definitions/GenericString",
          "description": "How much AWS estimates that this specific recommendation could save you in a month."
        },
        "EstimatedMonthlySavingsPercentage": {
          "$ref": "#/definitions/GenericString",
          "description": "How much AWS estimates that this specific recommendation could save you in a month, as a percentage of your overall costs."
        },
        "EstimatedReservationCostForLookbackPeriod": {
          "$ref": "#/definitions/GenericString",
          "description": "How much AWS estimates that you would have spent for all usage during the specified historical period if you had had a reservation."
        },
        "InstanceDetails": {
          "$ref": "#/definitions/InstanceDetails",
          "description": "Details about the instances that AWS recommends that you purchase."
        },
        "MaximumNormalizedUnitsUsedPerHour": {
          "$ref": "#/definitions/GenericString",
          "description": "The maximum number of normalized units that you used in an hour during the historical period. AWS uses this to calculate your recommended reservation purchases."
        },
        "MaximumNumberOfInstancesUsedPerHour": {
          "$ref": "#/definitions/GenericString",
          "description": "The maximum number of instances that you used in an hour during the historical period. AWS uses this to calculate your recommended reservation purchases."
        },
        "MinimumNormalizedUnitsUsedPerHour": {
          "$ref": "#/definitions/GenericString",
          "description": "The minimum number of hours that you used in an hour during the historical period. AWS uses this to calculate your recommended reservation purchases."
        },
        "MinimumNumberOfInstancesUsedPerHour": {
          "$ref": "#/definitions/GenericString",
          "description": "The minimum number of instances that you used in an hour during the historical period. AWS uses this to calculate your recommended reservation purchases."
        },
        "RecommendedNormalizedUnitsToPurchase": {
          "$ref": "#/definitions/GenericString",
          "description": "The number of normalized units that AWS recommends that you purchase."
        },
        "RecommendedNumberOfInstancesToPurchase": {
          "$ref": "#/definitions/GenericString",
          "description": "The number of instances that AWS recommends that you purchase."
        },
        "RecurringStandardMonthlyCost": {
          "$ref": "#/definitions/GenericString",
          "description": "How much purchasing this instance costs you on a monthly basis."
        },
        "UpfrontCost": {
          "$ref": "#/definitions/GenericString",
          "description": "How much purchasing this instance costs you upfront."
        }
      },
      "type": "object"
    },
    "ReservationPurchaseRecommendationDetails": {
      "items": {
        "$ref": "#/definitions/ReservationPurchaseRecommendationDetail"
      },
      "type": "array"
    },
    "ReservationPurchaseRecommendationMetadata": {
      "description": "Information about this specific recommendation, such as the time stamp for when AWS made a specific recommendation.",
      "properties": {
        "GenerationTimestamp": {
          "$ref": "#/definitions/GenericString",
          "description": "The time stamp for when AWS made this recommendation."
        },
        "RecommendationId": {
          "$ref": "#/definitions/GenericString",
          "description": "The ID for this specific recommendation."
        }
      },
      "type": "object"
    },
    "ReservationPurchaseRecommendationSummary": {
      "description": "A summary about this recommendation, such as the currency code, the amount that AWS estimates you could save, and the total amount of reservation to purchase.",
      "properties": {
        "CurrencyCode": {
          "$ref": "#/definitions/GenericString",
          "description": "The currency code used for this recommendation."
        },
        "TotalEstimatedMonthlySavingsAmount": {
          "$ref": "#/definitions/GenericString",
          "description": "The total amount that AWS estimates that this recommendation could save you in a month."
        },
        "TotalEstimatedMonthlySavingsPercentage": {
          "$ref": "#/definitions/GenericString",
          "description": "The total amount that AWS estimates that this recommendation could save you in a month, as a percentage of your costs."
        }
      },
      "type": "object"
    },
    "ReservationPurchaseRecommendations": {
      "items": {
        "$ref": "#/definitions/ReservationPurchaseRecommendation"
      },
      "type": "array"
    },
    "ReservationUtilizationGroup": {
      "description": "A group of RIs that share a set of attributes.",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "The attributes for this group of RIs."
        },
        "Key": {
          "$ref": "#/definitions/ReservationGroupKey",
          "description": "The key for a specific RI attribute."
        },
        "Utilization": {
          "$ref": "#/definitions/ReservationAggregates",
          "description": "How much you used this group of RIs."
        },
        "Value": {
          "$ref": "#/definitions/ReservationGroupValue",
          "description": "The value of a specific RI attribute."
        }
      },
      "type": "object"
    },
    "ReservationUtilizationGroups": {
      "items": {
        "$ref": "#/definitions/ReservationUtilizationGroup"
      },
      "type": "array"
    },
    "ReservedHours": {
      "type": "string"
    },
    "ResultByTime": {
      "description": "The result that is associated with a time period.",
      "properties": {
        "Estimated": {
          "$ref": "#/definitions/Estimated",
          "description": "Whether this result is estimated."
        },
        "Groups": {
          "$ref": "#/definitions/Groups",
          "description": "The groups that are included in this time period."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The time period covered by a result."
        },
        "Total": {
          "$ref": "#/definitions/Metrics",
          "description": "The total amount of cost or usage accrued during the time period."
        }
      },
      "type": "object"
    },
    "ResultsByTime": {
      "items": {
        "$ref": "#/definitions/ResultByTime"
      },
      "type": "array"
    },
    "SearchString": {
      "type": "string"
    },
    "ServiceSpecification": {
      "description": "Hardware specifications for the service that you want recommendations for.",
      "properties": {
        "EC2Specification": {
          "$ref": "#/definitions/EC2Specification",
          "description": "The EC2 hardware specifications that you want AWS to provide recommendations for."
        }
      },
      "type": "object"
    },
    "TagKey": {
      "type": "string"
    },
    "TagList": {
      "items": {
        "$ref": "#/definitions/Entity"
      },
      "type": "array"
    },
    "TagValues": {
      "description": "The values that are available for a tag.",
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "The key for a tag."
        },
        "Values": {
          "$ref": "#/definitions/Values",
          "description": "The specific value of a tag."
        }
      },
      "type": "object"
    },
    "TermInYears": {
      "enum": [
        "ONE_YEAR",
        "THREE_YEARS"
      ],
      "type": "string"
    },
    "TotalActualHours": {
      "type": "string"
    },
    "TotalAmortizedFee": {
      "type": "string"
    },
    "TotalPotentialRISavings": {
      "type": "string"
    },
    "TotalRunningHours": {
      "type": "string"
    },
    "UnusedHours": {
      "type": "string"
    },
    "UtilizationByTime": {
      "description": "The amount of utilization, in hours.",
      "properties": {
        "Groups": {
          "$ref": "#/definitions/ReservationUtilizationGroups",
          "description": "The groups that are included in this utilization result."
        },
        "TimePeriod": {
          "$ref": "#/definitions/DateInterval",
          "description": "The period of time over which this utilization was used."
        },
        "Total": {
          "$ref": "#/definitions/ReservationAggregates",
          "description": "The total number of RI hours that were used."
        }
      },
      "type": "object"
    },
    "UtilizationPercentage": {
      "type": "string"
    },
    "UtilizationsByTime": {
      "items": {
        "$ref": "#/definitions/UtilizationByTime"
      },
      "type": "array"
    },
    "Value": {
      "type": "string"
    },
    "Values": {
      "items": {
        "$ref": "#/definitions/Value"
      },
      "type": "array"
    },
    "YearMonthDay": {
      "pattern": "\\d{4}-\\d{2}-\\d{2}",
      "type": "string"
    }
  }
}