{
  "swagger": "2.0",
  "info": {
    "description": "The Socrata OpenDataNetwork (ODN) REST API exposes public data, often continuosly updated and enhanced, from many thousands of public\ngovernment and non profit agencies.\n\nMuch of this data originating from independent sources is fused together to create new, and often\npowerful, entity level data. The API, in addition to search and autosuggest capabilities for finding datasets,\nenables data based comparisons across geographical regions such as states, counties, metropolitan areas,\ncities and zip codes using highly vetted data providers such as US Census, BEA, HUD and others. Comparison data\nis preformatted for easy and efficient display on a chart, graph or interactive map.\n\nThe API also exposes data organized by narrative style questions a human might ask. The questions can\nbe rapidly found using an autosuggest style index, and then used to directly access all data needed to\nthoroughly and authoritatively answer the question. Retrieved data includes time series (temporally aligned),\ntabular, map heavy (includes spatial boundaries), and auto generated unstructured descriptive text.\n\nThe ODN API does not duplicate API endpoints or services provided by public sector agencies, but rather,\nreturns context relevant pre-populated REST URLs, when appropriate, so the caller can access data\ndirectly from the source.\n\nThe [open source](http://github.com/socrata/odn-backend) API powers [OpenDataNetwork.com](http://OpenDataNetwork.com), an [open source](http://github.com/socrata/opendatanetwork.com)\nsite; the site highlights myriad uses and provides API badges with contextually relevant API example\nREST endpoints and documentation pointers.\n\nFinally, we continuously add new dat sources which appear automatically in the API, so if your favorite data\nsource is not available, check back soon. You can also join us [HERE](http://www.opendatanetwork.com/join-open-data-network)\nand receive updates or let us know which data sources you are most interested in.\n\n## App Tokens\n\nRegistering for and including a [Socrata application token](https://dev.socrata.com/docs/app-tokens.html)\nis _required_ for the ODN API. They can be passed either using the `app_token` parameter\nor the `X-App-Token` HTTP header.",
    "title": "ODN API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "apiBlueprint",
        "url": "https://raw.githubusercontent.com/socrata/odn-backend/master/opendatanetwork-apiary.apib",
        "version": "1A"
      }
    ],
    "x-preferred": true,
    "x-providerName": "opendatanetwork.com",
    "x-datafire": {
      "name": "opendatanetwork",
      "type": "openapi"
    }
  },
  "host": "api.opendatanetwork.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/data/v1/availability/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Comma separated list of entity IDs.",
            "in": "query",
            "name": "entity_id",
            "required": true,
            "type": "string",
            "x-example": "0100000US,0400000US53"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Find all available data for some entities",
        "summary": "Find all available data for some entities"
      }
    },
    "/data/v1/constraint/{variable}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Full ID of the variable to retrieve.",
            "in": "path",
            "name": "variable",
            "required": true,
            "type": "string",
            "x-example": "demographics.population.count"
          },
          {
            "description": "Comma separated list of entity IDs.",
            "in": "query",
            "name": "entity_id",
            "required": true,
            "type": "string",
            "x-example": "0100000US,0400000US53"
          },
          {
            "description": "Constraint to use.",
            "in": "query",
            "name": "constraint",
            "required": true,
            "type": "string",
            "x-example": "year"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Get constraint permutations for entities",
        "summary": "Get constraint permutations for entities"
      }
    },
    "/data/v1/map/new": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A single variable ID.",
            "in": "query",
            "name": "variable",
            "required": true,
            "type": "string",
            "x-example": "demographics.population.count"
          },
          {
            "description": "A comma separated list of entity IDs.\nEntities must have the same type and represent geographical regions.",
            "in": "query",
            "name": "entity_id",
            "required": true,
            "type": "string",
            "x-example": "0400000US53,0400000US08"
          },
          {
            "description": "Values must be specified for each constraint in the dataset.\nFor example, to generate map data for `demographics.population.count`,\nyou must specify a value for `year` by passing `year=2013`.",
            "in": "query",
            "name": "constraint",
            "required": false,
            "type": "string"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Create a map",
        "summary": "Create a map"
      }
    },
    "/data/v1/values": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Comma separated list of variable IDs.\nDefaults to retrieving all variables.\nIt is also possible to pass in a topic such as\n`demographics`, or a dataset such as `demographics.population`,\nwhich would both be equivalent to specifying\n`demographics.population.count` and `demographics.population.change`.\nNote that only variables in the same dataset are allowed.",
            "in": "query",
            "name": "variable",
            "required": true,
            "type": "string",
            "x-example": "demographics.population.count"
          },
          {
            "description": "Comma separated list of entity IDs.\nDefaults to retrieving all entities.\nNote that since there is currently no results pagination,\nretrieving values for all entities may produce incomplete results.",
            "in": "query",
            "name": "entity_id",
            "required": false,
            "type": "string",
            "x-example": "0100000US,0400000US53"
          },
          {
            "description": "Number of steps to forecast.\nMust be an integer between 0 and 20.\nForecasts are produced using linear extrapolation\non the data. They are only available when retrieving\ndata for a single variable across many numerical\nconstraint options.\n\n+ Default `0`",
            "in": "query",
            "name": "forecast",
            "required": false,
            "type": "number",
            "x-example": "3"
          },
          {
            "description": "Whether or not to produce a description of the data.\nSet to `true` to produce a description.\nDescriptions are not available if no entities are specified.\n\n+ Default `false`",
            "in": "query",
            "name": "describe",
            "required": false,
            "type": "boolean",
            "x-example": "false"
          },
          {
            "description": "If format is set to `google`, the data frame will be formatted\nas a [Google Visualizations data table](https://developers.google.com/chart/interactive/docs/reference#datatable-class).\nIf the format is not provided or invalid, then the frame\nwill be formatted normally.",
            "enum": [
              "google"
            ],
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Get values for variables",
        "summary": "Get values for variables"
      }
    },
    "/entity/v1": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the entity.",
            "in": "query",
            "name": "entity_id",
            "required": false,
            "type": "string",
            "x-example": "0400000US53"
          },
          {
            "description": "Name of the entity.",
            "in": "query",
            "name": "entity_name",
            "required": false,
            "type": "string",
            "x-example": "washington"
          },
          {
            "description": "Type of the entity.",
            "in": "query",
            "name": "entity_type",
            "required": false,
            "type": "string",
            "x-example": "region.state"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Get Entities",
        "summary": "Get Entities"
      }
    },
    "/entity/v1/{relation}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The type of relation to find.",
            "enum": [
              "parent",
              "child",
              "sibling",
              "peer"
            ],
            "in": "path",
            "name": "relation",
            "required": true,
            "type": "string",
            "x-example": "parent"
          },
          {
            "description": "ID of the target entity.",
            "in": "query",
            "name": "entity_id",
            "required": true,
            "type": "string",
            "x-example": "0400000US53"
          },
          {
            "description": "If this parameter is included, only entities with data for the given\nvariable will be returned. Note that this may cause the number of\nentities returned to be less than the specified `limit`.",
            "in": "query",
            "name": "variable_id",
            "required": false,
            "type": "string",
            "x-example": "demographics.population.seattle"
          },
          {
            "default": 10,
            "description": "Maximum number of entities in each group.\nMust be an integer from 1 to 1000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Find the relatives of an entity",
        "summary": "Find the relatives of an entity"
      }
    },
    "/search/v1/dataset": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Entities to use in formulating the query.",
            "in": "query",
            "name": "entity_id",
            "required": false,
            "type": "string",
            "x-example": "0100000US"
          },
          {
            "description": "If included, the search terms of the dataset\nwill be used in the query.",
            "in": "query",
            "name": "dataset_id",
            "required": false,
            "type": "string",
            "x-example": "demographics.population"
          },
          {
            "default": 10,
            "description": "Maximum number of results to return.\nMust be an integer from 0 to 50000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number"
          },
          {
            "description": "Number of results to skip.\nUsed for pagination.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "number"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Get datasets",
        "summary": "Get datasets"
      }
    },
    "/search/v1/question": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "String to search against.",
            "in": "query",
            "name": "query",
            "required": true,
            "type": "string",
            "x-example": "seattle"
          },
          {
            "default": 10,
            "description": "Maximum number of results to return.\nMust be an integer from 0 to 50000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number"
          },
          {
            "description": "Number of results to skip.\nUsed for pagination.",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "number"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Get questions",
        "summary": "Get questions"
      }
    },
    "/suggest/v1/{type}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Type of the object to find.",
            "enum": [
              "entity",
              "category",
              "publisher",
              "dataset",
              "question"
            ],
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string",
            "x-example": "entity"
          },
          {
            "description": "Query to match.",
            "in": "query",
            "name": "query",
            "required": true,
            "type": "string",
            "x-example": "seattl"
          },
          {
            "default": 5,
            "description": "Maximum number of results to return.\nMust be an integer from 0 to 100.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number"
          },
          {
            "description": "This parameter is only available when suggesting entities with `type=entity`.\nIf it is provided, suggestions will be filtered to include\nonly entities that have data for the given variable.\n\nIf the variable provided is invalid, no entities will be returned.\n\nNote that this filtering will increase response time significantly,\nso it should only be used when necessary.",
            "in": "query",
            "name": "variable_id",
            "required": false,
            "type": "string",
            "x-example": "demographics.population.count"
          },
          {
            "description": "The [Socrata App Token](https://dev.socrata.com/docs/app-tokens.html) to be\nused with your request. The `app_token` parameter is required if an app token is not passed via the `X-App-Token` HTTP header. Clients must [register for their own app tokens](https://dev.socrata.com/docs/app-tokens.html).",
            "in": "query",
            "name": "app_token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          },
          {
            "description": "e.g. cQovpGcdUT1CSzgYk0KPYdAI0",
            "in": "header",
            "name": "X-App-Token",
            "required": false,
            "type": "string",
            "x-example": "cQovpGcdUT1CSzgYk0KPYdAI0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [],
        "description": "",
        "operationId": "Get suggestions",
        "summary": "Get suggestions"
      }
    }
  },
  "definitions": {
    "Data_Availability": {},
    "Data_Constraints": {},
    "Data_Values": {},
    "Entity_Lookup": {},
    "Entity_Relationships": {},
    "Map_Creation": {},
    "Search_Datasets": {},
    "Search_Questions": {},
    "Suggestions": {}
  },
  "tags": [],
  "x-components": {}
}