{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "DvlaAPIAccess@dvla.gov.uk",
      "name": "DVLA API Team",
      "x-twitter": "GDSTeam"
    },
    "description": "Interface specification for the DVLA Vehicle Enquiry API",
    "title": "Vehicle Enquiry API",
    "version": "1.1.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_GDSTeam_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://developer-portal.driver-vehicle-licensing.api.gov.uk/apis/vehicle-enquiry-service/v1.1.0-vehicle-enquiry-service.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "api.gov.uk",
    "x-serviceName": "vehicle-enquiry",
    "x-datafire": {
      "name": "api_gov_uk_vehicle_enquiry",
      "type": "openapi"
    }
  },
  "host": "driver-vehicle-licensing.api.gov.uk",
  "basePath": "/vehicle-enquiry",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/vehicles": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Client Specific API Key",
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "type": "string"
          },
          {
            "description": "Consumer Correlation ID",
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "type": "string"
          },
          {
            "description": "Registration number of the vehicle to find details for",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VehicleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Vehicle"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Vehicle Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "vehicle"
        ],
        "description": "Returns vehicle details based on registration number",
        "operationId": "getVehicleDetailsByRegistrationNumber",
        "summary": "Get vehicle details by registration number"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Error Response",
      "properties": {
        "errors": {
          "items": {
            "$ref": "#/definitions/Errors"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Errors": {
      "properties": {
        "code": {
          "description": "DVLA reference code",
          "example": "105",
          "type": "string"
        },
        "detail": {
          "description": "A meaningful description of the error which has occurred",
          "example": "Invalid format for field - vehicle registration number",
          "type": "string"
        },
        "status": {
          "example": "400",
          "type": "string"
        },
        "title": {
          "description": "Error title",
          "example": "Invalid vrn number",
          "type": "string"
        }
      },
      "required": [
        "title"
      ],
      "type": "object"
    },
    "Vehicle": {
      "properties": {
        "artEndDate": {
          "description": "Additional Rate of Tax End Date, format: YYYY-MM-DD",
          "example": "2007-12-25",
          "format": "date",
          "type": "string"
        },
        "co2Emissions": {
          "description": "Carbon Dioxide emissions in grams per kilometre",
          "example": 0,
          "format": "int32",
          "type": "integer"
        },
        "colour": {
          "description": "Vehicle colour",
          "example": "Blue",
          "type": "string"
        },
        "dateOfLastV5CIssued": {
          "description": "Date of last V5C issued",
          "example": "2016-12-25",
          "format": "date",
          "type": "string"
        },
        "engineCapacity": {
          "description": "Engine capacity in cubic centimetres",
          "example": 1796,
          "format": "int32",
          "type": "integer"
        },
        "euroStatus": {
          "description": "Euro Status (Dealer / Customer Provided (new vehicles))",
          "example": "Euro 5",
          "type": "string"
        },
        "fuelType": {
          "description": "Fuel type (Method of Propulsion)",
          "example": "PETROL",
          "type": "string"
        },
        "make": {
          "description": "Vehicle make",
          "example": "ROVER",
          "type": "string"
        },
        "markedForExport": {
          "description": "True only if vehicle has been export marked",
          "example": true,
          "type": "boolean"
        },
        "monthOfFirstDvlaRegistration": {
          "description": "Month of First DVLA Registration",
          "example": "2011-11",
          "format": "date",
          "type": "string"
        },
        "monthOfFirstRegistration": {
          "description": "Month of First Registration",
          "example": "2012-12",
          "format": "date",
          "type": "string"
        },
        "motExpiryDate": {
          "description": "Mot Expiry Date",
          "example": "2008-12-25",
          "format": "date",
          "type": "string"
        },
        "motStatus": {
          "description": "MOT Status of the vehicle",
          "enum": [
            "No details held by DVLA",
            "No results returned",
            "Not valid",
            "Valid"
          ],
          "example": "No details held by DVLA",
          "type": "string"
        },
        "realDrivingEmissions": {
          "description": "Real Driving Emissions value",
          "example": "1",
          "type": "string"
        },
        "registrationNumber": {
          "description": "Registration number of the vehicle",
          "example": "WN67DSO",
          "type": "string"
        },
        "revenueWeight": {
          "description": "Revenue weight in kilograms",
          "example": 1640,
          "format": "int32",
          "type": "integer"
        },
        "taxDueDate": {
          "description": "Date of tax liablity, Used in calculating licence information presented to user",
          "example": "2017-12-25",
          "format": "date",
          "type": "string"
        },
        "taxStatus": {
          "description": "Tax status of the vehicle",
          "enum": [
            "Not Taxed for on Road Use",
            "SORN",
            "Taxed",
            "Untaxed"
          ],
          "example": "Untaxed",
          "type": "string"
        },
        "typeApproval": {
          "description": "Vehicle Type Approval Category",
          "example": "N1",
          "type": "string"
        },
        "wheelplan": {
          "description": "Vehicle wheel plan",
          "example": "NON STANDARD",
          "type": "string"
        },
        "yearOfManufacture": {
          "description": "Year of Manufacture",
          "example": 2004,
          "format": "int32",
          "type": "integer"
        }
      },
      "required": [
        "registrationNumber"
      ],
      "type": "object"
    },
    "VehicleRequest": {
      "properties": {
        "registrationNumber": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "vehicle"
    }
  ],
  "x-components": {}
}