{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "AWS Snow Family is a petabyte-scale data transport solution that uses secure devices to transfer large amounts of data between your on-premises data centers and Amazon Simple Storage Service (Amazon S3). The Snow commands described here provide access to the same functionality that is available in the AWS Snow Family Management Console, which enables you to create and manage jobs for a Snow device. To transfer data locally with a Snow device, you'll need to use the Snowball Edge client or the Amazon S3 API Interface for Snowball or AWS OpsHub for Snow Family. For more information, see the <a href=\"https://docs.aws.amazon.com/AWSImportExport/latest/ug/api-reference.html\">User Guide</a>.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Import/Export Snowball",
    "version": "2016-06-30",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/snowball-2016-06-30.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "snowball",
    "x-datafire": {
      "name": "amazonaws_snowball",
      "type": "openapi"
    }
  },
  "host": "snowball.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=AWSIESnowballJobManagementService.CancelCluster": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.CancelCluster"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelClusterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelClusterResult"
            }
          },
          "480": {
            "description": "KMSRequestFailedException",
            "schema": {
              "$ref": "#/definitions/KMSRequestFailedException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "482": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          }
        },
        "description": "Cancels a cluster job. You can only cancel a cluster job while it's in the <code>AwaitingQuorum</code> status. You'll have at least an hour after creating a cluster job to cancel it.",
        "operationId": "CancelCluster"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.CancelJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.CancelJob"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelJobResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "482": {
            "description": "KMSRequestFailedException",
            "schema": {
              "$ref": "#/definitions/KMSRequestFailedException"
            }
          }
        },
        "description": "Cancels the specified job. You can only cancel a job before its <code>JobState</code> value changes to <code>PreparingAppliance</code>. Requesting the <code>ListJobs</code> or <code>DescribeJob</code> action returns a job's <code>JobState</code> as part of the response element data returned.",
        "operationId": "CancelJob"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.CreateAddress": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.CreateAddress"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAddressResult"
            }
          },
          "480": {
            "description": "InvalidAddressException",
            "schema": {
              "$ref": "#/definitions/InvalidAddressException"
            }
          },
          "481": {
            "description": "UnsupportedAddressException",
            "schema": {
              "$ref": "#/definitions/UnsupportedAddressException"
            }
          }
        },
        "description": "Creates an address for a Snow device to be shipped to. In most regions, addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. If the address is invalid or unsupported, then an exception is thrown.",
        "operationId": "CreateAddress"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.CreateCluster": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.CreateCluster"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateClusterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateClusterResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "KMSRequestFailedException",
            "schema": {
              "$ref": "#/definitions/KMSRequestFailedException"
            }
          },
          "482": {
            "description": "InvalidInputCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidInputCombinationException"
            }
          },
          "483": {
            "description": "Ec2RequestFailedException",
            "schema": {
              "$ref": "#/definitions/Ec2RequestFailedException"
            }
          }
        },
        "description": "Creates an empty cluster. Each cluster supports five nodes. You use the <a>CreateJob</a> action separately to create the jobs for each of these nodes. The cluster does not ship until these five node jobs have been created.",
        "operationId": "CreateCluster"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.CreateJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.CreateJob"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateJobResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "KMSRequestFailedException",
            "schema": {
              "$ref": "#/definitions/KMSRequestFailedException"
            }
          },
          "482": {
            "description": "InvalidInputCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidInputCombinationException"
            }
          },
          "483": {
            "description": "ClusterLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClusterLimitExceededException"
            }
          },
          "484": {
            "description": "Ec2RequestFailedException",
            "schema": {
              "$ref": "#/definitions/Ec2RequestFailedException"
            }
          }
        },
        "description": "Creates a job to import or export data between Amazon S3 and your on-premises data center. Your AWS account must have the right trust policies and permissions in place to create a job for a Snow device. If you're creating a job for a node in a cluster, you only need to provide the <code>clusterId</code> value; the other job attributes are inherited from the cluster. ",
        "operationId": "CreateJob"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.CreateReturnShippingLabel": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.CreateReturnShippingLabel"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReturnShippingLabelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateReturnShippingLabelResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "482": {
            "description": "InvalidInputCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidInputCombinationException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ReturnShippingLabelAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ReturnShippingLabelAlreadyExistsException"
            }
          }
        },
        "description": "Creates a shipping label that will be used to return the Snow device to AWS.",
        "operationId": "CreateReturnShippingLabel"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeAddress": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.DescribeAddress"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAddressResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          }
        },
        "description": "Takes an <code>AddressId</code> and returns specific details about that address in the form of an <code>Address</code> object.",
        "operationId": "DescribeAddress"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeAddresses": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSIESnowballJobManagementService.DescribeAddresses"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeAddressesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAddressesResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        },
        "description": "Returns a specified number of <code>ADDRESS</code> objects. Calling this API in one of the US regions will return addresses from the list of all addresses associated with this account in all US regions.",
        "operationId": "DescribeAddresses"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeCluster": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.DescribeCluster"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeClusterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeClusterResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          }
        },
        "description": "Returns information about a specific cluster including shipping information, cluster status, and other important metadata.",
        "operationId": "DescribeCluster"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.DescribeJob"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeJobResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          }
        },
        "description": "Returns information about a specific job including shipping information, job status, and other important metadata. ",
        "operationId": "DescribeJob"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeReturnShippingLabel": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.DescribeReturnShippingLabel"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReturnShippingLabelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeReturnShippingLabelResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "482": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "description": "Information on the shipping label of a Snow device that is being returned to AWS.",
        "operationId": "DescribeReturnShippingLabel"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.GetJobManifest": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.GetJobManifest"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetJobManifestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetJobManifestResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          }
        },
        "description": "<p>Returns a link to an Amazon S3 presigned URL for the manifest file associated with the specified <code>JobId</code> value. You can access the manifest file for up to 60 minutes after this request has been made. To access the manifest file after 60 minutes have passed, you'll have to make another call to the <code>GetJobManifest</code> action.</p> <p>The manifest is an encrypted file that you can download after your job enters the <code>WithCustomer</code> status. The manifest is decrypted by using the <code>UnlockCode</code> code value, when you pass both values to the Snow device through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of an <code>UnlockCode</code> value in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snow device associated with that job.</p> <p>The credentials of a given job, including its manifest file and unlock code, expire 90 days after the job is created.</p>",
        "operationId": "GetJobManifest"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.GetJobUnlockCode": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.GetJobUnlockCode"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetJobUnlockCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetJobUnlockCodeResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          }
        },
        "description": "<p>Returns the <code>UnlockCode</code> code value for the specified job. A particular <code>UnlockCode</code> value can be accessed for up to 90 days after the associated job has been created.</p> <p>The <code>UnlockCode</code> value is a 29-character code with 25 alphanumeric characters and 4 hyphens. This code is used to decrypt the manifest file when it is passed along with the manifest to the Snow device through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of the <code>UnlockCode</code> in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snow device associated with that job.</p>",
        "operationId": "GetJobUnlockCode"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.GetSnowballUsage": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.GetSnowballUsage"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSnowballUsageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSnowballUsageResult"
            }
          }
        },
        "description": "<p>Returns information about the Snow Family service limit for your account, and also the number of Snow devices your account has in use.</p> <p>The default service limit for the number of Snow devices that you can have at one time is 1. If you want to increase your service limit, contact AWS Support.</p>",
        "operationId": "GetSnowballUsage"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.GetSoftwareUpdates": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.GetSoftwareUpdates"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSoftwareUpdatesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSoftwareUpdatesResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          }
        },
        "description": "Returns an Amazon S3 presigned URL for an update file associated with a specified <code>JobId</code>.",
        "operationId": "GetSoftwareUpdates"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.ListClusterJobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.ListClusterJobs"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListClusterJobsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListClusterJobsResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        },
        "description": "Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object is for a job in the specified cluster and contains a job's state, a job's ID, and other information.",
        "operationId": "ListClusterJobs"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.ListClusters": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.ListClusters"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListClustersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListClustersResult"
            }
          },
          "480": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        },
        "description": "Returns an array of <code>ClusterListEntry</code> objects of the specified length. Each <code>ClusterListEntry</code> object contains a cluster's state, a cluster's ID, and other important status information.",
        "operationId": "ListClusters"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.ListCompatibleImages": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.ListCompatibleImages"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListCompatibleImagesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListCompatibleImagesResult"
            }
          },
          "480": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          },
          "481": {
            "description": "Ec2RequestFailedException",
            "schema": {
              "$ref": "#/definitions/Ec2RequestFailedException"
            }
          }
        },
        "description": "This action returns a list of the different Amazon EC2 Amazon Machine Images (AMIs) that are owned by your AWS account that would be supported for use on a Snow device. Currently, supported AMIs are based on the CentOS 7 (x86_64) - with Updates HVM, Ubuntu Server 14.04 LTS (HVM), and Ubuntu 16.04 LTS - Xenial (HVM) images, available on the AWS Marketplace.",
        "operationId": "ListCompatibleImages"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.ListJobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AWSIESnowballJobManagementService.ListJobs"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListJobsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobsResult"
            }
          },
          "480": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          }
        },
        "description": "Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object contains a job's state, a job's ID, and a value that indicates whether the job is a job part, in the case of export jobs. Calling this API action in one of the US regions will return jobs from the list of all jobs associated with this account in all US regions.",
        "operationId": "ListJobs"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.UpdateCluster": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.UpdateCluster"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateClusterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateClusterResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "482": {
            "description": "KMSRequestFailedException",
            "schema": {
              "$ref": "#/definitions/KMSRequestFailedException"
            }
          },
          "483": {
            "description": "InvalidInputCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidInputCombinationException"
            }
          },
          "484": {
            "description": "Ec2RequestFailedException",
            "schema": {
              "$ref": "#/definitions/Ec2RequestFailedException"
            }
          }
        },
        "description": "While a cluster's <code>ClusterState</code> value is in the <code>AwaitingQuorum</code> state, you can update some of the information associated with a cluster. Once the cluster changes to a different job state, usually 60 minutes after the cluster being created, this action is no longer available.",
        "operationId": "UpdateCluster"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.UpdateJob": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.UpdateJob"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateJobResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "482": {
            "description": "KMSRequestFailedException",
            "schema": {
              "$ref": "#/definitions/KMSRequestFailedException"
            }
          },
          "483": {
            "description": "InvalidInputCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidInputCombinationException"
            }
          },
          "484": {
            "description": "ClusterLimitExceededException",
            "schema": {
              "$ref": "#/definitions/ClusterLimitExceededException"
            }
          },
          "485": {
            "description": "Ec2RequestFailedException",
            "schema": {
              "$ref": "#/definitions/Ec2RequestFailedException"
            }
          }
        },
        "description": "While a job's <code>JobState</code> value is <code>New</code>, you can update some of the information associated with a job. Once the job changes to a different job state, usually within 60 minutes of the job being created, this action is no longer available.",
        "operationId": "UpdateJob"
      }
    },
    "/#X-Amz-Target=AWSIESnowballJobManagementService.UpdateJobShipmentState": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "AWSIESnowballJobManagementService.UpdateJobShipmentState"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateJobShipmentStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateJobShipmentStateResult"
            }
          },
          "480": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "481": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          }
        },
        "description": "Updates the state when a the shipment states changes to a different state.",
        "operationId": "UpdateJobShipmentState"
      }
    }
  },
  "definitions": {
    "Address": {
      "description": "The address that you want the Snow device(s) associated with a specific job to be shipped to. Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. Although no individual elements of the <code>Address</code> are required, if the address is invalid or unsupported, then an exception is thrown.",
      "properties": {
        "AddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressId"
            },
            {
              "description": "The unique ID for an address."
            }
          ]
        },
        "City": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The city in an address that a Snow device is to be delivered to."
            }
          ]
        },
        "Company": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The name of the company to receive a Snow device at an address."
            }
          ]
        },
        "Country": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The country in an address that a Snow device is to be delivered to."
            }
          ]
        },
        "IsRestricted": {
          "allOf": [
            {
              "$ref": "#/definitions/Boolean"
            },
            {
              "description": "If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions."
            }
          ]
        },
        "Landmark": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "This field is no longer used and the value is ignored."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The name of a person to receive a Snow device at an address."
            }
          ]
        },
        "PhoneNumber": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The phone number associated with an address that a Snow device is to be delivered to."
            }
          ]
        },
        "PostalCode": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The postal code in an address that a Snow device is to be delivered to."
            }
          ]
        },
        "PrefectureOrDistrict": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "This field is no longer used and the value is ignored."
            }
          ]
        },
        "StateOrProvince": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The state or province in an address that a Snow device is to be delivered to."
            }
          ]
        },
        "Street1": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The first line in a street address that a Snow device is to be delivered to."
            }
          ]
        },
        "Street2": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The second line in a street address that a Snow device is to be delivered to."
            }
          ]
        },
        "Street3": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The third line in a street address that a Snow device is to be delivered to."
            }
          ]
        }
      },
      "type": "object"
    },
    "AddressId": {
      "maxLength": 40,
      "minLength": 40,
      "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "AddressList": {
      "items": {
        "$ref": "#/definitions/Address"
      },
      "type": "array"
    },
    "AmiId": {
      "maxLength": 21,
      "minLength": 12,
      "pattern": "(ami-[0-9a-f]{8})|(ami-[0-9a-f]{17})",
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CancelClusterRequest": {
      "properties": {
        "ClusterId": {
          "allOf": [
            {
              "$ref": "#/definitions/ClusterId"
            },
            {
              "description": "The 39-character ID for the cluster that you want to cancel, for example <code>CID123e4567-e89b-12d3-a456-426655440000</code>."
            }
          ]
        }
      },
      "required": [
        "ClusterId"
      ],
      "title": "CancelClusterRequest",
      "type": "object"
    },
    "CancelClusterResult": {
      "properties": {},
      "type": "object"
    },
    "CancelJobRequest": {
      "properties": {
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The 39-character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
            }
          ]
        }
      },
      "required": [
        "JobId"
      ],
      "title": "CancelJobRequest",
      "type": "object"
    },
    "CancelJobResult": {
      "properties": {},
      "type": "object"
    },
    "ClusterId": {
      "maxLength": 39,
      "minLength": 39,
      "pattern": "CID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "ClusterLimitExceededException": {},
    "ClusterListEntry": {
      "description": "Contains a cluster's state, a cluster's ID, and other important information.",
      "properties": {
        "ClusterId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The 39-character ID for the cluster that you want to list, for example <code>CID123e4567-e89b-12d3-a456-426655440000</code>."
            }
          ]
        },
        "ClusterState": {
          "allOf": [
            {
              "$ref": "#/definitions/ClusterState"
            },
            {
              "description": "The current state of this cluster. For information about the state of a specific node, see <a>JobListEntry$JobState</a>."
            }
          ]
        },
        "CreationDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The creation date for this cluster."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "Defines an optional description of the cluster, for example <code>Environmental Data Cluster-01</code>."
            }
          ]
        }
      },
      "type": "object"
    },
    "ClusterListEntryList": {
      "items": {
        "$ref": "#/definitions/ClusterListEntry"
      },
      "type": "array"
    },
    "ClusterMetadata": {
      "description": "Contains metadata about a specific cluster.",
      "properties": {
        "AddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressId"
            },
            {
              "description": "The automatically generated ID for a specific address."
            }
          ]
        },
        "ClusterId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The automatically generated ID for a cluster."
            }
          ]
        },
        "ClusterState": {
          "allOf": [
            {
              "$ref": "#/definitions/ClusterState"
            },
            {
              "description": "The current status of the cluster."
            }
          ]
        },
        "CreationDate": {
          "allOf": [
            {
              "$ref": "#/definitions/Timestamp"
            },
            {
              "description": "The creation date for this cluster."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The optional description of the cluster."
            }
          ]
        },
        "ForwardingAddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressId"
            },
            {
              "description": "The ID of the address that you want a cluster shipped to, after it will be shipped to its primary address. This field is not supported in most regions."
            }
          ]
        },
        "JobType": {
          "allOf": [
            {
              "$ref": "#/definitions/JobType"
            },
            {
              "description": "The type of job for this cluster. Currently, the only job type supported for clusters is <code>LOCAL_USE</code>."
            }
          ]
        },
        "KmsKeyARN": {
          "allOf": [
            {
              "$ref": "#/definitions/KmsKeyARN"
            },
            {
              "description": "The <code>KmsKeyARN</code> Amazon Resource Name (ARN) associated with this cluster. This ARN was created using the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html\">CreateKey</a> API action in AWS Key Management Service (AWS KMS)."
            }
          ]
        },
        "Notification": {
          "allOf": [
            {
              "$ref": "#/definitions/Notification"
            },
            {
              "description": "The Amazon Simple Notification Service (Amazon SNS) notification settings for this cluster."
            }
          ]
        },
        "Resources": {
          "allOf": [
            {
              "$ref": "#/definitions/JobResource"
            },
            {
              "description": "The arrays of <a>JobResource</a> objects that can include updated <a>S3Resource</a> objects or <a>LambdaResource</a> objects."
            }
          ]
        },
        "RoleARN": {
          "allOf": [
            {
              "$ref": "#/definitions/RoleARN"
            },
            {
              "description": "The role ARN associated with this cluster. This ARN was created using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a> API action in AWS Identity and Access Management (IAM)."
            }
          ]
        },
        "ShippingOption": {
          "allOf": [
            {
              "$ref": "#/definitions/ShippingOption"
            },
            {
              "description": "<p>The shipping speed for each node in this cluster. This speed doesn't dictate how soon you'll get each device, rather it represents how quickly each device moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, devices shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snow devices shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snow devices are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>"
            }
          ]
        },
        "SnowballType": {
          "allOf": [
            {
              "$ref": "#/definitions/SnowballType"
            },
            {
              "description": "<p>The type of AWS Snow device to use for this cluster. </p> <note> <p>For cluster jobs, AWS Snow Family currently supports only the <code>EDGE</code> device type.</p> </note>"
            }
          ]
        },
        "TaxDocuments": {
          "allOf": [
            {
              "$ref": "#/definitions/TaxDocuments"
            },
            {
              "description": "The tax documents required in your AWS Region."
            }
          ]
        }
      },
      "type": "object"
    },
    "ClusterState": {
      "enum": [
        "AwaitingQuorum",
        "Pending",
        "InUse",
        "Complete",
        "Cancelled"
      ],
      "type": "string"
    },
    "CompatibleImage": {
      "description": "A JSON-formatted object that describes a compatible Amazon Machine Image (AMI), including the ID and name for a Snow device AMI. This AMI is compatible with the device's physical hardware requirements, and it should be able to be run in an SBE1 instance on the device.",
      "properties": {
        "AmiId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The unique identifier for an individual Snow device AMI."
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The optional name of a compatible image."
            }
          ]
        }
      },
      "type": "object"
    },
    "CompatibleImageList": {
      "items": {
        "$ref": "#/definitions/CompatibleImage"
      },
      "type": "array"
    },
    "ConflictException": {},
    "CreateAddressRequest": {
      "properties": {
        "Address": {
          "allOf": [
            {
              "$ref": "#/definitions/Address"
            },
            {
              "description": "The address that you want the Snow device shipped to."
            }
          ]
        }
      },
      "required": [
        "Address"
      ],
      "title": "CreateAddressRequest",
      "type": "object"
    },
    "CreateAddressResult": {
      "example": {
        "AddressId": "ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b"
      },
      "properties": {
        "AddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "The automatically generated ID for a specific address. You'll use this ID when you create a job to specify which address you want the Snow device for that job shipped to."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateClusterRequest": {
      "properties": {
        "AddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressId"
            },
            {
              "description": "The ID for the address that you want the cluster shipped to."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "An optional description of this specific cluster, for example <code>Environmental Data Cluster-01</code>."
            }
          ]
        },
        "ForwardingAddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressId"
            },
            {
              "description": "The forwarding address ID for a cluster. This field is not supported in most regions."
            }
          ]
        },
        "JobType": {
          "allOf": [
            {
              "$ref": "#/definitions/JobType"
            },
            {
              "description": "The type of job for this cluster. Currently, the only job type supported for clusters is <code>LOCAL_USE</code>."
            }
          ]
        },
        "KmsKeyARN": {
          "allOf": [
            {
              "$ref": "#/definitions/KmsKeyARN"
            },
            {
              "description": "The <code>KmsKeyARN</code> value that you want to associate with this cluster. <code>KmsKeyARN</code> values are created by using the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html\">CreateKey</a> API action in AWS Key Management Service (AWS KMS). "
            }
          ]
        },
        "Notification": {
          "allOf": [
            {
              "$ref": "#/definitions/Notification"
            },
            {
              "description": "The Amazon Simple Notification Service (Amazon SNS) notification settings for this cluster."
            }
          ]
        },
        "Resources": {
          "allOf": [
            {
              "$ref": "#/definitions/JobResource"
            },
            {
              "description": "The resources associated with the cluster job. These resources include Amazon S3 buckets and optional AWS Lambda functions written in the Python language. "
            }
          ]
        },
        "RoleARN": {
          "allOf": [
            {
              "$ref": "#/definitions/RoleARN"
            },
            {
              "description": "The <code>RoleARN</code> that you want to associate with this cluster. <code>RoleArn</code> values are created by using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a> API action in AWS Identity and Access Management (IAM)."
            }
          ]
        },
        "ShippingOption": {
          "allOf": [
            {
              "$ref": "#/definitions/ShippingOption"
            },
            {
              "description": "<p>The shipping speed for each node in this cluster. This speed doesn't dictate how soon you'll get each Snowball Edge device, rather it represents how quickly each device moves to its destination while in transit. Regional shipping speeds are as follows: </p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, Snow devices shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snow devices shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snow device are delivered in one to seven days.</p> </li> <li> <p>In the United States of America (US), you have access to one-day shipping and two-day shipping.</p> </li> </ul> <ul> <li> <p>In Australia, you have access to express shipping. Typically, devices shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snow devices shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snow device are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>"
            }
          ]
        },
        "SnowballType": {
          "allOf": [
            {
              "$ref": "#/definitions/SnowballType"
            },
            {
              "description": "<p>The type of AWS Snow Family device to use for this cluster. </p> <note> <p>For cluster jobs, AWS Snow Family currently supports only the <code>EDGE</code> device type.</p> </note>"
            }
          ]
        },
        "TaxDocuments": {
          "allOf": [
            {
              "$ref": "#/definitions/TaxDocuments"
            },
            {
              "description": "The tax documents required in your AWS Region."
            }
          ]
        }
      },
      "required": [
        "JobType",
        "Resources",
        "AddressId",
        "RoleARN",
        "ShippingOption"
      ],
      "title": "CreateClusterRequest",
      "type": "object"
    },
    "CreateClusterResult": {
      "example": {
        "ClusterId": "CID123e4567-e89b-12d3-a456-426655440000"
      },
      "properties": {
        "ClusterId": {
          "allOf": [
            {
              "$ref": "#/definitions/ClusterId"
            },
            {
              "description": "The automatically generated ID for a cluster."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateJobRequest": {
      "properties": {
        "AddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressId"
            },
            {
              "description": "The ID for the address that you want the Snow device shipped to."
            }
          ]
        },
        "ClusterId": {
          "allOf": [
            {
              "$ref": "#/definitions/ClusterId"
            },
            {
              "description": "The ID of a cluster. If you're creating a job for a node in a cluster, you need to provide only this <code>clusterId</code> value. The other job attributes are inherited from the cluster."
            }
          ]
        },
        "Description": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "Defines an optional description of this specific job, for example <code>Important Photos 2016-08-11</code>."
            }
          ]
        },
        "DeviceConfiguration": {
          "allOf": [
            {
              "$ref": "#/definitions/DeviceConfiguration"
            },
            {
              "description": "Defines the device configuration for an AWS Snowcone job."
            }
          ]
        },
        "ForwardingAddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressId"
            },
            {
              "description": "The forwarding address ID for a job. This field is not supported in most regions."
            }
          ]
        },
        "JobType": {
          "allOf": [
            {
              "$ref": "#/definitions/JobType"
            },
            {
              "description": "Defines the type of job that you're creating. "
            }
          ]
        },
        "KmsKeyARN": {
          "allOf": [
            {
              "$ref": "#/definitions/KmsKeyARN"
            },
            {
              "description": "The <code>KmsKeyARN</code> that you want to associate with this job. <code>KmsKeyARN</code>s are created using the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html\">CreateKey</a> AWS Key Management Service (KMS) API action."
            }
          ]
        },
        "Notification": {
          "allOf": [
            {
              "$ref": "#/definitions/Notification"
            },
            {
              "description": "Defines the Amazon Simple Notification Service (Amazon SNS) notification settings for this job."
            }
          ]
        },
        "Resources": {
          "allOf": [
            {
              "$ref": "#/definitions/JobResource"
            },
            {
              "description": "<p>Defines the Amazon S3 buckets associated with this job.</p> <p>With <code>IMPORT</code> jobs, you specify the bucket or buckets that your transferred data will be imported into.</p> <p>With <code>EXPORT</code> jobs, you specify the bucket or buckets that your transferred data will be exported from. Optionally, you can also specify a <code>KeyRange</code> value. If you choose to export a range, you define the length of the range by providing either an inclusive <code>BeginMarker</code> value, an inclusive <code>EndMarker</code> value, or both. Ranges are UTF-8 binary sorted.</p>"
            }
          ]
        },
        "RoleARN": {
          "allOf": [
            {
              "$ref": "#/definitions/RoleARN"
            },
            {
              "description": "The <code>RoleARN</code> that you want to associate with this job. <code>RoleArn</code>s are created using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a> AWS Identity and Access Management (IAM) API action."
            }
          ]
        },
        "ShippingOption": {
          "allOf": [
            {
              "$ref": "#/definitions/ShippingOption"
            },
            {
              "description": "<p>The shipping speed for this job. This speed doesn't dictate how soon you'll get the Snow device, rather it represents how quickly the Snow device moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, Snow devices shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snow devices shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snow devices are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>"
            }
          ]
        },
        "SnowballCapacityPreference": {
          "allOf": [
            {
              "$ref": "#/definitions/SnowballCapacity"
            },
            {
              "description": "If your job is being created in one of the US regions, you have the option of specifying what size Snow device you'd like for this job. In all other regions, Snowballs come with 80 TB in storage capacity."
            }
          ]
        },
        "SnowballType": {
          "allOf": [
            {
              "$ref": "#/definitions/SnowballType"
            },
            {
              "description": "<p>The type of AWS Snow Family device to use for this job. </p> <note> <p>For cluster jobs, AWS Snow Family currently supports only the <code>EDGE</code> device type.</p> </note> <p>The type of AWS Snow device to use for this job. Currently, the only supported device type for cluster jobs is <code>EDGE</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/snowball/latest/developer-guide/device-differences.html\">Snowball Edge Device Options</a> in the Snowball Edge Developer Guide.</p>"
            }
          ]
        },
        "TaxDocuments": {
          "allOf": [
            {
              "$ref": "#/definitions/TaxDocuments"
            },
            {
              "description": "The tax documents required in your AWS Region."
            }
          ]
        }
      },
      "title": "CreateJobRequest",
      "type": "object"
    },
    "CreateJobResult": {
      "example": {
        "JobId": "JID123e4567-e89b-12d3-a456-426655440000"
      },
      "properties": {
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
            }
          ]
        }
      },
      "type": "object"
    },
    "CreateReturnShippingLabelRequest": {
      "properties": {
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The ID for a job that you want to create the return shipping label for. For example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
            }
          ]
        },
        "ShippingOption": {
          "allOf": [
            {
              "$ref": "#/definitions/ShippingOption"
            },
            {
              "description": "The shipping speed for a particular job. This speed doesn't dictate how soon the device is returned to AWS. This speed represents how quickly it moves to its destination while in transit. Regional shipping speeds are as follows:"
            }
          ]
        }
      },
      "required": [
        "JobId"
      ],
      "title": "CreateReturnShippingLabelRequest",
      "type": "object"
    },
    "CreateReturnShippingLabelResult": {
      "properties": {
        "Status": {
          "allOf": [
            {
              "$ref": "#/definitions/ShippingLabelStatus"
            },
            {
              "description": "The status information of the task on a Snow device that is being returned to AWS."
            }
          ]
        }
      },
      "type": "object"
    },
    "DataTransfer": {
      "description": "Defines the real-time status of a Snow device's data transfer while the device is at AWS. This data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.",
      "properties": {
        "BytesTransferred": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The number of bytes transferred between a Snow device and Amazon S3."
            }
          ]
        },
        "ObjectsTransferred": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The number of objects transferred between a Snow device and Amazon S3."
            }
          ]
        },
        "TotalBytes": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The total bytes of data for a transfer between a Snow device and Amazon S3. This value is set to 0 (zero) until all the keys that will be transferred have been listed."
            }
          ]
        },
        "TotalObjects": {
          "allOf": [
            {
              "$ref": "#/definitions/Long"
            },
            {
              "description": "The total number of objects for a transfer between a Snow device and Amazon S3. This value is set to 0 (zero) until all the keys that will be transferred have been listed."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeAddressRequest": {
      "properties": {
        "AddressId": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressId"
            },
            {
              "description": "The automatically generated ID for a specific address."
            }
          ]
        }
      },
      "required": [
        "AddressId"
      ],
      "title": "DescribeAddressRequest",
      "type": "object"
    },
    "DescribeAddressResult": {
      "example": {
        "Address": {
          "AddressId": "ADID5643ec50-3eec-4eb3-9be6-9374c10eb51b",
          "City": "Seattle",
          "Company": "My Company",
          "Country": "US",
          "Name": "My Name",
          "PhoneNumber": "425-555-5555",
          "PostalCode": "98101",
          "StateOrProvince": "WA",
          "Street1": "123 Main Street"
        }
      },
      "properties": {
        "Address": {
          "allOf": [
            {
              "$ref": "#/definitions/Address"
            },
            {
              "description": "The address that you want the Snow device(s) associated with a specific job to be shipped to."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeAddressesRequest": {
      "properties": {
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/ListLimit"
            },
            {
              "description": "The number of <code>ADDRESS</code> objects to return."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "HTTP requests are stateless. To identify what object comes \"next\" in the list of <code>ADDRESS</code> objects, you have the option of specifying a value for <code>NextToken</code> as the starting point for your list of returned addresses."
            }
          ]
        }
      },
      "title": "DescribeAddressesRequest",
      "type": "object"
    },
    "DescribeAddressesResult": {
      "example": {
        "Addresses": [
          {
            "AddressId": "ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b",
            "City": "Seattle",
            "Company": "My Company",
            "Country": "US",
            "Name": "My Name",
            "PhoneNumber": "425-555-5555",
            "PostalCode": "98101",
            "StateOrProvince": "WA",
            "Street1": "123 Main Street"
          }
        ]
      },
      "properties": {
        "Addresses": {
          "allOf": [
            {
              "$ref": "#/definitions/AddressList"
            },
            {
              "description": "The Snow device shipping addresses that were created for this account."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "HTTP requests are stateless. If you use the automatically generated <code>NextToken</code> value in your next <code>DescribeAddresses</code> call, your list of returned addresses will start from this point in the array."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeClusterRequest": {
      "properties": {
        "ClusterId": {
          "allOf": [
            {
              "$ref": "#/definitions/ClusterId"
            },
            {
              "description": "The automatically generated ID for a cluster."
            }
          ]
        }
      },
      "required": [
        "ClusterId"
      ],
      "title": "DescribeClusterRequest",
      "type": "object"
    },
    "DescribeClusterResult": {
      "example": {
        "ClusterMetadata": {
          "AddressId": "ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b",
          "ClusterId": "CID123e4567-e89b-12d3-a456-426655440000",
          "ClusterState": "Pending",
          "CreationDate": "1480475517.0",
          "Description": "MyCluster",
          "JobType": "LOCAL_USE",
          "KmsKeyARN": "arn:aws:kms:us-east-1:123456789012:key/abcd1234-12ab-34cd-56ef-123456123456",
          "Notification": {
            "JobStatesToNotify": [],
            "NotifyAll": false
          },
          "Resources": {
            "S3Resources": [
              {
                "BucketArn": "arn:aws:s3:::MyBucket",
                "KeyRange": {}
              }
            ]
          },
          "RoleARN": "arn:aws:iam::123456789012:role/snowball-import-S3-role",
          "ShippingOption": "SECOND_DAY"
        }
      },
      "properties": {
        "ClusterMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/ClusterMetadata"
            },
            {
              "description": "Information about a specific cluster, including shipping information, cluster status, and other important metadata."
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeJobRequest": {
      "properties": {
        "JobId": {
          "allOf": [
            {
              "$ref": "#/definitions/JobId"
            },
            {
              "description": "The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
            }
          ]
        }
      },
[...]
