{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p>This section provides documentation for the Amazon CodeGuru Reviewer API operations. CodeGuru Reviewer is a service that uses program analysis and machine learning to detect potential defects that are difficult for developers to find and recommends fixes in your Java code.</p> <p>By proactively detecting and providing recommendations for addressing code defects and implementing best practices, CodeGuru Reviewer improves the overall quality and maintainability of your code base during the code review stage. For more information about CodeGuru Reviewer, see the <i> <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/welcome.html\">Amazon CodeGuru Reviewer User Guide</a>.</i> </p> <p> To improve the security of your CodeGuru Reviewer API calls, you can establish a private connection between your VPC and CodeGuru Reviewer by creating an <i>interface VPC endpoint</i>. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/vpc-interface-endpoints.html\">CodeGuru Reviewer and interface VPC endpoints (AWS PrivateLink)</a> in the <i>Amazon CodeGuru Reviewer User Guide</i>. </p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon CodeGuru Reviewer",
    "version": "2019-09-19",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codeguru-reviewer-2019-09-19.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "codeguru-reviewer",
    "x-datafire": {
      "name": "amazonaws_codeguru_reviewer",
      "type": "openapi"
    }
  },
  "host": "codeguru-reviewer.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/associations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "List of provider types to use as a filter.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/ProviderType"
            },
            "maxItems": 3,
            "minItems": 1,
            "name": "ProviderType",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>List of repository association states to use as a filter.</p> <p>The valid repository association states are:</p> <ul> <li> <p> <b>Associated</b>: The repository association is complete. </p> </li> <li> <p> <b>Associating</b>: CodeGuru Reviewer is: </p> <ul> <li> <p> Setting up pull request notifications. This is required for pull requests to trigger a CodeGuru Reviewer review. </p> <note> <p> If your repository <code>ProviderType</code> is <code>GitHub</code>, <code>GitHub Enterprise Server</code>, or <code>Bitbucket</code>, CodeGuru Reviewer creates webhooks in your repository to trigger CodeGuru Reviewer reviews. If you delete these webhooks, reviews of code in your repository cannot be triggered. </p> </note> </li> <li> <p> Setting up source code access. This is required for CodeGuru Reviewer to securely clone code in your repository. </p> </li> </ul> </li> <li> <p> <b>Failed</b>: The repository failed to associate or disassociate. </p> </li> <li> <p> <b>Disassociating</b>: CodeGuru Reviewer is removing the repository's pull request notifications and source code access. </p> </li> <li> <p> <b>Disassociated</b>: CodeGuru Reviewer successfully disassociated the repository. You can create a new association with this repository if you want to review source code in it later. You can control access to code reviews created in an associated repository with tags after it has been disassociated. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/auth-and-access-control-using-tags.html\">Using tags to control access to associated repositories</a> in the <i>Amazon CodeGuru Reviewer User Guide</i>. </p> </li> </ul>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/RepositoryAssociationState"
            },
            "maxItems": 5,
            "minItems": 1,
            "name": "State",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "List of repository names to use as a filter.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Name"
            },
            "maxItems": 3,
            "minItems": 1,
            "name": "Name",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "List of owners to use as a filter. For AWS CodeCommit, it is the name of the CodeCommit account that was used to associate the repository. For other repository source providers, such as Bitbucket and GitHub Enterprise Server, this is name of the account that was used to associate the repository. ",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Owner"
            },
            "maxItems": 3,
            "minItems": 1,
            "name": "Owner",
            "required": false,
            "type": "array"
          },
          {
            "description": "The maximum number of repository association results returned by <code>ListRepositoryAssociations</code> in paginated output. When this parameter is used, <code>ListRepositoryAssociations</code> only returns <code>maxResults</code> results in a single page with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListRepositoryAssociations</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, <code>ListRepositoryAssociations</code> returns up to 100 results and a <code>nextToken</code> value if applicable. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "MaxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListRepositoryAssociations</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>Treat this token as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
            "in": "query",
            "maxLength": 2048,
            "minLength": 1,
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRepositoryAssociationsResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": " Returns a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html\"> <code>RepositoryAssociationSummary</code> </a> objects that contain summary information about a repository association. You can filter the returned list by <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html#reviewer-Type-RepositoryAssociationSummary-ProviderType\"> <code>ProviderType</code> </a>, <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html#reviewer-Type-RepositoryAssociationSummary-Name\"> <code>Name</code> </a>, <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html#reviewer-Type-RepositoryAssociationSummary-State\"> <code>State</code> </a>, and <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html#reviewer-Type-RepositoryAssociationSummary-Owner\"> <code>Owner</code> </a>. ",
        "operationId": "ListRepositoryAssociations"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ClientRequestToken": {
                  "description": "Amazon CodeGuru Reviewer uses this value to prevent the accidental creation of duplicate repository associations if there are failures and retries. ",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "^[\\w-]+$",
                  "type": "string"
                },
                "Repository": {
                  "description": " Information about an associated AWS CodeCommit repository or an associated repository that is managed by AWS CodeStar Connections (for example, Bitbucket). This <code>Repository</code> object is not used if your source code is in an associated GitHub repository. ",
                  "properties": {
                    "Bitbucket": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ThirdPartySourceRepository"
                        },
                        {
                          "description": " Information about a Bitbucket repository. "
                        }
                      ]
                    },
                    "CodeCommit": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CodeCommitRepository"
                        },
                        {
                          "description": "Information about an AWS CodeCommit repository."
                        }
                      ]
                    },
                    "GitHubEnterpriseServer": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ThirdPartySourceRepository"
                        },
                        {
                          "description": " Information about a GitHub Enterprise Server repository. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "<p> An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: </p> <ul> <li> <p>A <i>tag key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag keys are case sensitive.</p> </li> <li> <p>An optional field known as a <i>tag value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag value is the same as using an empty string. Like tag keys, tag values are case sensitive.</p> </li> </ul>",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "Repository"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateRepositoryResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "<p> Use to associate an AWS CodeCommit repository or a repostory managed by AWS CodeStar Connections with Amazon CodeGuru Reviewer. When you associate a repository, CodeGuru Reviewer reviews source code changes in the repository's pull requests and provides automatic recommendations. You can view recommendations using the CodeGuru Reviewer console. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/recommendations.html\">Recommendations in Amazon CodeGuru Reviewer</a> in the <i>Amazon CodeGuru Reviewer User Guide.</i> </p> <p>If you associate a CodeCommit repository, it must be in the same AWS Region and AWS account where its CodeGuru Reviewer code reviews are configured.</p> <p>Bitbucket and GitHub Enterprise Server repositories are managed by AWS CodeStar Connections to connect to CodeGuru Reviewer. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/reviewer-ug/step-one.html#select-repository-source-provider\">Connect to a repository source provider</a> in the <i>Amazon CodeGuru Reviewer User Guide.</i> </p> <note> <p> You cannot use the CodeGuru Reviewer SDK or the AWS CLI to associate a GitHub repository with Amazon CodeGuru Reviewer. To associate a GitHub repository, use the console. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/getting-started-with-guru.html\">Getting started with CodeGuru Reviewer</a> in the <i>CodeGuru Reviewer User Guide.</i> </p> </note>",
        "operationId": "AssociateRepository"
      }
    },
    "/associations/{AssociationArn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\"> <code>ListRepositoryAssociations</code> </a>. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "AssociationArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateRepositoryResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": "Removes the association between Amazon CodeGuru Reviewer and a repository.",
        "operationId": "DisassociateRepository"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\"> <code>ListRepositoryAssociations</code> </a>. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "AssociationArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeRepositoryAssociationResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": " Returns a <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> object that contains information about the requested repository association. ",
        "operationId": "DescribeRepositoryAssociation"
      }
    },
    "/codereviews": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ClientRequestToken": {
                  "description": " Amazon CodeGuru Reviewer uses this value to prevent the accidental creation of duplicate code reviews if there are failures and retries. ",
                  "maxLength": 64,
                  "minLength": 1,
                  "pattern": "^[\\w-]+$",
                  "type": "string"
                },
                "Name": {
                  "description": " The name of the code review. The name of each code review in your AWS account must be unique. ",
                  "maxLength": 100,
                  "minLength": 1,
                  "pattern": "[a-zA-Z0-9-_]*",
                  "type": "string"
                },
                "RepositoryAssociationArn": {
                  "description": "<p> The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\"> <code>ListRepositoryAssociations</code> </a>. </p> <p> A code review can only be created on an associated repository. This is the ARN of the associated repository. </p>",
                  "maxLength": 1600,
                  "minLength": 1,
                  "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
                  "type": "string"
                },
                "Type": {
                  "description": "<p> The type of a code review. There are two code review types: </p> <ul> <li> <p> <code>PullRequest</code> - A code review that is automatically triggered by a pull request on an assocaited repository. Because this type of code review is automatically generated, you cannot specify this code review type using <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\"> <code>CreateCodeReview</code> </a>. </p> </li> <li> <p> <code>RepositoryAnalysis</code> - A code review that analyzes all code under a specified branch in an associated respository. The assocated repository is specified using its ARN in <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\"> <code>CreateCodeReview</code> </a>. </p> </li> </ul>",
                  "properties": {
                    "RepositoryAnalysis": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/RepositoryAnalysis"
                        },
                        {
                          "description": " A code review that analyzes all code under a specified branch in an associated respository. The assocated repository is specified using its ARN in <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\"> <code>CreateCodeReview</code> </a>. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "Name",
                "RepositoryAssociationArn",
                "Type"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCodeReviewResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "485": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": " Use to create a code review with a <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReviewType.html\"> <code>CodeReviewType</code> </a> of <code>RepositoryAnalysis</code>. This type of code review analyzes all code under a specified branch in an associated repository. <code>PullRequest</code> code reviews are automatically triggered by a pull request so cannot be created using this method. ",
        "operationId": "CreateCodeReview"
      }
    },
    "/codereviews#Type": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": " List of provider types for filtering that needs to be applied before displaying the result. For example, <code>providerTypes=[GitHub]</code> lists code reviews from GitHub. ",
            "in": "query",
            "items": {
              "$ref": "#/definitions/ProviderType"
            },
            "maxItems": 3,
            "minItems": 1,
            "name": "ProviderTypes",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "<p> List of states for filtering that needs to be applied before displaying the result. For example, <code>states=[Pending]</code> lists code reviews in the Pending state. </p> <p>The valid code review states are:</p> <ul> <li> <p> <code>Completed</code>: The code review is complete. </p> </li> <li> <p> <code>Pending</code>: The code review started and has not completed or failed. </p> </li> <li> <p> <code>Failed</code>: The code review failed. </p> </li> <li> <p> <code>Deleting</code>: The code review is being deleted. </p> </li> </ul>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/JobState"
            },
            "maxItems": 3,
            "minItems": 1,
            "name": "States",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": " List of repository names for filtering that needs to be applied before displaying the result. ",
            "in": "query",
            "items": {
              "$ref": "#/definitions/Name"
            },
            "maxItems": 100,
            "minItems": 1,
            "name": "RepositoryNames",
            "required": false,
            "type": "array"
          },
          {
            "description": " The type of code reviews to list in the response. ",
            "enum": [
              "PullRequest",
              "RepositoryAnalysis"
            ],
            "in": "query",
            "name": "Type",
            "required": true,
            "type": "string"
          },
          {
            "description": " The maximum number of results that are returned per call. The default is 100. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "MaxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": " If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. ",
            "in": "query",
            "maxLength": 2048,
            "minLength": 1,
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListCodeReviewsResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          }
        },
        "description": " Lists all the code reviews that the customer has created in the past 90 days. ",
        "operationId": "ListCodeReviews"
      }
    },
    "/codereviews/{CodeReviewArn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "CodeReviewArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:[a-z-]+:[\\w-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeCodeReviewResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": " Returns the metadata associated with the code review along with its status.",
        "operationId": "DescribeCodeReview"
      }
    },
    "/codereviews/{CodeReviewArn}/Recommendations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " Pagination token. ",
            "in": "query",
            "maxLength": 2048,
            "minLength": 1,
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": " The maximum number of results that are returned per call. The default is 100. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "MaxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "CodeReviewArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:[a-z-]+:[\\w-]+$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRecommendationsResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": " Returns the list of all recommendations for a completed code review. ",
        "operationId": "ListRecommendations"
      }
    },
    "/feedback": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "CodeReviewArn": {
                  "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. ",
                  "maxLength": 1600,
                  "minLength": 1,
                  "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:[a-z-]+:[\\w-]+$",
                  "type": "string"
                },
                "Reactions": {
                  "description": " List for storing reactions. Reactions are utf-8 text code for emojis. If you send an empty list it clears all your feedback. ",
                  "items": {
                    "$ref": "#/definitions/Reaction"
                  },
                  "maxItems": 1,
                  "minItems": 0,
                  "type": "array"
                },
                "RecommendationId": {
                  "description": " The recommendation ID that can be used to track the provided recommendations and then to collect the feedback. ",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "CodeReviewArn",
                "RecommendationId",
                "Reactions"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutRecommendationFeedbackResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": " Stores customer feedback for a CodeGuru Reviewer recommendation. When this API is called again with different reactions the previous feedback is overwritten. ",
        "operationId": "PutRecommendationFeedback"
      }
    },
    "/feedback/{CodeReviewArn}#RecommendationId": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "CodeReviewArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:[a-z-]+:[\\w-]+$",
            "required": true,
            "type": "string"
          },
          {
            "description": " The recommendation ID that can be used to track the provided recommendations and then to collect the feedback. ",
            "in": "query",
            "maxLength": 64,
            "minLength": 1,
            "name": "RecommendationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p> Optional parameter to describe the feedback for a given user. If this is not supplied, it defaults to the user making the request. </p> <p> The <code>UserId</code> is an IAM principal that can be specified as an AWS account ID or an Amazon Resource Name (ARN). For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\"> Specifying a Principal</a> in the <i>AWS Identity and Access Management User Guide</i>. </p>",
            "in": "query",
            "maxLength": 256,
            "minLength": 1,
            "name": "UserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeRecommendationFeedbackResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": " Describes the customer feedback for a CodeGuru Reviewer recommendation. ",
        "operationId": "DescribeRecommendationFeedback"
      }
    },
    "/feedback/{CodeReviewArn}/RecommendationFeedback": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " If <code>nextToken</code> is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. ",
            "in": "query",
            "maxLength": 2048,
            "minLength": 1,
            "name": "NextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": " The maximum number of results that are returned per call. The default is 100. ",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "MaxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "CodeReviewArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:[a-z-]+:[\\w-]+$",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "<p> An AWS user's account ID or Amazon Resource Name (ARN). Use this ID to query the recommendation feedback for a code review from that user. </p> <p> The <code>UserId</code> is an IAM principal that can be specified as an AWS account ID or an Amazon Resource Name (ARN). For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\"> Specifying a Principal</a> in the <i>AWS Identity and Access Management User Guide</i>. </p>",
            "in": "query",
            "items": {
              "$ref": "#/definitions/UserId"
            },
            "maxItems": 100,
            "minItems": 1,
            "name": "UserIds",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": " Used to query the recommendation feedback for a given recommendation. ",
            "in": "query",
            "items": {
              "$ref": "#/definitions/RecommendationId"
            },
            "maxItems": 100,
            "minItems": 1,
            "name": "RecommendationIds",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRecommendationFeedbackResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "482": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "description": " Returns a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RecommendationFeedbackSummary.html\"> <code>RecommendationFeedbackSummary</code> </a> objects that contain customer recommendation feedback for all CodeGuru Reviewer users. ",
        "operationId": "ListRecommendationFeedback"
      }
    },
    "/tags/{resourceArn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\"> <code>ListRepositoryAssociations</code> </a>. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "resourceArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Returns the list of tags associated with an associated repository resource.",
        "operationId": "ListTagsForResource"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\"> <code>ListRepositoryAssociations</code> </a>. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "resourceArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/TagValue"
                  },
                  "description": "<p> An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: </p> <ul> <li> <p>A <i>tag key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag keys are case sensitive.</p> </li> <li> <p>An optional field known as a <i>tag value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag value is the same as using an empty string. Like tag keys, tag values are case sensitive.</p> </li> </ul>",
                  "maxProperties": 50,
                  "minProperties": 1,
                  "type": "object"
                }
              },
              "required": [
                "Tags"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagResourceResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Adds one or more tags to an associated repository.",
        "operationId": "TagResource"
      }
    },
    "/tags/{resourceArn}#tagKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": " The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\"> <code>ListRepositoryAssociations</code> </a>. ",
            "in": "path",
            "maxLength": 1600,
            "minLength": 1,
            "name": "resourceArn",
            "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of the keys for each tag you want to remove from an associated repository.",
            "in": "query",
            "items": {
              "$ref": "#/definitions/TagKey"
            },
            "maxItems": 50,
            "minItems": 1,
            "name": "tagKeys",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagResourceResponse"
            }
          },
          "480": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          },
          "481": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "description": "Removes a tag from an associated repository.",
        "operationId": "UntagResource"
      }
    }
  },
  "definitions": {
    "AccessDeniedException": {},
    "Arn": {
      "maxLength": 1600,
      "minLength": 1,
      "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:[a-z-]+:[\\w-]+$",
      "type": "string"
    },
    "AssociateRepositoryRequest": {
      "properties": {
        "ClientRequestToken": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientRequestToken"
            },
            {
              "description": "Amazon CodeGuru Reviewer uses this value to prevent the accidental creation of duplicate repository associations if there are failures and retries. "
            }
          ]
        },
        "Repository": {
          "allOf": [
            {
              "$ref": "#/definitions/Repository"
            },
            {
              "description": "The repository to associate."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "<p> An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: </p> <ul> <li> <p>A <i>tag key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag keys are case sensitive.</p> </li> <li> <p>An optional field known as a <i>tag value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag value is the same as using an empty string. Like tag keys, tag values are case sensitive.</p> </li> </ul>"
            }
          ]
        }
      },
      "required": [
        "Repository"
      ],
      "title": "AssociateRepositoryRequest",
      "type": "object"
    },
    "AssociateRepositoryResponse": {
      "properties": {
        "RepositoryAssociation": {
          "allOf": [
            {
              "$ref": "#/definitions/RepositoryAssociation"
            },
            {
              "description": "Information about the repository association."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "<p> An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: </p> <ul> <li> <p>A <i>tag key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag keys are case sensitive.</p> </li> <li> <p>An optional field known as a <i>tag value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag value is the same as using an empty string. Like tag keys, tag values are case sensitive.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "AssociationArn": {
      "maxLength": 1600,
      "minLength": 1,
      "pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
      "type": "string"
    },
    "AssociationId": {
      "maxLength": 64,
      "minLength": 1,
      "type": "string"
    },
    "BranchName": {
      "maxLength": 256,
      "minLength": 1,
      "type": "string"
    },
    "ClientRequestToken": {
      "maxLength": 64,
      "minLength": 1,
      "pattern": "^[\\w-]+$",
      "type": "string"
    },
    "CodeCommitRepository": {
      "description": "Information about an AWS CodeCommit repository. The CodeCommit repository must be in the same AWS Region and AWS account where its CodeGuru Reviewer code reviews are configured. ",
      "properties": {
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": "The name of the AWS CodeCommit repository. For more information, see <a href=\"https://docs.aws.amazon.com/codecommit/latest/APIReference/API_GetRepository.html#CodeCommit-GetRepository-request-repositoryName\">repositoryName</a> in the <i>AWS CodeCommit API Reference</i>."
            }
          ]
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "CodeReview": {
      "description": " Information about a code review. A code review belongs to the associated repository that contains the reviewed code. ",
      "properties": {
        "AssociationArn": {
          "allOf": [
            {
              "$ref": "#/definitions/AssociationArn"
            },
            {
              "description": " The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> that contains the reviewed source code. You can retrieve associated repository ARNs by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\"> <code>ListRepositoryAssociations</code> </a>. "
            }
          ]
        },
        "CodeReviewArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. "
            }
          ]
        },
        "CreatedTimeStamp": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeStamp"
            },
            {
              "description": " The time, in milliseconds since the epoch, when the code review was created. "
            }
          ]
        },
        "LastUpdatedTimeStamp": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeStamp"
            },
            {
              "description": " The time, in milliseconds since the epoch, when the code review was last updated. "
            }
          ]
        },
        "Metrics": {
          "allOf": [
            {
              "$ref": "#/definitions/Metrics"
            },
            {
              "description": " The statistics from the code review. "
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": " The name of the code review. "
            }
          ]
        },
        "Owner": {
          "allOf": [
            {
              "$ref": "#/definitions/Owner"
            },
            {
              "description": "The owner of the repository. For an AWS CodeCommit repository, this is the AWS account ID of the account that owns the repository. For a GitHub, GitHub Enterprise Server, or Bitbucket repository, this is the username for the account that owns the repository."
            }
          ]
        },
        "ProviderType": {
          "allOf": [
            {
              "$ref": "#/definitions/ProviderType"
            },
            {
              "description": " The type of repository that contains the reviewed code (for example, GitHub or Bitbucket). "
            }
          ]
        },
        "PullRequestId": {
          "allOf": [
            {
              "$ref": "#/definitions/PullRequestId"
            },
            {
              "description": " The pull request ID for the code review. "
            }
          ]
        },
        "RepositoryName": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": " The name of the repository. "
            }
          ]
        },
        "SourceCodeType": {
          "allOf": [
            {
              "$ref": "#/definitions/SourceCodeType"
            },
            {
              "description": " The type of the source code for the code review. "
            }
          ]
        },
        "State": {
          "allOf": [
            {
              "$ref": "#/definitions/JobState"
            },
            {
              "description": "<p>The valid code review states are:</p> <ul> <li> <p> <code>Completed</code>: The code review is complete. </p> </li> <li> <p> <code>Pending</code>: The code review started and has not completed or failed. </p> </li> <li> <p> <code>Failed</code>: The code review failed. </p> </li> <li> <p> <code>Deleting</code>: The code review is being deleted. </p> </li> </ul>"
            }
          ]
        },
        "StateReason": {
          "allOf": [
            {
              "$ref": "#/definitions/StateReason"
            },
            {
              "description": " The reason for the state of the code review. "
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/Type"
            },
            {
              "description": " The type of code review. "
            }
          ]
        }
      },
      "type": "object"
    },
    "CodeReviewName": {
      "maxLength": 100,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9-_]*",
      "type": "string"
    },
    "CodeReviewSummaries": {
      "items": {
        "$ref": "#/definitions/CodeReviewSummary"
      },
      "type": "array"
    },
    "CodeReviewSummary": {
      "description": " Information about the summary of the code review. ",
      "properties": {
        "CodeReviewArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. "
            }
          ]
        },
        "CreatedTimeStamp": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeStamp"
            },
            {
              "description": " The time, in milliseconds since the epoch, when the code review was created. "
            }
          ]
        },
        "LastUpdatedTimeStamp": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeStamp"
            },
            {
              "description": " The time, in milliseconds since the epoch, when the code review was last updated. "
            }
          ]
        },
        "MetricsSummary": {
          "allOf": [
            {
              "$ref": "#/definitions/MetricsSummary"
            },
            {
              "description": " The statistics from the code review. "
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": " The name of the code review. "
            }
          ]
        },
        "Owner": {
          "allOf": [
            {
              "$ref": "#/definitions/Owner"
            },
            {
              "description": "The owner of the repository. For an AWS CodeCommit repository, this is the AWS account ID of the account that owns the repository. For a GitHub, GitHub Enterprise Server, or Bitbucket repository, this is the username for the account that owns the repository."
            }
          ]
        },
        "ProviderType": {
          "allOf": [
            {
              "$ref": "#/definitions/ProviderType"
            },
            {
              "description": " The provider type of the repository association. "
            }
          ]
        },
        "PullRequestId": {
          "allOf": [
            {
              "$ref": "#/definitions/PullRequestId"
            },
            {
              "description": " The pull request ID for the code review. "
            }
          ]
        },
        "RepositoryName": {
          "allOf": [
            {
              "$ref": "#/definitions/Name"
            },
            {
              "description": " The name of the repository. "
            }
          ]
        },
        "State": {
          "allOf": [
            {
              "$ref": "#/definitions/JobState"
            },
            {
              "description": "<p> The state of the code review. </p> <p>The valid code review states are:</p> <ul> <li> <p> <code>Completed</code>: The code review is complete. </p> </li> <li> <p> <code>Pending</code>: The code review started and has not completed or failed. </p> </li> <li> <p> <code>Failed</code>: The code review failed. </p> </li> <li> <p> <code>Deleting</code>: The code review is being deleted. </p> </li> </ul>"
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/Type"
            },
            {
              "description": " The type of the code review. "
            }
          ]
        }
      },
      "type": "object"
    },
    "CodeReviewType": {
      "description": "<p> The type of a code review. There are two code review types: </p> <ul> <li> <p> <code>PullRequest</code> - A code review that is automatically triggered by a pull request on an assocaited repository. Because this type of code review is automatically generated, you cannot specify this code review type using <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\"> <code>CreateCodeReview</code> </a>. </p> </li> <li> <p> <code>RepositoryAnalysis</code> - A code review that analyzes all code under a specified branch in an associated respository. The assocated repository is specified using its ARN in <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\"> <code>CreateCodeReview</code> </a>. </p> </li> </ul>",
      "properties": {
        "RepositoryAnalysis": {
          "allOf": [
            {
              "$ref": "#/definitions/RepositoryAnalysis"
            },
            {
              "description": " A code review that analyzes all code under a specified branch in an associated respository. The assocated repository is specified using its ARN in <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\"> <code>CreateCodeReview</code> </a>. "
            }
          ]
        }
      },
      "required": [
        "RepositoryAnalysis"
      ],
      "type": "object"
    },
    "CommitDiffSourceCodeType": {
      "description": " A type of <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_SourceCodeType\"> <code>SourceCodeType</code> </a> that specifies the commit diff for a pull request on an associated repository. ",
      "properties": {
        "DestinationCommit": {
          "allOf": [
            {
              "$ref": "#/definitions/CommitId"
            },
            {
              "description": " The SHA of the destination commit used to generate a commit diff. "
            }
          ]
        },
        "SourceCommit": {
          "allOf": [
            {
              "$ref": "#/definitions/CommitId"
            },
            {
              "description": " The SHA of the source commit used to generate a commit diff. "
            }
          ]
        }
      },
      "type": "object"
    },
    "CommitId": {
      "maxLength": 64,
      "minLength": 6,
      "type": "string"
    },
    "ConflictException": {},
    "ConnectionArn": {
      "maxLength": 256,
      "minLength": 0,
      "pattern": "arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+",
      "type": "string"
    },
    "CreateCodeReviewRequest": {
      "properties": {
        "ClientRequestToken": {
          "allOf": [
            {
              "$ref": "#/definitions/ClientRequestToken"
            },
            {
              "description": " Amazon CodeGuru Reviewer uses this value to prevent the accidental creation of duplicate code reviews if there are failures and retries. "
            }
          ]
        },
        "Name": {
          "allOf": [
            {
              "$ref": "#/definitions/CodeReviewName"
            },
            {
              "description": " The name of the code review. The name of each code review in your AWS account must be unique. "
            }
          ]
        },
        "RepositoryAssociationArn": {
          "allOf": [
            {
              "$ref": "#/definitions/AssociationArn"
            },
            {
              "description": "<p> The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\"> <code>RepositoryAssociation</code> </a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\"> <code>ListRepositoryAssociations</code> </a>. </p> <p> A code review can only be created on an associated repository. This is the ARN of the associated repository. </p>"
            }
          ]
        },
        "Type": {
          "allOf": [
            {
              "$ref": "#/definitions/CodeReviewType"
            },
            {
              "description": " The type of code review to create. This is specified using a <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReviewType.html\"> <code>CodeReviewType</code> </a> object. You can create a code review only of type <code>RepositoryAnalysis</code>. "
            }
          ]
        }
      },
      "required": [
        "Name",
        "RepositoryAssociationArn",
        "Type"
      ],
      "title": "CreateCodeReviewRequest",
      "type": "object"
    },
    "CreateCodeReviewResponse": {
      "properties": {
        "CodeReview": {
          "$ref": "#/definitions/CodeReview"
        }
      },
      "type": "object"
    },
    "DescribeCodeReviewRequest": {
      "properties": {},
      "title": "DescribeCodeReviewRequest",
      "type": "object"
    },
    "DescribeCodeReviewResponse": {
      "properties": {
        "CodeReview": {
          "allOf": [
            {
              "$ref": "#/definitions/CodeReview"
            },
            {
              "description": " Information about the code review. "
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeRecommendationFeedbackRequest": {
      "properties": {},
      "title": "DescribeRecommendationFeedbackRequest",
      "type": "object"
    },
    "DescribeRecommendationFeedbackResponse": {
      "properties": {
        "RecommendationFeedback": {
          "allOf": [
            {
              "$ref": "#/definitions/RecommendationFeedback"
            },
            {
              "description": " The recommendation feedback given by the user. "
            }
          ]
        }
      },
      "type": "object"
    },
    "DescribeRepositoryAssociationRequest": {
      "properties": {},
      "title": "DescribeRepositoryAssociationRequest",
      "type": "object"
    },
    "DescribeRepositoryAssociationResponse": {
      "properties": {
        "RepositoryAssociation": {
          "allOf": [
            {
              "$ref": "#/definitions/RepositoryAssociation"
            },
            {
              "description": "Information about the repository association."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "<p> An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: </p> <ul> <li> <p>A <i>tag key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag keys are case sensitive.</p> </li> <li> <p>An optional field known as a <i>tag value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag value is the same as using an empty string. Like tag keys, tag values are case sensitive.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "DisassociateRepositoryRequest": {
      "properties": {},
      "title": "DisassociateRepositoryRequest",
      "type": "object"
    },
    "DisassociateRepositoryResponse": {
      "properties": {
        "RepositoryAssociation": {
          "allOf": [
            {
              "$ref": "#/definitions/RepositoryAssociation"
            },
            {
              "description": "Information about the disassociated repository."
            }
          ]
        },
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "<p> An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: </p> <ul> <li> <p>A <i>tag key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag keys are case sensitive.</p> </li> <li> <p>An optional field known as a <i>tag value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag value is the same as using an empty string. Like tag keys, tag values are case sensitive.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "FilePath": {
      "maxLength": 1024,
      "minLength": 1,
      "type": "string"
    },
    "FindingsCount": {
      "type": "integer"
    },
    "InternalServerException": {},
    "JobState": {
      "enum": [
        "Completed",
        "Pending",
        "Failed",
        "Deleting"
      ],
      "type": "string"
    },
    "JobStates": {
      "items": {
        "$ref": "#/definitions/JobState"
      },
      "maxItems": 3,
      "minItems": 1,
      "type": "array"
    },
    "LineNumber": {
      "type": "integer"
    },
    "ListCodeReviewsMaxResults": {
      "maximum": 100,
      "minimum": 1,
      "type": "integer"
    },
    "ListCodeReviewsRequest": {
      "properties": {},
      "title": "ListCodeReviewsRequest",
      "type": "object"
    },
    "ListCodeReviewsResponse": {
      "properties": {
        "CodeReviewSummaries": {
          "allOf": [
            {
              "$ref": "#/definitions/CodeReviewSummaries"
            },
            {
              "description": " A list of code reviews that meet the criteria of the request. "
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": " Pagination token. "
            }
          ]
        }
      },
      "type": "object"
    },
    "ListRecommendationFeedbackRequest": {
      "properties": {},
      "title": "ListRecommendationFeedbackRequest",
      "type": "object"
    },
    "ListRecommendationFeedbackResponse": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": " If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. "
            }
          ]
        },
        "RecommendationFeedbackSummaries": {
          "allOf": [
            {
              "$ref": "#/definitions/RecommendationFeedbackSummaries"
            },
            {
              "description": " Recommendation feedback summaries corresponding to the code review ARN. "
            }
          ]
        }
      },
      "type": "object"
    },
    "ListRecommendationsRequest": {
      "properties": {},
      "title": "ListRecommendationsRequest",
      "type": "object"
    },
    "ListRecommendationsResponse": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": " Pagination token. "
            }
          ]
        },
        "RecommendationSummaries": {
          "allOf": [
            {
              "$ref": "#/definitions/RecommendationSummaries"
            },
            {
              "description": " List of recommendations for the requested code review. "
            }
          ]
        }
      },
      "type": "object"
    },
    "ListRepositoryAssociationsRequest": {
      "properties": {},
      "title": "ListRepositoryAssociationsRequest",
      "type": "object"
    },
    "ListRepositoryAssociationsResponse": {
      "properties": {
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/NextToken"
            },
            {
              "description": "The <code>nextToken</code> value to include in a future <code>ListRecommendations</code> request. When the results of a <code>ListRecommendations</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return. "
            }
          ]
        },
        "RepositoryAssociationSummaries": {
          "allOf": [
            {
              "$ref": "#/definitions/RepositoryAssociationSummaries"
            },
            {
              "description": "A list of repository associations that meet the criteria of the request."
            }
          ]
        }
      },
      "type": "object"
    },
    "ListTagsForResourceRequest": {
      "properties": {},
      "title": "ListTagsForResourceRequest",
      "type": "object"
    },
    "ListTagsForResourceResponse": {
      "properties": {
        "Tags": {
          "allOf": [
            {
              "$ref": "#/definitions/TagMap"
            },
            {
              "description": "<p> An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: </p> <ul> <li> <p>A <i>tag key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag keys are case sensitive.</p> </li> <li> <p>An optional field known as a <i>tag value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag value is the same as using an empty string. Like tag keys, tag values are case sensitive.</p> </li> </ul>"
            }
          ]
        }
      },
      "type": "object"
    },
    "MaxResults": {
      "maximum": 100,
      "minimum": 1,
      "type": "integer"
    },
    "MeteredLinesOfCodeCount": {
      "type": "integer"
    },
    "Metrics": {
      "description": " Information about the statistics from the code review. ",
      "properties": {
        "FindingsCount": {
          "allOf": [
            {
              "$ref": "#/definitions/FindingsCount"
            },
            {
              "description": " Total number of recommendations found in the code review. "
            }
          ]
        },
        "MeteredLinesOfCodeCount": {
          "allOf": [
            {
              "$ref": "#/definitions/MeteredLinesOfCodeCount"
            },
            {
              "description": " Lines of code metered in the code review. For the initial code review pull request and all subsequent revisions, this includes all lines of code in the files added to the pull request. In subsequent revisions, for files that already existed in the pull request, this includes only the changed lines of code. In both cases, this does not include non-code lines such as comments and import statements. For example, if you submit a pull request containing 5 files, each with 500 lines of code, and in a subsequent revision you added a new file with 200 lines of code, and also modified a total of 25 lines across the initial 5 files, <code>MeteredLinesOfCodeCount</code> includes the first 5 files (5 * 500 = 2,500 lines), the new file (200 lines) and the 25 changed lines of code for a total of 2,725 lines of code. "
            }
          ]
        }
      },
      "type": "object"
    },
    "MetricsSummary": {
      "description": " Information about metrics summaries. ",
      "properties": {
        "FindingsCount": {
          "allOf": [
            {
              "$ref": "#/definitions/FindingsCount"
            },
            {
              "description": " Total number of recommendations found in the code review. "
            }
          ]
        },
        "MeteredLinesOfCodeCount": {
          "allOf": [
            {
              "$ref": "#/definitions/MeteredLinesOfCodeCount"
            },
            {
              "description": " Lines of code metered in the code review. For the initial code review pull request and all subsequent revisions, this includes all lines of code in the files added to the pull request. In subsequent revisions, for files that already existed in the pull request, this includes only the changed lines of code. In both cases, this does not include non-code lines such as comments and import statements. For example, if you submit a pull request containing 5 files, each with 500 lines of code, and in a subsequent revision you added a new file with 200 lines of code, and also modified a total of 25 lines across the initial 5 files, <code>MeteredLinesOfCodeCount</code> includes the first 5 files (5 * 500 = 2,500 lines), the new file (200 lines) and the 25 changed lines of code for a total of 2,725 lines of code. "
            }
          ]
        }
      },
      "type": "object"
    },
    "Name": {
      "maxLength": 100,
      "minLength": 1,
      "pattern": "^\\S[\\w.-]*$",
      "type": "string"
    },
    "Names": {
      "items": {
        "$ref": "#/definitions/Name"
      },
      "maxItems": 3,
      "minItems": 1,
      "type": "array"
    },
    "NextToken": {
      "maxLength": 2048,
      "minLength": 1,
      "type": "string"
    },
    "NotFoundException": {},
    "Owner": {
      "maxLength": 100,
      "minLength": 1,
      "pattern": "^\\S(.*\\S)?$",
      "type": "string"
    },
    "Owners": {
      "items": {
        "$ref": "#/definitions/Owner"
      },
      "maxItems": 3,
      "minItems": 1,
      "type": "array"
    },
    "ProviderType": {
      "enum": [
        "CodeCommit",
        "GitHub",
        "Bitbucket",
        "GitHubEnterpriseServer"
      ],
      "type": "string"
    },
    "ProviderTypes": {
      "items": {
        "$ref": "#/definitions/ProviderType"
      },
      "maxItems": 3,
      "minItems": 1,
      "type": "array"
    },
    "PullRequestId": {
      "maxLength": 64,
      "minLength": 1,
      "type": "string"
    },
    "PutRecommendationFeedbackRequest": {
      "properties": {
        "CodeReviewArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. "
            }
          ]
        },
        "Reactions": {
          "allOf": [
            {
              "$ref": "#/definitions/Reactions"
            },
            {
              "description": " List for storing reactions. Reactions are utf-8 text code for emojis. If you send an empty list it clears all your feedback. "
            }
          ]
        },
        "RecommendationId": {
          "allOf": [
            {
              "$ref": "#/definitions/RecommendationId"
            },
            {
              "description": " The recommendation ID that can be used to track the provided recommendations and then to collect the feedback. "
            }
          ]
        }
      },
      "required": [
        "CodeReviewArn",
        "RecommendationId",
        "Reactions"
      ],
      "title": "PutRecommendationFeedbackRequest",
      "type": "object"
    },
    "PutRecommendationFeedbackResponse": {
      "properties": {},
      "type": "object"
    },
    "Reaction": {
      "enum": [
        "ThumbsUp",
        "ThumbsDown"
      ],
      "type": "string"
    },
    "Reactions": {
      "items": {
        "$ref": "#/definitions/Reaction"
      },
      "maxItems": 1,
      "minItems": 0,
      "type": "array"
    },
    "RecommendationFeedback": {
      "description": " Information about the recommendation feedback. ",
      "properties": {
        "CodeReviewArn": {
          "allOf": [
            {
              "$ref": "#/definitions/Arn"
            },
            {
              "description": "The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\"> <code>CodeReview</code> </a> object. "
            }
          ]
        },
        "CreatedTimeStamp": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeStamp"
            },
            {
              "description": " The time at which the feedback was created. "
            }
          ]
        },
        "LastUpdatedTimeStamp": {
          "allOf": [
            {
              "$ref": "#/definitions/TimeStamp"
            },
            {
              "description": " The time at which the feedback was last updated. "
            }
          ]
        },
        "Reactions": {
          "allOf": [
            {
              "$ref": "#/definitions/Reactions"
            },
            {
              "description": " List for storing reactions. Reactions are utf-8 text code for emojis. You can send an empty list to clear off all your feedback. "
            }
          ]
        },
        "RecommendationId": {
          "allOf": [
            {
              "$ref": "#/definitions/RecommendationId"
            },
            {
              "description": " The recommendation ID that can be used to track the provided recommendations. Later on it can be used to collect the feedback. "
            }
          ]
        },
        "UserId": {
          "allOf": [
            {
              "$ref": "#/definitions/UserId"
            },
            {
              "description": "<p> The ID of the user that made the API call. </p> <p> The <code>UserId</code> is an IAM principal that can be specified as an AWS account ID or an Amazon Resource Name (ARN). For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\"> Specifying a Principal</a> in the <i>AWS Identity and Access Management User Guide</i>. </p>"
            }
          ]
        }
      },
      "type": "object"
    },
    "RecommendationFeedbackSummaries": {
      "items": {
        "$ref": "#/definitions/RecommendationFeedbackSummary"
      },
      "type": "array"
    },
    "RecommendationFeedbackSummary": {
      "description": " Information about recommendation feedback summaries. ",
      "properties": {
        "Reactions": {
          "allOf": [
            {
              "$ref": "#/definitions/Reactions"
            },
            {
              "description": " List for storing reactions. Reactions are utf-8 text code for emojis. "
            }
          ]
        },
        "RecommendationId": {
          "allOf": [
            {
              "$ref": "#/definitions/RecommendationId"
            },
            {
              "description": " The recommendation ID that can be used to track the provided recommendations. Later on it can be used to collect the feedback. "
            }
          ]
        },
        "UserId": {
          "allOf": [
            {
              "$ref": "#/definitions/UserId"
            },
            {
              "description": "<p> The ID of the user that gave the feedback. </p> <p> The <code>UserId</code> is an IAM principal that can be specified as an AWS account ID or an Amazon Resource Name (ARN). For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\"> Specifying a Principal</a> in the <i>AWS Identity and Access Management User Guide</i>. </p>"
            }
          ]
        }
      },
      "type": "object"
    },
    "RecommendationId": {
      "maxLength": 64,
      "minLength": 1,
      "type": "string"
    },
[...]
