{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "s3.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Simple Storage Service",
    "version": "2006-03-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/s3-2006-03-01.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "s3",
    "x-serviceName": "s3",
    "x-datafire": {
      "name": "amazonaws_s3",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/s3/"
  },
  "consumes": [
    "text/xml"
  ],
  "produces": [
    "text/xml"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon S3 signature",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsS3"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "x-amz-security-token": {
      "in": "header",
      "name": "x-amz-security-token",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/#ListBuckets": {
      "get": {
        "description": "Returns a list of all buckets owned by the authenticated sender of the request.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html</p>",
        "operationId": "ListBuckets",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBucketsOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}": {
      "delete": {
        "description": "Deletes the bucket. All objects (including all object versions and Delete Markers) in the bucket must be deleted before the bucket itself can be deleted.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html</p>",
        "operationId": "DeleteBucket",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Creates a new bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html</p>",
        "operationId": "CreateBucket",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBucketRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBucketOutput"
            }
          },
          "480": {
            "description": "BucketAlreadyExists",
            "schema": {
              "$ref": "#/definitions/BucketAlreadyExists"
            }
          },
          "481": {
            "description": "BucketAlreadyOwnedByYou",
            "schema": {
              "$ref": "#/definitions/BucketAlreadyOwnedByYou"
            }
          }
        }
      }
    },
    "/{Bucket}#HeadBucket": {
      "head": {
        "description": "This operation is useful to determine if a bucket exists and you have permission to access it.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html</p>",
        "operationId": "HeadBucket",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HeadBucketRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "NoSuchBucket",
            "schema": {
              "$ref": "#/definitions/NoSuchBucket"
            }
          }
        },
        "x-waiters": [
          {
            "acceptors": [
              {
                "expected": 200,
                "matcher": "status",
                "state": "success"
              },
              {
                "expected": 301,
                "matcher": "status",
                "state": "success"
              },
              {
                "expected": 403,
                "matcher": "status",
                "state": "success"
              },
              {
                "expected": 404,
                "matcher": "status",
                "state": "retry"
              }
            ],
            "delay": 5,
            "maxAttempts": 20,
            "operation": "HeadBucket"
          },
          {
            "acceptors": [
              {
                "expected": 404,
                "matcher": "status",
                "state": "success"
              }
            ],
            "delay": 5,
            "maxAttempts": 20,
            "operation": "HeadBucket"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}#ListObjects": {
      "get": {
        "description": "Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html</p>",
        "operationId": "ListObjects",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListObjectsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxKeys",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "Marker",
            "required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListObjectsOutput"
            }
          },
          "480": {
            "description": "NoSuchBucket",
            "schema": {
              "$ref": "#/definitions/NoSuchBucket"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}": {
      "delete": {
        "description": "<p>Aborts a multipart upload.</p><p>To verify that all parts have been removed, so you don't get charged for the part storage, you should call the List Parts operation and ensure the parts list is empty.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html</p>",
        "operationId": "AbortMultipartUpload",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AbortMultipartUploadRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "in": "path",
            "items": {
              "type": "string"
            },
            "name": "Key",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AbortMultipartUploadOutput"
            }
          },
          "480": {
            "description": "NoSuchUpload",
            "schema": {
              "$ref": "#/definitions/NoSuchUpload"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "post": {
        "description": "Completes a multipart upload by assembling previously uploaded parts.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html</p>",
        "operationId": "CompleteMultipartUpload",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompleteMultipartUploadRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "in": "path",
            "items": {
              "type": "string"
            },
            "name": "Key",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompleteMultipartUploadOutput"
            }
          }
        }
      },
      "put": {
        "description": "Creates a copy of an object that is already stored in Amazon S3.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html</p>",
        "operationId": "CopyObject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyObjectRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "in": "path",
            "items": {
              "type": "string"
            },
            "name": "Key",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopyObjectOutput"
            }
          },
          "480": {
            "description": "ObjectNotInActiveTierError",
            "schema": {
              "$ref": "#/definitions/ObjectNotInActiveTierError"
            }
          }
        }
      }
    },
    "/{Bucket}/{Key}#DeleteObject": {
      "delete": {
        "description": "Removes the null version (if there is one) of an object and inserts a delete marker, which becomes the latest version of the object. If there isn't a null version, Amazon S3 does not remove any objects.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html</p>",
        "operationId": "DeleteObject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteObjectRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteObjectOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}#GetObject": {
      "get": {
        "description": "Retrieves objects from Amazon S3.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html</p>",
        "operationId": "GetObject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetObjectRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetObjectOutput"
            }
          },
          "480": {
            "description": "NoSuchKey",
            "schema": {
              "$ref": "#/definitions/NoSuchKey"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}#HeadObject": {
      "head": {
        "description": "The HEAD operation retrieves metadata from an object without returning the object itself. This operation is useful if you're only interested in an object's metadata. To use HEAD, you must have READ access to the object.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html</p>",
        "operationId": "HeadObject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HeadObjectRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HeadObjectOutput"
            }
          },
          "480": {
            "description": "NoSuchKey",
            "schema": {
              "$ref": "#/definitions/NoSuchKey"
            }
          }
        },
        "x-waiters": [
          {
            "acceptors": [
              {
                "expected": 200,
                "matcher": "status",
                "state": "success"
              },
              {
                "expected": 404,
                "matcher": "status",
                "state": "retry"
              }
            ],
            "delay": 5,
            "maxAttempts": 20,
            "operation": "HeadObject"
          },
          {
            "acceptors": [
              {
                "expected": 404,
                "matcher": "status",
                "state": "success"
              }
            ],
            "delay": 5,
            "maxAttempts": 20,
            "operation": "HeadObject"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}#ListParts": {
      "get": {
        "description": "Lists the parts that have been uploaded for a specific multipart upload.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html</p>",
        "operationId": "ListParts",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListPartsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxParts",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "PartNumberMarker",
            "required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPartsOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}#PutObject": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Adds an object to a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html</p>",
        "operationId": "PutObject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutObjectRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutObjectOutput"
            }
          }
        }
      }
    },
    "/{Bucket}/{Key}#UploadPart": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "<p>Uploads a part in a multipart upload.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPart.html</p>",
        "operationId": "UploadPart",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadPartRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadPartOutput"
            }
          }
        }
      }
    },
    "/{Bucket}/{Key}#UploadPartCopy": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Uploads a part by copying data from an existing object as data source.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html</p>",
        "operationId": "UploadPartCopy",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadPartCopyRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadPartCopyOutput"
            }
          }
        }
      }
    },
    "/{Bucket}/{Key}?acl#GetObjectAcl": {
      "get": {
        "description": "Returns the access control list (ACL) of an object.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETacl.html</p>",
        "operationId": "GetObjectAcl",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetObjectAclRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetObjectAclOutput"
            }
          },
          "480": {
            "description": "NoSuchKey",
            "schema": {
              "$ref": "#/definitions/NoSuchKey"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}?acl#PutObjectAcl": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "uses the acl subresource to set the access control list (ACL) permissions for an object that already exists in a bucket<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html</p>",
        "operationId": "PutObjectAcl",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutObjectAclRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutObjectAclOutput"
            }
          },
          "480": {
            "description": "NoSuchKey",
            "schema": {
              "$ref": "#/definitions/NoSuchKey"
            }
          }
        }
      }
    },
    "/{Bucket}/{Key}?restore#RestoreObject": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "post": {
        "description": "Restores an archived copy of an object back into Amazon S3<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectRestore.html</p>",
        "operationId": "RestoreObject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RestoreObjectRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RestoreObjectOutput"
            }
          },
          "480": {
            "description": "ObjectAlreadyInActiveTierError",
            "schema": {
              "$ref": "#/definitions/ObjectAlreadyInActiveTierError"
            }
          }
        }
      }
    },
    "/{Bucket}/{Key}?select&select-type=2#SelectObjectContent": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "post": {
        "description": "This operation filters the contents of an Amazon S3 object based on a simple Structured Query Language (SQL) statement. In the request, along with the SQL expression, you must also specify a data serialization format (JSON or CSV) of the object. Amazon S3 uses this to parse object data into records, and returns only records that match the specified SQL expression. You must also specify the data serialization format for the response.",
        "operationId": "SelectObjectContent",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SelectObjectContentRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SelectObjectContentOutput"
            }
          }
        }
      }
    },
    "/{Bucket}/{Key}?tagging#DeleteObjectTagging": {
      "delete": {
        "description": "Removes the tag-set from an existing object.",
        "operationId": "DeleteObjectTagging",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteObjectTaggingRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteObjectTaggingOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}?tagging#GetObjectTagging": {
      "get": {
        "description": "Returns the tag-set of an object.",
        "operationId": "GetObjectTagging",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetObjectTaggingRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetObjectTaggingOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}?tagging#PutObjectTagging": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets the supplied tag-set to an object that already exists in a bucket",
        "operationId": "PutObjectTagging",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutObjectTaggingRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutObjectTaggingOutput"
            }
          }
        }
      }
    },
    "/{Bucket}/{Key}?torrent#GetObjectTorrent": {
      "get": {
        "description": "Return torrent files from a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETtorrent.html</p>",
        "operationId": "GetObjectTorrent",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetObjectTorrentRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetObjectTorrentOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}/{Key}?uploads": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "post": {
        "description": "<p>Initiates a multipart upload and returns an upload ID.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html</p>",
        "operationId": "CreateMultipartUpload",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMultipartUploadRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "in": "path",
            "items": {
              "type": "string"
            },
            "name": "Key",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateMultipartUploadOutput"
            }
          }
        }
      }
    },
    "/{Bucket}?accelerate#GetBucketAccelerateConfiguration": {
      "get": {
        "description": "Returns the accelerate configuration of a bucket.",
        "operationId": "GetBucketAccelerateConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketAccelerateConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketAccelerateConfigurationOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?accelerate#PutBucketAccelerateConfiguration": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets the accelerate configuration of an existing bucket.",
        "operationId": "PutBucketAccelerateConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketAccelerateConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?acl#GetBucketAcl": {
      "get": {
        "description": "Gets the access control policy for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html</p>",
        "operationId": "GetBucketAcl",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketAclRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketAclOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?acl#PutBucketAcl": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets the permissions on a bucket using access control lists (ACL).<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html</p>",
        "operationId": "PutBucketAcl",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketAclRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?analytics": {
      "delete": {
        "description": "Deletes an analytics configuration for the bucket (specified by the analytics configuration ID).",
        "operationId": "DeleteBucketAnalyticsConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketAnalyticsConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?analytics#GetBucketAnalyticsConfiguration": {
      "get": {
        "description": "Gets an analytics configuration for the bucket (specified by the analytics configuration ID).",
        "operationId": "GetBucketAnalyticsConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketAnalyticsConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketAnalyticsConfigurationOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?analytics#ListBucketAnalyticsConfigurations": {
      "get": {
        "description": "Lists the analytics configurations for the bucket.",
        "operationId": "ListBucketAnalyticsConfigurations",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBucketAnalyticsConfigurationsRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBucketAnalyticsConfigurationsOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?analytics#PutBucketAnalyticsConfiguration": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets an analytics configuration for the bucket (specified by the analytics configuration ID).",
        "operationId": "PutBucketAnalyticsConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketAnalyticsConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?cors": {
      "delete": {
        "description": "Deletes the cors configuration information set for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html</p>",
        "operationId": "DeleteBucketCors",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketCorsRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?cors#GetBucketCors": {
      "get": {
        "description": "Returns the cors configuration for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html</p>",
        "operationId": "GetBucketCors",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketCorsRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketCorsOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?cors#PutBucketCors": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets the cors configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html</p>",
        "operationId": "PutBucketCors",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketCorsRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?delete#DeleteObjects": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "post": {
        "description": "This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html</p>",
        "operationId": "DeleteObjects",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteObjectsRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteObjectsOutput"
            }
          }
        }
      }
    },
    "/{Bucket}?encryption": {
      "delete": {
        "description": "Deletes the server-side encryption configuration from the bucket.",
        "operationId": "DeleteBucketEncryption",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketEncryptionRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?encryption#GetBucketEncryption": {
      "get": {
        "description": "Returns the server-side encryption configuration of a bucket.",
        "operationId": "GetBucketEncryption",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketEncryptionRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketEncryptionOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?encryption#PutBucketEncryption": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Creates a new server-side encryption configuration (or replaces an existing one, if present).",
        "operationId": "PutBucketEncryption",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketEncryptionRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?inventory": {
      "delete": {
        "description": "Deletes an inventory configuration (identified by the inventory ID) from the bucket.",
        "operationId": "DeleteBucketInventoryConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketInventoryConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?inventory#GetBucketInventoryConfiguration": {
      "get": {
        "description": "Returns an inventory configuration (identified by the inventory ID) from the bucket.",
        "operationId": "GetBucketInventoryConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketInventoryConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketInventoryConfigurationOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?inventory#ListBucketInventoryConfigurations": {
      "get": {
        "description": "Returns a list of inventory configurations for the bucket.",
        "operationId": "ListBucketInventoryConfigurations",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBucketInventoryConfigurationsRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBucketInventoryConfigurationsOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?inventory#PutBucketInventoryConfiguration": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Adds an inventory configuration (identified by the inventory ID) from the bucket.",
        "operationId": "PutBucketInventoryConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketInventoryConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?lifecycle": {
      "delete": {
        "description": "Deletes the lifecycle configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html</p>",
        "operationId": "DeleteBucketLifecycle",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketLifecycleRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?lifecycle#GetBucketLifecycle": {
      "get": {
        "description": "Deprecated, see the GetBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlifecycle.html</p>",
        "operationId": "GetBucketLifecycle",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketLifecycleRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketLifecycleOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?lifecycle#GetBucketLifecycleConfiguration": {
      "get": {
        "description": "Returns the lifecycle configuration information set on the bucket.",
        "operationId": "GetBucketLifecycleConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketLifecycleConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketLifecycleConfigurationOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?lifecycle#PutBucketLifecycle": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Deprecated, see the PutBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlifecycle.html</p>",
        "operationId": "PutBucketLifecycle",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketLifecycleRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?lifecycle#PutBucketLifecycleConfiguration": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets lifecycle configuration for your bucket. If a lifecycle configuration exists, it replaces it.",
        "operationId": "PutBucketLifecycleConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketLifecycleConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?list-type=2#ListObjectsV2": {
      "get": {
        "description": "Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket. Note: ListObjectsV2 is the revised List Objects API and we recommend you use this revised API for new application development.",
        "operationId": "ListObjectsV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListObjectsV2Request"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxKeys",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "ContinuationToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListObjectsV2Output"
            }
          },
          "480": {
            "description": "NoSuchBucket",
            "schema": {
              "$ref": "#/definitions/NoSuchBucket"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?location#GetBucketLocation": {
      "get": {
        "description": "Returns the region the bucket resides in.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html</p>",
        "operationId": "GetBucketLocation",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketLocationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketLocationOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?logging#GetBucketLogging": {
      "get": {
        "description": "Returns the logging status of a bucket and the permissions users have to view and modify that status. To use GET, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlogging.html</p>",
        "operationId": "GetBucketLogging",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketLoggingRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketLoggingOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?logging#PutBucketLogging": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Set the logging parameters for a bucket and to specify permissions for who can view and modify the logging parameters. To set the logging status of a bucket, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlogging.html</p>",
        "operationId": "PutBucketLogging",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketLoggingRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?metrics": {
      "delete": {
        "description": "Deletes a metrics configuration (specified by the metrics configuration ID) from the bucket.",
        "operationId": "DeleteBucketMetricsConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketMetricsConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?metrics#GetBucketMetricsConfiguration": {
      "get": {
        "description": "Gets a metrics configuration (specified by the metrics configuration ID) from the bucket.",
        "operationId": "GetBucketMetricsConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketMetricsConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketMetricsConfigurationOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?metrics#ListBucketMetricsConfigurations": {
      "get": {
        "description": "Lists the metrics configurations for the bucket.",
        "operationId": "ListBucketMetricsConfigurations",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBucketMetricsConfigurationsRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBucketMetricsConfigurationsOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?metrics#PutBucketMetricsConfiguration": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets a metrics configuration (specified by the metrics configuration ID) for the bucket.",
        "operationId": "PutBucketMetricsConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketMetricsConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?notification#GetBucketNotification": {
      "get": {
        "description": "Deprecated, see the GetBucketNotificationConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETnotification.html</p>",
        "operationId": "GetBucketNotification",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketNotificationConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotificationConfigurationDeprecated"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?notification#GetBucketNotificationConfiguration": {
      "get": {
        "description": "Returns the notification configuration of a bucket.",
        "operationId": "GetBucketNotificationConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketNotificationConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotificationConfiguration"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?notification#PutBucketNotification": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Deprecated, see the PutBucketNotificationConfiguraiton operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTnotification.html</p>",
        "operationId": "PutBucketNotification",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketNotificationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?notification#PutBucketNotificationConfiguration": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Enables notifications of specified events for a bucket.",
        "operationId": "PutBucketNotificationConfiguration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketNotificationConfigurationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?policy": {
      "delete": {
        "description": "Deletes the policy from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html</p>",
        "operationId": "DeleteBucketPolicy",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketPolicyRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?policy#GetBucketPolicy": {
      "get": {
        "description": "Returns the policy of a specified bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETpolicy.html</p>",
        "operationId": "GetBucketPolicy",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketPolicyRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketPolicyOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?policy#PutBucketPolicy": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Replaces a policy on a bucket. If the bucket already has a policy, the one in this request completely replaces it.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTpolicy.html</p>",
        "operationId": "PutBucketPolicy",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketPolicyRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?replication": {
      "delete": {
        "description": "Deletes the replication configuration from the bucket.",
        "operationId": "DeleteBucketReplication",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketReplicationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?replication#GetBucketReplication": {
      "get": {
        "description": "Returns the replication configuration of a bucket.",
        "operationId": "GetBucketReplication",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketReplicationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketReplicationOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?replication#PutBucketReplication": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Creates a new replication configuration (or replaces an existing one, if present).",
        "operationId": "PutBucketReplication",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketReplicationRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?requestPayment#GetBucketRequestPayment": {
      "get": {
        "description": "Returns the request payment configuration of a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentGET.html</p>",
        "operationId": "GetBucketRequestPayment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketRequestPaymentRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketRequestPaymentOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?requestPayment#PutBucketRequestPayment": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets the request payment configuration for a bucket. By default, the bucket owner pays for downloads from the bucket. This configuration parameter enables the bucket owner (only) to specify that the person requesting the download will be charged for the download. Documentation on requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/RequesterPaysBuckets.html<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentPUT.html</p>",
        "operationId": "PutBucketRequestPayment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketRequestPaymentRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?tagging": {
      "delete": {
        "description": "Deletes the tags from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html</p>",
        "operationId": "DeleteBucketTagging",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketTaggingRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?tagging#GetBucketTagging": {
      "get": {
        "description": "Returns the tag set associated with the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html</p>",
        "operationId": "GetBucketTagging",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketTaggingRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketTaggingOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?tagging#PutBucketTagging": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets the tags for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html</p>",
        "operationId": "PutBucketTagging",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketTaggingRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?uploads#ListMultipartUploads": {
      "get": {
        "description": "This operation lists in-progress multipart uploads.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html</p>",
        "operationId": "ListMultipartUploads",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMultipartUploadsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxUploads",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "KeyMarker",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "UploadIdMarker",
            "required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListMultipartUploadsOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?versioning#GetBucketVersioning": {
      "get": {
        "description": "Returns the versioning state of a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETversioningStatus.html</p>",
        "operationId": "GetBucketVersioning",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketVersioningRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketVersioningOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?versioning#PutBucketVersioning": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Sets the versioning state of an existing bucket. To set the versioning state, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html</p>",
        "operationId": "PutBucketVersioning",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketVersioningRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/{Bucket}?versions#ListObjectVersions": {
      "get": {
        "description": "Returns metadata about all of the versions of objects in a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html</p>",
        "operationId": "ListObjectVersions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListObjectVersionsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxKeys",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "KeyMarker",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "VersionIdMarker",
            "required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListObjectVersionsOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?website": {
      "delete": {
        "description": "This operation removes the website configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html</p>",
        "operationId": "DeleteBucketWebsite",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBucketWebsiteRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?website#GetBucketWebsite": {
      "get": {
        "description": "Returns the website configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETwebsite.html</p>",
        "operationId": "GetBucketWebsite",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBucketWebsiteRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketWebsiteOutput"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ]
    },
    "/{Bucket}?website#PutBucketWebsite": {
      "parameters": [
        {
          "$ref": "#/parameters/x-amz-security-token"
        }
      ],
      "put": {
        "description": "Set the website configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html</p>",
        "operationId": "PutBucketWebsite",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutBucketWebsiteRequest"
            }
          },
          {
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "definitions": {
    "AbortDate": {
      "format": "date-time",
      "type": "string"
    },
    "AbortIncompleteMultipartUpload": {
      "description": "Specifies the days since the initiation of an Incomplete Multipart Upload that Lifecycle will wait before permanently removing all parts of the upload.",
      "properties": {
        "DaysAfterInitiation": {
          "$ref": "#/definitions/DaysAfterInitiation",
          "description": "Indicates the number of days that must pass since initiation for Lifecycle to abort an Incomplete Multipart Upload."
        }
      },
      "type": "object"
    },
    "AbortMultipartUploadOutput": {
      "example": {},
      "properties": {},
      "type": "object"
    },
    "AbortMultipartUploadRequest": {
      "example": {
        "Bucket": "examplebucket",
        "Key": "bigobject",
        "UploadId": "xadcOB_7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--"
      },
      "properties": {},
      "type": "object"
    },
    "AbortRuleId": {
      "type": "string"
    },
    "AccelerateConfiguration": {
      "properties": {
        "Status": {
          "$ref": "#/definitions/BucketAccelerateStatus",
          "description": "The accelerate configuration of the bucket."
        }
      },
      "type": "object"
    },
    "AcceptRanges": {
      "type": "string"
    },
    "AccessControlPolicy": {
      "properties": {
        "Grants": {
          "$ref": "#/definitions/Grants",
          "description": "A list of grants."
        },
        "Owner": {
          "$ref": "#/definitions/Owner"
        }
      },
      "type": "object"
    },
    "AccessControlTranslation": {
      "description": "Container for information regarding the access control for replicas.",
      "properties": {
        "Owner": {
          "$ref": "#/definitions/OwnerOverride",
          "description": "The override value for the owner of the replica object."
        }
      },
      "required": [
        "Owner"
      ],
      "type": "object"
    },
    "AccountId": {
      "type": "string"
    },
    "AllowedHeader": {
      "type": "string"
    },
    "AllowedHeaders": {
      "items": {
        "$ref": "#/definitions/AllowedHeader"
      },
      "type": "array",
      "xml": {
        "wrapped": false
      }
    },
    "AllowedMethod": {
      "type": "string"
    },
    "AllowedMethods": {
      "items": {
        "$ref": "#/definitions/AllowedMethod"
      },
      "type": "array",
      "xml": {
        "wrapped": false
      }
    },
    "AllowedOrigin": {
      "type": "string"
    },
    "AllowedOrigins": {
      "items": {
        "$ref": "#/definitions/AllowedOrigin"
      },
      "type": "array",
      "xml": {
        "wrapped": false
      }
    },
    "AnalyticsAndOperator": {
      "properties": {
        "Prefix": {
          "$ref": "#/definitions/Prefix",
          "description": "The prefix to use when evaluating an AND predicate."
        },
        "Tags": {
          "$ref": "#/definitions/TagSet",
          "description": "The list of tags to use when evaluating an AND predicate."
        }
      },
      "type": "object",
      "xml": {
        "wrapped": false
      }
    },
    "AnalyticsConfiguration": {
      "properties": {
        "Filter": {
          "$ref": "#/definitions/AnalyticsFilter",
          "description": "The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis."
        },
        "Id": {
          "$ref": "#/definitions/AnalyticsId",
          "description": "The identifier used to represent an analytics configuration."
        },
        "StorageClassAnalysis": {
          "$ref": "#/definitions/StorageClassAnalysis",
          "description": "If present, it indicates that data related to access patterns will be collected and made available to analyze the tradeoffs between different storage classes."
        }
      },
      "required": [
        "Id",
        "StorageClassAnalysis"
      ],
      "type": "object"
    },
    "AnalyticsConfigurationList": {
      "items": {
        "$ref": "#/definitions/AnalyticsConfiguration"
      },
      "type": "array",
      "xml": {
        "wrapped": false
      }
    },
    "AnalyticsExportDestination": {
      "properties": {
        "S3BucketDestination": {
          "$ref": "#/definitions/AnalyticsS3BucketDestination",
          "description": "A destination signifying output to an S3 bucket."
        }
      },
      "required": [
        "S3BucketDestination"
      ],
      "type": "object"
    },
    "AnalyticsFilter": {
      "properties": {
        "And": {
          "$ref": "#/definitions/AnalyticsAndOperator",
          "description": "A conjunction (logical AND) of predicates, which is used in evaluating an analytics filter. The operator must have at least two predicates."
        },
        "Prefix": {
          "$ref": "#/definitions/Prefix",
          "description": "The prefix to use when evaluating an analytics filter."
        },
        "Tag": {
          "$ref": "#/definitions/Tag",
          "description": "The tag to use when evaluating an analytics filter."
        }
      },
      "type": "object"
    },
    "AnalyticsId": {
      "type": "string"
    },
    "AnalyticsS3BucketDestination": {
      "properties": {
        "Bucket": {
          "$ref": "#/definitions/BucketName",
          "description": "The Amazon resource name (ARN) of the bucket to which data is exported."
        },
        "BucketAccountId": {
          "$ref": "#/definitions/AccountId",
          "description": "The account ID that owns the destination bucket. If no account ID is provided, the owner will not be validated prior to exporting data."
        },
        "Format": {
          "$ref": "#/definitions/AnalyticsS3ExportFileFormat",
          "description": "The file format used when exporting data to Amazon S3."
        },
        "Prefix": {
          "$ref": "#/definitions/Prefix",
          "description": "The prefix to use when exporting data. The exported data begins with this prefix."
        }
      },
      "required": [
        "Format",
        "Bucket"
      ],
      "type": "object"
    },
    "AnalyticsS3ExportFileFormat": {
      "enum": [
        "CSV"
      ],
      "type": "string"
    },
    "Body": {
      "type": "string"
    },
    "Bucket": {
      "properties": {
        "CreationDate": {
          "$ref": "#/definitions/CreationDate",
          "description": "Date the bucket was created."
        },
        "Name": {
          "$ref": "#/definitions/BucketName",
          "description": "The name of the bucket."
        }
      },
      "type": "object"
    },
    "BucketAccelerateStatus": {
      "enum": [
        "Enabled",
        "Suspended"
      ],
      "type": "string"
    },
    "BucketAlreadyExists": {
      "description": "The requested bucket name is not available. The bucket namespace is shared by all users of the system. Please select a different name and try again.",
      "properties": {},
      "type": "object"
    },
    "BucketAlreadyOwnedByYou": {
      "properties": {},
      "type": "object"
    },
    "BucketCannedACL": {
      "enum": [
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read"
      ],
      "type": "string"
    },
    "BucketLifecycleConfiguration": {
      "properties": {
        "Rules": {
          "$ref": "#/definitions/LifecycleRules"
        }
      },
      "required": [
        "Rules"
      ],
      "type": "object"
    },
    "BucketLocationConstraint": {
      "enum": [
        "EU",
        "eu-west-1",
        "us-west-1",
        "us-west-2",
        "ap-south-1",
        "ap-southeast-1",
        "ap-southeast-2",
        "ap-northeast-1",
        "sa-east-1",
        "cn-north-1",
        "eu-central-1"
      ],
      "type": "string"
    },
    "BucketLoggingStatus": {
      "properties": {
        "LoggingEnabled": {
          "$ref": "#/definitions/LoggingEnabled"
        }
      },
      "type": "object"
    },
    "BucketLogsPermission": {
      "enum": [
        "FULL_CONTROL",
        "READ",
        "WRITE"
      ],
      "type": "string"
    },
    "BucketName": {
      "type": "string"
    },
    "BucketVersioningStatus": {
      "enum": [
        "Enabled",
        "Suspended"
      ],
      "type": "string"
    },
    "Buckets": {
      "items": {
        "$ref": "#/definitions/Bucket"
      },
      "type": "array"
    },
    "BytesProcessed": {
      "type": "integer"
    },
    "BytesReturned": {
      "type": "integer"
    },
    "BytesScanned": {
      "type": "integer"
    },
    "CORSConfiguration": {
      "properties": {
        "CORSRules": {
          "$ref": "#/definitions/CORSRules"
        }
      },
      "required": [
        "CORSRules"
      ],
      "type": "object"
    },
    "CORSRule": {
      "properties": {
        "AllowedHeaders": {
          "$ref": "#/definitions/AllowedHeaders",
          "description": "Specifies which headers are allowed in a pre-flight OPTIONS request."
        },
        "AllowedMethods": {
          "$ref": "#/definitions/AllowedMethods",
          "description": "Identifies HTTP methods that the domain/origin specified in the rule is allowed to execute."
        },
        "AllowedOrigins": {
          "$ref": "#/definitions/AllowedOrigins",
          "description": "One or more origins you want customers to be able to access the bucket from."
        },
        "ExposeHeaders": {
          "$ref": "#/definitions/ExposeHeaders",
          "description": "One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object)."
        },
        "MaxAgeSeconds": {
          "$ref": "#/definitions/MaxAgeSeconds",
          "description": "The time in seconds that your browser is to cache the preflight response for the specified resource."
        }
      },
      "required": [
        "AllowedMethods",
        "AllowedOrigins"
      ],
      "type": "object"
    },
    "CORSRules": {
      "items": {
        "$ref": "#/definitions/CORSRule"
      },
      "type": "array",
      "xml": {
        "wrapped": false
      }
    },
    "CSVInput": {
      "description": "Describes how a CSV-formatted input object is formatted.",
      "properties": {
        "Comments": {
          "$ref": "#/definitions/Comments",
          "description": "Single character used to indicate a row should be ignored when present at the start of a row."
        },
        "FieldDelimiter": {
          "$ref": "#/definitions/FieldDelimiter",
          "description": "Value used to separate individual fields in a record."
        },
        "FileHeaderInfo": {
          "$ref": "#/definitions/FileHeaderInfo",
          "description": "Describes the first line of input. Valid values: None, Ignore, Use."
        },
        "QuoteCharacter": {
          "$ref": "#/definitions/QuoteCharacter",
          "description": "Value used for escaping where the field delimiter is part of the value."
        },
        "QuoteEscapeCharacter": {
          "$ref": "#/definitions/QuoteEscapeCharacter",
          "description": "Single character used for escaping the quote character inside an already escaped value."
        },
        "RecordDelimiter": {
          "$ref": "#/definitions/RecordDelimiter",
          "description": "Value used to separate individual records."
        }
      },
      "type": "object"
    },
    "CSVOutput": {
      "description": "Describes how CSV-formatted results are formatted.",
      "properties": {
        "FieldDelimiter": {
          "$ref": "#/definitions/FieldDelimiter",
          "description": "Value used to separate individual fields in a record."
        },
        "QuoteCharacter": {
          "$ref": "#/definitions/QuoteCharacter",
          "description": "Value used for escaping where the field delimiter is part of the value."
        },
        "QuoteEscapeCharacter": {
          "$ref": "#/definitions/QuoteEscapeCharacter",
          "description": "Single character used for escaping the quote character inside an already escaped value."
        },
        "QuoteFields": {
          "$ref": "#/definitions/QuoteFields",
          "description": "Indicates whether or not all output fields should be quoted."
        },
        "RecordDelimiter": {
          "$ref": "#/definitions/RecordDelimiter",
          "description": "Value used to separate individual records."
        }
      },
      "type": "object"
    },
    "CacheControl": {
      "type": "string"
    },
    "CloudFunction": {
      "type": "string"
    },
    "CloudFunctionConfiguration": {
      "properties": {
        "CloudFunction": {
          "$ref": "#/definitions/CloudFunction"
        },
        "Event": {
          "$ref": "#/definitions/Event"
        },
        "Events": {
          "$ref": "#/definitions/EventList"
        },
        "Id": {
          "$ref": "#/definitions/NotificationId"
        },
        "InvocationRole": {
          "$ref": "#/definitions/CloudFunctionInvocationRole"
        }
      },
      "type": "object"
    },
    "CloudFunctionInvocationRole": {
      "type": "string"
    },
    "Code": {
      "type": "string"
    },
    "Comments": {
      "type": "string"
    },
    "CommonPrefix": {
      "properties": {
        "Prefix": {
          "$ref": "#/definitions/Prefix"
        }
      },
      "type": "object"
    },
    "CommonPrefixList": {
      "items": {
        "$ref": "#/definitions/CommonPrefix"
      },
      "type": "array",
      "xml": {
        "wrapped": false
      }
    },
    "CompleteMultipartUploadOutput": {
      "example": {
        "Bucket": "acexamplebucket",
        "ETag": "\"4d9031c7644d8081c2829f4ea23c55f7-2\"",
        "Key": "bigobject",
        "Location": "https://examplebucket.s3.amazonaws.com/bigobject"
      },
      "properties": {
        "Bucket": {
          "$ref": "#/definitions/BucketName"
        },
        "ETag": {
          "$ref": "#/definitions/ETag",
          "description": "Entity tag of the object."
        },
        "Key": {
          "$ref": "#/definitions/ObjectKey"
        },
        "Location": {
          "$ref": "#/definitions/Location"
        }
      },
      "type": "object"
    },
    "CompleteMultipartUploadRequest": {
      "example": {
        "Bucket": "examplebucket",
        "Key": "bigobject",
        "MultipartUpload": {
          "Parts": [
            {
              "ETag": "\"d8c2eafd90c266e19ab9dcacc479f8af\"",
              "PartNumber": "1"
            },
            {
              "ETag": "\"d8c2eafd90c266e19ab9dcacc479f8af\"",
              "PartNumber": "2"
            }
          ]
        },
        "UploadId": "7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--"
      },
      "properties": {
        "MultipartUpload": {
          "$ref": "#/definitions/CompletedMultipartUpload"
        }
      },
[...]
