{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<p/>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Simple Storage Service",
    "version": "2006-03-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/s3-2006-03-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "s3",
    "x-serviceName": "s3",
    "x-datafire": {
      "name": "amazonaws_s3",
      "type": "openapi"
    }
  },
  "host": "s3.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBucketsOutput"
            }
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html"
        },
        "description": "Returns a list of all buckets owned by the authenticated sender of the request.",
        "operationId": "ListBuckets"
      }
    },
    "/{Bucket}": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Specifies the bucket being deleted.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html"
        },
        "description": "<p>Deletes the S3 bucket. All objects (including all object versions and delete markers) in the bucket must be deleted before the bucket itself can be deleted.</p> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateBucket.html\">CreateBucket</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteObject.html\">DeleteObject</a> </p> </li> </ul>",
        "operationId": "DeleteBucket"
      },
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The name of the bucket containing the objects.</p> <p>When using this API with an access point, you must direct requests to the access point hostname. The access point hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.s3-accesspoint.<i>Region</i>.amazonaws.com. When using this operation with an access point through the AWS SDKs, you provide the access point ARN in place of the bucket name. For more information about access point ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-access-points.html\">Using Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p>When using this API with Amazon S3 on Outposts, you must direct requests to the S3 on Outposts hostname. The S3 on Outposts hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.<i>outpostID</i>.s3-outposts.<i>Region</i>.amazonaws.com. When using this operation using S3 on Outposts through the AWS SDKs, you provide the Outposts bucket ARN in place of the bucket name. For more information about S3 on Outposts ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/S3onOutposts.html\">Using S3 on Outposts</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "A delimiter is a character you use to group keys.",
            "in": "query",
            "name": "delimiter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Requests Amazon S3 to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that Amazon S3 encode the keys in the response.",
            "enum": [
              "url"
            ],
            "in": "query",
            "name": "encoding-type",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies the key to start with when listing objects in a bucket.",
            "in": "query",
            "name": "marker",
            "required": false,
            "type": "string"
          },
          {
            "description": "Sets the maximum number of keys returned in the response. By default the API returns up to 1,000 key names. The response might contain fewer keys but will never contain more. ",
            "in": "query",
            "name": "max-keys",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Limits the response to keys that begin with the specified prefix.",
            "in": "query",
            "name": "prefix",
            "required": false,
            "type": "string"
          },
          {
            "description": "Confirms that the requester knows that she or he will be charged for the list objects request. Bucket owners need not specify this parameter in their requests.",
            "enum": [
              "requester"
            ],
            "in": "header",
            "name": "x-amz-request-payer",
            "required": false,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxKeys",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "Marker",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListObjectsOutput"
            }
          },
          "480": {
            "description": "NoSuchBucket",
            "schema": {
              "$ref": "#/definitions/NoSuchBucket"
            }
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html"
        },
        "description": "<p>Returns some or all (up to 1,000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket. A 200 OK response can contain valid or invalid XML. Be sure to design your application to parse the contents of the response and handle it appropriately.</p> <important> <p>This API has been revised. We recommend that you use the newer version, <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html\">ListObjectsV2</a>, when developing applications. For backward compatibility, Amazon S3 continues to support <code>ListObjects</code>.</p> </important> <p>The following operations are related to <code>ListObjects</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html\">ListObjectsV2</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetObject.html\">GetObject</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html\">PutObject</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateBucket.html\">CreateBucket</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBuckets.html\">ListBuckets</a> </p> </li> </ul>",
        "operationId": "ListObjects"
      },
      "head": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The bucket name.</p> <p>When using this API with an access point, you must direct requests to the access point hostname. The access point hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.s3-accesspoint.<i>Region</i>.amazonaws.com. When using this operation with an access point through the AWS SDKs, you provide the access point ARN in place of the bucket name. For more information about access point ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-access-points.html\">Using Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p>When using this API with Amazon S3 on Outposts, you must direct requests to the S3 on Outposts hostname. The S3 on Outposts hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.<i>outpostID</i>.s3-outposts.<i>Region</i>.amazonaws.com. When using this operation using S3 on Outposts through the AWS SDKs, you provide the Outposts bucket ARN in place of the bucket name. For more information about S3 on Outposts ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/S3onOutposts.html\">Using S3 on Outposts</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "NoSuchBucket",
            "schema": {
              "$ref": "#/definitions/NoSuchBucket"
            }
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html"
        },
        "description": "<p>This operation is useful to determine if a bucket exists and you have permission to access it. The operation returns a <code>200 OK</code> if the bucket exists and you have permission to access it. Otherwise, the operation might return responses such as <code>404 Not Found</code> and <code>403 Forbidden</code>. </p> <p>To use this operation, you must have permissions to perform the <code>s3:ListBucket</code> action. The bucket owner has this permission by default and can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a>.</p>",
        "operationId": "HeadBucket"
      },
      "put": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The canned ACL to apply to the bucket.",
            "enum": [
              "private",
              "public-read",
              "public-read-write",
              "authenticated-read"
            ],
            "in": "header",
            "name": "x-amz-acl",
            "required": false,
            "type": "string"
          },
          {
            "description": "The name of the bucket to create.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.",
            "in": "header",
            "name": "x-amz-grant-full-control",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee to list the objects in the bucket.",
            "in": "header",
            "name": "x-amz-grant-read",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee to read the bucket ACL.",
            "in": "header",
            "name": "x-amz-grant-read-acp",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee to create, overwrite, and delete any object in the bucket.",
            "in": "header",
            "name": "x-amz-grant-write",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee to write the ACL for the applicable bucket.",
            "in": "header",
            "name": "x-amz-grant-write-acp",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies whether you want S3 Object Lock to be enabled for the new bucket.",
            "in": "header",
            "name": "x-amz-bucket-object-lock-enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "CreateBucketConfiguration": {
                  "description": "The configuration information for the bucket.",
                  "properties": {
                    "LocationConstraint": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BucketLocationConstraint"
                        },
                        {
                          "description": "Specifies the Region where the bucket will be created. If you don't specify a Region, the bucket is created in the US East (N. Virginia) Region (us-east-1)."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateBucketOutput"
            }
          },
          "480": {
            "description": "BucketAlreadyExists",
            "schema": {
              "$ref": "#/definitions/BucketAlreadyExists"
            }
          },
          "481": {
            "description": "BucketAlreadyOwnedByYou",
            "schema": {
              "$ref": "#/definitions/BucketAlreadyOwnedByYou"
            }
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html"
        },
        "description": "<p>Creates a new S3 bucket. To create a bucket, you must register with Amazon S3 and have a valid AWS Access Key ID to authenticate requests. Anonymous requests are never allowed to create buckets. By creating the bucket, you become the bucket owner.</p> <p>Not every string is an acceptable bucket name. For information about bucket naming restrictions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html\">Working with Amazon S3 buckets</a>. </p> <p>If you want to create an Amazon S3 on Outposts bucket, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_control_CreateBucket.html\">Create Bucket</a>. </p> <p>By default, the bucket is created in the US East (N. Virginia) Region. You can optionally specify a Region in the request body. You might choose a Region to optimize latency, minimize costs, or address regulatory requirements. For example, if you reside in Europe, you will probably find it advantageous to create buckets in the Europe (Ireland) Region. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html#access-bucket-intro\">Accessing a bucket</a>.</p> <note> <p>If you send your create bucket request to the <code>s3.amazonaws.com</code> endpoint, the request goes to the us-east-1 Region. Accordingly, the signature calculations in Signature Version 4 must use us-east-1 as the Region, even if the location constraint in the request specifies another Region where the bucket is to be created. If you create a bucket in a Region other than US East (N. Virginia), your application must be able to handle 307 redirect. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html\">Virtual hosting of buckets</a>.</p> </note> <p>When creating a bucket using this operation, you can optionally specify the accounts or groups that should be granted specific permissions on the bucket. There are two ways to grant the appropriate permissions using the request headers.</p> <ul> <li> <p>Specify a canned ACL using the <code>x-amz-acl</code> request header. Amazon S3 supports a set of predefined ACLs, known as <i>canned ACLs</i>. Each canned ACL has a predefined set of grantees and permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#CannedACL\">Canned ACL</a>.</p> </li> <li> <p>Specify access permissions explicitly using the <code>x-amz-grant-read</code>, <code>x-amz-grant-write</code>, <code>x-amz-grant-read-acp</code>, <code>x-amz-grant-write-acp</code>, and <code>x-amz-grant-full-control</code> headers. These headers map to the set of permissions Amazon S3 supports in an ACL. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html\">Access control list (ACL) overview</a>.</p> <p>You specify each grantee as a type=value pair, where the type is one of the following:</p> <ul> <li> <p> <code>id</code> – if the value specified is the canonical user ID of an AWS account</p> </li> <li> <p> <code>uri</code> – if you are granting permissions to a predefined group</p> </li> <li> <p> <code>emailAddress</code> – if the value specified is the email address of an AWS account</p> <note> <p>Using email addresses to specify a grantee is only supported in the following AWS Regions: </p> <ul> <li> <p>US East (N. Virginia)</p> </li> <li> <p>US West (N. California)</p> </li> <li> <p> US West (Oregon)</p> </li> <li> <p> Asia Pacific (Singapore)</p> </li> <li> <p>Asia Pacific (Sydney)</p> </li> <li> <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe (Ireland)</p> </li> <li> <p>South America (São Paulo)</p> </li> </ul> <p>For a list of all the Amazon S3 supported Regions and endpoints, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Regions and Endpoints</a> in the AWS General Reference.</p> </note> </li> </ul> <p>For example, the following <code>x-amz-grant-read</code> header grants the AWS accounts identified by account IDs permissions to read object data and its metadata:</p> <p> <code>x-amz-grant-read: id=\"11112222333\", id=\"444455556666\" </code> </p> </li> </ul> <note> <p>You can use either a canned ACL or specify access permissions explicitly. You cannot do both.</p> </note> <p>The following operations are related to <code>CreateBucket</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html\">PutObject</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucket.html\">DeleteBucket</a> </p> </li> </ul>",
        "operationId": "CreateBucket"
      }
    },
    "/{Bucket}#accelerate": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the bucket for which the accelerate configuration is retrieved.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "accelerate",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketAccelerateConfigurationOutput"
            }
          }
        },
        "description": "<p>This implementation of the GET operation uses the <code>accelerate</code> subresource to return the Transfer Acceleration state of a bucket, which is either <code>Enabled</code> or <code>Suspended</code>. Amazon S3 Transfer Acceleration is a bucket-level feature that enables you to perform faster data transfers to and from Amazon S3.</p> <p>To use this operation, you must have permission to perform the <code>s3:GetAccelerateConfiguration</code> action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to your Amazon S3 Resources</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p>You set the Transfer Acceleration state of an existing bucket to <code>Enabled</code> or <code>Suspended</code> by using the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAccelerateConfiguration.html\">PutBucketAccelerateConfiguration</a> operation. </p> <p>A GET <code>accelerate</code> request does not return a state value for a bucket that has no transfer acceleration state. A bucket has no Transfer Acceleration state if a state has never been set on the bucket. </p> <p>For more information about transfer acceleration, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html\">Transfer Acceleration</a> in the Amazon Simple Storage Service Developer Guide.</p> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAccelerateConfiguration.html\">PutBucketAccelerateConfiguration</a> </p> </li> </ul>",
        "operationId": "GetBucketAccelerateConfiguration"
      },
      "put": {
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the bucket for which the accelerate configuration is set.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "accelerate",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AccelerateConfiguration": {
                  "description": "Configures the transfer acceleration state for an Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html\">Amazon S3 Transfer Acceleration</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.",
                  "properties": {
                    "Status": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/BucketAccelerateStatus"
                        },
                        {
                          "description": "Specifies the transfer acceleration status of the bucket."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "AccelerateConfiguration"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "<p>Sets the accelerate configuration of an existing bucket. Amazon S3 Transfer Acceleration is a bucket-level feature that enables you to perform faster data transfers to Amazon S3.</p> <p> To use this operation, you must have permission to perform the s3:PutAccelerateConfiguration action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a>.</p> <p> The Transfer Acceleration state of a bucket can be set to one of the following two values:</p> <ul> <li> <p> Enabled – Enables accelerated data transfers to the bucket.</p> </li> <li> <p> Suspended – Disables accelerated data transfers to the bucket.</p> </li> </ul> <p>The <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketAccelerateConfiguration.html\">GetBucketAccelerateConfiguration</a> operation returns the transfer acceleration state of a bucket.</p> <p>After setting the Transfer Acceleration state of a bucket to Enabled, it might take up to thirty minutes before the data transfer rates to the bucket increase.</p> <p> The name of the bucket used for Transfer Acceleration must be DNS-compliant and must not contain periods (\".\").</p> <p> For more information about transfer acceleration, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html\">Transfer Acceleration</a>.</p> <p>The following operations are related to <code>PutBucketAccelerateConfiguration</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketAccelerateConfiguration.html\">GetBucketAccelerateConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateBucket.html\">CreateBucket</a> </p> </li> </ul>",
        "operationId": "PutBucketAccelerateConfiguration"
      }
    },
    "/{Bucket}#acl": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "Specifies the S3 bucket whose ACL is being requested.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "acl",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketAclOutput"
            }
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html"
        },
        "description": "<p>This implementation of the <code>GET</code> operation uses the <code>acl</code> subresource to return the access control list (ACL) of a bucket. To use <code>GET</code> to return the ACL of the bucket, you must have <code>READ_ACP</code> access to the bucket. If <code>READ_ACP</code> permission is granted to the anonymous user, you can return the ACL of the bucket without using an authorization header.</p> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjects.html\">ListObjects</a> </p> </li> </ul>",
        "operationId": "GetBucketAcl"
      },
      "put": {
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The canned ACL to apply to the bucket.",
            "enum": [
              "private",
              "public-read",
              "public-read-write",
              "authenticated-read"
            ],
            "in": "header",
            "name": "x-amz-acl",
            "required": false,
            "type": "string"
          },
          {
            "description": "The bucket to which to apply the ACL.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The base64-encoded 128-bit MD5 digest of the data. This header must be used as a message integrity check to verify that the request body was not corrupted in transit. For more information, go to <a href=\"http://www.ietf.org/rfc/rfc1864.txt\">RFC 1864.</a> </p> <p>For requests made using the AWS Command Line Interface (CLI) or AWS SDKs, this field is calculated automatically.</p>",
            "in": "header",
            "name": "Content-MD5",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.",
            "in": "header",
            "name": "x-amz-grant-full-control",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee to list the objects in the bucket.",
            "in": "header",
            "name": "x-amz-grant-read",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee to read the bucket ACL.",
            "in": "header",
            "name": "x-amz-grant-read-acp",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee to create, overwrite, and delete any object in the bucket.",
            "in": "header",
            "name": "x-amz-grant-write",
            "required": false,
            "type": "string"
          },
          {
            "description": "Allows grantee to write the ACL for the applicable bucket.",
            "in": "header",
            "name": "x-amz-grant-write-acp",
            "required": false,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "acl",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AccessControlPolicy": {
                  "description": "Contains the elements that set the ACL permissions for an object per grantee.",
                  "properties": {
                    "Grants": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Grants"
                        },
                        {
                          "description": "A list of grants.",
                          "xml": {
                            "name": "AccessControlList"
                          }
                        }
                      ]
                    },
                    "Owner": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Owner"
                        },
                        {
                          "description": "Container for the bucket owner's display name and ID."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html"
        },
        "description": "<p>Sets the permissions on an existing bucket using access control lists (ACL). For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/S3_ACLs_UsingACLs.html\">Using ACLs</a>. To set the ACL of a bucket, you must have <code>WRITE_ACP</code> permission.</p> <p>You can use one of the following two ways to set a bucket's permissions:</p> <ul> <li> <p>Specify the ACL in the request body</p> </li> <li> <p>Specify permissions using request headers</p> </li> </ul> <note> <p>You cannot specify access permission using both the body and the request headers.</p> </note> <p>Depending on your application needs, you may choose to set the ACL on a bucket using either the request body or the headers. For example, if you have an existing application that updates a bucket ACL using the request body, then you can continue to use that approach.</p> <p> <b>Access Permissions</b> </p> <p>You can set access permissions using one of the following methods:</p> <ul> <li> <p>Specify a canned ACL with the <code>x-amz-acl</code> request header. Amazon S3 supports a set of predefined ACLs, known as <i>canned ACLs</i>. Each canned ACL has a predefined set of grantees and permissions. Specify the canned ACL name as the value of <code>x-amz-acl</code>. If you use this header, you cannot use other access control-specific headers in your request. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#CannedACL\">Canned ACL</a>.</p> </li> <li> <p>Specify access permissions explicitly with the <code>x-amz-grant-read</code>, <code>x-amz-grant-read-acp</code>, <code>x-amz-grant-write-acp</code>, and <code>x-amz-grant-full-control</code> headers. When using these headers, you specify explicit access permissions and grantees (AWS accounts or Amazon S3 groups) who will receive the permission. If you use these ACL-specific headers, you cannot use the <code>x-amz-acl</code> header to set a canned ACL. These parameters map to the set of permissions that Amazon S3 supports in an ACL. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html\">Access Control List (ACL) Overview</a>.</p> <p>You specify each grantee as a type=value pair, where the type is one of the following:</p> <ul> <li> <p> <code>id</code> – if the value specified is the canonical user ID of an AWS account</p> </li> <li> <p> <code>uri</code> – if you are granting permissions to a predefined group</p> </li> <li> <p> <code>emailAddress</code> – if the value specified is the email address of an AWS account</p> <note> <p>Using email addresses to specify a grantee is only supported in the following AWS Regions: </p> <ul> <li> <p>US East (N. Virginia)</p> </li> <li> <p>US West (N. California)</p> </li> <li> <p> US West (Oregon)</p> </li> <li> <p> Asia Pacific (Singapore)</p> </li> <li> <p>Asia Pacific (Sydney)</p> </li> <li> <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe (Ireland)</p> </li> <li> <p>South America (São Paulo)</p> </li> </ul> <p>For a list of all the Amazon S3 supported Regions and endpoints, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Regions and Endpoints</a> in the AWS General Reference.</p> </note> </li> </ul> <p>For example, the following <code>x-amz-grant-write</code> header grants create, overwrite, and delete objects permission to LogDelivery group predefined by Amazon S3 and two AWS accounts identified by their email addresses.</p> <p> <code>x-amz-grant-write: uri=\"http://acs.amazonaws.com/groups/s3/LogDelivery\", id=\"111122223333\", id=\"555566667777\" </code> </p> </li> </ul> <p>You can use either a canned ACL or specify access permissions explicitly. You cannot do both.</p> <p> <b>Grantee Values</b> </p> <p>You can specify the person (grantee) to whom you're assigning access rights (using request elements) in the following ways:</p> <ul> <li> <p>By the person's ID:</p> <p> <code>&lt;Grantee xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"CanonicalUser\"&gt;&lt;ID&gt;&lt;&gt;ID&lt;&gt;&lt;/ID&gt;&lt;DisplayName&gt;&lt;&gt;GranteesEmail&lt;&gt;&lt;/DisplayName&gt; &lt;/Grantee&gt;</code> </p> <p>DisplayName is optional and ignored in the request</p> </li> <li> <p>By URI:</p> <p> <code>&lt;Grantee xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"Group\"&gt;&lt;URI&gt;&lt;&gt;http://acs.amazonaws.com/groups/global/AuthenticatedUsers&lt;&gt;&lt;/URI&gt;&lt;/Grantee&gt;</code> </p> </li> <li> <p>By Email address:</p> <p> <code>&lt;Grantee xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"AmazonCustomerByEmail\"&gt;&lt;EmailAddress&gt;&lt;&gt;Grantees@email.com&lt;&gt;&lt;/EmailAddress&gt;lt;/Grantee&gt;</code> </p> <p>The grantee is resolved to the CanonicalUser and, in a response to a GET Object acl request, appears as the CanonicalUser. </p> <note> <p>Using email addresses to specify a grantee is only supported in the following AWS Regions: </p> <ul> <li> <p>US East (N. Virginia)</p> </li> <li> <p>US West (N. California)</p> </li> <li> <p> US West (Oregon)</p> </li> <li> <p> Asia Pacific (Singapore)</p> </li> <li> <p>Asia Pacific (Sydney)</p> </li> <li> <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe (Ireland)</p> </li> <li> <p>South America (São Paulo)</p> </li> </ul> <p>For a list of all the Amazon S3 supported Regions and endpoints, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Regions and Endpoints</a> in the AWS General Reference.</p> </note> </li> </ul> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateBucket.html\">CreateBucket</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucket.html\">DeleteBucket</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetObjectAcl.html\">GetObjectAcl</a> </p> </li> </ul>",
        "operationId": "PutBucketAcl"
      }
    },
    "/{Bucket}#analytics": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the bucket from which analytics configurations are retrieved.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ContinuationToken that represents a placeholder from where this request should begin.",
            "in": "query",
            "name": "continuation-token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "analytics",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBucketAnalyticsConfigurationsOutput"
            }
          }
        },
        "description": "<p>Lists the analytics configurations for the bucket. You can have up to 1,000 analytics configurations per bucket.</p> <p>This operation supports list pagination and does not return more than 100 configurations at a time. You should always check the <code>IsTruncated</code> element in the response. If there are no more configurations to list, <code>IsTruncated</code> is set to false. If there are more configurations to list, <code>IsTruncated</code> is set to true, and there will be a value in <code>NextContinuationToken</code>. You use the <code>NextContinuationToken</code> value to continue the pagination of the list by passing the value in continuation-token in the request to <code>GET</code> the next page.</p> <p>To use this operation, you must have permissions to perform the <code>s3:GetAnalyticsConfiguration</code> action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a>.</p> <p>For information about Amazon S3 analytics feature, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/analytics-storage-class.html\">Amazon S3 Analytics – Storage Class Analysis</a>. </p> <p>The following operations are related to <code>ListBucketAnalyticsConfigurations</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketAnalyticsConfiguration.html\">GetBucketAnalyticsConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketAnalyticsConfiguration.html\">DeleteBucketAnalyticsConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAnalyticsConfiguration.html\">PutBucketAnalyticsConfiguration</a> </p> </li> </ul>",
        "operationId": "ListBucketAnalyticsConfigurations"
      }
    },
    "/{Bucket}#analytics&id": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "The name of the bucket from which an analytics configuration is deleted.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID that identifies the analytics configuration.",
            "in": "query",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "analytics",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "description": "<p>Deletes an analytics configuration for the bucket (specified by the analytics configuration ID).</p> <p>To use this operation, you must have permissions to perform the <code>s3:PutAnalyticsConfiguration</code> action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a>.</p> <p>For information about the Amazon S3 analytics feature, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/analytics-storage-class.html\">Amazon S3 Analytics – Storage Class Analysis</a>. </p> <p>The following operations are related to <code>DeleteBucketAnalyticsConfiguration</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketAnalyticsConfiguration.html\">GetBucketAnalyticsConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBucketAnalyticsConfigurations.html\">ListBucketAnalyticsConfigurations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAnalyticsConfiguration.html\">PutBucketAnalyticsConfiguration</a> </p> </li> </ul>",
        "operationId": "DeleteBucketAnalyticsConfiguration"
      },
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the bucket from which an analytics configuration is retrieved.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID that identifies the analytics configuration.",
            "in": "query",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "analytics",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketAnalyticsConfigurationOutput"
            }
          }
        },
        "description": "<p>This implementation of the GET operation returns an analytics configuration (identified by the analytics configuration ID) from the bucket.</p> <p>To use this operation, you must have permissions to perform the <code>s3:GetAnalyticsConfiguration</code> action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\"> Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a> in the <i>Amazon Simple Storage Service Developer Guide</i>. </p> <p>For information about Amazon S3 analytics feature, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/analytics-storage-class.html\">Amazon S3 Analytics – Storage Class Analysis</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketAnalyticsConfiguration.html\">DeleteBucketAnalyticsConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBucketAnalyticsConfigurations.html\">ListBucketAnalyticsConfigurations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAnalyticsConfiguration.html\">PutBucketAnalyticsConfiguration</a> </p> </li> </ul>",
        "operationId": "GetBucketAnalyticsConfiguration"
      },
      "put": {
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the bucket to which an analytics configuration is stored.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID that identifies the analytics configuration.",
            "in": "query",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "analytics",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AnalyticsConfiguration": {
                  "description": " Specifies the configuration and any analyses for the analytics filter of an Amazon S3 bucket.",
                  "properties": {
                    "Filter": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AnalyticsFilter"
                        },
                        {
                          "description": "The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis."
                        }
                      ]
                    },
                    "Id": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AnalyticsId"
                        },
                        {
                          "description": "The ID that identifies the analytics configuration."
                        }
                      ]
                    },
                    "StorageClassAnalysis": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StorageClassAnalysis"
                        },
                        {
                          "description": " Contains data related to access patterns to be collected and made available to analyze the tradeoffs between different storage classes. "
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "AnalyticsConfiguration"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "<p>Sets an analytics configuration for the bucket (specified by the analytics configuration ID). You can have up to 1,000 analytics configurations per bucket.</p> <p>You can choose to have storage class analysis export analysis reports sent to a comma-separated values (CSV) flat file. See the <code>DataExport</code> request element. Reports are updated daily and are based on the object filters that you configure. When selecting data export, you specify a destination bucket and an optional destination prefix where the file is written. You can export the data to a destination bucket in a different account. However, the destination bucket must be in the same Region as the bucket that you are making the PUT analytics configuration to. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/analytics-storage-class.html\">Amazon S3 Analytics – Storage Class Analysis</a>. </p> <important> <p>You must create a bucket policy on the destination bucket where the exported file is written to grant permissions to Amazon S3 to write objects to the bucket. For an example policy, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/example-bucket-policies.html#example-bucket-policies-use-case-9\">Granting Permissions for Amazon S3 Inventory and Storage Class Analysis</a>.</p> </important> <p>To use this operation, you must have permissions to perform the <code>s3:PutAnalyticsConfiguration</code> action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a>.</p> <p class=\"title\"> <b>Special Errors</b> </p> <ul> <li> <ul> <li> <p> <i>HTTP Error: HTTP 400 Bad Request</i> </p> </li> <li> <p> <i>Code: InvalidArgument</i> </p> </li> <li> <p> <i>Cause: Invalid argument.</i> </p> </li> </ul> </li> <li> <ul> <li> <p> <i>HTTP Error: HTTP 400 Bad Request</i> </p> </li> <li> <p> <i>Code: TooManyConfigurations</i> </p> </li> <li> <p> <i>Cause: You are attempting to create a new configuration but have already reached the 1,000-configuration limit.</i> </p> </li> </ul> </li> <li> <ul> <li> <p> <i>HTTP Error: HTTP 403 Forbidden</i> </p> </li> <li> <p> <i>Code: AccessDenied</i> </p> </li> <li> <p> <i>Cause: You are not the owner of the specified bucket, or you do not have the s3:PutAnalyticsConfiguration bucket permission to set the configuration on the bucket.</i> </p> </li> </ul> </li> </ul> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketAnalyticsConfiguration.html\">GetBucketAnalyticsConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketAnalyticsConfiguration.html\">DeleteBucketAnalyticsConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBucketAnalyticsConfigurations.html\">ListBucketAnalyticsConfigurations</a> </p> </li> </ul>",
        "operationId": "PutBucketAnalyticsConfiguration"
      }
    },
    "/{Bucket}#cors": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Specifies the bucket whose <code>cors</code> configuration is being deleted.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "cors",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html"
        },
        "description": "<p>Deletes the <code>cors</code> configuration information set for the bucket.</p> <p>To use this operation, you must have permission to perform the <code>s3:PutBucketCORS</code> action. The bucket owner has this permission by default and can grant this permission to others. </p> <p>For information about <code>cors</code>, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html\">Enabling Cross-Origin Resource Sharing</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p class=\"title\"> <b>Related Resources:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketCors.html\">PutBucketCors</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTOPTIONSobject.html\">RESTOPTIONSobject</a> </p> </li> </ul>",
        "operationId": "DeleteBucketCors"
      },
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The bucket name for which to get the cors configuration.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "cors",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketCorsOutput"
            }
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html"
        },
        "description": "<p>Returns the cors configuration information set for the bucket.</p> <p> To use this operation, you must have permission to perform the s3:GetBucketCORS action. By default, the bucket owner has this permission and can grant it to others.</p> <p> For more information about cors, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html\"> Enabling Cross-Origin Resource Sharing</a>.</p> <p>The following operations are related to <code>GetBucketCors</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketCors.html\">PutBucketCors</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketCors.html\">DeleteBucketCors</a> </p> </li> </ul>",
        "operationId": "GetBucketCors"
      },
      "put": {
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "Specifies the bucket impacted by the <code>cors</code>configuration.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The base64-encoded 128-bit MD5 digest of the data. This header must be used as a message integrity check to verify that the request body was not corrupted in transit. For more information, go to <a href=\"http://www.ietf.org/rfc/rfc1864.txt\">RFC 1864.</a> </p> <p>For requests made using the AWS Command Line Interface (CLI) or AWS SDKs, this field is calculated automatically.</p>",
            "in": "header",
            "name": "Content-MD5",
            "required": false,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "cors",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "CORSConfiguration": {
                  "description": "Describes the cross-origin access configuration for objects in an Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html\">Enabling Cross-Origin Resource Sharing</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.",
                  "properties": {
                    "CORSRules": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CORSRules"
                        },
                        {
                          "description": "A set of origins and methods (cross-origin access that you want to allow). You can add up to 100 rules to the configuration.",
                          "xml": {
                            "name": "CORSRule"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "CORSConfiguration"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html"
        },
        "description": "<p>Sets the <code>cors</code> configuration for your bucket. If the configuration exists, Amazon S3 replaces it.</p> <p>To use this operation, you must be allowed to perform the <code>s3:PutBucketCORS</code> action. By default, the bucket owner has this permission and can grant it to others.</p> <p>You set this configuration on a bucket so that the bucket can service cross-origin requests. For example, you might want to enable a request whose origin is <code>http://www.example.com</code> to access your Amazon S3 bucket at <code>my.example.bucket.com</code> by using the browser's <code>XMLHttpRequest</code> capability.</p> <p>To enable cross-origin resource sharing (CORS) on a bucket, you add the <code>cors</code> subresource to the bucket. The <code>cors</code> subresource is an XML document in which you configure rules that identify origins and the HTTP methods that can be executed on your bucket. The document is limited to 64 KB in size. </p> <p>When Amazon S3 receives a cross-origin request (or a pre-flight OPTIONS request) against a bucket, it evaluates the <code>cors</code> configuration on the bucket and uses the first <code>CORSRule</code> rule that matches the incoming browser request to enable a cross-origin request. For a rule to match, the following conditions must be met:</p> <ul> <li> <p>The request's <code>Origin</code> header must match <code>AllowedOrigin</code> elements.</p> </li> <li> <p>The request method (for example, GET, PUT, HEAD, and so on) or the <code>Access-Control-Request-Method</code> header in case of a pre-flight <code>OPTIONS</code> request must be one of the <code>AllowedMethod</code> elements. </p> </li> <li> <p>Every header specified in the <code>Access-Control-Request-Headers</code> request header of a pre-flight request must match an <code>AllowedHeader</code> element. </p> </li> </ul> <p> For more information about CORS, go to <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html\">Enabling Cross-Origin Resource Sharing</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketCors.html\">GetBucketCors</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketCors.html\">DeleteBucketCors</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTOPTIONSobject.html\">RESTOPTIONSobject</a> </p> </li> </ul>",
        "operationId": "PutBucketCors"
      }
    },
    "/{Bucket}#delete": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The bucket name containing the objects to delete. </p> <p>When using this API with an access point, you must direct requests to the access point hostname. The access point hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.s3-accesspoint.<i>Region</i>.amazonaws.com. When using this operation with an access point through the AWS SDKs, you provide the access point ARN in place of the bucket name. For more information about access point ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-access-points.html\">Using Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p>When using this API with Amazon S3 on Outposts, you must direct requests to the S3 on Outposts hostname. The S3 on Outposts hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.<i>outpostID</i>.s3-outposts.<i>Region</i>.amazonaws.com. When using this operation using S3 on Outposts through the AWS SDKs, you provide the Outposts bucket ARN in place of the bucket name. For more information about S3 on Outposts ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/S3onOutposts.html\">Using S3 on Outposts</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The concatenation of the authentication device's serial number, a space, and the value that is displayed on your authentication device. Required to permanently delete a versioned object if versioning is configured with MFA delete enabled.",
            "in": "header",
            "name": "x-amz-mfa",
            "required": false,
            "type": "string"
          },
          {
            "description": "Confirms that the requester knows that they will be charged for the request. Bucket owners need not specify this parameter in their requests. For information about downloading objects from requester pays buckets, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html\">Downloading Objects in Requestor Pays Buckets</a> in the <i>Amazon S3 Developer Guide</i>.",
            "enum": [
              "requester"
            ],
            "in": "header",
            "name": "x-amz-request-payer",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies whether you want to delete this object even if it has a Governance-type Object Lock in place. You must have sufficient permissions to perform this operation.",
            "in": "header",
            "name": "x-amz-bypass-governance-retention",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "delete",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Delete": {
                  "description": "Container for the objects to delete.",
                  "properties": {
                    "Objects": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ObjectIdentifierList"
                        },
                        {
                          "description": "The objects to delete.",
                          "xml": {
                            "name": "Object"
                          }
                        }
                      ]
                    },
                    "Quiet": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Quiet"
                        },
                        {
                          "description": "Element to enable quiet mode for the request. When you add this element, you must set its value to true."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "Delete"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteObjectsOutput"
            }
          }
        },
        "externalDocs": {
          "url": "http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html"
        },
        "description": "<p>This operation enables you to delete multiple objects from a bucket using a single HTTP request. If you know the object keys that you want to delete, then this operation provides a suitable alternative to sending individual delete requests, reducing per-request overhead.</p> <p>The request contains a list of up to 1000 keys that you want to delete. In the XML, you provide the object key names, and optionally, version IDs if you want to delete a specific version of the object from a versioning-enabled bucket. For each key, Amazon S3 performs a delete operation and returns the result of that delete, success, or failure, in the response. Note that if the object specified in the request is not found, Amazon S3 returns the result as deleted.</p> <p> The operation supports two modes for the response: verbose and quiet. By default, the operation uses verbose mode in which the response includes the result of deletion of each key in your request. In quiet mode the response includes only keys where the delete operation encountered an error. For a successful deletion, the operation does not return any information about the delete in the response body.</p> <p>When performing this operation on an MFA Delete enabled bucket, that attempts to delete any versioned objects, you must include an MFA token. If you do not provide one, the entire request will fail, even if there are non-versioned objects you are trying to delete. If you provide an invalid token, whether there are versioned keys in the request or not, the entire Multi-Object Delete request will fail. For information about MFA Delete, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/Versioning.html#MultiFactorAuthenticationDelete\"> MFA Delete</a>.</p> <p>Finally, the Content-MD5 header is required for all Multi-Object Delete requests. Amazon S3 uses the header value to ensure that your request body has not been altered in transit.</p> <p>The following operations are related to <code>DeleteObjects</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateMultipartUpload.html\">CreateMultipartUpload</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPart.html\">UploadPart</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CompleteMultipartUpload.html\">CompleteMultipartUpload</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListParts.html\">ListParts</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_AbortMultipartUpload.html\">AbortMultipartUpload</a> </p> </li> </ul>",
        "operationId": "DeleteObjects"
      }
    },
    "/{Bucket}#encryption": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "The name of the bucket containing the server-side encryption configuration to delete.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "encryption",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "description": "<p>This implementation of the DELETE operation removes default encryption from the bucket. For information about the Amazon S3 default encryption feature, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html\">Amazon S3 Default Bucket Encryption</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p>To use this operation, you must have permissions to perform the <code>s3:PutEncryptionConfiguration</code> action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to your Amazon S3 Resources</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketEncryption.html\">PutBucketEncryption</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketEncryption.html\">GetBucketEncryption</a> </p> </li> </ul>",
        "operationId": "DeleteBucketEncryption"
      },
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the bucket from which the server-side encryption configuration is retrieved.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "encryption",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketEncryptionOutput"
            }
          }
        },
        "description": "<p>Returns the default encryption configuration for an Amazon S3 bucket. For information about the Amazon S3 default encryption feature, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html\">Amazon S3 Default Bucket Encryption</a>.</p> <p> To use this operation, you must have permission to perform the <code>s3:GetEncryptionConfiguration</code> action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a>.</p> <p>The following operations are related to <code>GetBucketEncryption</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketEncryption.html\">PutBucketEncryption</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketEncryption.html\">DeleteBucketEncryption</a> </p> </li> </ul>",
        "operationId": "GetBucketEncryption"
      },
      "put": {
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "Specifies default encryption for a bucket using server-side encryption with Amazon S3-managed keys (SSE-S3) or customer master keys stored in AWS KMS (SSE-KMS). For information about the Amazon S3 default encryption feature, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html\">Amazon S3 Default Bucket Encryption</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The base64-encoded 128-bit MD5 digest of the server-side encryption configuration.</p> <p>For requests made using the AWS Command Line Interface (CLI) or AWS SDKs, this field is calculated automatically.</p>",
            "in": "header",
            "name": "Content-MD5",
            "required": false,
            "type": "string"
          },
          {
            "description": "The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.",
            "in": "header",
            "name": "x-amz-expected-bucket-owner",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "encryption",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "ServerSideEncryptionConfiguration": {
                  "description": "Specifies the default server-side-encryption configuration.",
                  "properties": {
                    "Rules": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ServerSideEncryptionRules"
                        },
                        {
                          "description": "Container for information about a particular server-side encryption configuration rule.",
                          "xml": {
                            "name": "Rule"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "ServerSideEncryptionConfiguration"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "<p>This operation uses the <code>encryption</code> subresource to configure default encryption and Amazon S3 Bucket Key for an existing bucket.</p> <p>Default encryption for a bucket can use server-side encryption with Amazon S3-managed keys (SSE-S3) or AWS KMS customer master keys (SSE-KMS). If you specify default encryption using SSE-KMS, you can also configure Amazon S3 Bucket Key. For information about default encryption, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html\">Amazon S3 default bucket encryption</a> in the <i>Amazon Simple Storage Service Developer Guide</i>. For more information about S3 Bucket Keys, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-key.html\">Amazon S3 Bucket Keys</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p> <important> <p>This operation requires AWS Signature Version 4. For more information, see <a href=\"sig-v4-authenticating-requests.html\"> Authenticating Requests (AWS Signature Version 4)</a>. </p> </important> <p>To use this operation, you must have permissions to perform the <code>s3:PutEncryptionConfiguration</code> action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a> in the Amazon Simple Storage Service Developer Guide. </p> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketEncryption.html\">GetBucketEncryption</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketEncryption.html\">DeleteBucketEncryption</a> </p> </li> </ul>",
        "operationId": "PutBucketEncryption"
      }
    },
    "/{Bucket}#intelligent-tiering": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the Amazon S3 bucket whose configuration you want to modify or retrieve.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ContinuationToken that represents a placeholder from where this request should begin.",
            "in": "query",
            "name": "continuation-token",
            "required": false,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "intelligent-tiering",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBucketIntelligentTieringConfigurationsOutput"
            }
          }
        },
        "description": "<p>Lists the S3 Intelligent-Tiering configuration from the specified bucket.</p> <p>The S3 Intelligent-Tiering storage class is designed to optimize storage costs by automatically moving data to the most cost-effective storage access tier, without additional operational overhead. S3 Intelligent-Tiering delivers automatic cost savings by moving data between access tiers, when access patterns change.</p> <p>The S3 Intelligent-Tiering storage class is suitable for objects larger than 128 KB that you plan to store for at least 30 days. If the size of an object is less than 128 KB, it is not eligible for auto-tiering. Smaller objects can be stored, but they are always charged at the frequent access tier rates in the S3 Intelligent-Tiering storage class. </p> <p>If you delete an object before the end of the 30-day minimum storage duration period, you are charged for 30 days. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/storage-class-intro.html#sc-dynamic-data-access\">Storage class for automatically optimizing frequently and infrequently accessed objects</a>.</p> <p>Operations related to <code>ListBucketIntelligentTieringConfigurations</code> include: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketIntelligentTieringConfiguration.html\">DeleteBucketIntelligentTieringConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketIntelligentTieringConfiguration.html\">PutBucketIntelligentTieringConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketIntelligentTieringConfiguration.html\">GetBucketIntelligentTieringConfiguration</a> </p> </li> </ul>",
        "operationId": "ListBucketIntelligentTieringConfigurations"
      }
    },
    "/{Bucket}#intelligent-tiering&id": {
      "parameters": [
        {
          "in": "header",
          "name": "x-amz-security-token",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "The name of the Amazon S3 bucket whose configuration you want to modify or retrieve.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID used to identify the S3 Intelligent-Tiering configuration.",
            "in": "query",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "intelligent-tiering",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "description": "<p>Deletes the S3 Intelligent-Tiering configuration from the specified bucket.</p> <p>The S3 Intelligent-Tiering storage class is designed to optimize storage costs by automatically moving data to the most cost-effective storage access tier, without additional operational overhead. S3 Intelligent-Tiering delivers automatic cost savings by moving data between access tiers, when access patterns change.</p> <p>The S3 Intelligent-Tiering storage class is suitable for objects larger than 128 KB that you plan to store for at least 30 days. If the size of an object is less than 128 KB, it is not eligible for auto-tiering. Smaller objects can be stored, but they are always charged at the frequent access tier rates in the S3 Intelligent-Tiering storage class. </p> <p>If you delete an object before the end of the 30-day minimum storage duration period, you are charged for 30 days. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/storage-class-intro.html#sc-dynamic-data-access\">Storage class for automatically optimizing frequently and infrequently accessed objects</a>.</p> <p>Operations related to <code>DeleteBucketIntelligentTieringConfiguration</code> include: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketIntelligentTieringConfiguration.html\">GetBucketIntelligentTieringConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketIntelligentTieringConfiguration.html\">PutBucketIntelligentTieringConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBucketIntelligentTieringConfigurations.html\">ListBucketIntelligentTieringConfigurations</a> </p> </li> </ul>",
        "operationId": "DeleteBucketIntelligentTieringConfiguration"
      },
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the Amazon S3 bucket whose configuration you want to modify or retrieve.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID used to identify the S3 Intelligent-Tiering configuration.",
            "in": "query",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "intelligent-tiering",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBucketIntelligentTieringConfigurationOutput"
            }
          }
        },
        "description": "<p>Gets the S3 Intelligent-Tiering configuration from the specified bucket.</p> <p>The S3 Intelligent-Tiering storage class is designed to optimize storage costs by automatically moving data to the most cost-effective storage access tier, without additional operational overhead. S3 Intelligent-Tiering delivers automatic cost savings by moving data between access tiers, when access patterns change.</p> <p>The S3 Intelligent-Tiering storage class is suitable for objects larger than 128 KB that you plan to store for at least 30 days. If the size of an object is less than 128 KB, it is not eligible for auto-tiering. Smaller objects can be stored, but they are always charged at the frequent access tier rates in the S3 Intelligent-Tiering storage class. </p> <p>If you delete an object before the end of the 30-day minimum storage duration period, you are charged for 30 days. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/storage-class-intro.html#sc-dynamic-data-access\">Storage class for automatically optimizing frequently and infrequently accessed objects</a>.</p> <p>Operations related to <code>GetBucketIntelligentTieringConfiguration</code> include: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteBucketIntelligentTieringConfiguration.html\">DeleteBucketIntelligentTieringConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketIntelligentTieringConfiguration.html\">PutBucketIntelligentTieringConfiguration</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBucketIntelligentTieringConfigurations.html\">ListBucketIntelligentTieringConfigurations</a> </p> </li> </ul>",
        "operationId": "GetBucketIntelligentTieringConfiguration"
      },
      "put": {
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the Amazon S3 bucket whose configuration you want to modify or retrieve.",
            "in": "path",
            "name": "Bucket",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID used to identify the S3 Intelligent-Tiering configuration.",
            "in": "query",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "enum": [
              true
            ],
            "in": "query",
            "name": "intelligent-tiering",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "IntelligentTieringConfiguration": {
                  "description": "<p>Specifies the S3 Intelligent-Tiering configuration for an Amazon S3 bucket.</p> <p>For information about the S3 Intelligent-Tiering storage class, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/storage-class-intro.html#sc-dynamic-data-access\">Storage class for automatically optimizing frequently and infrequently accessed objects</a>.</p>",
                  "properties": {
                    "Filter": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntelligentTieringFilter"
                        },
                        {
                          "description": "Specifies a bucket filter. The configuration only includes objects that meet the filter's criteria."
                        }
                      ]
                    },
                    "Id": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntelligentTieringId"
                        },
                        {
                          "description": "The ID used to identify the S3 Intelligent-Tiering configuration."
                        }
                      ]
                    },
                    "Status": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntelligentTieringStatus"
                        },
                        {
                          "description": "Specifies the status of the configuration."
                        }
                      ]
                    },
                    "Tierings": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/TieringList"
                        },
                        {
                          "description": "Specifies the S3 Intelligent-Tiering storage class tier of the configuration.",
                          "xml": {
                            "name": "Tiering"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "IntelligentTieringConfiguration"
              ],
              "type": "object"
[...]
