{
  "swagger": "2.0",
  "info": {
    "description": "The recommended REST API endpoints to be used when integrating with PatientView",
    "termsOfService": "https://www.patientview.org/#/terms",
    "title": "PatientView",
    "version": "1.0",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.patientview.org_images_pv-logo.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "swagger",
        "url": "https://www.patientview.org/api/api-docs",
        "version": "1.2"
      }
    ],
    "x-preferred": true,
    "x-providerName": "patientview.org",
    "x-datafire": {
      "name": "patientview",
      "type": "openapi"
    }
  },
  "host": "www.patientview.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "credentials",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Credentials"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "$ref": "#/definitions/UserToken"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "auth-controller"
        ],
        "deprecated": false,
        "description": "Authenticate using username and password, returns token, which must be added to X-Auth-Token in header of all future requests",
        "operationId": "logIn",
        "summary": "Log In"
      }
    },
    "/auth/logout/{token}": {
      "delete": {
        "parameters": [
          {
            "description": "token",
            "in": "path",
            "name": "token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "auth-controller"
        ],
        "deprecated": false,
        "description": "Log Out",
        "operationId": "logOut",
        "summary": "Log Out"
      }
    },
    "/auth/{token}/basicuserinformation": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "token",
            "in": "path",
            "name": "token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "auth-controller"
        ],
        "deprecated": false,
        "description": "Once logged in and have a token, get basic user information including group role membership",
        "operationId": "getBasicUserInformation",
        "summary": "Get Basic User Information"
      }
    },
    "/patient/{userId}/basic": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Patient"
              },
              "type": "array",
              "uniqueItems": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "patient-controller"
        ],
        "deprecated": false,
        "description": "Given a User ID, get basic patient information for a user from clinical data stored in FHIR",
        "operationId": "getBasicPatientDetails",
        "summary": "Get Basic Patient Information"
      }
    },
    "/patientmanagement/diagnoses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Code"
              },
              "type": "array",
              "uniqueItems": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "patient-management-controller"
        ],
        "deprecated": false,
        "description": "getPatientManagementDiagnoses",
        "operationId": "getPatientManagementDiagnoses",
        "summary": "getPatientManagementDiagnoses"
      }
    },
    "/patientmanagement/lookuptypes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/LookupType"
              },
              "type": "array",
              "uniqueItems": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "patient-management-controller"
        ],
        "deprecated": false,
        "description": "getPatientManagementLookupTypes",
        "operationId": "getPatientManagementLookupTypes",
        "summary": "getPatientManagementLookupTypes"
      }
    },
    "/patientmanagement/validate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "patientManagement",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PatientManagement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "patient-management-controller"
        ],
        "deprecated": false,
        "description": "validatePatientManagement",
        "operationId": "validatePatientManagement",
        "summary": "validatePatientManagement"
      }
    },
    "/patientmanagement/{userId}/group/{groupId}/identifier/{identifierId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "groupId",
            "format": "int64",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "identifierId",
            "format": "int64",
            "in": "path",
            "name": "identifierId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PatientManagement"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "patient-management-controller"
        ],
        "deprecated": false,
        "description": "getPatientManagement",
        "operationId": "getPatientManagement",
        "summary": "getPatientManagement"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "groupId",
            "format": "int64",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "identifierId",
            "format": "int64",
            "in": "path",
            "name": "identifierId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "patientManagement",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PatientManagement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "patient-management-controller"
        ],
        "deprecated": false,
        "description": "savePatientManagement",
        "operationId": "savePatientManagement",
        "summary": "savePatientManagement"
      }
    },
    "/patientmanagement/{userId}/group/{groupId}/identifier/{identifierId}/surgeries": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "groupId",
            "format": "int64",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "identifierId",
            "format": "int64",
            "in": "path",
            "name": "identifierId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "patientManagement",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PatientManagement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "patient-management-controller"
        ],
        "deprecated": false,
        "description": "savePatientManagementSurgeries",
        "operationId": "savePatientManagementSurgeries",
        "summary": "savePatientManagementSurgeries"
      }
    },
    "/user/{userId}/availableobservationheadings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/ObservationHeading"
              },
              "type": "array",
              "uniqueItems": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "observation-heading-controller"
        ],
        "deprecated": false,
        "description": "Given a User ID retrieve a list of available observation types for that user (where they have observation data).",
        "operationId": "getAvailableObservationHeadings",
        "summary": "Get Available Observations Types For a User"
      }
    },
    "/user/{userId}/observations": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "code",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "code",
            "required": true,
            "type": "array",
            "uniqueItems": false
          },
          {
            "description": "limit",
            "format": "int64",
            "in": "query",
            "name": "limit",
            "required": true,
            "type": "integer"
          },
          {
            "description": "offset",
            "format": "int64",
            "in": "query",
            "name": "offset",
            "required": true,
            "type": "integer"
          },
          {
            "description": "orderDirection",
            "in": "query",
            "name": "orderDirection",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FhirObservationPage"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "observation-controller"
        ],
        "deprecated": false,
        "description": "Given a User ID and search parameters, retrieve a page of observations.",
        "operationId": "getObservationsByCodes",
        "summary": "Get Observations of Multiple Types For a User"
      }
    },
    "/user/{userId}/observations/{code}": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "code",
            "in": "path",
            "name": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/FhirObservation"
              },
              "type": "array",
              "uniqueItems": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "observation-controller"
        ],
        "deprecated": false,
        "description": "Given a User ID and observation code, retrieve all observations.",
        "operationId": "getObservationsByCode",
        "summary": "Get Observations of a Certain Type For a User"
      }
    },
    "/user/{userId}/observations/{code}/patiententered": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "code",
            "in": "path",
            "name": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/FhirObservation"
              },
              "type": "array",
              "uniqueItems": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "observation-controller"
        ],
        "deprecated": false,
        "description": "Given a User ID and observation code, retrieve patient entered observations.",
        "operationId": "getPatientEnteredObservationsByCode",
        "summary": "Get patient entered Observations of a Certain Type For a User"
      }
    },
    "/user/{userId}/patiententeredobservationheadings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/ObservationHeading"
              },
              "type": "array",
              "uniqueItems": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "observation-heading-controller"
        ],
        "deprecated": false,
        "description": "Given a User ID retrieve a list of available observation types for that user (where they have patient entered observation data).",
        "operationId": "getPatientEnteredObservationHeadings",
        "summary": "Get Available Patient Entered Observations Types For a User"
      }
    }
  },
  "definitions": {
    "ApiKey": {
      "properties": {
        "expired": {
          "type": "boolean"
        },
        "expiryDate": {
          "format": "date-time",
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "BaseGroup": {
      "properties": {
        "code": {
          "type": "string"
        },
        "groupType": {
          "$ref": "#/definitions/Lookup"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastImportDate": {
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parentCodes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "shortName": {
          "type": "string"
        },
        "visible": {
          "type": "boolean"
        },
        "visibleToJoin": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Category": {
      "properties": {
        "friendlyDescription": {
          "type": "string"
        },
        "hidden": {
          "type": "boolean"
        },
        "icd10Description": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "number": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Code": {
      "properties": {
        "code": {
          "type": "string"
        },
        "codeCategories": {
          "items": {
            "$ref": "#/definitions/CodeCategory"
          },
          "type": "array",
          "uniqueItems": true
        },
        "codeType": {
          "$ref": "#/definitions/Lookup"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayOrder": {
          "format": "int32",
          "type": "integer"
        },
        "externalStandards": {
          "items": {
            "$ref": "#/definitions/CodeExternalStandard"
          },
          "type": "array",
          "uniqueItems": true
        },
        "fullDescription": {
          "type": "string"
        },
        "hideFromPatients": {
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "links": {
          "items": {
            "$ref": "#/definitions/Link"
          },
          "type": "array",
          "uniqueItems": true
        },
        "patientFriendlyName": {
          "type": "string"
        },
        "removedExternally": {
          "type": "boolean"
        },
        "sourceType": {
          "enum": [
            "PATIENTVIEW",
            "NHS_CHOICES"
          ],
          "type": "string"
        },
        "standardType": {
          "$ref": "#/definitions/Lookup"
        }
      },
      "type": "object"
    },
    "CodeCategory": {
      "properties": {
        "category": {
          "$ref": "#/definitions/Category"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "CodeExternalStandard": {
      "properties": {
        "codeString": {
          "type": "string"
        },
        "externalStandard": {
          "$ref": "#/definitions/ExternalStandard"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ContactPoint": {
      "properties": {
        "contactPointType": {
          "$ref": "#/definitions/ContactPointType"
        },
        "content": {
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContactPointType": {
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lookupType": {
          "$ref": "#/definitions/LookupType"
        },
        "value": {
          "enum": [
            "UNIT_WEB_ADDRESS",
            "TRUST_WEB_ADDRESS",
            "PV_ADMIN_NAME",
            "PV_ADMIN_PHONE",
            "PV_ADMIN_EMAIL",
            "UNIT_ENQUIRIES_PHONE",
            "UNIT_ENQUIRIES_EMAIL",
            "APPOINTMENT_PHONE",
            "APPOINTMENT_EMAIL",
            "OUT_OF_HOURS_INFO"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Credentials": {
      "properties": {
        "apiKey": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Entry_long_Map_string_List_FhirObservation_": {
      "properties": {
        "key": {
          "items": {
            "$ref": "#/definitions/Entry_string_List_FhirObservation_"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Entry_string_List_FhirObservation_": {
      "properties": {
        "key": {
          "items": {
            "$ref": "#/definitions/FhirObservation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExternalStandard": {
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Feature": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirAllergy": {
      "properties": {
        "confidenceLevel": {
          "type": "string"
        },
        "group": {
          "$ref": "#/definitions/Group"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "identifier": {
          "type": "string"
        },
        "infoSource": {
          "type": "string"
        },
        "reaction": {
          "type": "string"
        },
        "recordedDate": {
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "substance": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirCondition": {
      "properties": {
        "asserter": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "date": {
          "format": "date-time",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "fullDescription": {
          "type": "string"
        },
        "group": {
          "$ref": "#/definitions/Group"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "identifier": {
          "type": "string"
        },
        "links": {
          "items": {
            "$ref": "#/definitions/Link"
          },
          "type": "array",
          "uniqueItems": true
        },
        "notes": {
          "type": "string"
        },
        "severity": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirContact": {
      "properties": {
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "system": {
          "type": "string"
        },
        "use": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirEncounter": {
      "properties": {
        "date": {
          "format": "date-time",
          "type": "string"
        },
        "encounterType": {
          "type": "string"
        },
        "group": {
          "$ref": "#/definitions/Group"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "identifier": {
          "type": "string"
        },
        "links": {
          "items": {
            "$ref": "#/definitions/Link"
          },
          "type": "array",
          "uniqueItems": true
        },
        "observations": {
          "items": {
            "$ref": "#/definitions/FhirObservation"
          },
          "type": "array",
          "uniqueItems": true
        },
        "procedures": {
          "items": {
            "$ref": "#/definitions/FhirProcedure"
          },
          "type": "array",
          "uniqueItems": true
        },
        "status": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirIdentifier": {
      "properties": {
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "label": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirObservation": {
      "properties": {
        "applies": {
          "format": "date-time",
          "type": "string"
        },
        "bodySite": {
          "type": "string"
        },
        "comments": {
          "type": "string"
        },
        "comparator": {
          "type": "string"
        },
        "diagram": {
          "type": "string"
        },
        "group": {
          "$ref": "#/definitions/Group"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "identifier": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "temporaryUuid": {
          "type": "string"
        },
        "units": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirObservationPage": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/Entry_long_Map_string_List_FhirObservation_"
          },
          "type": "array"
        },
        "totalElements": {
          "format": "int64",
          "type": "integer"
        },
        "totalPages": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FhirPatient": {
      "properties": {
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "address3": {
          "type": "string"
        },
        "address4": {
          "type": "string"
        },
        "contacts": {
          "items": {
            "$ref": "#/definitions/FhirContact"
          },
          "type": "array"
        },
        "dateOfBirth": {
          "format": "date-time",
          "type": "string"
        },
        "dateOfBirthNoTime": {
          "type": "string"
        },
        "forename": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "group": {
          "$ref": "#/definitions/Group"
        },
        "groupCode": {
          "type": "string"
        },
        "identifier": {
          "type": "string"
        },
        "identifiers": {
          "items": {
            "$ref": "#/definitions/FhirIdentifier"
          },
          "type": "array"
        },
        "postcode": {
          "type": "string"
        },
        "practitioners": {
          "items": {
            "$ref": "#/definitions/FhirPractitioner"
          },
          "type": "array"
        },
        "surname": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirPractitioner": {
      "properties": {
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "address3": {
          "type": "string"
        },
        "address4": {
          "type": "string"
        },
        "allowInviteGp": {
          "type": "boolean"
        },
        "contacts": {
          "items": {
            "$ref": "#/definitions/FhirContact"
          },
          "type": "array"
        },
        "gender": {
          "type": "string"
        },
        "groupCode": {
          "type": "string"
        },
        "identifier": {
          "type": "string"
        },
        "inviteDate": {
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "postcode": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FhirProcedure": {
      "properties": {
        "bodySite": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Group": {
      "properties": {
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "address3": {
          "type": "string"
        },
        "childGroups": {
          "items": {
            "$ref": "#/definitions/Group"
          },
          "type": "array"
        },
        "code": {
          "type": "string"
        },
        "contactPoints": {
          "items": {
            "$ref": "#/definitions/ContactPoint"
          },
          "type": "array",
          "uniqueItems": true
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "fhirResourceId": {
          "format": "uuid",
          "type": "string"
        },
        "groupFeatures": {
          "items": {
            "$ref": "#/definitions/GroupFeature"
          },
          "type": "array",
          "uniqueItems": true
        },
        "groupType": {
          "$ref": "#/definitions/Lookup"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastImportDate": {
          "format": "date-time",
          "type": "string"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "links": {
          "items": {
            "$ref": "#/definitions/Link"
          },
          "type": "array",
          "uniqueItems": true
        },
        "locations": {
          "items": {
            "$ref": "#/definitions/Location"
          },
          "type": "array",
          "uniqueItems": true
        },
        "name": {
          "type": "string"
        },
        "parentGroups": {
          "items": {
            "$ref": "#/definitions/Group"
          },
          "type": "array"
        },
        "postcode": {
          "type": "string"
        },
        "sftpUser": {
          "type": "string"
        },
        "shortName": {
          "type": "string"
        },
        "visible": {
          "type": "boolean"
        },
        "visibleToJoin": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GroupFeature": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "feature": {
          "$ref": "#/definitions/Feature"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupRole": {
      "properties": {
        "group": {
          "$ref": "#/definitions/Group"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "role": {
          "$ref": "#/definitions/Role"
        }
      },
      "type": "object"
    },
    "Link": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "displayOrder": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "link": {
          "type": "string"
        },
        "linkType": {
          "$ref": "#/definitions/Lookup"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "address": {
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "label": {
          "type": "string"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "web": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Lookup": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "descriptionFriendly": {
          "type": "string"
        },
        "displayOrder": {
          "format": "int64",
          "type": "integer"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "lookupType": {
          "$ref": "#/definitions/LookupType"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LookupType": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "type": {
          "enum": [
            "GROUP",
            "MENU",
            "ROLE",
            "CODE_STANDARD",
            "CODE_TYPE",
            "FEATURE_TYPE",
            "RELATIONSHIP_TYPE",
            "IDENTIFIER",
            "CONTACT_POINT_TYPE",
            "STATISTIC_TYPE",
            "NEWS_TYPE",
            "GENDER",
            "IBD_CROHNSLOCATION",
            "IBD_CROHNSPROXIMALTERMINALILEUM",
            "IBD_CROHNSPERIANAL",
            "IBD_CROHNSBEHAVIOUR",
            "IBD_UCEXTENT",
            "IBD_EGIMCOMPLICATION",
            "IBD_SURGERYMAINPROCEDURE",
            "IBD_SMOKINGSTATUS",
            "IBD_FAMILYHISTORY",
            "LINK_TYPE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ObservationHeading": {
      "properties": {
        "code": {
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "decimalPlaces": {
          "format": "int64",
          "type": "integer"
        },
        "defaultPanel": {
          "format": "int64",
          "type": "integer"
        },
        "defaultPanelOrder": {
          "format": "int64",
          "type": "integer"
        },
        "heading": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "infoLink": {
          "type": "string"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "maxGraph": {
          "format": "double",
          "type": "number"
        },
        "minGraph": {
          "format": "double",
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "normalRange": {
          "type": "string"
        },
        "observationHeadingGroups": {
          "items": {
            "$ref": "#/definitions/ObservationHeadingGroup"
          },
          "type": "array",
          "uniqueItems": true
        },
        "units": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ObservationHeadingGroup": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "group": {
          "$ref": "#/definitions/Group"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "panel": {
          "format": "int64",
          "type": "integer"
        },
        "panelOrder": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Patient": {
      "properties": {
        "diagnosisCodes": {
          "items": {
            "$ref": "#/definitions/Code"
          },
          "type": "array"
        },
        "fhirAllergies": {
          "items": {
            "$ref": "#/definitions/FhirAllergy"
          },
          "type": "array"
        },
        "fhirConditions": {
          "items": {
            "$ref": "#/definitions/FhirCondition"
          },
          "type": "array"
        },
        "fhirEncounters": {
          "items": {
            "$ref": "#/definitions/FhirEncounter"
          },
          "type": "array"
        },
        "fhirObservations": {
          "items": {
            "$ref": "#/definitions/FhirObservation"
          },
          "type": "array"
        },
        "fhirPatient": {
          "$ref": "#/definitions/FhirPatient"
        },
        "fhirPractitioners": {
          "items": {
            "$ref": "#/definitions/FhirPractitioner"
          },
          "type": "array"
        },
        "group": {
          "$ref": "#/definitions/Group"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PatientManagement": {
      "properties": {
        "condition": {
          "$ref": "#/definitions/FhirCondition"
        },
        "encounters": {
          "items": {
            "$ref": "#/definitions/FhirEncounter"
          },
          "type": "array"
        },
        "groupCode": {
          "type": "string"
        },
        "identifier": {
          "type": "string"
        },
        "observations": {
          "items": {
            "$ref": "#/definitions/FhirObservation"
          },
          "type": "array"
        },
        "patient": {
          "$ref": "#/definitions/FhirPatient"
        },
        "practitioners": {
          "items": {
            "$ref": "#/definitions/FhirPractitioner"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Role": {
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "name": {
          "enum": [
            "PATIENT",
            "UNIT_ADMIN",
            "STAFF_ADMIN",
            "DISEASE_GROUP_ADMIN",
            "SPECIALTY_ADMIN",
            "GLOBAL_ADMIN",
            "GP_ADMIN",
            "MEMBER",
            "PUBLIC",
            "UNIT_ADMIN_API",
            "IMPORTER"
          ],
          "type": "string"
        },
        "visible": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Route": {
      "properties": {
        "controller": {
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "displayOrder": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lookup": {
          "$ref": "#/definitions/Lookup"
        },
        "templateUrl": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "UUID": {},
    "User": {
      "properties": {
        "apiKey": {
          "$ref": "#/definitions/ApiKey"
        },
        "canSwitchUser": {
          "type": "boolean"
        },
        "changePassword": {
          "type": "boolean"
        },
        "contactNumber": {
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "currentLogin": {
          "format": "date-time",
          "type": "string"
        },
        "currentLoginIpAddress": {
          "type": "string"
        },
        "dateOfBirth": {
          "format": "date-time",
          "type": "string"
        },
        "deleted": {
          "type": "boolean"
        },
        "dummy": {
          "type": "boolean"
        },
        "email": {
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean"
        },
        "forename": {
          "type": "string"
        },
        "groupRoles": {
          "items": {
            "$ref": "#/definitions/GroupRole"
          },
          "type": "array",
          "uniqueItems": true
        },
        "hideSecretWordNotification": {
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "identifiers": {
          "items": {
            "type": "object"
          },
          "type": "array",
          "uniqueItems": true
        },
        "lastLogin": {
          "format": "date-time",
          "type": "string"
        },
        "lastLoginIpAddress": {
          "type": "string"
        },
        "latestDataReceivedBy": {
          "$ref": "#/definitions/BaseGroup"
        },
        "latestDataReceivedDate": {
          "format": "date-time",
          "type": "string"
        },
        "locked": {
          "type": "boolean"
        },
        "picture": {
          "type": "string"
        },
        "roleDescription": {
          "type": "string"
        },
        "secretWordIsSet": {
          "type": "boolean"
        },
        "surname": {
          "type": "string"
        },
        "userFeatures": {
          "items": {
            "$ref": "#/definitions/UserFeature"
          },
          "type": "array",
          "uniqueItems": true
        },
        "username": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserFeature": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "feature": {
          "$ref": "#/definitions/Feature"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "lastUpdate": {
          "format": "date-time",
          "type": "string"
        },
        "optInDate": {
          "format": "date-time",
          "type": "string"
        },
        "optInHidden": {
          "type": "boolean"
        },
        "optInStatus": {
          "type": "boolean"
        },
        "optOutHidden": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "UserToken": {
      "properties": {
        "auditActions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "checkSecretWord": {
          "type": "boolean"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "expiration": {
          "format": "date-time",
          "type": "string"
        },
        "externalStandards": {
          "items": {
            "$ref": "#/definitions/ExternalStandard"
          },
          "type": "array"
        },
        "groupFeatures": {
          "items": {
            "$ref": "#/definitions/Feature"
          },
          "type": "array"
        },
        "groupMessagingEnabled": {
          "type": "boolean"
        },
        "mustSetSecretWord": {
          "type": "boolean"
        },
        "patientFeatures": {
          "items": {
            "$ref": "#/definitions/Feature"
          },
          "type": "array"
        },
        "patientMessagingFeatureTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "patientRoles": {
          "items": {
            "$ref": "#/definitions/Role"
          },
          "type": "array"
        },
        "routes": {
          "items": {
            "$ref": "#/definitions/Route"
          },
          "type": "array",
          "uniqueItems": true
        },
        "secretWord": {
          "type": "string"
        },
        "secretWordChoices": {
          "type": "object"
        },
        "secretWordIndexes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "secretWordSalt": {
          "type": "string"
        },
        "secretWordToken": {
          "type": "string"
        },
        "securityRoles": {
          "items": {
            "$ref": "#/definitions/Role"
          },
          "type": "array"
        },
        "shouldEnterCondition": {
          "type": "boolean"
        },
        "staffFeatures": {
          "items": {
            "$ref": "#/definitions/Feature"
          },
          "type": "array"
        },
        "staffRoles": {
          "items": {
            "$ref": "#/definitions/Role"
          },
          "type": "array"
        },
        "token": {
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/User"
        },
        "userFeatures": {
          "items": {
            "$ref": "#/definitions/Feature"
          },
          "type": "array"
        },
        "userGroups": {
          "items": {
            "$ref": "#/definitions/BaseGroup"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "tags": [
    {
      "description": "Auth Controller",
      "name": "auth-controller"
    },
    {
      "description": "Observation Controller",
      "name": "observation-controller"
    },
    {
      "description": "Observation Heading Controller",
      "name": "observation-heading-controller"
    },
    {
      "description": "Patient Controller",
      "name": "patient-controller"
    },
    {
      "description": "Patient Management Controller",
      "name": "patient-management-controller"
    }
  ],
  "x-components": {
    "requestBodies": {
      "PatientManagement": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/definitions/PatientManagement"
            }
          }
        },
        "description": "patientManagement"
      }
    }
  }
}