{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "data@gov.bc.ca",
      "name": "Data BC",
      "url": "http://data.gov.bc.ca/"
    },
    "description": "This API provides live access to the BC Data Catalogue. Further documentation on the API is available from http://docs.ckan.org/en/latest/ Confirm the version of the API available from the catalogue by requesting https://catalogue.data.gov.bc.ca/api/3/action/status_show. \n\nPlease note that you may experience issues when submitting requests to the delivery or test environment if using this [OpenAPI specification](https://github.com/bcgov/api-specs) in other API console viewers.",
    "license": {
      "name": "Open Government License - British Columbia",
      "url": "https://www2.gov.bc.ca/gov/content?id=A519A56BC2BF44E4A008B33FCF527F61"
    },
    "termsOfService": "https://www2.gov.bc.ca/gov/content?id=D1EE0A405E584363B205CD4353E02C88",
    "title": "BC Data Catalogue",
    "version": "3.0.1",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.6.2"
        },
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/bcgov/api-specs/master/bcdc/bcdc.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "gov.bc.ca",
    "x-serviceName": "bcdc",
    "x-datafire": {
      "name": "gov_bc_ca_bcdc",
      "type": "openapi"
    }
  },
  "host": "catalogue.data.gov.bc.ca",
  "basePath": "/api/3",
  "schemes": [
    "https"
  ],
  "paths": {
    "/action/organization_activity_list": {
      "get": {
        "parameters": [
          {
            "default": "ministry-of-agriculture",
            "description": "The id or name of the organization",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of an organization's activities"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return an organization's activity stream",
        "summary": "Get the activity stream of an organization"
      }
    },
    "/action/organization_activity_list_html": {
      "get": {
        "parameters": [
          {
            "default": "ministry-of-agriculture",
            "description": "The id or name of the organization",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of an organization's activities in HTML"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return an organization's activity stream as HTML",
        "summary": "Get the activity stream of an organization, HTML format"
      }
    },
    "/action/organization_autocomplete": {
      "get": {
        "parameters": [
          {
            "default": "ministry",
            "description": "The string to search for",
            "in": "query",
            "name": "q",
            "type": "string"
          },
          {
            "default": 20,
            "description": "The maximum number of organizations to return (optional)",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return a list of organization names that contain a string",
        "summary": "Get names of organizations that match a query string"
      }
    },
    "/action/organization_follower_count": {
      "get": {
        "parameters": [
          {
            "default": "ministry-of-agriculture",
            "description": "The id or name of the organization",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Count of organization followers"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return the number of followers of an organization",
        "summary": "Get number of followers of an organization"
      }
    },
    "/action/organization_follower_list": {
      "get": {
        "parameters": [
          {
            "default": "ministry-of-agriculture",
            "description": "The id or name of the organization",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization followers"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return a list of users that are following a given organization",
        "summary": "Get users following an organization"
      }
    },
    "/action/organization_list": {
      "get": {
        "parameters": [
          {
            "description": "The offset (index) of the first organizations to return",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "default": 100,
            "description": "The number of organizations to be returned per page",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Returns the names of all indexed organizations",
        "summary": "Get names of all organizations"
      }
    },
    "/action/organization_list_for_user": {
      "get": {
        "parameters": [
          {
            "default": "\"edit_group\"",
            "description": "The permission the user has against the returned organization",
            "in": "query",
            "name": "permission",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations for given permission"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return the organizations that the user has a given permission for",
        "summary": "Get organizations that a user has a given permission for"
      }
    },
    "/action/organization_revision_list": {
      "get": {
        "parameters": [
          {
            "default": "ministry-of-agriculture",
            "description": "The name or id of the organization",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of an organization's revisions"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return an organization's revisions",
        "summary": "Get organization revisions"
      }
    },
    "/action/organization_show": {
      "get": {
        "parameters": [
          {
            "default": "ministry-of-agriculture",
            "description": "The id or name of the organization",
            "in": "query",
            "name": "id",
            "type": "string"
          },
          {
            "default": true,
            "description": "include a list of the organization's datasets",
            "in": "query",
            "name": "include_datasets",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "List organization details"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return the details of an organization",
        "summary": "Get details of a specific organization"
      }
    },
    "/action/package_activity_list": {
      "get": {
        "parameters": [
          {
            "default": "grizzly-bear-population-units",
            "description": "The id or name of the package",
            "in": "query",
            "name": "id",
            "type": "string"
          },
          {
            "description": "Where to start getting activity items from",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "default": 31,
            "description": "The maximum number of activities to return",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Returns a package's activity stream",
        "summary": "Get the activity stream of a package (dataset)"
      }
    },
    "/action/package_activity_list_html": {
      "get": {
        "parameters": [
          {
            "default": "grizzly-bear-population-units",
            "description": "The id or name of the package",
            "in": "query",
            "name": "id",
            "type": "string"
          },
          {
            "description": "Where to start getting activity items from",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "default": 31,
            "description": "The maximum number of activities to return",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities rendered as HTML snippet"
          }
        },
        "tags": [
          "action"
        ],
        "description": "The activity stream is rendered as a snippet of HTML meant to be included in an HTML pag, i.e it doesn't have any header or footer.",
        "summary": "Get the activity stream of a package (dataset), HTML format"
      }
    },
    "/action/package_autocomplete": {
      "get": {
        "parameters": [
          {
            "default": "\"Okanagan Lake\"",
            "description": "The string to query",
            "in": "query",
            "name": "q",
            "type": "string"
          },
          {
            "default": 10,
            "description": "The maximum number of resource formats to return",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of datasets that match a string"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return a list of datasets that match a string",
        "summary": "Find packages (datasets) matching a query"
      }
    },
    "/action/package_list": {
      "get": {
        "parameters": [
          {
            "description": "The offset (index) of the first package to return",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "default": 100,
            "description": "The number of packages to be returned per page",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of packages"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Returns the names of all indexed packages (datasets)",
        "summary": "Get a list of all packages (datasets)"
      }
    },
    "/action/package_relationships_list": {
      "get": {
        "parameters": [
          {
            "default": "grizzly-bear-population-units",
            "description": "The id or name of the first package",
            "in": "query",
            "name": "id",
            "type": "string"
          },
          {
            "default": "important-fossil-areas",
            "description": "The id or name of the second package",
            "in": "query",
            "name": "id2",
            "type": "string"
          },
          {
            "description": "relationship as string",
            "in": "query",
            "name": "rel",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dataset relationships"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return a dataset's relationships",
        "summary": "Get package (dataset) relationships"
      }
    },
    "/action/package_revision_list": {
      "get": {
        "parameters": [
          {
            "default": "grizzly-bear-population-units",
            "description": "The id or name of the dataset",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dataset revisions"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return a dataset's revision as a list of dictionaries",
        "summary": "Get list of revisions for a package (dataset)"
      }
    },
    "/action/package_search": {
      "get": {
        "parameters": [
          {
            "default": "\"Okanagan Lake\"",
            "description": "A query string",
            "in": "query",
            "name": "q",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of packages"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Searches for packages (datasets) matching the specified query terms",
        "summary": "Find packages (datasets) matching query terms"
      }
    },
    "/action/package_show": {
      "get": {
        "parameters": [
          {
            "default": "grizzly-bear-population-units",
            "description": "The package name",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A package metadata object"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Returns metadata about the package (dataset) corresponding to the specified unique name",
        "summary": "Get metadata about one specific package (dataset)"
      }
    },
    "/action/related_list": {
      "get": {
        "parameters": [
          {
            "description": "id or name of the dataset (optional)",
            "in": "query",
            "name": "id",
            "type": "string"
          },
          {
            "description": "Dataset dictionary of the dataset (optional)",
            "in": "query",
            "name": "dataset",
            "type": "string"
          },
          {
            "description": "The type of related item to show (optional)",
            "in": "query",
            "name": "type_filter",
            "type": "string"
          },
          {
            "description": "The order to sort the related items in",
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "description": "whether or not to restrict the results to only featured items",
            "in": "query",
            "name": "featured",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search for related items"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Returns a dataset's related items.",
        "summary": "Gets items related to a package (dataset)"
      }
    },
    "/action/resource_search": {
      "get": {
        "parameters": [
          {
            "default": "format:csv",
            "description": "The search criteria string or list of strings of the form ``{field}:{term1}``",
            "in": "query",
            "name": "query",
            "type": "string"
          },
          {
            "description": "Depreciated",
            "in": "query",
            "name": "fields",
            "type": "string"
          },
          {
            "description": "A field on the resource model that orders the results",
            "in": "query",
            "name": "order_by",
            "type": "string"
          },
          {
            "description": "Apply an offset to the query",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "Apply a limit to the query",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Search for resources"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Returns a dictionary with two fields ``count`` and ``results``.             The ``count`` field contains the total number of Resources                found without the limit or query parameters having an effect.             The ``results`` field is a list of dictized Resource objects.             The query parameter is a required field. It is a string in                the form ``{field}:{term}`` or a list of strings, each of the             same form. Within each string, ``{field}`` is a field or extra             field on the Resource domain object.",
        "summary": "Find resources"
      }
    },
    "/action/resource_show": {
      "get": {
        "parameters": [
          {
            "default": "e6c8bb1d-3726-418b-9b7e-1d97a9bbb817",
            "description": "The id of the resource",
            "in": "query",
            "name": "id",
            "type": "string"
          },
          {
            "description": "Add tracking information to dataset",
            "in": "query",
            "name": "include_tracking",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Return metadata of a resource"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Return the metadata of a resource",
        "summary": "Get metadata for a specific resource"
      }
    },
    "/action/status_show": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the site status, version, installed extensions"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Returns the site status",
        "summary": "Get the site status"
      }
    },
    "/action/tag_list": {
      "get": {
        "parameters": [
          {
            "description": "The offset (index) of the first tag to return",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "default": 100,
            "description": "The number of tags to be returned per page",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags"
          }
        },
        "tags": [
          "action"
        ],
        "description": "Returns the names of all indexed tags",
        "summary": "Get a list of tags"
      }
    }
  },
  "definitions": {},
  "securityDefinitions": {
    "githubAccessCode": {
      "authorizationUrl": "https://github.com/login/oauth/authorize",
      "flow": "accessCode",
      "scopes": {
        "admin:org": "Fully manage organization, teams, and memberships.",
        "admin:public_key": "Fully manage public keys.",
        "admin:repo_hook": "Grants read, write, ping, and delete access to hooks in public or private repositories.",
        "delete_repo": "Grants access to delete adminable repositories.",
        "gist": "Grants write access to gists.",
        "notifications": "Grants read access to a user's notifications. repo also provides this access.",
        "public_repo": "Grants read/write access to code, commit statuses, and deployment statuses for public repositories and organizations.",
        "read:org": "Read-only access to organization, teams, and membership.",
        "read:public_key": "List and view details for public keys.",
        "read:repo_hook": "Grants read and ping access to hooks in public or private repositories.",
        "repo": "Grants read/write access to code, commit statuses, and deployment statuses for public and private repositories and organizations.",
        "repo:status": "Grants read/write access to public and private repository commit statuses. This scope is only necessary to grant other users or services access to private repository commit statuses without granting access to the code.",
        "repo_deployment": "Grants access to deployment statuses for public and private repositories. This scope is only necessary to grant other users or services access to deployment statuses, without granting access to the code.",
        "user": "Grants read/write access to profile info only. Note that this scope includes user:email and user:follow.",
        "user:email": "Grants read access to a user's email addresses.",
        "user:follow": "Grants access to follow or unfollow other users.",
        "write:org": "Publicize and unpublicize organization membership.",
        "write:public_key": "Create, list, and view details for public keys.",
        "write:repo_hook": "Grants read, write, and ping access to hooks in public or private repositories."
      },
      "tokenUrl": "https://github.com/login/oauth/access_token",
      "type": "oauth2"
    },
    "internalApiKey": {
      "in": "header",
      "name": "ckan_api_key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "githubAccessCode": [
        "user",
        "user:email",
        "user:follow",
        "public_repo",
        "repo",
        "repo_deployment",
        "repo:status",
        "delete_repo",
        "notifications",
        "gist",
        "read:repo_hook",
        "write:repo_hook",
        "admin:repo_hook",
        "read:org",
        "write:org",
        "admin:org",
        "read:public_key",
        "write:public_key",
        "admin:public_key"
      ]
    },
    {
      "internalApiKey": []
    }
  ],
  "tags": [
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "http://docs.ckan.org/en/ckan-2.5.3/api/index.html"
      },
      "description": "CKAN's Action API is a powerful, RPC-style API that exposes all of CKAN's core features to API clients.",
      "name": "action"
    }
  ],
  "x-components": {}
}