{
  "swagger": "2.0",
  "info": {
    "description": "Get access to comments from registered users on New York Times articles.  NOTE: This API is deprecated.",
    "termsOfService": "http://developer.nytimes.com/tou",
    "title": "Community API",
    "version": "3.0.0",
    "x-apiClientRegistration": {
      "url": "http://developer.nytimes.com/signup"
    },
    "x-apisguru-categories": [
      "media",
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nytimes/public_api_specs/master/community/community_api_v3.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "nytimes.com",
    "x-serviceName": "community",
    "x-datafire": {
      "name": "nytimes_community",
      "type": "openapi"
    }
  },
  "host": "api.nytimes.com",
  "basePath": "/svc/community/v3",
  "schemes": [
    "http"
  ],
  "paths": {
    "/user-content/by-date.json": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "debug": {
                  "properties": {
                    "version": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "results": {
                  "properties": {
                    "api_timestamp": {
                      "type": "string"
                    },
                    "comments": {
                      "items": {
                        "properties": {
                          "approveDate": {
                            "type": "string"
                          },
                          "assetID": {
                            "type": "integer"
                          },
                          "assetURL": {
                            "type": "string"
                          },
                          "commentBody": {
                            "type": "string"
                          },
                          "commentID": {
                            "type": "integer"
                          },
                          "commentSequence": {
                            "type": "integer"
                          },
                          "commentTitle": {
                            "type": "string"
                          },
                          "commentType": {
                            "type": "string"
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "editorsSelection": {
                            "type": "integer"
                          },
                          "lft": {
                            "type": "integer"
                          },
                          "parentID": {
                            "x-nullable": true
                          },
                          "recommendationCount": {
                            "type": "integer"
                          },
                          "replies": {
                            "items": {
                              "properties": {},
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "replyCount": {
                            "type": "integer"
                          },
                          "rgt": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusID": {
                            "type": "integer"
                          },
                          "updateDate": {
                            "type": "string"
                          },
                          "userDisplayName": {
                            "type": "string"
                          },
                          "userID": {
                            "type": "integer"
                          },
                          "userLocation": {
                            "type": "string"
                          },
                          "userTitle": {
                            "type": "string"
                          },
                          "userURL": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "totalCommentsFound": {
                      "type": "integer"
                    },
                    "totalCommentsReturned": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_user-content-by-date-json",
        "summary": "Comments by Date"
      }
    },
    "/user-content/recent.json": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "debug": {
                  "properties": {
                    "version": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "results": {
                  "properties": {
                    "api_timestamp": {
                      "type": "string"
                    },
                    "comments": {
                      "items": {
                        "properties": {
                          "approveDate": {
                            "type": "string"
                          },
                          "asset": {
                            "properties": {
                              "all-properties": {
                                "items": {
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "properties": {
                                      "items": {
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "assetID": {
                                "type": "integer"
                              },
                              "assetTitle": {
                                "type": "string"
                              },
                              "assetURL": {
                                "type": "string"
                              },
                              "createDate": {
                                "type": "string"
                              },
                              "labels": {
                                "items": {
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "properties": {
                                "properties": {
                                  "automoderation-on": {
                                    "properties": {
                                      "groupID": {
                                        "type": "integer"
                                      },
                                      "taxonomyID": {
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "comment-list-sort-editors": {
                                    "properties": {
                                      "groupID": {
                                        "type": "integer"
                                      },
                                      "taxonomyID": {
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "reached-max-com-off": {
                                    "properties": {
                                      "groupID": {
                                        "type": "integer"
                                      },
                                      "taxonomyID": {
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "source": {
                                "type": "string"
                              },
                              "taxonomy": {
                                "type": "string"
                              },
                              "text": {
                                "items": {
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "updateDate": {
                                "type": "string"
                              },
                              "vendorID": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "assetID": {
                            "type": "integer"
                          },
                          "commentBody": {
                            "type": "string"
                          },
                          "commentID": {
                            "type": "integer"
                          },
                          "commentSequence": {
                            "type": "integer"
                          },
                          "commentTitle": {
                            "type": "string"
                          },
                          "commentType": {
                            "type": "string"
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "editorsSelection": {
                            "type": "integer"
                          },
                          "location": {
                            "type": "string"
                          },
                          "parentID": {
                            "x-nullable": true
                          },
                          "recommendationCount": {
                            "type": "integer"
                          },
                          "replies": {
                            "items": {
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusID": {
                            "type": "integer"
                          },
                          "updateDate": {
                            "type": "string"
                          },
                          "userDisplayName": {
                            "type": "string"
                          },
                          "userID": {
                            "type": "integer"
                          },
                          "userLocation": {
                            "type": "string"
                          },
                          "userTitle": {
                            "type": "string"
                          },
                          "userURL": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "totalCommentsReturned": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_user-content-recent-json",
        "summary": "Recent User Comments"
      }
    },
    "/user-content/url.json": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "url",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "debug": {
                  "properties": {
                    "version": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "results": {
                  "properties": {
                    "api_timestamp": {
                      "type": "string"
                    },
                    "callerID": {
                      "x-nullable": true
                    },
                    "comments": {
                      "items": {
                        "properties": {
                          "approveDate": {
                            "type": "string"
                          },
                          "commentBody": {
                            "type": "string"
                          },
                          "commentID": {
                            "type": "integer"
                          },
                          "commentSequence": {
                            "type": "integer"
                          },
                          "commentTitle": {
                            "type": "string"
                          },
                          "commentType": {
                            "type": "string"
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "depth": {
                            "type": "integer"
                          },
                          "editorsSelection": {
                            "type": "boolean"
                          },
                          "parentID": {
                            "x-nullable": true
                          },
                          "parentUserDisplayName": {
                            "x-nullable": true
                          },
                          "permID": {
                            "type": "string"
                          },
                          "picURL": {
                            "type": "string"
                          },
                          "recommendations": {
                            "type": "integer"
                          },
                          "recommendedFlag": {
                            "x-nullable": true
                          },
                          "replies": {
                            "items": {},
                            "type": "array"
                          },
                          "replyCount": {
                            "type": "integer"
                          },
                          "reportAbuseFlag": {
                            "x-nullable": true
                          },
                          "sharing": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "timespeople": {
                            "type": "integer"
                          },
                          "trusted": {
                            "type": "integer"
                          },
                          "updateDate": {
                            "type": "string"
                          },
                          "userDisplayName": {
                            "type": "string"
                          },
                          "userID": {
                            "type": "integer"
                          },
                          "userLocation": {
                            "type": "string"
                          },
                          "userTitle": {
                            "x-nullable": true
                          },
                          "userURL": {
                            "x-nullable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "depthLimit": {
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "page": {
                      "type": "integer"
                    },
                    "replyLimit": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "string"
                    },
                    "totalCommentsFound": {
                      "type": "integer"
                    },
                    "totalCommentsReturned": {
                      "type": "integer"
                    },
                    "totalEditorsSelectionFound": {
                      "type": "integer"
                    },
                    "totalEditorsSelectionReturned": {
                      "type": "integer"
                    },
                    "totalParentCommentsFound": {
                      "type": "integer"
                    },
                    "totalParentCommentsReturned": {
                      "type": "integer"
                    },
                    "totalRecommendationsFound": {
                      "type": "integer"
                    },
                    "totalRecommendationsReturned": {
                      "type": "integer"
                    },
                    "totalReplyCommentsFound": {
                      "type": "integer"
                    },
                    "totalReplyCommentsReturned": {
                      "type": "integer"
                    },
                    "totalReporterReplyCommentsFound": {
                      "type": "integer"
                    },
                    "totalReporterReplyCommentsReturned": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_user-content-url-json",
        "summary": "Comments by URL"
      }
    },
    "/user-content/user.json": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userID",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "debug": {
                  "properties": {
                    "version": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "results": {
                  "properties": {
                    "api_timestamp": {
                      "type": "string"
                    },
                    "comments": {
                      "items": {
                        "properties": {
                          "approveDate": {
                            "type": "string"
                          },
                          "asset": {
                            "properties": {
                              "all-properties": {
                                "items": {
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "properties": {
                                      "items": {
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "assetID": {
                                "type": "integer"
                              },
                              "assetTitle": {
                                "type": "string"
                              },
                              "assetURL": {
                                "type": "string"
                              },
                              "createDate": {
                                "type": "string"
                              },
                              "labels": {
                                "items": {
                                  "properties": {
                                    "labelID": {
                                      "type": "integer"
                                    },
                                    "labelName": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "properties": {
                                "properties": {
                                  "automoderation-off": {
                                    "properties": {
                                      "groupID": {
                                        "type": "integer"
                                      },
                                      "taxonomyID": {
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "comment-list-sort-approvedate-desc": {
                                    "properties": {
                                      "groupID": {
                                        "type": "integer"
                                      },
                                      "taxonomyID": {
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "reached-max-com-on": {
                                    "properties": {
                                      "groupID": {
                                        "type": "integer"
                                      },
                                      "taxonomyID": {
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "source": {
                                "type": "string"
                              },
                              "taxonomy": {
                                "type": "string"
                              },
                              "text": {
                                "items": {
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "updateDate": {
                                "type": "string"
                              },
                              "vendorID": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "commentBody": {
                            "type": "string"
                          },
                          "commentID": {
                            "type": "integer"
                          },
                          "commentSequence": {
                            "type": "integer"
                          },
                          "commentTitle": {
                            "type": "string"
                          },
                          "commentType": {
                            "type": "string"
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "editorsSelection": {
                            "type": "boolean"
                          },
                          "labels": {
                            "items": {
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "parentID": {
                            "x-nullable": true
                          },
                          "permid": {
                            "type": "integer"
                          },
                          "picURL": {
                            "type": "string"
                          },
                          "recommendations": {
                            "type": "integer"
                          },
                          "replies": {
                            "items": {
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "replyCount": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "updateDate": {
                            "type": "string"
                          },
                          "userDisplayName": {
                            "x-nullable": true
                          },
                          "userID": {
                            "type": "integer"
                          },
                          "userLocation": {
                            "x-nullable": true
                          },
                          "userSubmittedDisplayName": {
                            "type": "string"
                          },
                          "userSubmittedLocation": {
                            "type": "string"
                          },
                          "userSubmittedTitle": {
                            "x-nullable": true
                          },
                          "userSubmittedURL": {
                            "x-nullable": true
                          },
                          "userTitle": {
                            "x-nullable": true
                          },
                          "userURL": {
                            "x-nullable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "totalCommentsFound": {
                      "type": "integer"
                    },
                    "totalCommentsReturned": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "description": "",
        "operationId": "GET_user-content-user-json",
        "summary": "Comments by User"
      }
    }
  },
  "securityDefinitions": {
    "api-key": {
      "in": "query",
      "name": "api-key",
      "type": "apiKey"
    }
  },
  "externalDocs": {
    "url": "http://developer.nytimes.com/"
  },
  "x-components": {}
}