{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "AWS Elemental MediaPackage",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Elemental MediaPackage",
    "version": "2017-10-12",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediapackage-2017-10-12.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "mediapackage",
    "x-datafire": {
      "name": "amazonaws_mediapackage",
      "type": "openapi"
    }
  },
  "host": "mediapackage.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/channels": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Upper bound on number of records to return.",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token used to resume pagination from the end of a previous request.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListChannelsResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Returns a collection of Channels.",
        "operationId": "ListChannels"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "A collection of tags associated with a resource",
                  "type": "object"
                },
                "description": {
                  "description": "A short text description of the Channel.",
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n",
                  "type": "string"
                }
              },
              "required": [
                "id"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateChannelResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Creates a new Channel.",
        "operationId": "CreateChannel"
      }
    },
    "/channels/{id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Channel to delete.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteChannelResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes an existing Channel.",
        "operationId": "DeleteChannel"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a Channel.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeChannelResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets details about a Channel.",
        "operationId": "DescribeChannel"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Channel to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "description": "A short text description of the Channel.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateChannelResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Updates an existing Channel.",
        "operationId": "UpdateChannel"
      }
    },
    "/channels/{id}/configure_logs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel to log subscription.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "egressAccessLogs": {
                  "description": "Configure egress access logging.",
                  "properties": {
                    "LogGroupName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Customize the log group name.",
                          "xml": {
                            "name": "logGroupName"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "ingressAccessLogs": {
                  "description": "Configure ingress access logging.",
                  "properties": {
                    "LogGroupName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Customize the log group name.",
                          "xml": {
                            "name": "logGroupName"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConfigureLogsResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Changes the Channel's properities to configure log subscription",
        "operationId": "ConfigureLogs"
      }
    },
    "/channels/{id}/credentials": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RotateChannelCredentialsResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "deprecated": true,
        "description": "Changes the Channel's first IngestEndpoint's username and password. WARNING - This API is deprecated. Please use RotateIngestEndpointCredentials instead",
        "operationId": "RotateChannelCredentials"
      }
    },
    "/channels/{id}/ingest_endpoints/{ingest_endpoint_id}/credentials": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the channel the IngestEndpoint is on.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the IngestEndpoint whose credentials should be rotated",
            "in": "path",
            "name": "ingest_endpoint_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RotateIngestEndpointCredentialsResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Rotate the IngestEndpoint's username and password, as specified by the IngestEndpoint's id.",
        "operationId": "RotateIngestEndpointCredentials"
      }
    },
    "/harvest_jobs": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "When specified, the request will return only HarvestJobs associated with the given Channel ID.",
            "in": "query",
            "name": "includeChannelId",
            "required": false,
            "type": "string"
          },
          {
            "description": "When specified, the request will return only HarvestJobs in the given status.",
            "in": "query",
            "name": "includeStatus",
            "required": false,
            "type": "string"
          },
          {
            "description": "The upper bound on the number of records to return.",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token used to resume pagination from the end of a previous request.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListHarvestJobsResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Returns a collection of HarvestJob records.",
        "operationId": "ListHarvestJobs"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "endTime": {
                  "description": "The end of the time-window which will be harvested\n",
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the HarvestJob. The ID must be unique within the region\nand it cannot be changed after the HarvestJob is submitted\n",
                  "type": "string"
                },
                "originEndpointId": {
                  "description": "The ID of the OriginEndpoint that the HarvestJob will harvest from.\nThis cannot be changed after the HarvestJob is submitted.\n",
                  "type": "string"
                },
                "s3Destination": {
                  "description": "Configuration parameters for where in an S3 bucket to place the harvested content\n",
                  "properties": {
                    "BucketName": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The name of an S3 bucket within which harvested content will be exported\n",
                          "xml": {
                            "name": "bucketName"
                          }
                        }
                      ]
                    },
                    "ManifestKey": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The key in the specified S3 bucket where the harvested top-level manifest will be placed.\n",
                          "xml": {
                            "name": "manifestKey"
                          }
                        }
                      ]
                    },
                    "RoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The IAM role used to write to the specified S3 bucket\n",
                          "xml": {
                            "name": "roleArn"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "startTime": {
                  "description": "The start of the time-window which will be harvested\n",
                  "type": "string"
                }
              },
              "required": [
                "endTime",
                "id",
                "originEndpointId",
                "s3Destination",
                "startTime"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateHarvestJobResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Creates a new HarvestJob record.",
        "operationId": "CreateHarvestJob"
      }
    },
    "/harvest_jobs/{id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the HarvestJob.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeHarvestJobResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets details about an existing HarvestJob.",
        "operationId": "DescribeHarvestJob"
      }
    },
    "/origin_endpoints": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "When specified, the request will return only OriginEndpoints associated with the given Channel ID.",
            "in": "query",
            "name": "channelId",
            "required": false,
            "type": "string"
          },
          {
            "description": "The upper bound on the number of records to return.",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "maxResults",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A token used to resume pagination from the end of a previous request.",
            "in": "query",
            "name": "nextToken",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListOriginEndpointsResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Returns a collection of OriginEndpoint records.",
        "operationId": "ListOriginEndpoints"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "A collection of tags associated with a resource",
                  "type": "object"
                },
                "authorization": {
                  "description": "CDN Authorization credentials",
                  "properties": {
                    "CdnIdentifierSecret": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The Amazon Resource Name (ARN) for the secret in Secrets Manager that your Content Distribution Network (CDN) uses for authorization to access your endpoint.\n",
                          "xml": {
                            "name": "cdnIdentifierSecret"
                          }
                        }
                      ]
                    },
                    "SecretsRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The Amazon Resource Name (ARN) for the IAM role that allows MediaPackage to communicate with AWS Secrets Manager.\n",
                          "xml": {
                            "name": "secretsRoleArn"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "channelId": {
                  "description": "The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n",
                  "type": "string"
                },
                "cmafPackage": {
                  "description": "A Common Media Application Format (CMAF) packaging configuration.",
                  "properties": {
                    "Encryption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CmafEncryption"
                        },
                        {
                          "xml": {
                            "name": "encryption"
                          }
                        }
                      ]
                    },
                    "HlsManifests": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfHlsManifestCreateOrUpdateParameters"
                        },
                        {
                          "description": "A list of HLS manifest configurations",
                          "xml": {
                            "name": "hlsManifests"
                          }
                        }
                      ]
                    },
                    "SegmentDurationSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n",
                          "xml": {
                            "name": "segmentDurationSeconds"
                          }
                        }
                      ]
                    },
                    "SegmentPrefix": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.",
                          "xml": {
                            "name": "segmentPrefix"
                          }
                        }
                      ]
                    },
                    "StreamSelection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamSelection"
                        },
                        {
                          "xml": {
                            "name": "streamSelection"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "dashPackage": {
                  "description": "A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.",
                  "properties": {
                    "AdTriggers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdTriggers"
                        },
                        {
                          "xml": {
                            "name": "adTriggers"
                          }
                        }
                      ]
                    },
                    "AdsOnDeliveryRestrictions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdsOnDeliveryRestrictions"
                        },
                        {
                          "xml": {
                            "name": "adsOnDeliveryRestrictions"
                          }
                        }
                      ]
                    },
                    "Encryption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DashEncryption"
                        },
                        {
                          "xml": {
                            "name": "encryption"
                          }
                        }
                      ]
                    },
                    "ManifestLayout": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ManifestLayout"
                        },
                        {
                          "description": "Determines the position of some tags in the Media Presentation Description (MPD).  When set to FULL, elements like SegmentTemplate and ContentProtection are included in each Representation.  When set to COMPACT, duplicate elements are combined and presented at the AdaptationSet level.",
                          "xml": {
                            "name": "manifestLayout"
                          }
                        }
                      ]
                    },
                    "ManifestWindowSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Time window (in seconds) contained in each manifest.",
                          "xml": {
                            "name": "manifestWindowSeconds"
                          }
                        }
                      ]
                    },
                    "MinBufferTimeSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Minimum duration (in seconds) that a player will buffer media before starting the presentation.",
                          "xml": {
                            "name": "minBufferTimeSeconds"
                          }
                        }
                      ]
                    },
                    "MinUpdatePeriodSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Minimum duration (in seconds) between potential changes to the Dynamic Adaptive Streaming over HTTP (DASH) Media Presentation Description (MPD).",
                          "xml": {
                            "name": "minUpdatePeriodSeconds"
                          }
                        }
                      ]
                    },
                    "PeriodTriggers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOf__PeriodTriggersElement"
                        },
                        {
                          "description": "A list of triggers that controls when the outgoing Dynamic Adaptive Streaming over HTTP (DASH)\nMedia Presentation Description (MPD) will be partitioned into multiple periods. If empty, the content will not\nbe partitioned into more than one period. If the list contains \"ADS\", new periods will be created where\nthe Channel source contains SCTE-35 ad markers.\n",
                          "xml": {
                            "name": "periodTriggers"
                          }
                        }
                      ]
                    },
                    "Profile": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Profile"
                        },
                        {
                          "description": "The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to \"HBBTV_1_5\", HbbTV 1.5 compliant output is enabled.",
                          "xml": {
                            "name": "profile"
                          }
                        }
                      ]
                    },
                    "SegmentDurationSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n",
                          "xml": {
                            "name": "segmentDurationSeconds"
                          }
                        }
                      ]
                    },
                    "SegmentTemplateFormat": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SegmentTemplateFormat"
                        },
                        {
                          "description": "Determines the type of SegmentTemplate included in the Media Presentation Description (MPD).  When set to NUMBER_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Number$ media URLs.  When set to TIME_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Time$ media URLs. When set to NUMBER_WITH_DURATION, only a duration is included in each SegmentTemplate, with $Number$ media URLs.",
                          "xml": {
                            "name": "segmentTemplateFormat"
                          }
                        }
                      ]
                    },
                    "StreamSelection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamSelection"
                        },
                        {
                          "xml": {
                            "name": "streamSelection"
                          }
                        }
                      ]
                    },
                    "SuggestedPresentationDelaySeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Duration (in seconds) to delay live content before presentation.",
                          "xml": {
                            "name": "suggestedPresentationDelaySeconds"
                          }
                        }
                      ]
                    },
                    "UtcTiming": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UtcTiming"
                        },
                        {
                          "description": "Determines the type of UTCTiming included in the Media Presentation Description (MPD)",
                          "xml": {
                            "name": "utcTiming"
                          }
                        }
                      ]
                    },
                    "UtcTimingUri": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Specifies the value attribute of the UTCTiming field when utcTiming is set to HTTP-ISO or HTTP-HEAD",
                          "xml": {
                            "name": "utcTimingUri"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "description": {
                  "description": "A short text description of the OriginEndpoint.",
                  "type": "string"
                },
                "hlsPackage": {
                  "description": "An HTTP Live Streaming (HLS) packaging configuration.",
                  "properties": {
                    "AdMarkers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdMarkers"
                        },
                        {
                          "description": "This setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\" will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers and blackout tags based on SCTE-35\nmessages in the input source.\n\"DATERANGE\" inserts EXT-X-DATERANGE tags to signal ad and program transition events \nin HLS and CMAF manifests. For this option, you must set a programDateTimeIntervalSeconds value \nthat is greater than 0.\n",
                          "xml": {
                            "name": "adMarkers"
                          }
                        }
                      ]
                    },
                    "AdTriggers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdTriggers"
                        },
                        {
                          "xml": {
                            "name": "adTriggers"
                          }
                        }
                      ]
                    },
                    "AdsOnDeliveryRestrictions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdsOnDeliveryRestrictions"
                        },
                        {
                          "xml": {
                            "name": "adsOnDeliveryRestrictions"
                          }
                        }
                      ]
                    },
                    "Encryption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/HlsEncryption"
                        },
                        {
                          "xml": {
                            "name": "encryption"
                          }
                        }
                      ]
                    },
                    "IncludeIframeOnlyStream": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "When enabled, an I-Frame only stream will be included in the output.",
                          "xml": {
                            "name": "includeIframeOnlyStream"
                          }
                        }
                      ]
                    },
                    "PlaylistType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PlaylistType"
                        },
                        {
                          "description": "The HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified, a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.\n",
                          "xml": {
                            "name": "playlistType"
                          }
                        }
                      ]
                    },
                    "PlaylistWindowSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Time window (in seconds) contained in each parent manifest.",
                          "xml": {
                            "name": "playlistWindowSeconds"
                          }
                        }
                      ]
                    },
                    "ProgramDateTimeIntervalSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests. Additionally, when an interval is specified\nID3Timed Metadata messages will be generated every 5 seconds using the\ningest time of the content.\nIf the interval is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,\nit will be passed through to HLS output.\n",
                          "xml": {
                            "name": "programDateTimeIntervalSeconds"
                          }
                        }
                      ]
                    },
                    "SegmentDurationSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n",
                          "xml": {
                            "name": "segmentDurationSeconds"
                          }
                        }
                      ]
                    },
                    "StreamSelection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamSelection"
                        },
                        {
                          "xml": {
                            "name": "streamSelection"
                          }
                        }
                      ]
                    },
                    "UseAudioRenditionGroup": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "When enabled, audio streams will be placed in rendition groups in the output.",
                          "xml": {
                            "name": "useAudioRenditionGroup"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "id": {
                  "description": "The ID of the OriginEndpoint.  The ID must be unique within the region\nand it cannot be changed after the OriginEndpoint is created.\n",
                  "type": "string"
                },
                "manifestName": {
                  "description": "A short string that will be used as the filename of the OriginEndpoint URL (defaults to \"index\").",
                  "type": "string"
                },
                "mssPackage": {
                  "description": "A Microsoft Smooth Streaming (MSS) packaging configuration.",
                  "properties": {
                    "Encryption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MssEncryption"
                        },
                        {
                          "xml": {
                            "name": "encryption"
                          }
                        }
                      ]
                    },
                    "ManifestWindowSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The time window (in seconds) contained in each manifest.",
                          "xml": {
                            "name": "manifestWindowSeconds"
                          }
                        }
                      ]
                    },
                    "SegmentDurationSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The duration (in seconds) of each segment.",
                          "xml": {
                            "name": "segmentDurationSeconds"
                          }
                        }
                      ]
                    },
                    "StreamSelection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamSelection"
                        },
                        {
                          "xml": {
                            "name": "streamSelection"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "origination": {
                  "description": "Control whether origination of video is allowed for this OriginEndpoint. If set to ALLOW, the OriginEndpoint\nmay by requested, pursuant to any other form of access control. If set to DENY, the OriginEndpoint may not be\nrequested. This can be helpful for Live to VOD harvesting, or for temporarily disabling origination\n",
                  "enum": [
                    "ALLOW",
                    "DENY"
                  ],
                  "type": "string"
                },
                "startoverWindowSeconds": {
                  "description": "Maximum duration (seconds) of content to retain for startover playback.\nIf not specified, startover playback will be disabled for the OriginEndpoint.\n",
                  "type": "integer"
                },
                "timeDelaySeconds": {
                  "description": "Amount of delay (seconds) to enforce on the playback of live content.\nIf not specified, there will be no time delay in effect for the OriginEndpoint.\n",
                  "type": "integer"
                },
                "whitelist": {
                  "description": "A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "channelId",
                "id"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateOriginEndpointResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Creates a new OriginEndpoint record.",
        "operationId": "CreateOriginEndpoint"
      }
    },
    "/origin_endpoints/{id}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the OriginEndpoint to delete.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteOriginEndpointResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Deletes an existing OriginEndpoint.",
        "operationId": "DeleteOriginEndpoint"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the OriginEndpoint.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeOriginEndpointResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Gets details about an existing OriginEndpoint.",
        "operationId": "DescribeOriginEndpoint"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the OriginEndpoint to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "authorization": {
                  "description": "CDN Authorization credentials",
                  "properties": {
                    "CdnIdentifierSecret": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The Amazon Resource Name (ARN) for the secret in Secrets Manager that your Content Distribution Network (CDN) uses for authorization to access your endpoint.\n",
                          "xml": {
                            "name": "cdnIdentifierSecret"
                          }
                        }
                      ]
                    },
                    "SecretsRoleArn": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "The Amazon Resource Name (ARN) for the IAM role that allows MediaPackage to communicate with AWS Secrets Manager.\n",
                          "xml": {
                            "name": "secretsRoleArn"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "cmafPackage": {
                  "description": "A Common Media Application Format (CMAF) packaging configuration.",
                  "properties": {
                    "Encryption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/CmafEncryption"
                        },
                        {
                          "xml": {
                            "name": "encryption"
                          }
                        }
                      ]
                    },
                    "HlsManifests": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOfHlsManifestCreateOrUpdateParameters"
                        },
                        {
                          "description": "A list of HLS manifest configurations",
                          "xml": {
                            "name": "hlsManifests"
                          }
                        }
                      ]
                    },
                    "SegmentDurationSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n",
                          "xml": {
                            "name": "segmentDurationSeconds"
                          }
                        }
                      ]
                    },
                    "SegmentPrefix": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.",
                          "xml": {
                            "name": "segmentPrefix"
                          }
                        }
                      ]
                    },
                    "StreamSelection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamSelection"
                        },
                        {
                          "xml": {
                            "name": "streamSelection"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "dashPackage": {
                  "description": "A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.",
                  "properties": {
                    "AdTriggers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdTriggers"
                        },
                        {
                          "xml": {
                            "name": "adTriggers"
                          }
                        }
                      ]
                    },
                    "AdsOnDeliveryRestrictions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdsOnDeliveryRestrictions"
                        },
                        {
                          "xml": {
                            "name": "adsOnDeliveryRestrictions"
                          }
                        }
                      ]
                    },
                    "Encryption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DashEncryption"
                        },
                        {
                          "xml": {
                            "name": "encryption"
                          }
                        }
                      ]
                    },
                    "ManifestLayout": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ManifestLayout"
                        },
                        {
                          "description": "Determines the position of some tags in the Media Presentation Description (MPD).  When set to FULL, elements like SegmentTemplate and ContentProtection are included in each Representation.  When set to COMPACT, duplicate elements are combined and presented at the AdaptationSet level.",
                          "xml": {
                            "name": "manifestLayout"
                          }
                        }
                      ]
                    },
                    "ManifestWindowSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Time window (in seconds) contained in each manifest.",
                          "xml": {
                            "name": "manifestWindowSeconds"
                          }
                        }
                      ]
                    },
                    "MinBufferTimeSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Minimum duration (in seconds) that a player will buffer media before starting the presentation.",
                          "xml": {
                            "name": "minBufferTimeSeconds"
                          }
                        }
                      ]
                    },
                    "MinUpdatePeriodSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Minimum duration (in seconds) between potential changes to the Dynamic Adaptive Streaming over HTTP (DASH) Media Presentation Description (MPD).",
                          "xml": {
                            "name": "minUpdatePeriodSeconds"
                          }
                        }
                      ]
                    },
                    "PeriodTriggers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__listOf__PeriodTriggersElement"
                        },
                        {
                          "description": "A list of triggers that controls when the outgoing Dynamic Adaptive Streaming over HTTP (DASH)\nMedia Presentation Description (MPD) will be partitioned into multiple periods. If empty, the content will not\nbe partitioned into more than one period. If the list contains \"ADS\", new periods will be created where\nthe Channel source contains SCTE-35 ad markers.\n",
                          "xml": {
                            "name": "periodTriggers"
                          }
                        }
                      ]
                    },
                    "Profile": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Profile"
                        },
                        {
                          "description": "The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to \"HBBTV_1_5\", HbbTV 1.5 compliant output is enabled.",
                          "xml": {
                            "name": "profile"
                          }
                        }
                      ]
                    },
                    "SegmentDurationSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n",
                          "xml": {
                            "name": "segmentDurationSeconds"
                          }
                        }
                      ]
                    },
                    "SegmentTemplateFormat": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SegmentTemplateFormat"
                        },
                        {
                          "description": "Determines the type of SegmentTemplate included in the Media Presentation Description (MPD).  When set to NUMBER_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Number$ media URLs.  When set to TIME_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Time$ media URLs. When set to NUMBER_WITH_DURATION, only a duration is included in each SegmentTemplate, with $Number$ media URLs.",
                          "xml": {
                            "name": "segmentTemplateFormat"
                          }
                        }
                      ]
                    },
                    "StreamSelection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamSelection"
                        },
                        {
                          "xml": {
                            "name": "streamSelection"
                          }
                        }
                      ]
                    },
                    "SuggestedPresentationDelaySeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Duration (in seconds) to delay live content before presentation.",
                          "xml": {
                            "name": "suggestedPresentationDelaySeconds"
                          }
                        }
                      ]
                    },
                    "UtcTiming": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/UtcTiming"
                        },
                        {
                          "description": "Determines the type of UTCTiming included in the Media Presentation Description (MPD)",
                          "xml": {
                            "name": "utcTiming"
                          }
                        }
                      ]
                    },
                    "UtcTimingUri": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__string"
                        },
                        {
                          "description": "Specifies the value attribute of the UTCTiming field when utcTiming is set to HTTP-ISO or HTTP-HEAD",
                          "xml": {
                            "name": "utcTimingUri"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "description": {
                  "description": "A short text description of the OriginEndpoint.",
                  "type": "string"
                },
                "hlsPackage": {
                  "description": "An HTTP Live Streaming (HLS) packaging configuration.",
                  "properties": {
                    "AdMarkers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdMarkers"
                        },
                        {
                          "description": "This setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\" will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers and blackout tags based on SCTE-35\nmessages in the input source.\n\"DATERANGE\" inserts EXT-X-DATERANGE tags to signal ad and program transition events \nin HLS and CMAF manifests. For this option, you must set a programDateTimeIntervalSeconds value \nthat is greater than 0.\n",
                          "xml": {
                            "name": "adMarkers"
                          }
                        }
                      ]
                    },
                    "AdTriggers": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdTriggers"
                        },
                        {
                          "xml": {
                            "name": "adTriggers"
                          }
                        }
                      ]
                    },
                    "AdsOnDeliveryRestrictions": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdsOnDeliveryRestrictions"
                        },
                        {
                          "xml": {
                            "name": "adsOnDeliveryRestrictions"
                          }
                        }
                      ]
                    },
                    "Encryption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/HlsEncryption"
                        },
                        {
                          "xml": {
                            "name": "encryption"
                          }
                        }
                      ]
                    },
                    "IncludeIframeOnlyStream": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "When enabled, an I-Frame only stream will be included in the output.",
                          "xml": {
                            "name": "includeIframeOnlyStream"
                          }
                        }
                      ]
                    },
                    "PlaylistType": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/PlaylistType"
                        },
                        {
                          "description": "The HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified, a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.\n",
                          "xml": {
                            "name": "playlistType"
                          }
                        }
                      ]
                    },
                    "PlaylistWindowSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Time window (in seconds) contained in each parent manifest.",
                          "xml": {
                            "name": "playlistWindowSeconds"
                          }
                        }
                      ]
                    },
                    "ProgramDateTimeIntervalSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests. Additionally, when an interval is specified\nID3Timed Metadata messages will be generated every 5 seconds using the\ningest time of the content.\nIf the interval is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,\nit will be passed through to HLS output.\n",
                          "xml": {
                            "name": "programDateTimeIntervalSeconds"
                          }
                        }
                      ]
                    },
                    "SegmentDurationSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n",
                          "xml": {
                            "name": "segmentDurationSeconds"
                          }
                        }
                      ]
                    },
                    "StreamSelection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamSelection"
                        },
                        {
                          "xml": {
                            "name": "streamSelection"
                          }
                        }
                      ]
                    },
                    "UseAudioRenditionGroup": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__boolean"
                        },
                        {
                          "description": "When enabled, audio streams will be placed in rendition groups in the output.",
                          "xml": {
                            "name": "useAudioRenditionGroup"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "manifestName": {
                  "description": "A short string that will be appended to the end of the Endpoint URL.",
                  "type": "string"
                },
                "mssPackage": {
                  "description": "A Microsoft Smooth Streaming (MSS) packaging configuration.",
                  "properties": {
                    "Encryption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/MssEncryption"
                        },
                        {
                          "xml": {
                            "name": "encryption"
                          }
                        }
                      ]
                    },
                    "ManifestWindowSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The time window (in seconds) contained in each manifest.",
                          "xml": {
                            "name": "manifestWindowSeconds"
                          }
                        }
                      ]
                    },
                    "SegmentDurationSeconds": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/__integer"
                        },
                        {
                          "description": "The duration (in seconds) of each segment.",
                          "xml": {
                            "name": "segmentDurationSeconds"
                          }
                        }
                      ]
                    },
                    "StreamSelection": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StreamSelection"
                        },
                        {
                          "xml": {
                            "name": "streamSelection"
                          }
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "origination": {
                  "description": "Control whether origination of video is allowed for this OriginEndpoint. If set to ALLOW, the OriginEndpoint\nmay by requested, pursuant to any other form of access control. If set to DENY, the OriginEndpoint may not be\nrequested. This can be helpful for Live to VOD harvesting, or for temporarily disabling origination\n",
                  "enum": [
                    "ALLOW",
                    "DENY"
                  ],
                  "type": "string"
                },
                "startoverWindowSeconds": {
                  "description": "Maximum duration (in seconds) of content to retain for startover playback.\nIf not specified, startover playback will be disabled for the OriginEndpoint.\n",
                  "type": "integer"
                },
                "timeDelaySeconds": {
                  "description": "Amount of delay (in seconds) to enforce on the playback of live content.\nIf not specified, there will be no time delay in effect for the OriginEndpoint.\n",
                  "type": "integer"
                },
                "whitelist": {
                  "description": "A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.",
                  "items": {
                    "$ref": "#/definitions/__string"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateOriginEndpointResponse"
            }
          },
          "480": {
            "description": "UnprocessableEntityException",
            "schema": {
              "$ref": "#/definitions/UnprocessableEntityException"
            }
          },
          "481": {
            "description": "InternalServerErrorException",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorException"
            }
          },
          "482": {
            "description": "ForbiddenException",
            "schema": {
              "$ref": "#/definitions/ForbiddenException"
            }
          },
          "483": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "485": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "description": "Updates an existing OriginEndpoint.",
        "operationId": "UpdateOriginEndpoint"
      }
    },
    "/tags/{resource-arn}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "resource-arn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          }
        },
        "description": "",
        "operationId": "ListTagsForResource"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "resource-arn",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "tags": {
                  "additionalProperties": {
                    "$ref": "#/definitions/__string"
                  },
                  "description": "",
                  "type": "object"
                }
              },
              "required": [
                "tags"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "description": "",
        "operationId": "TagResource"
      }
    },
    "/tags/{resource-arn}#tagKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
[...]
