{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "Shutterstock"
    },
    "description": "The Shutterstock API provides access to Shutterstock's library of media, as well as information about customers' accounts and the contributors that provide the media.",
    "title": "Shutterstock API Explorer",
    "version": "1.0.16",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_Shutterstock_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api-explorer.shutterstock.com/openapi.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "shutterstock.com",
    "x-datafire": {
      "name": "shutterstock",
      "type": "openapi"
    }
  },
  "host": "api.shutterstock.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/audio": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "One or more audio IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "name": "id",
            "required": true,
            "type": "array",
            "x-example": [
              "442583",
              "434750"
            ]
          },
          {
            "default": "minimal",
            "description": "Amount of detail to render in the response",
            "enum": [
              "minimal",
              "full"
            ],
            "in": "query",
            "name": "view",
            "type": "string",
            "x-example": "full"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudioDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint lists information about one or more audio tracks, including the description and publication date.",
        "operationId": "getTrackList",
        "summary": "List audio tracks"
      }
    },
    "/v2/audio/collections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer",
            "x-example": "1"
          },
          {
            "default": 100,
            "description": "Number of results per page",
            "in": "query",
            "maximum": 150,
            "minimum": 1,
            "name": "per_page",
            "type": "integer",
            "x-example": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.view"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint lists your collections of audio tracks and their basic attributes.",
        "operationId": "getSoundboxList",
        "summary": "List audio collections"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection metadata",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CollectionCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CollectionCreateResponse"
            }
          },
          "201": {
            "description": "Successfully created collection"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.edit"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint creates one or more collections (soundboxes). To add tracks, use `POST /v2/audio/collections/{id}/items`.",
        "operationId": "createSoundbox",
        "summary": "Create audio collections",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "DATA='{\n  \"name\": \"Best rock music\"\n}'\n\ncurl -X POST https://api.shutterstock.com/v2/audio/collections \\\n-d \"$DATA\" \\\n-H \"Content-Type: application/json\" \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst audioApi = new sstk.AudioApi();\n\nconst body = {\n  \"name\": \"Best rock music\"\n};\n\naudioApi.createSoundbox(body)\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$body = [\n  \"name\" => \"Best rock music\"\n];\n$encodedBody = json_encode($body);\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/audio/collections\",\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $encodedBody,\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\",\n    \"Content-Type: application/json\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      }
    },
    "/v2/audio/collections/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "48433111"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "Successfully deleted collection"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.edit"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint deletes a collection.",
        "operationId": "deleteSoundbox",
        "summary": "Delete audio collections",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "curl -X DELETE https://api.shutterstock.com/v2/audio/collections/48433111 \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst audioApi = new sstk.AudioApi();\n\nconst collectionId = \"48433107\";\n\naudioApi.deleteSoundbox(collectionId)\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/audio/collections/48433111\",\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "48433107"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Collection"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Collection not found"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.view"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint gets more detailed information about a collection, including the number of items in it and when it was last updated. To get the tracks in collections, use `GET /v2/audio/collections/{id}/items`.",
        "operationId": "getSoundbox",
        "summary": "Get the details of audio collections"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "48433107"
          },
          {
            "description": "Collection changes",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CollectionUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "Successfully updated collection"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.edit"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint sets a new name for a collection.",
        "operationId": "renameSoundbox",
        "summary": "Rename audio collections",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "DATA='{\n  \"name\": \"Best rock music\"\n}'\n\ncurl -X POST https://api.shutterstock.com/v2/audio/collections/48433107 \\\n-d \"$DATA\" \\\n-H \"Content-Type: application/json\" \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst audioApi = new sstk.AudioApi();\n\nconst collectionId = \"48433107\";\n\nconst body = {\n  \"name\": \"Best rock music\"\n};\n\naudioApi.renameSoundbox(collectionId, body)\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$body = [\n  \"name\" => \"Best rock music\"\n];\n$encodedBody = json_encode($body);\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/audio/collections/48433107\",\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $encodedBody,\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\",\n    \"Content-Type: application/json\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      }
    },
    "/v2/audio/collections/{id}/items": {
      "delete": {
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "48433119"
          },
          {
            "collectionFormat": "multi",
            "description": "One or more item IDs to remove from the collection",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "item_id",
            "type": "array",
            "x-example": [
              "76688182",
              "40005859"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "Successfully removed collection items"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.edit"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint removes one or more tracks from a collection.",
        "operationId": "deleteSoundboxItems",
        "summary": "Remove audio tracks from collections",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "curl -X DELETE https://api.shutterstock.com/v2/audio/collections/48433119/items?item_id=36345523 \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst audioApi = new sstk.AudioApi();\n\nconst collectionId = \"48433119\";\n\n// Array of tracks to remove\nconst tracksToRemove = {\n  \"item_id\": [\n    \"76688182\",\n    \"40005859\"\n  ]\n};\n\naudioApi.deleteSoundboxItems(collectionId, tracksToRemove)\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/audio/collections/48433119/items?item_id=495863218\",\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "48433113"
          },
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "default": 100,
            "description": "Number of results per page",
            "in": "query",
            "maximum": 150,
            "minimum": 1,
            "name": "per_page",
            "type": "integer"
          },
          {
            "default": "oldest",
            "description": "Sort order",
            "enum": [
              "newest",
              "oldest"
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionItemDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.view"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint lists the IDs of tracks in a collection and the date that each was added.",
        "operationId": "getSoundboxItems",
        "summary": "Get the contents of audio collections"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "48433115"
          },
          {
            "description": "List of items to add to collection",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CollectionItemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "Successfully added collection items"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.edit"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint adds one or more tracks to a collection by track IDs.",
        "operationId": "addSoundboxItems",
        "summary": "Add audio tracks to collections",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "DATA='{\n  \"items\": [\n    {\n      \"id\": \"442583\"\n    },\n    {\n      \"id\": \"7491192\"\n    }\n  ]\n}'\n\ncurl -X POST https://api.shutterstock.com/v2/audio/collections/48433115/items \\\n-d \"$DATA\" \\\n-H \"Content-Type: application/json\" \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst audioApi = new sstk.AudioApi();\n\nconst collectionId = \"48433115\";\n\nconst body = {\n  \"items\": [\n    {\n      \"id\": \"442583\"\n    },\n    {\n      \"id\": \"7491192\"\n    }\n  ]\n};\n\naudioApi.addSoundboxItems(collectionId, body)\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$body = [\n  \"items\" => [\n    [\n      \"id\" => \"442583\"\n    ],\n    [\n      \"id\" => \"7491192\"\n    ]\n  ]\n];\n$encodedBody = json_encode($body);\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/audio/collections/48433115/items\",\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $encodedBody,\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\",\n    \"Content-Type: application/json\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      }
    },
    "/v2/audio/genres": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GenreList"
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint returns a list of all audio genres.",
        "operationId": "getGenres",
        "summary": "List audio genres"
      }
    },
    "/v2/audio/instruments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InstrumentList"
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint returns a list of all audio instruments.",
        "operationId": "getInstruments",
        "summary": "List audio instruments"
      }
    },
    "/v2/audio/licenses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Show licenses for the specified track ID",
            "in": "query",
            "name": "audio_id",
            "type": "string",
            "x-example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadHistoryDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "licenses.view"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint lists existing licenses. You can filter the results according to the track ID to see if you have an existing license for a specific track.",
        "operationId": "getAudioLicenseList",
        "summary": "List audio licenses"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "audio_standard",
            "description": "License type",
            "enum": [
              "audio_standard",
              "audio_enhanced",
              "audio_platform",
              "premier_music_basic",
              "premier_music_extended",
              "premier_music_pro",
              "premier_music_comp"
            ],
            "in": "query",
            "name": "license",
            "type": "string"
          },
          {
            "description": "The ID of the search that led to licensing this track",
            "in": "query",
            "name": "search_id",
            "type": "string"
          },
          {
            "description": "Tracks to license",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LicenseAudioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LicenseAudioResultDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "licenses.create"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint gets licenses for one or more tracks.",
        "operationId": "licenseTrack",
        "summary": "License audio tracks",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "DATA='{\n  \"audio\": [\n    {\n      \"audio_id\": \"591623\",\n      \"license\": \"audio_standard\",\n      \"metadata\": {\n        \"customer_id\": \"12345\"\n      }\n    }\n  ]\n}'\n\ncurl -X POST https://api.shutterstock.com/v2/audio/licenses \\\n-d \"$DATA\" \\\n-H \"Content-Type: application/json\" \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\"\n"
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst audioApi = new sstk.AudioApi();\n\nconst body = {\n  \"audio\": [\n    {\n      \"audio_id\": \"446348\",\n      \"license\": \"premier_music_comp\",\n      \"metadata\": {\n        \"customer_id\": \"12345\"\n      }\n    }\n  ]\n};\n\naudioApi.licenseTrack(body)\n  .then(({ data }) => {\n    console.log(data);\n  })\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$body = [\n  \"audio\" => [\n    [\n      \"audio_id\" => \"591623\",\n      \"license\" => \"audio_standard\",\n      \"metadata\" => [\n      \"customer_id\" => \"12345\"\n      ]\n    ]\n  ]\n];\n$encodedBody = json_encode($body);\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/audio/licenses\",\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $encodedBody,\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\",\n    \"Content-Type: application/json\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);\n"
          }
        ]
      }
    },
    "/v2/audio/licenses/{id}/downloads": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "License ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "i1188641348"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Url"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "licenses.view"
            ]
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint redownloads tracks that you have already received a license for.",
        "operationId": "downloadTracks",
        "summary": "Download audio tracks",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "curl -X POST https://api.shutterstock.com/v2/audio/licenses/i1188641348/downloads \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst audioApi = new sstk.AudioApi();\n\nconst licenseId = \"i1188641348\"; // license ID, not track ID\n\naudioApi.downloadTracks(licenseId)\n  .then((data) => {\n    console.log(data);\n  })\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/audio/licenses/i1188641348/downloads\",\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      }
    },
    "/v2/audio/moods": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoodList"
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint returns a list of all audio moods.",
        "operationId": "getMoods",
        "summary": "List audio moods"
      }
    },
    "/v2/audio/search": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "Show tracks with one of the specified artist names or IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "artists",
            "type": "array",
            "uniqueItems": false
          },
          {
            "deprecated": true,
            "description": "(Deprecated; use bpm_from and bpm_to instead) Show tracks with the specified beats per minute",
            "in": "query",
            "name": "bpm",
            "type": "integer",
            "uniqueItems": true
          },
          {
            "description": "Show tracks with the specified beats per minute or faster",
            "in": "query",
            "name": "bpm_from",
            "type": "integer",
            "uniqueItems": true
          },
          {
            "description": "Show tracks with the specified beats per minute or slower",
            "in": "query",
            "name": "bpm_to",
            "type": "integer",
            "uniqueItems": true
          },
          {
            "description": "Show tracks with the specified duration (seconds)",
            "in": "query",
            "name": "duration",
            "type": "integer",
            "uniqueItems": true
          },
          {
            "description": "Show tracks with the specified duration or longer (seconds)",
            "in": "query",
            "name": "duration_from",
            "type": "integer",
            "uniqueItems": true
          },
          {
            "description": "Show tracks with the specified duration or shorter (seconds)",
            "in": "query",
            "name": "duration_to",
            "type": "integer",
            "uniqueItems": true
          },
          {
            "collectionFormat": "multi",
            "description": "Show tracks with each of the specified genres; to get the list of genres, use `GET /v2/audio/genres`",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "genre",
            "type": "array",
            "uniqueItems": false,
            "x-example": [
              "Classical",
              "Holiday"
            ]
          },
          {
            "description": "Show instrumental music only",
            "in": "query",
            "name": "is_instrumental",
            "type": "boolean",
            "uniqueItems": true
          },
          {
            "collectionFormat": "multi",
            "description": "Show tracks with each of the specified instruments; to get the list of instruments, use `GET /v2/audio/instruments`",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "instruments",
            "type": "array",
            "uniqueItems": false,
            "x-example": [
              "Trumpet",
              "Percussion"
            ]
          },
          {
            "collectionFormat": "multi",
            "description": "Show tracks with each of the specified moods; to get the list of moods, use `GET /v2/audio/moods`",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "moods",
            "type": "array",
            "uniqueItems": false,
            "x-example": [
              "Confident",
              "Playful"
            ]
          },
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer",
            "uniqueItems": true
          },
          {
            "default": 20,
            "description": "Number of results per page",
            "in": "query",
            "maximum": 500,
            "minimum": 0,
            "name": "per_page",
            "type": "integer",
            "uniqueItems": true,
            "x-example": 1
          },
          {
            "description": "One or more search terms separated by spaces",
            "in": "query",
            "name": "query",
            "type": "string",
            "uniqueItems": true,
            "x-example": "drum"
          },
          {
            "description": "Sort by",
            "enum": [
              "score",
              "ranking_all",
              "artist",
              "title",
              "bpm",
              "freshness",
              "duration"
            ],
            "in": "query",
            "name": "sort",
            "type": "string",
            "uniqueItems": true
          },
          {
            "default": "desc",
            "description": "Sort order, asc or desc",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort_order",
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "Show tracks with the specified vocal description (male, female)",
            "in": "query",
            "name": "vocal_description",
            "type": "string",
            "uniqueItems": true
          },
          {
            "default": "minimal",
            "description": "Amount of detail to render in the response",
            "enum": [
              "minimal",
              "full"
            ],
            "in": "query",
            "name": "view",
            "type": "string",
            "uniqueItems": true,
            "x-example": "full"
          },
          {
            "description": "Fields to display in the response; see the documentation for the fields parameter in the overview section",
            "in": "query",
            "name": "fields",
            "type": "string",
            "uniqueItems": true
          },
          {
            "default": "premier",
            "description": "Which library to search",
            "enum": [
              "shutterstock",
              "premier"
            ],
            "in": "query",
            "name": "library",
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "Which language to search in",
            "in": "query",
            "name": "language",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudioSearchResults"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint searches for tracks. If you specify more than one search parameter, the API uses an AND condition. Array parameters can be specified multiple times; in this case, the API uses an AND or an OR condition with those values, depending on the parameter.",
        "operationId": "searchAudio",
        "summary": "Search for tracks",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "curl -X GET \"https://api.shutterstock.com/v2/audio/search\" \\\n--header \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\" \\\n-G \\\n--data-urlencode \"query=bluegrass\" \\\n--data-urlencode \"duration_from=60\" \\\n--data-urlencode \"moods=uplifting\"\n"
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst audioApi = new sstk.AudioApi();\n\nconst queryParams = {\n  \"query\": \"bluegrass\",\n  \"duration_from\": 60,\n  \"moods\": [\"uplifting\"]\n};\n\naudioApi.searchAudio(queryParams)\n  .then((data) => {\n    console.log(data);\n  })\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$queryFields = [\n  \"query\" => \"bluegrass\",\n  \"duration_from\" => 60,\n  \"moods\" => \"uplifting\"\n];\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/audio/search?\" . http_build_query($queryFields),\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);\n"
          }
        ]
      }
    },
    "/v2/audio/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Audio track ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "442583"
          },
          {
            "default": "full",
            "description": "Amount of detail to render in the response",
            "enum": [
              "minimal",
              "full"
            ],
            "in": "query",
            "name": "view",
            "type": "string",
            "x-example": "full"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Audio"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "audio"
        ],
        "description": "This endpoint shows information about a track, including its genres, instruments, and other attributes.",
        "operationId": "getTrack",
        "summary": "Get details about audio tracks"
      }
    },
    "/v2/contributors": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "One or more contributor IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "type": "array",
            "x-example": [
              800506,
              1653538
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContributorProfileDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "contributors"
        ],
        "description": "This endpoint lists information about one or more contributors, including contributor type, equipment they use and other attributes.",
        "operationId": "getContributorList",
        "summary": "Get details about multiple contributors"
      }
    },
    "/v2/contributors/{contributor_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Contributor ID",
            "in": "path",
            "name": "contributor_id",
            "required": true,
            "type": "string",
            "x-example": 1653538
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContributorProfile"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "contributors"
        ],
        "description": "This endpoint shows information about a single contributor, including contributor type, equipment they use, and other attributes.",
        "operationId": "getContributor",
        "summary": "Get details about a single contributor"
      }
    },
    "/v2/contributors/{contributor_id}/collections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Contributor ID",
            "in": "path",
            "name": "contributor_id",
            "required": true,
            "type": "string",
            "x-example": 800506
          },
          {
            "description": "Sort order",
            "enum": [
              "newest",
              "last_updated",
              "item_count"
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Contributor not found"
          }
        },
        "security": [
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "contributors"
        ],
        "description": "This endpoint lists collections based on contributor ID.",
        "operationId": "getContributorCollectionsList",
        "summary": "List contributors' collections"
      }
    },
    "/v2/contributors/{contributor_id}/collections/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Contributor ID",
            "in": "path",
            "name": "contributor_id",
            "required": true,
            "type": "string",
            "x-example": 800506
          },
          {
            "description": "Collection ID that belongs to the contributor",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": 1991678
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Collection"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Set not found"
          }
        },
        "security": [
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "contributors"
        ],
        "description": "This endpoint gets more detailed information about a contributor's collection, including its cover image, timestamps for its creation, and most recent update. To get the items in collections, use GET /v2/contributors/{contributor_id}/collections/{id}/items.",
        "operationId": "getContributorCollections",
        "summary": "Get details about contributors' collections"
      }
    },
    "/v2/contributors/{contributor_id}/collections/{id}/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Contributor ID",
            "in": "path",
            "name": "contributor_id",
            "required": true,
            "type": "string",
            "x-example": 800506
          },
          {
            "description": "Collection ID that belongs to the contributor",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": 1991678
          },
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of results per page",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "per_page",
            "type": "integer"
          },
          {
            "description": "Sort order",
            "enum": [
              "newest",
              "oldest"
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionItemDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Set not found"
          }
        },
        "security": [
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "contributors"
        ],
        "description": "This endpoint lists the IDs of items in a contributor's collection and the date that each was added.",
        "operationId": "getContributorCollectionItems",
        "summary": "Get the items in contributors' collections"
      }
    },
    "/v2/cv/images": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The image data as a base64 string",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "description": "Computer vision image upload information",
              "properties": {
                "upload_id": {
                  "type": "string"
                }
              },
              "required": [
                "upload_id"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "413": {
            "description": "Payload Too Large"
          },
          "415": {
            "description": "Unsupported Media Type"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "computer_vision"
        ],
        "description": "This endpoint uploads an image for reverse image or video search. Images must be in JPEG or PNG format. To get the search results, pass the upload ID that this endpoint returns to the GET /v2/cv/similar/images or GET /v2/cv/similar/videos endpoints. Contact us for access to this endpoint.",
        "operationId": "uploadImage",
        "summary": "Upload images",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "RESPONSE=$(curl -X POST 'https://api.shutterstock.com/v2/cv/images' \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\" \\\n-H 'Content-Type: application/json' \\\n-d \"{\\\"base64_image\\\":\\\"`base64 myImage.jpg`\\\"}\")\n\necho \"The next step requires the jq program.\"\n\nUPLOAD_ID=$(jq -r .upload_id <<< $RESPONSE)\n\ncurl -X GET https://api.shutterstock.com/v2/cv/similar/images \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\" \\\n-G \\\n--data-urlencode \"asset_type=images\" \\\n--data-urlencode \"asset_id=$UPLOAD_ID\"\n"
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst computerVisionApi = new sstk.CvApi();\n\nconst imageFile = fs.readFileSync(\"./myImage.jpg\");\nconst base64File = Buffer.from(imageFile).toString(\"base64\");\n\nconst body = new sstk.ImageCreateRequest(base64File);\n\ncomputerVisionApi.uploadImage(body)\n  .then((data) => {\n    console.log(data.upload_id);\n    return computerVisionApi.getSimilarImages({\n      \"asset_type\": \"images\",\n      \"asset_id\": data.upload_id\n    });\n  })\n  .then((data) => {\n    console.log(data);\n  })\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$imageData = file_get_contents(\"myImage.jpg\");\n$encodedImageData = base64_encode($imageData);\n\n$uploadBody = [\n  \"base64_image\" => $encodedImageData\n];\n$uploadEncodedBody = json_encode($uploadBody);\n\n$uploadOptions = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/cv/images\",\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $uploadEncodedBody,\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\",\n    \"Content-Type: application/json\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $uploadOptions);\n$uploadResponse = curl_exec($handle);\ncurl_close($handle);\n\n$uploadDecodedResponse = json_decode($uploadResponse);\nprint_r($uploadDecodedResponse->upload_id);\n\n$similarQuery = [\n  \"asset_type\" => \"images\",\n  \"asset_id\" => $uploadDecodedResponse->upload_id,\n];\n\n$similarOptions = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/cv/similar/images?\" . http_build_query($similarQuery),\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $similarOptions);\n$similarResponse = curl_exec($handle);\ncurl_close($handle);\n\nprint_r($similarResponse);\n"
          }
        ]
      }
    },
    "/v2/cv/similar/images": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The asset ID or upload ID to find similar videos for",
            "in": "query",
            "name": "asset_id",
            "required": true,
            "type": "string",
            "x-example": "U123456"
          },
          {
            "description": "Language for the keywords and categories in the response",
            "enum": [
              "cs",
              "da",
              "de",
              "en",
              "es",
              "fi",
              "fr",
              "hu",
              "it",
              "ja",
              "ko",
              "nb",
              "nl",
              "pl",
              "pt",
              "ru",
              "sv",
              "th",
              "tr",
              "zh",
              "zh-Hant"
            ],
            "in": "query",
            "name": "language",
            "type": "string",
            "x-example": "es"
          },
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of results per page, defaults to 20",
            "in": "query",
            "maximum": 500,
            "minimum": 1,
            "name": "per_page",
            "type": "integer"
          },
          {
            "default": "minimal",
            "description": "Amount of detail to render in the response",
            "enum": [
              "minimal",
              "full"
            ],
            "in": "query",
            "name": "view",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageSearchResults"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "computer_vision"
        ],
        "description": "This endpoint returns images that are visually similar to an image that you specify or upload.",
        "operationId": "getSimilarImages",
        "summary": "List similar images"
      }
    },
    "/v2/cv/similar/videos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The asset ID or upload ID to find similar videos for",
            "in": "query",
            "name": "asset_id",
            "required": true,
            "type": "string",
            "x-example": "U123456"
          },
          {
            "description": "Language for the keywords and categories in the response",
            "enum": [
              "cs",
              "da",
              "de",
              "en",
              "es",
              "fi",
              "fr",
              "hu",
              "it",
              "ja",
              "ko",
              "nb",
              "nl",
              "pl",
              "pt",
              "ru",
              "sv",
              "th",
              "tr",
              "zh",
              "zh-Hant"
            ],
            "in": "query",
            "name": "language",
            "type": "string",
            "x-example": "es"
          },
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of results per page, defaults to 20",
            "in": "query",
            "maximum": 500,
            "minimum": 1,
            "name": "per_page",
            "type": "integer"
          },
          {
            "default": "minimal",
            "description": "Amount of detail to render in the response",
            "enum": [
              "minimal",
              "full"
            ],
            "in": "query",
            "name": "view",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VideoSearchResults"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "computer_vision"
        ],
        "description": "This endpoint returns videos that are visually similar to an image that you specify or upload.",
        "operationId": "getSimilarVideos",
        "summary": "List similar videos"
      }
    },
    "/v2/editorial/licenses": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "License editorial content",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LicenseEditorialContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LicenseEditorialContentResultDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "licenses.create"
            ]
          }
        ],
        "tags": [
          "editorial"
        ],
        "description": "This endpoint gets licenses for one or more editorial images. You must specify the country and one or more editorial images to license.",
        "operationId": "licenseEditorialImage",
        "summary": "License editorial content",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "DATA='{\n  \"editorial\": [\n    {\n      \"editorial_id\": \"8594090h\",\n      \"license\": \"premier_editorial_comp\"\n    }\n  ],\n  \"country\": \"USA\"\n}'\n\ncurl -X POST https://api.shutterstock.com/v2/editorial/licenses \\\n-d \"$DATA\" \\\n-H \"Content-Type: application/json\" \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst editorialApi = new sstk.EditorialApi();\n\nconst body = {\n  \"editorial\": [\n    {\n      \"editorial_id\": \"8594090h\",\n      \"license\": \"premier_editorial_comp\"\n    }\n  ],\n  \"country\": \"USA\"\n};\n\neditorialApi.licenseEditorialImage(body)\n  .then(({ data }) => {\n    console.log(data);\n  })\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$body = [\n  \"editorial\" => [\n    [\n      \"editorial_id\" => \"8594090h\",\n      \"license\" => \"premier_editorial_comp\"\n    ]\n  ],\n  \"country\" => \"USA\"\n];\n$encodedBody = json_encode($body);\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/editorial/licenses\",\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $encodedBody,\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\",\n    \"Content-Type: application/json\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      }
    },
    "/v2/editorial/livefeeds": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Returns only livefeeds that are available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU",
            "in": "query",
            "name": "country",
            "required": true,
            "type": "string",
            "x-example": "USA"
          },
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of results per page, defaults to 20",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "per_page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EditorialLivefeedList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "editorial"
        ],
        "operationId": "getEditorialLivefeedList",
        "summary": "Get editorial livefeed list"
      }
    },
    "/v2/editorial/livefeeds/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Editorial livefeed ID; must be an URI encoded string",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "2018%2F10%2F15%2FWomen%20of%20the%20Year%20Lunch%20%26%20Awards%2C%20London"
          },
          {
            "description": "Returns only if the livefeed is available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU",
            "in": "query",
            "name": "country",
            "required": true,
            "type": "string",
            "x-example": "USA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EditorialLivefeed"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "editorial"
        ],
        "operationId": "getEditorialLivefeed",
        "summary": "Get editorial livefeed"
      }
    },
    "/v2/editorial/livefeeds/{id}/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Editorial livefeed ID; must be an URI encoded string",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "2018%2F10%2F15%2FWomen%20of%20the%20Year%20Lunch%20%26%20Awards%2C%20London"
          },
          {
            "description": "Returns only if the livefeed items are available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU",
            "in": "query",
            "name": "country",
            "required": true,
            "type": "string",
            "x-example": "USA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EditorialContentDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "editorial"
        ],
        "operationId": "getEditorialLivefeedItems",
        "summary": "Get editorial livefeed items"
      }
    },
    "/v2/editorial/search": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "One or more search terms separated by spaces",
            "in": "query",
            "name": "query",
            "type": "string"
          },
          {
            "default": "relevant",
            "description": "Sort by",
            "enum": [
              "relevant",
              "newest",
              "oldest"
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "description": "Show editorial content within a certain editorial category; specify by category name",
            "in": "query",
            "name": "category",
            "type": "string"
          },
          {
            "description": "Show only editorial content that is available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU",
            "in": "query",
            "name": "country",
            "required": true,
            "type": "string",
            "x-example": "USA"
          },
          {
            "collectionFormat": "multi",
            "description": "Show only editorial content from certain suppliers",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "supplier_code",
            "type": "array"
          },
          {
            "description": "Show only editorial content generated on or after a specific date, in the format of YYYY-MM-DD",
            "format": "date",
            "in": "query",
            "name": "date_start",
            "type": "string"
          },
          {
            "description": "Show only editorial content generated on or before a specific date, in the format of YYYY-MM-DD",
            "format": "date",
            "in": "query",
            "name": "date_end",
            "type": "string"
          },
          {
            "default": 20,
            "description": "Number of results per page, defaults to 20",
            "in": "query",
            "maximum": 50,
            "minimum": 1,
            "name": "per_page",
            "type": "integer"
          },
          {
            "description": "The cursor of the page with which to start fetching results; this cursor is returned from previous requests",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EditorialSearchResults"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "editorial"
        ],
        "description": "This endpoint searches for editorial images. If you specify more than one search parameter, the API uses an AND condition. Array parameters can be specified multiple times; in this case, the API uses an AND or an OR condition with those values, depending on the parameter. You can also filter search terms out in the `query` parameter by prefixing the term with NOT.",
        "operationId": "searchEditorial",
        "summary": "Search editorial content",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "curl -X GET https://api.shutterstock.com/v2/editorial/search \\\n-H \"Accept: application/json\" \\\n-G \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\" \\\n--data-urlencode \"query=football\" \\\n--data-urlencode \"country=USA\" \\\n--data-urlencode \"sort=newest\" \\\n--data-urlencode \"date_start=2018-10-23\"\n"
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst editorialApi = new sstk.EditorialApi();\n\nconst queryParams = {\n  \"query\": \"football\",\n  \"country\": \"USA\",\n  \"sort\": \"newest\",\n  \"date_start\": \"2018-10-23\"\n};\n\nconst country = \"USA\";\n\neditorialApi.searchEditorial(country, queryParams)\n  .then((data) => {\n    console.log(data);\n  })\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$queryFields = [\n  \"query\" => \"football\",\n  \"country\" => \"USA\",\n  \"date_start\" => \"2018-10-23\",\n  \"sort\" => \"newest\"\n];\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/editorial/search?\" . http_build_query($queryFields),\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);\n"
          }
        ]
      }
    },
    "/v2/editorial/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Editorial ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "9926131a"
          },
          {
            "description": "Returns only if the content is available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU",
            "in": "query",
            "name": "country",
            "required": true,
            "type": "string",
            "x-example": "USA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EditorialContent"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "editorial"
        ],
        "description": "This endpoint shows information about an editorial image, including a URL to a preview image and the sizes that it is available in.",
        "operationId": "getEditorialImage",
        "summary": "Get editorial content details"
      }
    },
    "/v2/images": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "One or more image IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "type": "array",
            "x-example": [
              "1110335168",
              "465011609"
            ]
          },
          {
            "default": "minimal",
            "description": "Amount of detail to render in the response",
            "enum": [
              "minimal",
              "full"
            ],
            "in": "query",
            "name": "view",
            "type": "string",
            "x-example": "minimal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint lists information about one or more images, including the available sizes.",
        "operationId": "getImageList",
        "summary": "List images"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The image data in JPEG or PNG format",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ImageCreateResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "413": {
            "description": "Payload Too Large"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "computer_vision"
        ],
        "deprecated": true,
        "description": "Deprecated; use `POST /v2/cv/images` instead. This endpoint uploads an image for reverse image search. The image must be in JPEG or PNG format. To get the search results, pass the ID that this endpoint returns to the `GET /v2/images/{id}/similar` endpoint.",
        "operationId": "uploadEphemeralImage",
        "summary": "Upload ephemeral images",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "curl -X POST 'https://api.shutterstock.com/v2/images' \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\" \\\n-H 'Content-Type: application/json' \\\n-d \"{\\\"base64_image\\\":\\\"`base64 myImage.jpg`\\\"}\"\n"
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst imagesApi = new sstk.ImagesApi();\n\nconst imageFile = fs.readFileSync(\"./myImage.jpg\");\nconst base64File = Buffer.from(imageFile).toString(\"base64\");\n\nconst body = new sstk.ImageCreateRequest(base64File);\n\nconst queryParams = {\n  \"page\": 1,\n  \"per_page\": 20,\n  \"view\": \"minimal\"\n};\n\nimagesApi.uploadEphemeralImage(body)\n  .then((data) => {\n    console.log(data.id);\n    return imagesApi.getSimilarImages(data.id, queryParams);\n  })\n  .then((similarImageData) => {\n    console.log(similarImageData);\n  })\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$imageData = file_get_contents(\"myImage.jpg\");\n$encodedImageData = base64_encode($imageData);\n\n$body = [\n  \"base64_image\" => $encodedImageData\n];\n$encodedBody = json_encode($body);\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/images\",\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $encodedBody,\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\",\n    \"Content-Type: application/json\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);\n"
          }
        ]
      }
    },
    "/v2/images/categories": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Language for the keywords and categories in the response",
            "enum": [
              "cs",
              "da",
              "de",
              "en",
              "es",
              "fi",
              "fr",
              "hu",
              "it",
              "ja",
              "ko",
              "nb",
              "nl",
              "pl",
              "pt",
              "ru",
              "sv",
              "th",
              "tr",
              "zh",
              "zh-Hant"
            ],
            "in": "query",
            "name": "language",
            "type": "string",
            "x-example": "es"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CategoryDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint lists the categories (Shutterstock-assigned genres) that images can belong to.",
        "operationId": "getImageCategories",
        "summary": "List image categories"
      }
    },
    "/v2/images/collections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "Which sharing information to include in the response, such as a URL to the collection",
            "in": "query",
            "items": {
              "enum": [
                "share_code",
                "share_url"
              ],
              "type": "string"
            },
            "name": "embed",
            "type": "array",
            "x-example": "share_code"
          },
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer",
            "x-example": 1
          },
          {
            "default": 100,
            "description": "Number of results per page, defaults to 100",
            "in": "query",
            "maximum": 150,
            "minimum": 1,
            "name": "per_page",
            "type": "integer",
            "x-example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.view"
            ]
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint lists your collections of images and their basic attributes.",
        "operationId": "getLightboxList",
        "summary": "List image collections"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The names of the new collections",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CollectionCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "201": {
            "description": "Creation successful",
            "schema": {
              "$ref": "#/definitions/CollectionCreateResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.edit"
            ]
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint creates one or more image collections (lightboxes). To add images to the collections, use `POST /v2/images/collections/{id}/items`.",
        "operationId": "createLightbox",
        "summary": "Create image collections",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "DATA='{\n  \"name\": \"My collection\"\n}'\n\ncurl -X POST https://api.shutterstock.com/v2/images/collections \\\n-d \"$DATA\" \\\n-H \"Content-Type: application/json\" \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst imagesApi = new sstk.ImagesApi();\n\nconst body = {\n  \"name\": \"My collection\"\n};\n\nimagesApi.createLightbox(body)\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$body = [\n  \"name\" => \"My collection\"\n];\n$encodedBody = json_encode($body);\n\n$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/images/collections\",\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $encodedBody,\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\",\n    \"Content-Type: application/json\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      }
    },
    "/v2/images/collections/featured": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Which sharing information to include in the response, such as a URL to the collection",
            "enum": [
              "share_url"
            ],
            "in": "query",
            "name": "embed",
            "type": "string",
            "x-example": "share_url"
          },
          {
            "collectionFormat": "multi",
            "description": "The types of collections to return",
            "in": "query",
            "items": {
              "enum": [
                "photo",
                "editorial",
                "vector"
              ],
              "type": "string"
            },
            "name": "type",
            "type": "array",
            "x-example": "photo"
          },
          {
            "default": "1x",
            "description": "Cover image size, defaults to 1x",
            "enum": [
              "1x",
              "2x"
            ],
            "in": "query",
            "name": "asset_hint",
            "type": "string",
            "x-example": "share_url"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FeaturedCollectionDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint lists featured collections of specific types and a name and cover image for each collection.",
        "operationId": "getFeaturedLightboxList",
        "summary": "List featured image collections"
      }
    },
    "/v2/images/collections/featured/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "136351027"
          },
          {
            "description": "Which sharing information to include in the response, such as a URL to the collection",
            "enum": [
              "share_url"
            ],
            "in": "query",
            "name": "embed",
            "type": "string"
          },
          {
            "default": "1x",
            "description": "Cover image size, defaults to 1x",
            "enum": [
              "1x",
              "2x"
            ],
            "in": "query",
            "name": "asset_hint",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FeaturedCollection"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Featured collection not found"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint gets more detailed information about a featured collection, including its cover image and timestamps for its creation and most recent update. To get the images, use `GET /v2/images/collections/featured/{id}/items`.",
        "operationId": "getFeaturedLightbox",
        "summary": "Get the details of featured image collections"
      }
    },
    "/v2/images/collections/featured/{id}/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "136351027"
          },
          {
            "default": 1,
            "description": "Page number",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "default": 100,
            "description": "Number of results per page, defaults to 100",
            "in": "query",
            "maximum": 150,
            "minimum": 1,
            "name": "per_page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionItemDataList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Featured collection not found"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "customer_accessCode": []
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint lists the IDs of images in a featured collection and the date that each was added.",
        "operationId": "getFeaturedLightboxItems",
        "summary": "Get the contents of featured image collections"
      }
    },
    "/v2/images/collections/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "136351027"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "Successfully deleted collection"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.edit"
            ]
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint deletes an image collection.",
        "operationId": "deleteLightbox",
        "summary": "Delete image collections",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "curl -X DELETE https://api.shutterstock.com/v2/images/collections/136351027 \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst imagesApi = new sstk.ImagesApi();\n\nconst collectionId = \"136351027\"; // Collection ID\n\nimagesApi.deleteLightbox(collectionId)\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
            "source": "$options = [\n  CURLOPT_URL => \"https://api.shutterstock.com/v2/images/collections/136351027\",\n  CURLOPT_USERAGENT => \"php/curl\",\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\"\n  ],\n  CURLOPT_RETURNTRANSFER => 1\n];\n\n$handle = curl_init();\ncurl_setopt_array($handle, $options);\n$response = curl_exec($handle);\ncurl_close($handle);\n\n$decodedResponse = json_decode($response);\nprint_r($decodedResponse);"
          }
        ]
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "126351027"
          },
          {
            "collectionFormat": "multi",
            "description": "Which sharing information to include in the response, such as a URL to the collection",
            "in": "query",
            "items": {
              "enum": [
                "share_code",
                "share_url"
              ],
              "type": "string"
            },
            "name": "embed",
            "type": "array"
          },
          {
            "description": "Code to retrieve a shared collection",
            "in": "query",
            "name": "share_code",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Collection"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.view"
            ]
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint gets more detailed information about a collection, including its cover image and timestamps for its creation and most recent update. To get the images in collections, use `GET /v2/images/collections/{id}/items`.",
        "operationId": "getLightbox",
        "summary": "Get the details of image collections"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Collection ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "126351027"
          },
          {
            "description": "The new name for the collection",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CollectionUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "Successfully updated collection"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "customer_accessCode": [
              "collections.edit"
            ]
          }
        ],
        "tags": [
          "images"
        ],
        "description": "This endpoint sets a new name for an image collection.",
        "operationId": "renameLightbox",
        "summary": "Rename image collections",
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "DATA='{\n  \"name\": \"My new collection name\"\n}'\n\ncurl -X POST https://api.shutterstock.com/v2/images/collections/126351027 \\\n-d \"$DATA\" \\\n-H \"Content-Type: application/json\" \\\n-H \"Accept: application/json\" \\\n-H \"Authorization: Bearer $SHUTTERSTOCK_API_TOKEN\""
          },
          {
            "lang": "javascript--nodejs",
            "source": "const sstk = require(\"shutterstock-api\");\n\nsstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);\n\nconst imagesApi = new sstk.ImagesApi();\n\nconst collectionId = \"126351027\"; // Collection ID\n\nconst body = {\n  \"name\": \"My new collection name\"\n};\n\nimagesApi.renameLightbox(collectionId, body)\n  .catch((error) => {\n    console.error(error);\n  });\n"
          },
          {
            "lang": "php",
[...]
