{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "fraudlabspro"
    },
    "description": "Send an SMS with verification code and a custom message for authentication purpose. It helps merchants to minimize chargebacks and fraud for various kinds of payment method, such as credit card, paypal, cod and so on. Please visit https://www.fraudlabspro.com to learn more.",
    "title": "FraudLabs Pro SMS Verification",
    "version": "1.0",
    "x-apisguru-categories": [
      "telecom",
      "ecommerce"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_fraudlabspro_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "openapi",
        "url": "https://api.swaggerhub.com/apis/fraudlabs-pro/fraudlabspro-sms-verification/1.0",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "fraudlabspro.com",
    "x-serviceName": "sms-verification",
    "x-datafire": {
      "name": "fraudlabspro_sms_verification",
      "type": "openapi"
    }
  },
  "host": "api.fraudlabspro.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/verification/result": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The unique ID that was returned by the Send Verification SMS API that triggered the OTP sms.",
            "in": "query",
            "name": "tran_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "FraudLabs Pro API key.",
            "in": "query",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "description": "Returns the API response in json (default) or xml format.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The OTP that was sent to the recipient’s phone.",
            "in": "query",
            "name": "otp",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get verification response",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "Verify that an OTP sent by the Send SMS Verification API is valid."
      }
    },
    "/v1/verification/send": {
      "post": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "ISO 3166 country code for the recipient mobile phone number. If parameter is supplied, then some basic telephone number validation is done.",
            "in": "query",
            "name": "country_code",
            "type": "string"
          },
          {
            "description": "Returns the API response in json (default) or xml format.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "The recipient mobile phone number in E164 format which is a plus followed by just numbers with no spaces or parentheses.",
            "in": "query",
            "name": "tel",
            "required": true,
            "type": "string"
          },
          {
            "description": "FraudLabs Pro API key.",
            "in": "query",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "allowEmptyValue": true,
            "description": "The message template for the SMS. Add <otp> as placeholder for the actual OTP to be generated. Max length is 140 characters.",
            "in": "query",
            "name": "mesg",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "send verification response",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "Send an SMS with verification code and a custom message for authentication purpose."
      }
    }
  }
}