{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "stats.nba.com",
  "basePath": "/stats",
  "info": {
    "description": "The destination for current and historic NBA statistics.",
    "title": "NBA Stats",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "media",
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_797568531047051264_LcjOmxGH.jpg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/danielwelch/little-pynny/master/little-pynny/swagger.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "nba.com",
    "x-unofficialSpec": true,
    "x-datafire": {
      "name": "nba",
      "type": "openapi"
    }
  },
  "produces": [
    "application/json",
    "text/html",
    "text/xml"
  ],
  "paths": {
    "/allstarballotpredictor": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "allstarballotpredictor.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "PointCap",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "WestPlayer1",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "WestPlayer2",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "WestPlayer3",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "WestPlayer4",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "WestPlayer5",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EastPlayer1",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EastPlayer2",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EastPlayer3",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EastPlayer4",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EastPlayer5",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/boxscore": {
      "get": {
        "deprecated": true,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscore.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": false,
          "type": "string"
        }
      ]
    },
    "/boxscoreadvanced": {
      "get": {
        "deprecated": true,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoreadvanced.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": false,
          "type": "string"
        }
      ]
    },
    "/boxscoreadvancedv2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoreadvancedv2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/boxscorefourfactors": {
      "get": {
        "deprecated": true,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscorefourfactors.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": false,
          "type": "string"
        }
      ]
    },
    "/boxscorefourfactorsv2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscorefourfactorsv2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/boxscoremisc": {
      "get": {
        "deprecated": true,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoremisc.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": false,
          "type": "string"
        }
      ]
    },
    "/boxscoremiscv2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoremiscv2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/boxscoreplayertrackv2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoreplayertrackv2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/boxscorescoring": {
      "get": {
        "deprecated": true,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscorescoring.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": false,
          "type": "string"
        }
      ]
    },
    "/boxscorescoringv2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscorescoringv2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/boxscoresummaryv2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoresummaryv2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/boxscoretraditionalv2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoretraditionalv2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/boxscoreusage": {
      "get": {
        "deprecated": true,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoreusage.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": false,
          "type": "string"
        }
      ]
    },
    "/boxscoreusagev2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "boxscoreusagev2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "RangeType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/commonTeamYears": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "commonTeamYears.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/commonallplayers": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "commonallplayers.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "IsOnlyCurrentSeason",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/commonplayerinfo": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "commonplayerinfo.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/commonplayoffseries": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "commonplayoffseries.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/commonteamroster": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "commonteamroster.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "TeamID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/draftcombinedrillresults": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "draftcombinedrillresults.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonYear",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/draftcombinenonstationaryshooting": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "draftcombinenonstationaryshooting.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonYear",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/draftcombineplayeranthro": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "draftcombineplayeranthro.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonYear",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/draftcombinespotshooting": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "draftcombinespotshooting.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonYear",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/draftcombinestats": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "draftcombinestats.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonYear",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/drafthistory": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "drafthistory.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/franchisehistory": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "franchisehistory.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/homepageleaders": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "homepageleaders.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "StatCategory",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerOrTeam",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Game",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Player",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerScope",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameScope",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/homepagev2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "homepagev2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "StatType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerOrTeam",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Game",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Player",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerScope",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameScope",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaderstiles": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaderstiles.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "Stat",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerOrTeam",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Game",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Player",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerScope",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameScope",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashlineups": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashlineups.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GroupQuantity",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashplayerbiostats": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashplayerbiostats.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashplayerclutch": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashplayerclutch.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "ClutchTime",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "AheadBehind",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PointDiff",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameScope",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerExperience",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerPosition",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StarterBench",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashplayerptshot": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashplayerptshot.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashplayershotlocations": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashplayershotlocations.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DistanceRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameScope",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerExperience",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerPosition",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StarterBench",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashplayerstats": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashplayerstats.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameScope",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerExperience",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerPosition",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StarterBench",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashptdefend": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashptdefend.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DefenseCategory",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashptteamdefend": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashptteamdefend.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DefenseCategory",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashteamclutch": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashteamclutch.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "ClutchTime",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "AheadBehind",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PointDiff",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameScope",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerExperience",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerPosition",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StarterBench",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashteamptshot": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashteamptshot.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashteamshotlocations": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashteamshotlocations.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DistanceRange",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameScope",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerExperience",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerPosition",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StarterBench",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leaguedashteamstats": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leaguedashteamstats.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/leagueleaders": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "leagueleaders.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "LeagueID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StatCategory",
          "required": false,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Scope",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playbyplay": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playbyplay.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playbyplayv2": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playbyplayv2.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "GameID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "StartPeriod",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "EndPeriod",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playercareerstats": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playercareerstats.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playercompare": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playercompare.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "PlayerIDList",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsPlayerIDList",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashboardbyclutch": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashboardbyclutch.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashboardbygamesplits": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashboardbygamesplits.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashboardbygeneralsplits": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashboardbygeneralsplits.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashboardbylastngames": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashboardbylastngames.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashboardbyopponent": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashboardbyopponent.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashboardbyshootingsplits": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashboardbyshootingsplits.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashboardbyteamperformance": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashboardbyteamperformance.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashboardbyyearoveryear": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashboardbyyearoveryear.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "MeasureType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlusMinus",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PaceAdjust",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Rank",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Season",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonType",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "PlayerID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Outcome",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Location",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Month",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "SeasonSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateFrom",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "DateTo",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "OpponentTeamID",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsConference",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "VsDivision",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "GameSegment",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "Period",
          "required": true,
          "type": "string"
        },
        {
          "in": "query",
          "name": "LastNGames",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/playerdashptpass": {
      "get": {
        "deprecated": false,
        "description": "",
        "responses": {
          "200": {
            "description": "200 OK"
          },
          "400": {
            "description": "Bad request - bad parameters"
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
          }
        },
        "summary": "",
        "operationId": "playerdashptpass.get"
      },
      "parameters": [
        {
          "in": "query",
          "name": "PerMode",
          "required": true,
          "type": "string"
        },
        {
[...]
