{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "PeerTube Community",
      "url": "https://joinpeertube.org"
    },
    "description": "# Introduction\n\nThe PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite\nHTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with\n[openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)\nwhich generates a client SDK in the language of your choice - we generate some client SDKs automatically:\n\n- [Python](https://framagit.org/framasoft/peertube/clients/python)\n- [Go](https://framagit.org/framasoft/peertube/clients/go)\n- [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)\n\nSee the [Quick Start guide](https://docs.joinpeertube.org/#/api-rest-getting-started) so you can play with the PeerTube API.\n\n# Authentication\n\nWhen you sign up for an account, you are given the possibility to generate\nsessions, and authenticate using this session token. One session token can\ncurrently be used at a time.\n\n## Roles\n\nAccounts are given permissions based on their role. There are three roles on\nPeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/#/admin-managing-users?id=roles) for a detail of their permissions.\n\n# Errors\n\nThe API uses standard HTTP status codes to indicate the success or failure\nof the API call. The body of the response will be JSON in the following\nformat.\n\n```\n{\n  \"code\": \"unauthorized_request\", // example inner error code\n  \"error\": \"Token is invalid.\" // example exposed error message\n}\n```\n",
    "license": {
      "name": "AGPLv3.0",
      "url": "https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE"
    },
    "title": "PeerTube",
    "version": "2.4.0",
    "x-apisguru-categories": [
      "social"
    ],
    "x-logo": {
      "altText": "PeerTube Project Homepage",
      "url": "https://api.apis.guru/v2/cache/logo/https_joinpeertube.org_img_brand.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "cpy.re",
    "x-serviceName": "peertube",
    "x-datafire": {
      "name": "cpy_re_peertube",
      "type": "openapi"
    }
  },
  "host": "peertube2.cpy.re",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/abuses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "only list the report with this id",
            "in": "query",
            "name": "id",
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "predefined reason the listed reports should contain",
            "in": "query",
            "items": {
              "enum": [
                "violentOrAbusive",
                "hatefulOrAbusive",
                "spamOrMisleading",
                "privacy",
                "rights",
                "serverRules",
                "thumbnails",
                "captions"
              ],
              "type": "string"
            },
            "name": "predefinedReason",
            "type": "array"
          },
          {
            "description": "plain search that will match with video titles, reporter names and more",
            "in": "query",
            "name": "search",
            "type": "string"
          },
          {
            "description": "The abuse state (Pending = `1`, Rejected = `2`, Accepted = `3`)",
            "enum": [
              1,
              2,
              3
            ],
            "in": "query",
            "name": "state",
            "type": "integer"
          },
          {
            "description": "only list reports of a specific reporter",
            "in": "query",
            "name": "searchReporter",
            "type": "string"
          },
          {
            "description": "only list reports of a specific reportee",
            "in": "query",
            "name": "searchReportee",
            "type": "string"
          },
          {
            "description": "only list reports of a specific video",
            "in": "query",
            "name": "searchVideo",
            "type": "string"
          },
          {
            "description": "only list reports of a specific video channel",
            "in": "query",
            "name": "searchVideoChannel",
            "type": "string"
          },
          {
            "description": "only list blacklisted or deleted videos",
            "enum": [
              "deleted",
              "blacklisted"
            ],
            "in": "query",
            "name": "videoIs",
            "type": "string"
          },
          {
            "description": "only list account, comment or video reports",
            "enum": [
              "video",
              "comment",
              "account"
            ],
            "in": "query",
            "name": "filter",
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort abuses by criteria",
            "enum": [
              "-id",
              "-createdAt",
              "-state"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/Abuse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin",
              "moderator"
            ]
          }
        ],
        "tags": [
          "Abuses"
        ],
        "summary": "List abuses"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "account": {
                  "properties": {
                    "id": {
                      "description": "Account id to report",
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "comment": {
                  "properties": {
                    "id": {
                      "description": "Comment id to report",
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "predefinedReasons": {
                  "$ref": "#/definitions/PredefinedAbuseReasons"
                },
                "reason": {
                  "description": "Reason why the user reports this video",
                  "minLength": 4,
                  "type": "string"
                },
                "video": {
                  "properties": {
                    "endAt": {
                      "description": "Timestamp in the video that marks the ending of the report",
                      "minimum": 0,
                      "type": "integer"
                    },
                    "id": {
                      "description": "Video id to report",
                      "type": "number"
                    },
                    "startAt": {
                      "description": "Timestamp in the video that marks the beginning of the report",
                      "minimum": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "reason"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "incorrect request parameters"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Abuses"
        ],
        "summary": "Report an abuse"
      }
    },
    "/abuses/{abuseId}": {
      "delete": {
        "parameters": [
          {
            "description": "Abuse id",
            "in": "path",
            "name": "abuseId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "404": {
            "description": "block not found"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin",
              "moderator"
            ]
          }
        ],
        "tags": [
          "Abuses"
        ],
        "summary": "Delete an abuse"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Abuse id",
            "in": "path",
            "name": "abuseId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "moderationComment": {
                  "description": "Update the report comment visible only to the moderation team",
                  "type": "string"
                },
                "state": {
                  "$ref": "#/definitions/AbuseStateSet"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "404": {
            "description": "abuse not found"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin",
              "moderator"
            ]
          }
        ],
        "tags": [
          "Abuses"
        ],
        "summary": "Update an abuse"
      }
    },
    "/abuses/{abuseId}/messages": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Abuse id",
            "in": "path",
            "name": "abuseId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/AbuseMessage"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Abuses"
        ],
        "summary": "List messages of an abuse"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Abuse id",
            "in": "path",
            "name": "abuseId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "message": {
                  "description": "Message to send",
                  "type": "string"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "incorrect request parameters"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Abuses"
        ],
        "summary": "Add message to an abuse"
      }
    },
    "/abuses/{abuseId}/messages/{abuseMessageId}": {
      "delete": {
        "parameters": [
          {
            "description": "Abuse id",
            "in": "path",
            "name": "abuseId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Abuse message id",
            "in": "path",
            "name": "abuseMessageId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Abuses"
        ],
        "summary": "Delete an abuse message"
      }
    },
    "/accounts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/Account"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts"
      }
    },
    "/accounts/{name}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The username or handle of the account",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "404": {
            "description": "account not found"
          }
        },
        "tags": [
          "Accounts"
        ],
        "summary": "Get an account"
      }
    },
    "/accounts/{name}/ratings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The username or handle of the account",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optionally filter which ratings to retrieve",
            "enum": [
              "like",
              "dislike"
            ],
            "in": "query",
            "name": "rating",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/VideoRating"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Accounts"
        ],
        "summary": "List ratings of an account"
      }
    },
    "/accounts/{name}/video-channels": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The username or handle of the account",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "include view statistics for the last 30 days (only if authentified as the account user)",
            "in": "query",
            "name": "withStats",
            "type": "boolean"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/VideoChannel"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Video Channels",
          "Accounts"
        ],
        "summary": "List video channels of an account"
      }
    },
    "/accounts/{name}/videos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The username or handle of the account",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "category id of the video (see [/videos/categories](#tag/Video/paths/~1videos~1categories/get))",
            "in": "query",
            "name": "categoryOneOf",
            "required": false
          },
          {
            "description": "tag(s) of the video",
            "in": "query",
            "name": "tagsOneOf",
            "required": false
          },
          {
            "description": "tag(s) of the video, where all should be present in the video",
            "in": "query",
            "name": "tagsAllOf",
            "required": false
          },
          {
            "description": "licence id of the video (see [/videos/licences](#tag/Video/paths/~1videos~1licences/get))",
            "in": "query",
            "name": "licenceOneOf",
            "required": false
          },
          {
            "description": "language id of the video (see [/videos/languages](#tag/Video/paths/~1videos~1languages/get)). Use `_unknown` to filter on videos that don't have a video language",
            "in": "query",
            "name": "languageOneOf",
            "required": false
          },
          {
            "description": "whether to include nsfw videos, if any",
            "enum": [
              "true",
              "false"
            ],
            "in": "query",
            "name": "nsfw",
            "required": false,
            "type": "string"
          },
          {
            "description": "Special filters which might require special rights:\n * `local` - only videos local to the instance\n * `all-local` - only videos local to the instance, but showing private and unlisted videos (requires Admin privileges)\n * `all` - all videos, showing private and unlisted videos (requires Admin privileges)\n",
            "enum": [
              "local",
              "all-local"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "default": "false",
            "description": "if you don't need the `total` in the response",
            "enum": [
              "true",
              "false"
            ],
            "in": "query",
            "name": "skipCount",
            "required": false,
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort videos by criteria",
            "enum": [
              "name",
              "-duration",
              "-createdAt",
              "-publishedAt",
              "-views",
              "-likes",
              "-trending"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VideoListResponse"
            }
          }
        },
        "tags": [
          "Accounts",
          "Video"
        ],
        "summary": "List videos of an account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "fetch('https://peertube2.cpy.re/api/v1/accounts/{name}/videos')\n.then(function(response) {\n  return response.json()\n}).then(function(data) {\n  console.log(data)\n})\n"
          },
          {
            "lang": "Shell",
            "source": "## DEPENDENCIES: jq\ncurl -s https://peertube2.cpy.re/api/v1/accounts/{name}/videos | jq\n"
          },
          {
            "lang": "Ruby",
            "source": "require 'net/http'\nrequire 'json'\n\nuri = URI.parse(\"https://peertube2.cpy.re/api/v1/accounts/{name}/videos\")\n\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nresponse = http.get(uri.request_uri)\n\nputs JSON.parse(response.read_body)\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nr = requests.get(\"https://peertube2.cpy.re/api/v1//accounts/{name}/videos\")\njson = r.json()\n\nprint(json)\n"
          }
        ]
      }
    },
    "/blocklist/accounts": {
      "get": {
        "parameters": [
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Account Blocks"
        ],
        "summary": "List account blocks"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "accountName": {
                  "description": "account to block, in the form `username@domain`",
                  "example": "chocobozzz@example.org",
                  "type": "string"
                }
              },
              "required": [
                "accountName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "409": {
            "description": "self-blocking forbidden"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Account Blocks"
        ],
        "summary": "Block an account"
      }
    },
    "/blocklist/accounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "description": "account to unblock, in the form `username@domain`",
            "in": "path",
            "name": "accountName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation"
          },
          "404": {
            "description": "account or account block does not exist"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Account Blocks"
        ],
        "summary": "Unblock an account by its handle"
      }
    },
    "/blocklist/servers": {
      "get": {
        "parameters": [
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Server Blocks"
        ],
        "summary": "List server blocks"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "host": {
                  "description": "server domain to block",
                  "format": "hostname",
                  "type": "string"
                }
              },
              "required": [
                "host"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "409": {
            "description": "self-blocking forbidden"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Server Blocks"
        ],
        "summary": "Block a server"
      }
    },
    "/blocklist/servers/{host}": {
      "delete": {
        "parameters": [
          {
            "description": "server domain to unblock",
            "format": "hostname",
            "in": "path",
            "name": "host",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation"
          },
          "404": {
            "description": "account block does not exist"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Server Blocks"
        ],
        "summary": "Unblock a server by its domain"
      }
    },
    "/config": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServerConfig"
            }
          }
        },
        "tags": [
          "Config"
        ],
        "summary": "Get instance public configuration"
      }
    },
    "/config/about": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServerConfigAbout"
            }
          }
        },
        "tags": [
          "Config"
        ],
        "summary": "Get instance \"About\" information"
      }
    },
    "/config/custom": {
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Config"
        ],
        "summary": "Delete instance runtime configuration"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServerConfigCustom"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Config"
        ],
        "summary": "Get instance runtime configuration"
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Arises when:\n  - the emailer is disabled and the instance is open to registrations\n  - webtorrent and hls are disabled with transcoding enabled - you need at least one enabled\n",
            "x-summary": "field inconsistencies"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Config"
        ],
        "summary": "Set instance runtime configuration"
      }
    },
    "/feeds/video-comments.{format}": {
      "get": {
        "servers": [
          {
            "description": "Live Test Server (live data - latest nightly version)",
            "url": "https://peertube2.cpy.re"
          },
          {
            "description": "Live Test Server (live data - latest RC version)",
            "url": "https://peertube3.cpy.re"
          },
          {
            "description": "Live Test Server (live data - stable version)",
            "url": "https://peertube.cpy.re"
          }
        ],
        "produces": [
          "application/atom+xml",
          "application/json",
          "application/rss+xml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))",
            "enum": [
              "xml",
              "rss",
              "rss2",
              "atom",
              "atom1",
              "json",
              "json1"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "limit listing to a specific video",
            "in": "query",
            "name": "videoId",
            "type": "string"
          },
          {
            "description": "limit listing to a specific account",
            "in": "query",
            "name": "accountId",
            "type": "string"
          },
          {
            "description": "limit listing to a specific account",
            "in": "query",
            "name": "accountName",
            "type": "string"
          },
          {
            "description": "limit listing to a specific video channel",
            "in": "query",
            "name": "videoChannelId",
            "type": "string"
          },
          {
            "description": "limit listing to a specific video channel",
            "in": "query",
            "name": "videoChannelName",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Arises when:\n  - videoId filter is mixed with a channel filter\n",
            "x-summary": "field inconsistencies"
          },
          "404": {
            "description": "video, video channel or account not found"
          },
          "406": {
            "description": "accept header unsupported"
          }
        },
        "tags": [
          "Feeds"
        ],
        "summary": "List comments on videos"
      }
    },
    "/feeds/videos.{format}": {
      "get": {
        "servers": [
          {
            "description": "Live Test Server (live data - latest nightly version)",
            "url": "https://peertube2.cpy.re"
          },
          {
            "description": "Live Test Server (live data - latest RC version)",
            "url": "https://peertube3.cpy.re"
          },
          {
            "description": "Live Test Server (live data - stable version)",
            "url": "https://peertube.cpy.re"
          }
        ],
        "produces": [
          "application/atom+xml",
          "application/json",
          "application/rss+xml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))",
            "enum": [
              "xml",
              "rss",
              "rss2",
              "atom",
              "atom1",
              "json",
              "json1"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "description": "limit listing to a specific account",
            "in": "query",
            "name": "accountId",
            "type": "string"
          },
          {
            "description": "limit listing to a specific account",
            "in": "query",
            "name": "accountName",
            "type": "string"
          },
          {
            "description": "limit listing to a specific video channel",
            "in": "query",
            "name": "videoChannelId",
            "type": "string"
          },
          {
            "description": "limit listing to a specific video channel",
            "in": "query",
            "name": "videoChannelName",
            "type": "string"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "whether to include nsfw videos, if any",
            "enum": [
              "true",
              "false"
            ],
            "in": "query",
            "name": "nsfw",
            "required": false,
            "type": "string"
          },
          {
            "description": "Special filters which might require special rights:\n * `local` - only videos local to the instance\n * `all-local` - only videos local to the instance, but showing private and unlisted videos (requires Admin privileges)\n * `all` - all videos, showing private and unlisted videos (requires Admin privileges)\n",
            "enum": [
              "local",
              "all-local"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "video channel or account not found"
          },
          "406": {
            "description": "accept header unsupported"
          }
        },
        "tags": [
          "Feeds"
        ],
        "summary": "List videos"
      }
    },
    "/jobs/{state}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The state of the job ('' for for no filter)",
            "enum": [
              "",
              "active",
              "completed",
              "failed",
              "waiting",
              "delayed"
            ],
            "in": "path",
            "name": "state",
            "required": true,
            "type": "string"
          },
          {
            "description": "job type",
            "enum": [
              "activitypub-follow",
              "activitypub-http-broadcast",
              "activitypub-http-fetcher",
              "activitypub-http-unicast",
              "email",
              "video-transcoding",
              "video-file-import",
              "video-import",
              "videos-views",
              "activitypub-refresher",
              "video-redundancy",
              "video-live-ending"
            ],
            "in": "query",
            "name": "jobType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/Job"
                  },
                  "maxItems": 100,
                  "type": "array"
                },
                "total": {
                  "example": 1,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Job"
        ],
        "summary": "List instance jobs"
      }
    },
    "/plugins": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pluginType",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "uninstalled",
            "type": "boolean"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PluginResponse"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Plugins"
        ],
        "summary": "List plugins"
      }
    },
    "/plugins/available": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "type": "string"
          },
          {
            "in": "query",
            "name": "pluginType",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "currentPeerTubeEngine",
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PluginResponse"
            }
          },
          "503": {
            "description": "plugin index unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Plugins"
        ],
        "summary": "List available plugins"
      }
    },
    "/plugins/install": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "should have either `npmName` or `path` set"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Plugins"
        ],
        "summary": "Install a plugin"
      }
    },
    "/plugins/uninstall": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "npmName": {
                  "description": "name of the plugin/theme in its package.json",
                  "example": "peertube-plugin-auth-ldap",
                  "type": "string"
                }
              },
              "required": [
                "npmName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "404": {
            "description": "existing plugin not found"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Plugins"
        ],
        "summary": "Uninstall a plugin"
      }
    },
    "/plugins/update": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "should have either `npmName` or `path` set"
          },
          "404": {
            "description": "existing plugin not found"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Plugins"
        ],
        "summary": "Update a plugin"
      }
    },
    "/plugins/{npmName}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "name of the plugin/theme on npmjs.com or in its package.json",
            "in": "path",
            "name": "npmName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Plugin"
            }
          },
          "404": {
            "description": "plugin not found"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Plugins"
        ],
        "summary": "Get a plugin"
      }
    },
    "/plugins/{npmName}/public-settings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "name of the plugin/theme on npmjs.com or in its package.json",
            "in": "path",
            "name": "npmName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "additionalProperties": true,
              "type": "object"
            }
          },
          "404": {
            "description": "plugin not found"
          }
        },
        "tags": [
          "Plugins"
        ],
        "summary": "Get a plugin's public settings"
      }
    },
    "/plugins/{npmName}/registered-settings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "name of the plugin/theme on npmjs.com or in its package.json",
            "in": "path",
            "name": "npmName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "additionalProperties": true,
              "type": "object"
            }
          },
          "404": {
            "description": "plugin not found"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Plugins"
        ],
        "summary": "Get a plugin's registered settings"
      }
    },
    "/plugins/{npmName}/settings": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "name of the plugin/theme on npmjs.com or in its package.json",
            "in": "path",
            "name": "npmName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "settings": {
                  "additionalProperties": true,
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "404": {
            "description": "plugin not found"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Plugins"
        ],
        "summary": "Set a plugin's settings"
      }
    },
    "/redundancy/videos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "direction of the mirror",
            "enum": [
              "my-videos",
              "remote-videos"
            ],
            "in": "query",
            "name": "target",
            "required": true,
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort abuses by criteria",
            "enum": [
              "name"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/VideoRedundancy"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Video Mirroring"
        ],
        "summary": "List videos being mirrored"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "videoId": {
                  "type": "integer"
                }
              },
              "required": [
                "videoId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "cannot mirror a local video"
          },
          "404": {
            "description": "video does not exist"
          },
          "409": {
            "description": "video is already mirrored"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Video Mirroring"
        ],
        "summary": "Mirror a video"
      }
    },
    "/redundancy/videos/{redundancyId}": {
      "delete": {
        "parameters": [
          {
            "description": "id of an existing redundancy on a video",
            "in": "path",
            "name": "redundancyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "404": {
            "description": "video redundancy not found"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Video Mirroring"
        ],
        "summary": "Delete a mirror done on a video"
      }
    },
    "/redundancy/{host}": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "server domain to mirror",
            "format": "hostname",
            "in": "path",
            "name": "host",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "redundancyAllowed": {
                  "description": "allow mirroring of the host's local videos",
                  "type": "boolean"
                }
              },
              "required": [
                "redundancyAllowed"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "404": {
            "description": "server is not already known"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Instance Redundancy"
        ],
        "summary": "Update a server redundancy policy"
      }
    },
    "/search/video-channels": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete channel information and interact with it.\n",
            "in": "query",
            "name": "search",
            "required": true,
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "If the administrator enabled search index support, you can override the default search target.\n\n**Warning**: If you choose to make an index search, PeerTube will get results from a third party service. It means the instance may not yet know the objects you fetched. If you want to load video/channel information:\n  * If the current user has the ability to make a remote URI search (this information is available in the config endpoint),\n  then reuse the search API to make a search using the object URI so PeerTube instance fetches the remote object and fill its database.\n  After that, you can use the classic REST API endpoints to fetch the complete object or interact with it\n  * If the current user doesn't have the ability to make a remote URI search, then redirect the user on the origin instance or fetch\n  the data from the origin instance API\n",
            "enum": [
              "local",
              "search-index"
            ],
            "in": "query",
            "name": "searchTarget",
            "required": false,
            "type": "string"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/VideoChannel"
              },
              "type": "array"
            }
          },
          "500": {
            "description": "search index unavailable"
          }
        },
        "tags": [
          "Search"
        ],
        "callbacks": {
          "searchTarget === search-index": {
            "$ref": "#/x-components/callbacks/searchIndex"
          }
        },
        "summary": "Search channels"
      }
    },
    "/search/videos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete video information and interact with it.\n",
            "in": "query",
            "name": "search",
            "required": true,
            "type": "string"
          },
          {
            "description": "category id of the video (see [/videos/categories](#tag/Video/paths/~1videos~1categories/get))",
            "in": "query",
            "name": "categoryOneOf",
            "required": false
          },
          {
            "description": "tag(s) of the video",
            "in": "query",
            "name": "tagsOneOf",
            "required": false
          },
          {
            "description": "tag(s) of the video, where all should be present in the video",
            "in": "query",
            "name": "tagsAllOf",
            "required": false
          },
          {
            "description": "licence id of the video (see [/videos/licences](#tag/Video/paths/~1videos~1licences/get))",
            "in": "query",
            "name": "licenceOneOf",
            "required": false
          },
          {
            "description": "language id of the video (see [/videos/languages](#tag/Video/paths/~1videos~1languages/get)). Use `_unknown` to filter on videos that don't have a video language",
            "in": "query",
            "name": "languageOneOf",
            "required": false
          },
          {
            "description": "whether to include nsfw videos, if any",
            "enum": [
              "true",
              "false"
            ],
            "in": "query",
            "name": "nsfw",
            "required": false,
            "type": "string"
          },
          {
            "description": "Special filters which might require special rights:\n * `local` - only videos local to the instance\n * `all-local` - only videos local to the instance, but showing private and unlisted videos (requires Admin privileges)\n * `all` - all videos, showing private and unlisted videos (requires Admin privileges)\n",
            "enum": [
              "local",
              "all-local"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "default": "false",
            "description": "if you don't need the `total` in the response",
            "enum": [
              "true",
              "false"
            ],
            "in": "query",
            "name": "skipCount",
            "required": false,
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "If the administrator enabled search index support, you can override the default search target.\n\n**Warning**: If you choose to make an index search, PeerTube will get results from a third party service. It means the instance may not yet know the objects you fetched. If you want to load video/channel information:\n  * If the current user has the ability to make a remote URI search (this information is available in the config endpoint),\n  then reuse the search API to make a search using the object URI so PeerTube instance fetches the remote object and fill its database.\n  After that, you can use the classic REST API endpoints to fetch the complete object or interact with it\n  * If the current user doesn't have the ability to make a remote URI search, then redirect the user on the origin instance or fetch\n  the data from the origin instance API\n",
            "enum": [
              "local",
              "search-index"
            ],
            "in": "query",
            "name": "searchTarget",
            "required": false,
            "type": "string"
          },
          {
            "description": "Sort videos by criteria",
            "enum": [
              "name",
              "-duration",
              "-createdAt",
              "-publishedAt",
              "-views",
              "-likes",
              "-match"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Get videos that are published after this date",
            "format": "date-time",
            "in": "query",
            "name": "startDate",
            "type": "string"
          },
          {
            "description": "Get videos that are published before this date",
            "format": "date-time",
            "in": "query",
            "name": "endDate",
            "type": "string"
          },
          {
            "description": "Get videos that are originally published after this date",
            "format": "date-time",
            "in": "query",
            "name": "originallyPublishedStartDate",
            "type": "string"
          },
          {
            "description": "Get videos that are originally published before this date",
            "format": "date-time",
            "in": "query",
            "name": "originallyPublishedEndDate",
            "type": "string"
          },
          {
            "description": "Get videos that have this minimum duration",
            "in": "query",
            "name": "durationMin",
            "type": "integer"
          },
          {
            "description": "Get videos that have this maximum duration",
            "in": "query",
            "name": "durationMax",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VideoListResponse"
            }
          },
          "500": {
            "description": "search index unavailable"
          }
        },
        "tags": [
          "Search"
        ],
        "callbacks": {
          "searchTarget === search-index": {
            "$ref": "#/x-components/callbacks/searchIndex"
          }
        },
        "summary": "Search videos"
      }
    },
    "/server/followers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/Follow"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Instance Follows"
        ],
        "summary": "List instance followers"
      }
    },
    "/server/following": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "pending",
              "accepted"
            ],
            "in": "query",
            "name": "state",
            "type": "string"
          },
          {
            "enum": [
              "Person",
              "Application",
              "Group",
              "Service",
              "Organization"
            ],
            "in": "query",
            "name": "actorType",
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/Follow"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Instance Follows"
        ],
        "summary": "List instances followed by the server"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "hosts": {
                  "items": {
                    "format": "hostname",
                    "type": "string"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "500": {
            "description": "cannot follow a non-HTTPS server"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Instance Follows"
        ],
        "summary": "Follow a server"
      }
    },
    "/server/following/{host}": {
      "delete": {
        "parameters": [
          {
            "description": "The host to unfollow ",
            "format": "hostname",
            "in": "path",
            "name": "host",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Instance Follows"
        ],
        "summary": "Unfollow a server"
      }
    },
    "/users": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Plain text search that will match with user usernames or emails",
            "in": "query",
            "name": "search",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter results down to (un)banned users",
            "in": "query",
            "name": "blocked",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort users by criteria",
            "enum": [
              "-id",
              "-username",
              "-createdAt"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/User"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "List users"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "User to create",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddUser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user created",
            "links": {
              "DelUserId": {
                "parameters": {
                  "id": "$response.body#/user/id"
                },
                "operationId": "delUserId"
              },
              "GetUserId": {
                "parameters": {
                  "id": "$response.body#/user/id"
                },
                "operationId": "getUserId"
              },
              "PutUserId": {
                "parameters": {
                  "id": "$response.body#/user/id"
                },
                "operationId": "putUserId"
              }
            },
            "schema": {
              "$ref": "#/definitions/AddUserResponse"
            }
          },
          "403": {
            "description": "insufficient authority to create an admin or moderator"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Create a user"
      }
    },
    "/users/me": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/User"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My User"
        ],
        "summary": "Get my user information"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMe"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My User"
        ],
        "summary": "Update my user information"
      }
    },
    "/users/me/abuses": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "only list the report with this id",
            "in": "query",
            "name": "id",
            "type": "integer"
          },
          {
            "description": "The abuse state (Pending = `1`, Rejected = `2`, Accepted = `3`)",
            "enum": [
              1,
              2,
              3
            ],
            "in": "query",
            "name": "state",
            "type": "integer"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort abuses by criteria",
            "enum": [
              "-id",
              "-createdAt",
              "-state"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/Abuse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Abuses",
          "My User"
        ],
        "summary": "List my abuses"
      }
    },
    "/users/me/avatar/pick": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The file to upload.",
            "format": "binary",
            "in": "formData",
            "name": "avatarfile",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Avatar"
            }
          },
          "413": {
            "description": "image file too large",
            "headers": {
              "X-File-Maximum-Size": {
                "description": "Maximum file size for the avatar",
                "format": "Nginx size",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "My User"
        ],
        "summary": "Update my user avatar"
      }
    },
    "/users/me/history/videos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VideoListResponse"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "My History"
        ],
        "summary": "List watched videos history"
      }
    },
    "/users/me/history/videos/remove": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "description": "history before this date will be deleted",
            "format": "date-time",
            "in": "formData",
            "name": "beforeDate",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "My History"
        ],
        "summary": "Clear video history"
      }
    },
    "/users/me/notification-settings": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "abuseAsModerator": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "autoInstanceFollowing": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "blacklistOnMyVideo": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "commentMention": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "myVideoImportFinished": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "myVideoPublished": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "newCommentOnMyVideo": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "newFollow": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "newInstanceFollower": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "newUserRegistration": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "newVideoFromSubscription": {
                  "$ref": "#/definitions/NotificationSettingValue"
                },
                "videoAutoBlacklistAsModerator": {
                  "$ref": "#/definitions/NotificationSettingValue"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "My Notifications"
        ],
        "summary": "Update my notification settings"
      }
    },
    "/users/me/notifications": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "only list unread notifications",
            "in": "query",
            "name": "unread",
            "type": "boolean"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NotificationListResponse"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "My Notifications"
        ],
        "summary": "List my notifications"
      }
    },
    "/users/me/notifications/read": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "ids": {
                  "description": "ids of the notifications to mark as read",
                  "items": {
                    "type": "integer"
                  },
                  "type": "array"
                }
              },
              "required": [
                "ids"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "My Notifications"
        ],
        "summary": "Mark notifications as read by their id"
      }
    },
    "/users/me/notifications/read-all": {
      "post": {
        "parameters": [],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "My Notifications"
        ],
        "summary": "Mark all my notification as read"
      }
    },
    "/users/me/subscriptions": {
      "get": {
        "parameters": [
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My Subscriptions"
        ],
        "summary": "Get my user subscriptions"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "uri": {
                  "description": "uri of the video channels to subscribe to",
                  "format": "uri",
                  "type": "string"
                }
              },
              "required": [
                "uri"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My Subscriptions"
        ],
        "summary": "Add subscription to my user"
      }
    },
    "/users/me/subscriptions/exist": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "list of uris to check if each is part of the user subscriptions",
            "in": "query",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "name": "uris",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My Subscriptions"
        ],
        "summary": "Get if subscriptions exist for my user"
      }
    },
    "/users/me/subscriptions/videos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "category id of the video (see [/videos/categories](#tag/Video/paths/~1videos~1categories/get))",
            "in": "query",
            "name": "categoryOneOf",
            "required": false
          },
          {
            "description": "tag(s) of the video",
            "in": "query",
            "name": "tagsOneOf",
            "required": false
          },
          {
            "description": "tag(s) of the video, where all should be present in the video",
            "in": "query",
            "name": "tagsAllOf",
            "required": false
          },
          {
            "description": "licence id of the video (see [/videos/licences](#tag/Video/paths/~1videos~1licences/get))",
            "in": "query",
            "name": "licenceOneOf",
            "required": false
          },
          {
            "description": "language id of the video (see [/videos/languages](#tag/Video/paths/~1videos~1languages/get)). Use `_unknown` to filter on videos that don't have a video language",
            "in": "query",
            "name": "languageOneOf",
            "required": false
          },
          {
            "description": "whether to include nsfw videos, if any",
            "enum": [
              "true",
              "false"
            ],
            "in": "query",
            "name": "nsfw",
            "required": false,
            "type": "string"
          },
          {
            "description": "Special filters which might require special rights:\n * `local` - only videos local to the instance\n * `all-local` - only videos local to the instance, but showing private and unlisted videos (requires Admin privileges)\n * `all` - all videos, showing private and unlisted videos (requires Admin privileges)\n",
            "enum": [
              "local",
              "all-local"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "default": "false",
            "description": "if you don't need the `total` in the response",
            "enum": [
              "true",
              "false"
            ],
            "in": "query",
            "name": "skipCount",
            "required": false,
            "type": "string"
          },
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort videos by criteria",
            "enum": [
              "name",
              "-duration",
              "-createdAt",
              "-publishedAt",
              "-views",
              "-likes",
              "-trending"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VideoListResponse"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My Subscriptions",
          "Videos"
        ],
        "summary": "List videos of subscriptions of my user"
      }
    },
    "/users/me/subscriptions/{subscriptionHandle}": {
      "delete": {
        "parameters": [
          {
            "description": "The subscription handle",
            "in": "path",
            "name": "subscriptionHandle",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My Subscriptions"
        ],
        "summary": "Delete subscription of my user"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The subscription handle",
            "in": "path",
            "name": "subscriptionHandle",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VideoChannel"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My Subscriptions"
        ],
        "summary": "Get subscription of my user"
      }
    },
    "/users/me/video-playlists/videos-exist": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "The video ids to check",
            "in": "query",
            "items": {
              "type": "integer"
            },
            "name": "videoIds",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "videoId": {
                  "items": {
                    "properties": {
                      "playlistElementId": {
                        "type": "integer"
                      },
                      "playlistId": {
                        "type": "integer"
                      },
                      "startTimestamp": {
                        "type": "integer"
                      },
                      "stopTimestamp": {
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Video Playlists"
        ],
        "summary": "Check video exists in my playlists"
      }
    },
    "/users/me/video-quota-used": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "number"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My User"
        ],
        "summary": "Get my user used quota"
      }
    },
    "/users/me/videos": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VideoListResponse"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "My User",
          "Videos"
        ],
        "summary": "Get videos of my user"
      }
    },
    "/users/me/videos/imports": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Offset used to paginate results",
            "in": "query",
            "minimum": 0,
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 15,
            "description": "Number of items to return",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "count",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sort column",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VideoImport"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "user"
            ]
          }
        ],
        "tags": [
          "Videos",
          "My User"
        ],
        "summary": "Get video imports of my user"
      }
    },
    "/users/me/videos/{videoId}/rating": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The video id ",
            "in": "path",
            "name": "videoId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GetMeVideoRating"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "My User",
          "Video Rates"
        ],
        "summary": "Get rate of my user for a video"
      }
    },
    "/users/register": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterUser"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Users"
        ],
        "summary": "Register a user"
      }
    },
    "/users/{id}": {
      "parameters": [
        {
          "description": "The user id",
          "in": "path",
          "minimum": 0,
          "name": "id",
          "required": true,
          "type": "integer"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "OAuth2": [
              "admin"
            ]
          }
        ],
        "tags": [
          "Users"
        ],
        "operationId": "delUserId",
        "summary": "Delete a user"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
[...]
