{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon QuickSight API Reference</fullname> <p>Amazon QuickSight is a fully managed, serverless business intelligence service for the AWS Cloud that makes it easy to extend data and insights to every user in your organization. This API reference contains documentation for a programming interface that you can use to manage Amazon QuickSight. </p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon QuickSight",
    "version": "2018-04-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/quicksight-2018-04-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "quicksight",
    "x-datafire": {
      "name": "amazonaws_quicksight",
      "type": "openapi"
    }
  },
  "host": "quicksight.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/accounts/{AwsAccountId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID for the AWS account that you want to create the QuickSight namespace in.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "IdentityStore": {
                  "description": "Specifies the type of your user identity directory. Currently, this supports users with an identity type of <code>QUICKSIGHT</code>.",
                  "enum": [
                    "QUICKSIGHT"
                  ],
                  "type": "string"
                },
                "Namespace": {
                  "description": "The name that you want to use to describe the new namespace.",
                  "maxLength": 64,
                  "pattern": "^[a-zA-Z0-9._-]*$",
                  "type": "string"
                },
                "Tags": {
                  "description": "The tags that you want to associate with the namespace that you're creating.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 200,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "Namespace",
                "IdentityStore"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateNamespaceResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "ResourceExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceExistsException"
            }
          },
          "486": {
            "description": "PreconditionNotMetException",
            "schema": {
              "$ref": "#/definitions/PreconditionNotMetException"
            }
          },
          "487": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "488": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "489": {
            "description": "ResourceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ResourceUnavailableException"
            }
          }
        },
        "description": "<p>(Enterprise edition only) Creates a new namespace for you to use with Amazon QuickSight.</p> <p>A namespace allows you to isolate the QuickSight users and groups that are registered for that namespace. Users that access the namespace can share assets only with other users or groups in the same namespace. They can't see users and groups in other namespaces. You can create a namespace after your AWS account is subscribed to QuickSight. The namespace must be unique within the AWS account. By default, there is a limit of 100 namespaces per AWS account. To increase your limit, create a ticket with AWS Support. </p>",
        "operationId": "CreateNamespace"
      }
    },
    "/accounts/{AwsAccountId}/analyses": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the analyses.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "A pagination token that can be used in a subsequent request.",
            "in": "query",
            "name": "next-token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to return.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max-results",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAnalysesResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          },
          "482": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Lists Amazon QuickSight analyses that exist in the specified AWS account.",
        "operationId": "ListAnalyses"
      }
    },
    "/accounts/{AwsAccountId}/analyses/{AnalysisId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account where you want to delete an analysis.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the analysis that you're deleting.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "AnalysisId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "A value that specifies the number of days that QuickSight waits before it deletes the analysis. You can't use this parameter with the <code>ForceDeleteWithoutRecovery</code> option in the same API call. The default value is 30.",
            "in": "query",
            "maximum": 30,
            "minimum": 7,
            "name": "recovery-window-in-days",
            "required": false,
            "type": "integer"
          },
          {
            "description": "This option defaults to the value <code>NoForceDeleteWithoutRecovery</code>. To immediately delete the analysis, add the <code>ForceDeleteWithoutRecovery</code> option. You can't restore an analysis after it's deleted. ",
            "in": "query",
            "name": "force-delete-without-recovery",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteAnalysisResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "<p>Deletes an analysis from Amazon QuickSight. You can optionally include a recovery window during which you can restore the analysis. If you don't specify a recovery window value, the operation defaults to 30 days. QuickSight attaches a <code>DeletionTime</code> stamp to the response that specifies the end of the recovery window. At the end of the recovery window, QuickSight deletes the analysis permanently.</p> <p>At any time before recovery window ends, you can use the <code>RestoreAnalysis</code> API operation to remove the <code>DeletionTime</code> stamp and cancel the deletion of the analysis. The analysis remains visible in the API until it's deleted, so you can describe it but you can't make a template from it.</p> <p>An analysis that's scheduled for deletion isn't accessible in the QuickSight console. To access it in the console, restore it. Deleting an analysis doesn't delete the dashboards that you publish from it.</p>",
        "operationId": "DeleteAnalysis"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the analysis. You must be using the AWS account that the analysis is in.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the analysis that you're describing. The ID is part of the URL of the analysis.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "AnalysisId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAnalysisResponse"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Provides a summary of the metadata for an analysis.",
        "operationId": "DescribeAnalysis"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account where you are creating an analysis.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the analysis that you're creating. This ID displays in the URL of the analysis.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "AnalysisId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Name": {
                  "description": "A descriptive name for the analysis that you're creating. This name displays for the analysis in the QuickSight console. ",
                  "maxLength": 2048,
                  "minLength": 1,
                  "pattern": "[\\u0020-\\u00FF]+",
                  "type": "string"
                },
                "Parameters": {
                  "description": "A list of QuickSight parameters and the list's override values.",
                  "properties": {
                    "DateTimeParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateTimeParameterList"
                        },
                        {
                          "description": "Date-time parameters."
                        }
                      ]
                    },
                    "DecimalParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DecimalParameterList"
                        },
                        {
                          "description": "Decimal parameters."
                        }
                      ]
                    },
                    "IntegerParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerParameterList"
                        },
                        {
                          "description": "Integer parameters."
                        }
                      ]
                    },
                    "StringParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringParameterList"
                        },
                        {
                          "description": "String parameters."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Permissions": {
                  "description": "<p>A structure that describes the principals and the resource-level permissions on an analysis. You can use the <code>Permissions</code> structure to grant permissions by providing a list of AWS Identity and Access Management (IAM) action information for each principal listed by Amazon Resource Name (ARN). </p> <p>To specify no permissions, omit <code>Permissions</code>.</p>",
                  "items": {
                    "$ref": "#/definitions/ResourcePermission"
                  },
                  "maxItems": 64,
                  "minItems": 1,
                  "type": "array"
                },
                "SourceEntity": {
                  "description": "The source entity of an analysis.",
                  "properties": {
                    "SourceTemplate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AnalysisSourceTemplate"
                        },
                        {
                          "description": "The source template for the source entity of the analysis."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Tags": {
                  "description": "Contains a map of the key-value pairs for the resource tag or tags assigned to the analysis.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 200,
                  "minItems": 1,
                  "type": "array"
                },
                "ThemeArn": {
                  "description": "The ARN for the theme to apply to the analysis that you're creating. To see the theme in the QuickSight console, make sure that you have access to it.",
                  "type": "string"
                }
              },
              "required": [
                "Name",
                "SourceEntity"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAnalysisResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "ResourceExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceExistsException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "486": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Creates an analysis in Amazon QuickSight.",
        "operationId": "CreateAnalysis"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the analysis that you're updating.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the analysis that you're updating. This ID displays in the URL of the analysis.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "AnalysisId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "Name": {
                  "description": "A descriptive name for the analysis that you're updating. This name displays for the analysis in the QuickSight console.",
                  "maxLength": 2048,
                  "minLength": 1,
                  "pattern": "[\\u0020-\\u00FF]+",
                  "type": "string"
                },
                "Parameters": {
                  "description": "A list of QuickSight parameters and the list's override values.",
                  "properties": {
                    "DateTimeParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateTimeParameterList"
                        },
                        {
                          "description": "Date-time parameters."
                        }
                      ]
                    },
                    "DecimalParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DecimalParameterList"
                        },
                        {
                          "description": "Decimal parameters."
                        }
                      ]
                    },
                    "IntegerParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerParameterList"
                        },
                        {
                          "description": "Integer parameters."
                        }
                      ]
                    },
                    "StringParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringParameterList"
                        },
                        {
                          "description": "String parameters."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "SourceEntity": {
                  "description": "The source entity of an analysis.",
                  "properties": {
                    "SourceTemplate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AnalysisSourceTemplate"
                        },
                        {
                          "description": "The source template for the source entity of the analysis."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "ThemeArn": {
                  "description": "The Amazon Resource Name (ARN) for the theme to apply to the analysis that you're creating. To see the theme in the QuickSight console, make sure that you have access to it.",
                  "type": "string"
                }
              },
              "required": [
                "Name",
                "SourceEntity"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAnalysisResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "ResourceExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceExistsException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "486": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Updates an analysis in Amazon QuickSight",
        "operationId": "UpdateAnalysis"
      }
    },
    "/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the analysis whose permissions you're describing. You must be using the AWS account that the analysis is in.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the analysis whose permissions you're describing. The ID is part of the analysis URL.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "AnalysisId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAnalysisPermissionsResponse"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Provides the read and write permissions for an analysis.",
        "operationId": "DescribeAnalysisPermissions"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the analysis whose permissions you're updating. You must be using the AWS account that the analysis is in.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the analysis whose permissions you're updating. The ID is part of the analysis URL.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "AnalysisId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "GrantPermissions": {
                  "description": "A structure that describes the permissions to add and the principal to add them to.",
                  "items": {
                    "$ref": "#/definitions/ResourcePermission"
                  },
                  "maxItems": 100,
                  "type": "array"
                },
                "RevokePermissions": {
                  "description": "A structure that describes the permissions to remove and the principal to remove them from.",
                  "items": {
                    "$ref": "#/definitions/ResourcePermission"
                  },
                  "maxItems": 100,
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAnalysisPermissionsResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Updates the read and write permissions for an analysis.",
        "operationId": "UpdateAnalysisPermissions"
      }
    },
    "/accounts/{AwsAccountId}/customizations": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID for the AWS account that you want to delete QuickSight customizations from in this AWS Region.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The QuickSight namespace that you're deleting the customizations from.",
            "in": "query",
            "maxLength": 64,
            "name": "namespace",
            "pattern": "^[a-zA-Z0-9._-]*$",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteAccountCustomizationResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "485": {
            "description": "ResourceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ResourceUnavailableException"
            }
          }
        },
        "description": "Deletes all Amazon QuickSight customizations in this AWS Region for the specified AWS account and QuickSight namespace.",
        "operationId": "DeleteAccountCustomization"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID for the AWS account that you want to describe QuickSight customizations for.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The QuickSight namespace that you want to describe QuickSight customizations for.",
            "in": "query",
            "maxLength": 64,
            "name": "namespace",
            "pattern": "^[a-zA-Z0-9._-]*$",
            "required": false,
            "type": "string"
          },
          {
            "description": "The <code>Resolved</code> flag works with the other parameters to determine which view of QuickSight customizations is returned. You can add this flag to your command to use the same view that QuickSight uses to identify which customizations to apply to the console. Omit this flag, or set it to <code>no-resolved</code>, to reveal customizations that are configured at different levels. ",
            "in": "query",
            "name": "resolved",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAccountCustomizationResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "485": {
            "description": "ResourceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ResourceUnavailableException"
            }
          }
        },
        "description": "<p>Describes the customizations associated with the provided AWS account and Amazon QuickSight namespace in an AWS Region. The QuickSight console evaluates which customizations to apply by running this API operation with the <code>Resolved</code> flag included. </p> <p>To determine what customizations display when you run this command, it can help to visualize the relationship of the entities involved. </p> <ul> <li> <p> <code>AWS Account</code> - The AWS account exists at the top of the hierarchy. It has the potential to use all of the AWS Regions and AWS Services. When you subscribe to QuickSight, you choose one AWS Region to use as your home Region. That's where your free SPICE capacity is located. You can use QuickSight in any supported AWS Region. </p> </li> <li> <p> <code>AWS Region</code> - In each AWS Region where you sign in to QuickSight at least once, QuickSight acts as a separate instance of the same service. If you have a user directory, it resides in us-east-1, which is the US East (N. Virginia). Generally speaking, these users have access to QuickSight in any AWS Region, unless they are constrained to a namespace. </p> <p>To run the command in a different AWS Region, you change your Region settings. If you're using the AWS CLI, you can use one of the following options:</p> <ul> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-options.html\">command line options</a>. </p> </li> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html\">named profiles</a>. </p> </li> <li> <p>Run <code>aws configure</code> to change your default AWS Region. Use Enter to key the same settings for your keys. For more information, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html\">Configuring the AWS CLI</a>.</p> </li> </ul> </li> <li> <p> <code>Namespace</code> - A QuickSight namespace is a partition that contains users and assets (data sources, datasets, dashboards, and so on). To access assets that are in a specific namespace, users and groups must also be part of the same namespace. People who share a namespace are completely isolated from users and assets in other namespaces, even if they are in the same AWS account and AWS Region.</p> </li> <li> <p> <code>Applied customizations</code> - Within an AWS Region, a set of QuickSight customizations can apply to an AWS account or to a namespace. Settings that you apply to a namespace override settings that you apply to an AWS account. All settings are isolated to a single AWS Region. To apply them in other AWS Regions, run the <code>CreateAccountCustomization</code> command in each AWS Region where you want to apply the same customizations. </p> </li> </ul>",
        "operationId": "DescribeAccountCustomization"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID for the AWS account that you want to customize QuickSight for.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The QuickSight namespace that you want to add customizations to.",
            "in": "query",
            "maxLength": 64,
            "name": "namespace",
            "pattern": "^[a-zA-Z0-9._-]*$",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AccountCustomization": {
                  "description": "The Amazon QuickSight customizations associated with your AWS account or a QuickSight namespace in a specific AWS Region.",
                  "properties": {
                    "DefaultTheme": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Arn"
                        },
                        {
                          "description": "The default theme for this QuickSight subscription."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Tags": {
                  "description": "A list of the tags that you want to attach to this resource.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 200,
                  "minItems": 1,
                  "type": "array"
                }
              },
              "required": [
                "AccountCustomization"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAccountCustomizationResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceExistsException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "486": {
            "description": "ResourceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ResourceUnavailableException"
            }
          }
        },
        "description": "<p>Creates Amazon QuickSight customizations the current AWS Region. Currently, you can add a custom default theme by using the <code>CreateAccountCustomization</code> or <code>UpdateAccountCustomization</code> API operation. To further customize QuickSight by removing QuickSight sample assets and videos for all new users, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-quicksight.html\">Customizing QuickSight</a> in the <i>Amazon QuickSight User Guide.</i> </p> <p>You can create customizations for your AWS account or, if you specify a namespace, for a QuickSight namespace instead. Customizations that apply to a namespace always override customizations that apply to an AWS account. To find out which customizations apply, use the <code>DescribeAccountCustomization</code> API operation.</p> <p>Before you use the <code>CreateAccountCustomization</code> API operation to add a theme as the namespace default, make sure that you first share the theme with the namespace. If you don't share it with the namespace, the theme isn't visible to your users even if you make it the default theme. To check if the theme is shared, view the current permissions by using the <code> <a>DescribeThemePermissions</a> </code> API operation. To share the theme, grant permissions by using the <code> <a>UpdateThemePermissions</a> </code> API operation. </p>",
        "operationId": "CreateAccountCustomization"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID for the AWS account that you want to update QuickSight customizations for.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The namespace that you want to update QuickSight customizations for.",
            "in": "query",
            "maxLength": 64,
            "name": "namespace",
            "pattern": "^[a-zA-Z0-9._-]*$",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "AccountCustomization": {
                  "description": "The Amazon QuickSight customizations associated with your AWS account or a QuickSight namespace in a specific AWS Region.",
                  "properties": {
                    "DefaultTheme": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/Arn"
                        },
                        {
                          "description": "The default theme for this QuickSight subscription."
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "required": [
                "AccountCustomization"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAccountCustomizationResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "485": {
            "description": "ResourceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ResourceUnavailableException"
            }
          }
        },
        "description": "<p>Updates Amazon QuickSight customizations the current AWS Region. Currently, the only customization you can use is a theme.</p> <p>You can use customizations for your AWS account or, if you specify a namespace, for a QuickSight namespace instead. Customizations that apply to a namespace override customizations that apply to an AWS account. To find out which customizations apply, use the <code>DescribeAccountCustomization</code> API operation. </p>",
        "operationId": "UpdateAccountCustomization"
      }
    },
    "/accounts/{AwsAccountId}/dashboards": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the dashboards that you're listing.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The token for the next set of results, or null if there are no more results.",
            "in": "query",
            "name": "next-token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to be returned per request.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max-results",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDashboardsResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "InvalidNextTokenException",
            "schema": {
              "$ref": "#/definitions/InvalidNextTokenException"
            }
          },
          "482": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Lists dashboards in an AWS account.",
        "operationId": "ListDashboards"
      }
    },
    "/accounts/{AwsAccountId}/dashboards/{DashboardId}": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the dashboard that you're deleting.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the dashboard.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "DashboardId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version number of the dashboard. If the version number property is provided, only the specified version of the dashboard is deleted.",
            "in": "query",
            "minimum": 1,
            "name": "version-number",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDashboardResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Deletes a dashboard.",
        "operationId": "DeleteDashboard"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the dashboard that you're describing.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the dashboard.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "DashboardId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version number for the dashboard. If a version number isn't passed, the latest published dashboard version is described. ",
            "in": "query",
            "minimum": 1,
            "name": "version-number",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The alias name.",
            "in": "query",
            "maxLength": 2048,
            "minLength": 1,
            "name": "alias-name",
            "pattern": "[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDashboardResponse"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Provides a summary for a dashboard.",
        "operationId": "DescribeDashboard"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account where you want to create the dashboard.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the dashboard, also added to the IAM policy.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "DashboardId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DashboardPublishOptions": {
                  "description": "Dashboard publish options.",
                  "properties": {
                    "AdHocFilteringOption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdHocFilteringOption"
                        },
                        {
                          "description": "Ad hoc (one-time) filtering option."
                        }
                      ]
                    },
                    "ExportToCSVOption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ExportToCSVOption"
                        },
                        {
                          "description": "Export to .csv option."
                        }
                      ]
                    },
                    "SheetControlsOption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SheetControlsOption"
                        },
                        {
                          "description": "Sheet controls option."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Name": {
                  "description": "The display name of the dashboard.",
                  "maxLength": 2048,
                  "minLength": 1,
                  "pattern": "[\\u0020-\\u00FF]+",
                  "type": "string"
                },
                "Parameters": {
                  "description": "A list of QuickSight parameters and the list's override values.",
                  "properties": {
                    "DateTimeParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateTimeParameterList"
                        },
                        {
                          "description": "Date-time parameters."
                        }
                      ]
                    },
                    "DecimalParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DecimalParameterList"
                        },
                        {
                          "description": "Decimal parameters."
                        }
                      ]
                    },
                    "IntegerParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerParameterList"
                        },
                        {
                          "description": "Integer parameters."
                        }
                      ]
                    },
                    "StringParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringParameterList"
                        },
                        {
                          "description": "String parameters."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Permissions": {
                  "description": "<p>A structure that contains the permissions of the dashboard. You can use this structure for granting permissions by providing a list of IAM action information for each principal ARN. </p> <p>To specify no permissions, omit the permissions list.</p>",
                  "items": {
                    "$ref": "#/definitions/ResourcePermission"
                  },
                  "maxItems": 64,
                  "minItems": 1,
                  "type": "array"
                },
                "SourceEntity": {
                  "description": "Dashboard source entity.",
                  "properties": {
                    "SourceTemplate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DashboardSourceTemplate"
                        },
                        {
                          "description": "Source template."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Tags": {
                  "description": "Contains a map of the key-value pairs for the resource tag or tags assigned to the dashboard.",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  },
                  "maxItems": 200,
                  "minItems": 1,
                  "type": "array"
                },
                "ThemeArn": {
                  "description": "The Amazon Resource Name (ARN) of the theme that is being used for this dashboard. If you add a value for this field, it overrides the value that is used in the source entity. The theme ARN must exist in the same AWS account where you create the dashboard.",
                  "type": "string"
                },
                "VersionDescription": {
                  "description": "A description for the first version of the dashboard being created.",
                  "maxLength": 512,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "Name",
                "SourceEntity"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDashboardResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "ResourceExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceExistsException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "486": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "<p>Creates a dashboard from a template. To first create a template, see the <code> <a>CreateTemplate</a> </code> API operation.</p> <p>A dashboard is an entity in QuickSight that identifies QuickSight reports, created from analyses. You can share QuickSight dashboards. With the right permissions, you can create scheduled email reports from them. If you have the correct permissions, you can create a dashboard from a template that exists in a different AWS account.</p>",
        "operationId": "CreateDashboard"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the dashboard that you're updating.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the dashboard.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "DashboardId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "DashboardPublishOptions": {
                  "description": "Dashboard publish options.",
                  "properties": {
                    "AdHocFilteringOption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/AdHocFilteringOption"
                        },
                        {
                          "description": "Ad hoc (one-time) filtering option."
                        }
                      ]
                    },
                    "ExportToCSVOption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/ExportToCSVOption"
                        },
                        {
                          "description": "Export to .csv option."
                        }
                      ]
                    },
                    "SheetControlsOption": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/SheetControlsOption"
                        },
                        {
                          "description": "Sheet controls option."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "Name": {
                  "description": "The display name of the dashboard.",
                  "maxLength": 2048,
                  "minLength": 1,
                  "pattern": "[\\u0020-\\u00FF]+",
                  "type": "string"
                },
                "Parameters": {
                  "description": "A list of QuickSight parameters and the list's override values.",
                  "properties": {
                    "DateTimeParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DateTimeParameterList"
                        },
                        {
                          "description": "Date-time parameters."
                        }
                      ]
                    },
                    "DecimalParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DecimalParameterList"
                        },
                        {
                          "description": "Decimal parameters."
                        }
                      ]
                    },
                    "IntegerParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/IntegerParameterList"
                        },
                        {
                          "description": "Integer parameters."
                        }
                      ]
                    },
                    "StringParameters": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/StringParameterList"
                        },
                        {
                          "description": "String parameters."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "SourceEntity": {
                  "description": "Dashboard source entity.",
                  "properties": {
                    "SourceTemplate": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/DashboardSourceTemplate"
                        },
                        {
                          "description": "Source template."
                        }
                      ]
                    }
                  },
                  "type": "object"
                },
                "ThemeArn": {
                  "description": "The Amazon Resource Name (ARN) of the theme that is being used for this dashboard. If you add a value for this field, it overrides the value that was originally associated with the entity. The theme ARN must exist in the same AWS account where you create the dashboard.",
                  "type": "string"
                },
                "VersionDescription": {
                  "description": "A description for the first version of the dashboard being created.",
                  "maxLength": 512,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "Name",
                "SourceEntity"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDashboardResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "486": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Updates a dashboard in an AWS account.",
        "operationId": "UpdateDashboard"
      }
    },
    "/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url#creds-type": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID for the AWS account that contains the dashboard that you're embedding.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the dashboard, also added to the AWS Identity and Access Management (IAM) policy.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "DashboardId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "The authentication method that the user uses to sign in.",
            "enum": [
              "IAM",
              "QUICKSIGHT",
              "ANONYMOUS"
            ],
            "in": "query",
            "name": "creds-type",
            "required": true,
            "type": "string"
          },
          {
            "description": "How many minutes the session is valid. The session lifetime must be 15-600 minutes.",
            "in": "query",
            "maximum": 600,
            "minimum": 15,
            "name": "session-lifetime",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Remove the undo/redo button on the embedded dashboard. The default is FALSE, which enables the undo/redo button.",
            "in": "query",
            "name": "undo-redo-disabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Remove the reset button on the embedded dashboard. The default is FALSE, which enables the reset button.",
            "in": "query",
            "name": "reset-disabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Adds persistence of state for the user session in an embedded dashboard. Persistence applies to the sheet and the parameter settings. These are control settings that the dashboard subscriber (QuickSight reader) chooses while viewing the dashboard. If this is set to <code>TRUE</code>, the settings are the same when the subscriber reopens the same dashboard URL. The state is stored in QuickSight, not in a browser cookie. If this is set to FALSE, the state of the user session is not persisted. The default is <code>FALSE</code>.",
            "in": "query",
            "name": "state-persistence-enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "<p>The Amazon QuickSight user's Amazon Resource Name (ARN), for use with <code>QUICKSIGHT</code> identity type. You can use this for any Amazon QuickSight users in your account (readers, authors, or admins) authenticated as one of the following:</p> <ul> <li> <p>Active Directory (AD) users or group members</p> </li> <li> <p>Invited nonfederated users</p> </li> <li> <p>IAM users and IAM role-based sessions authenticated through Federated Single Sign-On using SAML, OpenID Connect, or IAM federation.</p> </li> </ul> <p>Omit this parameter for users in the third group – IAM users and IAM role-based sessions.</p>",
            "in": "query",
            "name": "user-arn",
            "required": false,
            "type": "string"
          },
          {
            "description": "The QuickSight namespace that contains the dashboard IDs in this request. If you're not using a custom namespace, set this to \"<code>default</code>\".",
            "in": "query",
            "maxLength": 64,
            "name": "namespace",
            "pattern": "^[a-zA-Z0-9._-]*$",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of one or more dashboard IDs that you want to add to a session that includes anonymous users. The <code>IdentityType</code> parameter must be set to <code>ANONYMOUS</code> for this to work, because other identity types authenticate as QuickSight or IAM users. For example, if you set \"<code>--dashboard-id dash_id1 --dashboard-id dash_id2 dash_id3 identity-type ANONYMOUS</code>\", the session can access all three dashboards. ",
            "in": "query",
            "items": {
              "$ref": "#/definitions/RestrictiveResourceId"
            },
            "maxItems": 20,
            "minItems": 1,
            "name": "additional-dashboard-ids",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDashboardEmbedUrlResponse"
            }
          },
          "480": {
            "description": "AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/AccessDeniedException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceExistsException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "485": {
            "description": "DomainNotWhitelistedException",
            "schema": {
              "$ref": "#/definitions/DomainNotWhitelistedException"
            }
          },
          "486": {
            "description": "QuickSightUserNotFoundException",
            "schema": {
              "$ref": "#/definitions/QuickSightUserNotFoundException"
            }
          },
          "487": {
            "description": "IdentityTypeNotSupportedException",
            "schema": {
              "$ref": "#/definitions/IdentityTypeNotSupportedException"
            }
          },
          "488": {
            "description": "SessionLifetimeInMinutesInvalidException",
            "schema": {
              "$ref": "#/definitions/SessionLifetimeInMinutesInvalidException"
            }
          },
          "489": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "490": {
            "description": "UnsupportedPricingPlanException",
            "schema": {
              "$ref": "#/definitions/UnsupportedPricingPlanException"
            }
          },
          "491": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "<p>Generates a session URL and authorization code that you can use to embed an Amazon QuickSight read-only dashboard in your web server code. Before you use this command, make sure that you have configured the dashboards and permissions. </p> <p>Currently, you can use <code>GetDashboardEmbedURL</code> only from the server, not from the user's browser. The following rules apply to the combination of URL and authorization code:</p> <ul> <li> <p>They must be used together.</p> </li> <li> <p>They can be used one time only.</p> </li> <li> <p>They are valid for 5 minutes after you run this command.</p> </li> <li> <p>The resulting user session is valid for 10 hours.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedded Analytics</a> in the <i>Amazon QuickSight User Guide</i>.</p>",
        "operationId": "GetDashboardEmbedUrl"
      }
    },
    "/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the dashboard that you're describing permissions for.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the dashboard, also added to the IAM policy.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "DashboardId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDashboardPermissionsResponse"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "483": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "484": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Describes read and write permissions for a dashboard.",
        "operationId": "DescribeDashboardPermissions"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the dashboard whose permissions you're updating.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the dashboard.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "DashboardId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "GrantPermissions": {
                  "description": "The permissions that you want to grant on this resource.",
                  "items": {
                    "$ref": "#/definitions/ResourcePermission"
                  },
                  "maxItems": 100,
                  "type": "array"
                },
                "RevokePermissions": {
                  "description": "The permissions that you want to revoke from this resource.",
                  "items": {
                    "$ref": "#/definitions/ResourcePermission"
                  },
                  "maxItems": 100,
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDashboardPermissionsResponse"
            }
          },
          "480": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "UnsupportedUserEditionException",
            "schema": {
              "$ref": "#/definitions/UnsupportedUserEditionException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          }
        },
        "description": "Updates read and write permissions on a dashboard.",
        "operationId": "UpdateDashboardPermissions"
      }
    },
    "/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the AWS account that contains the dashboard that you're listing versions for.",
            "in": "path",
            "maxLength": 12,
            "minLength": 12,
            "name": "AwsAccountId",
            "pattern": "^[0-9]{12}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the dashboard.",
            "in": "path",
            "maxLength": 2048,
            "minLength": 1,
            "name": "DashboardId",
            "pattern": "[\\w\\-]+",
            "required": true,
            "type": "string"
          },
          {
            "description": "The token for the next set of results, or null if there are no more results.",
            "in": "query",
            "name": "next-token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The maximum number of results to be returned per request.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "max-results",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
[...]
