{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Vonage Business Cloud Support",
      "url": "https://businesssupport.vonage.com/contactus"
    },
    "description": "The Vonage Business Cloud User API enables you to retrieve information about users.\n\nYour application must subscribe to the Provisioning API suite to use this API.\n",
    "termsOfService": "https://www.vonage.com/business/legal-policy-center/business-cloud/tos",
    "title": "User API",
    "version": "1.11.8",
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/vonage-business-cloud/user.yml",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "vonage.com",
    "x-serviceName": "user",
    "x-datafire": {
      "name": "vonage_user",
      "type": "openapi"
    }
  },
  "host": "api.vonage.com",
  "basePath": "/t/vbc.prod/provisioning",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/accounts/{account_id}/users": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Vonage Business Cloud account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": 451496
          },
          {
            "description": "Number of records per page",
            "in": "query",
            "name": "page_size",
            "required": false,
            "type": "number",
            "x-example": 10
          },
          {
            "description": "Current page number",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number",
            "x-example": 10
          },
          {
            "description": "Filter by first name",
            "in": "query",
            "name": "first_name",
            "required": false,
            "type": "string",
            "x-example": "John"
          },
          {
            "description": "Filter by last name",
            "in": "query",
            "name": "last_name",
            "required": false,
            "type": "string",
            "x-example": "Smith"
          },
          {
            "description": "Filter by login name",
            "in": "query",
            "name": "login_name",
            "required": false,
            "type": "string",
            "x-example": "jsmith"
          },
          {
            "description": "Filter by email address",
            "in": "query",
            "name": "email",
            "required": false,
            "type": "string",
            "x-example": "john.smith@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UsersHalResponse"
            }
          },
          "400": {
            "description": "Invalid parameters given",
            "schema": {
              "$ref": "#/definitions/ValidationErrorsResponse"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "UserCtrl.getUsers",
        "summary": "Get account users data by account ID"
      }
    },
    "/api/accounts/{account_id}/users/{user_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Vonage Business Cloud account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": 451496
          },
          {
            "description": "The Vonage Business Cloud user ID",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserHalResponse"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "UserCtrl.getUserByID",
        "summary": "Get user data by account ID and user ID"
      }
    }
  },
  "definitions": {
    "Contact": {
      "properties": {
        "type": {
          "description": "Contact type",
          "example": "Home",
          "type": "string"
        },
        "value": {
          "description": "Contact value",
          "example": "14155550100",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DID": {
      "properties": {
        "custom_tag": {
          "description": "Custom tag associated with the phone number",
          "example": "My Tag",
          "type": "string"
        },
        "phone_number": {
          "description": "Phone number",
          "example": "14155550100",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DetailedInvalidParam": {
      "properties": {
        "name": {
          "description": "Invalid property name",
          "type": "string"
        },
        "reason": {
          "description": "Invalid property reason",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ErrorResponse": {
      "properties": {
        "msg": {
          "description": "Error message",
          "type": "string"
        },
        "status": {
          "description": "Http Response Code",
          "type": "number"
        }
      },
      "type": "object"
    },
    "FirstHref": {
      "description": "URL to the first page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LastHref": {
      "description": "URL to the last page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Links": {
      "properties": {
        "first": {
          "$ref": "#/definitions/FirstHref"
        },
        "next": {
          "$ref": "#/definitions/NextHref"
        },
        "prev": {
          "$ref": "#/definitions/PrevHref"
        },
        "self": {
          "$ref": "#/definitions/SelfHref"
        }
      },
      "type": "object"
    },
    "NextHref": {
      "description": "URL to the next page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PrevHref": {
      "description": "URL to the previous page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SelfHref": {
      "description": "URL to the current page of records",
      "properties": {
        "href": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "contact_numbers": {
          "description": "Collection of contact objects",
          "items": {
            "$ref": "#/definitions/Contact"
          },
          "type": "array"
        },
        "email": {
          "description": "Email address of the user",
          "example": "john.smith@example.com",
          "type": "string"
        },
        "extensions": {
          "description": "Collection of extension objects",
          "items": {
            "$ref": "#/definitions/UserExtension"
          },
          "type": "array"
        },
        "first_name": {
          "description": "First name of the user",
          "example": "John",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier of the user",
          "example": 869048,
          "type": "number"
        },
        "last_name": {
          "description": "Last name of the user",
          "example": "Smith",
          "type": "string"
        },
        "login_name": {
          "description": "Login name of the user",
          "example": "jsmith",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserEmbeddedObject": {
      "properties": {
        "data": {
          "$ref": "#/definitions/User"
        }
      },
      "type": "object"
    },
    "UserExtension": {
      "properties": {
        "dids": {
          "description": "Collection of phone numbers assigned to the extension",
          "items": {
            "$ref": "#/definitions/DID"
          },
          "type": "array"
        },
        "extension_number": {
          "description": "Extension number",
          "example": "789",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserHalResponse": {
      "properties": {
        "_embedded": {
          "$ref": "#/definitions/UserEmbeddedObject"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        },
        "page": {
          "description": "Current page number",
          "example": 1,
          "type": "number"
        },
        "page_size": {
          "description": "Number of records per page",
          "example": 10,
          "type": "number"
        },
        "total_items": {
          "description": "Total number of records",
          "example": 100,
          "type": "number"
        },
        "total_pages": {
          "description": "Total number of pages",
          "example": 10,
          "type": "number"
        }
      },
      "type": "object"
    },
    "UsersEmbeddedObject": {
      "properties": {
        "data": {
          "items": {
            "$ref": "#/definitions/User"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "UsersHalResponse": {
      "properties": {
        "_embedded": {
          "$ref": "#/definitions/UsersEmbeddedObject"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        },
        "page": {
          "description": "Current page number",
          "example": 1,
          "type": "number"
        },
        "page_size": {
          "description": "Number of records per page",
          "example": 10,
          "type": "number"
        },
        "total_items": {
          "description": "Total number of records",
          "example": 100,
          "type": "number"
        },
        "total_pages": {
          "description": "Total number of pages",
          "example": 10,
          "type": "number"
        }
      },
      "type": "object"
    },
    "ValidationErrorsResponse": {
      "properties": {
        "instance": {
          "description": "Error Track ID",
          "type": "string"
        },
        "invalid_parameters": {
          "description": "Invalid parameters and their reason for failing",
          "items": {
            "$ref": "#/definitions/DetailedInvalidParam"
          },
          "type": "array"
        },
        "status": {
          "description": "Error status code",
          "type": "number"
        },
        "title": {
          "description": "Error title",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "bearerAuth": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "x-components": {
    "parameters": {
      "AccountID": {
        "description": "The Vonage Business Cloud account ID",
        "in": "path",
        "name": "account_id",
        "required": true,
        "type": "string",
        "x-example": 451496
      }
    }
  }
}