{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "IDDDBCLS@Victoria1.gov.bc.ca",
      "name": "DataBC",
      "url": "http://data.gov.bc.ca/"
    },
    "description": "The Geomark Web Service allows you to create and share geographic areas of interest over the web in a variety of formats and coordinate systems. This service is especially helpful when you need to share an area of interest with people who require that the data be in a different format, or they use different mapping software. \n\nPlease note that you may experience issues when submitting requests to the delivery or test environment if using this [OpenAPI specification](https://github.com/bcgov/api-specs) in other API console viewers.",
    "license": {
      "name": "Open Government License - British Columbia",
      "url": "https://www2.gov.bc.ca/gov/content?id=A519A56BC2BF44E4A008B33FCF527F61"
    },
    "termsOfService": "https://www2.gov.bc.ca/gov/content?id=D1EE0A405E584363B205CD4353E02C88",
    "title": "GeoMark Web Service",
    "version": "4.1.2",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.6.2"
        },
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/bcgov/api-specs/master/geomark/geomark.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "gov.bc.ca",
    "x-serviceName": "geomark",
    "x-datafire": {
      "name": "gov_bc_ca_geomark",
      "type": "openapi"
    }
  },
  "host": "apps.gov.bc.ca",
  "basePath": "/pub/geomark",
  "schemes": [
    "https"
  ],
  "paths": {
    "/geomarks/copy": {
      "post": {
        "parameters": [
          {
            "description": "One or more geomark URLs or identifiers to create the new geomark from.",
            "example": "https://apps.gov.bc.ca/pub/geomark/geomarks/gm-abcdefghijklmnopqrstuv0bcislands",
            "in": "query",
            "name": "geomarkUrl",
            "required": true,
            "type": "string"
          },
          {
            "description": "The file format the geomark info resource should be returned using.",
            "enum": [
              "json",
              "xml",
              "kml",
              "kmz",
              "shp",
              "shpz",
              "geojson",
              "gml",
              "wkt"
            ],
            "example": "json",
            "in": "query",
            "name": "resultFormat",
            "required": false,
            "type": "string"
          },
          {
            "description": "Select this option to allow overlapping geometries",
            "enum": [
              false,
              true
            ],
            "in": "query",
            "name": "allowOverlap",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The callback function a JSON result format would be wrapped in to support Ajax requests.",
            "in": "query",
            "name": "callback",
            "required": false,
            "type": "string"
          },
          {
            "description": "The optional external URL to redirect the user to when the geomark is created rather than showing the geomark info page. The geomarkId and geomarkUrl query string parameters will be added to the redirectUrl so that the target application gets a reference to the geomark.",
            "in": "query",
            "name": "redirectUrl",
            "required": false,
            "type": "string"
          },
          {
            "description": "The url to redirect if the geomark could not be created. The URL will include a <fieldName>_Error parameter with the error message for the field that caused the error.",
            "in": "query",
            "name": "failureRedirectUrl",
            "required": false,
            "type": "string"
          },
          {
            "description": "The amount to buffer the geometry in metres, must only contain numerical digits (e.g 10). Leave blank and no buffer will be added to input geometries. If blank then any Point, LineString, MultiPoint and MultiLineString geometries will be ignored.",
            "in": "query",
            "name": "bufferMetres",
            "required": false,
            "type": "integer"
          },
          {
            "default": "ROUND",
            "description": "If bufferMetres is specified, The style of buffer to use for joins between the line segments for lines and polygons.",
            "enum": [
              "ROUND",
              "MITRE",
              "BEVEL"
            ],
            "in": "query",
            "name": "bufferJoin",
            "required": false,
            "type": "string"
          },
          {
            "default": "ROUND",
            "description": "If bufferMetres is specified, The style of buffer to use at the ends of a buffered line.",
            "enum": [
              "ROUND",
              "SQUARE",
              "FLAT"
            ],
            "in": "query",
            "name": "bufferCap",
            "required": false,
            "type": "string"
          },
          {
            "default": 5,
            "description": "If bufferMetres is specified, the maximum ratio of distance from the original geometry to a mitre buffer point and the buffer amount. If the ratio is greater than this a bevel will be used instead. This prevents infinite distances when the angle between the two lines at a join is small. Must be > 0.",
            "in": "query",
            "name": "bufferMitreLimit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 8,
            "description": "If bufferMetres is specified, the number of line segments used in each quadrant to approximate the curve for round end-cap and join styles. Must be > 0.",
            "in": "query",
            "name": "bufferSegments",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "400": {
            "description": "Couldn't create geomark."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "create"
        ],
        "description": "The source geomarks can be specified by with the geomarkUrl parameter.  Repeat the parameter if sourcing from multiple geomarks",
        "summary": "Create a new geomark by copying the geometries from one or more existing geomarks from the current server."
      }
    },
    "/geomarks/new": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "default": false,
            "description": "When multiple=true select this option to allow overlapping geometries",
            "enum": [
              false,
              true
            ],
            "in": "formData",
            "name": "allowOverlap",
            "type": "boolean"
          },
          {
            "description": "The binary or character content representing the geometry or geometries",
            "in": "formData",
            "name": "body",
            "type": "string"
          },
          {
            "default": "ROUND",
            "description": "If bufferMetres is specified, The style of buffer to use at the ends of a buffered line.",
            "enum": [
              "ROUND",
              "SQUARE",
              "FLAT"
            ],
            "in": "formData",
            "name": "bufferCap",
            "type": "string"
          },
          {
            "default": "ROUND",
            "description": "If bufferMetres is specified, The style of buffer to use for joins between the line segments for lines and polygons.",
            "enum": [
              "ROUND",
              "MITRE",
              "BEVEL"
            ],
            "in": "formData",
            "name": "bufferJoin",
            "type": "string"
          },
          {
            "description": "The amount to buffer the geometry in metres, must only contain numerical digits (e.g 10). Leave blank and no buffer will be added to input geometries. If blank then any Point, LineString, MultiPoint and MultiLineString geometries will be ignored.",
            "in": "formData",
            "name": "bufferMetres",
            "type": "integer"
          },
          {
            "default": 5,
            "description": "If bufferMetres is specified, the maximum ratio of distance from the original geometry to a mitre buffer point and the buffer amount. If the ratio is greater than this a bevel will be used instead. This prevents infinite distances when the angle between the two lines at a join is small. Must be > 0.",
            "in": "formData",
            "name": "bufferMitreLimit",
            "type": "integer"
          },
          {
            "default": 8,
            "description": "If bufferMetres is specified, the number of line segments used in each quadrant to approximate the curve for round end-cap and join styles. Must be > 0.",
            "in": "formData",
            "name": "bufferSegments",
            "type": "integer"
          },
          {
            "description": "The callback function a JSON result format would be wrapped in to support Ajax requests.",
            "in": "formData",
            "name": "callback",
            "type": "string"
          },
          {
            "description": "The url to redirect if the geomark could not be created. The URL will include a <fieldName>_Error parameter with the error message for the field that caused the error.",
            "in": "formData",
            "name": "failureRedirectUrl",
            "type": "string"
          },
          {
            "description": "The file format name extension of the input geometry.",
            "enum": [
              "json",
              "xml",
              "kml",
              "kmz",
              "shp",
              "shpz",
              "geojson",
              "gml",
              "wkt"
            ],
            "in": "formData",
            "name": "format",
            "type": "string"
          },
          {
            "default": false,
            "description": "Boolean flag indicating if multiple geometries are to be used for the geomark (true) or only a single geometry from the first geometry (false).",
            "enum": [
              false,
              true
            ],
            "in": "formData",
            "name": "multiple",
            "type": "boolean"
          },
          {
            "description": "The optional external URL to redirect the user to when the geomark is created rather than showing the geomark info page. The geomarkId and geomarkUrl query string parameters will be added to the redirectUrl so that the target application gets a reference to the geomark.",
            "in": "formData",
            "name": "redirectUrl",
            "type": "string"
          },
          {
            "description": "The file format the geomark info resource should be returned using.",
            "enum": [
              "json",
              "xml",
              "kml",
              "kmz",
              "shp",
              "shpz",
              "geojson",
              "gml",
              "wkt"
            ],
            "in": "formData",
            "name": "resultFormat",
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The srid of the coordinate system the input geometries are in. If the file includes a coordinate system definition that will be used.",
            "enum": [
              4326,
              3005,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "formData",
            "name": "srid",
            "type": "integer"
          }
        ],
        "responses": {
          "302": {
            "description": "If the geomark was created and a redirectUrl was specified then the response will redirect to the redirectUrl with the query string parameters geomarkId and geomarkUrl of the created geomark. If the geomark was created and a redirectUrl was NOT specified then the response will redirect to the geomark info resource of the created geomark. If resultFormat was specified then the redirect will be to the geomark info resource for that file format. If the resultFormat was 'json' and a callback was specified the the callback query string parameter will be added to the URL. If there was an error creating the geomark and a failureRedirectUrl was specified then the response will be redirected to the failureRedirectUrl with a <fieldName>_Error query string parameter with the error message. Otherwise one of the 400 status codes below will be returned."
          },
          "400": {
            "description": "Couldn't create geomark."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "create"
        ],
        "description": "Create a new geomark from the geometries read from the 'body' parameter or file.",
        "summary": "Create a new geomark"
      }
    },
    "/geomarks/{geomarkId}.{fileFormatExtension}": {
      "get": {
        "parameters": [
          {
            "description": "The unique identifier for the geomark.",
            "example": "gm-abcdefghijklmnopqrstuv0bcislands",
            "in": "path",
            "name": "geomarkId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The file format name extension used to represent the geomark download.",
            "enum": [
              "json",
              "xml",
              "kml",
              "kmz",
              "shp",
              "shpz",
              "geojson",
              "gml",
              "wkt"
            ],
            "example": "json",
            "in": "path",
            "name": "fileFormatExtension",
            "required": true,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The srid of the coordinate system the geometry should be converted to.",
            "enum": [
              4326,
              3005,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "srid",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The geomark will be returned in the body of the HTTP response encoded in the requested file format."
          },
          "400": {
            "description": "Coordinate system with srid = <srid> is not supported."
          },
          "404": {
            "description": "The geomark <geomarkId> could not be found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "info"
        ],
        "description": "The attribution can be downloaded as a info file format. The download files can then be processed by a client application to access the geomark info fields and to get the URLs to the geometry download resources.",
        "summary": "Get information about a particular geomark"
      }
    },
    "/geomarks/{geomarkId}/boundingBox.{fileFormatExtension}": {
      "get": {
        "parameters": [
          {
            "description": "The unique identifier for the geomark",
            "example": "gm-abcdefghijklmnopqrstuv0bcislands",
            "in": "path",
            "name": "geomarkId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The file format name extension used to represent the geomark download.",
            "enum": [
              "json",
              "xml",
              "kml",
              "kmz",
              "shp",
              "shpz",
              "geojson",
              "gml",
              "wkt"
            ],
            "example": "json",
            "in": "path",
            "name": "fileFormatExtension",
            "required": true,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The srid of the coordinate system the geometry should be converted to.",
            "enum": [
              4326,
              3005,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "srid",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The geomark will be returned in the body of the HTTP response encoded in the requested file format."
          },
          "400": {
            "description": "Coordinate system with srid = <srid> is not supported."
          },
          "404": {
            "description": "The geomark <geomarkId> could not be found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "boundingBox"
        ],
        "description": "The source geomarks can be specified by with the geomarkUrl parameter.  Repeat the parameter if sourcing from multiple geomarks",
        "summary": "Gets the bounding box of the geomark"
      }
    },
    "/geomarks/{geomarkId}/feature.{fileFormatExtension}": {
      "get": {
        "parameters": [
          {
            "description": "The unique identifier for the geomark",
            "example": "gm-abcdefghijklmnopqrstuv0bcislands",
            "in": "path",
            "name": "geomarkId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The file format name extension used to represent the geomark download.",
            "enum": [
              "json",
              "xml",
              "kml",
              "kmz",
              "shp",
              "shpz",
              "geojson",
              "gml",
              "wkt"
            ],
            "example": "json",
            "in": "path",
            "name": "fileFormatExtension",
            "required": true,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The srid of the coordinate system the geometry should be converted to.",
            "enum": [
              4326,
              3005,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "srid",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The geomark will be returned in the body of the HTTP response encoded in the requested file format."
          },
          "400": {
            "description": "Coordinate system with srid = <srid> is not supported."
          },
          "404": {
            "description": "The geomark <geomarkId> could not be found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "feature"
        ],
        "description": "The geomark feature resource returns a single spatial feature with either a single (Point, LineString, Polygon) or multi-part geometry (MultiPoint, MultiLineString, MultiPolygon) and the geomark attribution.  The geometry and attribution can be downloaded as a spatial download file format in a supported coordinate system. The download files can then be used in a desktop GIS application (e.g. ArcMap), Google Earth or a web mapping application.",
        "summary": "Get the feature and attribution of the geomark"
      }
    },
    "/geomarks/{geomarkId}/parts.{fileFormatExtension}": {
      "get": {
        "parameters": [
          {
            "description": "The unique identifier for the geomark",
            "example": "gm-abcdefghijklmnopqrstuv0bcislands",
            "in": "path",
            "name": "geomarkId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The file format name extension used to represent the geomark download.",
            "enum": [
              "json",
              "xml",
              "kml",
              "kmz",
              "shp",
              "shpz",
              "geojson",
              "gml",
              "wkt"
            ],
            "example": "json",
            "in": "path",
            "name": "fileFormatExtension",
            "required": true,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The srid of the coordinate system the geometry should be converted to.",
            "enum": [
              4326,
              3005,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "srid",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The geomark will be returned in the body of the HTTP response encoded in the requested file format."
          },
          "400": {
            "description": "Coordinate system with srid = <srid> is not supported."
          },
          "404": {
            "description": "The geomark <geomarkId> could not be found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "parts"
        ],
        "description": "The geomark parts resource returns a one or more spatial features. One for each part of the Geomark's geomerty. Each part contains a single (Point, LineString, Polygon) geometry and the geomark attribution.",
        "summary": "Get the individual geometries within a multi-part geometry"
      }
    },
    "/geomarks/{geomarkId}/point.{fileFormatExtension}": {
      "get": {
        "parameters": [
          {
            "description": "The unique identifier for the geomark.",
            "example": "gm-abcdefghijklmnopqrstuv0bcislands",
            "in": "path",
            "name": "geomarkId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The file format name extension used to represent the geomark download.",
            "enum": [
              "json",
              "xml",
              "kml",
              "kmz",
              "shp",
              "shpz",
              "geojson",
              "gml",
              "wkt"
            ],
            "example": "json",
            "in": "path",
            "name": "fileFormatExtension",
            "required": true,
            "type": "string"
          },
          {
            "default": 4326,
            "description": "The srid of the coordinate system the geometry should be converted to.",
            "enum": [
              4326,
              3005,
              26907,
              26908,
              26909,
              26910,
              26911
            ],
            "in": "query",
            "name": "srid",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The geomark will be returned in the body of the HTTP response encoded in the requested file format."
          },
          "400": {
            "description": "Coordinate system with srid = <srid> is not supported."
          },
          "404": {
            "description": "The geomark <geomarkId> could not be found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "point"
        ],
        "description": "The geomark point resource returns a single spatial feature with a single Point and the geomark attribution.  The point geometry will be created from the first geometry part of the Geomark. Point geomarks will return the first Point part in the geomark.  LineString geomarks will return the first coordinate of the first LineString part in the geomark. Polygon geomarks will return the centroid or another point inside the first Polygon part in the geomark. The geometry and attribution can be downloaded as a spatial download file format in a supported coordinate system. The download files can then be used in a desktop GIS application (e.g. ArcMap), Google Earth or a web mapping application.",
        "summary": "Gets a single spatial point representative of the geomark."
      }
    }
  },
  "definitions": {},
  "tags": [
    {
      "name": "create"
    },
    {
      "name": "boundingBox"
    },
    {
      "name": "feature"
    },
    {
      "name": "info"
    },
    {
      "name": "parts"
    },
    {
      "name": "point"
    }
  ],
  "externalDocs": {
    "description": "Geomark Web Service",
    "url": "https://www2.gov.bc.ca/gov/content?id=F6BAF45131954020BCFD2EBCC456F084"
  },
  "x-components": {}
}