{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@interzoid.com",
      "name": "API Support",
      "url": "https://www.interzoid.com",
      "x-twitter": "interzoid"
    },
    "description": "This API retrieves the latest currency exchange rate, against the US Dollar, for the given three-letter international currency code. These currency rates are compiled from many global sources and are updated several times per day.",
    "license": {
      "name": "Interzoid license",
      "url": "https://www.interzoid.com/license"
    },
    "termsOfService": "https://www.interzoid.com/terms",
    "title": "Interzoid Get Currency Rate API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://oas.interzoid.com/api/getcurrencyrate.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "interzoid.com",
    "x-serviceName": "getcurrencyrate",
    "x-datafire": {
      "name": "interzoid_getcurrencyrate",
      "type": "openapi"
    }
  },
  "host": "api.interzoid.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/getcurrencyrate": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Your Interzoid license API key. Register at www.interzoid.com/register",
            "in": "query",
            "name": "license",
            "required": true,
            "type": "string"
          },
          {
            "description": "Currency symbol to retrieve current rate for",
            "in": "query",
            "name": "symbol",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Currency rate data to one US Dollar",
            "schema": {
              "properties": {
                "Code": {
                  "type": "string"
                },
                "Country": {
                  "type": "string"
                },
                "Credits": {
                  "type": "string"
                },
                "Name": {
                  "type": "string"
                },
                "Rate": {
                  "type": "string"
                },
                "Symbol": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "bad request - insufficient parameters"
          },
          "402": {
            "description": "credits exhausted"
          },
          "403": {
            "description": "invalid license API key"
          },
          "404": {
            "description": "currency symbol not found"
          },
          "405": {
            "description": "method not allowed"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "tags": [
          "Currency Rates"
        ],
        "description": "Use a currency symbol (EUR, GBP, CNY, JPY, AUD, etc.) to obtain a live currency foreign exchange rate for one US Dollar. See the API home page for list of all supported currencies.",
        "operationId": "getcurrencyrate",
        "summary": "Gets a foreign currency rate for one US Dollar"
      }
    }
  },
  "externalDocs": {
    "description": "API home page and documentation",
    "url": "https://www.interzoid.com/services/getcurrencyrate"
  }
}