{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "codebuild.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "description": "<fullname>AWS CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apache Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use your own build tools. AWS CodeBuild scales automatically to meet peak build requests, and you pay only for the build time you consume. For more information about AWS CodeBuild, see the <i>AWS CodeBuild User Guide</i>.</p> <p>AWS CodeBuild supports these operations:</p> <ul> <li> <p> <code>BatchDeleteBuilds</code>: Deletes one or more builds.</p> </li> <li> <p> <code>BatchGetProjects</code>: Gets information about one or more build projects. A <i>build project</i> defines how AWS CodeBuild will run a build. This includes information such as where to get the source code to build, the build environment to use, the build commands to run, and where to store the build output. A <i>build environment</i> represents a combination of operating system, programming language runtime, and tools that AWS CodeBuild will use to run a build. Also, you can add tags to build projects to help manage your resources and costs.</p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p> </li> <li> <p> <code>CreateWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub repository, enables AWS CodeBuild to begin automatically rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a build project.</p> </li> <li> <p> <code>DeleteWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub repository, stops AWS CodeBuild from automatically rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>ListProjects</code>: Gets a list of build project names, with each build project name representing a single build project.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the settings of an existing build project.</p> </li> <li> <p> <code>BatchGetBuilds</code>: Gets information about one or more builds.</p> </li> <li> <p> <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing a single build.</p> </li> <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p> </li> <li> <p> <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>: Attempts to stop running a build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images that are managed by AWS CodeBuild.</p> </li> </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS CodeBuild",
    "version": "2016-10-06",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codebuild-2016-10-06.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "codebuild",
    "x-datafire": {
      "name": "amazonaws_codebuild",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/codebuild/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes one or more builds.",
        "operationId": "BatchDeleteBuilds",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDeleteBuildsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeleteBuildsOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          }
        }
      }
    },
    "/#BatchGetBuilds": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets information about builds.",
        "operationId": "BatchGetBuilds",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetBuildsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetBuildsOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          }
        }
      }
    },
    "/#BatchGetProjects": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets information about build projects.",
        "operationId": "BatchGetProjects",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetProjectsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetProjectsOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          }
        }
      }
    },
    "/#CreateProject": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a build project.",
        "operationId": "CreateProject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProjectInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateProjectOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "481": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "482": {
            "description": "AccountLimitExceededException",
            "schema": {
              "$ref": "#/definitions/AccountLimitExceededException"
            }
          }
        }
      }
    },
    "/#CreateWebhook": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub repository, enables AWS CodeBuild to begin automatically rebuilding the source code every time a code change is pushed to the repository.</p> <important> <p>If you enable webhooks for an AWS CodeBuild project, and the project is used as a build step in AWS CodePipeline, then two identical builds will be created for each commit. One build is triggered through webhooks, and one through AWS CodePipeline. Because billing is on a per-build basis, you will be billed for both builds. Therefore, if you are using AWS CodePipeline, we recommend that you disable webhooks in CodeBuild. In the AWS CodeBuild console, clear the Webhook box. For more information, see step 9 in <a href=\"http://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console\">Change a Build Project’s Settings</a>.</p> </important>",
        "operationId": "CreateWebhook",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWebhookInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateWebhookOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "481": {
            "description": "OAuthProviderException",
            "schema": {
              "$ref": "#/definitions/OAuthProviderException"
            }
          },
          "482": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#DeleteProject": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes a build project.",
        "operationId": "DeleteProject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteProjectInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteProjectOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          }
        }
      }
    },
    "/#DeleteWebhook": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "For an existing AWS CodeBuild build project that has its source code stored in a GitHub repository, stops AWS CodeBuild from automatically rebuilding the source code every time a code change is pushed to the repository.",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteWebhookInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteWebhookOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "OAuthProviderException",
            "schema": {
              "$ref": "#/definitions/OAuthProviderException"
            }
          }
        }
      }
    },
    "/#ListBuilds": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a list of build IDs, with each build ID representing a single build.",
        "operationId": "ListBuilds",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBuildsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBuildsOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          }
        }
      }
    },
    "/#ListBuildsForProject": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a list of build IDs for the specified build project, with each build ID representing a single build.",
        "operationId": "ListBuildsForProject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBuildsForProjectInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBuildsForProjectOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#ListCuratedEnvironmentImages": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets information about Docker images that are managed by AWS CodeBuild.",
        "operationId": "ListCuratedEnvironmentImages",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListCuratedEnvironmentImagesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListCuratedEnvironmentImagesOutput"
            }
          }
        }
      }
    },
    "/#ListProjects": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a list of build project names, with each build project name representing a single build project.",
        "operationId": "ListProjects",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListProjectsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListProjectsOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          }
        }
      }
    },
    "/#StartBuild": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts running a build.",
        "operationId": "StartBuild",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartBuildInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartBuildOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "AccountLimitExceededException",
            "schema": {
              "$ref": "#/definitions/AccountLimitExceededException"
            }
          }
        }
      }
    },
    "/#StopBuild": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Attempts to stop running a build.",
        "operationId": "StopBuild",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopBuildInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopBuildOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#UpdateProject": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Changes the settings of a build project.",
        "operationId": "UpdateProject",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProjectInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateProjectOutput"
            }
          },
          "480": {
            "description": "InvalidInputException",
            "schema": {
              "$ref": "#/definitions/InvalidInputException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccountLimitExceededException": {
      "description": "An AWS service limit was exceeded for the calling AWS account.",
      "properties": {},
      "type": "object"
    },
    "ArtifactNamespace": {
      "enum": [
        "NONE",
        "BUILD_ID"
      ],
      "type": "string"
    },
    "ArtifactPackaging": {
      "enum": [
        "NONE",
        "ZIP"
      ],
      "type": "string"
    },
    "ArtifactsType": {
      "enum": [
        "CODEPIPELINE",
        "S3",
        "NO_ARTIFACTS"
      ],
      "type": "string"
    },
    "BatchDeleteBuildsInput": {
      "properties": {
        "ids": {
          "$ref": "#/definitions/BuildIds",
          "description": "The IDs of the builds to delete."
        }
      },
      "required": [
        "ids"
      ],
      "type": "object"
    },
    "BatchDeleteBuildsOutput": {
      "properties": {
        "buildsDeleted": {
          "$ref": "#/definitions/BuildIds",
          "description": "The IDs of the builds that were successfully deleted."
        },
        "buildsNotDeleted": {
          "$ref": "#/definitions/BuildsNotDeleted",
          "description": "Information about any builds that could not be successfully deleted."
        }
      },
      "type": "object"
    },
    "BatchGetBuildsInput": {
      "example": {
        "ids": [
          "codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX",
          "codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX"
        ]
      },
      "properties": {
        "ids": {
          "$ref": "#/definitions/BuildIds",
          "description": "The IDs of the builds."
        }
      },
      "required": [
        "ids"
      ],
      "type": "object"
    },
    "BatchGetBuildsOutput": {
      "example": {
        "builds": [
          {
            "arn": "arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX",
            "artifacts": {
              "location": "arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project"
            },
            "buildComplete": true,
            "buildStatus": "SUCCEEDED",
            "currentPhase": "COMPLETED",
            "endTime": 1479832474.764,
            "environment": {
              "computeType": "BUILD_GENERAL1_SMALL",
              "environmentVariables": [],
              "image": "aws/codebuild/java:openjdk-8",
              "privilegedMode": false,
              "type": "LINUX_CONTAINER"
            },
            "id": "codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX",
            "initiator": "MyDemoUser",
            "logs": {
              "deepLink": "https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=9b0ac37f-d19e-4254-9079-f47e9a389eEX",
              "groupName": "/aws/codebuild/codebuild-demo-project",
              "streamName": "9b0ac37f-d19e-4254-9079-f47e9a389eEX"
            },
            "phases": [
              {
                "durationInSeconds": 0,
                "endTime": 1479832342.23,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "SUBMITTED",
                "startTime": 1479832341.854
              },
              {
                "contexts": [],
                "durationInSeconds": 72,
                "endTime": 1479832415.064,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "PROVISIONING",
                "startTime": 1479832342.23
              },
              {
                "contexts": [],
                "durationInSeconds": 46,
                "endTime": 1479832461.261,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "DOWNLOAD_SOURCE",
                "startTime": 1479832415.064
              },
              {
                "contexts": [],
                "durationInSeconds": 0,
                "endTime": 1479832461.354,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "INSTALL",
                "startTime": 1479832461.261
              },
              {
                "contexts": [],
                "durationInSeconds": 0,
                "endTime": 1479832461.448,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "PRE_BUILD",
                "startTime": 1479832461.354
              },
              {
                "contexts": [],
                "durationInSeconds": 9,
                "endTime": 1479832471.115,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "BUILD",
                "startTime": 1479832461.448
              },
              {
                "contexts": [],
                "durationInSeconds": 0,
                "endTime": 1479832471.224,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "POST_BUILD",
                "startTime": 1479832471.115
              },
              {
                "contexts": [],
                "durationInSeconds": 0,
                "endTime": 1479832471.791,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "UPLOAD_ARTIFACTS",
                "startTime": 1479832471.224
              },
              {
                "contexts": [],
                "durationInSeconds": 2,
                "endTime": 1479832474.764,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "FINALIZING",
                "startTime": 1479832471.791
              },
              {
                "phaseType": "COMPLETED",
                "startTime": 1479832474.764
              }
            ],
            "projectName": "codebuild-demo-project",
            "source": {
              "buildspec": "",
              "location": "arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip",
              "type": "S3"
            },
            "startTime": 1479832341.854,
            "timeoutInMinutes": 60
          },
          {
            "arn": "arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX",
            "artifacts": {
              "location": "arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project"
            },
            "buildComplete": true,
            "buildStatus": "SUCCEEDED",
            "currentPhase": "COMPLETED",
            "endTime": 1479401214.239,
            "environment": {
              "computeType": "BUILD_GENERAL1_SMALL",
              "environmentVariables": [],
              "image": "aws/codebuild/java:openjdk-8",
              "privilegedMode": false,
              "type": "LINUX_CONTAINER"
            },
            "id": "codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX",
            "initiator": "MyDemoUser",
            "logs": {
              "deepLink": "https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=b79a46f7-1473-4636-a23f-da9c45c208EX",
              "groupName": "/aws/codebuild/codebuild-demo-project",
              "streamName": "b79a46f7-1473-4636-a23f-da9c45c208EX"
            },
            "phases": [
              {
                "durationInSeconds": 0,
                "endTime": 1479401082.342,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "SUBMITTED",
                "startTime": 1479401081.869
              },
              {
                "contexts": [],
                "durationInSeconds": 71,
                "endTime": 1479401154.129,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "PROVISIONING",
                "startTime": 1479401082.342
              },
              {
                "contexts": [],
                "durationInSeconds": 45,
                "endTime": 1479401199.136,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "DOWNLOAD_SOURCE",
                "startTime": 1479401154.129
              },
              {
                "contexts": [],
                "durationInSeconds": 0,
                "endTime": 1479401199.236,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "INSTALL",
                "startTime": 1479401199.136
              },
              {
                "contexts": [],
                "durationInSeconds": 0,
                "endTime": 1479401199.345,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "PRE_BUILD",
                "startTime": 1479401199.236
              },
              {
                "contexts": [],
                "durationInSeconds": 9,
                "endTime": 1479401208.68,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "BUILD",
                "startTime": 1479401199.345
              },
              {
                "contexts": [],
                "durationInSeconds": 0,
                "endTime": 1479401208.783,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "POST_BUILD",
                "startTime": 1479401208.68
              },
              {
                "contexts": [],
                "durationInSeconds": 0,
                "endTime": 1479401209.463,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "UPLOAD_ARTIFACTS",
                "startTime": 1479401208.783
              },
              {
                "contexts": [],
                "durationInSeconds": 4,
                "endTime": 1479401214.239,
                "phaseStatus": "SUCCEEDED",
                "phaseType": "FINALIZING",
                "startTime": 1479401209.463
              },
              {
                "phaseType": "COMPLETED",
                "startTime": 1479401214.239
              }
            ],
            "projectName": "codebuild-demo-project",
            "source": {
              "location": "arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip",
              "type": "S3"
            },
            "startTime": 1479401081.869,
            "timeoutInMinutes": 60
          }
        ]
      },
      "properties": {
        "builds": {
          "$ref": "#/definitions/Builds",
          "description": "Information about the requested builds."
        },
        "buildsNotFound": {
          "$ref": "#/definitions/BuildIds",
          "description": "The IDs of builds for which information could not be found."
        }
      },
      "type": "object"
    },
    "BatchGetProjectsInput": {
      "properties": {
        "names": {
          "$ref": "#/definitions/ProjectNames",
          "description": "The names of the build projects."
        }
      },
      "required": [
        "names"
      ],
      "type": "object"
    },
    "BatchGetProjectsOutput": {
      "properties": {
        "projects": {
          "$ref": "#/definitions/Projects",
          "description": "Information about the requested build projects."
        },
        "projectsNotFound": {
          "$ref": "#/definitions/ProjectNames",
          "description": "The names of build projects for which information could not be found."
        }
      },
      "type": "object"
    },
    "Boolean": {
      "type": "boolean"
    },
    "Build": {
      "description": "Information about a build.",
      "properties": {
        "arn": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The Amazon Resource Name (ARN) of the build."
        },
        "artifacts": {
          "$ref": "#/definitions/BuildArtifacts",
          "description": "Information about the output artifacts for the build."
        },
        "buildComplete": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether the build has finished. True if completed; otherwise, false."
        },
        "buildStatus": {
          "$ref": "#/definitions/StatusType",
          "description": "<p>The current status of the build. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build failed.</p> </li> <li> <p> <code>FAULT</code>: The build faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build is still in progress.</p> </li> <li> <p> <code>STOPPED</code>: The build stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build timed out.</p> </li> </ul>"
        },
        "currentPhase": {
          "$ref": "#/definitions/String",
          "description": "The current build phase."
        },
        "endTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the build process ended, expressed in Unix time format."
        },
        "environment": {
          "$ref": "#/definitions/ProjectEnvironment",
          "description": "Information about the build environment for this build."
        },
        "id": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The unique ID for the build."
        },
        "initiator": {
          "$ref": "#/definitions/String",
          "description": "<p>The entity that started the build. Valid values include:</p> <ul> <li> <p>If AWS CodePipeline started the build, the pipeline's name (for example, <code>codepipeline/my-demo-pipeline</code>).</p> </li> <li> <p>If an AWS Identity and Access Management (IAM) user started the build, the user's name (for example <code>MyUserName</code>).</p> </li> <li> <p>If the Jenkins plugin for AWS CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p> </li> </ul>"
        },
        "logs": {
          "$ref": "#/definitions/LogsLocation",
          "description": "Information about the build's logs in Amazon CloudWatch Logs."
        },
        "phases": {
          "$ref": "#/definitions/BuildPhases",
          "description": "Information about all previous build phases that are completed and information about any current build phase that is not yet complete."
        },
        "projectName": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The name of the build project."
        },
        "source": {
          "$ref": "#/definitions/ProjectSource",
          "description": "Information about the source code to be built."
        },
        "sourceVersion": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "Any version identifier for the version of the source code to be built."
        },
        "startTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the build process started, expressed in Unix time format."
        },
        "timeoutInMinutes": {
          "$ref": "#/definitions/WrapperInt",
          "description": "How long, in minutes, for AWS CodeBuild to wait before timing out this build if it does not get marked as completed."
        }
      },
      "type": "object"
    },
    "BuildArtifacts": {
      "description": "Information about build output artifacts.",
      "properties": {
        "location": {
          "$ref": "#/definitions/String",
          "description": "Information about the location of the build artifacts."
        },
        "md5sum": {
          "$ref": "#/definitions/String",
          "description": "<p>The MD5 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm both file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>"
        },
        "sha256sum": {
          "$ref": "#/definitions/String",
          "description": "<p>The SHA-256 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm both file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>"
        }
      },
      "type": "object"
    },
    "BuildIds": {
      "items": {
        "$ref": "#/definitions/NonEmptyString"
      },
      "maxItems": 100,
      "minItems": 1,
      "type": "array"
    },
    "BuildNotDeleted": {
      "description": "Information about a build that could not be successfully deleted.",
      "properties": {
        "id": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The ID of the build that could not be successfully deleted."
        },
        "statusCode": {
          "$ref": "#/definitions/String",
          "description": "Additional information about the build that could not be successfully deleted."
        }
      },
      "type": "object"
    },
    "BuildPhase": {
      "description": "Information about a stage for a build.",
      "properties": {
        "contexts": {
          "$ref": "#/definitions/PhaseContexts",
          "description": "Additional information about a build phase, especially to help troubleshoot a failed build."
        },
        "durationInSeconds": {
          "$ref": "#/definitions/WrapperLong",
          "description": "How long, in seconds, between the starting and ending times of the build's phase."
        },
        "endTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the build phase ended, expressed in Unix time format."
        },
        "phaseStatus": {
          "$ref": "#/definitions/StatusType",
          "description": "<p>The current status of the build phase. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build phase failed.</p> </li> <li> <p> <code>FAULT</code>: The build phase faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build phase is still in progress.</p> </li> <li> <p> <code>STOPPED</code>: The build phase stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build phase succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build phase timed out.</p> </li> </ul>"
        },
        "phaseType": {
          "$ref": "#/definitions/BuildPhaseType",
          "description": "<p>The name of the build phase. Valid values include:</p> <ul> <li> <p> <code>BUILD</code>: Core build activities typically occur in this build phase.</p> </li> <li> <p> <code>COMPLETED</code>: The build has been completed.</p> </li> <li> <p> <code>DOWNLOAD_SOURCE</code>: Source code is being downloaded in this build phase.</p> </li> <li> <p> <code>FINALIZING</code>: The build process is completing in this build phase.</p> </li> <li> <p> <code>INSTALL</code>: Installation activities typically occur in this build phase.</p> </li> <li> <p> <code>POST_BUILD</code>: Post-build activities typically occur in this build phase.</p> </li> <li> <p> <code>PRE_BUILD</code>: Pre-build activities typically occur in this build phase.</p> </li> <li> <p> <code>PROVISIONING</code>: The build environment is being set up.</p> </li> <li> <p> <code>SUBMITTED</code>: The build has been submitted.</p> </li> <li> <p> <code>UPLOAD_ARTIFACTS</code>: Build output artifacts are being uploaded to the output location.</p> </li> </ul>"
        },
        "startTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the build phase started, expressed in Unix time format."
        }
      },
      "type": "object"
    },
    "BuildPhaseType": {
      "enum": [
        "SUBMITTED",
        "PROVISIONING",
        "DOWNLOAD_SOURCE",
        "INSTALL",
        "PRE_BUILD",
        "BUILD",
        "POST_BUILD",
        "UPLOAD_ARTIFACTS",
        "FINALIZING",
        "COMPLETED"
      ],
      "type": "string"
    },
    "BuildPhases": {
      "items": {
        "$ref": "#/definitions/BuildPhase"
      },
      "type": "array"
    },
    "Builds": {
      "items": {
        "$ref": "#/definitions/Build"
      },
      "type": "array"
    },
    "BuildsNotDeleted": {
      "items": {
        "$ref": "#/definitions/BuildNotDeleted"
      },
      "type": "array"
    },
    "ComputeType": {
      "enum": [
        "BUILD_GENERAL1_SMALL",
        "BUILD_GENERAL1_MEDIUM",
        "BUILD_GENERAL1_LARGE"
      ],
      "type": "string"
    },
    "CreateProjectInput": {
      "properties": {
        "artifacts": {
          "$ref": "#/definitions/ProjectArtifacts",
          "description": "Information about the build output artifacts for the build project."
        },
        "description": {
          "$ref": "#/definitions/ProjectDescription",
          "description": "A description that makes the build project easy to identify."
        },
        "encryptionKey": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <p>You can specify either the CMK's Amazon Resource Name (ARN) or, if available, the CMK's alias (using the format <code>alias/<i>alias-name</i> </code>).</p>"
        },
        "environment": {
          "$ref": "#/definitions/ProjectEnvironment",
          "description": "Information about the build environment for the build project."
        },
        "name": {
          "$ref": "#/definitions/ProjectName",
          "description": "The name of the build project."
        },
        "serviceRole": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account."
        },
        "source": {
          "$ref": "#/definitions/ProjectSource",
          "description": "Information about the build input source code for the build project."
        },
        "tags": {
          "$ref": "#/definitions/TagList",
          "description": "<p>A set of tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>"
        },
        "timeoutInMinutes": {
          "$ref": "#/definitions/TimeOut",
          "description": "How long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait until timing out any build that has not been marked as completed. The default is 60 minutes."
        }
      },
      "required": [
        "name",
        "source",
        "artifacts",
        "environment"
      ],
      "type": "object"
    },
    "CreateProjectOutput": {
      "properties": {
        "project": {
          "$ref": "#/definitions/Project",
          "description": "Information about the build project that was created."
        }
      },
      "type": "object"
    },
    "CreateWebhookInput": {
      "properties": {
        "projectName": {
          "$ref": "#/definitions/ProjectName",
          "description": "The name of the build project."
        }
      },
      "required": [
        "projectName"
      ],
      "type": "object"
    },
    "CreateWebhookOutput": {
      "properties": {
        "webhook": {
          "$ref": "#/definitions/Webhook",
          "description": "Information about a webhook in GitHub that connects repository events to a build project in AWS CodeBuild."
        }
      },
      "type": "object"
    },
    "DeleteProjectInput": {
      "properties": {
        "name": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The name of the build project."
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "DeleteProjectOutput": {
      "properties": {},
      "type": "object"
    },
    "DeleteWebhookInput": {
      "properties": {
        "projectName": {
          "$ref": "#/definitions/ProjectName",
          "description": "The name of the build project."
        }
      },
      "required": [
        "projectName"
      ],
      "type": "object"
    },
    "DeleteWebhookOutput": {
      "properties": {},
      "type": "object"
    },
    "EnvironmentImage": {
      "description": "Information about a Docker image that is managed by AWS CodeBuild.",
      "properties": {
        "description": {
          "$ref": "#/definitions/String",
          "description": "The description of the Docker image."
        },
        "name": {
          "$ref": "#/definitions/String",
          "description": "The name of the Docker image."
        }
      },
      "type": "object"
    },
    "EnvironmentImages": {
      "items": {
        "$ref": "#/definitions/EnvironmentImage"
      },
      "type": "array"
    },
    "EnvironmentLanguage": {
      "description": "A set of Docker images that are related by programming language and are managed by AWS CodeBuild.",
      "properties": {
        "images": {
          "$ref": "#/definitions/EnvironmentImages",
          "description": "The list of Docker images that are related by the specified programming language."
        },
        "language": {
          "$ref": "#/definitions/LanguageType",
          "description": "The programming language for the Docker images."
        }
      },
      "type": "object"
    },
    "EnvironmentLanguages": {
      "items": {
        "$ref": "#/definitions/EnvironmentLanguage"
      },
      "type": "array"
    },
    "EnvironmentPlatform": {
      "description": "A set of Docker images that are related by platform and are managed by AWS CodeBuild.",
      "properties": {
        "languages": {
          "$ref": "#/definitions/EnvironmentLanguages",
          "description": "The list of programming languages that are available for the specified platform."
        },
        "platform": {
          "$ref": "#/definitions/PlatformType",
          "description": "The platform's name."
        }
      },
      "type": "object"
    },
    "EnvironmentPlatforms": {
      "items": {
        "$ref": "#/definitions/EnvironmentPlatform"
      },
      "type": "array"
    },
    "EnvironmentType": {
      "enum": [
        "LINUX_CONTAINER"
      ],
      "type": "string"
    },
    "EnvironmentVariable": {
      "description": "Information about an environment variable for a build project or a build.",
      "properties": {
        "name": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The name or key of the environment variable."
        },
        "type": {
          "$ref": "#/definitions/EnvironmentVariableType",
          "description": "<p>The type of environment variable. Valid values include:</p> <ul> <li> <p> <code>PARAMETER_STORE</code>: An environment variable stored in Amazon EC2 Systems Manager Parameter Store.</p> </li> <li> <p> <code>PLAINTEXT</code>: An environment variable in plaintext format.</p> </li> </ul>"
        },
        "value": {
          "$ref": "#/definitions/String",
          "description": "<p>The value of the environment variable.</p> <important> <p>We strongly discourage using environment variables to store sensitive values, especially AWS secret key IDs and secret access keys. Environment variables can be displayed in plain text using tools such as the AWS CodeBuild console and the AWS Command Line Interface (AWS CLI).</p> </important>"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "object"
    },
    "EnvironmentVariableType": {
      "enum": [
        "PLAINTEXT",
        "PARAMETER_STORE"
      ],
      "type": "string"
    },
    "EnvironmentVariables": {
      "items": {
        "$ref": "#/definitions/EnvironmentVariable"
      },
      "type": "array"
    },
    "InvalidInputException": {
      "description": "The input value that was provided is not valid.",
      "properties": {},
      "type": "object"
    },
    "KeyInput": {
      "maxLength": 127,
      "minLength": 1,
      "pattern": "^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=@+\\\\-]*)$",
      "type": "string"
    },
    "LanguageType": {
      "enum": [
        "JAVA",
        "PYTHON",
        "NODE_JS",
        "RUBY",
        "GOLANG",
        "DOCKER",
        "ANDROID",
        "DOTNET",
        "BASE"
      ],
      "type": "string"
    },
    "ListBuildsForProjectInput": {
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned."
        },
        "projectName": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The name of the build project."
        },
        "sortOrder": {
          "$ref": "#/definitions/SortOrderType",
          "description": "<p>The order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>: List the build IDs in descending order by build ID.</p> </li> </ul>"
        }
      },
      "required": [
        "projectName"
      ],
      "type": "object"
    },
    "ListBuildsForProjectOutput": {
      "properties": {
        "ids": {
          "$ref": "#/definitions/BuildIds",
          "description": "A list of build IDs for the specified build project, with each build ID representing a single build."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call."
        }
      },
      "type": "object"
    },
    "ListBuildsInput": {
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned."
        },
        "sortOrder": {
          "$ref": "#/definitions/SortOrderType",
          "description": "<p>The order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>: List the build IDs in descending order by build ID.</p> </li> </ul>"
        }
      },
      "type": "object"
    },
    "ListBuildsOutput": {
      "properties": {
        "ids": {
          "$ref": "#/definitions/BuildIds",
          "description": "A list of build IDs, with each build ID representing a single build."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call."
        }
      },
      "type": "object"
    },
    "ListCuratedEnvironmentImagesInput": {
      "properties": {},
      "type": "object"
    },
    "ListCuratedEnvironmentImagesOutput": {
      "properties": {
        "platforms": {
          "$ref": "#/definitions/EnvironmentPlatforms",
          "description": "Information about supported platforms for Docker images that are managed by AWS CodeBuild."
        }
      },
      "type": "object"
    },
    "ListProjectsInput": {
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned."
        },
        "sortBy": {
          "$ref": "#/definitions/ProjectSortByType",
          "description": "<p>The criterion to be used to list build project names. Valid values include:</p> <ul> <li> <p> <code>CREATED_TIME</code>: List the build project names based on when each build project was created.</p> </li> <li> <p> <code>LAST_MODIFIED_TIME</code>: List the build project names based on when information about each build project was last changed.</p> </li> <li> <p> <code>NAME</code>: List the build project names based on each build project's name.</p> </li> </ul> <p>Use <code>sortOrder</code> to specify in what order to list the build project names based on the preceding criteria.</p>"
        },
        "sortOrder": {
          "$ref": "#/definitions/SortOrderType",
          "description": "<p>The order in which to list build projects. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build project names in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>: List the build project names in descending order.</p> </li> </ul> <p>Use <code>sortBy</code> to specify the criterion to be used to list build project names.</p>"
        }
      },
      "type": "object"
    },
    "ListProjectsOutput": {
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call."
        },
        "projects": {
          "$ref": "#/definitions/ProjectNames",
          "description": "The list of build project names, with each build project name representing a single build project."
        }
      },
      "type": "object"
    },
    "LogsLocation": {
      "description": "Information about build logs in Amazon CloudWatch Logs.",
      "properties": {
        "deepLink": {
          "$ref": "#/definitions/String",
          "description": "The URL to an individual build log in Amazon CloudWatch Logs."
        },
        "groupName": {
          "$ref": "#/definitions/String",
          "description": "The name of the Amazon CloudWatch Logs group for the build logs."
        },
        "streamName": {
          "$ref": "#/definitions/String",
          "description": "The name of the Amazon CloudWatch Logs stream for the build logs."
        }
      },
      "type": "object"
    },
    "NonEmptyString": {
      "minLength": 1,
      "type": "string"
    },
    "OAuthProviderException": {
      "description": "There was a problem with the underlying OAuth provider.",
      "properties": {},
      "type": "object"
    },
    "PhaseContext": {
      "description": "Additional information about a build phase that has an error. You can use this information to help troubleshoot a failed build.",
      "properties": {
        "message": {
          "$ref": "#/definitions/String",
          "description": "An explanation of the build phase's context. This explanation might include a command ID and an exit code."
        },
        "statusCode": {
          "$ref": "#/definitions/String",
          "description": "The status code for the context of the build phase."
        }
      },
      "type": "object"
    },
    "PhaseContexts": {
      "items": {
        "$ref": "#/definitions/PhaseContext"
      },
      "type": "array"
    },
    "PlatformType": {
      "enum": [
        "DEBIAN",
        "AMAZON_LINUX",
        "UBUNTU"
      ],
      "type": "string"
    },
    "Project": {
      "description": "Information about a build project.",
      "properties": {
        "arn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the build project."
        },
        "artifacts": {
          "$ref": "#/definitions/ProjectArtifacts",
          "description": "Information about the build output artifacts for the build project."
        },
        "created": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the build project was created, expressed in Unix time format."
        },
        "description": {
          "$ref": "#/definitions/ProjectDescription",
          "description": "A description that makes the build project easy to identify."
        },
        "encryptionKey": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <p>This is expressed either as the CMK's Amazon Resource Name (ARN) or, if specified, the CMK's alias (using the format <code>alias/<i>alias-name</i> </code>).</p>"
        },
        "environment": {
          "$ref": "#/definitions/ProjectEnvironment",
          "description": "Information about the build environment for this build project."
        },
        "lastModified": {
          "$ref": "#/definitions/Timestamp",
          "description": "When the build project's settings were last modified, expressed in Unix time format."
        },
        "name": {
          "$ref": "#/definitions/ProjectName",
          "description": "The name of the build project."
        },
        "serviceRole": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account."
        },
        "source": {
          "$ref": "#/definitions/ProjectSource",
          "description": "Information about the build input source code for this build project."
        },
        "tags": {
          "$ref": "#/definitions/TagList",
          "description": "<p>The tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>"
        },
        "timeoutInMinutes": {
          "$ref": "#/definitions/TimeOut",
          "description": "How long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before timing out any related build that did not get marked as completed. The default is 60 minutes."
        },
        "webhook": {
          "$ref": "#/definitions/Webhook",
          "description": "Information about a webhook in GitHub that connects repository events to a build project in AWS CodeBuild."
        }
      },
      "type": "object"
    },
    "ProjectArtifacts": {
      "description": "Information about the build output artifacts for the build project.",
      "properties": {
        "location": {
          "$ref": "#/definitions/String",
          "description": "<p>Information about the build output artifact location, as follows:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will ignore this value if specified. This is because AWS CodePipeline manages its build output locations instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, then this value will be ignored if specified, because no build output will be produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, this is the name of the output bucket.</p> </li> </ul>"
        },
        "name": {
          "$ref": "#/definitions/String",
          "description": "<p>Along with <code>path</code> and <code>namespaceType</code>, the pattern that AWS CodeBuild will use to name and store the output artifact, as follows:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will ignore this value if specified. This is because AWS CodePipeline manages its build output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, then this value will be ignored if specified, because no build output will be produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, this is the name of the output artifact object.</p> </li> </ul> <p>For example, if <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>BUILD_ID</code>, and <code>name</code> is set to <code>MyArtifact.zip</code>, then the output artifact would be stored in <code>MyArtifacts/<i>build-ID</i>/MyArtifact.zip</code>.</p>"
        },
        "namespaceType": {
          "$ref": "#/definitions/ArtifactNamespace",
          "description": "<p>Along with <code>path</code> and <code>name</code>, the pattern that AWS CodeBuild will use to determine the name and location to store the output artifact, as follows:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will ignore this value if specified. This is because AWS CodePipeline manages its build output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, then this value will be ignored if specified, because no build output will be produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, then valid values include:</p> <ul> <li> <p> <code>BUILD_ID</code>: Include the build ID in the location of the build output artifact.</p> </li> <li> <p> <code>NONE</code>: Do not include the build ID. This is the default if <code>namespaceType</code> is not specified.</p> </li> </ul> </li> </ul> <p>For example, if <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>BUILD_ID</code>, and <code>name</code> is set to <code>MyArtifact.zip</code>, then the output artifact would be stored in <code>MyArtifacts/<i>build-ID</i>/MyArtifact.zip</code>.</p>"
        },
        "packaging": {
          "$ref": "#/definitions/ArtifactPackaging",
          "description": "<p>The type of build output artifact to create, as follows:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will ignore this value if specified. This is because AWS CodePipeline manages its build output artifacts instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, then this value will be ignored if specified, because no build output will be produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, valid values include:</p> <ul> <li> <p> <code>NONE</code>: AWS CodeBuild will create in the output bucket a folder containing the build output. This is the default if <code>packaging</code> is not specified.</p> </li> <li> <p> <code>ZIP</code>: AWS CodeBuild will create in the output bucket a ZIP file containing the build output.</p> </li> </ul> </li> </ul>"
        },
        "path": {
          "$ref": "#/definitions/String",
          "description": "<p>Along with <code>namespaceType</code> and <code>name</code>, the pattern that AWS CodeBuild will use to name and store the output artifact, as follows:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will ignore this value if specified. This is because AWS CodePipeline manages its build output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, then this value will be ignored if specified, because no build output will be produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, this is the path to the output artifact. If <code>path</code> is not specified, then <code>path</code> will not be used.</p> </li> </ul> <p>For example, if <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>NONE</code>, and <code>name</code> is set to <code>MyArtifact.zip</code>, then the output artifact would be stored in the output bucket at <code>MyArtifacts/MyArtifact.zip</code>.</p>"
        },
        "type": {
          "$ref": "#/definitions/ArtifactsType",
          "description": "<p>The type of build output artifact. Valid values include:</p> <ul> <li> <p> <code>CODEPIPELINE</code>: The build project will have build output generated through AWS CodePipeline.</p> </li> <li> <p> <code>NO_ARTIFACTS</code>: The build project will not produce any build output.</p> </li> <li> <p> <code>S3</code>: The build project will store build output in Amazon Simple Storage Service (Amazon S3).</p> </li> </ul>"
        }
      },
      "required": [
        "type"
      ],
      "type": "object"
    },
    "ProjectDescription": {
      "maxLength": 255,
      "minLength": 0,
      "type": "string"
    },
    "ProjectEnvironment": {
      "description": "Information about the build environment of the build project.",
      "properties": {
        "computeType": {
          "$ref": "#/definitions/ComputeType",
          "description": "<p>Information about the compute resources the build project will use. Available values include:</p> <ul> <li> <p> <code>BUILD_GENERAL1_SMALL</code>: Use up to 3 GB memory and 2 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_MEDIUM</code>: Use up to 7 GB memory and 4 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_LARGE</code>: Use up to 15 GB memory and 8 vCPUs for builds.</p> </li> </ul>"
        },
        "environmentVariables": {
          "$ref": "#/definitions/EnvironmentVariables",
          "description": "A set of environment variables to make available to builds for this build project."
        },
        "image": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The ID of the Docker image to use for this build project."
        },
        "privilegedMode": {
          "$ref": "#/definitions/WrapperBoolean",
          "description": "<p>If set to true, enables running the Docker daemon inside a Docker container; otherwise, false or not specified (the default). This value must be set to true only if this build project will be used to build Docker images, and the specified build environment image is not one provided by AWS CodeBuild with Docker support. Otherwise, all associated builds that attempt to interact with the Docker daemon will fail. Note that you must also start the Docker daemon so that your builds can interact with it as needed. One way to do this is to initialize the Docker daemon in the install phase of your build spec by running the following build commands. (Do not run the following build commands if the specified build environment image is provided by AWS CodeBuild with Docker support.)</p> <p> <code>- nohup /usr/local/bin/dockerd --host=unix:///var/run/docker.sock --host=tcp://0.0.0.0:2375 --storage-driver=overlay&amp; - timeout -t 15 sh -c \"until docker info; do echo .; sleep 1; done\"</code> </p>"
        },
        "type": {
          "$ref": "#/definitions/EnvironmentType",
          "description": "The type of build environment to use for related builds."
        }
      },
      "required": [
        "type",
        "image",
        "computeType"
      ],
      "type": "object"
    },
    "ProjectName": {
      "maxLength": 255,
      "minLength": 2,
      "pattern": "[A-Za-z0-9][A-Za-z0-9\\-_]{1,254}",
      "type": "string"
    },
    "ProjectNames": {
      "items": {
        "$ref": "#/definitions/NonEmptyString"
      },
      "maxItems": 100,
      "minItems": 1,
      "type": "array"
    },
    "ProjectSortByType": {
      "enum": [
        "NAME",
        "CREATED_TIME",
        "LAST_MODIFIED_TIME"
      ],
      "type": "string"
    },
    "ProjectSource": {
      "description": "Information about the build input source code for the build project.",
      "properties": {
        "auth": {
          "$ref": "#/definitions/SourceAuth",
          "description": "<p>Information about the authorization settings for AWS CodeBuild to access the source code to be built.</p> <p>This information is for the AWS CodeBuild console's use only. Your code should not get or set this information directly (unless the build project's source <code>type</code> value is <code>BITBUCKET</code> or <code>GITHUB</code>).</p>"
        },
        "buildspec": {
          "$ref": "#/definitions/String",
          "description": "<p>The build spec declaration to use for the builds in this build project.</p> <p>If this value is not specified, a build spec must be included along with the source code to be built.</p>"
        },
        "location": {
          "$ref": "#/definitions/String",
          "description": "<p>Information about the location of the source code to be built. Valid values include:</p> <ul> <li> <p>For source code settings that are specified in the source action of a pipeline in AWS CodePipeline, <code>location</code> should not be specified. If it is specified, AWS CodePipeline will ignore it. This is because AWS CodePipeline uses the settings in a pipeline's source action instead of this value.</p> </li> <li> <p>For source code in an AWS CodeCommit repository, the HTTPS clone URL to the repository that contains the source code and the build spec (for example, <code>https://git-codecommit.<i>region-ID</i>.amazonaws.com/v1/repos/<i>repo-name</i> </code>).</p> </li> <li> <p>For source code in an Amazon Simple Storage Service (Amazon S3) input bucket, the path to the ZIP file that contains the source code (for example, <code> <i>bucket-name</i>/<i>path</i>/<i>to</i>/<i>object-name</i>.zip</code>)</p> </li> <li> <p>For source code in a GitHub repository, the HTTPS clone URL to the repository that contains the source and the build spec. Also, you must connect your AWS account to your GitHub account. To do this, use the AWS CodeBuild console to begin creating a build project. When you use the console to connect (or reconnect) with GitHub, on the GitHub <b>Authorize application</b> page that displays, for <b>Organization access</b>, choose <b>Request access</b> next to each repository you want to allow AWS CodeBuild to have access to. Then choose <b>Authorize application</b>. (After you have connected to your GitHub account, you do not need to finish creating the build project, and you may then leave the AWS CodeBuild console.) To instruct AWS CodeBuild to then use this connection, in the <code>source</code> object, set the <code>auth</code> object's <code>type</code> value to <code>OAUTH</code>.</p> </li> <li> <p>For source code in a Bitbucket repository, the HTTPS clone URL to the repository that contains the source and the build spec. Also, you must connect your AWS account to your Bitbucket account. To do this, use the AWS CodeBuild console to begin creating a build project. When you use the console to connect (or reconnect) with Bitbucket, on the Bitbucket <b>Confirm access to your account</b> page that displays, choose <b>Grant access</b>. (After you have connected to your Bitbucket account, you do not need to finish creating the build project, and you may then leave the AWS CodeBuild console.) To instruct AWS CodeBuild to then use this connection, in the <code>source</code> object, set the <code>auth</code> object's <code>type</code> value to <code>OAUTH</code>.</p> </li> </ul>"
        },
        "type": {
          "$ref": "#/definitions/SourceType",
          "description": "<p>The type of repository that contains the source code to be built. Valid values include:</p> <ul> <li> <p> <code>BITBUCKET</code>: The source code is in a Bitbucket repository.</p> </li> <li> <p> <code>CODECOMMIT</code>: The source code is in an AWS CodeCommit repository.</p> </li> <li> <p> <code>CODEPIPELINE</code>: The source code settings are specified in the source action of a pipeline in AWS CodePipeline.</p> </li> <li> <p> <code>GITHUB</code>: The source code is in a GitHub repository.</p> </li> <li> <p> <code>S3</code>: The source code is in an Amazon Simple Storage Service (Amazon S3) input bucket.</p> </li> </ul>"
        }
      },
      "required": [
        "type"
      ],
      "type": "object"
    },
    "Projects": {
      "items": {
        "$ref": "#/definitions/Project"
      },
      "type": "array"
    },
    "ResourceAlreadyExistsException": {
      "description": "The specified AWS resource cannot be created, because an AWS resource with the same settings already exists.",
      "properties": {},
      "type": "object"
    },
    "ResourceNotFoundException": {
      "description": "The specified AWS resource cannot be found.",
      "properties": {},
      "type": "object"
    },
    "SortOrderType": {
      "enum": [
        "ASCENDING",
        "DESCENDING"
      ],
      "type": "string"
    },
    "SourceAuth": {
      "description": "<p>Information about the authorization settings for AWS CodeBuild to access the source code to be built.</p> <p>This information is for the AWS CodeBuild console's use only. Your code should not get or set this information directly (unless the build project's source <code>type</code> value is <code>BITBUCKET</code> or <code>GITHUB</code>).</p>",
      "properties": {
        "resource": {
          "$ref": "#/definitions/String",
          "description": "The resource value that applies to the specified authorization type."
        },
        "type": {
          "$ref": "#/definitions/SourceAuthType",
          "description": "The authorization type to use. The only valid value is <code>OAUTH</code>, which represents the OAuth authorization type."
        }
      },
      "required": [
        "type"
      ],
      "type": "object"
    },
    "SourceAuthType": {
      "enum": [
        "OAUTH"
      ],
      "type": "string"
    },
    "SourceType": {
      "enum": [
        "CODECOMMIT",
        "CODEPIPELINE",
        "GITHUB",
        "S3",
        "BITBUCKET"
      ],
      "type": "string"
    },
    "StartBuildInput": {
      "properties": {
        "artifactsOverride": {
          "$ref": "#/definitions/ProjectArtifacts",
          "description": "Build output artifact settings that override, for this build only, the latest ones already defined in the build project."
        },
        "buildspecOverride": {
          "$ref": "#/definitions/String",
          "description": "A build spec declaration that overrides, for this build only, the latest one already defined in the build project."
        },
        "environmentVariablesOverride": {
          "$ref": "#/definitions/EnvironmentVariables",
          "description": "A set of environment variables that overrides, for this build only, the latest ones already defined in the build project."
        },
        "projectName": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The name of the build project to start running a build."
        },
        "sourceVersion": {
          "$ref": "#/definitions/String",
          "description": "<p>A version of the build input to be built, for this build only. If not specified, the latest version will be used. If specified, must be one of:</p> <ul> <li> <p>For AWS CodeCommit: the commit ID to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID will be used. If not specified, the default branch's HEAD commit ID will be used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID will be used. If not specified, the default branch's HEAD commit ID will be used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object representing the build input ZIP file to use.</p> </li> </ul>"
        },
        "timeoutInMinutesOverride": {
          "$ref": "#/definitions/TimeOut",
          "description": "The number of build timeout minutes, from 5 to 480 (8 hours), that overrides, for this build only, the latest setting already defined in the build project."
        }
      },
      "required": [
        "projectName"
      ],
      "type": "object"
    },
    "StartBuildOutput": {
      "properties": {
        "build": {
          "$ref": "#/definitions/Build",
          "description": "Information about the build to be run."
        }
      },
      "type": "object"
    },
    "StatusType": {
      "enum": [
        "SUCCEEDED",
        "FAILED",
        "FAULT",
        "TIMED_OUT",
        "IN_PROGRESS",
        "STOPPED"
      ],
      "type": "string"
    },
    "StopBuildInput": {
      "properties": {
        "id": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The ID of the build."
        }
      },
      "required": [
        "id"
      ],
      "type": "object"
    },
    "StopBuildOutput": {
      "properties": {
        "build": {
          "$ref": "#/definitions/Build",
          "description": "Information about the build."
        }
      },
      "type": "object"
    },
    "String": {
      "type": "string"
    },
    "Tag": {
      "description": "<p>A tag, consisting of a key and a value.</p> <p>This tag is available for use by AWS services that support tags in AWS CodeBuild.</p>",
      "properties": {
        "key": {
          "$ref": "#/definitions/KeyInput",
          "description": "The tag's key."
        },
        "value": {
          "$ref": "#/definitions/ValueInput",
          "description": "The tag's value."
        }
      },
      "type": "object"
    },
    "TagList": {
      "items": {
        "$ref": "#/definitions/Tag"
      },
      "maxItems": 50,
      "minItems": 0,
      "type": "array"
    },
    "TimeOut": {
      "maximum": 480,
      "minimum": 5,
      "type": "integer"
    },
    "Timestamp": {
      "format": "date-time",
      "type": "string"
    },
    "UpdateProjectInput": {
      "properties": {
        "artifacts": {
          "$ref": "#/definitions/ProjectArtifacts",
          "description": "Information to be changed about the build output artifacts for the build project."
        },
        "description": {
          "$ref": "#/definitions/ProjectDescription",
          "description": "A new or replacement description of the build project."
        },
        "encryptionKey": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "<p>The replacement AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <p>You can specify either the CMK's Amazon Resource Name (ARN) or, if available, the CMK's alias (using the format <code>alias/<i>alias-name</i> </code>).</p>"
        },
        "environment": {
          "$ref": "#/definitions/ProjectEnvironment",
          "description": "Information to be changed about the build environment for the build project."
        },
        "name": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "<p>The name of the build project.</p> <note> <p>You cannot change a build project's name.</p> </note>"
        },
        "serviceRole": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The replacement ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account."
        },
        "source": {
          "$ref": "#/definitions/ProjectSource",
          "description": "Information to be changed about the build input source code for the build project."
        },
        "tags": {
          "$ref": "#/definitions/TagList",
          "description": "<p>The replacement set of tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>"
        },
        "timeoutInMinutes": {
          "$ref": "#/definitions/TimeOut",
          "description": "The replacement value in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before timing out any related build that did not get marked as completed."
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "UpdateProjectOutput": {
      "properties": {
        "project": {
          "$ref": "#/definitions/Project",
          "description": "Information about the build project that was changed."
        }
      },
      "type": "object"
    },
    "ValueInput": {
      "maxLength": 255,
      "minLength": 1,
      "pattern": "^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=@+\\\\-]*)$",
      "type": "string"
    },
    "Webhook": {
      "description": "Information about a webhook in GitHub that connects repository events to a build project in AWS CodeBuild.",
      "properties": {
        "url": {
          "$ref": "#/definitions/NonEmptyString",
          "description": "The URL to the webhook."
        }
      },
      "type": "object"
    },
    "WrapperBoolean": {
      "type": "boolean"
    },
    "WrapperInt": {
      "type": "integer"
    },
    "WrapperLong": {
      "type": "integer"
    }
  }
}