{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon RDS Performance Insights</fullname> <p>Amazon RDS Performance Insights enables you to monitor and explore different dimensions of database load based on data captured from a running DB instance. The guide provides detailed information about Performance Insights data types, parameters and errors.</p> <p>When Performance Insights is enabled, the Amazon RDS Performance Insights API provides visibility into the performance of your DB instance. Amazon CloudWatch provides the authoritative source for AWS service-vended monitoring metrics. Performance Insights offers a domain-specific view of DB load. </p> <p>DB load is measured as Average Active Sessions. Performance Insights provides the data to API consumers as a two-dimensional time-series dataset. The time dimension provides DB load data for each time point in the queried time range. Each time point decomposes overall load in relation to the requested dimensions, measured at that time point. Examples include SQL, Wait event, User, and Host.</p> <ul> <li> <p>To learn more about Performance Insights and Amazon Aurora DB instances, go to the <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_PerfInsights.html\">Amazon Aurora User Guide</a>.</p> </li> <li> <p>To learn more about Performance Insights and Amazon RDS DB instances, go to the <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_PerfInsights.html\">Amazon RDS User Guide</a>.</p> </li> </ul>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "AWS Performance Insights",
    "version": "2018-02-27",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pi-2018-02-27.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "pi",
    "x-datafire": {
      "name": "amazonaws_pi",
      "type": "openapi"
    }
  },
  "host": "pi.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#X-Amz-Target=PerformanceInsightsv20180227.DescribeDimensionKeys": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "PerformanceInsightsv20180227.DescribeDimensionKeys"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDimensionKeysRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDimensionKeysResponse"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "InternalServiceError",
            "schema": {
              "$ref": "#/definitions/InternalServiceError"
            }
          },
          "482": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          }
        },
        "description": "<p>For a specific time period, retrieve the top <code>N</code> dimension keys for a metric.</p> <note> <p>Each response element returns a maximum of 500 bytes. For larger elements, such as SQL statements, only the first 500 bytes are returned.</p> </note>",
        "operationId": "DescribeDimensionKeys"
      }
    },
    "/#X-Amz-Target=PerformanceInsightsv20180227.GetResourceMetrics": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "PerformanceInsightsv20180227.GetResourceMetrics"
            ],
            "in": "header",
            "name": "X-Amz-Target",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetResourceMetricsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetResourceMetricsResponse"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "InternalServiceError",
            "schema": {
              "$ref": "#/definitions/InternalServiceError"
            }
          },
          "482": {
            "description": "NotAuthorizedException",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedException"
            }
          }
        },
        "description": "<p>Retrieve Performance Insights metrics for a set of data sources, over a time period. You can provide specific dimension groups and dimensions, and provide aggregation and filtering criteria for each group.</p> <note> <p>Each response element returns a maximum of 500 bytes. For larger elements, such as SQL statements, only the first 500 bytes are returned.</p> </note>",
        "operationId": "GetResourceMetrics"
      }
    }
  },
  "definitions": {
    "DataPoint": {
      "description": "A timestamp, and a single numerical value, which together represent a measurement at a particular point in time.",
      "properties": {
        "Timestamp": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "The time, in epoch format, associated with a particular <code>Value</code>."
            }
          ]
        },
        "Value": {
          "allOf": [
            {
              "$ref": "#/definitions/Double"
            },
            {
              "description": "The actual value associated with a particular <code>Timestamp</code>."
            }
          ]
        }
      },
      "required": [
        "Timestamp",
        "Value"
      ],
      "type": "object"
    },
    "DataPointsList": {
      "items": {
        "$ref": "#/definitions/DataPoint"
      },
      "type": "array"
    },
    "DescribeDimensionKeysRequest": {
      "properties": {
        "EndTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "<p>The date and time specifying the end of the requested time series data. The value specified is <i>exclusive</i>, which means that data points less than (but not equal to) <code>EndTime</code> are returned.</p> <p>The value for <code>EndTime</code> must be later than the value for <code>StartTime</code>.</p>"
            }
          ]
        },
        "Filter": {
          "allOf": [
            {
              "$ref": "#/definitions/MetricQueryFilterMap"
            },
            {
              "description": "<p>One or more filters to apply in the request. Restrictions:</p> <ul> <li> <p>Any number of filters by the same dimension, as specified in the <code>GroupBy</code> or <code>Partition</code> parameters.</p> </li> <li> <p>A single filter for any other dimension in this dimension group.</p> </li> </ul>"
            }
          ]
        },
        "GroupBy": {
          "allOf": [
            {
              "$ref": "#/definitions/DimensionGroup"
            },
            {
              "description": "A specification for how to aggregate the data points from a query result. You must specify a valid dimension group. Performance Insights returns all dimensions within this group, unless you provide the names of specific dimensions within this group. You can also request that Performance Insights return a limited number of values for a dimension."
            }
          ]
        },
        "Identifier": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from this data source.</p> <p>To use an Amazon RDS instance as a data source, you specify its <code>DbiResourceId</code> value. For example, specify <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code> </p>"
            }
          ]
        },
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResults"
            },
            {
              "description": "The maximum number of items to return in the response. If more items exist than the specified <code>MaxRecords</code> value, a pagination token is included in the response so that the remaining results can be retrieved. "
            }
          ]
        },
        "Metric": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>The name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code> are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code> - the raw number of active sessions for the database engine.</p> </li> </ul> <p>If the number of active sessions is less than an internal Performance Insights threshold, <code>db.load.avg</code> and <code>db.sampledload.avg</code> are the same value. If the number of active sessions is greater than the internal threshold, Performance Insights samples the active sessions, with <code>db.load.avg</code> showing the scaled values, <code>db.sampledload.avg</code> showing the raw values, and <code>db.sampledload.avg</code> less than <code>db.load.avg</code>. For most use cases, you can query <code>db.load.avg</code> only. </p>"
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the token, up to the value specified by <code>MaxRecords</code>."
            }
          ]
        },
        "PartitionBy": {
          "allOf": [
            {
              "$ref": "#/definitions/DimensionGroup"
            },
            {
              "description": "For each dimension specified in <code>GroupBy</code>, specify a secondary dimension to further subdivide the partition keys in the response."
            }
          ]
        },
        "PeriodInSeconds": {
          "allOf": [
            {
              "$ref": "#/definitions/Integer"
            },
            {
              "description": "<p>The granularity, in seconds, of the data points returned from Performance Insights. A period can be as short as one second, or as long as one day (86400 seconds). Valid values are:</p> <ul> <li> <p> <code>1</code> (one second)</p> </li> <li> <p> <code>60</code> (one minute)</p> </li> <li> <p> <code>300</code> (five minutes)</p> </li> <li> <p> <code>3600</code> (one hour)</p> </li> <li> <p> <code>86400</code> (twenty-four hours)</p> </li> </ul> <p>If you don't specify <code>PeriodInSeconds</code>, then Performance Insights chooses a value for you, with a goal of returning roughly 100-200 data points in the response.</p>"
            }
          ]
        },
        "ServiceType": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceType"
            },
            {
              "description": "The AWS service for which Performance Insights will return metrics. The only valid value for <i>ServiceType</i> is <code>RDS</code>."
            }
          ]
        },
        "StartTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "<p>The date and time specifying the beginning of the requested time series data. You must specify a <code>StartTime</code> within the past 7 days. The value specified is <i>inclusive</i>, which means that data points equal to or greater than <code>StartTime</code> are returned.</p> <p>The value for <code>StartTime</code> must be earlier than the value for <code>EndTime</code>.</p>"
            }
          ]
        }
      },
      "required": [
        "ServiceType",
        "Identifier",
        "StartTime",
        "EndTime",
        "Metric",
        "GroupBy"
      ],
      "title": "DescribeDimensionKeysRequest",
      "type": "object"
    },
    "DescribeDimensionKeysResponse": {
      "properties": {
        "AlignedEndTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "The end time for the returned dimension keys, after alignment to a granular boundary (as specified by <code>PeriodInSeconds</code>). <code>AlignedEndTime</code> will be greater than or equal to the value of the user-specified <code>Endtime</code>."
            }
          ]
        },
        "AlignedStartTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "The start time for the returned dimension keys, after alignment to a granular boundary (as specified by <code>PeriodInSeconds</code>). <code>AlignedStartTime</code> will be less than or equal to the value of the user-specified <code>StartTime</code>."
            }
          ]
        },
        "Keys": {
          "allOf": [
            {
              "$ref": "#/definitions/DimensionKeyDescriptionList"
            },
            {
              "description": "The dimension keys that were requested."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the token, up to the value specified by <code>MaxRecords</code>."
            }
          ]
        },
        "PartitionKeys": {
          "allOf": [
            {
              "$ref": "#/definitions/ResponsePartitionKeyList"
            },
            {
              "description": "If <code>PartitionBy</code> was present in the request, <code>PartitionKeys</code> contains the breakdown of dimension keys by the specified partitions."
            }
          ]
        }
      },
      "type": "object"
    },
    "DimensionGroup": {
      "description": "<p>A logical grouping of Performance Insights metrics for a related subject area. For example, the <code>db.sql</code> dimension group consists of the following dimensions: <code>db.sql.id</code>, <code>db.sql.db_id</code>, <code>db.sql.statement</code>, and <code>db.sql.tokenized_id</code>.</p> <note> <p>Each response element returns a maximum of 500 bytes. For larger elements, such as SQL statements, only the first 500 bytes are returned.</p> </note>",
      "properties": {
        "Dimensions": {
          "allOf": [
            {
              "$ref": "#/definitions/StringList"
            },
            {
              "description": "<p>A list of specific dimensions from a dimension group. If this parameter is not present, then it signifies that all of the dimensions in the group were requested, or are present in the response.</p> <p>Valid values for elements in the <code>Dimensions</code> array are:</p> <ul> <li> <p> <code>db.application.name</code> - The name of the application that is connected to the database (only Aurora PostgreSQL and RDS PostgreSQL)</p> </li> <li> <p> <code>db.host.id</code> - The host ID of the connected client (all engines)</p> </li> <li> <p> <code>db.host.name</code> - The host name of the connected client (all engines)</p> </li> <li> <p> <code>db.name</code> - The name of the database to which the client is connected (only Aurora PostgreSQL, RDS PostgreSQL, Aurora MySQL, RDS MySQL, and MariaDB)</p> </li> <li> <p> <code>db.session_type.name</code> - The type of the current session (only Aurora PostgreSQL and RDS PostgreSQL)</p> </li> <li> <p> <code>db.sql.id</code> - The SQL ID generated by Performance Insights (all engines)</p> </li> <li> <p> <code>db.sql.db_id</code> - The SQL ID generated by the database (all engines)</p> </li> <li> <p> <code>db.sql.statement</code> - The SQL text that is being executed (all engines)</p> </li> <li> <p> <code>db.sql.tokenized_id</code> </p> </li> <li> <p> <code>db.sql_tokenized.id</code> - The SQL digest ID generated by Performance Insights (all engines)</p> </li> <li> <p> <code>db.sql_tokenized.db_id</code> - SQL digest ID generated by the database (all engines)</p> </li> <li> <p> <code>db.sql_tokenized.statement</code> - The SQL digest text (all engines)</p> </li> <li> <p> <code>db.user.id</code> - The ID of the user logged in to the database (all engines)</p> </li> <li> <p> <code>db.user.name</code> - The name of the user logged in to the database (all engines)</p> </li> <li> <p> <code>db.wait_event.name</code> - The event for which the backend is waiting (all engines)</p> </li> <li> <p> <code>db.wait_event.type</code> - The type of event for which the backend is waiting (all engines)</p> </li> <li> <p> <code>db.wait_event_type.name</code> - The name of the event type for which the backend is waiting (all engines)</p> </li> </ul>"
            }
          ]
        },
        "Group": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>The name of the dimension group. Valid values are:</p> <ul> <li> <p> <code>db</code> - The name of the database to which the client is connected (only Aurora PostgreSQL, RDS PostgreSQL, Aurora MySQL, RDS MySQL, and MariaDB)</p> </li> <li> <p> <code>db.application</code> - The name of the application that is connected to the database (only Aurora PostgreSQL and RDS PostgreSQL)</p> </li> <li> <p> <code>db.host</code> - The host name of the connected client (all engines)</p> </li> <li> <p> <code>db.session_type</code> - The type of the current session (only Aurora PostgreSQL and RDS PostgreSQL)</p> </li> <li> <p> <code>db.sql</code> - The SQL that is currently executing (all engines)</p> </li> <li> <p> <code>db.sql_tokenized</code> - The SQL digest (all engines)</p> </li> <li> <p> <code>db.wait_event</code> - The event for which the database backend is waiting (all engines)</p> </li> <li> <p> <code>db.wait_event_type</code> - The type of event for which the database backend is waiting (all engines)</p> </li> <li> <p> <code>db.user</code> - The user logged in to the database (all engines)</p> </li> </ul>"
            }
          ]
        },
        "Limit": {
          "allOf": [
            {
              "$ref": "#/definitions/Limit"
            },
            {
              "description": "The maximum number of items to fetch for this dimension group."
            }
          ]
        }
      },
      "required": [
        "Group"
      ],
      "type": "object"
    },
    "DimensionKeyDescription": {
      "description": "An array of descriptions and aggregated values for each dimension within a dimension group.",
      "properties": {
        "Dimensions": {
          "allOf": [
            {
              "$ref": "#/definitions/DimensionMap"
            },
            {
              "description": "A map of name-value pairs for the dimensions in the group."
            }
          ]
        },
        "Partitions": {
          "allOf": [
            {
              "$ref": "#/definitions/MetricValuesList"
            },
            {
              "description": "If <code>PartitionBy</code> was specified, <code>PartitionKeys</code> contains the dimensions that were."
            }
          ]
        },
        "Total": {
          "allOf": [
            {
              "$ref": "#/definitions/Double"
            },
            {
              "description": "The aggregated metric value for the dimension(s), over the requested time range."
            }
          ]
        }
      },
      "type": "object"
    },
    "DimensionKeyDescriptionList": {
      "items": {
        "$ref": "#/definitions/DimensionKeyDescription"
      },
      "type": "array"
    },
    "DimensionMap": {
      "additionalProperties": {
        "$ref": "#/definitions/String"
      },
      "type": "object"
    },
    "Double": {
      "format": "double",
      "type": "number"
    },
    "GetResourceMetricsRequest": {
      "properties": {
        "EndTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "<p>The date and time specifying the end of the requested time series data. The value specified is <i>exclusive</i> - data points less than (but not equal to) <code>EndTime</code> will be returned.</p> <p>The value for <code>EndTime</code> must be later than the value for <code>StartTime</code>.</p>"
            }
          ]
        },
        "Identifier": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from this data source.</p> <p>To use a DB instance as a data source, specify its <code>DbiResourceId</code> value. For example, specify <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code>.</p>"
            }
          ]
        },
        "MaxResults": {
          "allOf": [
            {
              "$ref": "#/definitions/MaxResults"
            },
            {
              "description": "The maximum number of items to return in the response. If more items exist than the specified <code>MaxRecords</code> value, a pagination token is included in the response so that the remaining results can be retrieved. "
            }
          ]
        },
        "MetricQueries": {
          "allOf": [
            {
              "$ref": "#/definitions/MetricQueryList"
            },
            {
              "description": "An array of one or more queries to perform. Each query must specify a Performance Insights metric, and can optionally specify aggregation and filtering criteria."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the token, up to the value specified by <code>MaxRecords</code>."
            }
          ]
        },
        "PeriodInSeconds": {
          "allOf": [
            {
              "$ref": "#/definitions/Integer"
            },
            {
              "description": "<p>The granularity, in seconds, of the data points returned from Performance Insights. A period can be as short as one second, or as long as one day (86400 seconds). Valid values are:</p> <ul> <li> <p> <code>1</code> (one second)</p> </li> <li> <p> <code>60</code> (one minute)</p> </li> <li> <p> <code>300</code> (five minutes)</p> </li> <li> <p> <code>3600</code> (one hour)</p> </li> <li> <p> <code>86400</code> (twenty-four hours)</p> </li> </ul> <p>If you don't specify <code>PeriodInSeconds</code>, then Performance Insights will choose a value for you, with a goal of returning roughly 100-200 data points in the response.</p>"
            }
          ]
        },
        "ServiceType": {
          "allOf": [
            {
              "$ref": "#/definitions/ServiceType"
            },
            {
              "description": "The AWS service for which Performance Insights returns metrics. The only valid value for <i>ServiceType</i> is <code>RDS</code>."
            }
          ]
        },
        "StartTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "<p>The date and time specifying the beginning of the requested time series data. You can't specify a <code>StartTime</code> that's earlier than 7 days ago. The value specified is <i>inclusive</i> - data points equal to or greater than <code>StartTime</code> will be returned.</p> <p>The value for <code>StartTime</code> must be earlier than the value for <code>EndTime</code>.</p>"
            }
          ]
        }
      },
      "required": [
        "ServiceType",
        "Identifier",
        "MetricQueries",
        "StartTime",
        "EndTime"
      ],
      "title": "GetResourceMetricsRequest",
      "type": "object"
    },
    "GetResourceMetricsResponse": {
      "properties": {
        "AlignedEndTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "The end time for the returned metrics, after alignment to a granular boundary (as specified by <code>PeriodInSeconds</code>). <code>AlignedEndTime</code> will be greater than or equal to the value of the user-specified <code>Endtime</code>."
            }
          ]
        },
        "AlignedStartTime": {
          "allOf": [
            {
              "$ref": "#/definitions/ISOTimestamp"
            },
            {
              "description": "The start time for the returned metrics, after alignment to a granular boundary (as specified by <code>PeriodInSeconds</code>). <code>AlignedStartTime</code> will be less than or equal to the value of the user-specified <code>StartTime</code>."
            }
          ]
        },
        "Identifier": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from this data source.</p> <p>To use a DB instance as a data source, you specify its <code>DbiResourceId</code> value - for example: <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code> </p>"
            }
          ]
        },
        "MetricList": {
          "allOf": [
            {
              "$ref": "#/definitions/MetricKeyDataPointsList"
            },
            {
              "description": "An array of metric results,, where each array element contains all of the data points for a particular dimension."
            }
          ]
        },
        "NextToken": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the token, up to the value specified by <code>MaxRecords</code>."
            }
          ]
        }
      },
      "type": "object"
    },
    "ISOTimestamp": {
      "format": "date-time",
      "type": "string"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServiceError": {},
    "InvalidArgumentException": {},
    "Limit": {
      "maximum": 10,
      "minimum": 1,
      "type": "integer"
    },
    "MaxResults": {
      "maximum": 20,
      "minimum": 0,
      "type": "integer"
    },
    "MetricKeyDataPoints": {
      "description": "A time-ordered series of data points, corresponding to a dimension of a Performance Insights metric.",
      "properties": {
        "DataPoints": {
          "allOf": [
            {
              "$ref": "#/definitions/DataPointsList"
            },
            {
              "description": "An array of timestamp-value pairs, representing measurements over a period of time."
            }
          ]
        },
        "Key": {
          "allOf": [
            {
              "$ref": "#/definitions/ResponseResourceMetricKey"
            },
            {
              "description": "The dimension(s) to which the data points apply."
            }
          ]
        }
      },
      "type": "object"
    },
    "MetricKeyDataPointsList": {
      "items": {
        "$ref": "#/definitions/MetricKeyDataPoints"
      },
      "type": "array"
    },
    "MetricQuery": {
      "description": "A single query to be processed. You must provide the metric to query. If no other parameters are specified, Performance Insights returns all of the data points for that metric. You can optionally request that the data points be aggregated by dimension group ( <code>GroupBy</code>), and return only those data points that match your criteria (<code>Filter</code>).",
      "properties": {
        "Filter": {
          "allOf": [
            {
              "$ref": "#/definitions/MetricQueryFilterMap"
            },
            {
              "description": "<p>One or more filters to apply in the request. Restrictions:</p> <ul> <li> <p>Any number of filters by the same dimension, as specified in the <code>GroupBy</code> parameter.</p> </li> <li> <p>A single filter for any other dimension in this dimension group.</p> </li> </ul>"
            }
          ]
        },
        "GroupBy": {
          "allOf": [
            {
              "$ref": "#/definitions/DimensionGroup"
            },
            {
              "description": "A specification for how to aggregate the data points from a query result. You must specify a valid dimension group. Performance Insights will return all of the dimensions within that group, unless you provide the names of specific dimensions within that group. You can also request that Performance Insights return a limited number of values for a dimension."
            }
          ]
        },
        "Metric": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>The name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code> are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code> - the raw number of active sessions for the database engine.</p> </li> </ul> <p>If the number of active sessions is less than an internal Performance Insights threshold, <code>db.load.avg</code> and <code>db.sampledload.avg</code> are the same value. If the number of active sessions is greater than the internal threshold, Performance Insights samples the active sessions, with <code>db.load.avg</code> showing the scaled values, <code>db.sampledload.avg</code> showing the raw values, and <code>db.sampledload.avg</code> less than <code>db.load.avg</code>. For most use cases, you can query <code>db.load.avg</code> only. </p>"
            }
          ]
        }
      },
      "required": [
        "Metric"
      ],
      "type": "object"
    },
    "MetricQueryFilterMap": {
      "additionalProperties": {
        "$ref": "#/definitions/String"
      },
      "type": "object"
    },
    "MetricQueryList": {
      "items": {
        "$ref": "#/definitions/MetricQuery"
      },
      "maxItems": 15,
      "minItems": 1,
      "type": "array"
    },
    "MetricValuesList": {
      "items": {
        "$ref": "#/definitions/Double"
      },
      "type": "array"
    },
    "NotAuthorizedException": {},
    "ResponsePartitionKey": {
      "description": "If <code>PartitionBy</code> was specified in a <code>DescribeDimensionKeys</code> request, the dimensions are returned in an array. Each element in the array specifies one dimension. ",
      "properties": {
        "Dimensions": {
          "allOf": [
            {
              "$ref": "#/definitions/DimensionMap"
            },
            {
              "description": "A dimension map that contains the dimension(s) for this partition."
            }
          ]
        }
      },
      "required": [
        "Dimensions"
      ],
      "type": "object"
    },
    "ResponsePartitionKeyList": {
      "items": {
        "$ref": "#/definitions/ResponsePartitionKey"
      },
      "type": "array"
    },
    "ResponseResourceMetricKey": {
      "description": "An object describing a Performance Insights metric and one or more dimensions for that metric.",
      "properties": {
        "Dimensions": {
          "allOf": [
            {
              "$ref": "#/definitions/DimensionMap"
            },
            {
              "description": "The valid dimensions for the metric."
            }
          ]
        },
        "Metric": {
          "allOf": [
            {
              "$ref": "#/definitions/String"
            },
            {
              "description": "<p>The name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code> are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code> - the raw number of active sessions for the database engine.</p> </li> </ul> <p>If the number of active sessions is less than an internal Performance Insights threshold, <code>db.load.avg</code> and <code>db.sampledload.avg</code> are the same value. If the number of active sessions is greater than the internal threshold, Performance Insights samples the active sessions, with <code>db.load.avg</code> showing the scaled values, <code>db.sampledload.avg</code> showing the raw values, and <code>db.sampledload.avg</code> less than <code>db.load.avg</code>. For most use cases, you can query <code>db.load.avg</code> only. </p>"
            }
          ]
        }
      },
      "required": [
        "Metric"
      ],
      "type": "object"
    },
    "ServiceType": {
      "enum": [
        "RDS"
      ],
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "items": {
        "$ref": "#/definitions/String"
      },
      "maxItems": 10,
      "minItems": 1,
      "type": "array"
    }
  },
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/pi/"
  },
  "x-components": {
    "parameters": {
      "X-Amz-Algorithm": {
        "in": "header",
        "name": "X-Amz-Algorithm",
        "required": false,
        "type": "string"
      },
      "X-Amz-Content-Sha256": {
        "in": "header",
        "name": "X-Amz-Content-Sha256",
        "required": false,
        "type": "string"
      },
      "X-Amz-Credential": {
        "in": "header",
        "name": "X-Amz-Credential",
        "required": false,
        "type": "string"
      },
      "X-Amz-Date": {
        "in": "header",
        "name": "X-Amz-Date",
        "required": false,
        "type": "string"
      },
      "X-Amz-Security-Token": {
        "in": "header",
        "name": "X-Amz-Security-Token",
        "required": false,
        "type": "string"
      },
      "X-Amz-Signature": {
        "in": "header",
        "name": "X-Amz-Signature",
        "required": false,
        "type": "string"
      },
      "X-Amz-SignedHeaders": {
        "in": "header",
        "name": "X-Amz-SignedHeaders",
        "required": false,
        "type": "string"
      }
    }
  },
  "x-hasEquivalentPaths": true
}