{
  "swagger": "2.0",
  "info": {
    "description": "With the Movie Reviews API, you can search New York Times movie reviews by keyword and get lists of NYT Critics' Picks.",
    "termsOfService": "http://developer.nytimes.com/tou",
    "title": "Movie Reviews API",
    "version": "2.0.0",
    "x-apiClientRegistration": {
      "url": "http://developer.nytimes.com/signup"
    },
    "x-apisguru-categories": [
      "media",
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nytimes/public_api_specs/master/movie_reviews/movie_reviews_v2.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "nytimes.com",
    "x-serviceName": "movie_reviews",
    "x-datafire": {
      "name": "nytimes_movie_reviews",
      "type": "openapi"
    }
  },
  "host": "api.nytimes.com",
  "basePath": "/svc/movies/v2",
  "schemes": [
    "http"
  ],
  "paths": {
    "/critics/{resource-type}.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "all | full-time | part-time | [reviewer-name]\n\nSpecify all to get all Times reviewers, or specify full-time or part-time to get that subset. Specify a reviewer's name to get details about a particular reviewer.\n",
            "in": "path",
            "name": "resource-type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Movie Critics",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/Critic"
                  },
                  "type": "array"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/reviews/search.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Search keywords; matches movie title and indexed terms\n\nTo limit your search to exact matches only, surround your search string with single quotation marks (e.g., query='28+days+later'). Otherwise, responses will include partial matches (\"head words\") as well as exact matches (e.g., president will match president, presidents and presidential).\n  \n  If you specify multiple terms without quotation marks, they will be combined in an OR search.\n  \n  If you omit the query parameter, your request will be equivalent to a reviews and NYT Critics' Picks request.\n",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "Set this parameter to Y to limit the results to NYT Critics' Picks. To get only those movies that have not been highlighted by Times critics, specify critics-pick=N. (To get all reviews regardless of critics-pick status, simply omit this parameter.)\n",
            "enum": [
              "Y",
              "N"
            ],
            "in": "query",
            "name": "critics-pick",
            "type": "string"
          },
          {
            "description": "Include this parameter to limit your results to reviews by a specific critic. Reviewer names should be formatted like this: Manohla Dargis.\n",
            "in": "query",
            "name": "reviewer",
            "type": "string"
          },
          {
            "description": "Single date: YYYY-MM-DD\n\nStart and end date: YYYY-MM-DD;YYYY-MM-DD\n\nThe publication-date is the date the review was first published in The Times.\n",
            "in": "query",
            "name": "publication-date",
            "type": "string"
          },
          {
            "description": "Single date: YYYY-MM-DD\n\nStart and end date: YYYY-MM-DD;YYYY-MM-DD\n\nThe opening-date is the date the movie's opening date in the New York region.\n",
            "in": "query",
            "name": "opening-date",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "Positive integer, multiple of 20",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Sets the sort order of the results.\n\nResults ordered by-title are in ascending alphabetical order. Results ordered by one of the date parameters are in reverse chronological order.\n\nIf you do not specify a sort order, the results will be ordered by publication-date.\n",
            "in": "query",
            "name": "order",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Movies",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/Movie"
                  },
                  "type": "array"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/reviews/{resource-type}.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Specify all to retrieve all reviews, including NYT Critics' Picks.\n\nSpecify picks to get NYT Critics' Picks currently in theaters.\n\n",
            "enum": [
              "all",
              "picks"
            ],
            "in": "path",
            "name": "resource-type",
            "required": true,
            "type": "string"
          },
          {
            "default": 20,
            "description": "Positive integer, multiple of 20",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "default": "by-publication-date",
            "description": "Sets the sort order of the results.\n\nResults ordered by-title are in ascending alphabetical order. Results ordered by one of the date parameters are in reverse chronological order.\n\nIf you do not specify a sort order, the results will be ordered by publication-date.\n",
            "enum": [
              "by-title",
              "by-publication-date",
              "by-opening-date"
            ],
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Movies",
            "schema": {
              "properties": {
                "copyright": {
                  "type": "string"
                },
                "num_results": {
                  "type": "integer"
                },
                "results": {
                  "items": {
                    "$ref": "#/definitions/Movie"
                  },
                  "type": "array"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Critic": {
      "properties": {
        "bio": {
          "type": "string"
        },
        "display_name": {
          "type": "string"
        },
        "multimedia": {
          "properties": {
            "resource": {
              "properties": {
                "credit": {
                  "type": "string"
                },
                "height": {
                  "type": "integer"
                },
                "src": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "width": {
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "seo_name": {
          "type": "string"
        },
        "sort_name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Movie": {
      "properties": {
        "byline": {
          "type": "string"
        },
        "critics_pick": {
          "type": "integer"
        },
        "date_updated": {
          "type": "string"
        },
        "display_title": {
          "type": "string"
        },
        "headline": {
          "type": "string"
        },
        "link": {
          "properties": {
            "suggested_link_text": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "url": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "mpaa_rating": {
          "type": "string"
        },
        "multimedia": {
          "properties": {
            "resource": {
              "properties": {
                "height": {
                  "type": "integer"
                },
                "src": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "width": {
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "opening_date": {
          "type": "string"
        },
        "publication_date": {
          "type": "string"
        },
        "summary_short": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "apikey": {
      "in": "query",
      "name": "api-key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apikey": []
    }
  ],
  "externalDocs": {
    "url": "http://developer.nytimes.com/"
  },
  "x-components": {}
}