{
  "swagger": "2.0",
  "info": {
    "contact": {
      "x-twitter": "wso2"
    },
    "description": "This API provides XML to JSON, JSON to XML transformations.",
    "title": "Transform",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_wso2_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://developers.wso2apistore.com/api-docs/manjular-AT-wso2.com-AT-developer/Transform/1.0.0",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "wso2apistore.com",
    "x-serviceName": "transform",
    "x-datafire": {
      "name": "wso2apistore_transform",
      "type": "openapi"
    }
  },
  "host": "gateway.wso2apistore.com",
  "basePath": "/transform/1.0.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/jsontoxml": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "JSON payload",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "default": "{\"foo\":\"bar\"}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-auth-type": "None",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/xmltojson": {
      "post": {
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "XML payload",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "default": "<foo>bar</foo>",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-auth-type": "None",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "securityDefinitions": {
    "default": {
      "authorizationUrl": "https://gateway.api.cloud.wso2.com/authorize",
      "flow": "implicit",
      "scopes": {},
      "type": "oauth2"
    }
  },
  "x-components": {}
}