{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon Redshift</fullname> <p> <b>Overview</b> </p> <p>This is an interface reference for Amazon Redshift. It contains documentation for one of the programming or command line interfaces you can use to manage Amazon Redshift clusters. Note that Amazon Redshift is asynchronous, which means that some interfaces may require techniques, such as polling or asynchronous callback handlers, to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a change is applied immediately, on the next instance reboot, or during the next maintenance window. For a summary of the Amazon Redshift cluster management interfaces, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/using-aws-sdk.html\">Using the Amazon Redshift Management Interfaces</a>.</p> <p>Amazon Redshift manages all the work of setting up, operating, and scaling a data warehouse: provisioning capacity, monitoring and backing up the cluster, and applying patches and upgrades to the Amazon Redshift engine. You can focus on using your data to acquire new insights for your business and customers.</p> <p>If you are a first-time user of Amazon Redshift, we recommend that you begin by reading the <a href=\"https://docs.aws.amazon.com/redshift/latest/gsg/getting-started.html\">Amazon Redshift Getting Started Guide</a>.</p> <p>If you are a database developer, the <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/welcome.html\">Amazon Redshift Database Developer Guide</a> explains how to design, build, query, and maintain the databases that make up your data warehouse. </p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Redshift",
    "version": "2012-12-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/redshift-2012-12-01.normal.json",
        "x-apisguru-driver": "external"
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "redshift",
    "x-datafire": {
      "name": "amazonaws_redshift",
      "type": "openapi"
    }
  },
  "host": "redshift.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/#Action=AcceptReservedNodeExchange": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "A string representing the node identifier of the DC1 Reserved Node to be exchanged.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ReservedNodeId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique identifier of the DC2 Reserved Node offering to be used for the exchange. You can obtain the value for the parameter by calling <a>GetReservedNodeExchangeOfferings</a> ",
            "in": "query",
            "maxLength": 2147483647,
            "name": "TargetReservedNodeOfferingId",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "AcceptReservedNodeExchange"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AcceptReservedNodeExchangeOutputMessage"
            }
          },
          "480": {
            "description": "ReservedNodeNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedNodeNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReservedNodeStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReservedNodeStateFault"
            }
          },
          "482": {
            "description": "ReservedNodeAlreadyMigratedFault",
            "schema": {
              "$ref": "#/definitions/ReservedNodeAlreadyMigratedFault"
            }
          },
          "483": {
            "description": "ReservedNodeOfferingNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedNodeOfferingNotFoundFault"
            }
          },
          "484": {
            "description": "UnsupportedOperationFault",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperationFault"
            }
          },
          "485": {
            "description": "DependentServiceUnavailableFault",
            "schema": {
              "$ref": "#/definitions/DependentServiceUnavailableFault"
            }
          },
          "486": {
            "description": "ReservedNodeAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ReservedNodeAlreadyExistsFault"
            }
          }
        },
        "description": "Exchanges a DC1 Reserved Node for a DC2 Reserved Node with no changes to the configuration (term, payment type, or number of nodes) and no additional costs. ",
        "operationId": "GET_AcceptReservedNodeExchange",
        "x-aws-operation-name": "AcceptReservedNodeExchange"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "AcceptReservedNodeExchange"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AcceptReservedNodeExchangeInputMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AcceptReservedNodeExchangeOutputMessage"
            }
          },
          "480": {
            "description": "ReservedNodeNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedNodeNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReservedNodeStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReservedNodeStateFault"
            }
          },
          "482": {
            "description": "ReservedNodeAlreadyMigratedFault",
            "schema": {
              "$ref": "#/definitions/ReservedNodeAlreadyMigratedFault"
            }
          },
          "483": {
            "description": "ReservedNodeOfferingNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedNodeOfferingNotFoundFault"
            }
          },
          "484": {
            "description": "UnsupportedOperationFault",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperationFault"
            }
          },
          "485": {
            "description": "DependentServiceUnavailableFault",
            "schema": {
              "$ref": "#/definitions/DependentServiceUnavailableFault"
            }
          },
          "486": {
            "description": "ReservedNodeAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ReservedNodeAlreadyExistsFault"
            }
          }
        },
        "description": "Exchanges a DC1 Reserved Node for a DC2 Reserved Node with no changes to the configuration (term, payment type, or number of nodes) and no additional costs. ",
        "operationId": "POST_AcceptReservedNodeExchange",
        "x-aws-operation-name": "AcceptReservedNodeExchange"
      }
    },
    "/#Action=AuthorizeClusterSecurityGroupIngress": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The name of the security group to which the ingress rule is added.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterSecurityGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The IP range to be added the Amazon Redshift security group.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "CIDRIP",
            "required": false,
            "type": "string"
          },
          {
            "description": "The EC2 security group to be added the Amazon Redshift security group.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "EC2SecurityGroupName",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The AWS account number of the owner of the security group specified by the <i>EC2SecurityGroupName</i> parameter. The AWS Access Key ID is not an acceptable value. </p> <p>Example: <code>111122223333</code> </p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "EC2SecurityGroupOwnerId",
            "required": false,
            "type": "string"
          },
          {
            "enum": [
              "AuthorizeClusterSecurityGroupIngress"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeClusterSecurityGroupIngressResult"
            }
          },
          "480": {
            "description": "ClusterSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidClusterSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "483": {
            "description": "AuthorizationQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationQuotaExceededFault"
            }
          }
        },
        "description": "<p>Adds an inbound (ingress) rule to an Amazon Redshift security group. Depending on whether the application accessing your cluster is running on the Internet or an Amazon EC2 instance, you can authorize inbound access to either a Classless Interdomain Routing (CIDR)/Internet Protocol (IP) range or to an Amazon EC2 security group. You can add as many as 20 ingress rules to an Amazon Redshift security group.</p> <p>If you authorize access to an Amazon EC2 security group, specify <i>EC2SecurityGroupName</i> and <i>EC2SecurityGroupOwnerId</i>. The Amazon EC2 security group and Amazon Redshift cluster must be in the same AWS Region. </p> <p>If you authorize access to a CIDR/IP address range, specify <i>CIDRIP</i>. For an overview of CIDR blocks, see the Wikipedia article on <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>. </p> <p>You must also associate the security group with a cluster so that clients running on these IP addresses or the EC2 instance are authorized to connect to the cluster. For information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Working with Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "GET_AuthorizeClusterSecurityGroupIngress",
        "x-aws-operation-name": "AuthorizeClusterSecurityGroupIngress"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "AuthorizeClusterSecurityGroupIngress"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AuthorizeClusterSecurityGroupIngressMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeClusterSecurityGroupIngressResult"
            }
          },
          "480": {
            "description": "ClusterSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidClusterSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "483": {
            "description": "AuthorizationQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationQuotaExceededFault"
            }
          }
        },
        "description": "<p>Adds an inbound (ingress) rule to an Amazon Redshift security group. Depending on whether the application accessing your cluster is running on the Internet or an Amazon EC2 instance, you can authorize inbound access to either a Classless Interdomain Routing (CIDR)/Internet Protocol (IP) range or to an Amazon EC2 security group. You can add as many as 20 ingress rules to an Amazon Redshift security group.</p> <p>If you authorize access to an Amazon EC2 security group, specify <i>EC2SecurityGroupName</i> and <i>EC2SecurityGroupOwnerId</i>. The Amazon EC2 security group and Amazon Redshift cluster must be in the same AWS Region. </p> <p>If you authorize access to a CIDR/IP address range, specify <i>CIDRIP</i>. For an overview of CIDR blocks, see the Wikipedia article on <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>. </p> <p>You must also associate the security group with a cluster so that clients running on these IP addresses or the EC2 instance are authorized to connect to the cluster. For information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Working with Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "POST_AuthorizeClusterSecurityGroupIngress",
        "x-aws-operation-name": "AuthorizeClusterSecurityGroupIngress"
      }
    },
    "/#Action=AuthorizeSnapshotAccess": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The identifier of the snapshot the account is authorized to restore.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "SnapshotIdentifier",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the cluster the snapshot was created from. This parameter is required if your IAM user has a policy containing a snapshot resource element that specifies anything other than * for the cluster name.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "SnapshotClusterIdentifier",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The identifier of the AWS customer account authorized to restore the specified snapshot.</p> <p>To share a snapshot with AWS support, specify amazon-redshift-support.</p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "AccountWithRestoreAccess",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "AuthorizeSnapshotAccess"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeSnapshotAccessResult"
            }
          },
          "480": {
            "description": "ClusterSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotNotFoundFault"
            }
          },
          "481": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "482": {
            "description": "AuthorizationQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationQuotaExceededFault"
            }
          },
          "483": {
            "description": "DependentServiceRequestThrottlingFault",
            "schema": {
              "$ref": "#/definitions/DependentServiceRequestThrottlingFault"
            }
          },
          "484": {
            "description": "InvalidClusterSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterSnapshotStateFault"
            }
          },
          "485": {
            "description": "LimitExceededFault",
            "schema": {
              "$ref": "#/definitions/LimitExceededFault"
            }
          }
        },
        "description": "<p>Authorizes the specified AWS customer account to restore the specified snapshot.</p> <p> For more information about working with snapshots, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "GET_AuthorizeSnapshotAccess",
        "x-aws-operation-name": "AuthorizeSnapshotAccess"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "AuthorizeSnapshotAccess"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AuthorizeSnapshotAccessMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeSnapshotAccessResult"
            }
          },
          "480": {
            "description": "ClusterSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotNotFoundFault"
            }
          },
          "481": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "482": {
            "description": "AuthorizationQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationQuotaExceededFault"
            }
          },
          "483": {
            "description": "DependentServiceRequestThrottlingFault",
            "schema": {
              "$ref": "#/definitions/DependentServiceRequestThrottlingFault"
            }
          },
          "484": {
            "description": "InvalidClusterSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterSnapshotStateFault"
            }
          },
          "485": {
            "description": "LimitExceededFault",
            "schema": {
              "$ref": "#/definitions/LimitExceededFault"
            }
          }
        },
        "description": "<p>Authorizes the specified AWS customer account to restore the specified snapshot.</p> <p> For more information about working with snapshots, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "POST_AuthorizeSnapshotAccess",
        "x-aws-operation-name": "AuthorizeSnapshotAccess"
      }
    },
    "/#Action=BatchDeleteClusterSnapshots": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "A list of identifiers for the snapshots that you want to delete.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/DeleteClusterSnapshotMessage"
                },
                {
                  "xml": {
                    "name": "DeleteClusterSnapshotMessage"
                  }
                }
              ]
            },
            "name": "Identifiers",
            "required": true,
            "type": "array"
          },
          {
            "enum": [
              "BatchDeleteClusterSnapshots"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeleteClusterSnapshotsResult"
            }
          },
          "480": {
            "description": "BatchDeleteRequestSizeExceededFault",
            "schema": {
              "$ref": "#/definitions/BatchDeleteRequestSizeExceededFault"
            }
          }
        },
        "description": "Deletes a set of cluster snapshots.",
        "operationId": "GET_BatchDeleteClusterSnapshots",
        "x-aws-operation-name": "BatchDeleteClusterSnapshots"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "BatchDeleteClusterSnapshots"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchDeleteClusterSnapshotsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeleteClusterSnapshotsResult"
            }
          },
          "480": {
            "description": "BatchDeleteRequestSizeExceededFault",
            "schema": {
              "$ref": "#/definitions/BatchDeleteRequestSizeExceededFault"
            }
          }
        },
        "description": "Deletes a set of cluster snapshots.",
        "operationId": "POST_BatchDeleteClusterSnapshots",
        "x-aws-operation-name": "BatchDeleteClusterSnapshots"
      }
    },
    "/#Action=BatchModifyClusterSnapshots": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "collectionFormat": "multi",
            "description": "A list of snapshot identifiers you want to modify.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "String"
                  }
                }
              ]
            },
            "name": "SnapshotIdentifierList",
            "required": true,
            "type": "array"
          },
          {
            "description": "<p>The number of days that a manual snapshot is retained. If you specify the value -1, the manual snapshot is retained indefinitely.</p> <p>The number must be either -1 or an integer between 1 and 3,653.</p> <p>If you decrease the manual snapshot retention period from its current value, existing manual snapshots that fall outside of the new retention period will return an error. If you want to suppress the errors and delete the snapshots, use the force option. </p>",
            "in": "query",
            "name": "ManualSnapshotRetentionPeriod",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A boolean value indicating whether to override an exception if the retention period has passed. ",
            "in": "query",
            "name": "Force",
            "required": false,
            "type": "boolean"
          },
          {
            "enum": [
              "BatchModifyClusterSnapshots"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchModifyClusterSnapshotsOutputMessage"
            }
          },
          "480": {
            "description": "InvalidRetentionPeriodFault",
            "schema": {
              "$ref": "#/definitions/InvalidRetentionPeriodFault"
            }
          },
          "481": {
            "description": "BatchModifyClusterSnapshotsLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/BatchModifyClusterSnapshotsLimitExceededFault"
            }
          }
        },
        "description": "Modifies the settings for a set of cluster snapshots.",
        "operationId": "GET_BatchModifyClusterSnapshots",
        "x-aws-operation-name": "BatchModifyClusterSnapshots"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "BatchModifyClusterSnapshots"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchModifyClusterSnapshotsMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchModifyClusterSnapshotsOutputMessage"
            }
          },
          "480": {
            "description": "InvalidRetentionPeriodFault",
            "schema": {
              "$ref": "#/definitions/InvalidRetentionPeriodFault"
            }
          },
          "481": {
            "description": "BatchModifyClusterSnapshotsLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/BatchModifyClusterSnapshotsLimitExceededFault"
            }
          }
        },
        "description": "Modifies the settings for a set of cluster snapshots.",
        "operationId": "POST_BatchModifyClusterSnapshots",
        "x-aws-operation-name": "BatchModifyClusterSnapshots"
      }
    },
    "/#Action=CancelResize": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the cluster that you want to cancel a resize operation for.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterIdentifier",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "CancelResize"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResizeProgressMessage"
            }
          },
          "480": {
            "description": "ClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterNotFoundFault"
            }
          },
          "481": {
            "description": "ResizeNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ResizeNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterStateFault"
            }
          },
          "483": {
            "description": "UnsupportedOperationFault",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperationFault"
            }
          }
        },
        "description": "Cancels a resize operation for a cluster.",
        "operationId": "GET_CancelResize",
        "x-aws-operation-name": "CancelResize"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CancelResize"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CancelResizeMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResizeProgressMessage"
            }
          },
          "480": {
            "description": "ClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterNotFoundFault"
            }
          },
          "481": {
            "description": "ResizeNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ResizeNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterStateFault"
            }
          },
          "483": {
            "description": "UnsupportedOperationFault",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperationFault"
            }
          }
        },
        "description": "Cancels a resize operation for a cluster.",
        "operationId": "POST_CancelResize",
        "x-aws-operation-name": "CancelResize"
      }
    },
    "/#Action=CopyClusterSnapshot": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The identifier for the source snapshot.</p> <p>Constraints:</p> <ul> <li> <p>Must be the identifier for a valid automated snapshot whose state is <code>available</code>.</p> </li> </ul>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "SourceSnapshotIdentifier",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The identifier of the cluster the source snapshot was created from. This parameter is required if your IAM user has a policy containing a snapshot resource element that specifies anything other than * for the cluster name.</p> <p>Constraints:</p> <ul> <li> <p>Must be the identifier for a valid cluster.</p> </li> </ul>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "SourceSnapshotClusterIdentifier",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The identifier given to the new manual snapshot.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> <li> <p>Must be unique for the AWS account that is making the request.</p> </li> </ul>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "TargetSnapshotIdentifier",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The number of days that a manual snapshot is retained. If the value is -1, the manual snapshot is retained indefinitely. </p> <p>The value must be either -1 or an integer between 1 and 3,653.</p> <p>The default value is -1.</p>",
            "in": "query",
            "name": "ManualSnapshotRetentionPeriod",
            "required": false,
            "type": "integer"
          },
          {
            "enum": [
              "CopyClusterSnapshot"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopyClusterSnapshotResult"
            }
          },
          "480": {
            "description": "ClusterSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "ClusterSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidClusterSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterSnapshotStateFault"
            }
          },
          "483": {
            "description": "ClusterSnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotQuotaExceededFault"
            }
          },
          "484": {
            "description": "InvalidRetentionPeriodFault",
            "schema": {
              "$ref": "#/definitions/InvalidRetentionPeriodFault"
            }
          }
        },
        "description": "<p>Copies the specified automated cluster snapshot to a new manual cluster snapshot. The source must be an automated snapshot and it must be in the available state.</p> <p>When you delete a cluster, Amazon Redshift deletes any automated snapshots of the cluster. Also, when the retention period of the snapshot expires, Amazon Redshift automatically deletes it. If you want to keep an automated snapshot for a longer period, you can make a manual copy of the snapshot. Manual snapshots are retained until you delete them.</p> <p> For more information about working with snapshots, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "GET_CopyClusterSnapshot",
        "x-aws-operation-name": "CopyClusterSnapshot"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CopyClusterSnapshot"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CopyClusterSnapshotMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopyClusterSnapshotResult"
            }
          },
          "480": {
            "description": "ClusterSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "ClusterSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidClusterSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterSnapshotStateFault"
            }
          },
          "483": {
            "description": "ClusterSnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotQuotaExceededFault"
            }
          },
          "484": {
            "description": "InvalidRetentionPeriodFault",
            "schema": {
              "$ref": "#/definitions/InvalidRetentionPeriodFault"
            }
          }
        },
        "description": "<p>Copies the specified automated cluster snapshot to a new manual cluster snapshot. The source must be an automated snapshot and it must be in the available state.</p> <p>When you delete a cluster, Amazon Redshift deletes any automated snapshots of the cluster. Also, when the retention period of the snapshot expires, Amazon Redshift automatically deletes it. If you want to keep an automated snapshot for a longer period, you can make a manual copy of the snapshot. Manual snapshots are retained until you delete them.</p> <p> For more information about working with snapshots, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "POST_CopyClusterSnapshot",
        "x-aws-operation-name": "CopyClusterSnapshot"
      }
    },
    "/#Action=CreateCluster": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The name of the first database to be created when the cluster is created.</p> <p>To create additional databases after the cluster is created, connect to the cluster with a SQL client and use SQL commands to create a database. For more information, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/t_creating_database.html\">Create a Database</a> in the Amazon Redshift Database Developer Guide. </p> <p>Default: <code>dev</code> </p> <p>Constraints:</p> <ul> <li> <p>Must contain 1 to 64 alphanumeric characters.</p> </li> <li> <p>Must contain only lowercase letters.</p> </li> <li> <p>Cannot be a word that is reserved by the service. A list of reserved words can be found in <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_pg_keywords.html\">Reserved Words</a> in the Amazon Redshift Database Developer Guide. </p> </li> </ul>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "DBName",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>A unique identifier for the cluster. You use this identifier to refer to the cluster for any subsequent cluster operations such as deleting or modifying. The identifier also appears in the Amazon Redshift console.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>Alphabetic characters must be lowercase.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> <li> <p>Must be unique for all clusters within an AWS account.</p> </li> </ul> <p>Example: <code>myexamplecluster</code> </p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterIdentifier",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The type of the cluster. When cluster type is specified as</p> <ul> <li> <p> <code>single-node</code>, the <b>NumberOfNodes</b> parameter is not required.</p> </li> <li> <p> <code>multi-node</code>, the <b>NumberOfNodes</b> parameter is required.</p> </li> </ul> <p>Valid Values: <code>multi-node</code> | <code>single-node</code> </p> <p>Default: <code>multi-node</code> </p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterType",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The node type to be provisioned for the cluster. For information about node types, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html#how-many-nodes\"> Working with Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>. </p> <p>Valid Values: <code>ds2.xlarge</code> | <code>ds2.8xlarge</code> | <code>dc1.large</code> | <code>dc1.8xlarge</code> | <code>dc2.large</code> | <code>dc2.8xlarge</code> | <code>ra3.xlplus</code> | <code>ra3.4xlarge</code> | <code>ra3.16xlarge</code> </p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "NodeType",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The user name associated with the master user account for the cluster that is being created.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 - 128 alphanumeric characters. The user name can't be <code>PUBLIC</code>.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot be a reserved word. A list of reserved words can be found in <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_pg_keywords.html\">Reserved Words</a> in the Amazon Redshift Database Developer Guide. </p> </li> </ul>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "MasterUsername",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The password associated with the master user account for the cluster that is being created.</p> <p>Constraints:</p> <ul> <li> <p>Must be between 8 and 64 characters in length.</p> </li> <li> <p>Must contain at least one uppercase letter.</p> </li> <li> <p>Must contain at least one lowercase letter.</p> </li> <li> <p>Must contain one number.</p> </li> <li> <p>Can be any printable ASCII character (ASCII code 33 to 126) except ' (single quote), \" (double quote), \\, /, @, or space.</p> </li> </ul>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "MasterUserPassword",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>A list of security groups to be associated with this cluster.</p> <p>Default: The default cluster security group for Amazon Redshift.</p>",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "ClusterSecurityGroupName"
                  }
                }
              ]
            },
            "name": "ClusterSecurityGroups",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>A list of Virtual Private Cloud (VPC) security groups to be associated with the cluster.</p> <p>Default: The default VPC security group is associated with the cluster.</p>",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "VpcSecurityGroupId"
                  }
                }
              ]
            },
            "name": "VpcSecurityGroupIds",
            "required": false,
            "type": "array"
          },
          {
            "description": "<p>The name of a cluster subnet group to be associated with this cluster.</p> <p>If this parameter is not provided the resulting cluster will be deployed outside virtual private cloud (VPC).</p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterSubnetGroupName",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The EC2 Availability Zone (AZ) in which you want Amazon Redshift to provision the cluster. For example, if you have several EC2 instances running in a specific Availability Zone, then you might want the cluster to be provisioned in the same zone in order to decrease network latency.</p> <p>Default: A random, system-chosen Availability Zone in the region that is specified by the endpoint.</p> <p>Example: <code>us-east-2d</code> </p> <p>Constraint: The specified Availability Zone must be in the same region as the current endpoint.</p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "AvailabilityZone",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The weekly time range (in UTC) during which automated cluster maintenance can occur.</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p> Default: A 30-minute window selected at random from an 8-hour block of time per region, occurring on a random day of the week. For more information about the time blocks for each region, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html#rs-maintenance-windows\">Maintenance Windows</a> in Amazon Redshift Cluster Management Guide.</p> <p>Valid Days: Mon | Tue | Wed | Thu | Fri | Sat | Sun</p> <p>Constraints: Minimum 30-minute window.</p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "PreferredMaintenanceWindow",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The name of the parameter group to be associated with this cluster.</p> <p>Default: The default Amazon Redshift cluster parameter group. For information about the default parameter group, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Working with Amazon Redshift Parameter Groups</a> </p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterParameterGroupName",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The number of days that automated snapshots are retained. If the value is 0, automated snapshots are disabled. Even if automated snapshots are disabled, you can still create manual snapshots when you want with <a>CreateClusterSnapshot</a>. </p> <p>Default: <code>1</code> </p> <p>Constraints: Must be a value from 0 to 35.</p>",
            "in": "query",
            "name": "AutomatedSnapshotRetentionPeriod",
            "required": false,
            "type": "integer"
          },
          {
            "description": "<p>The default number of days to retain a manual snapshot. If the value is -1, the snapshot is retained indefinitely. This setting doesn't change the retention period of existing snapshots.</p> <p>The value must be either -1 or an integer between 1 and 3,653.</p>",
            "in": "query",
            "name": "ManualSnapshotRetentionPeriod",
            "required": false,
            "type": "integer"
          },
          {
            "description": "<p>The port number on which the cluster accepts incoming connections.</p> <p>The cluster is accessible only via the JDBC and ODBC connection strings. Part of the connection string requires the port on which the cluster will listen for incoming connections.</p> <p>Default: <code>5439</code> </p> <p>Valid Values: <code>1150-65535</code> </p>",
            "in": "query",
            "name": "Port",
            "required": false,
            "type": "integer"
          },
          {
            "description": "<p>The version of the Amazon Redshift engine software that you want to deploy on the cluster.</p> <p>The version selected runs on all the nodes in the cluster.</p> <p>Constraints: Only version 1.0 is currently available.</p> <p>Example: <code>1.0</code> </p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterVersion",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>If <code>true</code>, major version upgrades can be applied during the maintenance window to the Amazon Redshift engine that is running on the cluster.</p> <p>When a new major version of the Amazon Redshift engine is released, you can request that the service automatically apply upgrades during the maintenance window to the Amazon Redshift engine that is running on your cluster.</p> <p>Default: <code>true</code> </p>",
            "in": "query",
            "name": "AllowVersionUpgrade",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "<p>The number of compute nodes in the cluster. This parameter is required when the <b>ClusterType</b> parameter is specified as <code>multi-node</code>. </p> <p>For information about determining how many nodes you need, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html#how-many-nodes\"> Working with Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>. </p> <p>If you don't specify this parameter, you get a single-node cluster. When requesting a multi-node cluster, you must specify the number of nodes that you want in the cluster.</p> <p>Default: <code>1</code> </p> <p>Constraints: Value must be at least 1 and no more than 100.</p>",
            "in": "query",
            "name": "NumberOfNodes",
            "required": false,
            "type": "integer"
          },
          {
            "description": "If <code>true</code>, the cluster can be accessed from a public network. ",
            "in": "query",
            "name": "PubliclyAccessible",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "<p>If <code>true</code>, the data in the cluster is encrypted at rest. </p> <p>Default: false</p>",
            "in": "query",
            "name": "Encrypted",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Specifies the name of the HSM client certificate the Amazon Redshift cluster uses to retrieve the data encryption keys stored in an HSM.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "HsmClientCertificateIdentifier",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies the name of the HSM configuration that contains the information the Amazon Redshift cluster can use to retrieve and store keys in an HSM.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "HsmConfigurationIdentifier",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>The Elastic IP (EIP) address for the cluster.</p> <p>Constraints: The cluster must be provisioned in EC2-VPC and publicly-accessible through an Internet gateway. For more information about provisioning clusters in EC2-VPC, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html#cluster-platforms\">Supported Platforms to Launch Your Cluster</a> in the Amazon Redshift Cluster Management Guide.</p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ElasticIp",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of tag instances.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/Tag"
                },
                {
                  "xml": {
                    "name": "Tag"
                  }
                }
              ]
            },
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "description": "The AWS Key Management Service (KMS) key ID of the encryption key that you want to use to encrypt data in the cluster.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "KmsKeyId",
            "required": false,
            "type": "string"
          },
          {
            "description": "<p>An option that specifies whether to create the cluster with enhanced VPC routing enabled. To create a cluster that uses enhanced VPC routing, the cluster must be in a VPC. For more information, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/enhanced-vpc-routing.html\">Enhanced VPC Routing</a> in the Amazon Redshift Cluster Management Guide.</p> <p>If this option is <code>true</code>, enhanced VPC routing is enabled. </p> <p>Default: false</p>",
            "in": "query",
            "name": "EnhancedVpcRouting",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Reserved.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "AdditionalInfo",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "<p>A list of AWS Identity and Access Management (IAM) roles that can be used by the cluster to access other AWS services. You must supply the IAM roles in their Amazon Resource Name (ARN) format. You can supply up to 10 IAM roles in a single request.</p> <p>A cluster can have up to 10 IAM roles associated with it at any time.</p>",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/String"
                },
                {
                  "xml": {
                    "name": "IamRoleArn"
                  }
                }
              ]
            },
            "name": "IamRoles",
            "required": false,
            "type": "array"
          },
          {
            "description": "An optional parameter for the name of the maintenance track for the cluster. If you don't provide a maintenance track name, the cluster is assigned to the <code>current</code> track.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "MaintenanceTrackName",
            "required": false,
            "type": "string"
          },
          {
            "description": "A unique identifier for the snapshot schedule.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "SnapshotScheduleIdentifier",
            "required": false,
            "type": "string"
          },
          {
            "description": "The option to enable relocation for an Amazon Redshift cluster between Availability Zones after the cluster is created.",
            "in": "query",
            "name": "AvailabilityZoneRelocation",
            "required": false,
            "type": "boolean"
          },
          {
            "enum": [
              "CreateCluster"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateClusterResult"
            }
          },
          "480": {
            "description": "ClusterAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InsufficientClusterCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientClusterCapacityFault"
            }
          },
          "482": {
            "description": "ClusterParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterParameterGroupNotFoundFault"
            }
          },
          "483": {
            "description": "ClusterSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSecurityGroupNotFoundFault"
            }
          },
          "484": {
            "description": "ClusterQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaExceededFault"
            }
          },
          "485": {
            "description": "NumberOfNodesQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/NumberOfNodesQuotaExceededFault"
            }
          },
          "486": {
            "description": "NumberOfNodesPerClusterLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/NumberOfNodesPerClusterLimitExceededFault"
            }
          },
          "487": {
            "description": "ClusterSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSubnetGroupNotFoundFault"
            }
          },
          "488": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "489": {
            "description": "InvalidClusterSubnetGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterSubnetGroupStateFault"
            }
          },
          "490": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "491": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "492": {
            "description": "HsmClientCertificateNotFoundFault",
            "schema": {
              "$ref": "#/definitions/HsmClientCertificateNotFoundFault"
            }
          },
          "493": {
            "description": "HsmConfigurationNotFoundFault",
            "schema": {
              "$ref": "#/definitions/HsmConfigurationNotFoundFault"
            }
          },
          "494": {
            "description": "InvalidElasticIpFault",
            "schema": {
              "$ref": "#/definitions/InvalidElasticIpFault"
            }
          },
          "495": {
            "description": "TagLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededFault"
            }
          },
          "496": {
            "description": "InvalidTagFault",
            "schema": {
              "$ref": "#/definitions/InvalidTagFault"
            }
          },
          "497": {
            "description": "LimitExceededFault",
            "schema": {
              "$ref": "#/definitions/LimitExceededFault"
            }
          },
          "498": {
            "description": "DependentServiceRequestThrottlingFault",
            "schema": {
              "$ref": "#/definitions/DependentServiceRequestThrottlingFault"
            }
          },
          "499": {
            "description": "InvalidClusterTrackFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterTrackFault"
            }
          },
          "500": {
            "description": "SnapshotScheduleNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotScheduleNotFoundFault"
            }
          },
          "501": {
            "description": "InvalidRetentionPeriodFault",
            "schema": {
              "$ref": "#/definitions/InvalidRetentionPeriodFault"
            }
          }
        },
        "description": "<p>Creates a new cluster with the specified parameters.</p> <p>To create a cluster in Virtual Private Cloud (VPC), you must provide a cluster subnet group name. The cluster subnet group identifies the subnets of your VPC that Amazon Redshift uses when creating the cluster. For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "GET_CreateCluster",
        "x-aws-operation-name": "CreateCluster"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateCluster"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateClusterMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateClusterResult"
            }
          },
          "480": {
            "description": "ClusterAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InsufficientClusterCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientClusterCapacityFault"
            }
          },
          "482": {
            "description": "ClusterParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterParameterGroupNotFoundFault"
            }
          },
          "483": {
            "description": "ClusterSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSecurityGroupNotFoundFault"
            }
          },
          "484": {
            "description": "ClusterQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaExceededFault"
            }
          },
          "485": {
            "description": "NumberOfNodesQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/NumberOfNodesQuotaExceededFault"
            }
          },
          "486": {
            "description": "NumberOfNodesPerClusterLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/NumberOfNodesPerClusterLimitExceededFault"
            }
          },
          "487": {
            "description": "ClusterSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterSubnetGroupNotFoundFault"
            }
          },
          "488": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "489": {
            "description": "InvalidClusterSubnetGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterSubnetGroupStateFault"
            }
          },
          "490": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "491": {
            "description": "UnauthorizedOperation",
            "schema": {
              "$ref": "#/definitions/UnauthorizedOperation"
            }
          },
          "492": {
            "description": "HsmClientCertificateNotFoundFault",
            "schema": {
              "$ref": "#/definitions/HsmClientCertificateNotFoundFault"
            }
          },
          "493": {
            "description": "HsmConfigurationNotFoundFault",
            "schema": {
              "$ref": "#/definitions/HsmConfigurationNotFoundFault"
            }
          },
          "494": {
            "description": "InvalidElasticIpFault",
            "schema": {
              "$ref": "#/definitions/InvalidElasticIpFault"
            }
          },
          "495": {
            "description": "TagLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededFault"
            }
          },
          "496": {
            "description": "InvalidTagFault",
            "schema": {
              "$ref": "#/definitions/InvalidTagFault"
            }
          },
          "497": {
            "description": "LimitExceededFault",
            "schema": {
              "$ref": "#/definitions/LimitExceededFault"
            }
          },
          "498": {
            "description": "DependentServiceRequestThrottlingFault",
            "schema": {
              "$ref": "#/definitions/DependentServiceRequestThrottlingFault"
            }
          },
          "499": {
            "description": "InvalidClusterTrackFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterTrackFault"
            }
          },
          "500": {
            "description": "SnapshotScheduleNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotScheduleNotFoundFault"
            }
          },
          "501": {
            "description": "InvalidRetentionPeriodFault",
            "schema": {
              "$ref": "#/definitions/InvalidRetentionPeriodFault"
            }
          }
        },
        "description": "<p>Creates a new cluster with the specified parameters.</p> <p>To create a cluster in Virtual Private Cloud (VPC), you must provide a cluster subnet group name. The cluster subnet group identifies the subnets of your VPC that Amazon Redshift uses when creating the cluster. For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "POST_CreateCluster",
        "x-aws-operation-name": "CreateCluster"
      }
    },
    "/#Action=CreateClusterParameterGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The name of the cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> <li> <p>Must be unique withing your AWS account.</p> </li> </ul> <note> <p>This value is stored as a lower-case string.</p> </note>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ParameterGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The Amazon Redshift engine version to which the cluster parameter group applies. The cluster engine version determines the set of parameters.</p> <p>To get a list of valid parameter group family names, you can call <a>DescribeClusterParameterGroups</a>. By default, Amazon Redshift returns a list of all the parameter groups that are owned by your AWS account, including the default parameter groups for each Amazon Redshift engine version. The parameter group family names associated with the default parameter groups provide you the valid values. For example, a valid family name is \"redshift-1.0\". </p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ParameterGroupFamily",
            "required": true,
            "type": "string"
          },
          {
            "description": "A description of the parameter group.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "Description",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of tag instances.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/Tag"
                },
                {
                  "xml": {
                    "name": "Tag"
                  }
                }
              ]
            },
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "CreateClusterParameterGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateClusterParameterGroupResult"
            }
          },
          "480": {
            "description": "ClusterParameterGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterParameterGroupQuotaExceededFault"
            }
          },
          "481": {
            "description": "ClusterParameterGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterParameterGroupAlreadyExistsFault"
            }
          },
          "482": {
            "description": "TagLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededFault"
            }
          },
          "483": {
            "description": "InvalidTagFault",
            "schema": {
              "$ref": "#/definitions/InvalidTagFault"
            }
          }
        },
        "description": "<p>Creates an Amazon Redshift parameter group.</p> <p>Creating parameter groups is independent of creating clusters. You can associate a cluster with a parameter group when you create the cluster. You can also associate an existing cluster with a parameter group after the cluster is created by using <a>ModifyCluster</a>. </p> <p>Parameters in the parameter group define specific behavior that applies to the databases you create on the cluster. For more information about parameters and parameter groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "GET_CreateClusterParameterGroup",
        "x-aws-operation-name": "CreateClusterParameterGroup"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateClusterParameterGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateClusterParameterGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateClusterParameterGroupResult"
            }
          },
          "480": {
            "description": "ClusterParameterGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterParameterGroupQuotaExceededFault"
            }
          },
          "481": {
            "description": "ClusterParameterGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterParameterGroupAlreadyExistsFault"
            }
          },
          "482": {
            "description": "TagLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededFault"
            }
          },
          "483": {
            "description": "InvalidTagFault",
            "schema": {
              "$ref": "#/definitions/InvalidTagFault"
            }
          }
        },
        "description": "<p>Creates an Amazon Redshift parameter group.</p> <p>Creating parameter groups is independent of creating clusters. You can associate a cluster with a parameter group when you create the cluster. You can also associate an existing cluster with a parameter group after the cluster is created by using <a>ModifyCluster</a>. </p> <p>Parameters in the parameter group define specific behavior that applies to the databases you create on the cluster. For more information about parameters and parameter groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "POST_CreateClusterParameterGroup",
        "x-aws-operation-name": "CreateClusterParameterGroup"
      }
    },
    "/#Action=CreateClusterSecurityGroup": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>The name for the security group. Amazon Redshift stores the value as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain no more than 255 alphanumeric characters or hyphens.</p> </li> <li> <p>Must not be \"Default\".</p> </li> <li> <p>Must be unique for all security groups that are created by your AWS account.</p> </li> </ul> <p>Example: <code>examplesecuritygroup</code> </p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterSecurityGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "A description for the security group.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "Description",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of tag instances.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/Tag"
                },
                {
                  "xml": {
                    "name": "Tag"
                  }
                }
              ]
            },
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "CreateClusterSecurityGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateClusterSecurityGroupResult"
            }
          },
          "480": {
            "description": "ClusterSecurityGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterSecurityGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "ClusterSecurityGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterSecurityGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "TagLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededFault"
            }
          },
          "483": {
            "description": "InvalidTagFault",
            "schema": {
              "$ref": "#/definitions/InvalidTagFault"
            }
          }
        },
        "description": "<p>Creates a new Amazon Redshift security group. You use security groups to control access to non-VPC clusters.</p> <p> For information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Amazon Redshift Cluster Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "GET_CreateClusterSecurityGroup",
        "x-aws-operation-name": "CreateClusterSecurityGroup"
      },
      "post": {
        "consumes": [
          "text/xml"
        ],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "enum": [
              "CreateClusterSecurityGroup"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateClusterSecurityGroupMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateClusterSecurityGroupResult"
            }
          },
          "480": {
            "description": "ClusterSecurityGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterSecurityGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "ClusterSecurityGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterSecurityGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "TagLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededFault"
            }
          },
          "483": {
            "description": "InvalidTagFault",
            "schema": {
              "$ref": "#/definitions/InvalidTagFault"
            }
          }
        },
        "description": "<p>Creates a new Amazon Redshift security group. You use security groups to control access to non-VPC clusters.</p> <p> For information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Amazon Redshift Cluster Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
        "operationId": "POST_CreateClusterSecurityGroup",
        "x-aws-operation-name": "CreateClusterSecurityGroup"
      }
    },
    "/#Action=CreateClusterSnapshot": {
      "parameters": [
        {
          "in": "header",
          "name": "X-Amz-Content-Sha256",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Date",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Algorithm",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Credential",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Security-Token",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-Signature",
          "required": false,
          "type": "string"
        },
        {
          "in": "header",
          "name": "X-Amz-SignedHeaders",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "description": "<p>A unique identifier for the snapshot that you are requesting. This identifier must be unique for all snapshots within the AWS account.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-snapshot-id</code> </p>",
            "in": "query",
            "maxLength": 2147483647,
            "name": "SnapshotIdentifier",
            "required": true,
            "type": "string"
          },
          {
            "description": "The cluster identifier for which you want a snapshot.",
            "in": "query",
            "maxLength": 2147483647,
            "name": "ClusterIdentifier",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p>The number of days that a manual snapshot is retained. If the value is -1, the manual snapshot is retained indefinitely. </p> <p>The value must be either -1 or an integer between 1 and 3,653.</p> <p>The default value is -1.</p>",
            "in": "query",
            "name": "ManualSnapshotRetentionPeriod",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "A list of tag instances.",
            "in": "query",
            "items": {
              "allOf": [
                {
                  "$ref": "#/definitions/Tag"
                },
                {
                  "xml": {
                    "name": "Tag"
                  }
                }
              ]
            },
            "name": "Tags",
            "required": false,
            "type": "array"
          },
          {
            "enum": [
              "CreateClusterSnapshot"
            ],
            "in": "query",
            "name": "Action",
            "required": true,
            "type": "string"
          },
          {
            "enum": [
              "2012-12-01"
            ],
            "in": "query",
            "name": "Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateClusterSnapshotResult"
            }
          },
          "480": {
            "description": "ClusterSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InvalidClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidClusterStateFault"
            }
          },
          "482": {
            "description": "ClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ClusterNotFoundFault"
            }
          },
          "483": {
            "description": "ClusterSnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterSnapshotQuotaExceededFault"
            }
          },
          "484": {
            "description": "TagLimitExceededFault",
            "schema": {
              "$ref": "#/definitions/TagLimitExceededFault"
            }
          },
          "485": {
            "description": "InvalidTagFault",
            "schema": {
              "$ref": "#/definitions/InvalidTagFault"
            }
          },
          "486": {
            "description": "InvalidRetentionPeriodFault",
            "schema": {
              "$ref": "#/definitions/InvalidRetentionPeriodFault"
            }
          }
        },
[...]
