{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "appstream2.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "<fullname>Amazon AppStream 2.0</fullname> <p>You can use Amazon AppStream 2.0 to stream desktop applications to any device running a web browser, without rewriting them.</p>",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon AppStream",
    "version": "2016-12-01",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appstream-2016-12-01.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "appstream",
    "x-datafire": {
      "name": "amazonaws_appstream2",
      "type": "openapi"
    }
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/appstream2/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Associates the specified fleet with the specified stack.",
        "operationId": "AssociateFleet",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssociateFleetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateFleetResult"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "484": {
            "description": "IncompatibleImageException",
            "schema": {
              "$ref": "#/definitions/IncompatibleImageException"
            }
          },
          "485": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          }
        }
      }
    },
    "/#CopyImage": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Copies the image within the same region or to a new region within the same AWS account. Note that any tags you added to the image will not be copied.",
        "operationId": "CopyImage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyImageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopyImageResponse"
            }
          },
          "480": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ResourceNotAvailableException",
            "schema": {
              "$ref": "#/definitions/ResourceNotAvailableException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "485": {
            "description": "IncompatibleImageException",
            "schema": {
              "$ref": "#/definitions/IncompatibleImageException"
            }
          }
        }
      }
    },
    "/#CreateDirectoryConfig": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a directory configuration.",
        "operationId": "CreateDirectoryConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDirectoryConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDirectoryConfigResult"
            }
          },
          "480": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          }
        }
      }
    },
    "/#CreateFleet": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a fleet.",
        "operationId": "CreateFleet",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFleetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateFleetResult"
            }
          },
          "480": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "481": {
            "description": "ResourceNotAvailableException",
            "schema": {
              "$ref": "#/definitions/ResourceNotAvailableException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "484": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "485": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          },
          "486": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "487": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "488": {
            "description": "IncompatibleImageException",
            "schema": {
              "$ref": "#/definitions/IncompatibleImageException"
            }
          }
        }
      }
    },
    "/#CreateImageBuilder": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Creates an image builder.</p> <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>",
        "operationId": "CreateImageBuilder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateImageBuilderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateImageBuilderResult"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "482": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "483": {
            "description": "ResourceNotAvailableException",
            "schema": {
              "$ref": "#/definitions/ResourceNotAvailableException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "485": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          },
          "486": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "487": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "488": {
            "description": "IncompatibleImageException",
            "schema": {
              "$ref": "#/definitions/IncompatibleImageException"
            }
          }
        }
      }
    },
    "/#CreateImageBuilderStreamingURL": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a URL to start an image builder streaming session.",
        "operationId": "CreateImageBuilderStreamingURL",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateImageBuilderStreamingURLRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateImageBuilderStreamingURLResult"
            }
          },
          "480": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#CreateStack": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a stack.",
        "operationId": "CreateStack",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateStackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateStackResult"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "482": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "483": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "484": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          },
          "485": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "486": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        }
      }
    },
    "/#CreateStreamingURL": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Creates a URL to start a streaming session for the specified user.",
        "operationId": "CreateStreamingURL",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateStreamingURLRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateStreamingURLResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceNotAvailableException",
            "schema": {
              "$ref": "#/definitions/ResourceNotAvailableException"
            }
          },
          "482": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        }
      }
    },
    "/#DeleteDirectoryConfig": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the specified directory configuration.",
        "operationId": "DeleteDirectoryConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDirectoryConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDirectoryConfigResult"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#DeleteFleet": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the specified fleet.",
        "operationId": "DeleteFleet",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteFleetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteFleetResult"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#DeleteImage": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the specified image. You cannot delete an image that is currently in use. After you delete an image, you cannot provision new capacity using the image.",
        "operationId": "DeleteImage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteImageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteImageResult"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          },
          "483": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#DeleteImageBuilder": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the specified image builder and releases the capacity.",
        "operationId": "DeleteImageBuilder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteImageBuilderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteImageBuilderResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#DeleteStack": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Deletes the specified stack. After this operation completes, the environment can no longer be activated and any reservations made for the stack are released.",
        "operationId": "DeleteStack",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteStackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteStackResult"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#DescribeDirectoryConfigs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Describes the specified directory configurations. Note that although the response syntax in this topic includes the account password, this password is not returned in the actual response. ",
        "operationId": "DescribeDirectoryConfigs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDirectoryConfigsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDirectoryConfigsResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#DescribeFleets": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Describes the specified fleets or all fleets in the account.",
        "operationId": "DescribeFleets",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeFleetsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeFleetsResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "x-waiters": [
          {
            "acceptors": [
              {
                "argument": "Fleets[].State",
                "expected": "ACTIVE",
                "matcher": "pathAll",
                "state": "success"
              },
              {
                "argument": "Fleets[].State",
                "expected": "PENDING_DEACTIVATE",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "Fleets[].State",
                "expected": "INACTIVE",
                "matcher": "pathAny",
                "state": "failure"
              }
            ],
            "delay": 30,
            "maxAttempts": 40,
            "operation": "DescribeFleets"
          },
          {
            "acceptors": [
              {
                "argument": "Fleets[].State",
                "expected": "INACTIVE",
                "matcher": "pathAll",
                "state": "success"
              },
              {
                "argument": "Fleets[].State",
                "expected": "PENDING_ACTIVATE",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "Fleets[].State",
                "expected": "ACTIVE",
                "matcher": "pathAny",
                "state": "failure"
              }
            ],
            "delay": 30,
            "maxAttempts": 40,
            "operation": "DescribeFleets"
          }
        ]
      }
    },
    "/#DescribeImageBuilders": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Describes the specified image builders or all image builders in the account.",
        "operationId": "DescribeImageBuilders",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeImageBuildersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeImageBuildersResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#DescribeImages": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Describes the specified images or all images in the account.",
        "operationId": "DescribeImages",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeImagesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeImagesResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#DescribeSessions": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Describes the streaming sessions for the specified stack and fleet. If a user ID is provided, only the streaming sessions for only that user are returned. If an authentication type is not provided, the default is to authenticate users using a streaming URL.",
        "operationId": "DescribeSessions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeSessionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeSessionsResult"
            }
          },
          "480": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        }
      }
    },
    "/#DescribeStacks": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Describes the specified stacks or all stacks in the account.",
        "operationId": "DescribeStacks",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeStacksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeStacksResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#DisassociateFleet": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Disassociates the specified fleet from the specified stack.",
        "operationId": "DisassociateFleet",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisassociateFleetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateFleetResult"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#ExpireSession": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Stops the specified streaming session.",
        "operationId": "ExpireSession",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpireSessionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExpireSessionResult"
            }
          }
        }
      }
    },
    "/#ListAssociatedFleets": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Lists the fleets associated with the specified stack.",
        "operationId": "ListAssociatedFleets",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAssociatedFleetsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAssociatedFleetsResult"
            }
          }
        }
      }
    },
    "/#ListAssociatedStacks": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Lists the stacks associated with the specified fleet.",
        "operationId": "ListAssociatedStacks",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAssociatedStacksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAssociatedStacksResult"
            }
          }
        }
      }
    },
    "/#ListTagsForResource": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Lists the tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
        "operationId": "ListTagsForResource",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#StartFleet": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts the specified fleet.",
        "operationId": "StartFleet",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartFleetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartFleetResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "484": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#StartImageBuilder": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts the specified image builder.",
        "operationId": "StartImageBuilder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartImageBuilderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartImageBuilderResult"
            }
          },
          "480": {
            "description": "ResourceNotAvailableException",
            "schema": {
              "$ref": "#/definitions/ResourceNotAvailableException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "483": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "484": {
            "description": "IncompatibleImageException",
            "schema": {
              "$ref": "#/definitions/IncompatibleImageException"
            }
          }
        }
      }
    },
    "/#StopFleet": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Stops the specified fleet.",
        "operationId": "StopFleet",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopFleetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopFleetResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#StopImageBuilder": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Stops the specified image builder.",
        "operationId": "StopImageBuilder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopImageBuilderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopImageBuilderResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#TagResource": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Adds or overwrites one or more tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, this operation updates its value.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>. To disassociate tags from your resources, use <a>UntagResource</a>.</p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
        "operationId": "TagResource",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagResourceResponse"
            }
          },
          "480": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "481": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#UntagResource": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Disassociates the specified tags from the specified AppStream 2.0 resource.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>.</p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
        "operationId": "UntagResource",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UntagResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UntagResourceResponse"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        }
      }
    },
    "/#UpdateDirectoryConfig": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Updates the specified directory configuration.",
        "operationId": "UpdateDirectoryConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDirectoryConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDirectoryConfigResult"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "481": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        }
      }
    },
    "/#UpdateFleet": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Updates the specified fleet.</p> <p>If the fleet is in the <code>STOPPED</code> state, you can update any attribute except the fleet name. If the fleet is in the <code>RUNNING</code> state, you can update the <code>DisplayName</code> and <code>ComputeCapacity</code> attributes. If the fleet is in the <code>STARTING</code> or <code>STOPPING</code> state, you can't update it.</p>",
        "operationId": "UpdateFleet",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFleetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateFleetResult"
            }
          },
          "480": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "481": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "482": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "483": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "485": {
            "description": "ResourceNotAvailableException",
            "schema": {
              "$ref": "#/definitions/ResourceNotAvailableException"
            }
          },
          "486": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "487": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          },
          "488": {
            "description": "IncompatibleImageException",
            "schema": {
              "$ref": "#/definitions/IncompatibleImageException"
            }
          },
          "489": {
            "description": "OperationNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OperationNotPermittedException"
            }
          }
        }
      }
    },
    "/#UpdateStack": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Updates the specified stack.",
        "operationId": "UpdateStack",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateStackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateStackResult"
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "481": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "482": {
            "description": "InvalidRoleException",
            "schema": {
              "$ref": "#/definitions/InvalidRoleException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "InvalidAccountStatusException",
            "schema": {
              "$ref": "#/definitions/InvalidAccountStatusException"
            }
          },
          "486": {
            "description": "IncompatibleImageException",
            "schema": {
              "$ref": "#/definitions/IncompatibleImageException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccountName": {
      "format": "password",
      "minLength": 1,
      "type": "string"
    },
    "AccountPassword": {
      "format": "password",
      "maxLength": 127,
      "minLength": 1,
      "type": "string"
    },
    "Action": {
      "enum": [
        "CLIPBOARD_COPY_FROM_LOCAL_DEVICE",
        "CLIPBOARD_COPY_TO_LOCAL_DEVICE",
        "FILE_UPLOAD",
        "FILE_DOWNLOAD",
        "PRINTING_TO_LOCAL_DEVICE"
      ],
      "type": "string"
    },
    "Application": {
      "description": "Describes an application in the application catalog.",
      "properties": {
        "DisplayName": {
          "$ref": "#/definitions/String",
          "description": "The application name for display."
        },
        "Enabled": {
          "$ref": "#/definitions/Boolean",
          "description": "If there is a problem, the application can be disabled after image creation."
        },
        "IconURL": {
          "$ref": "#/definitions/String",
          "description": "The URL for the application icon. This URL might be time-limited."
        },
        "LaunchParameters": {
          "$ref": "#/definitions/String",
          "description": "The arguments that are passed to the application at launch."
        },
        "LaunchPath": {
          "$ref": "#/definitions/String",
          "description": "The path to the application executable in the instance."
        },
        "Metadata": {
          "$ref": "#/definitions/Metadata",
          "description": "Additional attributes that describe the application."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the application."
        }
      },
      "type": "object"
    },
    "Applications": {
      "items": {
        "$ref": "#/definitions/Application"
      },
      "type": "array"
    },
    "AppstreamAgentVersion": {
      "maxLength": 100,
      "minLength": 1,
      "type": "string"
    },
    "Arn": {
      "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$",
      "type": "string"
    },
    "AssociateFleetRequest": {
      "properties": {
        "FleetName": {
          "$ref": "#/definitions/String",
          "description": "The name of the fleet. "
        },
        "StackName": {
          "$ref": "#/definitions/String",
          "description": "The name of the stack."
        }
      },
      "required": [
        "FleetName",
        "StackName"
      ],
      "type": "object"
    },
    "AssociateFleetResult": {
      "properties": {},
      "type": "object"
    },
    "AuthenticationType": {
      "enum": [
        "API",
        "SAML",
        "USERPOOL"
      ],
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "ComputeCapacity": {
      "description": "Describes the capacity for a fleet.",
      "properties": {
        "DesiredInstances": {
          "$ref": "#/definitions/Integer",
          "description": "The desired number of streaming instances."
        }
      },
      "required": [
        "DesiredInstances"
      ],
      "type": "object"
    },
    "ComputeCapacityStatus": {
      "description": "Describes the capacity status for a fleet.",
      "properties": {
        "Available": {
          "$ref": "#/definitions/Integer",
          "description": "The number of currently available instances that can be used to stream sessions."
        },
        "Desired": {
          "$ref": "#/definitions/Integer",
          "description": "The desired number of streaming instances."
        },
        "InUse": {
          "$ref": "#/definitions/Integer",
          "description": "The number of instances in use for streaming."
        },
        "Running": {
          "$ref": "#/definitions/Integer",
          "description": "The total number of simultaneous streaming instances that are running."
        }
      },
      "required": [
        "Desired"
      ],
      "type": "object"
    },
    "ConcurrentModificationException": {
      "description": "An API error occurred. Wait a few minutes and try again.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "type": "object"
    },
    "CopyImageRequest": {
      "properties": {
        "DestinationImageDescription": {
          "$ref": "#/definitions/Description",
          "description": "The description that the image will have when it is copied to the destination."
        },
        "DestinationImageName": {
          "$ref": "#/definitions/Name",
          "description": "The name that the image will have when it is copied to the destination."
        },
        "DestinationRegion": {
          "$ref": "#/definitions/RegionName",
          "description": "The destination region to which the image will be copied. This parameter is required, even if you are copying an image within the same region."
        },
        "SourceImageName": {
          "$ref": "#/definitions/Name",
          "description": "The name of the image to copy."
        }
      },
      "required": [
        "SourceImageName",
        "DestinationImageName",
        "DestinationRegion"
      ],
      "type": "object"
    },
    "CopyImageResponse": {
      "properties": {
        "DestinationImageName": {
          "$ref": "#/definitions/Name",
          "description": "The name of the destination image."
        }
      },
      "type": "object"
    },
    "CreateDirectoryConfigRequest": {
      "properties": {
        "DirectoryName": {
          "$ref": "#/definitions/DirectoryName",
          "description": "The fully qualified name of the directory (for example, corp.example.com)."
        },
        "OrganizationalUnitDistinguishedNames": {
          "$ref": "#/definitions/OrganizationalUnitDistinguishedNamesList",
          "description": "The distinguished names of the organizational units for computer accounts."
        },
        "ServiceAccountCredentials": {
          "$ref": "#/definitions/ServiceAccountCredentials",
          "description": "The credentials for the service account used by the streaming instance to connect to the directory."
        }
      },
      "required": [
        "DirectoryName",
        "OrganizationalUnitDistinguishedNames",
        "ServiceAccountCredentials"
      ],
      "type": "object"
    },
    "CreateDirectoryConfigResult": {
      "properties": {
        "DirectoryConfig": {
          "$ref": "#/definitions/DirectoryConfig",
          "description": "Information about the directory configuration."
        }
      },
      "type": "object"
    },
    "CreateFleetRequest": {
      "properties": {
        "ComputeCapacity": {
          "$ref": "#/definitions/ComputeCapacity",
          "description": "The desired capacity for the fleet."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "The description for display."
        },
        "DisconnectTimeoutInSeconds": {
          "$ref": "#/definitions/Integer",
          "description": "The time after disconnection when a session is considered to have ended, in seconds. If a user who was disconnected reconnects within this time interval, the user is connected to their previous session. Specify a value between 60 and 57600."
        },
        "DisplayName": {
          "$ref": "#/definitions/DisplayName",
          "description": "The fleet name for display."
        },
        "DomainJoinInfo": {
          "$ref": "#/definitions/DomainJoinInfo",
          "description": "The information needed to join a Microsoft Active Directory domain."
        },
        "EnableDefaultInternetAccess": {
          "$ref": "#/definitions/BooleanObject",
          "description": "Enables or disables default internet access for the fleet."
        },
        "FleetType": {
          "$ref": "#/definitions/FleetType",
          "description": "<p>The fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access to their apps. You are charged for all running instances in your fleet, even if no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users with access to applications after they connect, which takes one to two minutes. You are charged for instance streaming when users are connected and a small hourly fee for instances that are not streaming apps.</p> </dd> </dl>"
        },
        "ImageName": {
          "$ref": "#/definitions/String",
          "description": "The name of the image used to create the fleet."
        },
        "InstanceType": {
          "$ref": "#/definitions/String",
          "description": "<p>The instance type to use when launching fleet instances. The following instance types are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>"
        },
        "MaxUserDurationInSeconds": {
          "$ref": "#/definitions/Integer",
          "description": "The maximum time that a streaming session can run, in seconds. Specify a value between 600 and 57600."
        },
        "Name": {
          "$ref": "#/definitions/Name",
          "description": "A unique name for the fleet."
        },
        "VpcConfig": {
          "$ref": "#/definitions/VpcConfig",
          "description": "The VPC configuration for the fleet."
        }
      },
      "required": [
        "Name",
        "ImageName",
        "InstanceType",
        "ComputeCapacity"
      ],
      "type": "object"
    },
    "CreateFleetResult": {
      "properties": {
        "Fleet": {
          "$ref": "#/definitions/Fleet",
          "description": "Information about the fleet."
        }
      },
      "type": "object"
    },
    "CreateImageBuilderRequest": {
      "properties": {
        "AppstreamAgentVersion": {
          "$ref": "#/definitions/AppstreamAgentVersion",
          "description": "The version of the AppStream 2.0 agent to use for this image builder. To use the latest version of the AppStream 2.0 agent, specify [LATEST]. "
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "The description for display."
        },
        "DisplayName": {
          "$ref": "#/definitions/DisplayName",
          "description": "The image builder name for display."
        },
        "DomainJoinInfo": {
          "$ref": "#/definitions/DomainJoinInfo",
          "description": "The information needed to join a Microsoft Active Directory domain."
        },
        "EnableDefaultInternetAccess": {
          "$ref": "#/definitions/BooleanObject",
          "description": "Enables or disables default internet access for the image builder."
        },
        "ImageName": {
          "$ref": "#/definitions/String",
          "description": "The name of the image used to create the builder."
        },
        "InstanceType": {
          "$ref": "#/definitions/String",
          "description": "The instance type to use when launching the image builder."
        },
        "Name": {
          "$ref": "#/definitions/Name",
          "description": "A unique name for the image builder."
        },
        "VpcConfig": {
          "$ref": "#/definitions/VpcConfig",
          "description": "The VPC configuration for the image builder. You can specify only one subnet."
        }
      },
      "required": [
        "Name",
        "ImageName",
        "InstanceType"
      ],
      "type": "object"
    },
    "CreateImageBuilderResult": {
      "properties": {
        "ImageBuilder": {
          "$ref": "#/definitions/ImageBuilder",
          "description": "Information about the image builder."
        }
      },
      "type": "object"
    },
    "CreateImageBuilderStreamingURLRequest": {
      "properties": {
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the image builder."
        },
        "Validity": {
          "$ref": "#/definitions/Long",
          "description": "The time that the streaming URL will be valid, in seconds. Specify a value between 1 and 604800 seconds. The default is 3600 seconds."
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "CreateImageBuilderStreamingURLResult": {
      "properties": {
        "Expires": {
          "$ref": "#/definitions/Timestamp",
          "description": "The elapsed time, in seconds after the Unix epoch, when this URL expires."
        },
        "StreamingURL": {
          "$ref": "#/definitions/String",
          "description": "The URL to start the AppStream 2.0 streaming session."
        }
      },
      "type": "object"
    },
    "CreateStackRequest": {
      "properties": {
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "The description for display."
        },
        "DisplayName": {
          "$ref": "#/definitions/DisplayName",
          "description": "The stack name for display."
        },
        "FeedbackURL": {
          "$ref": "#/definitions/FeedbackURL",
          "description": "The URL that users are redirected to after they click the Send Feedback link. If no URL is specified, no Send Feedback link is displayed."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the stack."
        },
        "RedirectURL": {
          "$ref": "#/definitions/RedirectURL",
          "description": "The URL that users are redirected to after their streaming session ends."
        },
        "StorageConnectors": {
          "$ref": "#/definitions/StorageConnectorList",
          "description": "The storage connectors to enable."
        },
        "UserSettings": {
          "$ref": "#/definitions/UserSettingList",
          "description": "The actions that are enabled or disabled for users during their streaming sessions. By default, these actions are enabled. "
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "CreateStackResult": {
      "properties": {
        "Stack": {
          "$ref": "#/definitions/Stack",
          "description": "Information about the stack."
        }
      },
      "type": "object"
    },
    "CreateStreamingURLRequest": {
      "properties": {
        "ApplicationId": {
          "$ref": "#/definitions/String",
          "description": "The name of the application to launch after the session starts. This is the name that you specified as <b>Name</b> in the Image Assistant."
        },
        "FleetName": {
          "$ref": "#/definitions/String",
          "description": "The name of the fleet."
        },
        "SessionContext": {
          "$ref": "#/definitions/String",
          "description": "The session context. For more information, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/managing-stacks-fleets.html#managing-stacks-fleets-parameters\">Session Context</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>."
        },
        "StackName": {
          "$ref": "#/definitions/String",
          "description": "The name of the stack."
        },
        "UserId": {
          "$ref": "#/definitions/StreamingUrlUserId",
          "description": "The ID of the user."
        },
        "Validity": {
          "$ref": "#/definitions/Long",
          "description": "The time that the streaming URL will be valid, in seconds. Specify a value between 1 and 604800 seconds. The default is 60 seconds."
        }
      },
      "required": [
        "StackName",
        "FleetName",
        "UserId"
      ],
      "type": "object"
    },
    "CreateStreamingURLResult": {
      "properties": {
        "Expires": {
          "$ref": "#/definitions/Timestamp",
          "description": "The elapsed time, in seconds after the Unix epoch, when this URL expires."
        },
        "StreamingURL": {
          "$ref": "#/definitions/String",
          "description": "The URL to start the AppStream 2.0 streaming session."
        }
      },
      "type": "object"
    },
    "DeleteDirectoryConfigRequest": {
      "properties": {
        "DirectoryName": {
          "$ref": "#/definitions/DirectoryName",
          "description": "The name of the directory configuration."
        }
      },
      "required": [
        "DirectoryName"
      ],
      "type": "object"
    },
    "DeleteDirectoryConfigResult": {
      "properties": {},
      "type": "object"
    },
    "DeleteFleetRequest": {
      "properties": {
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the fleet."
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "DeleteFleetResult": {
      "properties": {},
      "type": "object"
    },
    "DeleteImageBuilderRequest": {
      "properties": {
        "Name": {
          "$ref": "#/definitions/Name",
          "description": "The name of the image builder."
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "DeleteImageBuilderResult": {
      "properties": {
        "ImageBuilder": {
          "$ref": "#/definitions/ImageBuilder",
          "description": "Information about the image builder."
        }
      },
      "type": "object"
    },
    "DeleteImageRequest": {
      "properties": {
        "Name": {
          "$ref": "#/definitions/Name",
          "description": "The name of the image."
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "DeleteImageResult": {
      "properties": {
        "Image": {
          "$ref": "#/definitions/Image",
          "description": "Information about the image."
        }
      },
      "type": "object"
    },
    "DeleteStackRequest": {
      "properties": {
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the stack."
        }
      },
      "required": [
        "Name"
      ],
      "type": "object"
    },
    "DeleteStackResult": {
      "properties": {},
      "type": "object"
    },
    "DescribeDirectoryConfigsRequest": {
      "properties": {
        "DirectoryNames": {
          "$ref": "#/definitions/DirectoryNameList",
          "description": "The directory names."
        },
        "MaxResults": {
          "$ref": "#/definitions/Integer",
          "description": "The maximum size of each page of results."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page."
        }
      },
      "type": "object"
    },
    "DescribeDirectoryConfigsResult": {
      "properties": {
        "DirectoryConfigs": {
          "$ref": "#/definitions/DirectoryConfigList",
          "description": "Information about the directory configurations. Note that although the response syntax in this topic includes the account password, this password is not returned in the actual response. "
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null."
        }
      },
      "type": "object"
    },
    "DescribeFleetsRequest": {
      "properties": {
        "Names": {
          "$ref": "#/definitions/StringList",
          "description": "The names of the fleets to describe."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page."
        }
      },
      "type": "object"
    },
    "DescribeFleetsResult": {
      "properties": {
        "Fleets": {
          "$ref": "#/definitions/FleetList",
          "description": "Information about the fleets."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null."
        }
      },
      "type": "object"
    },
    "DescribeImageBuildersRequest": {
      "properties": {
        "MaxResults": {
          "$ref": "#/definitions/Integer",
          "description": "The maximum size of each page of results."
        },
        "Names": {
          "$ref": "#/definitions/StringList",
          "description": "The names of the image builders to describe."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page."
        }
      },
      "type": "object"
    },
    "DescribeImageBuildersResult": {
      "properties": {
        "ImageBuilders": {
          "$ref": "#/definitions/ImageBuilderList",
          "description": "Information about the image builders."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null."
        }
      },
      "type": "object"
    },
    "DescribeImagesRequest": {
      "properties": {
        "Names": {
          "$ref": "#/definitions/StringList",
          "description": "The names of the images to describe."
        }
      },
      "type": "object"
    },
    "DescribeImagesResult": {
      "properties": {
        "Images": {
          "$ref": "#/definitions/ImageList",
          "description": "Information about the images."
        }
      },
      "type": "object"
    },
    "DescribeSessionsRequest": {
      "properties": {
        "AuthenticationType": {
          "$ref": "#/definitions/AuthenticationType",
          "description": "The authentication method. Specify <code>API</code> for a user authenticated using a streaming URL or <code>SAML</code> for a SAML federated user. The default is to authenticate users using a streaming URL."
        },
        "FleetName": {
          "$ref": "#/definitions/String",
          "description": "The name of the fleet. This value is case-sensitive."
        },
        "Limit": {
          "$ref": "#/definitions/Integer",
          "description": "The size of each page of results. The default value is 20 and the maximum value is 50."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page."
        },
        "StackName": {
          "$ref": "#/definitions/String",
          "description": "The name of the stack. This value is case-sensitive."
        },
        "UserId": {
          "$ref": "#/definitions/UserId",
          "description": "The user ID."
        }
      },
      "required": [
        "StackName",
        "FleetName"
      ],
      "type": "object"
    },
    "DescribeSessionsResult": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null."
        },
        "Sessions": {
          "$ref": "#/definitions/SessionList",
          "description": "Information about the streaming sessions."
        }
      },
      "type": "object"
    },
    "DescribeStacksRequest": {
      "properties": {
        "Names": {
          "$ref": "#/definitions/StringList",
          "description": "The names of the stacks to describe."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page."
        }
      },
      "type": "object"
    },
    "DescribeStacksResult": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null."
        },
        "Stacks": {
          "$ref": "#/definitions/StackList",
          "description": "Information about the stacks."
        }
      },
      "type": "object"
    },
    "Description": {
      "maxLength": 256,
      "type": "string"
    },
    "DirectoryConfig": {
      "description": "Configuration information for the directory used to join domains.",
      "properties": {
        "CreatedTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time the directory configuration was created."
        },
        "DirectoryName": {
          "$ref": "#/definitions/DirectoryName",
          "description": "The fully qualified name of the directory (for example, corp.example.com)."
        },
        "OrganizationalUnitDistinguishedNames": {
          "$ref": "#/definitions/OrganizationalUnitDistinguishedNamesList",
          "description": "The distinguished names of the organizational units for computer accounts."
        },
        "ServiceAccountCredentials": {
          "$ref": "#/definitions/ServiceAccountCredentials",
          "description": "The credentials for the service account used by the streaming instance to connect to the directory."
        }
      },
      "required": [
        "DirectoryName"
      ],
      "type": "object"
    },
    "DirectoryConfigList": {
      "items": {
        "$ref": "#/definitions/DirectoryConfig"
      },
      "type": "array"
    },
    "DirectoryName": {
      "type": "string"
    },
    "DirectoryNameList": {
      "items": {
        "$ref": "#/definitions/DirectoryName"
      },
      "type": "array"
    },
    "DisassociateFleetRequest": {
      "properties": {
        "FleetName": {
          "$ref": "#/definitions/String",
          "description": "The name of the fleet."
        },
        "StackName": {
          "$ref": "#/definitions/String",
          "description": "The name of the stack."
        }
      },
      "required": [
        "FleetName",
        "StackName"
      ],
      "type": "object"
    },
    "DisassociateFleetResult": {
      "properties": {},
      "type": "object"
    },
    "DisplayName": {
      "maxLength": 100,
      "type": "string"
    },
    "Domain": {
      "description": "GSuite domain for GDrive integration.",
      "maxLength": 64,
      "type": "string"
    },
    "DomainJoinInfo": {
      "description": "Contains the information needed to join a Microsoft Active Directory domain.",
      "properties": {
        "DirectoryName": {
          "$ref": "#/definitions/DirectoryName",
          "description": "The fully qualified name of the directory (for example, corp.example.com)."
        },
        "OrganizationalUnitDistinguishedName": {
          "$ref": "#/definitions/OrganizationalUnitDistinguishedName",
          "description": "The distinguished name of the organizational unit for computer accounts."
        }
      },
      "type": "object"
    },
    "DomainList": {
      "items": {
        "$ref": "#/definitions/Domain"
      },
      "maxItems": 10,
      "type": "array"
    },
    "ErrorMessage": {
      "description": "The error message in the exception.",
      "type": "string"
    },
    "ExpireSessionRequest": {
      "properties": {
        "SessionId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the streaming session."
        }
      },
      "required": [
        "SessionId"
      ],
      "type": "object"
    },
    "ExpireSessionResult": {
      "properties": {},
      "type": "object"
    },
    "FeedbackURL": {
      "maxLength": 1000,
      "type": "string"
    },
    "Fleet": {
      "description": "Contains the parameters for a fleet.",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/Arn",
          "description": "The ARN for the fleet."
        },
        "ComputeCapacityStatus": {
          "$ref": "#/definitions/ComputeCapacityStatus",
          "description": "The capacity status for the fleet."
        },
[...]
